[2017-09-07 17:54] lmorchard commented on #2817
Looks like dev is working right now and I can't find any obviously fixable problems with deployment. Going to close this for now. We can reopen or file a new issue if this happens again

[2017-09-07 17:54] #2817 closed, assigned to nobody

[2017-09-07 18:02] lmorchard commented on #2703
Do we have any updates on this?

Or should we drop this issue into the backlog? Or maybe even close it WONTFIX since we [removed the display of install counts](https://github.com/mozilla/testpilot/issues/2736)?

[2017-09-07 18:46] #2731 closed, assigned to nobody

[2017-09-07 19:47] lmorchard commented on #2653
Dropped this back to ready status, because there's not actually a pull request associated with this that's ready for review

[2017-09-07 20:15] lmorchard commented on #2653
Actually, reading through the comments on this, I think the existing message is correct & as intended. Having an experiment supported in a locale is not entirely based on the availability of translations.

For example, the Cliqz experiment was only available in the German locale - not because it hadn't been translated, but because it was mainly intended for a German regional audience for product r

[2017-09-07 20:16] lmorchard commented on #2653
/cc @johngruen on this, since he's mr. product

[2017-09-07 20:37] sunahsuh commented on #2703
Bleh, sorry, this issue fell into email-filter hell. If it's not being used for the website and TxP real-time installations are being tracked elsewhere then it's probably fine to close -- I just need to do some cleanup in removing the filter on our pipeline

[2017-09-08 05:31] #2812 closed, assigned to nobody

[2017-09-08 05:32] #1866 closed, assigned to nobody

[2017-09-08 09:37] SoftVision-PaulOiegas commented on #2806
The "Give Feedback" text button appears on all pages (/experiments, /share, /legacy), except on "About Test Pilot", "Privacy" and "Terms" pages.
Tried to verify also the 404 page, but it does not load because of the Homepage loading issue. Reopening issue.

[2017-09-08 12:20] SoftVision-CosminMuntean commented on #2826
I have retested this issue on latest Firefox (55.0.3) release, Beta (56.0b9) and latest Nightly (57.0a1) build and Test Pilot add-on installs successfully if the "extensions.legacy.enabled" boolean pref is set to "true".
Tested on Mac Os and Windows.

[2017-09-08 12:32] SoftVision-PaulOiegas opened #2848 "Voice Fill and Notes are wrongly enabled on unsupported Fx version when installed together with Test Pilot add-on"
**[Notes]:**
**- I would suggest that we should remove entirely the top part with "Install Test Pilot & Enable <experiment_name>" when the experiment is unsupported on a Firefox older version.**
- Also, this is related to #2109, where we originally requested that error messages should be displayed even if TxP add-on is not installed.
- This scenario is very easily encountered by all ESR users for

[2017-09-08 12:33] SoftVision-PaulOiegas commented on #2731
This was partially fixed, the button now is lo longer displayed if Test Pilot add-on is installed. However, the error message for unsupported version is not displayed if TxP add-on is not installed (#2109) and the button to Install TxP and enable experiment is still displayed (#2848).

Since both the remaining issues are tracked separately, I will mark this one as verified.

[2017-09-08 12:55] SoftVision-CosminMuntean commented on #1866
I have retested this issue and is no longer reproducible on dev server. After the experiment is enabled, the Tour pop-up is correctly displayed.

[2017-09-08 14:00] SoftVision-PaulOiegas commented on #2812
Dev Hompeage is not working at the moment to verify there also, but on the other pages, the "Learn More" button is correctly displayed on all experiments cards. I assume it's working there too so I'm gonna try my luck and mark this as verified.

Tested on **Windows** Edge, Chrome and Opera browsers, and on **Mac OS** Safari & Chrome.

[2017-09-08 16:47] lmorchard opened #2850 "Audit modules bundled up by Webpack"
Now that we have Webpack bundling our JS, we can take another swing at analyzing & reducing the bundle size with something like [webpack-bundle-analyzer](https://www.npmjs.com/package/webpack-bundle-analyzer) or [webpack-visualizer](https://github.com/chrisbateman/webpack-visualizer#plugin-usage)

[2017-09-08 17:37] lmorchard commented on #2850
Submitted PR #2851 with webpack-bundle-analyzer as an option. Here's what it looked like for me, making me wonder if we can somehow jettison most of moment.js (or at least its locales) for a start:

![capture](https://user-images.githubusercontent.com/21687/30223839-7a27de26-949a-11e7-93ea-14202b7adfed.PNG)

[2017-09-08 17:41] lmorchard commented on #2850
[commonmark](https://www.npmjs.com/package/commonmark) looks like another biggie - included because we use a React component that renders markdown. But, we really only need that at the static page build stage for legal pages, IIRC.

[elliptic](https://www.npmjs.com/package/elliptic) looks suspicious, too - not sure where we need crypto like this on the client-side. Edit: Ah hah! Looks like seedran

[2017-09-08 19:25] #2806 closed, assigned to meandavejustice

[2017-09-08 19:48] sevaan commented on #2813
From the Customer Support Specialist:

[2017-09-11 06:30] niyali opened #2855 "Visisting https://screenshots.firefox.com/shots says 500 Internal Server Error"
Not sure where you host the server and who is responsible for backend.
But there's 500 error when visiting https://screenshots.firefox.com/shots as attached screenshot for your information.
Thought you might want to take a look at it.

Thank you.

<img width="367" alt="screen shot 2017-09-11 at 2 27 56 pm" src="https://user-images.githubusercontent.com/1436482/30261080-78e7de34-96fd-11e7-8406-c8a2

[2017-09-11 08:16] SoftVision-CosminMuntean commented on #2855
@niyali thanks for reporting this!

This is a known issue and it's already logged in Screenshots repository: [#2520](https://github.com/mozilla-services/screenshots/issues/2520).
If you have more information please add a comment in the issue.

Also, if you find other issues related to Screenshots, please log them [here](https://github.com/mozilla-services/screenshots/issues).

[2017-09-11 08:16] #2855 closed, assigned to nobody

[2017-09-11 12:27] SoftVision-PaulOiegas commented on #2806
The "Give Feedback" text button was added on missing pages and correctly works.

[2017-09-11 12:37] uniquePWD commented on #2602
Just came to report this.

[2017-09-12 14:09] SoftVision-CosminMuntean opened #2856 "Containers data collection link displayed under "Privacy" section is broken"
[Affected versions]:
- Firefox 55.0.3 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

Steps to reproduce]:
1. Open the Firefox browser and navigate to "https://testpilot.firefox.com/experiments/containers" page.
2. Click the "You can learn more about the data collection..." link under the "Privacy" section.
3. Observe the browser behavior.

[Expected result]:
- You are redire

[2017-09-12 19:11] meandavejustice commented on #2419
*bump* @johngruen

[2017-09-12 20:16] lmorchard commented on #2850
I'm sure there will be more of this to do, but I got more of this done than I expected in #2852. Let's just call this closed for now

[2017-09-12 20:16] #2850 closed, assigned to nobody

[2017-09-12 20:54] davehunt commented on #2832
I'm not sure it deserves a separate issue, but the icon doesn't look too great in the light theme either:

<img width="177" alt="screenshot 2017-09-12 16 50 54" src="https://user-images.githubusercontent.com/122800/30347723-00636f4e-97db-11e7-8b76-5d082b0c7390.png">

[2017-09-12 20:57] davehunt opened #2858 "Icon is hard to see in light theme"
As mentioned in the similar issue for the dark theme (#2832), the light theme icon is also hard to see due to the lack of contrast:

<img width="177" alt="screenshot 2017-09-12 16 50 54" src="https://user-images.githubusercontent.com/122800/30347723-00636f4e-97db-11e7-8b76-5d082b0c7390.png">

[2017-09-13 11:12] SoftVision-PaulOiegas commented on #2697
Those only disappear at browser restart.
I'll post a link here after I log it.

I have done some further investigations on this matter and found out that it's only reproducing for Test Pilot experiments. I have logged a separate issue for this in our GitHub #2829.

[2017-09-13 11:41] johngruen commented on #2164
@SoftVision-PaulOiegas not a priority, but it would be nice to match the spec

[2017-09-13 11:44] SoftVision-PaulOiegas commented on #2720
This is like a boomerang, forever returning to us. 😆 Again, the dev server has no icon for TxP add-on in "about:add-ons" page.

[2017-09-13 15:32] SoftVision-PaulOiegas commented on #2164
Reopening based on @johngruen comment. \
@chuckharmston Maybe it could be a good first bug to fix the font weight for "Launch Tour" button?

[2017-09-13 15:43] fzzzy commented on #2164
@SoftVision-PaulOiegas Yes, I think it would be a good first bug.

[2017-09-13 16:41] SoftVision-PaulOiegas commented on #2164
@fzzzy Hmmm, something is strange. I have just looked on dev server and it seems to be already fixed. But nothing was done on this since my previous comment (7 August) and on production is still broken.
We'll recheck this after the stage deploy this week and if it's ok, I'll close it back.

[2017-09-13 19:46] fzzzy commented on #2164
@SoftVision-PaulOiegas Well, one thing that is different between dev and prod is that the loading indicator is no longer used on dev. This means that the content seen in the page is provided by html elements instead of inserted into the page after the fact by javascript. So that may have accidentally fixed it? :)

[2017-09-13 21:55] johngruen commented on #2419
@meandavejustice sorry, dropped this before vacation. Circling back now

[2017-09-15 11:54] SoftVision-PaulOiegas opened #2860 "Update uninstall dialog message to reflect the current behavior"
**[Affected versions]:**
- Firefox 55.0.3 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- The "extensions.webapi.testing" boolean pref was manually added with "true" value on the crated profile.
- The "extensions.legacy.enabled" pref

[2017-09-15 12:06] SoftVision-PaulOiegas commented on #2769
I think we should add another one to the list to cover this even better (if it can be done):
- If the user does not visit the TxP website, new experiments or doesn't clicks the toolbar button, dismiss "New" badge when the launched experiments are no longer considered "Just launched".

I have just visited a very old profile that still had the "New" badge displayed, and when I clicked the toolbar bu

[2017-09-15 21:30] fzzzy opened #2861 "Release 2017-09-20 on stage"
Please test.

[2017-09-16 16:34] Vardoger opened #2862 "Multi-Account Containers addon - Add option to color whole tab to indicate container type"
The current, and only, option for a Multi-Account Container tab is to underline the tab with a specific color.

With multiple addons installed, and the bloom of color from websites broadly, page text, page pictures, and addon icons, the tab underline feels like it fades into the background and is not as easily identifiable when juggling multipe accounts.

While the underline option should stay for

[2017-09-18 12:41] SoftVision-PaulOiegas opened #2863 "[Stage server] Terms of Use and Privacy Notice pages are wrongly displaying the Test Pilot 404 page"
**[Affected versions]:**
- All browsers

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- The "extensions.webapi.testing" boolean pref was manually added with "true" value on the crated profile.

**[Steps to reproduce]:**
1. Open Firefox browse

[2017-09-18 14:00] SoftVision-CosminMuntean opened #2864 "[Stage server] Test Pilot button is no longer added in browser toolbar on latest Nightly"
[Notes]:
- The issue is not reproducible on Test Pilot dev server.
- Also, is not reproducible on Firefox 55.0.3 release and Beta 56.0b12 where the "extensions.legacy.enabled" boolean pref is set to "true" by default.

[Affected versions]:
- Nightly 57.0a1, Build ID: 20170917220255

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string type pref w

[2017-09-18 16:01] SoftVision-CosminMuntean opened #2865 "Test Pilot Stage and Dev installed add-ons are older than Production add-on based on the version number"
[Notes]:
- All the versions seems to be messed up because production add-on seems to be the newest (2.0.2) while the stage one seems to be the oldest (1.1.4) and the dev server is in between (2.0.0).

[Affected versions]:
- Firefox 55.0.3

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Create 3 new Firefox profiles, one for each of the Test Pilot servers.
- Add the "

[2017-09-18 16:10] johngruen commented on #2864
@SoftVision-CosminMuntean is it in the customize menu?

[2017-09-18 16:15] SoftVision-CosminMuntean commented on #2864
@johngruen it's not there. It seems it does not appear in any place.

[2017-09-18 16:16] johngruen commented on #2862
@Vardoger thanks for the suggestion, i am going to close this here and add it directly to the containers repo

[2017-09-18 16:16] #2862 closed, assigned to nobody

[2017-09-18 16:18] johngruen commented on #2862
@Vardoger filed here: https://github.com/mozilla/testpilot-containers/issues/828

[2017-09-18 16:27] ghost commented on #2861
#2863 looks important to fix before push

[2017-09-18 16:40] lmorchard commented on #2865
I can reproduce this and will look into it today

[2017-09-18 16:44] SoftVision-PaulOiegas opened #2866 "Test Pilot website still looks as if it's add-on is installed, after manually disabling it from "about:addons" page"
**[Affected versions]:**
- Firefox 55.0.3 and above

**[Affected Platforms]:**
- All Windows

**[Prerequisites]:**
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- The "extensions.webapi.testing" boolean pref was manually added with "true" value on the crated profile.
- Test Pilot stage add-on was already installed on the crea

[2017-09-18 16:44] ghost commented on #2848
We think this is fixed with the deploy going out tomorrow.  Other issue is #2731

[2017-09-18 16:53] ghost commented on #2837
The production site will be updated to what you saw on the dev site tomorrow.  Since that renders without error we're calling this fixed.  Thanks

[2017-09-18 16:54] ghost commented on #2832
related to #2858

[2017-09-18 16:59] ghost opened #2867 "Reconsider the gear menu"

[2017-09-18 17:00] ghost commented on #2867
Let's move things out that we want to get more traction like Discourse

[2017-09-18 17:00] SoftVision-PaulOiegas opened #2868 "Test Pilot wrongly removes also the enabled experiments at uninstall"
**[Affected versions]:**
- Firefox 55.0.3 and above

**[Affected Platforms]:**
- All Windows

**[Prerequisites]:**
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- The "extensions.webapi.testing" boolean pref was manually added with "true" value on the crated profile.
- Test Pilot stage add-on was already installed on the crea

[2017-09-18 17:01] ghost commented on #2709
related to #2867

[2017-09-18 17:02] lmorchard commented on #2868
If the Test Pilot add-on was installed from stage and it's 1.1.4, then this is basically a dupe of #2865 - because the old v1.1.4 still has the code to remove experiments on uninstall

[2017-09-18 17:03] SoftVision-PaulOiegas commented on #2868
Probably, we'll recheck and close it if a fix is landed for #2865.

[2017-09-18 17:41] SoftVision-PaulOiegas commented on #2861
Hi guys,

We have finalized testing the stage server and we only have a 73% pass rate on our tests (https://goo.gl/zymBDW).

Here are the testing results:
**New Issues**
1. #2863 - [Stage server] Terms of Use and Privacy Notice pages are wrongly displaying the Test Pilot 404 page - (**MAJOR**)
2. #2864 - [Stage server] Test Pilot button is no longer added in browser toolbar on latest Nightly - (NO

[2017-09-18 19:33] lmorchard commented on #2865
Possibly a lead: https://github.com/mozilla/testpilot/commit/b7d0e750733e6a35c36dc20eb1cc982466cc2907#diff-01dd223246b3d82a911250aceaac85b5L95

We stopped uploading `*.xpi` and `*.rdf` (the add-on files) since we moved to Mozilla Extensions signing on production. This probably needs to be re-enabled for dev & stage

Also, tried to switch dev & stage to use local unsigned build of addon (which we'r

[2017-09-19 00:52] fzzzy commented on #2861
We believe we have fixed #2865 but #2863 still needs more investigation. Let's push the deploy back by a day or two.

[2017-09-19 09:02] SoftVision-PaulOiegas commented on #2848
@wresuolc this is still reproducing on stage server and now the dev server add-on is not installing so I cannot confirm this is fixed or not.
The #2731 issue was indeed fixed but that covers only the part when Test Pilot add-on is already installed. In this issue we are talking about installing together the TxP add-on with Voice Fill or Notes add-ons.

I'll recheck this when we have a functional s

[2017-09-19 09:14] SoftVision-CosminMuntean commented on #2826
After the latest changes, this issue is reproducible. Test Pilot add-on can no longer be installed from dev server.  The button remains in the "Installing..." state.

Here is a screenshots with browser console errors:
![test pilot dev](https://user-images.githubusercontent.com/19226534/30584971-0f66a052-9d34-11e7-8370-7d799e140f54.png)

[2017-09-19 15:14] lmorchard commented on #2826
@SoftVision-CosminMuntean What browser version & about:config settings did you use?

Going back to my [checks from a couple of weeks ago](https://github.com/mozilla/testpilot/issues/2826#issuecomment-327277679), it seems like I was mistaken about getting install to work on the normal release version.

I tried all of that again just now - created new profiles, set all the prefs ([ugh](https://githu

[2017-09-19 15:31] SoftVision-CosminMuntean commented on #2826
I have reproduce this issue on latest Firefox (55.0.3) release and latest Nightly 57.0a1 build. In "about:config" I have added the following prefs:
- the "testpilot.env" string pref with "dev" value
- the "extensions/webapi.testing" boolean pref with "true" value
- also I have set the "extensions.legacy.enabled" boolean  pref to "true" on Nightly (on Firefox release is already  set to "true" by de

[2017-09-19 16:14] SoftVision-CosminMuntean commented on #2826
I just tested this on DevEdition 56.0b12 and an unbranded build of Firefox 55.0.1 and the issue is still reproducible. At least on Windows.
I have used a new clean profile for each browser version and also I have used the prefs mentioned above.

[2017-09-19 16:22] lmorchard commented on #2826
Missing a couple of prefs - these are also required to install unsigned add-ons:
  * extensions.install.requireBuiltInCerts = false
  * xpinstall.signatures.required = false

I've got [a list of all the current required prefs](https://github.com/mozilla/testpilot/issues/2840) over on this issue to create an assistant add-on to make setting all these easier. (Because it's awkward & error prone righ

[2017-09-19 21:38] fzzzy commented on #2861
Updating this bug to track the new release 2017-09-19 which is now on stage. We believe both #2865 (with all 5 about:config prefs, and only with nightly or an unbranded build) and #2863 are fixed.

[2017-09-20 09:02] SoftVision-PaulOiegas commented on #2840
A more old fashion way is to create a "user.js" file with the prefs you need and just copy it in the profile folder before starting it. Until a better way is found, we're gonna use that on our end (QA). Five prefs is a lot to remember. 😄

[2017-09-20 09:11] SoftVision-CosminMuntean commented on #2865
After the latest changes that landed, I have retest this issue using all the 5 prefs and it seems that the behavior is changed. But I am not sure if it's the correct one:

**Test Pilot dev server:**
The add-on is successfully installed and has the 2.0.4 version.

**Test Pilot stage server:**
The add-on is installed but still has the 1.1.4 version. However, if you navigate to "about:addons" and man

[2017-09-20 09:27] SoftVision-PaulOiegas commented on #2868
Sadly this still reproduces after the fix for #2865 has landed.
This could be easily encountered since it occurs 100% after browser restart. I bet that normal users that install Test Pilot and enable experiments, won't uninstall the TxP add-on in the same session.

[2017-09-20 09:42] SoftVision-PaulOiegas commented on #2848
My mistake, I thought this was another bug that I needed to verify.
This one still reproduces even after the changes for #2731 have been merged. Verified this with the build on stage, since the dev one cannot be installed on FX 52 or 53 even with all the 5 prefs set.

[2017-09-20 09:44] SoftVision-PaulOiegas commented on #2863
Re-verified this issue and it seems to be fixed on both dev and stage servers, despite the version difference between the servers.

[2017-09-20 09:44] #2863 closed, assigned to fzzzy

[2017-09-20 10:15] Pekochen commented on #2832
![1505902270](https://user-images.githubusercontent.com/8252151/30638932-a9d18e94-9e2f-11e7-9d21-28cb7acb7028.png)
FYI
Thanks!!

[2017-09-20 11:34] SoftVision-CosminMuntean commented on #2856
I have retested this issue and it seems that is no longer reproducible on dev and stage servers.

[2017-09-20 11:34] #2856 closed, assigned to johngruen

[2017-09-20 15:18] SoftVision-PaulOiegas commented on #2861
#2863 seems fixed, but for #2865 there are still some issues for the stage server.  Also #2856 known issue seems to be fixed and we have closed it.

What are the next plans? Is #2865 still affecting the production deploy? Are you guys planning to fix also from the remaining issues that we mentioned to be nice to have (theoretically quick fixes).

[2017-09-20 15:30] fzzzy commented on #2861
@SoftVision-PaulOiegas I believe #2865 is still broken because even though @lmorchard landed a patch that pushes the unsigned addon to stage if "stage" is passed as an argument to the build script, relud did not yet make a change to pass that argument to the build script.

I'm pretty sure this still blocks the production deploy. Even though the change in the addon version 2.0.4 is small (icon chan

[2017-09-20 15:59] lmorchard commented on #2865
:+1:

[There was a change to the staging deployment process](https://github.com/mozilla-services/cloudops-deployment/pull/1149) merged into ops' configuration scripts. But, I'm not sure whether that itself deploys automatically, or if we have to wait for an ops deploy cycle. (/cc @relud ?)

For what it's worth, updates are *always* served up from production. This is not affected by the location fr

[2017-09-20 16:11] lmorchard commented on #2865
I can confirm that stage still has the old version of the add-on though 😞
[code]

[2017-09-20 16:15] relud commented on #2865
deploys made after a merge pick up changes to ops' deploy scripts, so the deploy yesterday passed the `stage` argument to `deploy.sh`

[2017-09-20 16:26] fzzzy opened #2873 "Fix the zap baseline scan"
Whenever we push to stage, we get a notification that the zap baseline scan failed. We don't know the details, but relud says it has something to do with CSRF tokens. We should learn why it is failing, how to fix it, and avoid breaking it again.

[2017-09-20 17:40] fzzzy commented on #2873
Here is the pr that fixed it the last time it was fixed:

https://github.com/mozilla/testpilot/pull/2493

[2017-09-20 17:42] fzzzy commented on #2873
@psiinon When the zap baseline scan fails on testpilot stage, where can we look to find out why it is failing? Also, how do we know when it is safe to add data-no-csrf to a form?

[2017-09-20 17:46] fzzzy commented on #2861
@SoftVision-PaulOiegas Stage now correctly installs 2.0.4, so go ahead and test there instead of dev tomorrow. Thanks!

[2017-09-20 17:50] lmorchard commented on #2865
We just did some troubleshooting and I think we've got this resolved on stage!
[code]

[2017-09-20 17:51] #2865 closed, assigned to lmorchard

[2017-09-20 18:15] fzzzy commented on #2861
Oh, and the build is now 2017-09-20.

[2017-09-21 08:09] SoftVision-PaulOiegas commented on #2861
Great, thanks! We already started testing and report back the results.

[2017-09-21 19:35] fzzzy commented on #2861
Deploy of prod complete!

[2017-09-21 19:35] #2861 closed, assigned to nobody

[2017-09-21 19:39] fzzzy commented on #2858
This is now fixed in addon version 2.0.4, which has been deployed to production.

[2017-09-21 19:39] #2858 closed, assigned to nobody

[2017-09-21 19:39] fzzzy commented on #2832
This is now fixed in addon 2.0.4, which has been deployed to production.

[2017-09-21 20:07] #2860 closed, assigned to johngruen

[2017-09-21 20:56] alex-mayorga commented on #2832
¡Hola @fzzzy!

It looks much better but still not exactly the right colors...
![imagen](https://user-images.githubusercontent.com/649262/30718304-247006a2-9ee5-11e7-81df-ca90cb801596.png)

![imagen](https://user-images.githubusercontent.com/649262/30718378-6758ffa0-9ee5-11e7-8fae-d1d0013789eb.png)

Maybe I need to tune up the colors on this screen?

¡Gracias!
Alex

[2017-09-21 21:01] alex-mayorga commented on #2832
¡Hola!

The Library icon is #BEBEBE with #A3A3A4 for the edges in the dark theme, and the Test Pilot icon is #F9F9FA instead.

The Library icon is #5A5B5C with #A3A3A4 for the edges in the light theme, and the Test Pilot icon is #18191A instead.

¡Gracias!
Alex

[2017-09-22 08:23] SoftVision-PaulOiegas commented on #2832
I can confirm what @alex-mayorga mentioned. We have seen it to yesterday, but due to the amount of testing needed yesterday (both stage and production servers) we forgot to inform you guys about this.

I'm not sure if this was intended or not but the Test Pilot button now looks very prominent from other buttons.  I will reopen this until we decide if there is anything to be done in this case.

[2017-09-22 08:29] SoftVision-PaulOiegas commented on #2860
Message correctly updated. 👍
Marking as verified.

[2017-09-22 09:44] SoftVision-PaulOiegas opened #2877 "[Enhancement] The "Blog" button should be displayed even if the Test Pilot add-on is not installed"
**[Notes]:**
- For the cases when a user of Firefox or other browser wants find more details about Test Pilot before installing it.

**[Affected versions]:**
- Firefox 55.0.3 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Steps to reproduce]:**
1. Open Firefox browser with the profile from prerequisites and navigate to https://testpilot.firefox.com page.
2. Look for "

[2017-09-22 10:05] ChenMorpheus commented on #2832
Hi all,

I think this guideline below is more fit with the current design, and it specifically defines what colors for icons in dark/light theme and the states. You can find [here](http://design.firefox.com/photon/visual/icons.html#color) for more details.
![2017-09-22 6 02 26](https://user-images.githubusercontent.com/18019946/30739521-480299aa-9fc0-11e7-8fe4-deb648d91d7f.png)

[2017-09-22 12:28] SoftVision-PaulOiegas commented on #2473
We are proud owners of Facebook images and details for each individual experiment. We finally did it, good job guys! 👍 🥇 💐
Verified on both dev and production servers.
![screenshot-2017-9-22 ion ionescu](https://user-images.githubusercontent.com/17258026/30744396-902270f4-9faa-11e7-9246-23d8780e93e0.png)

[2017-09-22 14:25] SoftVision-PaulOiegas commented on #2164
Retested this on all 3 servers and seems to be fixed after all. 👍

[2017-09-22 14:25] #2164 closed, assigned to fzzzy

[2017-09-22 14:43] fzzzy commented on #2164
🏆

[2017-09-22 16:53] lmorchard commented on #2473
We did it! https://www.youtube.com/watch?v=SBCw4_XgouA

[2017-09-22 19:07] #2826 closed, assigned to nobody

[2017-09-22 19:08] lmorchard commented on #2864
I *think* we fixed this after getting stage up-to-date with the current add-on version

[2017-09-22 19:08] #2864 closed, assigned to nobody

[2017-09-25 08:14] SoftVision-PaulOiegas commented on #2473
🤣 Good one Les.

[2017-09-25 08:21] SoftVision-PaulOiegas commented on #2864
You are right. Just verified on all 3 servers and the button correctly appears on all 3 servers.

[2017-09-25 08:31] SoftVision-PaulOiegas commented on #2826
I confirm that using all the 5 prefs, the add-ons from dev and stage servers are correctly installed. We have created a "user.js" file containing all the 5 prefs and we are adding it to each new profile created for dev/stage server testing, to ease our job. 😄

[2017-09-25 15:22] SoftVision-PaulOiegas opened #2878 "Test Pilot toolbar button is just an empty placeholder on Firefox 52 to 54 including ESR 52.0 to 52.4.0"
**[Affected versions]:**
- Firefox ESR 52.0 to 52.3.0 (releases)
- Firefox ESR 52.4.0 (candidate)
- Firefox 52.0

**[Affected Platforms]:**
- All Windows
- All mac OS
- All Linux

**[Steps to reproduce]:**
1. Open Firefox browser with a new profile and navigate to https://testpilot.firefox.com page.
2. Choose to install Test Pilot add-on.
3. Observe the Test Pilot toolbar button.

**[Expected resu

[2017-09-25 15:33] SoftVision-PaulOiegas opened #2879 "Test Pilot is no longer supported in Firefox 50.0 which is specified as minimal supported version"
**[Affected versions]:**
- Firefox 50.0

**[Affected Platforms]:**
- All Windows
- All mac OS
- All Linux

**[Steps to reproduce]:**
1. Open Firefox 50.0 browser with a new profile and navigate to https://testpilot.firefox.com page.
2. Choose to install Test Pilot add-on.
3. Open a new tab and navigate to "about:addons" page.
4. Click on "Extensions" section and observe the Test Pilot add-on state

[2017-09-25 16:02] SoftVision-PaulOiegas commented on #2878
After testing on Nightly using Mozregression tool, I found out that this is more spread than I thought. It affects our button starting with Firefox 52 and ending with Firefox 55 (2017-03-14 Nightly build).

Managed to find a regression window and it seems that something from Bugzilla bug [1058040](https://bugzilla.mozilla.org/show_bug.cgi?id=1058040) has fixed it.
Here is the pushlog link: https:/

[2017-09-25 16:16] ghost commented on #2879
Most of our users are on 54/55/56/57.  ESR is 52 and is ~4% of our visitors.

Let's make this a rolling release-1.  We already have a minimum of 50, lets just update that.

[2017-09-25 16:18] lmorchard commented on #2879
I *think* this is where the site-wide minimum version is configured:

https://github.com/mozilla/testpilot/blob/master/frontend/src/app/config.js#L3

[2017-09-25 16:19] ghost commented on #2877
/cc @chenmorpheus

[2017-09-25 16:28] ghost commented on #2703
We're not using telemetry anymore.  We can close this.

[2017-09-25 16:28] #2703 closed, assigned to nobody

[2017-09-25 16:44] SoftVision-PaulOiegas commented on #2879
Don't forget that we have a string for this, which is displayed on older versions than supported. That needs to be updated too. Last time we forgot to.

[2017-09-25 21:17] fzzzy commented on #2879
@SoftVision-PaulOiegas Actually last time when we forgot to update the string, I changed the implementation so that it does not hard code the version number in the string, but instead pulls it from config.minFirefoxVersion :-)

[2017-09-25 21:58] groovecoder opened #2880 "Graduate Containers from Test Pilot to AMO"
* [x] Move the add-on and users to AMO
* [x] Write graduation post on Medium
* [ ] Update the testpilot.firefox.com page for Containers (Should I just send a PR to the containers.yml file?)

[2017-09-26 00:26] johngruen commented on #2880
@groovecoder can we put it on our medium instead? we want to start hosting grad reports off site.

[2017-09-26 00:41] #2832 closed, assigned to nobody

[2017-09-26 02:36] ChenMorpheus commented on #2877
To be honest, I don't know who added the "Blog" button there. However, that's a good design, and I think it's an excellent approach to display it even if users don't install the add-on. It could provide an entry point to promote our channel and experiment.

[2017-09-26 06:38] ChenMorpheus commented on #2762
Please find the attached screens for my proposal, measurement and [icon](http://design.firefox.com/icons/viewer/). Let me know your thoughts, thanks.

![english only](https://user-images.githubusercontent.com/18019946/30845972-4fca7a3a-a2c8-11e7-9bdf-78205d4796d9.png)

[2017-09-26 08:09] SoftVision-PaulOiegas commented on #2879
Sneaky 😄

[2017-09-26 11:54] SoftVision-PaulOiegas commented on #2878
Sadly, this issue still reproduces on Fx 54. 👎
I've verified this on Fx 54 release unbranded build since the dev add-on cannot be installed on 54 release even with all the 5 prefs set. And I also double checked on a Nightly 54 build (2017-02-12) and the result was the same.

[2017-09-26 12:53] johngruen commented on #2878
@SoftVision-PaulOiegas UGH

[2017-09-26 12:54] johngruen commented on #2762
@ChenMorpheus LGTM

[2017-09-26 13:06] SoftVision-PaulOiegas commented on #2832
This seems to be correctly fixed now. 👍 It has the same colors codes as @alex-mayorga mentioned in the comment and like the other icons around it, that are displayed by default in Firefox.

However, those color codes are not the ones that @ChenMorpheus mentioned in the above comment. but since the other ones have the same color, I assume that he might be wrong on this.

Verified this on latest Nig

[2017-09-26 13:29] groovecoder commented on #2880
Sure. Can I get access to that, or do you want to make the Copy Pasta™ from the doc?

[2017-09-26 15:14] johngruen commented on #2880
@groovecoder i can add you to our medium...We'll need elvin to review the report before we publish. I am making edits now.

[2017-09-26 15:14] johngruen commented on #2880
it is done

[2017-09-26 16:50] lmorchard commented on #2868
Hmm. I started from a clean profile and installed the add-on from dev, but I couldn't reproduce the issue: Installed Test Pilot, enabled Notes. Restarted. Uninstalled Test Pilot from gear menu, Notes was still installed.

The prerequisites & steps to reproduce seemed a little confusing - specifically the part about "Test Pilot stage add-on was already installed on the created profile". If the add-

[2017-09-26 17:06] #2879 closed, assigned to nobody

[2017-09-26 19:05] #2818 closed, assigned to johngruen

[2017-09-26 19:16] meandavejustice opened #2888 "<esc> to exit modals"
I want to be able to hit <esc> and exit our modals

[2017-09-26 20:11] meandavejustice opened #2889 "update all modals to match news update alert modals"
should also pull out the shared functionality of the tour modal into a parent component so that tests don't have to be duplicated.

[2017-09-27 06:30] ChenMorpheus commented on #2832
@SoftVision-PaulOiegas it's great to see the bug is fixed now. However, I just want to confirm with you about the guideline I provided since it could be a great opportunity to highlight to Design System.

If I understand correctly, what you meant is the guideline from Design System is not the correct color codes compared to other icons, right?

[2017-09-27 06:47] Pekochen commented on #2789
Component: https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Component_20171003/

Homepage:https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Homepage_20170927/

Detail page:https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Detailpage_20170927/
@johngruen , @fzzzy Please check these links for the rest of pages.
Than

[2017-09-27 09:10] ChenMorpheus commented on #2789
Let me give some context here.
For each link, you can click "all artboards" on the top-left corner to switch to different measurements, including full-page mockups, various elements, and responsive design. For instance:

Homepage_20170927 (Full-page mockups)
- Introduction
- Latest updates
- Experiment cards
- Newsletter footer
- Responsive

Note that "number of participants" seems to be removed o

[2017-09-27 10:01] SoftVision-PaulOiegas commented on #2789
@ChenMorpheus Maybe pages like:
https://testpilot.firefox.com/share
https://testpilot.firefox.com/retire
https://testpilot.firefox.com/fourohfour
https://testpilot.firefox.com/legacy

Not sure if we still need the "legacy" page, but the "share" page should definitely need a new look too. 😄

[2017-09-27 13:20] SoftVision-PaulOiegas commented on #2868
At the moment, the testing was performed on stage, so that's why I've mentioned "stage" for testpilot.env and for add-on. We usually log the issues with the setup for the server on which we are testing at the moment.

However, I have retested the issue on both dev and production servers and it's no longer occurring. This is a bit strange since I was able to reproduce it after you guys fixed the se

[2017-09-27 13:20] #2868 closed, assigned to nobody

[2017-09-27 13:58] fzzzy commented on #2789
Thanks. I'm going to be OOO next week because I am getting married, but maybe someone else can take a look at this. Otherwise I'll start on it when I get back.

[2017-09-27 15:03] SoftVision-CosminMuntean commented on #2818
I have retested this issue on Test Pilot dev server and the start date for Send experiment is correctly displayed. Marking as verified.

[2017-09-27 15:25] #2791 closed, assigned to fzzzy

[2017-09-27 15:35] lmorchard commented on #2868
Thanks for keeping an eye on this stuff! It's annoying that it seems like it has a mind of its own sometimes 😟

[2017-09-27 15:59] SoftVision-PaulOiegas commented on #2879
Verified this on dev server using Fx 50, Fx 52.4.0 ESR, Fx 53 and Fx 54 and it behaved as expected on each of the versions.
Also, the string is indeed updated.

[2017-09-27 16:19] SoftVision-PaulOiegas commented on #2832
@ChenMorpheus Maybe I'm wrong, and please correct me if so, but it says:
- For Light background, icon color should be #0c0c0d, while my color picker says #5A5B5C
- For Dark background, icon color should be #f9f9fa, while my color picker says #BEBEBE

Instead I see #f9f9fa for the default theme toolbar background, but not for the icon itself.

[2017-09-28 12:30] GauravV-02 commented on #2809
Hi @johngruen, I am a student at seneca college enrolled in open source course, looking for my first bug. If this bug is not assigned to someone, can i work on it for my assignment? Thanks

[2017-09-28 14:49] johngruen commented on #2809
Absolutely!

[2017-09-28 15:45] fzzzy commented on #2612
This actually looks like it will be quite difficult with things set up the way they are currently. However, it will be quite easy once we move the locale string into the beginning of the url and statically render different language pages at build time. So, let's wait until after we do that to do this.

[2017-09-28 16:25] fzzzy commented on #2612
Jared pointed me at this which can be used to fix this bug with the way the architecture is now:

https://github.com/projectfluent/fluent.js/wiki/withLocalization

However I think it would be best to just wait until the locale is in the url.

[2017-09-28 17:45] marvinsanchez1 commented on #2696
Hi @wresuolc , I am a student at seneca college. I'm currently taking a open source course, looking for my first bug. If this bug is not assigned to someone, can I work on it for my assignment?
Thank you!

[2017-09-28 18:18] marvinsanchez1 commented on #2695
Hi @wresuolc , is this bug not assigned to someone, can I work on it for my assignment?
Thank you!

[2017-09-28 18:27] lmorchard commented on #2696
Thank you!

Thank *you*, we'd very much appreciate the contribution! Feel free to ask for help or raise any questions you might think of!

[2017-09-28 22:44] Luck07 opened #2893 "Playlist videos do not match"
When I go to a playlist, and I press the Min Vid to stay on, does not continue#

![2017-09-28 19_43_55-](https://user-images.githubusercontent.com/32375803/30993445-77b79820-a485-11e7-8526-bddaf992cab1.png)

[2017-09-29 08:11] SoftVision-PaulOiegas commented on #2893
Hi @Luck07 and thanks for your report. However, can you please fill this issue again on [Min Vid GitHub page](https://github.com/meandavejustice/min-vid/issues)? Here is the Test Pilot GitHub page so it's a bit unrelated.
Also, can you please provide a bit more details? We would like to know what operating system are you using, what Firefox version, what kind of playlists / videos you were trying

[2017-09-29 08:11] #2893 closed, assigned to nobody

[2017-09-29 17:37] lmorchard opened #2894 "Upgrade to React 16"
[React 16 was released](https://reactjs.org/blog/2017/09/26/react-v16.0.html?utm_source=reactnl&utm_medium=email), and it looks like a lot of good stuff. [I started a branch to try upgrading](https://github.com/lmorchard/testpilot/tree/react-16).

But, I ran into at least one dependency issue - [`html-react-parser` seems to need an upstream fix](https://github.com/remarkablemark/html-react-parser/

[2017-09-29 22:55] mikelmasek opened #2895 "Vertical Tabs"
I really liked the vertical tabs. I am using version 57.0b, and for some reason they don't work anymore. I think they were part of test pilot or were an add-on.

Please tell me how I can get them back. Thanks!

[2017-09-29 23:02] chuckharmston commented on #2895
The Tab Center experiment has unfortunately been retired. But you do have a few options for Vertical Tabs in 57!

- [Tree Style Tab](https://addons.mozilla.org/firefox/addon/tree-style-tab/) is a favorite of power users, while;
- [Tab Center Redux](https://addons.mozilla.org/firefox/addon/tab-center-redux/) is closer in experience to the Tab Center experiment on Test Pilot.

[2017-09-29 23:02] #2895 closed, assigned to nobody

[2017-09-30 01:35] mikelmasek commented on #2895
Thanks, Chuck – I used the Redux option, and it’s fine, except for it not being removed from the normal location of the tabs (which it looks like is being addressed already)

Mike

From: Chuck Harmston [mailto:notifications@github.com]
Sent: Saturday, September 30, 2017 12:02 AM
To: mozilla/testpilot <testpilot@noreply.github.com>
Cc: mikelmasek <mike_l.masek@dsl.pipex.com>; Author <author@noreply

[2017-10-01 12:54] chuckharmston opened #2896 "Build bundle size notices into CI"
A Sunday morning idea: on CI builds, could we add a GitHub comment to each pull request indicating what that PR does to bundle sizes? It'd be a nice way to respect and preserve all the work @fzzzy has done to slim them down.

[2017-10-01 19:51] remarkablemark commented on #2894
@lmorchard [`html-react-parser@0.4.0`](https://github.com/remarkablemark/html-react-parser/tree/v0.4.0) has been released:
[code]

You can find details regarding the fix in the [original issue](https://github.com/remarkablemark/html-react-parser/issues/43). Let me know if you encounter any more issues when upgrading.

[2017-10-02 05:51] pdehaan commented on #2896
One option would be something like [**size-limit**](https://www.npmjs.com/package/size-limit) and have Travis-CI/Circle-CI fail the build if we exceed a predetermined size limit.

[2017-10-02 06:31] ChenMorpheus commented on #2832
@SoftVision-PaulOiegas Thanks for your response. I've highlighted the issue to Design System team, and we found that current implementation of other icons on toolbar is incorrect. That means they might update the implementation and guidelines as well. I'll let you know if there is any updates, thanks.

[2017-10-02 09:54] SoftVision-PaulOiegas commented on #2832
Wow, that's something. Probably that's why all the add-ons icons look awkward first time when implemented and only after we log issues they are fixed. 😄
Thank you too for the updates!

[2017-10-02 14:20] CHBaker commented on #2843
I'll take this issue

[2017-10-02 15:36] SoftVision-PaulOiegas opened #2897 "Uninstalling Test Pilot add-on randomly leaves you on the same page instead of "Retire""
**[Notes]:**
- This might be some kind of a race condition, but I also encountered at uninstall after a longer period.
- Also, sometimes at TxP add-on install, the "Welcome" pop up is automatically cleared (watch the bottom screen recording).

**[Affected versions]:**
- Firefox 56.0 and above

**[Affected Platforms]:**
- All Windows
- All mac OS
- All Linux

**[Prerequisites]:**
- Following 5 pref

[2017-10-02 16:08] johngruen opened #2898 "Add updates for Send and Screenshots"

[2017-10-02 16:18] #2602 closed, assigned to nobody

[2017-10-02 16:24] #2813 closed, assigned to sevaan

[2017-10-02 16:28] johngruen commented on #2653
`yet` is overdoing it a bit since some experiments will never be localized.

Lets do: `This experiment has not been translated to your language (ab_CD)`

[2017-10-02 16:30] lmorchard commented on #2653
Does this cover the concept that some experiments are unavailable for product reasons and not just lack of translations? (Or is that not actually worth worrying about?)

[2017-10-02 16:41] #2694 closed, assigned to fzzzy, johngruen

[2017-10-02 16:46] lmorchard commented on #2894
@remarkablemark Thanks so much for the follow-up comment over here!

[2017-10-02 17:23] lmorchard commented on #2894
Hacked at this a little more. Looks like the site builds successfully without errors, and seems functional on a brief bit of clicking through. But, we now have 16 or so frontend test failures to figure out

[2017-10-03 10:34] ChenMorpheus commented on #2789
@SoftVision-PaulOiegas @fzzzy We've updated the measurement to include the pages below:

https://testpilot.firefox.com/share
https://testpilot.firefox.com/retire
https://testpilot.firefox.com/fourohfour
https://testpilot.firefox.com/legacy

Please find the link below for the measurement, thanks.

Component: https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Component_201

[2017-10-03 15:38] SoftVision-PaulOiegas opened #2899 "[Dev] Graduated experiments details page wrongly contain the enable option and most of them can be enabled together with Test Pilot"
**[Notes]:**
- It seems that this is a regression caused by #2875 PR.
- The experiments that had a final report no longer have it (Universal Search, NoMore404s and Tracking Protection).
- With the install functionality returned to the graduated experiments, you can enable all graduated experiments except Universal Search.

**[Affected versions]:**
- Nightly 58.0

**[Affected Platforms]:**
- All Wi

[2017-10-03 16:06] SoftVision-CosminMuntean commented on #2473
Sorry guys, I have to reopen this issue since is again reproducible for some experiments. Reproducible on stage and also on production servers.

![screenshot-2017-10-3 cont cosmin](https://user-images.githubusercontent.com/19226534/31135500-d7c09b0e-a86d-11e7-8801-02fd528d4896.png)

[2017-10-03 16:21] SoftVision-CosminMuntean opened #2900 "Release 2017-10-03 on stage"
Hi guys,

We have finalized testing the stage server and we a 95% pass rate on our tests (https://goo.gl/6LrAxJ).

Here are the testing results:

**New Issues**
#2897 - Uninstalling Test Pilot add-on randomly leaves you on the same page instead of "Retire" (NORMAL)
-This issue is also reproducible on production

**Reopened Issues**
#2473 - Experiments images are not displayed on Facebook and Activ

[2017-10-03 17:38] lmorchard commented on #2899
Taking a look at this today

[2017-10-04 13:48] SoftVision-PaulOiegas opened #2906 "The "Install" word is wrongly localized as "Inslatar" on "Experiment details" page for Spanish [es] and [es-es] locales"
**[Affected versions]:**
- Nightly 56.0 and above

**[Affected Platforms]:**
- All Windows
- All mac OS
- All Linux

**[Prerequisites]:**
- On a new profile, add Spanish [es-es] language for page content from "Options > General > Language and Appearance > Language".

**[Steps to reproduce]:**
1. Open Firefox browser with the profile from prerequisite and navigate to https://testpilot.dev.mozaws.ne

[2017-10-04 16:09] ghost commented on #2900
@lmorchard going to push today

[2017-10-04 16:24] lmorchard commented on #2473
That this issue came back is 100% baffling to me. Something is unreliable, either on our end or on Facebook's. But, I can't yet determine what. Trying the Facebook debugger, I got a different result on 3 attempts to debug one of our pages.

Attempt 1: I checked [the Facebook OG debugger](https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Ftestpilot.firefox.com%2Fexperiments%2Fvoic

[2017-10-04 16:31] johngruen commented on #2653
@lmorchard there's a yaml flag that lets us hide these entirely (ie Cliqz)

[2017-10-04 16:33] lmorchard commented on #2473
Planning to do another production deployment today, so I guess I'll try to keep an eye on if that somehow confuses Facebook 😞

[2017-10-04 17:23] #2396 closed, assigned to johngruen

[2017-10-04 17:29] #2898 closed, assigned to johngruen

[2017-10-05 10:55] flodolo commented on #2657
Any chance of getting resources on this? I keep getting this question from locales that want to localize Test Pilot.

[2017-10-05 11:09] johngruen commented on #2906
FIxed by #2908

[2017-10-05 11:09] #2906 closed, assigned to johngruen

[2017-10-05 15:23] marvinsanchez1 commented on #2696
Hello @lmorchard  I'm not sure how to reproduce this issue on my computer. I was able to set up the environment and have it running.

[2017-10-05 17:09] chuckharmston commented on #2894
https://blog.discordapp.com/lessons-from-migrating-a-large-codebase-to-react-16-e60e49102aa6

[2017-10-05 19:18] #2653 closed, assigned to nobody

[2017-10-05 19:25] flodolo opened #2911 "Text under download button has "Terms of Use" and "Privacy" in English"
https://testpilot-l10n.dev.mozaws.net/experiments/containers

The Italian text displayed is "Procedendo accetti i Terms of Use e l’Privacy Notice di Test Pilot."

No clue why the original translations (`landingLegalNotice = Procedendo accetti i <a>termini d’uso</a> e l’<a>informativa sulla privacy</a> di Test Pilot.`) is changed like this.
https://github.com/mozilla/testpilot/blob/master/locales/i

[2017-10-05 19:57] lmorchard commented on #2911
Sounds like the issue @johngruen noticed over here https://github.com/mozilla/testpilot/pull/2905#discussion_r142644755

I'm not entirely up on how links work in react-fluent, but maybe merging that PR will be a fix?

[2017-10-05 19:58] #2775 closed, assigned to johngruen

[2017-10-05 19:59] lmorchard commented on #2911
Merged #2905 to master. Will be doing a merge from master to l10n to pick up new strings in a few minutes. Maybe that will address this for now?

[2017-10-05 20:12] lmorchard commented on #2696
@msanchez5  If it helps, I've got links to the code involved [back in this comment](https://github.com/mozilla/testpilot/issues/2696#issuecomment-319387161).

But, reproducing the behavior is a little weird, because you'll probably have to temporarily edit the YAML for an experiment (e.g. [min-vid.yaml](https://github.com/mozilla/testpilot/blob/master/content-src/experiments/min-vid.yaml#L100)) an

[2017-10-06 00:57] marvinsanchez1 commented on #2696
@lmorchard so, I managed to replace this code
 https://github.com/mozilla/testpilot/blob/beee92166f23be03f743573d282dc2d8615706c0/frontend/src/app/components/ExperimentRowCard.js#L169-L170
with this code.

[code]

this works if you **haven't visited** the page and after **you visited** the page. Although you said you wanted to be removed the visit logic, but i wasn't sure if this function

is uses

[2017-10-06 11:47] johngruen commented on #2911
@lmorchard @flodolo yeah i think i fixed that on master.

[2017-10-06 12:48] johngruen opened #2913 "Handle WebExtension Installation Cancel and Send Event to GA"
Currently we do not handle the following case:

### STR

1. Go to the Voice Fill Experiment Page
2. Click `Enable Voice Fill`
3. On the webExtension Install dialog, click `Cancel`
![screen shot 2017-10-06 at 1 30 54 pm](https://user-images.githubusercontent.com/3323249/31277823-ae5f2918-aa9a-11e7-8989-4ea0bb9e95f2.png)

### Expected

The `Enable Voice Fill` Button should revert to its pre-installe

[2017-10-06 13:26] SoftVision-PaulOiegas commented on #2913
@johngruen I think I've seen this before. Isn't this related to #2697?

[2017-10-06 14:00] SoftVision-PaulOiegas commented on #2906
Seems to be fixed now, verified on all servers. Nobody is "insaltar-ing" anymore. 👍

[2017-10-06 14:15] SoftVision-PaulOiegas commented on #2911
I can confirm too that this is fixed on dev server. 👍

[2017-10-06 15:11] groovecoder commented on #2880
The post on medium is done and we'd like to post on Tuesday.

@wresuolc @johngruen - what are the remaining steps to updated the testpilot.firefox.com site for Tuesday?

[2017-10-06 15:27] kovsk1 commented on #2617
Hi @pdehaan , I'm a student at Seneca college learning open source, and I was hoping to work on this bug for my course.  If no one else is currently working on it, I'd like to give it a try.

[2017-10-06 15:37] johngruen commented on #2913
OMG

[2017-10-06 15:37] #2913 closed, assigned to nobody

[2017-10-06 15:46] SoftVision-PaulOiegas opened #2914 "The "Launch Tour" and "Changelog" strings are wrongly displayed in lowercase characters on Spanish [es-es]"
**[Notes]:**
- I'm not sure if there are also other languages with this problem. it will need a couple hours of testing to check all of them.
- Now each language has its rules, but shouldn't we have all the words in the strings strings starting with capital letters like on English US? On languages like Spanish MX or German strings like "Launch Tour" and "Bug Reports" have only the first word start

[2017-10-06 15:57] SoftVision-PaulOiegas commented on #2898
Correctly added and links working as intended. 👍
@johngruen Do we need localization for them also until next release?

[2017-10-06 17:14] lmorchard commented on #2914
Doesn't look like this is a problem in Test Pilot component code - [I think this is just how the contributor chose to translate the string](https://github.com/mozilla/testpilot/blame/master/locales/es-ES/app.ftl#L177). Also looks like it's been that way for awhile (11 months).

@flodolo We can change this with a quick commit to the l10n branch, but is there a way to maybe flag issues with localiza

[2017-10-06 17:22] lmorchard commented on #2880
FWIW, our next scheduled release of the site is the Tuesday after (10/17) and yesterday was the l10n string freeze for that release.

If we want to update the site on Tuesday (10/10), we *could* cherry pick a change to containers.yaml. But, if there are string changes, that's too short a lead time to get translations from contributors. Alternatively, we could live with untranslated en-US strings i

[2017-10-06 17:29] pdehaan commented on #2914
@SoftVision-PaulOiegas You could also `git grep` to get a list of all those translation strings for each locale (ignoring the fact that some may not be "live" in production). But would be quicker than doing a bunch of locale switching and visual confirmation.

[code]

I haven't played w/ [PhantomJS](http://phantomjs.org/) or [SlimerJS](https://slimerjs.org/) (or even [trifleJS](http://triflejs.org

[2017-10-06 17:43] flodolo commented on #2914
* Please do not make changes to localization files. If necessary, you can look at the history of a specific language, and cc the person (people) who worked on the folder (that's what I do when you ping me).
* Don't make assumptions on other languages. Title case is something that basically exist only in English, e.g. using it in Italian it's just poor knowledge of the language.

The only potential

[2017-10-06 18:57] groovecoder commented on #2880
Oh dang. ... did we have translations of the existing page? We would probably prefer to release sooner than later, because having the AMO listing AND the testpilot page is confusing people.

[2017-10-06 19:28] lmorchard opened #2916 "Update docs with respect to experiment graduation content"
[The docs still mention `graduation_report`](https://github.com/mozilla/testpilot/blob/master/docs/content/reference.md#graduation_report). But, as of #2694, we no longer use that and instead just have `graduation_url` to link to a report on Medium.

We should update the docs to reflect that. (Just got confused by that since my memory is swiss cheese apparently.)

[2017-10-06 19:30] lmorchard commented on #2880
Not so much about translations of the existing page (which we should have) as much as translations of any new strings we need as part of the transition to graduated state.

But, I forgot that since #2694, we switched to just linking to graduation content and use common strings that we should have localized already (or very soon).

So, I don't think we have any strings that need to be changed for C

[2017-10-06 19:41] lmorchard commented on #2880
And just as a note probably to myself, if I end up doing the cherry picking for this: It might be good to also grab a merge from the l10n branch, since there's been a lot of progress across locales in getting the strings from #2694 translated. https://pontoon.mozilla.org/projects/test-pilot-website/

[2017-10-06 20:45] ghost commented on #2880
So far we've had graduation reports on test pilot, not on blogs.  (we want them on blogs though).  So, short term, we could probably just make a graduation report for Containers that was a link to the blog, and longer term we could make that a smoother transition.

For that, it's just a matter of putting a `graduation_report` key in https://github.com/mozilla/testpilot/blob/master/content-src/expe

[2017-10-06 21:18] lmorchard commented on #2880
That changes with #2694 in the next prod push, though. We've removed support for `graduation_report` and added `graduation_url`. We *could* cherry-pick #2694 to expedite for Containers, but that might be trouble.

We could also add both `graduation_report` and `graduation_url`:

The `graduation_report` gives us short term text with a link - but with fallback en-US text in all locales because l10n

[2017-10-08 19:48] #2911 closed, assigned to nobody

[2017-10-09 12:48] SoftVision-PaulOiegas commented on #2775
Seems to be fixed now in both page newsletter and pop up newsletter that appears after installation. 👍
Verified on French, German, Italian, Spanish and Russian.

[2017-10-09 12:59] yfdyh000 opened #2917 ""data" link no longer localized"
#2728 no update to https://github.com/mozilla/testpilot/blob/0d7f5653a479a46f0987cbabb658bacaa6ea9159/locales/en-US/app.ftl#L137 and other locales.

[2017-10-09 13:05] fzzzy commented on #2917
@yfdyh000 Thanks for the report. These links have long been problematic; we should probably add some automated tests that check that they are working.

[2017-10-09 13:09] SoftVision-PaulOiegas commented on #2914
That was the whole point of the bug, the lowercase for "Launch Tour" string and maybe also the "Changelog" string too (some languages have that in lowercase also). It seems that Peter uncovered all the "Launch Tour" ones.

What I wrote on the "Notes" section, was just a question because exactly this I want to avoid, any assumptions on other languages that I don't know. I'm sorry if that wasn't cle

[2017-10-09 13:19] flodolo commented on #2914
Thanks for confirming. To answer your question: no, we should not seek consistency between en-US and other language, but each language should be internally consistent and follow their own grammar rules.

[2017-10-09 14:53] SoftVision-PaulOiegas commented on #2653
@lmorchard @johngruen Guys, on what experiments this message should be displayed?
I'm asking because I can see it only on Cliqz, if language is other than German and for Containers experiment if language is other than English. All the others are not displaying this message. Not even Voice Fill which is restricted for other locales than English.
Also, the message is only partially translated:

![no

[2017-10-09 14:59] avelper commented on #2914
Hi!

Yes, we could have it changed, but I would need someone to tell me where to modify it or just if someone can do it for me. It's just a matter of changing the first letter of the first word in each case (Visita and Registro)

[2017-10-09 15:15] groovecoder commented on #2880
I tried locally on `master` branch to add both `graduation_report` and `graduation_url` but `graduation_report` seems to have no effect. In fact, when I looked at the old `tracking-protection.yaml` page, none of the content in `graduation_report` shows up there either.

Is there a plan (or code) to handle the old `yaml` files with `graduation_report`?

[2017-10-09 15:16] SoftVision-PaulOiegas commented on #2617
Hi @naperkovskiy, not sure if Peter has seen your message. But go for it! Any contributions are welcomed.

[2017-10-09 15:25] flodolo commented on #2914
Hi Angela, they're in this project, looks like they were translated a while ago by Imma
https://pontoon.mozilla.org/es-ES/test-pilot-website/all-resources/?status=translated&string=159550

Also make sure that someone in the community goes through the website and search for errors.

[2017-10-09 16:10] johngruen commented on #2917
@fzzzy i fixed this for some other instances. I can grab this.

[2017-10-09 16:59] avelper commented on #2914
Great, thanks!

It's changed and I will personally take a look to see if I find something else.

Ángela.

[2017-10-09 17:59] fzzzy commented on #2880
@groovecoder We had decided to not support graduation_report once graduation_url lands, but that won't be deployed until Tuesday the 17th. You could test that the graduation_report is working against the 2017-10-04 tag instead of master, and test graduation_url against master.

[2017-10-09 18:01] fzzzy commented on #2917
@johngruen I saw your fix. I feel like it should work with the default content in the template. It would be good to investigate why it doesn't. Also, when #2728 landed, it was working, so what changed?

[2017-10-09 18:49] groovecoder commented on #2880
We'll just go with `graduation_url` then. I planned to publish the post on medium.com tomorrow anyway, so then we'll have the final url to add to `containers.yaml`.

I'll send a PR tomorrow for next week's deployment.

[2017-10-09 18:53] lmorchard commented on #2880
If you just add `graduation_url` in your PR and not also `graduation_report`, the update won't appear until next Tuesday (10/17).  So, if you're okay with waiting until next Tuesday for an update, that's cool. But it sounded like things were more urgent than that.

edit: deleted some details since fzzzy already covered them and I think I didn't quite understand

[2017-10-09 19:09] #2899 closed, assigned to lmorchard

[2017-10-09 19:31] groovecoder commented on #2880
Yup, `graduation_url` on 10/17 is fine.

[2017-10-10 00:04] johngruen opened #2919 "Add pulse graduation report link"
Link: https://medium.com/firefox-test-pilot/firefox-test-pilot-pulse-graduation-a3dc2212cce0

[2017-10-10 10:50] fzzzy commented on #2916
Whoops -- I'll take this.

[2017-10-10 14:07] kovsk1 commented on #2617
@SoftVision-PaulOiegas Thank's, I'l get started on it asap.

[2017-10-10 15:39] fzzzy commented on #2574
We have the new l10n branch flow in place. Localizers will always have a week to localize strings. I think this can be closed now.

[2017-10-10 15:39] #2574 closed, assigned to lmorchard

[2017-10-10 15:49] fzzzy commented on #2665
I did end up using the Lighthouse chrome plugin to measure this, and we managed to significantly drop our page load times. This issue can be closed now.

[2017-10-10 15:49] #2665 closed, assigned to nobody

[2017-10-10 15:56] fzzzy commented on #2657
I'll do this now.

[2017-10-10 16:25] chuckharmston opened #2921 "Audit the environment variables we have in CircleCI."

[2017-10-10 16:35] lmorchard commented on #2921
Any concerns in particular?

[2017-10-10 16:39] lmorchard commented on #2921
Deleted vars related to AMO & Docker that we don't use any more. Remaining vars are for publishing the dev site & storybook to S3 and querying the read-only CircleCI API. FWIW, nothing production-wise is done in CircleCI - that's all taken care of on in-house Mozilla infra

Is that the kind of thing you're looking for?

[2017-10-10 16:46] ghost commented on #2880
@groovecoder do you have a URL for this yet?  (so we can make the patch).  Our freeze is thursday.

[2017-10-10 16:47] #2919 closed, assigned to nobody

[2017-10-10 16:47] fzzzy commented on #2808
Let's kick this to 34, it is too big to try to squeeze into what is left of this sprint.

[2017-10-10 16:49] fzzzy commented on #2789
Let's move this to the next sprint.

[2017-10-10 17:36] lmorchard commented on #2921
Also just created [a new github account for Storybook comments](https://github.com/MozillaTestPilotStorybook) so that they no longer post from my account. ([And it worked](https://github.com/mozilla/testpilot/pull/2922#issuecomment-335554108), yay!)

[2017-10-10 18:59] johngruen commented on #2880
@groovecoder @wresuolc pr inbound with grad URL

[2017-10-10 19:02] groovecoder commented on #2880
@johngruen I win: https://github.com/mozilla/testpilot/pull/2923

[2017-10-10 19:04] #2880 closed, assigned to johngruen

[2017-10-10 19:08] fzzzy opened #2924 "Split mapStateToProps into smaller functions, one for each container"
In the [Storybook documentation](https://github.com/mozilla/testpilot/blob/master/docs/development/storybook.md) there is some rationale for why to do this:

We should spend some time determining which containers would benefit from having their own mapStateToProps.

[2017-10-10 19:13] fzzzy commented on #2924
Also, by definition a container in react has a unique mapStateToProps etc., so if we find that almost all state for the entire app is passed to every container we currently have, we may want to look into adding new containers that require a narrower scope of state.

[2017-10-10 19:14] lmorchard commented on #2924
Something else that occurred to me while poking at flow types: Could help to organize the output of these functions into types, even if they don't group cleanly into per-container types.

For example, [I started splitting out some into groups](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/containers/types.js) that relate to shared topics common to subcomponents used by multiple

[2017-10-10 19:37] fzzzy commented on #2924
@lmorchard That seems really useful! Should help a lot with clarifying what state goes where.

[2017-10-10 19:51] lmorchard opened #2925 "Reduce client-side rendering of static elements"
Thinking about our mix of static server-side rendering and client-side rendering. Some client-side rendering seems redundant, where things never (or rarely) change after page load & DOM re-hydration. We could further reduce the JS bundle size by shipping *only* the components involved in interactive changes.

For example: The list of contributors on an experiment page never changes after page load

[2017-10-10 20:57] grahamperrin commented on #2837
Hmm, no go here with SeaMonkey 2.49.1. Just me? Should the issue be reopened?

![2017-10-10 21 55 24](https://user-images.githubusercontent.com/192271/31410109-dcc10092-ae05-11e7-8255-7003741a0c67.png)

PS I forgot, `general.useragent.compatMode.firefox` was `false`. Now reverted to `true` (the default) and still, no go with the Test Pilot site content.

[2017-10-10 21:02] fzzzy commented on #2837
@grahamperrin Are you still seeing the loader screen? There must be an issue with stale cache if so.

[2017-10-10 21:03] grahamperrin commented on #2837
Control-F5 reloaded after that change of boolean so I doubt it, but I'll restart the browser etc. and tell what happens.

[2017-10-10 21:09] grahamperrin commented on #2837
Restarted SeaMonkey, removed cookies for `firefox.com`, <kbd>Control</kbd>-<kbd>F5</kbd>, still no go.

The symptom now differs from the shot in [the opening post](https://github.com/mozilla/testpilot/issues/2837#issue-255362744). Now there's just the starry sky, no loader. Should I create a separate issue?

PS no go in safe mode, either. <https://testpilot.firefox.com/experiments> just a starry s

[2017-10-10 21:32] grahamperrin commented on #2827
I didn't test release 10.13.

The bug is reproducible with release Firefox 56.0 (64-bit), with no extensions, on pre-release build 17B25c of Mac OS X 10.13.1.

[2017-10-10 22:00] fzzzy commented on #2837
Might as well just reuse this issue.

[2017-10-11 03:28] marvinsanchez1 commented on #2877
Hi @ChenMorpheus , I am a student at Seneca College. I'm currently taking a open source course, looking for my first bug. If this bug is not assigned to someone, can I work on it for my assignment?
+ I already made so that "Blog" appears on the home page and even if you haven't install the Test Pilot Add-on

Thank you!

[2017-10-11 07:18] ChenMorpheus commented on #2877
I would suggest asking Wil for this question. @clouserw What do you think?

[2017-10-11 09:28] SoftVision-PaulOiegas opened #2927 "[Dev] Tour and useful links section is wrongly displayed for graduated experiments"
**[Notes]:**
- This section is not displayed on graduated experiments from production server.

**[Affected versions]:**
- Nightly 58.0

**[Affected Platforms]:**
- All Windows
- All mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.

[2017-10-11 09:31] SoftVision-PaulOiegas commented on #2899
The top part was correctly removed on dev server so I'm marking this as verified fixed. 👍
However, I've found another problem with unneeded info on graduated experiments pages, see #2927.

[2017-10-11 11:35] SoftVision-PaulOiegas commented on #2919
Grad report was correctly added. 👍

[2017-10-11 13:54] fzzzy commented on #2877
@msanchez5 I was about to do it but didn't start yet. Go ahead!

[2017-10-11 14:20] SoftVision-PaulOiegas opened #2928 "Useless Incompatible add-on error displayed for Tab Center when only Test Pilot add-on is installed on Beta or Nightly"
**[Notes]:**
- The error last sentence "Get the current version of Firefox." seems useless on Firefox 57 and 58 since the link redirects you to a lower version.
- Also, I would suggest that only the first sentence from the message should be displayed, and only when the graduated add-on is still installed, even if disabled in about:addons due to version.

**[Affected versions]:**
- Nightly 58.0a1
-

[2017-10-11 16:13] ghost commented on #2928
Let's hide the error if the experiement has ended.  This is a good first bug because it is just adding the check in the template.

[2017-10-11 16:19] #2921 closed, assigned to nobody

[2017-10-11 16:29] ghost commented on #2914
The developers talked in our meeting today and we'll add L10n comments where we can in the code.

Thanks for the help Flod and @avelper

[2017-10-11 16:35] lmorchard commented on #2696
Hmm, looks like this code will always return `true`. 😁

Because if `getExperimentLastSeen()` returns `true`, then this conditional is `if (!true || true)` . If the function returns `false`, then it's `if (!false || false)`. Both of these conditions result in `true` - so `return true` will always happen.

So, TL;DR: Might as well just delete this `if` statement altogether and `return true` at the e

[2017-10-11 17:37] #2916 closed, assigned to fzzzy

[2017-10-11 22:59] #2927 closed, assigned to fzzzy

[2017-10-12 11:58] SoftVision-PaulOiegas opened #2934 "Containers should follow the same 7 days pre-graduation flow as previous experiments since it's graduation date is 10/17/2017"
**[Notes]:**
- There is a default graduation process in place that shows notifications on Test Pilot experiment ticket and experiment details page. First notification is showed starting with 7 days before graduation and says "Ending soon". The second is showed 1 day before graduation saying "Ending tomorrow".
- If possible, the graduation date should be updated for production server too this week,

[2017-10-12 11:59] SoftVision-PaulOiegas commented on #2934
cc @groovecoder
I've suggested this yesterday in the Test Pilot call and @johngruen agreed that we should follow the same process.

[2017-10-12 12:02] fzzzy commented on #2934
It looks like this is because the completed date is:

completed: '2017-09-05T19:38:00.42Z'

[2017-10-12 13:51] SoftVision-PaulOiegas commented on #2934
@fzzzy yes, noticed that. However, will the change of grad date apply also to production without a deploy? I'm asking since October 17 is Tuesday, and we are only deploying production on Tuesday. If the change will enter only then, this change is pretty useless. Containers should already display the graduation notification since there are only 5-6 days left.

Also, maybe we must consider how we ar

[2017-10-12 13:54] SoftVision-PaulOiegas commented on #2927
Seems to be correctly fixed on dev server. 👍

[2017-10-12 13:58] fzzzy commented on #2934
@SoftVision-PaulOiegas You're correct. We may want to consider pushing a special release with just that change.

[2017-10-12 15:55] SoftVision-PaulOiegas opened #2936 "[Enhancement] Transform the Test Pilot logo into website favicon for better display in Activity Stream"
**[Notes]:**
- While testing on Nightly, observed that in a new tab Activity Stream picks the visited Test Pilot website and adds it to "Top Sites", but it displays a screenshot of the homepage and the Firefox favicon. So I was thinking that maybe we can transform the Test Pilot logo into website favicon, that will be displayed more nicely in top sites if we have a high res favicon for them to sho

[2017-10-12 18:11] #1711 closed, assigned to meandavejustice

[2017-10-12 18:37] #2928 closed, assigned to nobody

[2017-10-13 04:07] kgeorgiou commented on #2888
Hello @meandavejustice - is someone working on this or shall I pick it up?

Also, how about:
- `ArrowLeft` and `ArrowRight` keys for going through the steps of tour dialogs?
- `Enter` key for done/continue/submit actions in modals?

[2017-10-13 10:58] SoftVision-CosminMuntean commented on #2928
I have tested this on Test Pilot dev server and the error message is no longer displayed on the page. Marking as verified.

[2017-10-13 11:38] SoftVision-CosminMuntean commented on #2877
I have tested this on Test Pilot dev server and the "Blog" button is also correctly displayed even if the Test Pilot add-on is not installed. Closing this as verified fixed.

[2017-10-13 11:38] #2877 closed, assigned to nobody

[2017-10-13 11:42] SoftVision-CosminMuntean commented on #2900
This is already in production.

[2017-10-13 11:42] #2900 closed, assigned to nobody

[2017-10-13 16:52] pdehaan opened #2939 "Rename "good first bug" to "good first issue"?"
A bit absurd, and may require some tweaking to [**chuckharmston/testpilot-contribute**](https://github.com/chuckharmston/testpilot-contribute), but I noticed this banner on GitHub today and if you click the inviting **good first issue** tag, it returns zero results since we use **good first _bug_** (which currently has [**10** open issues](https://github.com/mozilla/testpilot/issues?q=is%3Aopen+is

[2017-10-13 17:03] chuckharmston commented on #2939
Yeah, this will require about 10 minutes of work on my repo. Hope to get to it next week.

[2017-10-13 19:24] fzzzy commented on #2939
👍

[2017-10-13 19:27] fzzzy opened #2940 "Release 2017-10-13 on stage"
Please test!

[2017-10-13 19:52] #2325 closed, assigned to meandavejustice

[2017-10-13 19:52] #2419 closed, assigned to meandavejustice

[2017-10-13 19:52] #2769 closed, assigned to meandavejustice

[2017-10-14 18:19] grahamperrin commented on #2788
**Not** reproducible with Firefox 56.0 on Android 6.0.1.

[2017-10-16 05:01] tiwoc commented on #2788
Yes, works for me with 56.0.

[2017-10-16 05:01] #2788 closed, assigned to nobody

[2017-10-16 09:27] SoftVision-CosminMuntean opened #2942 ""Upgrade Firefox to continue!" error message is wrongly displayed if Test Pilot page is loaded in other browsers"
[Notes]:
- This issue is reproducible on dev and stage websites. On production Test Pilot website is correctly displayed.
- On Microsoft Edge and Internet Explorer the page is not loading, but this issue is also reproducible on production. I will log another issue related to this.

[Affected versions]:
- Chrome
- Safari
- Opera

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

Steps to r

[2017-10-16 10:55] SoftVision-CosminMuntean opened #2943 "Test Pilot website is not completely loaded in Microsoft Edge and Internet Explorer browsers"
[Notes]:
- This issue is reproducible on all servers.

[Affected versions]:
- Microsoft Edge
- Internet Explorer

[Affected Platforms]:
- All Windows

Steps to reproduce]:
1. Open the Edge or IE browser and navigate to "https://testpilot.stage.mozaws.net/" page.
2. Observe the Test Pilot page.

[Expected result]:
- Test Pilot page is correctly loaded.

[Actual results]:
- Only the blue background

[2017-10-16 10:56] SoftVision-CosminMuntean opened #2944 "Containers experiment has the wrong end date"
[Notes]:
- I am not sure if this is an issue or the experiment date will change after deploying to production.

[Affected versions]:
- Firefox 56.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Set the System date to 10/18/2017.

Steps to reproduce]:
1. Open the browser and navigate to "https://testpilot.stage.mozaws.net/" page.
2. Scroll the page and click

[2017-10-16 12:22] fzzzy commented on #2943
This is because we are using Array.includes, which is part of ES2016, not ES2015. For some reason our babel settings don't convert it; probably our babel settings only use ES2015.

Easiest fix is just to switch back to indexOf; alternatively we could upgrade babel to support ES2017 (which has async/await, which would be nice)

[2017-10-16 12:49] chuckharmston commented on #2943
We should be using [`babel-preset-env`](https://github.com/babel/babel-preset-env), in favor of which `babel-preset-es####` has been deprecated. Rather than choosing a version of the ES spec to comply to, you define your browser spec, and it makes sure it works in each of those browsers.

Worth noting that we should choose our browser spec carefully, as it has the potential to bloat the bundle siz

[2017-10-16 12:50] SoftVision-CosminMuntean opened #2945 "[Enhancement] Add a "Hide Past News" button for Test Pilot news section"
[Affected versions]:
- Firefox 56.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = stage" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-on was already ins

[2017-10-16 14:24] SoftVision-CosminMuntean commented on #2944
I discussed with John and it seems that 9/5/2017 is the intended date.

[2017-10-16 14:24] #2944 closed, assigned to nobody

[2017-10-16 15:12] SoftVision-CosminMuntean commented on #2940
Hi guys,

We have finalized testing the stage server and we have a 86% pass rate on our tests (https://goo.gl/zm1Cir).

Here are the testing results:

**New Issues**
#2942 - "Upgrade Firefox to continue!" error message is wrongly displayed if Test Pilot page is loaded in other browsers (MAJOR)
-This issue is a regression, since is reproducible only on dev and stage servers.
#2943 - Test Pilot webs

[2017-10-16 16:11] fzzzy opened #2946 "Switch to babel-preset-env"
This is the way babel should be used in the future. More information here:

https://github.com/mozilla/testpilot/issues/2943#issuecomment-336876519

[2017-10-16 16:12] ghost commented on #2934
We messed up the timing a bit here w/ l10n and such so we're going to just let it be expired.

[2017-10-16 16:12] #2934 closed, assigned to nobody

[2017-10-16 16:16] ghost commented on #2914
Looks like this specific case is addressed, so closing this. thanks

[2017-10-16 16:16] #2914 closed, assigned to nobody

[2017-10-16 19:10] fzzzy commented on #2943
.includes( was a red herring. It seems that IE chokes on Symbol. Investigating.

[2017-10-16 19:17] fzzzy commented on #2943
Symbol is being used by fluent-react, which is in the vendor bundle, which isn't getting transpiled by our babel toolchain. We are including the compat version of fluent-react which has already been transpiled by babel, but still includes references to Symbol (which it shouldn't as Symbol is defined in es6)

[2017-10-16 19:44] fzzzy commented on #2943
https://github.com/projectfluent/fluent.js/issues/79

[2017-10-16 20:04] lmorchard commented on #2943
[Back when I replaced `babel-polyfill` with `regenerator-runtime`](https://github.com/mozilla/testpilot/commit/4537c8ce8dde6482fd74afa026fc657519d373e0#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L16), it seemed like async/await was the only thing we needed polyfilled.

Maybe we need to re-introduce `babel-polyfill` as a quick fix? Long term fix would be to selectively re-introduce some polyfills - which

[2017-10-16 20:06] lmorchard commented on #2943
Also, [this comment with a .babelrc](https://github.com/babel/babel-preset-env/issues/203#issuecomment-285820866) might be relevant, since it's also about IE11 & Symbol

[2017-10-16 21:28] #2942 closed, assigned to meandavejustice

[2017-10-17 09:30] SoftVision-PaulOiegas opened #2950 "Alert message for "experiment not licalized" is wrongly displayed for graduated experiments on their details pages"
**[Notes]:**
- The alert message also wrongly states that you can still activate the experiment if you want.

**[Affected versions]:**
- Firefox 56.0 and above

**[Affected Platforms]:**
- All Windows
- All mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env =

[2017-10-17 10:50] SoftVision-CosminMuntean commented on #2942
I have retested this issue on Chrome and Safari and is no longer reproducible on dev server. The Test Pilot website is correctly loaded.

[2017-10-17 10:56] psiinon commented on #2873
Sorry for the delayed response @fzzzy :/
Can you see https://github.com/mozilla-services/foxsec-results/blob/master/baseline-scan/Test-Pilot-Summary.md ?
That says that testpilot.firefox.com and testpilot.stage.mozaws.net are both passing.
I think thats because its got the right configs while the scan in pipeline doesnt :/
I need to find out where those configs are and fix them!

You should only a

[2017-10-17 12:47] fzzzy commented on #2942
Unfortunately this patch doesn't apply cleanly on top of the code that is currently on stage, so we're going to have to figure out how to get this deployed.

[2017-10-17 12:57] SoftVision-CosminMuntean opened #2951 "Test Pilot news alerts and latest updates section are no longer displayed on dev server"
[Notes]:
- Yesterday the Test Pilot news alerts and also the "Latest Updates" section were available on dev server.
- The "Latest updates" section is correctly displayed on the stage server.

[Affected versions]:
- Firefox 56.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled

[2017-10-17 13:21] SoftVision-PaulOiegas opened #2952 "Email received by German users for newsletter sign up wrongly promotes graduated experiment (Page Shot)"
**[Affected versions]:**
- Firefox 56.0 and above

**[Affected Platforms]:**
- All Windows
- All mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- From browser "Opt

[2017-10-17 13:48] SoftVision-PaulOiegas opened #2953 ""Learn More" button is wrongly displayed on active experiments cards on supported Firefox versions"
**[Notes]:**
- The "Learn More" button should only be displayed for unsupported Firefox versions and other browsers than Firefox.
- This does not reproduce on stage server so it might be a recent regression (maybe due to #2942).

**[Affected versions]:**
- Firefox 56.0 and above

**[Affected Platforms]:**
- All Windows
- All mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been se

[2017-10-17 14:50] fzzzy commented on #2873
@psiinon Thanks for the response!

No, I can't see the foxsec-results repo.

That's great that it's actually passing!

Hope you can figure out where the scan in the pipeline is configured. Thanks!

[2017-10-17 16:44] lmorchard commented on #2873
IIRC, the form in question doesn't actually submit itself anywhere. It's just UI to JS code that sends a request to an external API for mailing list subscription. No auth or cookies or CSRF tokens involved there, either. And the user has to confirm the subscription out-of-band

[2017-10-17 17:36] chuckharmston commented on #2939
This has been done and deployed: https://contribute.testpilot.firefox.com/

[2017-10-17 17:36] #2939 closed, assigned to chuckharmston

[2017-10-17 17:52] johngruen opened #2954 "Add Photon Color Libarary for Site Colors"
We currently pull colors out of a variables file in our CSS. We should use [this official module](https://www.npmjs.com/package/photon-colors) instead. I think this issue is closable once we add this to the repo.

[2017-10-17 17:56] johngruen opened #2955 "Apply Photon Colors to Site Buttons"
State definitions are here:

https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Component_20171003/#artboard1

Please use colors from #2954 where possible

[2017-10-17 17:58] johngruen opened #2956 "Apply Photon Styles to Modals"
Pease see this spec for details:

https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Component_20171003/#artboard0

@ChenMorpheus can you provide the appropriate emoji assets outlined in this spec?

[2017-10-17 18:01] johngruen opened #2957 "Apply Photon Styles to Experiment Cards"
Please see this spec for complete set of states:

https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Homepage_20170927/#artboard5

The following show responsive views:
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Homepage_20170927/#artboard7
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Homepage_20170927/#a

[2017-10-17 18:04] johngruen opened #2958 "Apply Photon Styles To Email Footer"
Please see the following Spec:

https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Homepage_20170927/#artboard6

@ChenMorpheus can you make sure we have the appropriate email icon asset.

[2017-10-17 18:05] johngruen opened #2959 "Apply Photon Style to News Feed Items"
Please see the following Spec:

https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Homepage_20170927/#artboard4

[2017-10-17 18:08] johngruen opened #2960 "Apply Photon Style to Banners"
There's no direct spec for this one so I'll take it

[2017-10-17 18:13] johngruen opened #2962 "Apply Photon Styles to Experiment Details Pages"
Please see the following spec:

https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Detailpage_20170927/

We could break this down more if necessary but the changes on this page are relatively minor

[2017-10-17 18:18] johngruen commented on #2808
Added the Photonization label since this seems related.

[2017-10-18 00:01] mixedpuppy opened #2968 "Update extension api use"
This is blocking https://bugzilla.mozilla.org/show_bug.cgi?id=1291399

https://github.com/mozilla/testpilot/blob/a732512053cc3cb64d408918dcff85d8cb96a083/addon/src/lib/channels.js#L15

You need to replace the uuid getter to do something like:

const {WebExtensionPolicy} = Cu.getGlobalForObject(Cu.import("resource://gre/modules/Extension.jsm", {}));
let {mozExtensionHostname} = WebExtensionPolicy.g

[2017-10-18 02:25] Pekochen commented on #2867
Hi @wresuolc Can you please describe in more detail the gear menu you want us to design or what's the problem we face? Thanks!

[2017-10-18 03:23] tumaru opened #2969 "please bring back page shot"
i used it a bunch and then you took it away to analyze that how it was working. until you do whatever your going to do can you please put it back onto test pilot?

[2017-10-18 03:24] chuckharmston commented on #2969
Good news! With Firefox 56, Page Shot has shipped with Firefox itself as [Screenshots](https://medium.com/firefox-test-pilot/screenshots-is-shipping-in-firefox-56-25ecbe0d5b91). We're so glad you like it!

[2017-10-18 03:24] #2969 closed, assigned to nobody

[2017-10-18 03:32] ghost commented on #2867
Sorry @Pekochen .  We must have filed this in the middle of triaging.  I try to be better about descriptions.

We were talking about the current Settings menu in the top right of the test pilot site.  It's got a few sub-bullets right now (wiki, discourse, github, uninstall).  We wanted to move Discourse to be a top level link like the blog, but I marked it needs:product for any other decisions --

[2017-10-18 09:08] SoftVision-PaulOiegas commented on #2888
Hi @kgeorgiou, I don't think someone is working on this and don't see anyone assigned to it either. I think it's ok if you pick it up.
Regarding to your proposal of extended keyboard actions support, let's see what @johngruen  has to say about this,

[2017-10-18 14:34] johngruen commented on #2888
@kgeorgiou love it!

[2017-10-18 15:08] johngruen opened #2971 "Apply Photon Wordmark"
https://drive.google.com/open?id=0B-WT7MpBRN0NNS03M0RxdTBHUlk

[2017-10-18 15:13] SoftVision-CosminMuntean commented on #2953
I have retested this issue and is no longer reproducible on Test Pilot dev and stage servers. Marking as verified.

[2017-10-18 15:13] #2953 closed, assigned to nobody

[2017-10-18 15:29] fzzzy commented on #2867
If I remember correctly, we just wanted to get rid of the settings menu entirely, and put all the options currently in the settings menu at the top level.

[2017-10-18 15:46] meandavejustice commented on #2778
fixed in https://github.com/mozilla/testpilot/pull/2918

[2017-10-18 15:46] #2778 closed, assigned to meandavejustice

[2017-10-18 17:42] flodolo commented on #2583
Now it looks like this, with localized names and a completely broken format for Italian. Full English would be better.

<img width="1015" alt="schermata 2017-10-18 alle 19 41 42" src="https://user-images.githubusercontent.com/3644868/31733607-724d2b68-b43c-11e7-9714-40d4a3f889ff.png">

[2017-10-18 17:53] lmorchard commented on #2583
Two spots where we format news update timestamps that need reworking:

* https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/UpdateList/index.js#L12
* https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/NewsUpdatesDialog/index.js#L37

Might be better to use the [Intl.DateTimeFormat](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/

[2017-10-18 17:55] flodolo commented on #2583
Yes, I think that would be a better approach

[2017-10-18 17:59] avliet opened #2974 "MinVid not queueing selected youtube video"
Often, when I select a video on youtube.com, either to play or to queue, I get:

- a video I did not select
- a video I've already watched
- the video pops up in a new window as the regular youtube.com website, but not the min-vid window

[2017-10-18 18:58] lmorchard commented on #2946
Started work on this in a branch: https://github.com/lmorchard/testpilot/tree/2946-babel-preset-env

Doesn't seem to break anything, but doesn't seem to fix anything either. I'm under the impression that it [should be importing selective polyfills as needed](https://github.com/babel/babel-preset-env#usebuiltins-usage), but I'm not seeing that happen.

I'm probably missing something in the configur

[2017-10-18 20:12] #2744 closed, assigned to nobody

[2017-10-19 05:13] tumaru commented on #2969
thanks man. that's great news.

[2017-10-19 08:02] ChenMorpheus commented on #2867
@clouserw @johngruen @fzzzy I agree it's odd to put all these options in Settings. However, we might need to take a moment to consider if it's appropriate to display all options at the top level. My concerns are: are these items so essential that they must place here? Will uninstall button encourages users to uninstall?

Therefore, I created the wireframe below to propose two solutions. Proposal A

[2017-10-19 10:13] ChenMorpheus opened #2976 "UX spec for Featured Experiments"
@johngruen @clouserw Please find the Lucidchart link for overall flow and InVision link for the UX spec for featured experiments. Peko is working on the visual design. Let us know if any questions, thanks.

![default](https://user-images.githubusercontent.com/18019946/31766157-600c57ae-b4f9-11e7-9b69-27229f2807a5.png)

Lucidchart:
https://www.lucidchart.com/invitations/accept/89f867d6-ca3a-450a-b6

[2017-10-19 11:27] SoftVision-PaulOiegas opened #2977 "[Responsive UI] The "Graduation Report" button breaks the page design on mobile devices in portrait mode (Android)"
**[Affected versions]:**
- Firefox 56.0 and above

**[Affected Platforms]:**
- Android

**[Steps to reproduce]:**
1. Open Firefox browser on an Android phone and navigate to https://testpilot.firefox.com page.
2. Scroll down on the page and click the "View Past Experiments" button.
3. After section is expanded, click on any graduated experiment card that has a report (Pulse, Page Shot, Tracking Pr

[2017-10-19 12:04] Softvision-CristinaBadescu commented on #2974
Thanks for reporting this, but it seems we have 3 different issues described. I'll reply for each one described in bullets:

1. This is a dupe for a known issue: [#1075.](https://github.com/meandavejustice/min-vid/issues/1075)

2. The second issue may be related to the first one you mentioned, but please log it on the Min Vid repository (https://github.com/meandavejustice/min-vid/issues) in order

[2017-10-19 12:04] #2974 closed, assigned to nobody

[2017-10-19 12:21] SoftVision-PaulOiegas commented on #2914
This was indeed fixed for Spanish [es-es], especially fort the "Launch Tour" string, but there are still languages that may show this behavior. At least for the "Changelog" string I've found the next ones:

[code]
@flodolo Can we double check those to if they need to be changed too?

[2017-10-19 12:48] flodolo commented on #2914
I'll try, but chasing down all locales for this kind of problems doesn't really scale (locales x projects, not all of them are responsive).

ast: @enolp
cs: @MikkCZ
dsb/hsb: @milupo
hu: @meskobalazs

[2017-10-19 13:04] SoftVision-PaulOiegas commented on #2867
Personal opinion. I think B is to mainstream right now, every website has the footer like this. I think A looks better because its more slimmer. But I would suggest moving the uninstall button on the footer as in proposal B, we don't want to show that so soon maybe.
Also, I think we do want to have at least the "Blog", "Discourse" and "File a bug" on top.

Maybe it would be a good idea to have som

[2017-10-19 13:28] meskobalazs commented on #2914
Fixed it in hu, thanks!

[2017-10-19 13:39] milupo commented on #2914
Changed on Pontoon for both hsb and dsb.

[2017-10-19 13:43] SoftVision-PaulOiegas commented on #2914
I understand, probably there are others lurking around, but I insisted on this one since it's quite user facing and since we were already aware of it...
Thanks @flodolo! 👍

[2017-10-19 16:11] lmorchard commented on #2867
FWIW, the current CTR for all of these things is very low. That's the reason for this issue: We'd like to *increase* the CTR on at least some of these things by making them more visible. That is, encourage more users to visit the discourse forums, get more readers of the blog, etc. I guess the thing is to decide which of these are most important to push for more a higher CTR

[2017-10-19 16:14] lmorchard commented on #2968
Moved this into the current sprint, since it seems urgent

[2017-10-19 19:13] lmorchard opened #2978 "Remove BroadcastChannels support for Telemetry pings from WebExtension experiments?"
In [`addon/src/lib/channels.js`](https://github.com/mozilla/testpilot/blob/master/addon/src/lib/channels.js), we have support for a BroadcastChannel hack that lets WebExtension based experiments ping Telemetry by way of sending an event through the main Test Pilot add-on.

It's already needed one tweak to keep up with Firefox APIs (#2968), and it will probably need more. Would be nice to finally r

[2017-10-19 21:08] #2657 closed, assigned to fzzzy

[2017-10-19 23:03] mixedpuppy commented on #2968
No rush, but when this does get resolved, can you ni? me on the bugzilla bug?  Thanks!

[2017-10-19 23:04] mixedpuppy commented on #2968
Literally no rush, I just read the above comments, this is not an urgent issue.  I'm just doing some cleanup here and there this quarter.

[2017-10-20 07:47] ChenMorpheus commented on #2867
@lmorchard @SoftVision-PaulOiegas Thanks for the information. If that's the case, I would suggest displaying "news feed," "blog," "discourse" and "file a bug" at the top level. The news feed is a proposed change for the UX of the featured experiment (https://github.com/mozilla/testpilot/issues/2976). Also, I would want to make "file a bug" into an action-emphasized button since it provides differe

[2017-10-20 13:55] SoftVision-CosminMuntean commented on #2943
I have retested this issue and is no longer reproducible on Test Pilot dev server.  Test Pilot website is now fully loaded in Microsoft Edge and Internet Explorer.
But, on Internet Explorer the website is wrongly rendered. This issue was logged a while ago (#1705) but was closed based on  low number of users on Internet Explorer.

[2017-10-20 13:55] #2943 closed, assigned to fzzzy

[2017-10-20 16:21] SoftVision-PaulOiegas commented on #2867
Looks great! Just one thing, I don't see "Legal" and "Give Feedback" links on bottom.

[2017-10-20 19:26] fzzzy commented on #2109
From looking at the code, I believe this issue has already been fixed. It is hard to test since I don't think we have any experiments which set the incompatible addons field right now. I think we should close this.

[2017-10-20 19:26] #2109 closed, assigned to fzzzy

[2017-10-22 02:49] epq commented on #1604
I'd like to work on this issue.

[2017-10-22 23:09] enolp commented on #2914
Fixed for Asturian, thanks for notifying us.

[2017-10-23 01:07] robbglass opened #2981 "Containers"
I've been extremely disjointed since the disappearance of Group Tabs and hope Containers is a worthy replacement.

"Containers is activated" appears across the top of Test Pilot page. But how to utilize Containers ?

Multi Account Containers 4.0.3 is listed in my extensions library but its icon does appear in the toolbar.

Thanks !

Rob Glass   Late '15 iMac/OS 10.12.6/FF 56.0
[](url)

[2017-10-23 03:17] ChenMorpheus commented on #2867
So sorry that I didn't notice they weren't on the footer. Updated, thanks for your excellent eyes. Please let me know if the order is inappropriate.

BTW, I would like to propose to display the buttons as well for the moment users haven't installed Test Pilot. When users scroll down the page, the toolbar stays at the top level and shows "install Test Pilot" button.

![default](https://user-images.

[2017-10-23 09:18] Pekochen commented on #2956
Hi @johngruen
Here is the asset for modal
https://github.com/mozilla/testpilot-assets/tree/master/Test_Pilot_Website/00_Assets/Modal
Related to email icon, please use "mail 16"
you can get this from http://design.firefox.com/icons/viewer/
Thanks.

[2017-10-23 09:22] Pekochen commented on #2957
Please get these two icons from
http://design.firefox.com/icons/viewer/
1.Star: bookmark 16 filled
2.Check: check 16

[2017-10-23 09:53] Pekochen commented on #2958
Hi @johngruen
You can find checkbox status for email footer here
https://github.com/mozilla/testpilot-assets/tree/master/Test_Pilot_Website/00_Assets/Email%20footer
and for email icon, please use "mail 16"
you can get this from http://design.firefox.com/icons/viewer/
Thanks.

[2017-10-23 11:14] SoftVision-EmilPasca commented on #2981
I have tested this issue on Mac OS 10.12 with Firefox Release 56 and with the latest Multi Account Containers(4.0.3) and haven't managed to reproduce it.

@robbglass  when have you first encountered this issue? Did the previous version of Containers(3.1.1) from TestPilot worked? Have you updated the TestPilot version of Containers with the one from AMO and from that point you've started seeing thi

[2017-10-23 11:14] #2981 closed, assigned to nobody

[2017-10-23 14:15] fzzzy commented on #2940
#2942 was fixed, and the release went out.

[2017-10-23 14:15] #2940 closed, assigned to nobody

[2017-10-23 16:16] lmorchard commented on #2473
Assigning myself, since I've been troubleshooting it. But, there's no fix that I'm actively working on. Kind of in limbo right now until/unless I can figure out what might be going on

[2017-10-23 17:05] johngruen commented on #2867
I like option B best w/ the scrolled state featured in the most recent comment. I'm a little averse to having Discourse up there for users without the add-on installed though. Seems risky to bounce people out of the TxP UI before they've installed.

[2017-10-23 18:55] #1604 closed, assigned to nobody

[2017-10-23 21:26] #2697 closed, assigned to meandavejustice

[2017-10-23 21:27] fzzzy commented on #2391
This was fixed by https://github.com/mozilla/testpilot/pull/2984

[2017-10-23 21:27] #2391 closed, assigned to nobody

[2017-10-23 22:42] meandavejustice commented on #2897
I've not been able to reproduce this today on Dev or Production. Assuming there might have been an unintentional fix between the release when this issue was filed (looks like https://github.com/mozilla/testpilot/commit/af1db23624b3c80b61548c8c558599003f70e8b1) and the most recent release on production (https://github.com/mozilla/testpilot/commit/588bafc7e959909f73b4e224c3672d2a974bbfe8). I reckon

[2017-10-23 22:44] meandavejustice commented on #2917
@johngruen If you can link to the fix yall are talking about here I don't mind taking this over.

[2017-10-24 01:51] chuckharmston commented on #2976
A bit of concern from me in the UX meeting today: I fear that this will cannibalize installs for non-featured experiments. If the goal is to push as many conversions as possible to that experiment (as seems to be the case for Q4/Q1), that's no problem, but I'd still suggest considering this in both the visual design and UX spec. Some considerations:

- Completely collapse this section if the user

[2017-10-24 06:47] ChenMorpheus commented on #2976
@chuckharmston @johngruen Sorry that I didn't have the chance to elaborate my thought in the meeting. My idea exactly is what you propose here. You can find the link below for the prototype. When we detect users' screen resolution is below a certain value, we display the strip button to remind users there are more experiments underneath. While users click the strip button, it scrolls down the page

[2017-10-24 13:22] SoftVision-CosminMuntean commented on #2897
@meandavejustice I have managed to reproduce this issue on Test Pilot dev and also on production after uninstalling Test Pilot add-on (in the same session) at least 10 times.

[2017-10-24 13:27] fzzzy commented on #2897
@softvision-cosminmuntean Does it happen more frequently on Windows or are you able to repro reliably on any platform?

[2017-10-24 13:35] SoftVision-CosminMuntean commented on #2897
I just tested this on Mac Os 10.12 and is harder to reproduce. I was able to reproduce the issue after ~20 attempts. So I think is more frequently on Windows.

[2017-10-24 13:42] SoftVision-CosminMuntean commented on #2697
I have retested this issue and is no longer reproducible on Test Pilot dev server.
After clicking the "Cancel" button the "Enabling..." button is changed back in the "Enable [experiment_name]" button and the "Uh oh. [experiment_name] could not be enabled. Try again later." error is displayed.
Marking this issue as verified.

[2017-10-24 13:51] johngruen commented on #2917
@meandavejustice sure...https://github.com/mozilla/testpilot/pull/2905 fixed this in a few places. basically you'll need to delete the inline strings.

[2017-10-24 14:02] SoftVision-CosminMuntean commented on #2897
I am not sure if this helps, but:
- here is a screenshot of the Network Monitor when the issue is not reproducible: https://goo.gl/BmKPnQ
- here is a screenshot of the Network Monitor when the issue is reproducible: https://goo.gl/UcEMV1

[2017-10-24 15:43] fzzzy opened #2986 "Update all dependencies except the airbnb lint configuration"
We're really behind on updating our dependencies, and it has become really hard. I will do whatever I can to get this patch ready to land at the very beginning of the next sprint.

[2017-10-24 17:05] fzzzy commented on #2946
`npm run analyzer` is the command to use to visualize the result of the bundling.

[2017-10-24 17:17] lmorchard commented on #2946
FWIW, you can also do `ANALYZER=1 npm start` to run the analyzer *and* the normal site build. `npm run analyzer` only runs webpack and not the rest of the site build

[2017-10-24 18:11] meandavejustice commented on #2897
Wonder if this is some sort of caching issue if it takes 20 times to reproduce

[2017-10-24 18:18] fzzzy commented on #2946
According to the docs:

https://babeljs.io/docs/plugins/preset-env/#optionsuse-built-ins

"useBuiltIns" is a boolean, and import 'babel-polyfill'; will then be replaced with only the polyfills required by the specified targets. If I set it to `true` instead of usage, add `import 'babel-polyfill';` back in to App/index.js, remove 'babel-polyfill' from excludeVendorModules, and remove 'babel-polyfil

[2017-10-25 06:54] ChenMorpheus commented on #2867
@johngruen Since I got the request to align with [AMO's new design](https://addons-dev.allizom.org/en-US/android/), I've updated the screens to provide various scenarios. You can find the link below for the different cases, and I also attach several screens for clarification. Please let me know if any questions, thanks.
(The Turquoise bar at the top level is just the navigation for this prototype.

[2017-10-25 22:59] johngruen commented on #1859
I'm going to reboot this issue by adding a string to localization here so that we can pull out local strings to design a good UX here.

[2017-10-25 23:01] johngruen commented on #1859
I'll just do "Test Pilot requires JavaScript. Sorry about that" we won't be able to link to a localized resource anyway so i think that will be sufficient.

[2017-10-25 23:16] johngruen commented on #1859
@ChenMorpheus we're going to get the locale strings coming in, when we have a bunch, i'll extract them for you and put them in here. Keep an eye on this ticket.

[2017-10-25 23:27] johngruen commented on #2298
@fzzzy do you have a sense of why this is happening. I am trying to put together #2563 and trying to figure out the difficulty here.

[2017-10-25 23:28] johngruen commented on #2557
@clouserw any idea why this is needs:product?

[2017-10-25 23:47] johngruen commented on #2878
Relevant: https://bugzilla.mozilla.org/show_bug.cgi?id=1396462

[2017-10-26 02:30] fzzzy commented on #2298
@johngruen Just a guess, but if focus is blocking some requests maybe that could cause it. Is it still happening?

[2017-10-26 02:35] chuckharmston commented on #2298
Could always use Wireshark to compare the expected set of requests with the actual ones that happen?

[2017-10-26 02:55] ChenMorpheus commented on #1859
@johngruen Got it. We will check if we could provide an icon or illustration as complement then.

[2017-10-26 06:27] grahamperrin commented on #2563
[Test Pilot site lacks a scroll bar in Firefox on Mac OS X 10.13.x (macOS High Sierra) · Issue #2827 · mozilla/testpilot](https://github.com/mozilla/testpilot/issues/2827)

[2017-10-26 13:02] fzzzy commented on #2563
Related to this, the work to switch to babel-preset-env (https://github.com/mozilla/testpilot/pull/2987) does allow IE 11 to work without JS errors, but IE doesn't implement flexbox correctly so the pages don't render properly. If we omit IE from the babel-preset-env configs, our bundle gets about 200-300k smaller. It would be nice to not support IE :-)

[2017-10-26 17:02] lmorchard commented on #2557
I think we were trying to decide whether this is still something we wanted the add-on to do on uninstall. It doesn't do it now - so if that's okay product-wise, we can just close this.

[2017-10-26 17:23] lmorchard commented on #1859
FWIW, since all localization is done via client-side JS right now, to actually *use* that string will require a sizable reworking of how we build & serve up the site's static pages.

Main visible thing would be changing URLs so they contain the locale (i.e. `/{locale}/experiments`, etc) - might also want a language selector in the footer, too. Thought we had an issue for all of that, but I can't f

[2017-10-26 18:06] johngruen commented on #1859
@lmorchard, not looking to pass the string into code. I want go through the locales and get he correct translation of the string for our top 10-15 languages then just put all of them directly into the noscript tag.

[2017-10-26 18:09] fzzzy commented on #2946
While work is progressing smoothly on this issue, I'm going to kick it into next sprint because there are too many outstanding questions.

[2017-10-26 18:18] fzzzy commented on #2946
It looks like babel-preset-env 2 is what we want, but it is not out yet. We should probably wait until it is released or see if we can use a prerelease:

https://github.com/babel/babel-preset-env/issues/443

[2017-10-26 18:21] fzzzy commented on #2298
I just tested with Focus against prod, and it works fine. My guess is that focus was blocking the user counts request, and the page never finished loading. We removed the user counts a few sprints back.

[2017-10-26 18:23] fzzzy commented on #1859
@johngruen Excellent plan.

[2017-10-26 18:52] johngruen commented on #2298
only Focus for iOS is affected.

[2017-10-26 20:10] chuckharmston commented on #2298
I can't repro on release or beta on iOS.

[2017-10-26 20:10] lmorchard commented on #2696
Looks like PR #2993 fixed a part of this issue, but there's still work left:

- [x] Remove getExperimentLastSeen / setExperimentLastSeen
- [x] Update tests to reflect changes as necessary
- [x] Update stories if necessary (might not be)

[2017-10-26 20:12] fzzzy commented on #2298
@johngruen Yes, I tested with Focus for iOS...

[2017-10-26 20:20] alexgibson commented on #2298
I can confirm using the latest version of Focus on iOS that the site now loads OK for me too.

[2017-10-26 21:51] #2298 closed, assigned to nobody

[2017-10-27 09:16] ChenMorpheus commented on #2867
We had a meeting with Design System team and realized that we must put links for Firefox products in the footer. (You can find attachment for example)So we will sync with them and update the screen again and provide measurement accordingly.

![default](https://user-images.githubusercontent.com/18019946/32096584-76c85e8e-bb39-11e7-9d31-13263e3e1db2.png)

[2017-10-27 09:54] Pekochen commented on #2976
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Featured_experiment/
Here is the measurement of the main page for the featured experiment. I will provide rest of them asap.
For the header, Please keep it temporary because we might have a bit change at this part. Sorry about that. and also for scroll hint, I would like to do a loop animation for it, something like
![sc

[2017-10-27 17:50] ghost commented on #2952
the interface is all changed now.  kirby is going to help me with this on monday

[2017-10-27 18:39] #2888 closed, assigned to nobody

[2017-10-27 19:38] lmorchard opened #2995 "Document or update add-on build scripts to fix frame scripts in temporary installation"
[Recent Firefox changes have broken frame scripts for legacy add-ons in temporary installation](https://bugzilla.mozilla.org/show_bug.cgi?id=1393805) - unless the add-on XPI is loaded from a special directory that varies between platforms and user profile location.

We use frame scripts in the add-on to inject `navigator.testpilotAddon` into the Test Pilot web frontend, about:home, and mozilla.org

[2017-10-27 20:45] #2968 closed, assigned to lmorchard

[2017-10-27 21:06] fzzzy opened #2996 "Release 2017-10-27 on stage"
Please test!

[2017-10-27 21:10] meandavejustice commented on #1859
Looks like this was accidentally closed by the wording in #2988, reopening

[2017-10-27 21:56] lmorchard commented on #1859
I missed some conversation about that plan earlier in the issue... rather than manually copy/pasting the strings, we should probably roll it into the code that builds the static page on deploy. It's likely that these strings will be updated & added to over time across locales, and it would be nice to pick them up from the FTL files when we deploy.

[2017-10-30 10:06] SoftVision-CosminMuntean opened #2997 ""Welcome to Test Pilot!" pop-up is wrongly dismissed when any action is performed"
[Notes]:
- It seems that after installing Test Pilot add-on, the page is wrongly refreshed when any action is performed (clicking anywhere on the page or focusing other appreciations).

[Affected versions]:
- Firefox 56.0 and above

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled

[2017-10-30 13:51] SoftVision-CosminMuntean commented on #2996
Hi guys,

We have finalized testing the stage server and we have a 91% pass rate on our tests https://goo.gl/nwgqUv.

Here are the testing results:

**New Issues**
#2997 - "Welcome to Test Pilot!" pop-up is wrongly dismissed when any action is performed
-after installing Test Pilot add-on, if any action is performed (clicking anywhere on the page or focusing other appreciations), the page is wrong

[2017-10-30 15:37] chuckharmston commented on #2976
This looks great! I see a few things with missing UX:

- [x] The modal for displaying the [experiment privacy notice](https://user-images.githubusercontent.com/23885/32179583-684999d6-bd55-11e7-966d-73f652208f0e.png)
- [x] The sticky banner for ["or try our other experiments"](https://user-images.githubusercontent.com/23885/32179657-96732368-bd55-11e7-8db1-befb74b1b075.png) (Available in https://g

[2017-10-30 15:40] chuckharmston commented on #2976
We can do this with CSS animations, a static version of just one of the arrows should be fine.

[2017-10-30 16:05] lmorchard commented on #2997
Will take a look today - *might* be related to #2983 that I just merged (since it dealt with dialogs) but I didn't see this issue when I reviewed the PR.

[2017-10-30 16:09] johngruen commented on #2878
This is not in our OFFICIAL support matrix™

[2017-10-30 16:10] #2878 closed, assigned to johngruen

[2017-10-30 16:15] johngruen commented on #2954
I think this is merged

[2017-10-30 16:22] chuckharmston commented on #2976
Also of note: Photonization will be happening in the next few weeks. Perhaps these should be updated to match the Photon styles?

[2017-10-30 16:36] #2954 closed, assigned to nobody

[2017-10-30 16:41] chuckharmston opened #2998 "New component for dismissable modal window"
With the new featured experiment experience being specced in #2976, we'll be introducing a modal document display sort of thing to display an experiment's privacy notice:

![oct-30-2017 10-39-21](https://user-images.githubusercontent.com/23885/32183367-baa5d056-bd5e-11e7-88a1-f2a3eb899672.gif)

This is pending UX, and is blocked by #2976.

[2017-10-30 16:44] chuckharmston opened #2999 "Create and document a new is_featured content property."
`is_featured` will be a boolean indicating which (if any) experiments are featured at the top of the homepage. If more than one are specified, the one with the lowest `order` value will be shown.

[2017-10-30 16:48] chuckharmston opened #3000 "Create a standalone news feed page."
We will be replacing the news feed in the homepage with a section highlighting a featured experiment, and will be moving the news feed out to a standalone page:

<img width="1131" alt="screen shot 2017-10-30 at 10 45 20" src="https://user-images.githubusercontent.com/23885/32183794-dd914144-bd5f-11e7-9d6d-6c2a4cd689f2.png">

This is blocked pending UX in #2976.

[2017-10-30 16:57] chuckharmston opened #3001 "Fix position of the "Try our other experiments" header"
To make sure that the new featured experiment UI doesn't cannibalize installations from other experiments, we'd like to make the "Or try our other experiments" header sticky to the bottom of the page if it would be off the page.

![](https://user-images.githubusercontent.com/18019946/31928140-96400df6-b8c9-11e7-9f46-9d4a2bb4ffa4.png)

![](https://user-images.githubusercontent.com/18019946/31928179

[2017-10-30 16:58] chuckharmston opened #3002 "Add news feed link to top menu."
Since the news feed will be removed from the homepage, we're creating a standalone page for it in #3000. This will need to be added to the menu at the top of the page.

This is blocked on UX in #2976 and implementation of the news feed page on #3000.

[2017-10-30 17:08] chuckharmston opened #3003 "Create featured experiment section on homepage."
We will be replacing the homepage newsfeed with a section highlighting a featured experiment. This bug tracks the work for the implementation of that section itself.

Some [UX is available](https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Featured_experiment/), but pieces of this are blocked on #2976:

- Photonization
- The no-featured-experiment experience
- The no-vi

[2017-10-30 18:34] lmorchard commented on #2997
Huh, this is weird: I can reproduce on [staging](https://testpilot.stage.mozaws.net/experiments) and [dev](https://testpilot.dev.mozaws.net/experiments), but not in my local environment. I don't see any apparently relevant errors in the console. Still investigating...

[2017-10-30 18:35] kgeorgiou commented on #2997
@lmorchard, looking into it as well.

[2017-10-30 19:24] #2917 closed, assigned to meandavejustice

[2017-10-30 19:28] lmorchard commented on #2997
Another interesting detail: I could finally reproduce on my local machine after rebuilding the add-on. So, I'm thinking maybe this has more to do with the add-on than the welcome dialog

[2017-10-30 21:02] meandavejustice commented on #2956
Is there an example image for the news updates dialog? This is the most recent example I have https://mozilla.invisionapp.com/share/9YBLHHZKD#/screens/229830551 wanna include those in this update

[2017-10-30 22:54] ghost commented on #2952
@kirbzilla did all the hard work here.

The confirmation email remains in German (it has no content that will expire).  The welcome email is now in English.

[2017-10-30 22:54] #2952 closed, assigned to clouserw

[2017-10-31 01:25] johngruen commented on #2956
@meandavejustice i don't think so, @ChenMorpheus can you turn around an example for this ASAP?

[2017-10-31 01:40] kgeorgiou commented on #2997
I've managed to narrow it down to: https://github.com/mozilla/testpilot/blob/856b774168ce10d704b63602934f95ff4921fb44/frontend/src/app/lib/InstallManager.js#L18-L38 that was changed in #2984. Reverting the changes in [InstallManager.js](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/lib/InstallManager.js) seems to produce the normal/expected behaviour.
I'm not familiar with how

[2017-10-31 01:41] johngruen commented on #2867
@johngruen to provide some have-to-haves in the footer.

[2017-10-31 04:07] ChenMorpheus commented on #2956
@Pekochen @youwenliang Could you dig out the proposal and provide screens and measurements accordingly?

@johngruen Since the design we have is not Photonized, it might still take a while to provide the screens, but we will try it ASAP.

[2017-10-31 06:26] Pekochen commented on #2976
Please see the latest update for featured experiment
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Featured_experiment/
Thanks!

[2017-10-31 06:50] kgeorgiou commented on #2997
I've tried putting something together.
There is an issue where both the Test Pilot and the Experiment addons invoke the following function when installed:
https://github.com/mozilla/testpilot/blob/856b774168ce10d704b63602934f95ff4921fb44/frontend/src/app/lib/InstallManager.js#L18-L21
The URL for the Test Pilot addon is different from the experiments. There's no `files/` or `@` to be found and the

[2017-10-31 08:57] ChenMorpheus commented on #2976
The sticky banner for "or try our other experiments"
    The experience if Firefox is not being used.
    How it looks on small screens
    The experience for the standalone news feed page.

Peko will provide everything in the list above and share the details with you.
As for other items, I would like to talk about it one by one.

@johngruen I assume there will always be a video for the featured e

[2017-10-31 11:20] SoftVision-CosminMuntean opened #3005 "Test Pilot no longer works on dev server"
[Affected versions]:
- Firefox 56.0 and above

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = stage" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

[Steps to reproduce]:
1. Ope

[2017-10-31 12:27] fzzzy commented on #3005
And absolutely no error messages anywhere...

[2017-10-31 12:30] fzzzy commented on #3005
The head of master works fine when testing locally, so there must be a deploy problem.

[2017-10-31 12:33] fzzzy commented on #3005
app.js is 404.

[2017-10-31 13:01] fzzzy commented on #3005
I fixed it by retriggering the build from the latest commit on master:

https://circleci.com/gh/mozilla/testpilot/6075

[2017-10-31 14:19] fzzzy opened #3006 "Code related to RESTART_NEEDED is no longer required"
In https://github.com/mozilla/testpilot/blob/master/frontend/src/app/lib/InstallManager.js we still have code related to `RESTART_NEEDED` which hasn't ever worked since we stopped using the non-mozAddonManager codepath. All code related to this can be removed now.

[2017-10-31 14:26] johngruen commented on #2956
Okay, @ChenMorpheus I will work with @meandavejustice to best-guess the correct style based on all other other specs you've provided. @meandavejustice let's just ping-pong commits until we get something that feels close. We can do follow up changes as needed.

[2017-10-31 14:28] #2557 closed, assigned to nobody

[2017-10-31 14:38] fzzzy commented on #2997
@kgeorgiou That patch looks good. I think "experimentTitle ends up being https" is an unrelated bug, can you file a new bug for that, and open a new pull request?

While your fix for this bug does work, we would like to have a fix that does not rely on onInstallEnded. I believe I have a patch that works now, which is removing pollMainAddonAvailability which was old code that is no longer required,

[2017-10-31 16:41] mixedpuppy commented on #2968
Is it safe to land the patch in bug 1291399 for 58?

[2017-10-31 16:54] lmorchard commented on #2968
We haven't deployed this code yet and add-on updates haven't rolled out. We're working through issues with a deployment right now, so it might be okay by the time 58 hits nightly?

FWIW, this is our issue tracking the current deployment https://github.com/mozilla/testpilot/issues/2996

[2017-10-31 17:55] fzzzy opened #3008 "Move the locale into the URL"
Right now, every locale accesses the site at the same urls, `/`, `/experiments`, `/experiment/foo` and translation is done in the browser using fluent-react. If we moved the locale to the beginning of the url, like `/en-US/`, `/en-US/experiments`, '/en-US/experiment/foo`, then the locale will be known at build time, meaning:

  - Search engines will see all language content
  - We can localize the

[2017-10-31 18:23] meandavejustice commented on #2956
@johngruen Sounds good to me, should have something together tomorrow morning for you to look at

[2017-10-31 18:24] fzzzy commented on #3008
There's an existing issue for localizing the <title>:

https://github.com/mozilla/testpilot/issues/2612

[2017-10-31 19:01] lmorchard commented on #3005
Grr. Don't know why this is still happening. Seemed like an issue of parallel deploys pushing an index.html that had the wrong path to the app.345345345.js that ended up on S3, but [I thought I fixed that](https://github.com/mozilla/testpilot/commits/master/circle.yml) between serializing deploys and waiting for Cloudfront invalidations

[2017-10-31 20:46] #2997 closed, assigned to lmorchard

[2017-10-31 20:53] fzzzy commented on #2996
I think we fixed https://github.com/mozilla/testpilot/issues/2997, and I have pushed another release 2017-10-31 to stage. Reusing this tracking bug.

[2017-10-31 20:53] fzzzy commented on #2968
@mixedpuppy We hope to have the code deployed by tomorrow.

[2017-10-31 23:57] mixedpuppy commented on #2968
Ok, I'll plan to land bug 1291399 next week.

[2017-11-01 02:20] kgeorgiou opened #3010 "Handle experiment title extraction from addon installation URL when the Test Pilot addon is installed"
When an experiment is enabled, the following code extracts the experiment title from the URL and uses it in GA events:
https://github.com/mozilla/testpilot/blob/48982797d849f7651642e4b8278b20176d0c2a85/frontend/src/app/lib/InstallManager.js#L18-L21
This works for Experiment addons:
`https://testpilot.firefox.com/files/notes@mozilla.com/latest` -> **notes**

But the above code is also called when t

[2017-11-01 03:29] youwenliang commented on #2956
I think Peko has an updated version here: https://mozilla.invisionapp.com/share/Z8E7QF476#/screens
It's an early version so we will sync with the current photonization design Peko did and provide the updated measurement soon!

[2017-11-01 06:27] Pekochen commented on #3000
Hi Chuck,
Please check here for the measurement.
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Featured_experiment/
For convenience, I put all the pages into one file.
and for news feed, you can check
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Featured_experiment/#artboard6
I also update the hover and the press status,
for news fee

[2017-11-01 06:46] Pekochen commented on #3000
For menu design in the small window version, we are waiting for sync AMO design. Can you please keep this part and we will keep update after aligning with AMO.
Thanks.

[2017-11-01 06:49] Pekochen commented on #3001
Hi Chuck,
Please see the link as below for the measurement.
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Featured_experiment/#artboard4

please use"arrowhead down 16" for arrow icon. you can download it from
http://design.firefox.com/icons/viewer/

[2017-11-01 06:51] Pekochen commented on #3003
The latest visual measurement:
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Featured_experiment/

[2017-11-01 07:36] Pekochen commented on #2976
Updated the rest of pages
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Featured_experiment/

I will provide Photonized featured experiment in few days.
Thanks

[2017-11-01 13:13] SoftVision-CosminMuntean commented on #2638
It seems that this issue is again reproducible, the newsletter confirmation email is not sent.  I am not sure if this is reproducible only for Romania or for other EU countries too.
Also, I have used a US VPN and the confirmation email was sent.

[2017-11-01 13:17] SoftVision-CosminMuntean commented on #2997
I have retested this issue on Test Pilot dev and stage servers and is no longer reproducible. Marking as verified.

[2017-11-01 13:41] SoftVision-CosminMuntean commented on #2638
Ciprian, Carmen and Emil just tested this issue and they cannot reproduce it. All of them received the confirmation email.
So probably my machine or my email accounts have some issues.

[2017-11-01 13:41] SoftVision-CosminMuntean commented on #2996
We just finished finalized testing the stage server. The issue #2997 seems to be fixed and we also haven't found any new issues. From the QA point of view we are good for deploying to production.

[2017-11-01 15:27] fzzzy opened #3013 "Remove /legacy page and redirect to home page from URL"
We sometimes get errors from really old versions of firefox visiting /legacy. There is nothing dynamic on that page; we could simply make it a static page and not include any js.

[2017-11-01 15:52] chuckharmston commented on #3003
Of note, we will maintain the existing News Feed section in place of this if there are no featured experiments.

[2017-11-01 15:57] chuckharmston commented on #2976
This is great, thanks @Pekochen! All we need now is the Photonized version and the modal window (#2998).

[2017-11-01 15:58] fzzzy opened #3014 "Rebase the patches cleaning up the addon polling code that was written while diagnosing bug 2997"
The code in question is here:

https://github.com/mozilla/testpilot/pull/3007/files

There are a lot of good cleanups of old stuff here, but it doesn't pass the integration tests.

[2017-11-01 16:08] ghost commented on #3013
Let's just get rid of this page.  (redirect to home page off this URL).

[2017-11-01 16:13] #2996 closed, assigned to nobody

[2017-11-01 20:02] lmorchard commented on #2959
Starting work on this. First question: I clicked on the spaceship copter and saw an exportable [`icon_spaceship.svg`](https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Homepage_20170927/assets/icon_spaceship.svg). So, I figured I'd use that rather than the `copter.png` [we moved into its own component](https://github.com/mozilla/testpilot/commit/a4bc201244dba7441fab6787

[2017-11-01 20:54] meandavejustice opened #3015 "Fresh News updates not being shown"
issue has been narrowed down to the `seenSelector`

https://github.com/mozilla/testpilot/blob/master/frontend/src/app/selectors/news.js#L46

[2017-11-01 20:58] johngruen opened #3016 "Resolve UX bugs for news-related badging"
The new work to resolve #2419 has introduced a few usability bugs. We need to resolve the following:
1. All news items should have an optional `major` flag in yaml (optionally this could be keyed off the image field, but that seems semantically inaccurate)
2. Only `major` items should trigger a badge in the add-on and a modal on the site
3. Any badging or modals form major updates should expire af

[2017-11-01 21:02] johngruen commented on #3016
note: not sure if issue 4 is happening for me b/c i've commented out the seenSelector in order to be able to see news stuff in the first place

Related #3015

[2017-11-01 23:10] johngruen commented on #2959
🤷‍♂️ huh

[2017-11-02 05:42] kgeorgiou opened #3017 "Update testing.md document"
[Testing.md](testpilot/docs/development/testing.md) looks like it needs some extra information/instructions to make testing easier for people new to Test Pilot.

## All tests

- Undocumented dependency on [tox](https://tox.readthedocs.io/en/latest/)
- `flow-coverage` fails for the minimum coverage threshold:
[code]

## Integration tests

That issue seems to be resolved now.

[2017-11-02 10:41] Pekochen commented on #2976
Hi @chuckharmston
Updated a privacy page.
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Featured_Experiment_privacy/#artboard0
Thank you~

[2017-11-02 11:46] fzzzy commented on #3017
Yes, the flow coverage percentage is not enforced anywhere right now. test:all should probably change so that it is closer to what runs on circleci.

Thanks for filing this issue!

[2017-11-02 15:04] meandavejustice commented on #2956
@youwenliang This looks like the current version, are you sure you linked to the _updated_ version?

[2017-11-02 17:33] chuckharmston opened #3019 "Updated featured experiment UX for Photonization"
We have the UX ready for the featured experiments project in #2976. We'll be moving the site over to Photon styles before shipping this feature, so we'll need to update this excellent UX work to match.

CC @pekochen

[2017-11-02 17:33] chuckharmston commented on #2976
Looks great! We're now just blocked on the Photon styles. I'll close this issue as a success, and open a new one for that: #3019.

[2017-11-02 17:33] #2976 closed, assigned to ChenMorpheus

[2017-11-02 17:34] chuckharmston commented on #2998
No longer blocked on #2976; the work from it just needs to be updated to match the Photon styles, tracked in #3019.

[2017-11-02 17:34] chuckharmston commented on #3000
No longer blocked on #2976; the work from it just needs to be updated to match the Photon styles, tracked in #3019.

[2017-11-02 17:35] chuckharmston commented on #3001
No longer blocked on #2976; the work from it just needs to be updated to match the Photon styles, tracked in #3019.

[2017-11-02 17:35] chuckharmston commented on #3003
No longer blocked on #2976; the work from it just needs to be updated to match the Photon styles, tracked in #3019.

[2017-11-02 18:13] #3015 closed, assigned to meandavejustice

[2017-11-02 19:01] ghost commented on #2638
Thanks for checking again Cosmin (and everyone).  Sorry your email is broken. ✉️

[2017-11-02 19:01] #2638 closed, assigned to SoftVision-PaulOiegas

[2017-11-03 00:43] youwenliang commented on #2956
@meandavejustice Peko is working on a revised version, will share it here soon!

[2017-11-03 02:49] ChenMorpheus commented on #1489
From UX perspective, I would like to share some of my thoughts. Long story short, my conclusion tends not to provide the install button in experiment card. Here are my reasons:

1. Test Pilot collects data from users. As a result, we should allow users have the chance to access the privacy section.

2. AMO provides various extensions, which means users can easily find alternatives. That causes the

[2017-11-03 17:17] #2563 closed, assigned to johngruen

[2017-11-03 19:01] lmorchard opened #3024 "Upgrade uniformly to node LTS v8.9.0"
We [specify an old Node version (v4.4.0) in our `package.json`](https://github.com/mozilla/testpilot/blob/master/package.json#L13).

We use [v6.9.1 in `circle.yml`](https://github.com/mozilla/testpilot/blob/master/circle.yml#L14) for build & test on our dev server.

We use [v6.2.0 in cloudops scripts](https://github.com/mozilla-services/cloudops-deployment/blob/5b80e655a43869dec2a0c9b8cb3bd2e54758

[2017-11-03 19:09] #2959 closed, assigned to lmorchard

[2017-11-03 19:18] johngruen commented on #2955
@lmorchard i'll use this to land some cleanups to the background colors and utils file as well

[2017-11-03 19:48] #2955 closed, assigned to johngruen

[2017-11-03 19:48] #2977 closed, assigned to johngruen

[2017-11-03 19:50] fzzzy commented on #3024
I'd really like to require 8.9. I think we can get rid of the babel part of gulpfile.babel.js if we do that, which should speed most operations up.

[2017-11-03 19:52] #2971 closed, assigned to johngruen

[2017-11-03 20:02] lmorchard commented on #2807
PR #2990 has been merged, so let's call this one finally done and open new issues for anything further that needs doing

[2017-11-03 20:02] #2807 closed, assigned to lmorchard

[2017-11-06 10:11] Pekochen commented on #2956
Hi, I am sorry for reply late.
We had a long discussion and wanted it to make it perfect
So it took some time to revise the design.
Here is the measurement for the modal.
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Modal_Photon_Styles/
Thanks!

[2017-11-06 10:13] ChenMorpheus opened #3027 "TXP-49: Tag experiments with relevant workflows"
From Q2 2017 Test Pilot field research finding: "Participants expected experiments to support common workflows." - Sharon, [SF All Hands 2017 Test Pilot User Research](https://docs.google.com/presentation/d/1lcxcnCjDZFE8Ry9mXgTE-kSHxfthvCKTXP_t_BVRuI4/edit#slide=id.g23a6014ffc_0_75)

## Proposal

The proposal tries to introduce the possible daily workflows for each experiment by tags. Given that t

[2017-11-06 10:24] SoftVision-CosminMuntean commented on #3005
It seems that this issue is again reproducible. If you navigate to "testpilot.dev.mozaws.net", only the blue background with stars and constellations is loaded.
But, if you navigate to "testpilot.dev.mozaws.net/experiments" or other Test Pilot pages, the pages are correctly loaded.

[2017-11-06 10:39] ChenMorpheus opened #3028 "TXP-58: Deprioritize in hierarchy of experiment detail pages links to technical resources (Github, Discourse, etc.)"
From Q2 2017 Test Pilot field research finding: "Participants’ mental models of giving experiment feedback were influenced by retail customer service models." - Sharon, [SF All Hands 2017 Test Pilot User Research](https://docs.google.com/presentation/d/1lcxcnCjDZFE8Ry9mXgTE-kSHxfthvCKTXP_t_BVRuI4/edit#slide=id.g23a6014ffc_0_75)

## Proposal

Instead of deprioritizing, the proposal tries to offer a

[2017-11-06 14:16] SoftVision-PaulOiegas commented on #2977
Seems to be working well now. At least on my Samsung Galaxy S6. 👍

[2017-11-06 15:25] SoftVision-PaulOiegas commented on #2959
The News Feed section was Photonized, but I see some differences between design measurements and the actual implementation.
1. The big container without subtitle has 980px x 129px instead of 1000px x 126px
2. The big container with subtitle has 980px x 152px instead of 1000px x 146px
3. Icon container is now too small for other experiments icons and they get cut on top and bottom (eg: Send).
4. "T

[2017-11-06 17:20] lmorchard commented on #3005
Seems like it's working again, after a CircleCI rebuild

[2017-11-06 17:20] #3005 closed, assigned to nobody

[2017-11-06 17:55] johngruen commented on #1856
Closing

[2017-11-06 17:55] #1856 closed, assigned to nobody

[2017-11-06 17:59] johngruen commented on #2816
I am closing this issue, @moonundermood if you are still having difficulties, please add this issue here:
https://github.com/meandavejustice/min-vid

[2017-11-06 17:59] #2816 closed, assigned to nobody

[2017-11-06 18:27] johngruen commented on #2837
@grahamperrin we've decided to kill support for ESR 52 unfortunately. This means SeaMonkey won't be supported going forward. There's simply too much delta btwn Quantum and current ESR for our team to support both. I am not familiar with the SeaMonkey roadmap WRT future ESR releases, but we have every intention of supporting ESR 59. Closing this for now! :(

[2017-11-06 18:27] #2837 closed, assigned to nobody

[2017-11-06 18:29] johngruen commented on #2825
Hi @jeanettel6740 Containers has now graduated from Test Piulot and can be installed from the Add-on Marketplace!

https://addons.mozilla.org/en-US/firefox/addon/multi-account-containers/

[2017-11-06 18:29] #2825 closed, assigned to nobody

[2017-11-06 18:55] #2512 closed, assigned to nobody

[2017-11-06 19:00] johngruen commented on #2827
Works in 10.13

[2017-11-06 19:00] #2827 closed, assigned to nobody

[2017-11-06 23:41] johngruen commented on #2962
@lmorchard it occurs to me that there's going to be some overlap btwn this and the Banners work i am doing in #2960. if it's not too late, i'd say don't touch the banners since fiddling with the CSS will leak to other views. I can cover that stuff in my PR.

[2017-11-07 04:07] ChenMorpheus opened #3032 "TXP-56: Surface selected feedback on experiment detail page"
From Q2 2017 Test Pilot field research finding: "Participants’ mental models of giving experiment feedback were influenced by retail customer service models." - Sharon, [SF All Hands 2017 Test Pilot User Research](https://docs.google.com/presentation/d/1lcxcnCjDZFE8Ry9mXgTE-kSHxfthvCKTXP_t_BVRuI4/edit#slide=id.g23a6014ffc_0_75)

## Proposal

This proposal seeks to give a solution to "surface selec

[2017-11-07 08:37] ChenMorpheus opened #3033 "TXP-52: Ensure that experiment detail pages prioritize step-by-step, bulleted instructions for using experiments"
From Q2 2017 Test Pilot field research finding: "Participants sought how-to content for the experiments they chose." - Sharon, [SF All Hands 2017 Test Pilot User Research](https://docs.google.com/presentation/d/1lcxcnCjDZFE8Ry9mXgTE-kSHxfthvCKTXP_t_BVRuI4/edit#slide=id.g23a6014ffc_0_75)

## Proposal

The proposal tries to collect all informative materials in a step-by-step sequence. It provides an

[2017-11-07 09:52] SoftVision-PaulOiegas commented on #2827
Yep, seems to be fixed on official Mac OS 10.13 release. 👍

[2017-11-07 10:08] Pekochen commented on #3019
Hi~
Please check here for photon version.
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Featured_experiment_photonized/
Another thing I would like to mention, gear menu is still an uncertain part.
we will update this when we have a conclusion.
If you need anything please let me know.
Thanks!

[2017-11-07 12:06] SoftVision-PaulOiegas opened #3034 "Wrong color and no hover or click effect displayed for "Proceed" button from uninstall TxP flow"
**[Affected versions]:**
- Firefox 56.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-

[2017-11-07 12:24] SoftVision-PaulOiegas opened #3035 "The "Blog" button does not follow the same Photonization as the "Settings" one"
**[Affected versions]:**
- Firefox 56.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-

[2017-11-07 14:34] chuckharmston commented on #3019
This looks awesome, thanks @Pekochen! 👏

[2017-11-07 14:34] #3019 closed, assigned to nobody

[2017-11-07 15:49] SoftVision-PaulOiegas opened #3036 "The "Settings" button does not entirely follow it's Photonization design"
**[Affected versions]:**
- Firefox 56.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-

[2017-11-07 16:36] lmorchard commented on #3036
FWIW, we're still mid-sprint with photon style work and not done with everything yet

[2017-11-07 16:45] SoftVision-PaulOiegas commented on #3036
I know, that's why I logged today issues only related to button colors. Since John closed #2955 I assumed that at least those should have been ok by now. Otherwise the issue should not have been closed yet.

[2017-11-07 19:29] mixedpuppy commented on #2968
Just thought I'd triple check before I land...did the update get deployed?

[2017-11-07 20:28] fzzzy commented on #2957
@Pekochen Is there an svg for the new feedback icon?

[2017-11-07 20:31] fzzzy commented on #2957
I found it, it looks like Notification 16

[2017-11-07 20:31] fzzzy commented on #2968
@mixedpuppy Yes. Land away!

[2017-11-08 09:46] Pekochen opened #3039 "Animation for scroll hint(Sticky banner)"
Hi @chuckharmston
I made an animation sample for scroll hint.
Please check here for the animation!
https://www.dropbox.com/sh/jv3fk7kg3ehxo99/AADJiUSQPvToyocey6l40jpaa?dl=0
I also write down some information you may need.
![animation preference](https://user-images.githubusercontent.com/8252151/32541282-2e94f350-c4aa-11e7-9481-725266157624.png)
Arrow keeps looping. When you roll over, the arrow wi

[2017-11-08 11:48] #2958 closed, assigned to fzzzy

[2017-11-08 13:28] SoftVision-PaulOiegas opened #3041 "Dialog Newsletter sign up is wrongly validated when "Enter" key is pressed without checking the privacy checkbox"
**[Affected versions]:**
- Firefox 56.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to repr

[2017-11-08 15:15] SoftVision-PaulOiegas opened #3042 "[Newsletter] Notification that informs about the need to check the privacy notice checkbox is no longer displayed"
**[Affected versions]:**
- Firefox 56.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to repr

[2017-11-08 15:26] SoftVision-PaulOiegas opened #3043 "Privacy notice checkbox from newsletter sign up forms no longer fits the designed space"
**[Affected versions]:**
- Firefox 56.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to repr

[2017-11-08 16:08] kgeorgiou commented on #3041
This is related to #2983, I'll take a look.

[2017-11-08 17:20] SoftVision-PaulOiegas opened #3044 "Footer Newsletter Photonization - Design vs implementation observed differences"
Here are the differences observed:
- [x] Implemented background color is darker than designed.
- [x] ~~Background color should also cover footer links based on design.~~
A different design was made for this area #3225
- [x] First message displayed on 2 rows (implementation) vs 3 rows (design).
- [x] ~~Hint message from text box has first letter in uppercase (implementation) vs all letters in upper

[2017-11-08 19:03] #2957 closed, assigned to fzzzy

[2017-11-08 20:17] #3043 closed, assigned to fzzzy

[2017-11-08 21:45] meandavejustice commented on #2956
Quick question, should we show the "Done" button when we are only showing one update in the modal?

![2017-11-08--44-16-14-1920x1080_scrot](https://user-images.githubusercontent.com/1844554/32576176-2452ab40-c4a4-11e7-8e76-2eb8adac021d.png)

[2017-11-09 00:53] #2962 closed, assigned to lmorchard

[2017-11-09 09:53] SoftVision-CosminMuntean opened #3046 "Enabled experiment bar is no longer displayed on experiments details page"
**[Affected versions]:**
- Firefox 56.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-

[2017-11-09 10:32] SoftVision-PaulOiegas commented on #3043
Looks a bit slimmer in the lower part at 100% zoom, but if you zoom in it seems to be equal with the top part. I would say that we can consider it fixed. 👍
Checked on [en-US] and [de] localization also, to be sure that it doesn't break when message is displayed on two rows.

[2017-11-09 15:26] SoftVision-PaulOiegas opened #3047 "Old Firefox logo is still displayed on the Test Pilot and experiments feedback survey"
**[Affected versions]:**
- Firefox 56.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to repr

[2017-11-09 17:06] SoftVision-PaulOiegas opened #3048 "[Newsletter forms] The privacy notice message checkbox shortly disappears after hover, check and hover away actions"
**[Affected versions]:**
- Firefox 56.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to repr

[2017-11-09 17:18] fzzzy commented on #3048
I guess this is because we are now using an external svg file for the checkbox and it is not cached. I think we may be able to preload all the checkbox images on the main page load somehow.

[2017-11-09 17:52] #3016 closed, assigned to meandavejustice

[2017-11-09 17:57] meandavejustice commented on #2956
Just realized I'm missing some assets, I thought they were exportable from the testpilot-assets site linked above.

@Pekochen @youwenliang @johngruen

![2017-11-09--55-12-53-1920x1080_scrot](https://user-images.githubusercontent.com/1844554/32621312-6dc034b0-c54d-11e7-8046-55342d7b8c34.png)
![2017-11-09--55-12-13-1920x1080_scrot](https://user-images.githubusercontent.com/1844554/32621315-6e418c68-

[2017-11-09 17:57] meandavejustice commented on #2956
I think it would be reasonable to ship a first run with the other style updates without them and follow up

[2017-11-09 18:06] chuckharmston commented on #3048
@fzzzy I've successfully used this to inline an SVG from a Webpack build: https://www.npmjs.com/package/svg-url-loader

[2017-11-09 18:13] lmorchard commented on #3048
I can try taking a swing at this

[2017-11-09 20:03] ghost commented on #2873
This has been resolved among various other bugs.  I'm working with @psiinon on a script he is testing to notify us about any changes.  In the mean time I get the summary emails.  I don't think there is a reason to leave this issue open.

[2017-11-09 20:03] #2873 closed, assigned to nobody

[2017-11-09 20:05] ghost commented on #2427
pings are handled by the individual experiments now.  I think we can close this.

[2017-11-09 20:05] #2427 closed, assigned to nobody

[2017-11-09 20:10] ghost commented on #2514
We're putting graduation reports on https://medium.com/firefox-test-pilot now.  I don't think we need this anymore.  Re-open if you disagree please.

[2017-11-09 20:10] #2514 closed, assigned to nobody

[2017-11-09 20:14] meandavejustice commented on #2956
Also need the slimmer close icon

[2017-11-09 20:15] ghost commented on #2535
@SoftVision-PaulOiegas can you still reproduce this?

[2017-11-09 20:15] ghost commented on #2601
@SoftVision-PaulOiegas can you still reproduce this?  I tried it with safari and was redirected to https on dev

[2017-11-09 20:21] ghost commented on #2741
@relud This is easy on our end.  How much work is this on your end?

[2017-11-09 20:21] relud commented on #2741
v easy

[2017-11-09 20:24] ghost commented on #2820
S3 buckets can have lifecycle policies.  Let's just have it delete objects over 100 days old?

[2017-11-09 20:25] relud commented on #2741
merging mozilla-services/cloudops-deployment#1359 combined with deploying the new branch once will do it

[2017-11-09 20:25] ghost commented on #2741
Thanks.  I'll pull this out of stretch so we can do it in the next sprint

[2017-11-10 03:05] ChenMorpheus commented on #2956
@meandavejustice Quick answer, we don't need to show the "Done" button for any cases since it's not like onboarding providing a sequence of instructions. We only provide next/last arrow buttons for users to find all updates.

As for assets, I found all these assets in the [link](https://github.com/mozilla/testpilot-assets/tree/master/Test_Pilot_Website/00_Assets/Modal) @Pekochen provided. Could yo

[2017-11-10 09:59] #3035 closed, assigned to johngruen

[2017-11-10 09:59] #3036 closed, assigned to nobody

[2017-11-10 09:59] #2960 closed, assigned to johngruen

[2017-11-10 09:59] #3034 closed, assigned to johngruen

[2017-11-10 10:00] johngruen commented on #3034
@SoftVision-PaulOiegas marking as closed. Spec is not 100% matched but we're using all the photon colors now

[2017-11-10 10:01] johngruen opened #3052 "Make cards a bit bigger"
Cards seem too small ATM, lets do a minor size bump before we do our prod deploy next week.

[2017-11-10 10:26] SoftVision-CosminMuntean opened #3054 ""Text Select" pointer is wrongly displayed when hovering the "Settings" button"
**[Affected versions]:**
- Firefox 56.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = stage" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot ad

[2017-11-10 14:25] SoftVision-PaulOiegas commented on #2535
No, it was fixed long ago. I thought I closed this, but it was a separate issue regarding other browsers redirect.
Closing now 👍

[2017-11-10 14:25] #2535 closed, assigned to nobody

[2017-11-10 14:45] SoftVision-PaulOiegas commented on #2601
Nope, all good on Windows 10 and Mac OS 10.11 using several browsers. 👍

[2017-11-10 14:45] #2601 closed, assigned to nobody

[2017-11-10 15:13] SoftVision-PaulOiegas commented on #3035
@johngruen Now both buttons are transparent. Are you sure this is right? In the specs "Settings" should be white in normal state, light blue when hovered and dark blue when clicked.
I assumed that "Blog" button should follow the same specs as "Settings".

[2017-11-10 15:15] SoftVision-PaulOiegas commented on #3036
@johngruen Are you sure this is right? In the specs "Settings" should be white in normal state, light blue when hovered and dark blue when clicked.

[2017-11-10 15:29] SoftVision-CosminMuntean opened #3055 ""Terms of Use" and "Privacy Notice" links are missing the link underline when not in view"
**[Notes]:**
- It seems that this is a Firefox issue and I have logged it in Bugzilla: [bug 1416242](https://bugzilla.mozilla.org/show_bug.cgi?id=1416242)

**[Regression]:**
- The issue is no reporducible on latest Beta build. Considering this I have perofrmed a regression using mozregression tool. Here are the results:
Last good revision: 046aa4f8f7583671dc3c682e544a20e84eaf5478
First bad revisio

[2017-11-10 16:42] SoftVision-PaulOiegas commented on #3034
@johngruen Sadly not for modal header too. The button now has #D70022, but the header remained on #FF0039. Unless you think it should be changed to match, I won't reopen it.

Forgot to mention in the title about the header too, but I've mentioned in the expected and actual results section.

![modal colors](https://user-images.githubusercontent.com/17258026/32668830-58ef90d0-c647-11e7-83cd-e7952b22

[2017-11-10 17:16] SoftVision-PaulOiegas opened #3056 "The "Blog" and "Settings" buttons are not aligned with their icons"
**[Affected versions]:**
- Firefox 56.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-

[2017-11-10 17:47] #3041 closed, assigned to nobody

[2017-11-12 17:29] grahamperrin commented on #2827
@johngruen @SoftVision-PaulOiegas please, which version(s) of Firefox did you test?

For me, the issue is still present with pre-release build 17C67b of Mac OS X 10.13.2 with:

- Firefox ESR 52.4.1 (64-bit)
- Firefox 56.0.2 (64-bit).

For extended support, please consider reopening this issue. Thanks.

[2017-11-13 09:12] SoftVision-CosminMuntean commented on #3055
The issue is already fixed in latest Nightly 58.0a1 build ([bug 1415214](https://bugzilla.mozilla.org/show_bug.cgi?id=1415214)). Closing this issue as fixed.

[2017-11-13 09:12] #3055 closed, assigned to nobody

[2017-11-13 09:50] johngruen commented on #3052
This landed

[2017-11-13 09:50] #3052 closed, assigned to nobody

[2017-11-13 09:51] johngruen commented on #3047
This will be a pain to fix since it will require manually updating each survey. I'll simply fix our survey template so that future surveys are not affected.

[2017-11-13 10:50] SoftVision-PaulOiegas opened #3059 "The "Enter" key wrongly advances you to error dialog after you checked the privacy notice and deleted the entered string"
**[Affected versions]:**
- Firefox 56.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to repr

[2017-11-13 10:51] SoftVision-PaulOiegas commented on #3059
/cc @kgeorgiou

[2017-11-13 10:54] SoftVision-PaulOiegas commented on #3041
This seems to be fixed. 👍 But now, I have found another scenario where "Enter" key fails, that couldn't be caught before this fix (#3059).
Maybe you can take a look @kgeorgiou?

[2017-11-13 11:30] johngruen commented on #2936
I did this, but updated to a scaled up FF logo instead per Mozilla Site conventions.

[2017-11-13 11:30] #2936 closed, assigned to johngruen

[2017-11-13 12:27] SoftVision-PaulOiegas commented on #2936
Well, the TxP logo would have been nicer, but yeah, it's better than before. Thanks! 👍

[2017-11-13 12:44] SoftVision-CarmenFat opened #3061 "Firefox Free Download button lacks download animation when hovered"
[Affected versions]:
- Firefox 56.0.2 and above

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-on was alrea

[2017-11-13 13:21] SoftVision-CosminMuntean commented on #3046
The issue is also reproducible if experiment download fails. The "Uh oh. [experiment_name] could not be enabled. Try again later" red error bar is no longer displayed.

[2017-11-13 13:25] SoftVision-PaulOiegas commented on #2827
I have tested the fix using latest Firefox Beta 57.0b14 and latest Nightly build v59.0a1 (2017-11-12) using the official MacOS 10.13 release. The issue is still reproducible on latest release (v56.0.2), but no longer reproducible on 57.0. Probably tomorrow you'll already have to update your Firefox to 57.0 which is launching tomorrow, so the issue will no longer be reproducible afterwards.
Also, t

[2017-11-13 15:00] SoftVision-CosminMuntean opened #3062 "The navigation bubbles from the bottom of the experiment Tour are no longer visible"
**[Notes]:**
- I think this issue is a regression since is not reproducible on Test Pilot production server.
- Also the hover effect is hardly visible on the navigation arrows.

**[Affected versions]:**
- Firefox 56.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabl

[2017-11-13 15:53] SoftVision-CosminMuntean opened #3063 "Release 2017-11-09 on stage"
Hi guys,

We have finalized testing the stage server and we have a 77% pass rate on our tests.
Here are the testing results:

**New Issues**
#3054 - "Text Select" pointer is wrongly displayed when hovering the "Settings" button - **minor**
-the issue already has a PR
#3056 - The "Blog" and "Settings" buttons are not aligned with their icons - **minor**
-the issue already has a PR
#3059 - The "Ente

[2017-11-13 17:00] SoftVision-PaulOiegas opened #3064 "Old background displayed for Test Pilot social media sharing message"
**[Affected versions]:**
- Firefox 56.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- You are already

[2017-11-13 17:03] #3054 closed, assigned to johngruen

[2017-11-13 17:03] #3056 closed, assigned to johngruen

[2017-11-13 17:07] #2950 closed, assigned to nobody

[2017-11-13 17:07] SoftVision-PaulOiegas opened #3065 "Footer links are wrongly displayed on the Share page background"
**[Affected versions]:**
- Firefox 56.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to repr

[2017-11-13 17:08] #2789 closed, assigned to nobody

[2017-11-13 17:12] ghost commented on #3061
This matches the spec

[2017-11-13 17:37] SoftVision-PaulOiegas commented on #3063
Adding two more to the **New Issues** list:
#3064 - Old background displayed for Test Pilot social media sharing message
#3065 - Footer links are wrongly displayed on the Share page background

[2017-11-13 18:58] #3046 closed, assigned to lmorchard

[2017-11-14 12:19] SoftVision-CosminMuntean commented on #3046
I have retested this issue and is no longer reproducible. The enabled experiment bar and the also error red bar are correctly displayed. Marking as verified.

[2017-11-14 12:38] SoftVision-CosminMuntean commented on #3054
I have retested this issue and is no longer reproducible. When hovering the "Settings" button the mouse pointer is correctly changed from "Normal" to "Hand". Marking this issue as verified.

[2017-11-14 13:01] SoftVision-PaulOiegas commented on #2950
Tested around 15 major locales and the localization message is no longer displayed for graduated experiments. 👍

[2017-11-14 13:08] SoftVision-CarmenFat commented on #3064
Same issue is reproducible when receiving the "Welcome to Test Pilot"  subscription email.

![email](https://user-images.githubusercontent.com/26000308/32781381-7bd7a520-c94d-11e7-9a5f-d4b574eebe1e.png)

[2017-11-14 16:08] SoftVision-CarmenFat opened #3067 ""Enable" experiment button is wrongly clickable in the pinned floating bar while "Thank you" pop-up is displayed"
[Affected versions]:
- Firefox 57 and up

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = stage" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-on was already in

[2017-11-14 16:28] Homme-Nuage opened #3068 ""Something has gone wrong with Test Pilot. Please file a bug and mention this error message"."
So what went wrong? I use Windows 7 64 bits. I had the same error when I was on Nightly.

[2017-11-14 16:31] fzzzy commented on #3068
@Homme-Nuage Do you see any error messages in the Web Console?

Does it still happen if you make a fresh Firefox profile?

Thank you for the report.

[2017-11-14 16:49] Homme-Nuage commented on #3068
Thank you for your answer. I looked into my about:config tweaks and I found that the issue was caused by privacy.resistFingerprinting.block_mozAddonManager which was set on true.

[2017-11-14 16:51] fzzzy commented on #3068
@Homme-Nuage Great! Yes, blocking mozAddonManager would cause this message in this case.

[2017-11-14 16:51] #3068 closed, assigned to nobody

[2017-11-15 09:45] riocke opened #3070 "I want to know the situation of tab-center"
Hello!

I used firefox for a long time, it seems that everything is perfect, the same is true of facts.

But I spend most of my day using the browser. When you open too many tabs, apparently the horizontal tab makes people panic. We find it hard to find the needed tab.

This problem has been bothering me until I see tab-center, It's so cool!!
Unfortunately, when I found it, it seemed to have stopp

[2017-11-15 10:01] SoftVision-PaulOiegas commented on #3070
Hi @riockeio. This may happen in the future, but we cannot say for sure. It depends on a lot of things that for now are missing.
However, there is a good alternative that looks better and better each day, and that was developed as webextension from scratch. I encourage you to try [Tab Center Redux](https://addons.mozilla.org/en-US/firefox/addon/tab-center-redux/) until then, since most of the Tab

[2017-11-15 11:20] johngruen commented on #3047
Fixed this

[2017-11-15 12:41] SoftVision-PaulOiegas commented on #3047
Not so fast! 😆 Indeed the experiments feedback pages are displaying the new logo and background, but the Test Pilot feedback form still has the old ones displayed.
This one can be accessed from footer link or from /retire page uninstall modal.

Sorry John. 😢

[2017-11-15 13:09] #3065 closed, assigned to johngruen

[2017-11-15 13:40] fzzzy opened #3072 "Catch cases where localStorage is not available."
The largest class of errors in sentry, besides those we won't ever be able to do anything about, involve localStorage access in getExperimentLastSeen and setExperimentLastSeen. If localStorage is not available for whatever reason, it causes exceptions which can bubble up to other random parts of the code. We should gracefully handle errors with localStorage not being available, and log how many ti

[2017-11-15 14:23] SoftVision-PaulOiegas commented on #3056
Looks better now 👍

[2017-11-15 15:07] SoftVision-PaulOiegas commented on #3065
Now the share page footer looks more awesome than the homepage one 👍

[2017-11-15 16:05] meandavejustice opened #3073 "Shield Study handling"
Min Vid is going to become a shield study soon, there will likely be overlap between the time the study is running and min vid is still in testpilot.

Need to figure out how we want to handle the case where a user has the shield study active and they visit test pilot.

Thinking we could detect the shield study addon id, disable the install button, and have some sort of note on our end.

Thoughts?

[2017-11-15 16:22] SoftVision-PaulOiegas opened #3074 "Enable / Disable <experiment_name> button long format persists when maximazing from mobile view"
**[Affected versions]:**
- Firefox 57.0 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-on

[2017-11-15 17:11] lmorchard commented on #3070
For what it's worth, this is pretty much the situation:

https://discourse.mozilla.org/t/whats-all-this-about-sunsetting-tab-center/15999/7

[2017-11-15 17:11] #3070 closed, assigned to nobody

[2017-11-15 17:17] lmorchard opened #3075 "Better filtering for Sentry logs"
Seems like we have a lot of errors in Sentry caused by things outside our control that we won't ever be able to fix. Would be nice to squelch those messages to see things that we can address.

[2017-11-15 17:23] fzzzy commented on #3070
You might also consider the new webextension Tree Style Tab. I've really been enjoying it.

https://addons.mozilla.org/en-US/firefox/addon/tree-style-tab/

[2017-11-15 17:24] fzzzy commented on #3073
If the shield study add-on has a different id, set it as an incompatible_addon in the test pilot min vid yaml.

[2017-11-15 17:34] fzzzy commented on #3075
Many of the errors have paths that look like:

`/nwp/v0_0_1187/release/Shared/App/SharedApp.js`

I think we can safely filter anything that contains `/nwp/` as these machines are infected with malware and there is nothing we will be able to do to fix them. The example I just looked at was running Firefox 16.

Another class of errors is something we should actually fix, which I just filed a bug for

[2017-11-15 17:55] fzzzy commented on #3072
We also get a lot of these exceptions, which occur when localStorage is available but localStorage.installations is an empty string. We should handle that case.

`JSON.parse: unexpected character at line 1 column 1 of the JSON data`

[2017-11-15 20:28] johngruen opened #3077 "The button is wrong"

[2017-11-15 20:33] johngruen commented on #3077
@ChenMorpheus Hey could you take a look at this

[2017-11-15 20:33] #3077 closed, assigned to johngruen

[2017-11-15 20:34] johngruen commented on #3077
Hey @ChenMorpheus this bug is not real. sorry! :(

[2017-11-15 22:05] fzzzy commented on #2741
@relud I'm ready for you to merge the ops side of this whenever you are. Let me know when a good time for you is.

[2017-11-15 22:27] #2741 closed, assigned to fzzzy

[2017-11-16 01:23] riocke commented on #3070
Yes! The extension I used before firefox57 is it.
Anyway, thank you!

________________________________
发件人: Donovan Preston <notifications@github.com>
发送时间: 2017年11月15日 9:23
收件人: mozilla/testpilot
抄送: riockeio; Mention
主题: Re: [mozilla/testpilot] I want to know the situation of tab-center (#3070)

You might also consider the new webextension Tree Style Tab. I've really been enjoying it.

https://a

[2017-11-16 01:29] riocke commented on #3070
ok...Tab Center Redux looks good.
________________________________
发件人: Les Orchard <notifications@github.com>
发送时间: 2017年11月15日 9:12
收件人: mozilla/testpilot
抄送: riockeio; Mention
主题: Re: [mozilla/testpilot] I want to know the situation of tab-center (#3070)

For what it's worth, this is pretty much the situation:

https://discourse.mozilla.org/t/whats-all-this-about-sunsetting-tab-center/15999/7

[2017-11-16 01:31] riocke commented on #3070
Thanks you!
I am trying Tab Center Redux, yes! it looks good!
________________________________
发件人: Softvision - Paul Oiegas <notifications@github.com>
发送时间: 2017年11月15日 2:01
收件人: mozilla/testpilot
抄送: riockeio; Mention
主题: Re: [mozilla/testpilot] I want to know the situation of tab-center (#3070)

Hi @riockeio<https://github.com/riockeio>. This may happen in the future, but we cannot say for sure

[2017-11-16 03:47] kgeorgiou commented on #3059
When the input field is not focused, the "Enter" key doesn't trigger the HTML5 form validation. (However the backend correctly rejects the invalid input, hence the error dialog.)

Below are 3 possible solutions, sorted in descending order of simplicity.

When the "Enter" key is pressed on the Email Dialog and the input field is not focused:
- Do nothing (behaviour before #2983)
- Validate input ag

[2017-11-16 03:58] fzzzy commented on #3059
@kgeorgiou I think #3 is the right thing to do. Thanks!

[2017-11-16 15:27] fzzzy opened #3079 "Update getting started docs"
There are a few things that can be simplified in the docs, and a few things that are missing that need to be documented w.r.t. running the integration tests.

For the initial install, we can remove all the `npm install` steps and recommend people run `npm run bootstrap` which does `npm install && cd addon && npm install && cd .. && gulp`. (Check to see if there are any other steps which should be

[2017-11-16 15:39] fzzzy commented on #3079
Download geckodriver from here:

  https://github.com/mozilla/geckodriver/releases

To install on OS X, put it on the $PATH.

[2017-11-16 17:12] meandavejustice commented on #3003
@Pekochen Are we getting rid of the news feed section for the news feed page? Where do the news feed items go? above or below the featured item?

cc/ @chuckharmston

[2017-11-16 17:54] chuckharmston commented on #3003
Yep.

They're not on the homepage unless there are no featured items.

[2017-11-16 21:16] kgeorgiou commented on #3079
Also the section about [DevPrefs](https://addons.mozilla.org/en-US/firefox/addon/devprefs/) extension will need to be adjusted since it seems it's not compatible with Firefox Quantum.

[2017-11-17 02:21] Ernstt opened #3080 "Missing (container) Tab Centre"
Well i've been paitiently waiting on 57, hoping to get the Sidebar Tabs back...

The Tab Redux plugin does not work as nice as Tab Centre did, and in my opninion with screens beying oblong and sites beying landscape and resolution growing into 5k the waisted spece at the sides really should be USED to make space for the sites without loosing real estate at the top.

Not to forget the most usefull

[2017-11-17 10:54] johngruen commented on #3047
Okay @SoftVision-PaulOiegas fixed it

[2017-11-17 14:58] fzzzy commented on #3080
@Ernstt Can you try Tree Style Tab, and check Tools -> Addons -> Extensions -> Tree Style Tab -> Preferences to see if it works for you?

https://addons.mozilla.org/en-US/firefox/addon/tree-style-tab/

Or, alternatively, if you think there is a bug in Tab Redux or a missing feature that Tab Centre had, you could file a bug or a feature request for them:

https://github.com/eoger/tabcenter-redux/is

[2017-11-17 14:58] #3080 closed, assigned to nobody

[2017-11-17 17:09] SoftVision-PaulOiegas commented on #3047
@johngruen 😢 Nope, still not ok. The one mentioned above still has the old design. But since this happened, it means that we have 2 different feedback surveys for TxP. The one from footer is a general one, and the one from /retire page is a leaving feedback.

![old survey](https://user-images.githubusercontent.com/17258026/32959609-d2f4d7e0-cbca-11e7-8185-33ee14689d6d.png)

[2017-11-19 07:40] Keith94 opened #3083 "Better handle missing mozAddonManager."
I get this page every time I load https://testpilot.firefox.com/ on Nightly.

![image](https://user-images.githubusercontent.com/5490615/32988446-cae80c58-ccb9-11e7-9c06-d85567d8415e.png)

[2017-11-19 20:51] fzzzy commented on #3083
@Keith94 Does it happen if you use a fresh profile?

[2017-11-19 21:49] Keith94 commented on #3083
Nope, only happens in my main profile.

[2017-11-19 22:14] chuckharmston commented on #3083
@Keith94 Do you happen to have `privacy.resistFingerprinting` enabled?

[2017-11-19 22:18] Keith94 commented on #3083
Oh, I do have `privacy.resistFingerprinting.block_mozAddonManager` disabled. That causes the issue...

[2017-11-19 22:19] chuckharmston commented on #3083
That is exactly the problem; Test Pilot uses `mozAddonManager` to manage and install our experiments. We should handle this error more gracefully, though; I'm going to repurpose this bug to do so.

Thanks for the report!

[2017-11-19 22:27] Keith94 commented on #3083
Thanks for the help.

[2017-11-20 03:16] kgeorgiou commented on #3067
This seems to be resolved on master branch.

By briefly inspecting the page, this is due to `.modal-container` having `z-index: 4` on the deployed environments.
On master it has `z-index: 9999` which overlays the sticky header, as expected.

The weird part: It's been at `z-index: 9999` [for over a year](https://github.com/mozilla/testpilot/blame/7bf5108cf4d3e9adbf464405be1a0e8a76e01d2c/frontend/sr

[2017-11-20 07:23] Pekochen commented on #3061
![2017-11-20 3 18 21](https://user-images.githubusercontent.com/8252151/33006650-22d3228e-ce06-11e7-8ff4-8a70dba7ef57.png)
Please follow the visual spec we've provided, you can check component page and you can find different status for buttons.Thanks!

[2017-11-20 08:56] fangshih opened #3084 "Visual refresh screenshots share panel"
Current share panel needs to update the visual to align with photon doorhanger UI style. I'll update the visual assets and spec.

[2017-11-20 08:59] fangshih opened #3085 "Update visual for delete screenshot confirm window"
Delete shot confirm window are still using the old UI, I'll update the visual screens and spec soon.

[2017-11-20 09:38] huajinwu commented on #633
IE6&IE7 CSS hack error!
For example: *display: inline;
Error message:
severity: '错误'
message: 'Please check validity of the block starting from line #21 (Fatal)'
at: '21,1'
source: 'sass-lint'
code: 'undefined'

[2017-11-20 16:55] Ernstt commented on #3080
I've tried both, Redux looks a lot like the Test Pilot sidebar tabs Opera style, but it doesn't remove the tob tabs, but i will look if i can shut up the top tabs.

It works okay, but just thinking about the wider screen growth i would like to have all "controls" in the sidebar though i know this isn't the place for wishlists, thanks for the help.

This is just some feedback to show i've read your

[2017-11-20 17:21] SoftVision-PaulOiegas commented on #3080
@Ernstt The top tabs can't be removed yet due to some missing API's in the new browser implementation. But as far as I know, the developers are already working on a way to allow this.
Just so you know that it's not because of the extension. The original Tab Center would have had the same issue in Firefox 57.
Please bear with us a bit more until this is implemented.

[2017-11-20 20:19] ASNight opened #3086 "Experimental notice"
I would be to know that my review about expreimental extensions is received.

[2017-11-20 20:19] chuckharmston commented on #3086
Happy to help with that. How did you submit it?

[2017-11-21 08:26] bodydisplaynone opened #3087 "Can't enable Min Vid"
![image](https://user-images.githubusercontent.com/22660372/33061937-0e8c80de-ce9e-11e7-9ffc-4e031e725fda.png)

![image](https://user-images.githubusercontent.com/22660372/33061955-1db13e74-ce9e-11e7-966b-182a6d6fb9f3.png)

[2017-11-21 09:12] SoftVision-CarmenFat commented on #3087
Hi @bodydisplaynone,
Thanks for reporting this, however it's a dupe of [1127](https://github.com/meandavejustice/min-vid/issues/1127).
A fix already exists and should be pushed in the following days.

[2017-11-21 09:12] #3087 closed, assigned to nobody

[2017-11-21 20:37] meandavejustice commented on #3087
@bodydisplaynone @SoftVision-CarmenFat Fix was just deployed

[2017-11-21 20:41] lmorchard commented on #3048
Spent some time on this and never actually found a solution. Not actively working on it now, so un-assigning myself so someone else might be able to take a crack at it

[2017-11-22 02:47] fzzzy opened #3088 "Write an integration test to cover uninstalling the addon (the retire page)"
We test installing the add-on in the integration tests, but we don't test uninstalling it. We should.

[2017-11-22 09:21] Softvision-CristinaBadescu commented on #3087
I can confirm that this issue is no longer reproducible, and Min Vid v0.4.6 can be successfully enabled from the Test Pilot experiment page, using latest Nightly build 59.0a1(2017-11-21), on Windows 10 x64, Mac 10.12 and Ubuntu 14.04 x64.

[2017-11-22 15:59] #2894 closed, assigned to fzzzy

[2017-11-22 17:10] ghost commented on #3088
Marking this as a good first issue because CI will run these tests for you, you'll just need to write the tests.

[2017-11-22 17:13] ghost commented on #3085
@fangshih can you give us more details about what this bug is for?  This is for the Test Pilot tour of the Page Shot past experiment?  Or is this a screenshot bug?

[2017-11-22 17:13] ghost commented on #3084
Is this a screenshots issue or a test pilot issue?

[2017-11-22 17:16] SoftVision-PaulOiegas commented on #3063
This is already on production. Closing.

[2017-11-22 17:16] #3063 closed, assigned to nobody

[2017-11-22 17:42] johngruen commented on #3047
OMG

[2017-11-22 17:45] johngruen commented on #3085
@fangshih, i think this is for the Screenshots repo

[2017-11-22 17:55] johngruen commented on #3047
Fixed

[2017-11-22 17:55] #3047 closed, assigned to johngruen

[2017-11-23 03:56] youwenliang commented on #3085
@johngruen yes I think she posted to the wrong repo...

[2017-11-23 03:57] youwenliang commented on #3084
It's a screenshots issue, she posted to the wrong repo, she's currently on PTO till next friday so we can close it for now.

[2017-11-23 03:57] #3084 closed, assigned to fangshih

[2017-11-23 03:57] #3085 closed, assigned to fangshih

[2017-11-23 09:24] youwenliang commented on #3061
Here's a link to the hover states: https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Component_20171003/#artboard1

[2017-11-23 09:32] youwenliang opened #3091 "Experiment card hover state should not have blue title"
Experiment card hover state should not have blue title.

Current Implementation:
![image](https://user-images.githubusercontent.com/8919308/33166163-3f5405f2-d074-11e7-95d0-64d454ba529c.png)

Spec:
![image](https://user-images.githubusercontent.com/8919308/33166181-4ce29454-d074-11e7-8580-c5af17e1d297.png)

[2017-11-23 09:34] youwenliang opened #3092 "Non-firefox users landing page message position"
The additional message should be placed below the header title instead of center aligned above the button.

Current Implementation:
![image](https://user-images.githubusercontent.com/8919308/33166222-71f5a0ba-d074-11e7-9018-cc1915b7b758.png)

Spec:
![image](https://user-images.githubusercontent.com/8919308/33166229-7bddb7de-d074-11e7-9d7a-58ba97d7de8f.png)

[2017-11-23 09:39] youwenliang opened #3093 "Enabled label layout padding"
The label has wrong padding size.

Current Implementation:
![image](https://user-images.githubusercontent.com/8919308/33166406-1178740a-d075-11e7-8664-f2fdc2f97647.png)

Spec:
![image](https://user-images.githubusercontent.com/8919308/33166412-18479e3c-d075-11e7-94dc-f78edd96d6d9.png)

checkout more details here:
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Homepag

[2017-11-23 09:43] youwenliang opened #3094 "Wrong font weight for experiment detail page subtitle"
1. Font-weight and line-height for subtitle
2. Indentation for the whole title section
3. Word wrapping for the privacy notice

Current Implementation:
![image](https://user-images.githubusercontent.com/8919308/33166636-e6b4b728-d075-11e7-8452-4320a446bba0.png)

Spec:
![image](https://user-images.githubusercontent.com/8919308/33166606-cd069ec2-d075-11e7-9351-8f8f593b4d0f.png)

(please ignore the w

[2017-11-23 09:56] youwenliang opened #3095 "Test Pilot Homepage background gradient"
From the spec the homepage should have a gradient background from top #000F40 (100% opacity) to bottom #25003E (80% opacity), and the experiment section has a #000000 15% opacity overlay while the email subscription section has a #ffffff 5% opacity overlay.

checkout the spec here: https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Homepage_20170927/
![image](https://use

[2017-11-23 10:17] SoftVision-PaulOiegas commented on #3047
Yep, now it seems to be ok. 👍

[2017-11-23 10:23] SoftVision-PaulOiegas commented on #3091
Well, that was the old behavior when card was hovered and we all probably missed that since we were so used to it. So, just to clarify, now the only things that should happen at card hover are:
1. Border showed around the card.
2. "Get started" / "Learn More" buttons color change when hovering them.

Am I right?

[2017-11-23 10:24] youwenliang commented on #3091
@SoftVision-PaulOiegas that is correct!

[2017-11-23 10:29] SoftVision-PaulOiegas commented on #3093
To be honest, I kind of like it more how it is right now. It looks sharper and modern. I thought Photon was all about sharp edges and no more round corners. 😆

[2017-11-23 11:10] SoftVision-PaulOiegas opened #3096 "Experiments page UI breaks when you return to it after enabling an experiment together with Test Pilot add-on"
**[Affected versions]:**
- Firefox 57.0 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to reprod

[2017-11-24 06:45] youwenliang commented on #3093
@SoftVision-PaulOiegas The border-radius here is actually correct, same 3px. The issue here is the spacing around the text.

[2017-11-27 05:55] Pekochen commented on #3061
I want to further explain the button status:
Please keep the animation, when hovering the button, download icon keeps moving up and down.

[2017-11-27 13:05] SoftVision-EmilPasca opened #3097 "Notes experiment page does not reflect the latest UI changes and new engine features"
**[Affected versions]:**
- Firefox 57 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Steps to reproduce]:**
1. Navigate to https://testpilot.firefox.com/experiments/notes
2. Click on the video and observe the Notes features presented in the video.
3. Observe Notes UI in the screenshot below the video.
4. Click on the "Launch Tour" and observe the Notes UI presented in th

[2017-11-27 17:11] lmorchard opened #3098 "Drop gulp-connect, move to standalone connect-based local dev server"
We use gulp-connect with [a custom middleware](https://github.com/mozilla/testpilot/blob/master/frontend/tasks/server.js) for serving things up in local dev. We want to move away from gulp and gulp-connect is getting stale. A good interim step would be to move the middleware into a plain standalone server. Blue sky long-term might be a move to webpack-dev-server, but not sure that's doable yet.

[2017-11-27 17:25] johngruen commented on #3061
@Pekochen but no color change on hover?

[2017-11-27 17:36] #3086 closed, assigned to nobody

[2017-11-27 17:54] meandavejustice commented on #2998
This should probably wait until after #2956 is completed, as there is a lot of restructuring of modals, also the ability to dismiss modals easily is included in the changes

[2017-11-27 20:51] b4handjr opened #3099 "Update to circleci 2.0 config"
Circle CI's new 2.0 config allows for parallel builds that would help speed up our build times. I think it would be a good idea to update to this version.

[2017-11-28 00:19] pdehaan commented on #3099
Ref: [Circle-CI's **Migrating from 1.0 to 2.0** documentation](https://circleci.com/docs/2.0/migrating-from-1-2/)

[2017-11-28 02:38] johngruen commented on #2867
@ChenMorpheus as long as we keep the current test pilot links i am happy!

[2017-11-28 03:26] vladikoff opened #3100 ""Notes enabled!" modal slide nav's inactive circles cannot be seen"
From @Nightfirecat: https://github.com/mozilla/notes/issues/456

!["Notes enabled!" modal window, with introduction instructions](https://i.imgur.com/beCB1kc.png)

In this screenshot, `.modal .dot` are colored white, which cannot be seen against the white background of each of the slides. Perhaps they should be colored grey? (with a white border to maximize visibility regardless of background?)

[2017-11-28 08:26] Pekochen opened #3102 "Revise Photonized website details"
Hi~We see AMO and Test pilot as our two significant websites under Firefox product line. To keep the same style and make sure follow the same design in some parts. After discussed with AMO team and DS team we've revised some details. Please make sure to turn on the note mode when you see the measurement. I made some notes there.
Thanks for your great help to fine tune these changes.
Please check t

[2017-11-28 08:29] Softvision-CristinaBadescu commented on #3100
Thanks for the report. However, this seems to be a dupe of #3062.

[2017-11-28 08:29] #3100 closed, assigned to nobody

[2017-11-28 08:39] Pekochen commented on #3061
So sorry about that :(
Please check here
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Photonized_Txp_Website_Final/#artboard0

[2017-11-29 10:17] SoftVision-PaulOiegas opened #3105 "Not a single modal is working on Test Pilot dev server"
**[Notes]:**
- This issue reproduces for every single modal on the website (newsletter, uninstall, retirement, share, 404, tour, disable experiment)

**[Affected versions]:**
- Firefox 57.0 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signa

[2017-11-29 13:59] fzzzy commented on #3105
:(

[2017-11-29 14:10] SoftVision-PaulOiegas opened #3106 "The "Install the Test Pilot add-on" button "Installing..." state is smaller than the default state"
**[Affected versions]:**
- Firefox 57.0 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to reprod

[2017-11-29 16:17] SoftVision-PaulOiegas opened #3108 "The "Shutting down..." uninstall animation no longer corelates with the text size"
**[Affected versions]:**
- Firefox 57.0 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-on

[2017-11-29 16:43] fzzzy commented on #3105
Ok, this fix seems to have worked.

[2017-11-29 22:02] lmorchard opened #3111 "Move everything to webpack, remove gulp"
Would be nice to remove gulp from our build tools altogether and just run everything through webpack. I think we're getting very close to being able to do that.

Webpack now builds & minifies all of the main app JS, handles CSS & images used by components. PR #3110 pulls webpack out of the gulp tasks and moves over to using webpack-dev-server.

Wanted to get my head around just what this would ent

[2017-11-29 23:34] b4handjr commented on #3088
I actually just wrote a test for this...

[2017-11-29 23:44] b4handjr commented on #3096
I'd like to add an integration test for this.

[2017-11-30 18:22] meandavejustice commented on #3062
fixed in #3103

[2017-11-30 18:22] #3062 closed, assigned to fzzzy, meandavejustice

[2017-11-30 18:23] meandavejustice commented on #2956
fixed in #3103

[2017-11-30 18:23] #2956 closed, assigned to fzzzy, meandavejustice, ChenMorpheus

[2017-11-30 23:07] meandavejustice commented on #3003
Came up with a ux question when running my cleaning up / running my tests today.

When installing the addon and extension, or just the extension from the home page, should we redirect to the experiment detail page and show the tour? The current behavior installs the addon and leaves the user on the home page with the "manage/feedback" buttons in place of the install button.

In order to accomplish

[2017-11-30 23:17] chuckharmston commented on #3003
One more alternative that might have a smoother UX: show the tour in place, and have the "Done" button ship you to the experiment page.

CC @Pekochen and @ChenMorpheus for their thoughts as well.

[2017-12-01 06:48] fangshih commented on #3085
Sorry guys :P

[2017-12-01 20:17] lmorchard commented on #3001
Totally missed that I got assigned to this - will try to get to this today or monday

[2017-12-04 11:10] ChenMorpheus commented on #2867
Please find the the prototype for various updated use cases and the links below for measurements and assets.

![image](https://user-images.githubusercontent.com/18019946/33549772-a27eaf50-d926-11e7-9967-2fe34fc6632b.png)

![image](https://user-images.githubusercontent.com/18019946/33549781-ab67c7aa-d926-11e7-9b3f-fd336faaee46.png)

Prototype:
https://mozilla.invisionapp.com/share/QCCPNI3YZ#/260183

[2017-12-04 13:16] SoftVision-PaulOiegas commented on #3105
The modals are correctly showing up now. 👍

[2017-12-04 13:38] SoftVision-PaulOiegas opened #3116 "Welcome + Newsletter + Newsletter Confirmation modals are not following the designs"
**[Affected versions]:**
- Firefox 57.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to repr

[2017-12-04 15:26] SoftVision-PaulOiegas opened #3117 "Uninstall modal is not following the designs"
**[Affected versions]:**
- Firefox 57.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-

[2017-12-04 15:58] fzzzy opened #3119 "Try to get off airbnb lint config"
Last sprint I updated all the dependencies except 5 of them. Let's try to get them all fully updated now.

[2017-12-04 15:58] fzzzy commented on #2986
This was completed, except 5 dependencies still could not be updated. Let's try again asap so we have a better chance of actually doing this. I opened a new bug for it:

https://github.com/mozilla/testpilot/issues/3119

[2017-12-04 15:58] #2986 closed, assigned to fzzzy

[2017-12-04 15:59] fzzzy commented on #3014
Kicking this into sprint 37.

[2017-12-04 16:39] SoftVision-PaulOiegas opened #3120 "Retire page modal does not follow the design"
**[Affected versions]:**
- Firefox 57.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-

[2017-12-04 16:49] SoftVision-PaulOiegas opened #3121 "The 404 modal does not follow the design"
**[Affected versions]:**
- Firefox 57.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to repr

[2017-12-04 16:59] SoftVision-PaulOiegas opened #3122 "The "Share" page modal does not follow the design"
**[Affected versions]:**
- Firefox 57.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to repr

[2017-12-04 17:16] ghost commented on #3121
Let's not change the "Home" string

[2017-12-04 17:24] #3096 closed, assigned to fzzzy

[2017-12-04 17:28] SoftVision-PaulOiegas commented on #3062
Fixed! 👍

[2017-12-04 17:34] SoftVision-PaulOiegas opened #3124 "The experiments tour modal content is wrongly loading in two steps"
**[Affected versions]:**
- Firefox 57.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to repr

[2017-12-04 18:34] lmorchard commented on #3124
This actually sounds like a duplicate of #1477 - but with the added issue of a reflow once the image has loaded. Could at least incrementally improve the situation by establishing the image size before load, so the dialog size doesn't shift

[2017-12-04 20:33] meandavejustice commented on #3124
as a temporary fix I've set the min-height for step-modals (component used by tour and news updates modal) to 400px. It seems to do the trick for now.

[2017-12-04 21:59] meandavejustice opened #3126 "make sure all modals have rounded corners"

[2017-12-04 22:00] #3122 closed, assigned to meandavejustice

[2017-12-04 22:00] #3124 closed, assigned to meandavejustice

[2017-12-04 22:26] fzzzy opened #3127 "2017-12-6 on stage"
Please test!

[2017-12-04 22:38] lmorchard commented on #3001
@chuckharmston I see #3019 is closed, but I don't see an update for this issue in there. I can probably wing it, but a spec update would be good. The plain header is there in a few of the artboards, but the fixed position state seems missing.

[2017-12-04 22:49] lmorchard commented on #3001
Also, could we avoid adding a new string here by reusing "Try out these experiments as well" from the bottom of the experiment detail pages?
![capture](https://user-images.githubusercontent.com/21687/33580458-4d2c770e-d91b-11e7-8c34-47c659f0fbed.PNG)

Might not be a great idea, the more I think about it 😞

[2017-12-05 00:47] fzzzy commented on #3127
Actually, it looks like stage hasn't updated since November 13. Dev looks correctly up-to-date. I will work with relud or miles tomorrow to figure out what is going on with stage.

Please test dev!

[2017-12-05 12:42] SoftVision-PaulOiegas commented on #3127
I think it's better to wait for a proper stage server deploy to run our tests. We are also a bit overwhelmed today with tasks on experiments and Cosmin is in PTO. If you guys manage to deploy stage today, I'll start the run today and finalize it tomorrow together with Cosmin which returns tomorrow too.
And if everything is ok with stage tomorrow, we'll test also the production server when you wake

[2017-12-05 12:51] fzzzy commented on #3127
Ok. Thanks!

[2017-12-05 12:55] SoftVision-PaulOiegas commented on #3096
Seems to be fixed, at least on the above scenarios. Tried other several approaches but I haven't managed to make the newsletter modal appear. Marking this as verified fixed. 👍

[2017-12-05 13:04] SoftVision-PaulOiegas commented on #3124
@lmorchard #1477 is a bit different and it still occurs now that Dave fixed this one.
However, there is still a bit of a jump inside the modal after the image loads, but it's way better than before. 👍  #1477 will fix the remaining problem when implemented.

[2017-12-05 13:49] SoftVision-PaulOiegas commented on #3122
Uuuu, this is nice! Looks as designed and works as intended. 👍

[2017-12-05 13:59] #3091 closed, assigned to youwenliang

[2017-12-05 14:00] #3093 closed, assigned to youwenliang

[2017-12-05 14:00] #3094 closed, assigned to youwenliang

[2017-12-05 14:00] #3095 closed, assigned to youwenliang

[2017-12-05 14:19] johngruen commented on #3092
@youwenliang this one is actually pretty complicated to solve...

[2017-12-05 14:22] johngruen commented on #3092
I'm moving this into stretch.

[2017-12-05 14:50] SoftVision-PaulOiegas commented on #3091
Seems to be as designed now. The experiment titles and subtitles are no longer highlighted. 👍