[2017-07-06 02:51] ChenMorpheus commented on #2325
@johngruen Sorry that I might misunderstand something here. I thought the one for screenshots would also apply to Test Pilot, and even the badging system for Design System. However, if that's not the case, we'll try to come up a new badge specifically for Test Pilot.

[2017-07-06 14:04] SoftVision-PaulOiegas opened #2592 "Experiments logos are no longer displayed on the active and past experiments cards"
**[Affected versions]:**
- Firefox 54.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "stage" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.

**[Steps to reproduce]:**
1. Open the browser with

[2017-07-06 15:32] Softvision-VladBacia opened #2593 "Blank tab is displayed after sharing on Facebook from TxP Share page"
**[Affected versions]:**
- Firefox Latest Release 54.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "stage" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.
- User is logged on Facebook.

**[

[2017-07-06 15:35] SoftVision-PaulOiegas opened #2594 "Update the Test Pilot Newsletter email before graduating Page Shot"
Currently the Newsletter sign up email contains Page Shot and Min Vid as promoted experiments. Since we are graduating Page Shot next week, we should either remove it from the email, which leaves just Min Vid, or promote other experiments instead.

[2017-07-06 15:47] Softvision-VladBacia opened #2595 "Experiment image and details are not displayed when posting the experiment link on Facebook"
**[Affected versions]:**
- Firefox Latest Release 54.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "stage" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.
- User is logged on Facebook.

**[

[2017-07-06 15:51] SoftVision-PaulOiegas commented on #2595
Sry Vlad but this was already logged in #2473. My bad... Closing as dupe.

[2017-07-06 15:51] #2595 closed, assigned to nobody

[2017-07-06 16:19] #2592 closed, assigned to fzzzy

[2017-07-06 16:24] fzzzy commented on #2588
https://github.com/mozilla/testpilot/issues/2595 (Fixed)

[2017-07-06 16:24] fzzzy commented on #2588
https://github.com/mozilla/testpilot/issues/2593 (minor)

[2017-07-06 16:24] fzzzy commented on #2588
https://github.com/mozilla/testpilot/issues/2594 (is fixable outside the repo, doesn't block release)

[2017-07-06 18:27] fzzzy commented on #2593
This must be because of the rel=noopener which was added recently. I'm going to say this shouldn't block the release.

[2017-07-06 18:28] fzzzy commented on #2594
This can be fixed without changing the code in the repo, so doesn't block the deploy. It can still be fixed before Page Shot graduates.

[2017-07-06 18:37] fzzzy commented on #2588
Have built a new stage build with the fix for #2595. Reusing this same bug to track issues that block the new build.

[2017-07-06 21:34] fmarier opened #2597 "Version detection doesn't work in Nightly"
When trying to install an experiment (for example, [containers](https://testpilot.firefox.com/experiments/containers)), I get the following message:

![testpilot-version-detection](https://user-images.githubusercontent.com/167821/27933913-ccf23c4e-6292-11e7-910a-efb498221c9e.png)

[2017-07-06 22:38] ghost commented on #2594
Jess & Kirby have this change targeted for the 25th

[2017-07-07 00:35] ghost opened #2599 "Do you need an automated code style tool?"
Myself and a cofounder created a style linter developer tool that comments on style errors in GitHub pull requests (for 15 languages and counting). It is free for open source projects.

You can check out the product on https://stickler-ci.com. Just authorize your GitHub account, enable a public repo, and then open/update an existing pull request (or create a new pull request).

[2017-07-07 05:17] #2599 closed, assigned to nobody

[2017-07-07 07:39] SoftVision-PaulOiegas commented on #2597
Hi @fmarier and thanks for your report! I've tried to reproduce this using latest Nightly build available (2017-07-06) and could not reproduce this. Are you sure you are on a version above Firefox 51? This should only show up if the browser version is indeed lower than required.
Test Pilot itself needs at least Firefox 50 and current release is at 54.0.1 so this is quite strange.

If the version i

[2017-07-07 11:15] SoftVision-PaulOiegas commented on #2592
They seem to work now. Marking as verified 👍

[2017-07-07 12:24] SoftVision-PaulOiegas opened #2600 "Different font size used for the buttons on the "Newsletter" sign up dialogs after Test Pilot install"
**[Affected versions]:**
- Firefox 54.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "stage" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.

**[Steps to reproduce]:**
1. Open the browser with

[2017-07-07 12:40] SoftVision-PaulOiegas opened #2601 "No "HTTPS" protocol required for loading Test Pilot pages in other browsers than Firefox"
**[Affected versions]:**
- Chrome, Edge, Safari, Opera

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Steps to reproduce]:**
1. Open Chrome/Edge/Safari/Opera browser and navigate to "http://testpilot.dev.mozaws.net" or "http://testpilot.stage.mozaws.net pages.
2. Observe the address bar URL and loaded page content.

**[Expected result]:**
- You are prompted that "Test Pilot mus

[2017-07-07 14:26] SoftVision-PaulOiegas commented on #2153
Fixed! 👍

[2017-07-07 15:42] SoftVision-PaulOiegas commented on #2588
**New issues:**
1. #2600 - Different font size used for the buttons on the "Newsletter" sign up dialogs after Test Pilot install
2. #2601 - No "HTTPS" protocol required for loading Test Pilot pages in other browsers than Firefox

**Known issues:**
1. #2382 - [Enhancement] Graduated experiments should no longer have localization restrictions, so anyone could see the reports
- This one could be nice

[2017-07-07 18:00] Tobias-B-Besemer opened #2602 "Icon in extended tabbar looks ugly"
The Test-Pilot-Icon in the extended tabbar (the arrow for the expanded list) looks ugly.
![2017-07-07 19_03_38-add-ons manager - nightly build 20170707030206](https://user-images.githubusercontent.com/11881073/27970364-d8904070-634e-11e7-9632-a68f03aef870.png)

[2017-07-07 18:48] jaredhirsch commented on #2422
This change has been released in the latest addon, which has a version number "1.1.3-dev.ba83fba".

[2017-07-07 19:51] johngruen commented on #2602
ewww

[2017-07-10 08:37] 75mp75 opened #2604 "Test pilot"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Containers:           https://github.com/mozilla/testpilot-containers/issues/new
- Min Vid:

[2017-07-10 09:41] SoftVision-PaulOiegas commented on #2602
Maybe a dupe of #2585? I know it's on another menu but most likely it has the same root cause.

[2017-07-10 09:43] SoftVision-PaulOiegas commented on #2604
Please provide real details if you have an issue with Test Pilot. Until then, I'll close this.
Thanks !

[2017-07-10 09:43] #2604 closed, assigned to nobody

[2017-07-10 16:21] johngruen opened #2605 "Allow youtube embeds"
Per Sharon's user research, we should allow Youtube embeds.

[2017-07-10 16:21] johngruen commented on #2605
I think this would basically just be a CSP change

[2017-07-10 16:37] b4handjr commented on #2587
I needed to build the addon. It looks like npm start does not build the addon.

[2017-07-10 16:39] ghost commented on #2376
@jrbenny35 is this ready to be closed?

[2017-07-10 16:41] lmorchard commented on #1792
Docs merged, let's call this done https://github.com/mozilla/testpilot/blob/master/docs/development/dev-deployment.md

[2017-07-10 16:41] #1792 closed, assigned to jaredhirsch

[2017-07-10 16:42] ghost commented on #2536
We don't run tests on Pontoon commits.  We got more circle workers.  jrbenny35 has tests running on dev again.

@chuckharmston can this be closed?

[2017-07-10 16:48] ghost commented on #2512
Depending on what we do with the notification bar we might get this fixed for free.  Les's new add-on is removing this functionality

[2017-07-10 16:50] ghost commented on #2386
Dupe of #2594

[2017-07-10 16:50] #2386 closed, assigned to johngruen

[2017-07-10 16:53] ghost commented on #2335
This will be fixed by les's new add-on

[2017-07-10 16:55] #2394 closed, assigned to nobody

[2017-07-10 16:59] #2588 closed, assigned to nobody

[2017-07-10 17:00] Tobias-B-Besemer commented on #2602
Yes, seems to be the same bug! Just a other view of it...

[2017-07-10 17:00] #2587 closed, assigned to nobody

[2017-07-10 17:12] ghost commented on #1976
/cc @relud when he's back

[2017-07-10 20:05] johngruen commented on #1766
@eleemoz (╯°□°）╯︵ ┻━┻

[2017-07-10 20:05] #1766 closed, assigned to clouserw

[2017-07-11 01:22] b4handjr commented on #2376
Yup. Closing.

[2017-07-11 01:22] #2376 closed, assigned to b4handjr

[2017-07-11 15:40] SoftVision-PaulOiegas opened #2606 "Experiment graduation message is not removed from experiments details page when changing system date to a past date"
**[Notes]:**
- This is an edge case that probably won't happen, but I chose to log it because when we previously graduated experiments, this was working fine.

**[Affected versions]:**
- Firefox 54.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "dev" value.
- Th

[2017-07-11 15:49] pdehaan commented on #2606
My **guess** is that this is due to #2581; _"Ensure page content even without grad report"_, and we're only showing this UI since we don't have graduation reports for the newly graduating experiments yet.

[2017-07-11 15:59] SoftVision-PaulOiegas commented on #2606
Yeah, could be. We'll double check after we have the grad reports implemented.

[2017-07-11 16:01] SoftVision-PaulOiegas opened #2607 "[Enhancement] Optimize experiments details page elements to reduce the unneeded empty space"
**[Affected versions]:**
- Firefox 54.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "dev" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.

**[Steps to reproduce]:**
1. Open the browser with

[2017-07-11 21:41] fmarier commented on #2597
You're right, it works in a new profile.

I have tried to re-add add-ons and other customizations but haven't been able to isolate why it's not working for me in today's Nightly.

It is 100% reproducible in my profile though, preventing me from installing any new test pilot experiments.

[2017-07-12 08:30] SoftVision-PaulOiegas commented on #2597
Maybe we can debug it. Can you please navigate to "about:support" page, scroll down to "Important Modified Preferences" section and throw here a screenshot of that section? Maybe one of the preferences from your profile is doing that.
Or you can compare that section yourself with the one of a new profile.

[2017-07-12 18:54] fzzzy opened #2609 "Store languages iterator in redux instead of the raw languages files"
As described here:

https://github.com/mozilla/testpilot/pull/2559#discussion_r124590899

[2017-07-13 12:11] SoftVision-PaulOiegas opened #2610 "Containers wrongly installs together with Test Pilot and works on Fx 52.0.2 when minimum version was set to Fx 53"
**[Notes]:**
- The Containers add-on is not displayed as unsupported on Firefox 52.0.2, but it is displayed as so and disabled in Fx 50.0 for example.
- The "New Tab" button hover menu is still working and opening container tabs, but the containers toolbar doorhanger is not visible.
- Version limitation was set in #2603.

**[Affected versions]:**
- Firefox 54.0.1 and above

**[Affected Platforms]:

[2017-07-13 12:34] fzzzy opened #2612 "Localize the <title> with fluent-react"
The fluent-react branch is about to land, but I forgot to localize the title properly. Since that other pr is so big, I'd like to do this as another issue, in this same sprint.

[2017-07-14 07:16] nagpalnitesh opened #2613 "containers not working correctly"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Containers:           https://github.com/mozilla/testpilot-containers/issues/new
- Min Vid:

[2017-07-14 15:35] nosefouratyou opened #2614 "Tab Center is gone?!?"
I'm using Tab Center right now and I love it. Is there a way for this to still be available? I can't imagine why this was discontinued. If it's gone for good, could someone point me at the source code? Thanks!

[2017-07-14 16:06] lmorchard commented on #2614
Tab Center is a Test Pilot experiment - and like all Test Pilot experiments, it runs for a limited time. That is, Test Pilot experiments are not intended to be or developed as permanently available features. It might show up again as a real feature in Firefox, but for now the Tab Center experiment has ended. You can follow up for more info at these places:

* Source code - https://github.com/bwint

[2017-07-14 16:06] #2614 closed, assigned to nobody

[2017-07-14 16:10] lmorchard commented on #2614
To be more specific, though, I see there's some explanation of why Tab Center in particular is coming to a close right now [in the discussion forum](https://discourse.mozilla-community.org/t/whats-all-this-about-sunsetting-tab-center/15999/7).

[2017-07-14 18:39] pdehaan opened #2616 "Experiment cards all share same "show-detail" id"
[/frontend/src/app/components/ExperimentRowCard.js:43](https://github.com/mozilla/testpilot/blob/ecc0f788c1ade754c85913a971d26ff842a90ab3/frontend/src/app/components/ExperimentRowCard.js#L43) says:

[code]

Unfortunately, that means when you do a view-source or inspect element on the home page, all the experiment cards share the same `show-detail` id:

<img width="817" alt="firefox_test_pilot" src

[2017-07-14 21:19] pdehaan opened #2617 "Don't render empty experiment status messages"
Found while doing view-source and throwing it through an HTML linter https://html5.validator.nu/.

Currently we have source like this:

[code]

The problem with this is that if `{this.statusMsg()}` returns an empty string or whatever, we're left with an empty `<h4>` tag.

It _may_ be better off checking if `this.statusMsg()` is truthy before rendering it in a parent `<h4>` tag, similar to how we r

[2017-07-15 09:48] sujeet-kumar-buzyears opened #2618 "ISSUE :: On mouse over at add new tab"
Please go through the image.
As per your diagram 1
![firefox test pilot _containers_](https://user-images.githubusercontent.com/29161189/28238355-92a58418-696f-11e7-97dd-9e754c7cbcbe.png)

My computer snapshot:
![screenshot from 2017 07 15 15 12 43](https://user-images.githubusercontent.com/29161189/28238429-c6345a88-6970-11e7-97e3-6ee222070eac.png)

Thank you for contributing to Test Pilot!

Plea

[2017-07-16 19:27] 75mp75 commented on #2604
Fuck off

[2017-07-17 10:11] ChenMorpheus commented on #1859
@johngruen From UX perspective, to prevent any localization issues, I would suggest displaying an icon or illustration as complement to explain the situation here. It'll be perfect if we can have the hard coded string in several languages like what John mentioned above.

[2017-07-17 10:18] johngruen commented on #2616
@pdehaan yeah i noticed this too recently

[2017-07-17 10:19] johngruen commented on #2607
@SoftVision-PaulOiegas I think we are going to switch back to a world where the page looks the same regardless of installl state

[2017-07-17 17:03] b4handjr commented on #1281
I am working on this as it is one of my goals this quarter. I will be using https://github.com/mozilla/FoxPuppet to interact with the browser chrome. I will probably write a pytest-plugin to help with this as well.

I currently have the 2 tests working, just need to get Foxpuppet updated and the plugin created.

[2017-07-17 22:17] relud commented on #1976
this should be fixed in stage. let me know when you would like the update deployed to prod

[2017-07-18 12:21] SoftVision-PaulOiegas commented on #2614
@nosefouratyou Until a future decision is taken with Tab Center, you can try to use a webextension based on Tab Center. It's not as good, but it could be if you give it some time.
https://addons.mozilla.org/en-US/firefox/addon/tab-center-redux/?src=search

[2017-07-18 12:39] SoftVision-PaulOiegas commented on #2618
@sujeet-kumar-buzyears I think the functionality was changed by the Containers development team. Right now you need to long click the new tab "+" button in order to have that menu displayed.

Details can be found in the next issue:
https://github.com/mozilla/testpilot-containers/issues/674

[2017-07-18 12:39] #2618 closed, assigned to nobody

[2017-07-18 12:49] SoftVision-PaulOiegas commented on #2607
@johngruen Well that will help, it looks a bit better when Test Pilot is installed. But you still got a blank space and that could enlarge if any new details are added on the left side of the page (eg: like contributors, or a longer privacy section).

[2017-07-18 17:28] #2546 closed, assigned to lmorchard

[2017-07-19 15:14] SoftVision-PaulOiegas commented on #2546
The indicators were added just for the web experiments or for all experiments types?
I'm asking because I'm not seeing any indicators on dev, and I can't access either the storybook links from the PR. 🤔

[2017-07-19 16:07] johngruen opened #2625 "Test Pilot intermittently does not stop loading on nightly"
Test Pilot side does not stop loading, ever. I'm on Nightly 56.

[2017-07-19 16:11] johngruen commented on #2625
Cannot repro in release 54...
BTW, here's what i'm logging:
<img width="767" alt="screen shot 2017-07-19 at 6 10 58 pm" src="https://user-images.githubusercontent.com/3323249/28377634-ba4c73aa-6cad-11e7-9c3a-9c2c799575fd.png">

[2017-07-19 16:12] johngruen commented on #2625
@fzzzy ^

[2017-07-19 16:25] fzzzy commented on #2625
This is much easier to reproduce on the 1714-fluent-react-merge branch. The fact that this may not happen on release firefox is really useful info, I'll see if I can repro on release on my branch.

If this is caused by a nightly problem, not a test pilot problem, we should still try to reduce a test case if we can figure out what the actual problem is.

[2017-07-19 17:05] fzzzy commented on #2625
Ok, I take that back, it doesn't seem as easy to reproduce as it was...

[2017-07-19 18:33] ghost opened #2627 "Get Test Pilot add-on signed as a Mozilla Extension"
All the extensions are going through our new signing pipeline (and being hosted on testpilot.f.c/files/) which means they are good to go for when non-webextension restrictions hit Firefox.

However, Test Pilot still does its own thing (signing on AMO?  I thought that was disabled.  Maybe that's only for new add-ons).  We should have Test Pilot run through the same pipeline as everything else.

The

[2017-07-19 18:47] lmorchard commented on #2574
Just as an update for the same of completeness: I just merged in a [CODEOWNERS file](https://github.com/mozilla/testpilot/blob/master/CODEOWNERS) to automatically request review when `locales/en-US` files change.

But, I think that's just an initial step - and a github feature that didn't exist a few weeks ago. We should still continue forward with a new l10n branch and testing server ASAP (i.e. p

[2017-07-20 01:58] fzzzy commented on #2605
child-src https://www.youtube.com

(https://indieweb.org/Content-Security-Policy)

[2017-07-20 03:16] ChenMorpheus opened #2629 "Fine tune UI for feedback button on experiment card"
Thanks Les for implementing the feedback button. However, I was wondering if we can tweak it a little bit. There are several suggestions for the UI:

1. Move down the icon and "feedback" text 1 px to make it visually align with the button vertically.
2. Have 8 px gap on the right end of the feedback button.
3. Make the feedback button align vertically with the experiment title.
Please let me know

[2017-07-20 15:34] fzzzy commented on #1976
This was fixed on prod. Thanks @relud!!

[2017-07-20 15:34] #1976 closed, assigned to clouserw

[2017-07-20 15:47] fzzzy commented on #2536
We still have some issues with intermittent failures, but there is a new issue to look into that. After some discussion on irc with chuck, closing this.

https://github.com/mozilla/testpilot/issues/2625

[2017-07-20 15:47] #2536 closed, assigned to chuckharmston

[2017-07-20 18:06] lmorchard commented on #2627
And now after saying `npm run package` was fine in #2615, I just remembered what the gotcha was here:

We have two separate `package.json` files - one in the repo root for the website, and one under `addon/` for the add-on. Separate sets of NPM scripts and dependencies. (This is what Issue #2113 was about, but we punted on it.) So, just running `npm install && npm run package` in the root director

[2017-07-20 18:48] #2605 closed, assigned to fzzzy

[2017-07-20 21:31] fzzzy opened #2633 "Release 2017-07-20 on stage"
Please report any blockers here.

[2017-07-21 12:06] SoftVision-PaulOiegas opened #2634 "Collisions in parallel dev deployments sometimes break the site (loader never stops spinning)"
**[Notes]:**
- Might be again something that will resolve by itself, but better safe than sorry.

**[Affected versions]:**
- Firefox 54.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "dev" value.
- The "extensions.webapi.testing" boolean type pref was manually a

[2017-07-21 13:14] SoftVision-PaulOiegas opened #2635 "Test Pilot add-on installation is wrongly performed when the "Homepage" install button is scroll clicked"
**[Affected versions]:**
- Firefox 54.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "dev" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.

**[Steps to reproduce]:**
1. Open the Firefox with

[2017-07-21 13:48] johngruen opened #2637 "Isolate Youtube Embed from intro"
The video should really live by itself since localizers shouldn't have to contend with it.

[2017-07-21 13:48] johngruen commented on #2637
#2636

[2017-07-21 14:45] johngruen commented on #2634
Local is failing too. Oddly i checked out the current stage branch and it also fails locally.

[2017-07-21 14:56] SoftVision-EmilPasca opened #2638 "Unable to sign up for Test Pilot newsletter outside of US networks (Romania)"
**[Affected versions]:**
- Firefox 54.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "stage" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.

**[Steps to reproduce]:**
1. Open the Firefox wi

[2017-07-21 15:32] SoftVision-EmilPasca opened #2639 "Test Pilot Facebook share post title is wrongly displayed and the description is missing"
**[Affected versions]:**
- Firefox Latest Release 54.0.1 and up

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "stage" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.
- User is logged on Facebook.

**[

[2017-07-21 15:44] SoftVision-PaulOiegas opened #2640 "The whole privacy section from newsletter sign up pop up / form is considered action radius for its checkbox"
**[Affected versions]:**
- Firefox 54.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "dev" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.

**[Steps to reproduce]:**
1. Open the Firefox with

[2017-07-21 16:02] SoftVision-PaulOiegas opened #2641 "Text inside the dialog of the legacy page is wrongly aligned to left instead of center"
**[Affected versions]:**
- Firefox 54.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "dev" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.

**[Steps to reproduce]:**
1. Open the Firefox with

[2017-07-21 16:04] fzzzy commented on #2637
On the other hand, we might actually want to have a video in each language, right?

[2017-07-21 16:08] fzzzy commented on #2634
MIME type mismatch? I have never seen that...

[2017-07-21 16:28] SoftVision-PaulOiegas commented on #2633
Hi guys,

We have just finalized testing stage server. The PASS rate doped to 86%. Here are the testing results:

***New Issues:***
1. #2635 - Test Pilot add-on installation is wrongly performed when the "Homepage" install button is scroll clicked - (minor)
2. #2638 - The confirmation newsletter email is not sent after Signing Up from TestPilot - (major)
3. #2639 - Test Pilot Facebook share post t

[2017-07-21 17:35] chuckharmston opened #2642 "Error message on Test Pilot homepage on Firefox for iOS"
![img_0113](https://user-images.githubusercontent.com/23885/28475225-a8d73ae0-6e08-11e7-9dc1-c6501bf8ee59.PNG)

[2017-07-21 20:18] ghost opened #2643 "Flip all our add-ons over to Mozilla Extensions"
We've got add-ons getting signed with the new Mozilla Extension certs and being uploaded to s3 in parallel to our other signing pipeline.  They can be accessed by adding mozillaextension to the URL.  For example:

becomes

That'll currently work for @min-vid, @notes, @speak-to-me, and @testpilot-containers.  We'll need to push a new version of snooze tabs to get it to use the new signing pipeline.

[2017-07-21 21:26] relud commented on #2643
lgtm. Changing the path will cause new extensions to go to the right place, but there's a little more work. After that we'll need to either release updates to all the add-ons, or I will need to copy everything and modify the location tag on the 'latest' files. The latter is fine, and probably less effort overall. Also when I change the path I will need to simultaneously disable the old signing, so

[2017-07-22 10:09] marsjaninzmarsa commented on #2638
Confirmation email should be sent only if you're not yet signed for any of Mozilla Newsletters, are you sure that's not the case?

[2017-07-24 07:53] johngruen commented on #2640
This is acutally on purpose. we're using a `for=` attr in the label to bind clicks to the check box.

[2017-07-24 07:53] #2640 closed, assigned to nobody

[2017-07-24 07:53] #2637 closed, assigned to nobody

[2017-07-24 13:05] SoftVision-PaulOiegas commented on #2642
Indeed, just checked on Vlad's iPhone. And also the footer links are on the middle of the page.

On Android is working fine, no error displayed while navigating. However, when you enter on an experiment page, the  "Just launched" sentence is displayed for every experiment instead of current number of participants.

![android](https://user-images.githubusercontent.com/17258026/28524557-aaabc420-708

[2017-07-24 15:46] fzzzy commented on #2638
I see a POST to https://basket.mozilla.org/news/subscribe/ when the form is submitted, so either basket was having a problem or the email was already subscribed.

[2017-07-24 15:50] fzzzy commented on #2634
Do we have any idea what happened here?

[2017-07-24 16:00] SoftVision-PaulOiegas commented on #2638
@fzzzy Don't think so, I had the same problem on my end. Also checked the subscription from an old test email and my testing email wasn't subscribed. After 2 attempts of subscribing, nothing came on that email.

[2017-07-24 16:06] SoftVision-PaulOiegas commented on #2640
👍 the issue was more to make sure that this was intended.

[2017-07-24 16:14] lmorchard commented on #2639
Not sure what the issue is... Here's the FB debugger URL: https://developers.facebook.com/tools/debug/

[I just ran the stage URL through their debugger](https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Ftestpilot.stage.mozaws.net%2F%3Futm_source%3Dcopy%26utm_medium%3Dsocial%26utm_campaign%3Dshare-page), and it looks okay:

![capture](https://user-images.githubusercontent.com/21

[2017-07-24 16:25] SoftVision-PaulOiegas commented on #2638
I'll recheck with a brand new email address to make sure it's still broken.

[2017-07-24 16:27] #2635 closed, assigned to nobody

[2017-07-24 16:30] ghost commented on #2593
Can we drop rel=noopener?  @jvehent -- is there a security risk to dropping that?

[2017-07-24 16:32] #2641 closed, assigned to nobody

[2017-07-24 16:44] pmac commented on #2638
I think basket is okay. Can someone point me to the code that sends the request to basket? I know that there have been issues with sending basket an invalid language. I filed #2403 to help deal with this, but it could well be something to do with that again. I tried to reproduce from the URL above but I apparently need some special Fx config that I don't have. Is this also happening in prod?

[2017-07-24 16:54] pmac commented on #2638
I tried prod with a [test email and got the confirmation email](http://restmail.net/mail/test-pilot-prod@restmail.net). So things seem fine in prod at least.

[2017-07-24 17:19] g-k commented on #2593
ulfr asked me to comment.

The risk with dropping rel=noopener is FB could redirect the testpilot page to a phishing site or something similar (kind of like a popunder) https://mathiasbynens.github.io/rel-noopener/

Depending on which FB API we're using, we could set the redirect_uri to return to the Facebook Home page after posting https://developers.facebook.com/docs/sharing/reference/share-dial

[2017-07-24 17:43] lmorchard opened #2650 "Failure in build-{addon,frontend}.sh silently ignored in CircleCI"
Just saw [build 4952](https://circleci.com/gh/mozilla/testpilot/4952?utm_campaign=chatroom-integration&amp;utm_medium=referral&amp;utm_source=irc) fail - but only in the deployment step because `addon.xpi` was missing. The real failure was that `build-addon.sh` failed in its call out to AMO for signing.

CircleCI should have failed the build back in *that* earlier step.

[2017-07-24 17:45] lmorchard commented on #2650
Also worth noting that we've had `build-frontend.sh` fail and get ignored. So, this could be a common issue that needs going over in all the circleci scripts

[2017-07-24 17:51] fzzzy commented on #2633
Minor issues #2635, #2640 and #2641 were closed.

Major issues #2638 and #2639 are under active investigation but will not block tomorrow's release. We will also have a release on Wednesday for the new experiments, so if any fixes are forthcoming by then we can release them.

[2017-07-24 17:59] lmorchard opened #2651 "Stop signing the main add-on in CircleCI"
Related to #2643 & #2627 - we should stop signing the add-on via AMO in CircleCI runs on master branch.

This means that the add-on will no longer be installable from Dev & Stage environments via the big green button. The add-on would need to be installed in one of three ways:

1) From the prod site, where it's a release version signed as a Mozilla Extension
2) Via about:debugging as a temporary a

[2017-07-24 18:09] fzzzy commented on #2585
https://github.com/mozilla/testpilot/issues/2602 is probably a dupe of this, and is already in our next sprint. So I am going to close this bug in favor of that one.

[2017-07-24 18:10] #2585 closed, assigned to nobody

[2017-07-24 18:10] lmorchard commented on #2627
Another thought: If we change the URL for the main Test Pilot add-on along with Mozilla Extension signing - and I'm assuming we will - [we'll have to change the URL in the frontend code for installation](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/lib/addon.js#L18).

[2017-07-24 18:11] fzzzy commented on #2577
Seems like a good idea.

[2017-07-24 19:09] flodolo commented on #2271
I honestly don't understand how this ties into the ability to switch language. Also, I think we're associating experiments to languages, not regions?

[2017-07-24 19:14] lmorchard commented on #2651
An alternative might be to hard-code the add-on URL to production. Then, I *think* stage & dev will be able to install the *current production add-on* by way of the big green button on the site.

But, testing specific to unreleased versions of the add-on would need to be done via `about:debugging`. Which, hopefully, ends up not being *too* onerous because the main add-on shouldn't change very ofte

[2017-07-24 19:23] bidaian opened #2653 "[l10n] Clarify the notification about locale availability"
The current says:

`"This experiment is not supported in your language (ab_CD)"`

That could give the impression of lack of functionality in the localized browser. Could you change it to:

`"This experiment has not been yet translated to your language (ab_CD)"`

The "not yet" also hints at the possibility of contributing to the translation.

[2017-07-24 20:56] lmorchard commented on #2643
I think we've got Snooze Tabs ready for the switch over

[2017-07-24 21:41] ghost commented on #2650
We can get rid of build-addon.sh completely once we are on the new signing pipeline

[2017-07-24 21:46] fzzzy commented on #2638
Is the email perhaps being caught in a spam filter?

[2017-07-24 21:48] #2613 closed, assigned to nobody

[2017-07-24 21:51] ghost commented on #2610
This is a containers bug.  I filed https://github.com/mozilla/testpilot-containers/issues/692

[2017-07-24 21:51] #2610 closed, assigned to nobody

[2017-07-24 21:51] lmorchard commented on #2650
We can get rid of build-addon.sh, but I would like to see the failures ignored in other build scripts checked out too (like frontend)

[2017-07-24 21:52] ghost commented on #2607
John says he fixed the view to be a bit more balanced.

[2017-07-24 21:52] #2607 closed, assigned to nobody

[2017-07-24 21:53] ghost commented on #2606
Thanks, but we've decided not to focus on this.

[2017-07-24 21:53] #2606 closed, assigned to nobody

[2017-07-24 21:56] ghost commented on #2577
This is r+ by Product/UX.

[2017-07-24 21:57] ghost commented on #2574
Les is going to work on this once he finishes the add-on conversion

[2017-07-24 22:00] fzzzy commented on #2575
This is fixed now

[2017-07-24 22:00] #2575 closed, assigned to nobody

[2017-07-24 22:01] ghost commented on #2561
It sounds like this code just needs to get removed.

[2017-07-24 22:03] ghost commented on #2557
great idea!

[2017-07-24 22:04] ghost commented on #2499
We've done some solid changes since then (avoiding loading the bundle again on /experiments loading).  Is this still seen?  Closing for review

[2017-07-24 22:04] #2499 closed, assigned to nobody

[2017-07-24 22:08] lmorchard commented on #2561
FWIW, the addon i'm working on for #2423 doesn't include any feedback prompting yet. So we could consider that a fix for this

[2017-07-24 22:08] lmorchard commented on #2557
FWIW, the addon i'm working on for #2423 doesn't include any add-on install / uninstall code. So we could consider that a fix for this

[2017-07-24 22:55] dan-overton commented on #2111
I just had a look at this and confirm the behaviour is still the same. The privacy and terms pages are available in en-us and de, but not en (in the legal-docs project), so locale.js, which handles the redirect, falls back to de. Locale.js only checks for an exact match, so doesn't find en-us when looking for en.

I guess a fix would be to change locale.js to first check if an exact match is avail

[2017-07-25 09:27] SoftVision-PaulOiegas commented on #2643
@wresuolc Sorry for the delayed response, this issue somehow got skipped.

I think the testing done was enough for now. We'll probably need to test again after Nightly 57 will be released, to be sure that nothing has changed from the testing we performed on Nightly 56. But I think we can do the switch.
This will also help us when we'll retest on 57, since we'll do the testing straight from test Pi

[2017-07-25 10:48] SoftVision-PaulOiegas commented on #2643
One thing though. Will all the experiments versions be bumped? We should assure that the users are receiving the ones with nu signatures as updates.

[2017-07-25 10:55] SoftVision-PaulOiegas commented on #2634
Tried to test today something on dev and this is still reproducing on both Nightly and Release with the same errors. Why it has been closed?

[2017-07-25 11:09] SoftVision-PaulOiegas commented on #2638
Sorry guys, just did a new Gmail email address (no spam filters) and tried with it on both Stage and Production servers. Tried both the methods, from homepage bottom form and from the welcome pop up displayed after installing Test Pilot. No newsletter email received... Checked all the folders and nothing.

[2017-07-25 12:04] fzzzy commented on #2634
I think John thought it was fixed... but apparently not...

[2017-07-25 13:59] SoftVision-PaulOiegas opened #2656 "Experiment installation is wrongly performed when the "Enable <experiment_name>" button is scroll clicked"
**[Notes]:**
- This also occurs for the "Disable <experiment_name>", "Your privacy", "Settings" and "View Past Experiments / Hide Past Experiments" buttons. Hope I checked all of them.

**[Affected versions]:**
- Firefox 54.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" p

[2017-07-25 14:52] flodolo commented on #2653
I agree that supported might not be the best choice. Maybe "This experiment is not available in your language yet (XX)"?

Eduardo also raises an interesting point (cc @stasm): if my accept languages specifies "eo,it,en", I get the page in Italian, and a warning saying that the experiment is not available in "Esperanto (eo)", because check stops at the first language.

Should we display this warnin

[2017-07-25 15:22] SoftVision-PaulOiegas commented on #2639
Yeah, probably it was something from Facebook. Testing now on Production and the share message looks ok.

[2017-07-25 15:22] #2639 closed, assigned to nobody

[2017-07-25 16:27] SoftVision-PaulOiegas commented on #2366
@fzzzy just tested on Production and it still occurs on production. If I remember well, this was working better last time. So the severity increased again for it.

[2017-07-25 18:00] lmorchard commented on #2627
Not sure I want to call it a complete "fix" for this issue, but we just merged PR #2652 - which implements `npm run package` in the root directory of the Test Pilot repo. That does this:
[code]
Would be nice to see if jenkins could do that itself if an `addon` directory is found. But, in the meantime, this *should* at least work and result in a built addon.

[2017-07-25 18:30] flodolo opened #2657 "[l10n] Remove content from old experiments"
A contributor starting to localizing the website correctly noted that there's a ton of obsolete content in experiments.ftl

Example: AS, cliqz, nomore404, paheshot, etc.

Why can't we get rid of this content?

CC @rprys

[2017-07-25 20:52] ghost commented on #2643
Yeah, we can bump the experiment versions.  @relud mentioned just copying files, but I think it's safer to do a new version.  So....:

1) [@relud] No-op the old signing path
2) [@relud] Change the path for the new signing to be in the correct location
3) [@clouserw] Deploy new versions for each add-on.  This can be done one-at-a-time if QA would prefer.
4) [@clouserw] Remove the old build-addon.sh

[2017-07-25 20:55] ghost commented on #2627
thanks @lmorchard

@relud - please set test pilot up on /files/ so we can start QAing versions that go there

[2017-07-25 21:39] relud commented on #2643
1 and 2 are complete

[2017-07-25 21:42] relud commented on #2627
another thing: the addon version is extracted from the package.json in the root of the repository. will that be acceptable here, or do we need to implement getting version and addon name from `addon.xpi` first?

[2017-07-25 21:44] relud commented on #2627
another other thing: right now mozillaextension addons are only built for prod. If we continue that pattern here, this means that deploying stage would not update the addon

[2017-07-25 21:47] lmorchard commented on #2634
Poked at this a bit & reproduced. The "MIME type mismatch" error is technically correct, but misleading.

Looking at the actual URL of the JS bundle referenced by the `<script>` tag - the response is a 403 status with the text/html 404 page. Looking at the S3 bucket in the AWS console, there's an `app.{hash}.js` bundle in there - but it's a different hash than what `index.html` points to.

A guess

[2017-07-25 21:55] fzzzy commented on #2634
So that would explain why this is sometimes fixed and sometimes not. If a commit causes a deploy without another commit interfering with it, then it is fixed. If two commits cause two deploys and they interfere, then the problem appears.

[2017-07-25 23:15] ghost commented on #2627
Good point on package.json.  I think we should write that patch to extract from addon.xpi.  (update: talked on IRC, we're going to do that)

As for building for prod...  Since we wouldn't be deploying in the same bundle as the code anymore, I don't think we need to build for stage.  @SoftVision-PaulOiegas might have an opinion though?

[2017-07-26 00:04] pdehaan opened #2659 "Add platforms to past TestPilot experiments"
With the latest batch of experiments, we got this business:

[code]

We may want to backport those changes to the previous experiments as well, for visual consistency.

<img width="1440" alt="firefox_test_pilot" src="https://user-images.githubusercontent.com/557895/28598851-4500a226-715b-11e7-8e21-b78e1238e7c4.png">

[2017-07-26 00:29] lmorchard commented on #2627
Yeah, needs to be taken from the `.xpi` - just like the Test Pilot addon lives in `addon/` with its own `package.json`, it has a totally separate versioning series from the `package.json` in the repo root

[2017-07-26 00:54] pdehaan opened #2660 "Add new experiments to the "New Bug" issue template"
[/.github/ISSUE_TEMPLATE.md](https://github.com/mozilla/testpilot/blob/master/.github/ISSUE_TEMPLATE.md) currently says:

[code]

I'd argue that we add the 3 new ones and remove the retired ones.

[2017-07-26 00:55] pdehaan opened #2661 "YouTube video being blocked by CSP on dev"
I think there is some ghost YouTube iframe or something that is occupying a bunch of space and making things look frightfully unbalanced:

<img width="1016" alt="firefox_test_pilot_-_voice_fill" src="https://user-images.githubusercontent.com/557895/28599820-78b4267c-7162-11e7-87b5-0e5e062b46cc.png">

[2017-07-26 01:01] chuckharmston commented on #2660
I'd argue that we should remove it entirely in favor of this banner:

<img width="1006" alt="screen shot 2017-07-25 at 19 00 11" src="https://user-images.githubusercontent.com/23885/28599916-a2c37676-716b-11e7-93bc-762ac8cfc707.png">

Because half our community-filed bugs end up being just the text of that template.

[2017-07-26 01:02] chuckharmston commented on #2661
Yeah, that's a placeholder for a YouTube video that John is working on. This is definitely safe to close.

[2017-07-26 01:02] b4handjr commented on #2660
I'm with Chuck.

[2017-07-26 01:03] pdehaan commented on #2661
<img width="1439" alt="item-0_and_airportextra_and_item-0" src="https://user-images.githubusercontent.com/557895/28599950-982c5f3c-7163-11e7-8ab4-dca912d1419e.png">

[2017-07-26 01:05] pdehaan commented on #2661
Also giving me a CSP error:

<img width="1430" alt="firefox_test_pilot_-_voice_fill" src="https://user-images.githubusercontent.com/557895/28599982-c33c2d56-7163-11e7-86ec-709489f25f0a.png">

[2017-07-26 01:05] pdehaan commented on #2660
I'm with Benny.

[2017-07-26 01:05] chuckharmston commented on #2660
I'm with Peter.

[2017-07-26 05:41] flodolo opened #2662 "Dev server is not loading"
https://testpilot.dev.mozaws.net/ is stuck on a waiting loop.

[2017-07-26 06:22] pdehaan opened #2663 "A couple console CSP errors on dev"
Not sure if these are new or not, but spotted running through my console:

Only thing I found with a 0px on that page was:

[code]

---

Also noticed a ton of these:

[2017-07-26 06:55] pdehaan commented on #2662
Same for me. I seem to be collecting some 403s for a few *.js files:

<img width="1439" alt="firefox_test_pilot" src="https://user-images.githubusercontent.com/557895/28608297-b6097c3e-7194-11e7-8d07-c7081e0716c5.png">

[2017-07-26 07:32] johngruen commented on #2662
@flodolo this seems to be an intermittent problem due to pontoon-triggered rebuilds.

[2017-07-26 07:32] pdehaan opened #2665 "A few [prod] performance results from Lighthouse"
Noticed a few perf issues on prod (dev was not responding &mdash; #2662) when testing w/ [Lighthouse](https://github.com/GoogleChrome/Lighthouse) ("Auditing, performance metrics, and best practices for Progressive Web Apps").

It's a pretty sweet tool, and may help point us towards a few cheap perf wins.

Not sure if we want to consider something like https://github.com/ebidel/lighthouse-ci to tra

[2017-07-26 07:34] johngruen commented on #2662
Might have to do with this? #2631

[2017-07-26 07:36] pdehaan commented on #2665
Not as pretty, but [sonar](https://sonarwhal.com/docs/user-guide/index.html) also looks pretty cool, and is a CLI tool.

I installed it locally and got the following results on the experiment details page in prod:

[code]

Where my local .sonarrc file looks like:

[code]

[2017-07-26 09:14] SoftVision-PaulOiegas commented on #2627
@wresuolc Let me see if I get this right. You are saying that this change won't affect the code so it's no point in testing this on stage, it would be enough to test dev and then uplift to production?
If this is it, then yes, I agree. If not, please give me more details to fully understand this.

[2017-07-26 10:09] SoftVision-PaulOiegas commented on #2635
👍

[2017-07-26 10:12] SoftVision-PaulOiegas commented on #2641
The dialog was partially fixed but I don't think we should work on this anymore. Probably nobody hits that page anymore so the effort is not justified. It looks pretty well now. 👍

[2017-07-26 12:33] SoftVision-PaulOiegas commented on #2663
Seen those too, but I am under the impression that are the same old ones that we already discussed about. Still, devs would know better.

[2017-07-26 12:35] SoftVision-PaulOiegas commented on #2662
And dupe of #2634. I think @fzzzy and @lmorchard alerady found a trail on it. However, if you don't care about the Homepage, all the other pages are working. You can go straight to https://testpilot.dev.mozaws.net/experiments for example.

[2017-07-26 12:54] SoftVision-PaulOiegas opened #2666 "Snooze Tabs add-on name displayed like a single word and with lowercase in "about:addons" page"
**[Affected versions]:**
- Firefox 54.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "dev" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.
- Test Pilot and all the active experiments were in

[2017-07-26 13:43] SoftVision-PaulOiegas commented on #2666
@lmorchard maybe I should have logged this on Snooze Tabs repo instead ? Now that I'm thinking, it looks like to be related to the xpi itself, rather than Test Pilot.

[2017-07-26 14:39] fzzzy commented on #2662
Closing as dupe of #2634.

[2017-07-26 14:39] #2662 closed, assigned to nobody

[2017-07-26 14:45] fzzzy commented on #2661
This is only on dev, because dev uses a non-standard deployment configuration.

[2017-07-26 14:49] fzzzy commented on #2663
Dupe of https://github.com/mozilla/testpilot/issues/2560

[2017-07-26 14:49] #2663 closed, assigned to nobody

[2017-07-26 14:52] fzzzy commented on #2665
It looks to me like lighthouse is what we want to use to track our OKR of speeding up the site this quarter.

[2017-07-26 15:20] fzzzy commented on #2657
We still show all the old experiment content, under "view past experiments". It seems fine if new languages don't want to do the work to localize old experiments though.

[2017-07-26 15:25] flodolo commented on #2657
Good point, I completely missed that we still have that content. Is the plan to keep them on the website for the time being?

[2017-07-26 15:47] pdehaan opened #2667 "Firefox Send privacy statement's "websites privacy notice" link doesn't work"
Pretty sure this sounds vaguely familiar, but I couldn't find an open issue for it...

Browsing https://testpilot.dev.mozaws.net/experiments/send and noticed that the "websites privacy notice" text (in the "Your privacy" block) looks like a link, but doesn't have an `href=""` so clicking the text does nothing, which is unfortunate since it looks like a legal privacy link.

<img width="1439" alt="f

[2017-07-26 15:53] pdehaan commented on #2665
@fzzzy: I use Lighthouse as a Chrome add-on, but they also have a CLI and Node module.
https://developers.google.com/web/tools/lighthouse/

But yeah, I think using it for OKRs would be pretty solid. Easy enough to craft a story about increasing our performance for the homepage from 49% to, say, 60%. Or improve experiment page performance from 39% to 50%.
If we end up going the GitHub Lighthouse-CI

[2017-07-26 16:13] lmorchard commented on #2666
Yeah, if it's in about:addons, it comes from the .xpi from the Snooze Tabs repo

[2017-07-26 16:16] pdehaan opened #2668 "Notes and Send pages aren't aligned consistently"
Note the faux red line at the top of the screenshots.

My guess is that it is because one uses `<p>` tags in the introduction, and the other doesn't:

- **Notes:** [/content-src/experiments/notes.yaml:9-10](https://github.com/mozilla/testpilot/blob/14e4273741165dd6ef880b71d33c31ec4c2018e4/content-src/experiments/notes.yaml#L9-L10)
- **Send:** [/content-src/experiments/send.yaml:9-11](https://githu

[2017-07-26 16:22] pdehaan commented on #2668
Also weird from the screenshots is that **Send** has "Your privacy" and "Go to Send" links at the top, but the **Notes** page doesn't have the privacy link.

Actually... It doesn't look like I had the Test Pilot add-on installed in that Firefox profile. After installing the add-on, I see this:

<img width="1440" alt="firefox_test_pilot_-_notes" src="https://user-images.githubusercontent.com/557895

[2017-07-26 16:35] SoftVision-PaulOiegas commented on #2667
I think you were referring to this one #2103 ? It is closed but before graduating AS, it was still not working...

[2017-07-26 16:36] SoftVision-PaulOiegas commented on #2666
I'll move this to the Snooze Tabs repo then. Ty!

[2017-07-26 16:36] #2666 closed, assigned to nobody

[2017-07-26 16:43] ghost commented on #2627
I mean we won't have add-on versions built for stage, and that's fine.  I think we're agreeing.

[2017-07-26 16:44] lmorchard commented on #2660
I'm with Benny, Peter, and Chuck

[2017-07-26 16:52] SoftVision-CosminMuntean opened #2669 "If one of the "Voice Fill" or "Notes" experiment page is visited, the "Just launched" tag dispersers from both cards"
[Affected versions]:
- Firefox 54.0.1 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a new Firefox clean profile.
- The "testpilot.env" string type pref was manually added in "about:config" page with "dev" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.

[Steps to reproduce]:
1. O

[2017-07-26 17:33] johngruen commented on #2669
huh

[2017-07-26 17:38] johngruen commented on #2669
I used the same id # in both experiments.

[2017-07-26 17:44] pdehaan commented on #2660
Read it and weep: #2671 😭

[2017-07-26 17:50] relud commented on #2627
version and id will be taken from the xpi for all future builds

[2017-07-26 17:54] #2660 closed, assigned to pdehaan

[2017-07-26 19:10] flodolo commented on #2657
Correction: we still have the experiments, but there's a lot of content not available anymore (tour, privacy notes).
https://testpilot.firefox.com/experiments/activity-stream

So, there's a lot of content that could be removed when an experiment retires.

[2017-07-26 21:39] #2669 closed, assigned to johngruen

[2017-07-26 21:52] #2382 closed, assigned to nobody

[2017-07-26 22:01] fzzzy commented on #2657
Good call on removing content that actually isn't used any more. Let's do this.

[2017-07-27 04:07] pdehaan commented on #2667
@SoftVision-PaulOiegas That's the one I was trying to find, thanks...
Looks like we need a better fix since it seems like it's been closed and reopened and killed a few times.

[2017-07-27 08:36] johngruen commented on #2659
Yeah, this is probably a good idea

[2017-07-27 12:09] SoftVision-CosminMuntean commented on #2669
I have retested this issue and is no longer reproducible on dev server. Marking as verified.

[2017-07-27 14:10] gaby2300 commented on #2669
I tested with today's normal build, I could not reproduce the issue. I
suppose it's fixed?

Gabriela
QA Mozilla Hispano Team Responsible

http://www.mozilla-hispano.org

On 27 July 2017 at 09:09, SoftVision-Muntean Cosmin <
notifications@github.com> wrote:

[2017-07-27 15:34] SoftVision-CiprianMuresan opened #2673 "Photon sidebars are working poorly on the Test Pilot website"
[Notes]:
- This issue became much more apparent when using the Notes experiment, but it is also reproducible with all sidebars
- This issue will be very easily encountered after enabling Notes from TxP.

[Affected versions]:
- Firefox 54 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a

[2017-07-27 15:55] SoftVision-PaulOiegas commented on #2627
@wresuolc we won't have an add-on for stage like always, or just for this stage?
I'm asking because if we won't be able to install the add-on on Stage after 57, this will end bad eventually. We are running our Full testing suite on stage deploys, and if we can't install Test Pilot add-on, we won't be able to test anything except the homepage and other pages that are accessible without Test Pilot a

[2017-07-27 16:16] lmorchard commented on #2627
FWIW, I've got a few comments on add-on testing [over in this issue on turning off signing in CircleCI](https://github.com/mozilla/testpilot/issues/2651) which I think relates to add-on builds for stage (and dev). It'll be a problem we need to work out

[2017-07-27 20:59] ghost commented on #2594
This is still on their radar

[2017-07-28 11:56] SoftVision-PaulOiegas commented on #2659
@johngruen Was just asking about this on IRC. Shouldn't we add those before the prod release planned on Monday?

[2017-07-28 12:37] fzzzy opened #2677 "launch_date field missing on new experiments"
Having a postdated created field is not enough, we also need the launch_date field.

[2017-07-28 13:49] SoftVision-PaulOiegas opened #2680 "Both Prod & Stage server add-ons are wrongly installed and disabled in "about:addons" while "extensions.legacy.enabled" pref is active (false value)"
**[Affected versions]:**
- Firefox 56.0a1

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "stage" or "production" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.
- Change the "extensions.legacy.enabled" pr

[2017-07-28 13:59] SoftVision-CosminMuntean opened #2681 "[Enhancement] The "Feedback" button should also be displayed on the "Send" experiment card, when Test Pilot is installed"
[Notes]:
- Considering the fact that the "Feedback" button is displayed on the experiments card only when the experiments are enabled, I think we should figure out a way to also add it on Web experiments.

[Affected versions]:
- Firefox 54.0.1 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a new Firefox clean profile.
- The "testpilot.env" string type

[2017-07-28 16:10] SoftVision-PaulOiegas opened #2682 "[Enhancement] Move the experiment type string under the experiment name while in mobile view"
**[Notes]:**
- I would suggest to move the experiment type string centrally positioned under the experiment title, while in mobile view.

**[Affected versions]:**
- Firefox 54.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "stage" value.
- The "extensions.webapi

[2017-07-28 16:25] SoftVision-PaulOiegas opened #2683 ""Give Feedback" and "Disable <experiment_name>" buttons wrongly enlarge in mobile view when page is scrolled down"
**[Affected versions]:**
- Firefox 54.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "stage" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.
- test Pilot add-on was already installed.

**[St

[2017-07-28 16:26] SoftVision-CosminMuntean opened #2684 "The new experiments image is not displayed on Twitter posts"
[Affected versions]:
- Firefox 54.0.1 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string type pref was manually added in "about:config" page with "stage" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.

[Steps to reproduce]:
1. Open the Firefox with the profile f

[2017-07-28 16:28] #2677 closed, assigned to fzzzy

[2017-07-28 16:28] #2659 closed, assigned to nobody

[2017-07-28 17:11] fzzzy commented on #2633
Stick a fork in it.

[2017-07-28 17:11] #2633 closed, assigned to nobody

[2017-07-28 17:12] fzzzy opened #2685 "Release 2017-07-31 on stage"
You know what to do.

[2017-07-28 19:00] pdehaan commented on #2684
I _think_ that is almost expected. I visited https://testpilot.dev.mozaws.net/experiments/notes and did a view-source and noticed that we're hard-coding the **PROD** URLs into the OpenGraph/Twitter `<meta>` tags, so we'd only be able to test that when we deploy those assets to production.

[code]

[2017-07-28 19:17] ghost commented on #2643
- [x] snoozetabs -- done Jul 26
- [x] containers -- https://github.com/mozilla/testpilot-containers/issues/693 -- done Jul 31
- [x] min vid -- done Jul 31
- [x] notes -- done Jul 28
- [x] voice fill -- done jul 28

[2017-07-29 07:17] lilyball opened #2686 "After turning off containers, "Open Link in New Container Tab" persists"
I turned on containers for a few minutes the other day, then turned them off. Just now I noticed that if I right click on a link, I'm still given the option "Open Link in New Container Tab", which looks like a submenu except it doesn't actually have any submenu items (hovering over it does nothing).

[2017-07-30 17:42] pdehaan commented on #2686
@kballard, Thanks for the report! This repo is for the Test Pilot site/add-on, but I've migrated your bug over to the [**Test Pilot Containers** experiment's repo](https://github.com/mozilla/testpilot-containers/) at https://github.com/mozilla/testpilot-containers/issues/697.

Closing this in favor of the upstream bug.

[2017-07-30 17:42] #2686 closed, assigned to nobody

[2017-07-31 07:17] Pekochen opened #2687 "Asset & measurement for Good First Bug Website"
Please see these links as below.
measurement:
https://mozilla.github.io/testpilot-assets/Test_Pilot_Contribute/01_Measurements/
assets:
https://github.com/mozilla/testpilot-assets/tree/master/Test_Pilot_Contribute/00_Assets
Thanks~

[2017-07-31 10:51] johngruen commented on #2684
@pdehaan yeah, i think you're right

[2017-07-31 11:32] SoftVision-PaulOiegas commented on #2684
Yeah, seems legit. We'll recheck this when we deploy to production this week, and close this if everything is ok.

[2017-07-31 11:42] SoftVision-PaulOiegas commented on #2607
Seems so for the current active experiments. But when you look at Send and Notes that we'll be launching soon... Notes is even worse due to long contributors list and only one feature screenshot on the right side.

![send notes](https://user-images.githubusercontent.com/17258026/28776202-46cd0ade-75fe-11e7-8558-f5f228d94254.png)

[2017-07-31 14:47] SoftVision-PaulOiegas commented on #2685
Hi guys,

We have just finalized testing stage server. The PASS rate doped even lower to 82%. Here are the testing results:

***New Issues:***
1. #2684 - The new experiments image is not displayed on Twitter posts - (**minor**)
-This might be ok after we deploy to production, we'll check.
2. #2683 - "Give Feedback" and "Disable <experiment_name>" buttons wrongly enlarge in mobile view when page is

[2017-07-31 14:53] johngruen commented on #2680
IDK if anything that involves manual `about:config` fiddling rises to the level of Major

[2017-07-31 14:53] johngruen commented on #2687
@chuckharmston ^

[2017-07-31 14:56] SoftVision-PaulOiegas commented on #2680
@johngruen I assume you know that when Nightly 57 lands (August 2nd), this pref that I'm talking about will be ON by default, right? Which means that nobody on Nightly could install Test Pilot or any other experiments due to this.

[2017-07-31 15:14] Softvision-VladBacia opened #2689 "TxP is not recognized as installed on latest Nightly build on Linux"
**[Affected versions]:**
- Firefox 56.0a1

**[Affected Platforms]:**
- All Linux

**[Steps to reproduce]:**
1. Open the Firefox Nightly and go www.testpilot.firefox.com
2. Install Test Pilot from the accessed page.
3. Click on any experiment.

**[Expected result]:**
- The user is prompted to install only the experiment.

**[Actual results]:**
- TxP install is not recognized. The user is instructed

[2017-07-31 15:25] SoftVision-PaulOiegas commented on #2685
As an addition, @Softvision-VladBacia just filled #2689. It seems that you cannot install TxP or any experiments on Linux Nightly, no matter if the pref that blocks the SDK add-ons is on "true" or "false". This is strange since this behavior was observed only when the restriction was active on Windows and Mac OS.

[2017-07-31 15:36] pdehaan commented on #2684
But I totally agree with the core issue. Having to wait until we've released to production to test something (and possibly require a production redeploy) is far from ideal. We should modify this bug (or file a separate one) for making those `<meta>` tags environment aware (so we can test on dev/stage as well).

**UPDATE:** Filed #2691

[2017-07-31 15:38] pdehaan commented on #2687
@johngruen @chuckharmston I'm mildly confused. Is the "good-first-bug" portal going to remain a separate site, or are we planning on adding the UI to the main testpilot.firefox.com site?

[2017-07-31 15:39] chuckharmston commented on #2687
I did it as a side project for a presentation, but I believe that John eventually wants to bring it in to the main site. For this, it was being used as a playground for trying out a Photonized aesthetic.

[2017-07-31 15:46] pdehaan commented on #2687
Awesome. I think it sounds way better as part of the core Test Pilot site. :+1:

[2017-07-31 16:49] SoftVision-PaulOiegas commented on #2689
@Softvision-VladBacia please do a regression window with mozregression tomorrow on this. So we can point out where the breakage occurred.

[2017-07-31 17:58] relud commented on #2627
Pushing to the production-static branch will now trigger building the addon with mozilla extension signing. I can also manually trigger builds of other branches while we're getting the kinks worked out.

[2017-07-31 18:51] pdehaan opened #2690 "Add graduation reports for Activity Stream, Page Shot, Pulse, and Tab Center"
Filing this for my own tracking. Plus, it may be nice to get this assigned into a milestone.

Currently the following four recently graduated experiments all say:

- https://testpilot.firefox.com/experiments/activity-stream
- https://testpilot.firefox.com/experiments/page-shot
- https://testpilot.firefox.com/experiments/pulse
- https://testpilot.firefox.com/experiments/tab-center

Once these land

[2017-07-31 19:07] pdehaan opened #2691 "Audit use of hard-coded production URLs"
Ref #2684

Currently we have a few places that use hardcoded production URLs, which means that we (QA) cannot always reliably verify stuff until it's already landed on production. Obviously waiting until something is deployed to production isn't always the best. Not sure if we can tweak any of these to point to the current environment, so we can test sharing and `<meta>` tags on dev/stage.

Most p

[2017-07-31 19:30] ghost commented on #2627
Thanks!  I think these are the remaining steps:

- [x] QA the newly signed Test Pilot add-on @  https://testpilot.firefox.com/files/@testpilot-addon/latest
- [x] Update updateURL and updateLink with the new URLs (https://github.com/mozilla/testpilot/blob/master/addon/package.json#L9)
- [ ] Manually modify https://testpilot.firefox.com/static/addon/update.rdf to point to the new add-on location
- [

[2017-07-31 19:48] relud commented on #2627
the new `latest` location is https://testpilot.firefox.com/files/@testpilot-addon/latest

[2017-07-31 19:51] relud commented on #2627
and the new addon url is https://testpilot.firefox.com/files/@testpilot-addon/signed-addon.xpi

[2017-07-31 19:51] ghost commented on #2627
and https://testpilot.firefox.com/files/@testpilot-addon/updates.json is the new updates location

[2017-07-31 20:25] fzzzy commented on #2627
Ok, I verified that both https://testpilot.firefox.com/files/@testpilot-addon/latest and https://testpilot.firefox.com/files/@testpilot-addon/signed-addon.xpi work properly with extensions.legacy.enabled set to false. Who is going to do the remaining steps? I think they are safe to do at any time since the new addon is identical to the old one except for the signing key.

[2017-07-31 20:29] relud commented on #2627
looks like manually changing /static/addon/latest to point to the new latest location will require that https://github.com/mozilla/testpilot/blob/master/bin/deploy.sh#L171-L177 be removed before the next push to production-static, or it won't persist

[2017-07-31 20:33] relud commented on #2627
probably also need to remove these so we don't generate an old addon on the next build:

- [x] https://github.com/mozilla/testpilot/blob/master/bin/deploy.sh#L94-L114
- [x] https://github.com/mozilla-services/cloudops-deployment/blob/master/projects/testpilot/pipeline-prod.groovy#L76-L79
- [x] https://github.com/mozilla-services/cloudops-deployment/blob/master/projects/testpilot/pipeline-stage.gro

[2017-07-31 20:38] relud commented on #2627
how long are we going to preserve https://testpilot.firefox.com/static/addon/latest because if it's for more than one addon release then I'll need to modify the testpilot-prod job to wait for the addon to deploy at the end and then copy the `latest` file from the new location to the old

[2017-07-31 20:56] lmorchard commented on #2627
Maybe not *quite* as urgent as removing the add-on deployment lines from `bin/deploy.sh`, but we should also very quickly follow up with removing the wasted work of auto-signing via AMO in CircleCI (#2651)

[2017-07-31 21:00] fzzzy commented on #2680
@clouserw said on irc that "a n d y m says they'll hold off landing the new webextensions-only patch until the 8th for nightly"

[2017-07-31 21:18] fzzzy commented on #2638
I'm going to close this since the list is working, just not from the softvision offices apparently. Hopefully we can find a way (vpn?) that they can test this.

[2017-07-31 21:22] johngruen commented on #2681
Feedback for this experiment will go through the website itself

[2017-07-31 21:22] #2681 closed, assigned to nobody

[2017-07-31 21:47] ghost commented on #2643
Thanks all

[2017-07-31 21:47] #2643 closed, assigned to clouserw

[2017-07-31 22:25] #2667 closed, assigned to nobody

[2017-07-31 22:43] fzzzy commented on #2685
I have deployed 2017-07-31 to stage. Reusing this bug.

John has closed https://github.com/mozilla/testpilot/issues/2681 as feedback should be given on the Send site.

#2638 is closed as the email list works outside the softvision office.

For #2627 we have bought ourselves until the 8th. The pref won't be flipped until then. Same for #2643.

I fixed #2667 in this release. (Hopefully! ;)

John als

[2017-08-01 00:00] jaredhirsch commented on #2689
The error message points to [a zip reader cache call](https://dxr.mozilla.org/mozilla-central/source/addon-sdk/source/lib/toolkit/loader.js#249) in the SDK loader.

I wonder if this bug is related? Last comment mentions the same error message for a related case (SDK addon loading an html page, hitting NS_ERROR_FILE_ACCESS_DENIED): https://bugzilla.mozilla.org/show_bug.cgi?id=1383215

[2017-08-01 08:37] johngruen opened #2694 "UX to link to graduation reports in blog"
## Currently

Graduation reports [live on the site](https://testpilot.firefox.com/experiments/no-more-404s), but we'd like to move them to the blog.

## Proposal

For experiments like [Page Shot](https://testpilot.firefox.com/experiments/page-shot) we'd  like to be able to keep the majority of page content, but provide a CTA to visit a link on the Test Pilot Medium Channel highlighting the Graduat

[2017-08-01 08:39] johngruen commented on #2690
Closing this in favor of #2694

[2017-08-01 08:39] #2690 closed, assigned to nobody

[2017-08-01 11:43] SoftVision-CosminMuntean commented on #2667
I have retested this issue and is no longer reproducible on dev and stage servers. Marking as verified.

[2017-08-01 12:09] SoftVision-PaulOiegas commented on #2638
@fzzzy Somehow, both me and Cosmin forgot to test this at home after work (please don't ask 😄). We'll do this today after work.
 However we have done some additional testing:
1. Tested the newsletter signup via mobile data connection using our phones.
-This didn't worked, as no emails were received on our phones.
2. Using US random VPN in browser Network settings
-This one worked and the email was

[2017-08-01 12:18] SoftVision-PaulOiegas commented on #2643
I can confirm that all the above experiments add-ons from stage server remain enabled after flipping the "extensions.legacy.enabled" pref to "false" (restriction active). Good job guys! 👍

![legacy ok](https://user-images.githubusercontent.com/17258026/28824828-8cadc434-76cc-11e7-9739-275414f5d995.png)

[2017-08-01 12:41] SoftVision-PaulOiegas opened #2695 ""Disable <experiment_name>" red button for graduated experiments is not vertically aligned in the middle of the designed area"
**[Affected versions]:**
- Firefox 54.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Test Pilot production add-on was already installed on a Firefox profile.
- Change the system date to be July 11th 2017.

**[Steps to reproduce]:**
1. Open the Firefox with the profile from prerequisite and navigate to https://testpilot.firefox.com page.
2. Clic

[2017-08-01 13:25] fzzzy commented on #2638
@SoftVision-PaulOiegas Thanks. We need to figure out where to file this bug against the "basket" service we use.

[2017-08-01 13:36] SoftVision-PaulOiegas commented on #2685
👍

- Working from US VPN, haven't managed to make it work from mobile network outside Softvision network. We're gonna keep investigating this.

- Tested the Containers and Min Vid signed add-ons from stage and they remain enabled after flipping the pref. Same for the Test Pilot add-on that we got from https://github.com/mozilla/testpilot/issues/2627#issuecomment-319171781

👍

- Both working. Too b

[2017-08-01 13:39] pmac commented on #2638
You can file a [bugzilla bug](https://bugzilla.mozilla.org/enter_bug.cgi?product=Websites&component=Basket) if you'd like.

[2017-08-01 14:22] chuckharmston opened #2696 "Misleading "Just launched" label"
When an experiment is new, it shows a `Just Launched` label on the experiment card that goes away when you visit it:

<img width="1049" alt="screen shot 2017-08-01 at 09 12 23" src="https://user-images.githubusercontent.com/23885/28829916-f286ab9a-769a-11e7-9921-a8ebb5830184.png">

This is unexpected. Visiting a page does not change that an experimented had recently been launched.

[2017-08-01 14:29] lmorchard commented on #2696
This is an [intentional feature](https://github.com/mozilla/testpilot/issues/1052) - we [store a timestamp](https://github.com/mozilla/testpilot/blob/beee92166f23be03f743573d282dc2d8615706c0/frontend/src/app/containers/ExperimentPage.js#L236) and [clear the banner](https://github.com/mozilla/testpilot/blob/bd2f98beef70c5e6562fd6ad0182da826ed839e0/frontend/src/app/components/ExperimentRowCard.js#L1

[2017-08-01 14:30] chuckharmston commented on #2696
Sure. It's still unexpected.

I'd suggest either changing the behavior or label (perhaps to just "New").

[2017-08-01 14:33] lmorchard commented on #2696
But, it's not unexpected in the sense that it's a bug / regression.

[2017-08-01 14:58] johngruen opened #2697 "Handle Opt-out of webExtension Installation"
Currently we do not handle the following case:

### STR

1. Go to the Voice Fill Experiment Page
2. Click `Enable Voice Fill`
3. On the webExtension Install dialog, click `Cancel`
![screen shot 2017-10-06 at 1 30 54 pm](https://user-images.githubusercontent.com/3323249/31277823-ae5f2918-aa9a-11e7-8989-4ea0bb9e95f2.png)

### Expected

The `Enable Voice Fill` Button should revert to its pre-installe

[2017-08-01 14:58] marco-c opened #2698 "Can't install experiments"
It looks like the website is unable to detect the presence of the TestPilot addon, since it keeps me asking to install it.

[2017-08-01 14:59] johngruen opened #2699 "Double Back tap required from some links."
Can't repro this everywhere buy on HN i have to hit back twice to get to the original view:

https://news.ycombinator.com/item?id=14901234

Note: I have Test Pilot Installed, not sure if that matters.

[2017-08-01 15:01] SoftVision-CosminMuntean commented on #2698
@marco-c are you on Linux? Because there is an issue with the latest Nightly (see #2689).

[2017-08-01 15:02] marco-c commented on #2698
Yes.

[2017-08-01 15:02] #2698 closed, assigned to nobody

[2017-08-01 15:03] johngruen commented on #2699
This happens on medium as well. It seems to have to do with Test Pilot redirecting to /experiments automatically. We should clear pushState for that initial tap.

[2017-08-01 15:04] ghost opened #2700 "prod vs production"
We've had a couple of reports of testpilot.env being "production" and the site not recognizing the add-on.  IRC thinks this should be "prod".  When did it change?  Why?  What's the fallout?

[2017-08-01 15:06] MikkCZ opened #2701 "Cannot install any experiment after Noted, Voice Fill and Send have been published"
Seems the Test Pilot add-on is not recognized well. After the new experiment got enabled, I only see the green button to say me to install Test Pilot and enable the add-on. After clicking it, I see a doorhanger informing me the Test Pilot add-on has been installed, but nothing happens than. After page reload, I am again asked to install the Test Pilot despite I see it in the add-ons manager (versi

[2017-08-01 15:07] johngruen commented on #2699
a little more testing, this seems to only occur on FF with Test Pilot already installed.

[2017-08-01 15:09] SoftVision-PaulOiegas commented on #2701
Hi @MikkCZ and thanks for the report. However this is a known issue that is reproducible only on Linux, see #2689. I will close this in favor of that.

[2017-08-01 15:09] #2701 closed, assigned to nobody

[2017-08-01 15:11] SoftVision-PaulOiegas commented on #2700
The environment was always "production" if I remember well. I don't recall setting it as "prod".
However, if you refer to the Linux issue where the add-on is not recognized as installed, this is a known issue that was logged yesterday #2689. The issue was mentioned in the deploy bug and on IRC.

[2017-08-01 15:31] SoftVision-PaulOiegas commented on #2684
Works! However, the Send one is not very readable when it comes to the text under the logo.
![image](https://user-images.githubusercontent.com/17258026/28833278-8a42415a-76e7-11e7-898f-7ce9e16e83e0.png)

[2017-08-01 15:31] #2684 closed, assigned to nobody

[2017-08-01 15:36] SoftVision-PaulOiegas commented on #2697
I have a Mozilla issue on this also, it's on my list to be logged. If you don't select an option on the doorhanger and close the tabs, you'll have an entry in "about:add-ons" page for each install attempt.
Those only disappear at browser restart.
I'll post a link here after I log it.

[2017-08-01 16:36] fzzzy commented on #2689
This could be related:

https://bugzilla.mozilla.org/show_bug.cgi?id=1385891

[2017-08-01 16:42] callahad commented on #2689
I'm also seeing a warning before each error:

[code]

__WORKAROUND:__ Everything works when opened in a non-e10s window.

[2017-08-01 16:45] marco-c commented on #2689
Maybe a sandbox error?

[2017-08-01 16:46] sunahsuh opened #2703 "No test install telemetry ping is being sent"
The realtime installation counter used on the site relies on incoming `testpilot`-type experiment install pings sent to our own telemetry servers. We're not seeing any installations from the new tests coming into the realtime filter as far as I can tell, and when I just tried installing one of the new tests on my personal browser it never sent the install ping (I see the icon-clicked ping though)

[2017-08-01 16:48] callahad commented on #2689
That would explain why it only shows up under e10s.

[2017-08-01 17:04] #1714 closed, assigned to fzzzy

[2017-08-01 17:06] fzzzy opened #2704 "Write some comments in LocalizedHtml"
The branch to use fluent-react has now landed (finally!), and the LocalizedHtml component is a big part of us being able to use it. It's not obvious why LocalizedHtml does what it does if one does not have intimate knowledge of how Localized works. I will write some comments that explain what is happening where, and why the various different steps are required.

[2017-08-01 18:32] pascalchevrel commented on #2689
I have this bug, if I create a profile in /tmp it works, but it doesn't work  if the profile is in my home.

Works:
[code]
Doesn't work:
`firefox -Profile $HOME/path/to/foobar
`

[2017-08-01 20:31] ApodasheisstRed opened #2706 "Problem...ish thingy with Min Vid"
You can drag the box so far out of the screen, that you`re unable to drag it back in or close it, so it´s basically stuck. Would be nice if you would change it,so that you can drag the video from every side, not just the upper one. That´s it.

[2017-08-01 20:36] bclary commented on #2689
I believe this is due to the sandboxing that was recently enabled on Nightly. I have seen this on Linux 64bit with Nightly. If you set security.sandbox.content.level to 0 and restart, it will work.

[2017-08-01 21:10] ghost opened #2707 "voice fill not showing up on exec dashboard"
I don't see voice fill installs in GA and its not on https://datastudio.google.com/org/Ra9O2QIYT8We-1pOmnS_6w/reporting/0ByaR4oZsXEGSXzJKcXZJUVNSclU/page/AIuG/edit

/cc @johngruen

[2017-08-01 21:53] bittin commented on #2685
There was talk about Testpilot on this weeks Linux Unplugged on
http://jupiterbroadcasting.com that is being uploaded tommorow

On Tue, Aug 1, 2017 at 12:43 AM, Donovan Preston <notifications@github.com>
wrote:

[2017-08-01 23:16] klondikemarlen opened #2709 "Build a better sense of connection between testers and developers."
When I submit feedback on a Firefox Test Pilot experiment ... I don't feel a sense of connection with the project. Could you make the feedback more two way? Such as seen here http://community.wrio-keyboard.com/?

I can't tell if my suggestions are being heard or if other people have the same problem.

i.e. I submitted feedback on the Min Vid experiment that I wanted the mini player to be resizable

[2017-08-02 07:49] marsjaninzmarsa commented on #2653
Or maybe just simple "This experiment is not available in _$language_ yet"?

[2017-08-02 08:32] johngruen commented on #2707
It's there now

[2017-08-02 08:34] stasm commented on #2653
This sounds like a bug. Ideally, the dialog would use `fluent-langneg` to choose the correct language, just like the website does for its localization.

[2017-08-02 08:35] #2707 closed, assigned to nobody

[2017-08-02 09:01] SoftVision-PaulOiegas commented on #2638
Guys, I'm gonna reopen this since I haven't managed to sign up from home either. So this is something broader than the Softvision network. I'll rename the bug to reflect this.

We'll try with other VPN's too (Germany), in order to see if this only occurs for Romania or for other EU countries too. We only managed to sign up using US VPN.

[2017-08-02 12:08] Softvision-VladBacia commented on #2689
I did a regression range with mozregression and ended up with the following result:

https://hg.mozilla.org/integration/mozilla-inbound/pushloghtml?fromchange=69e573abaccb3eba8446c669328f133b7c503a48&tochange=7a7db98b3785ace1e19637b6595a79864251bc7d
DEBUG : Using url: https://hg.mozilla.org/integration/mozilla-inbound/json-pushes?changeset=b5fa08551d6e74d8300fa94f3161afdffd867764&full=1
DEBUG : Fo

[2017-08-02 12:42] bidaian commented on #2653
The experiment **is** available (it is active) and **is** supported (my browser can run it), but it has not been translated to the browser's language. We should be able to put that clearly into words.
@marsjaninzmarsa on top of that I would rather avoid "[not available](https://transvision.mozfr.org/?recherche=not+available&repo=central&sourcelocale=en-US&locale=eo&search_type=strings#browser)" an

[2017-08-02 13:49] SoftVision-PaulOiegas commented on #2706
Hi @ApodasheisstRed  and thanks for your report. However, this issue is already filled in Min Vid repository and has steps to reproduce for bot Mac OS and Windows (https://github.com/meandavejustice/min-vid/issues/499).
I'm gonna close this one in favor of the one from Min Vid repo, so please follow the discussions there.

[2017-08-02 13:49] #2706 closed, assigned to nobody

[2017-08-02 14:01] SoftVision-PaulOiegas commented on #2709
Hi @klondikemarlen and thanks for your report. In the future, I would suggest that you should log ideas like this straight to the specific experiment repository. All the logged issues are triaged and would be definitely seen. For example https://github.com/meandavejustice/min-vid/issues is for Min Vid. You can find the repository link on each Test Pilot experiment page, on the left column.

Howeve

[2017-08-02 14:03] ApodasheisstRed commented on #2706
Ok sorry. I didnt know that.

[2017-08-02 14:30] pmac commented on #2638
Just to make sure, we're using new real email addresses for these tests right? I often use the [restmail.net](http://restmail.net/) service for this kind of thing. You can have it email any-user-at-all@restmail.net (where "any-user-at-all" is literally any username) and then check that mail at e.g. restmail.net/mail/any-user-at-all@restmail.net. It will be a JSON representation of the email receiv

[2017-08-02 14:33] pmac commented on #2638
I just ran another such test at https://testpilot.firefox.com/experiments and received the [confirmation email](http://restmail.net/mail/test-pilot-20170802@restmail.net).

[2017-08-02 16:11] SoftVision-PaulOiegas commented on #2638
We only used real gmail and yahoo addresses for testing this. But as I've told you, with a set US VPN, everything was ok. But while on local IP's, no email came trough.

[2017-08-02 16:22] ghost commented on #2627
Thanks for looking at this @lmorchard .  These are the new URLs for addon/package.json:
[code]

[2017-08-02 16:54] rpellerin commented on #2689
I am affected as well on Xubuntu 16.04 with the latest build of Nightly (57). It was not working either with 56.0a1

[2017-08-02 17:55] pmac commented on #2638
And unique ones every time right? If the email has ever been confirmed before you won't get a confirmation email. I'm only continuing to ask because I can't find anything that would cause the difference depending on IP or geolocation. It shouldn't be Salesforce filtering because it doesn't get the end-user's IP, only basket does, and we don't do IP filtering.

[2017-08-02 17:56] pmac commented on #2638
And to be really clear, by "unique" I mean that things like "user+test1@gmail.com" and "user+test2@gmail.com" are unique and would be a good test.

[2017-08-02 18:13] pmac commented on #2638
Nevermind... I believe I've found the issue. Our basket instance in the AWS Frankfurt region was not scaled appropriately. So requests coming from europe were most likely hitting this instance. I've just scaled up the workers so all of the tests may start coming in now as they've been queued but not processed. Let me know. Apologies for the confusion, but thanks for staying on it.

[2017-08-02 18:51] fzzzy commented on #2638
@pmac Wow, thanks for looking into it more! Hope that fixes it!

[2017-08-02 21:31] nenay8 opened #2716 "Would like to be in the test pilot"
I tried to use Firefox browser and get onto the test pilot program.  Says it's got a bug.
I am going to try another browser.
Thank you,
Renee'

[2017-08-02 21:45] klondikemarlen commented on #2709
Hi! Thanks for your reply. I will check out the Min Vid issues page.
I didn't know it had a preferences page. I didn't know any of the "experiments" had preferences pages.

After checking it out ... the Min Vid window still doesn't do what I want. I was looking for a "drag to resize" option. In the about:addons page .. you can only make it smaller. I want the size to be bigger. Say 640 x 480. Or l

[2017-08-02 21:54] barrosgeraldo opened #2717 "Firefox Test Pilot website does not recognize installed extension [bug 1386442]"
User Agent: Mozilla/5.0 (X11; Linux x86_64; rv:56.0) Gecko/20100101 Firefox/56.0
Build ID: 20170801100311

**Steps to reproduce:**
1. Open Firefox Nightly browser using Deepin Linux dock;
2. Write https://testpilot.firefox.com on the URL bar and Enter on keyboard;
3. Clicked on Install Test Pilot extension, and has been installed;
4. On https://testpilot.firefox.com/experiments, I clicked on "Note

[2017-08-02 21:58] barrosgeraldo commented on #2717
![deepinscreenshot_select-area_20170802185810](https://user-images.githubusercontent.com/14970832/28896882-95f4cc84-77b4-11e7-9278-b3872ada709d.png)

[2017-08-02 22:01] chuckharmston commented on #2717
Thanks for the report! This is a known issue on Nightly in Linux, and we're tracking it at #2689. I'm going to close this as a duplicate.

As a temporary workaround, you should be able to install Test Pilot experiments in release Firefox, then starting up Nightly with the same profile.

[2017-08-02 22:01] #2717 closed, assigned to nobody

[2017-08-02 22:04] chuckharmston commented on #2716
Thanks for the report, @nenay8! I suspect that you are using Firefox Nightly on Linux? If so, this is a known issue that we're tracking at #2689.

As a temporary workaround, you should be able to install Test Pilot experiments in release Firefox, then starting up Nightly with the same profile.

[2017-08-02 22:06] nenay8 commented on #2716
No I am currently using an Apple 6s plus.  Any word on that having issues?

		Renee' Watts

On Wed, Aug 2, 2017 at 6:04 PM -0400, "Chuck Harmston" <notifications@github.com> wrote:

Thanks for the report, @nenay8! I suspect that you are using Firefox Nightly on Linux? If so, this is a known issue that we're tracking at #2689.

As a temporary workaround, you should be able to install Test Pilot exp

[2017-08-02 22:07] chuckharmston commented on #2716
Ah ha, that's a different issue, #2642. Unfortunately, that one is quite low priority as Test Pilot experiments only work on desktop Firefox.

Closing this as a duplicate for tracking purposes. Thank you for letting us know!

[2017-08-02 22:07] #2716 closed, assigned to nobody

[2017-08-02 22:53] #2699 closed, assigned to fzzzy

[2017-08-03 02:02] eliedrian commented on #2689
I turned off sandboxing by suggestion of bclary, everything works. Installing experiments and turning sandboxing back on again works as well.

[2017-08-03 08:59] SoftVision-PaulOiegas commented on #2709
Well, I think something broke, because in the past you could increase the size of the player. Or at least I remember so. Please file an issue on the link I gave you above regarding this.

[2017-08-03 09:27] leplatrem opened #2718 "Testpilot addon not detected and can't install new experiment"
Version: Nightly 57 (2017-08-07)
Testpilot install: 1.1.4-dev-22b26fa

Steps to reproduce:
* I go to https://testpilot.firefox.com/experiments/notes
* I see «install test pilot and enable notes" (whereas I already have testpilot)
![screenshot from 2017-08-03 11-23-59](https://user-images.githubusercontent.com/546692/28915092-4f64e558-783e-11e7-9d93-9d1027a3c343.png)
* I click install, the popup "T

[2017-08-03 10:01] SoftVision-PaulOiegas commented on #2638
Sorry for late response but we are on +2 GMT (Romania), so sadly we were out of office when you replied.
To answer your question, we used both new and unique emails and also old testing emails which were unsubscribed after each sign up. If you unsubscribe from Mozilla newsletters, you can reuse the email address.

I think you are right. Just used one of my old email addresses and successfully subs

[2017-08-03 11:11] lilianfornea opened #2719 "Learn more Error"
Clicked to see more details in https://send.firefox.com
![image](https://user-images.githubusercontent.com/17119455/28919303-9ad20e64-7855-11e7-80bc-368b2dd5c65f.png)
about feature and get a something wrong page

[2017-08-03 11:38] SoftVision-PaulOiegas commented on #2718
Hi @leplatrem and thanks for your report. I assume you are on Linux based OS? If that's true, this is a known Nightly issue on Linux that is currently debugged in #2689. So please bear with us until a fix lands for this.

Other people mentioned some workarounds for this:
1. I turned off sandboxing, everything works. Installing experiments and turning sandboxing back on again works as well.
2. Inst

[2017-08-03 11:38] #2718 closed, assigned to nobody

[2017-08-03 12:02] fzzzy commented on #2719
Thank you for the report. This looks like a tablet version of firefox? Can you give details about the firefox version used?

[2017-08-03 13:38] SoftVision-PaulOiegas commented on #2719
Indeed, I think this is on iOS tablet. We have this issue already tracked under #2642. Unfortunately, this is quite low priority issue, as Test Pilot experiments only work on desktop Firefox.
Even if this will be fixed, you would still not be able to use most of the experiments on mobile devices.

I will close this in favor of #2642, please follow the discussions there.

[2017-08-03 13:38] #2719 closed, assigned to nobody

[2017-08-03 14:23] fzzzy commented on #2685
This release has been deployed.

[2017-08-03 14:23] #2685 closed, assigned to nobody

[2017-08-03 14:43] linux-modder commented on #2689
Appears fully functional again on 57.0.a1 nightly as well.

[2017-08-03 14:43] SoftVision-CosminMuntean opened #2720 "Test Pilot icon is missing from "about:addons" page (dev)"
- Firefox 54.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string type pref was manually added in "about:config" page with "dev" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.
- Test Pilot is already installed on the created provile.

[Steps to reproduce]:
1. Sta

[2017-08-03 14:58] #2651 closed, assigned to nobody

[2017-08-03 15:51] stasm commented on #2653
How about `This experiment has not been translated into LANGUAGE yet.` combined with `Install Anyway`?

(I'm not a Test Pilot dev so I'm not sure how feasible this is.)

[2017-08-03 16:08] cmoud94 commented on #2689
@linux-modder Nope, I'm using 57.0a1 and the problem is still here. At least for me.

[2017-08-03 16:35] klondikemarlen commented on #2709
I guess it is a work in progress https://github.com/meandavejustice/min-vid/issues/69. Thanks again for your patience.

[2017-08-03 17:48] #2704 closed, assigned to fzzzy

[2017-08-03 17:57] bidaian commented on #2653
@stasm that'd be perfect.

[2017-08-03 18:10] ghost commented on #2638
https://docs.google.com/presentation/d/1JaNxwBMu0_uYSt-PxDgRtBPfQXmPdeGa5-nIuacBOHg/edit#slide=id.g1fac4dc0b6_0_5 has what the email messages should be.  There should be a confirmation and then a welcome email. Slides 6 & 7

[2017-08-03 19:46] valenting commented on #2697
Not sure if this is related, but if I set **extensions.legacy.enabled;false** then the testpilot extension is disabled.

[2017-08-03 19:57] valenting opened #2723 "Can't install experiments"
I'm trying to opt in to new experiments, but it just gets stuck in "Installing..."

The browser console shows this:

which points to this:

http://searchfox.org/mozilla-central/rev/f0e4ae5f8c40ba742214e89aba3f554da0b89a33/addon-sdk/source/lib/toolkit/loader.js#249

This has been the case for a few days. Sorry if this bug has already been reported.

[2017-08-03 20:08] lmorchard commented on #2723
Looks like a duplicate of #2689 (unless you're not on linux)

[2017-08-03 20:08] #2723 closed, assigned to nobody

[2017-08-03 20:12] valenting commented on #2723
Indeed on Linux. Thanks!

On 3 August 2017 at 23:08, Les Orchard <notifications@github.com> wrote:

[2017-08-03 21:01] fzzzy commented on #2627
I checked all the checkboxes I could in this bug, can someone make sure the checkboxes that aren't checked get checked?

[2017-08-03 21:04] fzzzy commented on #2565
We went back to the old loader for now 🎉

[2017-08-03 21:04] #2565 closed, assigned to johngruen

[2017-08-03 21:09] fzzzy commented on #2423
This is merged!

[2017-08-03 21:09] #2423 closed, assigned to lmorchard

[2017-08-03 21:12] fzzzy commented on #2625
Duping this to #2634

[2017-08-03 21:12] #2625 closed, assigned to nobody

[2017-08-03 21:18] relud commented on #2627
I can do this manually if we are ready, or it will be updated in the next prod deployment

I believe that needs to be updated manually, when clouserw has a manually edited rdf for me to upload. I see what appears to be an addon version number in that url, so presumably this url will stop working next time the addon version is bumped?

[2017-08-04 00:55] fzzzy commented on #2561
I think this was fixed by the remove-sdk addon.

[2017-08-04 00:55] #2561 closed, assigned to nobody

[2017-08-04 08:26] SoftVision-CosminMuntean commented on #2720
I thought that this issue will also reproduce after deploy on stage, but it seems that is only reproducible on dev server for now.

[2017-08-04 09:25] SoftVision-PaulOiegas commented on #2689
Just posting a couple of workarounds for people that land here from other experiments. It seems that we have a lot of Linux users on them. Try these steps until the issue gets fixed.
1. Turned off sandboxing, everything works. Installing experiments and turning sandboxing back on again works as well.
2. Install Test Pilot and desired experiments on the Firefox release version and after switch back

[2017-08-04 09:38] eliedrian commented on #2689
I have just found that some experiments don't work in NIghtly after turning
sandboxing back on, such as Min Vid. "Notes", however, still work after turning
sandboxing back on.

On Fri, Aug 4, 2017 at 5:25 PM Softvision - Paul Oiegas <
notifications@github.com> wrote:

[2017-08-04 10:31] SoftVision-PaulOiegas commented on #2697
@valenting yes, because the Test Pilot old add-on was based on SDK and the new add-on didn't landed yet on production server. It will land in the next release probably, if everything is ok from QA perspective.

Anyway, thanks for the heads up! 😃

[2017-08-04 10:34] SoftVision-PaulOiegas commented on #2723
@valenting Other people mentioned some workarounds for this issue:

1. Turned off sandboxing, everything works. Installing experiments and turning sandboxing back on again works as well.
2. Install Test Pilot and desired experiments on the Firefox release version and after switch back to Nightly on the same profile. This will bypass the Nightly issue.

[2017-08-04 10:50] valenting commented on #2697
Note that if the Test Pilot 'old add-on' is not checked into mozilla-central it will likely be broken in Nightly in the next few days. (It might already be. See [bug 1326520](https://bugzilla.mozilla.org/show_bug.cgi?id=1326520))

From what I understand, the plan is to flip the pref sometime next week. I just want to make sure that the test pilot team is aware of these changes.

[2017-08-04 11:58] SoftVision-PaulOiegas commented on #2697
We are aware, and we already have a new add-on in testing for this matter. Thank you for your concern! 👍
The pref will be switched starting with 8th of August if I remember well.

[2017-08-04 12:48] SoftVision-PaulOiegas opened #2726 "Test Pilot add-on is installed and experiments can be enabled, but the add-on is displayed as disabled in "about:addons" while "extensions.legacy.enabled" pref is active"
**[Notes]:**
- The strange part about this issue is that, even if the add-on appears to be disabled, you can successfully enable any of the active experiments.

**[Affected versions]:**
- Firefox 57.0a1

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "stage" value.
- The "exte

[2017-08-04 13:15] SoftVision-PaulOiegas commented on #2726
I was under the impression that the new add-on is already served on both dev and stage servers. But @fzzzy told me that there are still some changed to be done for this (#2627) and that those will be done before production deploy.
So I'm gonna close this one and retest when #2627 is merged completely. Hopefully before production deploy.

[2017-08-04 13:15] #2726 closed, assigned to nobody

[2017-08-04 13:45] bittin commented on #2685
yay :)

On Thu, Aug 3, 2017 at 4:23 PM, Donovan Preston <notifications@github.com>
wrote:

[2017-08-04 16:16] SoftVision-PaulOiegas opened #2727 "The "data" word from first sentence of each experiment "Your privacy" section, is missing the hyperlink"
**[Affected versions]:**
- Firefox 54.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "stage" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.

**[Steps to reproduce]:**
1. Open the Firefox wi

[2017-08-04 17:05] SoftVision-PaulOiegas commented on #2638
@wresuolc double checked this and the following flow seems to be in place right now:

***Brand new email address***
1. Sign up for the first time -> You get the first email that requires confirmation.
2. Confirm the subscription -> You get the second email, the Welcome one.
3. Unsubscribe + re-subscribe -> You get the same Welcome email, not the 3rd one that promotes experiments.

***Already used

[2017-08-04 17:51] fzzzy commented on #2638
I don't think anything in our codebase would have caused this. The email configuration is probably in some database related to the email list service.

[2017-08-04 18:18] #2616 closed, assigned to fzzzy

[2017-08-04 18:20] #2727 closed, assigned to nobody

[2017-08-04 18:26] pmac commented on #2638
Which emails to send is fully the responsibility of Salesforce. Whoever is managing things on that side is who would know. @jessilyndavis may know, or would at least know who would know.

[2017-08-04 18:43] jessilyndavis commented on #2638
Thanks @pmac!

@SoftVision-PaulOiegas

The flow you articulate is correct. There is not a 3rd email and you only get welcomed to the program once (this prevents someone from getting multiple welcome emails if a bot signs them up multiple times in a row).

There is only 1 welcome email that's set live. If you got a 3rd email in your testing, it is because you signed up right before a manual email w

[2017-08-04 19:37] ghost commented on #2627
I made a new RDF, but also got a new idea.  Let's just 301  https://testpilot.firefox.com/static/addon/update.rdf to https://testpilot.firefox.com/files/@testpilot-addon/updates.json

I think that will keep updates working as expected.  @relud great idea or what?

[2017-08-04 20:01] lmorchard commented on #2627
Hmm, the RDF to JSON content-type switch seems troublesome... not sure when Firefox switched over to that, version-wise. Will that cause an issue?

[2017-08-04 20:26] relud commented on #2627
if that works, sounds great

[2017-08-04 22:54] ghost commented on #2627
@lmorchard pretty sure it's way before any version we still support.  I think it'll work.  If GA doesn't show a rapid drop in old test pilot add-on versions, we're go back to the manually updated RDF plan.

@relud - can you add a redirect on the server?

[2017-08-04 23:46] relud commented on #2627
redirect added

[2017-08-06 11:25] Carlos1946 opened #2731 ""Enable" button is available and no notification is displayed to inform the user that Notes is incompatible with Firefox versions lower than 54"
Hi,
I installed Notes and on Test Pilot page the Notes feature is saying "Enabled". However when i run Sidebar to find it the sidebar do not show Notes, only whows bookmarkks, etc.
I have Windows XP and Firefox version 52.2.1 (32-bit). Maybe this feature requires another OS higher than XP? Could you helpo me on this issue?
Best for all
Carlos

[2017-08-07 08:31] SoftVision-PaulOiegas commented on #2638
@jessilyndavis Thanks for the details! What I wanted to say is that we previously had a 3rd email. That one was sent to an user that already confirmed the subscription and received the 2nd email, but unsubscribed and resubscribed. The email promoted new experiments and other details.

Anyway, I think this will be covered in the Bugzilla issue you mentioned above.

We would like to send emails to o

[2017-08-07 09:03] SoftVision-CosminMuntean opened #2732 "Localization is not working in other language than English"
[Affected versions]:
- Firefox 54.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string type pref was manually added in "about:config" page with "stage" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.
- Have any language set other than English in "about:preferences

[2017-08-07 12:13] fzzzy commented on #2732
config.AVAILABLE_LOCALES is returning undefined.

[2017-08-07 12:32] fzzzy commented on #2732
I have figured out what this is. Apparently there are two files named config, and the one that is accessible in the browser does not specify AVAILABLE_LOCALES. I switched to getting the available languages from `document.querySelector('meta[name=availableLanguages]')`, which is always available.

[2017-08-07 12:33] SoftVision-PaulOiegas commented on #2727
Verified this on both dev and stage servers. Seems to be working fine now with and without the add-on installed. 👍

[2017-08-07 13:38] SoftVision-EmilPasca commented on #2731
It seems that your OS and latest supported Firefox version is too old for this experiment.

I have tested this issue on Windows XP (32-bit) with the latest supported release 52.0 and also the latest Firefox version 52.2.1 ESR and managed to reproduce the issue.
After enabling Notes experiment, the Notes option is no available in the sidebar.
The issue is also reproducible on Windows 10 x64 with Fi

[2017-08-07 13:43] SoftVision-PaulOiegas commented on #2164
This was implemented, but I see a tiny difference from the design. The "Launch Tour" text button is implemented with normal weight, while in the design it seems to be in bold weight.
@johngruen Do we care about this difference or not?

[2017-08-07 16:06] #2732 closed, assigned to nobody

[2017-08-07 16:14] pdehaan opened #2734 "Experiment download counts not consistent on experiments page vs details page"
Found in https://testpilot.dev.mozaws.net/__version__ (d38c9fb1a61097501aa3e087589f8e4bd497d9d6):

[code]

---

### Steps to reproduce:
1. Go to https://testpilot.dev.mozaws.net/experiments/ and check the participants counts for min-vid.
1. Go to https://testpilot.dev.mozaws.net/experiments/min-vid and check the participants count.

### Actual results:
The /experiments page uses comma separator, t

[2017-08-07 16:23] ghost commented on #2594
We have a new email that doesn't talk about any specific tests so we shouldn't run into this again

[2017-08-07 16:23] #2594 closed, assigned to nobody

[2017-08-07 16:24] pdehaan opened #2735 "Snooze Tabs page looks bad in Chrome (on dev/stage)"
Looks bad in dev/stage, but fine in prod.
I kind of _want_ to blame the new sidebar UI that recently landed, but that's just a guess with the new UI and potentially long, unwrapping URLs. In my quick testing, it looks like Snooze Tabs may have been the only experiment with the issue, but I'll try digging deeper.

### Steps to reproduce:
1. Open https://testpilot.dev.mozaws.net/experiments/snooze-t

[2017-08-07 16:36] ghost commented on #2734
We're planning on removing these counts completely.  @fzzzy removed them this morning

[2017-08-07 16:36] #2734 closed, assigned to nobody

[2017-08-07 16:38] ghost commented on #2731
Let's add a note to the minimum version field.  Same for voice fill

[2017-08-07 16:40] fzzzy opened #2736 "Remove download counts"
The download counts have never been very accurate, they slow the site down considerably, and user testing has shown that users react in odd ways to them. We're just going to remove them entirely.

[2017-08-07 16:45] ghost commented on #2703
The pings are being shown in about:telemetry for us.  Is that where you are looking?  Can you give us more steps to reproduce. thanks

[2017-08-07 16:48] ghost commented on #2700
Les says it defaults to production if it doesn't recognize the string, so that would explain prod vs production.  for the record, it is "production".  Paul is right. as usual. :champagne:

[2017-08-07 16:48] #2700 closed, assigned to nobody

[2017-08-07 16:49] johngruen opened #2737 "News feed improvements"
The news feed could use a few optimizations:
1. Items should be hidden by default after two weeks.
2. All Items should be in reverse chronological order (currently, they are ordered by experiment)
3. There should be an option to load older posts (see secreenshot), clicking this should load the five previous news items below
4. If a user has loaded all historical news items the load more link shoul

[2017-08-07 16:51] ghost commented on #2696
Let's drop the "visited page" logic

[2017-08-07 16:57] ghost commented on #2689
Is there a bug to fix this in Bugzilla that we can use to know whether this is fixed or not?  Or should I file one?

[2017-08-07 17:00] ghost commented on #2682
This is a little jarring, but we're going to wontfix it as there are other priorities to do. Thanks.

[2017-08-07 17:00] #2682 closed, assigned to nobody

[2017-08-07 17:00] ghost commented on #2680
Duplicate of #2627

[2017-08-07 17:00] #2680 closed, assigned to nobody

[2017-08-07 17:02] ghost commented on #2673
We tried some other sites and saw they were also pretty jumpy.  We think this should be addressed by photon

[2017-08-07 17:02] #2673 closed, assigned to nobody

[2017-08-07 21:08] fzzzy commented on #2709
@klondikemarlen We do have our discourse forum. You could take a look there. It might be more interactive.

https://discourse.mozilla.org/c/test-pilot

[2017-08-08 01:03] fzzzy opened #2738 "Release 2017-08-07 on stage"
This release contains both remove-sdk and fluent-react branches, and a large number of small bugfixes.

Please report any blockers here.

[2017-08-08 01:15] fzzzy commented on #2738
Note that it looks like only exact matches in the availableLanguages meta tag will match right now. I believe this is a bug in fluent.js, and should be fixed upstream.

en-US,cs,de,dsb,es-ES,es-MX,fr,fy-NL,hsb,hu,it,ja,kab,ms,nl,nn-NO,pt-BR,pt-PT,ru,sk,sl,sq,sr,sv-SE,uk,zh-CN,zh-TW

[2017-08-08 01:58] rhysforyou opened #2739 "Icon size is wrong when moved to overflow menu"
When I move the Test Pilot extension's action button into the overflow menu, it looks like its icon's getting cropped for some reason:

![screen shot 2017-08-08 at 11 56 57 am](https://user-images.githubusercontent.com/320910/29053015-cf7f6d3a-7c30-11e7-8366-a9d2265e46d4.png)

[2017-08-08 06:44] MikkCZ commented on #2689
There are two bugs mentioned in https://github.com/mozilla/testpilot/issues/2689#issuecomment-319229665 and below, but I do not see anyone confirming any of it. I guess filing a new bug with https://github.com/mozilla/testpilot/issues/2689#issuecomment-319653376 is the way?

[2017-08-08 06:51] bclary commented on #2689
I would test with a build containing https://bugzilla.mozilla.org/show_bug.cgi?id=1385891 to see if that fixed it.

[2017-08-08 08:40] Carlos1946 commented on #2731
Sorry but still do not understand why Firefox (and i support Firefox regularly with donations) is so dependant from Microsoft Os and do not stimulate developers to create add-ons that are compatible with old versions of Firefox and Windows OS, like XP for example. Why we are so discriminated just because we refuse to update the OS versions thay decide to place on the market. Windows XP is a good v

[2017-08-08 10:35] bittin commented on #2685
Talk about Testpilot in this weeks weekly Swedish Linux Podcast:
https://linuxpodden.nu/podcast/trettiofjarde-avsnittet/

On Fri, Aug 4, 2017 at 3:45 PM, Luna Jernberg <droidbittin@gmail.com> wrote:

[2017-08-08 12:00] SoftVision-PaulOiegas commented on #2720
@lmorchard @fzzzy Hmm, not sure that this fixed the issue. I still can't see an icon for the dev server add-on.

[2017-08-08 12:04] SoftVision-PaulOiegas commented on #2737
I was wondering when we'll get the enhanced version of the News feed. Glad to see this back on the table. 👍

[2017-08-08 12:07] fzzzy commented on #2720
@SoftVision-PaulOiegas You're right, I don't see the icon on dev but I do see it on stage, even though they have the same code deployed in both places right now.

[2017-08-08 12:08] fzzzy commented on #2739
Thank you for the report. There's already a bug open for this: #2602

Closing this as a duplicate.

[2017-08-08 12:08] #2739 closed, assigned to nobody

[2017-08-08 12:27] SoftVision-PaulOiegas commented on #2673
@wresuolc That's odd, can you please name those websites? We also did that before logging this issue and we haven't seen the same behavior.

[2017-08-08 13:42] SoftVision-PaulOiegas commented on #2731
If I remember well, the browser that supported XP the longest was Firefox. They were the last ones to drop the updates for it. Other browsers were long gone from XP when Firefox decided to pull the plug. All this happened because even Microsoft no longer supports it and recently also Vista had the same fate in April this year.
The idea that Firefox will stop the support for XP somewhere along the

[2017-08-08 13:50] SoftVision-PaulOiegas commented on #2720
@fzzzy Cosmin mentioned that this only reproduces on dev, before the fix was made. So I'm not sure what this fixed. 😄

[2017-08-08 14:43] lmorchard commented on #2366
FWIW, I seem to remember we made a decision in a status meeting to stop doing this in the Test Pilot add-on. So... the new SDK-less 2.0+ add-on does *not* remove experiments when it's uninstalled.

If that's a mistake, and we *do* want it to do that, we'll need to re-implement that stuff from the old add-on.

[2017-08-08 15:34] fzzzy commented on #2366
We've waffled on this a lot. I think we just need to close this now. If it causes big problems, we can decide to reimplement this feature in the future.

[2017-08-08 15:34] #2366 closed, assigned to fzzzy

[2017-08-08 17:26] fzzzy opened #2741 "Rename branches from stage-static and production-static to stage and production"
We used the names stage-static and production-static during the switchover from the dynamic site to the static site. We might as well switch back to the names stage and production to be more consistent with the rest of the experiments now.

[2017-08-08 17:27] fzzzy commented on #2741
We'll have to update the documentation, update jenkins, and update the ops scripts for this.

[2017-08-08 17:32] fzzzy opened #2742 "Don't append -dev to prod add-on"
We think it's mostly harmless, but are not exactly sure why it is happening.

[2017-08-08 17:38] lmorchard commented on #2742
We run `addon/bin/update-version.sh` in `npm run package` for the addon build. This ensures the add-on has a unique version tied to the current git commit, which has been useful for dev server builds. Particularly because AMO would refuse to sign add-on builds without a manual update to version number, which made QA on dev & stage very difficult.

[It checks for a `CIRCLE_TAG` env var](https://git

[2017-08-08 18:17] lmorchard opened #2744 "Remove remaining non-mozAddonManager experiment install code from site"
We still have [a fork in the frontend](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/lib/InstallManager.js) to switch between [mozAddonManager-based](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/lib/moz.js) and [add-on-based](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/lib/addon.js) approaches to enabling/disabling experiments.

We've

[2017-08-08 19:45] mrphs opened #2745 "Testpilot website doesn't work in Tor Browser"
As shown in the screenshot below, I can't seem to be able to load any of the testpilot pages inside Tor Browser.

<img width="500" alt="screen shot 2017-08-08 at 3 42 37 pm" src="https://user-images.githubusercontent.com/453701/29091289-ff5bb90a-7c71-11e7-90a8-39d0fb818684.png">

[2017-08-08 19:56] Eeems opened #2746 "Testpilot site wont load in Fx 57.0a1 (2017-08-08) (64-bit)"
When attempting to view any experiments on testpilot.firefox.com I get the following console error. It looks like the site's CSP needs to be updated.
![image](https://user-images.githubusercontent.com/1176979/29091568-a2f0a738-7c40-11e7-9786-e5057465f10d.png)

[2017-08-08 20:34] lmorchard commented on #2746
Hmm, I'm also on this version of nightly, and I can't reproduce this issue. We have been in the middle of a few deployments to the site today - could be a possible transient issue?

[2017-08-08 20:49] stpr-dev commented on #2746
I have the same issue with the latest firefox update (55). I visited the site yesterday before the update and everything was fine.

Here is the console output from today:
[code]

[2017-08-08 20:53] lmorchard commented on #2746
Latest Firefox release version I have is v54.0.1 64-bit on Windows. Also have Firefox Developer Edition v55.0b14 (64-bit) on Windows. Can't reproduce this issue on those, either 😖

[2017-08-08 21:01] stpr-dev commented on #2746
@lmorchard Just to clarify, I can open https://testpilot.firefox.com. However, I cannot open any experiments within (eg: https://testpilot.firefox.com/experiments/containers).
I tried on both Windows and Linux, same issue. Also, I tried opening on Chromium 60 and same issue.

Is there any way I can get you more information that would help you narrow down the cause of the issue?

[2017-08-08 21:03] lmorchard commented on #2746
Helpful would be details such as: Add-ons installed? anti-virus running? Seems like some of these errors might be somewhere around google analytics metrics code. We had an issue there, once upon a time, when [uBlock turned off beacon prefs](https://github.com/mozilla/testpilot/issues/2231)

[2017-08-08 21:07] stpr-dev commented on #2746
- New profile with no addons installed has the same issue. So this is probably not an addon issue.
- No antivirus installed on my Linux system.

[2017-08-08 21:13] stpr-dev commented on #2746
`beacon.enable` is set to `true`.

[2017-08-08 21:17] MichaelKohler opened #2747 "Testpilot Icon in Firefox automatically added to buttons"
Without doing anything (no restart, nothing) Testpilot just added the Testpilot button to my buttons. It says 'New' even though I've already installed all new experiments. This seems quite unnecessary. Is there any way to not do that for that case?

Edit: actually there was an action, I added another button to the overflow panel through "Customize".

![screen shot 2017-08-08 at 23 15 59](https://u

[2017-08-08 21:17] jaredhirsch commented on #2746
Experiment pages load fine for me. Mac OS 10.12.6, Nightly 57.0a1 (2017-08-08) (64-bit). Also tried on release FF and Chrome.

@collectorgeneral If you're seeing the same problem on multiple machines and browsers, I suspect you might be having a network issue. Can you try disabling any anti-virus or other SSL MITM software or appliances running on your network? Or, could you try tethering off a ce

[2017-08-08 21:24] jaredhirsch commented on #2746
Experiment pages load fine for me on Windows 10, both release channel and today's nightly.

[2017-08-08 21:43] ghost commented on #2673
@johngruen tried it on CNN first, I think

[2017-08-09 00:25] stpr-dev commented on #2746
@6a68 Curl output is the same as what you have: `last-modified: Tue, 08 Aug 2017 19:55:27 GMT`
The machines I tried are not on the same network. I even tried it on my phone with my mobile network. Same outcome.

I have however found that the page loads on `google-chrome` (**NOT** `chromium`). Perhaps this has something to do with google services?

[2017-08-09 00:38] stpr-dev commented on #2746
To further add to the confusion: the websites loads on `palemoon`. The only thing on the console was:
`21:35:51.339 mutating the [[Prototype]] of an object will cause your code to run very slowly; instead create the object with the correct initial [[Prototype]] value using Object.create1 vendor.8b61e861.js:1:829966`

[2017-08-09 01:45] toyg opened #2749 "TestPilot projects not showing in FF 55 MacOS"
Whenever I click on any project on testpilot.firefox.com, the page just keeps loading indefinitely. The console gets continuously spammed with the following message in an endless loop:

```Sending message that cannot be cloned. Are you trying to send an XPCOM object? addonManager.js:206:10```

Firefox 55.0 on MacOSX 10.12.6. I tried in Safe Mode too.

About:support raw data:
{
  "application": {

[2017-08-09 01:56] Eeems commented on #2746
I've restarted my browser in safe mode, with CSP disabled. I'm still getting the unhandled promise rejection and type error. Seems to me like it's something other then a problem with the latest version of Fx Nightly. (I tested on nightly 56 as I hadn't updated on one of my machines yet).
Last-Modified is Tue, 08 Aug 2017 19:55:27 GMT for me as well.

**Edit:**
I've just tested with Firefox 54 (32-

[2017-08-09 08:17] SoftVision-PaulOiegas commented on #2745
Hi @mrphs and thanks for your report. Tor is not on our usual browsers list for compatibility verification, but indeed you are right. The Test Pilot homepage tries to load but throws up this error. We have a similar issue (#2642) on iOS devices where the same page is displayed. Maybe it's something related.
The dev team will probably look into this and report back with any findings.

Here is a scr

[2017-08-09 09:45] Carlos1946 commented on #2731
Technology and security it is not everything humans need. The updating of
the old weaponry is the nuclear boms, did we need to use it to be updated
and follow the big weapon corporations?
If Microsoft decided to turn computers connected to the central agencies it
will be an update on security too?.
Each time Microsoft decide to launch another OS millions of shools from
everywhere are forced to cha

[2017-08-09 10:16] rrrnld opened #2750 "Snooze Tabs: Tabs Woke Too Late"
I am currently experimenting with the snooze tabs functionality, liking it a lot. I was however suprized when I found that tabs that were supposed to reopen at 11am did not reappear in time but popped back up an hour later. Maybe it's a DST issue?

My system: macOS 10.12.6, Firefox 54, Central European Summer Time (Berlin)

[2017-08-09 11:30] SoftVision-PaulOiegas commented on #2731
Well I agree with you on some of the points. But in the end, it all reduces to the free will and the point of view you look at... Nobody forces you to do so. If you still prefer XP, it's fine, but Mozilla cannot update the Microsoft OS to support the new add-ons. So I'm afraid we are stuck on this matter.

By the way, the latest Windows OS (Windows 10) was a free upgrade for more than a year for e

[2017-08-09 12:07] SoftVision-PaulOiegas commented on #2747
Hi @MichaelKohler and thanks for your report. The "New" label appears when new experiments are launched and stays displayed until you click the Test Pilot button. Installing the new experiments won't make it disappear.

However, do you had the Test Pilot button hidden? If yes, it seems that we may have a regression here. When the Test Pilot add-on gets updated to a new version, it should remain hi

[2017-08-09 12:22] MichaelKohler commented on #2747
Yes, the button was hidden (removed through "Customize").

[2017-08-09 12:49] fzzzy commented on #2738
This release is on prod.

[2017-08-09 12:49] #2738 closed, assigned to nobody

[2017-08-09 13:16] SoftVision-PaulOiegas commented on #2735
Voice Fill page looks the same, and yeah, the long URL's are at fault here. I have just modified the text of the URL's for Voice Fill "Changelog" and "Bug Reports" and the UI jumped back correctly.

![chrome ui](https://user-images.githubusercontent.com/17258026/29123311-fae30976-7d1d-11e7-9ab7-0145b84fb692.png)

[2017-08-09 14:20] Carlos1946 commented on #2731
well, i started with ZX Spectrum and the old Amiga 500, times where it was
the computer of the year (in 90s). Money that´s all i need to live for some
guys. Money and Technology, the two actual Gods you need we must to
believe. Like the bilionaires and big corporations are saying everyday. I
don´t still understand why are you ask us to donate to keep independant and
your words are so similar like

[2017-08-09 15:05] fzzzy commented on #2747
@SoftVision-PaulOiegas The cause this time was probably the same as the cause in #2188. Because the add-on changed into a bootstrap addon with an embedded webextension, the id of the button likely changed. I'm not sure what we could have done to avoid this other than not change the id again. If we ever do another big rewrite of the addon (not likely), we should make sure that the id stays the same

[2017-08-09 16:36] lmorchard commented on #2750
When a tab is snoozed, the alarm is set in units of seconds until it's meant to wake back up. So, if you snooze it for 6 hours from now, a DST time change won't alter that. Might be an issue of what time we display in the pop-up being incorrect in this case

[2017-08-09 16:39] johngruen opened #2753 "Localization issue reported on Twitter"
@fzzzy

User reports: `Accept-Language: en,ru;q=0.7,ja;q=0.3`

Looks like they're seeing a mix of accepted languages :(

<img width="1195" alt="screen shot 2017-08-09 at 6 37 25 pm" src="https://user-images.githubusercontent.com/3323249/29132881-f09bd646-7d31-11e7-93cc-c211222e9d98.png">

[2017-08-09 16:46] johngruen commented on #2753
Note, user said that until last week the whole site was working in English, which was their first choice.

[2017-08-09 16:57] 13xforever commented on #2753
I use English version of Firefox on Linux with English language & Russian regional Formats.
Selected languages for content are: English [en], Russian [ru], Japanese [jp].

Page renders in a deterministic way (i.e. no random language swaps on refresh).

![Fullscreen screenshot](https://user-images.githubusercontent.com/36445/29133556-4c0e1e42-7d4d-11e7-8b59-c4d5a8544b23.png)

[2017-08-09 17:05] johngruen commented on #2753
Looks like we need to add `en` here https://github.com/mozilla/testpilot/blob/master/frontend/config.js#L13

[2017-08-09 17:21] lmorchard commented on #2753
A little more needs doing: We either need to copy the `en-US` locale to `en` along with adding `en` to the production locale list - [or, better yet, we find a way to alias `en` to `en-US` in the language negotiation stage](https://github.com/projectfluent/fluent.js/tree/master/fluent-langneg#likely-subtags)

[2017-08-09 17:34] lmorchard commented on #2634
Tweaked the title to reflect what I think we've figured out as the underlying issue

[2017-08-09 17:34] fzzzy commented on #2753
It looks like we can use the likelySubtags feature in fluent-langneg to help with this:

https://github.com/projectfluent/fluent.js/tree/master/fluent-langneg

Since we manually maintain the list of 100% languages, we will still need to keep that string up to date, though.

[2017-08-09 17:36] aaroncadillac opened #2754 "'Notes' and 'Send' Complements impossible to install"
My firefox

[code]
and Notes & Send install pages not load, I found what looks like an error in an event

    TypeError: e is null[Saber más]                                                        vendor.8b61e861.js:1:1
    s                                             https://testpilot.firefox.com/static/app/vendor.8b61e861.js:1:1
    r                                    https://testpilot.firefox

[2017-08-09 18:23] gaby2300 commented on #2750
In my case, the snoozed tab woke up 15 minutes late: it was set for 15hs
but woke at 15:15 hs

On 9 August 2017 at 13:36, Les Orchard <notifications@github.com> wrote:

[2017-08-09 18:34] ggenaw opened #2755 "Voice Fill, Notes, Send do not load using macOS High Sierra 10.13 Beta (17A330h)"
Just updated to Firefox 55 this morning and Signed on to Test Pilot. Some of the new add on experiments looked interesting, but won't load

[2017-08-09 18:55] chuckharmston commented on #2687
This is shipped: https://contribute.testpilot.firefox.com

CC @ChenMorpheus and @Pekochen for some visual QA.

[2017-08-09 19:36] pdehaan commented on #2687
@chuckharmston Where could a certain up-and-coming Jr QA file bugs against said code? I tried the big, shiny GitHub icon in the footer, but that seems to be a circular link.

**UPDATE:** Nevermind, I was trolling your commits and found https://github.com/chuckharmston/testpilot-contribute

[2017-08-09 20:38] lmorchard commented on #2737
[They *should* be currently in reverse chronological order](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/selectors/news.js#L25) ([even has a unit test](https://github.com/mozilla/testpilot/blob/master/frontend/test/app/selectors/news-test.js#L57)) - where are you seeing them ordered by experiment? Wondering what this implementation in missing to make that happen

[2017-08-09 20:40] lmorchard commented on #2737
Do you have this screenshot?

[2017-08-09 22:04] jaredhirsch commented on #2746
@Eeems What addons do you have installed in the profile that's having the problems?

[2017-08-09 22:14] chuckharmston commented on #2687
https://github.com/chuckharmston/testpilot-contribute/issues/new

[2017-08-09 22:52] lmorchard commented on #2737
What should things look like if there's no news to be shown? (i.e. everything's older than 2 weeks) Our current component just hides itself and the "Latest News" header if there's no news to be shown

[2017-08-10 00:43] Eeems commented on #2746
@6a68 Well since I've attempted in safe-mode I doubt it's the addons.
Raw troubleshooting info: https://ghostbin.com/paste/oyv57
Potentially something privacy settings touches though as changed flags will survive the addon being disabled?

[2017-08-10 01:52] pdehaan opened #2757 "Add footer and experiment links to "Good First Bugs" contributor portal?"
@chuckharmston has hand crafted the excellent https://contribute.testpilot.firefox.com portal. It'd be nice to at least add some sort of "Contribute" link in our footer which points to that site, and when https://github.com/chuckharmston/testpilot-contribute/issues/11 is addressed, maybe add specific links to the portal for each experiment page. Maybe as a second link under **Contribute** on https

[2017-08-10 02:24] stpr-dev commented on #2746
Here is an update. So I downloaded the [Firefox Portable](https://portableapps.com/apps/internet/firefox_portable) and tried accessing one of the experiments and I am getting them to open just fine. I am really confused because I have tried the same on an installed version on both Windows and Linux, with completely new profiles and visiting the site immediately upon opening the profiles and I cann

[2017-08-10 14:40] SoftVision-PaulOiegas commented on #2754
Hi @aaroncadillac and thanks for your report. However, this is a known issue and it's tracked under #2746. Please follow the thread and provide any additional info there.
We are currently trying to debug the problem trough the users that are reproducing this since we cannot reproduce it on our environments.

I will close this issue as a duplicate in favor of the one mentioned above, but I want to

[2017-08-10 15:12] Eeems commented on #2746
@collectorgeneral Now that's really strange. I'm at least able to visit the pages when using a new profile. Mind checking the troubleshooting information on that new profile and comparing it to mine to see if there are similarities?

**Edit:** as a side note, I've tried re-installing testpilot to make sure I have the latest version. Still no dice.

**Edit2:** I've done a little debugging into what

[2017-08-10 17:03] lmorchard opened #2762 "Localized news updates linking to en-US only Medium posts need some tweaks"
Copying over @flodolo's comment from #2759 on the news updates section and en-US only Medium posts:

[2017-08-10 18:08] fisherhu opened #2763 "Cannot access experiment page"
Things happened:
- I have seen the containers experiment mentioned in some page
- installed the addon (NO Test Pilot installed yet)
- tested, decided to opt out
- try to find a way to give feedback
- if I understand well I need the test pilot addon (not sure tho)
- installed test pilot
- navigated to the experiment page (https://testpilot.firefox.com/experiments/containers)
- page wont load (compl

[2017-08-10 18:18] lmorchard commented on #2749
Maybe a duplicate of #2746 ?

[2017-08-10 18:18] lmorchard commented on #2755
Maybe a duplicate of #2746 ?

[2017-08-10 18:20] lmorchard commented on #2750
Oh, also this should be an issue filed on the SnoozeTabs project itself. Looks like maybe a duplicate of https://github.com/bwinton/SnoozeTabs/issues/322 or at least related

[2017-08-10 18:20] #2750 closed, assigned to nobody

[2017-08-10 18:25] lmorchard commented on #2747
Currently, [the logic for the "New" label depends on the last time you clicked the button](https://github.com/mozilla/testpilot/blob/master/addon/src/webextension/lib/browserAction.js#L46). It doesn't track whether or not you've installed experiments. Might be a good idea for us to consider changing it to do that, though. Or, at least, remove the "New" if you visit the site at all regardless of cl

[2017-08-10 18:28] flodolo commented on #2762
To answer a question from the previous PR: are these titles always linked to Medium articles, or sometimes they're just short news? I have no way to check that, maybe it's just my memory getting confused.

"They" in the sentence above was referred to the destination of the link (articles on Medium they're not localized).

[2017-08-10 19:50] Eeems commented on #2763
Duplicate of #2746 and #2754

[2017-08-10 19:53] Eeems commented on #2746
Based on the number of duplicate cases I'm going to assume quite a few people are affected by this. Has anybody been able to recreate this based on the troubleshooting information I've provided?

[2017-08-10 20:15] stpr-dev commented on #2746
@Eeems I do not have access to my Windows machine at the moment for the portable profile.
My current system is Linux based, and [here](https://ghostbin.com/paste/5rg4r) is a troubleshoot information from the browser using a new profile (no addons, nothing changed). I have been trying to experiment with different versions including the older 54 and ESR releases, to no avail.

[2017-08-10 20:19] toyg commented on #2746
I have similar symptoms in #2749 , the looping error in console however is:

     BindInt32Parameter is deprecated and will be removed soon.  (unknown)
     Sending message that cannot be cloned. Are you trying to send an XPCOM object?
            addonManager.js:206:10

[2017-08-10 20:20] toyg commented on #2749
Might well be.

[2017-08-10 20:54] lmorchard commented on #2762
These titles will *not* always be linked to Medium articles. The link is optional, and some (most?) will just be short news updates.

[2017-08-10 21:47] flodolo commented on #2762
OK, then it makes sense to keep exposing them for localization as they are. The improvement would be having IDs that give a clear idea of the date, and avoid potential duplication.

[2017-08-10 23:31] Eeems commented on #2746
@collectorgeneral Based on the other related issues, I don't think it's a Windows specific issue. I'm also not sure it's a problem with a Nightly build in particular. You may want to have your test profile emulate my changed preferences to see if it's one of those.

@toyg It may well be related. The error message is different, but they may both be symptoms of the same issue. I don't know enough ab

[2017-08-11 01:00] stpr-dev commented on #2746
@Eeems I had tried changing settings that I found from your Troubleshoot log in a new profile in about:config tab (where applicable), to no avail.

[2017-08-11 01:33] chuckharmston commented on #2746
We very much appreciate all the help narrowing this down, everyone! @lmorchard and I spent much of today trying to reproduce this to no avail, so any additional information helping us get there is great.

My current working theory is that this is an interaction with _something_ in older Firefox profiles; all of what I'm able to test on Windows or Linux right now are new ones. If anyone has a profi

[2017-08-11 04:49] chuckharmston commented on #2687
I've completely updated the storybook for the new design, and it is now deployed, so you can check it out here: https://chuckharmston.github.io/testpilot-contribute/

CC @youwenliang, who may want to pitch in with some programming. It'd be a great test of out new proposed workflow.

[2017-08-11 08:09] ChenMorpheus opened #2767 "UI issues on contributor site"
@chuckharmston The implementation looks nice! We've collected several UI issues and one related to UX improvement. Please check the list below for details and let us know if any questions, thanks.

1. Card size, color (should be flat and photon color), icon size are incorrect
![image](https://user-images.githubusercontent.com/18019946/29205391-1ee6a520-7eaf-11e7-9972-74819f31ba11.png)

2. In norma

[2017-08-11 08:10] ChenMorpheus commented on #2687
@chuckharmston Thanks for the storybook, but we've collected several UI issues here: #2767, just let us know if any questions, thanks.

[2017-08-11 08:35] johngruen commented on #2767
@ChenMorpheus WRT Issue 1: I'd greatly prefer that the card colors match those on the site for the the time being in order to maintain continuity.

In the case of Screenshots, we have a new icon that matches neither the one found in the design spec nor the one used on Page Shot:
https://github.com/mozilla-services/screenshots/blob/master/static/img/landing-icon-screenshots.svg

[2017-08-11 08:51] johngruen commented on #2762
So there are few ways to go about this:

1. We could simply remove links from news items where the link is not localized on non-en-* locales. This would obviate the problem of connecting l10n-ed content to English blog posts, but we'd have to make sure all news items had full content as stand alone.
2. We could not show news items linking to EN content in non-en-* locales. This is a coarser fix, b

[2017-08-11 08:53] ChenMorpheus commented on #2767
@johngruen For issue 1, that makes perfect sense. We were just worried that the style doesn't match the rest of Photon design.
As for screenshots icon, sorry that we grabbed the old icon. The one you mentioned is the correct icon. Nice catch!

[2017-08-11 09:39] flodolo commented on #2762
I'm OK with 3.

There's one other issue at the moment with news: often I've seen these strings added at the very last moment, and pushed to prod within a few hours. That means they stay untranslated until the next push to prod, which might be 2 weeks away, and those news might be completely outdated by that time.

I think that's part of a larger issue (l10n should be decoupled from code pushes), b

[2017-08-11 10:26] erik8752 opened #2768 "Experiments keep loading forever"
I have installed testpilot 1 hour ago. Plugin is installed and enabled. After clicking the icon I get to the
[start page](https://testpilot.firefox.com/experiments?utm_source=testpilot-addon&utm_medium=firefox-browser&utm_campaign=testpilot-doorhanger&utm_content=not+badged)
I can't load any of the experiments because they just keep loading for several minutes until I close the tab. CPU, RAM and n

[2017-08-11 12:44] romme commented on #2768
![image](https://user-images.githubusercontent.com/775083/29213419-e8ae8a2a-7eab-11e7-9377-b79aecfef054.png)

Made it a picture to preserve line number in the transpiled file.

[2017-08-11 13:06] davehunt commented on #2746
I've hit this today on my new laptop. It arrived yesterday, and I used Firefox sync with a new profile, which appears to have brought across containers, which I was using on my previous laptop. When visiting https://testpilot.firefox.com/ the experiment does not indicate that it is active, and when clicking on 'Get started' the experiment page never loads.

<img width="1115" alt="screen shot 2017-

[2017-08-11 13:21] nchevobbe commented on #2602
Not sure if this is the same issue since I have different result, but still looking not that good :

<img width="342" alt="screen shot 2017-08-11 at 15 18 42" src="https://user-images.githubusercontent.com/578107/29214696-a19ea76c-7ea8-11e7-93f4-1ba1928ee615.png">

[2017-08-11 13:23] davehunt commented on #2768
Likely a duplicate of https://github.com/mozilla/testpilot/issues/2746

[2017-08-11 13:33] erik8752 commented on #2768
Yes it is a duplicate of #2746 I was probably mislead by it's title.

[2017-08-11 14:46] Eeems commented on #2746
@davehunt Interesting. I use to have containers active, but I don't have it active anymore. I wonder if it did something to my profile that has caused this.

@chuckharmston I can probably send you my profile sometime later today. Any preference on how I send it?

[2017-08-11 14:46] SoftVision-PaulOiegas commented on #2755
That seems right Les.
Hi @ggenaw, I have to close this issue as a dupe of the one mentioned above. Please follow the thread there and provide any extra details you can, to help us debug this issue. Thanks!

[2017-08-11 14:46] #2755 closed, assigned to nobody

[2017-08-11 14:58] SoftVision-PaulOiegas commented on #2746
Hi @Eeems, I'm one of the QA's from Test Pilot. Sending a profile that reproduces the issue would be great. Just archive it and send it via email if it contains sensitive data (we can provide some addresses). Or if it's not a problem to share it publicly, you can upload the profile in a cloud service (archived or not) and comment here with a link to it.

My address is soche2009@gmail.com. I will m

[2017-08-11 15:50] toyg commented on #2746
[testprofile.zip](https://github.com/mozilla/testpilot/files/1218377/testprofile.zip)

Blank profile exhibiting the behaviour on OSX.

[2017-08-11 15:59] lmorchard opened #2769 "Improve handling of "new" badge on add-on toolbar button"
Every [4 hours](https://github.com/mozilla/testpilot/blob/master/addon/src/webextension/lib/environments.js#L42), the add-on [checks for updates](https://github.com/mozilla/testpilot/blob/master/addon/src/webextension/lib/environments.js#L76) from the site. [If there are new or changed experiments](https://github.com/mozilla/testpilot/blob/master/addon/src/webextension/lib/browserAction.js#L35) si

[2017-08-11 16:14] lmorchard commented on #2746
I just merged @fzzzy's PR #2766 - that *might* be the fix to this. Still can't reproduce this myself, but ([in about 10 minutes if CircleCI cooperates](https://circleci.com/gh/mozilla/testpilot/5343)) you can visit https://testpilot.dev.mozaws.net/ to see the current dev build from master branch.

Problem with that, though, is that you have to run through [our development quickstart setup](https:/

[2017-08-11 16:22] Eeems commented on #2746
@lmorchard I've just shared my profile with @SoftVision-PaulOiegas so you may be able to recreate it with that.

[2017-08-11 16:52] lmorchard commented on #2746
Yay, I finally have steps to reproduce:

* Go to language options
* Delete my default of en-US
* Add en-CA and make that the default

And now I see the error. Curse my US-centric ways!

[2017-08-11 16:55] Eeems commented on #2746
@lmorchard It's funny/sad how many things I've broken due to not having en-US in my language list. I'm glad we found the problem!

[2017-08-11 16:55] stpr-dev commented on #2746
@lmorchard Holy smokes yes! My language was en-GB and when I added and moved en-US up the list it works!
No wonder the portable apps version worked, it defaults to en-US. Curse US centric indeed 😄

[2017-08-11 16:57] Eeems commented on #2746
@collectorgeneral I've added en-US to the bottom of my list and that also fixes it.

[2017-08-11 16:57] lmorchard commented on #2746
@eeems @toyg Thanks for your profile sharing! That was the piece we were missing

[2017-08-11 16:58] chuckharmston commented on #2746
For what it's worth, the issue is likely not that it's missing `en-US`; it's that it includes a locale that we do not have translations before (`en-CA` or `en-GB` being two).

Thanks for the help hunting this down, everyone!

[2017-08-11 16:58] stpr-dev commented on #2746
@Eeems Yup, just tried that, that works too. Phew!

[2017-08-11 16:59] Eeems commented on #2746
@chuckharmston and from what I hear including `en` in the list wont work as it's broken.

[2017-08-11 17:00] SoftVision-PaulOiegas commented on #2746
@Eeems Yes, for the moment, you all can add [en-us] in the list at the bottom, so the browser will fallback to that. This until we fix the [en] localization.

Anyway, congrats @SoftVision-CosminMuntean for finding the cause !!! 👍

[2017-08-11 17:00] stpr-dev commented on #2746
@Eeems That is correct, en was included in my current profile along with en-GB and en-CA and it did not work. Only after adding en-US it works.

[2017-08-11 17:07] lmorchard commented on #2746
So, I can reproduce on production. The error looks fixed on dev after merging #2766 - though there are some spots where strings are blank.

Also: I can turn the error on & off locally by reverting & reapplying #2766 - so I think we're onto something

[2017-08-11 17:13] SoftVision-PaulOiegas commented on #2746
@lmorchard I can confirm also that the main issue is already fixed on Dev server with that PR. Just compared it with stage on same profile.

[2017-08-11 17:17] #2768 closed, assigned to nobody

[2017-08-11 17:17] #2763 closed, assigned to nobody

[2017-08-11 17:43] lmorchard opened #2770 "Blank strings when using en-CA locale"
Looks like we're falling back to in-DOM strings on the en-CA locale (maybe others too). Related to #2753 maybe?

As an example, the "Just Launched" string ends up blank - because that DOM node is blank. The platform indicator string, however, falls back to [DOM text](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/ExperimentPlatforms.js#L29) - which differs from [the f

[2017-08-11 17:51] lmorchard commented on #2770
Doing some sleuthing... with a locale of `en-CA` it looks like we:

1. [negotiate languages and end up with `["en-US"]`](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/containers/App.js#L119)
1. [load `en-US`](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/containers/App.js#L125)
1. [attempt to generate messages](https://github.com/mozilla/testpilot/blob/maste

[2017-08-11 18:12] Tobias-B-Besemer commented on #2602
And this one...
![2017-08-11 20_11_42-icon in extended tabbar looks ugly issue 2602 mozilla_testpilot - nightly](https://user-images.githubusercontent.com/11881073/29226210-73924dbe-7ed1-11e7-89ff-d6777206ee47.png)

[2017-08-11 21:33] lmorchard opened #2772 "Annotate dispatch() calls with action flow types"
While banging my head against flow-type annotations to polish #2771, I noticed something:

Our reducers ([like this one](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/reducers/addon.js#L191)) assert a type for the action parameter that's [composed of actions usually associated with that reducer](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/reducers/addon.js

[2017-08-12 06:39] SoftVision-PaulOiegas commented on #2749
@toyg If you haven't seen the workaround in #2746, please try and add in "Menu > Options > Content > Language" displayed pop up, the English US [en-US] language at the bottom of the stack.
This is just for a while until we merge the fix for the issue.

I am closing this one in favor of the above mentioned one since they seem related. Please follow the thread there.

[2017-08-12 06:39] #2749 closed, assigned to nobody

[2017-08-12 10:11] toyg commented on #2749
Yeah that works. Nice!

[2017-08-12 13:09] Tobias-B-Besemer commented on #2602
And 'Testpilot' should IMHO be written with a big 'T'.

[2017-08-12 15:47] Tobias-B-Besemer commented on #2602
'Test Pilot' is now written in Add-ons with two words, but as tooltip in one word.
![2017-08-12 17_44_19-add-ons manager - nightly](https://user-images.githubusercontent.com/11881073/29242065-45058690-7f86-11e7-8e1e-d00016e87268.png)

[2017-08-12 16:46] alex-mayorga opened #2773 "[l10n] Lot of duplicated content (job title, feedback) in Test Pilot localization"
Steps:
1. Load https://pontoon.mozilla.org/es-MX/test-pilot-website/experiments.ftl/?string=169076
2. Click "MACHINERY" tab.

Result:
This string has been translated 5 times already in just the es-MX locale.

Expected result:
The string is translated once then reused, maybe use %ExperimentName% and make Test Pilot a %BrandName%

[2017-08-12 18:38] flodolo commented on #2773
For reference: "You can always give us feedback or disable Notes from Test Pilot."

The only thing changing is the name of the add-on.

We have similar duplications for job title, if we could avoid translate "Software Engineer" 10 times, it would be a good thing.

[2017-08-12 18:42] alex-mayorga commented on #2773
FWIW the "Software Engineer" example https://pontoon.mozilla.org/es-MX/test-pilot-website/all-resources/?search=Software+Engineer&string=159450

[2017-08-13 09:16] roberj974 opened #2774 "It's impossible to install any of the test-pilot addon lol"
Hi, felt pretty exited to try out, but I don't seem to able to.
When I click on a project wich is still on course to "get started" i am pointed to webpage that is charging forever...
So I never have the acess to the decription and the instalation link.

And when I click on a passed project, i have the description but you guy don't wan't us to tray them aniway. Which is bad too.

I have desactivate

[2017-08-13 15:20] pdehaan commented on #2774
@roberj974 What OS and browser version are you using?
Do you see any errors in your browser console? (Firefox: Tools > Web Developer > Web Console)

[2017-08-13 16:31] TheoChevalier opened #2775 "Two strings are hardcoded in the newsletter form"
“Your email here” placeholder is hardcoded:
<img width="461" alt="capture d ecran 2017-08-13 a 17 27 05" src="https://user-images.githubusercontent.com/1294206/29251444-c30d7810-804c-11e7-9d62-1aee7d88461d.png">

“this privacy notice” is hardcoded as well:
<img width="464" alt="capture d ecran 2017-08-13 a 17 26 56" src="https://user-images.githubusercontent.com/1294206/29251445-c33f2996-804c-11e7

[2017-08-13 17:48] CHBaker commented on #1845
I'll take this issue

[2017-08-13 18:44] pdehaan commented on #1845
Awesome, @CHBaker, thanks!
Let us know if you have any questions or need help.

~~I'm not sure how accurate the above table is, considering we've added and retired a few experiments since then (but core concept is still the same).~~

Updated the script and output. It now assumes you're running it from the root of the repo and have `fastimage` module installed locally.

[2017-08-13 20:40] bjherbison commented on #2689
I don't know if bug 1385891 was the issue but the problem seems to be gone.

[2017-08-13 23:26] eliedrian commented on #2689
Agreed! Min Vid works now in the last few nightlies.

On Mon, 14 Aug 2017, 04:40 bjherbison, <notifications@github.com> wrote:

[2017-08-14 02:18] vikramnr commented on #2695
@wresuolc Can I take up this issue? If so height of the `Disable Page Shot` should be lowered?

[2017-08-14 13:20] bhearsum opened #2777 "can't install experiments"
I get the following two errors in the browser console:
[code]

[2017-08-14 15:29] #2687 closed, assigned to chuckharmston, Pekochen

[2017-08-14 16:07] lmorchard commented on #2772
Thought some more about this. [Seems like using specific action types in reducers is fine](https://flow.org/en/docs/frameworks/redux/#toc-typing-redux-actions), practically speaking: Even though, technically speaking, *all* actions will flow through every reducer - specific slice reducer code will only deal with certain actions. (dynamic dispatch is hard to wrangle with static types)

What I think

[2017-08-14 18:17] CHBaker commented on #1845
So I'm just updating the fast image configuration? what is the file path to the fast image module

also, on a side note, where should I post about set up issues? Ive got some errors trying to run the quick setup.

[2017-08-14 18:34] #2753 closed, assigned to nobody

[2017-08-14 18:34] #2770 closed, assigned to nobody

[2017-08-14 18:46] roberj974 commented on #2774
I am using the last Mozilla on windows 10 insider build n° 16257.1
here is my error log info :
[code]

I have seen few other subject about the same issue it's apparently common...

[2017-08-14 20:19] lmorchard opened #2778 "Upgrade warning dialog improvements"
Dug around to find the warning dialog we show for #2364 and thought of some improvements:

1. The component makes direct access to browser APIs that we generally reserve for the App container. The dialog should just render all from props, because that makes tests & storybook stories easier.
1. The dialog lives in `frontend/src/app/components/View.js` - which felt like a weird spot for it, since th

[2017-08-14 21:50] pdehaan commented on #1845
@CHBaker I'd probably just recommend resizing all the avatar images to 64x64. I think it should be mostly straight forward except for the 1 image that is non-square (371x341). For that one you may need to manually crop the image to whatever looks best for 64x64.

Which set up issues? If it's with Test Pilot itself, this repo is the best place. If it's for a specific experiment, I'd file it in that

[2017-08-14 22:26] CHBaker commented on #1845
when I was initially running `npm run package` with npm and node up to date, I was getting a series of errors... but I ran through the entire set up, then came back to it and ran `npm run package` again and no errors appeared, so I'm not sure what fixed it.

but I recreated it just by following the quick start. here is the error:
<img width="736" alt="screen shot 2017-08-14 at 4 46 15 pm" src="htt

[2017-08-15 15:58] lmorchard commented on #2602
https://github.com/mozilla/testpilot/commit/619fb50bed94e9d1fe156384423d0ca92967a408

[2017-08-15 16:24] lmorchard commented on #2773
This one's going to be difficult to address.

We manage site content [in YAML files for each individual experiment](https://github.com/mozilla/testpilot/tree/master/content-src/experiments). The strings in `locales/en-US/experiment.ftl` [are auto-extracted from YAML](https://github.com/mozilla/testpilot/blob/master/docs/content/reference.md#localization). The IDs are auto-generated from a combinat

[2017-08-15 16:36] lmorchard commented on #2773
Also, looking for suggestions & best practices... are there other projects around Mozilla with a bunch of localized site content that handle this better?

[2017-08-15 16:38] lmorchard commented on #2773
And of course, the hashed-ID approach doesn't address strings that are alike except for a possible placeholder. Not sure there's any easily automated approach for that.

[2017-08-15 17:30] lmorchard opened #2782 "Ensure that post-bootstrap add-on has good test coverage."
Thought I'd get to this really quick before launching the new embedded webextension add-on. I did not. So, I'm filing this issue to make it a more formal thing rather than something I just keep kind of meaning to get to.

[2017-08-15 17:32] lmorchard commented on #2777
Duplicate of #2746 - a fix is merged but not yet deployed to production

[2017-08-15 17:32] #2777 closed, assigned to nobody

[2017-08-15 17:42] lmorchard opened #2783 "Document using storybook from local dev"
Storybook works right now for the local dev environment:

1. Run `npm start`, wait for the initial site build to finish. (i.e. the output says `Server started https://0.0.0.0:8000`)
1. Open a second shell (i.e. because `npm start` is still running in the first)
1. Run `npm run storybook` in the second shell.
1. Visit http://localhost:6006/ to see the storybook.

You can also run `npm run static` i

[2017-08-15 18:01] lmorchard opened #2784 "Get a storybook deployment service working"
[Storybook works in a local dev environment.](https://github.com/mozilla/testpilot/issues/2783)

But, it would be nice to have a site somewhere with auto-built deployments of the storybook for pull requests and commits. That way, we can just paste an URL into a PR to demo the UI. Even better, have a github bot auto-comment when a storybook deployment happens.

At the SF work week, I wrote [a quick

[2017-08-15 18:40] flodolo commented on #2773
In general, the ID should be meaningful, since it gives information on how and where the string is used.

Firefox Send and Firefox Screenshots are using l20n, but they don't use YAML file to map content to strings.

I know zero about how the current FTL file is generated, I only wonder if we can exclude some strings from this extraction process, and associate them to a static ID.

[2017-08-15 20:56] lmorchard commented on #2773
[Did a quick hack to find repeated strings and come up with some auto-generated IDs.](https://gist.github.com/lmorchard/878867dbec4883fde14abceee1a893d9)

This might help us build a common string alias map, and also keep the ID looking relatively sensible. The ID gets ugly if the en-US string gets too long, though.

Looks like the only exact duplicate strings so far are contributor titles:
[code]

[2017-08-16 02:59] ForsakenHarmony commented on #1998
Why is the page displayed in german, even though I have my main language set to english? what's up with the shitty language detection everywhere

[2017-08-16 08:21] johngruen commented on #1845
hey @pdehaan @CHBaker I think we would prefer icons to be at 112x112 which would be 2x their displayed sizes:
https://github.com/mozilla/testpilot/blob/master/frontend/src/app/containers/ExperimentPage.js#L399

For those that are already smaller than this 64 x 64, i don't think we need to worry about resizing. They'll still look decent and are on older experiments anyway.

[2017-08-16 08:37] johngruen commented on #2562
Adding feedback to experiments themselves seems to meet our need here. We're getting lots of feedback, and we weren't really doing anything interesting with the HB-style ratings in particular. Closing this for now.

[2017-08-16 08:37] #2562 closed, assigned to johngruen

[2017-08-16 08:37] johngruen commented on #1621
we dropped the Heartbeat style random surveys. Closing!

[2017-08-16 08:37] #1621 closed, assigned to johngruen

[2017-08-16 11:40] flodolo commented on #2773
That would be a step in the right direction.

That's because the other problem involves slightly different strings.

[code]

In any other project that would be one string:

[code]

And this aslo ties with #2657. Test Pilot is gaining popularity, especially thanks to Firefox Send. So, there are new locales starting (I've added es-AR and da in the past 2 days), but they have to look at strings that

[2017-08-16 14:42] CHBaker commented on #1845
Alright, i'll change them to 112

[2017-08-16 16:59] #2683 closed, assigned to johngruen

[2017-08-16 16:59] #2735 closed, assigned to johngruen

[2017-08-16 17:00] #2629 closed, assigned to johngruen

[2017-08-16 18:16] CHBaker opened #2787 "BUG running quickstart for testpilot"
this occurred when following the quick start guide for testpilot:

when I was initially running `npm run package` with npm and node up to date, I was getting a series of errors... but I ran through the entire set up, then came back to it and ran `npm run package` again and no errors appeared, so I'm not sure what fixed it.

but I recreated it just by following the quick start again after re-clonin

[2017-08-16 18:22] lmorchard commented on #2787
I think there's some more to this error that's cut off - can't tell what happened here. Would also help to see exactly what commands you ran, in case either the quickstart or what you typed was missing something

[2017-08-16 19:13] tiwoc opened #2788 "Test Pilot website doesn't load on Firefox on Android"
Steps to reproduce:
1) Open Firefox on Android (tested with v55.0 on Sony Xperia X compact, 4.7").
2) Go to https://testpilot.firefox.com/
3) Wait

Actual results:
The content doesn't load. The loading animation never finishes.

Expected results:
The website content should be displayed, just like on the regular Firefox.

![screenshot_20170816-205039](https://user-images.githubusercontent.com/12608

[2017-08-16 19:14] tiwoc commented on #2788
I should add that this is neither a problem with an addon (tried it without addons) nor with my internet connection, as all other websites load normally, a laptop using the same wifi can load it just fine, and switching to cellular data doesn't help.

[2017-08-16 19:40] CHBaker commented on #2787
These are the commands I ran in order:

`git clone https://github.com/mozilla/testpilot.git`
`nvm use 6`
`cd testpilot/addon`
`npm install`
`npm run package`

during npm install i'm getting:
`UNMET PEER DEPENDENCY babel-core@6 || 7 || ^7.0.0-alpha || ^7.0.0-beta || ^7.0.0-rc`
`UNMET PEER DEPENDENCY eslint-plugin-jsx-a11y@5.0.3`
`UNMET PEER DEPENDENCY eslint-plugin-react@7.0.1`
then the following w

[2017-08-16 22:01] lmorchard commented on #2430
Quick update - it's not entirely working yet ("Unapproved hostname!" error), but I have a start on a new dev server just for an l10n branch:

https://testpilot-l10n.dev.mozaws.net/

Next steps (moved to issue description)

[2017-08-16 22:50] fzzzy commented on #1998
@ForsakenHarmony It's a bug. We hope to have it fixed on Tuesday.

[2017-08-17 02:40] grahamperrin commented on #2746
## SeaMonkey 2.4.8 on FreeBSD-CURRENT

All of https://testpilot.firefox.com/ https://testpilot.firefox.com/experiments and https://testpilot.firefox.com/experiments/tab-center are bugged, I assume that other pages are similarly affected.

2017-08-13 02:39:54

![2017-08-13 02 39 54 firefox test pilot in seamonkey](https://user-images.githubusercontent.com/192271/29393609-acdae7c8-82fc-11e7-8494-0cd

[2017-08-17 02:50] grahamperrin commented on #2746
## Internet Archive Wayback Machine

http://web.archive.org/web/20170718085648/https://testpilot.firefox.com/experiments/tab-center (bouncing ball) http://web.archive.org/web/20170812084521/https://testpilot.firefox.com/ (fallen hamburger) and so on.

## Effectiveness of workarounds

In Seamonkey I found en-US primary, en secondary, nothing else; **not** a workaround, unfortunately.

I removed en,

[2017-08-17 08:25] SoftVision-CosminMuntean commented on #2753
I have retested this issue on dev and stage servers and is no longer reproducible. Marking as verified.

[2017-08-17 08:32] SoftVision-CosminMuntean commented on #2770
I have retested this issue and is no longer reproducible on dev and stage servers. Marking as verified.

[2017-08-17 08:49] SoftVision-CosminMuntean commented on #2735
I have retested this issue and is no longer reproducible on dev server on Chrome. Marking as verified.

[2017-08-17 09:27] ChenMorpheus commented on #2694
Sorry for the late reply. I came up with the proposal based on current visual style. The biggest difference is to change the icon to a less warning information icon since the original one might be confused. Please find the screens below for measurements and asset.

![notice in detail page](https://user-images.githubusercontent.com/18019946/29405372-463a25aa-8370-11e7-9b57-7054bf3ab194.png)

Measur

[2017-08-17 09:39] Pekochen opened #2789 "META: Measurement and Assets for Photonized Test Pilot website"
Here is the link for the measurement
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Photonized_Testpilot_Homepage/
assets:
https://github.com/mozilla/testpilot-assets/tree/master/Test_Pilot_Website/00_Assets/Photonized_homepage
Thanks

[2017-08-17 09:55] ChenMorpheus commented on #2789
This is the overview for homepage redesign. We'll provide the rest of pages, including detail page, other elements and different cases based on this [document](https://docs.google.com/spreadsheets/d/1ZtT_MTjoC3VxVTdVWOgmCDUqJJXF_HFR_oy7xjv2NWM/edit#gid=0).
@johngruen @clouserw Could we have a meeting to go through the design and check if we miss something here? Thanks.

[2017-08-17 10:54] kalse commented on #2774
I can't install the experiments either. When I click on "Get started" of an experiment I get page that is stuck on loading animation [1], and console in developer tools show the same error message reported above.

Even the Test Pilot Experiments page [2] shows error:

[code]

I'm on Window 10 Pro build 15063.540, using Firefox 55.0.2 (64-bit), fresh install with Test Pilot the only addon installed

[2017-08-17 11:02] SoftVision-CosminMuntean commented on #2774
Probably is the same issue as #2746.
@kalse  can you please navigate to "about:preferences" page, click the "Content" section, then click the "Choose" button from the Languages option and see what languages have you set?
If you don't have the default en-US language, set it to be the first in the list and see if the issue is still reproducible.

[2017-08-17 11:09] kalse commented on #2774
I just changed the language preferences (I had used en-GB previously) and it solved the issue. Thanks for the help @SoftVision-CosminMuntean :)

[2017-08-17 11:17] SoftVision-CosminMuntean commented on #2774
You're welcome!
However, the issue is already fixed, but is not deployed on production. It will be deployed soon and then you can change back the language preferences.

[2017-08-17 14:28] Eeems commented on #2746
@grahamperrin Have you checked the console to see if it's the same error or a new one?
I'm not able to replicate the problem in 55.0.2 (32-bit) on windows 10.

[2017-08-17 14:48] lmorchard commented on #2787
Thanks for all that detail! Unfortunately, it looks just as mystifying 😞 I'm going to carve out some time today to run through it from scratch myself too, and see if I can track down the issue.

Might be as simple as just deferring the add-on build steps until the end. But there shouldn't be a reason why the add-on is dependent on the site build - should be the opposite, in fact.

[2017-08-17 16:49] fzzzy opened #2791 "Make sure all <Localized> instances have default content"
We used to have problems where l20n and react-router would fight if there was default content in a localized node. Now that we switched to fluent-react, we can have default content again. I tried to make sure every Localized had default content, but I missed some. For the sake of consistency, we should make sure every Localized and LocalizedHtml instance has default content.

[2017-08-17 17:13] lmorchard commented on #2746
We just deployed what should be fixes to this issue today

[2017-08-17 17:13] #2746 closed, assigned to nobody

[2017-08-17 17:14] lmorchard commented on #2788
We just deployed fixes to localization code to production today - I suspect they may also fix this issue. But I'll leave this open until someone other than me can verify

[2017-08-17 17:15] lmorchard commented on #2774
This should be fixed on production

[2017-08-17 17:15] #2774 closed, assigned to nobody

[2017-08-17 17:35] tiwoc commented on #2788
Just tried it again on Firefox 55.0.2 on Android: Nothing has changed :-/

[2017-08-17 17:50] grahamperrin commented on #2746
https://testpilot.firefox.com/experiments/send is OK now (no longer requires the workaround) in Firefox 55.0.2.

Various URLs still bugged in the Wayback Machine e.g. five minutes ago https://web.archive.org/web/20170817174528/https://testpilot.firefox.com/experiments and in Seamonkey – should I raise a new issue now, or wait a few hours?

[2017-08-17 18:05] lmorchard commented on #2746
Not sure what you're testing there... We can't control content in the wayback machine, and it's probably the site from before our last deployment - which would contain the buggy code.

[2017-08-17 18:07] grahamperrin commented on #2746
The capture was made just over twenty minutes ago.

[2017-08-17 18:11] grahamperrin commented on #2788
Reproducible with 55.0.2 and Beta 55.0 on Android 6.0.1.

[2017-08-17 18:32] lmorchard commented on #2430
Ah, crud, hit a roadblock: We can't set up a new Test Pilot dev environment that has access to mozAddonManger without getting a change made to [the whitelist of allowed hosts hardcoded in Firefox](https://dxr.mozilla.org/mozilla-central/source/toolkit/mozapps/extensions/AddonManagerWebAPI.cpp#45)

So, two options (not mutually exclusive):

1. We make the site fail as gracefully as possible without

[2017-08-17 20:04] lmorchard opened #2797 "Switch dev server over to lambda@edge and document the changes"
In PR #2796, I set up a new server for the l10n branch using S3 + cloudfront + lambda. Much simpler, no need for an EC2 box or Docker container.

So, let's slightly rework testpilot.dev.mozaws.net to use this setup and update the docs to reflect the new arrangement.

[2017-08-17 20:05] lmorchard commented on #2797
FWIW, so I don't lose it, this is the lambda handler that takes care of transforming headers in CloudFront for viewer response. This replaces [everything under the header-proxy directory](https://github.com/mozilla/testpilot/tree/master/header-proxy).
[code]

[2017-08-17 20:39] lmorchard commented on #2720
Is this still an issue? Should be fixed, and I can see the icon

[2017-08-17 20:42] lmorchard commented on #2627
We deployed this and I think it's all working

[2017-08-17 20:42] #2627 closed, assigned to nobody

[2017-08-17 20:43] lmorchard commented on #2461
The add-on no longer has surveys, so... fixed I guess!

[2017-08-17 20:43] #2461 closed, assigned to nobody

[2017-08-17 20:45] #2335 closed, assigned to nobody

[2017-08-17 20:46] lmorchard commented on #822
No longer need this, since signing is done with a Mozilla Extension key.

[2017-08-17 20:46] #822 closed, assigned to nobody

[2017-08-17 20:47] lmorchard commented on #2634
Just so I don't forget - this looks like an interesting way to make a CircleCI deployment wait until there are no other deployment runs going for a given branch:

https://discuss.circleci.com/t/serializing-deployments/153
https://github.com/bellkev/circle-lock-test

[2017-08-17 20:59] Tobias-B-Besemer commented on #2602
What's about the wrong tooltip ???

[2017-08-17 21:39] lmorchard commented on #2602
Got a fix for that too, I think https://github.com/mozilla/testpilot/pull/2794

[2017-08-17 22:01] Eeems commented on #2746
@grahamperrin as @lmorchard said, they don't control the content. If the live version is fixed, that should be enough.

[2017-08-17 22:07] lmorchard commented on #2787
Derp, okay, figured it out: Turns out there are some things in the new add-on build that accidentally rely on modules installed in the parent directory's node_modules. (Forgot that was a possibility in node.js) So, two options and I need to think which is better:

1. Make the add-on build entirely independent of parent directory's modules (and documented quickstart works as-is)
1. Tweak the quicks

[2017-08-17 22:28] lmorchard commented on #2787
Decided to go with option 1, since that might be necessary in the future

[2017-08-18 02:12] #2787 closed, assigned to nobody

[2017-08-18 13:44] johngruen commented on #2534
This has been fixed for awhile

[2017-08-18 13:45] #2534 closed, assigned to nobody

[2017-08-18 13:48] johngruen commented on #2720
I'm seeing it as well, @SoftVision-CosminMuntean can you confirm and close

[2017-08-18 14:14] SoftVision-CosminMuntean commented on #2720
I have retested this issue and the Test Pilot icon is correctly displayed.

[2017-08-18 14:19] johngruen commented on #2789
@ChenMorpheus @Pekochen sounds good to me. I'm going to speak to @fzzzy about getting the ball rolling here today.

[2017-08-18 14:35] johngruen commented on #2694
I need to provide a GA event for this.

[2017-08-18 14:42] johngruen commented on #2789
@ChenMorpheus I think it would be useful to provide an overview of the various changes you're requesting in this bug so @fzzzy has a clear list.

@fzzzy Let's open up a new dev branch so we can start to preview this work as it comes in.

[2017-08-21 15:56] johngruen opened #2806 "Add general feedback survey to Footer"
Per @sbautista's research, let's add a link to the site footer in Test Pilot to a general feedback survey.

Here's the URL to link to:
https://qsurvey.mozilla.com/s3/test-pilot-general-feedback

<img width="588" alt="screen shot 2017-08-21 at 11 55 50 am" src="https://user-images.githubusercontent.com/3323249/29527720-be0b80a2-8667-11e7-95e2-8f69801e3199.png">

[2017-08-21 16:37] johngruen commented on #2754
@aaroncadillac We believe this has been fixed. Can you test again?

[2017-08-21 16:38] johngruen commented on #2747
@MichaelKohler We are going to close this b/c we think this a one-time side effect of migrating to a new add-on architecture. Please let us know if you encounter more problems

[2017-08-21 16:39] #2747 closed, assigned to nobody

[2017-08-21 16:42] chuckharmston commented on #2767
I've moved all these issues to the appropriate repo:

- https://github.com/chuckharmston/testpilot-contribute/issues/32
- https://github.com/chuckharmston/testpilot-contribute/issues/33
- https://github.com/chuckharmston/testpilot-contribute/issues/34
- https://github.com/chuckharmston/testpilot-contribute/issues/35
- https://github.com/chuckharmston/testpilot-contribute/issues/36
- https://github

[2017-08-21 16:44] johngruen commented on #2689
@SoftVision-PaulOiegas can you verify this is fixed

[2017-08-21 16:44] #2767 closed, assigned to nobody

[2017-08-21 16:45] #2661 closed, assigned to nobody

[2017-08-21 16:52] MikkCZ commented on #2689
Works for me for some time already.

[2017-08-21 21:05] lmorchard commented on #2784
Might have some workarounds to make the existing storybook script to work:

1. Moved to a different bucket, testpilot-storybook.dev.mozaws.net
1. Commits to branches on the mozilla repo build with Mozilla's CircleCI. That is, the script works if we require the use of mozilla repo branches (usually poor form) for any PRs in need of deployed Storybook previews
    1. This would also help the securit

[2017-08-21 23:59] johngruen opened #2807 "Break down ExperimentDetails container into (mostly) simple components"
In order to support the ongoing storybook work on the site, we should break down `ExperimentPage` Container into simple components.

[2017-08-22 00:03] johngruen opened #2808 "Rework file structure so that scss files live with their respective components/containers"
We should divinde our Sass so that sass is applied to individual components. Recommend we use a structure similar to @chuckharmston's implementation on the contrib site.

[2017-08-22 00:43] johngruen opened #2809 "Pages.js could make better use of react components"
[`frontend/tasks/pages.js`](https://github.com/mozilla/testpilot/blob/master/frontend/tasks/pages.js) has a bunch of JSX that could be converted to components, specifically, there's a reference to `layout-wrapper` and `copter` classes that could be component-ized.

[2017-08-22 04:01] aaroncadillac commented on #2754
Great! It Works

[2017-08-22 07:53] #2754 closed, assigned to nobody

[2017-08-22 08:14] SoftVision-PaulOiegas commented on #2745
@johngruen this still happens on Tor Browser. Double checked on Firefox 52.3.0 ESR and it's working perfectly on both x32 and x64 builds. So it might be related to the iOS issue #2642.

![tor browser 08 22 2017](https://user-images.githubusercontent.com/17258026/29555310-e9f963a0-872a-11e7-9a5a-9a31eb3be70b.png)

[2017-08-22 09:27] SoftVision-PaulOiegas commented on #2689
@johngruen I can confirm too that it works well on latest Nightly build (2017-08-21). I will close this as verified fixed.

[2017-08-22 09:27] #2689 closed, assigned to nobody

[2017-08-22 17:09] #2634 closed, assigned to lmorchard

[2017-08-22 18:06] fzzzy commented on #2736
@johngruen What should go where the download counts used to go on the experiment page? In the branch, I put the experiment start date, since when the experiment is over the experiment end date goes there.

https://github.com/mozilla/testpilot/pull/2810

[2017-08-22 20:59] lmorchard commented on #2430
The auto-deployment changes have been merged, so now any commits to the `l10n` branch will appear here:

https://testpilot-l10n.dev.mozaws.net/

Also, I softened the restrictions requiring access to `mozAddonManager`. That means the l10n server is browseable but does not entirely work, because its not whitelisted for access to the addon manager APIs in Firefox.

[2017-08-23 03:54] flodolo commented on #2430
That's great to see progress on this, thanks!

What are the next steps? Are we already at a point where we should start committing to the branch?

[2017-08-23 13:51] SoftVision-PaulOiegas opened #2812 "[Enhancement] Display "Learn More" or "Find More" buttons on experiments cards when visiting Test Pilot from unsupported browser"
**[Notes]:**
- The "Get Started" button seems inappropriate for the unsupported browsers since you cannot install Test Pilot or any of the experiments (maybe except Send). Because of this, maybe we should display something like "Learn More" or "Find More" buttons instead.

**[Affected versions]:**
- Firefox 49.x
- All other browsers

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

*

[2017-08-23 16:02] lmorchard commented on #2430
[A couple of next steps left](https://github.com/mozilla/testpilot/issues/2430#issuecomment-322912085), but basically a) move Pontoon commits to the new branch and b) see if I can come up with a test script that fails if we try committing en-US string changes to master before l10n

[2017-08-23 16:43] lmorchard commented on #2430
Filed [bug 1393106](https://bugzilla.mozilla.org/show_bug.cgi?id=1393106) with the Pontoon team to switch commits from master to l10n.

<strike>We should hold off on requiring that PRs with string changes go through the l10n branch yet. But, once Pontoon moves over there, that should become our new process.</strike>

And now the change has been made: Pontoon commits to l10n branch, now. So, any PR

[2017-08-23 17:18] sevaan opened #2813 "Stars in feedback surveys are very blurry"
The stars and cancel 'X' in our feedback surveys are very blurry. Need higher-res assets.

<img width="273" alt="screen shot 2017-08-23 at 1 16 29 pm" src="https://user-images.githubusercontent.com/473531/29629056-7bf59d52-8805-11e7-920a-c38862389237.png">

Icons available here: http://design.firefox.com/icons/viewer/

[2017-08-23 21:40] lmorchard commented on #2430
Had an IRC discussion that made me think maybe we need a few more branch process tweaks:

https://public.etherpad-mozilla.org/p/testpilot-new-branch-process

[2017-08-23 23:09] fmarier commented on #2597
It turns out it's because of the `privacy.resistFingerprinting` pref, which lies about my user agent and pretends it is `Mozilla/5.0 (Windows NT 6.1; rv:50.0) Gecko/20100101 Firefox/50.0`.

[2017-08-23 23:09] #2597 closed, assigned to nobody

[2017-08-24 05:22] flodolo commented on #2430
This approach would also solve one of my main grudges with Test Pilot, which is A landing on Wednesday night, right in time for for Thursday tagging.

[2017-08-24 08:31] SoftVision-PaulOiegas commented on #2597
Yeah, that one surely does the trick. I think I've worked with that pref and it even lies about timezone and local time. If you use also the Snooze Tabs experiment, that pref will affect the return of the snoozed tabs.

[2017-08-24 09:07] Greeka67 opened #2814 "Min vid does not work on twitch."
Min vid does not work on twitch.
The add-on icon does not appear on the video.
The add-on works popup video (https://addons.mozilla.org/en-US/firefox/addon/popup-video/)

[2017-08-24 12:00] SoftVision-PaulOiegas commented on #2814
Hi @Greeka67 and thanks for your report. Min Vid only supports YouTube, Vimeo and SoundCloud officially. Any other websites video that works with it, happens by chance and not because they are supported.

Previously, users have reported that they found other websites videos that worked trough context menu option that we had. But recently the Min Vid experiment migrated from an SDK based add-on to

[2017-08-24 12:00] #2814 closed, assigned to nobody

[2017-08-24 16:48] SoftVision-PaulOiegas commented on #2602
The ugly button icon has been fixed for the "Customize" menu, but I don't think it's ok in the "Overflow" menu. The icon is black'ish while in toolbar and "Customize" menu and changes to white with a drop of shadow in the "Overflow" menu.

Reopening this to clarify.
![overflow menu](https://user-images.githubusercontent.com/17258026/29677847-1d10e390-8905-11e7-951f-cd2471b5b301.png)

[2017-08-24 16:50] fzzzy commented on #2445
Preact is too alpha. It has an exception when I try to run it on a mashed-together app.js and vendor.js bundle.

I also tried closure compiler, and it also has an error. I may be able to fix it by upgrading react. Testing...

[2017-08-24 17:15] fmarier commented on #2597
For the record, I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1393283 for this.

[2017-08-24 17:24] fzzzy commented on #2445
Upgrading react fixed the problems with using closure compiler on the bundle. It cuts the app+vendor bundle size in half, from 2.7 meg to 1.3 meg.

[2017-08-24 17:53] fzzzy commented on #2445
Here's the command line I am using, for future reference:

    java -jar ../compiler-latest/closure-compiler-v20170806.jar --js frontend/build/static/app/app.js --js_output_file frontend/build/static/app/app-cc.js

[2017-08-24 18:43] johngruen commented on #2813
Those don't come from us, they come from SG...I'm not sure we'd be able to change those assets :(

[2017-08-24 19:17] #2737 closed, assigned to lmorchard

[2017-08-24 19:54] meandavejustice commented on #2419
@johngruen @youwenliang

Been working on the implementation of this, needed little bit of clarification on something:

What is the behavior when `Enable {Experiment}` is clicked within the modal? The quickest solution would be to navigate to the Experiment's detail page and let the user enable the experiment themselves on this page. Another way to do this would be to carry over the behavior of the

[2017-08-24 20:45] #2736 closed, assigned to fzzzy, johngruen

[2017-08-25 04:48] #2784 closed, assigned to nobody

[2017-08-25 07:37] moonundermood opened #2816 "Min Vid"
I can't choose my decision and  I can't send my screenshot

[2017-08-25 08:22] SoftVision-PaulOiegas commented on #2816
Hi @moonundermood! Sorry but we cannot understand your issue. From the title it looks like it's something related to MIn Vid. Can you please give us more details about it?

[2017-08-25 08:41] SoftVision-PaulOiegas opened #2817 "Quantum fast Test Pilot Homepage"
**[Notes]:**
- I know you guys want to make Test Pilot website astonishing fast, but I think this is too much. 🤣

**[Affected versions]:**
- Firefox 55.0.3 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "dev" value.
- The "extensions.webapi.testing" boolean type pre

[2017-08-25 12:38] fzzzy commented on #2817
Are there any 404s in the console or something? This doesn't happen for me...

[2017-08-25 12:54] SoftVision-PaulOiegas commented on #2817
We have retried also on Windows and Mac OS and it still occurs for us on several machines. Even tried with US proxy set and it still occurs. The 404 page is also affected by this issue.

Regarding console errors, here is a screenshot of the browser console.
![image](https://user-images.githubusercontent.com/17258026/29714885-b271fea8-89ad-11e7-8629-326676673e18.png)

[2017-08-25 13:26] SoftVision-CosminMuntean opened #2818 "Experiment start date is not displayed on Send experiment details page"
[Notes]:
- Other then Send, all the experiments have the start date displayed on the details page.

[Affected versions]:
- Firefox 55.0.3 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string type pref was manually added in "about:config" page with "dev" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "a

[2017-08-25 14:18] SoftVision-PaulOiegas commented on #2737
@johngruen The "Show Past News" button should be displayed even if there are no news in the last 2 weeks? I'm asking because right now, the last post has reached the 2 weeks time, it disappeared, but there is no button displayed.

To be honest, it would be awkward to have no news and a button hanging to nothing there. We don't have a permanent section for the news to include it... But again, havin

[2017-08-25 14:37] fzzzy commented on #2817
MIME type mismatch, thanks, that helps. No idea why it happens but at least there is an error...

[2017-08-25 15:14] sevaan commented on #2813
We could file a support ticket, but I don't have access to the SurveyGizmo account to do that. https://help.surveygizmo.com/help/surveygizmo-support-hours#how-do-i-get-help-contact-support-

[2017-08-25 16:01] lmorchard opened #2819 "Build a home page dashboard for the storybook server"
Since Storybook deployments (#2784) seem to be working on Mozilla repo branches, we now have Storybook demos at URLs like this:

http://testpilot-storybook.dev.mozaws.net/pull/2765/
http://testpilot-storybook.dev.mozaws.net/pull/2811/
http://testpilot-storybook.dev.mozaws.net/34e39b42024b6c26fb17ee74af339fa3beb28c3e/
http://testpilot-storybook.dev.mozaws.net/35f2129119d3e999692ef9221fecd82625f126b

[2017-08-25 16:05] lmorchard opened #2820 "Automate Storybook S3 bucket clean up"
Currently, there is nothing cleaning up old Storybook deployments in the S3 bucket for http://testpilot-storybook.dev.mozaws.net. I think they're about 20MB each - so, not an urgent disaster looming, but it would be polite to clean up after ourselves.

Maybe we can build something in AWS Lambda that deletes old Storybook deployments by some criteria. Maybe age, maybe closed branch / merged PR. Cou

[2017-08-25 18:57] lmorchard commented on #2473
Think I *might* have figured out the Facebook issue in #2821 - we'll see

As for images not showing up for some experiments on Twitter, while they show up for others: I think I've worked out this one also.

[We *did* introduce a fix for this about 6 months ago](https://github.com/mozilla/testpilot/commit/1cc53082d333cb8b82049161c8fcf1a5142926d7) - but it requires that all of our images used for so

[2017-08-25 19:06] #2430 closed, assigned to lmorchard

[2017-08-25 19:06] #2421 closed, assigned to johngruen

[2017-08-25 19:27] lmorchard commented on #2817
I could reproduce this, but then it seemed fixed after another CircleCI run. I think something might have gone wrong with the CircleCI deployment before this latest one.

[2017-08-25 19:29] lmorchard commented on #2797
I just finished reconfiguring things on the AWS side: testpilot.dev no longer uses EC2 to transform headers.

[2017-08-25 19:34] pdehaan opened #2822 "A few broken avatars in Past Experiments"
Ref #2780

Looks like a few files may have gotten renamed and now I'm seeing broken images for Ricky and Bryan on https://testpilot.dev.mozaws.net/experiments/activity-stream and Bryan on https://testpilot.dev.mozaws.net/experiments/universal-search.

[2017-08-25 19:48] pdehaan commented on #2822
Not sure if we want to convert all the avatars from PNG to JPG (currently they're a mix), and store them all in a single location.

I was playing w/ [**sharp-cli**](https://www.npmjs.com/package/sharp-cli) the other day, and we could do something like this to resize all the avatar images to 112x112 (which they already were in #2780), converts to JPG, optimizes the images, and puts them in some ran

[2017-08-25 20:25] fzzzy commented on #2820
Age seems simplest and probably good enough.

[2017-08-26 02:53] moonundermood commented on #2816
Yes, sorry. I can't move this window. It happens with all videos on YouTube. What should I do?

[2017-08-26 15:17] jeanettel6740 opened #2825 "containers"
Hi
Containers has stopped working and I dont kwo why. I have uninstalled and re-installed firefox and it has not helped.
I have diabled and re-enabled them too.
Please help me get containers up and running again.

[2017-08-28 10:35] SoftVision-CosminMuntean opened #2826 "Test Pilot can no longer be installed from dev server"
[Affected versions]:
- Firefox 55.0.3 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string type pref was manually added in "about:config" page with "dev" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.

[Steps to reproduce]:
1. Open the Firefox browser and navigate

[2017-08-28 13:22] SoftVision-EmilPasca commented on #2825
@jeanettel6740 Thank you for submitting this issue.
Can you please give us more details about your system, such as what Firefox version you have installed, operating system and other addons you may have installed?

[2017-08-28 13:23] SoftVision-PaulOiegas commented on #2816
The Min Vid player window can be moved by dragging it from the area between the top buttons.
Here is a recording of of how to do it https://goo.gl/bd2SG5.

If you still cannot move it, please let us know what operating system are you using, and what version of Firefox, so we can try to reproduce your issue.

[2017-08-28 14:33] fzzzy commented on #2826
This is because we no longer sign the addon in circleci, and can't.

[2017-08-28 14:33] #2822 closed, assigned to nobody

[2017-08-28 14:36] #2797 closed, assigned to lmorchard

[2017-08-28 15:24] SoftVision-PaulOiegas commented on #2826
So this will no longer work straight from Dev? We should use the stage add-on to test dev website?

[2017-08-28 16:20] johngruen commented on #2826
This blocks testing on changes to the add-on.
- needs site to use mozextensionsmanager
- will firefox accept the add-on

[2017-08-28 16:56] lmorchard commented on #2817
Seemed to break again this morning after several fast successive merges to master. Re-built the last CircleCI run, which seemed to resolve things. Weird thing is there were no error messages in my browser console, and none in the CircleCI run. Not sure what's up

[2017-08-28 17:18] fzzzy commented on #2826
Just to clarify John's comment, we were discussing how a site needs to be whitelisted to use the mozAddonManager, which dev and stage are, but the l10n branch is currently not. However, this issue is because even though the dev site is whitelisted to use mozAddonManager, it won't accept the add-on because it hasn't been signed by the Mozilla key, which is only done by an ops script in the prod pip

[2017-08-29 06:22] grahamperrin opened #2827 "Test Pilot site lacks a scroll bar in Firefox on Mac OS X 10.13.x (macOS High Sierra)"
![2017-08-29 07 14 11](https://user-images.githubusercontent.com/192271/29807163-9b93d79e-8c8a-11e7-80ec-cb700faabad9.png)

Impossible to use with a trackball.

[code]

[2017-08-29 09:30] SoftVision-PaulOiegas commented on #2827
Hi @grahamperrin and thanks for your report. However, I'm using Mac OS X 10.12 with the same settings as you have in the screenshot and I have the scroll bar displayed on the right side of the window.

Is there a chance that this only reproduces on Mac OS X 10.13? It could be a Test Pilot website issue, but until we check this, I'm inclining to think it could be an OS issue, since 10.13 is still i

[2017-08-29 13:35] SoftVision-PaulOiegas opened #2829 "Test Pilot webextensions installation occurences are not removed at tab close from "about:addons" page"
**[Notes]:**
- This issue occurs on Test Pilot but does not on AMO website.

**[Affected versions]:**
- Firefox 55.0.3 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The Test Pilot add-on was already installed from production server.

**[Steps to reproduce]:**
1. Open the Firefox browser and navigate to https://testpilot.firefox.com page.
2. Open V

[2017-08-29 18:32] meandavejustice commented on #2791
output from `git grep -i -n -C 1 --header --break "<localized" `

(may help to widdle down the areas needing review)

[code]

[2017-08-29 18:35] meandavejustice commented on #1845
fixed in https://github.com/mozilla/testpilot/pull/2780

[2017-08-29 18:35] #1845 closed, assigned to nobody

[2017-08-29 18:46] meandavejustice commented on #2778
@lmorchard Would you mind if I took this issue? I haven't touched our storybook stuff at all, think this would be a good one to get familiar with it

[2017-08-29 18:47] meandavejustice commented on #2695
@vikramnr go for it :)

[2017-08-29 18:49] lmorchard commented on #2778
Sure, go for it!

[2017-08-29 19:22] johngruen commented on #2419
@meandavejustice i think actually installing the experiment is an optimization we should make later on. We need to show users the privacy info and these cards don't display that info. Can we change that button to say "View Experiment Page"

[2017-08-30 15:49] SoftVision-PaulOiegas commented on #2473
I've just tested this on Facebook side and sadly I have obtained mixed results. More bad than good.
However, I won't reopen this yet, we'll retest this week to be sure it's not something temporary or something that needs some time to work right, as we previously experienced with Facebook.

***Using dev links***
- Voice Fill: Wrong image (Test Pilot logo) but has the right text underneath.
- Notes:

[2017-08-30 16:08] lmorchard commented on #2473
This is definitely not fixed on production yet - we haven't deployed this commit. I'll see if the Facebook spidering for dev is stale - it sometimes caches content for a week or so unless it gets a forced refresh through the debugger

[2017-08-30 18:42] alex-mayorga opened #2832 "Test Pilot icon could look better in Firefox dark theme"
Steps:
- Enable Firefox's dark theme

Result:
![imagen](https://user-images.githubusercontent.com/649262/29889186-f0fea2aa-8d88-11e7-9d07-c9078d287623.png)

Expected result:
Test Pilot icon looks better.

[2017-08-30 19:30] grahamperrin commented on #2827
Thanks.

All other sites were OK and as far as I recall, all of the (few) Test Pilot pages that I visited appeared to be bugged.

When I next have some free time with the Mac I'll take a closer look.

[2017-08-30 20:04] lmorchard commented on #2473
[Per the Facebook debugger](https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Ftestpilot.dev.mozaws.net%2Fexperiments%2Fvoice-fill), it looks like the URLs are fixed on dev. But, per #2691, they're absolute URLs pointing at production. So, we probably won't see fixes for this issue until we've deployed the changes.

![capture](https://user-images.githubusercontent.com/21687/29892

[2017-08-30 22:14] #2783 closed, assigned to lmorchard

[2017-08-31 09:08] grahamperrin commented on #2827
A brief review of the history at the Mac:

- the page before I visited the Test Pilot site is unaffected
- Test Pilot pages are affected
- some other pages are affected

– and where the bug does bite, it seems that both vertical _and_ horizontal scroll bars are missing.

I can't guess what might cause the bug – the set of extensions on the Mac is, through Firefox Sync, probably a _subset_ of what

[2017-08-31 09:38] SoftVision-PaulOiegas commented on #2473
OK, thanks @lmorchard for the clarification. I will recheck them as soon as we deploy to production.

[2017-08-31 09:56] SoftVision-PaulOiegas commented on #2827
I've updated on of the OSes from testing laptop to 10.13 Beta and I've managed to reproduce the issue.

However, This might be related to website implementation. I've tried well known websites like youtube.com, reddit.com, 9gag.com and the scroll bar was present. But when I tried giphy.com and imgur.com, the issue was reproducing as on the Test Pilot website.

@fzzzy, @lmorchard, do you guys have

[2017-08-31 14:51] grahamperrin commented on #2827
OK … if it helps, here's a shortlist of some other currently affected URLs (I might make additions):

- http://barisderin.com/?p=2871
- http://www.bolwin.com/software/snb.shtml

[2017-08-31 20:00] meandavejustice commented on #2419
Looks like all that I am missing from this now is the assets for the icon. I will need an icon with the green background star badge and the pink icon star badge

cc/ @youwenliang @johngruen

[2017-09-01 00:11] sevaan commented on #2813
Support ticket filed (Case # 00066968).

[2017-09-01 04:39] SpeedyGC opened #2835 "Min Vid Player Problem"
In the latest update of Min Vid Player, it won't float above other open firefox windows. It can appear, but when I click on other tabs, it goes into the background.

[2017-09-01 15:35] b4handjr commented on #2826
Use Firefox Nightly as some of the prefs needed to install the experiment are not allowed to be set on anything besides nightly. You can set them, but they don't actually work.

[2017-09-01 15:38] pdehaan commented on #2835
@SpeedyGC Thanks for the bug report! I've filed this in the **min-vid** repo at https://github.com/meandavejustice/min-vid/issues/1023.

Closing in favor of upstream bug.

[2017-09-01 15:38] #2835 closed, assigned to nobody

[2017-09-05 06:51] ChenMorpheus commented on #2832
Thanks for the suggestion. Peko, the visual designer, will work on this to provide asset here.

[2017-09-05 17:22] fzzzy commented on #2445
Les was able to switch to webpack, which also does tree-shaking, so we don't need this any more. The webpack branch shrinks our bundle sizes.

[2017-09-05 17:22] #2445 closed, assigned to fzzzy

[2017-09-05 18:13] grahamperrin opened #2837 "Test Pilot site misbehaves with SeaMonkey"
SeaMonkey 2.48 on FreeBSD-CURRENT.

## `testpilot.firefox.com`

<https://testpilot.firefox.com/>:

![2017-09-05 18 57 45 firefox test pilot](https://user-images.githubusercontent.com/192271/30075253-42818c5e-926c-11e7-8a89-03259bd7b5f1.png)

## `testpilot.dev.mozaws.net`

https://github.com/mozilla/testpilot/issues/2298#issuecomment-285429044 (2017-03-09) mentioned a telemetry-related patch and <h

[2017-09-05 19:15] lmorchard opened #2840 "Build assistant add-on to automatically prepare a Firefox profile for Test Pilot development"
It would be nice to have a single legacy add-on to install that does all the cumbersome things needed to have a Firefox profile ready for Test Pilot development.

That includes things such as:

* all of these preferences:
  * extensions.legacy.enabled = true
  * testpilot.env = dev
  * extensions.install.requireBuiltInCerts = false
  * xpinstall.signatures.required = false
  * extensions.webapi.te

[2017-09-05 19:25] lmorchard commented on #2826
Whew. Okay, this was annoying and I filed #2840 to try to make it less annoying...

Using **Firefox Developer Edition** - 56.0b9 (64-bit) on Windows - I was able to get the add-on to install from my local server. I set all the prefs  in the dev [quickstart](https://github.com/mozilla/testpilot/blob/master/docs/development/quickstart.md) and ensured `extensions.legacy.enabled=true` [as mentioned in

[2017-09-05 19:30] lmorchard commented on #2840
Ideally the end result of this would be setting extensions.legacy.enabled=true and installing the assistant add-on. Even more ideally would be to get this add-on signed as a Mozilla Extension with the same key as the main Test Pilot add-on and just install it with no prefs tweaks at all

[2017-09-05 19:38] lmorchard commented on #2840
Not-so-ideally, it probably won't help on release Firefox because the prefs to ignore signatures for Mozilla Extensions will be ignored. So, unbranded builds need to be used to install other non-signed legacy addons, even if the assistant addon *is* signed

[2017-09-05 22:20] fzzzy opened #2843 "Mention extensions.legacy.enabled in the quickstart"
For local development of the addon, which is not signed with the mozilla key, we now need the extensions.legacy.enabled true pref. This is mentioned in the addon README, but we should also mention it in the quickstart.

[2017-09-05 22:21] fzzzy commented on #2826
We should mention extensions.legacy.enabled in the quickstart... I made an issue: https://github.com/mozilla/testpilot/issues/2843

[2017-09-06 03:15] grahamperrin commented on #2827
Reproducible with Firefox Developer Edition 56.0b9 (64-bit) on more recent build 17A360a.

[2017-09-07 17:49] lmorchard commented on #2826
Huh. Maybe I was wrong about needing to use an unbranded release for the dev server? I just tried again with 55.0.3 (64-bit) on windows after the merge of #2828 and was able to install the addon with the big green button. Going to close this for now, since it seems to work for me? Let's reopen if I'm wrong!