[2016-04-22 16:01] ckprice commented on #624
Checked this on another machine and it works. Going to close this and write off as an issue with my work laptop.

[2016-04-22 16:01] #624 closed, assigned to nobody

[2016-04-22 16:22] ckprice commented on #624
App uses [`me.user.id`](https://github.com/mozilla/testpilot/blob/master/testpilot/frontend/static-src/app/views/landing-page.js#L22) to determine if a user is logged in. This logged in state supersedes the `isFirefox` check in the template.

My current /api/me: https://irccloud.mozilla.com/pastebin/HSo7iccb

This should be an edgecase just for admins.

[2016-04-22 16:29] johngruen commented on #622
Yeah i see this too, i think it's down to all of us fussing with where the add-on is pointing all the time. Nevertheless, it's probably a good idea to make the logic here less clever and just always show the install doorhanger once if the add-on is installed.

[2016-04-22 17:53] #621 closed, assigned to johngruen

[2016-04-22 18:07] johngruen commented on #606
Closed via #625

[2016-04-22 18:07] #606 closed, assigned to johngruen

[2016-04-22 19:15] #600 closed, assigned to johngruen

[2016-04-22 21:10] lmorchard opened #633 "sass-lint is running into fatal errors with a fresh container rebuild"
TL;DR: Something changed in `sass-lint` that doesn't like our `.scss` files now. It's breaking my local dev machine.

Because `gulp-sass` and `gulp-sass-lint` both have fuzzy version requirements for their dependencies, we end up getting incompatible upgrades to their dependencies that don't like our code.

This problem won't be seen on Circle CI until/unless we clear the dependency caches, but yo

[2016-04-22 21:13] lmorchard commented on #633
Looks like we might be hitting this bug in the upstream dependency:

https://github.com/sasstools/sass-lint/issues/642

[2016-04-22 21:16] lmorchard commented on #633
Also looks like when I forcibly downgrade to sass-lint 1.5.1, it doesn't like [this ampersand in _layout.scss](https://github.com/mozilla/testpilot/blame/master/testpilot/frontend/static-src/styles/_layout.scss#L60):

[code]

I don't grok scss syntax well enough to know whether that _should_ be valid, or whether it's a typo. It got merged, and it passed Circle CI, so I assume it works for _some_ c

[2016-04-22 21:23] johngruen commented on #633
@lmorchard yeah i think we can just rewrite this as `.blue &:not(#how-to)`

[2016-04-22 21:23] johngruen commented on #633
PS. Thanks Obama

[2016-04-22 21:26] lmorchard commented on #633
Poking at this second error, it looks like Circle CI is using a cached `gulp-sass` 2.2.0 with a `node-sass` dependency at v3.4.2 which in turn uses `libsass` v3.3.2

But my fresh local dev machine is using `gulp-sass` 2.3.0 -> `node-sass` v3.5.3 -> `libsass` v3.3.5.

Sometimes, I hate computers.

Edit: Yup, if I shell into my frontend_watcher docker container and forcibly downgrade gulp-sass' node

[2016-04-22 23:46] jaredhirsch commented on #589
@ckprice Is there a bugzilla bug to track the work marketing is doing?

[2016-04-23 07:28] pdehaan commented on #633
https://medium.com/@xzyfer/why-node-sass-broke-your-code-and-semver-1b3e409c57b9#.zf1lkazie

[2016-04-24 15:26] Dapid opened #634 "Test Pilot could not be verified"
Just now, Firefox has informed that Test Pilot could not be verified and it has been disabled.

I am using Firefox 45.0.2 on Fedora Linux 64 bits.

[2016-04-25 14:35] meandavejustice commented on #633
Thanks @lmorchard for tracking this down. And @pdehaan for providing context.

[2016-04-25 14:55] #438 closed, assigned to lmorchard

[2016-04-25 17:21] johngruen commented on #633
@lmorchard we could also just convert everything to LESS if that's easier

[2016-04-25 17:44] lmorchard commented on #602
This is kind of an interaction with how the site intentionally works right now: Anonymous users are not allowed to navigate into experiment detail pages right now. So, they end up redirected to the home page. Then, they can sign in. We can probably fix this one along with that, if/when we decide to change that product decision

[2016-04-25 17:46] meandavejustice commented on #634
Hello @Dapid,

Would you mind providing a little more info? What instance of Test Pilot are you accessing? Is this the local copy? If so, how are you building the addon?

[2016-04-25 17:51] lmorchard opened #636 "Upgrade gulp-sass and gulp-sass-lint"
In #633, I discovered that unexpected upgrades to gulp-sass and gulp-sass-lint dependencies broke our frontend build.

In #635, I fixed the frontend build by pinning the dependencies those two packages need to the last known working versions.

At some point, though, we need to bite the bullet and try upgrading these packages to their latest versions and figure out 1) if the upstream breakage has b

[2016-04-25 17:59] ckprice commented on #583
Hmm, getting some inconsistency here on http://testpilot.dev.mozaws.net/

Tried once on DevEdition, and the count on Universal Search had an odd flicker where it went up, then down real quick.

Went back again on Beta, and everything worked okay on all experiments.

I don't think we have to call this as a blocker for launch. I'm adding it to the post-launch milestone so we keep an eye on it.

[2016-04-25 18:02] #633 closed, assigned to lmorchard

[2016-04-25 18:27] ckprice commented on #602
Closing this in favor of #419.

[2016-04-25 18:27] #602 closed, assigned to nobody

[2016-04-25 20:00] #566 closed, assigned to meandavejustice

[2016-04-25 20:24] johngruen commented on #619
@ckprice @lmorchard easy enough to template these out, but where are we storing the ToS/PN

[2016-04-25 21:13] edwindotcom commented on #619
activity stream has it's own PN specific language - how do we want to support that?

[2016-04-25 21:47] #568 closed, assigned to meandavejustice

[2016-04-25 22:17] lmorchard commented on #497
Looks like [the L20N string syntax has changed entirely](https://github.com/l20n/l20n.js/commit/af471a10d98bb9e8a4896297ae7cccfa1aebccb9) with the new FTL format.

So, this issue will also entail converting our [locale files](https://github.com/mozilla/testpilot/tree/master/locales/) to reflect that change

[2016-04-25 22:26] #575 closed, assigned to johngruen

[2016-04-25 22:39] pdehaan opened #639 "Tweak pluralization on userCountContainer in l20n"
Re: https://github.com/mozilla/testpilot/pull/637#discussion_r60988105

[2016-04-25 22:57] pdehaan commented on #534
@lmorchard Not sure if there is anything actionable left on this. Can we close it out?

[2016-04-25 22:59] pdehaan commented on #536
@johngruen Is this complete? Here's what it currently looks like when I uninstall Universal Search experiment on testpilot.dev.mozaws:

![firefox_test_pilot_-_universal_search](https://cloud.githubusercontent.com/assets/557895/14801529/ac1b552e-0afe-11e6-969d-de90de2931de.png)

[2016-04-25 23:05] pdehaan opened #640 "Offboarding surveys are mandatory and unskipable"
Found in http://testpilot.dev.mozaws.net/__version__ (70d7a7582fbd8b181bef7f8d3a1d1658171e97c9):

[code]

---
### Steps to reproduce:
1. Sign in to testpilot.dev.mozaws and enroll in an experiment.
2. Disable experiment.
3. Witness glorious popup saying "Thank you!" plus a [Take a quick survey] button and Close link.
4. Click the Close link, because I don't want to participate in a survey (which s

[2016-04-25 23:16] pdehaan commented on #640
Since the exit survey opens in a new browser window/tab, the easiest workaround is to click the survey button, and then immediately close the survey tab which will leave the experiment in a disabled state.

[2016-04-25 23:31] pdehaan commented on #493
Not exactly related, but this seems like the best place for this useless comment.
Some of our pages are pretty beefy. We should make sure we're doing "our best"(tm) after we get our final launch assets in place:

| PAGE | REQUESTS | PAYLOAD |
| --- | :-: | --: |
| http://testpilot.dev.mozaws.net/experiments | 22 | 747 KB |
| http://testpilot.dev.mozaws.net/ (something's up) | 19 | 741 KB |
| http:

[2016-04-26 00:01] pdehaan opened #641 "Take the Tour modal has too small hit area for "Skip" button"
Found in http://testpilot.dev.mozaws.net/__version__ (70d7a7582fbd8b181bef7f8d3a1d1658171e97c9):

[code]

---
### Steps to reproduce:
1. Go to http://testpilot.dev.mozaws.net/experiments/activity-stream
2. Enable the experiment.
3. Try skipping the onboarding tour.
### Actual results:

![firefox_test_pilot_-_activity_stream](https://cloud.githubusercontent.com/assets/557895/14802550/9eeccace-0b06-

[2016-04-26 00:36] lmorchard commented on #640
Oh, yeah, that's a bug and 100% not intentional. I think it's because I reused some of the old feedback dialog code that didn't disable when the dialog was closed

[2016-04-26 00:38] lmorchard commented on #534
Not much we can do about bad data, no. There's not a way for the addon to know whether a particular URL is or isn't a good XPI

[2016-04-26 00:38] #534 closed, assigned to lmorchard

[2016-04-26 00:42] pdehaan opened #642 "Survey launched by "Give Feedback" button opens in current tab"
Found in http://testpilot.dev.mozaws.net/__version__ (70d7a7582fbd8b181bef7f8d3a1d1658171e97c9):

[code]

---
### Steps to reproduce:
1. Go to http://testpilot.dev.mozaws.net/experiments/tabcenter
2. Click the [Give Feedback] button.
### Actual results:

It looks like the link tries to go to https://qsurvey.mozilla.com/s3/tabcenter?ref=givefeedback&experiment=Tab%20Center and implodes (HTTP 302) a

[2016-04-26 00:44] pdehaan commented on #642
Also possibly of note is that the "Give Feedback" button takes me to SurveyGizmo in the _current_ browser tab. Not sure if we want to put that in a new window/tab so it doesn't replace my current Test Pilot browsing session.

[2016-04-26 01:04] ckprice commented on #640
Should we stop deployment for this one?

/edit I say no. It's a bug, but nothing too crazy. I have tagged as blocking launch.

[2016-04-26 08:06] Dapid commented on #634
Sorry for the lack of information.

I am using Test Pilot 1.2.3.1-signed from addons.mozilla.org. Is this perhaps not the right place to report it?

[2016-04-26 13:35] johngruen commented on #634
Hey @Dapid thanks for responding. We're currently in the process rebuilding Test Pilot for Firefox. We suspended the old addons.mozilla.org download link for the time being while we prepare to relaunch, but I'm not sure why this caused the current Test Pilot add-on to become disabled. Flagging @clouserw who is is more familar with the AMO signing process than I am. Thanks!

[2016-04-26 13:37] johngruen opened #643 "We don't really need legal text on non-firefox browsers"
![screen shot 2016-04-26 at 9 36 42 am](https://cloud.githubusercontent.com/assets/3323249/14819957/7321a360-0b92-11e6-956c-50dfcb4093d7.png)

The legal text is misleading/non-applicable here. We shouldn't show it.

[2016-04-26 14:35] lmorchard commented on #642
These surveys don't actually fully exist, yet. They're being developed by another team. But, I think the URLs are correct.

That should be fixed, though. The surveys should open in a new window / tab.

[2016-04-26 14:45] #643 closed, assigned to johngruen

[2016-04-26 15:07] #620 closed, assigned to johngruen

[2016-04-26 15:16] pdehaan commented on #640
@ckprice I'd vote "yes", but only because it's annoying and @lmorchard already has a PR for it. Let's see if we can get @meandavejustice or @johngruen to :+1: that PR, then deploy that latest SHA instead.

[2016-04-26 15:30] lmorchard commented on #642
Having said that, though, I can't reproduce that on my local machine or on the dev server. The survey _does_ open in a new tab for me, and [the code](https://github.com/mozilla/testpilot/blob/master/testpilot/frontend/static-src/app/views/experiment-page.js#L312) to make that happen looks correct.

[2016-04-26 15:38] lmorchard commented on #642
Or, rather, I should say the _URL pattern_ looks correct. The pattern is filled in with the "slug" of the experiment record, so we need to be sure it matches the survey URLs from the user advocacy team. In this case, the dev data has "tabcenter" but the survey is at "tab-center"

[2016-04-26 16:06] ghost commented on #634
I'm guessing the disabling had nothing to do with it.  Unless @Dapid noticed when it was disabled, it could have been that way for a long time.  The add-on is dormant these days.  All that said, I also couldn't reproduce the problem:

![tp](https://cloud.githubusercontent.com/assets/16946141/14825252/f7e42474-0b8d-11e6-8255-d3f0e621cd88.png)

@dapid are any other add-ons disabled?  Worst case scen

[2016-04-26 17:57] ckprice commented on #605
Updated bug to note that @relud will be our Ops contact for May 9/10.

[2016-04-26 18:05] #640 closed, assigned to lmorchard

[2016-04-26 18:36] lmorchard commented on #536
Yeah, actually I think this is done. (if not, let's re-open and describe what should be different from what we have now)

[2016-04-26 18:36] #536 closed, assigned to nobody

[2016-04-26 18:42] lmorchard commented on #619
Peeking at this issue and a little confused now... what do we need to do?
1. Create one privacy notice & one terms of service page for Test Pilot in general? (i.e. hardcoded page templates for the site, no content in database admin)
2. Create a privacy notice & terms of service page for each experiment, with associated content fields in admin? (i.e. we'd host the copy for those pages)
3. Use the e

[2016-04-26 19:07] johngruen commented on #550
This got resolved somewhere

[2016-04-26 19:07] #550 closed, assigned to johngruen

[2016-04-26 19:15] johngruen commented on #619
@lmorchard basically we need need number one for now. At some point we'll need an l10n story, but that can wait.

@edmoz each experiment has a PN URL field that should link back to it's respective repo. You can fill these in in the django admin

[2016-04-26 19:22] johngruen commented on #619
@ckprice do we have content for these bad boys?

[2016-04-26 20:43] ckprice commented on #619
Per email from Javaun, we're good to keep the Test Pilot PN/TOS in the repository somewhere so we have a history. Also, this is blocked by final signoff of the PN/TOS (hopefully next week).

[2016-04-26 20:54] lmorchard commented on #493
FWIW, this is also related to #46 - we don't have a built-in thumbnail facility on the site that processes uploads, so all images should be pre-scaled & optimized for whatever sizes they need to be.

[2016-04-26 21:39] ghost commented on #634
Turns out this is some combination of https://bugzilla.mozilla.org/show_bug.cgi?id=1267318 and https://bugzilla.mozilla.org/show_bug.cgi?id=1267642 .  Basically the certs are expiring and depending on the date on your computer you'll start hitting this.

I've reenabled the add-on and bumped the version so it will get resigned.  Everything should be back to normal once the add-on goes through the r

[2016-04-26 21:39] #634 closed, assigned to clouserw

[2016-04-26 22:26] ghost opened #646 "Let's not log heartbeat hits"
I think we should have a list somewhere of URLs which we don't log.  We had 41k hits yesterday, of which 80 were to URLs that weren't:

[code]

Let's not bother sending logs for those  URLs

[2016-04-27 00:43] ckprice opened #647 "Test Pilot add-on does not seem to install in Private Browsing Mode"
Really hoping this is a case of 'I hack on the thing too often with too much weird stuff' case, but I'm able to reproduce on dev and stage.

STR:
1. Be in Private Browsing Mode on Firefox (tested on Beta and DevEdition).
2. Browse to https://testpilot.stage.mozaws.net/?butimspecial.
3. Click `Get Started with a Firefox Account`.
4. Sign up/in.
5. Click on `Install add-on`
6. See the below screen.

[2016-04-27 02:19] jaredhirsch commented on #647
I'm not sure I understand the use case. When would a user want to log into a website and install an add-on while in private browsing mode?

[2016-04-27 13:26] johngruen commented on #647
@6a68 late night piloting

[2016-04-27 15:40] pdehaan commented on #647
If test pilot isn't supported in private browsing mode, we should do a better job messaging that. Currently we disable Activity Stream in private browsing, iirc. Not sure if we could do the same w/ test pilot where we can detect that via addon or before installation.

[2016-04-27 16:25] lmorchard commented on #642
Can anyone else reproduce the not-opening-in-new-tab behavior? If I can't reproduce it, there's no action I can take on this issue, because everything looks correct otherwise

[2016-04-27 16:43] lmorchard commented on #583
As currently implemented, [this is a count of distinct users with installations](https://github.com/mozilla/testpilot/blob/master/testpilot/experiments/models.py#L62). That is, if you have installed the experiment in 5 different browser profiles as the same user, that will count as 1 for this number.

However, if you uninstall 1 but still have 4 other installations in the database - that will stil

[2016-04-27 16:51] pdehaan commented on #642
I can still reproduce it after enabling http://testpilot.dev.mozaws.net/experiments/tabcenter on FF Nightly (new profile).

![issue-642](https://cloud.githubusercontent.com/assets/557895/14860687/ce7bcc3c-0c5e-11e6-9f96-b36e993ff609.gif)

[2016-04-27 16:51] lmorchard commented on #647
Maybe we could use [some hacks](https://gist.github.com/cou929/7973956) to detect private browsing mode? Before the add-on gets installed, our options to look into what's going on with the browser are as limited as any other web content.

Might be handy to toss another hidden step into the onboarding flow that looks for PBM and displays a message to disable PBM before proceeding. And also, once in

[2016-04-27 16:57] lmorchard commented on #646
I guess the good news, then, is that our server logging is working? Is there a dashboard where we can see what's happening with the messages? Implementing a blacklist of URL paths for request logging should be pretty easy, but it would be nice to verify the results.

[2016-04-27 17:06] lmorchard commented on #642
Ugh. Okay, I take it back: I can reproduce on a fresh profile of release Firefox. For some reason, it's working as expected on my workaday Fx Dev Edition profile, no idea why yet

[2016-04-27 17:17] ckprice opened #648 "Add basket API key to site configuration"
This is required for #609.

For us to send unsubscribe pings, we need an API key from basket.

See documentation for [`/news/unsubscribe/`](http://basket.readthedocs.org/newsletter_api.html#news-unsubscribe) and [`/news/lookup-user`](http://basket.readthedocs.org/newsletter_api.html#news-lookup-user).

We have an API key for production. ~~TBD if we'll need a separate for dev/stage.~~ ~~We can use

[2016-04-27 17:20] lmorchard commented on #648
These kind of things generally belong in ops-managed env vars, and not as values accessible from admin. For example, [this is how we access the credentials for Firefox Accounts](https://github.com/mozilla/testpilot/blob/master/testpilot/settings.py#L148). We don't even have those credentials on hand as devs. If we do, we have to somehow pass them to ops as part of the deployment process

FWIW, if

[2016-04-27 17:22] ckprice commented on #648
@relud, @mostlygeek would you be able to add this for us?

[2016-04-27 17:24] lmorchard commented on #648
FWIW, I'd say that we _do_, unless we want tests & QA on dev & stage to affect production data

[2016-04-27 17:35] ckprice commented on #648
Spoke to @pmclanahan this morning. We're good with using the one key and basket production environment for testing and production (shouldn't be creating too much noise).

[2016-04-27 17:56] ghost commented on #646
I'm hoping to give a more solid intro as I learn how to do things, but yeah:

1) go to https://sql.telemetry.mozilla.org/queries/new
2) Change the Data Source drop down to Testpilot
3) Paste this in:
`SELECT * FROM testpilot_server_20160424 WHERE path NOT IN ('/favicon.ico', '/__heartbeat__', '/__lbheartbeat__','/nginx_status')`

4) click Execute

[2016-04-27 18:02] jaredhirsch opened #649 "Doorhanger allows me to give feedback on non-installed experiments"
I don't have the activity stream add-on installed, so it seems like I shouldn't have the feedback button when I mouse over its entry in the doorhanger:

<img width="400" alt="screen shot 2016-04-27 at 10 59 18 am" src="https://cloud.githubusercontent.com/assets/96396/14862696/6a99f316-0c67-11e6-8f2a-10a8ed801e10.png">

[2016-04-27 18:04] pdehaan commented on #649
Is... do you have an old testpilot addon?
This is what it looks like for me:

![firefox_test_pilot_and_2__ff_-c_nightly__python2_7__and_irccloud](https://cloud.githubusercontent.com/assets/557895/14862773/c54a6b56-0c67-11e6-88e3-555a153a19cb.png)

![add-ons_manager](https://cloud.githubusercontent.com/assets/557895/14862811/eb8f0d8a-0c67-11e6-9d9f-a76a3b942e9a.png)

[2016-04-27 18:09] pdehaan commented on #649
If i install the add-on via testpilot.stage (instead of my previous one which i got from testpilot.dev.mozaws), then my config looks like this [and I can see I'm using the 2016-04-26 tag/build]:

![add-ons_manager](https://cloud.githubusercontent.com/assets/557895/14862932/6ddbe632-0c68-11e6-99d2-fbd874a8cb07.png)

[2016-04-27 18:12] lmorchard commented on #648
I'm also not super-comfortable with having production credentials on our stage & dev servers for security & privacy concerns. They're reasonably secure, but less-so than prod for the sake of dev flexibility (among other things).

As a rule, we should avoid having real personal info on (or accessible to) anything other than prod, and never ever import prod data to stage or dev. But, if that's how b

[2016-04-27 18:17] kaganjd opened #650 "Line break in Universal Search header text when browser window is too narrow"
This doesn't happen with Activity Stream or Tab Center, though.

https://testpilot.stage.mozaws.net/experiments/universal-search
<img width="845" alt="screen shot 2016-04-27 at 2 01 30 pm" src="https://cloud.githubusercontent.com/assets/9204835/14863142/8b02fb96-0c82-11e6-9cb7-0f001860eecb.png">
<img width="626" alt="screen shot 2016-04-27 at 2 03 11 pm" src="https://cloud.githubusercontent.com/as

[2016-04-27 18:19] jaredhirsch opened #651 "Dismiss feedback modal when dark underlay is clicked"
STR:
1. Be on the Test Pilot site with an add-on installed
2. Open the feedback screen
3. Click on the dark underlay between the modal and the page: nothing happens

It would be more user friendly if clicking the dark underlay dismissed the modal (minor issue)

[2016-04-27 18:24] jaredhirsch commented on #647
We need cookies enabled for the user to access the site, right? Maybe we can try to set/get a cookie, and show an error screen explaining that cookies need to be enabled. This should cover private browsing mode, too.

[2016-04-27 18:32] jaredhirsch commented on #649
Yup, I was on old, old prod. :blush: Closing

[2016-04-27 18:32] #649 closed, assigned to nobody

[2016-04-27 18:33] jaredhirsch commented on #651
I was testing prod, not stage. The modal is gone. CLosing

[2016-04-27 18:33] #651 closed, assigned to nobody

[2016-04-27 18:41] pmclanahan commented on #648
I can give you a separate API key for use on your stage instance. I'd prefer that actually. There's no reason for you to use our basket staging instance, but it would be great if we could have separate keys for invalidation in case of a breach.

[2016-04-27 18:43] pmclanahan commented on #648
And just to clarify, basket itself stores no data and only sends it to Salesforce Marketing Cloud (SFMC, formerly Exact Target). Both basket stage and prod use the same SFMC account. We do have a separate SFMC sandbox account for basket-dev, but it doesn't have all of the newsletters and is a bit too unreliable for use in a CI situation.

[2016-04-27 19:39] pdehaan opened #652 "TestPilot not reporting user install numbers"
Found in https://testpilot.stage.mozaws.net/__version__ (e181c39f76a363870c46d34fc9cc0810b70f2f72):

[code]

---
### Steps to reproduce:
1. Go to https://testpilot.stage.mozaws.net/experiments/tab-center
2. Verify installed user count.
3. Enable experiment.
4. Verify installed user count.
### Actual results:

<img width="856" alt="firefox_test_pilot_-_tab_center" src="https://cloud.githubuserconte

[2016-04-27 19:41] pdehaan commented on #652
Ref: #583

[2016-04-27 20:29] mostlygeek commented on #648
@lmorchard is right. The keys should be pulled from environment variables we pass in.

[2016-04-27 20:47] johngruen opened #653 "UI papercuts"
- [x] Noise doesn't look great
- [x] Ship doesn't look great on non-retina
- [x] Bring back horizontal rule on experiements list page
- [x] Universal Search name breaks on smaller breakpoint #650
- [x] tour images aren't quite full bleed
- [x] tour captions could be improved
- [x] Disable {experiment}" button needs a hover state
- [x] Animations on Now Active dot and three dot menu look blurry/gli

[2016-04-27 22:14] lmorchard commented on #652
Huh, this is weird: On staging, the # of [user installations](https://testpilot.stage.mozaws.net/admin/experiments/userinstallation/) in the DB is 0. When I enable or disable an experiment, the HTTP API requests to PUT or DELETE an installation record get 403 FORBIDDEN responses in the browser console.

[2016-04-27 22:15] ghost opened #654 "Installing the Test Pilot add-on dead ends"
I tried it this morning and thought it might just be nightly, but someone else just tried it and it also happened so I'm filing this.

STR:

1) Go to stage and sign in
2) Click the button to install the Test Pilot add-on
3) See a page that says the add-on has been installed....and that's it:

<img width="1440" alt="screen shot 2016-04-27 at 6 01 45 pm" src="https://cloud.githubusercontent.com/asse

[2016-04-27 22:19] lmorchard commented on #652
The PUT / DELETE requests work properly on dev. However, they fail on prod. Hmm, I wonder if this ends up being an issue for ops... needs some investigation.

A couple of relevant lines from my browser console:

[code]

[2016-04-27 22:21] ckprice commented on #648
@pmclanahan okay, could you please create the stage API key and send to me? Once it's received, we'll send both stage and prod keys to Ops to create the environment variables.

[2016-04-27 22:24] lmorchard commented on #652
@mostlygeek: Do you happen to know if our prod & stage deployments are configured to deny requests with HTTP PUT & DELETE methods?

[2016-04-27 23:00] ckprice commented on #622
Going to move this over to #654. Moving over assignment and label.

[2016-04-27 23:00] #622 closed, assigned to meandavejustice

[2016-04-27 23:14] mostlygeek commented on #652
PUT and DELETE are not blocked. They will propagate through nginx to the app.

[2016-04-27 23:22] javaun opened #655 "Enable Full Telemetry for users who enroll in Test Pilot"
TL;DR tasks:
- [x] Preserve initial values of `toolkit.telemetry.enabled` and `datareporting.healthreport.uploadEnabled` preferences.
- [x] Set those two prefs to `true` on main add-on install / enable
- [x] Restore initial values of those two prefs on main add-on uninstall / disable

---

To enable us to answer behavioral questions about how users interact w/ experiments and whether they actually

[2016-04-27 23:23] mostlygeek commented on #652
I confirmed on the stage boxes that PUT and DELETE methods make it through

[2016-04-27 23:40] meandavejustice commented on #642
This is probably because I am using the `window.open().focus()` trick https://github.com/mozilla/testpilot/blob/master/testpilot/frontend/static-src/app/main.js#L75

We'll probably get away from this weird method after we get around to #604

[2016-04-27 23:46] meandavejustice commented on #647
Isn't there a way we could check from the addon itself in a more sure way? Since we have access to firefox itself?

[2016-04-28 00:04] jaredhirsch commented on #647
You can detect PBM via `PrivateBrowsingUtils.isWindowPrivate(window)`.

If the add-on isn't installed yet, I think we'd want to detect PBM from the website, so that users can avoid having to open a new window and run through the sign in flow a second time.

[2016-04-28 00:05] pdehaan opened #657 "Experiment data collection not linked"
Found in https://testpilot.stage.mozaws.net/__version__ (e181c39f76a363870c46d34fc9cc0810b70f2f72):

[code]

---
### Steps to reproduce:
1. Go to https://testpilot.stage.mozaws.net/experiments/tab-center
2. Scroll down to the bottom of the **Measurements & Privacy** section.
### Actual results:

![firefox_test_pilot_-_tab_center](https://cloud.githubusercontent.com/assets/557895/14871744/2068dc34-

[2016-04-28 00:16] pdehaan commented on #657
It links as expected for Activity Stream experiment, although now I'm a bit confused about the templating:

![firefox_test_pilot_-_activity_stream](https://cloud.githubusercontent.com/assets/557895/14871818/fbe780da-0c9a-11e6-909a-465c0699a447.png)

And Universal Search:

![firefox_test_pilot_-_universal_search](https://cloud.githubusercontent.com/assets/557895/14871832/1d4766be-0c9b-11e6-8cec-601

[2016-04-28 00:17] jaredhirsch commented on #655
This should be pretty easy to do. We can do stuff when the add-on is being installed/enabled and uninstalled/disabled. The simplest approach is probably to record what the user's Telemetry preferences were before joining Test Pilot, then alter the prefs as part of the add-on install process. When it's uninstalled, we can restore the original prefs.

[2016-04-28 00:19] jaredhirsch commented on #655
Hmm, it [looks like](https://dxr.mozilla.org/mozilla-central/source/modules/libpref/init/all.js#851) a restart is required after enabling telemetry. Just something to be aware of.

[2016-04-28 00:28] pdehaan opened #658 ""Disable {experiment}" button needs a hover state"
Found in http://testpilot.dev.mozaws.net/__version__ (e181c39f76a363870c46d34fc9cc0810b70f2f72):

[code]

---
### Steps to reproduce:
1. Go to http://testpilot.dev.mozaws.net/experiments/activity-stream
2. Hover over the [Disable Activity Stream] button (or tab to it until it has focus).
### Actual results:

There is no :hover or :focus state for the button.
### Expected results:

It's good for ac

[2016-04-28 00:52] meandavejustice commented on #647
Oh of course, 8 hours of driving has left me :confused:

[2016-04-28 01:01] meandavejustice opened #659 "Follow up with addon install UI (double `Let's go` buttons)"
We are _still_ having some inconsistency with showing the dialog when the addon is installed.
When this happens I'm not seeing anything in either the browser toolbox or browser console.
This means one of two things:
1. I am overlooking a race condition/hazard
2. There is a serious bug in [unsafeWindow](https://developer.mozilla.org/en-US/Add-ons/SDK/Guides/Content_Scripts/Interacting_with_page_scr

[2016-04-28 01:05] javaun commented on #655
We can wait until their next restart and not force them to alter their path. The only thing we lose is a bit of data for that session and that's preferable to interruption. The question is whether the user sees a prompt to restart or if we can suppress that.

[2016-04-28 01:09] jaredhirsch commented on #647
Ha! No worries

[2016-04-28 01:46] pdehaan commented on #647
+1 to cookie check if it also catches private browsing

[2016-04-28 03:28] ckprice commented on #654
Fixed in #656 with a follow up in #659.

[2016-04-28 03:28] #654 closed, assigned to meandavejustice

[2016-04-28 03:30] ckprice commented on #659
The priority is lower, yes, but it does result in some unsavory UI.
![LETS GO LETS GO](https://s3.amazonaws.com/f.cl.ly/items/1P0s3q333z0s0v320m2Q/Image%202016-04-27%20at%207.06.11%20PM.png?v=25dc9f61)
I think we should fix this before launch.

[2016-04-28 12:30] pmclanahan commented on #648
@ckprice or we can skip the middlemen and I can encrypt and send directly to Ops. That'd be the most secure thing to do. Just let me know who should get 'em.

[2016-04-28 13:35] ckprice commented on #648
Yes sure. If that works for @mostlygeek?

[2016-04-28 13:37] meandavejustice commented on #659
I'm :+1: to before public launch as well

[2016-04-28 15:13] lmorchard commented on #652
Hmm, if these requests are getting through to the app, I wonder if this has something to do with SSL and/or cookies in authenticating the request. Lacking SSL is the only other thing I can think of that distinguishes my local machine & dev from stage & prod.

[2016-04-28 15:17] lmorchard commented on #652
Adding this to public launch blockers, because an API issue like this seems pretty serious.

[2016-04-28 15:30] johngruen opened #660 "Add a failure state for experiment install"

[2016-04-28 15:49] lmorchard commented on #652
Got some debugging output from the 403 Forbidden responses, and it looks like lacking the referer header might be the issue: "CSRF Failed: Referer checking failed - no Referer."

Next, figuring out why this doesn't happen on local & dev, hopefully finding a way to reproduce it & fix it locally. Ah, yup - [looks like referer checking is only enforced for CSRF token when the request is secure](https

[2016-04-28 16:07] jaredhirsch commented on #659
@meandavejustice Let me know if you want a hand investigating this

[2016-04-28 16:34] lmorchard opened #662 "Enable HTTPS on testpilot.dev local server"
Issue #548 is for enabling HTTPS on the elastic beanstalk dev server. But, it should be enabled on the local Docker environment, too. There's been at least one case (#652) where HTTP vs HTTPS made a difference in exposing a bug.

[2016-04-28 16:35] lmorchard commented on #652
Got a PR that seems to fix the issue. As follow up, we should pursue #662 and #548 to enable HTTPS and reduce the differences between local and dev environments that let this slip through to stage & prod.

[2016-04-28 16:41] jaredhirsch commented on #653
Edited description to make it a bit more friendly. Please abide by our code of conduct when contributing to this project, thanks!

https://github.com/mozilla/testpilot/blob/master/CODE_OF_CONDUCT.md

:heart:

[2016-04-28 16:52] lmorchard commented on #642
This issue is on the public launch blockers list, but #604 is not. So, adding #604 to public launch blockers.

[2016-04-28 16:53] lmorchard commented on #604
Adding this to public launch blockers, because a fix for #642 seems to depend on it.

[2016-04-28 16:53] lmorchard commented on #642
(Alternatively, we can find a non-#604 fix or decide that this is not a public launch blocker)

[2016-04-28 16:56] lmorchard commented on #648
(tweaked the title to reflect discussion)

[2016-04-28 16:57] johngruen opened #663 "nit: testpilot icon is the wrong size on in the add-on menu"
<img width="817" alt="screen shot 2016-04-28 at 12 55 46 pm" src="https://cloud.githubusercontent.com/assets/3323249/14894245/af1dc4de-0d40-11e6-8cb2-be5da5249950.png">

notice the fuzziness!

[2016-04-28 16:57] lmorchard commented on #642
(Also, tweaked title to reflect discussion)

[2016-04-28 17:01] johngruen commented on #653
@6a68 noted <3

[2016-04-28 17:04] johngruen commented on #658
@pdehaan closing in favor of #653

[2016-04-28 17:04] #658 closed, assigned to johngruen

[2016-04-28 17:06] johngruen commented on #650
@kaganjd tracking UI papercuts in #653...going to close this one out to keep everything consolidated. Good catch!

[2016-04-28 17:06] #650 closed, assigned to johngruen

[2016-04-28 17:12] lmorchard commented on #655
Test Pilot uses the Telemetry system to send pings. So, if I understand correctly, there's no Test Pilot ping without Telemetry enabled. So, I don't think that's a backup approach we can use, because it's all the same system.

Is this a known issue right now? As far as I understand, we never associate a FxA ID with the Telemetry ID in any pings. If that's not the case, it's a bug & a surprise to m

[2016-04-28 17:13] lmorchard commented on #655
Also, what all exactly does this entail? I'm not super familiar with what all Telemetry does. What are the "opt-out + opt-in" items? (i.e. does just flipping on the `toolkit.telemetry.unified` pref cover everything, or are there more granular flags we have to enable?)

We should also make sure [the metrics plan](https://github.com/mozilla/testpilot/blob/master/docs/README-METRICS.md) is updated, i

[2016-04-28 17:19] #652 closed, assigned to lmorchard

[2016-04-28 18:14] shorlander commented on #653
- [x] Animations on Now Active dot and three dot menu look blurry/glitchy on non-retina displays

[2016-04-28 18:53] johngruen opened #664 "Should be able to reorder contributors"
right now I can't reorder contributors in a test. They always go in the order tehy were added. We should make it possible to reorder them to make sure people who do the most work are at the top.

[2016-04-28 18:57] lmorchard opened #665 "Generate separate vendor & app JS bundles"
Noticing that the scripts task in gulp takes awhile, these days - between 7 and 18 seconds sometimes.

It might be handy to generate separate JS bundles for vendor and app code. The vendor bundle would contain stuff from `package.json` while the app bundle would contain our own code. Just rebuilding the app bundle with project code changes would probably speed up file watcher cycles.

For an examp

[2016-04-28 19:05] lmorchard commented on #642
Oh, wait! I think I found the problem, and it doesn't require #604.

[2016-04-28 19:07] lmorchard commented on #604
Removed from launch blockers because it turns out not to be a dependency

[2016-04-28 19:11] pdehaan commented on #665
We do something like that for [activity-streams](https://github.com/mozilla/activity-streams/blob/10e3925341aee7772ad6d2f2b4044b288eeec809/webpack.config.js#L43-L48), but we use webpack, so your mileage may vary.

[2016-04-28 19:18] lmorchard commented on #648
One more thing: We're talking about separate credentials for stage and sending those to ops, but what about dev on elastic beanstalk? Ops doesn't manage our dev server - that's on me / us. So, we'll need non-prod credentials to update env vars there, too. If that's the same as staging credentials, I / we will need those on the dev team side too.

[2016-04-28 19:37] ckprice opened #667 "Finalize all survey content"
Survey content for experiments is currently just filler data. Final content will come before launch.

We'll also need content for the retire survey.

[2016-04-28 20:33] ghost opened #668 "Uninstalling Test Pilot doesn't uninstall active experiments"
STR:

1) Install Test Pilot
2) Install all the experiments
3) go to about:addons and uninstall Test Pilot
4) Restart if you want to, but either way, all the experiments are still installed

Using Nightly on Linux

/cc @meandavejustice

[2016-04-28 20:42] meandavejustice commented on #659
This doesn't really seem that bad to me. And it ensures that users always get into the site. cc/ @johngruen I've been looking at this pretty much all day and still haven't figured out quite why this is occasionally happening.

[2016-04-28 20:52] lmorchard commented on #668
[We have code that _should_ be uninstalling experiments when the main add-on is uninstalled](https://github.com/mozilla/testpilot/blob/master/addon/index.js#L535).

But, it's consulting `store.installedAddons` to get the list to uninstall. That gets updated by [`updateExperiments()`](https://github.com/mozilla/testpilot/blob/master/addon/index.js#L306), which gets called by [`setupApp()`](https://

[2016-04-28 21:03] lmorchard commented on #668
Oh, huh. Looks like there are some errors happening somewhere in the `onUnload` hook that prevent the uninstall from running. Looking into it...

[2016-04-28 21:03] meandavejustice commented on #668
@lmorchard Looks like we need to check existence of the pagemods before calling delete

[2016-04-28 21:08] meandavejustice commented on #668
we calling `app.send` after deleting the page mod

[2016-04-28 21:08] meandavejustice commented on #668
I got a fix coming

[2016-04-28 21:18] lmorchard commented on #659
If we really, really don't want both buttons, we could have the doorhanger code send a message to the site telling it to hide the in-content button. That way, if the doorhanger never appears for whatever reason, the in-content button stays visible because the message was never sent.

It's still strange that the doorhanger fails intermittently though

[2016-04-28 21:23] pdehaan commented on #659
Random and unsolicited proposals:
1. Remove "Let's go" from the doorhanger and just always show it on the main page. That way if the doorhanger disappears (or never appears) the user always has a way forward.
2. Instead of having a page saying "Test Pilot installed! [Let's go]", just redirect me to the /experiments page automatically, because a page with one button is boring and has no benefit to

[2016-04-28 21:44] meandavejustice opened #669 "audit package.json and remove unused deps"
just realized we still have some unused deps in our `package.json`.

Two that I noticed were `coverify` should be in dev-deps and `request` should be removed all together.

[2016-04-28 21:45] meandavejustice commented on #665
That looks great @lmorchard

getting the list from `package.json` should be as simple as:

[code]

While looking at this I noticed we have some unused npm deps, so I created an issue for that here #669

[2016-04-28 21:57] ghost commented on #668
I never restarted the browser between installing and uninstalling, I think.  If that matters.

[2016-04-28 21:58] pdehaan commented on #669
According to [**depcheck**](npm.im/depcheck), here's a probably semi-inaccurate list:

[code]

Most of the devDeps are probably inaccurate because they're used via npm scripts or babel/browserify, etc.

[2016-04-28 22:01] pdehaan commented on #669
And if I run **depcheck** from the addon/ directory, I get these results:

[code]

[2016-04-28 22:06] pdehaan commented on #669
I'm a bit confused by **jsonwebtoken**. Looks like we have it as a dependency for both the site and the add-on, and **depcheck** thinks it's unused for both.

I found one reference in [/addon/bin/sign:19](https://github.com/mozilla/testpilot/blob/9f323963554d2267de4dc0e84b84ce58a9b75e7b/addon/bin/sign#L19) which **depcheck** may not have scanned since the file doesn't have a .js extension.

But no

[2016-04-28 22:37] ckprice commented on #648
@pmclanahan given ^ can we just send them to one person (me), and I'll give to @lmorchard and whoever ends up doing the Ops work for us?

[2016-04-28 23:12] ghost opened #670 "Test Pilot thinks disabled add-ons are active"
This is a little edge-casey but was showed to me by someone who had old versions of tab center and activity stream installed but disabled, and then installed Test Pilot who saw the add-ons were installed and said "Now Active" for them.

So, basically we shouldn't be looking at if an add-on is installed, but if it is installed _and active._

[2016-04-29 12:42] johngruen opened #671 "Handle old Firefoxes"
Add-on wouldn't install on 36. We should catch this on the landing page and show the same template we show for non firefox with slightly different wording.

[2016-04-29 12:43] johngruen opened #672 "Handle little Firefoxes"
Fennec and FXiOS have easy to spot UAs. We should include a message letting users visitng Test Pilot from these browsers that the service is only available from Firefox Desktop.

[2016-04-29 13:57] Verdi commented on #653
~~Screenshots should be platform specific or at least default to Windows.~~

[2016-04-29 15:01] johngruen commented on #665
+1 I get antsy waiting for scripts to rebuild.

[2016-04-29 15:05] meandavejustice commented on #671
[code]

[2016-04-29 15:06] johngruen commented on #671
@meandavejustice IIRC fennec has `fennec` in in the UA & ios has `fxios`

[2016-04-29 15:11] meandavejustice commented on #669
a complete list of deps that need to be updated would be:
`jsonwebtoken` and `request` are deps for the addon. They only need to be in `addon/package.json`.
`coverify` should be moved to the `devDependencies` section in the top level `package.json`

[2016-04-29 15:32] pdehaan commented on #671
![image](https://cloud.githubusercontent.com/assets/557895/14921015/ccfcef30-0de4-11e6-8bed-8c49d171fea7.png)

![screenshot_2016-04-29-10-20-35](https://cloud.githubusercontent.com/assets/557895/14923976/0e9713fc-0df5-11e6-8277-78ef126218f8.png)

[2016-04-29 17:10] ckprice commented on #648
@mostlygeek I have both stage and production keys - do you want me to encrypt and toss them over to you? `BASKET_API_KEY` should be fine for the name.

@lmorchard I will send you the stage key to be used on dev.

[2016-04-29 17:19] #642 closed, assigned to lmorchard

[2016-04-29 17:20] meandavejustice commented on #671
@johngruen I was gunna add a different snippet for the lil firefoxs issue

[2016-04-29 18:50] mostlygeek commented on #648
@ckprice yes. Please GPG and send it to my mozilla email. Thanks.

[2016-04-29 19:12] ckprice commented on #648
Stage key sent to @lmorchard (for dev).

Stage and prod keys sent to @mostlygeek (for stage and prod).

Let's use `BASKET_API_KEY` as the env variable name.

[2016-04-29 20:12] meandavejustice commented on #672
[code]

_edit_ updated UAString check

[2016-04-29 20:17] mostlygeek commented on #648
keys are in our secrets repo. Ready for the next deployment.

[2016-04-29 20:35] pdehaan commented on #672
Ref: https://github.com/mozilla/testpilot/issues/671#issuecomment-215759522

My totally not scientific results from my iPad Air 2 and Samsung Galaxy S6:

| OS | `userAgent` |
| --- | --- |
| iPad Air 2<br/>**iOS 9** | "Mozilla/5.0 (iPad; CPU OS 9_3_1 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) FxiOS/3.0 Mobile/13E238 Safari/601.1.46" |
| Samsung Galaxy S6<br/>**Android 5** | "Mozilla/5

[2016-04-29 20:49] meandavejustice commented on #672
Thanks @pdehaan I actually looked at your feedback in #671 when making this. I made it check for 'gecko' and 'mobile' so that we could catch both in one go. It looks like we will have to add a separate line for `fennec` though according to this list http://www.useragentstring.com/pages/Fennec/

[2016-04-29 22:41] javaun commented on #655
I spoke w/ the team in #telemetry.  This is the pref needed to enable opt-in telemetry is:

toolkit.telemetry.enabled;true

This is on by default in pre-release and off by default in release. This gives us extra instrumentation.

The opt-out portion of telemetry (what was formerly called FHR) is what we absolutely need because our two special pings (Test Pilot Ping, and Test Pilot Experiment ping)

[2016-04-29 22:43] javaun commented on #655
@lmorchard the requirement to "reset a user's opt-in Telemetry state" would be to store the user's state before we flip opt-in telemetry to true for them. So, if they have the default setting in release:

toolkit.telemetry.enabled;false

We can store that (perhaps in another pref). Then we flip it to true when they join Test Pilot. If they leave test pilot, we flip it back to false.

[2016-04-29 22:58] javaun opened #675 "Alert users to new experiments (post v1)"
We're going to email users when we launch new experiments, but they might delete it when they're on the go and forget. We're not always going to reach them at the right time, when they're ready to install.

As a user, I want Test Pilot to remind me when new experiments are available so that I can go play w/ more cool stuff.

Suggested DOD: The toolbar icon is badged to alert/subtly nag users. The

[2016-04-29 23:18] ghost commented on #655
That's incorrect.  Confusingly, our pings will go through, regardless of the opt-in flag we're discussing here.

This is not an issue now.  We avoid connecting the two on purpose.

[2016-04-29 23:19] ghost commented on #655
We should ensure both telemetry reporting flags are on.  Thanks for finding what they are @javaun .

[2016-04-29 23:44] meandavejustice commented on #670
This is in progress [here](https://github.com/mozilla/testpilot/compare/master...meandavejustice:670-active-means-active-not-installed)

[2016-05-02 12:52] johngruen commented on #653
Moving Verdi's issue out of this bug, since it's related to content

[2016-05-02 12:53] johngruen opened #677 "Make sure experiment assets use Windows UI"
so that they're uniform and better reflect our user base.

[2016-05-02 13:12] johngruen commented on #653
Moving the cancel tour issue out of this bug

[2016-05-02 13:13] johngruen opened #678 "Should a user be able to skip the tour once they've started"
Right now, once the user starts the tour, they can't dump out....maybe we should add this feature.

[2016-05-02 13:30] meandavejustice opened #680 "Add copy for when experiments have been manually disabled"
#679 handles active status for experiments that are enabled/disable manually by the user. It adds some events we can listen for (`addon-manage:enabled` and `addon-manage:disabled`) to be able to tell the user if their addon is disabled.

This should be a quick thing, maybe a little [attention icon](https://images.duckduckgo.com/iur/?f=1&image_host=http%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fco

[2016-05-02 13:30] meandavejustice commented on #670
Opened #680 to discuss clientside web handling of this issue

[2016-05-02 13:31] johngruen commented on #680
cool

[2016-05-02 15:07] johngruen commented on #659
@meandavejustice I'm really not opposed to @pdehaan's first proposal

[2016-05-02 16:13] meandavejustice opened #684 "Integrate Sentry for error reporting"
~~Do we want to integrate something like https://getsentry.com?~~
- [ ] django error reporting https://docs.getsentry.com/hosted/clients/python/integrations/django/
- [ ] client side reporting https://docs.getsentry.com/hosted/clients/javascript/

[2016-05-02 16:16] meandavejustice commented on #659
@johngruen me neither. I'll get a pull request ready.

[2016-05-02 16:17] chuckharmston opened #685 "Add high-DPI add-on icon"
The Test Pilot icon right now looks pretty bad on retina displays; it's sized at 48x48, but we should provide a 96x96 version so it looks good at up to 2x pixel density. Compare:

<img width="555" alt="screen shot 2016-05-02 at 10 16 39 am" src="https://cloud.githubusercontent.com/assets/23885/14959907/1abb82c4-104f-11e6-9831-c2387a4560ef.png">
<img width="467" alt="screen shot 2016-05-02 at 10 15

[2016-05-02 16:34] #668 closed, assigned to meandavejustice

[2016-05-02 16:42] #670 closed, assigned to meandavejustice

[2016-05-02 17:03] #653 closed, assigned to johngruen

[2016-05-02 17:08] #648 closed, assigned to nobody

[2016-05-02 17:12] lmorchard commented on #605
FWIW, this can/should probably be split into separate issues:
- Removing the query string gate is a code change that needs doing before the next deploy
- _Disabling_ the invite-mode code is an env var switch we should ask ops to perform as part of deployment - i.e. [ACCOUNT_INVITE_ONLY_MODE=False](https://github.com/mozilla/testpilot/blob/master/testpilot/settings.py#L158)
- _Removing_ the invite-

[2016-05-02 17:17] lmorchard commented on #655
Cool. So, to sum up, it sounds like this is what needs doing:
- [ ] Preserve initial values of `toolkit.telemetry.enabled` and `datareporting.healthreport.uploadEnabled` preferences.
- [ ] Set those two prefs to `true` on main add-on install / enable
- [ ] Restore initial values of those two prefs on main add-on uninstall / disable

[2016-05-02 17:18] meandavejustice commented on #615
@ckprice I'm going to try and get this finished up today. #438 #609 and #611 are done, but none of them included a ping to GA. To finish this up. I'm going to go through the GA reqs doc linked above and make sure we have the calls in proper places and update readme-metrics.

[2016-05-02 17:27] ckprice commented on #667
Assigning this to myself as a proxy for Matt_G

[2016-05-02 17:31] ghost commented on #655
perfect :100:

[2016-05-02 17:40] ckprice opened #686 "Update ACCOUNT_INVITE_ONLY_MODE=False for stage & production"
Ref: #605

@javaun can we ship this with our next deployment? Should go out Wednesday/Thursday. This is the thing that will allow non mozilla.com email addresses to join.

[2016-05-02 17:40] javaun commented on #655
yes, perfect

[2016-05-02 17:40] ckprice opened #687 "Removing the invite-mode code"
Ref: #605

[2016-05-02 17:42] ckprice opened #688 "Remove ?butimspecial query string gate"
Ref: #605

@javaun can we bring this down ahead of our Monday deployment? Our next is scheduled ~Wednesday/Thursday.

[2016-05-02 17:42] ckprice commented on #605
Done. Closing.

[2016-05-02 17:42] #605 closed, assigned to lmorchard

[2016-05-02 17:47] javaun commented on #686
We need final policy/Terms posted before we can do this. It's worth shooting for but right now seems very unlikely we'll have this by Wed/Thursday

[2016-05-02 17:51] ckprice commented on #686
Blocked by #619.

[2016-05-02 18:06] javaun commented on #688
This one seems blocked on #686, no? Non-moz email folks are going to get a weird 404 error if they try signing in, and the purpose of "coming soon" wall is so they try to enroll and hit a bad experience.

[2016-05-02 18:10] ckprice commented on #688
Yeah. Both of these would be closed with the same deployment. Outside of that, is there anything else blocking us removing the query string? (e.g. GTM plans)

[2016-05-02 18:11] lmorchard commented on #686
FWIW, resolving this issue should require no code changes - we just need to remember to ask ops to change the env var as part of the deployment bug when we're ready to go.

[2016-05-02 18:14] lmorchard commented on #688
Also FWIW, the invite flag is already `False` on dev, so getting this change merged in won't have a net effect there. If we're also switching off the invite flag as part of deploying this code to stage / prod (#686), the 404 issue (#487) will be moot then as well.

[2016-05-02 19:19] #669 closed, assigned to meandavejustice

[2016-05-02 19:34] meandavejustice commented on #619
If no one gets to this by tomorrow morning, I will be setting up the templates, l20n, etc so we will be ready once we get legal docs.

[2016-05-02 19:35] johngruen commented on #619
@meandavejustice hold of for today, we are having a meeting with the lawyers to hash this one out tonight.

[2016-05-02 19:36] johngruen commented on #619
I will post the results here after.

[2016-05-02 19:37] #659 closed, assigned to meandavejustice

[2016-05-02 19:50] johngruen commented on #663
@chuck duped this and added more labels to his. ergo closing this.

[2016-05-02 19:50] #663 closed, assigned to nobody

[2016-05-02 19:51] johngruen opened #693 "Final pass on strings before launch"
@ckprice and I will review strings.

[2016-05-02 20:06] #685 closed, assigned to johngruen

[2016-05-03 00:09] johngruen commented on #619
@meandavejustice so Legal uses their own l20n process b/c they need lawyers to do lawyer-ly translating. Ultimately we'll move all legal copy into their big repo where this l20n happens, but for now, we might do something like this.
1. Make markdown files in testpilot/docs for the TOS and PN
2. add a gulp task to convert markdown to HTML pages with a dest of ./testpilot/frontend/templates/testpilo

[2016-05-03 13:10] meandavejustice commented on #619
@johngruen Sounds good, I'll get a pr open today

[2016-05-03 14:00] #655 closed, assigned to lmorchard

[2016-05-03 15:32] #327 closed, assigned to nobody

[2016-05-03 16:36] ckprice opened #696 "Add spec docs for GA"
Ref: #481

[2016-05-03 16:41] lmorchard commented on #696
Seems like this should include info from this Google Doc? https://docs.google.com/document/d/1SIOaZLHsMGNBNmAxphon4cxF_F07Q1ctBkU6gkP2SD0/edit?ts=56fc371c

[2016-05-03 16:52] ckprice commented on #696
Yep. That doc is also linked to in the bug opening of the referenced bug in the first comment, but probably good to have it here too.

[2016-05-03 19:20] #609 closed, assigned to ckprice

[2016-05-03 19:38] ckprice opened #698 "Add 'Requirements for Experiments' docs"
This would be a checklist of technical things and documentation we require for experiments to be launched through Test Pilot.

e.g.
- Metrics
- [Test Pilot attribution](https://github.com/mozilla/universal-search/issues/174)
- Name review

[2016-05-03 21:51] ckprice commented on #693
Here is the [copy document for reference](https://docs.google.com/document/d/1Uw-NkI7wrqFHc0D8p1Nsj31BWlR5Uq4IXoH_n1lRI_I/edit).

One of the bigger changes is that we are changing `Retire` to `Leave Test Pilot`. We don't have to worry about the API calls/function names for launch.

[2016-05-03 21:52] ckprice commented on #493
[Shipped](https://docs.google.com/document/d/1g3FrhH8Neq9C9qUbfdLHRUfMsTdgTFZwgAm2aKTdQa4/edit)!

[2016-05-03 21:53] #493 closed, assigned to nchapman

[2016-05-03 22:49] ckprice commented on #619
Final documents ready
- [Privacy notice](https://docs.google.com/document/d/14HB8hPnuH5YlO3HtZeIATmFCMIhiHIPBNEgWN66XkDQ/edit)
- [Terms of service](https://docs.google.com/document/d/1KoE8wYDI-fyXpnqlQQSJAXcDwlxtkHkA69wCdnmn6EY/edit)

Note: in the PN, you'll see some _Learn more_ strings. These are meant to initiate a drop down that reveals the sections underneath it [(Ref)](https://www.mozilla.or

[2016-05-03 22:53] ckprice commented on #619
@meandavejustice are you still okay with taking this one?

[2016-05-04 00:35] pdehaan commented on #619
I converted it to Markdown in https://gist.github.com/pdehaan/b855855af732ac0632ad6eddee8b0c6a
which may save you a whole 3 minutes.

Not sure what a good gulp markdown library is these days. I was hoping to avoid [**marked**](https://nodesecurity.io/advisories/101).

Actually, [**remarkable**](https://www.npmjs.com/package/remarkable) is pretty good, looks active, and has a solid looking gulp tas

[2016-05-04 01:05] johngruen opened #699 "the way we're doing strings isn't very DRY"
Do we need strings in the templates or just in the l20n file? It's a pain to track down strings in content and then duplicate the the l20n string.

[2016-05-04 02:33] lmorchard commented on #699
They have to appear in the l20n file(s) - otherwise you just get the `data-l10n-id` value. It doesn't hurt anything to leave them in the templates, though. We could delete them as we go, but they also function a bit as comments in the templates so we know what various things are, rather than just empty elements.

[2016-05-04 15:23] meandavejustice commented on #619
@ckprice yeah, won't be a problem.

[2016-05-04 15:31] johngruen commented on #619
@meandavejustice make sure you update these links as well
![screen_shot_2016-05-04_at_11_27_45](https://cloud.githubusercontent.com/assets/3323249/15019300/7ed49898-11eb-11e6-8f3f-355a4054f04d.png)

[2016-05-04 15:33] johngruen opened #700 "The landing page template is too big"
It will get a bit smaller when we remove the `butimspecial` gate, but we should split it up into different templates for logged in & not logged in.

[2016-05-04 15:41] meandavejustice commented on #693
Do we want this to be a group effort?

[2016-05-04 15:43] johngruen commented on #693
@meandavejustice we got updates from marketing to change strings throughout the site. I'm doing it right now. expect a PR In a minute. @ckprice will review, but @meandavejustice this one could use some eyes since spelling is dificult.

[2016-05-04 15:48] johngruen commented on #699
@pdehaan seems like fxa does something clever here. Maybe extracting strings from the templates to create the English l10n file. Could we do something like that?

[2016-05-04 16:25] johngruen opened #702 "Sometimes icons don't show up in the add-on UI"
@meandavejustice

![screen shot 2016-05-03 at 2 07 55 pm](https://cloud.githubusercontent.com/assets/3323249/15021156/3b81f77c-11f3-11e6-8720-f9686ec7721e.png)

[2016-05-04 16:26] johngruen commented on #677
done

[2016-05-04 16:26] #677 closed, assigned to johngruen

[2016-05-04 16:38] lmorchard commented on #699
I think FxA uses gettext [for localization](https://github.com/mozilla/fxa-content-server-l10n), which has tools for string extraction. L20N doesn't have such tools yet, as far as I could see. It's a manual process

[2016-05-04 16:52] pdehaan commented on #699
I asked in #l20n on IRC and the response was basically just don't put the strings in the content:

[2016-05-04 17:05] lmorchard commented on #699
Yeah, so we can create templates that never have strings in the first place (i.e. just empty elements), but that seems troublesome for creating them and seeing what goes in them before pulling strings out into L20N. We could also go back and delete all text strings from templates after putting them into L20n, but that also kind of seems like busy work.

TL;DR: The DRY way here for L20n is to build

[2016-05-04 17:10] ckprice commented on #693
Closed via #701

[2016-05-04 17:10] #693 closed, assigned to johngruen

[2016-05-04 17:47] clouserw commented on #234
Soooo, I think this is completed. :ear_of_rice:

We have a dashboard at https://sql.telemetry.mozilla.org/dashboard/txp-engagement-ratio which we'll expand as we learn how to use our tools and refine what we actually want to see.

https://github.com/mozilla/testpilot/blob/master/docs/README-METRICS.md remains the document of record for all things stats related for Test Pilot.  Each experiment in t

[2016-05-04 17:47] #234 closed, assigned to clouserw

[2016-05-04 18:10] ckprice commented on #647
I'm going to bump this one, and see if it's something we want to fix (or at least update messaging) for launch. Currently user ends up in a loop to 'Install Add-on'.

/cc @johngruen @javaun @clouserw

[2016-05-04 18:43] ckprice opened #703 "Periodic `i.default.me.installed is undefined` error"
This seems to happen while I'm testing with my @gmail.com account.

STR (sorry it's not great):
- Visit http://testpilot.dev.mozaws.net/?butimspecial.
- Log in with @gmail.com (or other non mozilla.com maybe) email.
- Browse around some (sorry this isn't more detailed).
- Error in image happens.
- Restarting browser sometimes works.

![error](https://s3.amazonaws.com/f.cl.ly/items/1j3l303o0j3U300C

[2016-05-04 18:46] lmorchard commented on #703
Was there anything happening in your shell at the time? e.g. was the frontend rebuilding or the back end server restarting, etc?

What version of the add-on do you have installed?

[2016-05-04 18:47] ckprice commented on #703
This is on dev, so I don't know. This error happens locally too, and there's nothing weird happening in the shell.

None.

[2016-05-04 18:50] lmorchard commented on #703
FWIW, the only places I can find reference to `app.me.installed` in the code are in these spots related to GA events:

[code]

Could be related to the recently added GA calls? We might need to add some checks to ensure `app.me.installed` is defined before attempting to access `app.me.installed.length`

[2016-05-04 18:56] lmorchard commented on #703
Hmm, actually, yeah there might be more issues with this particular bit: [`app.me.installed` should be an Object by default](https://github.com/mozilla/testpilot/blob/master/testpilot/frontend/static-src/app/models/me.js#L16), not an Array, so there will be no `length` property.

Probably want something like `Object.keys(app.me.installed || {}).length` here. But, I'm curious how `app.me.installed`

[2016-05-04 19:21] lmorchard commented on #703
I've been working on this for a bit already, will probably have a PR with tests around the issue soon

[2016-05-04 20:07] pdehaan commented on #703
I've gotten this 4/4 times on testpilot.dev.mozaws.net (using beta and nightly).
Seems to be happening right after I log in to FxA (with my @mozilla.com email), but before the add-on gets installed.

[2016-05-04 20:20] lmorchard commented on #703
Yeah, that sounds consistent with what PR #705 should fix. The installation count only happens after login, and the installation object seems to be undefined before the add-on is around and populates it.

[2016-05-04 20:52] #703 closed, assigned to ckprice

[2016-05-04 20:56] ghost commented on #647
I don't think it's very important, fwiw

[2016-05-04 20:56] #619 closed, assigned to meandavejustice

[2016-05-04 21:13] ckprice commented on #615
Closed via #690.

[2016-05-04 21:13] #615 closed, assigned to meandavejustice

[2016-05-04 21:21] ghost commented on #698
We talked about requiring "Part of the Test Pilot syndicate." or something in the add-on descriptions.  I think only universal search has something right now.

[2016-05-04 21:26] johngruen opened #708 "Udpdate landing page links to go to test pilot TOS and PN"
![7ed49898-11eb-11e6-8f3f-355a4054f04d](https://cloud.githubusercontent.com/assets/3323249/15029810/4ddb52b8-121d-11e6-9f44-e033be50918d.png)

[2016-05-04 21:28] johngruen commented on #708
NVM

[2016-05-04 21:28] #708 closed, assigned to nobody

[2016-05-04 22:49] pdehaan opened #710 "Privacy Notice legal page has unprocessed "<a>Learn More.</a>" blocks"
Found in http://testpilot.dev.mozaws.net/__version__ (ca8af43986ea2e0f8f8ecb08625b26f1aae7a6e5):

[code]

---

http://testpilot.dev.mozaws.net/privacy

![test_pilot](https://cloud.githubusercontent.com/assets/557895/15031711/97c20ae2-120f-11e6-9dad-0ce47cd736f0.png)

We either need to add some jQuery or other sauce to get toggling working, or take the cheap way out, and just do a simple search/rep

[2016-05-04 23:19] pdehaan opened #711 "Survey popup blocked w/ Nightly"
Found in https://testpilot.stage.mozaws.net/__version__ (ca8af43986ea2e0f8f8ecb08625b26f1aae7a6e5):

[code]

---
### Steps to reproduce:
1. Go to https://testpilot.stage.mozaws.net/ and sign in using Nightly (possibly relevant).
2. Enable and disable an experiment.
3. After disabling the add-on/experiment, click the [Take a quick survey] button.
### Actual results:

![firefox_test_pilot_-_tab_cent

[2016-05-05 00:04] johngruen commented on #710
@pdehaan can't we just use markdown links? they seem to be working in other places

[2016-05-05 00:04] johngruen commented on #710
Oh, these are expandos...guh

[2016-05-05 00:05] johngruen commented on #710
@ckprice @pdehaan i went through this with legal on FXA, we just removed the text. It was NBD.

Straw plan: we do the same here.

[2016-05-05 00:09] johngruen opened #712 "tidy up legal ui"
I wanna fix a few tiny nits in the new legal UI

[2016-05-05 00:13] pdehaan commented on #710
Yeah, since we currently "own" the legal docs end to end, we can probably remove the "Learn More" placeholders and not worry about this until the privacy+terms pages get hosted on the **legal-docs** repo.

[2016-05-05 00:15] johngruen commented on #710
I agree with @pdehaan Esq.'s legal rational, and since my sister and brother-in-law are both lawyers I know what I'm talking about.

[2016-05-05 01:02] pdehaan commented on #583
Closing. I believe this was fixed by #661.
I'm seeing the counts updating on stage+production currently.

[2016-05-05 01:02] #583 closed, assigned to nobody

[2016-05-05 14:06] ckprice commented on #667
Met with @mattgrimes and @rayborn yesterday ([2016-05-04 notes](https://public.etherpad-mozilla.org/p/test-pilot-epm))

@meandavejustice can you please confirm these. All of these are up to our discretion, but Matt's team needs to know what they are.

**Confirm URL name and values for _survey source_.**

Reference [430#issuecomment-204534763](https://github.com/mozilla/testpilot/issues/430#issueco

[2016-05-05 14:17] ckprice commented on #711
This is happening because we are [opening links in new tabs from `sendToGA` with `window.open`](https://github.com/mozilla/testpilot/blob/f9b13478d3b978ddd221e4adde974c48029933b6/testpilot/frontend/static-src/app/main.js#L68). I actually don't know if we can do anything about this.

Some other interesting observations/things:
1. Should we be opening exit surveys in new tabs? They've decided to rem

[2016-05-05 14:20] #686 closed, assigned to mostlygeek

[2016-05-05 14:43] ckprice opened #714 "Add-on does not install when a Firefox update is staged"
I _think_ I've narrowed this odd ball down.

STR:
- Have an update staged (I was using Nightly).
- Visit https://testpilot.firefox.com.
- Click on `Install add-on`.

Results:
- Add-on dialogue proceeds normally, but page stays spinning.
- There is no icon in the toolbar.
- Refreshing page prompts me with the `Install add-on` button again.
- Visiting `about:addons` I see that Test Pilot looks to ha

[2016-05-05 14:54] meandavejustice commented on #667
The current data being sent is as follows:
- duration is `&interval={2,7,21,46}`
- score is `&rating={1,2,3,4,5}`
- heartbeat does not currently send a source, since we have rating.
- source is `&ref={'disable', '~~giveFeedback~~givefeedback'}
- the heartbeat additionally sends `&id={addonId}` ex: `@universal-search@mozilla.com`
- both `disable` and `giveFeedback` also send `&experiment={experimen

[2016-05-05 14:56] meandavejustice commented on #714
What a weird edge case. Think I'll need to ask around in `#addons` or `#amo` to get to the bottom of this.

[2016-05-05 16:09] #688 closed, assigned to meandavejustice

[2016-05-05 16:23] pdehaan commented on #714
I can reproduce this with my staged FF Nightly install on OS X. Here's my Browser Console, but I can't find anything too interesting. Clicking the "testpilot-addon: Object" results brings up the sidebar, but I'm not sure how the output Object is relevant.

![firefox_test_pilot_and_browser_console_and__mozilla_testpilot__add-on_does_not_install_when_a_firefox_update_is_staged___714__-_peterdehaan_g

[2016-05-05 16:25] edwindotcom commented on #714
note: 'Staged' means "browser has notified and waiting for the user to restart to update Fx version"

[2016-05-05 16:27] pdehaan commented on #714
Also, FWIW, it appears that the add-on is installing for me, and pointing to the correct env (Production), just not completing the flow.
![add-ons_manager](https://cloud.githubusercontent.com/assets/557895/15049536/a016b410-12a3-11e6-84ee-a3dea34e8b85.png)

[2016-05-05 16:33] lmorchard commented on #714
Error reporting in the add-on is terrible, <strike>sometimes</strike> most of the time. If you click on that "object" message, somewhere buried in the sidebar is probably the actual text of the error message. You might have to drill down into a few object properties to get to the traceback there. Seems like we _might_ have something in there that we can fix during add-on init, but I'm having troub

[2016-05-05 16:48] ckprice opened #715 "Firefox sometimes warns me before installing Test Pilot"
This is because we are self-hosting and not on AMO. @andymckay has offered a couple suggestions

`<andym>` you can host the test pilot on amo as an addon
`<andym>` or make a static page on AMO that hosts the add-on
`<andym>` eg https://github.com/mozilla/addons-server/blob/master/static/html/snippets/lastpass.html

![addon warning](https://irccloud.mozilla.com/file/JGe97CRC/Screen+Shot+2016-05-05+

[2016-05-05 17:06] edwindotcom opened #716 "make experiment view load current version from most recent version in changelog"
ActivityStream plans on deploying at least bi-weekly if not more.

It'd be nice if testpilot web app fetched current version from:
https://github.com/mozilla/activity-streams/blob/master/CHANGELOG.md

[2016-05-05 17:43] pdehaan commented on #487
I believe this is fixed in latest master. Closing.

[2016-05-05 17:43] #487 closed, assigned to nobody

[2016-05-05 17:44] ghost opened #717 "Signing up for a new Firefox Account leaves you at a deadend"
This was reported to me:

If you hit Test Pilot as a new user with no Firefox Account, and go through the sign up flow, once you confirm your email address you are shown a dead end page.

I asked rfkelly and he said we should be passing in verification_redirect=always in our oauth request query params.

Not to side-track my own issue, but while I'm here:  it looks like we are using django-allauth,

[2016-05-05 17:50] hondurasjones opened #718 "Tabs pulled from main browser instance"
When I have multiple tabs open and I want to pull one tab out of the main cluster of tabs to view individually in separate display, the pulled tab opens in a very small size that I can't actually use unless I pull corners to expand. Expected functionality is that the pulled tab would be the same size as the previous instance or auto-fit itself to the display.

DeveloperEdition 48.0a2
MacBook Pro (

[2016-05-05 17:53] chuckharmston commented on #718
Thanks for the report! Moving to the correct repo: https://github.com/bwinton/VerticalTabs/issues/109

[2016-05-05 17:53] #718 closed, assigned to nobody

[2016-05-05 17:54] lmorchard commented on #717
Trying to dig up the history to say for sure, but off the top of my head: FxA in django-allauth didn't work out of the box, and [we needed configurable endpoints](https://github.com/mozilla/testpilot/blob/master/testpilot/users/providers/fxa/views.py#L19) to use non-prod FxA for local/dev/staging.

Looks like allauth might support those things now ([yup, as of Feb 16](https://github.com/pennersr/d

[2016-05-05 18:00] pdehaan commented on #717
This feels weird to me, considering I signed up to stage+prod today with a shiny new restmail.net account and don't remember seeing this.
I'll try again.

[2016-05-05 18:03] lmorchard commented on #487
Technically, the problem is still there, but we changed `ACCOUNT_INVITE_ONLY_MODE` to `False` in deployment and that switches off the email address restriction. Eventually #687 will make this go away for good.

[2016-05-05 18:04] past opened #719 "Test pilot icon appears white"
Just installed test pilot add-on on latest nightly, OS X, default theme:

<img width="210" alt="white-button" src="https://cloud.githubusercontent.com/assets/49118/15052123/ac904740-1304-11e6-8b12-1156ad850022.png">

I already had activity-stream and universal-search installed, nothing peculiar in the browser console.

[2016-05-05 18:06] chuckharmston opened #720 "Universal Search page content is very imbalanced"
![screen shot 2016-05-05 at 12 05 00 pm](https://cloud.githubusercontent.com/assets/23885/15052191/a53adb4a-12b9-11e6-96fc-0d1cff33ff16.png)

Perhaps it would make sense to move the privacy section into the main content area?

[2016-05-05 18:14] chuckharmston opened #721 "Add bug report link to experiment "details" section"
Seems like a pretty cheap way to direct bug reports, e.g.

![screen shot 2016-05-05 at 12 13 38 pm](https://cloud.githubusercontent.com/assets/23885/15052418/d78cba36-12ba-11e6-8937-93421cfef61b.png)

[2016-05-05 18:15] lmorchard commented on #716
I think this is related to / a dupe of #547 - we should expand that issue to include auto-filling & updating as much of the experiment info as we can straight from the add-on's install.rdf, and either have an easy-to-click button or auto-polling to see when experiments change

[2016-05-05 18:16] chuckharmston commented on #547
The current version is also in update.rdf, which is web-hosted and wouldn't require extraction from an XPI.

[2016-05-05 18:17] gregglind commented on #721
(Fast work!)

I wonder if putting a link to this in the survey (as a 'question 0', conditional on coming in through the feedback page query arg) is also worthwhile.

I filed on the specific project issues page.  Felt not awesome.

[2016-05-05 18:20] chuckharmston commented on #721
@gregglind that's definitely also in the works, cc @johngruen

[2016-05-05 18:28] mythmon opened #722 ""Please rate undefined" in heartbeat-like prompt."
This was originally reported against Normandy in [bug 1270581](https://bugzilla.mozilla.org/show_bug.cgi?id=1270581).

<img src="https://bugzilla.mozilla.org/attachment.cgi?id=8749309"/>

We got a couple reports of users getting a heartbeat-like prompt with the message "Please rate undefined". One of those users confirmed this was after installing the new Testpilot addon. This was seen in (at leas

[2016-05-05 18:32] ckprice opened #723 "Update doorhanger `Active` state on enablement without a refresh."
STR:
- Install Experiment.
- Click on Test Pilot icon while staying in the same tab (don't refresh).

Expected:
- Doorhanger should indicate that the newly enabled experiment is "Active".

Actual Result:
- Experiment is not indicated as "Active".
- Refreshing web page fixes the issue.

![not active](https://s3.amazonaws.com/f.cl.ly/items/2Z3r1T0j1t312h243q0y/Image%202016-05-05%20at%2011.24.52%20AM

[2016-05-05 18:33] MattGrimes commented on #667
It would be great if we could add a source for heartbeat. That'll make the
logic easier on our end since we'll only have to look at one variable for
source. If that can't get done before launch, we'll figure something out.
Don't block on that.

Are we sending the other experiments that the user is enrolled in as well?
This will help us to understand if there are collisions within Test Pilot.
For e

[2016-05-05 18:40] ghost commented on #717
Thanks.  Original report from @ckarlof .

[2016-05-05 19:42] meandavejustice commented on #667
We aren't currently sending that, but can very easily. @MattGrimes Is there anything else you would like added? I can get them in this afternoon no problem. Are you okay with the current naming/data being passed above? It is a quick change to match the keys/values from @ckprice s comment above.

[2016-05-05 19:44] meandavejustice commented on #722
Thanks @mythmon this is definitely on our end.

[2016-05-05 19:48] meandavejustice commented on #720
@chuckharmston I think in most cases we will have more details and screenshots specific to the actual experiment. Are we sure there isn't anything missing in our universal-search data?

[2016-05-05 19:49] meandavejustice commented on #719
@past Thanks for reporting this, I'm also seeing this with the light theme.

[2016-05-05 19:56] meandavejustice commented on #714
@pdehaan If you can just paste the values of the 'fileName', 'stack', and 'message' keys in an issue comment or gist I can probably decipher from that. They are ugly but the messages are buried in there. This would be super helpful since this is a hard one to reproduce.

[2016-05-05 20:00] MattGrimes commented on #667
We've updated all the existing surveys to conform to the values you posted above. I think we are good. Don't worry about passing a Heartbeat ref either. We've made changes to address that already and can plan on that for future experiments. If you could pass in any additional experiments that the user is enrolled in that would be really useful. I know @nchapman was curious about that as well.

[2016-05-05 20:02] meandavejustice commented on #667
Cool @MattGrimes I will ping you on the pr.

[2016-05-05 20:31] ghost opened #724 "Get our oauth endpoints from our endpoints"
#717 talked about needing to configure our endpoints for dev/stage/prod.  We can do that off of well-known URLs:  https://accounts.firefox.com/.well-known/openid-configuration

[2016-05-05 20:36] mystor opened #725 "Enable manually editing top sites"
Currently, in the new new-tab page, there doesn't seem to be a way for me to remove a website from my top sites, or pin one, unlike the tiles on the old new tab page. I would like to be able to do that, because having a stable list of top sites helps me navigate from the new tab page to websites I want to visit faster.

[2016-05-05 20:50] pdehaan commented on #725
@mystor Thanks for the feedback!
Moved to https://github.com/mozilla/activity-streams/issues/652

[2016-05-05 20:50] #725 closed, assigned to nobody

[2016-05-05 20:57] pdehaan commented on #714
@meandavejustice I'm totally lost.
Clicking the "5 more..." link gives me the following sidebar with [seemingly unrelated] properties and `fileName` and `lineNumber`.

<img width="991" alt="browser_console" src="https://cloud.githubusercontent.com/assets/557895/15056872/c959be56-12c8-11e6-8889-339976055897.png">
1. runner.js:166 points to view-source:resource://gre/modules/commonjs/sdk/addon/runne

[2016-05-05 21:01] lmorchard commented on #714
The runner & promise-backend parts are the terrible red herrings, because they're just the end points where errors in Promises eventually propagate to if nothing else handles or reports them.

The important part is in the sidebar, about "message: shouldLog is not a function". I think I've seen that before, probably a month or two ago, but no idea what causes it - it's actually an error from somewh

[2016-05-05 21:05] pdehaan commented on #716
Yeah, I agree this is a dupe.
I'm +1 on auto-polling each add-on's update.rdf [assuming the django admin has that URL] every 4-6h (or whatever interval isn't offensive) and updating the version number automatically.

Plus, when creating/adding a new experiment, it'd be awesome to extract as much information as possible from the update manifest or XPI.

[2016-05-05 21:12] jaredhirsch commented on #714
`shouldLog is not a function` is thrown if you try to use `Console.jsm` after that module has been unloaded. I've seen it when I mess up the `Cu.unload` sequence in the search add-on.

If you're seeing this in devtools, I kinda wonder if it's a devtools bug?

At any rate, it sounds like we should detect if an update is pending on restart, and warn the user that they should restart _before_ install

[2016-05-05 21:22] jaredhirsch commented on #714
Looks like the `nsUpdateService` fires an `update-staged` nsIObserver signal when an update is staged and ready for restart. It [looks like](https://dxr.mozilla.org/mozilla-central/source/toolkit/mozapps/update/nsUpdateService.js#3064) that signal also includes a flag to tell you the status of the update. We could listen for that signal and show the user some warning UI.

[Here's](https://dxr.mozi

[2016-05-05 21:37] jaredhirsch commented on #714
Hmm, I guess we'll need to detect this update pending state when the addon isn't installed at the time the `update-staged` signal is fired.

I think the best we could do would be to check some Gecko state when the addon is installed; if the update pending state is set, notify the user that stuff might look weird until they restart.

I looked a bit more through DXR but don't immediately see where t

[2016-05-05 21:46] meandavejustice commented on #719
@past would you mind going into `about:config` and looking for the `devtools.theme` key? I've seen a weird state with firefox stable where `devtools.theme` is set to dark, but the address bar/toolbar area still has a light background. Lemme know if this is what you are seeing.

[2016-05-05 21:57] leibovic commented on #722
Let me know if I can help debug. I am running test pilot, so this makes sense.

[2016-05-05 22:06] pdehaan commented on #717
@ckarlof I'm unable to reproduce this on stage with my shiny new ckarl@restmail FxA account.

---

https://testpilot.stage.mozaws.net/__version__ (ca8af43986ea2e0f8f8ecb08625b26f1aae7a6e5):

[code]

[2016-05-05 22:17] meandavejustice commented on #722
Hey @leibovic thank you! I think we have a fix over at #727 turns out that `keys` is a reserved word in `addon-sdk` land. I was trying to set a variable to that name :/

[2016-05-05 22:19] ckarlof commented on #717
Still feels like a dead end to me. What do I click on to get back to Test Pilot?

<img width="646" alt="screenshot 2016-05-05 15 19 02" src="https://cloud.githubusercontent.com/assets/2365255/15059015/c2776a78-12d4-11e6-9827-80219f98072c.png">

[2016-05-05 22:26] pdehaan commented on #717
Ah, I see what you're talking about now. You probably have to just verify your account.
After I did that, my browser redirected me back into Test Pilot.

[2016-05-05 22:34] pdehaan commented on #717
More information from the handsome @ckarlof via IRC:
- 3:24 PM **<ckarlof>** pdehaan: I must be special because I still get a dead end
- 3:25 PM **<pdehaan>** THIS IS WHY WE CAN'T HAVE NICE THINGS!
- 3:27 PM **<pdehaan>** ckarlof: yeah, looking at your screenshot, I think we're blocking on un-verified fxa accounts.
- 3:27 PM **<ckarlof>** that page is the landing page after I follow the verificati

[2016-05-05 22:37] pdehaan commented on #717
Removing "enhancement" label, as this is preventing a real-live user from logging in.

[2016-05-05 22:40] pdehaan commented on #717
More IRC updates from @ckarlof:
- 3:37 PM **<ckarlof>** JSON_voorhees: pdehaan as the bug mentions, using `verification_redirect=always` might be helpful
- 3:37 PM **<ckarlof>** if I add that I get redirected back to test pilot automatically
- 3:38 PM **<ckarlof>** but I also see this monster on the original page
- 3:38 PM **<ckarlof>** ![](https://irccloud.mozilla.com/file/VrTXQG3x/Screenshot+201

[2016-05-05 22:41] ckprice opened #728 "Update `Leave Test Pilot` exit survey link"
Assumed this was in the admin, but it looks like it's [hardcoded in the view](https://github.com/mozilla/testpilot/blob/98a7180373db4706ab49e069f1a9ea4b08ef5151/testpilot/frontend/static-src/app/views/retire-page.js#L21).

Here is the proper link from @mattgrimes:

https://qsurvey.mozilla.com/s3/test-pilot

[2016-05-05 22:45] pdehaan commented on #717
I can reproduce that lovely error page if I try and hit the /accounts/login/callback/ route directly (on stage):
`https://testpilot.stage.mozaws.net/accounts/login/callback/`

(which looks similar to the error I get when I try https://github.com/mozilla/testpilot/issues/489)

---

@chuckharmston points out in IRC:
- 3:44 PM **<@chuck>** pdehaan: that Django error page is only visible when the DEBU

[2016-05-05 22:49] pdehaan commented on #717
Interestingly (or not), if I click the [Sign In] link from that "Social Network Login Failure" page above, sign in to my FxA account, I get redirected to a https://testpilot.firefox.com/accounts/profile/ which gives me a nice "Four Oh Four!" page.

![firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/15059652/e7ab84ec-12d8-11e6-876e-c393806c4214.png)

[2016-05-05 23:02] pdehaan commented on #489
Actually, I can't reproduce this on production (it just redirects me to the home page). Closing because "whatever".

[2016-05-05 23:02] #489 closed, assigned to pdehaan

[2016-05-05 23:35] pdehaan commented on #717
@ckprice @clouserw @nchapman Can I get a triage on this? My gut is telling me it might be a blocker.

[2016-05-05 23:41] nchapman commented on #717
@ckprice and I observed this in the wild. cgroswird installed Test Pilot by creating a new Firefox account. She had no trouble with the flow, including checking her email to verify, but was then confused by the dead end verification page. We pointed her back to the original tab she was on (which had auto advanced by this point), but she still wasn't clear on what had happened.

I think we're going

[2016-05-05 23:56] #728 closed, assigned to meandavejustice

[2016-05-06 00:09] ckprice commented on #717
I agree this one is a bit on the gnarly side.

We have our triage at 9pst. If @lmorchard or @meandavejustice get in early and want to start digging into something before we meet, this may be the one to work on.

[2016-05-06 00:21] pdehaan commented on #711
I'm also seeing this with the "Test Pilot Wiki" and "File an Issue" links in the pop-up menu:

![firefox_test_pilot_-_tab_center_and_browser_console](https://cloud.githubusercontent.com/assets/557895/15061062/c3d591e0-12e5-11e6-9f81-3cf19a91c059.png)

[2016-05-06 00:39] pdehaan commented on #711
Ref: https://github.com/mozilla/testpilot/issues/642

I'd think if a user "retires" from Test Pilot, we should probably put the open the exit survey in the **same** tab (since they're done w/ Test Pilot).

If a user leaves an _experiment_ (but wants to stay enrolled in Test Pilot), it probably makes to open the exit survey/feedback in a **new** tab so they're still somewhat on the Test Pilot site

[2016-05-06 02:48] shinglyu opened #730 "preference and addon page are gone"
I installed testpilot, activated tab center and activity stream. But now I can't open preference and add-ons from the menu. I have to type `about:preference` and `about:addons` in the URL bar to get it.

Also, if I click the customize button, all the available buttons from add-ons are all gone.

Not sure which feature breaks my profile.

[2016-05-06 02:54] chuckharmston commented on #730
Thanks for the report!

I believe this is an issue with Tab Center, which we have logged here: https://github.com/bwinton/VerticalTabs/issues/50

[2016-05-06 02:54] #730 closed, assigned to nobody

[2016-05-06 03:30] callahad commented on #719
On my end, toggling the DevTools theme from light to dark changes the Test Pilot icon to the inverse.

Which would be appropriate if I was using the DevEdition Firefox theme, but I'm not.

[2016-05-06 14:27] past commented on #719
@meandavejustice I see the same thing as @callahad: when I switch to the light devtools theme, I get the right test pilot icon. So this looks like what's going on: the icon is toggled depending on the selected devtools theme, regardless of the actual theme that is applied in the browser chrome.

[2016-05-06 15:04] lmorchard commented on #724
I think this might be more of an upstream django-allauth bug if/when we drop our custom code for configuring the endpoints in favor of what comes out of the box now

[2016-05-06 15:20] lmorchard commented on #717
Trying to sort my way through all the infodump in this issue...
- Don't visit `/accounts/login/callback/` manually - that's a OAuth callback endpoint and won't do anything helpful for human visitors. Probably should display a better error, since it looks like it's running into an error trying to render the error page.
- There is no `/accounts/profile` page, so that 404 is expected. Another case wh

[2016-05-06 15:53] lmorchard commented on #717
Got a commit that fixes the error message when trying to render the social network auth failure page, but that doesn't sound like the real issue.

Also tried adding `verification_redirect=always` to the OAuth parameters. That leaves me with Test Pilot open in two tabs:
1. signed-in Test Pilot after a redirect from the verification page opened from the link in email
2. an error in my original Test

[2016-05-06 16:01] #722 closed, assigned to meandavejustice

[2016-05-06 16:04] ckarlof commented on #717
Yep. Users could do many things during the verification process, including:

1) Close the original tab.
2) Open the verification link in the original tab.

These situations create a "dead end".  Adding `verification_redirect=always` should address the "dead end" problem, but as you have found, you get an error replaying the FxA response. I propose that if you get a replayed FxA OAuth response and

[2016-05-06 16:19] nchapman commented on #711
I experienced this in release as well (46.0.1).

[2016-05-06 16:30] lmorchard commented on #717
Just submitted PR #732, which might work as some bandaids on this issue. Adds the `verification_redirect=always` param to OAuth flow, fixes the Django error in rendering the OAuth error message page, adds an auto-redirect to the home page when the OAuth error appears.

So, after PR #732, email verification should leave you with Test Pilot opened in 2 tabs, both successfully logged in.

[2016-05-06 16:53] ryanfeeley opened #733 "Skip tour link cursor should be a pointer"
I noticed that the Skip tour cursor is a text selection cursor and not a pointer like it should be for a link.

[2016-05-06 16:56] #717 closed, assigned to lmorchard

[2016-05-06 17:27] jaredhirsch opened #734 "Feedback issue"
Copied over from https://bugzilla.mozilla.org/show_bug.cgi?id=1270896, filed by @theres-waldo:

---

I went to "Give Feedback" on one of the Test Pilot experiments, and the feedback page is not functioning properly:
- The title of the tab keeps changing between "Tab Center" and
  "Connecting..." as if the page was being automatically reloaded
  over and over again.
- The form says "There was an er

[2016-05-06 17:56] ckprice commented on #667
@mattgrimes had some next steps here (promote text box for surveys to the top, and remove % progress especially for one pagers). Please let us know when complete.

[2016-05-06 18:20] #711 closed, assigned to ckprice

[2016-05-06 18:27] ghost commented on #667
Complete:
- We've removed the progress bars from the first page of each survey (many flows are just the first page which is the issue)
- We've promoted the text box for the surveys

Open Questions:
- Did we reach agreement on sending folks to GitHub issues if they have bugs?  Is this only for "givefeedback" (I assume yes)?
- We need clarifications from Javaun on the types of answers he'd  like to

[2016-05-06 19:01] pdehaan commented on #733
Possible dupe of #641 (NICE TRY, @ryanfeeley!)

[2016-05-06 19:20] edwindotcom opened #736 "Activity Stream supports Firefox 45 or later"
AS hasn't tested earlier versions of Fx before Fx45, it would be ideal to do version detection and ask the user to update version.

[2016-05-06 19:31] ckprice commented on #719
Removing this as a launch blocker.

[2016-05-06 20:10] gregglind commented on #715
20:08 < gregglind> (chuck, @_6a68, a static page on amo only solves it IFF the link for the addon is _also_ on amo)
20:09 < gregglind> https://addons.mozilla.org/en-US/firefox/shield-study-2/
20:09 < gregglind> (static page on amo, linked to an AMO hosting url)
20:10 < gregglind> I could be wrong, but at least a month ago, having an amo url for the addon wasn't enough.
20:10 < gregglind> But test

[2016-05-06 20:27] pdehaan commented on #667
I imagine that we'd want to redirect back to testpilot homepage after the user finishes a survey (not sure how, since we'd need to know to redirect back to dev, stage, or prod).

Currently (as of like 9:30am this morning), this is what I was seeing after I did a survey:
<img width="479" alt="activity_stream" src="https://cloud.githubusercontent.com/assets/557895/15085250/f85aa9ca-138d-11e6-9fd4-7f

[2016-05-06 20:38] ghost commented on #667
I could easily redirect to testpilot.firefox.com.  I could also redirect to dev/stage accordingly if there were url params for me to detect which one you're using.  I'll just wait for a response from the others.

[2016-05-06 21:15] johngruen commented on #734
Matt Grimes is working on a mitigation for this. There was some fancy JS on this page. should be resolved soon.

[2016-05-06 21:16] johngruen commented on #734
Assigning myself to keep an eye on this one since it's technically not in the TxP codebase.

[2016-05-06 21:16] johngruen commented on #736
@edmoz all of test pilot is basically current -2

[2016-05-06 21:18] #712 closed, assigned to johngruen

[2016-05-06 21:18] #710 closed, assigned to johngruen

[2016-05-06 21:18] johngruen commented on #671
#736

[2016-05-06 21:51] javaun commented on #723
I saw this too. When I refresh the page (CTRL + R) it came in.

[2016-05-06 22:26] ckprice opened #737 "SurveyGizmo post-launch polish"
Copying over some questions from @rayborn in #667

Sounds like an @johngruen question.

I believe we settled on not needing these? Or maybe including this in with the experiment details page. @nchapman @javaun.

Hmm, maybe. Now that we're opening things in a new tab, it may not be required.

[2016-05-06 22:26] ckprice commented on #667
I'm going to close this as we have what we need for launch. Carrying pending questions over to #737.

Thanks @rayborn @MattGrimes!

[2016-05-06 22:26] #667 closed, assigned to meandavejustice

[2016-05-06 23:18] ckprice opened #738 "Move legal documents to /mozilla/legal-docs"
Our legal documents are currently in https://github.com/mozilla/testpilot/tree/master/legal-copy.

We should move them over to https://github.com/mozilla/legal-docs someday, since that's where the rest are (and will help l10n at some point).

[2016-05-06 23:30] ckprice commented on #736
We can update #698 to indicate that Test Pilot supports `current-2`. If this is a Test Pilot feature request to allow experiments to configure their version requirements, I think that would deserve it's own bug and need some discussion. Please open a new bug if this is the case.

I recommend saying somewhere in your add-on about the version requirements. Closing this bug for now (please re-open if

[2016-05-06 23:30] #736 closed, assigned to nobody

[2016-05-08 19:54] johngruen opened #740 "Optimize all the django images"
I can grab this one, but we should do it before we launch.

[2016-05-09 13:17] #641 closed, assigned to nobody

[2016-05-09 13:17] #733 closed, assigned to johngruen

[2016-05-09 14:52] meandavejustice commented on #604
Do we still want to change the way `app.sendToGa` works? It seems to be working alright for us. Are we still worried about `ampersand.history`?

[2016-05-09 14:55] meandavejustice commented on #721
@lmorchard what do you think of this? It sounds good to me.

[2016-05-09 14:56] johngruen commented on #721
@meandavejustice i like chuck's proposal a lot

[2016-05-09 14:56] meandavejustice commented on #719
Talking to bwinton about this today. We were originally checking against the `devtools.theme` pref. It seems we need to be checking something more like this: https://dxr.mozilla.org/mozilla-central/source/browser/themes/linux/browser.css#1565

[2016-05-09 14:58] johngruen commented on #721
(the original one)...let's discuss adding to the survey in the meeting. my guess is that most people using test pilot won't have GH accounts.

[2016-05-09 14:58] chuckharmston commented on #721
My suggestion would be a lot more effective if we also had that block higher up the page, e.g. https://github.com/mozilla/testpilot/issues/720

[2016-05-09 14:59] meandavejustice commented on #702
@johngruen Can you check how you are reproducing this? Is this only on local development that you are seeing it?

[2016-05-09 15:00] johngruen commented on #720
Getting a second image from @bryanbell

[2016-05-09 15:00] johngruen commented on #720
@chuckharmston i will play with moving details to the top.

[2016-05-09 15:01] chuckharmston commented on #720
@johngruen Note https://github.com/mozilla/universal-search/issues/189

[2016-05-09 15:04] johngruen commented on #720
noted

[2016-05-09 15:18] johngruen opened #741 "Should the production add-on be modifiable to point to non-prod endpoints"
Since we're likely to break other endpoints and do experiments with them, we might not want to make them discoverable from the add-on. Maybe we could add some kind of flag in the build process on prod to disable the endpoint select list.

[2016-05-09 16:03] meandavejustice opened #742 "audit app.me.installed data"
https://github.com/mozilla/testpilot/pull/726#issuecomment-217892254

`/api/me` installed key returns addon objects in an array
`sync-installed` event from addon returns objects in the shape of:

[code]

[2016-05-09 16:30] lmorchard commented on #742
Probably best to tweak [the server side API](https://github.com/mozilla/testpilot/blob/master/testpilot/users/views.py#L40) to match the add-on data from `sync-installed` - that is, switch from an array to an object containing installed add-on details indexed by add-on ID.

We'll also need to tweak [the landing page GA call & associated tests](https://github.com/mozilla/testpilot/pull/705/files) t

[2016-05-09 16:38] lmorchard commented on #741
FWIW, there is no build process specifically for prod - the same server image & add-on build gets deployed to all environments.

But, we've got #581 that tries to set the env to the last-visited site after installation. I was thinking as a follow up to that, we might be able to get the add-on to detect & switch automatically to whatever environment you're visiting right then & there - rather than

[2016-05-09 17:05] lmorchard commented on #740
Just to clarify:

[code]

So, they're not the images served up from the django server but from S3, so we don't have to tie this to a pull request & a deployment

[2016-05-09 17:41] lmorchard commented on #478
Tweaked title to reflect that we shouldn't be _collecting_ & _storing_ additional information, but we can use it on the spot if / when it's available at request time to the feature flipping API

[2016-05-09 17:47] jaredhirsch commented on #734
Seems fixed to me. @theres-waldo feel free to reopen if you can still reproduce.

[2016-05-09 17:47] #734 closed, assigned to jaredhirsch

[2016-05-09 17:48] pdehaan commented on #716
CLosing as dupe.

[2016-05-09 17:48] #716 closed, assigned to nobody

[2016-05-09 17:50] lmorchard commented on #716
Going to say this is a dupe of #547, and we should get around to it

[2016-05-09 17:59] pdehaan commented on #657
This has been fixed. 👍
Closing.

[2016-05-09 17:59] #657 closed, assigned to nobody

[2016-05-09 18:06] lmorchard commented on #684
We definitely do want to use Sentry! See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1269512

[2016-05-09 18:54] #720 closed, assigned to johngruen

[2016-05-09 19:14] chuckharmston commented on #721
Improved suggestion:

![screen shot 2016-05-09 at 1 13 15 pm](https://cloud.githubusercontent.com/assets/23885/15125006/ef70f254-15e7-11e6-9dd1-50d6351e58d3.png)

[2016-05-09 19:16] johngruen commented on #721
Love it, ship it

[2016-05-09 19:34] ckprice opened #745 "Add query params to links in the doorhanger"
![doorhanger](https://s3.amazonaws.com/f.cl.ly/items/1v1u0V0e393j101y1R29/Image%202016-05-09%20at%2012.23.33%20PM.png?v=75025b6f)

Adding query parameters to these links will give us a quick and easy way to see usage of these links.

It would mean appending this to each of the links:

~~`utm_source=firefox-browser&utm_medium=doorhanger`~~

/edit:

@garethcull will these work for all the links?

[2016-05-09 19:40] ckprice opened #746 "Clicking `Done` on onboading tour sends a `cancel tour` GA event"
![clicking done](https://s3.amazonaws.com/f.cl.ly/items/2u2T0E1M370u1u1Y3M3p/Image%202016-05-09%20at%2012.37.02%20PM.png?v=61350958)

When a user finishes the onboarding tour for an experiment, and clicks "Done", GA fires the following event:
- event category = `ExperimentDetailsPage Interactions`
- event action = `button click`
- event label = `cancel tour`

The label should be updated to `comple

[2016-05-09 19:55] pdehaan commented on #721
Do we need to update the Django models to add an "Issues" link to the experiments?
I see that we could _almost_ use the **contribute** URL links:

| Experiment | Contribute URL |
| :-- | :-- |
| **Activity Stream** | https://github.com/mozilla/activity-streams |
| **Tab Center** | https://github.com/bwinton/VerticalTabs#readme |
| **Universal Search** | https://github.com/mozilla/universal-search

[2016-05-09 20:24] garethcull commented on #745
@ckprice can we use the following:
utm_source=testpilot-addon&utm_medium=firefox-browser&utm_campaign=testpilot-doorhanger&utm_content={{doorhanger link name}}

where {{doorhanger link name}} is the name of the app (ie. Universal Search) OR "View All Experiments"

Thanks!

[2016-05-09 20:30] ckprice commented on #745
This should work, thanks!

[2016-05-09 20:38] ghost commented on #607
Closing this in favor of #719

[2016-05-09 20:38] #607 closed, assigned to nobody

[2016-05-09 20:43] ghost commented on #66
Cautiously marking this as a good first bug :)

[2016-05-09 20:48] ghost commented on #678
More than one thumb up!  let's do it

[2016-05-09 20:57] ghost commented on #414
Closing in favor of #551

[2016-05-09 20:57] #414 closed, assigned to nobody

[2016-05-09 21:07] johngruen commented on #740
I did it!

[2016-05-09 21:07] #740 closed, assigned to johngruen

[2016-05-09 21:33] pdehaan commented on #738
Ref: https://github.com/mozilla/legal-docs/pull/509
I made a pull request against **mozilla/legal-docs** to add a package.json, which will let us do something like this and add the legal-docs repo :

[code]

Then I think we'll just need to move over our legal *.md files and blah, blah, blah.

---

In **fxa-content-server** we used the [bower.json](https://github.com/mozilla/fxa-content-server/blob

[2016-05-09 22:29] ckprice opened #748 "Fix `Give Feedback` buttons on experiments page."
#726 introduced a few small errors:

~~https://testpilot.stage.mozaws.net/experiments/activity-stream~~ (enabled view)

/edit stage has been rolled back. You can verify on [dev](http://testpilot.dev.mozaws.net/experiments/activity-stream).
- Doesn't open in a new tab.
- Survey URL is malformed (https://qsurvey.mozilla.com/s3/activity-stream?ref=givefeedback&experiment=Activity%20Stream?ref=givefee

[2016-05-09 22:44] pdehaan commented on #748
Tried adding a shotgun approach to fixing button cursors in #749

[2016-05-09 23:47] ckarlof opened #750 "User can't see who she is logged in as (i.e., which FxA)"
<img width="342" alt="screenshot 2016-05-09 16 45 30" src="https://cloud.githubusercontent.com/assets/2365255/15131533/a97e6916-1605-11e6-8034-517051274ce6.png">

[2016-05-09 23:57] pdehaan opened #751 "A few console logs and warnings from qsurvey.mozilla.com"
Found in https://testpilot.stage.mozaws.net/__version__ (60035a999b17135beff6debb3c083c7aa2608203):

[code]

---
### Steps to reproduce:
1. Go go https://testpilot.stage.mozaws.net/experiments/activity-stream and enable the experiment.
2. Click the [Give Feedback] button.
3. Open the Developer Tools and look at the Console tab output (a).
4. Go to https://testpilot.stage.mozaws.net/experiments/tab

[2016-05-10 00:07] pdehaan commented on #751
Can't exactly repro on prod, because currently I'm seeing:

https://testpilot.firefox.com/__version__

[code]

[2016-05-10 02:47] javaun opened #752 "Edge case: Resolving privacy choice conflicts."
When a user installs Test Pilot, we store their prior Telemetry state so that we can restore it when they leave test pilot. Policy highlighted an edge case.

For example, a user has telemetry on, installed Test Pilot (full Telemetry is one), but then turns Telemetry off. Then, a user uninstalls Test Pilot. In this case, we'd restore to their state prior to joining Test Pilot (Telemetry on) but wou

[2016-05-10 10:51] leplatrem commented on #719
I have a similar problem with GTK and the dark theme:
![capture d ecran de 2016-05-10 12-49-08](https://cloud.githubusercontent.com/assets/546692/15144111/9dade5c8-16ad-11e6-921f-ef9fc522e2a5.png)

![capture du 2016-05-10 12-50-02](https://cloud.githubusercontent.com/assets/546692/15144133/d61cf71e-16ad-11e6-9f42-13eb7fdb834e.png)

[2016-05-10 13:49] johngruen commented on #750
yeah, this is a good thing to fix. @lmorchard can we pass the fxa username (email) into the view? Do we even have this?

[2016-05-10 13:50] johngruen commented on #745
This seems important and easy. moving into this sprint.

[2016-05-10 14:08] meandavejustice commented on #752
@javaun We can listen for manual updates to the telemetry pref in the addon, and set that as our "pre-testpilot" preference.

[2016-05-10 14:11] meandavejustice commented on #750
@johngruen yes, we have it in the `me` model

[2016-05-10 14:30] meandavejustice commented on #721
In most cases appending `/issues` should be fine. I would like people creating experiments to not be tied to github. It's not very hard to update the django model, I vote we just add a field.

[2016-05-10 14:49] johngruen commented on #737
WRT the github link, i'd rather not add it to the survey since it requires an additional acct creation #721 solves for this.

Why do people use multiple tabs (provisional):
- I don't want to lose the things i find online.
- I'm doing online research
- I'm doing comparison shopping
- I have to manage multiple projects at once
- I just forget to close them
- other, please explain:

How about we redi

[2016-05-10 14:50] johngruen commented on #737
@ckprice note sure if @rayborn is monitoring issue...can you make sure he sees this.

[2016-05-10 14:51] johngruen commented on #750
cool, i will grab this

[2016-05-10 14:56] johngruen commented on #419
@wresuolc yeah i think @ckprice may have pasted in the worng copy here...I am getting rolling on the UX here though

[2016-05-10 14:57] johngruen commented on #675
This is vague. Going to open up more specific issues.

[2016-05-10 14:57] #675 closed, assigned to nobody

[2016-05-10 14:58] johngruen opened #753 "Add push notifications to Test Pilot for New Experiments"
So that I can see when a new experiment is released, I would like to receive push notifications in Firefox from Test Pilot.

[2016-05-10 15:01] meandavejustice commented on #753
are we talking [push api](https://www.w3.org/TR/push-api/) or updating badge in testpilot addon?

[2016-05-10 15:04] johngruen opened #754 "Render errors in doorhanger when switching to and from retina and non-retina displays"
When i switch from non-retina to retina:
<img width="378" alt="screen shot 2016-05-10 at 11 00 56 am" src="https://cloud.githubusercontent.com/assets/3323249/15151555/93c08e02-169f-11e6-856d-b1261c8c70d3.png">

When I switch from retina to non-retina:

![screen shot 2016-05-10 at 11 01 05 am](https://cloud.githubusercontent.com/assets/3323249/15151556/95239aa0-169f-11e6-83fc-ee5350a67c00.png)

Iss

[2016-05-10 15:09] javaun commented on #675
Intentionally so. If we need a place to put higher level users stories, LMK. I can always assign you Aha cards ;-)
(That's a bluff. I don't want to do that either.)

[2016-05-10 15:09] MattGrimes commented on #737
I'll make sure it gets done. Thanks!

On Tue, May 10, 2016 at 7:50 AM, John Gruen notifications@github.com
wrote:

[2016-05-10 15:10] johngruen commented on #753
https://wiki.mozilla.org/Firefox/Push_Notifications

It's going to be a minute before i put together a spec for how this should work

[2016-05-10 15:29] ghost commented on #737
I see it, thanks!

Edit: Didn't get Matt's update in my inbox and responded via email.  Apologies for the spam.

On Tue, May 10, 2016 at 7:50 AM, John Gruen notifications@github.com
wrote:

[2016-05-10 16:20] pdehaan opened #755 "undefined error after browser relaunch (White Screen of Death)"
Found in https://testpilot.firefox.com/__version__ (ca8af43986ea2e0f8f8ecb08625b26f1aae7a6e5):

[code]

---
### Steps to reproduce:
1. Launch a fresh browser and go to https://testpilot.firefox.com
2. Sign up with a brand new account (on a fresh profile)
### Actual results:

After signing in to FxA, I see a blank page with a simple `undefined` in my Dev Tools console:

![test_pilot](https://cloud.

[2016-05-10 16:32] pdehaan commented on #755
Closing.
I can't repro this currently on stage anymore. I think I was trying to use older prod add-on pointed to a stage server which is why I could see this in both envs earlier...
Switching envs sucks.

[2016-05-10 16:50] pdehaan commented on #675
FWIW, I _DON'T_ want TestPilot to notify me of new experiments, so it'd be nice if it were opt-in (or opt-out -- just as long as I have an "opt").

[2016-05-10 17:00] lmorchard commented on #753
There'll be some infrastructure & logistical things to work through here, such as:
- How do we send the per-user POST requests to the push server(s)? Probably need to work with ops to add an offline work queue (eg. celery) to queue up & process the pings.
- When do we send the notifications? Probably don't want to auto-send every time an Experiment model gets changed or created, because we might m

[2016-05-10 17:01] pdehaan commented on #721
+1 to a new field in Django, as appending "/issues" is probably too GitHub specific and adds unnecessary complexity.

[2016-05-10 17:02] lmorchard commented on #753
FWIW, an alternative that might be lighter-weight is to have the add-on poll an API endpoint periodically like an RSS feed that tells it when to show notifications. Push notifications are great for open web content, but we have some bespoke things we can do in the add-on

[2016-05-10 17:36] #748 closed, assigned to lmorchard

[2016-05-10 19:24] pdehaan commented on #653
FWIW, I'm still seeing linebreaks in "Universal Search" with Tab Center installed. I don't think the Tab Center is relevant, just that if you pin it open, it takes up another few hundred px, making this a lot more likely on desktop:

![firefox_test_pilot_-_universal_search](https://cloud.githubusercontent.com/assets/557895/15159510/e0c6173a-16a9-11e6-92e1-8fe1931355c3.png)

---

https://testpilot.

[2016-05-10 19:31] pdehaan opened #757 "Add pointer cursors to forward/back navigation arrows in experiment tours"
Hat tip to @6a68 who reported in IRC.

Found in https://testpilot.firefox.com/__version__ (f5b1b19dfdcbaafba4e5fc335fdc8b90cdfc79bd):

[code]

---
### Steps to reproduce:
1. Sign in to https://testpilot.firefox.com/
2. Enable an experiment
3. Take the UI tour
4. Hover over the forward/back arrow graphics
### Actual results:

No pointer cursor

![firefox_test_pilot_-_activity_stream](https://cloud.

[2016-05-10 19:47] dholbert opened #758 "Tab Center's disabled "New" text is hard to read (white-on-white) when using a Lightweight Theme (like "Furfox Tail Twister")"
STR:
1. Activate the "Tab Center" extension.
2. Hover the sidebar, and look at the "New..." text at the top.
3. NOW: Visit https://addons.mozilla.org/en-US/firefox/addon/furfox-tail-twister/ and install & apply that lightweight theme.
4. Repeat step 2 -- hover the sidebar, look at the "New..." text.

ACTUAL RESULTS:
The "New..." text is black in Step 2, but it's white-with-a-shadow in step 4 (on a

[2016-05-10 19:50] ckprice opened #759 "Bring users somewhere after they have successfully installed an experiment."
Jim Cook had this feedback.

Once a user installs an experiment, and takes (or doesn't take) tour, this is the screen they land on

![after install](https://s3.amazonaws.com/f.cl.ly/items/0A1T0q0y0k1f0c3w1b0I/Image%202016-05-10%20at%2012.46.33%20PM.png?v=f2ad7b73)

Should we bring them to someplace else?
- Maybe back to the front page to allow them to choose another experiment?
- Maybe each experi

[2016-05-10 19:54] dholbert commented on #758
Screenshot with no theme:
![no-theme](https://cloud.githubusercontent.com/assets/426803/15160368/24a7b13a-16ae-11e6-979e-dddc1960b725.png)

Screenshot with lightweight theme (note the broken-looking white-on-white "New..." text at upper-left):
![theme](https://cloud.githubusercontent.com/assets/426803/15160391/345521c6-16ae-11e6-8a05-5aa718e17b69.png)

[2016-05-10 19:54] javaun commented on #759
Interesting feedback. This is the first we've heard so let's note it and see if it surfaces more.  The nice thing about going right back to experiment page is that you can read the details in case you didn't (and just clicked "Enable"). If we see concerns, we can do more user testing and potentially test some alternatives.

[2016-05-10 19:55] dholbert commented on #758
It looks like this text-color-change is intended for stuff that's drawn on top of the lightweight theme background (like the "File | Edit | ..." menus shown at the right side of my screenshots).

However: this sidebar does _not_ have the lightweight theme background. So, it should not be using styling for text that's intended to be drawn on top of that background.

[2016-05-10 19:56] chuckharmston commented on #759
We could prospectively show a slightly rejiggered version of the page with an emphasis on onboarding-related things. "What now? [Learn more about the add-on]() | [Give feedback]() | [File a bug]() | [Take the tour again]() | [Check out our other experiments]"

[2016-05-10 20:08] dholbert opened #760 "Tab Center pushes findbar UI (for find-in-page) completely out of view, if you have bookmarks toolbar and/or menubar enabled"
STR:
1. Enable Tab Manager test pilot experiment.
2. Enable bookmarks toolbar and/or menubar (by right-clicking somewhere on your browser toolbar, e.g. on the hamburger menu, and choosing "Menu Bar" and "Bookmarks Toolbar")
3. Visit some web page, e.g. this github page.
4. Ctrl+F (or Cmd+F on Mac) to activate Find-In-Page bar.

ACTUAL RESULTS:
The find-in-page bar is partially or completely invisi

[2016-05-10 20:15] lmorchard opened #761 "Serve up social metadata so Facebook & friends (and search) show appropriate previews for experiments"
Related to #419.

But, more than just adding views to our client-side app. This issue requires that we [add meta headers to our HTML on experiment URL routes on the server side so that Facebook's open graph spider picks them up](https://developers.facebook.com/docs/sharing/best-practices#tags).

[2016-05-10 20:20] ddurst opened #762 "Using tab center + bookmarks toolbar messes up IRCcloud?"
Using tab center, when I have the bookmarks toolbar shown, it would appear that the content frame's height is eaten into by the toolbar (note the difference between the two screenshots) -- and I can barely see the boundary of the message input control on irccloud; the window doesn't scroll, so I have to disable either tab center or bookmarks toolbar to use it again.

<img width="1546" alt="screen

[2016-05-10 20:29] karashata opened #763 "Tab Center bookmark position indicator bug"
I encountered a bug where the indicator for where a bookmark will be placed when moving bookmarks around in the toolbar is displayed significantly below the toolbar in the web page space when using Tab Center.
![tab center bookmark indicator bug](https://cloud.githubusercontent.com/assets/4993762/15161491/60a706f4-16cc-11e6-881f-cb3ba9e4743a.png)

[2016-05-10 20:32] serafeimg opened #764 "Find in page"
With ctrl+F doesn't open the usual search bar

[2016-05-10 20:33] #764 closed, assigned to nobody

[2016-05-10 20:34] serafeimg commented on #764
already open issue

[2016-05-10 20:36] serafeimg commented on #760
Same issue with version 46.0.1.
The problem is with all the bars as well the end of every web site.
Issue only solved in full screen mode.

[2016-05-10 20:46] pdehaan commented on #760
Closing. Filed upstream in **Tab Center** repo: https://github.com/bwinton/VerticalTabs/issues/146

[2016-05-10 20:46] #760 closed, assigned to nobody

[2016-05-10 20:47] pdehaan commented on #763
Closing. Filed upstream in **Tab Center** repo as https://github.com/bwinton/VerticalTabs/issues/147

[2016-05-10 20:47] #763 closed, assigned to nobody

[2016-05-10 20:53] pdehaan commented on #762
Closing. Filed in upstream **Tab Center** repo as https://github.com/bwinton/VerticalTabs/issues/148

[2016-05-10 20:53] #762 closed, assigned to nobody

[2016-05-10 20:56] pdehaan commented on #758
Closing. Filed in upstream **Tab Center** repo as https://github.com/bwinton/VerticalTabs/issues/149

[2016-05-10 20:56] #758 closed, assigned to nobody

[2016-05-10 21:29] dholbert opened #765 "Test Pilot add-on post-install doorhanger has jaggedy edges on logo image"
STR:
1. Install Test Pilot add-on.
2. Watch for the "You're always just a click away from the latest experiments" doorhanger (pointing to the new button).

ACTUAL RESULTS:
 The image on this doorhanger has extremely jaggedy edges on the curves of the spaceship.

EXPECTED RESULTS:
 The image should not have jaggedy edges.

[2016-05-10 21:29] dholbert commented on #765
Here's a screenshot of this logo image, in the Firefox UI:

![test-pilot-postinstall-image](https://cloud.githubusercontent.com/assets/426803/15163142/9af7cb38-16bb-11e6-9730-be3b7ef3526a.png)

[2016-05-10 21:29] ckprice commented on #757
Adding to sprint.

[2016-05-10 21:31] dholbert commented on #765
Here is the actual PNG from the extracted add-on package. The edges are jaggedy in this actual PNG file (viewed at its native resolution), as you can see here (e.g. on the fox's tail, and on the upper left edge of the spaceship):
![copter](https://cloud.githubusercontent.com/assets/426803/15163164/b421ff3e-16bb-11e6-8f5a-b9663c8a90e3.png)

[2016-05-10 21:38] dholbert commented on #765
The logo image from the _actual website_ is here:
  https://testpilot.firefox.com/static/images/copter.png
Its edges are buttery-smooth.

Compare that against the [image attached above from the extension XPI](https://cloud.githubusercontent.com/assets/426803/15163164/b421ff3e-16bb-11e6-8f5a-b9663c8a90e3.png).  Edges are way smoother in the larger image from the actual website.

(I'm guessing the e

[2016-05-10 21:46] ckprice commented on #761
Quick note that this also effects SERPs (search engine results pages).

![SERP](https://s3.amazonaws.com/f.cl.ly/items/0T2R1S2s0b3W2X3T3N2b/Image%202016-05-10%20at%202.45.05%20PM.png?v=a06eafc8)

[2016-05-10 21:51] pdehaan commented on #755
Actually, i was just able to reproduce this in prod (f5b1b19dfdcbaafba4e5fc335fdc8b90cdfc79bd) using Beta channel and I installed an update. The browser restarted and everything went white. Reloading the tab renders as expected.

https://testpilot.firefox.com/__version__

[code]

![test_pilot](https://cloud.githubusercontent.com/assets/557895/15163659/9b05bf38-16be-11e6-9273-7fdc2d573c6a.png)

[2016-05-10 21:55] pdehaan commented on #755
/cc @meandavejustice @lmorchard

[2016-05-10 21:57] Theophrastvs opened #766 "checkboxes (and radio buttons) don't work in latest firefox version"
I suppose it's gtk to blame, but only in the latest firefox versions are checkboxes and radio-buttons invisible.  I can't even properly send mozilla feedback because checkboxes widgets are involved.  thank you!

[2016-05-10 22:08] chuckharmston commented on #766
Thanks for the report! I've moved it over to the official bug tracker for Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1271815

[2016-05-10 22:08] #766 closed, assigned to nobody

[2016-05-10 22:09] pdehaan commented on #755
Actually, I can occasionally reproduce this by just hitting refresh on the /experiments page.
About 1 in 20 refreshes gives me a blank page with the `undefined` error.

[2016-05-10 22:31] pdehaan opened #767 ""Choose your features" button looks unbalanced"
https://testpilot.firefox.com/__version__ (f5b1b19dfdcbaafba4e5fc335fdc8b90cdfc79bd):

[code]

---

![firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/15164498/0b690e06-16c4-11e6-8716-561f27efc042.png)

Me thinks the `.extra-large {...}` line height needs to be tweaked.

[2016-05-10 22:32] ckprice commented on #715
Any other recommendations here?

@clouserw @lmorchard what are some of the drawbacks to hosting on AMO?

[2016-05-10 23:38] tylershuster opened #769 "Find in page bar half-hidden when tab center enabled"

[2016-05-11 00:25] pdehaan commented on #769
@tylershuster Thanks for the report! I believe this is a dupe of https://github.com/bwinton/VerticalTabs/issues/146.

[2016-05-11 00:25] #769 closed, assigned to nobody

[2016-05-11 04:42] HammyHavoc opened #771 "Recommended sites have black titles as opposed to being grey like the rest"
#757 I searched "Berlin" as per the video demo of Universal Search, and the rest of the results are fine, but under FT DeepDark the recommended sites have black titles so they aren't readable, obviously this could be fixed within the theme itself, but I don't think it makes all that much sense to have this black by default anyway.

<img width="960" alt="berlin firefox 2" src="https://cloud.githubu

[2016-05-11 05:17] InfiniteMonkeys opened #772 "Installation fails"
Just signed up for Test Pilot.  Tried installing Universal Search and the 'Enabling' status just hangs forever.  Exited, retried, same result.  Tried Activity Stream installation.  Same thing.

[2016-05-11 06:43] 13xforever opened #773 "Browser doesn't POST immediately after disabling Universal Search"
I had some issues with POSTing forms (post-uninstall survey, and filing an issue here on github) immediately after opting-out of Universal Search experiment.

There were no errors in console, and everything worked again after the browser restart.

I was testing on Firefox 48.0a2 (2016-05-10), Windows x64 build.

[2016-05-11 06:50] ckprice commented on #771
Moving this over to https://github.com/mozilla/universal-search/issues/206, thank you for the report!

[2016-05-11 06:50] #771 closed, assigned to nobody

[2016-05-11 07:09] jcook123 commented on #759
There are at least 2 "User Journey's" here.

1)  The User Journey I was expecting.  Loved the fact there were 3 experiments.  Wanted to try all three.  But after enabling just one, there was no trail back to the page to enable the other 2 Experiments.  Felt very frustrating trying to figure out "Where I could find the other User Experiments"

2)  The User Journey as noted by Javaun for those that

[2016-05-11 07:16] jcook123 commented on #759
1 other comment.   There is still a "dead zone" of "What Do You Want a User to Do Next" if we leave them on this page.  It's not that obvious (other than a grey'd out button) and a green "Active" text that are both easily missed.

I'd recommend both a Confirmation pop (thanking them for "climbing in the Test Pilot Cockpit with Mozilla") and/or  "Try Activity Stream Now" prompt to get the User to E

[2016-05-11 07:24] wchristian opened #774 "Test Pilot should have a simple <noscript> experience."
I can understand using Javascript for complicated web apps that need to do a lot of things, but in this case you're using JS-only, with no fallback whatsoever, to display what's at heart a completely static site with a gif.

[2016-05-11 08:07] past opened #775 ""Please rate undefined" strikes again"
Not sure if this is a test pilot bug, but I see the "Please rate undefined" message again in today's nightly:

`TypeError: app is undefined index.js:502:7`

[2016-05-11 10:17] g7r opened #776 "Get rid of scroll bar in testpilot tab center"
Scroll bar appears on the tab center when I hover mouse cursor over it (all my tabs fit well in the Firefox window).
Platform: Windows8.
The scroll bar doesn't appear on Ubuntu.

[2016-05-11 10:19] g7r commented on #776
![firefox-tabcenter-scroll](https://cloud.githubusercontent.com/assets/457958/15177865/02c2af20-177b-11e6-9b26-3c4502725979.png)

[2016-05-11 10:34] riyad opened #777 "Opening FF's Customize view when using Tab Center hides all FF UI"
When trying to "Customize" FF while using Tab Center the customize UI will cover all of the UI except the title bar. So customizing anything but the menu hanger is not possible.

Clicking "Exit Customize" will
- not close the customize UI but leave it open rendering FF unusable. The only possibility to recover is to restart FF. (This happened once after installing Test Pilot + Tab Center, but coul

[2016-05-11 11:41] riyad commented on #777
Moved to bwinton/VerticalTabs#168

[2016-05-11 11:41] #777 closed, assigned to nobody

[2016-05-11 12:04] #757 closed, assigned to pdehaan

[2016-05-11 12:04] #767 closed, assigned to pdehaan

[2016-05-11 12:07] johngruen commented on #776
Hey @g7r, thanks for filing the issue. I'm going to move this over to the vertical tabs repo: https://github.com/bwinton/VerticalTabs/issues/169

[2016-05-11 12:07] #776 closed, assigned to nobody

[2016-05-11 12:09] johngruen commented on #765
@dholbert good catch. i think i downsampled that thing wrong!

[2016-05-11 13:23] romanblanco opened #778 "The main menu disappears with Tab Center enabled"
I have no option to align items in the main menu with Tab Center feature enabled:
See the screenshots:  _(sorry for the resolution)_

Disabled:
![b](https://cloud.githubusercontent.com/assets/1187051/15182306/1537ed3a-178c-11e6-9243-1bb33d62cb4f.png)
Enabled:
![c](https://cloud.githubusercontent.com/assets/1187051/15182322/205590b4-178c-11e6-976a-bc4c522b481e.png)

[2016-05-11 13:28] romanblanco opened #779 "Shifted navigation menu with fullscreen and Tab Center enabled"
With fullscreen window and Center Tab feature enabled, the navigation menu seems to be wrongly shifted and does not respond to mose hover.

Screenshot:
![d](https://cloud.githubusercontent.com/assets/1187051/15182436/b47d79a0-178c-11e6-99b2-dab221a48f4b.png)

[2016-05-11 13:47] johngruen commented on #778
Hey @romanblanco thanks for the screenshots. I'm going to close this bug out and add the screenshots and text to an existing bug in the vertical tabs repo (where tab center lives)

[2016-05-11 13:47] #778 closed, assigned to nobody

[2016-05-11 13:47] johngruen commented on #778
@romanblanco https://github.com/bwinton/VerticalTabs/issues/168

[2016-05-11 13:50] romanblanco commented on #778
@johngruen thanks! :+1:

[2016-05-11 13:54] johngruen commented on #774
Hi @wchristian we have JS dependencies like Firefox Accounts, so I'm not sure switching to server side templating would make much of a difference since you'd still be blocked on auth...

Nevertheless, I'd like to keep this bug open since we should implement some sort of friendly messaging in our UX for users who disable JS in Firefox.

FWIW, you can directly access all of the test pilot add-ons th

[2016-05-11 13:57] wchristian commented on #774
Sorry for not mentioning the url, maybe this was a little unclear. :D

I'm talking about https://testpilot.firefox.com/

That page doesn't seem to have any login features in my browser.

[2016-05-11 13:59] johngruen commented on #779
Thanks @romanblanco same thing as the other issue you filed here, moving this over to the verticalTabs repo. https://github.com/bwinton/VerticalTabs/issues/156

[2016-05-11 13:59] johngruen commented on #779
High five

[2016-05-11 13:59] #779 closed, assigned to nobody

[2016-05-11 13:59] wchristian commented on #774
Oh, i was looking at the page in Chrome, where it simply does not show the login button, so that may be another bug.

[2016-05-11 14:01] johngruen commented on #774
@wchristian yep, Test Pilot only works in Firefox (since it's an add-on). Logging in on Chrome would be a dead end, that's why we surface a Firefox download link.

[2016-05-11 14:02] johngruen commented on #765
Fixed By #780

[2016-05-11 14:13] johngruen commented on #772
@InfiniteMonkeys a few to help you debug this thing:
-  What OS are you on?
- What Version of Firefox?
- Can you go to tour Firefox add-on manager, select Test Pilot preferences and check the following:
  - what is the exact add-on title?
  - is the add-on enabled?
  - what does the Environment selector say?

Let's see if we can debug your issue!

[2016-05-11 14:19] johngruen commented on #775
@past hmmm where are you seeing this? When you go to the test pilot site or just randomly in your console?

[2016-05-11 14:20] johngruen commented on #773
@13xforever thanks for filing...just to be clear, are you referring to POSTs fired by the surveygizmo survey?

[2016-05-11 14:23] johngruen commented on #755
oof

[2016-05-11 14:25] 13xforever commented on #773
Yes, I'm referring to POSTs that should've been fired by either web forms, but I haven't seen a single one in the Network tab of dev console.

It might have to do with the hooking of uninstalling the experiments (so the browser is borked until restart).

[2016-05-11 14:29] wchristian commented on #774
I understand that, to be more clear: The bug is that there's no hint at anyone being able to log in if viewing the page in FF.

[2016-05-11 14:32] doctorow opened #781 "Tab Center masks bookmarks sidebar"
Tried Tab Center on Ffox for Ubuntu 15.10, but found that it obscured the bookmarks sidebar:

![056c026d-1c66-4d42-9fae-a8e96df290c5-1020x1060](https://cloud.githubusercontent.com/assets/19307926/15184496/482e9410-174a-11e6-8be4-a657977665b1.jpg)

I use the bookmarks sidebar to launch folders full of tabs -- daily visits, or all the URLs relevant to a project/context -- by selecting the folder and

[2016-05-11 14:40] johngruen commented on #781
Hey @doctorow, thanks for reporting...this is a known bug: https://github.com/bwinton/VerticalTabs/issues/62

[2016-05-11 14:41] #781 closed, assigned to nobody

[2016-05-11 14:41] willkg opened #782 "asked to survey activity stream twice in two days"
I installed test pilot yesterday. Within 10 minutes, it asked me to fill out a (very long) survey for activity stream.

It just asked me to fill out another survey for activity stream today.

Why is it asking me to fill out a survey for the same experiment two days in a row? That seems overly zealous.

Using Firefox dev edition 2016-05-11 on Ubuntu 16.04. I updated dev edition today--I don't remem

[2016-05-11 14:43] willkg opened #783 "click on "x" of survey bar scrolls page to top"
I got asked to fill out a survey for activity stream today. Given that I filled it out yesterday, I didn't want to do it again today. So I clicked on the "x".

When I clicked on the "x", the page I was reading scrolled all the way to the top. It was a long page, so I lost my place.

Clicking on the "x" of the survey request bar shouldn't change the page it's over at all.

[2016-05-11 14:43] willkg commented on #783
I'm using Firefox dev edition 2016-05-11 on Ubuntu 16.04.

[2016-05-11 14:51] johngruen commented on #783
@meandavejustice

[2016-05-11 14:51] johngruen commented on #783
Thanks for reporting @willkg!

[2016-05-11 14:55] MattGrimes commented on #783
@willkg this is on the star rating prompt, not the actual survey? Is that correct?

[2016-05-11 14:57] willkg commented on #783
That's correct. I was looking at a web page and this bar appeared at the top of the view port asking me to rate activity stream. Clicking on the "x" of that bar caused the page i was reading to scroll to the top.

[2016-05-11 16:54] chuckharmston opened #786 "Test Pilot website sometimes uses a lot of CPU"
We had [a report](http://logs.glob.uno/?c=testpilot#c9688) come in on IRC of the Test Pilot website using excessive amounts of CPU.

CC @johngruen

[2016-05-11 16:55] chuckharmston commented on #786
One idea: the floating fox animation is likely quite processor-intensive if not hardware-accelerated. Unfortunately, that [is not detectable](https://github.com/Modernizr/Modernizr/wiki/Undetectables#general-undetectables).

[2016-05-11 17:05] chuckharmston commented on #774
A fair action item in that bug is that Test Pilot should have a decent `<noscript>`-type experience. I'll update the title appropriately.

[2016-05-11 17:25] meandavejustice commented on #782
@willkg This is a bug, it is not our intention to ask that suddenly. Thanks for bringing this to our attention.

[2016-05-11 17:27] dholbert commented on #765
Thanks! The image files in that commit (viewed on GitHub at least) look much nicer.

[2016-05-11 17:28] jrmuizel opened #787 "https://testpilot.firefox.com/experiments/activity-stream doesn't always load"
I get the following on load:
13:26:01.096 undefined1app.js:9:1328
[998]</<.initialize/<()app.js:9
(Async: promise callback) [998]</<.initialize()app.js:9
(Async: EventListener.handleEvent) [988]</<()app.js:8
[988]</<()app.js:8
[988]<()app.js:8
a()app.js:1
a/<()app.js:1
[998]<()app.js:9
a()app.js:1
e()app.js:1
<anonymous>app.js:1

[2016-05-11 17:28] jrmuizel commented on #787
When this happen the pages remains completely white

[2016-05-11 17:38] jaredhirsch commented on #787
Additional info: Nightly 49.0a1 (2016-05-11) / OS X. Also:

[code]

[2016-05-11 17:40] ckprice commented on #787
Closing as a dup of #755.

[2016-05-11 17:40] #787 closed, assigned to nobody

[2016-05-11 17:40] ckprice commented on #755
Have another report of this. Adding it to this sprint.

[2016-05-11 17:48] jaredhirsch opened #788 "Discourse integration"
We now have [Discourse categories](https://discourse.mozilla-community.org/c/test-pilot) for Test Pilot and all the active experiments.

Let's figure out the right places to integrate Discourse into the TxP UI.

[2016-05-11 18:01] TDA opened #789 "Unable to scroll fully to the bottom - Tab Center"
After installing Tab Center, I noticed that I am unable to fully scroll to the bottom of the tabs list, and certain websites, like GitHub for example.
### Before Tab Center

<img width="1440" alt="screenshot 2016-05-11 11 00 26" src="https://cloud.githubusercontent.com/assets/432707/15191024/a1212f34-1767-11e6-9e90-9a22aac537c1.png">
### With Tab Center

<img width="1440" alt="screenshot 2016-05-1

[2016-05-11 18:08] johngruen commented on #765
gimme a minute to bump the version

[2016-05-11 18:14] #687 closed, assigned to nobody

[2016-05-11 18:44] meandavejustice commented on #789
Thanks for filing.
moved to https://github.com/bwinton/VerticalTabs/issues/179

[2016-05-11 18:44] #789 closed, assigned to nobody

[2016-05-11 18:47] #765 closed, assigned to johngruen

[2016-05-11 19:18] LifeIsStrange opened #791 "Port features to Android"
All is in the title and thanks for making open source software, you make the World better :)

[2016-05-11 19:29] LifeIsStrange commented on #791
Oh sorry there is already Android support, but could you port the features to Android ?

[2016-05-11 19:37] #506 closed, assigned to lmorchard

[2016-05-11 19:51] mrleblanc101 opened #792 "Opening a test project from the extention often does not work"
Firefox open a new tab called "Test pilot" but the experiment never load and Firefox does not show any sign of loading. If you try again, then the page will load but it's annoying and should be fixed quickly

[2016-05-11 19:56] martindholmes opened #793 "Scrollbar functionality impaired with Tab Center"
Using the Tab Center add-on in FF 46.0 (Ubuntu 16.04 64-bit), certain pages do not scroll properly, whether the bar is minimized or pinned open. This page, for instance:

https://ant.apache.org/manual/Tasks/fail.html

will not scroll past `</resourcecount>`.

[2016-05-11 20:01] pdehaan commented on #793
Closing. I believe this is a dupe of the upstream **Tab Center** repo's https://github.com/bwinton/VerticalTabs/issues/105.

[2016-05-11 20:01] #793 closed, assigned to nobody

[2016-05-11 20:14] pdehaan commented on #419
**NOTE:** Once we tweak this UX flow, we need to make sure we verify the [newly created] [FAQ](https://github.com/mozilla/testpilot/blob/master/docs/FAQs.md) is still accurate.

[2016-05-11 20:32] pdehaan opened #794 ""TypeError: workers.get(...) is undefined" error on uninstall"
Found in https://testpilot.firefox.com/__version__ (f5b1b19dfdcbaafba4e5fc335fdc8b90cdfc79bd):

[code]

---
### Steps to reproduce:
1. Go to https://testpilot.firefox.com/
2. Sign up/in
3. Install Test Pilot add-on
4. Install an experiment (or not, I don't care)
5. Open your Browser Console (Tools > Web Developer > Browser Console)
6. Retire from Test Pilot [...] > Leave Test Pilot
### Actual resu

[2016-05-11 21:18] johngruen opened #795 "Test Pilot reports Tab Center as enabled when it is actually disabled"
Originally reported by @bobsilverberg

Fx 46.0.1, OS X 10.11.4, a bunch of add ons installed, including Tab Mix Plus. See screenshots below:

![screenshot 2016-05-10 08 10 50](https://cloud.githubusercontent.com/assets/142755/15146072/45a25e66-1687-11e6-82aa-3e568ed46d15.png)

![screenshot 2016-05-10 08 12 08](https://cloud.githubusercontent.com/assets/142755/15146078/4bb5dd14-1687-11e6-8c25-24930

[2016-05-11 21:21] pdehaan opened #796 "Unable to install Test Pilot add-on if I have HttpFox installed/active"
Found in https://testpilot.firefox.com/__version__ (f5b1b19dfdcbaafba4e5fc335fdc8b90cdfc79bd):

[code]

---

@jrgm showed me this this morning and I was able to reproduce locally (as long as HttpFox is toggled/active).
### Steps to reproduce:
1. Install https://addons.mozilla.org/en-US/firefox/addon/httpfox/ and open the network monitor (Tools > Web Developer > HttpFox > Toggle HttpFox)
2. Go to h

[2016-05-11 21:45] ghost opened #797 "Activity Stream Takes Time To Start"
Activity Stream work fine but after a re-install the program dont work everytime and need me to re-open the New Tab to work. (That is Normal?)

[2016-05-11 21:56] meandavejustice commented on #797
Thanks @edgibara I've moved this issue to https://github.com/mozilla/activity-stream/issues/682

[2016-05-11 21:56] #797 closed, assigned to nobody

[2016-05-11 22:03] meandavejustice commented on #795
related to #680

[2016-05-11 22:34] pdehaan opened #798 ""TypeError: e is undefined" if I click the [...] button lots"
Found in https://testpilot.firefox.com/__version__ (f5b1b19dfdcbaafba4e5fc335fdc8b90cdfc79bd):

[code]

---
### Steps to reproduce:
1. Go to https://testpilot.firefox.com/ and sign in.
2. Install the add-on.
3. Click the [...] in the top-right corner.
4. After the drop-down menu is open, keep clicking the [...] button.
### Actual results

The first time you click the [...] button, life is great an

[2016-05-11 22:43] pdehaan commented on #796
Clicking "Stop" in HttpFox and then clicking [Installing Test Pilot...] button again seems to make it work, so it definitely looks like its an add-on issue. Not sure how actionable this is.

[2016-05-11 22:44] cvan opened #799 "The doorhanger is following me…"
<img width="1440" alt="screen shot 2016-05-11 at 3 40 05 pm" src="https://cloud.githubusercontent.com/assets/203725/15198841/e461a540-178e-11e6-9188-bfe97e6da806.png">

Mac OS X 10.11.2 (15C50)
Firefox Nightly 49.0a1 (2016-05-11)
1. Install the extension.
2. Quickly change windows.
3. Notice the cute doorhanger persists, appearing atop other applications.
4. Open Firefox to notice the doorhanger i

[2016-05-11 23:01] jaredhirsch opened #800 "Lots of JS errors on front page"
I'm seeing a ton of JS errors on the site right now. This doesn't seem normal:

<img width="1255" alt="screen shot 2016-05-11 at 4 00 16 pm" src="https://cloud.githubusercontent.com/assets/96396/15199264/965d9bee-1791-11e6-82e3-9174b055853a.png">

[2016-05-11 23:33] pdehaan commented on #800
@6a68 Are you still seeing this, or was it HTTP/50x related?
I'm not seeing it currently on https://testpilot.firefox.com/experiments w/ Release.

[2016-05-12 04:35] Recon419A opened #801 "Fullscreen video display not rendering correctly."
![2016-05-11 1](https://cloud.githubusercontent.com/assets/16583234/15204258/f8ee7c62-17d0-11e6-99bf-e67242f539bc.png)
![2016-05-11](https://cloud.githubusercontent.com/assets/16583234/15204259/f8efa664-17d0-11e6-8d09-0544366bd923.png)

The fullscreen button on Netflix and YouTube causes bars to remain on the sides of the screen when clicked.

[2016-05-12 06:30] Finnikin opened #802 "Stuck on 'Enabling' for over 10 minutes"
After installing Tab Center successfully, I attempted to enable both Activity Stream and Universal Search. Both of which I have tried to enable separately with no success except for the 'Enabling button acting as though it is loading for over ten minutes each. Any help is appreciated.

Screen Grab:
![Enabling_Loop](https://cloud.githubusercontent.com/assets/1754642/15205946/c8cdc34c-185e-11e6-8d2a

[2016-05-12 06:49] ckprice commented on #761
I'd like to bring down the scope of this to just simple meta tags (title, description, image) on [`/frontend/templates/testpilot/frontend/index.html`](https://github.com/mozilla/testpilot/blob/master/testpilot/frontend/templates/testpilot/frontend/index.html) if we can.

This would generate the same preview for all pages, yes, but until #419 is completed sharing out experiment URLs is going to be

[2016-05-12 10:11] Salamafet opened #803 "Unable to Customize Firefox top navigation bar with Testpilot Installed"
I have installed Testpilot addon and want to move the button of the addon in the menu section.

But when I switch Firefox in the customize mode the top navigation bar disappear. When I remove Testpilot I can customize the navigation bar again.

![capture du 2016-05-12 12 12 48](https://cloud.githubusercontent.com/assets/783351/15211417/56bee380-183b-11e6-93ba-bc681d026038.png)

I use Elementary OS

[2016-05-12 11:05] eklem opened #804 "Feedback form preventing feedback?"
Hi,
I'm testing `Activity stream`, `Tab center` and `Universal search`, and I get new ideas for feedback all the time, but it's cumbersome to reply to all the generic questions all the time. Maybe skip it or keep the old answers the second time around?

[2016-05-12 12:24] ddepatie opened #805 "All Conflict"
Hi; I am so excited to finally have a little input!!! I am on windows 10 enterprise, 64bit, i7 with 16GB. I have engaged all three; Active stream, Tab Center & Universal search. I [CRTL] + [TAB] all day between windows. There is an issue with the full screen mode. You can not see the information at the bottom of the window. But, if you use [F11] to full screen then the bottom of the window is view

[2016-05-12 12:40] northernned commented on #802
I had a similar experience. I found if you disable tab center and go back to enable either activity stream or universal search, they seem to enable.

I had to hit enable give it a few seconds then go back to the test pilot homepage and then they appear as enabled

[2016-05-12 12:47] jmathies opened #806 "highlight color conflicts with text color on Windows 7"
awesome hover highlight color conflicts with test color of suggested entry.

windows 7
![highlight](https://cloud.githubusercontent.com/assets/959837/15214969/ad5a0592-1815-11e6-9808-f6d8676093be.jpg)

[2016-05-12 13:10] Finnikin commented on #802
Thanks for your suggestion, I just tried that and it did not work for me. However, I was able to re-enable the Tab-Center after attempting it.

[2016-05-12 13:33] m-sivasubramanyan opened #807 "I would like my tabs back on top."
How do I enable the tabs back in their original postion - i.e. the top.

[2016-05-12 13:51] chuckharmston commented on #807
You should be able to restore them by disabling Tab Center here: https://testpilot.firefox.com/experiments/tab-center

Thanks for trying it out!

[2016-05-12 13:51] #807 closed, assigned to nobody

[2016-05-12 14:12] prakash7611 opened #808 "Server Error"
While i try to activate tab center, i got server error
![untitled](https://cloud.githubusercontent.com/assets/12865440/15217556/a5de5606-1879-11e6-89dc-4ac1e12591de.png)

[2016-05-12 14:19] ckprice opened #809 "Add page URL to `pageview` events."
Looks like our [GA `pageview` sends](https://github.com/mozilla/testpilot/blob/f5b1b19dfdcbaafba4e5fc335fdc8b90cdfc79bd/testpilot/frontend/static-src/app/views/experiment-page.js#L182) aren't registering the URL correctly.

![ga](https://cloud.githubusercontent.com/assets/8632184/15217630/460c4f8e-1811-11e6-9c8b-721f854a65f7.png)

/edit looks like sometimes the do, too.

![smetimes](https://s3.ama

[2016-05-12 14:28] mostlygeek opened #810 "Triage of recent outage and changes to make to improve scaling"
While triaging the recent outage we discovered that:
- when `DEBUG=false`
  - the app returns a 500 error code for all requests. This includes `/` and `/__lbheartbeat__` which means it can never join the load balancer.
  - whitenoise defaults to `Cache-Control: public, max-age=0` for static assets which disables nginx proxy caching.
- ~~~the app appears to be single threaded, able to handle only a

[2016-05-12 14:33] mostlygeek commented on #808
Hello,

Thank you for reporting this issue. The site should be available now.

Closing this issue in favor of #810.

[2016-05-12 14:33] #808 closed, assigned to nobody

[2016-05-12 14:55] ghost opened #811 "Site not loaded"
After enabling, https://en8.forgeofempires.com/game/index?ref= (uses Flash player) stops working. It does not load. (White screen.)

[2016-05-12 15:03] mostlygeek commented on #810
I figuree out the concurrency issue and will fix on the deployment side. Basically set `WEB_CONCURRENCY` to 4\* number of CPUs in the environment.

[2016-05-12 15:45] mutharasum23 opened #812 "i cant able to test "Tab Center""
I am using ubuntu  14.04  with firefox. i cant able to access the tab center option

[2016-05-12 15:48] meandavejustice commented on #811
Thank you @slitkx, This sounds like a bug for the firefox bugtracker, https://bugzilla.mozilla.org/. Here are some tips for reporting bugs https://developer.mozilla.org/en-US/docs/Mozilla/QA/Bug_writing_guidelines

[2016-05-12 15:48] #811 closed, assigned to nobody

[2016-05-12 15:52] ryanfeeley opened #813 "Test Pilot add-ons don't sync"
Was testing out Sync performance and noticed that while AMO add-ons and themes are syncing, Test Pilot was not.

Original device:
<img width="1286" alt="unknown" src="https://cloud.githubusercontent.com/assets/68213/15221096/00e4545c-1838-11e6-9b86-e86710cd862a.png">

Second device:
![57349dba3c2a7](https://cloud.githubusercontent.com/assets/68213/15221095/00e120f2-1838-11e6-8e2a-1a2a0bbfd3cf.jpg)

[2016-05-12 15:54] meandavejustice commented on #802
Thanks for reporting @Finnikin. It sounds like we need better error handling and messaging here.

[2016-05-12 15:55] meandavejustice commented on #806
Moved to https://github.com/mozilla/universal-search/issues/215

[2016-05-12 15:55] #806 closed, assigned to nobody

[2016-05-12 15:57] meandavejustice commented on #804
@eklem This is a good point. ccing/ @ckprice for discussion.

[2016-05-12 15:59] pdehaan commented on #805
@ddepatie Thanks for trying Test Pilot and giving feedback!
It sounds like you're hitting this **Tab Center** issue: https://github.com/bwinton/VerticalTabs/issues/105.

Closing this bug in favor of the upstream Tab Center bug.

[2016-05-12 15:59] #805 closed, assigned to nobody

[2016-05-12 16:00] leewalsh commented on #803
I also have this issue, but only when _Tab Center_ is activated. _Test Pilot_ itself has no effect.

I have _Test Pilot_ installed with _Activity Stream_ and _Tab Center_ activated, and cannot move icons to or from the menu bar. I also do not have the option to hide the title bar (this may be intentional, but I would like to keep the option).
I can only move icons between the drop-down menu and th

[2016-05-12 16:01] pdehaan commented on #684
+1 to trying to do this in the current sprint. We're having a few reports of users unable to install experiments or spinners spinning. /cc @ckprice @clouserw

---
- #812 &mdash; i cant able to test "Tab Center"
- #802 &mdash; Stuck on 'Enabling' for over 10 minutes
- #800 &mdash; Lots of JS errors on front page
- #798 &mdash; "TypeError: e is undefined" if I click the [...] button lots
- #794 &mda

[2016-05-12 16:11] pdehaan commented on #792
@mrleblanc101 Thanks for the bug report! It sounds like you're likely hitting this issue: #755

We're investigating and hope to have a fix shortly.
Closing this issue in favor of #755.

[2016-05-12 16:11] #792 closed, assigned to nobody

[2016-05-12 16:12] pdehaan commented on #755
Also reported by another user in #792. Apparently refreshing the page worked for them, but still pretty bad user experience.

[2016-05-12 16:12] meandavejustice commented on #801
@Recon419A Is this a bug report for testpilot or firefox?

[2016-05-12 16:13] Masteroftruth opened #814 "Bottom of Webpages are not shown"
Hi - Im testing things and I already see a problem - the bottom of some of my datingsites - like plantromeo and gayroyal
Is there anything to do about that

[2016-05-12 16:14] #746 closed, assigned to ckprice

[2016-05-12 16:16] chuckharmston commented on #810
The default value for `WHITENOISE_MAX_AGE` is `60 if not settings.DEBUG else 0`, so it seems likely that being able to turn `DEBUG` to `False` will solve the problems.

http://whitenoise.evans.io/en/stable/django.html#WHITENOISE_MAX_AGE

That said, there's no reason we couldn't set it to `60 * 60 * 24` or something moderately aggressive, since the upstream cache is flushed with each deploy.

[2016-05-12 16:21] pdehaan commented on #814
@Masteroftruth Thanks for the bug report!
It looks like you're probably hitting the following **Tab Center** issue: https://github.com/bwinton/VerticalTabs/issues/105

Closing in favor of upstream bug.

[2016-05-12 16:21] #814 closed, assigned to nobody

[2016-05-12 16:24] ghost commented on #811
Why would that be a bug for Firefox Bugtracker, as page is not loaded AFTER enabling this experimental feature?

[2016-05-12 16:27] mostlygeek commented on #810
The `Cache-Control` value is sent to the user as well, so we have to consider the browser's cache too. I think 60s will already make a huge performance improvement on the server side.

[2016-05-12 16:33] ghost opened #815 "Telemetry pings are underreported"
This is https://bugzilla.mozilla.org/show_bug.cgi?id=1272395 .  I don't know if it's in the code or in the pipeline.  I think we're just doing a simple call to submitExternalPing() but this issue is to double check that code and make sure we're not doing anything obviously wrong.  We'll come at it from the other side too.

[2016-05-12 16:34] pdehaan commented on #811
@slitkx Which add-ons/experiments did you enable on the Test Pilot site?
I have the Test Pilot and Activity Stream add-ons enabled in my Firefox 46/OS X and am able to see  https://en8.forgeofempires.com/game/index?ref= (and the Flash video on that page).

Does disabling the Test Pilot add-on make the forgeofempires site start working again?

[2016-05-12 16:38] johngruen commented on #813
@ryanfeeley This is probably a good thing, since idk if the signed-in account state would persist across devices. Tempted to wontfix

[2016-05-12 16:43] lmorchard commented on #810
This Django app is not evented and I don't think multi-threading support is great in Django & Python - though my understanding might be outdated.

Looks like [gunicorn has a config option to run multiple worker processes](http://docs.gunicorn.org/en/latest/run.html#commonly-used-arguments), which I think is the thing to do here. The docs suggest "This number should generally be between 2-4 workers

[2016-05-12 16:54] relud commented on #810
When I was load testing [normandy](https://github.com/mozilla/normandy) we found that the right number of workers varied greatly by which worker type being used (between sync, eventlet, and gevent). eventlet got the best performance with 1 worker per core, and sync should not be used in production. I don't remember how gevent performed, other than being slower than eventlet.

[2016-05-12 16:54] pdehaan commented on #812
@mutharasum23 What do you mean by "i cant able to access the tab center option"?

Is the https://testpilot.firefox.com/experiments/tab-center page not loading for you, or is the add-on not enabling as expected?

[2016-05-12 17:03] ghost commented on #811
First site is loaded, but a white screen appears after clickin on 'world's' button (to actually enter game's playground). I'll try and reply.

[2016-05-12 17:04] pdehaan commented on #738
Upstream **legal-docs** package.json fix was merged (thanks @clouserw!), in case anybody wants to jump on this before I get around to it.

[2016-05-12 17:05] smol-ninja opened #819 "Problem on youtube full screen - tab center"
![selection_002](https://cloud.githubusercontent.com/assets/6676622/15223379/c51b5e02-1891-11e6-9656-e6f9a6d20506.jpg)

When I make the YouTube video full screen, this is how it looks like. You see that white area on the right and bottom side of the page. This problem arises when I enabled tab center .

[2016-05-12 17:08] ghost commented on #811
It stops working after enabling Tab Center - more specific, after clicking on 'Houndsmoor' button (Houndsmoor is one of the worlds.) After disabling Tab Center, site is automatically and successfully reloaded.

![free to play strategy game online - forge of empires](https://cloud.githubusercontent.com/assets/10394206/15223445/c3860460-1874-11e6-805d-492b80557c86.png)

[2016-05-12 17:13] pdehaan commented on #803
Thanks @Salamafet and @leewalsh for the feedback!
I've moved this to the upstream **Tab Center** repo for tracking: https://github.com/bwinton/VerticalTabs/issues/195

[2016-05-12 17:13] #803 closed, assigned to nobody

[2016-05-12 17:13] aayubkh opened #820 "Tab Center - Find Bar Strange Behaviour"
## Bookmarks Toolbar Enabled

Whilst the Bookmars Toolbar is **enabled**, the Find Bar is almost invisible. The current work-around is to set the Windows taskbar to **auto-hide** mode (which of course is not very convenient).
![untitled](https://cloud.githubusercontent.com/assets/7010039/15223499/3ae6c9fe-188e-11e6-8f55-e44bc3ba907e.png)
## Bookmarks Toolbar Disabled

However, it shows normal beha

[2016-05-12 17:15] pdehaan commented on #820
@guseppiguliano Thanks for the bug report!
I believe this is a dupe of this **Tab Center** issue: https://github.com/bwinton/VerticalTabs/issues/105

Closing this in favor of the upstream **Tab Center** issue.

[2016-05-12 17:15] #820 closed, assigned to nobody

[2016-05-12 17:18] pdehaan commented on #819
@shubhamy: Which **Test Pilot** experiments do you currently have enabled?
This may be the same issue as #801, but more details would help debug this.

[2016-05-12 17:21] smol-ninja commented on #819
I have updated my comment. And yes, it is the same issue as #801. Frankly I am loving the tab center feature. But this is the only issue which forced me to disable it. But I had to enable it again because of the flexibility of switching tabs that it gives when the number of tabs increases.

I have also observed that if I keep sidebar open by pinning it, the width of the white area increases.

[2016-05-12 17:23] mostlygeek commented on #810
I think @lmorchard has the right approach. Going multi-process means less simpler and we don't have to worry about django+middleware being async safe.

[2016-05-12 17:28] pdehaan opened #821 "Add ISSUE_TEMPLATE.md to help adventurous issue reporters find the correct repos"
The exceptionally handsome @chuckharmston reminded me of the new [Issue and Pull Requests templates](https://github.com/blog/2111-issue-and-pull-request-templates) support in GitHub and they'd probably be a good fit in this repo.

I figure a simple .github/ISSUE_TEMPLATE.md which possibly points people to the correct experiment repos before they file an issue in Test Pilot.

Can't hurt to try... O

[2016-05-12 17:30] kumar303 opened #822 "Switch to sign-addon for `npm run sign`"
The [npm run sign](https://github.com/mozilla/testpilot/blob/master/addon/bin/sign) script requires the [jpm](http://github.com/mozilla-jetpack/jpm/) package to perform signing. After https://github.com/mozilla-jetpack/jpm/issues/519 lands, jpm will be using the [sign-addon](https://github.com/mozilla/sign-addon/) module directly for signing so testpilot should use `sign-addon` directly as well.

[2016-05-12 17:33] smol-ninja opened #823 "Footer not visible - tab center"
![selection_001](https://cloud.githubusercontent.com/assets/6676622/15224210/b618a276-1895-11e6-9baf-b7a8171ef2c3.jpg)
![selection_002](https://cloud.githubusercontent.com/assets/6676622/15224211/b61ec99e-1895-11e6-949f-e193d997c17b.jpg)

When I enable tab center, footer is not completely visible.

[2016-05-12 17:33] ckprice commented on #822
@kumar303 I don't suppose this would also fix #715?

[2016-05-12 17:34] tamasbaksa opened #824 "Google Inbox layout problem with Tab Center"
The layout of Google Inbox gets messed up with Tab Center enabled. The bottom ~50px is not seen and not accessible, thus many function of Inbox cannot be used. Please refer to the screenshots.
![ginbox_with-tc](https://cloud.githubusercontent.com/assets/19331932/15224177/47b042fc-1878-11e6-828a-6a6d369ed010.png)
![ginbox_without-tc](https://cloud.githubusercontent.com/assets/19331932/15224182/495f

[2016-05-12 17:37] tamasbaksa commented on #824
Well, it is not only the Inbox, it occurs everywhere, as it is stated in [this issue](https://github.com/mozilla/testpilot/issues/823).

[2016-05-12 17:41] meandavejustice commented on #822
@ckprice Nope, this is basically a code quality upgrade. Thanks @kumar303

[2016-05-12 17:44] meandavejustice commented on #821
YAAASSS

[2016-05-12 17:47] CiRiX- opened #826 "Fullscreen issue - Tab Center"
Hello. I really like the idea for the Tab Center plugin. I have one problem with it. When entering fullscreen mode in videos, it doesn't use the whole screen. It looks like Tab Center takes up the space on the sides of the video.

It looks like this when going into fullscreen mode in a video on youtube: https://i.imgur.com/Nkha3VC.png

[2016-05-12 17:47] ckprice commented on #821
👍

[2016-05-12 17:48] Recon419A commented on #801
It only applies to the new tab center.

[2016-05-12 17:50] pdehaan commented on #801
@Recon419A Thanks for the bug report. I've moved the bug to the **Tab Center** repo: https://github.com/bwinton/VerticalTabs/issues/196

Closing this issue in favor of the upstream Tab Center one.

[2016-05-12 17:50] #801 closed, assigned to nobody

[2016-05-12 17:51] pdehaan commented on #819
@shubhamy Thanks for the bug report. I've moved the bug to the **Tab Center** repo: https://github.com/bwinton/VerticalTabs/issues/196

Closing this issue in favor of the upstream Tab Center one.

[2016-05-12 17:51] #819 closed, assigned to nobody

[2016-05-12 17:51] pdehaan commented on #826
@CiRiX- Thanks for the bug report. I've moved the bug to the **Tab Center** repo: https://github.com/bwinton/VerticalTabs/issues/196

Closing this issue in favor of the upstream Tab Center one.

[2016-05-12 17:51] #826 closed, assigned to nobody

[2016-05-12 17:54] pdehaan commented on #821
You sure you don't want to add any more Labels to this? I'm sure we have a few extra stored in the back room if you need me to find them.

[2016-05-12 17:58] pdehaan commented on #823
@shubhamy Thanks for the bug report!
I believe this is a dupe of this **Tab Center** issue: https://github.com/bwinton/VerticalTabs/issues/105

Closing this in favor of the upstream **Tab Center** issue.

[2016-05-12 17:58] #823 closed, assigned to nobody

[2016-05-12 17:58] pdehaan commented on #824
@tamasbaksa Thanks for the bug report!
I believe this is a dupe of this **Tab Center** issue: https://github.com/bwinton/VerticalTabs/issues/105

Closing this in favor of the upstream **Tab Center** issue.

[2016-05-12 17:58] #824 closed, assigned to nobody

[2016-05-12 18:03] kumar303 commented on #715
But the add-on is signed, right? You shouldn't see this error with a signed, self-hosted add-on so I'm confused.

[2016-05-12 18:09] lmorchard commented on #715
As far as I can tell, we're signing it with every version change and deployment tag.

[The add-on .xpi is here](https://testpilot.firefox.com/static/addon/addon.xpi) - is there an easy way to verify the signature from the command line, if only to double check we're doing the right thing?

[2016-05-12 18:14] lmorchard commented on #715
Just to double check, I downloaded our deployed [self-hosted add-on](https://testpilot.firefox.com/static/addon/addon.xpi) and [what should be the equivalent private version on AMO](https://addons.mozilla.org/firefox/downloads/file/436538/test_pilot_addon-0.5.7-tag-2016-05-10-fx+an.xpi?src=devhub). Ran `shasum` on the two XPIs and got the same hash:

[code]

[2016-05-12 18:14] andymckay commented on #715
It's not an error, its a warning that occurs to prevent drive by installations of malicious add-ons. The signing failure is quite a different warning.

[2016-05-12 18:17] lmorchard commented on #761
Yeah, I think that would be a good first step, at least. Only need to change one spot, don't need to add per-experiment routes.

We could iterate on adding those later and get _something_ better now even if it's the same for all URLs. That will be kind of a moot point until #419 is resolved, anyway.

[2016-05-12 18:31] ckarlof commented on #813
I'm not seeing Test Pilot itself sync. There's way to Sync custom stuff for addons and I'd consider exploring that before closing wontfix.

[2016-05-12 18:31] ckarlof opened #827 "Blank page after login"
It's intermittent.

<img width="1542" alt="screenshot 2016-05-12 11 29 26" src="https://cloud.githubusercontent.com/assets/2365255/15225834/126dff1e-1835-11e6-9957-e2b862af8867.png">

[2016-05-12 18:32] ckarlof commented on #827
I'm running Nightly 49 with TP enabled.

[2016-05-12 18:47] ghost commented on #815
It looks like we only ping if it's been longer than 24 hours:  https://github.com/mozilla/testpilot/blob/master/addon/lib/metrics.js#L72

[2016-05-12 18:48] johngruen commented on #827
Yes, I've been seeing this too, no experiments installed

[2016-05-12 18:50] johngruen commented on #827
Got a screenshot...nothing enabled.

![screen shot 2016-05-12 at 2 49 50 pm](https://cloud.githubusercontent.com/assets/3323249/15226464/d00f8144-1850-11e6-8a00-ad0c1cee1487.png)

[2016-05-12 18:51] johngruen commented on #827
![screen shot 2016-05-12 at 2 50 50 pm](https://cloud.githubusercontent.com/assets/3323249/15226503/f91a6fcc-1850-11e6-8c1e-8c81337d4b08.png)

[2016-05-12 18:52] mikeparadinas opened #828 "rare pepe"
![timefliesoldfagpepe 1](https://cloud.githubusercontent.com/assets/13681989/15226530/5d6790ae-1883-11e6-813c-91d27bd410dd.jpg)

[2016-05-12 18:56] johngruen commented on #804
Hey @eklem, I agree :) we want to make the whole feeback circuit a lot shorter...feel free to file issues on github.

[2016-05-12 18:58] ghost commented on #684
If we can integrate Django (which I think is mostly adding to INSTALLED_APPS?) it would be good to land that asap and worry about the client side later.  (I saw the size:large tag and assume that's about the client side).

[2016-05-12 19:06] pdehaan commented on #755
Also reported by @ckarlof and @johngruen in #827

[2016-05-12 19:07] MattGrimes opened #829 "Pass UT Client ID to Survey Gizmo"
Was just talking to Rebecca about this. When we recruit users through Heartbeat to fill out a survey for each experiment, it would be really powerful to be able to match that to the UT data. That means we'll be able to correlate what users are actually doing with attitudinal measures. @ckprice I think this is covered under the consent page already.

[2016-05-12 19:07] pdehaan commented on #827
@ckarlof @johngruen Thanks for the report.
I reckon this is a dupe of #755.

[2016-05-12 19:07] #827 closed, assigned to nobody

[2016-05-12 19:12] erikrose opened #830 "404 when signing in"
I wanted to try out test pilot (yay!), so I…
1. Went to https://testpilot.firefox.com/
2. Clicked "Get started with a Firefox Account"
3. Clicked "Sign In" on the page that popped up showing my email address

I was rewarded with a redirect to https://testpilot.firefox.com/accounts/inactive/, which says, literally "Four Oh Four!". (Note that my Firefox Account is probably weird in some way; I belie

[2016-05-12 19:18] ghost commented on #830
Having the same issue.

[2016-05-12 19:21] lmorchard commented on #830
This may be a reappearance of #487, because I think our invite-mode flag got accidentally flipped back on in prod and #687 hasn't been deployed yet to remove the invite-mode code.

[2016-05-12 19:24] pdehaan commented on #830
@erikrose Were you using an @mozilla.com email, or something else?

[2016-05-12 19:28] whroll opened #831 "can't edit properties in bookmark links"

[2016-05-12 19:29] ghost commented on #715
To answer the "why not AMO" question:    You have to wait through a review queue (which, last time I looked, was down to a few hours), however, it breaks our easy/automatic deploy of add-on + site all at once.  This makes it harder to adjust APIs and stuff quickly, however, since test pilot is a stable project (that is, not an experiment) we should be pretty careful with API adjustments anyway.

I

[2016-05-12 19:34] whroll commented on #831
I installed testpilot and tab center. Had terrible problem logging in with my Firefox account credentials, kept being taken to the download screen. So I quit tab center and uninstalled testpilot. Now I am back to the regular tabs. The negative result is that now I can no longer edit properties in the bookmark items.

[2016-05-12 19:35] kumar303 commented on #715
This doesn't verify the signature but it's a quick sanity check that the add-on has a signature:

[code]

[2016-05-12 20:22] kumar303 commented on #715
Just for the record, I was completely wrong about this statement:

Sorry, my bad

[2016-05-12 20:24] ckprice commented on #715
No worries, thanks for checking it out!

[2016-05-12 20:26] #721 closed, assigned to meandavejustice

[2016-05-12 20:54] D3xMorgan opened #835 "Tab Center incompatability"
This add-on is not compatible with Tab Mix Plus. While I do like that add-on, I had to disable it to test Tab Center. This is just fyi...

[2016-05-12 21:13] #821 closed, assigned to pdehaan

[2016-05-12 21:21] pdehaan commented on #835
@D3xMorgan Thanks for the bug report.
I've moved this over to the **Tab Center** repo for tracking: https://github.com/bwinton/VerticalTabs/issues/201

[2016-05-12 21:21] #835 closed, assigned to nobody

[2016-05-12 21:44] onekopaka commented on #830
I was having this issue about when this was first filed, but I was able to log in now. For what it's worth, I was using a gmail.com email.

[2016-05-12 22:11] lmorchard commented on #810
So, I think the 500 errors when DEBUG=False on prod boil down to one issue in the frontend HTML template, which #834 should fix on next deploy. And once DEBUG=False, the default 60 second Max-Age header in whitenoise should kick in.

[2016-05-12 22:14] #745 closed, assigned to meandavejustice

[2016-05-12 22:31] pdehaan commented on #830
@lmorchard Was this resolved on the prod server, and we can close this now?

[2016-05-12 22:42] ghost opened #837 "What's with the new "bookmarks bar"?"
I can't move the bookmarks bar to under the address bar, where it usually sits.

[2016-05-12 22:47] pdehaan commented on #837
@jasoncheng1024 Which TestPilot add-ons do you currently have installed?

[2016-05-12 23:14] BridgetSmithSF opened #838 "Mail pane cut off at bottom"
I don't know which add-on is causing it, but when I open a new email pane in gmail—to compose an email—the bottom is cut off, including the Send button. If I expand the pane, enough of the Send button is visible to click. OS is 10.9.5 and Firefox version is 46.0.1.

![truncated mail pane](https://cloud.githubusercontent.com/assets/19335880/15233307/83df0900-185c-11e6-9443-1ba15c46be93.png)

[2016-05-12 23:15] ckprice opened #839 "GA refinements"
Met with @garethcull and team today, and we have a couple of requests.
1. Send an identifier on the `Install add-on` page that the user has successfully signed into FxA.
2. Add the experiment title to the Enable/Disable/Feedback events on the experiment details page.

Updating these to (@garethcull ok?)

[code]

[2016-05-12 23:15] ckprice commented on #809
Closing this in favor of #839 after meeting with the GA team this may not be required.

[2016-05-12 23:15] #809 closed, assigned to nobody

[2016-05-12 23:17] pdehaan commented on #838
@BridgetSmithSF Thanks for the bug report!
I believe this is a dupe of this **Tab Center** issue: https://github.com/bwinton/VerticalTabs/issues/105

Closing this in favor of the upstream **Tab Center** issue.

[2016-05-12 23:17] #838 closed, assigned to nobody

[2016-05-12 23:24] erikrose commented on #830
@pdehaan I was using a non-mozilla.com email address.

[2016-05-13 00:11] mostlygeek commented on #810
Great! let's get this deployed asap! When you're ready please roll a release and we'll get it into stage to kick the tires a bit.

[2016-05-13 00:33] johngruen commented on #831
Hi @whroll let's try to fix your problem. The first thing to do is to try to quit Firefox and restart it. If that doesn't work, can you go to your add-on manager in firefox and tell me if test pilot or tab center remain installed? The add-on manager can be accessed with these instructions: https://support.mozilla.org/en-US/kb/find-and-install-add-ons-add-features-to-firefox#w_how-do-i-find-and-ins

[2016-05-13 00:38] johngruen commented on #788
@6a68 let's do this for now...see how we do and iterate:
<img width="1440" alt="screen shot 2016-05-12 at 8 11 00 pm" src="https://cloud.githubusercontent.com/assets/3323249/15234611/742a211e-1881-11e6-9e91-deb19367a25c.png">

<img width="1440" alt="screen shot 2016-05-12 at 8 25 21 pm" src="https://cloud.githubusercontent.com/assets/3323249/15234609/6d90df78-1881-11e6-9d48-37379ddab715.png">

[2016-05-13 00:57] xbouroseu opened #840 "Plugins dysfuctioning after disabling experiment add-ons"
It seems when i disable one of the experiment add-ons then some plugins did not work (ex. Lastpass, Pocket) and also the "Customize" option from the toolbar brought an empty page (with not tools or whatsoever).

OS: Mac OS X El Capitan
Latest Firefox 46.0.1 Release channel

[2016-05-13 03:55] whroll commented on #831
I restarted Firefox, and the problem was fixed. Thanks.

Sincerely,

William Henry Roll

whroll@gmail.com
The _New_ Roll Family Windmill:
http://rollwindmill.org
The Genealogy of the Roll and Allied Families:
http://wc.rootsweb.ancestry.com/cgi-bin/igm.cgi?db=wroll

On Thu, May 12, 2016 at 5:33 PM, John Gruen notifications@github.com
wrote:

[2016-05-13 06:25] pdehaan commented on #788
In the spirit of copy-pasta, here's the screenshot text:

~~I'm not sure if "leave feedback through Test Pilot" should be linked or not. Wasn't sure if that directs people to the GitHub issues for Test Pilot, or if we leave it unlinked and it's implied that it's the experiment specific "Give feedback" buttons.~~

[2016-05-13 10:29] eklem commented on #804
Didn't I just do that, @johngruen ? =P Or do you want it in another form or more specific?

[2016-05-13 12:53] WorldsEndless opened #841 "Test Center doesn't seem compatible with Diigo sidebar"
Linux (OpenSUSE) 42.1. Maybe the side-tabs makes sense on a wide-screen real-estate idea, so I was willnig to give it a chance--but not when it conflicts with other sidebar addons, most notably my bookmarks in diigo. The sidebar couldn't open until center tabs was gone.

[2016-05-13 12:53] InfiniteMonkeys commented on #772
OS: Windows 10 64-bit
Firefox: 46.0.1
Test Pilot Add-On
- AddOn Name: Test Pilot-0.5.7-tag-2016-05-10
- Enabled: Yes
- Environment: Production (testpilot.firefox.com)

[2016-05-13 14:11] johngruen commented on #841
Hey @WorldsEndless, we are aware of this iproblem and are working to fix it. I'm going to close out this issue for now. You can track our progress on sidebars here: https://github.com/bwinton/VerticalTabs/issues/62

Thanks for your input!

[2016-05-13 14:11] #841 closed, assigned to nobody

[2016-05-13 14:12] johngruen commented on #840
@xbouroseu does restarting firefox resolve this issue?

[2016-05-13 14:18] johngruen commented on #831
Glad to hear it! Thank you for your feedback and thanks for trying out Test Pilot.

[2016-05-13 14:18] #831 closed, assigned to nobody

[2016-05-13 14:21] johngruen commented on #737
@rayborn @MattGrimes can i close this?

[2016-05-13 14:53] MattGrimes commented on #737
One point of clarification first. Do you still want to redirect back to TxP? Since we are now opening in a new tab you'd end up with two TxP tabs open. I think we just leave it as is, but your call.

[2016-05-13 15:01] xbouroseu commented on #840
Yes it does.  Also, i tried to reproduce it and the only plugin responsible for this is the "Universal Search Bar".

[2016-05-13 15:27] lmorchard commented on #810
@ckprice Friday deployments stink, but maybe we should get something started to staging at least? That, or something early Monday. Would be nice to see if recent work resolves things and we can turn off DEBUG on stage & prod

[2016-05-13 15:53] pdehaan commented on #840
@xbouroseu Thanks for the bug report. I've moved this over to the **Universal Search** repository for better tracking: https://github.com/mozilla/universal-search/issues/221

Closing in favor of the upstream issue.

---

**UPDATE:** We believe the Customize issue is likely related to https://github.com/bwinton/VerticalTabs/issues/50.

[2016-05-13 15:53] #840 closed, assigned to nobody

[2016-05-13 15:57] lmorchard commented on #702
I have a hunch that this might be caused by the pre-signed S3 URLs we've been using (and fixed in #836). IIRC, those pre-signed URLs expire after about 10 min. So, If your add-on loaded up the list of experiments from the API, and it took you a little bit to try looking at the list, those image requests could end up being "access denied" messages from AWS and so never appear.

TL;DR: It's possible

[2016-05-13 15:58] pdehaan commented on #830
Looks like OPs and @lmorchard fixed this on prod yesterday with some magic. Closing.
Let us know if anybody is still having login issues and we'll investigate.

[2016-05-13 15:58] #830 closed, assigned to nobody

[2016-05-13 16:05] lmorchard commented on #715
Hmm, this URL is a 404, and I can't see an `html` directory under [`static`](https://github.com/mozilla/addons-server/tree/master/static). Did that go away?

[2016-05-13 16:16] johngruen commented on #788
@pdehaan i think for now, let's leave that copy unlinked. It's available on the landing page as well as the experiment pages, so it'd be hard to determine intent.

[2016-05-13 16:18] andymckay commented on #715
Yup, after looking at it for this issue I realised it wasn't need and removed it. Here's one added for shield recently:

https://github.com/mozilla/addons-server/blob/f3a457b68f5e43bc5b76ae4dc961013bbf2eaf94/src/olympia/pages/templates/pages/shield_study_2.html

[2016-05-13 17:38] johngruen commented on #702
@meandavejustice @lmorchard definitely on prod. Willing to believe @lmorchard's diagnosis

[2016-05-13 17:39] johngruen commented on #702
I also have not been able to repro this recently, (since launch day really)...maybe close it?

[2016-05-13 17:40] robster2001 opened #843 "Add-ins won't install"
- [Windows 10 build 10586.318 ] Operating system
- [Firefox 46.0.1 Release ] Firefox build (Nightly, Developer Edition, Beta, Release)

---

The Activity Stream & Universal Search apps will not install in my copy of Firefox.  I have deleted almost all of my add-ons and disabled my adblocker on firefox.com, but the app page sits at "Enabling..." for hours  (if I let it) without the app loading.   O

[2016-05-13 17:47] rtanglao commented on #719
i have this problem in developer edition and so do users:

https://twitter.com/uimanishere/status/731162989735350273

[2016-05-13 17:48] #750 closed, assigned to johngruen

[2016-05-13 17:49] meandavejustice commented on #702
We should wait until the pre-signed S3 fix is on prod. Is that the case yet? @lmorchard

[2016-05-13 17:56] johngruen commented on #774
Okay, working on this now.

[2016-05-13 18:16] pdehaan commented on #702
I still see this occasionally on production, but I can't find reliable repro steps since it usually resolves itself after a refresh or reopening of the doorhanger.

[2016-05-13 18:32] ghost opened #844 "Tab Center glitch with using bookmarks sidebar"
When pressing Ctrl-B (to open the bookmarks area) it causes an visual glitch.

[2016-05-13 18:41] pdehaan commented on #844
@Qhue Thanks for the bug report.

I believe this is related to the following **Tab Center** issue: https://github.com/bwinton/VerticalTabs/issues/62
I'll update the upstream **Tab Center** bug with your keyboard combination shortcut and some screenshots. **Update:** https://github.com/bwinton/VerticalTabs/issues/62#issuecomment-219127583

[2016-05-13 18:41] #844 closed, assigned to nobody

[2016-05-13 19:00] pdehaan commented on #786
Workaround is maybe just do the animation 5-10 times and then stop.
I think we really only have the bouncy animation on the following pages:
1. https://testpilot.firefox.com/ &mdash; if you're not logged in.
2. https://testpilot.firefox.com/experiments/ &mdash; if you're logged in and staring at list of experiments.
3. https://testpilot.firefox.com/experiments/tab-center &mdash; in the modals if y

[2016-05-13 19:33] kaus02 opened #845 "new tab button and bookmark bar missing after disabling Test pilot"
- Windows 8
- Firefox edition 46.0.1

After disabling the Test pilot:
1. new tab button is missing
2. bookmark bar is missing.

[2016-05-13 22:46] Hazz223 opened #847 "Tab Centre stopped working after using Dev tools"
Hi,

Found when using the dev tools on Facebook (turns out they have a nice little console output to stop people getting hacked, who knew?) that when i closed them suddenly the tab centre stopped working.

I activated and deactivated, which didn't work. But closing and re-opening Firefox did the trick.

Using the standard build for Firefox (46.0.1), on Mac.

Like the test pilot program though. Nic

[2016-05-14 10:45] jamiebally commented on #843
This happens to me as well. I am running Windows 10 build 10586.218 and Firefox 46.0.1

[2016-05-14 10:48] jamiebally opened #848 "Experiments won't install"
The Activity Stream & Universal Search apps will not install in my copy of Firefox. I have deleted almost all of my add-ons and disabled my adblocker on firefox.com, but the app page sits at "Enabling..." for hours (if I let it) without the app loading. Oddly, Tab Center loaded without any problem.

I am running:
- Windows 10 build 10586.218
- Firefox 46.0.1

[2016-05-14 17:59] 7837440 opened #849 "Tabs are not on side."
I'm experiencing a bug in Test Pilot. No side tabs now.
- [ ] Windows 10 64bit
- [ ] Firefox build: Beta  (I think)

---
- Activity Stream:   https://github.com/mozilla/activity-stream/issues/new
- Tab Center:        https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:  https://github.com/mozilla/universal-search/issues/new

[2016-05-14 22:02] shilow19 opened #850 "test pilot report"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues.

If you're experiencing a bug in Test Pilot, please include the following information:
- [ ] Operating system
- [x] Firefox build (Nightly, Developer Edition, Be
  If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:
- Activity

[2016-05-15 01:58] ariefbayu commented on #849
I get the same issue this morning.

OSX 10.11.4
Firefox 46.0.1

[2016-05-15 12:24] bradmont opened #851 "Constant prompts to rate Activity Stream"
- [ ] Operating system
  Debian testing.
- [ ] Firefox build (Nightly, Developer Edition, Beta, Release)
  Firefox ESR 45.0.2
  ---

Every few hours firefox prompts me to rate Activity Stream. I have already done this; the prompts should end (or at least be stopped for at least a week) once I've done it. I whould also like to be able to disable these prompts.

[2016-05-15 18:23] johngruen opened #852 "Changing user count strips out commas."
This is a good problem to have since you don't see it until user counts get above 999. Here's the bug in action:

![comma-strip](https://cloud.githubusercontent.com/assets/3323249/15275986/eb0604dc-1ada-11e6-918c-0fbf66326b5a.gif)

STR:
- go to details page of any experiment
- uninstall or install
- count increments or decrements, but loses the comma that's added to the string when the view first

[2016-05-16 07:52] swaldman3 opened #853 "Test Pilot icon won't stay where it is put"
Windows 7 / x64. Firefox release, currently on 46.0.1.

When I installed Test Pilot, the button for it appeared on screen near to the address bar. Since I won't use it a lot, I moved it into the hamburger menu.
Every time I restart Firefox, it is back where it originally wanted to be, rather than respecting my preference.

[2016-05-16 08:49] lovemytux opened #854 "Tab center stopped working"
I am using the last days the tab center (pilot mode). I found that today (without even close firefox), the addon stopped working. I can see the addon as "Now Active" when I check the test pilot (restarted it also a couple of times), but tabs are shown as they used to be without this addon.
- OS: Windows 7
- Firefox Release

When I am home I will inform you If I have the same issue on my Linux mach

[2016-05-16 09:01] lovemytux commented on #854
After one more Firefox restart issue has been resolved.

[2016-05-16 12:35] eranshul20 opened #855 "Side Bar navigation is not coming though tab center is active"
Side Bar navigation is not coming though tab center is active
![tab center view active but side bar disappears firefox test pilot prog 16 may 16](https://cloud.githubusercontent.com/assets/12758815/15289574/c05e6ef2-1b90-11e6-9197-b0c5da0a8328.png)
- Windows 10 , 64 bit , Operating system
## \- [ 46.0.1 ] Firefox build

I
- Tab Center:        https://github.com/bwinton/VerticalTabs/issues/new

[2016-05-16 13:45] chuckharmston opened #856 "Difficulty submitting Universal Search feedback"
[Originally posted](https://github.com/mozilla/universal-search/issues/224) by @shilow19 on the search repo: https://github.com/mozilla/universal-search/issues/224

---

i am using windows 10 os and  Firefox 46.0.1
![2016-05-14](https://cloud.githubusercontent.com/assets/19353672/15270966/adc44f78-1a00-11e6-991c-88a7ebc76f87.png)
![2016-05-14 1](https://cloud.githubusercontent.com/assets/19353672/

[2016-05-16 15:13] meandavejustice commented on #849
This looks like a duplicate, closing in favor of https://github.com/bwinton/VerticalTabs/issues/223

[2016-05-16 15:13] #849 closed, assigned to nobody

[2016-05-16 15:14] meandavejustice commented on #850
closing as duplicate of https://github.com/mozilla/testpilot/issues/856

[2016-05-16 15:14] #850 closed, assigned to nobody

[2016-05-16 15:18] meandavejustice commented on #847
@Hazz223 thanks for the report, I've moved it over to https://github.com/bwinton/VerticalTabs/issues/229

[2016-05-16 15:18] #847 closed, assigned to nobody

[2016-05-16 15:32] meandavejustice commented on #854
This looks like a duplicate, closing in favor of https://github.com/bwinton/VerticalTabs/issues/223

[2016-05-16 15:32] #854 closed, assigned to nobody

[2016-05-16 15:33] meandavejustice commented on #855
This looks like a duplicate, closing in favor of https://github.com/bwinton/VerticalTabs/issues/223

[2016-05-16 15:33] #855 closed, assigned to nobody

[2016-05-16 15:39] meandavejustice commented on #845
Seems like this has to do with Tab Center.  cc/ @bwinton

Leaving this open here until it is confirmed as an issue of tab center.

[2016-05-16 15:41] meandavejustice commented on #848
Closing in favor of #843

[2016-05-16 15:41] #848 closed, assigned to nobody

[2016-05-16 15:45] meandavejustice commented on #795
closing in favor of #680

[2016-05-16 15:45] #795 closed, assigned to nobody

[2016-05-16 15:46] meandavejustice commented on #851
closing in favor of #782

[2016-05-16 15:46] #851 closed, assigned to nobody

[2016-05-16 15:59] ghost opened #857 "Issue"
By going into incognito mode on Firefox, the incognito mode icon is glitched in the tab center.

Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues.

If you're experiencing a bug in Test Pilot, please include the following information:
- [ ] Operating system
- [ ] Firefox build (Nightly, Developer Edition, Beta, Release)

---

If you think you've f

[2016-05-16 16:03] meandavejustice commented on #857
Thanks for filing @Qhue I've moved this issue to https://github.com/bwinton/VerticalTabs/issues/230

[2016-05-16 16:03] #857 closed, assigned to nobody

[2016-05-16 16:57] meandavejustice commented on #853
I'm having trouble reproducing this. What other test pilot addons do you have installed?

[2016-05-16 17:14] swaldman3 commented on #853
Huh, it's stopped doing it. Sorry to waste your time, I'll close the issue unless/until it happens again...

[2016-05-16 17:14] #853 closed, assigned to nobody

[2016-05-16 20:22] meandavejustice commented on #799
I've just pushed a partial fix for this. It's at https://github.com/mozilla/testpilot/pull/859. In the process I've come across an upstream bug in the [addon-sdk](http://github.com/mozilla/addon-sdk).

details => https://bugzilla.mozilla.org/show_bug.cgi?id=1230816#c1

[2016-05-16 20:23] ghost commented on #811
It works now.

[2016-05-16 20:44] jaredhirsch commented on #799
The relevant SDK source code seems to be here: https://dxr.mozilla.org/mozilla-central/source/addon-sdk/source/lib/sdk/tabs/observer.js#37-95

Based on the comments in that chunk of code, it looks like the SDK fires the 'deactivate' event in the cases where the user switches tabs or switches between Firefox windows, but not in the case where the user switches away from the Firefox application.

He

[2016-05-16 20:46] meandavejustice commented on #799
Thanks @6a68 this looks like a great solution. Updating the pr now.

[2016-05-16 22:24] meandavejustice opened #860 "Usage of ToggleButton from addon/sdk throwing error in Dev Edition 48.0a2"
Upstream bug filed => https://bugzilla.mozilla.org/show_bug.cgi?id=1273293

May need to switch back to using [ActionButton](https://developer.mozilla.org/en-US/Add-ons/SDK/Low-Level_APIs/ui_button_action). ToggleButton _is_ marked as experimental on mdn...

Gunna try and switch this over tonight/tomorrow morning. Maybe we can get it in before it starts to hit many of our users.

[2016-05-16 22:25] meandavejustice commented on #860
Would love to get some more :eyes: on this one. cc/ @6a68 @lmorchard @pdehaan

[2016-05-17 02:13] TheSilverUnicorn commented on #843
I experienced the same issue. It claimed to be "enabling" from 4:37pm to 5:43 (or thereabout) when I finally closed the tab and opted to try out the new Tab Center instead. Tab Center installed in seconds.

I am using Windows 10 version 1511 OS Build 10586.318 and Firefox 46.0.1. I hope this information is useful.

[2016-05-17 04:50] ckprice commented on #737
I haven't heard any requests for this, and agreed that the new tab addresses this.

[2016-05-17 04:50] #737 closed, assigned to ckprice

[2016-05-17 12:55] meandavejustice commented on #856
@ckprice

[2016-05-17 13:37] johngruen commented on #856
@MattGrimes

A user reported this in IRC this morning as well

[2016-05-17 13:56] #786 closed, assigned to johngruen

[2016-05-17 15:35] ali1234 commented on #856
I also can't fill in the Universal Search feedback. Using Ubuntu 16.04 and Firefox 46. Click "Next" at the end of the first page and nothing happens.

The Activity Stream survey works fine so this seems to be an issue with that one specific survey.

[2016-05-17 16:38] ghost commented on #856
@johngruen, etc - A quick look suggests that there is no overriding of logic that we performed when creating this survey that would cause form errors (i.e. we aren't overriding the "Next" button like we've had to do with some other surveys).  I'll keep looking into it, but this was surprising to me.

[2016-05-17 16:49] #860 closed, assigned to meandavejustice

[2016-05-17 17:07] #774 closed, assigned to johngruen

[2016-05-17 17:40] meandavejustice commented on #783
~~Hello @willkg I'm having trouble reproducing this one. Do you remember what page you were on so I can try it there?~~ nm I was just able to get it to happen on wikipedia

[2016-05-17 17:44] pdehaan opened #864 "Unable to click top "Terms of Use" and "Privacy Notice" links in dev"
Found in http://testpilot.dev.mozaws.net/__version__ (8bf239692f1b25c6cbd817dd6f256ec7472e3d83):

[code]

---
### Steps to reproduce:
1. Go to http://testpilot.dev.mozaws.net/ (without being signed in)
2. Try and click on the "Terms of Use" and "Privacy Notice" links below the big, green [Get staretd with a Firefox Account] button (at the top of the page).
3. Scroll to the bottom of the page and t

[2016-05-17 18:41] meandavejustice commented on #788
@6a68 IRC is messing up for me rn. But yes I can take care of this, this week.

[2016-05-17 18:44] jaredhirsch commented on #788
Awesome, thanks @meandavejustice :-)

[2016-05-17 18:46] meandavejustice commented on #782
I'm having trouble reproducing this locally. If @6a68 @pdehaan @lmorchard have time, would you mind taking a look at this as well? Here is the entry point => https://github.com/mozilla/testpilot/blob/master/addon/lib/survey.js#L34

We are supposed to return early [here](https://github.com/mozilla/testpilot/blob/master/addon/lib/survey.js#L86) if our interval doesn't pass `checkInstallDate`

[2016-05-17 18:57] meandavejustice commented on #783
@willkg Thanks for bringing this to our attention.
I've filed a bug upstream, https://bugzilla.mozilla.org/show_bug.cgi?id=1273607.

@6a68 Tested on OS X and did not see the issue. Going to close since this is an issue with XUL on Linux.

[2016-05-17 18:57] #783 closed, assigned to nobody

[2016-05-17 19:01] meandavejustice commented on #843
Hello, @robster2001, @jamiebally, @TheSilverUnicorn It appears you are all on the same build of windows and firefox. Would you mind providing a list of addons you have installed? We might be seeing a conflict.

[2016-05-17 19:03] meandavejustice commented on #843
I wonder if we can get something like https://github.com/mozilla/testpilot/issues/684 hooked up for the addon as well. Would really help for cases like these.

[2016-05-17 19:28] johngruen commented on #856
@rayborn @chuckharmston I wonder if there's a correlation btwn this issue and tracking protection

[2016-05-17 19:37] ghost commented on #856
@johngruen @chuckharmston  - I could not reproduce with Tracking Protection enabled.

If anyone repeats this, please copy any console errors here (SG has same origin policy image warning that we're aware of, this would be something different).

For the record, for the 2-day heartbeat users we have 29 partials + 495 completes, so that puts our **upper bound** for this issue at ~6%.

[2016-05-17 20:04] lmorchard opened #865 "Research switching from Ampersand to React"
So, they always tell you to never rewrite things, and they're usually right. Nonetheless, I have a strong urge to rewrite our frontend with React.

Last summer, I thought Ampersand was pretty great. But now, after we've put some miles on it and ended up with [this tangled mess of explicit DOM bindings on our experiment details page](https://github.com/mozilla/testpilot/blob/master/testpilot/fronte

[2016-05-17 20:08] lmorchard commented on #865
Oh, and when I say "rewrite the frontend" I mean replace Ampersand views & models with something like React & Redux. Leave all the CSS and backend API alone, produce the same DOM structures.

[2016-05-17 20:12] pdehaan commented on #865
💯 We're already using React in a lot of other Mozilla sites/tools, so it also has the benefit of potentially being easier for new contributors to get involved.

[2016-05-17 20:18] lmorchard commented on #865
Yeah, that also gives me flashbacks to when I was still on projects using PHP while the rest of Mozilla Webdev moved on to Django & Python :)

[2016-05-17 20:19] pdehaan commented on #852
**Protip:** `(300000).toLocaleString(); # "300,000"` (as a string)
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toLocaleString

Seems reasonably well supported.
Not sure why/where the original number is getting its comma from (if Python is pre-formatting that string), but it'd be nice if we used the same formatting code pre-and-post experiment install, fo

[2016-05-17 20:31] pdehaan commented on #865
@lmorchard Let me know if you want me to file a bug for "Research switching from Django & Python to PHP".

[2016-05-17 21:30] lmorchard opened #866 "Implement additional server logging events"
From [README-METRICS](https://github.com/mozilla/testpilot/blob/master/docs/README-METRICS.md#data-collection-details):

We log `request.summary` but none of the others. Let's start producing those log messages.

[2016-05-17 21:38] lmorchard commented on #810
Going to say this is resolved after our prod push today.

[2016-05-17 21:38] #810 closed, assigned to nobody

[2016-05-17 21:41] ghost commented on #866
Thanks.  Dashboards are all set up at https://kibana.shared.us-west-2.prod.mozaws.net/index.html#/dashboard/elasticsearch/PROD%20-%20Test%20Pilot%20App%20Logs and will start showing this data when it rolls in.

[2016-05-17 22:15] robster2001 commented on #843
Enabled: Tab Center, Test Pilot, uBlock Origin (adblocking turned off for firefox.com)

Disabled: Avast Online Security, Avast Safeprice, Blur, Buffer, Download StatusBar, DuckDuckGo Plus, WOT,

[2016-05-18 07:34] johngruen commented on #856
@rayborn we had another report of this on (specifically for universal search) from a moz employee (irc: jpetto)

[2016-05-18 07:55] TheSilverUnicorn commented on #843
Enabled Extensions: Adblock Plus; ChatZilla; Emoji Cheatsheet for GitHub, Basecamp etc.; Kaspersky Protection; Lightbeam; Share Button for Pinterest; Skype; Tab Center; Test Pilot; WOT

Disabled Extenstions: DigitalPersona Extension; Pin It Button; Star Stable Online

Enabled Appearance: Silvers Unicorn 1

Disabled Appearance: crowd of black cats; default theme

Enabled Plugins set to Always Activ

[2016-05-18 12:17] ali1234 commented on #856
Today I tried a few things to repro this:

First I removed Universal Search, rebooted the computer, and tried to submit the survey from an old bookmark to it, while having the error console open the whole time. This worked correctly.

Then I immediately tried again but with different options on the form. This also worked.

Then I enabled Universal Search, restarted Firefox, disabled Universal Sear

[2016-05-18 14:59] jaredhirsch commented on #856
Another report of this same issue came in via IRC yesterday:

[code]

[2016-05-18 15:27] ckprice commented on #738
~~Received the following request from Brian Smith in legal (also updated bug title, and opening):~~

/cc @mozcmcgill

/edit addressing in #877.

[2016-05-18 15:31] ali1234 opened #869 "Test Pilot is confused about which experiments are active."
The Test Pilot menu is currently showing Universal Search as active, but it is not. It is not even shown in the add-ons page, and the URL bar is clearly split into two.

Ubuntu 16.04 / Firefox 46 / Test Pilot 0.5.9-tag-2015-05-16

![screenshot from 2016-05-18 16-27-07](https://cloud.githubusercontent.com/assets/651970/15364791/bd8a391e-1d15-11e6-918f-2fff03d05a84.png)

[2016-05-18 15:39] ali1234 commented on #856
I have just noticed that when the survey button doesn't work, the submit button on amazon.co.uk also does not work. As I said above, this happens after enabling and disabling universal search and persists until Firefox is restarted. As such it seems like a bug in Universal Search or the add-on subsystem and not a problem with the survey form.

[2016-05-18 15:40] meandavejustice commented on #869
@ali1234 Can we have a little more info on how to reproduce? Did you have universal-search installed and remove it from the `about:addons` page or from the `disable` option on `testpilot.firefox.com/experiments/universal-search`?

[2016-05-18 15:42] meandavejustice commented on #738
@ckprice This sounds like a separate issue, maybe to be made as a follow up to this one.

[2016-05-18 15:54] ali1234 commented on #869
To reproduce:
1. Install Ubuntu 16.04.
2. Run Firefox.
3. Install uBlock Origin.
4. Install Test Pilot.
5. On the Test Pilot web page, enable Universal Search.
6. On the Test Pilot web page, disable Universal Search.
7. Attempt to do the feedback survey. Notice that it doesn't work as you cannot submit the form. (bug #856)
8. Attempt to search for something on amazon.co.uk. Notice that the form su

[2016-05-18 15:57] meandavejustice commented on #865
I'm generally not in favor of `option a`-like solutions(or long running parallel branches) ... But I feel that our site is simple enough and @lmorchard is more than competent enough to make it happen.  If we were to go that route, I would like to also have:
1. more thorough testing
2. better debugging tools
3. lighter weight bundles with webpack.
4. maybe [server-side rendering](https://github.com

[2016-05-18 16:02] lmorchard commented on #813
I'm not sure we actually want Test Pilot add-ons to sync. We've been working from an assumption that users should be able to run different sets of experiments using different profiles & Firefox installations. The Test Pilot add-on generates an ID for each browser & profile in which it's installed, so we can keep track of possibly multiple browsers per user.

Not that that precludes syncing the ins

[2016-05-18 16:11] ckarlof commented on #813
However the team decides it should be behave, the behavior should be intentional, not accidental, and there should be test plan to ensure it doesn't regress from the intended behavior.

/cc @clouserw @pdehaan

[2016-05-18 16:38] ghost opened #870 "Firefox Tab center Issue"
When tab center is active, and you click on a bookmark in your bookmarks bar, this causes some glitchy graphics. (Windows 7, fairly old computer, newest version of Firefox, I think)

[UPDATE]: New discovery about this issue, this only happens when I go to inbox.google.com (Google Inbox) via the bookmarks bar. This could be on the google side of this, but I can't tell.

![bookmarks_bar_glitch](http