[2016-05-18 16:50] ghost opened #871 "Testpilot Feedback Page"
This probably just a client side problem, but clicking on next on the feedback page does nothing. I've tried reloading, quitting Firefox and restarting and even resetting Firefox but nothing happens.
![feedback_page_problems](https://cloud.githubusercontent.com/assets/12704804/15367449/eb01f45a-1cdd-11e6-81ca-192df3c87070.PNG)

[2016-05-18 17:18] lmorchard commented on #866
Hmm, looks like I'm not authorized to see that dashboard

[2016-05-18 17:22] ghost opened #873 ""Please rate _______" is very plain"
I saw this feedback from somewhere, but I don't know if it's filed yet, so I'm filing...

I was just prompted for "Please rate Tab Center \* \* \* \* *" .  I like the idea, but unless you're really involved in this process you're not going to know what Tab Center (or any of the experiments are).  A couple ideas:
- add the test pilot logo to the bar
- Expand the wording to something like "Thanks fo

[2016-05-18 17:44] ghost commented on #866
Dupe https://bugzilla.mozilla.org/show_bug.cgi?id=1249320 for yourself

[2016-05-18 17:46] lmorchard commented on #866
Looking at the Google Analytics dashboard, it seems like we're recording these missing events (and more) there too. Do we need some way of comparing them, or are they redundant?

[2016-05-18 17:49] ghost commented on #866
In theory they are redundant.  In reality they record slightly different things (JS button click vs server side processing).  If they ever get far apart though, something is fishy.

[2016-05-18 17:52] lmorchard commented on #866
For these two, I'll have to add server-side API resources to receive pings for the events on top of the GA ping:
- Feedback (`newfeedback`) is an external survey link, with a GA ping side effect on the link click.
- Main add-on install (`main-install`) happens all client-side, with a GA ping side effect on the button click.

Only `test-install` and `newuser` can be tied to things we're already doi

[2016-05-18 18:07] ckprice commented on #839
Adding a reference to a relatively new article '[Single Page Application Tracking](https://developers.google.com/analytics/devguides/collection/analyticsjs/single-page-applications#tracking_virtual_pageviews)'.

The approach is to call `ga('set', 'page', '/new-page.html');` anytime the URL changes on the client. This would automatically fix the existing `pageview` commands and could make the two i

[2016-05-18 18:12] mostlygeek opened #874 "DEBUG=false stops emitting server logs"
The mozlog formatted app logs are not produced when `DEBUG=false`. This was introduced with the fix for #810.

[2016-05-18 18:17] #874 closed, assigned to lmorchard

[2016-05-18 18:34] meandavejustice commented on #873
I vote to both add the logo, and expand copy.

[2016-05-18 18:54] pdehaan commented on #684
@ckprice @clouserw Any chance we can get this added to the current/next milestone?

[2016-05-18 18:56] meandavejustice commented on #702
@pdehaan Have you seen this recently, I still haven't been able to reproduce

[2016-05-18 19:35] ghost opened #875 "Weird unicode text on page title"
Visiting experiment detail pages show weird characters in the title bar.  Screenshot @ https://www.evernote.com/shard/s3/sh/bf3f2560-af38-42e2-ae87-83246ca9c3e7/ee84a96f17b0ae021559351109aabd56

This is in Nightly on Linux, although I think Nick runs windows.  The original report is https://github.com/bwinton/VerticalTabs/issues/144

[2016-05-18 19:48] ghost commented on #866
I think we can skip them if they aren't instrumenting existing code.  imo :)  Let's close when you land what you got

[2016-05-18 19:55] shilow19 commented on #856
i was not on amazon i was on the home page of firefox i am also still having problem with loading and other pages opening on top of each other

----- Original Message -----

From: "Alistair Buxton" notifications@github.com
To: "mozilla/testpilot" testpilot@noreply.github.com
Cc: "shilow19" shilo19@comcast.net, "Mention" mention@noreply.github.com
Sent: Wednesday, May 18, 2016 11:39:26 AM
Subject:

[2016-05-18 20:01] lmorchard commented on #866
Okay, just started implementing the ping API, but I'll back that out and submit a PR for `test-install` and `newuser`

[2016-05-18 20:05] pdehaan commented on #702
I've seen it a few times in the last couple days, but I'm always switching between dev+prod, so I'm not certain on what envs I was on at the time.

[2016-05-18 20:23] pdehaan commented on #856
Another user report in #871

[2016-05-18 20:25] pdehaan commented on #871
@Qhuea Thanks for the bug report!

I believe this is the same issue as #856. We're investigating and will update the other bug when we have more information.

Closing as a dupe of #856.

[2016-05-18 20:25] #871 closed, assigned to nobody

[2016-05-18 20:41] pdehaan opened #877 "Legal Docs Privacy Notice sections should be collapsable"
Ref: https://github.com/mozilla/testpilot/issues/738#issuecomment-220063420

---

@ckprice received the following request from Brian Smith in legal (also updated bug title, and opening):

/cc @mozcmcgill

---

/edit adding some specifications

Ref: https://docs.google.com/document/d/14HB8hPnuH5YlO3HtZeIATmFCMIhiHIPBNEgWN66XkDQ/edit?usp=sharing

The two _Learn More_ links should expand out the bull

[2016-05-18 20:42] pdehaan commented on #738
Filed as #877

[2016-05-18 21:04] pdehaan commented on #755
[code]

I'm still seeing this somewhat frequently on Test Pilot. In fact, I just got it about 3 out of my last 6 page refreshes.

![test_pilot](https://cloud.githubusercontent.com/assets/557895/15374882/4ec4ddcc-1d01-11e6-84f6-08999e50313d.png)

[2016-05-18 21:10] gregglind commented on #856
(I looked over the survey js and such too.  Nothing weirder than normal, afaict.)

[2016-05-18 21:11] ghost commented on #856
To add to @gregglind:
@ali1234 makes it sound like a general compatibility bug since this happening elsewhere.

Alternatively, I could ping the SurveyGizmo support email to see if there are any know compat bugs; there is nothing to suggest that there's something wrong with only this survey (it's quite simple).

P.S. The getPreventDefault is a minor warning due to SurveyGizmo using an outdated vers

[2016-05-18 22:20] shilow19 commented on #856
did not mean to cause a mess. tracking protection was on also tried hitting the enter button that did not work

----- Original Message -----

From: "Rob" notifications@github.com
To: "mozilla/testpilot" testpilot@noreply.github.com
Cc: "shilow19" shilo19@comcast.net, "Mention" mention@noreply.github.com
Sent: Tuesday, May 17, 2016 12:38:39 PM
Subject: Re: [mozilla/testpilot] Difficulty submitting

[2016-05-18 22:45] ghost commented on #856
@shilow19 - any bug reports are very helpful.  If you are tired this showing up in your email you can click the Unsubscribe button on the right hand side of the GitHub page at this url: https://github.com/mozilla/testpilot/issues/856
Alternatively you're email client may have a "mute" function that you could use to ignore follow ups.

@ rest - sorry for the off-topic reply, wish Github still had p

[2016-05-19 02:50] shilow19 commented on #856
no im not tired of the e-mails thank you

----- Original Message -----

From: "Rob" notifications@github.com
To: "mozilla/testpilot" testpilot@noreply.github.com
Cc: "shilow19" shilo19@comcast.net, "Mention" mention@noreply.github.com
Sent: Wednesday, May 18, 2016 6:45:39 PM
Subject: Re: [mozilla/testpilot] Difficulty submitting Universal Search feedback (#856)

@shilow19 - any bug reports are ver

[2016-05-19 05:32] AustinGuy commented on #843
Extensions enabled: Adblock Plus (disabled for mozilla.com), Element Hiding Helper for Adblock Plus, Facebook Disconnect, InlineDisposition, Kaspersky Protection, LastPass, NetVideoHunter, Tab Mix Plus, Test Pilot, WOT (Web of Trust)

Extensions disabled: none.

It's worth mentioning that although I couldn't enable Activity Stream or Universal Search, I could enable Tab Center. However, Tab Center

[2016-05-19 16:38] meandavejustice commented on #702
I remember @6a68 and @chuckharmston talking about xul caching issues before, could that be a possibility here when switching envs?

[2016-05-19 16:40] #852 closed, assigned to johngruen

[2016-05-19 16:44] meandavejustice commented on #702
@ckprice I'm having trouble reproducing this bug. I don't think it will be fixed in tomorrows milestone, would you like to back it out?

[2016-05-19 16:45] meandavejustice commented on #715
@ckprice This is definitely not going to make it into the 05-20 milestone. Do we want to bump it to the next one?

[2016-05-19 16:49] ckprice commented on #715
Yeah. Going through the comments, I think our best solution may be just put in the request to whitelist testpilot.firefox.com, and have it ride the trains (maybe we can get it uplifted).

@andymckay @clouserw thoughts?

[2016-05-19 16:50] pdehaan commented on #702
I'm not sure of the _why_ this is a happenin', but one potential solution may be to see if we can just inline the SVGs into that panel as data-uris, or whatever.

Next time i see it, I'll leave the panel open for a couple minutes and see if it's potentially just an extreme latency issue.

[2016-05-19 16:58] ckprice commented on #715
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1274332. Feel free to close/comment that bug if there is a better solution. I'll keep this GH issue open for now for tracking purposes.

[2016-05-19 17:01] ghost opened #878 "zh-cn warnings"
Starting to see these come in our logs:

/usr/local/lib/python3.5/site-packages/django/utils/translation/**init**.py:153: RemovedInDjango19Warning: The use of the language code 'zh-cn' is deprecated. Please use the 'zh-hans' translation instead. return _trans.activate(language)

[2016-05-19 17:25] ckprice commented on #702
I'm going to remove the milestone here until we have solid STR.

[2016-05-19 17:41] pdehaan opened #879 "Add GitHub URLs to prod"
I don't have Django admin access to prod, so this is probably a @ckprice or @nchapman or @johngruen to-do.

<img width="404" alt="firefox_test_pilot_-_activity_stream" src="https://cloud.githubusercontent.com/assets/557895/15403482/05b266ec-1dae-11e6-9152-5e85e12b9584.png">

[2016-05-19 18:07] pdehaan commented on #702
STR is to open the Test Pilot door hanger. 5-10% of the time it doesn't show icons.
Closing the door hanger and reopening seems to fix it, but it's suboptimal workaround.

[2016-05-19 18:44] andymckay commented on #715
Works for me.

[2016-05-19 18:47] andymckay commented on #715
You might also want to consider beefing up security on testpilot.firefox.com a bit, just so you don't become an attack vector. @clouserw knows these things as well but things we watch out for on AMO are: outgoing links that people add that have an xpi in them (since you don't have user generated content this might not be a problem), CSP (currently not enabled) and SRI (also not enabled).

[2016-05-19 19:02] lmorchard commented on #715
Now that you mention it, those could end up being reasonable demands from the Fx team before we get whitelisted.

With respect to user-generated content, I'd assert right now that we should just never do that from the testpilot.firefox.com domain. That's where using our off-site community Discourse instance makes sense for hosting discussions, for example.

But, [CSP](https://developer.mozilla.org

[2016-05-19 19:07] lmorchard opened #881 "Implement Subresource Integrity for our JS & CSS assets"
[Subresource Integrity](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity) allows us to require that linked assets match a crypto hash in markup, thus mitigating risks that the assets may have been tampered with. We should implement SRI for all our assets.

[2016-05-19 19:11] lmorchard opened #882 "Implement Content Security Policy"
[CSP](https://developer.mozilla.org/en-US/docs/Web/Security/CSP) lets us tell the browser what we consider as valid resources to load for a page, restricting by domain & etc. We should implement this for our site.

[2016-05-19 19:12] rtanglao commented on #856
reported on twitter as well:

https://twitter.com/firefox/status/733332139790467072

[2016-05-19 19:13] ghost commented on #873
Add logo for sure.

Open to other language.  "Please rate ____" was just to be consistent with desktop where we tested 4 different prompt languages that were all pretty plain for CTR.

[2016-05-19 19:19] lmorchard commented on #755
Having trouble reproducing this one to track down a cause. We also had a deployment yesterday, right around the time of that last screenshot. The deployment process has been known to temporarily break the site, though I think that's being improved.

[2016-05-19 19:21] lmorchard commented on #755
More info that might be handy for if/when this happens again: If you have everything enabled in the "Net" dropdown in your web console - or at least "XHR" - we might be able to see if things broke because some resource or another was a 403 / 404 / 400 / 500 / etc.

[2016-05-19 19:30] MattGrimes commented on #873
I'm fine with it. If we change CTR by doing this, we'll need to account for that. If we are changing things I'd like to do it sooner rather than later.

[2016-05-20 07:27] johngruen commented on #879
on it :)

[2016-05-20 07:27] #864 closed, assigned to johngruen

[2016-05-20 08:24] johngruen opened #883 "Header still getting passed back into add-on install page"
![screen shot 2016-05-20 at 10 16 19](https://cloud.githubusercontent.com/assets/3323249/15421693/f8dd3506-1e74-11e6-8ba4-4c6eae3ec9e2.png)

Sad trombone

[2016-05-20 08:29] johngruen opened #884 "Make post-retire modal header match other 404-style modal headers"
Right:
![screen shot 2016-05-20 at 10 19 52](https://cloud.githubusercontent.com/assets/3323249/15421820/aa47e0c0-1e75-11e6-84c4-b41d67420d25.png)

Wrong:
![screen shot 2016-05-20 at 10 19 06](https://cloud.githubusercontent.com/assets/3323249/15421838/b86c5c1c-1e75-11e6-9ff8-a988ced06f63.png)

[2016-05-20 08:57] johngruen opened #885 "Install doorhanger is too tall"
<img width="357" alt="screen shot 2016-05-20 at 10 16 11 am" src="https://cloud.githubusercontent.com/assets/3323249/15422544/6bfba096-1e79-11e6-86cd-2c98ddf43b71.png">

Too much white space on the bottom :(

[2016-05-20 14:01] bmcculley commented on #884
I would like to try this one out as my first contribution to the project.

[2016-05-20 14:02] johngruen commented on #884
@bmcculley go for it!

[2016-05-20 16:26] designakt opened #887 "Survey after disabeling TabCenter shows only a gradient, no content (when using AdBlock Plus)"
I just installed TabCenter and removed it after testing it for about 5min. After removing it I have been asked to take a survey. The window opening after clicking the button only shows a page with a gradient background, but no actual survey.
this is the URL I have been refereed to: https://qsurvey.mozilla.com/s3/tab-center?ref=disable&experiment=Tab%20Center&installed=tabcentertest1%40mozilla.com

[2016-05-20 16:31] designakt opened #888 "Doorhanger positioned too low on Windows 10"
The Testpilot doorhanger is positioned much lower than other doorhangers on Windows.
![testpilot-doorhanger-position-too-low](https://cloud.githubusercontent.com/assets/8145891/15434756/d63def6a-1eb8-11e6-9c8c-bb5f7fd826fe.gif)
Should be same vertical starting position than other doorhangers.

experienced on Windows 10, Firefox Nightly 49.0a1 (2016-05-19)

[2016-05-20 18:27] lmorchard opened #889 "Test Pilot needs some security improvements"
Test Pilot doesn't seem to have gotten a full, formal security review. Let's make that happen.

[2016-05-20 18:42] lmorchard opened #890 "Move Test Pilot /admin/ to something hosted behind a secure Mozilla VPN"
Currently, if you are a user with `is_superuser` set, you can access https://testpilot.firefox.com/admin/

Security-wise, this would be much improved by hosting the `/admin/` pages behind a firewall that requires Mozilla VPN access.

[2016-05-20 18:43] lmorchard commented on #890
See also: #889

[2016-05-20 18:43] lmorchard commented on #882
See also: #889

[2016-05-20 18:43] lmorchard commented on #881
See also: #889

[2016-05-20 19:04] AngelFQC opened #891 "Customize with TestPilot does not allow customize the toolbar buttons"
When you click on the Customize button with TestPilot enabled, the Toolbar buttons can't be edited.
They disappear. And only the Title bar is shown
![test_pilot](https://cloud.githubusercontent.com/assets/1697880/15438798/80782a52-1e93-11e6-8d00-2f97d9206299.png)

[2016-05-20 19:13] AngelFQC commented on #891
Closing. This a problem with TabCenter
https://github.com/bwinton/VerticalTabs/issues/261

[2016-05-20 19:13] #891 closed, assigned to nobody

[2016-05-20 19:25] ckprice commented on #889
We did pass this by the sec team early on for approval for launch in [bug 1255231](https://bugzilla.mozilla.org/show_bug.cgi?id=1255231) (moz confidential). #890 was mentioned in their list of recommendations. It may deserve a follow-up with that team, but would defer to @clouserw on next steps.

[2016-05-20 19:27] lmorchard commented on #889
Cool, I'm not cc'ed on that bug & never saw it until now, so I was afraid we'd dropped the ball here. Good to hear that's not the case!

[2016-05-20 19:29] lmorchard commented on #889
Actually, I'll just close this issue since the review process was actually started

[2016-05-20 19:29] #889 closed, assigned to nobody

[2016-05-20 19:30] lmorchard commented on #890
This is also a dupe / cross-post of https://bugzilla.mozilla.org/show_bug.cgi?id=1258766

[2016-05-20 20:24] pdehaan commented on #884
Fixed via #886.

Thanks @bmcculley!

[2016-05-20 20:24] #884 closed, assigned to nobody

[2016-05-20 22:30] ghost opened #892 "Cursor appears in unexpected location after enabling Tab Center"
This seems to have started when I enabled tab center, but this gives me access to place a weird movable flashing cursor-bar (the one that appears when you type,) in weird places in webpages. I can't provide a screenshot, but I can provide an example picture.
![capture](https://cloud.githubusercontent.com/assets/12704804/15443776/d796be6e-1e9f-11e6-8e8e-a60201a4f3da.PNG)

[2016-05-20 22:33] ghost commented on #892
This is on any website, anywhere. It's reacting as if it's an editable text document. I've tried resetting Firefox and that does not work.

[2016-05-20 22:39] pdehaan commented on #892
@Qhuea I don't seem to be able to reproduce this on Firefox 46.0.1 (OS X 10.11.5) and testing text input fields on a handful of sites -- and Activity Stream and Tab Center experiments enabled.

What OS and Firefox version/channel are you using?
What other Test Pilot experiments do you have enabled (besides Tab Center)?
Do you have any other Firefox add-ons installed?

---

**UPDATE:** I was testin

[2016-05-21 07:39] 13xforever commented on #773
This is most likely a duplicate of https://github.com/mozilla/universal-search/issues/213

[2016-05-21 11:17] deva1992 opened #893 "I am trying to enable the test pilot features."
None of the features are getting enabled.
They get stuck at enabling.

Firefox 46.01. and Windows 10

[2016-05-22 05:08] joan81 opened #894 "Not Happy"
I am running Win7 Ultimate on a Lenovo T400 laptop. How do I revert to the old Tabs please? I don't like losing temporarily the Menu and Tool bars at the top. But more than that, I have totally lost my bottom row where the Start button is situated. Please help me get that back.

[2016-05-22 10:11] karloffover commented on #893
Cannot start Pilot, keep on asking to install extension.
OSX 10.11.4
Firefox 46.0.1

[2016-05-22 16:44] pdehaan commented on #894
@joan81 The easiest way to disable the vertical tabs would be to go to https://testpilot.firefox.com/experiments/tab-center and click the [Disable Tab Center] button in the top-right corner. That should uninstall the experiment and put your tabs back at the top.

[2016-05-23 03:26] ghost commented on #892
@pdehaan I'm using Windows 7, and no other Test Pilot add-ons. I use adblock plus, that's all. The weird cursor thing works on all websites for me, BTW.

[2016-05-23 03:37] joan81 commented on #894
Thank you, that's much better having my old Firefox back again.

Joan81

On 23 May 2016 at 02:44, Peter deHaan notifications@github.com wrote:

[2016-05-23 04:28] #894 closed, assigned to nobody

[2016-05-23 14:07] meandavejustice commented on #888
Thanks for reporting @designakt

This is peculiar. We [currently](https://github.com/mozilla/testpilot/blob/master/addon/index.js#L296) position the panel by attaching to buttons as suggested by this [mdn page](https://developer.mozilla.org/en-US/Add-ons/SDK/High-Level_APIs/panel#Panel_positioning). Looks like this may be another `addon-sdk` bug. searching `position panel` on `addon-sdk` in bugzil

[2016-05-23 14:09] #788 closed, assigned to meandavejustice

[2016-05-23 15:01] designakt commented on #888
I think there was a bug with positioning when building the panels for WebExtensions. I couldn't find a bug for it though. @bwinton might know more about that.

[2016-05-23 16:50] ghost commented on #856
The Twitter report was fixed in a new profile (seems unresolved into what the issue was with their existing profile).

Sounds like SurveyGizmo is not aware of any known compat/rendering bugs on their end.

I'm keeping an eye on this issue hoping that there is a resolution that will be applicable here: https://github.com/mozilla/universal-search/issues/213

Let me know if you need any further testi

[2016-05-23 17:31] ghost commented on #887
@johngruen - can we just put a message on this page saying what is happening?  @6a68 also has some ideas

[2016-05-23 17:34] pdehaan commented on #893
I believe this is a dupe of #843.

@magullo's comment above seems slightly different, so I can move that into a new GitHub issue so we can track it separately.

**UPDATE:** Filed as #895

[2016-05-23 17:34] #893 closed, assigned to nobody

[2016-05-23 17:36] pdehaan opened #895 "Cannot start Test Pilot add-on, keep on asking to install extension"
Reported by @magullo in https://github.com/mozilla/testpilot/issues/893#issuecomment-220824443

[2016-05-23 17:41] pdehaan commented on #892
Thanks @Qhuea. I'll see if I can reproduce this on my Windows 10 laptop (or within a Windows 7 VM).
In the meantime, I've moved this into the **Tab Center** repo at https://github.com/bwinton/VerticalTabs/issues/269 for better tracking.

Closing this bug in favor of the upstream Tab Center issue.

[2016-05-23 17:41] #892 closed, assigned to pdehaan

[2016-05-23 17:49] meandavejustice commented on #680
This is what I have in progress for the details page.
![disabled-ui-details-page](https://cloud.githubusercontent.com/assets/1844554/15479127/acde067e-20ec-11e6-82e6-af8790b090ec.png)

@johngruen Would you mind giving me an asset(! icon or something) for the experiment list page?

gh is having some issues right now so I cannot link to the in progress branch, but the branch name is [`680-manually-d

[2016-05-23 18:01] ckprice commented on #877
Moving this ~~and #738~~ to this sprint because Legal noted it was a priority.

[2016-05-23 18:19] #879 closed, assigned to ckprice

[2016-05-23 18:19] ckprice commented on #879
Done.

[2016-05-23 18:23] ckprice opened #897 "SurveyGizmo reports based on technology."
@osunick noted that breaking down our feedback reports by OS, device, screen resolution, etc. could uncover some actionable patterns.

@rayborn is this possible out of the box with SurveyGizmo? If not, what are the requirements we'd need on the Test Pilot side?

[2016-05-23 18:33] MattGrimes commented on #829
@nchapman @rjweiss @javaun this is the issue we discussed in Vancouver. This would be extremely helpful for us to have.

[2016-05-23 19:00] pdehaan commented on #680
@meandavejustice Looks good! Not sure if we want to:
- hyphenate "Add-on".
- Change "Add-on" to `{{title}} has been manually disabled in `about:addons`` (although we already have the title in like 9 places on this page).
- Link `about:addons` to the actual about:addons page for easy toggling back on.
- Not sure if we can provide a link or easy way to re-enable the add-on from this page without mak

[2016-05-23 19:23] ghost commented on #897
I have access to anything accessible via Javascript, so only OS/User-Agent in this case.

I could make a very rough guess of screen size based on window.screen.availHeight / window.screen.availWidth, but those values are in CSS pixels (not actual pixels) so they can be unreliable.

If you have more reliable/accurate information that could be passed as URL params, then we could pass that in instead

[2016-05-23 19:41] ckprice commented on #897
Oh great! @meandavejustice may want to confirm this, but that sounds like it covers what we can offer as well. If you have access to the UA string when you create these reports, that should be a good enough start.

@rayborn could we start with a sample of what you guys are able to provide, and - if needed - we'll dig in more on the web side?

[2016-05-23 19:43] ghost commented on #897
Sounds good.  Do you want me to record window.screen.availHeight / window.screen.availWidth as well?  Is this for all TP surveys?

[2016-05-23 19:46] johngruen commented on #755
@lmorchard fwiw, still seeing this today. Here it is in the wild...got it on the 3rd attempt: https://www.dropbox.com/s/zr9bijwpt5xuuaf/failure.mov?dl=0

[2016-05-23 19:49] ckprice commented on #897
As long as the number of different variations don't get too crazy on your side, yeah. Maybe there's a more logical way to group some resolutions as well?

I think we can do a proof of concept with the Tab Center reports (IIRC that is what Nick referenced in the meeting).

@javaun thoughts?

[2016-05-23 20:21] johngruen commented on #755
@lmorchard @pdehaan
Possibly related: setting up some screenshotting automation with phantom/slimer to audit our UI occasionally. I can't get either to work b/c errors that seem like they might be related to this problem.

To repro, install phantomjs or slimer js....here's the script I'm running:

[code]

you can run this with `phantomjs test.js` or `slimerjs test.js`, but errors get thrown in bot

[2016-05-23 20:47] ckarlof opened #899 "Prompted to rate Activity Stream multiple times"
I'm seeing the prompt to rate Activity Stream multiple times after I've already rated it. I'll try to capture more info the next time I see it, but I typically see it in the morning after I use Firefox for the first time. Mac OS X, Nightly 49.0a1 (2016-05-23).

Hah, just got it now! Nothing suspicious in the logs except that I see [this error](https://github.com/mozilla/activity-stream/issues/735)

[2016-05-23 20:58] lmorchard commented on #755
FWIW, I think the phantomjs / slimerjs errors are unrelated to this issue

[2016-05-23 21:03] pdehaan commented on #899
Possible dupe of **"asked to survey activity stream twice in two days"** #782

[2016-05-23 21:14] meandavejustice commented on #680
@pdehaan I can't seem to find a way to link `about:addons` I've tried `chrome` and `//` prefixes.

# ¯\_(ツ)_/¯

Good point with the reenabled option... I'd like to get @6a68 and @lmorchard 's opinion on that. I feel like we are wrapping a lot of the `about:addons` functionality as is..

[2016-05-23 21:23] lmorchard commented on #755
So, a hunch - this might be related to #742 and a race condition:
- This error happens at [`initialize()` in `app/main.js`](https://github.com/mozilla/testpilot/blob/master/testpilot/frontend/static-src/app/main.js#L24)
- `initialize()` calls [`updateEnabledExperiments()` in `app/models/me.js`](https://github.com/mozilla/testpilot/blob/master/testpilot/frontend/static-src/app/models/me.js#L53)
- `

[2016-05-23 21:25] meandavejustice commented on #755
@lmorchard I have a branch for #742 I was having issues getting tests to pass, maybe we can get together tomorrow morning and get them passing to get the fix in.

branch => https://github.com/meandavejustice/testpilot/tree/742-audit-me-model-installed

[2016-05-23 21:31] ghost commented on #477
/cc @chuckharmston @6a68

[2016-05-23 21:36] pdehaan commented on #680
Funny, I even tried `window.location = 'about:addons'` in the developer tools console and got this gem:

Maybe Firefox makes it difficult on purpose for personal safety reasons. OK, forget it. Dumb idea.

[2016-05-23 21:54] ghost commented on #813
We discussed this in our triage this morning.  Someone (Jared?) looked into syncing and it sounds like only add-ons installed from AMO sync, so, the system is working as expected.

We also talked about whether we wanted this or not, and the feeling was that it would complicate our instrumentation and wasn't something we wanted to deal with right now.

So, it's good to have an explanation of what's

[2016-05-23 21:54] #813 closed, assigned to nobody

[2016-05-23 21:56] ghost commented on #870
refiled for tab center @ https://github.com/bwinton/VerticalTabs/issues/271

[2016-05-23 21:56] #870 closed, assigned to nobody

[2016-05-23 21:57] pdehaan commented on #755
Dear @johngruen,

I'm not sure what version of WebKit Phantom/Slimer are using, but it isn't too surprising that it may be choking on something ES6-fancy like that (see WeakSet browser compatibility:  https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/WeakSet#Browser_compatibility).

From a quick GitHub search, it looks like the only instance of [WeakSet](https://github.

[2016-05-23 21:58] ghost commented on #845
This is specifically talking about Test Pilot, not Tab Center, so I'm not re-filing there yet.  @kaus02 - can you confirm what experiments you had active?  Is this reproducible?  Thanks

[2016-05-23 22:00] lmorchard commented on #477
Just as a note about where I left off with this: As of #422, feature flags should be appearing in the data from `/api/me`, found in the `features` property in each entry of the `installed` set. (Though, FWIW, there's an issue with the format of this data - #742 - it should probably be an object indexed by add-on ID instead of an array.)

Anyway, the goal of this issue is to get that `features` dat

[2016-05-24 01:08] ghost commented on #837
All of them.

On Thu, May 12, 2016 at 3:47 PM Peter deHaan notifications@github.com
wrote:

[2016-05-24 08:13] kaus02 commented on #845
all the three experiments included in test pilot were active - namely tab center, activity stream and universal search.

[2016-05-24 12:33] macxcool opened #901 "Please don't make me take the survey every time I leave feedback."
Test Pilot is a great idea. I look forward to more.
Please don't make the Feedback such that one must complete the whole survey every time. One has to login to use Test Pilot, so let the survey be used the first time only, or make it an optional add-on to feedback.

[2016-05-24 13:41] meandavejustice commented on #901
cc/ @johngruen

[2016-05-24 14:13] meandavejustice commented on #755
https://github.com/graingert/slimerjs/blob/master/README.md

[2016-05-24 16:33] dedwarmo opened #902 "Going to the Test Pilot brings up a blank page"
When I try to go to https://testpilot.firefox.com/ I just get a blank white page after the loading animation stops (the blue circle-type-thing that rotates where the website icon appears on the tab).  If I hit refresh it will sometimes load the page.  Sometimes after one refresh the page is still blank.  After the second refresh it almost always loads.
- [Mac OS X 10.11.3 ] Operating system
- [ Fi

[2016-05-24 16:59] pdehaan commented on #902
@dedwarmo Thanks for the bug report!
I think you're seeing the elusively intermittent #755 issue.
We're currently investigating and trying and find out why it is happening.

Closing this as a duplicate of #755.

[2016-05-24 16:59] #902 closed, assigned to nobody

[2016-05-24 17:21] ckprice opened #904 "Add Optimizely to Test Pilot."
This issue is created to just add Optimizely to the website.

Optimizely has some [developer notes on single page applications](https://help.optimizely.com/Build_Experiments/AngularJS,_Backbone.js,_React,_and_Single_Page_Applications). It looks like there's a bit of special things we have to do on both the app and in the Optimizely console.

@johngruen as a first step, could you provide the Optimi

[2016-05-24 17:25] macxcool commented on #901
Perhaps there could be two buttons, one for the Survey and one for quick feedback.

[2016-05-24 17:49] edwindotcom opened #906 "Allow experiments to specify max/min Firefox versions"
Activity Stream only supports Fx45 or greater.  We'd like Test Pilot to have a feature where it would ask the user to upgrade their version of Fx if they want to install this experiment.
1. Activity Stream defines min fx version in django UI or in repo
2. Fx44 user browses to Activity Stream experiment and clicks 'enable activity stream'

actual: it installs as normal

expected: user should get a

[2016-05-24 17:50] edwindotcom commented on #906
this is a follow up to #736

[2016-05-24 18:11] johngruen commented on #660
![details cannot install 2x](https://cloud.githubusercontent.com/assets/3323249/17447567/1a92b9ca-5b1d-11e6-85a1-5de5e651d3b6.png)

[2016-05-24 18:15] johngruen commented on #660
@wresuolc maybe we want to set a timeout limit here, like 10 seconds

[2016-05-24 19:19] pdehaan opened #908 "Reenable gulp-imagemin"
... maybe.

In #903 we removed **gulp-imagemin** due to https://github.com/sindresorhus/gulp-imagemin/issues/183.

Not sure if we _need_ gulp-imagemin (or if we can get away with just checking in pre-optimized images), but we should probably discuss.

[2016-05-24 19:45] johngruen commented on #680
@meandavejustice

![disabled from add-on main 2x](https://cloud.githubusercontent.com/assets/3323249/15517568/71b77122-21c6-11e6-8b01-996d8893c478.png)

Here are the exclamation marks:
![notice](https://cloud.githubusercontent.com/assets/3323249/15517582/82eac07a-21c6-11e6-9140-351b15733115.png)
![notice 2x](https://cloud.githubusercontent.com/assets/3323249/15517583/82eb0bc0-21c6-11e6-9e32-ad3efe

[2016-05-24 20:03] pdehaan opened #909 "Resize images for Facebook + Twitter cards"
Re: https://developers.facebook.com/tools/debug/sharing/?q=http%3A%2F%2Ftestpilot.dev.mozaws.net%2F

<img width="674" alt="sharing_debugger_-_facebook_for_developers" src="https://cloud.githubusercontent.com/assets/557895/15518051/cde3d04c-21af-11e6-8c12-f6c626b190bc.png">

We should probably resize Choppy 2.0 to something a bit smaller so it fits nicely without getting cropped.

[2016-05-24 20:05] pdehaan opened #910 "Unable to get Twitter preview for testpilot.dev.mozaws.net"
https://cards-dev.twitter.com/validator

When testing https://testpilot.firefox.com (and http://testpilot.dev.mozaws.net), I got the following output:

Not sure how we enable Twitter card support for [at the very least] the production URL, but we should make sure that works as expected.

[2016-05-24 20:08] pdehaan opened #911 "A few warnings when trying to validate Open Graph card support"
Re: https://developers.facebook.com/tools/debug/sharing/?q=http%3A%2F%2Ftestpilot.dev.mozaws.net%2F

I'm getting a few warnings:

[2016-05-24 20:10] Blackshadowguy opened #912 "Issue"
- [Windows XP ] Operating system

Firefox had flagged the download fire for Firefox test pilot. It said "Are you sure you want to download this file? It might not be safe" and I thought "Thanks for warning me your testpilot files aren't guaranteed to be safe" (is this formatted right?)

[2016-05-24 21:00] ckprice commented on #912
@Blackshadowguy thanks for the report! And yes, this is formatted perfectly.

I'm closing this as a duplicate of #715 which we are actively working to resolve.

Thanks again!

[2016-05-24 21:00] #912 closed, assigned to nobody

[2016-05-24 23:28] pdehaan commented on #910
Here's our current [meta tags](https://github.com/mozilla/testpilot/blob/ba036f1a09145fdf0dafd21a515656c7e8180f85/testpilot/frontend/templates/testpilot/frontend/index.html#L19-L33) (sorted alphabetically so you can see open graph vs twitter easier):

[code]

Plus, here's the link to the [Summary Card](https://dev.twitter.com/cards/types/summary) documentation and a sample HTML:

[code]

| Card Pr

[2016-05-24 23:32] pdehaan commented on #910
Ref: https://github.com/mozilla/testpilot/issues/294

From the looks of my _gorgeous_ table above, we may need a Twitter account if we want Twitter card support.

[2016-05-24 23:38] ckprice commented on #877
Mika from legal dropped by and told me that this issue was blocking a blog post legal wants to publish. It's basically a "Look how simple our privacy pages are!" post that wants to use Test Pilot as a use case.

They would like to publish this post next week, so we're looking at an _out-of-band deployment_ if we want to fulfill this request. Step 1 though is getting this bug closed. I've updated t

[2016-05-24 23:45] mozcmcgill commented on #877
Looping in Kohei who has been a huge help with us updating the legal docs
pages. Hey Kohei, we have a Privacy Notice for Test Pilot [1]  and are to
get the "Learn More" expanding tabs like the Firefox Privacy Notice has.
Could you help us get the formatting right?

[1]
https://github.com/mozilla/testpilot/blob/master/legal-copy/privacy-notice.md

/edit actually looping in @kyoshino

On Tue, May 24

[2016-05-25 12:16] johngruen commented on #909
@pdehaan @lmorchard could i make a custom image for these things? That'd be the optimal/easiest option.

[2016-05-25 12:29] johngruen commented on #906
@edmoz Does activity stream actually break in 44? GA is telling me that 44 has only shown up in ~700 sessions so far and older versions are less than that. IDK if this is a major problem. For UI, i'd suggest the following:
- Use the same UI as #660
- Make The String " {{ Title }} requires Firefox {{ version }} or newer. [Download the latest version of Firefox here](https://www.mozilla.org/firefox/

[2016-05-25 14:17] pdehaan commented on #909
Dear @johngruen,

I believe @lmorchard is at a conference, but I'll go out on a limb and say that since the files are named [.../thumbnail-twitter.png](https://github.com/mozilla/testpilot/blob/master/testpilot/frontend/static-src/images/thumbnail-twitter.png) and [.../thumbnail-facebook.png](https://github.com/mozilla/testpilot/blob/master/testpilot/frontend/static-src/images/thumbnail-facebook.p

[2016-05-25 14:20] pdehaan commented on #906
Yes, Activity Stream requires Firefox 45+ (per https://github.com/mozilla/activity-stream#requirements).

[2016-05-25 15:34] alexgibson opened #913 "Tab Center "Now Active" in menu when when disabled, plus white screen of death."
UA: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; rv:48.0) Gecko/20100101 Firefox/48.0"
## What happened?
1. Clicked on the Test Pilot icon to open the menu
2. Noticed that Tab Center had a green check and "Now Active"

Note: Tab Center was not enabled (bug 1?)
1. I clicked on the Tab Center menu item
2. Test Pilot page opened with a white screen of death and JS error (bug 2? related to #755)

![

[2016-05-25 15:35] lmorchard commented on #742
FWIW, also realized that [`syncAllAddonInstallations()` in the addon](https://github.com/mozilla/testpilot/blob/master/addon/index.js#L349) depends on the current installations array format from the server. So, that will need a tweak - probably more complicated than just an `Object.keys`, because installations need to be filtered for those applicable to the current clientUUID

[2016-05-25 16:19] johngruen commented on #873
Adding in the logo is going to be a bit complicated b/c it'll likely confuse people. here's a change i have ready to go which
- changes the string
- adds a filter on the experiment image to make it visible
- slightly moves the stars to make them more aligned with copy

<img width="1177" alt="screen shot 2016-05-25 at 12 16 54 pm" src="https://cloud.githubusercontent.com/assets/3323249/15547686/db8

[2016-05-25 16:19] meandavejustice commented on #913
Thanks for reporting @alexgibson. Closing as dupe of #869 and #755

[2016-05-25 16:19] #913 closed, assigned to nobody

[2016-05-25 16:47] ckprice commented on #873
I thought we'd be adding in the Test Pilot logo (and/or the Firefox logo). Will people recognize the individual experiment logos?

Also, someone noted to me yesterday that it may be nice to have a link back to the experiment page for further context.

[2016-05-25 17:40] jvehent opened #915 "Do not enable permissive building of fork pull requests in CircleCI"
Hi everyone,
This isn't an issue as much as a notification. We tested some elements of circleci/docker security yesterday and noticed the "permissive build" option was set to "on". That option allowed every fork of the testpilot repo to access environment variables that contain secrets, like the DOCKER_PASS.
We changed that setting to "off". Please make sure it remains that way.

Thanks,
Julien

c

[2016-05-25 17:40] #915 closed, assigned to nobody

[2016-05-25 17:51] pdehaan opened #916 "Four Oh Four! header doesn't have a lot of contrast"
Found in https://testpilot.stage.mozaws.net/__version__ (3eef36e8365dce6693f5de2f8f9b903cf1a3b69b):

[code]

---
### Steps to reproduce:
1. Go to https://testpilot.stage.mozaws.net/robots.txt
2. Read it.
3. Weep.
### Actual results:

![firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/15550398/23f8127a-2266-11e6-9b2b-d12d6b5c55e4.png)
**Figure 1:** https://testpilot.stage.mozaw

[2016-05-25 18:18] ghost commented on #873
In desktop Heartbeat we have a "Learn More" link floating left of the "X"
button that looks pretty good.  If we were to link to the experiment we
could have a "View Add-on", "Go to experiment", or "Learn More" link
there.

On Wed, May 25, 2016 at 9:57 AM, Cory Price notifications@github.com
wrote:

[2016-05-25 19:10] #866 closed, assigned to lmorchard

[2016-05-25 19:14] claudijd commented on #915
👍

[2016-05-25 19:19] #883 closed, assigned to meandavejustice

[2016-05-25 19:21] johngruen commented on #702
@pdehaan you still seeing this?

[2016-05-25 19:26] johngruen commented on #916
Fixed By #921

[2016-05-25 19:26] #916 closed, assigned to nobody

[2016-05-25 19:41] johngruen commented on #910
@pdehaan we have a twitter account https://twitter.com/FxTestPilot

[2016-05-25 19:52] pdehaan commented on #702
I don't remember seeing it this week on dev or prod.

[2016-05-25 19:55] pdehaan commented on #910
Do parachutes work in space?
/ducks

[2016-05-25 19:56] pdehaan commented on #294
Per https://github.com/mozilla/testpilot/issues/910#issuecomment-221684509,

[2016-05-25 20:18] pdehaan commented on #911
More Open Graph docs: http://ogp.me/ (since I don't know nothing about Open Graph and this is _almost_ interesting).

Plus https://developers.facebook.com/docs/platforminsights/domains has some good info on setting up `fb:app_id`.

[2016-05-25 20:57] kyoshino commented on #877
Looking into this now.

[2016-05-25 20:57] pdehaan commented on #909
This was fixed via #922.
Will close this out once dev gets deployed and I can give it a proper eyes-on against Facebook+Twitter validation tools.

[2016-05-25 20:58] mozcmcgill commented on #877
Thanks Kohei!

On Wed, May 25, 2016 at 1:57 PM, Kohei Yoshino notifications@github.com
wrote:

[2016-05-25 21:22] pdehaan commented on #910
Closing. This currently looks great and works awesome (in dev).

<img width="1007" alt="card_validator___twitter_developers" src="https://cloud.githubusercontent.com/assets/557895/15556688/129e8770-2284-11e6-8737-7d90b3f0794f.png">

[2016-05-25 21:22] #910 closed, assigned to nobody

[2016-05-25 21:24] pdehaan commented on #909
Closing. This looks great [on dev] for Twitter and Facebook!

<img width="1007" alt="card_validator___twitter_developers" src="https://cloud.githubusercontent.com/assets/557895/15556711/32daa7ee-2284-11e6-87e1-0bfe32799262.png">

<img width="757" alt="sharing_debugger_-_facebook_for_developers" src="https://cloud.githubusercontent.com/assets/557895/15556722/40e98350-2284-11e6-9c53-077b3c5e3002.png

[2016-05-25 21:24] #909 closed, assigned to nobody

[2016-05-25 21:25] pdehaan commented on #911
Leaving this one open. I'm still seeing the "Share App ID Missing" warning after our latest tweaks:

<img width="1038" alt="sharing_debugger_-_facebook_for_developers" src="https://cloud.githubusercontent.com/assets/557895/15556757/74bdbb92-2284-11e6-90b4-ca369bc0e2f9.png">

[2016-05-25 21:31] pdehaan commented on #761
I believe this was fixed by #922 (see https://github.com/mozilla/testpilot/issues/909#issuecomment-221712075 for screenshots)

I didn't verify SERPs, so I'll lazily reassign this to @ckprice to verify and close if he's happy (and file new issues if he's not -- we should probably file a new issue for experiment specific social metadata and set it as blocked by #419 regardless).

[2016-05-25 21:37] ckprice commented on #761
Closing this. There are a couple of issues that #419 will spawn, we can file those when its ready to be worked on.

[2016-05-25 22:13] ghost commented on #782
I'm seeing this for Tab Center at least once a day as well.

[2016-05-25 22:13] ghost commented on #899
dupe of #782

[2016-05-25 22:13] #899 closed, assigned to nobody

[2016-05-25 22:16] #828 closed, assigned to nobody

[2016-05-25 22:20] ghost commented on #837
I can't reproduce this.  See screenshot:
![bookmarks](https://cloud.githubusercontent.com/assets/16946141/15558054/0379d8fa-228c-11e6-9130-a8975696fe8e.png)

@jasoncheng1024 -- can you attach a screenshot and describe more about the results you're seeing?  Can you try disabling the add-ons and enabling one at a time to see if that affects anything?  Thanks.

[2016-05-25 22:21] ghost commented on #812
It's been 2 weeks. closing...

[2016-05-25 22:21] #812 closed, assigned to nobody

[2016-05-25 22:27] ghost commented on #908
Optimizing images before they go in makes sense to me and there's less stuff to break.  This is apparently how people describe two cents in emoji: ✌💰

[2016-05-25 22:30] ghost commented on #901
I have also just closed the tab halfway through one of those surveys.  It feels misleading to have a quick little "rate 1-5 stars" and then suddenly you're staring at a screen full of radio buttons.

[2016-05-25 22:42] macxcool commented on #901
It makes sense to fill it out once, but perhaps when you're ready to fill it out. I had feedback almost immediately, but hadn't used it enough to fill out a survey intelligently.

[2016-05-25 23:09] meandavejustice commented on #782
Moving into current milestone because this bug is A N N O Y I N G

[2016-05-26 01:15] kyoshino commented on #877
#923 will fix it!

[2016-05-26 12:55] marco-c opened #924 "Don't ask to rate an addon that isn't activated"
I have `Tab Center` installed, but I'm not using it (it is disabled).
Test Pilot asked me to rate it.

[2016-05-26 12:56] marco-c opened #925 "Don't ask to rate addons too often"
I get prompted to rate `Universal Search` too often (I think more than once a day).

[2016-05-26 16:24] ckprice commented on #925
Closing as a dup of #782 which we is a priority for this sprint.

[2016-05-26 16:24] #925 closed, assigned to nobody

[2016-05-26 17:06] stuartphilp opened #926 "Experiment "Now Active" and checkmark not shown in menu although experiment is active"
I guessing this an issue with testpilot not activity stream...

I clicked the testpilot menu item after seeing an email that activity stream had been updated. I can see the list of experiments, it shows the universal search is active (and it is), tab center is not active (and it isn't), but activity stream shows it is not active (but it should be).

<img width="563" alt="screen shot 2016-05-26 at

[2016-05-26 17:23] pdehaan commented on #926
Dear @stuartphilp,

I think this is a dupe of #723; **Update doorhanger `Active` state on enablement without a refresh**
Closing.

Sincerely,
@pdehaan

[2016-05-26 17:23] #926 closed, assigned to nobody

[2016-05-26 22:53] pdehaan opened #928 "Add CHANGELOG.md"
Diff-ing between releases isn't difficult or impossible (see [2016-05-18...2016-05-24](https://github.com/mozilla/testpilot/compare/2016-05-18...2016-05-24)), but it may be better to have an auto generated CHANGELOG using something like [**conventional-changelog-cli**](https://github.com/conventional-changelog/conventional-changelog-cli); so we can quickly diff releases.

[2016-05-26 23:07] lmorchard commented on #928
Personally, I'd rather work toward using a tool like [whatsdeployed](https://github.com/peterbe/whatsdeployed). We have a 2-week cadence now, but eventually I'd like to see us get to continual deployment. Changelogs don't make a lot of sense when you might be deploying a few times a day

[2016-05-27 15:41] lmorchard commented on #882
Got this started in [a branch](https://github.com/lmorchard/testpilot/tree/882-csp-yay), but still chasing down a CSP violation report. Everything on the site seems to work, but I can't figure out where this report is coming from. I have [a hunch](https://github.com/emberjs/ember.js/issues/543) that it's mustache templates, which we don't pre-compile and thus invoke eval at runtime.

[code]

But i

[2016-05-27 16:09] lmorchard commented on #882
Oh ho! Disabled all my add-ons except for Test Pilot, and the CSP violation went away. I remembered [bug 615708](https://bugzilla.mozilla.org/show_bug.cgi?id=615708) and how content injected by add-ons in affected. Thinking in that case, we'll need to be sure CSP violation reporting isn't turned on in prod so we don't get DDoS'd like AMO did at one point

[2016-05-27 16:17] lmorchard commented on #882
Re-enabled all my add-ons one by one, and it seems React DevTools and Privacy Badger both trigger CSP violations.

[2016-05-27 18:50] #444 closed, assigned to lmorchard

[2016-05-27 20:18] ghost commented on #895
We'll need lots more info to debug this.  Other extensions installed?  Errors in the console?  Reproducible in a new profile?

[2016-05-27 20:25] ghost commented on #856
@pdehaan can you reproduce this?

[2016-05-27 20:27] johngruen commented on #845
Hey @kaus02 I think this is a dupe of resolved bug in Tab Center. Can you reproduce in the latest version?

[2016-05-27 20:28] johngruen commented on #843
This is mitigated by #660

[2016-05-27 20:29] johngruen commented on #843
Marking as a dupe.

[2016-05-27 20:29] #843 closed, assigned to nobody

[2016-05-27 20:41] ghost commented on #802
https://github.com/mozilla/testpilot/issues/660 will handle this

[2016-05-27 20:41] #802 closed, assigned to nobody

[2016-05-27 20:41] ghost commented on #772
https://github.com/mozilla/testpilot/issues/660 will fix this

[2016-05-27 20:41] #772 closed, assigned to nobody

[2016-05-27 20:43] kaus02 commented on #845
Hey @johngruen
No it's not resolved, checked it again still new tab button missing(v 46.0.1). I am attaching the screenshot in which tab center is activated.
![screenshot 22](https://cloud.githubusercontent.com/assets/14627369/15626680/bed39b78-24e8-11e6-998b-ed5fbeeabefe.png)
And also the one in which tab center is deactivated.
![screenshot 23](https://cloud.githubusercontent.com/assets/14627369/

[2016-05-27 20:56] ckprice commented on #904
Just a note that once this lands, @garethcull has some cool dashboarding we can use to track results and learnings.

[2016-05-27 22:14] pdehaan commented on #856
I wasn't able to reproduce on OS X w/ Firefox 46.0.1 after disabling Tab Center. I was able to complete the survey (even after resizing browser lots, switching tabs, switching browsers, viewing some YouTube videos in a different browser, then returning ~20m later to hit Next a couple times. Both times the Next version clicked (the first time was me not fully entering the required fields and it cor

[2016-05-28 00:00] rtanglao commented on #419
from: https://twitter.com/derspiny/status/736039687647809536
"I’d love it if testpilot did something sensible, like show screens, for non-Firefox users."

[2016-05-28 14:44] zackp30 commented on #755
Sorry to be "that guy", but is this fixed now?

[2016-05-28 16:56] lmorchard commented on #755
Issue's still open, we're still poking at it.

[2016-05-28 22:24] InfiniteMonkeys commented on #772
I hoped you were correct and some fix you had implemented would fix the
problem.

I uninstalled TestPilot, rejoined and reinstalled it.  Whenever I try to
enable "Activity Stream" or "Universal Search", the button just shows
"ENABLING" and never completes.  I have uninstalled it again and will wait
for someone else to reply with a fix that actually works.

Thanks

On Fri, May 27, 2016 at 1:41 PM B

[2016-05-29 17:59] ghost opened #931 "Glitch in opening of tabs"
When I try and open a new tab, if I hover my mouse over the '+' and wait for the tab center to fully open, it will put the new tab on top of the old tab, but if I press the '+' while the tab center opening  animation is still playing, the new tab appears on the bottom.
![ontop](https://cloud.githubusercontent.com/assets/12704804/15635179/672d504a-258c-11e6-817f-dd3088ac6d8e.PNG)
![onbottom](https:

[2016-05-30 07:35] bnjbvr opened #932 "Please rate undefined"
Please see [screenshot](https://benj.me/pub/1464593506.png).

I'm using Ubuntu 15.10, Firefox Nightly 2016-05-25.

Only Activity stream is activated at the moment. I've enabled Universal Search at some point but disabled it later.

Please let me know if you need further information.

[2016-05-31 11:31] meandavejustice commented on #931
I've reopened on the [tab center bug list](https://github.com/bwinton/VerticalTabs/issues/313)

[2016-05-31 11:31] #931 closed, assigned to nobody

[2016-05-31 11:36] #885 closed, assigned to meandavejustice

[2016-05-31 16:56] lmorchard commented on #865
So, in between games of Overwatch over the weekend, [I started converting some views to React to see what it would look like](https://github.com/lmorchard/testpilot/commit/4251139c729aba876a79076805181a3add8d8ba9). Comments & critique welcome, hoping to have some more of this done to talk about in London.

[2016-05-31 17:07] lmorchard commented on #865
Some TL;DRs from my experience converting some core views so far:
- React isn't all-or-nothing - we can incrementally replace Ampersand views (and change tests).
- Redux replacing all Ampersand models would be an end goal after views are done.
- The React idiom for styling is CSS-in-JS for inline styles. But, personally I'm not a fan and we have all this good CSS already - so we never need to adop

[2016-05-31 20:59] #53 closed, assigned to lmorchard

[2016-05-31 21:42] meandavejustice commented on #865
This is looking good. The react version of experiment details _does_ look simpler. It sure is long tho. We could probably break it into smaller components though.

I recently started working on a side project that is using the whole redux, react, react-router etc.. stuff so i'm learning as well. Getting more and more comfortable with redux. The css story for this project has been [postcss](https:/

[2016-06-01 01:43] warpr opened #934 "Test Pilot icon cannot be moved"
[code]

Having enabled Universal Search, I now have the Test Pilot icon next to the address bar.  For most of the icons there I can click the hamburger menu, then click Customize, and then drag them into the hamburger menu so I don't clutter my screen with stuff I don't use frequently.

For some reason that doesn't work anymore with the Test Pilot icon, which is really annoying.

[2016-06-01 01:45] warpr commented on #934
Nevermind, it seems this is fixed again in 48.0a2 (2016-05-31). Thanks! :)

[2016-06-01 01:45] #934 closed, assigned to nobody

[2016-06-01 01:56] warpr commented on #719
Looks correct for me in Developer Edition on Fedora 23, when it is near the address bar.  But it stays white when dragged into hamburger menu using customize:

![test-pilot-icon](https://cloud.githubusercontent.com/assets/85700/15695982/e92032d4-2771-11e6-9e18-e5ed3b7d71d1.png)

[2016-06-01 04:50] lmorchard commented on #865
Yeah, that was pretty much just copypasta of the original mustache template and then tweaks to reactify it. Could totally get broken up.

And my CSS stance on this project is pretty much if @johngruen is happy, I don't wanna mess with it :)

[2016-06-01 16:53] ckprice commented on #715
Quick update

In [bug 1274332](https://bugzilla.mozilla.org/show_bug.cgi?id=1272395#c2) we received a go-ahead to add us to the whitelist once the following issues are closed.
- [x] Implement Content Security Policy mozilla/addons#1599
- [ ] Move Test Pilot /admin/ to something hosted behind a secure Mozilla VPN mozilla/addons-server#890 (ops bug)

[2016-06-01 17:04] #873 closed, assigned to johngruen

[2016-06-01 17:25] lmorchard commented on #865
Also speaking of breaking up that experiment view... Ironically, it was [this tweet from Henrik Joreteg](https://twitter.com/henrikjoreteg/status/652157136605020160) (the instigator of Ampersand) that kind of turned me around on React. Stateless functional components are pretty keen. You can just do something like:

[code]

[2016-06-01 17:28] ckprice commented on #890
Assigning to benson and moving to in progress.

[2016-06-01 19:28] hafta commented on #869
I have hit a similar issue where tab center doesn't display as active in the test pilot drop down list, but it is installed and clicking on tab center then changes the list item to appear as installed. See screenshot where tab center is installed, but not displayed as installed in the drop down list. I've only seen this problem with tab center.

I hit this problem on Firefox release too.

![tab-ce

[2016-06-01 21:03] #742 closed, assigned to meandavejustice

[2016-06-01 22:29] ckprice commented on #904
I've done a bit more digging into the [Optimizely SPA documentation](https://help.optimizely.com/Build_Experiments/AngularJS,_Backbone.js,_React,_and_Single_Page_Applications). There are a couple major ways that our implementation will have to change from a standard implementation (only one of which will require code changes to the app).

**Custom events**

In single page apps, we have to [add a c

[2016-06-01 23:11] pdehaan opened #936 "TypeError: can't define property "pingTimer": Object is not extensible"
Randomly spotted in Test Pilot Browser Console:

[code]

[2016-06-01 23:11] pdehaan commented on #936
~~I also saw this, but not sure if it's related:~~ **UPDATE:** It's not, per https://github.com/mozilla/testpilot/issues/936#issuecomment-223344061

| WHAT | WHERE |
| --- | --: |
| `this.TelemetryStopwatchImpl.timeElapsed()` | TelemetryStopwatch.jsm:297 |
| `this.TelemetryStopwatchImpl.finish()` | TelemetryStopwatch.jsm:315 |
| `this.TelemetryStopwatch.finish()` | TelemetryStopwatch.jsm:192 |
| `

[2016-06-02 10:58] rpichot opened #937 "Cannot close tab"
For an unindentified reason one of my tab lost icon/label/close button

![capture](https://cloud.githubusercontent.com/assets/7021290/15742740/ad77509e-28b8-11e6-9e9f-cecd93c3b1b6.PNG)

When I reload it, or close it and reopen it, nothing change (keyboard shortcuts or by right clicking on the tab)

When I move it to a new window, the icon/label/close button reappear in the new firefox window. I ca

[2016-06-02 16:20] georgf commented on #936
The `TelemetryStopwatch` issue is a known separate issue and unrelated.

[2016-06-02 17:35] karlht commented on #815
Stuart and I have both observed that the 'testpilot' ping does not show up in about:telemetry ten minutes after we install test Pilot on a fresh profile.  We're both on Nightly (49.0a) -- he's on OS X and I'm on Linux.

Is this expected behaviour?  How soon should we expect the first 'testpilot' ping to appear after installation?

[2016-06-02 17:38] stuartphilp commented on #815
Maybe it ought to send sooner for the first ping and then get on the 24 hour timer?

[2016-06-02 17:48] ghost commented on #815
If I'm reading the metrics.js script correctly, the first ping goes out at 24 hours and 10 minutes.  That shouldn't happen -- @lmorchard can you confirm?

@lmorchard on line 37 there is a reference to store.telemetryPing.  Can you tell us where that is being set?

[2016-06-02 18:09] lmorchard commented on #815
Yeah, that's probably what the code does now.

Looks like it doesn't - I think that was meant to be `telemetryPingPayload` or something got renamed along the way.

Can get a PR together to fix these two things

[2016-06-02 18:10] lmorchard commented on #815
Do we have a way to see where these pings end up / when they happen? We've been kind of developing this stuff against a black box without a way to verify the results.

[2016-06-02 18:34] lmorchard commented on #815
[Got what I _think_ are some fixes in PR #938](https://github.com/mozilla/testpilot/pull/938), but I'm not seeing _any_ pings newer than 5/8 in my about:telemetry "Archived ping data" section that would verify that it's working.

[2016-06-02 18:42] pdehaan opened #939 ""A promise chain failed to handle a rejection" in Browser Console when uninstalling experiments"
### Steps to reproduce:
1. Sign in to https://testpilot.firefox.com/
2. Enable an experiment (ie: https://testpilot.firefox.com/experiments/activity-stream)
3. Open browser console
4. Disable experiment from step 2.
### Actual results:

[code]

It's a big wall of text, but these two lines stood out:

[2016-06-02 20:09] ckprice commented on #782
I'm going to add an additional piece of feedback from @mattgrimes:

This is high priority to investigate to confirm it's not something on the Test Pilot side.

@meandavejustice this is still planned for this sprint (ending tomorrow). Should we update this bug to something like "Investigate survey intervals" or are you good to leave as is.

[2016-06-03 00:00] pdehaan opened #940 "Audit telemetry ping vs docs"
According to the [docs/README-METRICS.md](https://github.com/mozilla/testpilot/blob/master/docs/README-METRICS.md#data-collection-details) docs, our Telemetry ping should look something like this:

[code]

I went through and took a look at some of the Telemetry pings that I've been sending, and they look _slightly_ different, but I'm not sure if the docs aren't 100% accurate or if we're not sendin

[2016-06-03 00:18] pdehaan commented on #937
@rpichot Thanks for the bug report!

This looks like a Tab Center specific issue, so I migrated it over to https://github.com/bwinton/VerticalTabs/issues/328 for better tracking.

Closing this issue in favor of the upstream Tab Center one.

[2016-06-03 00:18] #937 closed, assigned to nobody

[2016-06-03 08:16] Dexterp37 opened #942 "testpilot-addon:TypeError: can't convert undefined to object"
Spotted today in Firefox Release 46.0.1 (buildId 20160502172042), on Windows 10 (Build 10586 UBR 318):

![testpilot-bug](https://cloud.githubusercontent.com/assets/883721/15772842/d72f9d86-2973-11e6-9c97-12ee15213756.png)

The stack from the browser console:

[code]

[2016-06-03 14:14] #815 closed, assigned to clouserw

[2016-06-03 14:14] #936 closed, assigned to lmorchard

[2016-06-03 17:46] #877 closed, assigned to nobody

[2016-06-03 19:13] meandavejustice commented on #684
Would recommend moving to the next milestone.

[2016-06-03 19:14] meandavejustice commented on #869
I think this may be fixed in https://github.com/mozilla/testpilot/issues/913. Let's see once it gets deployed

[2016-06-03 19:37] #782 closed, assigned to meandavejustice

[2016-06-03 19:50] pdehaan opened #943 "Add robots.txt?"
Not sure if we want to add a robots.txt in case we want to optimize spider behavior (or access to admin, although that's probably better tracked by #890).

Currently going to https://testpilot.firefox.com/robots.txt takes you to the 404 page.

[2016-06-03 20:05] ghost commented on #943
Could start with /admin/ and build from there.  the heartbeat pages?  Either way, let's make sure we add it to the logging whitelist so it doesn't show up in our stats.

[2016-06-03 20:07] ghost commented on #940
We should also include how to use our testpilottest pings

[2016-06-03 20:11] lmorchard commented on #433
See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1252215

[2016-06-03 20:12] ghost commented on #928
We could be more verbose in https://github.com/mozilla/testpilot/releases and use that.

[2016-06-03 20:14] #928 closed, assigned to nobody

[2016-06-03 20:16] #895 closed, assigned to nobody

[2016-06-03 20:20] lmorchard commented on #881
Whoops. Looks like things are broken on dev. Investigating.

[2016-06-03 20:20] johngruen commented on #887
Closing in favor if #887

[2016-06-03 20:21] #887 closed, assigned to johngruen

[2016-06-03 20:22] #837 closed, assigned to nobody

[2016-06-03 20:22] #800 closed, assigned to nobody

[2016-06-03 20:26] johngruen opened #944 "Create place in experiment details to call out incompatable add-ons"
Some experiments collide with other add-ons. We should call these out on experiment details pages.

[2016-06-03 20:26] ghost commented on #775
forward dupe of #932

[2016-06-03 20:26] #775 closed, assigned to nobody

[2016-06-03 20:26] johngruen commented on #796
closing in favor of #944

[2016-06-03 20:26] pdehaan commented on #798
I can still reproduce this on https://testpilot.stage.mozaws.net/experiments (but testpilot.dev.mozaws is broken right now so I can't verify in leading edge build)

[2016-06-03 20:26] ghost commented on #773
ok, closing. thanks for filing

[2016-06-03 20:27] #773 closed, assigned to nobody

[2016-06-03 20:27] #796 closed, assigned to johngruen

[2016-06-03 20:28] ghost commented on #754
John suspects this is an upstream bug which we might not be able to affect.

[2016-06-03 20:29] ghost commented on #754
If we can reproduce in other add-ons, let's just close this

[2016-06-03 20:35] lmorchard commented on #881
Ugh, I see what it is:

[code]

The hash for `main.css` is what gets used in the integrity hash, but `main.885355dc102e.css` is what's linked. Looks like Django tries to minify our CSS that's already been minified by gulp, so the hashes don't match. Going to poke at that some more.

[2016-06-03 21:11] pdehaan commented on #881
Ref: #945

[2016-06-03 21:11] ckprice commented on #433
I'm moving this into the current milestone to make sure we're tracking this. Wayback Machine is blocked by this bug.

[2016-06-03 21:14] pdehaan commented on #881
That sounds kind of bad. Or at least potentially worrysome if it does that for JavaScript too, as it could break sourcemaps (if we currently use them, or are planning on adding them in the future).

[2016-06-03 21:19] pdehaan commented on #944
HttpFox seems to be incompatible (Ref: #796)

[2016-06-03 21:20] ckprice commented on #433
Confirmed in #amo that this is something that will have to ride the trains. Once it gets resolved, I'll request an uplift.

[2016-06-03 21:26] lmorchard commented on #881
We have sourcemaps, but only in development. They mainly work for the es6-processed but non-minified source. They've never worked for prod

[2016-06-05 02:49] ghost opened #947 "'Download' Icon Glitched"
Whenever I download a file, it appears like this:
![frozen](https://cloud.githubusercontent.com/assets/12704804/15803337/6900eef8-2a8d-11e6-8ba9-9a00dc205915.PNG)
If I close and reopen Firefox it disappears, but re-downloading something will cause the glitch again.

[2016-06-06 14:33] lmorchard commented on #881
Should be fixed with https://github.com/mozilla/testpilot/pull/945

[2016-06-06 14:33] #881 closed, assigned to nobody

[2016-06-06 17:16] ckprice commented on #433
~~Ref 904, may want to make sure Optimizely is okay.~~

/edit WRONG BUG, thanks Les.

[2016-06-06 17:19] pdehaan commented on #947
@Qhuea Which Test Pilot add-ons do you currently have installed?

[2016-06-06 17:39] #66 closed, assigned to lmorchard

[2016-06-06 17:42] lmorchard commented on #433
FWIW, I think this might be more relevant to #715 & possible add-on install whitelisting

[2016-06-06 17:43] lmorchard commented on #715
Quick security point: As we're tightening things up for possible add-on install whitelisting in Firefox, is adding Optimizely to the site okay? (issue mozilla/addons-server#904)

[2016-06-06 17:47] lmorchard commented on #433
Starting to try catching myself up on the concerns surrounding this issue.

Wondering if another approach is that we have the webextension throw metrics pings at the Test Pilot HTTP API? From there, we somehow get them into the telemetry pipeline via an alternate pathway. Maybe the Test Pilot server relays those pings on to the Telemetry servers?

Edit: Oh, but those webextension pings would proba

[2016-06-06 17:51] ckprice commented on #897
@rayborn Do you need anything else to draw up a report for this? We got product sign off in our last meeting. Thanks!

[2016-06-06 18:13] MattGrimes opened #949 "Share Survey Gizmo response ID with Telemetry"
We closed issue #829 in favor of this route. Each survey has a unique response ID that is generated at the time of creation. We should record this in Telemetry so that we can look at how attitudinal measures compare to actual usage.

If it looks like this is a challenge we could generate a random uuid in TxP that we pass into the survey as a url param.

[2016-06-06 18:14] ckprice commented on #829
Closed in favor of #949.

[2016-06-06 18:14] #829 closed, assigned to nobody

[2016-06-06 18:15] ghost commented on #433
The above bugs about WebExtension <-> SDK messaging are planned to land in Firefox 50, so, we have a few months to cover.

Pinging testpilot.firefox.com sounds like a great idea.  Our logs are already set up there to get into redshift and we already have a `service` field for if we got pinged from a specific experiment.  Setting up a lightweight end-point for simple data collection is my favorite

[2016-06-06 18:23] pdehaan opened #950 "None of the "sha384" hashes in the integrity attribute match the content of the subresource"
Ref: https://github.com/mozilla/testpilot/pull/945#issuecomment-223713540

Found in http://testpilot.dev.mozaws.net/__version__ (3b2838cf9a3b468e5dc13d4454ef936c584bdb75):

[code]

---

Looks like this was deployed to Pontoon prod! Now the only error I'm seeing in my console is:

&mdash; via http://testpilot.dev.mozaws.net/experiments

It doesn't seem to tell me what the subresource in question is

[2016-06-06 18:25] pdehaan commented on #950
Google Chrome's DevTools Console says:

[2016-06-06 18:39] #665 closed, assigned to nobody

[2016-06-06 18:44] lmorchard commented on #950
Looks like the external resource changed since I last hashed it:

[code]

That will happen in between our deployment windows, so I added [an admin override](http://testpilot.dev.mozaws.net/admin/constance/config/) for hashes. I just updated that on dev, and it looks like the error went away for me.

[2016-06-06 18:48] lmorchard commented on #950
Also just updated [on stage](https://testpilot.stage.mozaws.net/admin/constance/config/), and will need to follow up on prod once the SRI feature makes it there.

[2016-06-06 19:22] #950 closed, assigned to lmorchard

[2016-06-06 19:26] lmorchard commented on #433
Just so happens I had some code lying around from a previous PR which adds an `/api/metrics/testpilottest` resource. Seems slightly spammable, since I disabled the auth requirement.

But, [with that PR](https://github.com/mozilla/testpilot/issues/952), a webextension should be able to POST JSON at `https://testpilot.firefox.com/api/metrics/testpilottest` and have it show up in server logs / redshi

[2016-06-06 21:21] ghost commented on #947
@pdehaan Tab Center

[2016-06-07 15:58] kumar303 commented on #715
It would be great if you could enable [CSP](https://developer.mozilla.org/en-US/docs/Web/Security/CSP) on https://testpilot.firefox.com/ (I only checked the prod site, maybe it's forthcoming?)

[2016-06-07 16:25] ckprice commented on #715
Ref mozilla/addons-server#930.

[2016-06-07 16:26] AndrewSouthpaw opened #953 "Can't "Get Started" with test features."
OS: OS X 10.11
Firefox 46

When I click "Get Started" to learn more about the different features from [this page](https://testpilot.firefox.com/experiments), it takes me to a blank screen. This appears in the console:

[code]

[2016-06-07 16:50] lmorchard commented on #433
Thinking about this some more, I've got an idea to try:
- WebExtensions can load background pages & scripts
- Background pages can include `<iframe>`s
- An `<iframe>` can be loaded from the Test Pilot site
- The main Test Pilot add-on injects a content script into pages from the Test Pilot site
- So... I think a bridge can work something like:

[code]

Edit: This seems to be a dead end. The main a

[2016-06-07 18:42] #882 closed, assigned to nobody

[2016-06-07 21:22] lmorchard commented on #433
Spent most of the day trying to figure out a way to hack together a communication bridge between a WebExtension and the main Test Pilot add-on, but just ran into dead ends. [Bug 1252215](https://bugzilla.mozilla.org/show_bug.cgi?id=1252215) will probably end up being the thing that actually works.

Until then, PR #952 and having WebExtensions send metrics pings to the server are probably the best

[2016-06-07 23:37] pdehaan opened #955 "testpilot.dev update.rdf points to production updateLink?"
Not sure if any of this matters or not, but it looks potentially suspicious and crossing streams.

http://testpilot.dev.mozaws.net/static/addon/update.rdf returns some XML that looks [roughly] like this:

[code]

The 4ce1eec SHA checks out, since that was the latest commit, the `maxVersion` looks weird to me (if anything enforces that), plus the `em:updateLink` points to the **PRODUCTION** addon.x

[2016-06-08 00:40] chuckharmston commented on #955
`ec8030f7-c20a-464f-9b0e-13a3a9e97384` is the application ID for Firefox, `aa3c5121-dab2-40e2-81ca-7ea25febc110` is for Firefox for Android.

[2016-06-08 07:52] ghost commented on #947
It happenned by me too without Test Pilot a few Nightlies ago, I don't have it anymore with the latest Nightly...

[2016-06-08 13:25] jotes commented on #684
@pdehaan @lmorchard I can look into this if you don't mind.

[2016-06-08 16:05] YoDaMa opened #956 "Nothing seemed to start."
- [ ] Operating system
- [x] Firefox build (Nightly, Developer Edition, Beta, Release)

The Test Pilot does not seem to really work at all. I've downloaded the addon, however nothing works when clicking and I can't activate any of the test. Each one I click on just takes me to a page that doesn't load.

[2016-06-08 17:08] lmorchard commented on #684
@jotes that would be amazing! Pretty much all of the core dev team are about to wander off to an all-hands in London over the next few days, so none of us are likely to dig into this very soon.

[2016-06-08 18:22] ckprice commented on #956
@YoDaMa thanks for the report! As we try to reproduce this, could you please add a bit more information?
- Does this just happen in the Release channel, or all builds?
- What OS are you using?
- Are you in private browsing, or do you have tracking protection on?
- What other add-ons do you have installed?

Thanks!

[2016-06-08 18:47] kaganjd opened #958 "Fix issue with run-common.sh in Dockerfile"

[2016-06-08 19:10] YoDaMa commented on #956
Hrm strange now it works after restarting Firefox. I have onetab, adblockplus, Pocket, and ePub-Catalog as add-ons. I don't have private browsing on, and I am using Windows 10. However, the problem seems to be resolved. I am not sure why or what changed.

[2016-06-08 19:14] ckprice commented on #956
Thanks! Let us know if anything else comes up.

[2016-06-08 19:14] #956 closed, assigned to nobody

[2016-06-08 19:24] #958 closed, assigned to kaganjd

[2016-06-08 21:15] ckprice opened #960 "Console error: `sync-installed failed undefined` on /experiments"
OSX, updated Nightly.

STR:
- Have Activity Stream installed.
- Refresh homepage.
- Click on the Firefox Test Pilot link in the header/logo.
- Keep clicking until you see that the homepage has loaded without the active checkbox appearing on Activity Stream (takes < 5 or so tries).

Expected Result:
- There should be a green checkmark next to the Activity Stream area.

Actual Result:
- Console erro

[2016-06-08 23:33] pdehaan opened #962 "CSP errors when using Chrome"
Found in http://testpilot.dev.mozaws.net/__version__ (107d86faf8177fefd564692ee20bf67420cd5aa9):

[code]

---
### Steps to reproduce:
1. Open Google Chrome.
2. Open Developer Tools and select the Console tab.
3. Go to http://testpilot.dev.mozaws.net/privacy
### Actual results:

[2016-06-08 23:34] pdehaan commented on #962
I can't reproduce the error message in Firefox, so maybe they just report differently.
I also can't reproduce on stage, but am not sure yet if that's because the changes haven't been uplifted, or if there's potentially some issue w/ dev being on HTTP and stage being on HTTPS.

[2016-06-08 23:43] lmorchard commented on #962
Hmm, that's actually a super-suspicious data URL that CSP is designed to block. We don't use any on the site. Do you have any extensions running in Chrome? Those tend to have occasional issues in both Chrome & Firefox.

[2016-06-08 23:57] pdehaan commented on #962
Ah, yeah, it may have been my uBlock or "Mark non-secure links". I can't reproduce the error if I switch to Chrome Private Browsing mode w/ no plugins active.
Sorry for the noise.

[2016-06-08 23:57] #962 closed, assigned to nobody

[2016-06-09 00:04] lmorchard commented on #962
Naw, good to report & keep in mind for the inevitable future reports of this scenario

[2016-06-09 13:28] ncloudioj opened #963 "Failed to enable the addons"
- Unknown
- Firefox build (most recent release)

A couple of users [#811](https://github.com/mozilla/activity-stream/issues/811), [#803](https://github.com/mozilla/activity-stream/issues/811) have reported that they couldn't enable the addon via TestPilot. According to the issue report, this issue affected both Activity Stream and Universal Search.

[2016-06-09 15:29] tspurway opened #964 "Activity Stream page on https://testpilot.firefox.com broken"
We see a blank screen when navigating to https://testpilot.firefox.com/experiments/activity-stream

Error reported by console is:
TypeError: can't convert undefined to object

[2016-06-09 17:11] #964 closed, assigned to meandavejustice

[2016-06-09 17:14] ckprice commented on #960
Fixed in #965.

[2016-06-09 17:30] meandavejustice commented on #960
@ckprice We are still getting these errors occasionally, #965 doesn't address this issue, just another failure point that was exposed by this issue. Reopening

[2016-06-09 17:35] meandavejustice opened #966 "add addons-linter to circleci"
Would be nice to add the [addons-linter](/mozilla/addons-linter) to our project as @pdehaan did for https://github.com/meandavejustice/min-vid/pull/54

[2016-06-09 17:53] pdehaan commented on #966
Current output:

[code]

I can dig in a bit more after lunch and see if there is a way to suppress certain warnings since we obviously know we're hard core and using LOW_LEVEL_MODULEs. 💪

[2016-06-09 21:44] pdehaan commented on #966
I wasn't able to find a way to exclude certain warning codes from **addons-linter**, so I filed https://github.com/mozilla/addons-linter/issues/746 (so our Travis-CI logs aren't too noisy).

[2016-06-09 22:29] pdehaan opened #967 "Cleanup npm run package and npm run sign commands"
**DISCLAIMER:** I'm not very smart.

I'm trying to add **addons-linter** to the Circle-CI scripts (ref: #966), but I don't know where to add a hook yet.
Not sure if it should be an npm "postsign" or "postpackage" hook in [/addon/package.json](https://github.com/mozilla/testpilot/blob/master/addon/package.json), but it almost looks like the `npm run package` script does a lot of the same boilerplat

[2016-06-10 16:29] edwindotcom commented on #963
I repro'd this last night.  I was on a slow connection and the 'enabled' button with just animating.  Eventually it did install, but took a long time but there was no visual cues on the install.

[2016-06-10 17:05] ghost commented on #963
Were there any other add-ons installed?  Were there any errors in the console?  Did you get the regular add-on install toolbar popup?  Was it before or after the long wait?  @edmoz - you were on fx 47 also?

[2016-06-10 17:15] edwindotcom commented on #963
Wife's machine:
- few addons installed (last pass),
- tracking protection off,
- i saw 'sync not functioning' or something in the console, but nothing else.
- i installed test pilot addon as expected and got install door hanger
- no addon install pop up for activity stream
- I waited at least 30-60sec
- I was on Fx Beta (fx48) i think

[2016-06-10 17:30] ghost commented on #963
https://addons.mozilla.org/en-US/firefox/addon/firebug is a 2.6MB add-on.  If you try to install it, do you get a similar experience?  If not, what is AMO doing that makes it better (do they have a spinner or something)?

I'm trying to determine if this is a UI issue because the add-on is slow to download or if there is a problem installing it.  Thanks!

[2016-06-10 17:33] pdehaan commented on #963
Ref: #843

[2016-06-10 17:59] ghost commented on #963
Ah, that was marked as being fixed by https://github.com/mozilla/testpilot/issues/660 . Sounds like this is a dupe as well then.

[2016-06-10 19:20] pdehaan commented on #963
I don't think I agree with "fixed by". I think #660 just adds a "something went wrong" message, but isn't solving the core issue of several people being unable to install any experiments. We should probably keep this open (and leave CRITICAL label) and see if @meandavejustice and @lmorchard can dig in and find the root cause. Or maybe the Sentry fix (#684) will give us pointers to any potential fr

[2016-06-10 20:14] ghost commented on #953
Thanks for filling this.  We did a special push to fix this yesterday.  Please refresh and let us know if you still run into the problem.

[2016-06-10 20:14] #953 closed, assigned to nobody

[2016-06-10 20:16] ghost commented on #947
Judging by the last comment this is something that was in nightly and fixed now, so going to close this.  Thanks.

[2016-06-10 20:16] #947 closed, assigned to nobody

[2016-06-10 20:29] johngruen opened #968 "Make 'Active' / Experiment started indicator more clear."
User testing shows that users want to know when experiments start collecting data. We should do a better job indicating when an experiment has started as well as the correlation btwn experiment activity and metrics collection

[2016-06-10 20:40] johngruen opened #969 "Change 'Now Testing!' copy on the landing page"
This copy in particular confused people as made them question whether or not we were already tracking them.

[2016-06-10 21:00] ckprice opened #970 "Update install counts to be client-side only"
In the June usability study, users expressed some confusion over two things:
1. Count format lost its comma when clicked on.
2. Count increased more than 1 when they 'enabled'.

(1) was fixed in #852. (2) could happen if other users install/disable while on the experiment page. When the user clicks "Enable", the server will return a number that may look odd.

This bug is opened to update that inte

[2016-06-10 21:07] ckprice opened #971 "Update experiment screenshots"
In the June usability research, we found two issues with our existing experiment screenshots:
- Ensure that differences between screenshots for an individual experiment are easily perceivable; otherwise, call out the differences

e.g. What is the big change in the Universal Search screenshot?

![universal search](https://testpilot-prod.s3.amazonaws.com/experiments_experimentdetail/6/d/6d0ff50eff92

[2016-06-10 21:09] ckprice opened #972 "Provide a visual indicator that a link will take the user off of the Test Pilot domain."
e.g. Discourse, surveys, etc.

From the June usability research, but lower priority.

[2016-06-10 22:59] pdehaan opened #973 "Test Pilot doesn't include SRI or OpenGraph/Twitter metadata on legal pages"
Found in http://testpilot.dev.mozaws.net/__version__ (637abee3e107ecf0aa587c80ef778b72c4578e41):

[code]

---
### Steps to reproduce:
1. Go to http://testpilot.dev.mozaws.net/ and view source:

[code]
2. Go to http://testpilot.dev.mozaws.net/terms (or http://testpilot.dev.mozaws.net/privacy) and view source:

[code]
### Actual results:
1. Legal pages aren't getting the SHAs embedded in the assets.

[2016-06-10 23:27] pdehaan commented on #973
Ref: #974, where I attempted to fix the page `<title />` discrapency above (and a few other legal-related nits).

[2016-06-10 23:50] pdehaan commented on #972
This may be pretty easy if we do something like this: https://css-tricks.com/attribute-selectors/
There were two approaches that could be super easy:
1. Manually add `rel="external"` to any `<a>` tags in our HTML templates to mark any URLs that go to external sites (such as GitHub, Discourse, etc). Then we just do some CSS like this to change appearance or add trailing icons, etc:

[code]

   **PR

[2016-06-10 23:57] pdehaan commented on #972
Seems like Wikipedia adds a custom `.external {}` class to outbound links:

[code]

Then has some CSS which specifies an data-uri SVG as an offset background-image (plus a few fallbacks):

[code]

[2016-06-11 15:34] lmorchard commented on #970
Then, ironically, we really will be lying about the number, which seems to be what the confusion implied. But it's all smoke & mirrors sometimes, so ¯\_(ツ)_/¯

[2016-06-12 20:07] wryker opened #976 "TooManyTabs disappeared my tabs"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues.

All of my tabs have disappeared. I had multiple layers of tabs stored using TooManyTabs. TooManyTabs is still present but all of my stored/saved tabs are gone!

If you're experiencing a bug in Test Pilot, please include the following information:
- [ ] Operating system
- [ ] Firefox build (Nightl

[2016-06-14 12:26] ghost commented on #46
I'm marking this as a good-first-bug because this should be doable by just integrating a 3rd party plug-in.  To solve this:

1) Choose a django resizer plugin
2) Write a patch to integrate it (including tests)

If you're interested in working on this, please let us know what plugin you're looking at before you write a patch to integrate it.  Thanks!

[2016-06-14 12:28] ghost commented on #201
This is a good idea, but we're going to wait for Product input and definition before moving forward with it.

[2016-06-14 12:28] #201 closed, assigned to nobody

[2016-06-14 12:36] ghost commented on #359
Les & Dave are going to dig into this later this week.  It will definitely consist of improving documentation and will probably revolve around some fancy npm commands. /cc @lmorchard @meandavejustice

[2016-06-14 12:41] ghost commented on #352
What we really need here are integration tests because the add-on pretty much just talks to other services (and other add-ons).  @pdehaan and @silne30 -- what are your recommendations for automating some integration tests?

[2016-06-14 12:54] ghost commented on #381
Adding a second locale is secondary (eh? eh?) to adding localization in general which is https://github.com/mozilla/testpilot/issues/551 .  Once we add localization we'll definitely add a second locale, so I'm going to close this.  Thanks!

[2016-06-14 12:54] #381 closed, assigned to nobody

[2016-06-14 12:58] #437 closed, assigned to nobody

[2016-06-14 12:59] ghost commented on #468
We'll address access control in #364 (which is currently waiting for input from Product)

[2016-06-14 12:59] #468 closed, assigned to nobody

[2016-06-14 13:02] ghost commented on #478
Chuck is working on this in issue #477 and we can evolve that spec as needed once we start using it.  :love_hotel:

[2016-06-14 13:02] #478 closed, assigned to nobody

[2016-06-14 13:04] ghost commented on #406
We've decided not to do any hosting of .xpi files.

The only thing left to do in this issue is write some documentation about our recommended practice (write a script to sign and upload to S3) and/or use AMO.

[2016-06-14 13:04] chuckharmston commented on #406
Example Makefile that builds an add-on, signs it at AMO, tags it, and uploads the build version to S3: https://github.com/mozilla/universal-search/blob/master/Makefile

[2016-06-14 13:05] chuckharmston commented on #477
Current proposal: https://gist.github.com/chuckharmston/b8b728844c44fa931ace881e92286b4d

[2016-06-14 13:06] #604 closed, assigned to meandavejustice

[2016-06-14 13:15] ghost commented on #698
I can take a crack at this

[2016-06-14 13:16] ghost commented on #699
Wontfix: sub-optimal.

[2016-06-14 13:16] #699 closed, assigned to nobody

[2016-06-14 13:17] ghost commented on #702
:expressionless: :no_mouth:

[2016-06-14 13:17] #702 closed, assigned to nobody

[2016-06-14 13:19] ghost commented on #741
Let's make this an about:config pref

[2016-06-14 13:20] ghost commented on #839
@ckprice - any updates?  Does this still need discussion?

[2016-06-14 13:27] ghost commented on #856
Sounds like this is fixed on the latest versions

[2016-06-14 13:27] #856 closed, assigned to johngruen

[2016-06-14 13:32] ghost commented on #944
Let's do:

1) A standard place in the repositories for a list of incompatible add-ons
2) Something on the details page ( --> needs ux)

[2016-06-14 13:32] pdehaan commented on #698
All three of the current experiments currently have the `[ available on | Test Pilot ]` badge in the root README.md file.
- [Activity Stream](https://github.com/mozilla/activity-stream/blob/master/README.md#activity-stream-add-on)
- [Tab Center](https://github.com/bwinton/VerticalTabs/blob/master/README.md#tabcenter-)
- [Universal Search](https://github.com/mozilla/universal-search/blob/master/REA

[2016-06-14 13:36] ghost commented on #955
We don't want to have updates coming off of multiple places.

[2016-06-14 13:36] #955 closed, assigned to nobody

[2016-06-14 13:40] ghost commented on #963
We tried to reproduce this on the conference internet and were unable to - everything worked fine.  We have #660 for messaging and #684 for sentry.  Do you have any other ideas to reproduce this?

[2016-06-14 13:45] meandavejustice commented on #967
@pdehaan you should just add `addons-linter` to postsign for now. We should def take time to clean these commands up though, thanks for pointing this out.

[2016-06-14 13:48] ghost commented on #976
This was reported at https://github.com/bwinton/VerticalTabs/issues/234

Thanks!

[2016-06-14 13:48] #976 closed, assigned to nobody

[2016-06-14 14:20] #966 closed, assigned to pdehaan

[2016-06-14 14:22] pdehaan commented on #967
@meandavejustice I have a PR submitted at #975, but happy to revise and set to `postsign` if it looks better.

[2016-06-14 14:54] johngruen opened #978 "Swap "Get started in 3 easy steps" and "Test these features" On the home page"
Per Sharon's research, we should see if swapping these sections improves conversion.

[2016-06-14 15:21] pdehaan opened #979 "gulp build runs the "lint" task twice"
I noticed that when I run the Docker image, or run `gulp build`, it's running the `lint` task twice (presumably due to task hooks). We could probably save 2-4 seconds by removing the unnecessary linting.

[code]

[2016-06-14 15:36] johngruen opened #980 "Stabilize user count so it only updates on install/uninstall and page refresh"
Async changes to user count are confusing. We should back out asynchronous updates to the ui and simply increment or decrement based on user installs and unininstalls. Might be nice to add a pop animation to the number when we change it as well.

[2016-06-14 15:36] johngruen commented on #980
@meandavejustice

[2016-06-14 15:42] johngruen opened #981 "In Survey Gizmo, link headers back to Test Pilot"

[2016-06-14 16:03] pdehaan commented on #980
Ref: #970

[2016-06-14 16:15] johngruen opened #984 "Change settings dots to 'Settings' button"
Per UR. Button should match the 'Sign in' button on the landing page.

[2016-06-14 20:50] wilbert-vb opened #985 "Cannot login with firefox account"
OS: Windows 10 Insider Preview Build 14361
Browser: Firefox 47.0 Release

---

For an unknown reason my firefox sync account was no longer available and I had to signup again.
I used the same account information and I was able to restore the sync settings and bookmarks from another computer.

However, when I try to login with this renewed firefox account to testpilot, I get either "create login na

[2016-06-15 08:52] #979 closed, assigned to pdehaan

[2016-06-15 09:28] johngruen opened #986 "Change "Leave Test Pilot" to "Uninstall Test Pilot""
(in the settings menu)

[2016-06-15 09:29] johngruen commented on #986
also in that modal

[2016-06-15 11:53] mcomella opened #987 ""File an Issue" is hard to find"
"File an issue" takes many clicks to find:
1. click the Test pilot add-on icon in the toolbar
2. click an experiment
3. hit the "..." menu
4. click "File an Issue".

3 is particularly unintuitive. fwiw, a few weeks ago, I found a bug in universal search and gave up trying to file an issue for it.

I'd recommend either:
- Including "File an issue" in the menu from the Test Pilot add-on icon in the

[2016-06-15 14:44] ghost opened #988 "omg flat files"
Keeping our experiment meta-data in the database is easy and quick and lets us update it whenever we want, but it makes our L10n story more complex (not just doing L10n, but we'll also need an interface for localizers).

What if we followed a model more like [jekyll](https://jekyllrb.com/) where we have the site logic and templates separate from the content and we put the experiment metadata in fl

[2016-06-15 16:22] arthur-e opened #989 "Can't submit feedback for Universal Search"
- Operating system: Ubuntu GNU/Linux 14.04
- Firefox build: Firefox 47.0 (Stable/Release?)

---

I assume the issue is with the Test Pilot website, not with Universal Search.

After filling out [the feedback form](https://qsurvey.mozilla.com/s3/universal-search?ref=givefeedback&experiment=Universal%20Search&), regardless of which of the two bottom radio selections I make, I click "Next" and nothin

[2016-06-16 06:35] lmorchard commented on #988
Thinking of poking at this today if I have time. Some things that come to mind:

We could build all this stuff as part of `/static/` via gulp, and call that our "content" part. Then, `/static/` could be updated & deployed independently from anything related to the Django server code. Could we package that up as a Docker volume, or maybe just a tarball? Alternatively, we could move this `/static/`

[2016-06-16 07:04] lmorchard opened #990 "Switch to built-in Firefox APIs for managing experiment add-ons?"
So, it sounds like there are going to be WebIDLs for AMO to manage add-ons. Most of the reason our bootstrap add-on exists is to expose a few AddonManager APIs to web content on testpilot.firefox.com. Maybe we can get whitelisted for these new APIs for AMO and delete most of our bootstrap add-on code?

This needs follow up & details filled in.

[2016-06-16 08:38] pdehaan commented on #987
I agree. I'd vote for adding the "File an Issue" in the footer, so it's available everywhere. I currently noticed this on Chrome where you get prompted to download Firefox to install the add-on, so nowhere on that page is there any link to our GitHub repo.

But, for what it's worth, we did add a "Bug Reports" link to each experiment details page which has a link to each experiment's GitHub repo's

[2016-06-16 10:24] lmorchard commented on #988
As a side note, this also makes me think maybe we don't even need Ampersand _or_ [React](https://github.com/mozilla/testpilot/issues/865), if we're generating static pages.

[2016-06-16 10:29] TDA opened #991 "Unable to submit feedback on TestPilot feedback page"
Operating system - MAC OS X 10.11
Firefox build (Nightly, Developer Edition, Beta, Release) 48 - Beta

---

Nothing happens when I click `Next` on the feedback page.
![testpilot](https://cloud.githubusercontent.com/assets/432707/16113750/94d649e8-33b5-11e6-869b-10dba377830a.gif)

[2016-06-16 10:35] lmorchard commented on #988
An interim step that occurred to me: Rather than fully switch over to the jekyll-style static page generation right now, we could dump the database content to flat YAML files and have the Experiment models in Django read from those instead of the DB and the API used by the frontend would serve up the same data as usual.

[2016-06-16 12:41] lmorchard commented on #551
Filed a bug with the Pontoon project to push this along:
https://bugzilla.mozilla.org/show_bug.cgi?id=1280410

[2016-06-16 15:09] pdehaan commented on #991
@TDA Thanks for the feedback, I believe this is a dupe of #989.
Closing this in favor of the other bug.

[2016-06-16 15:09] #991 closed, assigned to nobody

[2016-06-20 07:33] johngruen commented on #987
@mcomella hey! we're changing around the way settings work in the next couple of trains. Also, @pdehaan how were you able to log in on chrome?

[2016-06-20 07:37] johngruen opened #992 "Replace all instances of “leave” with “uninstall” to give users’ more peace of mind when opting out of Test Pilot"
From Sharon's UR work. "Leave" == vague. Let's clean up this language.

[2016-06-20 08:05] johngruen commented on #992
Oh, I already filed this. need to take better notes #986

[2016-06-20 08:08] johngruen opened #993 "Add experiment images to landing page"
Per sharon's UR. I'd like to run this via optimizely. Also this may become redundant given some other pending issues around social.

[2016-06-20 08:31] johngruen opened #994 "Back out Firefox Accounts"
One of the Key Results for Q3. Will add more details soon.

[2016-06-20 08:34] johngruen commented on #980
@pdehaan yeah looks like this is a dupe.

[2016-06-20 08:34] #980 closed, assigned to nobody

[2016-06-20 08:35] johngruen opened #995 "Add install counts to the homepage"
Sharon's UR strongly suggests that social proof is a big factor for user trust. Let's add install count to the landing page view to help entice users.

[2016-06-20 08:47] johngruen commented on #985
Hey @wilbert-vb ...Not sure I can help you directly with the immediate issue, but here's some helpful info.
1. Flagging @shane-tomlinson from the accounts team to help triage the immediate problem.
2. You can always create an another Firefox account for Test Pilot using a different email address.
3. We are going to back out the accounts requirement for Test Pilot in the next few months (Q3). The s

[2016-06-20 08:50] johngruen opened #996 "Add whimisical micro-interaction when install count updates"
We should do something interesting/eye-catching with the install count number when users install and uninstalls and experiment.

Also, working on adding more buzzwords to my issue titles.

[2016-06-20 09:02] johngruen opened #997 "Ensure Survey Gizmo headers are clickable"
Not a bug with our code, but let's track it here. TxP Survey titles should link back to the site.

[2016-06-20 09:04] shane-tomlinson commented on #985
@wilbert-vb - Hi, my name is Shane, I work on Firefox Accounts. I have a couple of questions.

1) When did you last try to create a Sync account? When you created your Sync account, did you use Firefox Accounts? In the not-so-distant-past, users were able to sign up for Sync without using Firefox Accounts. I'm wondering if you went through the upgrade path, because it sounds like your former crede

[2016-06-20 09:12] johngruen opened #998 "Figure out interim sign out story"
Sign out/leave distinction is unclear.

[2016-06-20 09:25] johngruen opened #999 "Ensure that all surveys have user-facing titles; avoid marketing jargon like “sentiment”"

[2016-06-20 09:26] johngruen opened #1000 "Correct grammatical errors in survey questions"
e.g., should be “neither”/”nor”

[2016-06-20 09:29] johngruen opened #1001 "Whenever referring to a privacy policy, specify which one (Test Pilot, Mozilla, etc.)"
Long-term, consider consolidating terms and privacy policies.

[2016-06-20 09:30] johngruen commented on #1001
@ckprice

[2016-06-20 09:30] johngruen opened #1002 "Use sentence case capitalization, rather than all caps, for liability statements"
@ckprice

[2016-06-20 14:13] pdehaan commented on #987
@johngruen I can't log in on Chrome, but Chrome prompts me to download the Firefox browser, and nowhere on that page do we show the "..." navigation, with the link to GitHub.

[2016-06-20 14:16] pdehaan commented on #997
Dupe of #981?

[2016-06-20 14:28] johngruen commented on #997
@pdehaan yes, this is what happens when you shotgun issues.

[2016-06-20 14:28] #997 closed, assigned to nobody

[2016-06-20 16:03] chuckharmston opened #1003 "Dependency warnings in addon"
When running `npm install` in the `addon` directory, the following warnings are displayed:

[code]

[2016-06-20 16:37] pdehaan commented on #1003
Not sure how actionable these are, since none of these are direct dependencies or devDependencies, but here goes:

## `npm ls wrench`

[code]

---

## `npm ls minimatch`

[code]

---

## `npm ls lodash`

[code]

---

## `npm ls graceful-fs`

[code]

And here's a list of "outdated" modules which we could theoretically update and see if they have newer versions of deprecated dependencies:

[code]

|

[2016-06-20 17:14] johngruen commented on #995
<img width="1211" alt="screen shot 2016-06-20 at 6 57 52 pm" src="https://cloud.githubusercontent.com/assets/3323249/16203357/256bbea4-371a-11e6-9c81-6dd7ea9fdb03.png">

A few notes:

The user count should be something like

[code]

The `experiment-information` div should be flexed using something like:

[code]

~~Make sure the `experiment-actions` div is removed (so as not to add extra padding or

[2016-06-20 17:50] johngruen commented on #996
Here's how this should work...Right now, we increment or decrement when the user clicks the enable/disable button. In the new flow we should not do this...Instead the flow proceeds as follows:
1. User clicks enable or disable.
2. In both cases, there's a modal. The user count should ONLY INCREMENT OR DECREMENT AFTER THE MODAL IS DISMISSED.
3. When the count increments or decrements, the span conta

[2016-06-20 18:16] pdehaan commented on #996
Ref #970, where we were discussing what "increment" means (or should mean).

[2016-06-20 20:10] pdehaan commented on #992
Closing as dupe of #986 (and assigning that bug to @johngruen).

[2016-06-20 20:10] #992 closed, assigned to johngruen

[2016-06-20 20:13] pdehaan commented on #986
Also in [/legal-copy/terms-of-use.md#termination](https://github.com/mozilla/testpilot/blob/8d481518f501d3a9197cfe02ba6af3403b40db24/legal-copy/terms-of-use.md#termination):

[2016-06-20 20:15] pdehaan commented on #994
Spotted this while kvetching in a different bug, but we also have FxA references in the [/legal-copy/terms-of-use.md#termination](https://github.com/mozilla/testpilot/blob/8d481518f501d3a9197cfe02ba6af3403b40db24/legal-copy/terms-of-use.md#termination) docs:

Also, [/legal-copy/terms-of-use.md#account](https://github.com/mozilla/testpilot/blob/8d481518f501d3a9197cfe02ba6af3403b40db24/legal-copy/te

[2016-06-20 21:28] wilbert-vb commented on #985
Thank you very much for your time, @shane-tomlinson,

My test pilot login worked well until a week ago.

A week ago I could no longer log into my firefox sync account. I don't remember deleting the account myself, but who knows.
What I did to solve this issue is signing up with the same credentials for the firefox sync account. That worked and then I went to a computer with the most recent bookmar

[2016-06-20 21:36] lmorchard commented on #994
One of the few things we actually use an identity for is counting unique users for the displays of social proof. To replace the source for those counts, we have some options off the top of my head:
1. Find a way to get a MAU count out of Telemetry, say in some JSON API form we can query from the frontend (or cache on the backend). Concerns here would be freshness of the number vs how frequently we

[2016-06-20 21:55] pdehaan commented on #994
Ref: https://github.com/mozilla/testpilot/issues/583#issuecomment-215143250

Maybe this is the easiest solution. This is possibly more "expected" because it'd count me twice if I install the add-on on two separate machines/profiles. That solves the weird case where I install the add-on for a second time, the count increments and then quickly decrements back to the original number. But also means t

[2016-06-21 08:17] johngruen commented on #994
WRT @pdehaan's legal note above, we'll need a redraft from Brian and Marshall before (or, more likely, as) we take these changes live. Seems like we're making the privacy story significantly better here. @ckprice and I can can coordinate on these changes.

[2016-06-21 09:01] MattGrimes opened #1006 "Heartbeat interval responses are still low"
I just checked again today. We are still seeing very low numbers for the day 7 interval and almost nothing for later intervals. According to Marina this isn't due to high attrition before the 7 day mark. I suspect something else.

[2016-06-21 17:06] johngruen commented on #1000
@sharonbautista

[2016-06-21 17:07] johngruen commented on #999
@sharonbautista

[2016-06-21 19:22] groovecoder opened #1007 "docker-compose up hangs on postinstall testling"
Mac OS X 10.10.5
Firefox 47 (Beta)

Following the docs to set up testpilot locally, I run `docker-compose up` but it hangs on:

[code]

[2016-06-21 20:56] sharonbautista commented on #999
Turns out I don't have access to the TxP surveys. I reached out to Rob Rayborn last week and just followed up again. As soon as I get admin access, I can make the changes.

[2016-06-21 20:56] sharonbautista commented on #1000
Turns out I don't have access to the TxP surveys. I reached out to Rob Rayborn last week and just followed up again. As soon as I get admin access, I can make the changes.

[2016-06-21 22:28] pdehaan commented on #738
Another legal hiccup, but in the [**mozilla/legal-docs** firefox_cloud_services_PrivacyNotice](https://github.com/mozilla/legal-docs/tree/master/firefox_cloud_services_PrivacyNotice) we have localized versions of the legal docs. So we'll need something like dis:

[code]

So when we move our legal docs over to **mozilla/legal-docs**, we'll also need to add another depth so the Privacy Notice and Te

[2016-06-21 22:33] jotes commented on #684
Hi Everyone,
I'm really sorry, but I overestimated my time-bending capabilities and I won't be able to finish this integration in a reasonable amount of time.
As I don't want to stop you -> please free to takeover this issue.

I apologize if I caused any troubles.

[2016-06-22 10:16] johngruen commented on #1006
@meandavejustice this is our bread and butter. could you take a look at this ASAP. Should be prioritized higher than any work on min-vid

[2016-06-22 10:19] johngruen commented on #999
@rayborn could you give @sharonbautista access to our SG account. She wanted to make small adjustments to grammar and language in the surveys.

also #1000

[2016-06-22 10:37] johngruen opened #1010 "Highlight bold portions of the TOU"
This is a follow on from #1005 and https://bugzilla.mozilla.org/show_bug.cgi?id=1281242

We should eventually restyle the bold text in the ToU to match the following:

<img width="1077" alt="highlight-copy" src="https://cloud.githubusercontent.com/assets/3323249/16263718/1db2b700-3876-11e6-8ab3-38e2358a486c.png">

[2016-06-22 13:57] pdehaan commented on #1010
@johngruen what color/padding is that? I can probably sneak this into my current PR.

[2016-06-22 15:14] #1002 closed, assigned to pdehaan

[2016-06-22 15:14] meandavejustice commented on #1006
@johngruen I'll take a look today

[2016-06-22 15:24] meandavejustice commented on #684
@jotes no problem, thanks for the update

[2016-06-22 15:26] meandavejustice commented on #1007
@groovecoder Do you mind testing if this is an issue when running the front end outside of docker?
ie:
- docker-compose -f docker-compose-only-server.yml up
- npm install
- gulp

[2016-06-22 17:13] meandavejustice commented on #1006
@MattGrimes This should have been fixed in https://github.com/mozilla/testpilot/commit/041aa535ca5be8ca9952f11f7129bb877a3e21a7 I'm looking into when it was actually deployed right now.

UPDATE: It was included in this release https://github.com/mozilla/testpilot/releases/tag/2016-06-06 I'm having trouble finding proof of when it was actually deployed.. We should fix that :/ ~~I'm guessing there i

[2016-06-22 18:05] pdehaan commented on #1010
#1005 was merged, but should be easy enough to tweak the two paragraphs with a nested `<div class="legal">` tag and tweak the CSS.

[code]

Probably easier than trying to auto-assign an id to the heading or `<li>` tag and then style the nested `<p>` tags.

[2016-06-22 18:43] groovecoder commented on #1007
That gets past the hang-up on testling. But then I get this ...

[code]

This isn't the only node/npm-related bug I've had recently. Starting to think using `nvm` is causing me issues? Unless you know what may be causing the above error?

[2016-06-22 18:47] ericawright opened #1011 "Can disable testpilot and continue using other add-ons"
Clicking `disable` on about:addons will only disable Testpilot, other add-ons continue to work

On `uninstall` other add-ons are removed.

[2016-06-22 19:12] meandavejustice commented on #1007
I haven't seen this before, nor have I been using `nvm` coincidence? probably.

[2016-06-22 19:15] meandavejustice commented on #1011
@johngruen guessing here the move would be to just disable all experiments as well. At this point if the user visits the site they will be prompted to install the addon again, do we want any special handling in this case?

[2016-06-23 01:57] #1010 closed, assigned to pdehaan

[2016-06-23 09:21] johngruen commented on #1011
@meandavejustice yeah, this is kind of a bad edge case where upstream behavior leaks into Test Pilot....will think about it. I might ping you later today to figure out what's possible here.

[2016-06-23 09:22] johngruen commented on #1006
@ckprice should know when it was deployed...I think he's back in sunny California?

[2016-06-23 14:26] pdehaan commented on #1006
FWIW, I haven't seen him all week :(
I think he went to Paris after the work week, but am not 💯 on when he's back.

---

https://testpilot.firefox.com/__version__ shows what SHA is currently deployed:

[code]

So the current version was deployed on [June 9th](https://github.com/mozilla/testpilot/releases/tag/2016-06-09) (tagged by @wresuolc), and does include the https://github.com/mozilla/testpil

[2016-06-23 14:53] pdehaan opened #1014 "Fix sass-lint warnings"
While testing some CSS changes to the legal pages, I noticed we have a bunch of Sass-lint warnings. I should fix those because they're annoying.

[code]

---

Ref: https://github.com/sasstools/sass-lint/blob/master/docs/rules/pseudo-element.md

[2016-06-23 15:38] groovecoder commented on #1007
Weird. I tried `docker-compose up` again this morning and it eventually got past the `testling` hang, finished, and now I have testpilot.dev:8000 working:

![testpilot dev](https://cloud.githubusercontent.com/assets/71928/16309518/9c8fe7ec-392e-11e6-960d-46b15d1f8ada.png)

Willing to call it transient PEBKAC error.

[2016-06-23 15:38] #1007 closed, assigned to nobody

[2016-06-23 17:03] #986 closed, assigned to johngruen

[2016-06-23 17:04] #1014 closed, assigned to pdehaan

[2016-06-24 17:38] mostlygeek commented on #988
How will the app serve the static content?
How will the app know if the content has been updated?

Some ideas:
- Keep routing and serving logic in the app
- App should be configurable to load static content from the file system or over HTTP
  - filesystem makes local dev much easier
- HTTP lets us:
  - put the content anywhere. S3 being first choice.
  - decouple static content from app logic.
  -

[2016-06-24 18:12] lmorchard commented on #988
It occurs to me the flat files notion is kind of tangled up with the localization goal, and we might want to untangle them. Another interim step that I'm poking at today and next week:
- Don't switch to flat files, yet.
- Mark up the experiment pages with `data-l10n-id`s for content fields named for experiments - e.g. `{experiment slug}-{DB field name}`, something like `activity-stream-description

[2016-06-24 18:14] lmorchard commented on #988
FWIW, the front end app already accesses everything via an HTTP API. With respect to the content we want to localize, that could be all static JSON in S3 as far as the app cares. Though, as I'm thinking it through, flat files don't necessarily get us directly to localization

[2016-06-24 18:17] lmorchard commented on #988
Also, I think what we've been thinking in this issue is that there wouldn't necessarily _be_ an app anymore, as such. Just static HTML generated from JSON / YAML / whatever. [We're considering dropping the Firefox Accounts requirement](https://github.com/mozilla/testpilot/issues/994), and we can do most everything over in the client add-on and through other services (e.g. Telemetry), so there's le

[2016-06-27 17:01] lmorchard opened #1018 "Implement L20N for experiment content from database"
I think we can untangle l10n from the flat files idea in #988:
- [ ] Mark up all the places where DB content gets filled in with `data-l10n-id` attributes named like something like so: `{experiment slug}_{field name}`
  - Note: `.l20n` string names can be composed only of `[a-z][A-Z][0-9][_]` - so we'll need to do some munging of slug & field names to comform
- [ ] Create a new `content.l20n` reso

[2016-06-27 17:08] johngruen commented on #994
Okay, there's a UX spec for this...now i need to put on my product hat and work that angle as well.

[2016-06-27 17:08] johngruen commented on #994
https://invis.io/Q77S1H6ZC

[2016-06-27 17:10] johngruen commented on #993
@sharonbautista per Michelle, i'd call this a p2 and move it into optimizely for testing. Backing out FxA and making experiment cards clickable should improve our conversions.

[2016-06-27 17:12] johngruen commented on #969
Ready for Takeoff! I'll follow on with a broader string audit courtesy of Michelle H later.

[2016-06-27 17:14] johngruen commented on #968
Two Changes:

Details Page:
 https://invis.io/Q77S1H6ZC#/169802286_Details_Page_-_Experiment_Active

Home Page:
https://invis.io/Q77S1H6ZC#/169825427_Home_Page_-_Brand_New_Experiment

[2016-06-27 17:23] johngruen opened #1019 "Add Discourse Link to each experiment details page"
You know, in the details section

[2016-06-27 21:09] bobsilverberg opened #1021 "Test Pilot logging errors when other extensions are installed"
This is happening in Firefox 48, but does not seem to be happening in Firefox 49 and 50. When installing a web extension addon, such as the sample attached (change the extension from `zip` to `xpi` to install), errors are logged to the console, such as:

[code]

[bug1281030test-1.0.zip](https://github.com/mozilla/testpilot/files/335837/bug1281030test-1.0.zip)

[2016-06-28 15:40] pdehaan commented on #1006
Any updates on this?

[2016-06-28 16:07] ghost commented on #994
This is straight forward and makes sense to me.

[2016-06-28 16:18] ckarlof commented on #753
I'd recommend doing this instead. Push is better suited to delivering time-sensitive user-specific messages. This is likely going to be broadcast, and is not time-sensitive.

[2016-06-29 15:44] meandavejustice commented on #1019
@kaganjd This feature will cover a couple different things.
1. adding a field to the [experiment model](https://github.com/mozilla/testpilot/blob/master/testpilot/experiments/models.py)
2. Updating the experiment [serializer](https://github.com/mozilla/testpilot/blob/master/testpilot/experiments/serializers.py) to send down the data properly.
3. updating the [experiment model tests](https://github

[2016-06-29 16:24] johngruen commented on #1019
@kaganjd thanks for picking this up

[2016-06-29 18:29] jaredhirsch commented on #1006
@pdehaan Dave just fixed one bug (#1023), I'm helping him figure out if there are still others lurking.

[2016-06-30 06:38] Digivonity opened #1024 "Test Pilot keeps asking me for feedback"
I gave feedback on Vertical Tabs two times now (with different answers for sure ;) Since the feedback form seems rather final, my feedback should be flagged as given. Is it depending on cookies? Then maybe Ghostery is the wrong doer.

Firefox 47 on Ubuntu 16.04

[2016-06-30 16:32] johngruen commented on #1024
@digivonity, how far apart were these feedback events?

[2016-06-30 16:33] kaganjd commented on #1019
@meandavejustice this commit was v helpful! https://github.com/mozilla/testpilot/commit/071d113743ad2ed5bd91f48409eb9d8a771b3920

[2016-06-30 17:00] ckprice opened #1026 "Basket subscribe inconsistent with `+` character in email address (bug 1281889)"
Carry-over from https://bugzilla.mozilla.org/show_bug.cgi?id=1281889

[2016-06-30 17:34] meandavejustice commented on #1019
@kaganjd Oh nice, good thinking looking that up. We'll have to remember pointing people to previous commits like that for guidelines

[2016-06-30 17:38] meandavejustice commented on #1024
Hey @Digivonity We've just addressed this issue in a recent commit https://github.com/mozilla/testpilot/commit/782239e2922787b01bfe58bdec057dccae5d3d51 It should be deployed soon, sorry for the inconvenience.

I'll leave this issue open until the fix is officially deployed in case more people wanna report this issue.

[2016-07-01 15:11] #1019 closed, assigned to kaganjd

[2016-07-01 19:27] lmorchard opened #1029 "Simplify local development for experiment builders"
Currently, various functions of the main Test Pilot add-on rely on data from the Test Pilot server API.

That means an in-development experiment which talks to the Test Pilot add-on also requires a locally running instance of the Test Pilot server - because the developer needs to enable their experiment and have the main Test Pilot add-on recognize it through the server API.

We should find a way

[2016-07-01 19:35] lmorchard commented on #988
I have a cunning new plan:
1. Let's export & maintain experiment content directly in [L20N's new `.ftl` format](http://l20n.org/learn/working-with-text-multiline-interpolation) and call that the `en-US` locale. Forget JSON or YAML - FTL is expressive enough for any content we'd want to put into pages, IMO. No string extraction, because our content lives in FTL to begin with.
2. Generate static HTM

[2016-07-01 19:37] lmorchard commented on #988
So, I'm kind of hacking my way through #497 to get us on an up-to-date version of L20N - which gets us the `.ftl` format. I think I can count that as progress toward this issue, too, given the above plan.

[2016-07-01 20:06] ghost commented on #1029
I think flat files (#988) would solve this.

[2016-07-01 20:06] #969 closed, assigned to kaganjd

[2016-07-01 20:06] johngruen commented on #998
Meh-ing this under backing out FxA

[2016-07-01 20:07] #998 closed, assigned to nobody

[2016-07-01 20:15] johngruen commented on #1006
#1024

[2016-07-01 20:16] jaredhirsch commented on #988
I think this sounds good. It'll make life a lot easier, especially for ops and security folks.

[2016-07-01 20:19] ghost commented on #994
"it's going to be hella dope" --jgruen

[2016-07-01 20:22] johngruen commented on #989
hey @aurthur-e are you using any ad blockers? if so which ones, and if you know, which block lists are they using?

[2016-07-01 20:25] johngruen commented on #987
@pdehaan: wontfix your problem

[2016-07-01 20:27] ghost commented on #985
Firefox Accounts is going away in #994 so I'm going to close this.  Thanks.

[2016-07-01 20:28] #985 closed, assigned to nobody

[2016-07-01 20:28] johngruen commented on #987
@mcomella, gonna close this in favor of #984. we don't necessarily want to drive people to github, b/c we're not targeting techincal users, but changing the '...' to 'settings' will make the pref a bit more accessible.

[2016-07-01 20:28] #987 closed, assigned to nobody

[2016-07-01 20:29] #971 closed, assigned to nobody

[2016-07-01 20:30] #970 closed, assigned to nobody

[2016-07-01 20:32] #963 closed, assigned to nobody

[2016-07-02 05:10] ghost commented on #698
Every time I try to do this it comes out duplicating that giant spreadsheet tracking all the projects.  I feel like we need some public documentation, but maintaining it in two places feels wrong.  Kind of at a loss. 😿

[2016-07-05 12:37] arthur-e commented on #989
I do have Ghostery installed but no external scripts are detected on the feedback page (as I'm looking at it now). I just tried to submit feedback on Firefox 47.0 and Ubuntu 16.04 (different OS, different machine) and it worked just fine without disabling Ghostery.

[2016-07-05 21:53] ianb commented on #477
Some feedback on the [proposal](https://gist.github.com/chuckharmston/b8b728844c44fa931ace881e92286b4d):
- In many cases we want a statistically significant number of people to get B, rather than an A/B ratio.  I think SHIELD tries to be clever about this, there might be something to take from that.
- The proposal seems to have the add-on giving information to Test Pilot, including weights.  This

[2016-07-05 21:55] ianb commented on #477
Also, could this communication channel be done with prefs?  (Though I'm not sure how easy it is to access arbitrary prefs from a Web Extension.)  Prefs are also tweakable for testing.

[2016-07-05 22:01] #477 closed, assigned to chuckharmston

[2016-07-05 22:02] chuckharmston commented on #477
This landed last week and the issue didn't get closed; thanks everyone!

[2016-07-06 14:52] kaganjd commented on #968
Details Page is done, hopefully I'll get Home Page done today or tomorrow: https://github.com/kaganjd/testpilot/commit/b0deae955c21407f2f4e22d0a7e13a5476e8e8e9

[2016-07-06 16:21] meandavejustice commented on #1006
@MattGrimes Can we get some more info on this. I'd like to know more about what data is actually missing. What percentage of initial responses do you think are missing? Is it just at the 7 day mark? Are you still seeing this?

[2016-07-06 19:05] chuckharmston opened #1032 "Document experiment telemetry APIs."
We now have documentation for the [variant testing APIs](https://github.com/mozilla/testpilot/blob/master/docs/experiments/variants.md) that Test Pilot provides for experiments. We should do the same for telemetry pings, i.e. `testpilot::send-metric` messages.

cc @lmorchard

[2016-07-07 12:45] johngruen commented on #968
Hey @kaganjd can you assign your finished PR to me for review when you're ready? Thanks for helping out here!

[2016-07-07 16:48] #433 closed, assigned to ckprice

[2016-07-07 17:52] ckprice opened #1034 "Remove Test Pilot user database."
Drop email addresses from the database.  This data is in exact target now and we don't need a copy of it.

[2016-07-07 17:54] ckprice opened #1035 "Remove Firefox Accounts"
- [ ] Remove FxA connections.
- [ ] Remove django-allauth from project (which enables #1034).
- [ ] Remove user email and "Logout" from `[...]` menu.
- [ ] Remove Firefox Accounts oauth credentials.

[2016-07-07 17:54] ckprice opened #1036 "Use Badge API to update toolbar badge with `new` experiment UI."
Badge added when a new experiment is added to Test Pilot. Icon is unbadged when the user interacts with the icon.

UX: See the New Experiment Notification card here: https://invis.io/Q77S1H6ZC

[2016-07-07 17:56] ckprice opened #1037 "Update UI in doorhanger with new experiment UI."
UI added when a new experiment is added to Test Pilot. Removed once a user has interacted the doorhanger UI or enabled the experiment.

UX: See the New Experiment Notification card here: https://invis.io/Q77S1H6ZC

[2016-07-07 17:57] ckprice opened #1038 "Update UI on website with new experiment UI."
UI added when a new experiment is added to Test Pilot. Removed once a user has enabled the experiment or clicked through to the details page.

UX: See the New Experiment Notification card here: https://invis.io/Q77S1H6ZC

[2016-07-07 18:27] lmorchard opened #1039 "Replace source for "### people trying experiment" with count derived from metrics"
Currently, we expose experiment usage via keeping a record of installations and counting them by distinct user. Once we get rid of the user DB (#1034), that a) removes the uniqueness index and b) means we have to rework that installations table to track client IDs.

It might be better if we also remove that installations table & API altogether, and instead find a way to get a per-experiment usage

[2016-07-07 18:30] lmorchard commented on #1039
FWIW, I have no idea how to do this yet, but I'm hoping there's some way we can get a report out of Telemetry just counting daily/monthly/overall active users.

My blue sky wish would be to have a JSON resource somewhere that just offers those counts - it could be a static file periodically updated from metrics data, or a live dynamic query that we heavily cache. Tomayto, tomahto.

[2016-07-07 19:03] lmorchard commented on #1039
Actually, I'll take it out of the milestone for now, because we _can_ actually still get the counts from the installation table after getting rid of accounts. They don't necessarily have to be tied together and this issue will take some time to figure out

[2016-07-07 19:37] lmorchard opened #1040 "Remove user account dependency in tracking experiment installations"
The method we use to track experiment installations on the server (mainly for counting users) has some FxA dependencies that need changing:
- [x] [UserInstallation model](https://github.com/mozilla/testpilot/blob/master/testpilot/experiments/models.py#L112) includes a pointer to user account along with browser client ID.
- [x] [The API](https://github.com/mozilla/testpilot/blob/master/testpilot/ex

[2016-07-07 19:40] lmorchard opened #1041 "Update landing page to accomodate removal of FxA auth"
- [x] Update landing page to link directly to Install.
- [ ] Updated Landing page UI to reflect new onboarding steps (at the bottom of the landing page).

Mockup: https://mozilla.invisionapp.com/share/Q77S1H6ZC#/screens/168769316

(Do we need assets for this?)

[2016-07-07 19:40] lmorchard opened #1042 "Update privacy policy & terms of use reflecting FxA removal"
Needs details / a conversation with legal?

[2016-07-07 19:40] lmorchard opened #1043 "Implement email address collection dialog"
Blocked by https://github.com/mozilla/testpilot/issues/1074
- [ ] Create email signup modal for optional sign up after installation.
- [ ] Move basket integration to email signup modal.

[2016-07-07 19:42] lmorchard commented on #1035
For what it's worth, this bug looked "too large" to me, so I split it up a bit and added some more issues - #1040, #1041, #1042, #1043. Will probably do some more tweaking as I think through what else is touched by FxA and user accounts, because there are some weird corners

[2016-07-07 19:47] lmorchard opened #1044 "Remove user dependency from old feature flag support code"
We have a client-side variant testing framework (#477) that obsoletes the server-side feature flag implementation I started.

But, that feature flag system is still there and has dependencies on user accounts. We should either a) remove that dependency or b) remove that old feature flag support code - which ever is quickest. Ideally, we do "b" and clean it out entirely.

[2016-07-07 19:55] lmorchard opened #1045 "Remove user account deletion step of "Uninstall" flow"
- [ ] Remove [server-side API to "retire" a user account](https://github.com/mozilla/testpilot/blob/master/testpilot/users/views.py#L50) (and tests)
- [ ] Remove [client-side request to server side api](https://github.com/mozilla/testpilot/blob/master/testpilot/frontend/static-src/app/views/retire-page.js#L58)

[2016-07-07 20:01] ghost commented on #1000
Fixed, sorry for the late movement was out of town then sick, but still way too slow here.

Working with Sharon RE: access (SG shows her account, but might need to regenerate email)

[2016-07-07 20:03] lmorchard opened #1046 "Ensure content for "Contributors" list on experiment details page is retained after user account deletion"
The "contributors" list for each experiment is made up of a list of user accounts.

This should probably be reworked to be a simple list of name, title, and avatar totally separate from user accounts.

[2016-07-07 20:07] lmorchard opened #1047 "Remove sign-in requirement in frontend app"
- [ ] [The `me` API resource on the server](https://github.com/mozilla/testpilot/blob/master/testpilot/users/views.py#L20) lists installed experiments and profile data for the logged in user - we'll no longer have this data or a login
- [ ] [The `me` model on the frontend](https://github.com/mozilla/testpilot/blob/master/testpilot/frontend/static-src/app/models/me.js) fetches some of its data from

[2016-07-07 20:09] ckprice commented on #994
Going to close this in favor of #1035.

[2016-07-07 20:09] #994 closed, assigned to nobody

[2016-07-07 20:10] dholbert opened #1048 "Test pilot icon's menu is blank, with "testpilot-addon:TypeError: can't convert undefined to object""
- [ ] Operating system: 64-bit Linux (Ubuntu 16.10)
- [ ] Firefox build: Nightly 50 (build id 20160706030233)

STR for me:
1. Click the test pilot add-on in my URL bar. (e.g. to deactivate some experiment)

ACTUAL RESULTS:
A blank menu appears. It never populates with any content. Additionally, this appears in my error console:

[code]

[2016-07-07 20:12] ghost commented on #999
Until we decided on a cohesive naming strategy, I've simply removed the page titles.  The UX is still understandable, and the user still has the test pilot logo / status bar to provide a nice framing / status.

We can revert this if/when we want some new page names.  @sharonbautista - the option is in Style > Text > Show page titles.

[2016-07-07 20:13] dholbert commented on #1048
"core.js:106" ~~~seems to be in some error-handling code (which is tripping over itself when trying to report an earlier error, it seems):~~~  is just a line where testpilot is logging this error, not where the error actually occurred. It's this chunk of code:

[code]

That last line is line 106.

[2016-07-07 20:21] dholbert commented on #1048
![browserconsole-screenshot](https://cloud.githubusercontent.com/assets/426803/16668367/7fa99638-4445-11e6-88b7-c126de5a3e11.png)

Here's a screenshot of the error in my browser console, in case it's helpful.
The "stack" chunk on the right is ellipsized because it's too long -- here's the copypasted text from that section:

[code]

[2016-07-07 20:23] dholbert commented on #1048
Also worth noting: this worked correctly for me in the past. (i.e. this menu used to open usefully) Not sure when/why it stopped working.  I'm pretty sure I only have only test-pilot experiment activated -- activity center.

[2016-07-07 20:29] lmorchard commented on #1040
For what it's worth, this is an interim step. Eventually, counts from Telemetry should replace this installation tracking altogether (#1039)

[2016-07-07 20:47] jaredhirsch commented on #1035
Do we also want to ask the FxA team to deactivate our oauth credentials? Not sure if this should be a checkbox or a separate coordination TODO.

[2016-07-07 21:02] kaganjd commented on #968
will do @johngruen! tomorrow, for real. sorry it's taking longer than i expected.

[2016-07-07 23:20] johngruen commented on #968
@kaganjd no sweat. Next Train doesn't get cut until next week anyway. If you have Sass questions, let me know!

[2016-07-08 00:29] sydbarrett74 opened #1049 "Installation of Test Pilot extension unsuccessful"
I am trying to join the Test Pilot project and attempted installation of the extension. When I click on 'Install Test Pilot', the button text switches to 'Installing Test Pilot' and sits there indefinitely. The browser status bar reads, 'Stopped'. Refreshing the page doesn't help: the same thing happens.
- [ ] Operating system - Windows 10 x64 Insider Fast Ring build 14379
- [ ] Firefox build - Re

[2016-07-08 05:15] jaredhirsch commented on #1026
It [looks like](https://github.com/mozilla/testpilot/blob/53ebacd/testpilot/frontend/static-src/app/main.js#L105) the email address isn't entity encoded when it's passed to the form body:

[code]

I bet `encodeURIComponent(email)` would fix it.

[2016-07-08 17:17] #497 closed, assigned to nobody

[2016-07-08 20:19] jaredhirsch opened #1052 "Add support for 'just modified' / 'just launched' in experiment views"
The [new specs](https://mozilla.invisionapp.com/share/Q77S1H6ZC#/screens/169825427) show experiment cards with 'Just Launched' and 'Just Updated' labels in the experiment page view.

To support this, we'll need to propagate the experiment's last modified time from the DB, through the API, to a field on the experiment model. We'll then need to add the label UI to the DOM, and add hooks to toggle vi

[2016-07-11 16:07] jaredhirsch commented on #1043
I'm taking this _but_ if anyone wants to steal it before Friday, go right ahead

[2016-07-11 16:12] #1044 closed, assigned to lmorchard

[2016-07-11 16:35] lmorchard commented on #1034
Something that occurred to me: We probably want to keep the actual DB tables, but delete _most_ of the records. That is, all users _without_ the `is_staff` and/or `is_superuser` flags. Until we get to using flat files (#988), we still need admin logins to access the admin pages.

[2016-07-11 16:37] lmorchard opened #1056 "Ensure admin logins still work"
This might not end up actually being a task that requires code, but: When we're done removing FxA logins, we still need to be able to log into the admin pages. That might require everyone to set passwords on their user accounts so we can use the login form at `/admin/`. Creating this issue to collect ideas / gotchas.

[2016-07-11 16:39] lmorchard commented on #1034
See also: #1056

[2016-07-11 16:42] #1045 closed, assigned to lmorchard

[2016-07-11 17:15] #1040 closed, assigned to lmorchard

[2016-07-11 21:37] ckprice commented on #1049
Thanks for filing!

A few quick questions
- Does this also happen with a release version of Windows 10? Looks like you're on a pre-release version of Windows 10.
- Are you in private browsing mode?
- Do you have any ad/tracking protection add-ons or extensions installed?

Thanks again.

[2016-07-11 22:10] #1026 closed, assigned to ckprice

[2016-07-11 22:33] ckprice commented on #1046
I wonder if it makes sense to remove this from TXP-7, and add it to our flat files milestone when it's created.

There may be a more interesting way to manage this list once we figure out the files architecture, and I think we can continue to edit the contributors list in the DB after we remove Firefox Accounts.

[2016-07-11 22:34] lmorchard commented on #1046
Problem is that the data behind this column possibly goes away when TXP-7 is finished. The contributors list is made of users. That said, we could possibly retain those specific users - since those are all Mozillians and possibly all admins.

[2016-07-11 23:01] chuckharmston commented on #988
We're having a meeting Wednesday to talk about the approach. In anticipation, some notes:

https://public.etherpad-mozilla.org/p/test-pilot-omg-flatfiles

With links to code and deployments.

[2016-07-11 23:04] pdehaan commented on #1046
If we move to flat files (backed by Markdown+JSON/Yaml) we could probably just use front matter.
For example:
- https://gohugo.io/content/front-matter/
- https://jekyllrb.com/docs/frontmatter/

So in the case of an experiment, the front-matter could just specify a sorted array of contributors and have no dependencies on a database or anything else.

---

[code]

[2016-07-11 23:06] lmorchard commented on #1046
Flat files issue over here: https://github.com/mozilla/testpilot/issues/988 (also a meeting this Weds)

But, we're not moving to flat files right now. Right now, we're removing FxA accounts. So, either way we need to do something about the Contributors content by the end of TXP-7. User accounts are getting deleted, but we need to retain the content for contributors (currently expressed as user acc

[2016-07-11 23:50] ghost opened #1058 "reformat our metrics ping 🚵🏾"
We have a new metrics ping defined which will include more useful information in a more precise format and also give us more knobs to turn when we're scaling (the format supports batching).

I patched our documentation with the new definition at https://github.com/clouserw/testpilot/compare/master...metricsv2 but am struggling to write the actual patch so I'm filing this.

[2016-07-11 23:57] sydbarrett74 commented on #1049
I'm a moron. I disabled uBlock Origin and uMatrix for the site and the addon installed successfully. Sorry to have wasted everyone's time. This should've been the very first thing I checked. Grrrr...

[2016-07-11 23:57] #1049 closed, assigned to nobody

[2016-07-12 00:07] lmorchard commented on #988
Been thinking about this stuff for the past month and tinkering. Have thoughts, so I did a brain dump of things into the etherpad - because I realize this stuff has been broken up between various meetings & chats at London and other contexts. Don't want to reinvent wheels or duplicate work

[2016-07-12 08:21] iSimonWeb commented on #960
:+1: I've been experiencing this issue too.
Actually I still haven't tried any experiment due to this bug.

[2016-07-12 16:51] ckprice opened #1059 "Update `Leave Test Pilot` flow to message users to manually unsubscribe from email list."
We're backing out FxA which means we can no longer automatically unsubscribe users from the Test Pilot mailing list.
- [ ] Remove [`/news/unsubscribe/`](https://github.com/mozilla/testpilot/blob/f9b13478d3b978ddd221e4adde974c48029933b6/testpilot/users/models.py#L43) call.
- [x] Add messaging to inform users that they will have to manually unsubscribe to be taken off list.

[2016-07-12 16:52] ckprice commented on #1059
@johngruen to provide specs for messaging.

[2016-07-12 17:07] lmorchard commented on #1059
<strike>Hmm, this could be a terrible idea, but... is there any kind of token or receipt we get from the subscribe API request that we can use with the unsubscribe? Could send that up to the add-on & store it in the client to use on uninstall. If that's missing, we could fall back to messaging about manual unsubscribe.</strike>

Yeah, no, [the unsubscribe resource doesn't work this way.](http://ba

[2016-07-12 17:32] lmorchard commented on #960
I think PR #1054 will fix this on the next deployment - because [it removes the experiment status sync code altogether](https://github.com/mozilla/testpilot/pull/1054/files#diff-e3b6f01f644924c95a8f76002ac5ab85L41).

[2016-07-12 18:37] johngruen opened #1062 "Update Settings to reflect backed out accounts"
- Remove display of email
- remove log out

[2016-07-12 19:25] thibautsergent commented on #895
I have the same issue.
Firefox 47.0.1 on windows 7 x64
Extensions : wot, adblock plus (disabled for testpilot.firefox.com), video downloader
Console output :1234:

[code]

No idea on how to do a new profile :-1:

[2016-07-12 19:33] lmorchard commented on #1062
FWIW, also been working on this as part of #1047, which will consider add-on installation as "signed on". But, this looks good, so I'll just merge it and roll on

[2016-07-12 19:33] #1062 closed, assigned to johngruen

[2016-07-12 19:40] pdehaan commented on #984
Closing. Fixed via #1063

[2016-07-12 19:40] #984 closed, assigned to nobody

[2016-07-12 21:16] johngruen commented on #1059
@lmorchard why don't i do a WIP PR of the front end of this

[2016-07-12 21:37] johngruen commented on #1059
@lmorchard #1064 is the UI changes, does not remove the actual unsubscribe code.

[2016-07-12 21:38] johngruen commented on #1042
We have had these conversations, I should get clean updates to by thursday night.

[2016-07-12 21:52] lmorchard commented on #1047
Renamed this to better reflect what this will actually end up doing. Got kind of caught up in the technical bits when filing the issue.

[2016-07-12 22:09] lmorchard commented on #1035
Seems like #1047 is covering most of the visible & usable aspects of this issue. So, I'm considering this one as the final cleanup steps - e.g. remove django-allauth from the project, delete the contents of the socialaccounts tables, clean up anything else lingering related to FxA short of wiping the users (#1034)

[2016-07-12 22:11] lmorchard commented on #1041
The first TODO up there will be covered by #1065

[2016-07-12 22:11] lmorchard commented on #1041
Looks like the only asset we might need are the chat bubbles image for step number 3

[2016-07-13 14:53] johngruen opened #1066 "Update 'Steps' UI on the landing Page"
We've changed the path to installing test pilot, so we need to update the steps we describe on the landing page.

![landing page - base 2x](https://cloud.githubusercontent.com/assets/3323249/16807840/fc133552-48e7-11e6-9fc7-98884902abf9.png)

[2016-07-13 15:27] lmorchard commented on #1066
Dupe of https://github.com/mozilla/testpilot/issues/1041

[2016-07-13 15:28] #1066 closed, assigned to nobody

[2016-07-13 15:30] lmorchard commented on #1041
@johngruen Do we have that chat bubbles image somewhere already? Or does that still need slicing from a mockup?

[2016-07-13 16:14] Dexterp37 commented on #942
That's still happening on Firefox Release 47.0.1.

[2016-07-13 16:31] johngruen commented on #1041
@lmorchard ah, yeah: https://www.dropbox.com/s/8zsjpvhf9jsz6xe/chat-icon.svg?dl=0

Thanks, i didn't realize this was covering both issues.

[2016-07-13 16:41] #1059 closed, assigned to lmorchard, johngruen

[2016-07-13 16:42] lmorchard commented on #1056
This issue should probably just be something to keep in mind as part of #1034. I'll close this and add a todo over on that issue

[2016-07-13 16:42] #1056 closed, assigned to nobody

[2016-07-13 16:46] lmorchard commented on #1034
Collapsing #1056 & #1046 into this issue as things to keep in mind when we delete data:
- [ ] Retain contributor accounts & profiles (i.e. make sure `is_staff=True`)
- [ ] Retain admin accounts (i.e. `is_superuser=True`)
- [ ] Ensure admin accounts can be logged into at `/admin/` by setting passwords

We need to keep the actual user database around, but we can delete all records where `is_superuse

[2016-07-13 16:47] lmorchard commented on #1046
This issue should probably just be something to keep in mind as part of #1034. I'll close this and add a todo over on that issue

[2016-07-13 16:47] #1046 closed, assigned to nobody

[2016-07-13 16:59] lmorchard commented on #1035
Something occurs to me: Once #1065 is merged, we won't actually have Firefox Accounts wired up on the server side anymore. So, this issue _could_ possibly lag behind the deployment of that stuff along with the user database cleanup.

[2016-07-13 17:57] bwinton commented on #988
As a Test Pilot Experiment author, I think the idea of me not changing a database when I update the version of my add-on is a good one, but I wonder what the new process would be.  Would I need to wait for the next push to prod before the changes I made went live?  How often does that happen?

[2016-07-13 18:20] lmorchard commented on #988
I don't think static generation dictates this one way or another. We've got issue #547 to work toward auto-extracting these details directly from the experiment .xpi's or update.rdf. The tools that do that could update a database today and then auto-commit changes to github tomorrow.

As for release cadence, we're talking a lot about how we could accelerate that up to on-demand deployment if that'

[2016-07-13 20:54] dholbert commented on #1048
I debugged a bit using browser toolbox. I placed a breakpoint in `showExperimentList`, and printed out `store` when it hit. That code is here:

[code]

In my main browsing profile (where this bug reproduces), `store` is:

[code]

In a fresh profile with a fresh Test Pilot install (where this bug does not reproduce), `store` is:

[code]

In particular, note that `availableExperiments` and `installe

[2016-07-13 21:01] kaganjd opened #1067 "Remove button-related code from experiment-row-view.js"
#1051 replaces "Manage" and "Get Started" buttons with a participant count. But there's still lingering button-related code [here](https://github.com/mozilla/testpilot/blob/67ad38a84bd36be94de501e9d6b6af2d5ea70cb2/testpilot/frontend/static-src/app/views/experiment-row-view.js#L72) that needs to be updated or deleted.

[2016-07-13 21:13] dholbert commented on #1048
OK, I think I've narrowed down the problem.

This "store" JS object (whose values are printed out above) seems to be backed by a file that lives in my profile directory, in ./jetpack/@testpilot-addon/simple-storage/store.json.  In my broken profile, that JSON file has these contents:

Additionally, if I delete that JSON file and let it be regenerated, that's approximately what it ends up with agai

[2016-07-13 21:17] dholbert commented on #1048
@meandavejustice, looks like you [added this code](https://github.com/mozilla/testpilot/commit/98ae719a2c9ef12ed6e386e6563cd71bd764aaf9#diff-7562eb8eba3c3d86a671045f8c70107eR148). Any chance you could take a look here? See my STR in previous comment -- you should be able to reproduce locally if you just delete store.json.

[2016-07-13 21:22] dholbert commented on #1048
I'm guessing we must do some install-time setup to place a bunch of stuff in simple-storage, and then we never do that again, even if our simple-storage is missing/cleared/deleted. And unfortunately, the addon then trips over itself and throws an exception when trying to display the menu, in that scenario.

I'm guessing we need several things here:
 (1) If store.json disappears (i.e. if our simple

[2016-07-13 21:24] groovecoder opened #1068 "Test Pilot & Web Extensions messages: prefValueRequest and addonListRequest"
Now that https://github.com/mozilla/testpilot/pull/1022 is merged, and for https://github.com/mozilla/blok/issues/12#issuecomment-232443161, I'd like to request some new message types between Test Pilot and other (Web Extension) add-ons:

When Test Pilot receives a message like `{type: 'prefValueRequest', pref: '?'}`, it should return a response message like `{type: 'prefValueResponse', pref: '?',

[2016-07-14 17:40] #1041 closed, assigned to nobody

[2016-07-14 17:40] #1047 closed, assigned to lmorchard

[2016-07-14 17:52] meandavejustice commented on #1067
@kaganjd we should just remove this in #1051

[2016-07-14 17:55] meandavejustice commented on #942
closing in favor of #1048 as it now has more info

[2016-07-14 17:55] #942 closed, assigned to meandavejustice

[2016-07-14 18:37] meandavejustice commented on #1048
@dholbert it looks like this was possibly fixed in https://github.com/mozilla/testpilot/commit/7738ed46ae7d96a29b724b11aec660e73a887952

[2016-07-14 20:48] ckprice commented on #1042
Taking this. We have the new copy.

[2016-07-14 21:26] meandavejustice opened #1070 "Error installing addon, "ShouldLog" error"
- Linux 4.2.0
- Nightly

Addon is throwing an error on install.

This is after uninstalling TxP addon, navigating to https://testpilot.firefox.com/ clicking the "Install the Test Pilot Add On" button

error msg and stack trace here => https://gist.github.com/meandavejustice/db804445d6ec12988a5f509db7f584c9

I've tracked it down to this line https://github.com/mozilla/testpilot/blob/master/addon/li

[2016-07-14 21:36] jaredhirsch commented on #1070
I think that console.error line isn't the root cause. It will only be reached if `notifyPing` throws.

Uninstalling the TxP addon will unload all of the code. If we had a pending `notifyPing` that wasn't canceled, and it failed for some reason (maybe it timed out), then the code might try to call `console.error`, but fail, because Console.jsm has been unloaded behind the scenes (or maybe it wasn't

[2016-07-14 22:16] jaredhirsch commented on #1070
TLDR: I think there are two bugs here, but I don't think they would affect ordinary users. The bugs would probably only affect someone who uninstalled, then immediately tried to reinstall, the Test Pilot add-on: not a common use case.

The second traceback below points to us trying to use the pageMod after its connection is closed. It's possible that pageMod throws the error, then fails to detach.

[2016-07-15 03:18] jaredhirsch commented on #1070
I'd guess the bug in the description is related to the `handleEvent` bug, because the traceback in the description points at a `console.error` line inside `notifyPing`, which is called by `handleEvent`.

I'll look a bit further and break this issue into separate bugs tomorrow.

[2016-07-15 13:07] johngruen commented on #1043
@6a68 (or whoever picks this up), here's the email graphic for you.
![graphic_mail](https://cloud.githubusercontent.com/assets/3323249/16875104/8e2891e2-4a6b-11e6-84c4-d039880fdc77.png)
![graphic_mail 2x](https://cloud.githubusercontent.com/assets/3323249/16875105/8e2969c8-4a6b-11e6-90bc-2b98136e829b.png)

 hint...I stole it from FXA :)

[2016-07-15 16:03] ghost commented on #1070
thanks for the investigation, @6a68!

[2016-07-15 16:20] #1024 closed, assigned to meandavejustice

[2016-07-15 16:22] #989 closed, assigned to nobody

[2016-07-15 16:23] ghost commented on #989
Thanks.  I just tried this with uMatrix on and it also worked on ubuntu.

[2016-07-15 16:25] johngruen commented on #791
We're exploring this!

[2016-07-15 16:33] #46 closed, assigned to nobody

[2016-07-15 16:56] #1042 closed, assigned to ckprice

[2016-07-15 17:30] johngruen commented on #1043
@6a68 updated the string in the mockup above the email input...should now be `Find out about new experiments and see test results for experiments you've tried.`

[2016-07-15 17:36] johngruen commented on #1001
I think in light of TxP-07, this is more-or-less resolved. Backing out FxA removes a bunch of tos/pn complexity. I think the footer is reasonably interpreted as mozilla-related info.

[2016-07-15 17:36] #1001 closed, assigned to nobody

[2016-07-15 17:40] johngruen opened #1072 "Clean up for TXP-7"
Fixing some nits:
- [ ] String changes to the landing page
- [ ] UI tweaks to the landing page
- [ ] updates to just installed panel so it doesn't block the page
- [ ] update to deployment-verification.md
- [ ] make participant counts vertically aligned across experiments

[2016-07-15 18:19] bwinton commented on #845
@kaus02 can you replicate this by enabling and disable only Tab Center (and not all of Test Pilot)?  Also, can you tell me which version of Tab Center you're using, and if you have any other add-ons installed?  Thanks!

(We've made a bunch of fixes to Tab Center in the past month that should solve this case, so I'm interested in seeing whether it still happens…)

[2016-07-15 18:29] jaredhirsch commented on #1043
Updated mocks: https://mozilla.invisionapp.com/share/Q77S1H6ZC#/screens/171956981

I recognized it instantly :-)

[2016-07-15 19:16] johngruen opened #1074 "Addon: Replace post-install doorhanger with new tab"
This issue should have been filed with the rest of TXP-7, but there accounts-backout UX does away with the installed-panel UI. Instead it opens a second tab in the background on install with the following:

![add-on notice 2x](https://cloud.githubusercontent.com/assets/3323249/16885925/1efe46d4-4a9f-11e6-9939-52d1161d13b4.png)

Flow should be:
1. user installs add-on
2. browser redirects to the ex

[2016-07-15 19:21] johngruen commented on #1074
![icon-highlight](https://cloud.githubusercontent.com/assets/3323249/16886038/cd992696-4a9f-11e6-9e25-05d5f4b9fb9d.png)
![icon-highlight 2x](https://cloud.githubusercontent.com/assets/3323249/16886039/cd9ca366-4a9f-11e6-8832-7aac43158f37.png)

[2016-07-15 20:03] #968 closed, assigned to kaganjd

[2016-07-15 20:07] lmorchard opened #1075 ""Installing..." keeps spinning after add-on installation attempt"
Occasionally on a fresh Firefox profile, I try to install the add-on but the "Installing..." barberpole never stops spinning.

There will be an error in the Web Console like "Uncaught promise rejection: waitForMessage timed out". Having trouble reproducing this to capture the exact error message.

[waitForMessage is here](https://github.com/mozilla/testpilot/blob/master/testpilot/frontend/static-s

[2016-07-15 20:08] jaredhirsch commented on #1075
@lmorchard What if we just refresh the page after 5 seconds?

[2016-07-15 20:18] johngruen opened #1076 "Dev does not install cleanly on a new profile"
Seen on d23bbae520aeff6

Steps to reproduce:
- Create a clean profile
- go to testpilot.dev.mozaws.net
- Install Test Pilot

RESULT:
Add-on appears to install then UI remains in installing state and page does not redirect

EXPECTED:
Add-on installs and site redirects to /experiments

Noticed this error in the console:
`Unhandled promise rejection waitForMessage timeout: sync-installed` from within

[2016-07-15 20:20] lmorchard commented on #1076
Looks like a dupe of #1075

[2016-07-15 20:20] #1076 closed, assigned to nobody

[2016-07-15 20:20] lmorchard commented on #1075
Looks like @johngruen captured the same error message I saw over in #1076:

[2016-07-15 20:27] jaredhirsch commented on #1075
I can consistently reproduce this bug by doing the following:
1. start FF (I'm using release channel 47.0.1 on OS X 10.11.5) with a fresh profile
2. go to the dev site: http://testpilot.dev.mozaws.net/
3. click 'Install the Test Pilot Add-on'
4. Download the add-on: <img src="https://www.dropbox.com/s/geo0ln8t1a28ylp/Screen%20Shot%202016-07-15%20at%201.25.15%20PM.png?dl=0&raw=true" width=300>
5. T

[2016-07-15 20:34] #869 closed, assigned to meandavejustice

[2016-07-15 20:36] #1075 closed, assigned to lmorchard

[2016-07-15 20:39] johngruen commented on #1075
Possibly related. If i uninstall the add-on on my local build (near master in every possibly significant way) the first time i click to reinstall it hangs but the second time i click to reinstall it works (even w/o page refresh)

Error msg:

[code]

[2016-07-15 20:42] jaredhirsch commented on #1075
@johngruen The bug you've found looks like a devtools bug

[2016-07-15 20:42] johngruen commented on #1075
BUGS FOR EVERYBODY

[2016-07-15 21:18] ghost commented on #1067
IRC says this is done.  Hooray, thanks!  Please close issues when they get finished. 🎅

[2016-07-15 21:18] #1067 closed, assigned to kaganjd

[2016-07-15 21:18] #1072 closed, assigned to johngruen

[2016-07-15 21:38] #1035 closed, assigned to lmorchard

[2016-07-15 21:41] ghost opened #1079 "Build the legacy user migration page"
As part of our migration from the legacy Test Pilot we need to build a simple landing page which we show before we remove the old add-on.

You can see the spec at https://mozilla.invisionapp.com/share/Q77S1H6ZC#/screens/169034030
- The "Check out Test Pilot" button should just link to the home page
- The "Check out Test Pilot" button should be instrumented to determine how many people hit the down

[2016-07-15 21:44] MattGrimes commented on #1079
Works for me. I like legacy_testpilot or testpilot_classic for a referral. Anything is fine though so long as we know before the migration.

[2016-07-17 00:33] LifeIsStrange commented on #791
Thank you :) I would be happy to test it !

[2016-07-18 15:27] johngruen opened #1080 "Update String in Add-on to 'Enabled' from 'Now active' for Enabled experiments"
To be consistent with messaging across the site:

<img width="618" alt="screen shot 2016-07-18 at 10 27 28 am" src="https://cloud.githubusercontent.com/assets/3323249/16920175/4365eb1e-4cd2-11e6-940b-ad04ac6f8e3e.png">

[2016-07-18 15:30] johngruen opened #1081 "Update String on the landing page to be less redundant"
Is: Test these features and share your feedback

Should be: Try out the latest experimental features

[2016-07-18 16:23] ghost commented on #1034
Marking as blocked just to keep us from landing this yet.  Next sprint please.

[2016-07-18 16:29] lmorchard commented on #995
This looks done via PR #1069

[2016-07-18 16:29] #995 closed, assigned to nobody

[2016-07-18 16:31] lmorchard commented on #960
This _should_ be fixed on stage, going to close this but we can reopen if it resurfaces

[2016-07-18 16:31] #960 closed, assigned to nobody

[2016-07-18 16:33] johngruen commented on #799
This should be closed by #1043

[2016-07-18 16:33] meandavejustice commented on #1048
@dholbert Closing this as the fix has been deployed. Feel free to reopen if you continue seeing this issue.

[2016-07-18 16:45] johngruen opened #1084 "Fix strings to remove mention of Firefox Accounts"
Update discourse flow to remove mention of FxA

[2016-07-18 16:49] lmorchard commented on #419
FWIW, I reopened #761 and stuck it into TXP-9. Adding social sharing metadata can (& probably should) be untangled from this public pages issue.

<strike>Something hacky / simple we could do here so we have proper social sharing metadata (#761) along with public pages via Ampersand:
- Check for experiment URL patterns in [the catch-all frontend view](https://github.com/mozilla/testpilot/blob/maste

[2016-07-18 16:49] johngruen commented on #1084
@clouserw should i label this to reflect the need to uplift?

[2016-07-18 17:20] pdehaan commented on #995
Verified on stage:

![firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/16923818/19f4f7c6-4cd1-11e6-9d36-6a0931238784.png)

[code]

[2016-07-18 17:37] johngruen commented on #1084
Not changing the retire copy. seems accurate enough for now since we still have the DB. Let's reassess over this sprint.

[2016-07-18 18:09] #1084 closed, assigned to johngruen

[2016-07-18 18:30] pdehaan commented on #1075
I'm seeing this as well after switching from prod to dev:

![firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/16925813/d008f4fa-4cda-11e6-91e8-48e01b9f8871.png)

[code]

[2016-07-18 18:36] dholbert commented on #1048
I'm still seeing the issue, though Test Pilot says it hasn't been updated since July 7th, so I think the problem is just that I haven't received the update.  (My version is reported as "0.7.2-tag-2016-07-05".)  The Add-ons pane "Check for Updates" feature doesn't give me any Test Pilot updates, either.

Are you sure the update has been deployed?

[2016-07-18 19:44] lmorchard commented on #1075
Hmm, I can't reproduce on dev after a dozen or so tries... I just tried from a fresh profile, and then on my dev edition after removing an old add-on and re-installing from dev.

Were you installing from dev? Just visiting with an existing add-on install after switching to dev in prefs? What version of the add-on do you have installed?

[2016-07-18 19:46] #1080 closed, assigned to pdehaan

[2016-07-18 19:46] #1081 closed, assigned to pdehaan

[2016-07-18 19:47] lmorchard commented on #761
Going to re-open this, because I think it's what we're looking for in TXP-9 - but public detail pages (#419) are in [TXP-17](https://github.com/mozilla/testpilot/milestone/16)

[2016-07-18 19:51] lmorchard commented on #761
Copying this over from #419:

Something hacky / simple we could do here so we have proper social sharing metadata along with public pages via Ampersand (#419):
- Check for experiment URL patterns in [the catch-all frontend view](https://github.com/mozilla/testpilot/blob/master/testpilot/frontend/views.py)
- Fetch the Experiment model & pass it to the template.
- Render the appropriate per-experime

[2016-07-18 19:51] johngruen opened #1086 "Test Pilot Social Solicitation"
Please see the Social Media solicitation flow here: https://invis.io/Q77S1H6ZC
### Requirements
- It should prompt active users to share Test Pilot once on a new browser session.
- it should assign special UTMs to sharing URLs to help us understand how they get shared around
- It should measure the conversion from social media shares to new installs of test pilot
### Tasks
- [x] [Create Test Pilot

[2016-07-18 19:53] johngruen commented on #1086
![email](https://cloud.githubusercontent.com/assets/3323249/16928285/687c448c-4cf7-11e6-9452-4ab56341af11.png)
![email 2x](https://cloud.githubusercontent.com/assets/3323249/16928288/68812a1a-4cf7-11e6-9778-7cf699987e6b.png)
![facebook](https://cloud.githubusercontent.com/assets/3323249/16928284/687c5e5e-4cf7-11e6-97a5-4972adb73c54.png)
![facebook 2x](https://cloud.githubusercontent.com/assets/332

[2016-07-18 19:59] pdehaan commented on #1048
From IRC:

[2016-07-18 20:03] dholbert commented on #1048
I agree it looks like 7738ed4 should fix this, but it doesn't look like that has made it into a release yet.  If I directly view `resource://testpilot-addon/index.js` in Firefox, I see the old version of `showExperimentList` (without the added `|| {}`).

[2016-07-18 20:05] pdehaan commented on #1075
I probably have an existing add-on that I installed a while ago (and auto-updates) and this morning switched from prod to dev. I can't seem to see any of the pages on Test Pilot using this profile/config (either browsing directly or via the Test Pilot add-on drop-down menu).

So far I've tried:
- http://testpilot.dev.mozaws.net/
- http://testpilot.dev.mozaws.net/experiments
- http://testpilot.dev.

[2016-07-18 20:15] johngruen commented on #419
@6a68 @lmorchard this is now spec'ed ux-wise.

The sharable add-on pages can be seen by following the "test Pilot Funnel" link, then the "Secondary Funnel" link here: https://mozilla.invisionapp.com/share/Q77S1H6ZC

[2016-07-18 20:19] johngruen commented on #753
For UX, please see: https://mozilla.invisionapp.com/share/Q77S1H6ZC

follow the: "New experiment Notifications flow"

### Important parts
- [ ] It should trigger a push notification to all Test Pilot users when a new experiment is launched
- [ ] It should be able to trigger notifications with different copy to cohorts of Test Pilot users
- [ ] It should measure clicks on the push notification that

[2016-07-18 21:07] pdehaan opened #1087 "Scrolling behavior is a bit jumpy on testpilot.dev"
Found in http://testpilot.dev.mozaws.net/__version__ (1e0aa89297ab8d4ba481ed186d8b7f934a1c4065):

[code]

---
### Steps to reproduce:
1. Go to an experiment details page (ie: http://testpilot.dev.mozaws.net/experiments/tab-center).
2. Make sure the experiment is enabled.
3. Slowly start scrolling.
### Actual results:

The green "Tab Center is enabled." bar slowly scrolls off screen, then reappears

[2016-07-18 21:14] pdehaan commented on #1087
FWIW, scrolling works really well when the experiment is not enabled and the "{Experiment.name} is enabled." banner is not displayed.

[2016-07-18 21:35] jaredhirsch commented on #419
@johngruen Great, thanks. Followup UX question / suggestion:

On the details page, what if put a big green install button in the _left_ column, just below the participant count and just above the description paragraph? If you have test pilot, it can say "install experiment". Otherwise it could say "install test pilot" or "install firefox". This ensures that the button is always in the same place,

[2016-07-18 21:36] ghost commented on #932
Just saw this today on Firefox Nightly 50.0a1 20160718081125 with Test Pilot 0.7.2-tag-2016-07-05 on Mac OS 10.11.6 Beta 15G26a. In case it matters, my Test Pilot environment is currently set to "Production" aka testpilot.firefox.com with Activity Stream and Universal Search activated, Tab Center deactivated.

[2016-07-18 21:37] jaredhirsch commented on #419
Resizing to medium, now that #761 splits out the social sharing bit. @lmorchard If I'm wrong, feel free to ratchet it back up.

[2016-07-18 21:40] pdehaan opened #1088 "Experiment details pages are missing Discourse links"
It looks like we added a Discourse section in the sidebar per #1025

But looking at stage/prod, it doesn't look like any of the experiment details pages list the URLs, which makes the hanging header a bit awkward.

![firefox_test_pilot_-_activity_stream](https://cloud.githubusercontent.com/assets/557895/16931324/44c69418-4cf5-11e6-80c7-d7d2c4063c18.png)
**Figure 1:** Activity Stream.

---

![firef

[2016-07-18 21:42] pdehaan commented on #1088
Sorry, I guess this is maybe, possibly two semi-related bugs:
1. Somebody with prod admin access needs to enter the experiment specific Discourse links.
2. We shouldn't be displaying the "Discourse" label if we don't have a Discourse link in the database.

[2016-07-18 22:26] jaredhirsch opened #1089 "If user cancels add-on install, stop the 'installing...' barberpole"
STR:
- go to test pilot site
- click big green install button
- close the addon install doorhanger without installing anything
- the 'installing...' button state persists, clicking the button will actually retrigger the install, but the text is never updated back to 'Install' and the barberpole style isn't removed

[2016-07-18 22:28] jaredhirsch opened #1090 "Disable the 'install' button when in the 'installing' state"
Very minor polish bug: when the button is in the 'installing' barberpole state, it seems like it shouldn't be clickable.

[2016-07-18 22:29] jaredhirsch commented on #1090
going to try to get to this as part of the [TXP-7](https://github.com/mozilla/testpilot/milestone/11) task milestone

[2016-07-18 22:29] jaredhirsch commented on #1089
going to try to get to this as part of the [TXP-7](https://github.com/mozilla/testpilot/milestone/11) task milestone

[2016-07-19 08:53] SoftVision-CiprianMuresan opened #1091 "String typo displayed under the "Test Pilot" toolbar button after installing the add-on"
![an button](https://cloud.githubusercontent.com/assets/18304511/16943937/fdd008b6-4da6-11e6-800c-2a61c75fc589.png)
[Affected versions]:
- Nightly 50.0a1

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Go to https://testpilot.stage.mozaws.net
2. Install Test Pilot.
3. After the installation is completed, observe the message displayed under the Test Pilot but

[2016-07-19 09:32] SoftVision-CiprianMuresan opened #1092 "Experiment icons are not centered in their wrapper"
![experiment icon](https://cloud.githubusercontent.com/assets/18304511/16945184/c348f882-4dac-11e6-8f87-7941e006ea41.png)

[Affected versions]:
- Nightly 50.0a1

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Go to https://testpilot.stage.mozaws.net
2. Open the "Inspector" (Ctrl+Shift+C).
3. Hover one of the add-on cards icon.
4. Observe the icon position.

[2016-07-19 09:51] SoftVision-CiprianMuresan opened #1093 "The last 4 lines from the "Terms of Use" page are misaligned with the rest of the text"
![misaligned lines](https://cloud.githubusercontent.com/assets/18304511/16945840/7c873fdc-4daf-11e6-8f74-a5f8e3d1c3b6.png)

[Affected versions]:
- Nightly 50.0a1

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Go to https://testpilot.stage.mozaws.net/terms
2. Scroll down to the bottom of the page.
3. Observe the last 4 lines from the "Contact" section.

[Exp

[2016-07-19 12:54] SoftVision-CiprianMuresan opened #1094 "Universal Search can no longer be enabled if it was previously disabled, unless the browser is restarted"
[Affected versions]:
- Nightly 50.0a1

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Test Pilot is installed from https://testpilot.stage.mozaws.net/

[Steps to reproduce]:
1. Go to https://testpilot.stage.mozaws.net/experiments
2. Enable the "Universal Search" experiment.
3. Disable the experiment.
4. Re-enable the experiment.

[Expected result]:
The experiment

[2016-07-19 13:01] SoftVision-PaulOiegas opened #1095 "Enabling Tab Center or Universal Search experiments removes the URL of the page from address bar"
[Affected versions]:
- Nightly 50.0a1

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Test Pilot is installed from https://testpilot.stage.mozaws.net/

[Steps to reproduce]:
1. Go to https://testpilot.stage.mozaws.net/experiments
2. Navigate to Enable the "Tab Center" or "Universal Search" experiment page and observe the address bar.
3. Chose to enable one of the

[2016-07-19 13:58] chuckharmston opened #1096 "Create Test Pilot social media share page"
To be launched by the add-on after the user has had an experiment installed for a few days.
- Mockup: https://mozilla.invisionapp.com/share/Q77S1H6ZC#/screens/169753822
- Icons: https://github.com/mozilla/testpilot/issues/1086#issuecomment-233439104

[2016-07-19 14:00] chuckharmston opened #1097 "Test Pilot should ask user to share after having an experiment installed for 3 days"
- Should launch the page from #1096
- Should only launch on a new browser session

[2016-07-19 14:04] SoftVision-CiprianMuresan opened #1098 "After installing "Test Pilot", the toolbar button is actionable only after the "FYI:" message disappears"
[Affected versions]:
- Nightly 50.0a1

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Go to https://testpilot.stage.mozaws.net
2. Install Test Pilot.
3. Click the Test Pilot button when the "FYI: We put a button in your toolbar so you can always find Test Pilot" tooltip is displayed.

[Expected result]:
The "Test Pilot" dropdown is displayed.

[Actual result

[2016-07-19 14:07] chuckharmston opened #1099 "Measure conversion of social media shares to new installs"
The share URLs from #1096 should ship with `utm_` parameters indicating the link's origin. These will be used to create a dashboard to track the conversion rate from these links to Test Pilot installs.

[2016-07-19 14:09] chuckharmston commented on #1099
@johngruen two points of clarification:
1. Would you like each service's link to be for the same campaign and source, but a different medium? Would you like each medium tracked separately?
2. The [solicitation flow](https://mozilla.invisionapp.com/share/Q77S1H6ZC#/screens/169753822) shows the copiable [testpilot.firefox.com](https://testpilot.firefox.com) link without params. Is that intentional o

[2016-07-19 14:53] SoftVision-CiprianMuresan opened #1100 "The "Settings" dropdown can only be dismissed by clicking on the button"
[Affected versions]:
- Nightly 50.0a1

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Test Pilot is installed from https://testpilot.stage.mozaws.net/

[Steps to reproduce]:
1. Go to https://testpilot.stage.mozaws.net/experiments
2. Click the "Settings" button.
3. Click anywhere else on the page.

[Expected result]:
The "Settings" dropdown is dismissed.

[Actual r

[2016-07-19 16:14] SoftVision-PaulOiegas opened #1101 "Blank page is randomly displayed when redirected after add-on instalation or experiment page opened in a new tab"
[Affected versions]:
- Nightly 50.0a1
- Add-on v0.8.0-tag-2016-07-15-1

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Go to https://testpilot.firefox.com/ and install the Test Pilot add-on.
2. Observe where you are redirected after installation.
3. Click the "Test Pilot" icon from toolbar and click on any of the available experiments.

[Expected result]:
2.

[2016-07-19 16:16] lmorchard commented on #1075
@pdehaan Looks like this might be issue #1101

[2016-07-19 16:24] lmorchard commented on #1101
The previous issue like this was #1075 on installation - but this seems to be on post-installation page load.

I can't reproduce this issue after a dozen or so tries. But, I think the error [comes from this code that messages the add-on on page initialization](https://github.com/mozilla/testpilot/blob/master/testpilot/frontend/static-src/app/main.js#L46). Seems like another race condition since we

[2016-07-19 16:31] ckprice commented on #1101
Found a pretty reliable STR.

After clicking install, you'll see the `Installing...` spinner AND the toolbar icon appear at the same time. During this interval (and before the page redirects) if you click on the icon then an experiment you'll get the error.

[2016-07-19 16:33] lmorchard commented on #1101
@ckprice That sounds like a different issue (maybe still #1075?) - this is happening when you just load a page after the add-on has already been installed.

This would actually load a second page it seems like, so it might be exercising the same error.

But, I can't actually manage to click the toolbar icon & a listed experiment before the spinner stops spinning - so maybe part of why I can repro

[2016-07-19 20:20] lmorchard commented on #724
Closing, because we dropped FxA entirely

[2016-07-19 20:20] #724 closed, assigned to lmorchard

[2016-07-19 20:53] lmorchard commented on #1100
[I think this change was intentional.](https://github.com/mozilla/testpilot/pull/1063/files#diff-9122a431ad71d321669d254c7c602d82L47)

@johngruen - do you know why we removed the click-anywhere-to-close code? Or was that not intentional?

[2016-07-19 21:09] johngruen commented on #1099
@chuckharmston
1. i think we should track media separately.
2. yeah, oversight. we should have params here. Thanks for looking out!

[2016-07-19 21:12] johngruen commented on #1100
@lmorchard i took it out on purpose, but now that i think about it that might be premature. A quick cafe test of the random person sitting next to me at the airport suggests clicking out is the preferred pattern.

[2016-07-19 21:25] lmorchard commented on #1036
I don't think we log clicks on the toolbar icon at all right now. At least, [I don't see any kind of measurement happen here](https://github.com/mozilla/testpilot/blob/master/addon/index.js#L289). How / where should we do that? (eg. telemetry? google analytics?)

[2016-07-19 21:30] lmorchard commented on #753
How do we define cohorts of Test Pilot users? Just random buckets, or something else?

[2016-07-19 21:41] ghost commented on #1100
I also noticed I couldn't click anywhere and thought it was an oversight.

[2016-07-19 23:05] #1091 closed, assigned to clouserw

[2016-07-20 14:40] johngruen commented on #1100
@lmorchard @clouserw, yeah just to confirm, we should re-add this functionality

[2016-07-20 14:42] johngruen commented on #1098
This should be closed when we land #1074

[2016-07-20 14:45] johngruen commented on #1089
@6a68 thanks for filing this one. Can we make it so the UI just reverts back to the original install button?

[2016-07-20 14:46] johngruen commented on #1088
Good spot @pdehaan

[2016-07-20 14:55] johngruen commented on #1094
@chuckharmston @6a68 can you guys dig around on this one? might be an upstream issue with the universal search add-on.

[2016-07-20 15:18] johngruen commented on #1100
I break it = i bought it

[2016-07-20 15:27] johngruen commented on #1087
@pdehaan yeah, i think we have a hard-coded height in the view. with the new UX, we could add the height of the notification div when experiment is enabled.

[2016-07-20 15:29] johngruen commented on #555
hey @ckprice this seems to have become a little more important with the recent addition of our friends at softvision. Could you take a look at this some time soon.

[2016-07-20 15:29] johngruen commented on #500
This page no longer exists.

[2016-07-20 15:29] #500 closed, assigned to nobody

[2016-07-20 15:45] johngruen commented on #1088
fixed

[2016-07-20 15:45] #1088 closed, assigned to johngruen

[2016-07-20 16:29] lmorchard commented on #1089
Yeah, this one is a little hard, and probably needs a long time-out. We can't actually detect whether they cancelled the install.

The chicken-and-egg thing is we need the add-on to get any messaging to the frontend from the browser, but if there's no add-on we don't get any privileged info about things like cancelled add-on installs.

[2016-07-20 16:44] #1100 closed, assigned to johngruen

[2016-07-20 16:45] #1092 closed, assigned to johngruen

[2016-07-20 16:47] #1093 closed, assigned to nobody

[2016-07-20 17:31] lmorchard commented on #753
Another question: How & where do we want to measure this stuff? Google Analytics? Telemetry? Setting those things up are worth a separate issue of its own.

[2016-07-20 17:52] lmorchard opened #1108 "Need a documented process for developing new metrics"
When we (or experiments) have a new feature, we'll want to measure something about its performance. It seems we have a number of parts lying around to make this happen. (e.g. Telemetry, Google Analytics, etc)

But, personally, I don't have a grasp on how we put the pieces together to measure a new feature. It would be great to have a documented process that goes something like:
1. Formulate the qu

[2016-07-20 17:53] chuckharmston commented on #1108
Piggybacking on this: it'd be great to have some sort of documented process of this for experiments as well as Test Pilot itself. The Venn diagrams should overlap quite a bit, as I understand it.

[2016-07-20 17:53] lmorchard commented on #1108
Oh yeah, that too!

[2016-07-20 17:55] lmorchard commented on #753
Filed issue #1108, because I'm hitting a similar thing in different issues.

[2016-07-20 17:55] lmorchard commented on #1036
Filed issue #1108, because I'm hitting a similar thing in different issues.

[2016-07-20 17:56] lmorchard commented on #1108
We should also roll some doco about how we use Google Analytics into this (#696), because it's a great big black box to me too.

[2016-07-20 17:58] lmorchard commented on #1108
@clouserw @ckprice @johngruen - tagging you folks into this, because I think you all have more insight than I do about this stuff.

[2016-07-20 21:10] lmorchard opened #1109 "Instrument toolbar button to measure click performance"
Splitting out from #1036:
- [ ] including _separate_ logging name to compare badged vs unbadged performance

[2016-07-20 21:11] lmorchard commented on #1036
Moved the metrics part into a separate issue: https://github.com/mozilla/testpilot/issues/1109

[2016-07-20 21:13] lmorchard commented on #1109
Two potential spots for measurement:
1. Clicks on the toolbar button itself
2. Clicks on the listed experiments in the panel revealed by the button

Do we need to find ways to measure both? They will probably need to hook into different metrics systems - Telemetry for 1 and Google Analytics for 2

[2016-07-21 12:38] #1101 closed, assigned to lmorchard

[2016-07-21 13:44] meandavejustice commented on #1006
After seeing updated responses sent from Matt, it looks like our problem is fixed. If anyone wants to see these responses, please send me a message.

[2016-07-21 13:44] #1006 closed, assigned to meandavejustice

[2016-07-21 15:37] SoftVision-PaulOiegas commented on #1100
Settings menu is now correctly closed when clicking everywhere outside of it. Verified on main page and on all the experiments pages.

[2016-07-21 15:39] errxr opened #1112 "Sidebar is persisting in full screen"
The sidebar is persisting when whatever video is in full screen with the "Keep sidebar open" feature.
Mac 10.11.6 and Firefox dev 49.0a2
<img width="1280" alt="sans titre" src="https://cloud.githubusercontent.com/assets/19875803/17029419/d5b33cc6-4f73-11e6-8201-cd4b9e7a69f2.png">

[2016-07-21 15:56] SoftVision-PaulOiegas commented on #1088
Seems fixed on production but still missing on dev / staging. It would be nice to have the full pages content at least also on staging server for further deployment test runs.

[2016-07-21 17:43] lmorchard commented on #555
[Just commented over on the PR](https://github.com/mozilla/testpilot/pull/1111#issuecomment-234326663), but tl;dr for this issue: I think `demo_data.json` is the wrong mechanism for QA content purposes. It's meant to exercise features in local development along with unit testing, and shouldn't necessarily aim to exactly reflect current experiment content on prod. Sometimes, it should even have stu

[2016-07-21 17:55] #555 closed, assigned to ckprice

[2016-07-21 18:01] lmorchard opened #1113 "Need a way to get good content into staging & dev servers"
Carrying over from PR #1111: For QA and general use of the staging & dev servers, we need a way to get good-enough content into them. Some options:
- a periodic content dump from prod to stage to dev?
- apply `fixtures/demo_data.json`?

In either case, there's a big gotcha: Local development uses the local filesystem to host media like images - so we can do `cp -r fixtures/media/demo media`. But,

[2016-07-21 18:05] lmorchard commented on #1113
@ckprice @johngruen - FYI, created this issue to flag concerns that make closing #555 not completely sufficient for addressing QA blockers with server content

[2016-07-21 19:08] #1096 closed, assigned to chuckharmston

[2016-07-21 19:19] lmorchard commented on #1038
The "New Experiment Notification" card on the invision deck doesn't show website UI - just add-on & notification pop-up UI. Looks like maybe this is what we need?

https://mozilla.invisionapp.com/share/Q77S1H6ZC#/screens/169825427

[2016-07-21 20:10] #1036 closed, assigned to lmorchard

[2016-07-21 20:15] meandavejustice commented on #1038
A good commit to checkout for implementing this would be https://github.com/mozilla/testpilot/commit/5ea7dc1c0ca74a1a9ecf0cd23ff189a0a8dfc195 since @kaganjd just did such similar work

[2016-07-21 20:17] meandavejustice commented on #1112
@errxr are you referring to a tab center feature "keep sidebar open"?

[2016-07-21 20:49] lmorchard opened #1115 "Upgrade insecure Django dependency"
This says our Django dependency is insecure:

https://requires.io/github/mozilla/testpilot/requirements/?branch=master

We should upgrade ASAP.

[2016-07-21 20:50] lmorchard opened #1116 "Upgrade outdated Python dependencies"
This says most of our Python dependencies are out of date:

https://requires.io/github/mozilla/testpilot/requirements/?branch=master

We should upgrade them soon. (This gets urgent if/when they turn insecure)

[2016-07-22 13:33] SoftVision-PaulOiegas commented on #1093
The text was indeed aligned on production, but now the "Mail" section has nothing displayed.
Also, shouldn't "Attn:" be in bold too like the others got after the fix ?

[2016-07-22 13:33] SoftVision-PaulOiegas commented on #1091
The typo was corrected on dev environment.

[2016-07-22 13:42] SoftVision-PaulOiegas commented on #1092
Wrapper was enlarged an now icons are correctly displayed in the center of the designed area.

[2016-07-22 13:48] errxr commented on #1112
@meandavejustice Yes.

[2016-07-22 14:10] SoftVision-PaulOiegas commented on #1087
Managed to reproduce the jumpy scrolling also when the experiment is not enabled (Windows 10 x64). So you should take in consideration both cases.
Screen recording https://goo.gl/gwZhqo .

[2016-07-22 14:56] SoftVision-CiprianMuresan commented on #1112
Thank you for reporting the issue errxr, we also found this too and logged it on Tab Center repository. https://github.com/bwinton/VerticalTabs/issues/441 so I will close this in favour of the other one.

[2016-07-22 14:56] #1112 closed, assigned to nobody

[2016-07-22 15:21] SoftVision-PaulOiegas opened #1118 "The "Blok" experiment icon has a wrong aspect ratio on Homepage"
[Affected versions]:
- Nightly 50.0a1
- Test Pilot 0.8.1 -dev-53fe977

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Go to http://testpilot.dev.mozaws.net/
2. Observe the "Blok" experiment card icon on the Homepage.

[Expected result]:
The "Blok" icon has the right aspect ratio as the other experiments icons.

[Actual result]:
The "Blok" icon has a wrong as

[2016-07-22 15:47] SoftVision-PaulOiegas opened #1119 "Button tooltip is not always displayed after Test Pilot add-on instalation"
[Affected versions]:
- Nightly 50.0a1
- Test Pilot 0.8.1 -dev-53fe977

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Go to http://testpilot.firefox.com page (or staging).
2. Click on the big green "Install the Test Pilot Add-on" button.
3. After the installation observe the Test Pilot button tooltip.
4. Uninstall the add-on and reinstall it a couple of time

[2016-07-22 16:09] ckprice commented on #1118
/cc @sevaan

[2016-07-22 16:19] ghost commented on #1074
Also close #1119 and #1098

[2016-07-22 16:21] chuckharmston commented on #1094
Moved to https://github.com/mozilla/universal-search/issues/270

[2016-07-22 16:21] #1094 closed, assigned to nobody

[2016-07-22 16:22] ckprice commented on #1108
Taking the next steps on this one. I put a regroup on the public cal for Tuesday, I'll have a proposal for next steps then.

[2016-07-22 16:26] lmorchard opened #1121 "Monitor 3rd party resources for SRI hash changes"
Now that we're using Sub-Resource Integrity, we have some 3rd party resources with hashes that can change independent of our deployment schedule. (e.g. Pontoon) When this happens, [we get errors and possibly site breakage](https://bugzilla.mozilla.org/show_bug.cgi?id=1288286).

But, we probably don't want to automatically update our hashes - the point of SRI is that we've verified that the resourc

[2016-07-22 16:31] lmorchard commented on #1121
Alternatively, we could roll in our own snapshot of those resources like Pontoon's JS. But then, we face breakage because we end up using old copies of their code and get left behind when they deploy updates.

[2016-07-22 16:35] #1115 closed, assigned to lmorchard

[2016-07-22 19:43] peterbe opened #1123 "TypeError invalid 'id' operand store.experimentVariants"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues.

If you're experiencing a bug in Test Pilot, please include the following information:
- [ ] Operating system
  MacOSX
- [ ] Firefox build (Nightly, Developer Edition, Beta, Release)
  Dev Edition

Picture says a lot.

<img width="792" alt="screen shot 2016-07-22 at 3 40 02 pm" src="https://cloud.

[2016-07-22 19:49] meandavejustice commented on #1048
This fix has been deployed.

verified by running:

[code]

[2016-07-22 19:49] #1048 closed, assigned to meandavejustice

[2016-07-22 23:15] dholbert commented on #1048
Confirmed -- Test Pilot's menu is no longer blank.  At first, it wasn't quite back to normal, though now it is. In particular:
- When I clicked the Test Pilot button, its menu only had a single button, labeled "View all experiments."  (The menu did _not_ have a button for each experiment, like it used to.)
- When I click that, I got taken to a web page that let me enable/disable experiments. I dis

[2016-07-25 05:31] j1my3p1x opened #1125 "Media Request"
I recently fell in love with this image ( https://raw.githubusercontent.com/mozilla/testpilot/master/testpilot/frontend/static-src/images/copter%402x.png ) seen on the [testpilot webpage](http://testpilot.firefox.com/). I've tried asking around (on Reddit) and searching (Reverse Google Images searches) but I haven't seen any HD or vector versions of the Firefox Test Pilot UFO. I was wondering if a

[2016-07-25 15:56] ghost commented on #1058
We'd like to coordinate this with bsmedberg's team around aug 8th

[2016-07-25 16:08] lmorchard opened #1126 "Measure click through & install rates on variant push notification messages"
- [ ] It should measure clicks on the push notification that lead to experiment installs
- [ ] It should measure the different click through rates of notifications with different copy

[2016-07-25 16:09] lmorchard commented on #753
Split the metrics parts out into https://github.com/mozilla/testpilot/issues/1126

[2016-07-25 16:50] lmorchard commented on #1109
Word today is we want to measure clickthroughs on experiments, not button clicks.

So, we need Google Analytics params for each experiment varied on badged & non-badged. We can add those to experiment links in the panel.

[2016-07-25 18:03] lmorchard commented on #1109
[Toolbar panel links are GA parameters are built here](https://github.com/mozilla/testpilot/blob/master/addon/lib/toolbar-button.js#L61).

Plan is to change `utm_content` to `badged` and `not badged` as appropriate to what state the toolbar button had when it was clicked.

Going to say this unblocks work on the issue.

This will need inclusion in GA spec docs for #696

[2016-07-25 18:13] lmorchard commented on #1126
Initial thoughts on GA params on message click-through URLs after IRC conversation:

[code]

Where `messageID` is an identifier for the notification message, unique within the experiment. (e.g. could be `1`, `2`, `3`, ...)

[2016-07-25 18:18] lmorchard commented on #1037
Screen looks like it's specifically here https://mozilla.invisionapp.com/share/Q77S1H6ZC#/screens/168767160

[2016-07-25 19:46] lmorchard opened #1129 "Tear down & recreate testpilot.dev.mozaws.net to add tags for Reaper"
tl;dr: There's a chance our dev instance could be broken occasionally by an ops cleanup robot unless we add certain metadata to EC2. But, that requires tearing everything down and rebuilding it.

There's [a new ops service called "Reaper"](https://mana.mozilla.org/wiki/display/SVCOPS/Living+with+the+Reaper) that will destroy EC2 instances to clean up old VMs. It will skip destroying EC2 instances

[2016-07-25 19:48] lmorchard commented on #1129
An update as I was filing this:

So, it sounds like this is a good idea, but not super-urgent. It will also be somewhat disruptive as it will leave dev unavailable while rebuilding it and probably make CircleCI tests fail as they try to auto-deploy from master.

It will also take a few hours, because this stuff always seems to take a few hours just from experience and random hiccups 😢

[2016-07-25 22:49] johngruen opened #1130 "Intermittent white screen error"
This was reported today, and I was able to reproduce.

From the reporter:

![test pilot_console capture](https://cloud.githubusercontent.com/assets/3323249/17120241/03249a06-5299-11e6-9e5d-8152bdec5ba8.png)

My steps:

Repeatedly access experiment details pages through the add-on leads to occasional white screens. Opening the console, the following message appears eventually

[code]

![white scree

[2016-07-25 23:13] pdehaan commented on #1130
Sounds maybe related to earlier #1101 report.

---

Not sure if I'm following the right abyss here, but this looks like it _**may** have been_ addressed in PR #1102 (9e93ddcfbab597dc58ea8e6c5ff40637088fba7c), which was merged 4 days ago, on July 21 (and will be included in the **next** deploy).

The **currently** deployed build in production (https://testpilot.firefox.com/__version__), is from Jul

[2016-07-25 23:28] pdehaan opened #1131 "Weird layout gap with even number of experiments in a row"
Found in http://testpilot.dev.mozaws.net/__version__ (e9e40d0052b61faa8017abf8f4716dd947d24039):

[code]

---
### Actual results:

![firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/17120953/c54bee5a-5284-11e6-840b-b09b077226d6.png)

[2016-07-26 01:39] lmorchard commented on #1130
Yeah, this is a dupe of #1101, we haven't deployed the fix yet

[2016-07-26 01:39] #1130 closed, assigned to nobody

[2016-07-26 16:46] #1123 closed, assigned to lmorchard

[2016-07-26 17:28] lmorchard opened #1134 "Remove SRI enforcement from the site"
SRI turns out to be trouble for 3rd party services that update their JS-include-based API hooks often - e.g. Pontoon, Google Analytics, Optimizely. The hashes change without notice, and SRI's rejection of resources has the potential for major site breakage.

Thought we needed SRI for security requirements, but can't find an email or bug mentioning it. So, since it seems more trouble than it's wort

[2016-07-26 17:28] lmorchard commented on #1121
Closing in favor of #1134

[2016-07-26 17:28] #1121 closed, assigned to nobody

[2016-07-26 17:32] jaredhirsch commented on #1134
SRI still seems nice in general. What if we, instead, wire up an SRI error listener, and fire a special metrics ping if SRI fails for something? If we have stuff that just cannot break, like GA, we can fall back to self-serving the current snippet, which will likely work long enough to verify the changes and update the SRI hash using the /admin/ console.

[2016-07-26 17:34] jaredhirsch commented on #1134
Expanding a bit: the 'special metrics ping' could fire a 'bad but not critical' alert, notifying the team to take a look at the third-party script. I guess we would only want to fire this alert once per 24 hours per individual resource URL.

[2016-07-26 17:44] #696 closed, assigned to ckprice

[2016-07-26 19:05] lmorchard commented on #988
Another weird transitional thought, since we're talking about flat files in a meeting - since FxA is gone now, Django only really does 3 things for the site:
1. Serves up the Ampersand frontend app
2. Serves up read-only experiment content via the JSON API that we edit in /admin/
3. Accept PUT & DELETE requests to track experiment enable / disable

If we resolve #1039 to get usage counts from tele

[2016-07-26 19:43] jaredhirsch opened #1135 "variant error: this.experimentFeaturesChanged is not a function"
I'm unable to send variant data from universal search to test pilot.

[Here](https://github.com/mozilla/universal-search/pull/261/commits/89f536f346a24dd7f1d17143c7714f89a3ee858e) is a universal search commit that mostly contains variant-related code.

Each time I send the data over, I see this error in the browser toolbox console:

[code]

Looks like the value of `this` isn't properly bound at li

[2016-07-26 19:48] lmorchard commented on #1135
😞

[2016-07-26 19:57] johngruen opened #1137 "Add a hack subtitle for the No More 404s experiment"
**This needs to go in on the current train.**

<img width="1104" alt="screen shot 2016-07-25 at 3 11 25 pm" src="https://cloud.githubusercontent.com/assets/3323249/17153184/659e4604-5349-11e6-85fb-cc55ff6b569b.png">
![screen shot 2016-07-25 at 3 07 10 pm](https://cloud.githubusercontent.com/assets/3323249/17153185/65a0014c-5349-11e6-8319-99a9530177b4.png)

Plan is, I'm going to implement it as a h

[2016-07-26 20:08] johngruen opened #1138 "Add optional subtitles the right way"
This is a follow on to #1137

Once we get through this train, we should implement an optional subtitle for each experiment that cleans up the experiment-specific logic of #1137

[2016-07-26 20:38] fmarier commented on #1134
Yes, SRI is not designed for that use case at all. It's for static files that don't change. For scripts that may change at any time, the best you can do right now is whitelist their origins via CSP.

I hope you don't rely on GA to fire though because lots of people block it (e.g. everybody who goes into Private Browsing). See https://hacks.mozilla.org/2016/01/google-analytics-privacy-and-event-tra

[2016-07-26 20:41] lmorchard commented on #1134
Luckily, we have GA event calls wrapped in handlers to swallow errors if GA is blocked. (We figured that out the hard way.)

[2016-07-26 21:41] lmorchard commented on #1038
@meandavejustice @kaganjd Thanks for that commit, I completely stole from it 😀

[2016-07-26 23:30] jaredhirsch commented on #1134
After some discussion in IRC, looks like the recommended approach is ye olde `onerror` attribute with inline function call:

[code]

[2016-07-27 15:50] vladikoff opened #1140 ""View all experiments" button leads to a blank page"
- [ ] Operating system: OS X
- [ ] Firefox build (Nightly, Developer Edition, Beta, Release): 47.0.1 Release

---

![blank](https://cloud.githubusercontent.com/assets/128755/17182011/1468ff66-53f0-11e6-9f7a-188d15614095.gif)
### STR
- Clean profile with test pilot.
- install some experiments, click "View All experiments" in FF Desktop
### Expected
- /experiments should load
### Actual
- empty page

[2016-07-27 15:52] netoeuler opened #1141 ""Take the Tour" in Test Pilot always show a blank box"
- Operating system: Debian 8, 64 bits, all packages up to date
- Firefox build: Firefox ESR 47.0.1

![etst_pilot_bug](https://cloud.githubusercontent.com/assets/3870633/17182119/d4b08b6a-53f8-11e6-8906-b1e288b365e4.png)

[2016-07-27 16:20] ckarlof opened #1142 ""Please Rate the Test Pilot experiment undefined""
On Firefox Nightly 50 this morning:

<img width="1913" alt="screenshot 2016-07-27 09 17 15" src="https://cloud.githubusercontent.com/assets/2365255/17183160/2ce1ec70-53db-11e6-966c-1786640a3be6.png">

Also, I'm only using Activity Stream and I've already rated it many times.

[2016-07-27 17:04] lmorchard commented on #1141
On what site / URL did you see this? I don't think "Blok" is an existing experiment, and the tour will show up blank if there are no tour steps created.

[2016-07-27 17:06] lmorchard commented on #1140
This sounds like issue #1101, but it's weird that you don't see an error in the console. Does the page render after a reload?

[2016-07-27 17:13] netoeuler commented on #1141
No? It's showed in http://testpilot.dev.mozaws.net/experiments. Is it a fake URL?

[2016-07-27 17:25] vladikoff commented on #1140
No when pressing the "reload" button in Firefox (near the nav toolbar).
No when pressing "CMD+R" using the keyboard.

Yes when pressing "SHIFT+CMD+R" using the keyboard.

[2016-07-27 18:00] lmorchard commented on #1141
Yeah, dev is definitely fake data. We've given more attention to the data on testpilot.stage.mozaws.net for QA purposes, but dev isn't guaranteed to have good content

[2016-07-27 18:00] ghost commented on #700
Since we don't have logins or butimspecial anymore, I think this is fixed.  If not, please re-open or re-file with more details.

[2016-07-27 18:00] #700 closed, assigned to nobody

[2016-07-27 18:01] ghost commented on #627
There isn't much info here for a new contributor.  Can we fill in details about this bug?

[2016-07-27 18:29] dannycoates commented on #798
This looks like it was fixed here: https://github.com/mozilla/testpilot/commit/9ff10c3d9fd999fa33a9235fb66c544cd7a43f26#diff-9122a431ad71d321669d254c7c602d82L70

[2016-07-27 19:06] #1038 closed, assigned to lmorchard

[2016-07-27 19:19] #1037 closed, assigned to lmorchard

[2016-07-27 19:19] #1109 closed, assigned to lmorchard

[2016-07-27 19:53] meandavejustice commented on #1141
can we close this @lmorchard ?

[2016-07-27 20:55] netoeuler commented on #1141
But I was redirect to this link by the add-on that I get in https://testpilot.firefox.com/

[2016-07-27 22:04] lmorchard commented on #1141
The add-on can be installed from testpilot.firefox.com, but it can be configured to use the dev environment - which seems to be the case here.

If you didn't intentionally configure the environment yourself, this could be a bigger issue

[2016-07-27 22:16] netoeuler commented on #1141
It was me that configured to use dev environment beacuse the default enviroment always sends to me to a blank page.

[2016-07-27 22:28] lmorchard commented on #1141
Okay, then that's why the add-on from testpilot.firefox.com is sending you to the dev environment. And the dev environment does not have real content. So, this is working as expected. You should switch your add-on back to production unless you are actually developing code for Test Pilot.

The blank page issue sounds like #1101, which should be resolved next Monday or so when we deploy the fixes

[2016-07-27 22:28] #1141 closed, assigned to nobody

[2016-07-27 23:56] #1135 closed, assigned to lmorchard

[2016-07-28 17:18] ghost commented on #1125
/cc @bryanbell

[2016-07-28 18:11] johngruen opened #1145 "Add border to Just Launched cards when user does not have add-on installed"
# E Current:

![screen shot 2016-07-28 at 2 07 46 pm](https://cloud.githubusercontent.com/assets/3323249/17223938/cab87e54-54cc-11e6-8365-9cc4cc43aacb.png)
## Expected:

Just Launched cards should have the same blue border whether or not users have the Test Pilot add-on installed

[2016-07-28 18:15] lmorchard commented on #1145
<strike>I _think_ this was already covered in #1038 and https://github.com/mozilla/testpilot/commit/a9bc5085d3527cd23a0cdd69fedb23b0c2038b55 - we use the same card view, whether you have the add-on or not</strike>

Oh wait, you mean the border - then yeah that's a bug. Probably something in the CSS :/

[2016-07-28 19:57] #646 closed, assigned to nobody

[2016-07-28 20:12] johngruen commented on #1145
@lmorchard i this should also apply to 'just updated' experiments. I think it's a matter of flattening out the sass, but i can take this one if it's too annoying :)