[2016-09-26 16:16] pdehaan commented on #1376
When doing this, we also need to confirm that ESLint still lints all the new .jsx files.

[2016-09-26 16:27] lmorchard commented on #1403
A gotcha: Any changes to the messages between add-on & site will need to account for version differences between the two. Not sure if we have any metrics on how far behind users might be with the main add-on, but there will for sure be at least a 24 hour period where folks haven't yet picked up the latest add-on after we deploy.

[2016-09-26 16:29] ghost commented on #1382
How about a button that's like "Yo, you're on the other site. want me to switch it for you?"

[2016-09-26 16:34] #1358 closed, assigned to nobody

[2016-09-26 16:35] ghost commented on #1345
We'll do new email UI in the next sprint

[2016-09-26 16:40] johngruen commented on #755
@lmorchard @pdehaan I am closing this.

[2016-09-26 16:41] #1326 closed, assigned to nobody

[2016-09-26 16:41] #755 closed, assigned to nobody

[2016-09-26 16:52] ghost commented on #904
Can we get security/legal signoff on this?

[2016-09-26 16:56] lmorchard commented on #548
This is going to be done when we start using testpilot-static.dev.mozaws.net as dev proper

[2016-09-26 16:56] #548 closed, assigned to nobody

[2016-09-26 16:57] lmorchard commented on #678
I think this is fixed, since the new revised tour dialog has a close X in the corner now

[2016-09-26 16:57] #678 closed, assigned to nobody

[2016-09-26 17:29] ckprice commented on #839
I'm going to add this to this sprint, and take it.

[2016-09-26 18:20] #1446 closed, assigned to chuckharmston

[2016-09-26 19:56] dannycoates commented on #1380
I can reliably reproduce the CSP error by clearing the `_gat` cookie

<img width="1316" alt="screen shot 2016-09-26 at 12 51 29 pm" src="https://cloud.githubusercontent.com/assets/87619/18849609/8f8ff5fa-83e8-11e6-972b-313ec6713e3b.png">

[2016-09-26 19:58] dannycoates commented on #1380
However, I don't see any correlation with the CSP error and the download of activity stream failing.

[2016-09-26 20:14] ckprice commented on #1380
The `doubleclick.net` URL in the second line of Danny's screencap references the GA code that Test Pilot uses. So I agree that this isn't an Activity Stream thing (changing title).

I caught up with Peter on the analytics team, and he said he's had reports of this happening on other properties so it appears to be something newish. They have emails in to Google with questions.

This is his status o

[2016-09-26 20:23] ghost commented on #1380
Thanks guys

[2016-09-27 10:53] SoftVision-CosminMuntean commented on #1446
This issue is no longer reproducible on stage server. Tested on latest Firefox (49.0.1) release and latest Nightly (52.0a1) build.

[2016-09-27 15:09] SoftVision-PaulOiegas opened #1451 "Wrong pointer type displayed while hovering the "Upgrade Firefox" button on versions older than 45.0"
[Affected versions]:
- Firefox release 44.0.2 and under

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Open an older release of Firefox (44.0.2 or under) and navigate to testpilot.stage.mozaws.net page.
2. After the page is loaded and the "Update Firefox" green button is displayed, hover over it.
3. Observe the Pointer behavior.

[Expected result]:
- Arrow

[2016-09-27 17:15] pdehaan opened #1452 "Developer Tools console is very noisy"
Found in https://testpilot.firefox.com/__version__ (8ad00242ebb8c075e50ec39faf1cc9efc28a7e2f):

[code]

---
### Steps to reproduce:
1. Go to https://testpilot.firefox.com/experiments/page-shot (currently 404s until new experiments released).
2. Open Developer Tools console.
### Actual results:

![firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/18884088/d8d842f0-849a-11e6-9e98

[2016-09-27 17:16] ckprice opened #1453 "Redirected to Test Pilot home page unprompted"
We've received reports of users being taken to the Test Pilot home page unprompted.

https://testpilot.firefox.com/experiments/?utm_source=testpilot-addon&utm_medium=firefox-browser&utm_campaign=restart-required

[2016-09-27 17:26] ckprice commented on #1453
Fixed in #1454.

[2016-09-27 17:26] #1453 closed, assigned to nobody

[2016-09-27 17:28] pdehaan commented on #1453
Funny, I think I was just hitting this in https://github.com/meandavejustice/min-vid/pull/317#discussion_r80746553

And more specifically, this comment:

[2016-09-27 17:29] pdehaan commented on #1453
I'll file a new bug, since I don't think that `/experiments` and `/experiments/` (with trailing slash) should have _significantly_ different behaviour... and now it's look like it's caused at least 2 problems.

[2016-09-27 17:32] pdehaan opened #1455 "Visiting /experiments/ instead of /experiments shouldn't auto redirect to homepage"
I'd think/hope that the trailing "/" would be optional and purely cosmetic, but so far it's caused possibly 2 issues:
- https://github.com/meandavejustice/min-vid/pull/317#discussion_r80746553
- https://github.com/mozilla/testpilot/issues/1453

[2016-09-27 17:33] chuckharmston commented on #1455
#1453 is unrelated.

[2016-09-27 17:35] pdehaan commented on #1455
Is it? The URL is https://testpilot.firefox.com/experiments/ with a trailing slash.
If it didn't have that trailing slash, would it have redirected to the home page unprompted?

[2016-09-27 17:36] chuckharmston commented on #1455
It is.  That was due to some botched code for forced-restart flows.

[2016-09-27 18:14] ckprice opened #1456 "Add back the `first-run` redirect"
Ref: #1454, #1453.

[2016-09-27 18:26] ckprice commented on #1456
This is exposed for users who have explicitly disabled session restore.

Plan is to watch for a couple days to see what kind of impact this has, but not a rush for our launch tomorrow.

[2016-09-27 18:34] chuckharmston opened #1457 "Track first-time add-on runs."
Despite #1456 being likely WONTFIX, we should still continue to store something in `simple-storage` the first time our add-on is initialized. Then, in the future, we can do a better job of detecting actual first runs vs upgrades.

[2016-09-27 19:51] ghost opened #1458 "Give Feedback button doesn't register data collection"
From email:

[2016-09-27 19:53] sillyess opened #1459 "Unable to enable either Universal Search or Activity Stream"
I have been using Test Pilot for almost two months now. I have The Tab Center enabled and I love it. I have tried repeatedly to enable both Universal Search and Activity Stream but I keep getting a message that they are unable to be enabled and to try again later. Literally thousands of people have begun using each of these features since I began to experience this problem. What can be done to let

[2016-09-27 20:02] ghost commented on #1311
This is blocked on us figuring out where we're going to put the headers.  S3/Cloudfront don't allow arbitrary headers.  Discussion started at https://mail.mozilla.org/pipermail/testpilot-dev/2016-September/000250.html

Since we'd still need to get all that infrastructure up before we can do this, we're going to be squished for getting this done in this milestone.

/cc @relud for great ideas :)

[2016-09-27 20:03] peterGerman commented on #1458
Typo fixed in event category.
event category: ExperimentDetailsPage Interactions
event action: button click
event label: Give Feedback

[2016-09-27 22:42] ckprice opened #1461 "Send the `clientUUID` in the URL to SurveyGizmo"
Request from rrayborn

[2016-09-27 22:43] ckprice commented on #949
Closing in favor of #1461.

[2016-09-27 22:43] #949 closed, assigned to nobody

[2016-09-28 02:48] braham-snyder opened #1462 "Use <a> tags in experiment list."
- [ OS X ] Operating system
- [ 49.0.1 ] Firefox build (Nightly, Developer Edition, Beta, Release)

---

The [main site](https://testpilot.firefox.com/experiments/) prevents me from opening links (e.g., to the features) in new tabs.

[2016-09-28 03:35] chuckharmston commented on #1462
This is a great catch, thank you for reporting!

[2016-09-28 14:33] chuckharmston commented on #1459
@sillyess Sorry to hear that you're having trouble!

We've had a few different reports of this, and each time it's been resolved by disabling firewalls or antivirus software. It's hard to provide more specific advice, since the behavior of those things can vary pretty drastically from one place to another, but that would be a good place to start.

I'm going to close this bug, but if you need more

[2016-09-28 14:33] #1459 closed, assigned to nobody

[2016-09-28 14:37] chuckharmston opened #1463 "Investigate Webpack"
Our gulp build process is a bit gnarly and DIY, and some things (i.e. #1376, #1349) are much more challenging to do than it would be when using Webpack. Let's put together a list of requirements for our build system in a post-Django world, and do some informed compare/contrasting.
## Requirements
- Should be entirely contained within the `frontend` directory, as `addon` is.
- Development server

[2016-09-28 16:09] jaredhirsch opened #1465 "Correct min-vid copy and product tour on TxP site"
The experiment page copy says that the min vid player can be dragged anywhere in the browser window. It can actually be dragged anywhere on the desktop.

The product tour shown after installing doesn't mention right-clicking links to launch min-vid. It only mentions the overlay icon.

[2016-09-28 17:44] ckprice opened #1467 "Persist query string through redirect to /experiments or /"
STR:
- Have Test Pilot installed.
- Go to https://testpilot.firefox.com/?utm_source=testpilot-addon&utm_medium=firefox-browser&utm_campaign=testpilot-doorhanger&utm_content=not+badged

Expected Result:
- Redirected to https://testpilot.firefox.com/experiments?utm_source=testpilot-addon&utm_medium=firefox-browser&utm_campaign=testpilot-doorhanger&utm_content=not+badged

Actual Result:
- Redirected

[2016-09-28 17:47] edwindotcom opened #1468 "new experiments fail to install on old installs of test pilot"
1. install old version of test pilot (i also tried to update in about:addons)
2. try to install new experiments: minVid, pageShot

actual: they fail to install
peter and I both repro'd this, i uninstalled testPilot addon and installed and it fixed the problem.  I don't think i had installed anything special.

expected: they should.

[2016-09-28 17:50] chuckharmston opened #1469 "Should we require users to be on the latest version of the add-on?"
We could detect the installed version of the add-on, compare to the latest version, and prompt the user to update.

[2016-09-28 18:00] pdehaan commented on #1469
Don't the add-ons all auto-update, unless the user specifically turns that off in about:addons?

[2016-09-28 18:01] chuckharmston commented on #1469
Correct. This would be to handle that latter case.

[2016-09-28 18:05] pdehaan opened #1472 "Experiments in door-hanger should be sorted by Enabled > New > rest"
![add-ons_manager](https://cloud.githubusercontent.com/assets/557895/18926036/0d61b508-856b-11e6-9a85-a9308efebe7a.png)

Currently my door-hanger looks like this:

![firefox_test_pilot_-_universal_search_and_penicillin_-_wikipedia__the_free_encyclopedia_and_in_yaml__how_do_i_break_a_string_over_multiple_lines__-_stack_overflow](https://cloud.githubusercontent.com/assets/557895/18926006/f3114d94-85

[2016-09-28 18:12] NodokaMurmevent commented on #1468
same problem for me, same way for resolve this
firefox 50.0b2 on Win10 pro

[2016-09-28 18:36] BrotherStein opened #1474 "Some users are unable to install the latest experiments"
/edit by ckprice - updated title a bit to be more general than just Page Shot.

[2016-09-28 18:40] ckprice commented on #1474
Thanks for the report! Can you please restart your browser and try again.

[2016-09-28 18:43] lmorchard opened #1475 "Check if /onboarding is already open in a tab before opening a new one?"
Every time the add-on is re-installed, a new tab with /onboarding is opened. This is annoying during development where installation issues are involved.

We should check and see if /onboarding for the current env is open in any tab, and skip opening a new one if so.

[2016-09-28 18:51] digitarald commented on #1474
Same for Tracking Protection. Browser Console log: https://pastebin.mozilla.org/8913899

[2016-09-28 18:51] ckprice commented on #1468
Ref: #1474

[2016-09-28 18:53] lmorchard commented on #1467
As a caveat, that redirect is client-side. Does GA register hits at all for fully client-side window.history changes? If not, then retaining the URL params won't actually solve the issue if recording the page change is what we're after.

[2016-09-28 18:59] BrotherStein commented on #1474
Restarting my browser fixed it.  Thanks!

[2016-09-28 19:10] digitarald commented on #1474
Same here, switched if off and on again.

[2016-09-28 19:48] #1429 closed, assigned to lmorchard

[2016-09-28 20:06] lmorchard commented on #1461
I thought in earlier discussions we decided that we absolutely didn't want to send the Test Pilot clientUUID out for privacy reasons. In fact, we want to get rid of that clientUUID generation altogether - we were only using it to count unique install/uninstall in the Django API that we just recently switched away from.

Instead we wanted to send things to Telemetry with the existing survey ID in t

[2016-09-28 20:27] jaredhirsch opened #1476 "Mobile experiment view is broken"
Single experiment view on mobile safari is looking pretty rough.

Here's the min vid page:

![image](https://cloud.githubusercontent.com/assets/96396/18931005/33729de8-857f-11e6-8d30-f53d2ebdeb8c.png)

[2016-09-28 20:29] johngruen commented on #1476
@6a68 oof, i'm not seeing that

what version of mobile safari are you on?

[2016-09-28 20:32] johngruen opened #1477 "We should do some preloading for tour images"
Right now the images only get loaded when the modal gets rendered in the page view. Might be nice to preload in the background them when we load the page so users don't get the load jank on the modal

[2016-09-28 20:34] meandavejustice commented on #1087
I'm seeing some jumping when scrolling on experiment pages as well

![vokoscreen-2016-09-28_16-22-55 2](https://cloud.githubusercontent.com/assets/1844554/18931242/54fb4c66-8599-11e6-9238-2c6b4eef41fd.gif)

[2016-09-28 20:36] jaredhirsch commented on #1476
@jgruen This screenshot is from a 6s plus, still on iOS 9. user agent string:

Mozilla/5.0 (iPhone; CPU iPhone OS 9_3_5 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13G36 Safari/601.1

[2016-09-28 20:42] jaredhirsch commented on #1476
busted in portrait mode, too. I bet we never checked the mobile view with > 3 active experiments.

![image](https://cloud.githubusercontent.com/assets/96396/18931502/5db0ff58-8581-11e6-8f0a-50baef2610e2.png)

[2016-09-28 20:43] johngruen commented on #1476
@6a68 weirdly not seeing this issue on a similar set up

[2016-09-28 20:45] lmorchard commented on #1087
Yeah, I think this is because of [the hardcoded pixel height cutoff we have for the scrolling transition](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/ExperimentPage.js#L19). We probably have it tuned for one platform (i.e. OS X) but not others (i.e. Linux) - would be better if we could find a way to more naturally derive that number, or use a different approach for

[2016-09-28 20:48] jaredhirsch commented on #1476
odd

[2016-09-28 20:50] jaredhirsch commented on #1476
That's odd. Tried in a private window, just in case there was some weird caching issue, looks busted still:

![image](https://cloud.githubusercontent.com/assets/96396/18931779/74f9cd74-8582-11e6-8f86-c62c39f22045.png)

[2016-09-28 20:52] lmorchard commented on #1452
I think this is a dupe of / will be addressed by #1349

[2016-09-28 20:57] pdehaan commented on #1476
Here's what it looks like on my obsolete iPhone 5s (apologies for the watermark, I'll buy Reflector 2 to avoid such embarrassing and unsightly watermarks in the future):

![testpilot iphone5s](https://cloud.githubusercontent.com/assets/557895/18931979/5c762e54-8583-11e6-8a5a-0aa5d985a2d4.gif)
**Figure 1:** 4.8MB GIF: https://cloud.githubusercontent.com/assets/557895/18931979/5c762e54-8583-11e6-8a5

[2016-09-28 20:58] johngruen commented on #1476
@6a68 seeing it as well on the experiment page on a simulator

[2016-09-28 21:04] jaredhirsch commented on #1476
:beers:

[2016-09-28 22:34] marco-c commented on #1474
https://pastebin.mozilla.org/8913946

/edit by ckprice - [more context in chat logs](http://logs.glob.uno/?c=mozilla%23testpilot&s=28+Sep+2016&e=28+Sep+2016#c25508).

[2016-09-28 23:15] ghpicard opened #1479 "Not an add-on problem but Test Pilot/Firefox itself"
I am trying to enable Min Vid and Tracking Protection, and both of the screen stay showing the "enabling" message indefinitely.

O.S.: Windows 7
Firefox Version: 49.0.1

[2016-09-29 01:18] chuckharmston commented on #1463
Started adding notes above. Would very much appreciate double-checking by people who know better.

[2016-09-29 01:28] johngruen commented on #1479
@ghpicard can you try restarting your browser?

[2016-09-29 03:30] ghpicard commented on #1479
Hi John, I did it, several times, to no avail. Even rebooting the machine did not change the behavior.
However, and in spite of keeping the "Enabling" message on forever, the install was successful. So this seems to be a visualization/report error instead of a software deployment one.

[2016-09-29 03:33] ghpicard commented on #1479
To clarify a little more, Firefox does not recognize that it has the add-ons installed and enabled, and offers to enable them as it did the first time. Procedure that fails in the way I described in the prior comments.

[2016-09-29 04:14] ckprice commented on #1474
I'm altering the title a bit to be more general, and duping out some other reports to this issue as it has a couple good log dumps in it.

[2016-09-29 04:21] ckprice commented on #1479
@ghpicard thanks for the report. I'm going to close this out for #1474. If you have any further context to add, please feel free to add there. Thanks again!

[2016-09-29 04:21] #1479 closed, assigned to nobody

[2016-09-29 04:44] ckprice commented on #1476
Fixed in #1478.

[2016-09-29 04:44] #1476 closed, assigned to johngruen

[2016-09-29 04:59] ckprice commented on #1474
@SoftVision-PaulOiegas - could you guys come up with some reliable STR for this?

[2016-09-29 05:04] karlcow opened #1480 "Make optional external assets non-breaking"
Hello.
(this was initially filed at https://github.com/meandavejustice/min-vid/issues/352 )

If you go to the current page
https://testpilot.firefox.com/experiments/min-vid

with this settings in uMatrix (aka blocking the telemetry), the page content never ever initializes.

![capture d ecran 2016-09-29 a 12 08 34](https://cloud.githubusercontent.com/assets/505230/18939755/95ea0df8-863d-11e6-9264-

[2016-09-29 07:53] SoftVision-PaulOiegas commented on #1475
I've talked with you guys about this a while ago because it s always displayed no matter how many times you install TP. But the discussion result was that we don't keep any info on the user PC to know that TP was previously installed.
I don't think that if we check that one is already open will help to much. The users won't install the add-on as many times as us and probably they close the onboard

[2016-09-29 08:35] SoftVision-PaulOiegas commented on #1474
We have managed to reproduce this too but only happens if you have a Test Pilot version prior to the new experiments launch. However, the new experiments are correctly installed under the hood, the "Enabling..." state seems to be only an UI issue on the website at first glance. That's why refreshing the page or  restarting the browser confirms that the experiments are installed after.

I also trie

[2016-09-29 08:59] marco-c commented on #1474
It happened with the latest Test Pilot version for me, and the experiments weren't correctly installed (when I refresh the page or restart the browser, the experiments were not installed).

[2016-09-29 11:36] SoftVision-PaulOiegas commented on #1474
@marco-c  Do you get an error at top of the page when you try to enable them ? I'm, asking because your issue could be also related to firewall or antivirus configurations. We had in the past a few issues where users get an error when they try to install the experiments. But after testing outside the firewall network or adding permissions in the AV client, everything worked well.

Anyway, we are i

[2016-09-29 11:59] jvehent opened #1482 "[tracker] Security checklist"
## Risk Management
- [x] The service must have performed a Rapid Risk Assessment and have a Risk Record bug (**SVC-RRA**).
## Infrastructure rules
- [x] Use [Intermediate TLS](https://wiki.mozilla.org/Security/Server_Side_TLS#Intermediate_compatibility) (**INFRA-TLS**)
- [x] Set HSTS to 31536000 (1 year) (**INFRA-HSTS**)
- [x] Set HPKP to 5184000 (60 days) (**INFRA-HPKP**)
  - `Public-Key-Pins: ma

[2016-09-29 12:05] marco-c commented on #1474
There was no error at top of the page.

I'm on Linux, so no antivirus 😄

I already provided the logs a few comments ago.

I'm able to install them now, after restarting the browser.

[2016-09-29 13:15] sevaan opened #1483 "Allow user to take experiment tour at any time"
Currently experiment tours can only be view when a user enables an experiment. To see the tour again, the user must disable the experiment and then re-enable it.

Users should be able to access this tour at any time.

[2016-09-29 13:41] SoftVision-CosminMuntean opened #1484 "The experiments uninstalled together with Test Pilot are still displayed as enabled on Homepage"
[Affected versions]:
- Firefox 49.0.1 and up

[Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.
- Have at least one experiment enabled.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisite and

[2016-09-29 13:42] SoftVision-CosminMuntean commented on #1429
This issue is no longer reproducible on Test Pilot dev server. I have tested this on latest Firefox (49.0.1) release and latest Nightly (52.0a1) build.

However, I have found another issue regarding to this fix. Here is the logged issue:  #1484

[2016-09-29 13:44] SoftVision-CiprianMuresan opened #1485 "Incorrect message is displayed on the "Restart" page when installing Test Pilot from an experiment page"
[Affected versions]:
- Firefox 49.0.1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser with a new profile and navigate to https://testpilot.firefox.com.
2. Click on any experiment card.
3. Install Test Pilot from the experiment page.

[Expected result]:
- "Please restart Firefox to enable <experiment name>" message is displayed.

[Actual result]

[2016-09-29 14:40] Samizdata commented on #1474
In my case restarting the browser with cleared cache and history did not fix the problem.  I had previously uninstalled and updated Test Pilot, which allowed Page Shot to install, but I am unable to install any further experiments or reinstall the experiments I used previously.

[2016-09-29 15:41] SoftVision-CosminMuntean commented on #1474
Managed to reproduce it too on Test Pilot stage server.
Here is a screen recording with the issue and the workaround: https://goo.gl/AMr8z4.
Here are some console errors observed while trying to enable Min Vid: https://goo.gl/h5YEyV.

[2016-09-29 16:12] pdehaan commented on #1349
Re: minification,

**Warning:** It looks like you're using a minified copy of the development build of React. When deploying React apps to production, make sure to use the production build which skips development warnings and is faster. See https://fb.me/react-minification for more details.

&mdash; via https://facebook.github.io/react/downloads.html

[2016-09-29 16:13] lmorchard opened #1486 "Combine frontend & addon build processes?"
[Building the frontend first requires a separate add-on build run](https://github.com/mozilla/testpilot/blob/master/docs/development/quickstart.md#for-linux--os-x-hosts). That can be (and has been) confusing. Maybe we should find a way to combine all of this into one single set of `npm install && npm {build,test,start}` commands from the project root?

[2016-09-29 16:17] lmorchard commented on #1486
Alternatively, we could also have the `/static/addon` path in the dev server proxy to the production server. But, I don't think the add-on build is all that onerous if you've already got all the prereqs to build the web frontend

[2016-09-29 16:44] ckprice commented on #1380
I think this is skewing our GA numbers pretty drastically at the moment. On prod, I don't see any pageviews or events in the Network tab. However I do see them being sent on stage.

[2016-09-29 16:53] lmorchard commented on #1475
I filed this issue specifically as a dev papercut - just for annoying things during development. Not meant to be a more general issue. We _can_ detect if a tab is currently open, which happens often in development after many cycles of install/uninstall.

We can't detect previous installations if we delete all our data on uninstall. But I think that's something we _should_ do, because we _should_ c

[2016-09-29 17:03] chuckharmston commented on #1474
<img width="851" alt="screen shot 2016-09-29 at 9 42 21 am" src="https://cloud.githubusercontent.com/assets/23885/18963880/e7888018-8633-11e6-803a-e07e528cce12.png">

Keying in on this bit of @SoftVision-CosminMuntean's screenshot, I worked with @relud to sift through our access and error logs in nginx and our CDN logs. nginx has never served a 504, and there have only been 88 instances of proxy c

[2016-09-29 23:08] marco-c commented on #1333
This is a bit counterintuitive to me.

[2016-09-29 23:10] krupa opened #1489 "Consider adding install buttons for individal experiments @ https://testpilot.firefox.com/experiments/"
## steps to reproduce:
1. Load https://testpilot.firefox.com/experiments/
2. Notice all the experiments listed. Note that you have to navigate to the individual experiment's details page to enable it.
## expected behavior:

The number of clicks required for the user to install a new feature is kept to a minimum. User should still be able to navigate to the details page but should also be provided

[2016-09-29 23:34] ckprice commented on #1461
#949 has a couple suggestions, one is incorporating the "unique response ID that is generated at the time of creation" (not the static survey ID) to Telemetry (is implementing this reasonable?). The other is sending a UUID to the survey URL (which is this bug, and rrayborn's follow-up request).

FWIW we're already sending the `clientUUID` in #1359.

[2016-09-30 00:46] chuckharmston commented on #1461
We are also using `clientUUID` to ensure that users are consistently placed in the same group [in variant tests](https://github.com/mozilla/testpilot/blob/master/addon/lib/metrics.js#L43).

[2016-09-30 04:46] kaving opened #1491 "Issue with Page Scroll"
Whenever I opne a new tab, with Mouse scroll button, the page is opened in New tab, but page will be scrolled to the end.

[2016-09-30 06:30] #1373 closed, assigned to chuckharmston

[2016-09-30 07:07] SoftVision-PaulOiegas commented on #1491
Can you please be more specific and tell me what pages are you opening with scroll click ? The only page I knew before it does that it's the "Cookies" one from the footer links. Right now I am opening randomly pages from experiments and I cannot reproduce this elsewhere.

[2016-09-30 07:49] JulianPaulRoberts opened #1492 "Enable Tracking Protection fault"
Uh oh. ⁨Tracking Protection⁩ could not be enabled. Try again later

Message received when trying to enable Mozilla Test Pilot

[2016-09-30 15:37] chuckharmston commented on #1344
- Detect when the add-on is disabled, and prompt the user to enable it.

[2016-09-30 15:44] chuckharmston opened #1493 "Use saner multiline strings in YAML"
YAML allows multiline strings with line breaks stripped:

[code]

We should use these in lieu of the single-liners we have now:

[code]

[2016-09-30 15:51] sevaan commented on #672
Proposed UX: https://mozilla.invisionapp.com/share/G28SJV79Q

[2016-09-30 15:55] sevaan commented on #1483
Suggestion:

In the experiment details, next to the Version number, we have a link to the changelog. Let's add a comma and a link to the tour next to it. Clicking the link launches the tour.

<img width="360" alt="tour" src="https://cloud.githubusercontent.com/assets/473531/18997994/c76f34da-8704-11e6-8ac5-8a9e91c2b482.png">

[2016-09-30 16:03] ghost commented on #1492
Do you have any anti-virus or firewalls installed?

[2016-09-30 16:09] ghost commented on #1480
The page fails to render when the analysis-output.telemetry.mozilla.org ping fails

[2016-09-30 16:14] ghost commented on #1474
Our current best theory is that upgrading the Test Pilot add-on and then attempting to install experiments fails.  We don't know why, but we're expecting the problems to drop off rapidly as Firefox automatically upgrades the Test Pilot add-on.

Marking Needs UX to consider options for warning people here (eg. if enabling is taking too long).  Also related #1335

[2016-09-30 16:18] ghost commented on #1469
This sounds good.  I don't think we need any prompting to the user - just detect an out of date version and update ourselves.

[2016-09-30 16:19] ghost commented on #1468
closing as dupe

[2016-09-30 16:19] #1468 closed, assigned to nobody

[2016-09-30 16:21] ghost commented on #1467
1) Make the content of /experiments live at /
2) Stop linking to /experiments
3) Redirect /experiments to / for everyone

(stuff will still live at /experiments/______, we're just skipping the middle step)

[2016-09-30 16:22] lmorchard commented on #1472
We do have sorting, here: https://github.com/mozilla/testpilot/blob/master/addon/lib/toolbar-button.js#L72

Basically, it goes new first and then everything else in reverse last-modified order. We wanted new first, in order to get attention. But, enabled / disabled state doesn't currently figure into in the sort

[2016-09-30 16:27] ghost commented on #1456
WONTFIX

[2016-09-30 16:27] #1456 closed, assigned to nobody

[2016-09-30 16:28] ghost opened #1495 "Remove the `first-run` code"
#1454, #1453

[2016-09-30 16:29] ghost commented on #1455
Will be fixed with #1467

[2016-09-30 16:29] #1455 closed, assigned to nobody

[2016-09-30 16:29] chuckharmston commented on #1495
i.e. delete this stuff https://github.com/mozilla/testpilot/blob/master/addon/lib/first-run.js

[2016-09-30 17:45] johngruen commented on #1333
@marco-c yeah, it's a bit of a workaround since there's a collision btwn native tracking protection and the experimental add-on.

[2016-09-30 18:01] marco-c commented on #1333
Would it be possible to use native tracking protection, when it is enabled, and only make the addon allow users to report broken sites?

[2016-09-30 18:08] ghost commented on #1311
Alright, this is fixed in #1481 with a much tighter policy

And is being deployed in https://bugzilla.mozilla.org/show_bug.cgi?id=1306680

[2016-09-30 18:08] #1311 closed, assigned to nobody

[2016-09-30 18:16] pdehaan opened #1496 "Avatars are confusing"
Ref: https://github.com/mozilla/activity-stream/issues/1425

I'm not sure where to put an avatar for new experiment contributors. So far I've narrowed it down to one of:
- [/frontend/src/images/experiments/avatars](https://github.com/mozilla/testpilot/tree/master/frontend/src/images/experiments/avatars)
- [/frontend/src/images/experiments/activity-stream/avatar](https://github.com/mozilla/testpilo

[2016-09-30 19:03] lmorchard commented on #1434
Looks like we went with the manual solution for this - need to keep title, description, image_facebook, and image_twitter for experiments up to date in Django admin until we finish switching away from Django.

[2016-09-30 19:03] #1434 closed, assigned to lmorchard

[2016-09-30 20:08] ghost commented on #1482
- CSP, HSTS, x-content-type-options, x-frame-options, x-xss-protection  and HPKP are added with https://github.com/mozilla/testpilot/commit/595928ea59b171e6d9b226fb804fcb4140a6878e and are being deployed in https://bugzilla.mozilla.org/show_bug.cgi?id=1306680

[2016-09-30 21:34] pdehaan commented on #1496
Actually, I think I'd favor using experiment-specific avatars directories instead of one big shared directory. We'd have a few places where we duplicate avatars, but the up side is that if we delete an experiment directory, we don't have to worry about orphaned images in a shared folder.

[2016-09-30 22:00] lmorchard commented on #1496
Yeah, all these paths are an artifact of the automated Django export. We can manually reorganize this to make more sense going forward

[2016-10-01 00:05] JulianPaulRoberts commented on #1492
Avast Internet Security 2016

From: Bizarro @clouserw (minimal permissions) [mailto:notifications@github.com]
Sent: Saturday, 1 October 2016 2:04 AM
To: mozilla/testpilot
Cc: JulianPaulRoberts; Author
Subject: Re: [mozilla/testpilot] Enable Tracking Protection fault (#1492)

Do you have any anti-virus or firewalls installed?

—
You are receiving this because you authored the thread.
Reply to this

[2016-10-01 02:11] pprincetta opened #1498 "I am in the Test Pilot Program but suddenly cannot enable any of the apps. Assistance Please!"

[2016-10-01 05:46] pdehaan opened #1499 "min-vid and no-more-404s have the same id"
Working on my YAML linter and casually noticed that both the min-vid.yaml and no-more-404s.yaml file have the same `id`. Not sure if that's a big deal or not, but thought I'd point it out.
#### min-vid:

#### no-more-404s:

[2016-10-01 06:01] pdehaan commented on #1499
I'm guess this may be why my /frontend/build/api/experiments/\* directory only has 6 experiments JSON file instead of 7:

[code]

[2016-10-01 07:48] alexgibson opened #1500 "Visiting testpilot.firefox.com breaks the back button (if already using the add-on)"
Hi,

We're linking to `https://testpilot.firefox.com/` from the new Firefox channel pages over on mozilla.org (WIP preview can be [seen here](https://www-demo1.allizom.org/en-US/firefox/channel/desktop/)). We noticed that if users click the `Learn more about Test Pilot` link in the bottom section of the page, then they cannot return to mozorg by clicking the browser back button if they already hav

[2016-10-01 08:38] pdehaan commented on #1500
Possibly fixed when we do https://github.com/mozilla/testpilot/issues/1467#issuecomment-250788273

[2016-10-01 09:56] alexgibson commented on #1380
If it's any correlation here, we hit this too unexpectedly on mozorg when we turned on CSP. After some discussion, It has since been turned off in GA.

[2016-10-01 15:31] marco-c opened #1501 "https://testpilot.firefox.com/undefined?undefined page opened after restarting Firefox after an update"
A tab pointing to `https://testpilot.firefox.com/undefined?undefined` was opened after restarting Firefox Nightly after a Firefox update.

[2016-10-01 18:48] relud opened #1502 "bin/deploy.sh creates double prefixed headers"
in bin/deploy.sh the metadata tags are named `x-amz-meta-*`, but amazon prefix metadata tags with `x-amz-meta-` in http responses, resulting in headers like `x-amz-meta-x-amz-meta-content-security-policy`.

[2016-10-02 00:25] pilots48 opened #1504 "No Icon displayed for Test Pilot after installing the add on on Firefox Private Window"
I installed Test Pilot in Firefox but there is no Icon in the tool bar.

[2016-10-02 03:37] #1502 closed, assigned to nobody

[2016-10-02 03:40] ghost commented on #1380
We chatted about this in our last meeting and actually decided to leave it blocked as it shouldn't affect our numbers at all.  You can turn it off in GA though?  That sounds like it would be good to do.

This is WONTFIX, but leaving open for discussion.

[2016-10-02 15:34] Prranesh commented on #1380
Thank you for reply..!! I've found that error while installing that ADD-ON in my college computer LAB. But when I did the same to my PC. I didn't encountered such Issues .

[2016-10-02 15:48] chuckharmston commented on #443
Closing due to the move to S3-based deployment.

[2016-10-02 15:48] #443 closed, assigned to nobody

[2016-10-02 15:48] chuckharmston commented on #1116
Closing since we're getting rid of Python entirely.

[2016-10-02 15:48] #1116 closed, assigned to nobody

[2016-10-02 15:49] chuckharmston commented on #513
Closing since we're getting rid of Docker.

[2016-10-02 15:49] #513 closed, assigned to nobody

[2016-10-02 15:49] chuckharmston commented on #1029
Closing since we've shipped flatfiles.

[2016-10-02 15:49] #1029 closed, assigned to nobody

[2016-10-02 15:50] chuckharmston commented on #662
Closing because d3fe158cf37565ba99876bc831e3ce5ef76f4d2d merged.

[2016-10-02 15:50] #662 closed, assigned to nobody

[2016-10-02 15:51] chuckharmston commented on #553
Closing since we're getting rid of Django.

[2016-10-02 15:51] #553 closed, assigned to nobody

[2016-10-02 15:52] chuckharmston commented on #547
I don't think this is relevant anymore, given the move to flatfiles. Closing.

[2016-10-02 15:52] #547 closed, assigned to nobody

[2016-10-02 15:54] #794 closed, assigned to pdehaan

[2016-10-02 15:58] chuckharmston commented on #906
Updated bug title to include a max-version case, since it's very little work and there have been times where upstream changes have broken our add-ons (i.e. Universal Search + one-off buttons).

Still needs UX.

[2016-10-02 23:15] chuckharmston commented on #1463
I've got a (mostly) working port of this over here, with many ideas based on the [react-redux-starter-kit](https://github.com/davezuko/react-redux-starter-kit/): https://github.com/chuckharmston/testpilot-webpack

I touched as little of the application as possible, instead focusing on the build system. Hot reloading is mostly-working, and there are some neat webpack features, such as skipping out

[2016-10-03 04:37] BoffinBrain commented on #1202
OK, I wasn't able to repro on my Windows 10 laptop either, using two different versions of FF. I guess my main install is just garbled somehow! Still won't install Universal Search or Activity Stream on 50.0b3.

[2016-10-03 07:47] past commented on #1501
This just happened to me too.

[2016-10-03 08:58] johannhof commented on #1501
Happened to both me and my girlfriend. This might be happening to everyone :anguished:

[2016-10-03 09:04] alexgibson commented on #1501
I just hit this too (51.0a2)

[code]

[2016-10-03 09:09] johannhof opened #1506 "Set NODE_ENV=production and don't use minified debug builds of React/Redux"
If you open the console on https://testpilot.firefox.com/ you get these warnings:

[code]

[2016-10-03 09:10] johannhof commented on #1501
@alexgibson I opened #1506 for the debug builds, I think/hope this is a separate issue :)

[2016-10-03 12:32] peterbe opened #1507 "/contribute.json served as application/octet-stream"
This is not with any specific app, but the general Test Pilot site.

The `Content-Type` of https://testpilot.firefox.com/contribute.json is `application/octet-stream` making it hard to read. You have to download it because selecting "Open" might open it in some annoying editor like XCode if you're not careful.

[2016-10-03 14:49] SoftVision-PaulOiegas commented on #1501
Got it too twice, but I'm not sure it's the update that generates this. At home this happened on 49.0.1 release and at work on Nightly. Also, just updated Nightly with today's build on a profile with Test Pilot already installed and didn't got the page again.

I'm gonna keep an eye on this and report back the steps to reproduce if I manage to find them.

[2016-10-03 15:27] pdehaan commented on #1506
@johannhof, Thanks for the report. I think this is a dupe of #1349.

[2016-10-03 15:27] #1506 closed, assigned to nobody

[2016-10-03 16:12] lmorchard commented on #1329
Going to say this is closed since #1394 was merged. Could use some docs though

[2016-10-03 16:12] #1329 closed, assigned to nobody

[2016-10-03 16:12] lmorchard commented on #1343
Going to close this, since it's done except for changing host names around

[2016-10-03 16:12] #1343 closed, assigned to nobody

[2016-10-03 16:24] #1495 closed, assigned to chuckharmston

[2016-10-03 16:34] ianb commented on #1501
I got this after a restart, no update involved.  I do have Tracking Protection installed.  [Page console](https://gist.github.com/ianb/0e29e18632f3630bd571bcbddf8784a3), but nothing too interesting, looks the same as the previously pasted console.

In the browser console:

`Blocking request: originTopHost:  testpilot.firefox.com  mainFrameOriginTopHost:  testpilot.firefox.com  requestTopHost:  www

[2016-10-03 17:26] ckprice commented on #1501
Fixed in #1508.

[2016-10-03 17:30] ckprice commented on #1498
Hi there, thank you for the report! Could you please try to restart Firefox and enable again? This could be related to #1474.

[2016-10-03 18:01] pprincetta commented on #1498
[image: banner_8] http://drprincetta.com/

About http://drprincetta.com/?page_id=439   Services
http://drprincetta.com/?page_id=399   Patient Resources
http://drprincetta.com/patient-resources/   Dr. P's Articles
http://drprincetta.com/?page_id=471   Request Appointment
http://drprincetta.com/?page_id=424   Links
http://drprincetta.com/?page_id=394

I close out Firefox regulary throughout the day.

[2016-10-03 18:18] lmorchard opened #1509 "Update /__version__ on static deploys"
Our Docker-based deployments have a `/__version__` JSON resource we can use to check the current deployed version of the site. The new static deployment system does not do this. It probably should.

[2016-10-03 19:22] sevaan opened #1510 "Page to restart your browser after installing Test Pilot feels like a dead end."
After restarting the browser the user is shown a page with a message asking them to restart the browser in order to choose their features.

<img width="1392" alt="screen shot 2016-10-03 at 3 11 24 pm" src="https://cloud.githubusercontent.com/assets/473531/19050345/2a7800ce-897c-11e6-942b-ada14ec2082d.png">

Once the browser restarts the icon is added to the toolbar, but there is no indication that

[2016-10-03 19:29] ckprice commented on #1510
FWIW this used to happen, but caused a few issues right around launch, so it was disabled in #1454. When it came time to discuss adding it back, [it was determined](https://github.com/mozilla/testpilot/issues/1456) that the first run redirect would not be worth putting back in.

[2016-10-03 19:29] sevaan commented on #1510
Also, the new email footer I'm working on could go on this page.

[2016-10-03 19:30] sevaan commented on #1510
Okay. I think the quick-fix here would be just to have an image of the toolbar with the Test Pilot icon in it and a circle around it.

[2016-10-03 20:10] bittin commented on #1474
I just noticed i have the same problem in Beta 3 of Firefox 50

log here: https://pastebin.mozilla.org/8915411

[2016-10-03 20:16] Samizdata commented on #1474
And now I am back at the exact same problem.  I uninstalled, updated, installed Page Shot, anod now every other Test Pilot Experiment gives me the unable to install right now error I had in the first place.

[2016-10-03 20:23] bittin commented on #1474
https://pastebin.mozilla.org/8915415

[2016-10-03 20:48] jaredhirsch commented on #1474
I was just discussing this issue with @bittin, who encountered it using the 9/12 version of the addon with FF 50 Beta, and it appears that only new experiments are affected by this bug:
- Old experiments can be installed / uninstalled without problems
- New experiments cannot be installed--the new about:addons after the website install hangs

Possibly related: uninstalling the 9/12 build of Test P

[2016-10-03 20:51] Samizdata commented on #1474
Currently, with Firefox 49.1 and current Test Pilot, that would be incorrect.  After uninstalling and reinstalling to install Page Shot, I am currently unable to install ANY Experiments, including No More 404's (other than the Page Shot which was the genesis of the problem for me).  Which is really frustrating since that was the most productive experiment for me to date.

[2016-10-03 20:53] jaredhirsch commented on #1474
@Samizdata: Thanks for the info! A few followup questions:

What version of Test Pilot do you have installed? (about:addons > Extensions tab at left > click 'More' link next to Test Pilot listing)

What if you uninstall and reinstall any experiment other than Page Shot? Can you then install a second experiment successfully?

[2016-10-03 20:56] Samizdata commented on #1474
Test Pilot 0.8.5-tag-2016-09-27.

I didn't try uninstalling/reinstalling anything else, because, frankly, I was afraid of breaking things worse.  I need to head to work, but I will test it out when I get home tonight.

[2016-10-03 21:09] rmenessec opened #1512 "Lack of Android support?"
Test Pilot appears to be marked compatible for Firefox for Android, and I can install the extension. However, after the extension is installed, there's no initial user UX, and it's not possible to install experiments.

Bug #791 is poorly worded, and doesn't really shed any light on whether Test Pilot is intended to work on Firefox for Android.

If it's not, I for one would really like to be able t

[2016-10-03 21:22] chuckharmston commented on #1474
It'd be very helpful if we could get an about:support dump from somebody who is experiencing this problem. To do that, go to `about:support`, then hit "Copy text to clipboard". Either paste that in a comment here, or if you'd prefer, an email to me (chuck@mozilla.com).

@bittin @Samizdata

Thanks!

[2016-10-03 21:36] Cybertoad opened #1513 "None of them will install or open properly they just hang"
Thank you for contributing to Test Pilot!

Cant even test failed to install and failed to load.  None of them will install or open properly they just hang LOL gees did you guys even test these only apps I have had do this 100% failure.

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appro

[2016-10-03 21:43] pdehaan opened #1514 "Replace eslint-config-airbnb with eslint-config-airbnb-base"
Currently it looks like we're [extending](https://github.com/mozilla/testpilot/blob/123fa362f66bd92c9db284b7348f08cf8f79cdf8/.eslintrc#L4) the deprecated [**eslint-config-airbnb/base**](https://www.npmjs.com/package/eslint-config-airbnb#eslint-config-airbnbbase) config in our [package.json](https://github.com/mozilla/testpilot/blob/123fa362f66bd92c9db284b7348f08cf8f79cdf8/package.json#L52) file.

[2016-10-03 21:49] pdehaan commented on #1514
Unrelated but related:
- ESLint now recommends file extensions on your .eslintrc files (the vanilla .eslintrc is deprecated, but still works for legacy reasons). See [ESLint "Configuration File Formats"](http://eslint.org/docs/user-guide/configuring#configuration-file-formats). We probably want to rename all our .eslintrc files to .eslintrc.yml.
- We shouldn't need [**eslint**](https://github.com/

[2016-10-03 22:04] MrBlueBass opened #1515 "make this an app"
I would like to make test pilot an app on my Windows 10 computer so that I can easily choose to use it when I am websurfing. How do I do this? I can't seem to find Test Pilot anywhere on my computer. It's not in the Program Files and it isn't listed in the Apps.

If someone could help, that would be great.

[2016-10-04 01:25] Samizdata commented on #1474
## Application Basics

Name: Firefox
Version: 49.0.1
Build ID: 20160922113459
Update Channel: release
User Agent: Mozilla/5.0 (Windows NT 10.0; WOW64; rv:49.0) Gecko/20100101 Firefox/49.0
OS: Windows_NT 10.0
Multiprocess Windows: 0/1 (Disabled by add-ons)
Safe Mode: false

## Crash Reports for the Last 3 Days

All Crash Reports

## Extensions

Name: BugMeNot Plugin
Version: 3.1-signed.1-signed
Ena

[2016-10-04 01:32] Samizdata commented on #1474
And, apparently now, we are right back where we were.  Reinstalled Test Pilot, reinstalled Page Shot, and can NOT install any other experiments.

Update.  Can not reinstall No More 404's, but Min Vid DID install.  Also, no go on Universal Search.

[2016-10-04 01:40] jaredhirsch commented on #1474
@Samizdata Could you try again in a fresh profile (or with non-Test Pilot add-ons disabled)? I wonder if one of your other add-ons is interfering with the download process.

[2016-10-04 04:52] Samizdata commented on #1474
Let me back up my profile and see what I can do.

[2016-10-04 10:47] Samizdata commented on #1474
Okay, profile moved.  Started with clean profile.  Installed Test Pilot.  No go on No More 404s.  So it looks like it is not another addon.

[2016-10-04 11:13] SoftVision-CosminMuntean commented on #1474
@Samizdata do you have any anti-virus or firewalls installed? Maybe your issue could be also related to firewall or antivirus configurations. We had a few issues where users could not install the experiments until they disabled the antivirus.

[2016-10-04 14:25] johngruen commented on #1474
maybe related: https://github.com/mozilla/testpilot/issues/660

[2016-10-04 15:04] sevaan commented on #672
Slight update to spec: Removed the download button as well.

[2016-10-04 15:12] sevaan commented on #1510
Updated UX: https://mozilla.invisionapp.com/share/Q77S1H6ZC#/194697495_Restart_Browser

Basically take the speech bubble from the [onboarding tab](https://testpilot.firefox.com/onboarding) and put it on this page, minus the triangle.

[2016-10-04 15:22] erikrose commented on #1501
FWIW, I had the https://testpilot.firefox.com/undefined?undefined tab pop up while I was in the middle of reading Hacker News, days after I launched Firefox.

[2016-10-04 15:51] chuckharmston commented on #1501
#1508 was a good PR, but didn't fix this issue. ErikRose's comment got me to the real bug and fix, which is in #1517.

[2016-10-04 15:58] #1501 closed, assigned to nobody

[2016-10-04 16:08] SoftVision-PaulOiegas opened #1518 "Browser tab name is not updated when navigating to Test Pilot experiments pages"
[Affected versions]:
- All Firefox versions

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://testpilot.firefox.com/ .
2. Observe the browser tab name and after click on one of the available experiments.
3. Observe again the browser tab name.

[Expected result]:
- Step 2: "Firefox Test Pilot" is displayed as tab name.
- St

[2016-10-04 16:34] johngruen commented on #1513
Hey @Cybertoad we've seen some reports of antivirus software causing install breakage. Can you tell us what add-ons you currently have installed?

[2016-10-04 16:36] lmorchard commented on #1510
The issue is that opening a page at all right after restart (and only the restart after first install) was really problematic, and we decided not to do it until we find a good solution for #1457

[2016-10-04 16:38] pprincetta commented on #1498
Any news on how I can get this to work

On Mon, Oct 3, 2016 at 10:30 AM, Cory Price notifications@github.com
wrote:

[2016-10-04 16:49] ckprice opened #1520 "Change copy on email list confirmation message"
We don't require a user to verify his or her email address, nor do we send them a confirmation email. Let's change [this language](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/EmailDialog.js#L45):

Maybe just a "Thank you!"? @johngruen (or maybe @sevaan?)

[2016-10-04 17:06] sevaan opened #1521 "Collect email addresses with persistent form at bottom of page"
Our metrics show that email is a powerful tool for converting users for new experiment installations. We should explore options to collect email addresses at a greater number of touch points. One good touch-point would be to have an email collection form at the bottom of each Test Pilot page.

UX: https://mozilla.invisionapp.com/share/SW8TRWTMA
Example of footer on landing page: https://mozilla.in

[2016-10-04 17:25] johngruen commented on #1520
Yes, just 'Thank you' is fine.

[2016-10-04 17:40] lmorchard opened #1522 "Switch testpilot.dev.mozaws.net to static deployment from master"
We auto-deploy `master` branch via Docker to an Elastic Beanstalk instance at `testpilot.dev.mozaws.net`

We auto-deploy `development-static` branch via `gulp` &`aws sync` to an s3 bucket distributed through CloudFront at `testpilot-static.dev.mozaws.net`

But, we no longer need these to be separate.

We should:
1. Switch `master` branch to static deployment to the S3 bucket `testpilot-static.dev.

[2016-10-04 17:41] pdehaan opened #1523 "Remove experiment version number from details page"
Currently when we push a new version of an experiment XPI to Test Pilot, we need to update the experiment's YAML file with the new version, and then upstream those to stage and prod.

If we remove the experiment's version number from the Test Pilot site, we'd just need to update the experiment's XPI in S3 and update the update.json.

[2016-10-04 17:46] ghost commented on #1523
I think this is needs UX.  Right now https://testpilot.firefox.com/experiments/min-vid says:

Version 0.3.0 [changelog]
Last Update 9/22/2016

I think we should drop Version, but we'd also have to drop Last Update, and then where should the changelog link go?

[2016-10-04 18:31] lmorchard commented on #1523
Issue #547 was closed, but some kind of tool to auto-update experiment details from an .xpi might be handy - if only as a gulp task to generate a pull request

But we _do_ also have to update YAML content on Test Pilot to bump the update date, which powers our "just updated" messaging on the site. And pushing the site to stage & prod is about to become much simpler, so I don't think this is all th

[2016-10-04 19:07] johngruen opened #1524 "Solicit Users with Test Pilot, but no experiments installed to install and experiment"
@sevaan we're seeing many of our new test pilot installers not complete the circuit of installing experiments. if users install test pilot but don't install an experiment, we should lead them an experiment install page after a day or so.

[2016-10-04 19:11] johngruen opened #1525 "Bring back get started/manage UI on experiment summary cards."
We're seeing a pretty serious drop off in users installing experiments after installing Test Pilot. Let's bring back experiment controls to the individual cards to improve the feeling of clickability on the cards.

<img width="1055" alt="screen shot 2016-10-04 at 2 10 41 pm" src="https://cloud.githubusercontent.com/assets/3323249/19088610/75fecb34-8a3c-11e6-8cc4-5499bbfbc510.png">

[2016-10-04 19:16] johngruen commented on #1510
@lmorchard i think @sevaan is just proposing adding an image to that e10s restart page that shows up before the add-on initializes. Feels like a solid remediation to me. @sevaan we might want to change the string to indicate that the icon will be there after restart.

[2016-10-04 19:18] johngruen commented on #944
@chuckharmston can we close this guy?

[2016-10-04 19:30] Samizdata commented on #1474
@SoftVision-CosminMuntean I will try that tonight when I get home from work, but that's not a very good solution.  Test Pilot is the only time I have had issues with installing addons.  Maybe providing them through the standard add on infrastructure?

[2016-10-04 20:09] #1496 closed, assigned to pdehaan

[2016-10-04 20:28] johngruen commented on #901
I think we resolved this by making additional questions optional in feedback forms.

[2016-10-04 20:28] #901 closed, assigned to nobody

[2016-10-04 20:40] macxcool commented on #901
I agree. Thanks. It makes much more sense the way it is now. Most people
participating would, one would think, be willing to give feedback. This way
we can control when and not be annoyed at the same time. Win, win ;-) I'd
think you would get more feedback this way.

On Tue, Oct 4, 2016 at 4:28 PM, John Gruen notifications@github.com wrote:

##

---

 )\/,) ___  __  )L,   ))  __  __  )) __ _ _
((`

[2016-10-04 23:36] chuckharmston commented on #944
Closing with #1402

[2016-10-04 23:36] #944 closed, assigned to chuckharmston

[2016-10-05 00:05] pdehaan commented on #1504
We had another report of a user, @Ajith20, not seeing a Test Pilot or Page Shot toolbar icon after installing in Page Shot:

https://github.com/mozilla-services/pageshot/issues/1696 &mdash; No Icon displayed after installing the add on

&mdash; via https://github.com/mozilla-services/pageshot/issues/1696#issuecomment-251544641

[2016-10-05 01:30] Samizdata commented on #1474
@SoftVision-CosminMuntean Okay, disabled all shields in Avast Premiere and the plugins DID install with no error.  So, all good.

[2016-10-05 01:34] chuckharmston commented on #1474
Thanks for the help, @Samizdata! This is the first time we've gotten confirmation that antivirus software is actually to blame here. Could I get you to share your configuration with me, either here or privately (chuck@mozilla.com)? I'd like to narrow down specifically which aspects of the suite are causing the problems.

[2016-10-05 03:10] Cybertoad commented on #1513
I do know Avast is integrated into the browser to check pages and No script
are about the only virus related I can think of.

On Tue, Oct 4, 2016 at 9:34 AM, John Gruen notifications@github.com wrote:

[2016-10-05 07:25] ramir141974 opened #1526 "Newcomer guy"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:
- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-10-05 07:38] ramir141974 commented on #1526
First of all i wanted to explore my full of thanks to all those who involved this issue from me and thank you for your patience to me is newly computer users,I was surprised github and firefox is  shareholder but anyway this is a big help to me and learn how to organized my information or privacy once again thank you so much and I really appreciate...

[2016-10-05 10:38] Foxfan100 commented on #1498
I too have this problem with every Test Pilot item that I try to install. I use Kaspersky AV, and have tried disabling this. However, I note that when I first signed up for Test Pilot, I was able to activate Activity Stream, and this remains the only experiment that I have been able to install and make work.

[2016-10-05 12:13] Jokubasdk opened #1527 "Uh oh. ⁨Min Vid⁩ could not be enabled. Try again later."
I am trying to enable the new addons but i keep getting this error: "Uh oh. ⁨Min Vid⁩ could not be enabled. Try again later." (I get this error for Page Shot, Min Vid, Tracking Protection and No More 404s. The others seem to work fine)
Does anyone now how to solve this?

[2016-10-05 12:20] SoftVision-PaulOiegas commented on #1527
@Jokubasdk  Hi and thanks for the report. Can you tell me from "about:addons" page what version of Test Pilot add-on do you have installed ? This could be due to an older version that was having troubles with new experiments installation,

Also, we are having some issues with some antivirus clients that are currently under investigation. Are you using any ? If yes, as a temporary workaround, you c

[2016-10-05 13:30] pprincetta commented on #1498
If someone gives advise please pass it onto me

On Wed, Oct 5, 2016 at 3:38 AM, Foxfan100 notifications@github.com wrote:

[2016-10-05 15:13] chuckharmston commented on #1498
As Cory noted, this is likely a duplicate of https://github.com/mozilla/testpilot/issues/1474. I'm going to close this in favor of that issue.

[2016-10-05 15:13] #1498 closed, assigned to nobody

[2016-10-05 15:23] #1526 closed, assigned to nobody

[2016-10-05 15:43] haimzelig opened #1528 "unable to enable Activity Stream"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:
- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-10-05 16:01] chuckharmston opened #1529 "Disabled (in Firefox) experiments marked as enabled (in Test Pilot)"
![screen shot 2016-10-05 at 10 00 21 am](https://cloud.githubusercontent.com/assets/23885/19121131/915a5ed8-8ae2-11e6-82cb-ca0f20e94864.png)

[2016-10-05 16:07] ghost commented on #1322
Is this still reproducible?

[2016-10-05 16:09] #1324 closed, assigned to nobody

[2016-10-05 17:31] pdehaan commented on #1504
User also reported that the Test Pilot and Page Shot toolbar icons did _not_ reappear after a restart (see https://github.com/mozilla-services/pageshot/issues/1696#issuecomment-251569195).

[2016-10-05 19:18] omesh10 opened #1530 "Experiment Add-ons not getting installed"
Except the Tab Center, no other add on is getting installed. It shows similar kind of message for all the other add ons. Please look into this issue. I have attached a screenshot of the issue. This same problem is occurring  with all other add ons.
![test pilot](https://cloud.githubusercontent.com/assets/22645252/19127836/557e3e76-8b5e-11e6-83c4-fce533d064d7.jpg)

[2016-10-05 21:38] #1493 closed, assigned to pdehaan

[2016-10-05 21:44] ckprice commented on #904
Checking in with legal/security.

[2016-10-05 22:15] pdehaan opened #1533 "Uncaught (in promise) TypeError: Cannot read property 'length' of undefined(…)"
Found in http://testpilot.dev.mozaws.net/__version__ (f2ae38e0fe574475bec202c7766c336b279234eb):

[code]

---
### Steps to reproduce:
1. Go to http://testpilot.dev.mozaws.net/experiments/tab-center
2. Open dev tools console.
3. Read it.
4. Weep.
### Actual results:

&mdash; via app.389623f6a2ae.js:formatted:988

![firefox_test_pilot_-_tab_center](https://cloud.githubusercontent.com/assets/557895/1

[2016-10-05 22:19] ckprice commented on #1395
As a reminder the primary purpose of the [`browser startup` event](https://github.com/mozilla/testpilot/blob/master/addon/index.js#L365) is to provide a secondary resource for DAU. The criteria for this event is that it fires at least once each day (firing more often is okay, as we're using `clientUUID` to get uniqueness) that Firefox is used with Test Pilot installed.

This bug was created becaus

[2016-10-05 22:32] pdehaan commented on #1533
Behavior is a bit funky. If I navigate directly to the Tab Center experiment from a new tab, I get stuck at the preloader bars, and nothing works.

![firefox_test_pilot_-_tab_center](https://cloud.githubusercontent.com/assets/557895/19133893/a100b332-8b0f-11e6-8857-2144c011e92a.png)

If I was previously on an experiment page (such as Activity Stream) and then click on the Tab Center experiment car

[2016-10-05 22:36] pdehaan commented on #1533
Actually, behavior is VERY weird depending on whether you have the Test Pilot add-on installed or not.

If I'm using Chrome (and don't have the add-on installed, obviously), then I see "Try out these experiments as well" with the 6 other linked experiments:

![firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/19134168/3ae5237e-8b11-11e6-95b8-1f903a7ffe78.png)

If I'm in Firefox

[2016-10-06 00:06] #1533 closed, assigned to dannycoates

[2016-10-06 07:20] ovidiuboca commented on #1322
Please see https://bugzilla.mozilla.org/show_bug.cgi?id=1299586. I have just created a clone for this bug.

[2016-10-06 07:41] SoftVision-PaulOiegas commented on #1529
Probably a dupe of #1300 and it also applies to removed experiments.

[2016-10-06 07:53] itsbanq opened #1535 "Issue with testpilot icon"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

Unable to find testpilot icon in my toolbar.

[2016-10-06 08:55] SoftVision-PaulOiegas commented on #1492
@JulianPaulRoberts Hey Julian, sorry for late reply. Avast Antivirus client is also installing an extension into Firefox if you do the default installation flow. Can you please switch the Google Analytics option to "ON" on that extension, and after try to install the experiment again ?

Here is an image that explains better where you need to make the change.
![avast online security](https://cloud.

[2016-10-06 12:43] SoftVision-PaulOiegas commented on #1513
This issue is mainly generated by the Avast option to disable any Google Analytics from its browser extension.  Please try to enable it and the retry the experiments installation.

Here is a screenshot with what you need to enable.
![avast online security](https://cloud.githubusercontent.com/assets/17258026/19152636/99757662-8bdb-11e6-8b97-f72533d3a301.png)

[2016-10-06 14:20] ashwin713 opened #1536 "Tab Center could not be enabled."
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:
- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-10-06 14:24] ashwin713 commented on #1536
![firefox test pilot tab center](https://cloud.githubusercontent.com/assets/5374486/19156132/7c1c98e8-8bfe-11e6-9743-4c40f5a885f8.png)

[2016-10-06 15:00] SoftVision-CosminMuntean commented on #1536
@ashwin713 do you have any anti-virus or firewalls installed? Maybe your issue could be also related to firewall or antivirus configurations. We had a few issues where users could not install the experiments until they disabled the antivirus ( #1474).

[2016-10-06 15:12] sevaan commented on #1524
Proposed UX: https://mozilla.invisionapp.com/share/2F8UVXWCV

[2016-10-06 15:25] chuckharmston commented on #1474
I've managed to reproduce this, and believe I have the issue: these internet "security" suites are installing their own root certificate and issuer, so that they can monitor encrypted traffic. Firefox (very intelligently) blocks all add-on installs from sources whose certificate issuer is not built-in. I've observed this happening to us with Avast installed:

![screen shot 2016-10-06 at 8 52 55 am

[2016-10-06 15:30] Samizdata commented on #1474
Confirming the MITM behavior independently.

[2016-10-06 15:36] chuckharmston commented on #1474
Recommendations:
1. We attempt to detect the presence of the Firefox extensions installed by problematic suites. If any of them are installed, prompt them with a message telling them that the site may not work for them. Since this problem happens at a system level, rather than at the browser level, this is not a foolproof solution.
2. We investigate ways to tell if the certificate issuer is built-

[2016-10-06 15:51] sevaan commented on #1510
Updated UX: https://mozilla.invisionapp.com/share/Q77S1H6ZC#/194697495_Restart_Browser
Assets: http://i.sevaan.com/2E3M0G2k3s03

[2016-10-06 16:20] SoftVision-PaulOiegas commented on #1528
@haimzelig Hello and thanks for the report ! Are you using an antivirus client on your PC ? (Avast, Kaspersky, Nod32 or McAfee). We are having some issues with some antivirus clients that are blocking the experiments installations due to Google Analytics code.  We are currently investigating this to find a fix.
In order to install the experiments you would need either to allow the Google Analytics

[2016-10-06 16:33] haimzelig commented on #1528
Yes, I am running Kaspersky.  Thanks for the tip.

On Thu, Oct 6, 2016 at 12:20 PM, Paul Oiegas - SoftVision <
notifications@github.com> wrote:

[2016-10-06 17:05] chuckharmston opened #1537 "Add `X-Target-Digest` header to XPIs"
When serving either the Test Pilot add-on or any of the experiments, we should include the following HTTP Header:

[code]

This should fix #1474.

[2016-10-06 17:09] chuckharmston commented on #1537
I think the best place for this to happen is at nginx, which proxies requests to an S3 bucket.

Note: we need to do this for all experiments, including ones that aren't currently hosted by us. It's unclear to me if we should:
1. Make it a requirement for experiments to add the header, wherever it's being served, or;
2. Make it a requirement that we host all experiments.

[2016-10-06 17:21] chuckharmston commented on #1537
CC @aswan @kmaglione

[2016-10-06 17:23] chuckharmston commented on #1474
Filed #1537 with a fix for this. I don't think it should preclude us from working on recommendations 1 or 3 above.

[2016-10-06 18:00] ghost commented on #1537
it's already a requirement that we host all experiments.  The two we don't are just grandfathered in at this point.  We're fixing this for our experiments right now, but it's not fixed for the test pilot xpi itself since that's not on the /files/ bucket

[2016-10-06 19:31] ncloudioj commented on #1528
As a side note, various users have reported this issue in the Activity Stream repo. Can anybody take a look at this please?

[2016-10-06 19:32] chuckharmston commented on #1528
@ncloudioj, a fix is in progress (see #1474, #1537).

Closing this as a dupe of #1474.

[2016-10-06 19:32] #1528 closed, assigned to nobody

[2016-10-06 19:33] chuckharmston commented on #1536
Thanks for the report!

As @SoftVision-CosminMuntean mentioned, this is a duplicate of #1474. Closing in favor of that issue.

[2016-10-06 19:33] #1536 closed, assigned to nobody

[2016-10-06 20:32] lmorchard commented on #1515
Test Pilot is a feature you enable within Firefox itself - you won't find it as a separate app on Windows 10. So, you can launch Firefox and find it there as an add-on.

[2016-10-06 20:32] #1515 closed, assigned to nobody

[2016-10-06 20:41] #1364 closed, assigned to lmorchard

[2016-10-06 21:10] lmorchard commented on #1399
Going to say this is closed by #1488 - though there are still 3 components that need tests, as well as reducers & actions that could use some tests. I'll file separate issues for the remaining components

[2016-10-06 21:10] #1399 closed, assigned to lmorchard

[2016-10-06 21:12] lmorchard opened #1541 "Backfill tests for ExperimentRowCard component"
This is a leftover from #1399. The ExperimentRowCard component still needs tests.

[2016-10-06 21:12] lmorchard opened #1542 "Backfill tests for ExperimentTourDialog component"
This is a leftover from #1399. The ExperimentTourDialog component still needs tests.

[2016-10-06 21:12] lmorchard opened #1543 "Backfill tests for MainInstallButton component"
This is a leftover from #1399. The MainInstallButton component still needs tests.

[2016-10-06 21:28] johngruen commented on #1118
Fixed

[2016-10-06 21:28] #1118 closed, assigned to johngruen

[2016-10-06 21:29] johngruen commented on #639
We aren't showing this until we have < 100 users

[2016-10-06 21:29] #639 closed, assigned to johngruen

[2016-10-06 21:29] johngruen commented on #1089
No doorhanger = no problem

[2016-10-06 21:29] #1089 closed, assigned to johngruen

[2016-10-06 21:30] johngruen commented on #1068
We're not going to do this, but we do have in product UI warning users about incompatible add-ons

[2016-10-06 21:30] #1068 closed, assigned to johngruen

[2016-10-06 21:31] johngruen commented on #1169
Can't repro on prod

[2016-10-06 21:31] #1169 closed, assigned to johngruen

[2016-10-06 21:33] ghost commented on #1537
For those following along:  It turns out the X-Target-Digest header shouldn't go on the .xpi itself, it needs to go on a 302 redirect to the .xpi file, which makes this more complicated in our flat file world.  Progress ongoing...

[2016-10-06 21:40] #1499 closed, assigned to clouserw

[2016-10-06 21:40] johngruen commented on #1465
@6a68 wontfix-ing the right click thing in the tour. It's in the details images already.

[2016-10-06 21:42] #1403 closed, assigned to dannycoates

[2016-10-06 21:47] johngruen commented on #908
WONTFIX, We can optimize images manually

[2016-10-06 21:47] #908 closed, assigned to johngruen

[2016-10-06 22:15] #1465 closed, assigned to johngruen

[2016-10-06 22:50] #1435 closed, assigned to johngruen

[2016-10-06 23:10] chuckharmston commented on #1335
@sevaan

Right now, while installing either the Test Pilot add-on or experiments, we don't do the best job of surfacing that there are errors. Sometimes that's because we haven't implemented it yet, but sometimes we also can't know that there's an error (for security/other reasons). That means that in some error states, our install button spins infinitely. I'm proposing that:

1) We do a better jo

[2016-10-06 23:20] dannycoates commented on #1400
fixed by #1532

[2016-10-06 23:20] #1400 closed, assigned to dannycoates

[2016-10-07 04:22] ashwin713 commented on #1536
I use ubuntu, so I have not installed an anti-virus.

Regards,

Ashwin Jayakumar
(ph:+91-8089883350)

On Fri, Oct 7, 2016 at 1:03 AM, Chuck Harmston notifications@github.com
wrote:

[2016-10-07 07:57] Monxl opened #1549 "https://github.com/mozilla-services/pageshot/issues/new"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:
- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-10-07 08:22] SoftVision-CosminMuntean commented on #1536
@ashwin713  what version of Test Pilot do you have installed? To check this please go to about:addons,  "Extensions" section and click the "More" link next to Test Pilot description.

[2016-10-07 09:37] ashwin713 commented on #1536
Regards,

Ashwin Jayakumar
(ph:+91-8089883350)

On Fri, Oct 7, 2016 at 1:52 PM, SoftVision-Muntean Cosmin <
notifications@github.com> wrote:

[2016-10-07 13:42] #1549 closed, assigned to nobody

[2016-10-07 16:04] sevaan commented on #1523
One option could be to rename the section with the changelog to Additional Info:

<img width="361" alt="screen shot 2016-10-07 at 12 03 28 pm" src="https://cloud.githubusercontent.com/assets/473531/19197102/260d7d2c-8c86-11e6-8cbf-e50ed21acf01.png">

[2016-10-07 16:05] ghost commented on #1530
being tracked at #1474

[2016-10-07 16:05] #1530 closed, assigned to nobody

[2016-10-07 16:06] johngruen commented on #1535
Hey @itsbanq can you confirm that the add-on is installed? you can type about:addons into the URL bar and go to the 'extensions' tab. If you don't see test pilot, you'll need to install again

[2016-10-07 16:06] ghost commented on #1529
closing as dupe

[2016-10-07 16:06] #1529 closed, assigned to nobody

[2016-10-07 16:08] johngruen commented on #680
@johngruen add reenable state.

[2016-10-07 16:08] ghost commented on #1527
tracking this at #1474

[2016-10-07 16:08] #1527 closed, assigned to nobody

[2016-10-07 16:09] pdehaan commented on #1535
I think this may be a dupe of #1504 _"No Icon displayed after installing the add on"_

[2016-10-07 16:15] ghost commented on #1513
we're tracking this at #1474

[2016-10-07 16:15] #1513 closed, assigned to nobody

[2016-10-07 16:16] johngruen opened #1551 "Bring back initial email solicitation"
It appears to be missing.

[2016-10-07 16:19] ghost commented on #1512
Thanks for filing.  We'll track this in https://github.com/mozilla/testpilot/issues/672

[2016-10-07 16:19] #1512 closed, assigned to nobody

[2016-10-07 16:19] ghost commented on #791
Thanks for filing. We'll track this in https://github.com/mozilla/testpilot/issues/672

[2016-10-07 16:19] #791 closed, assigned to nobody

[2016-10-07 16:21] ghost commented on #1507
should be application/json

[2016-10-07 16:25] ghost commented on #1492
We're tracking this at #1474

[2016-10-07 16:25] #1492 closed, assigned to nobody

[2016-10-07 16:27] pdehaan commented on #1489
Possibly related #1525

[2016-10-07 17:30] #1303 closed, assigned to dannycoates

[2016-10-07 22:23] ghost commented on #1537
Alright, I think we have a solution.  The install button on stage is currently pointing to https://testpilot.firefox.com/files/min-vid/min-vid-latest.xpi which is a 302 to the actual .xpi file.

@chuckharmston If you can verify that works as expected, I can do the same to the other files on s3

For the record, it turns out that when you use amazon's redirect thing on S3, it strips out custom heade

[2016-10-07 23:17] andrewycraft commented on #1535
i also have no icon after installation

[2016-10-07 23:32] JulianPaulRoberts commented on #1492
Google Analytics switched ON, as requested.  Same result, as per screen shot:

From: Bizarro @clouserw (minimal permissions) [mailto:notifications@github.com]
Sent: Saturday, 8 October 2016 3:25 AM
To: mozilla/testpilot
Cc: JulianPaulRoberts; Mention
Subject: Re: [mozilla/testpilot] Enable Tracking Protection fault (#1492)

We're tracking this at #1474 https://github.com/mozilla/testpilot/issues/1

[2016-10-08 03:07] ronngail opened #1554 "cant load scrabble with test pilot activated"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:
- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-10-08 17:57] chuckharmston commented on #1537
Confirmed that this works as expected.

On macOS Sierra, with:
- Release Firefox
- Avast Free installed
- `testpilot.env` set to `stage`
- `extensions.install.requireBuiltInCerts` set to `true`

I was able to install min-vid from staging, but not other experiments. Response headers:

<img width="472" alt="screen shot 2016-10-08 at 12 55 29 pm" src="https://cloud.githubusercontent.com/assets/23885/

[2016-10-08 17:59] chuckharmston commented on #1537
We should make sure to document this (and the process of doing it from the AWS console) before closing this issue; it'd be nice if @clouserw isn't a single point of failure for updates here.

[2016-10-08 18:10] chuckharmston opened #1555 "Pass add-on hash to mozAddonManager.createInstall"
Refs:
- https://bugzilla.mozilla.org/show_bug.cgi?id=1308261
- https://hg.mozilla.org/integration/autoland/rev/0c6ac0ce7b39

[2016-10-08 19:15] groovecoder commented on #1333
Whoa, okay this needs some immediate attention.

Based on https://github.com/mozilla/blok/issues/116 I [disable the add-on powered tracking protection in Private Browsing windows](https://github.com/mozilla/blok/commit/729c15a036da7d4878539495fd5ca234fa21029e).

So right now, users with the Blok experiment **are being tracked** in Private Browsing windows unless they explicitly re-enable tracking

[2016-10-08 21:45] ghost commented on #1537
Thanks for checking.  I wrote a sync script for s3 which I was going to commit, but am going to have to update now that hashes and redirects are involved.  I'm considering making one of my Q4 deliverables getting automated experiment uploads hooked up which should take me out of the loop completely.

[2016-10-09 20:45] sadizakaria opened #1556 "java not working"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:
- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-10-10 05:57] itsbanq commented on #1535
John,

Yes I am able to see that it is installed.

On Fri, Oct 7, 2016 at 7:18 PM, andrewycraft notifications@github.com
wrote:

[2016-10-10 07:56] johngruen commented on #1535
@itsbanq thanks, for the update. as @pdehaan mentioned, this is a dupe of an issue we're going to track in #1504. For background, could you tell us a bit more about your version of Firefox? Helpful information would include:
- OS
- Firefox Version
- Installed Add-ons

[2016-10-10 07:59] johngruen commented on #1554
Hey @ronngail, have you enabled the Tracking Protection experiment? This experiment may definitely cause issues on certain sites, but you can disable Tracking Protection on any site by clicking the purple shield icon while on the broken site. This will help us understand how Tracking Protection affects your experience of the web.

[2016-10-10 08:00] johngruen commented on #1554
@ronngail here's the icon you're looking for: https://github.com/mozilla/testpilot/blob/master/frontend/src/images/experiments/tracking-protection/experiments_experimenttourstep/tour1.jpg

[2016-10-10 08:01] johngruen commented on #1504
@pdehaan I think we should track all of these reports here

[2016-10-10 10:36] exec228 opened #1557 "Double issue. Do with it whatever you desire"
Issue 1)
https://qsurvey.mozilla.com/s3/min-vid have bugs:
when I fill my answers, and press "Next", the page resets score question and demands me to fill it again as "Required answer". Eternally.

Issue 2)
The report I'd send to MinVid is:

----------8<-----------cut and dump----------8<-----------
Conflict with Stylish directive:
audio, video { min-width: 380px; max-width: 100% !important; }
Som

[2016-10-10 11:34] SoftVision-CosminMuntean opened #1558 "The "puzzle", "spaceship", and "chat bubbles" icons are no longer displayed on page bottom (staging)"
Affected versions]:
- Firefox 49.0.1 and up

[Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisite and navigate to testpilot.stage.mozaws.net.
2. Scroll to the bottom part of the page and observe the ico

[2016-10-10 11:41] SoftVision-CosminMuntean opened #1559 "The "Privacy" and "Terms" pages from Test Pilot are no longer available (staging)"
[Affected versions]:
- Firefox 49.0.1 and up

[Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.stage.mozaws.net" page.
2. Click on the "Privacy" or "Terms of Use" tex

[2016-10-10 11:47] SoftVision-CosminMuntean opened #1560 "The "GitHub" and "Twitter" social buttons are no longer visible on page bottom (staging)"
[Affected versions]:
- Firefox 49.0.1 and up

[Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.stage.mozaws.net" page.
2. Scroll to the button of the page and observe

[2016-10-10 12:32] jerry550 opened #1561 "Share function"
The Yahoo Mail form in the Share function doesn't send. Macbook Pro Macos Sierra.

Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:
- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:

[2016-10-10 13:44] SoftVision-CosminMuntean opened #1562 "The closing "X" button from "Take the Tour" pop-up is not visible but still working"
[Affected versions]:
- Firefox 49.0.1 and up

[Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.stage.moza

[2016-10-10 14:06] lmorchard commented on #1558
Looks like we need to set `Content-Type` headers for `*.svg` images in static deployment:

[code]

[2016-10-10 14:08] lmorchard commented on #1560
Looks like we need to set `Content-Type` headers for `*.svg` images in static deployment (same as #1558):

[code]

[2016-10-10 14:08] johngruen commented on #1562
Likely has the same fix as #1558

[2016-10-10 14:11] johngruen commented on #1248
I'm going to close this since it's functionally true now.

[2016-10-10 14:11] #1248 closed, assigned to nobody

[2016-10-10 14:12] lmorchard commented on #1559
Hmm, [`/privacy`](https://testpilot.stage.mozaws.net/privacy) and [`/privacy/`](https://testpilot.stage.mozaws.net/privacy/) don't work - but [`/privacy/index.html`](https://testpilot.stage.mozaws.net/privacy/index.html) works.

Do we not / can we not have web hosting turned on for the S3 bucket in staging to handle default pages? [`/privacy`](https://testpilot-static.dev.mozaws.net/privacy) & [`/

[2016-10-10 14:14] lmorchard commented on #1562
Looks like we need to set `Content-Type` headers for `*.svg` images in static deployment (same as #1558):

[code]

[2016-10-10 14:21] bitshifter52 opened #1563 "Activity Stream Forum Editor"
I was trying to enter a suggestion in the "testpilot" forum and tried to had a web link using ctrl-k. The link dialog box appeared but I couldn't make it close and then I lost my entire post. I'm running Ubuntu 16.04 and Firefox 49.0.

[2016-10-10 14:35] johngruen commented on #1563
Hey @bitshifter52, I just tested this out, and it looks like an upstream issue (meaning it's a problem in Firefox, rather than with Activity Stream or Test Pilot in particular). I've filed a bug on Bugzilla to track the problem for you:

https://bugzilla.mozilla.org/show_bug.cgi?id=1308931

[2016-10-10 14:35] #1563 closed, assigned to nobody

[2016-10-10 14:39] johngruen commented on #1562
@clouserw @lmorchard I realize that #1562, #1560, #1559 and #1558 are all small fixes, but i've added the critical label since they'll need to be fixed before a production push

[2016-10-10 14:42] johngruen commented on #672
This UX should apply to both Firefox for iOS and Firefox for Android

[2016-10-10 14:47] johngruen commented on #906
Closing, since the initial issue has been resolved. will replace with a nightly specific bug

[2016-10-10 14:47] #906 closed, assigned to nobody

[2016-10-10 16:07] #1558 closed, assigned to lmorchard

[2016-10-10 16:07] #1560 closed, assigned to lmorchard

[2016-10-10 16:07] #1562 closed, assigned to lmorchard

[2016-10-10 17:25] chuckharmston commented on #1521
Few questions for @sevaan:
- Are these strings final?
- Can we get an SVG of the email icon?
- Is it okay if we block submission of the form if it's not complete, rather than having a distinct error state?
- How does it look if there's a white-background footer, e.g. the [privacy page](https://testpilot.firefox.com/privacy)?

[2016-10-10 17:35] sevaan commented on #1521
Yes, I am using the same strings that were used to collect email addresses before. The strings in the footer (e.g. the fine print in the form) are on all the other Mozilla web properties so do not need to be altered as they are already vetted with Legal. We removed one string, and Jess Osorio approved it.

All this code exists and is in use on an assortment of Mozilla properties, so the error stat

[2016-10-10 17:36] sevaan commented on #1521
[Asset in SVG!](https://github.com/mozilla/testpilot/files/520076/Email.svg.zip)

[2016-10-10 17:39] chuckharmston commented on #1521
Thanks!

That's not really how it works. For example, mozilla.org uses jQuery, and many of their interactions (including their form validation) are built around that. Even if we'd be okay adding jQuery (we probably wouldn't be), we use an entirely different paradigm in which form validation done that way doesn't make a lot of sense.

[2016-10-10 18:02] relud commented on #1559
stage is using index.html as the default index page, so i don't know why /privacy/ wouldn't work v_v, i'll investigate this today

[2016-10-10 18:02] relud commented on #1559
if i can't figure it out without s3 website, i can enable that.

[2016-10-10 19:14] johngruen opened #1565 "Enable Tracking Protection in Private Mode for Tracking Experiment Users"
Blok does some stuff to Tracking Protection, we should make sure `privacy.trackingprotection.pbmode.enabled` is set to `true` for experiment users.

[2016-10-10 19:15] johngruen commented on #1565
@dannycoates can you pick this one up this sprint

[2016-10-10 19:15] johngruen commented on #1565
@groovecoder could probably grab it too if necessary

[2016-10-10 19:32] groovecoder commented on #1565
Looks trivial to fix this for future TxP experimenters. (We can just remove the `experiment-hacks.js` that changed the pref values.

But is there an `updated` hook where we can reset all existing TxP experimenters' prefs back to the values they had before they installed/enabled the experiment?

[2016-10-10 19:49] dannycoates commented on #1565
#1566 should cover all the bases

[2016-10-10 20:15] lmorchard commented on #1483
One caveat to the UX for this issue: The block with changelog & etc only shows up when you have the main Test Pilot add-on installed. So, in PR #1567, this tour link will not appear for users without the add-on

[2016-10-10 20:24] sevaan commented on #1521
Okay thanks, that's helpful. In that case I bet I can simplify this whole thing more.

On Mon, Oct 10, 2016 at 1:39 PM Chuck Harmston

<
mailto:Chuck Harmston notifications@github.com

a, pre, code, a:link, body { word-wrap: break-word !important; }

Thanks!

All this code exists and is in use on an assortment of Mozilla properties, so the error states, animations, and everything and are already c

[2016-10-10 20:58] ghost commented on #1537
These are all fixed on S3 and https://github.com/mozilla/testpilot/pull/1568 fixes this in the code

[2016-10-10 21:22] relud commented on #1559
this is resolved

[2016-10-10 21:45] ghost commented on #1559
closing for last comment. thanks

[2016-10-10 21:45] #1559 closed, assigned to nobody

[2016-10-11 13:33] SoftVision-CosminMuntean opened #1573 "NoMore404s cannot be enable on staging"
[Affected versions]:
- Firefox 49.0.1 and up

[Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.stage.moza

[2016-10-11 15:07] SoftVision-CosminMuntean opened #1574 "You are wrongly redirected to Test Pilot homepage while you visit "Privacy" and "Terms" pages and after you click on the Firefox logo"
[Affected versions]:
- Firefox 49.0.1 and up

[Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.stage.moza

[2016-10-11 15:24] ghost commented on #1573
This was due to mishandled encoding of the '+' in the URL.  Fixed now.

[2016-10-11 15:38] chuckharmston commented on #1574
I'm going to work on #1372, which will fix this.

[2016-10-11 15:48] ghost opened #1575 "Let's turn S3 website mode back off"
We had to turn website mode on to fix a weird 404 error with the privacy and terms.  I'd like to know why that error was happening, but I'd also like to turn the website mode back off, as it does some different things (http://docs.aws.amazon.com/AmazonS3/latest/dev/WebsiteEndpoints.html#WebsiteRestEndpointDiff)

[2016-10-11 16:13] SoftVision-CosminMuntean commented on #1573
This issue is still reproducible on production.

[2016-10-11 16:38] clouserw opened #1578 "Get our Google Analytics on SSL"
In our CSP we allowlist www.google-analytics.com.  I noticed AMO is allowing https://ssl.google-analytics.com.  I like that https restriction.  Let's do that for us too -- why are they using ssl.\* instead of www.* and how do we do that?

[2016-10-11 16:49] ghost commented on #1573
This will be fixed by https://github.com/mozilla/testpilot/pull/1579

This was due to NoMore404s being around before our nginx proxy so it links directly to the CDN.  That also means it doesn't get the proper headers from the proxy.

[2016-10-11 18:02] chuckharmston commented on #1463
This is bitrotting pretty hard, would appreciate some eyes.

[2016-10-11 18:51] #1573 closed, assigned to clouserw

[2016-10-11 18:54] #1525 closed, assigned to johngruen

[2016-10-11 18:54] ghost opened #1582 "contribute.json disappeared with our static file switch"
https://testpilot.firefox.com/contribute.json  .  Can probably close #1507 with this as well.

[2016-10-11 18:55] pdehaan commented on #1463
Does that conflict with the goals of https://github.com/mozilla/testpilot/issues/1486?
I wasn't sure if the goal was to have a shared package.json versus needing to do a `cd addon && npm install && cd ../frontend && npm install` and then have to manage package.json version numbers in 2 places, etc.

[2016-10-11 18:57] pdehaan commented on #1463
currently if i run `$ npm run lint` from the frontend/ directory, i get about 1700 errors. Running `$ ./node_modules/.bin/eslint . --fix` auto fixes the code to match the rules (for better or worse) and reduces that number down to a reasonable-ish 182 errors. Most of which seem to be `react/prop-types` errors or `max-len` violations (or a few other random ones).

[2016-10-11 18:57] chuckharmston commented on #1463
I do think we want two separate package.json files. They're two fully-separate codebases with different build processes. CI should be building both, but they should be separate tasks.

[2016-10-11 18:57] chuckharmston commented on #1463
@pdehaan it's a light proposal right now intended for discussion fodder, don't worry too much about the actual code :)

[2016-10-11 19:05] chuckharmston opened #1583 "Move BaseAppRedirector GA logic to App container."
Forked from #1372. See https://github.com/mozilla/testpilot/blob/4bebfa9e1df7313f8c805dc5b9d44791c4ea1999/frontend/src/app/lib/router.js#L42

[2016-10-11 19:06] chuckharmston commented on #1372
Since this bug was filed, additional logic has been added to `BaseAppRedirector`. Renamed the issue to reflect its original purpose, and filed #1583 to handle the removal of the rest of the logic.

[2016-10-11 20:00] ghost commented on #1482
We have an A+ on https://observatory.mozilla.org/analyze.html?host=testpilot.firefox.com now, so I'll run through and check some things off.

We don't have an admin panel or a database, so checking those off.
We don't use cookies, so checking that.  We don't accept user input, except for subscribing to the mailing list, and that has some validation on it.  We don't have forms, so no CSRF.  We had

[2016-10-11 20:03] #1372 closed, assigned to chuckharmston

[2016-10-11 20:04] #1565 closed, assigned to dannycoates

[2016-10-11 20:08] pdehaan commented on #1463
I also see this error when I try and run this:

[code]

Looks like we may be missing the ./frontend/build/ directory in the repo.

[2016-10-11 20:26] johngruen commented on #1485
Resolved by the new messaging in #1572. This should close when that merges

[2016-10-11 20:30] johngruen opened #1586 "Rip out all of the data-hooks"
I don't think this is an issue yet...

Lots of legacy hooks from our Ampersand days. Let's rip them out.

nb. there's one CSS reference to a data-hook, so make sure to handle that.

[2016-10-11 21:06] lmorchard commented on #1522
Kind of assumed in many conversations, but not yet mentioned in this issue: Static staging & prod now have an nginx-based proxy between S3 and CloudFront to handle custom headers. dev will need that too

[2016-10-11 21:45] chuckharmston commented on #1583
Adding `needs:qa` because this touches our global GA `pageview` events. We want to make sure that we are sending 1 (and only 1) `pageview` event for each logical piece of navigation on the site. We should also ensure that each view is loadable by going to the url directly and by following links.

[2016-10-11 21:49] #1583 closed, assigned to chuckharmston

[2016-10-12 01:43] #1483 closed, assigned to lmorchard

[2016-10-12 05:05] rabimba commented on #1474
I am still able to replicate this issue, only for Tracking Protection and I do not have any security suite installed. Also this is what I get
![image](https://cloud.githubusercontent.com/assets/776740/19297987/6b7c27f0-900f-11e6-8ce2-9f89024a22d6.png)

Though I am actually behind an educational internet backbone. So don't know if anything on that network can cause this.

[2016-10-12 08:17] johngruen commented on #1335
Whelp, @sevaan went and had a baby. I'll do UX for this issue by EOW

[2016-10-12 11:09] MattGrimes commented on #1461
Any progress on this? This is a critical component in understanding our users.

[2016-10-12 13:22] SoftVision-CosminMuntean commented on #1573
This issue is no longer reproducible on stage and production servers. I have tested this on the latest Firefox (49.0.1) release and latest Nightly (52.0a1) build on Windows and Mac.

[2016-10-12 16:06] ghost commented on #1334
@6a68 for researching this on Monday

[2016-10-12 16:11] chuckharmston opened #1590 "Move settings menu into its own component"
We currently have the settings menu fully contained inside of the [`Header`](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/Header.js) component. We should break it out into its own component.

[2016-10-12 16:11] chuckharmston opened #1591 "Move discuss dialog into its own component"
We currently have the discuss dialog fully contained inside of the [`Header`](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/Header.js) component. We should break it out into its own component. Additionally, we should also try to divorce it from `#main-header` in the DOM, instead making it a child of the (to-be-committed) `.view` element.

[2016-10-12 16:12] chuckharmston opened #1592 "Move retire dialog into its own component"
We currently have the retirement dialog fully contained inside of the [`Header`](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/Header.js) component. We should break it out into its own component. Additionally, we should also try to divorce it from `#main-header` in the DOM, instead making it a child of the (to-be-committed) `.view` element.

[2016-10-12 16:31] lmorchard commented on #1591
We have a [DiscussDialog](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/DiscussDialog.js) component which is _used_ by Header. Do you mean it should be used somewhere else?

[2016-10-12 16:31] lmorchard commented on #1592
We have a [RetireConfirmationDialog](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/RetireConfirmationDialog.js) component which is _used_ by Header. Do you mean it should be used somewhere else?

[2016-10-12 16:34] lmorchard commented on #1591
Also, the dialog component is rendered outside #main-header right now

[2016-10-12 16:57] #1542 closed, assigned to lmorchard

[2016-10-12 17:57] stephendonner opened #1593 "Consider enabling HTTP/2 support on Test Pilot's website"
Now that CloudFront supports HTTP/2 (https://aws.amazon.com/about-aws/whats-new/2016/09/amazon-cloudfront-now-supports-http2/) I'd like to suggest/request that we try enabling HTTP/2 on https://testpilot.firefox.com

(The protocol support is also tested and enabled on Zeus/Brocade(load-balancer/traffic manager)-fronted Mozilla sites like Air Mozilla, Mozillians, and Mozilla Reps, just FYI.)

[2016-10-12 18:12] pdehaan commented on #1523
Alternatively, we could just drop the columns and link the text.
So instead of this:

we just do:

[2016-10-12 18:27] pdehaan opened #1594 "Inconsistent comma use on experiments vs details page"
Found in http://testpilot.dev.mozaws.net/__version__ (5641deddb006f95b8969b2fbac45ae2dd1fdc061):

[code]

---
### Steps to reproduce:
1. Go to homepage and look at the installation count formatting (with comma).
2. Go to experiment details page and look at the installation count formatting (sans comma).
### Actual results:

<img width="719" alt="firefox_test_pilot" src="https://cloud.githubusercon

[2016-10-12 18:46] zari123456 opened #1595 "zari"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:
- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-10-12 18:48] pdehaan opened #1596 "Related experiments not displayed if you have Test Pilot add-on installed"
Found in http://testpilot.dev.mozaws.net/__version__ (5641deddb006f95b8969b2fbac45ae2dd1fdc061):

[code]

---
### Steps to reproduce:
1. Go to http://testpilot.dev.mozaws.net and install the Test Pilot add-on.
2. Go to experiment details page (ie: http://testpilot.dev.mozaws.net/experiments/tracking-protection)
3. Scroll to bottom of the page. (Should look like **Figure 1** below).
4. Open same pa

[2016-10-12 18:50] #1595 closed, assigned to nobody

[2016-10-12 18:51] chuckharmston commented on #1596
That's actually by design.

@johngruen might have more to say about it.

[2016-10-12 18:51] #1596 closed, assigned to nobody

[2016-10-12 19:05] ghost commented on #364
Not on our roadmap anymore. Thanks!

[2016-10-12 19:05] #364 closed, assigned to nobody

[2016-10-12 19:07] #593 closed, assigned to nobody

[2016-10-12 19:07] ghost commented on #593
"meh" -- @johngruen

[2016-10-12 19:07] #608 closed, assigned to nobody

[2016-10-12 19:09] #610 closed, assigned to nobody

[2016-10-12 19:10] ghost opened #1597 "Audit the libraries we are using in package.json"
Let's make sure we're up to date!

[2016-10-12 19:11] ghost commented on #636
Closing in favor of #1597

[2016-10-12 19:11] #636 closed, assigned to nobody

[2016-10-12 19:11] #647 closed, assigned to nobody

[2016-10-12 19:13] ghost commented on #698
https://trello.com/b/0kxTOKPU/test-pilot-experiment-status is what we're using for now.

[2016-10-12 19:13] #698 closed, assigned to clouserw

[2016-10-12 19:15] johngruen commented on #714
we are happy

[2016-10-12 19:15] ghost commented on #714
Just tested in nightly and it works for me.

[2016-10-12 19:15] #714 closed, assigned to nobody

[2016-10-12 19:17] pdehaan commented on #1596
Why we do dis, @johngruen?
I've gone to the effort of installing Test Pilot add-on and am interested in an experiment. Why would we hide the other experiments from this view?

[2016-10-12 19:17] ghost commented on #751
Can we check if this still happens? thanks

[2016-10-12 19:18] pdehaan commented on #1597
Plus don't forget we have a nested package.json file for the add-on:
https://github.com/mozilla/testpilot/blob/master/addon/package.json

[2016-10-12 19:19] #754 closed, assigned to nobody

[2016-10-12 19:22] ghost commented on #759
We chatted about things we could do here, and might explore some options with our User Testing, but it's definitely a case-by-case basis (some experiments wouldn't have anywhere else to redirect).

We're going to close this issue for now as the tour is our current one-size-fits-all option.

There are also some marketing options where someone installs an experiment and we redirect to another experi

[2016-10-12 19:22] #759 closed, assigned to nobody

[2016-10-12 19:23] johngruen commented on #804
hey @eklem we've made all survey questions optional

[2016-10-12 19:23] #804 closed, assigned to nobody

[2016-10-12 19:26] ghost commented on #875
Experiment names are no longer in the titles, so, I guess this is fixed-ish

[2016-10-12 19:26] #878 closed, assigned to nobody

[2016-10-12 19:27] ghost commented on #888
This is coming from the SDK add-on (which may or may not get much continued support).  It's not something we can fix here, so closing this. Thanks.

[2016-10-12 19:27] #888 closed, assigned to nobody

[2016-10-12 19:29] ghost commented on #911
Maybe we could tie this to the Firefox facebook page?  Or just $RANDOM a new one every day? 🎋

[2016-10-12 19:30] #939 closed, assigned to nobody

[2016-10-12 19:31] #978 closed, assigned to nobody

[2016-10-12 19:32] ghost commented on #943
I don't think we need this anymore

[2016-10-12 19:32] #943 closed, assigned to nobody

[2016-10-12 19:33] ghost commented on #967
@pdehaan anything else to do here?

[2016-10-12 19:35] pdehaan commented on #751
I can still repro the "here" issue on https://qsurvey.mozilla.com/s3/activity-stream?ref=givefeedback&experiment=Activity%20Stream&installed=%40activity-streams:
![activity_stream](https://cloud.githubusercontent.com/assets/557895/19324604/50203452-9077-11e6-8793-6755a8661529.png)

Plus if I look at my Browser Console, I'm seeing a suspicious error (which as a reference to [resource://testpilot-ad

[2016-10-12 19:35] ghost commented on #981
@rayborn - is this possible?

[2016-10-12 19:39] johngruen commented on #1011
Lets just uninstall all the experiments if a user disables Test Pilot

[2016-10-12 19:40] #1018 closed, assigned to nobody

[2016-10-12 19:41] ghost commented on #1070
Closing since we haven't seen it for a long time

[2016-10-12 19:41] #1070 closed, assigned to jaredhirsch

[2016-10-12 19:42] pdehaan commented on #751
I'm unable to repro that SyntaxError on the Tab Center survey page though.
Although, I am possibly seeing some CSP error in the Browser Console:

![browser_console](https://cloud.githubusercontent.com/assets/557895/19324864/77d2fa60-9078-11e6-901c-ac81ed2c6ad5.png)

Oddly, I can't seem to reproduce that CSP error consistently, so not sure if I need to create a new profile or if something in my JPM

[2016-10-12 19:42] ghost commented on #1087
Dupe of 🔨 #1240

[2016-10-12 19:42] #1087 closed, assigned to johngruen

[2016-10-12 19:43] ghost commented on #1095
we're going to ignore this for now. thanks

[2016-10-12 19:43] #1095 closed, assigned to nobody

[2016-10-12 19:43] #1129 closed, assigned to nobody

[2016-10-12 19:44] ghost commented on #1129
Don't fear the reaper! 🐮 🐄 🔔 🛎

[2016-10-12 19:44] ghost commented on #1153
let's just use the launch date

[2016-10-12 19:44] #1153 closed, assigned to johngruen

[2016-10-12 19:46] ghost commented on #1193
Has anyone seen the too-many-surveys problem recently or is this fixed?

[2016-10-12 19:46] pdehaan commented on #967
I don't think so. Let's close it.

[2016-10-12 19:46] #967 closed, assigned to nobody

[2016-10-12 19:47] ghost commented on #1202
Ok.  Maybe try making a new profile?  Thanks for following up.

[2016-10-12 19:47] #1202 closed, assigned to nobody

[2016-10-12 19:48] #1204 closed, assigned to nobody

[2016-10-12 19:48] ghost commented on #1207
Closing due to discourse move

[2016-10-12 19:48] #1207 closed, assigned to nobody

[2016-10-12 19:49] #1220 closed, assigned to nobody

[2016-10-12 19:50] ghost commented on #1242
the New badge is tied to a date.  This is expected behavior.

[2016-10-12 19:50] #1242 closed, assigned to nobody

[2016-10-12 19:53] #1262 closed, assigned to ckprice

[2016-10-12 19:55] #1283 closed, assigned to nobody

[2016-10-12 19:55] ghost commented on #1285
⛽️

[2016-10-12 19:55] #1285 closed, assigned to johngruen

[2016-10-12 19:56] #1298 closed, assigned to nobody

[2016-10-12 19:58] ghost commented on #1299
This isn't something we're prioritizing right now. thanks

[2016-10-12 19:58] #1299 closed, assigned to nobody

[2016-10-13 01:07] chuckharmston commented on #1574
Apparently #1372 did not fix this; I'll keep investigating.

[2016-10-13 02:04] chrwang commented on #1504
This issue is also present in Firefox Developer Edition 51.0a2(2016-10-12) on OS X 10.11.6. Test Pilot and associated addons are seen in the about:addons tab but their icons are not displayed.
Here's a screenshot for reference.  It's also neither in the hamburger nor the customise hamburger menus. I will try on Linux and a fresh profile of Firefox tomorrow.
EDIT: Persists after fully quitting and

[2016-10-13 02:50] chuckharmston commented on #1593
@relud, thoughts?

[2016-10-13 03:52] chuckharmston commented on #1578
Once this lands, we'll want to verify that telemetry—both from the website and the add-on—is working as expected and doesn't regress.

[2016-10-13 04:16] meandavejustice commented on #1240
~~Still seeing this is dev edition, will test in nightly and post gif in the AM~~

Seeing this on version 51.0a2 Dev Edition
zoom level: 100% (and others)

same as gif in https://github.com/mozilla/testpilot/issues/1087#issuecomment-250291236

[2016-10-13 05:43] relud commented on #1593
I'm okay with it

On Wednesday, October 12, 2016, Chuck Harmston notifications@github.com
wrote:

##

-Daniel Thorn
Mozilla Services Operations Engineer

[2016-10-13 13:17] chrwang commented on #1504
Ok, tried it on Firefox 50.0b4 on Arch Linux, and the icon and plug-in appear after installation. I have the same set of extensions as I do on my OS X install.

[2016-10-13 13:25] SoftVision-PaulOiegas commented on #1483
@sevaan We did some exploratory testing after the link was added, and just as a personal opinion, we feel that the link for the tour is not quite visible for the end user. It's very small and it's in a section that is more related to technical details about the experiment, so it will be easy to pass unnoticed.

Wouldn't be better to display a more visible button for it somewhere at the top between

[2016-10-13 13:58] johngruen opened #1600 "Provide a method of letting users know if experiments are not localized to their language"
When we ship our German experiments, we generally don't want to prevent German speakers from using non-localized experiments. We should provide UI letting German speaking experimenters know if an experiment is EN only.

[2016-10-13 14:03] SoftVision-CosminMuntean opened #1601 "After Tracking Protection is actively blocking a page content, the GA events are no longer working on TP pages"
[Affected versions]:
- Firefox 49.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to testpilot

[2016-10-13 14:03] johngruen opened #1602 "Allow experiments to be hidden from users with specific locales."
Basically, there's a collision between our upcoming German search experiment and Universal Search. We should decouple the timelines here by adding an optional flag to the YAML that lets us disable certain experiments for certain locales.

[2016-10-13 14:14] SoftVision-CosminMuntean commented on #1583
Just finalized testing this and I think covered all the Test Pilot pages. I have only seen one pageview GA event for each of the tested pages.
However, while testing this I have found one issue that blocks the entire GA pageview events. I have already logged it so you guys can look into it (#1601).

Tested this with the latest Nightly (52.0a1 - Build id: 20161013030204) build on dev server.

[2016-10-13 14:17] #839 closed, assigned to ckprice

[2016-10-13 14:34] chuckharmston commented on #1602
- What does `hide` mean here? Do we just exclude them from experiment lists, or go a step further and 404 pages?
-  What does `locale` mean here? `navigator.language` generally returns the language the user has localized the browser in, while `navigator.languages` has a list of the user's language preferences from `Accept-Language`.
- Do we care about region codes? i.e. since we're language as a p

[2016-10-13 14:37] johngruen commented on #1602
- We should 404 them
- locale probably means first choice language header, but it's negotiable
- AFAIK we do not care about region codes

[2016-10-13 14:40] chuckharmston commented on #1602
This prospectively has search engine and social consequences. (Which is probably fine, just making sure we understand all the consequences of this.)

There are places where this may or may not matter. There's not a huge difference between `en-US` and `en-GB`, but there is a bigger difference between `zh-CN` or `zh-SG`, for example. (And `Accept-Language` does use region codes, fwiw.)

[2016-10-13 14:41] chuckharmston commented on #1600
Are we just doing this for German, or for all localizations? Do we care about region codes? What about users who speak multiple languages, but have a preference?

[2016-10-13 14:45] johngruen commented on #1600
Probably for all languages, although we'll pilot with German. I don't really care about region codes, but we don't have full requirements yet.

[2016-10-13 14:53] johngruen commented on #1602
`This prospectively has search engine and social consequences. (Which is probably fine, just making sure we understand all the consequences of this.)`

yeah, maybe we could do slightly better than 404-ing, but i'd call that a stretch. This issue is basically just a helper so we don't have to sunset U-Search and launch German search experiment on the same schedule.

Good point, I think we can local

[2016-10-13 14:59] chuckharmston commented on #1601
Pretty sure that is Tracking Protection working as intended.

@groovecoder, want to confirm that?

[2016-10-13 15:31] SoftVision-PaulOiegas commented on #1601
But wouldn't this affect our GA metrics since the pageview events don't show up anymore for any Test Pilot page we visit ?

[2016-10-13 15:32] chuckharmston commented on #1601
It would. There isn't much we can do about that, though; we're not going to whitelist Test Pilot in Tracking Protection.

[2016-10-13 15:34] lmorchard commented on #1601
It would affect every site's metrics (including ours), because the user is blocking metrics tracking. I don't think we want to make an exception for ourselves

[2016-10-13 15:52] groovecoder commented on #1601
👍 @chuckharmston @lmorchard.

[2016-10-13 15:52] #1601 closed, assigned to nobody

[2016-10-13 17:12] chuckharmston opened #1603 "Strip utm parameters after recording them."
The GA `utm_` params are ugly, and shares that include them may skew our stats. We should strip them after recording the initial page load.

[2016-10-13 17:21] chuckharmston opened #1604 "Use mzl.la links on sharing page."
https://testpilot.firefox.com/share has a few links to Test Pilot with various GA `utm_` params. We should consider swapping them out with mzl.la-shortened versions of the link, if only for aesthetic reasons.

All mozilla.org links shortened on bit.ly are automatically made with the mzl.la domain, but since we're on firefox.com, it's not automatic. I believe that a logged-in user of the account th

[2016-10-13 17:38] ckprice commented on #1604
I have the keys

http://mzl.la/2dMREdP

also

http://mzl.la/this-is-hot

[2016-10-13 17:45] chuckharmston commented on #1604
Sweet! We'll have four links we want shortened:

https://testpilot.firefox.com/?utm_source=twitter&utm_medium=social&utm_campaign=share-page
https://testpilot.firefox.com/?utm_source=facebook&utm_medium=social&utm_campaign=share-page
https://testpilot.firefox.com/?utm_source=email&utm_medium=social&utm_campaign=share-page
https://testpilot.firefox.com/?utm_source=copy&utm_medium=social&utm_campaig

[2016-10-13 18:39] dannycoates opened #1606 "addon installed state races on home page"
I managed to trigger two unfortunate races setting the installed state of the addon that caused the experiment list page to show the no-addon version instead of the (correct) with-addon version. Once the page was in the no-addon state it stayed there.

I added a few `console.warn` lines before each dispatch of `setHasAddon`. Here's the log from a time when the page goes from the loading view to no

[2016-10-13 19:07] dannycoates commented on #1606
Happens in prod too, so it wasn't added this week

[2016-10-13 19:08] KronicSeattle opened #1607 "Private Window Issue"
After installing test pilot with "tab" add-on installed...

If I try to open a new private window using context menu, Window opens, begins to load and then freezes.
This is true each time UNLESS I have a normal window open first.

[PC HardwareDtls.txt](https://github.com/mozilla/testpilot/files/527966/PC.HardwareDtls.txt)

[2016-10-13 19:21] chuckharmston opened #1608 "Exorcise Django and Docker"
![gif-4](https://cloud.githubusercontent.com/assets/23885/19363498/f99628fe-9147-11e6-9c98-00fe55189ec0.gif)

[2016-10-13 20:37] dannycoates commented on #1606
This is PageMod being a jerk. The short of it is that the `detach` [event](https://github.com/mozilla/testpilot/blob/master/addon/data/set-installed-flag.js#L14) from a previous page load can trigger on the current page and _trick_ the frontend into thinking the addon is gone.

It doesn't look like a "normal" page refresh is problematic so far, but when you navigate by changing the url (or not) in

[2016-10-13 21:00] ghost opened #1609 "Add Sentry to Test Pilot"
We never got this fully integrated with Django, so we closed the bug, but Sentry provides client side error reporting as well.  Let's hook that up so we can see what our users are seeing.

@relud -- is there a server we can send Sentry reports to already?

[2016-10-13 21:02] ghost opened #1610 "Do something with our CSP Reports"
We have CSP error reports coming in, but I don't think they go anywhere.  We should collect them and see if there are any problems with our rules.

Random ideas:  maybe we could transform them somehow and send them through to Sentry? (#1609).  Otherwise, something in datadog?

[2016-10-13 21:03] ghost opened #1611 "__version__ disappeared"
Wasn't https://testpilot.firefox.com/__version__ the URL for our version?  If so, it's a 404 now

[2016-10-13 21:03] chuckharmston commented on #1611
Dupe of #1509

[2016-10-13 21:03] #1611 closed, assigned to nobody

[2016-10-13 21:59] relud commented on #1609
yes, cloudops has a sentry you can send reports to

[2016-10-13 22:04] pdehaan commented on #684
Ref: #1609

[2016-10-13 22:09] chuckharmston opened #1613 "Update gulp-sourcemaps to 1.7.3"
Per https://github.com/floridoo/gulp-sourcemaps/issues/238#issuecomment-253634702

[2016-10-14 07:42] Menimue commented on #1474
I have managed to install 'Tracking Protection'. It wouldn't install at all, tried many times over a period of days. I have just tried again and it's installed no problem. I haven't changed any settings on my pc or made any adjustments to antivirus permissions. It just worked.
So I'm a happy bunny now thank you to everyone for the help..

[2016-10-14 08:13] johngruen commented on #1252
Leaving this alone for now, pending figuring out what's going on with SDK notification text issues

[2016-10-14 08:18] johngruen opened #1616 "Update docs/development/testing for a post-docker era"
A new day has dawned, let's walk arm-in-arm into the future.

[2016-10-14 08:25] johngruen commented on #1252
Ref #1309

[2016-10-14 08:28] johngruen commented on #1616
testing docs seem to be most in need of a revamp, but we can use this issue to track a general audit

[2016-10-14 11:49] cigartir opened #1617 "nasa"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:
- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-10-14 12:51] SoftVision-PaulOiegas commented on #1474
@rabimba If you have the latest Test Pilot version installed, don't have any antivirus client and you still cannot install the experiments, then the educational network could be the problem.

@Menimue The dev team found out what was causing this and we managed to provide a fix for the issue. I assume that's why you have been able to install it now.
Enjoy the experiments and feel free to provide an

[2016-10-14 14:55] #1617 closed, assigned to nobody

[2016-10-14 15:09] SoftVision-PaulOiegas opened #1618 "Page parameters are stripped from URL when sharing with Test Pilot add-on installed"
[Affected versions]:
- Firefox 49.0.1 and up

[Affected Platforms]:
- All Windows

[Prerequisites]:
- Test Pilot add-on was previously installed on a lean new Firefox profile.
- A Facebook or Twitter profile is already logged in.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.firefox.com/share/" page.
2. Click on any of the 3 sharing o

[2016-10-14 15:48] SoftVision-PaulOiegas commented on #1596
+1 to Peeter's idea. We were asking the same thing a while ago...

[2016-10-14 15:55] SoftVision-CosminMuntean commented on #1594
Since we are talking about this kind of issues, I have a similar one. The Page Shot experiment description from "about:addons" page has no "dot" at the end. All the others have.

![page shot description](https://cloud.githubusercontent.com/assets/19226534/19393968/b7fcae88-923f-11e6-8503-70a012eaeb1a.png)

[2016-10-14 15:58] ckprice commented on #1604
Here are the links. I'm going to keep myself assigned here, but may not be this sprint.

https://mzl.la/2e7huGS

https://mzl.la/2dheNkx

https://mzl.la/2dZByMS

https://mzl.la/2dps7H1

[2016-10-14 16:01] SoftVision-PaulOiegas commented on #1606
Isn't this the same issue from #1574 ?

[2016-10-14 16:19] ghost commented on #1593
@relud - I'm going to assign this to you then.  If you're at a conference, don't sweat it for now.  Thanks.

[2016-10-14 16:24] lmorchard commented on #1575
Wondered about this just now in triage: could turn off hosting mode in S3 and add whatever we need to the nginx proxy in the middle?

I think the main thing we need that mode for is so that we handle trailing slashes - i.e. `/path/` is served up with the object `/path/index.html` from S3. Not sure we need it for anything else

Could bother relud to try this - or after #1522 I could try playing wit

[2016-10-14 16:27] ghost commented on #1557
@rayborn -- any ideas for the first issue?

I filed your issue 2 at https://github.com/meandavejustice/min-vid/issues/426

[2016-10-14 16:27] ghost commented on #1556
Hi.  We're not sure what to do with this bug.  Our site doesn't use Java.  Thanks!

[2016-10-14 16:27] #1556 closed, assigned to nobody

[2016-10-14 16:29] ghost commented on #1535
dupe of #1504

[2016-10-14 16:29] #1535 closed, assigned to nobody

[2016-10-14 16:49] ghost commented on #1593
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1310258

[2016-10-14 16:52] SoftVision-PaulOiegas commented on #1607
Hi @KronicSeattle , Thanks for reporting this, but can you please detail exactly what steps you are performing (maybe add a screen recording) ? I'm trying to reproduce this.
You just close the normal window after you open a private one, and this reproduces after you open a second link in a private window from context menu ?
Or you are starting the browser directly in private window (-private-windo

[2016-10-14 16:59] dannycoates commented on #1606
Indeed it is!

[2016-10-14 17:30] #1541 closed, assigned to lmorchard

[2016-10-14 17:48] KronicSeattle commented on #1607
Open windows desktop
Right click on mozilla icon in taskbar
Select new private window

Window opens but never fully loads.

Bryan

Sent from my iPhone

[2016-10-15 01:53] chuckharmston commented on #1613
The dependency's version 1.8.1 fixed this.

[2016-10-15 01:53] #1613 closed, assigned to chuckharmston

[2016-10-16 09:51] AngelEzquerra opened #1621 "Too frequent requests for surveys"
I just disabled one of the TestPilot addons, tab center. TestPilot asked me to complete a survey. I do not mind that. In fact I like to give feedback to improve the products I use when I can. However about 1 minute earlier I had submitted a suggestion for tab center after which I had voluntarily participated in the optional survey that comes after submitting the issue. I assume both surveys would

[2016-10-16 15:10] chuckharmston opened #1622 "Install count numbers down drastically"
https://analysis-output.telemetry.mozilla.org/testpilot/data/installation-counts/latest.json

As of Friday:
- Page Shot, Min Vid, and Tracking Protection had ~70k
- Activity Stream had 80k
- Universal Search had 100k

[2016-10-16 15:11] chuckharmston commented on #1622
CC @sunahsuh, @ilanasegall

[2016-10-17 11:41] SoftVision-CosminMuntean commented on #1561
Hi @jerry550 , thanks for reporting this.

I can confirm this issue but it seams this a general Firefox issue not a Test Pilot one. Managed to reproduce it using both the Yahoo Mail service from "Share this page" Firefox functionality and also from the Activity Stream "Share" functionality. And this is reproducible from any page you attempt to share trough Yahoo service.
However, this issue is alr

[2016-10-17 11:41] #1561 closed, assigned to nobody

[2016-10-17 15:38] #1608 closed, assigned to chuckharmston

[2016-10-17 15:50] JohnA-S opened #1623 "Session Restore issue"
Nearly every time I close Firefox (correctly), it reopens with a "restore session" option tab. I haven't lost my tabs yet, but I'm concerned I will. Now, I do have nearly a hundred tabs open. :)

Windows 10
Firefox Pilot

[2016-10-17 16:03] johngruen commented on #1240
Fixed by #1588

[2016-10-17 16:03] #1240 closed, assigned to johngruen

[2016-10-17 17:10] SoftVision-PaulOiegas commented on #1504
Is there a chance that you tried to install it from a private window ? I've seen this behavior while installing it from that kind of window.

[2016-10-17 17:12] Ajith20 commented on #1504
Yes, I don't save my history at all.

On Oct 17, 2016 1:10 PM, "Paul Oiegas - SoftVision" <
notifications@github.com> wrote:

[2016-10-17 17:19] dholbert commented on #1333
Yikes!  This is _extremely_ unexpected & counterintuitive.  @groovecoder, is there a plan to address that (or an issue open)? I just independently discovered this, when opening a private browsing window -- it shows "Tracking Protection: {o--}" (slider in "off" position).

[2016-10-17 17:45] jerry550 commented on #1561
Thank you.

Sent from my iPad

[2016-10-17 20:49] Dainius14 commented on #1474
@chuckharmston Your suggestion didn't work, as there's no such option in my Firefox 49.0.1 `extensions.install.requireBuiltInCerts`. Turning off SSL/TLS protocol filtering in ESET AV did the trick.

[2016-10-17 21:22] lmorchard commented on #1509
Going to have to ping @relud or someone else in ops to fully resolve this. We _were_ doing this in CircleCI with a [build-version-json.sh](https://github.com/mozilla/testpilot/blob/master/bin/circleci/build-version-json.sh) script that generated JSON from CircleCI vars. That, in turn, got embedded in the Docker container that we shipped to stage & prod eventually.

[I got this working for a dev S3

[2016-10-17 21:46] groovecoder commented on #1333
https://github.com/mozilla/testpilot/pull/1566 was merged 6 days ago. I think that means it will deploy ... tomorrow? (@clouserw)

[2016-10-17 21:49] sunahsuh commented on #1622
Thanks for the alert -- this was fixed a few hours ago and we're talking about ways to increase resilience to failure in the future (conversation in #datapipeline if interested.)

[2016-10-17 22:35] relud commented on #1509
i can add a script to the build step when i get back next week. Preferrably it would create `dist/__version__` and be labelled with the correct content-type by `bin/deploy.sh`. lmk when there's a script to do that.

[2016-10-17 23:10] relud commented on #1509
also: you don't get access to the circle env vars, but you do get access to the git repo, which should tell you the branch and commit, and with `git describe --abbrev=0` you can get the most recent tag in the branch

[2016-10-17 23:13] relud commented on #1509
or if you want tag exactly matching the current commit: `git describe --exact-match --abbrev=0`

[2016-10-18 01:58] chrwang commented on #1504
It was indeed installed in a private window. Disabling private browsing and reinstalling works(on macOS). However, the icon does not show when a private browsing session is opened. The extension still works when using normal browsing mode with history and downloads off. Is this the intended behaviour?

[2016-10-18 08:04] SoftVision-CosminMuntean commented on #1240
This issue is no longer reproducible on dev server. I have retested this using the latest Firefox (49.0.1) and latest Nightly (52.0a1) build.

[2016-10-18 08:53] SoftVision-PaulOiegas commented on #1504
I think for the moment it is, but I'm not 100% sure. Almost all of the experiments from Test Pilot are not working on private mode as far as I know.

@johngruen @wresuolc Is this the intended behavior for Test Pilot icon not to be displayed in Private Window ?

[2016-10-18 09:35] SoftVision-PaulOiegas commented on #1607
Yep, I thought so that this was the problem. Tab Center and almost all experiments are not compatible with Private Window. At least not for the moment. So, not sure what we can do here, maybe just find a way to disable Tab Center while in Private Window mode.
However, you can follow the issue progress here https://github.com/bwinton/TabCenter/issues/675. I already launched a question there for you

[2016-10-18 13:46] chuckharmston commented on #1504
You need to [opt-in](https://developer.mozilla.org/en-US/Add-ons/SDK/High-Level_APIs/private-browsing#Opting_into_private_browsing) to private browsing in SDK add-ons.
- Test Pilot itself [has not asked for that permission](https://github.com/mozilla/testpilot/blob/master/addon/package.json#L47-L49).
- Page Shot [has not](https://github.com/mozilla-services/pageshot/blob/master/addon/package.json#

[2016-10-18 13:48] chuckharmston commented on #1623
Thanks for the report, @JohnA-S!

Why do you think Test Pilot is responsible for this one? As far as I know, neither Test PIlot nor any of its experiments do anything with session restore.

[2016-10-18 13:51] chuckharmston opened #1626 "New questions for FAQ"
A few questions that might be worth adding to [the FAQ](https://github.com/mozilla/testpilot/blob/master/docs/faq.md):
- Why isn't Test Pilot adding an icon to my toolbar? (#1504)
- Does Test Pilot work in private browsing mode? (#1504)
- Test Pilot/experiments won't install (#1474)
- How can I contribute? (Links to Discourse, repos for each experiment)
- Where can I file a bug? (Links to bug trac

[2016-10-18 13:56] jvehent commented on #1610
We have standard integration in cloudops to capture those in nginx and route them to elasticsearch. That's how AMO does it.

[2016-10-18 13:57] chuckharmston commented on #1474
@Dainius14 That preference doesn't exist by default; you need to create it in order for it to exist.

That said, I _do not_ recommend setting that preference to get around this issue; it makes your browser notably less safe. It's only helpful for debugging the problem.

[2016-10-18 15:30] #1622 closed, assigned to nobody

[2016-10-18 15:51] SoftVision-PaulOiegas commented on #1333
@groovecoder Probably it is already on dev server. On stage server will end up Thursday EOD if I'm not mistaking and if there are no unfinished tasks and issues appeared. And will land on production on Tuesday morning if the staging testing looks ok on Friday and Monday.

[2016-10-18 16:05] JohnA-S commented on #1623
Thank you for your response, @chuckharmston.

I'm not sure it's an issue with system restore necessarily. It seems to me it's an issue with handling tabs at shutdown. I believe this is an issue with Test Pilot because it began happening immediately after switching to Test Pilot. Naturally, system restore has come up in the past but only a few times in the years I've used Firefox but now it's happe

[2016-10-18 16:08] SoftVision-PaulOiegas commented on #1504
@chuckharmston Well, Tab Center is crashing like hell on Private Window. And when it comes to Activity Stream, you can use only the share functionality implemented in it, but not the enhanced page content that it provides... So not sure about that.

[2016-10-18 16:22] SoftVision-PaulOiegas commented on #1623
If you have any other experiments installed beside Test Pilot, you could try to navigate to "about:addons" page at extensions section and disable them one by one. And after each disable restart the browser to see if it still occurs. Maybe one of the experiments messes this up. If the experiments are not the problem, then try to disable Test Pilot.

Also you could try this with a new Firefox profil

[2016-10-18 16:29] #1578 closed, assigned to chuckharmston

[2016-10-18 17:07] #1606 closed, assigned to dannycoates

[2016-10-18 17:11] lmorchard opened #1627 "Test Pilot uninstall is not detected across all tabs"
In #1615, we switched to a polling approach to detect installation of the main add-on. The previous approach of relying on a PageMod in the add-on to flip `navigator.testpilotAddon` seemed to have race condition (#1606).

This change introduces a new issue, though: If multiple Test Pilot tabs are open, and the user uninstalls Test Pilot in one of those tabs, the other tabs do not detect the uninst

[2016-10-18 18:19] johngruen opened #1628 "Tour step events are coming in as undefined in GA"
Some housekeeping
<img width="241" alt="screen shot 2016-10-18 at 8 17 32 pm" src="https://cloud.githubusercontent.com/assets/3323249/19490582/0003f000-9570-11e6-9b8a-bec04258e2ee.png">
<img width="272" alt="screen shot 2016-10-18 at 8 17 27 pm" src="https://cloud.githubusercontent.com/assets/3323249/19490584/00146f2a-9570-11e6-85c6-586c8a5c2562.png">
<img width="289" alt="screen shot 2016-10-18 a

[2016-10-18 20:13] ghost commented on #1610
Sweet. /cc @relud for when he's back

[2016-10-18 21:28] dannycoates commented on #1457
Pretty sure this code path only hits on first run already https://github.com/mozilla/testpilot/blob/956a1501e6d71618be3f4ed23bd6ffea4ff3d757/addon/index.js#L342-L344

[2016-10-18 21:32] #1301 closed, assigned to dannycoates

[2016-10-18 21:47] #1522 closed, assigned to lmorchard

[2016-10-19 07:29] maritinakoe opened #1631 "unable to enable Min Vid & Page Shot"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:
- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-10-19 11:17] razorrahul123 opened #1632 "Nothing happening on clicking the button of min vid on youtube"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:
- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-10-19 12:52] SoftVision-PaulOiegas commented on #1631
@maritinakoe Thanks for the report ! Can you please provide more details about the issue ? Like what steps are you performing ? Maybe some screenshots if you see an error. Anything that could help us figure out what could be the problem.

[2016-10-19 12:53] SoftVision-PaulOiegas commented on #1632
@razorrahul123 Thanks for the report ! Can you please provide more details about the issue ? Like what steps are you performing ? Maybe some screenshots if you see an error. Anything that could help us figure out what could be the problem.

[2016-10-19 15:16] SoftVision-CosminMuntean commented on #1574
Verified this after the fix for #1615 was deployed and it's no longer reproducible with the original steps.
Tested on dev server with the latest Firefox (49.0.1) release and latest Nightly (52.0a1) build.

Base on this, I will close this issue as resolved fixed.

[2016-10-19 15:16] #1574 closed, assigned to nobody

[2016-10-19 16:25] lmorchard commented on #1575
I managed to get [this nginx config](https://github.com/mozilla/testpilot/blob/master/header-proxy/nginx.conf) to work for dev with an S3 bucket that does _not_ have website mode on.

There's a [`location = /`](https://github.com/mozilla/testpilot/blob/master/header-proxy/nginx.conf#L39) line that takes care of the front page, and [tweaks to deploy.sh](https://github.com/mozilla/testpilot/blob/mas

[2016-10-19 16:40] lmorchard commented on #996
Not sure where to drop this possibly bad idea except here, but:

Say our counts only update once a day from metrics reports. So, what if we track 2 counts for each experiment: 1) yesterday's count, 2) today's count.

Then, we display a count interpolated between the two that counts up in "real time" - i.e. it goes up (or down eek!) a point every so often. So, if we had 20000 new users over the las

[2016-10-19 16:47] chuckharmston commented on #996
If we go with @lmorchard's suggestion, we could also do a bit of logic to make the numbers closer to accurate.

The current time is `1476895351`. The data we get from telemetry says:

[code]

86400 seconds in a day (this is turning into a song from Rent), so we are getting a new install every 20.1 seconds or so. There have been 60151 seconds so far today, so we can guess that we've gotten 2994 (`6

[2016-10-19 16:49] chuckharmston commented on #996
Oh, I now that I re-read Les' comment, I see that I'm suggesting the same thing he did. `:facepalm:`

I'm not even sure what my initial read of this was.

`/me coffees`

[2016-10-19 16:54] lmorchard commented on #996
I'll take that as a :+1: and great minds think alike :)

[2016-10-19 17:00] ghost commented on #1575
We could try it on -dev [early] next sprint to try to flush out problems.  Also /cc @relud

[2016-10-19 17:24] relud commented on #1575
question: is this really better than using website mode?

[2016-10-19 18:27] lmorchard commented on #1575
Well, the thing is, testpilot.dev.mozaws.net is working that way _right now_. So, we can beat on it whenever we like or surface issues

[2016-10-19 18:28] ghost commented on #1575
It's hackier.  My main concern is just that we set custom [security] headers on all the things we care about and everything else just gets served up as XML.  With website mode, injection might be more possible, through 5xx errors, or whatnot.  Anything we don't specify gets the normal, non-secure headers.  It's admittedly a small window and I don't know enough about website mode to point to actual

[2016-10-19 18:54] #1510 closed, assigned to johngruen

[2016-10-19 19:30] #1302 closed, assigned to dannycoates

[2016-10-19 19:33] chuckharmston opened #1634 "Create and use factory function for store"
The following should be the return value of an exported function in a `createStore` module, rather than assembled and used on the fly:

https://github.com/mozilla/testpilot/blob/master/frontend/src/app/index.js#L35-L63

That will allow tests that require `<Provider>`s to quickly make a store.

[2016-10-19 19:36] lmorchard commented on #1463
Haven't checked out the code from your branch yet, but some general additions / comments...
- Produce `index.html` loading stubs for all pages (especially experiments) that include social sharing metadata in `<head>`.
- Local dev server should use HTTPS
- Probably just an expansion on "Isomorphic", but I'd require: Can render React-based pages to static index.html as a head-start in rendering (#13

[2016-10-19 19:38] lmorchard commented on #1463
Thinking this is just another :+1: for tree-shaking, but I'm also curious about [rollup](http://rollupjs.org/). Though, I've read that webpack folks are looking into stealing some of their ideas.

[2016-10-19 20:09] chuckharmston commented on #1634
I'm going to take this, I don't think I can write tests for #1520 without it.

[2016-10-19 20:31] lmorchard commented on #1520
https://github.com/mozilla/testpilot/commit/34fe36e4c2691c432857195858f8ab203d261462

[2016-10-19 20:31] #1520 closed, assigned to pdehaan

[2016-10-19 20:42] chuckharmston commented on #1634
Added a commit to address this issue to #1620.

[2016-10-20 17:17] lmorchard opened #1636 "404 on testpilot.dev:8000/privacy{/,/index.html}"
We're getting 404's in the local dev server for the various expected URLs for the privacy page. They work on dev / stage / prod. This should be fixed.

[2016-10-20 17:34] lmorchard commented on #1575
Trailing slash URLs break unless website mode is on, unless we can do some additional magic in nginx. That is:

https://testpilot.dev.mozaws.net/privacy/

versus

https://testpilot.dev.mozaws.net/privacy

[2016-10-20 18:01] jvehent commented on #1575
I don't have concerns with website mode specifically but I do have concerns about pages that don't get security headers. We've seen XSS on errors pages that could be used to steal cookies or sessions, or just mess with the user. If we can't get a catch-all security header setup in S3, it might be best to handle those headers in nginx directly.

[2016-10-20 21:03] #1634 closed, assigned to chuckharmston

[2016-10-20 21:03] #1521 closed, assigned to chuckharmston, sevaan

[2016-10-20 21:05] chuckharmston opened #1640 "Write tests for newsletter form in the footer."
Followup from https://github.com/mozilla/testpilot/pull/1620

[2016-10-20 21:09] lmorchard commented on #1575
So, I just remembered seeing ["Origin Custom Headers"](https://www.dropbox.com/s/iwgtc0q7sobs1ka/Screenshot%202016-10-20%2017.07.23.png?dl=0) in Cloudfront settings when I assembled the new dev server stack. Maybe we can use that to slap some security headers on all the things coming up from S3 through nginx and cover the error pages too even with website mode on?

[2016-10-20 21:41] ckprice opened #1641 "Add back toggle to legal pages"
This is a follow up to #1638.

We should land this before we go to production.

[2016-10-20 23:07] ckprice opened #1643 "[release] 2016-10-24 on stage"
_Part of our old process was having a deployment Bugzilla bug for QA to report issues. We no longer need that, so maybe we can use a GH issue. Comments welcomed_

Please QA stage. Let's use this issue to track deployment status to production. I've assigned this to Paul, but we should all be checking out stage a bit.
- Verification documentation: https://github.com/mozilla/testpilot/blob/master/doc

[2016-10-21 00:36] chuckharmston opened #1645 "Generate __version__.json on stage and prod deploys."
It's currently not doing so; see 3f06d1533061ed26deffb62a04ab96741fb5930b

[2016-10-21 00:37] chuckharmston commented on #1645
CC @relud

We should make sure this happens before Tuesday's prod deploy.

[2016-10-21 01:04] ckprice commented on #1643
We'll want to get https://github.com/mozilla/testpilot/issues/1645 and ~~https://github.com/mozilla/testpilot/issues/1641~~ merged in before we go to production.

[2016-10-21 07:50] #1249 closed, assigned to johngruen

[2016-10-21 07:51] johngruen commented on #1641
@ckprice these toggles work in dev

[2016-10-21 08:31] johngruen opened #1647 "sass-build failing on master"

[2016-10-21 08:31] johngruen commented on #1647
Fixed by #1646

[2016-10-21 08:36] johngruen commented on #1641
This will be fixed by whatever we do in #1636

Here's the offending line: https://github.com/mozilla/testpilot/blob/master/frontend/src/scripts/legal.js#L24

@ckprice @lmorchard We could add if `|| 'location.pathname === '/privacy/index.html'` on that line if we like, or just close this.

[2016-10-21 08:52] SoftVision-CosminMuntean opened #1648 "The footer links from "Privacy" page are wrongly displayed on the middle of the page"
[Affected versions]:
- Firefox 60.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = stage" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

[Steps to reproduce]:
1. Ope

[2016-10-21 09:15] SoftVision-PaulOiegas opened #1649 "Mozilla Privacy Policy text hyperlink is missing on Test Pilot "Privacy" page"
[Affected versions]:
- Firefox 49.0.1 and up

[Affected Platforms]:
- All Windows

[Steps to reproduce]:
1. Open Firefox and navigate to testpilot.stage.mozaws.net page.
2. Click on the "Privacy Notice" text link under the "Install the Test Pilot Add-on" green button.
3. Click the first "Learn More" text link to expand it's section.
4.  Click on the "Mozilla Privacy Policy" text link from the expa

[2016-10-21 09:24] SoftVision-CosminMuntean opened #1650 "The confirmation newsletter email is not sent after Sign Up from Test Pilot"
[Affected versions]:
- Firefox 49.0.1 and up

[Affected Platforms]:
- All Windows

[Steps to reproduce]:
1. Open Firefox and navigate to testpilot.stage.mozaws.net.
2. From the bottom of the page click on the text box for newsletter sign up.
3. Enter a valid mail, check the "I'm ok with..." checkbox and click the "Sign Up Now" button.
4. Open the email client and check for an email from Test Pilot

[2016-10-21 09:43] SoftVision-PaulOiegas opened #1651 "Two unneeded "Show More" text buttons were implemented on Test Pilot "Privacy" page"
[Affected versions]:
- Firefox 49.0.1 and up

[Affected Platforms]:
- All Windows

[Steps to reproduce]:
1. Open Firefox and navigate to testpilot.stage.mozaws.net page.
2. Click on the "Privacy Notice" text link under the "Install the Test Pilot Add-on" green button.
3. Observe the "Learn More" text buttons displayed on the page.

[Expected result]:
- There are 2 "Learn More" buttons that expand

[2016-10-21 10:44] chuckharmston commented on #1650
@SoftVision-CosminMuntean Can you try to reproduce with the network tab open? Two possible problems here:
1. You're getting an error in the request to `https://basket.mozilla.org/news/subscribe/` (i.e. `4xx` or `5xx` status codes and we are not correctly reporting it, or;
2. You're getting a `200`  and Basket isn't sending the confirmation emails.

[2016-10-21 10:48] chuckharmston commented on #1650
Note: our newsletter service throttles subscription requests, so receiving `429`s after multiple submissions is expected, though we should be appropriately handling the error.

[2016-10-21 10:53] chuckharmston commented on #1650
If it's the first problem, https://github.com/mozilla/testpilot/pull/1652 will close this.

[2016-10-21 10:54] chuckharmston commented on #1651
This is (not obviously) a dupe of #1641.

[2016-10-21 11:01] SoftVision-CosminMuntean commented on #1650
Here are the net console logs:

![sign up now test pilot](https://cloud.githubusercontent.com/assets/19226534/19596294/929f1e08-9796-11e6-8b0c-b9dad9502e1f.png)

[2016-10-21 11:03] chuckharmston commented on #1650
@SoftVision-CiprianMuresan Sorry for ambiguity; not in the browser console, but in the network tab of the developer tools. I'm looking for a request like this:

<img width="1187" alt="screen shot 2016-10-21 at 5 02 24 am" src="https://cloud.githubusercontent.com/assets/23885/19596392/a217592c-974b-11e6-93b3-2ee95723d7e9.png">

[2016-10-21 11:06] SoftVision-CosminMuntean commented on #1650
Yeah, my bad, I was thinking at something else.

![error console](https://cloud.githubusercontent.com/assets/19226534/19596481/8169ccc2-9797-11e6-80ec-f1736d8e1827.png)

[2016-10-21 11:06] chuckharmston commented on #1650
Great, #1652 should solve this. Thank you!

[2016-10-21 11:08] SoftVision-CosminMuntean commented on #1650
The thing is that I never received an newsletter email. Even for the first request I did today. But we'll see after your fix lands if this is still reproducible.

[2016-10-21 11:09] chuckharmston commented on #1650
@johngruen Should we be doing more specific error messaging based on error codes? Basket throttles after just one request, so at worst this will help make testcases a bit clearer.

[2016-10-21 12:20] SoftVision-CosminMuntean opened #1653 "The gray separating line is no longer displayed on "Settings" menu between "File an Issue" and "Unistall Test Pilot" options"
[Affected versions]:
- Firefox 49.0.1 and up

[Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to testpilot.stage.mozaws.net pa

[2016-10-21 13:45] SoftVision-PaulOiegas commented on #1651
Umm... ok. Based on that issue I logged this one. I understood that there were no show less / show more toggles but not that there were to many. 😆 Will re-check after the fix.

[2016-10-21 13:47] lmorchard commented on #1645
Dupe of #1509

[2016-10-21 13:59] SoftVision-CosminMuntean commented on #1447
Even if the new Sign Up for newsletter functionality was implemented on stage, the old "Welcome" pop-up newsletter can still be triggered. So we kind of have two newsletters Sign Up functionality at the moment on dev and stage servers. However this is not reproducible on production server due to the different restart method.

Shouldn't the old functionality be removed? If yes, should we log a new

[2016-10-21 14:09] SoftVision-PaulOiegas commented on #1345
Yey, new newsletter sign up functionality finally arrived. Oh wait, this still reproduces on new one. 😢

[2016-10-21 14:22] SoftVision-PaulOiegas opened #1654 "Test Pilot image is no longer displayed in Facebook or Twitter shared posts"
[Affected versions]:
- Firefox 49.0.1 and up

[Affected Platforms]:
- All Windows

Prerequisites:
- Facebook or Twitter account already logged.

[Steps to reproduce]:
1. Open Firefox and navigate to "testpilot.firefox.com/share" page.
2. Click on the Facebook or Twitter share button.
3. Follow the process to share / tweet the Test Pilot page.
4. Navigate to Facebook or Twitter account page and obs

[2016-10-21 15:34] johngruen commented on #1653
Oh yeah, i did that...

[2016-10-21 15:41] SoftVision-EmilPasca opened #1655 "The Newsletter text box wrongly displays letters like "g, q and f""
[Affected versions]:
- Firefox 49.0.1 and up
  [Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to testpilot.stage.mozaws.net.

[2016-10-21 15:46] SoftVision-PaulOiegas commented on #1643
Hi guys,

The tests were finalized on staging, here are the results:
**New issues:**
1. The footer links from "Privacy" page are wrongly displayed on the middle of the page  (#1648) - minor
2. Mozilla Privacy Policy text hyperlink is missing on Test Pilot "Privacy" page (#1649) - normal
3. The confirmation newsletter email is not sent after Sign Up from Test Pilot (#1650) - major
4. Two unneeded "

[2016-10-21 15:50] lmorchard commented on #1645
FWIW, we've got 2 of these scripts now:

https://github.com/mozilla/testpilot/blob/master/bin/build-version-json.sh
https://github.com/mozilla/testpilot/blob/master/bin/circleci/build-version-json.sh

Should probably just consolidate / merge into `bin/deploy.sh` - and since that runs on both circleci (dev) and in jenkins (prod & stage), I don't think we need @relud to do anything do we?

[2016-10-21 15:51] #1653 closed, assigned to johngruen

[2016-10-21 15:54] #1650 closed, assigned to chuckharmston

[2016-10-21 15:55] chuckharmston commented on #1645
Yeah, we were just hacking something together to get a stage deployment out the door last night for QA, with you and Daniel both out of pocket. I'll close this as a dupe.

[2016-10-21 16:00] lmorchard commented on #1641
Eh, maybe let's close this... we don't link to `privacy/index.html` and the only reason index.html actually exists is for website hosting mode on S3

[2016-10-21 16:00] #1641 closed, assigned to nobody

[2016-10-21 16:01] lmorchard commented on #1651
Hmm, actually, I think this is an issue... the toggles are back, but now they're kind of overzealous.

[2016-10-21 16:06] lmorchard commented on #1654
Might have found the issue: https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Ftestpilot.firefox.com

[code]

"facebok"

[2016-10-21 16:10] #1647 closed, assigned to johngruen

[2016-10-21 16:13] #1645 closed, assigned to nobody

[2016-10-21 16:19] ghost commented on #1623
@matt_g is this a SHIELD thing?

[2016-10-21 16:19] chuckharmston commented on #1623
@mattgrimes

[2016-10-21 16:22] ghost commented on #1618
ref #1603

[2016-10-21 16:55] MattGrimes commented on #1623
We have not deployed any Shield Studies that manipulate session restore. There was talk about that a few months ago, but nothing has materialized.

[2016-10-21 17:20] ghost commented on #1649
John says he couldn't reproduce this locally, although I definitely saw it on stage as well.  Once the two PR's touching the privacy page land, let's test this again.

[2016-10-21 21:43] #1651 closed, assigned to clouserw

[2016-10-21 21:45] #1655 closed, assigned to chuckharmston

[2016-10-21 21:55] ghost commented on #1649
I'm seeing this fixed on https://testpilot.dev.mozaws.net/privacy after John's patches landed earlier so I'll assume it's good now.  Thanks for filing.

[2016-10-21 21:55] #1649 closed, assigned to nobody

[2016-10-21 22:37] gmbriggs opened #1663 "I tried to enable and the message said I did, but there's no icon in my tool bar. So now what?"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:
- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-10-21 23:32] mwopus opened #1664 "test"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:
- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-10-22 01:30] vze2mp9g opened #1665 "Unable to take screenshot of Facebook"
Hello,
Great idea, but taking a screenshot on **Facebook** is impossible. I guess I have to go back to PRINT SCREEN in Windows 10. Please fix this issue ASAP.
Thanks
Dave
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:
- Ac

[2016-10-22 04:21] #1664 closed, assigned to nobody

[2016-10-22 18:32] SeaBis opened #1666 "TestPilot icons not visible."

[2016-10-22 19:25] delixyr commented on #1204
[Adguard](https://github.com/AdguardTeam/AdguardForWindows) https filtering also cause the same issue.

[2016-10-22 22:53] Lelouch2 opened #1667 "Test Pilot Does Not Work on Browse In Private"
Test Pilot add on short cut on the top right of my add on bar. Help please. Thanks

[2016-10-24 08:58] SoftVision-PaulOiegas commented on #1651
Overzealous toggles confirmed as fixed. 😆
One thing bothers me still. I know that by default there is less content on Privacy page than on other pages, but it looks a bit out of order that it starts from the middle of the page.
On the old implementation (production), it starts from the top.

[2016-10-24 09:11] SoftVision-CosminMuntean commented on #1648
I have retested this issue and is no longer reproducible. The footers links are correctly displayed on the bottom of the page.

However, the text starts from the middle of the page, not from the top like on the other pages ("About Test Pilot" and "Terms" pages) or the old Privacy page (production). Is this the intended behavior?

[2016-10-24 09:12] SoftVision-PaulOiegas commented on #1654
Nope, still not working on dev or stage for either Facebook or Twitter shares. Used a brand new profile so not a caching problem.

![no image in share](https://cloud.githubusercontent.com/assets/17258026/19639774/702c5fcc-99e2-11e6-83c8-2efcdb5df093.png)

[2016-10-24 09:20] SoftVision-PaulOiegas commented on #1654
In addition some network output.

![warning](https://cloud.githubusercontent.com/assets/17258026/19640168/31573c70-99e4-11e6-93b8-f6e7ef40c0f8.png)

and

![test pilot image maybe](https://cloud.githubusercontent.com/assets/17258026/19640173/36553a1a-99e4-11e6-9c75-c9f9ec836f44.png)

[2016-10-24 09:23] SoftVision-CosminMuntean commented on #1653
I have retested this issue and is no longer reproducible. Verified on the latest Firefox (49.0.2) release and latest Nightly (52.0a1) build.

[2016-10-24 09:33] SoftVision-EmilPasca commented on #1655
I have retested this issue and is no longer reproducible. Verified on the latest Firefox (49.0.2) release and latest Nightly (52.0a1) build.

[2016-10-24 12:08] SoftVision-PaulOiegas commented on #1649
Indeed, the hyperlink is now present under the text and you are correctly redirected to "Mozilla Privacy" page when clicked.

[2016-10-24 12:12] SoftVision-PaulOiegas commented on #1663
Hi @gmbriggs and thanks for reporting this. Are you trying to install /enable this on a Private Window ?
Test Pilot and most of the experiments are not compatible with Firefox Private Window. In order to properly test the experiments you will need to work on a normal window.

[2016-10-24 12:24] SoftVision-PaulOiegas commented on #1665
Hello @vze2mp9g thanks for reporting this. Can you be a bit more specific about the steps you are performing and are failing ?
If I understand right you are trying the "Page Shot" experiment from Test Pilot and you wish to make a screenshot of a Facebook page.

I am using Page Shot on Windows 10 with the latest Firefox 49.0.2 release and I can easily create a screenshot of a Facebook wall for exam

[2016-10-24 12:25] SoftVision-PaulOiegas commented on #1666
Hi @SeaBis  and thanks for reporting this. Are you trying to install /enable this on a Private Window ?
Test Pilot and most of the experiments are not compatible with Firefox Private Window. In order to properly test the experiments you will need to work on a normal window.

[2016-10-24 12:47] SoftVision-PaulOiegas commented on #1204
@delixyr Are you still encountering this issue with Adguard ?
We recently deployed a fix for the antivirus clients issue. If you still encounter this using the latest add-on version, we might need to test with this too in order to expand the fix.

[2016-10-24 12:51] SoftVision-PaulOiegas commented on #1667
Hi @Lelouch2 and thanks for reporting this. This is the intended behavior for now, Test Pilot and most of the Experiments are not compatible with Private Window. However, we have a tracking issue already for this so I'm closing yours in favor of #1504.

[2016-10-24 12:51] #1667 closed, assigned to nobody

[2016-10-24 13:46] chuckharmston opened #1668 "Make and implement MessageView component"
Simple extension of `View` with this common configuration of different default props:

[code]

[2016-10-24 14:01] SoftVision-CosminMuntean opened #1669 "[Enhancement] The newsletter submission error could be a bit more explicit when it comes to multiple requests"
[Affected versions]:
- Firefox 49.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac

[Steps to reproduce]:
1. Open Firefox and navigate to testpilot.stage.mozaws.net.
2. From the bottom of the page click on the text box for newsletter sign up.
3. Enter a valid mail, check the "I'm ok with..." checkbox and click the "Sign Up Now" button.
4. Refresh the page and repeat step #3 using the same

[2016-10-24 14:16] SoftVision-CosminMuntean commented on #1650
I have retested this issue and is no longer reproducible. The confirmation email from Test pilot is received and an error is displayed if another submission is performed with the same email. Tested on latest Firefox (49.0.2) release and latest Nightly (52.0a1) build.

However, we logged a possible enhancement for the error message displayed: #1669.

[2016-10-24 14:48] johngruen commented on #1621
What if we:
- [ ] delay heartbeat for 48 hours if a user has just taken a survey
- [ ] make the disable confirmation modal's primary control a simple confirmation if a user has given feedback in the last 48 hours

[2016-10-24 14:58] chuckharmston commented on #551
Added this to TXP-15.

[2016-10-24 15:04] chuckharmston opened #1670 "Allow experiments to be hidden from users without specific locales."
e.g. Only show Foo Experiment to users who speak Azerbaijani

[2016-10-24 15:05] chuckharmston commented on #1602
To contrast with #1670:

Only show Bar Experiment to users who do not speak Azerbaijani (`do not speak` defined above).

[2016-10-24 15:23] chuckharmston commented on #1461
@johngruen we'll need a product call on moving forward with `clientUUID` here; this will more-or-less make us all-in on using it.

[2016-10-24 15:35] johngruen commented on #1461
@MattGrimes could you spell out a specific use case here. Since we're already sending UUIDs to GA, I see no reason why we can't do the same to another service already vetted by our legal team  (/edit by ckprice -- this was approved by legal).

That having been said, I'd like to have more concrete examples of the types of correlations @rrayborn is referring to above.

[2016-10-24 16:03] ckprice commented on #1461
This was approved by legal via email last week.

[2016-10-24 16:05] chuckharmston commented on #1669
https://github.com/mozilla/testpilot/issues/1650#issuecomment-255354933

[2016-10-24 16:11] ckprice commented on #1643
We're going to do one more push to stage today, then SV will verify overnight and approve for a push tomorrow morning.

[2016-10-24 16:21] jaredhirsch opened #1672 "Use pseudolocales to ensure localization works"
In the past, I've used the 'accented English' [pseudolocale](http://informationisart.com/27/) to test if Firefox OS apps were properly localized.

Need to figure out what tooling exists for implementing pseudolocales with `.ftl` files and l20n.js.

Note: @wresuolc helped with the pseudolocale script implementation in the past and could help.

[2016-10-24 16:23] ckprice commented on #1643
Let's make sure https://github.com/mozilla/testpilot/issues/1645 is working well once we push to production.

[2016-10-24 16:32] ckprice commented on #1461
Looks like a pretty [simple addition to here](https://github.com/mozilla/testpilot/blob/e118f485bcc60a5ccbb16b49714c3a6b0ed439cf/addon/lib/survey.js#L122). Will take this.

[2016-10-24 16:43] ckprice commented on #904
Got signoff on this from both Marshall and Julien. Julien did add:

[2016-10-24 16:56] ghost commented on #1654
Fixed in https://github.com/mozilla/testpilot/pull/1659

[2016-10-24 17:05] MattGrimes commented on #1461
Sure.
- For upcoming studies like Page Shot, we could look at users that say they derive more utility out of Firefox because of Page Shot to find out if that correlates to an increase in usage hours.
- As we incorporate more experiments with partners we can look at brand effects to find out if that correlates with a drop in usage hours or retention.
- Tab Center users that say they are using more

[2016-10-24 17:05] relud commented on #1509
this is fixed

[2016-10-24 17:11] relud commented on #1575
I think the best place to add security headers to error pages would be nginx.

[2016-10-24 17:14] chuckharmston commented on #1461
(We wouldn't not do this bug if we chose not to use `clientUUID`; we'd just generate a GUID or something like that instead.)

[2016-10-24 17:21] MattGrimes commented on #1461
I am fine with whatever implementation you choose. It's the outcomes we care about. You folks are the experts.

[2016-10-24 17:25] #1138 closed, assigned to dannycoates

[2016-10-24 17:28] ckprice commented on #1461
Yeah, not sure why we'd create a new variable. As noted above the use of `clientUUID` has been approved by legal, and we're already sending it to GA via the measurement protocol. I'm going to proceed using it.

[2016-10-24 19:58] ckprice commented on #1643
[2016-10-24](https://github.com/mozilla/testpilot/releases/tag/2016-10-24) has been merged to `stage-static`.

[2016-10-24 21:32] ckprice opened #1678 "Update page location with the correct value for GA pageviews"
This is an email sent to G support

This is the response from G

It may be necessary to also include any `utm` parameters in the `dl` field.

[2016-10-24 22:58] relud commented on #1610
@jvehent can you link me to that configuration, and will that work with testpilot being fronted by a cdn? (i don't know how this works at all)

[2016-10-24 23:04] jvehent commented on #1610
@relud: I believe it will work fine with the CDN as long as POST requests make it to Nginx.

AMO has a sample conf here: https://github.com/mozilla-services/puppet-config/blob/master/amo/modules/amo_proxy/templates/nginx.csp.conf.erb
Which uses this log format: https://github.com/mozilla-services/puppet-config/blob/master/amo/modules/amo_proxy/templates/nginx.service.conf#L29
Then all you have to

[2016-10-25 07:26] johngruen commented on #1670
@chuckharmston clarification on the needs:product label? This seems legit

[2016-10-25 12:29] chuckharmston commented on #1670
I honestly couldn't say; must have intended to put it on a different issue. Removing.

[2016-10-25 13:22] SoftVision-PaulOiegas commented on #1654
Sorry guys, but still not working. Tested on all 3 servers using both Nightly and 49.0.2 release.

[2016-10-25 13:33] chuckharmston commented on #1654
I think this is because our `rel="canonical"` points to our production site, which still doesn't have the fixes yet. From [the debugging page](https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Ftestpilot.dev.mozaws.net) for our dev site:

<img width="716" alt="screen shot 2016-10-25 at 7 32 01 am" src="https://cloud.githubusercontent.com/assets/23885/19688039/29aea980-9a85-11e6-9

[2016-10-25 13:33] #1654 closed, assigned to chuckharmston

[2016-10-25 13:34] chuckharmston commented on #1654
(Although we should still validate that `thumbnail-facebook.png` is appropriately deployed on the dev site; @lmorchard?)

[2016-10-25 14:11] lmorchard commented on #1654
Yes, this is deployed to dev: https://testpilot.dev.mozaws.net/static/images/thumbnail-facebook.png

And also, yes - since this stuff has to use absolute links to production, we won't see a fix on Facebook until this stuff reaches production. We also use the canonical link to prod from all environments because we don't want to make it easy to share links pointing at our dev & stage environments.

[2016-10-25 14:14] chuckharmston commented on #1654
You can clear Facebook's cache from here: https://developers.facebook.com/tools/debug/sharing/

And Twitter's from here: https://cards-dev.twitter.com/validator

[2016-10-25 14:23] SoftVision-PaulOiegas commented on #1654
Great, we'll check it on prod after deploy then. Thanks for clarification !

[2016-10-25 14:48] johngruen commented on #1628
Hard to repro this on dev, i console logged out the event actions and they look alright...

let's see if we can see these events correctly in GA after today's push to stage.

[2016-10-25 16:27] lmorchard commented on #1628
I think this might actually be fixed with this deploy. I made some bugfixes along with writing tests for the tour dialog here: https://github.com/mozilla/testpilot/commit/4fcb83e32d944229c4b87ef998b5df249802d0ed

[2016-10-25 16:28] lmorchard commented on #1628
Yeah, I think that fixed it, going to close this issue - reopen if they come back undefined again

[2016-10-25 16:28] #1628 closed, assigned to nobody

[2016-10-25 17:03] ckprice commented on #1643
This was verified by @SoftVision-PaulOiegas on production.

[2016-10-25 17:03] #1643 closed, assigned to SoftVision-PaulOiegas

[2016-10-25 18:11] relud commented on #1645
that's not enough notice to accomplish this when I'm out all this week.

On Thursday, October 20, 2016, Chuck Harmston notifications@github.com
wrote:

##

-Daniel Thorn
Mozilla Services Operations Engineer

[2016-10-25 18:14] gmbriggs commented on #1663
Yes, I always use Private Window.  So Page Save won’t be usable on Private Window then?  Maybe you could put a proviso or warning on the beta announcement so that those of us who use private windows all the time know not to bother testing the beta.

[2016-10-25 18:25] SeaBis commented on #1666
Using Normal window.  I do not use Private window.  Using Kaspersky Small Office Security version 4.

Best regards,

Glen Bishop  RN rtd. Assoc. Eng. IREE

From: Paul Oiegas - SoftVision [mailto:notifications@github.com]
Sent: Monday, October 24, 2016 10:56 PM
To: mozilla/testpilot
Cc: SeaBis; Mention
Subject: Re: [mozilla/testpilot] TestPilot icons not visible. (#1666)

Hi @SeaBis https://github.

[2016-10-25 18:48] chuckharmston commented on #1670
I honestly couldn't say...must have hit the wrong bug on a list. Removing.

[2016-10-25 19:00] relud commented on #1645
also this does not go in deploy.sh, because that doesn't have access to
git, it only has access to dist/

On Friday, October 21, 2016, Chuck Harmston notifications@github.com
wrote:

##

-Daniel Thorn
Mozilla Services Operations Engineer

[2016-10-25 19:58] #1640 closed, assigned to chuckharmston

[2016-10-25 20:01] lmorchard commented on #1645
Does that mean we need to take `build-version-json.sh` _out_ of `deploy.sh`? [Because it's called from there now.](https://github.com/mozilla/testpilot/blob/master/bin/deploy.sh#L34)

[2016-10-25 21:39] ckprice commented on #1395
We're seeing very close correlation with the `browser startup` pings and the Telemetry daily ping. I'm going to close this issue.

[2016-10-25 21:39] #1395 closed, assigned to ckprice

[2016-10-25 22:24] relud commented on #1645
the `[ -e version.json ] ||` bit there handles this.

[2016-10-25 22:25] jaredhirsch commented on #1334
OK, I did a little digging into integration / unit testing and `navigator.mozAddonManager`. Here's what I've got so far. Comments / questions very welcome.

### what is a `mozAddonManager`, anyway?

It [looks like](https://dxr.mozilla.org/mozilla-central/source/dom/webidl/AddonManager.webidl#59) the `navigator.mozAddonManager` WebIDL just exposes a subset of the existing `AddonManager` API to whit

[2016-10-26 03:45] dumptyd opened #1682 "Add development quickstart guide for Windows hosts."
There's no development quickstart guide for Windows hosts and the steps for setting up dev environment for OSX/Linux are not working on Windows.

[2016-10-26 03:45] dumptyd commented on #1682
I would like to work on this one.

[2016-10-26 07:53] johngruen commented on #1628
@lmorchard confirmed stats coming through in latest prod

[2016-10-26 10:32] SoftVision-PaulOiegas opened #1683 "Closing the "about:addons" page after manually disabling an experiment changes the "Disable experiment" button into "Enabling..." animation"
[Affected versions]:
- Firefox 49.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- The "testpilot.env" string type pref was already added in "about:config" page with "dev" value set.
- Test Pilot was already installed on a new clean Firefox profile.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to testpilot.dev.m

[2016-10-26 11:49] SoftVision-PaulOiegas commented on #1666
Ok... Then is there a chance that you are using the "Options > Privacy > History >Never remember history" option from Firefox ? We found this case while testing and by doing this you also get no icon in Toolbar.

[2016-10-26 12:58] Softvision-VladBacia opened #1684 "Newsletter form checkbox, has a different outline on all OSs"
**[Affected versions]:**
-Firefox 49.0.2 and up

**[Affected Platforms]:**
-All Windows
-All Mac OS
-All Linux

**[Steps to reproduce]:**
1. Open Firefox and go to https://testpilot.firefox.com/ .
2. Scroll the page down and enter one letter in email field from newsletter form.
3. Observe the checkbox outline.

**[Expected result]:**
-The outline of the checkbox is red and has a shadow.

**[Actual

[2016-10-26 13:29] Softvision-VladBacia opened #1685 ""Please fill out this field." tooltip from newsletter form is still displayed when scrolling the webpage if e10s is enabled"
**[Affected versions]:**
-Firefox Nightly 52.0a1 e10s enabled

**[Affected Platforms]:**
-All Windows
-All Mac OS
-All Linux

**[Steps to reproduce]:**
1. Open Firefox and go to https://testpilot.firefox.com/ .
2. Scroll the page down.
3. Click on "Sign Up Now" button from newsletter form.
4. Scroll up the webpage.

**[Expected result]:**
-"Please fill out this field." tooltip is dismissed on scro

[2016-10-26 13:54] SoftVision-CosminMuntean opened #1687 "Test Pilot button is not displayed in toolbar if the "Never remember history" option is set"
[Affected versions]:
- Firefox 49.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac

[Prerequisites]:
- The "Never remember history" option from "about:preferences#privacy" is already set on a clean profile.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisite and navigate to testpilot.firefox.com.
2. Click the "Install Test Pilot Add-on" green button and follow th

[2016-10-26 14:47] chuckharmston commented on #1687
That preference sets `browser.privatebrowsing.autostart=true`.

Hm, sounds like a platform issue. Checking with the addons team to see if this is expected.

[2016-10-26 14:51] chuckharmston commented on #1687
I wouldn't actually be surprised if it is expected; it looks like that preference effectively sets private browsing mode for all windows, and [neither Test Pilot nor most experiments](https://github.com/mozilla/testpilot/issues/1504#issuecomment-254512221) are asking to work in private mode.

Great catch, @SoftVision-CosminMuntean.

[2016-10-26 14:57] chuckharmston commented on #1685
We're using [HTML5 form validation](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms_in_HTML) here, so it's actually browser chrome that's not behaving appropriately here. I'm going to close this, but filed [a bug against platform](https://bugzilla.mozilla.org/show_bug.cgi?id=1313079) for the issue.

[2016-10-26 14:58] #1685 closed, assigned to nobody

[2016-10-26 15:16] chuckharmston commented on #1684
This is unfortunately an oddity in how browsers handle OS chrome. Firefox on OS X, for example, adds the red outline to `:-moz-ui-invalid:not(output)`.

@johngruen or maybe @sevaan: thoughts on how you want to handle this? Few different possible approaches:
- Try to normalize the best we can. This will be unreliable and have accessibility costs.
- Use image replacement on checkboxes. This will als

[2016-10-26 15:17] chuckharmston commented on #1687
Yeah, this is expected behavior for add-ons that haven't opted-in to private browsing mode. Closing in favor of #1504

[2016-10-26 15:17] #1687 closed, assigned to nobody

[2016-10-26 15:17] chuckharmston commented on #1504
For another way this manifests, see #1687. We should probably either:

1) Opt-in to private browsing mode and require all experiments to do the same.
2) Add some UI flagging that we don't support private browsing mode.

[2016-10-26 15:38] #1636 closed, assigned to lmorchard

[2016-10-26 15:40] johngruen commented on #1684
@chuckharmston my vote is nothing

[2016-10-26 15:41] #1684 closed, assigned to nobody

[2016-10-26 15:49] lmorchard commented on #1682
If you've gotten this stuff working on Windows, we'd be overjoyed to have that documented! :)

[2016-10-26 16:02] chuckharmston commented on #551
#1688 is related.

[2016-10-26 16:28] chuckharmston opened #1689 "Exclude Pontoon from non-dev CSP."
In #1688 we added pontoon to CSP on all our environments, despite only including the `<script>` on dev. We should add an switch allowing us to selectively include it, then apply it to our dev deployment.

[2016-10-26 16:39] ghost opened #1690 "Add dev/prod flag to deploy.sh"
We have different rules for dev and prod, so we should add some kind of flag to deploy.sh so it knows what is up.

When you do this, make sure the pontoon rule added in https://github.com/mozilla/testpilot/pull/1688 goes into dev only.

Since we can default one way or the other, I'm thinking we default to production deploys and change the deploy on dev to pass in a flag.  Like:

@relud -- how's th

[2016-10-26 16:45] relud commented on #1690
wfm

[2016-10-26 17:28] ghost commented on #1690
Also https://github.com/mozilla/testpilot/pull/1692

[2016-10-26 17:41] chuckharmston commented on #551
I believe that all the remaining work in this is contained in https://bugzilla.mozilla.org/show_bug.cgi?id=1280410

I'll keep this open until we're finished.

[2016-10-26 19:43] ghost commented on #1689
thanks for filing this like I asked. I didn't see it and filed #1690 <3

[2016-10-26 19:43] #1689 closed, assigned to clouserw

[2016-10-26 20:30] chuckharmston commented on #1600
#1695

[2016-10-26 21:22] ckprice opened #1696 "Console error in `measurePageview` when experiment cards are clicked from an experiment detail page"
STR:
1. Uninstall Test Pilot
2. Visit https://testpilot.firefox.com/experiments/tab-center
3. Scroll down to the bottom and click on the "Page Shot" card.

Expected Result:

User is taken to the Page Shot experiment page, and a `pageview` is sent.

Actual Result:

User is taken to the Page Shot experiment page, no `pageview` is sent, and the following console error is served

Observations:
- This

[2016-10-27 00:17] pdehaan commented on #1308
I also stumbled upon [**json-schema-trainer**](http://npm.im/json-schema-trainer) which lets you analyze a bunch of JSON files (or our experiment YAML files) and auto-generate a JSON schema.

<details>
<summary>

Schema generator and validator (click-o, expand-o!)</summary>

[code]

</details>

<details>
<summary>

Generated schema (JSON)</summary>

[code]

</details>

The `incompatible` field in

[2016-10-27 02:19] dannycoates opened #1698 "Wrong cards in list after clicking a card"
With no addon, from an experiment page clicking one of the cards navigates to the new experiment but it remains in the 'other experiments' section.

[2016-10-27 06:40] dannycoates commented on #1334
Awesome comment @6a68!

I really _want_ to take the js route in the long run. It seems like the riskier path though. As someone who's never used marionette I have no idea what to expect either way, but python seems to be the more well worn path.

Ultimately I want to use the thing that requires the least maintenance because maintaining integration tests is like my third least favorite thing to do

[2016-10-27 07:36] SoftVision-PaulOiegas commented on #1698
Hey Danny, this probably a dupe of #1518. If you refresh the page after each selected card, the right content is displayed.

[2016-10-27 15:39] SeaBis commented on #1666
Thanks Paul. Fixed,

Best regards,

Glen Bishop  RN rtd. Assoc. Eng. IREE

[2016-10-27 15:44] SoftVision-PaulOiegas opened #1701 "Newsletter section from "Legacy" page is shorter than on other pages"
[Affected versions]:
- Firefox 49.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Open Firefox and navigate to testpilot.dev.mozaws.net/legacy page.
2. Scroll to the bottom of the page and observe the Newsletter signup section.
3. Navigate to testpilot.dev.mozaws.net page and observe the Newsletter section.

[Expected result]:
- Newsletter section

[2016-10-27 15:48] chuckharmston commented on #1504
A proposal, in three parts:
1. Test Pilot opts-in to private browsing. We don't require anything of experiments.
2. We annotate windows with an indicator that it is a private browsing window. This should also cover #1687.
3. On experiment pages, we add warning UI if the user has the Test Pilot add-on and is using in a private browsing window.

@johngruen?

[2016-10-27 15:52] SoftVision-PaulOiegas opened #1702 "Privacy page content is wrongly positioned on the middle of the page"
[Affected versions]:
- Firefox 49.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Open Firefox and navigate to testpilot.dev.mozaws.net/privacy page.
2. Observe how the page content is displayed.

[Expected result]:
- The page content is positioned on the top and starts from under the Firefox logo.

[Actual result]:
- The page content is positione

[2016-10-27 15:55] chuckharmston commented on #551
Everything is set up and working in Pontoon; just waiting on @peiying2 to flip the switch.

[2016-10-27 15:55] #551 closed, assigned to chuckharmston

[2016-10-27 16:18] animally opened #1703 "Cannot Enable in Private Window"
I often use a private window for testing purposes and would like to take advantage of the Page Shot. However, the Test Pilot is not available or enableable in a private browser window.

[2016-10-27 16:21] johngruen commented on #1504
@chuckharmston meeting with @sevaan in the morning, we will toss this around

[2016-10-27 17:10] animally commented on #1703
It looks like the Tab Center works fine in private windows, but the Page Shot icon is not showing.

[2016-10-27 17:11] chuckharmston commented on #1703
Thanks for the report, @animally! We're tracking this in #1504 and have some solutions currently under consideration.

[2016-10-27 17:11] #1703 closed, assigned to nobody

[2016-10-27 17:19] chuckharmston commented on #1701
It actually shouldn't be on the legacy page; that was an oversight.

[2016-10-27 19:11] lmorchard commented on #1602
Left that comment over on #1686 - ignoring locales and just using language seems strange.

[2016-10-27 19:24] #1602 closed, assigned to chuckharmston

[2016-10-27 19:37] #1701 closed, assigned to chuckharmston

[2016-10-27 20:19] jvhoven opened #1705 "[IE11] Experiment cards rendering"
On Windows 10 using IE 11.0 the experimental cards do not render as they should. It would be great if someone could confirm this as I've tested this using BrowserStack and I do not know how reliable that is.

![selection_005](https://cloud.githubusercontent.com/assets/5366355/19783440/43fd9f12-9c92-11e6-9a81-b0995f9df4ce.png)

[2016-10-27 21:16] #1670 closed, assigned to chuckharmston

[2016-10-27 21:19] chuckharmston commented on #1340
Added this to [TXP-15](https://github.com/mozilla/testpilot/projects/9), am taking it and will try to finish it this sprint.

[2016-10-27 21:21] clouserw commented on #738
We talked about this in a meeting with the legal team, but I forget the outcome.  As I recall, they seemed ho-hum about it like it wasn't a big deal.  English is fine, localizing is a bonus.  @ckprice - is that your recollection?  If so I won't feel as bad about not doing this yet.

[2016-10-27 22:17] dannycoates commented on #1698
I think this is different.

It looks like this is another side effect of the `TypeError: t is null` reported in #1696

The error appears to be caused by a bad interaction between react and l20n. When I remove the `data-l10n-id` from the installation counter [span](https://github.com/mozilla/testpilot/blob/9fb88ef777019d6a9b43cda2735e8833d7d94feb/frontend/src/app/containers/ExperimentPage.js#L457)

[2016-10-28 00:24] ghost commented on #1575
If I'm reading https://aws.amazon.com/about-aws/whats-new/2015/12/now-add-or-modify-request-headers-forwarded-from-amazon-cloudfront-to-origin/ right, that is to set headers from cloudfront to your server, not out to the end user.  (If that's the right docs)

[2016-10-28 00:42] ghost commented on #1575
I'll try to recap where we are at:
- Website mode is off by default.  This means any URL with a trailing slash is a 404
- With website mode on, trailing slash and index.html stuff works as you'd expect.  Additionally, error pages are served up as HTML instead of just an error code so there is a slim chance of a security vulnerability there as they don't include our security headers.

So, it seems

[2016-10-28 00:49] lmorchard commented on #1575
Website mode will cause redirects on path to path/ that discard GA query params on the server side, so we never see them client-side to measure

[2016-10-28 00:56] ghost commented on #1672
The way the translate-toolkit would do this is to run a script that converts the file to .po (in memory), do whatever conversions were needed, and then convert it back to your file format.  The psuedolocale you are talking about is using the `podebug` command.  You can see it at work here:  https://github.com/mozilla/addons-server/blob/master/locale/omg_new_l10n.sh#L90

It looks like the toolkit a

[2016-10-28 01:08] ghost commented on #1575
That's right.  And there is some setting that sounds like it fixes that, but doesn't actually.  DId we figure out what that setting does?

Edit: Found it.  Preserve Query Strings.  It sure sounds like that should work.  http://qaoverflow.com/question/amazon-s3-redirect-rule-preserve-query-params/

[2016-10-28 08:42] dumptyd commented on #1705
Yep, can confirm. But, it's working fine on edge.

![image](https://cloud.githubusercontent.com/assets/16368429/19800210/5d305a7a-9d18-11e6-93a0-d787dd7786cc.png)

[2016-10-28 08:57] SoftVision-CosminMuntean opened #1710 "Test Pilot cannot be installed from dev server"
[Affected versions]:
- Firefox 49.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.

[Steps to reproduce]:
1. Open Firefox and navigate to testpilot.dev.mozaws.net.
2. Click the "Install Test Pilot Add-on" green button and follow the steps to install the ad

[2016-10-28 10:20] johngruen opened #1711 "Add GA to newsletter form in footer"
@ckprice we should record this event, any thoughts about the event category, event label and event action

[2016-10-28 11:41] jvhoven commented on #1705
Woops I edited the comment but not the title itself, I ment IE 11 ofcourse. Thank you @dumptyd!

[2016-10-28 16:02] chuckharmston commented on #1711
The same form will be used in the post-install modal (#1551), so you may want to take that into consideration when coming up with the events.

[2016-10-28 16:09] ckprice commented on #1705
< 0.50% of our sessions were from IE11 in the last 30 days.

[2016-10-28 16:13] chuckharmston commented on #1666
Dupe of #1504

[2016-10-28 16:13] #1666 closed, assigned to nobody

[2016-10-28 16:14] chuckharmston commented on #1663
We're tracking this issue in #1504. Thanks for the report!

[2016-10-28 16:14] #1663 closed, assigned to nobody

[2016-10-28 16:14] jaredhirsch commented on #1683
When an addon is removed inside about:addons, the addon is only disabled, not uninstalled, until the user navigates away from the page. (This is how the undo feature is implemented on about:addons: if you disable/remove, then click undo, the addon is re-enabled.)

If about:addons is then refreshed or the tab is closed (as in the STR here), the addon is then fully removed.

So, the test pilot addon

[2016-10-28 16:16] jaredhirsch commented on #1623
@JohnA-S Hey, could you let us know what other addons you have installed? That way we can try to reproduce the bug.

[2016-10-28 16:18] ghost commented on #1504
@sevaan is cooking up some UX

[2016-10-28 16:37] jaredhirsch commented on #1504
Some technical background:

Addons can test for private browsing mode [using `PrivateBrowsingUtils`](https://developer.mozilla.org/en-US/docs/Supporting_per-window_private_browsing#Detecting_private_browsing_mode). If the test pilot addon is installed, we could signal to the site that the user's in PBM.

Without the addon installed, it looks like the best ordinary web content can do is try to set,

[2016-10-28 16:50] #1600 closed, assigned to chuckharmston

[2016-10-28 19:28] jaredhirsch commented on #1672
I asked stas about this in #l20n on IRC, sounds like l20n doesn't have a solution yet:

[2016-10-28 20:34] #1461 closed, assigned to ckprice

[2016-10-28 21:03] dannycoates opened #1714 "investigate l20n/react integration"
In #1712 we fixed a conflict in how l20n and react both modify the dom which could easily happen again elsewhere. We ought to look into a more integrated approach.

This thread might have some leads: https://groups.google.com/forum/#!topic/mozilla.tools.l10n/XtxHgBEokCA

[2016-10-28 21:04] #1696 closed, assigned to dannycoates

[2016-10-28 21:05] #1698 closed, assigned to dannycoates

[2016-10-28 22:45] pdehaan opened #1716 "Add docs for adding new locales"
It'd probably be pretty useful to write some basic docs on getting started w/ localization in Test Pilot.

I was trying to test the new [Slovenian (sl) localization](https://github.com/mozilla/testpilot/tree/master/locales/sl) and had to do a bit of digging and hacking to wire up some pieces.

For example, I had to add `sl` to the [`<meta name="availableLanguages"/>`](https://github.com/mozilla/te

[2016-10-30 21:12] dannycoates opened #1717 "An FTL first approach to l10n"
Our plan so far for localizing experiment strings is an extension to our yaml files, beautifully implemented by Chuck in #1708. It's a practical approach, but not without some limitations and annoyances. I know it's late to be proposing a different solution, but the discussion on Friday got me thinking more deeply about it.

Here I explore the concept of keeping our human visible strings in [FTL f

[2016-10-31 16:10] JohnA-S commented on #1623
Thank you all for being so on top of this issue. I've systematically gone through and disabled addons to see if any one particular one makes a difference. No single one stood out strongly. By the time Firefox Pilot was the only addon running, I was having less crashes/system restore issues but the browser became progressively slower and struggled more with any request. This was definitely the brow

[2016-10-31 16:29] chuckharmston commented on #1717
I'm totally open to this and appreciate the thought you put into it, but I don't really understand what this gets us:

I don't understand what the actual benefit here is. It's nicely modularized to have each experiment in its own file, but it's another HTTP request per experiment and we'd be forcing content managers (i.e. the people who work in YAML now) to use both YAML and FTL, and learn a new s

[2016-10-31 17:15] ghost commented on #1610
Reassigning to me.  I can't assign relud to this, apparently, but I've confirmed it's in his wheelhouse and he's just looking for time to do it.

[2016-10-31 17:22] jvehent commented on #1610
Allow me to share (privately) the good stuff: https://github.com/mozilla-services/cloudsec/blob/master/docs/cspreport.md

[2016-10-31 19:02] dannycoates commented on #1717
I think the real issue comes down to what's better for translators, which is not something I can answer. Forget how the ftl files come about (hand written, or generated) because we can easily go either way on that. The difference here is in what the translators will see.

With this approach they'll get a file per experiment with static keys and references:

[code]

With the other they'll get a sin

[2016-10-31 19:04] chuckharmston commented on #1717
Except that translators will be editing in-place in Pontoon, not in FTL files directly. Pontoon handles the FTL files for you:

<img width="1156" alt="screen shot 2016-10-31 at 1 03 58 pm" src="https://cloud.githubusercontent.com/assets/23885/19867730/93b057fe-9f6a-11e6-80b9-8b1431bd916f.png">

[2016-10-31 19:05] dannycoates commented on #1717
I know this. I've looked at the tool. The key names still play a roll in pontoon's ui

[2016-10-31 19:17] dannycoates commented on #1717
My point is that we're capable of generating either style. Let's do the best one for translators. I don't know which one that is though.

[2016-10-31 19:35] chuckharmston commented on #1717
The translators aren't the only audience; we also have content authors, who would need to learn a new format and edit across multiple files.

Can you provide any examples where doing it this way provides a better experience for translators? I still don't quite understand what you think the benefit to this is.

[2016-10-31 19:49] dannycoates commented on #1717
Forget this prototype, its an implementation detail. We _can_ also generate ftl in this format from yaml using `_l10nId` suffixes.

What I hear you saying is the key names don't matter because we're using pontoon. I'd like to hear that from someone who does translations.

I can't. If I did it'd be speculation. _I_ think it's better for technical reasons, but acknowledge them to be of lesser import

[2016-10-31 19:56] lmorchard commented on #1717
Copying my comments from IRC:

[2016-11-01 00:11] relud commented on #1593
this has been enabled in stage, please allow 15 minutes to propagate

[2016-11-01 16:17] #1717 closed, assigned to nobody

[2016-11-01 16:33] ghost commented on #1575
Loading these all preserve the query string for me:

https://testpilot.stage.mozaws.net/experiments/page-shot?test
https://testpilot.stage.mozaws.net/experiments/page-shot/?test
https://testpilot.stage.mozaws.net?utm_source=twitter&utm_medium=social&utm_campaign=share-page
https://testpilot.stage.mozaws.net/?utm_source=twitter&utm_medium=social&utm_campaign=share-page

What's a URL that loses the

[2016-11-01 16:43] ghost commented on #1575
Update: @relud just told me that the preserve-query-params flag is ON for stage but OFF for production.  If everything looks good on stage, we might just need to flip that in prod and be good.  Anyone have bad URLs on stage?

[2016-11-01 18:18] ckprice opened #1721 "Update mobile page copy, promote newsletter more, and add mobile badges"
Ty (a designer in marketing) made the following observation and suggestion

Ref

![mobile](https://cloud.githubusercontent.com/assets/8632184/19901605/de7a4dca-a024-11e6-938a-49f1928c2b33.jpg)

@johngruen to think about.

[2016-11-01 18:36] #1682 closed, assigned to dumptyd

[2016-11-01 19:21] chuckharmston opened #1723 "Remove short_title"
Does `short_title` need to exist? It doesn't seem like it's currently used [to do anything](https://github.com/mozilla/testpilot/search?utf8=%E2%9C%93&q=short_title).

[2016-11-01 19:47] relud commented on #1609
I'm silly and pasted the private one before. I revoked that. here's the public dsn for testpilot-prod https://51e23d7263e348a7a3b90a5357c61cb2@sentry.prod.mozaws.net/168

[2016-11-01 20:35] chuckharmston commented on #1340
Adding `needs:qa`, since there's a pretty large regression risk here.

SV team: all the English-language experiment content is now coming from a [generated localization file](https://testpilot.dev.mozaws.net/static/locales/en-US/experiments.ftl), rather than directly from the YAML. If there are any misgenerated IDs, the expected text content will by replaced with a string that looks something like

[2016-11-01 20:38] #1340 closed, assigned to chuckharmston

[2016-11-01 20:46] chuckharmston opened #1724 "Audit experiment YAML files, template, and documentation"
Now that we're localizing YAML content (#1340), we should audit and reconsider the experiment YAML files, template, and documentation with localization in mind. Some tasks:

- Ensure that all fields are currently being used (e.g. #1723)
- Do a better job delineating optional and required fields in the template and docs.
- Minimize the use of HTML in strings; this makes localization much more chall

[2016-11-01 21:38] #1627 closed, assigned to dannycoates

[2016-11-01 21:38] #1447 closed, assigned to lmorchard

[2016-11-01 21:38] #1551 closed, assigned to lmorchard

[2016-11-02 01:26] chuckharmston commented on #1690
@clouserw your patch doesn't seem to be working:

[code]

This is missing Pontoon from the CSP, and has `x-frame-options: DENY`

[2016-11-02 01:50] dannycoates commented on #1690
#1727 ought to fix it

[2016-11-02 03:11] chuckharmston commented on #1690
Confirmed:

[code]

[2016-11-02 03:11] #1690 closed, assigned to clouserw

[2016-11-02 12:22] SoftVision-PaulOiegas commented on #1701
Newsletter section correctly removed on dev server without affecting other page elements.

[2016-11-02 15:57] #1609 closed, assigned to fzzzy

[2016-11-02 19:07] jaredhirsch commented on #1334
Thanks for the feedback, @dannycoates. I'm rapidly running out of time, so it'll be Python for now ;-)

To Les's original question, we should be able to mock out browser APIs by assigning stuff (like `navigator.mozAddonManager` to the jsdom window. And we should be able to mock out addon-browser message passing by firing / listening for CustomEvents.

[2016-11-02 19:34] chuckharmston opened #1732 "Audit list of localized fields"
It's come to my attention that we don't want to localize experiment names.

@johngruen can you please check this list for comprehensiveness?

https://github.com/mozilla/testpilot/blob/master/frontend/tasks/util.js#L1-L11

[2016-11-02 19:43] ckprice commented on #557
Strings in the add-on will have to be localized ("View all experiments", "New experiment", etc) for our German launch in Q4. We recently landed a big localization PR (#1708), not sure if any of that touched the add-on, but pinging this issue in case it didn't. /cc @chuckharmston

[2016-11-02 19:45] johngruen commented on #1732
@chuckharmston thanks for filing...confirming with Winston.

[2016-11-02 19:48] johngruen commented on #1723
KILL IT WITH FIRE

[2016-11-02 19:48] johngruen commented on #1721
@ckprice this is what #672 is about

[2016-11-02 19:54] chuckharmston commented on #1732
@johngruen make sure you cross-reference with [the template](https://github.com/mozilla/testpilot/blob/master/docs/experiments/experiment-content/template.yaml), since not all the fields are currently in use by each experiment.

[2016-11-02 20:00] lmorchard commented on #1723
I think you asked for it, though, so we could have shorter titles in some UX elements like buttons & such :) But, if it's not handy, into the fire it goes!

[2016-11-02 20:19] johngruen commented on #1732
@chuckharmston In the mean time, I'm a little torn about the subtitle field. We're only using it for No More 404s an there's a definite non-localizable brand name in there, but the first half of the string is fine. We could either:
1. divide the string in two which is bad practice.
2. not localize it for now since it's not massively used.
3. maybe there's some dark arts where a non-localized subst

[2016-11-02 20:25] johngruen commented on #557
@chuckharmston @ckprice I will file a follow up when i hear final confirmation from Winston. We will probably hand localize the add-on via the SDK API for the near term and then figure out a better solution going forward.