[2017-12-05 15:44] SoftVision-PaulOiegas commented on #3093
They look about the right size now. I would say it's fixed. 👍

[2017-12-05 16:28] SoftVision-PaulOiegas commented on #3095
@youwenliang @johngruen This was implemented, but for me at least, the gradient looks awkward. I'm seeing it like strips of different colors instead of a smooth gradient. Are you guys sure that this is right? Tested on Windows 10 and Mac OS 10.11 and it looks the same on both.

The old implementation looked way better, and the colors were richer also. Now it looks kind of pale...

[2017-12-05 17:30] SoftVision-PaulOiegas commented on #3094
1. Font weight was changed but I see an extra row between the subtitle and install button which is not in the design.
2. Indentation applied and looks like in the designs.
3. There is some word wrapping for the privacy, but not as narrow as in the design

@youwenliang @johngruen  Are you ok with current implementation or you want to remove the extra row and narrow down some more the word wrapping?

[2017-12-05 17:33] SoftVision-PaulOiegas commented on #3095
John has already made a PR for this (#3132) so I'll mark this as verified.

[2017-12-05 18:21] fzzzy commented on #3127
Ok, stage is now fixed, and a new release with one more css commit, 2017-12-5, is on stage.

[2017-12-05 18:38] #3108 closed, assigned to nobody

[2017-12-05 18:38] meandavejustice commented on #3108
fixed in #3130

[2017-12-05 23:42] kitchen5203 opened #3133 "Pinterest Browser Button stopped working on both browsers"
I started preferring the Firefox reaction to my saves on Pinterest immediately, but at that point Pinterest seemed to stop allowing my use of Safari, and when I opened the New York Times and found important news I could save to several of my sites, but not Pinterest, because suddenly they didn't allow me to share using either browser, yet it recognizes me. What is that about? Is Pinterest causing

[2017-12-06 02:28] youwenliang commented on #3092
@johngruen Yes that's why I didn't try to fix this... the span is connected to the install button with different states.

[2017-12-06 02:34] youwenliang commented on #3094
Thanks for the notice, I'll take a look!

[2017-12-06 05:13] kovsk1 commented on #2617
Hi @pdehaan, I fixed the issue but Im having trouble committing it due to gitignore file is set to ignore frontend/buld directory. Can I modify gitignore or maybe there is another way to skip it?

[2017-12-06 10:04] SoftVision-PaulOiegas opened #3136 "Test Pilot Homepage lacks the CSS formatting"
**[Affected versions]:**
- Firefox 57.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to repr

[2017-12-06 10:15] SoftVision-PaulOiegas commented on #3108
Nicely fixed. 👍

![shutting down animation fix](https://user-images.githubusercontent.com/17258026/33656587-27b81996-da7f-11e7-8b76-77fb2f377eea.png)

[2017-12-06 10:18] SoftVision-PaulOiegas commented on #3061
Verification blocked because of #3136. Not sure what caused this, maybe even this fix since yesterday it was working fine?

[2017-12-06 10:24] SoftVision-PaulOiegas commented on #3133
Hi @kitchen5203 and thanks for your report. Is this issue related to Test Pilot and its experiments or with the Firefox browser itself? I'm asking this because this GitHub repository is designed for the Test Pilot platform only.
If the bug you mention is browser related only, then your issue must be filled in [Bugzilla](https://bugzilla.mozilla.org/enter_bug.cgi).

If your issue is indeed related

[2017-12-06 13:32] SoftVision-PaulOiegas opened #3137 "Experiment tour header wrongly says that experiment is enable even if Test Pilot and the experiment are not"
**[Affected versions]:**
- Firefox 57.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to repr

[2017-12-06 13:41] SoftVision-PaulOiegas opened #3138 "Experiment tour modals are displayed oversized on other browsers than FIrefox"
**[Affected versions]:**
- All major browsers except Firefox (tested Chrome, Opera, Safari and Edge).

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Steps to reproduce]:**
1. Open a browser different than Firefox and navigate to https://testpilot.dev.mozaws.net page.
2. Click on any of the active experiments cards (except Send one).
3. Click the "Launch Tour" button from und

[2017-12-06 14:20] SoftVision-PaulOiegas opened #3139 "[Responsive UI][Experiment details] The "Firefox Free Download" button for unsupported browsers is wrongly alligned to left on mobile view"
**[Affected versions]:**
- All major browsers except Firefox (tested Chrome, Opera, Safari and Edge).

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Steps to reproduce]:**
1. Open a browser different than Firefox and navigate to https://testpilot.dev.mozaws.net page.
2. Click on any of the active experiments cards (except Send one).
3. Resize the browser window until the pag

[2017-12-06 16:26] SoftVision-PaulOiegas commented on #3061
Stage was re-deployed and included this fix too. However, I must reopen this because the download animation mentioned by @Pekochen [here](https://github.com/mozilla/testpilot/issues/3061#issuecomment-347085917) was left behind...

[2017-12-06 17:16] ghost commented on #3126
there is a PR for this

[2017-12-06 17:25] pdehaan commented on #3136
Here's what I see in my Firefox Nightly DevTools (and Browser Console):

<img width="1439" alt="firefox_test_pilot_-_dev" src="https://user-images.githubusercontent.com/557895/33675116-5f15b95c-da66-11e7-8c35-1d0ef61c05ba.png">

<img width="1007" alt="browser_console_-2" src="https://user-images.githubusercontent.com/557895/33675424-5752f5a8-da67-11e7-83f2-96c0a82ef2f7.png">

---

And here's what

[2017-12-06 17:58] SoftVision-PaulOiegas commented on #3126
Think it's #3135.

[2017-12-06 18:04] lmorchard commented on #3136
Yeah, this sounds like the usual unresolved issue we've been having with dev deployments colliding - the HTML gets references to one set of JS & CSS with hashes in the URLs, meanwhile a different set actually deploys and so there are 404s

[2017-12-06 18:17] lmorchard commented on #3136
And it looks like a recent dev deploy fixed this. Expecting this will keep occurring, since we haven't been able to figure out what the cause is. We've put checks in place to wait for cache invalidation, serialize deployments, etc and nothing has solved it

[2017-12-06 18:17] #3136 closed, assigned to nobody

[2017-12-06 18:21] SoftVision-PaulOiegas commented on #3136
Would be helpful for us if you guys could double check at the end of your day that dev is loading properly after merges are performed on it. Otherwise we end up with 8 hours of work where we cannot test the Homepage. And that's a hell of a lost time... Especially when we are close to a new release.

[2017-12-06 22:44] #3121 closed, assigned to nobody

[2017-12-07 10:29] SoftVision-PaulOiegas opened #3140 "Experiment details page top part subtitle is wrongly aligned to left for some of the localizations"
**[Affected versions]:**
- Firefox 57.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- From Firefox Options > General > Language, add a supported language different than English (eg: German, Russian, Romanian, Dutch, etc) on a new profile.

**[Steps to reproduce]:**
1. Open Firefox browser with the profile from prerequisites and navigate to ht

[2017-12-07 12:56] SoftVision-PaulOiegas commented on #3074
Just an addition to the initial behavior. This also reproduces when having the browser on half the screen (22 inch monitor), after enabling and disabling Notes experiment.
![image](https://user-images.githubusercontent.com/17258026/33716290-490ddfce-db5e-11e7-88b3-504d2b2a9e06.png)

Also, if the browser window size is a bit more narrow, the next thing occurs:

![image](https://user-images.githubus

[2017-12-07 17:48] fzzzy commented on #3127
We did another release, 2017-12-6, which is on stage and prod now.

[2017-12-07 18:16] SoftVision-PaulOiegas opened #3142 "Experiment gets enabled and tour modal is displayed only when the install confirmation doorhanger is dismissed"
**[Affected versions]:**
- Firefox 57.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-

[2017-12-07 18:25] SoftVision-PaulOiegas commented on #3127
Stage and production both look ok. Just finalized production testing with a 95% pass rate. Will add tomorrow a full testing report for both and close this.

[2017-12-07 19:08] svitlana-galianova commented on #3006
Hi, I would like to try to help out here

[2017-12-07 19:52] #3117 closed, assigned to nobody

[2017-12-07 19:53] #3116 closed, assigned to nobody

[2017-12-07 19:55] #3120 closed, assigned to nobody

[2017-12-07 19:57] johngruen commented on #3092
@youwenliang can we close it?

[2017-12-07 23:03] fzzzy commented on #3142
I'm pretty sure this is the way things have to be going forward. Personally, I like it better.

[2017-12-07 23:04] fzzzy commented on #3006
@svitlana-galianova Go ahead -- you can ask questions here or on the irc channel #testpilot on the mozilla servers if you need help. Thanks!

[2017-12-07 23:09] meandavejustice opened #3144 "Update /frontend/tasks/styles.js to lint sass files in component directories"
and fix lint errors

https://github.com/mozilla/testpilot/blob/master/frontend/tasks/styles.js#L16

`config.SRC_PATH + '/styles/**/*.scss',` becomes `config.SRC_PATH + '/**/*.scss',`

[2017-12-07 23:28] ppatel221 commented on #3144
Hey im a student whos taking an Open-Source Development class at Seneca College. Im currently looking for a bug to fix. Is it okay if i work on this?

[2017-12-07 23:31] ppatel221 commented on #3013
Hey, Im a student who is taking an Open source development class at Seneca College and I'm currently looking to contribute to a project. Can I get started on this bug?

[2017-12-08 09:21] SoftVision-PaulOiegas commented on #3142
I know for sure this wasn't happening before our latest deploy and this is not how AMO website works for example.
You already confirm in the doorhanger that you want to add the add-on to the browser. The doorhanger that you need to dismiss on Test Pilot, acts just for page change to display that add-on was enabled and tour display. While the add-on is already installed and working in the back.

It

[2017-12-08 12:05] SoftVision-PaulOiegas commented on #3105
`opacity: 0` seems to be again set for all modals. It seems that some of the yesterday merges probably overlapped your change Donovan.
We are not blocked on QA side since we can manually change that in dev tools, but should be fixed as soon as possible.

[2017-12-08 12:13] SoftVision-PaulOiegas commented on #3117
@johngruen @youwenliang Looks good now, the only thing I see different is the "unsubscribe" word which is currently implemented as italic and in the designs is regular. Should we get this too on par with the designs, or we want to emphasize it?

[2017-12-08 12:22] SoftVision-PaulOiegas commented on #3117
One small addition, the round corners seem to be a bit pixelated.

![pixelated corners](https://user-images.githubusercontent.com/17258026/33765782-2df16ea2-dc23-11e7-88d5-77169bb62376.png)

[2017-12-08 14:57] SoftVision-PaulOiegas commented on #3116
Looking way better. 👍
@youwenliang Two things to mention:
1. The text seems to have a narrower designed space than on designs. The text in designs exceeds a bit the textbox or the button on the modal, while in current implementation is not.
2. The round corners are a bit pixelated.

![wlecome newsletter modals](https://user-images.githubusercontent.com/17258026/33771199-da5264ac-dc38-11e7-867c-0ab

[2017-12-08 15:19] SoftVision-PaulOiegas commented on #3120
Looks good and works as intended. 👍
Just as all the modals, the round corners are a bit pixelated. I think I'll log something separately for this.

[2017-12-08 16:12] SoftVision-PaulOiegas commented on #3137
Nope! it seems the issue was only fixed for other browsers than Firefox. I can still reproduce it on latest Nightly.

![image](https://user-images.githubusercontent.com/17258026/33774231-49b8f626-dc43-11e7-961b-f6ad054cd9e3.png)

[2017-12-08 16:16] SoftVision-PaulOiegas commented on #3138
Seems to be fixed. 👍

[2017-12-08 16:16] #3138 closed, assigned to johngruen

[2017-12-08 16:18] SoftVision-PaulOiegas commented on #3139
Fixed 👍

[2017-12-08 16:18] #3139 closed, assigned to johngruen

[2017-12-08 16:20] SoftVision-PaulOiegas commented on #3140
Fixed 👍

[2017-12-08 16:20] #3140 closed, assigned to johngruen

[2017-12-08 16:42] fzzzy commented on #3137
I noticed that too, and added a comment on the pr after it was merged with the fix:

https://github.com/mozilla/testpilot/pull/3141/files#diff-3ad85f3d55f77ea89a30b4fcf0fa0868R53

[2017-12-08 17:04] meandavejustice commented on #3144
@ppatel221 You sure can, let me know if you have any issues, I'm in the #testpilot irc channel as JSON_voorhees

[2017-12-08 17:06] meandavejustice commented on #3105
Sounds like the two issues we had in the past couple of weeks where css animations haven't been being applied correctly on the dev server.

[2017-12-08 17:12] meandavejustice commented on #3074
There isn't any real world scenario where a device is going to be switching resolutions while a user is viewing the site I can think of

[2017-12-08 17:16] lmorchard commented on #3001
Submitted PR #3143 for this. Still looking for input on styles, transitions, l10n

[2017-12-08 17:18] meandavejustice commented on #3092
Current Implementation LGTM

[2017-12-08 17:20] meandavejustice commented on #2617
@naperkovskiy The frontend/build directory is generated. You shouldn't need to commit any files into that directory. Wanna post a git diff or patch into a [gist](https://gist.github.com/) and we'll take a look?

[2017-12-08 19:19] fzzzy commented on #3105
@meandavejustice Yes, it is the same issue, and @johngruen said he would fix it. We finally figured out the root cause, which is that the animation is not getting included in the generated css file. It needs to be converted into a mixin (I think)

[2017-12-08 19:39] meandavejustice commented on #3126
fixed in #3135

[2017-12-08 19:39] #3126 closed, assigned to meandavejustice

[2017-12-08 19:43] meandavejustice commented on #875
This appears to be fixed now, probably in #1714 woohoo!

![whatever](https://user-images.githubusercontent.com/1844554/33782283-16a9a54a-dc26-11e7-9520-290906dad6a4.png)

[2017-12-08 19:43] #875 closed, assigned to ScottDowne

[2017-12-08 21:38] johngruen commented on #3105
Yeah, root cause was cssNano changing keyframe names for the gulp part of our styles, and not getting picked up by webpack.

#3146 fixes this

[2017-12-09 18:04] kovsk1 commented on #2617
@meandavejustice Sure, here is a link to gist. I put the change that I did in the comment.
https://gist.github.com/naperkovskiy/cab36258200e32715bd5a249f1af3ec4

[2017-12-11 10:02] SoftVision-PaulOiegas commented on #3105
Just checked and it seems fixed again. 👍

[2017-12-11 10:02] #3105 closed, assigned to fzzzy

[2017-12-11 10:19] SoftVision-PaulOiegas commented on #3074
Well, as I've said above, it's enough just to have the browser on half screen. Windows allows you to do this this very easy, you just need to press "Windows" key + "Left arrow" or "Righ arrow" depending on the side where you want it. If you do this while having the sidebar opened (bookmarks, Notes, Vertical Tabs, etc) and you are on the experiment details page, this issue occurs.

Here is a screen

[2017-12-11 10:35] SoftVision-PaulOiegas commented on #875
@meandavejustice This still occurs on experiments details page on Windows 10 Edge browser.
![image](https://user-images.githubusercontent.com/17258026/33827075-b5dd1e76-de6f-11e7-9238-de7b293890b0.png)

[2017-12-11 16:55] SoftVision-PaulOiegas opened #3147 "Experiments cards do not auto update with "Enabled" label when experiment is enabled from another tab"
**[Notes]:**
- **This does not reproduces when experiment is disabled. Cards are correctly auto-updated when disabling the experiment.**

**[Affected versions]:**
- Firefox 57.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.requ

[2017-12-11 17:10] SoftVision-PaulOiegas opened #3148 "[UI] All website modals have pixelated corners instead of perfectly round"
**[Notes]:**
- This issue occurs on every modal from the website.

**[Affected versions]:**
- Firefox 57.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true"

[2017-12-13 16:44] SoftVision-PaulOiegas opened #3149 "The experiment tour modal is missing the "Enabled" green label and should only contain experiment name in header"
**[Affected versions]:**
- Firefox 57.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-

[2017-12-13 20:25] kovsk1 commented on #2617
@meandavejustice I have fixed the issue in the correct file now and created a pull request. Let me know if it is what you were looking for. Thanks

[2017-12-14 10:39] SoftVision-PaulOiegas commented on #3067
Seems to be fixed, duno why it's still open.

[2017-12-14 10:39] #3067 closed, assigned to nobody

[2017-12-14 15:01] SoftVision-PaulOiegas commented on #2720
And now it's ok again... Closing until it comes back. 😄

[2017-12-14 15:01] #2720 closed, assigned to nobody

[2017-12-14 15:18] SoftVision-PaulOiegas commented on #3127
Testing results

## New issues: ##
1. ~~#3136 - Test Pilot Homepage lacks the CSS formatting **(major)**~~
2. #3137 - Experiment tour header wrongly says that experiment is enable even if Test Pilot and the experiment are not
3. ~~#3138 - Experiment tour modals are displayed oversized on other browsers than Firefox **(normal)**~~
4. ~~#3139 -[Responsive UI][Experiment details] The "Firefox Free Do

[2017-12-14 15:18] #3127 closed, assigned to nobody

[2017-12-14 17:09] SoftVision-PaulOiegas opened #3151 "Entering in Full Screen mode with "F11" key is not working over the experiment "Tour" modal"
**[Notes]:**
- This issue occurs both with or without Test Pilot add-on installed.
- The issue occurs also when the modal is displayed after enabling the experiment.
- The "Full Screen" button from browser menu works perfectly over the problematic modal.
- The "F11" key Full Screen functionality correctly works over all the other modals.
- Here is a screen recording of the issue https://goo.gl/GBG

[2017-12-18 16:05] #3059 closed, assigned to nobody

[2017-12-18 17:09] johngruen commented on #3151
I think the modals consume basically all keypresses.

[2017-12-18 17:16] #3147 closed, assigned to nobody

[2017-12-18 17:16] ghost commented on #3148
"I'm very sorry."  --@johngruen

[2017-12-18 17:17] ghost commented on #3144
@ppatel221 are you working on this?  Do you have any questions?

[2017-12-18 17:21] ghost commented on #3142
@andymckay -- is this working as intended?  (We're basing this on the promise from mozaddonmanager).  If so, we'll wontfix, just want to make sure since the behavior is different from AMO.

[2017-12-18 17:22] #3133 closed, assigned to nobody

[2017-12-18 17:27] #2808 closed, assigned to nobody

[2017-12-18 18:41] andymckay commented on #3142
It might be good to check what promise or events TestPilot is listening to. I think it would be better not to depend upon the dialog being clicked because I can imagine users can navigate away without clicking OK and triggering the end state. Probably to ask @aswan from the Firefox side or @tofumatt from the AMO side as to how it works there.

I checked in about:addons and it doesn't exhibit this

[2017-12-18 18:47] tofumatt commented on #3142
This is exactly how `mozAddonManager` works on AMO; the events we listened to in the past that would allow a "silent" install (or at least one with zero user interaction after `mozAddonManager.install()` was called) now forces the user to confirm installation with the list of permissions.

I'm not a huge fan of the UX either but it is a change Firefox has made for installs using `mozAddonManager`

[2017-12-18 18:48] andymckay commented on #3142
@tofumatt if you watch the video though, I think its about the second door hanger, the one that confirms the install happened where a user clicks OK. The "enable" button doesn't change state till they click OK.

[2017-12-18 18:56] aswan commented on #3142
You should be able to listen to the onInstalled event.  That event should fire at the same time the post-install notification is displayed so you can update the button at that time (note that onInstalled is a global event so its a little gross but you'll need to make sure its actually an event for the extension you care about and not some other extension).
I'm pretty sure we deliberately made the

[2017-12-18 20:14] lmorchard commented on #2951
Starting to take a look at this. First impression was this is working as expected - until I noticed when it was filed, at which point the news (not yet 2 weeks old) *should* have still been showing up. Will investigate

[2017-12-18 21:17] lmorchard commented on #2951
Hmm, actually, I was unable to reproduce a problem for this issue. This is what I tried:

* Created recent news items on my local dev machine, both with `major: true` and without. The dialog and news update section appeared as expected.

* Set my clock back in time to October 17 and visited testpilot.dev - the news update section appeared as expected.

* The section on testpilot.dev disappeared as

[2017-12-18 21:17] #2951 closed, assigned to lmorchard

[2017-12-18 21:23] meandavejustice opened #3152 "Restructure MainInstallButton to be more friendly to mocking and testing"
also need to add much more indepth stories as a part of this.

[2017-12-18 23:41] meandavejustice commented on #3042
poking around at this is seems like `handleSubmit` isn't being called because of #1891, at least locally. If I set an `onClick` handler instead I can get the message to show up, although it appears that it lost it's style (probably in a refactor).

This is what it looks like now
![newsletter-form-privacy-checkbox-notification](https://user-images.githubusercontent.com/1844554/34133449-9d1ef368-e44

[2017-12-19 10:35] SoftVision-PaulOiegas commented on #3059
Hammered it a bit, but seems to be fixed. 👍

[2017-12-19 10:39] SoftVision-PaulOiegas commented on #3147
Wontfix - as decided in the triage meeting.

[2017-12-19 12:09] SoftVision-PaulOiegas commented on #3061
Reopening this since the download icon animation requested by Peko Chen is still missing and @johngruen confirmed via Slack that it should be added back.

[2017-12-19 22:57] #3151 closed, assigned to meandavejustice

[2017-12-20 00:06] meandavejustice commented on #1716
I actually do this for min vid, https://github.com/meandavejustice/min-vid/blob/master/bin/locales

here is the url which should be used for fetching the testpilot locales https://l10n.mozilla-community.org/webstatus/api/?product=testpilot&json&type=complete

This isn't quite `good-first-issue` but it's close, maybe a good second or third issue :)

[2017-12-20 00:10] meandavejustice commented on #1828
Still seeing a little weirdness on edge as of today.

(edge is on the right)
![rendering-issue-edge](https://user-images.githubusercontent.com/1844554/34184871-1f844a06-e51a-11e7-84e1-c1474a03bf4c.png)

Here is some discussion on the issue, https://github.com/l20n/l20n.js/pull/116

We can maybe close this as it is an upstream bug, thoughts?

[2017-12-20 00:23] meandavejustice commented on #1935
Unless I am misunderstanding this issue it appears that this may have actually gotten worse, the `about` page text is in english as well as the footer links.

(spanish footer on home page)
![spanish-footer](https://user-images.githubusercontent.com/1844554/34185188-de6ea190-e51b-11e7-9df8-ee25253e6b32.png)

(about page after clicking link in spanish footer)
![english-about-page](https://user-image

[2017-12-20 00:30] meandavejustice commented on #2504
This has become a much more accessible issue since @lmorchard took care of adding types to the experiment page, marking as `good-first-bug`.

There are comments showing a guideline in both `View` and `LayoutWrapper`.

https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/View/index.js#L119
https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/LayoutWra

[2017-12-20 00:41] meandavejustice commented on #2617
closed in #3150 thanks again @naperkovskiy

[2017-12-20 00:41] #2617 closed, assigned to nobody

[2017-12-20 00:55] meandavejustice commented on #2819
This is a really cool idea but lower on our priority list, would probably be a good issue for a contributor that has taken on a `good first issue` and looking for a larger task with a mentor.

[2017-12-20 00:56] meandavejustice commented on #2889
This was fixed, this functionality is in [StepModal](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/StepModal/index.js)

[2017-12-20 00:56] #2889 closed, assigned to nobody

[2017-12-20 00:57] meandavejustice commented on #2897
assigning myself now that this has moved to `stretch` and since it doesn't seem to be hit by our users too much.

[2017-12-20 00:59] meandavejustice commented on #2925
This is interesting, I talked with some people on AMO that have been wrestling with server side rendering in react, I wonder if we could pick their brains on this and see if we can reuse some of their efforts here.

[2017-12-20 01:04] meandavejustice commented on #3013
@ppatel221 Go for it :) I've updated the title to indicate what needs to be done now, feel free to ping us if you have any questions.

(sorry for the delayed response)

[2017-12-20 01:07] meandavejustice commented on #3152
Should also take care of #3106 as a part of this

[2017-12-20 08:57] SoftVision-PaulOiegas commented on #3151
Working ok now on Windows and MacOS. 👍

[2017-12-20 09:47] SoftVision-PaulOiegas commented on #1935
@meandavejustice Based on our GitHub files, it seems that the "[About Test Pilot](https://github.com/dannycoates/testpilot/tree/33b66515a35ed51dc48ceda81f9133ac456b1b9f/compiled-templates/about)" page is only translated to [en-US]. And the "[Privacy](https://github.com/dannycoates/testpilot/tree/33b66515a35ed51dc48ceda81f9133ac456b1b9f/compiled-templates/privacy)" and "[Terms](https://github.com/d

[2017-12-20 16:47] #3014 closed, assigned to fzzzy

[2017-12-20 21:51] kovsk1 commented on #2504
Hi, can I try to help out with this issue?

[2017-12-21 01:37] meandavejustice commented on #2504
@naperkovskiy That'd be great.

You can run the flow check with `npm run flow` and see flow coverage with `npm run flow-coverage`. Ping me if you have any questions :)

[2017-12-21 06:22] pdehaan opened #3154 "Errors when trying to run 'npm run lint' on fresh clone"
I have a fresh clone of the testpilot repo and get the following errors after doing an `npm install` and `npm run lint`:

[code]

I did manage to update a few dependencies and get it working, but just trying to remember exactly what steps I took...

[code]

Plus I made the following tweaks by adding some `// @flow` comments in some files:

[code]

That still left me with a few minor formatting err

[2017-12-21 07:58] ChenMorpheus commented on #3003
@meandavejustice @chuckharmston Sorry for the pretty late reply. Yes, my thought works exactly like Dave said. Please find the link below and interact with the install button for reference, and sorry that it should be a tour there. If it's not an easy task to implement, Chuck's solution works as well. Let me know if any questions, thanks.

https://mozilla.invisionapp.com/share/QCCPNI3YZ#/258957338

[2017-12-21 08:05] ChenMorpheus commented on #3042
@meandavejustice The style would work like the incorrect email in a red bubble. Find the link below and navigate to the bottom of the measurement.

https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Photonized_Txp_Website_Final/#artboard8

[2017-12-21 16:56] SoftVision-PaulOiegas opened #3156 "Settings button looses the increased opacity if hovered away while its menu is opened"
**[Affected versions]:**
- Firefox 57.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-

[2017-12-21 19:08] meandavejustice commented on #3003
@ChenMorpheus I went with @chuckharmston's solution after seeing how difficult passing that state to experiment details would have been. We would have to refactor a ton of stuff on that page, it seems like current behavior (chuck's suggestion) works well.

We can revisit it of course though

[2017-12-21 20:34] lmorchard opened #3157 "Release 2017-12-21 on stage"
Tagging one more release for the year and pushing to [stage](https://testpilot.stage.mozaws.net/)

https://github.com/mozilla/testpilot/compare/2017-12-6...2017-12-21

[2017-12-21 21:28] #2696 closed, assigned to nobody

[2017-12-21 21:28] #2998 closed, assigned to meandavejustice

[2017-12-21 21:28] #2999 closed, assigned to meandavejustice

[2017-12-21 21:28] #3000 closed, assigned to meandavejustice

[2017-12-21 21:28] #3002 closed, assigned to meandavejustice

[2017-12-21 21:28] #3003 closed, assigned to meandavejustice

[2017-12-21 21:28] #3072 closed, assigned to meandavejustice

[2017-12-21 21:28] #3149 closed, assigned to meandavejustice

[2017-12-21 21:35] meandavejustice opened #3158 "Legal modal dialog isn't always launched from featured experiment section"

[2017-12-21 21:49] pdehaan opened #3159 "Other experiments render funny locally if you have a featured experiment"
### With no `is_featured: true` experiments:

<img width="1440" alt="firefox_test_pilot1" src="https://user-images.githubusercontent.com/557895/34276304-aa3400e2-e655-11e7-8dee-f142ed5b96f8.png">

---

### With one `is_featured: true` experiment:

<img width="1440" alt="firefox_test_pilot2" src="https://user-images.githubusercontent.com/557895/34276284-8c20a5f6-e655-11e7-875a-7695c451fdfa.png">

[2017-12-21 21:51] pdehaan commented on #3159
This is tricky... Not sure if we should make the dev-only **Dev Example** experiment featured, so we can verify UI on testpilot.dev.mozaws...

---

Conversely, let's just set **Notes** or **Send** to be featured for the next deploy and test out this fancy new UX w/ real users.

[2017-12-22 03:03] marvinsanchez1 commented on #3144
@meandavejustice I'm interested in this bug if the person above doesn't fix the issue :)

[2017-12-22 12:05] shikhar-scs commented on #3156
@SoftVision-PaulOiegas I would have loved to work on this issue however I fail to see a settings button I dont why
![settings](https://user-images.githubusercontent.com/25258877/34297482-68f31e08-e73e-11e7-8315-846b6c786d03.png)

[2017-12-22 12:43] SoftVision-PaulOiegas commented on #3156
@shikhar-scs And you won't find it ever if you visit https://testpilot.dev.mozaws.net trough Google Chrome browser. 😄  The Test Pilot platform is only for Firefox browser users.

Also, if you will visit it from Firefox, first you'll need to set several prefs for the dev server, in the browser "about:config" page:
`extensions.legacy.enabled = true`
`xpinstall.signatures.required = false`
`testpilot

[2017-12-22 12:51] shikhar-scs commented on #3156
I'm really sorry @SoftVision-PaulOiegas I didn't notice that.
I'll configure my firefox accordingly and revert back as soon as possible.

[2017-12-22 12:52] SoftVision-PaulOiegas commented on #3156
No problem, and thanks for your involvement. let me know if I can help you with any other details. I'm one of the QA's for the platform.

[2017-12-22 15:59] shikhar-scs commented on #3156
@SoftVision-PaulOiegas
Just now I've downloaded `the firefox developer edition` and configured it accordingly as was required by the above configs.
Next, I set up testpilot as was given [https://github.com/mozilla/testpilot/blob/master/docs/development/quickstart.md](https://github.com/mozilla/testpilot/blob/master/docs/development/quickstart.md). Also after setting up I ran all the necessary comm

[2017-12-22 19:55] pdehaan opened #3160 ""Settings" menu is missing on legal+about pages"
Found in 17c86e7b049c78b8cbebdfef1fa46801d99183f4

[code]

---

### Steps to reproduce:
1. Go to homepage; https://testpilot.dev.mozaws.net/.
    **Note:** The header area shows "News Feed", "Blog" and "Settings" (if you have add-on installed).
1. Go to about page; https://testpilot.dev.mozaws.net/about (via the footer).
    **Note:** The header area shows no subnav.
1. Go to Privacy page; https:/

[2017-12-22 20:52] pdehaan opened #3161 ""Welcome to Test Pilot" on homepage takes up too much vertical space"
Found in 17c86e7b049c78b8cbebdfef1fa46801d99183f4

[code]

---

### Steps to reproduce:

1. Go to https://testpilot.dev.mozaws.net/ (without add-on installed)
1. Go to https://testpilot.dev.mozaws.net/ (WITH add-on installed)

### Actual results:

Using 378px of vertical space to say "Welcome to Test Pilot" seems a bit excessive.

<img width="1439" alt="firefox_test_pilot_1" src="https://user-imag

[2017-12-22 23:24] pdehaan opened #3162 "Funky rendering of featured experiments if undefined video_url"
Per https://github.com/mozilla/testpilot/pull/3114#issuecomment-353461457

I checked the 5 active experiments (and the dummy "Dev Example" experiment), and the only two experiments that didn't render correctly are:
- [Snooze Tabs](https://github.com/mozilla/testpilot/blob/master/content-src/experiments/snooze-tabs.yaml)
- [Min Vid](https://github.com/mozilla/testpilot/blob/master/content-src/exper

[2017-12-23 10:22] shikhar-scs commented on #3156
@SoftVision-PaulOiegas mind helping a bit?

[2017-12-23 14:12] fzzzy commented on #3156
@shikhar-scs Mozilla is closed until the new year, so we probably won't be fast to respond until then.

If you type `ping example.com` does it resolve to 127.0.0.1? Make sure your /etc/hosts file has a line mapping example.com to 127.0.0.1 and it is being used so that when you type example.com in the browser, it resolves to 127.0.0.1.

Also, you can try viewing `https://127.0.0.1:8000/` to make su

[2017-12-23 14:26] shikhar-scs commented on #3156
@fzzzy Ohk I'll try all of that and see what can be done. And any queries now, I'll post them after the new year then.

[2017-12-23 15:49] shikhar-scs commented on #3156
Typing it in the console of the directory -> yes it does happen

Error loading page always, which i guess, means that the server is not listening :(
Lets discuss this after the new year.

[2017-12-26 20:24] meandavejustice commented on #3144
Thanks for the interest @msanchez5, this was just fixed in #3155.

[2017-12-26 20:24] #3144 closed, assigned to nobody

[2017-12-29 14:21] SoftVision-CosminMuntean commented on #3157
We have finalized testing the stage server. Here are the testing results:

**New issues:**
- No new issues

**Known issues:**
#3137 - Experiment tour header wrongly says that experiment is enable even if Test Pilot and the experiment are not
#3142 - Experiment gets enabled and tour modal is displayed only when the install confirmation doorhanger is dismissed (normal)
#3042 - [Newsletter] Notificat

[2017-12-30 14:14] mgaudet opened #3169 "Visiting site in iOS Firefox shows errror message"
... instead of saying “can’t install test pilot extensions on iOS”

[2018-01-02 13:51] shikhar-scs commented on #3156
@SoftVision-PaulOiegas If you are back, can we continue here please

[2018-01-03 15:28] SoftVision-PaulOiegas opened #3170 "Tour modal images are wrongly displayed zoomed in on other browsers than Firefox"
**[Affected versions]:**
- Chrome Version 63.0
- Microsoft Edge 40.15063
- Safari 11.0.2
- Opera 49.0

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- A different browser than Firefox (Chrome, Safari, Opera, Edge) was already installed/extracted on the machine

**[Steps to reproduce]:**
1. Open a different browser than Firefox and navigate to https://testpi

[2018-01-03 16:24] SoftVision-PaulOiegas commented on #3149
Tour modals were correctly updated and now look like designed. 👍

[2018-01-03 20:44] lmorchard commented on #3157
Going to consider this QA:verified and deploy to production

[2018-01-03 21:01] lmorchard commented on #3157
[And it looks like this release has finished deploying](https://testpilot.firefox.com/__version__)

[2018-01-03 21:12] Mithilan16 commented on #3111
Hi! I am student looking to become more involved in the open-source community. Can I take this issue?

[2018-01-03 21:14] chuckharmston commented on #3111
Hi @Mithilan16! Very excited that you'd like to help out, but unfortunately this is likely not a great first issue on this project. It's large and requires a deep knowledge of our architecture and codebase.

I'd suggest perusing this site of curated issues good for contributors to see if anything strikes your fancy: https://contribute.testpilot.firefox.com/

Best!

[2018-01-04 12:14] SoftVision-PaulOiegas commented on #3156
Let's see. I just did the setup for local environment on my Windows and works. Here are he steps that I performed:
1. Clone the repo with `git clone https://github.com/mozilla/testpilot.git`.
2. Change directory to testpilot folder `cd testpilot`.
3. Change directory to addon folder `cd addon`.
4. Run `npm install` and `npm run package` commands.
5. Return to testpilot folder `cd ..`
6. Run `npm i

[2018-01-04 12:33] SoftVision-PaulOiegas commented on #3160
That was by design as far as I remember. We never had the settings button on the pages from footer. But yeah, it could be an improvement if you guys consider them to be useful on those pages.

On dev the news feed and blog buttons are already there, only the settings button is missing.

[2018-01-04 12:39] SoftVision-PaulOiegas commented on #3162
Yeah, those 2 don't have video presentations and I bet there won't be any for old experiments. Probably showing some image with the functionality would be nice.

[2018-01-04 12:49] shikhar-scs commented on #3156
@SoftVision-PaulOiegas I followed almost all these steps as it is (making minor changes as I work on ubuntu ) however still I am getting the following
![screenshot from 2018-01-04 18-16-15](https://user-images.githubusercontent.com/25258877/34564086-6422105e-f17b-11e7-98b5-db354a5dd830.png)

I've tried `https://127.0.0.1:8000` `localhost:8000` `https://example.com:8000/` and even `https://0.0.0.0:

[2018-01-04 13:16] johngruen commented on #3162
I agree, using an image would be a good fallback here.

[2018-01-04 13:17] johngruen commented on #3169
I'm seeing this too. Per our support matrix we should be supporting FXiOS

[2018-01-04 13:57] fzzzy commented on #3169
Yes, this has been a bug for a long time. What happens is that we see that the browser is Firefox, but then mozAddonManager is not available, so we get confused about that.

[2018-01-04 14:11] johngruen opened #3172 "Changing content requires killing server and restarting"
This is probably a dev papercut only, but as i add new items to the news feed, i notice things like assets and URLs getting out of step with the news item and/or news items not showing up at all.

Not sure if this is to do with gulp/webpack getting into a fight, but i figured i'd file anyway since it's a bit of a nuisance.

## STR
1. start the server locally
2. add a new item to the `news_updates.

[2018-01-04 14:14] SoftVision-PaulOiegas commented on #3156
I'll retry the setup on Ubuntu myself and let you know.

[2018-01-04 14:15] SoftVision-PaulOiegas commented on #3169
Dupe of #2642

[2018-01-04 14:17] shikhar-scs commented on #3156
Yeah sure

Also lookup if this might be a cause

[2018-01-04 14:26] SoftVision-PaulOiegas commented on #3156
Those attributes have the following roles:
`-p` = starts browser with profile window
`-no-remote` = allows multiple instances of the browser to be opened with different profiles. You can work without those, but we are using them since we usualy create multiple profiles daily,

[2018-01-04 15:07] SoftVision-PaulOiegas commented on #3156
Works ok on my Ubuntu 16.04 LTS. The steps are a bit different, so here we go:

1. Open a new terminal window and clone the repo with `git clone https://github.com/mozilla/testpilot.git`.
2. Change directory to testpilot folder `cd testpilot`.
3. Change directory to addon folder `cd addon`.
4. Run `npm install` and `npm run package` commands.
5. Return to testpilot folder `cd ..`
6. Run `npm insta

[2018-01-04 15:10] SoftVision-PaulOiegas commented on #3156
One more thing, be sure you have latest `git` and `npm` installed before you try to clone the repo.
You can get them with `sudo apt-get install git` and `sudo apt-get install npm`. Otherwise you'll probably get some errors that might affect the setup.

[2018-01-04 15:12] shikhar-scs commented on #3156
Yeah all of that has been there since the beginning.

[2018-01-04 15:16] SoftVision-PaulOiegas commented on #3156
Good, then you please delete the previous clone of testpilot repo and redo it from scratch with the last provided steps and let me know if it's ok.

[2018-01-04 15:39] shikhar-scs commented on #3156
Ok Ill do that tomorrow,currently I am a bit occupied ... Thanx for all the help anyways ☺️

[2018-01-04 16:01] #3099 closed, assigned to b4handjr

[2018-01-04 16:12] ghost opened #3174 "Set notes as the featured experiment"
Set notes as the featured experiment

[2018-01-04 16:30] ghost opened #3176 "Do something with our Frame Scripts"
As part of our departure from bootstrap, we need to do something with this:

Maybe we can just drop this?  Why do those pages need to know about Test Pilot?

[2018-01-04 16:38] ghost opened #3177 "Figure out if we need install/uninstall tracking for test pilot add-ons"
This is still using bootstrap:

Do we still need this?

[2018-01-04 17:11] lmorchard commented on #3176
Folks (I forget who) wanted snippets on about:home to be tailored / filtered on whether or not the user was participating in Test Pilot. That way, we could promote joining Test Pilot to users without, or promote the latest experiment for users with.

There's code currently in snippets JS logic that looks for this navigator property, though I seem to have lost the link in my browser history. Whethe

[2018-01-04 17:28] ghost opened #3178 "Drop File System access"
This is left over from our bootstrap days.  Let's get rid of it.

[2018-01-04 17:31] ghost opened #3179 "Drop our bootstrap code for telemetry pings"
We ping for overall metrics as well as to be a proxy for other web extensions.  We should drop the bootstrap parts of this, but we need to finish https://bugzilla.mozilla.org/show_bug.cgi?id=1280234 first

[2018-01-04 17:31] ghost opened #3180 "Drop bootstrap prefs reading/writing code"
This is bootstrap-y:

[2018-01-04 17:34] ghost opened #3181 "Drop startup deferral code"
In bootstrap:

With all the web extension improvements, hopefully this isn't a thing that we need to do manually anymore?

[2018-01-04 17:34] ghost opened #3182 "Drop nsIObserver"
From bootstrap:

[2018-01-04 17:35] ghost opened #3183 "Drop BroadcastChannel"
From bootstrap:

[2018-01-04 17:50] lmorchard commented on #3183
This will be blocked on graduation of Snooze Tabs, which still uses this channel for Telemetry

[2018-01-04 17:51] lmorchard commented on #3182
Not sure if anything is using this any more - the last experiment I remember using it was (I think) containers. I seem to remember Min Vid was using it, but stopped at some point?

[2018-01-04 17:52] lmorchard commented on #3180
I think this is a thing we can just drop. If I understand recent changes to Telemetry correctly, these pref changes won't be respected for us anyway in the near future

[2018-01-04 17:53] lmorchard commented on #3179
Yeah, this should be replaced with a WebExtension Experiment API that offers Telemetry access. (Or an actual in-product API for Telemetry in WebExtensions, if such a thing lands first)

[2018-01-04 17:54] lmorchard commented on #3178
This can probably go away safely, since I doubt we have (m)any users left using the add-on SDK version of Test Pilot needing to upgrade to the post-SDK version.

[2018-01-04 18:00] lmorchard commented on #3177
[We send a count of enabled experiments in the daily Telemetry ping](https://github.com/mozilla/testpilot/blob/master/addon/src/webextension/lib/metrics.js#L116). If we stop needing that, we can stop tracking installs / uninstalls. Or, if there's a way to count installed experiments from a WebExtension, we could do that instead - though I don't know how to do this off the top of my head.

[2018-01-04 18:01] #3098 closed, assigned to lmorchard

[2018-01-04 18:20] lmorchard commented on #3176
Here we go, this repo search on mozmeao/snippets-service seems to point to the implementation for about:home - maybe we could send a PR to remove it if nothing is using it:

https://github.com/mozmeao/snippets-service/search?utf8=%E2%9C%93&q=test+pilot&type=

As for mozilla.org sites, I don't know if it's in use or has ever been used

[2018-01-05 01:55] odanobunaga1534 opened #3193 "Firefox Test Pilot don't work"
I used to use something new in test pilot project, but now I have a problem.
I'm running Firefox 58.0b13, but once I browse to https://testpilot.firefox.com  It always show me "Something is wrong" and lead me to here for bug report.
Plz help me, THX.

[2018-01-05 02:36] marvinsanchez1 opened #3194 "Broken link on Development Quickstart"
Broken link on [Reference to L9 on Quickstart](https://github.com/mozilla/testpilot/edit/master/docs/development/quickstart.md#L9).
Also, I tried to follow the instructions and I think the instructions needs to be updated for [For Windows hosts](https://github.com/mozilla/testpilot/edit/master/docs/development/quickstart.md#L93-L120)?
similarly on [2. Install the DevPrefs](https://github.com/mozil

[2018-01-05 07:22] ChenMorpheus commented on #3162
@johngruen @SoftVision-PaulOiegas We can quickly grab what we have to create two images for these. Let me check with Fang for help.

[2018-01-05 09:41] fangshih commented on #3162
Hey guys, here are the images. Let me know if it works, or you need any other pages for it.

**Mid Vid**
![image_midvid](https://user-images.githubusercontent.com/4862573/34603574-65253976-f23f-11e7-9eb1-f6048c7f3f44.png)

**Snooze Tabs**
![image_snooze](https://user-images.githubusercontent.com/4862573/34603576-6555cdde-f23f-11e7-81a8-d32bab41470f.png)

**Image assets:**
https://github.com/mozill

[2018-01-05 09:59] SoftVision-PaulOiegas commented on #3193
Hi @odanobunaga1534 and thanks for your report. This behavior usually occurs if something that Test Pilot needs, was changed on the profile by the user or a 3rd party application.

Can you please navigate to `about:support` page, copy the data with one of the two buttons from top left and paste it here? The data from the page will help us find out if you have any add-ons or changed preferences tha

[2018-01-05 10:05] SoftVision-PaulOiegas commented on #3162
@johngruen is the one to decide here. Just one opinion from me. Maybe having Min Vid over a lighter background would be better. It looks a bit clogged with all the writing behind.

[2018-01-05 11:02] himanish-star commented on #2843
@CHBaker you still working on this ? Or can I fix this

[2018-01-05 11:16] himanish-star commented on #2695
I would like to fix this issue. May I ?

[2018-01-05 11:28] SoftVision-PaulOiegas commented on #3194
Yes, they need to be updated. I have just configured yesterday the environment on Windows 10 and Ubuntu 16.04LTS and mentioned the proper steps in a different bug (#3156). I'll see with the dev team how they want the file to be updated.

[2018-01-05 13:55] SoftVision-PaulOiegas commented on #3193
Thanks for the reply. Can you please navigate to `about:config` page and change the `privacy.resistFingerprinting.block_mozAddonManager` pref to `false`?
 The Test Pilot website uses "mozAddonManager" and this pref blocks it. Probably it was modified along the way with some changes on your machine since it's default value should be `false`.

[2018-01-05 14:21] odanobunaga1534 commented on #3193
WoW  I can't believe how effective you are.

Thanks for your advice, it works now.
I changed the value of mozAddonManager because I want to use extensions on
mozilla's domain, I even don't know how to browse pages without gesture
add-on.

Anyway, thanks for your help again. ^^

-----------------------------------------------------
Sent from Wen's Nokia 3310

溫執侑

2018-01-05 21:55 GMT+08:00 Softvis

[2018-01-05 14:33] SoftVision-PaulOiegas commented on #3193
No problem, glad I could help you. 😃 Have a nice day!

[2018-01-05 14:33] #3193 closed, assigned to nobody

[2018-01-05 14:46] vikramnr commented on #2695
@himanish-star  I'm not working on this. :+1:

[2018-01-05 15:43] johngruen opened #3196 "There is no relationship between the test pilot or any add-on being installed and the test pilot UI"
## STR

1. Install Test Pilot
2. Go to an experiment page

## Expected
The ui should reflect that test pilot is installed

## Actual
it does not

This bug appears to affect Test Pilot quite globally and has significant bad effects on Test Pilot UX

here's a video demonstrating the bad state on both the test pilot home page and experiment pages.

https://www.dropbox.com/s/0zmlafmlk7uezld/bad-state-

[2018-01-05 15:49] meandavejustice commented on #3162
I agree with the having an image as a fallback.

We shouldn't need to add images for Min Vid or Snooze Tabs unless we plan to make them featured experiments (which seems unlikely at this point)

[2018-01-05 16:06] SoftVision-PaulOiegas commented on #3196
@johngruen Check `about:addons` page and look for TxP add-on. I have a feeling it appears as disabled. Which means you forgot yo set `extensions.legacy.enabled` to `true`.

[2018-01-05 16:11] johngruen commented on #3196
@SoftVision-PaulOiegas No effect there, though i can install from stage/dev now :)

[2018-01-05 16:12] johngruen commented on #3196
You can see in the video that the add-on is active.

[2018-01-05 16:21] SoftVision-PaulOiegas commented on #3196
Yeah, my bad, thought you were testing on dev / stage. The stage server seams unaffected, same for dev. So it's something related to the production server only.

The stranger part is that if I install the stage xpi, change the `testpilot.env` pref back to production, the production website correctly works. So it might be something with the production xpi.

[2018-01-05 16:42] johngruen commented on #3196
@fzzzy @lmorchard the issue here appears to be as follows:

@fzzzy ~~landed some new add-on~~ removed polling code recently that checks the `testpilot.env` pref. This pref is not explicitly set by the add-on in production, but the new code expects it to be there. We didn't observe this in dev/stage b/c in those contexts the pref must be set explicitly.

I can fix this bug by explicitly adding `tes

[2018-01-05 16:49] lmorchard commented on #3196
That explanation isn't quite right, still investigating... thing is, [we *removed* polling code](https://github.com/mozilla/testpilot/commit/95c0462e8773112c5edfd8026ffbce66f76c1cdb) and the web front end doesn't have access to check prefs at all.

The presence or absence of the pref does seem to trigger the bug, but still looking into the mechanism.

[2018-01-05 19:07] lmorchard commented on #3196
To fix production for now, we've rolled back to [release 2017-12-6](https://github.com/mozilla/testpilot/releases/tag/2017-12-6). Also committed [a revert for the polling code cleanup](https://github.com/mozilla/testpilot/pull/3197), which seems to address the issue but we're not sure what the underlying cause is yet

[2018-01-05 19:07] #3196 closed, assigned to nobody

[2018-01-05 19:45] lmorchard commented on #3180
Oh, wait, there's a pref unrelated to Telemetry that we still use: `testpilot.env`

If / when we lose access to prefs, we need some other mechanism for deciding which environment the add-on should use. Maybe settings in about:addons? I think we avoided that at first because we didn't want to make the setting easily discoverable

[2018-01-06 10:24] grahamperrin commented on #2827
Thanks, I switched to Waterfox (and locked lesser-used Firefox to 56.0.2).

[2018-01-08 03:12] fangshih commented on #3162
Hey @SoftVision-PaulOiegas  I do have a lighter version of it. I'll upload to [here](https://github.com/mozilla/testpilot-assets/blob/master/Test_Pilot_Website/%233162_experiments_video_image/image-midvid-light.png)
 as an option.

[2018-01-08 05:05] CHBaker commented on #2843
Oh, I thought I already pushed it but I guess I forgot... sorry about that. yeah **you can take it** @himanish-star

[2018-01-08 07:25] SoftVision-PaulOiegas commented on #2827
No problem. Also, you should definitely try Firefox 57 (Firefox Quantum). It's a whole new browser with a faster engine and lot's of good stuff.

[2018-01-08 14:34] grahamperrin opened #3199 "content not loading with Firefox in safe mode"
User agent, reported by <https://udger.com/resources/online-parser>:

`Mozilla/5.0 (X11; FreeBSD amd64; rv:56.0) Gecko/20100101 Firefox/56.0`

With (slightly outdated) Firefox 56.0.2 in safe mode I get only the sky, and the fox in its spacecraft:

![2018-01-08 14 33 09 firefox test pilot - mozilla firefox](https://user-images.githubusercontent.com/192271/34675282-07c8a670-f481-11e7-865d-302cfa589c

[2018-01-08 14:35] grahamperrin commented on #2827
Done, thanks.

Is there a plan to make the site work with Firefox ESR 52.x?

[2018-01-08 16:13] kovsk1 commented on #2504
Hi @meandavejustice

I think I have implemented FlowTypes to the View component but when I do "npm run flow" command I keep getting these errors.

frontend/src/app/components/View/index.js:5
  5: import ReactDOMFactories from 'react-dom-factories';
                                   ^^^^^^^^^^^^^^^^^^^^^ react-dom-factories. Required module not found

frontend/src/app/components/View/index.js:6

[2018-01-08 16:29] SoftVision-PaulOiegas commented on #2827
Well, this won't happen soon since the next release(s) are still based on Fx 52.x. However I can tell you for sure that there will be an ESR 59 or 60 launched and this will come only somewhere in quarter 2 (between April and June).

The Test Pilot website does not work on ESR since there were some major changes in the later Firefox releases that affected the website (especially for Quantum). Those

[2018-01-08 16:56] fzzzy commented on #3180
Would it be acceptable to have the pref in about:addons if we just label it as "for development of testpilot use only"?

[2018-01-08 17:07] SoftVision-CarmenFat opened #3201 "Old Firefox logo is displayed on the feedback survey"
[Affected versions]:
- Firefox Developer Edition 58.0b14
- Firefox Nighlty 59.0a1 (01/08/2018)
- Min-Vid Shield Study Onboarding 0.4.7-dev (built on 01/08/2018)

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Latest Min-Vid v.0.4.7 Shield Study Onboarding was previously installed on a clean profile.

[Steps to reproduce]:
1. Open the browser with the profile from pre

[2018-01-08 17:08] SoftVision-CarmenFat commented on #3201
Wrong repo, sorry!

[2018-01-08 17:08] #3201 closed, assigned to nobody

[2018-01-08 17:10] lmorchard commented on #3172
Took me a few tries to actually realize I was reproducing this issue. Seems like it's weirder than a gulp/webpack thing.

The server *does* successfully rebuild the JSON data for news items on changes to news_updates.yaml. It does *not* seem to rebuild the static /news page HTML with updates. So, when the page loads, React should update the DOM with fresh news items.

However, it looks like React

[2018-01-08 17:17] chuckharmston opened #3202 "Use real content in component stories"
In the contribute site, I use the actual site content [to make stories](https://github.com/chuckharmston/testpilot-contribute/blob/master/src/components/project-intro/stories.js#L16-L18). Let's do that for Test Pilot to make our storybooks more representative of the site.

[2018-01-08 17:35] marniepw commented on #3102
@youwenliang is this something you can own?

[2018-01-08 17:43] johngruen commented on #3169
Hey @mgaudet we are gonna fix this one this week, but we'll track it in #2642.

[2018-01-08 17:43] #3169 closed, assigned to nobody

[2018-01-08 17:45] marniepw commented on #3001
@johngruen talk about at Design meeting.

[2018-01-08 17:47] lmorchard commented on #3024
Oh hey, this is done!

[2018-01-08 17:47] #3024 closed, assigned to lmorchard

[2018-01-08 17:49] chuckharmston commented on #3039
Fully blocked on #3001, unassigning until that lands.

[2018-01-08 18:45] pdehaan commented on #3119
Not sure if something like [**eslint-plugin-only-warn**](https://www.npmjs.com/package/eslint-plugin-only-warn) would be useful here.

At least it may stop any build-busting ESLint errors as we swap out base ESLint config rules.

[2018-01-08 19:01] meandavejustice commented on #3042
This is what the email submit error notification currently looks like:
![email-notification-error](https://user-images.githubusercontent.com/1844554/34687213-f6d74892-f4a5-11e7-9577-fceeeeca383f.png)

This is a screenshot from the mockup you linked:
![email-notification-mockup](https://user-images.githubusercontent.com/1844554/34687305-3375b950-f4a6-11e7-9585-7fd226a98ae2.png)

Would you like me t

[2018-01-08 20:11] #3170 closed, assigned to nobody

[2018-01-08 20:45] lmorchard commented on #3172
Further investigation: Although the news feed page HTML is getting rebuilt on YAML changes, it's getting rebuilt with stale content cached in memory by the gulp task. However, the JSON used by React gets rebuilt with fresh content. So, the server-side static HTML ends up with old content, while the client-side React components try to render new content on top.

Since we upgraded to React 16, [serv

[2018-01-08 21:10] lmorchard commented on #3172
FWIW, even though this mainly looks like a dev papercut, I'm spending some time digging into this because I worry it *could* end up being a prod issue. (e.g. when some time-based thing changes markup on the client that differs enough from the server to cause breakage on the page because React gets confused)

[2018-01-08 21:15] lmorchard opened #3205 "Do something with /__cspreport__ on local dev server"
On every page load with the local dev server, we get one more more of these logged in the console:
[code]
These are also reported in the JS console, so this isn't something crucial we're missing IMO. But it might be nice to either do something with these POSTs or at least squelch the 404 noise

[2018-01-08 22:20] lmorchard commented on #3172
Gave up on futzing with caching in gulp and just nuke server-side DOM in a PR. Seems like that may head off some worse problems in the future that might occur in production.

[2018-01-09 03:46] ChenMorpheus commented on #3042
@meandavejustice Sorry that I am a little bit confused. I thought these two warning boxes would not appear at the same time like this:

![image](https://user-images.githubusercontent.com/18019946/34703994-03627538-f531-11e7-8203-53419f12b8da.png)

My understanding is if user unchecks the checkbox and inputs an incorrect email address as well, we would show checkbox warning until the user checks it

[2018-01-09 06:35] youwenliang commented on #3102
@marniepw sure I'll take a look. I might break this up into several github issues.

[2018-01-09 08:40] johngruen commented on #2867
TODO: figure out what CTA for installed users should be

[2018-01-09 08:46] johngruen commented on #3001
@ChenMorpheus this design causes overlapping issues with the CTA button, we need to revise.

[2018-01-09 08:48] johngruen commented on #3039
I am gonna go ahead an close this, and let's use #3001 to track everything

[2018-01-09 08:48] #3039 closed, assigned to nobody

[2018-01-09 10:34] SoftVision-PaulOiegas commented on #3170
Seems to be ok now. 👍

[2018-01-09 11:42] SoftVision-PaulOiegas commented on #3199
Hi @grahamperrin and thanks for your report. Can you tell me exactly on what browser and what OS are you experiencing this?
I'm asking this because, testing on official Firefox 56.0.2 release using Safe Mode on Ubuntu 14.04 and Windows 10, I'm not experiencing this issue.

Also tried Tor browser and Waterfox. While Waterfox is working properly, on Tor browser the Test Pilot website is not working

[2018-01-09 12:44] SoftVision-PaulOiegas commented on #3137
Fixed along the way. Closing as it's correctly working. 👍

[2018-01-09 12:44] #3137 closed, assigned to johngruen

[2018-01-09 12:52] SoftVision-PaulOiegas commented on #3156
@shikhar-scs Have you managed to setup the dev environment?

[2018-01-09 14:38] SoftVision-PaulOiegas opened #3207 "[Share page] Sharing link textbox no longer has a surrounding border"
**[Affected versions]:**
- Firefox 57.0.4 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to repr

[2018-01-09 14:47] shikhar-scs commented on #3156
This went off my mind completely, sorry for that. I'll do this ASAP and report here.

[2018-01-09 15:20] fzzzy opened #3209 "Commit package-lock.json files."
Now that we upgraded to node 8, we need to commit the package-lock.json files. It should be done in a branch and pr by itself, so that it is easy to review, and doesn't pollute someone else's unrelated branch.

[2018-01-09 16:49] johngruen commented on #3102
assigning this one @youwenliang will break it down!

[2018-01-09 16:52] fzzzy commented on #3119
Thanks @pdehaan. I just squelched the error result in our code.

[2018-01-09 16:53] meandavejustice commented on #3160
notes from #3164

    - added news feed and blog links to header of legal pages
    - still doesn't add settings/submenu when logged in on these pages,
    not sure if this is necessary.

adding a `needs:UX` tag to see if the setting/submenu is neccessary on these pages

cc/ @johngruen @ChenMorpheus

[2018-01-09 18:12] meandavejustice commented on #3042
@ChenMorpheus I was referring to the placement and style of the Error message in the first screenshot I posted. With the text "There was an error submitting your email address. Try again.". It's above the form and centered in the footer section with a white background.

I'm going to leave it alone for the time being and only address the privacy-notice checkbox error notification. If the "error sub

[2018-01-09 19:31] #3172 closed, assigned to nobody

[2018-01-09 22:31] fzzzy commented on #3119
Getting off the airbnb config was a big enough change as it is; I'll open a new bug to update the dependencies.

[2018-01-09 22:35] fzzzy opened #3219 "Update our dependencies"
Now that the airbnb eslint config has finally been swapped out for the mozilla-central config, it will be easier to update some of the dependencies that were resisting updating.

[2018-01-10 06:18] youwenliang opened #3220 "Experiment onboarding modals should not have "enabled" label"
There's an enabled label on the top left corner of the modal, which should not be there.
![image](https://user-images.githubusercontent.com/8919308/34758193-f87dd5fa-f610-11e7-8bc2-8ea8624fec79.png)

[2018-01-10 06:22] youwenliang opened #3221 "Checkbox style should follow design system"
As title.

Normal mode
Current:
![image](https://user-images.githubusercontent.com/8919308/34758409-983f4240-f611-11e7-9d4e-a425dbd7bd56.png)

Spec:
![image](https://user-images.githubusercontent.com/8919308/34758422-a73f7364-f611-11e7-96d4-a4bd171dda7e.png)

Dark mode
Current:
![image](https://user-images.githubusercontent.com/8919308/34758248-40d546c6-f611-11e7-8d53-78db733c9611.png)

Spec:
![im

[2018-01-10 06:28] youwenliang opened #3222 "Experiment page button style & CTA bar color"
There are some new updates on the buttons style on the top right corner, and CTA bar color (Voice Fill is enabled)

Current:
![image](https://user-images.githubusercontent.com/8919308/34758645-8b5607c0-f612-11e7-9847-b682b45e9117.png)

Spec:
![image](https://user-images.githubusercontent.com/8919308/34758620-697cb75c-f612-11e7-8414-3c83b1f2ce67.png)

Full spec: https://mozilla.github.io/testpilot-

[2018-01-10 06:33] youwenliang opened #3223 "Update new get-started illustrations for non-testpilot user"
There are three new illustrations for the get started section

Current:
![image](https://user-images.githubusercontent.com/8919308/34758721-036b9630-f613-11e7-8be8-8639855cf4d7.png)

Spec:
![image](https://user-images.githubusercontent.com/8919308/34758724-09526880-f613-11e7-9a53-60c5a5aba75b.png)

Assets:
https://github.com/mozilla/testpilot-assets/blob/master/Test_Pilot_Website/01_Measurements/P

[2018-01-10 06:36] youwenliang opened #3224 "New Experiement Card measurements"
Current implementation:
![image](https://user-images.githubusercontent.com/8919308/34758829-9f91f658-f613-11e7-899d-afd259a292f4.png)

Spec new design:
![image](https://user-images.githubusercontent.com/8919308/34758824-98e5c0d2-f613-11e7-9e6a-e13c728e778e.png)

Full spec here: https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Photonized_Txp_Website_Final/#artboard2

An

[2018-01-10 06:41] youwenliang opened #3225 "New Photonized Footer design based on AMO"
Should update the footer design.

Spec:
![image](https://user-images.githubusercontent.com/8919308/34758955-4b660ad2-f614-11e7-8bdc-73e67a88a456.png)

Link:
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Photonized_Txp_Website_Final/#artboard2

[2018-01-10 06:44] youwenliang opened #3226 "New Menu style for mobile view"
Currently, all the header links will disappear in mobile view, here a new proposal in the design spec for mobile menu (turn into hamburger menu):

![image](https://user-images.githubusercontent.com/8919308/34759048-b06bbd64-f614-11e7-8f83-5fddc5670127.png)

Full Spec here:
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Photonized_Txp_Website_Final/#artboard11
https:/

[2018-01-10 06:46] youwenliang commented on #3102
@johngruen I broke this issue into 6 different parts, should be a better way to start.
#3221
#3222
#3223
#3224
#3225
#3226

[2018-01-10 08:02] shikhar-scs commented on #3156
@SoftVision-PaulOiegas tried twice, sadly the same window shows up , the screenshot in the comment above. I'll move on to some other issue rather :+1:

[2018-01-10 09:28] ChenMorpheus commented on #3160
@meandavejustice @pdehaan You can refer to #2867 for the prototype, but I created an overview below as well. The reason we decided to remove the settings was to move them to the footer to keep it consistent with the current Firefox websites, such as AMO, Mozilla, etc. I saved the options which we want to promote, or which can introduce some significant information in the header to attract more use

[2018-01-10 09:31] ChenMorpheus commented on #3001
@johngruen We'll come up with a proposal which doesn't have a bar.

[2018-01-10 09:45] ChenMorpheus commented on #2867
@johngruen We could simply not provide CTA for installed users, ie. remove the "file a bug" in the detail page below.
![group 3](https://user-images.githubusercontent.com/18019946/34765984-ec13dcf2-f62d-11e7-965a-c4556cc395c5.png)

[2018-01-10 10:10] ChenMorpheus commented on #3042
@meandavejustice Sorry that I didn't make myself clear. I meant we should follow the style of the red bubble we provided for both "please check the checkbox if you want to proceed" and "There was an error submitting your email address. Try again." since this is specifically defined [here](https://design.firefox.com/photon/components/input-fields.html) in Design System. They will look like the scre

[2018-01-10 15:17] SoftVision-PaulOiegas commented on #3220
Hmmm, then we wrongly understood this storybook design (#3149)?
There was a design that had no "Enabled" string in it [here](https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Component_20171003/#artboard0), which is mandatory. And there was a Storybook deploy for Tour that had the "Enabled" label. So combining the received design with the storybook deploy, I thought it

[2018-01-10 15:36] #3119 closed, assigned to fzzzy

[2018-01-10 16:05] SoftVision-PaulOiegas commented on #3222
The bar was green before Photonization. Why did we changed it in the first place? 😕

[2018-01-10 16:08] SoftVision-PaulOiegas commented on #3223
@youwenliang One suggestion here. If we are targeting especially the non-firefox users, why not moving the Firefox download button above the illustrations.  You cannot "Get Test Pilot add-on" until you have Firefox installed in the first place.

[2018-01-10 16:10] SoftVision-PaulOiegas commented on #3224
Wasn't the card size issue discussed before and everyone agreed that they seem too narrow in the designs?

[2018-01-10 18:54] lmorchard opened #3228 "Refine .eslintrc rules for node vs browser JS"
As @pdehaan [mentions](https://github.com/mozilla/testpilot/pull/3211#discussion_r160494717):

We've got a pretty broad set of globals and envs covering all of our JS for linting, right now. But, some JS is for the build chain in node and some are for running in the browser. Might be nice to use per-directory & file glob eslint overrides to further focus what's allowed for various source files.

[2018-01-10 18:57] lmorchard commented on #3228
Marking this as a good first issue in JS, because I think it could be tackled without a ton of deep knowledge into Test Pilot. Mainly just know-how in using eslint and some time spent exploring the repo

[2018-01-10 19:22] #3048 closed, assigned to johngruen

[2018-01-10 19:23] meandavejustice commented on #3042
@ChenMorpheus Yeah that makes sense, I'll file a separate issue for that message

[2018-01-10 19:25] meandavejustice opened #3229 "Update style for error message in newletter footer to match mockups"
context https://github.com/mozilla/testpilot/issues/3042#issuecomment-356557146

Error message in newsletter footer still looks like:

![](https://user-images.githubusercontent.com/1844554/34687213-f6d74892-f4a5-11e7-9577-fceeeeca383f.png)

when it should look like:

![](https://user-images.githubusercontent.com/18019946/34703994-03627538-f531-11e7-8203-53419f12b8da.png)

[2018-01-10 20:32] #3088 closed, assigned to nobody

[2018-01-11 06:48] youwenliang commented on #3223
Actually, the "get-started" message is also showing for non-testpilot users, not just non-firefox users. I agree with you but I don't think that's a big problem, the button here is just another reminder to download firefox since there's already a download button on the top of the page.

(This is the main download button)
![image](https://user-images.githubusercontent.com/8919308/34811918-64560b6c-

[2018-01-11 15:54] SoftVision-PaulOiegas commented on #3223
Yeah, it has been there for 2 years now. 😃 Anyway, it was just a UX suggestion that would apply only for non-firefox users since we will be working on that section soon.

[2018-01-11 16:25] SoftVision-CosminMuntean opened #3231 "The "Notes" privacy link from "Featured experiment" section is not working if Notes is not enabled"
**[Affected versions]:**
- Firefox 57.0.4 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to repr

[2018-01-11 16:47] SoftVision-PaulOiegas commented on #3048
Uuuu, finally fixed. 👍

[2018-01-11 19:13] chuckharmston opened #3232 "Navigation events are not being logged"
When we moved away from a single page app, we did not account for this change in the way we log navigation events. They aren't being sent to Google, since the browser navigation is preventing the request from firing off.

[2018-01-11 19:33] johngruen opened #3233 "Test Pilot thinks it's installed when it isn't"
# STR
Uninstall test pilot from about:addons and go to testpilot.dev.mozaws.net. The site thinks test pilot is installed.

[2018-01-11 19:58] johngruen opened #3234 "Featured experiments UI lacks event reporting"

[2018-01-11 19:59] johngruen opened #3235 "Add a CD for which breakpoint a user is in when actions are performed"

[2018-01-11 19:59] johngruen opened #3236 "Clicking on the Firefox logo should have an event"

[2018-01-11 20:03] fzzzy commented on #3233
Close about:addons and then testpilot thinks it is uninstalled. This has been a longstanding issue that the addons manager keeps reporting that the addon is installed while the "undo" ui is visible.

[2018-01-11 20:46] johngruen opened #3237 "Confirm all events and make sure they're documented"

[2018-01-11 20:46] johngruen commented on #3233
ah, got it.

[2018-01-11 20:46] #3233 closed, assigned to nobody

[2018-01-11 20:46] johngruen opened #3238 "Documented add-on events are not firing"

[2018-01-11 20:47] johngruen commented on #3237
- cancel from permissions is a thing, and needs to be documented
- accept from permissions is a thing, needs to be documented

[2018-01-11 20:47] johngruen opened #3239 "Add a CD for the experiment slug"
there are a whole bunch of events for which this would be a great sorting mechanism.

[2018-01-11 20:56] johngruen opened #3241 "Add an event when a user clicks on the newsfeed link"

[2018-01-11 20:57] johngruen commented on #3241
[code]

[2018-01-11 20:59] johngruen commented on #3232
I don't think this always true...i am seeing events while clicking on experiment cards

[2018-01-12 07:31] ChenMorpheus commented on #3222
@SoftVision-PaulOiegas So sorry about changing it again. We changed the color to the defined green in the Design system and followed the CTA button color to make it consistent. Besides, the original teal color would confuse users with the color of Voice Fill. Please find the link for more details, thanks.
https://design.firefox.com/photon/visuals/color.html

[2018-01-12 07:56] ChenMorpheus commented on #3224
@SoftVision-PaulOiegas  If I recall correctly, I remembered John told us it was too narrow and UX team didn't have time to fix that since it was too close to release date. Hence, we said, "let's scale it up for now, and Peko will provide a refined version to replace the temporary change." And this one is the refined version. @johngruen Please correct me if I am wrong, thanks.

[2018-01-12 10:45] SoftVision-PaulOiegas commented on #3222
I see. Thanks for clarification.

_Goes back to TestRail to update the testcase color._ 😄

[2018-01-12 10:47] SoftVision-PaulOiegas commented on #3224
Could be, lots of changes occurred back then, so I probably missed this bit. Thanks for clarification! 👍

[2018-01-12 14:00] johngruen commented on #3238
@chuckharmston it occurs to me that we should be getting a good proxy for these events through the utm params in the links generated by the toolbar button

[2018-01-12 14:01] johngruen commented on #3221
@youwenliang you want the checkbox string to overflow the width of the form?

[2018-01-12 14:33] SoftVision-PaulOiegas commented on #3221
@johngruen I think he was actually referring to the checkbox design.
1. For the modal it should be a blue checkbox with a white check mark when selected (spec).
2. For the in page Newsletter it should be a "purple" checkbox with white border and a white check mark (spec).
Also, for the in page Newsletter, the font must have a bit of transparency if I'm seeing well.

[2018-01-12 14:55] johngruen opened #3242 "Do not redirect to the experiment details page after installing the featured experiment"
When the user finishes the featured experiment tour, the homepage should update to match the state and leave the user there. Do not redirect to the experiment page

[2018-01-12 14:57] johngruen opened #3243 "inconsistent Enabled icon and color"
@ChenMorpheus can we get a bit more consistency here...

featured experiment:
<img width="188" alt="screen shot 2018-01-12 at 3 55 58 pm" src="https://user-images.githubusercontent.com/3323249/34880581-2eb44a04-f7b1-11e7-981b-40260b7dabb5.png">

experiment card:
<img width="190" alt="screen shot 2018-01-12 at 3 56 02 pm" src="https://user-images.githubusercontent.com/3323249/34880584-3284befc-f7b1

[2018-01-12 15:01] johngruen opened #3244 "Do not include featured experiment in homepage card lists"
This should apply to Test Pilot both with and without add-ons installed.

[2018-01-12 15:01] johngruen commented on #3244
the featured experiment card should still appear on experiment detail page card lists.

[2018-01-12 19:52] #3219 closed, assigned to fzzzy

[2018-01-14 17:25] grahamperrin commented on #3199
[code]

Strangely, I can no longer reproduce the issue with any profile that's used by Firefox.

[2018-01-14 17:25] #3199 closed, assigned to nobody

[2018-01-15 12:39] SoftVision-PaulOiegas commented on #3199
Great, thanks for further investigating this. Glad it doesn't occur anymore.
Have a nice week!

[2018-01-16 02:58] Pekochen commented on #3243
Hi @johngruen
Our final featured experiment page design would be green label design which is the same style as experiment card. you can see the screenshot here
![2018-01-16 10 48 38](https://user-images.githubusercontent.com/8252151/34969836-c52095cc-faab-11e7-96ce-99bf100dd255.png)

[2018-01-16 07:53] ChenMorpheus commented on #3221
@johngruen @SoftVision-PaulOiegas We created both light and dark mode for various components, including primary/default buttons, checkbox, etc. That's why the box here has two versions of the dark and light background. It's under discussion to collect these defined dark mode components into Design System so that all Firefox websites with dark background could follow our elements afterward.

I don'

[2018-01-16 10:28] johngruen opened #3250 "Compress all SVGs"
And document that this should be done before committing.

[2018-01-16 10:36] johngruen commented on #3001
@ChenMorpheus any progress here?

[2018-01-16 10:47] johngruen opened #3251 "Extreme loading jank on dev and local"
This might be on my machine or something, but maybe @SoftVision-PaulOiegas can verify.

## STR
1. Have Test Pilot Installed and have the Notes experiment enabled
2. Go to `testpilot.dev.mozaws.net`

## Result
The state of the featured experiment first shows up as Test Pilot not being installed, then rerenders as the featured experiment installed state.

## Expected
The right state is rendered firs

[2018-01-16 10:48] johngruen commented on #3251
Note that the featured experiments section is not the only issue...icons as well as page content seems to flicker in and out randomly as the page loads.

[2018-01-16 11:12] #3174 closed, assigned to johngruen

[2018-01-16 11:34] johngruen commented on #3044
Fixed

Obviated by #3225

Fixed, grudgingly.

Wontfix...all caps is bad for l10n

appears to be resolved now

appears to be resolved now

I object to the text overflow, also this is tracked through #3221

Tracked through: #3042

I can see the barberpole here, apparently this is resolved

fixed

[2018-01-16 11:38] johngruen commented on #3251
I can think of some easy CSS hack ways to fix this, by setting animation delays and fading in the `view` component, but i suspect what's going on here is to do with react lifecycle issues.

[2018-01-16 12:09] BallerStaller opened #3253 "Test Pilot does not work with Windows 10 Mobile"
Unfortunately the Test Pilot is not working with W10m. Unfortunately Firefox does not work on W10m. Is there a solution?

[2018-01-16 13:14] SoftVision-PaulOiegas commented on #3251
Obtained a bit different results on our end. For us, only the experiment appears as not enabled for ~1 second on an old iMac (late 2009) and almost not visible on a Windows 10 machine.

Here are the screen recordings:
- MacOS 10.13 with 1 tab opened only - https://goo.gl/bRdZcW
- MacOS 10.13 with multiple tabs opened - https://goo.gl/SSkTGU
- Windows 10 x64 1 tab & multiple tabs - https://goo.gl/g

[2018-01-16 13:45] SoftVision-PaulOiegas opened #3254 "Add back the "enabled!" string on enabled experiment tour modal header"
**[Notes]:**
- This was removed in #3149 along with adding the "Enabled" label. It seems that I wrongly understood the designs and this should return to the old implementation. The label was already removed in #3220.

**[Affected versions]:**
- Firefox 57.0.4 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added

[2018-01-16 13:47] SoftVision-PaulOiegas commented on #3220
The removal of the label was implemented but we forgot to add back the "enabled!" string. Filled separately #3254 for this.

[2018-01-16 13:47] #3220 closed, assigned to nobody

[2018-01-16 14:13] SoftVision-PaulOiegas commented on #3222
Both bar and buttons were changed to match the designs. However, the vertical size of the green bar seems to be off by 4px (32 vs 36).

@youwenliang is this ok with you or it should be 36px?

[2018-01-16 14:20] SoftVision-PaulOiegas commented on #3223
The illustrations were correctly changed. 👍

[2018-01-16 14:20] #3223 closed, assigned to nobody

[2018-01-16 16:02] johngruen commented on #3251
Okay, I'd like to see if other ppl can repro this at all. I'll test on new profiles and VMs on my machine.

[2018-01-16 16:25] johngruen commented on #3251
Here are some more examples of the issue on my Win10 VM. Shows the problem with both the homepage and experiment details page

Ed. Removed b/c the gifs don't actually show anything (probably to do with trying to screencapture from a mac app into the vm)...will add new ones soon.

Ed. 2 Here's a a screen recording showing both cases https://www.dropbox.com/s/8u7uhtmh1gk8s2l/the-flicker.mov?dl=0

[2018-01-16 19:08] johngruen commented on #1489
We have this now with feature experiments

[2018-01-16 19:08] #1489 closed, assigned to nobody

[2018-01-16 19:13] johngruen commented on #1828
@SoftVision-PaulOiegas can you confirm this on latest edge?

[2018-01-16 19:15] johngruen commented on #3222
I'm going to assume that since mark both filed the issue and made the PR that this is cool

[2018-01-16 19:15] #3222 closed, assigned to nobody

[2018-01-17 09:16] SoftVision-PaulOiegas commented on #1828
@johngruen The original boxes were replaced now by some other weirdness as mentioned in Dave's screenshots. These are displayed on every experiment details page after launch date and experiment name.

![extra characters on edge](https://user-images.githubusercontent.com/17258026/35034734-d0414574-fb77-11e7-88bb-de65066743ee.png)

[2018-01-17 09:20] johngruen commented on #1828
@dannycoates has a fix for this on Send, we should consider implementing the same:

https://github.com/mozilla/send/issues/476

[2018-01-17 09:21] Pekochen commented on #3001
@johngruen Here is our revised version. We remove the background indtead of small button.So that we can avoid overlapping issue.please have a look.Thanks
![photon-style-revides_featured-experiment_txp-sticky-banner](https://user-images.githubusercontent.com/8252151/35034776-3fdafa92-fbaa-11e7-9a32-f493e0b2cd5d.png)
Measurement and assets:
https://mozilla.github.io/testpilot-assets/Test_Pilot_Websi

[2018-01-17 11:02] SoftVision-PaulOiegas commented on #3044
There is only 1 difference that is still visible:
- The "We will only send you Test Pilot-related information." message is aligned to center (implementation) vs to left (design).
Should start together with the "Sign Up Now" button

The rest are fixed or have a different approach now. 👍

[2018-01-17 12:22] SoftVision-PaulOiegas commented on #3044
And of course, the Twitter and GitHub buttons from footer must be changed to round ones instead of squares. But I think those are tracked elsewhere if I'm not mistaking.

[2018-01-17 16:38] SoftVision-PaulOiegas opened #3255 "The "Featured Experiment section" for non-Firefox user misses the availability parenthesis"
**[Affected versions]:**
- Chrome
- Opera
- Safari
- Edge

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Steps to reproduce]:**
1. Open a browser other than Firefox and navigate to https://testpilot.dev.mozaws.net page.
2. Observe both the Firefox download buttons and the elements that accompany them from top and bottom of the page.

**[Expected result]:**
- Both the buttons

[2018-01-17 16:43] fzzzy commented on #2946
We're just going to put this off for an indeterminate amount of time, for now.

[2018-01-17 16:58] fzzzy commented on #1828
@johngruen Thank you very much for the link to danny's fix. It looks pretty simple:

`var ctx = new fluent.MessageContext('${locale}', {useIsolating: false});`

See this page for details on these characters: https://en.wikipedia.org/wiki/Bi-directional_text#Unicode_support

FSI is the 'First Strong Isolate' character. PDI is the 'Pop Directional Isolate' character. Presumably, useIsolating: false

[2018-01-17 17:10] fzzzy commented on #1828
I submitted an untested pr which might fix it -- can someone with easy access to Edge test it?

[2018-01-17 20:42] #3044 closed, assigned to johngruen

[2018-01-17 21:32] Mithilan16 commented on #3228
Hi! Can I take this issue?

[2018-01-18 09:12] SoftVision-PaulOiegas commented on #3228
Hi @Mithilan16 Go for it! 👍

[2018-01-18 18:03] #3209 closed, assigned to fzzzy

[2018-01-18 20:33] johngruen commented on #3251
Note that this seems to be limited to local env, but there's still a little flicker on dev.

[2018-01-18 20:53] #2642 closed, assigned to chuckharmston

[2018-01-18 21:36] lmorchard opened #3262 "/__version__ on testpilot.dev.mozaws.net has blank properties"
We use this script to produce `/__version__` on the CircleCI build that goes to dev:

https://github.com/mozilla/testpilot/blob/master/bin/circleci/build-version-json.sh

However, as of the last build to dev, the properties in that file came out blank (look under "Build addon and frontend" and search for `cat version.json`):

https://circleci.com/gh/mozilla/testpilot/7061

My guess is that the swi

[2018-01-18 21:37] lmorchard commented on #3262
(This shouldn't break on staging or production - those deployments use totally different infra and a [different script](https://github.com/mozilla/testpilot/blob/master/bin/build-version-json.sh))

[2018-01-19 09:52] SoftVision-PaulOiegas commented on #1828
The fix on your branch seems to be working. 👍  Verified with Microsoft Edge 40.15063.674.0 on Windows 10 v1703 (OS Build 15063.850).

[2018-01-19 15:11] #1828 closed, assigned to nobody

[2018-01-19 16:19] fzzzy opened #3263 "Release 2018-01-24-2 on stage"
Please test!

[2018-01-19 17:10] ghost opened #3264 "Sort out the polling code troubles"
I'm on the outside here so I'm trying to follow what happened, but I think:

- Some patches were written in #3007 that were cool but unrelated to the issue #2997 that the PR was for
- #3014 was filed to rebase and land those patches, and that was done in #3123 .  This patch landed and was pushed live.
- #3196 was filed that things were broken in production and #3197 was written and pushed live to

[2018-01-19 17:16] SoftVision-PaulOiegas opened #3265 "Notes Tour is wrongly displayed for a short period of time when Installing Test Pilot add-on"
**[Affected versions]:**
- Firefox v57.0.4 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to rep

[2018-01-19 17:20] fzzzy commented on #3264
We landed the fix for the problem that caused the rollback here:

https://github.com/mozilla/testpilot/pull/3198/files

We wanted to wait a release or two so that the add-on update is widely deployed, and then we are safe to re-apply the original polling code removal:

https://github.com/mozilla/testpilot/pull/3123/files

[2018-01-19 17:32] SoftVision-PaulOiegas opened #3266 "Notes Privacy modal is wrongly opened under the Tour modal after enabling Notes from "Featured Experiment" section"
**[Affected versions]:**
- Firefox v57.0.4 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- test Pilot add

[2018-01-19 17:40] SoftVision-PaulOiegas opened #3267 "[Featured Experiment] The "Enable Notes" green button animation when clicked, wrongly states "Installing..." instead of "Enabling...""
**[Affected versions]:**
- Firefox v57.0.4 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- test Pilot add

[2018-01-19 17:45] SoftVision-PaulOiegas opened #3268 "[Featured Experiment] Notes experiment "Tour" modal is wrongly displayed when cancelling the install from webextension doorhanger"
**[Affected versions]:**
- Firefox v57.0.4 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- test Pilot add

[2018-01-20 17:37] chuckharmston commented on #2642
Confirmed that this fixes it on actual devices on stage:

![img_5e6cf3c657f5-1](https://user-images.githubusercontent.com/23885/35186208-c220c804-fdcd-11e7-8a30-928bdd96edb7.jpeg)

[2018-01-22 12:44] johngruen commented on #3102
Thank @youwenliang i'm going to go ahead and close this.

[2018-01-22 12:44] #3102 closed, assigned to youwenliang

[2018-01-22 12:45] johngruen commented on #1754
Closing this in favor of new metrics bugs

[2018-01-22 12:45] #1754 closed, assigned to johngruen

[2018-01-22 13:57] chuckharmston commented on #3042
Since this missed the tag, moving to milestone 39.

[2018-01-22 13:57] chuckharmston commented on #3001
Moving to milestone 39.

[2018-01-22 16:03] SoftVision-PaulOiegas commented on #2642
I can confirm this too, but I have one question. What versions of mobile devices we should support for the responsive UI? I've checked on iPhone 5 and 6 and on the 5, the content is wrongly displayed to left and some sentences are cut.
I assume that iPhone 5 is too old and we are not supporting it?

[2018-01-22 16:06] chuckharmston commented on #2642
@SoftVision-PaulOiegas is it an issue of screen resolution on the device, or is it specific to iOS 10?

(iPhone 5 is stuck on 10.3.3, iPhone 6 can go up to 11.)

[2018-01-22 16:23] SoftVision-PaulOiegas commented on #2642
Well I don't think I have how to confirm that. The iPhone 6 cannot be downgraded to iOS 10.x (personal device of a colleague) and the iPhone 5, as you said, it's blocked to 10.x.

Could be the screen specs, it's 4.0 inch vs 4.7 and resolution is 640 x 1136px vs 750 x 1334px. But still, might be something on our end too since I'm seeing 2 different behaviors on dev vs production, where some of the

[2018-01-22 16:33] SoftVision-CosminMuntean opened #3269 ""Your privacy" and "Enable [experiment_name]" buttons are shortly displayed for a moment when you navigate to an enabled experiment page"
**[Notes]**:
- I wasn't able to reproduce this issue on Windows 10 x64 and Windows 8.1 x32, but I have managed to reproduce it on Windows 7 x64.
- The issue is most noticeable on Mac OS and less noticeable on Windows 7.

**[Affected versions]:**
- Firefox 57.0.4 and above

**[Affected Platforms]:**
- Windows 7
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or adde

[2018-01-22 16:34] SoftVision-CosminMuntean opened #3270 "[Featured Experiment] While it's already enabled, the "Enable Notes" button is shortly displayed each time the experiments page is loaded"
**[Notes]**:
- I wasn't able to reproduce this issue on Windows 10 x64 and Windows 8.1 x32, but I have managed to reproduce it on Windows 7 x64.
- The issue is most noticeable on Mac OS and less noticeable on Windows 7.

**[Affected versions]:**
- Firefox 57.0.4 and above

**[Affected Platforms]:**
- Windows 7
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or adde

[2018-01-22 16:36] chuckharmston commented on #3270
Duping this against the slightly more general #3269.

[2018-01-22 16:36] #3270 closed, assigned to nobody

[2018-01-22 16:37] chuckharmston commented on #3269
We should defer rendering anything in these components until we know whether the user's state.

[2018-01-22 17:19] SoftVision-PaulOiegas commented on #2642
After a second look, it seems that it might be a combination of both since some of our elements are "bleeding" on the small screen. But can't say for sure.

![img_0186](https://user-images.githubusercontent.com/17258026/35232677-c7d3de48-ffa4-11e7-97b4-9180b25ca0d1.PNG)

[2018-01-22 17:53] marniepw commented on #3254
@ChenMorpheus can you please verify what you'd like to see here.

[2018-01-22 17:54] ghost commented on #3253
As far as I know, there are no plans for Firefox on Windows 10 mobile.

[2018-01-22 17:54] #3253 closed, assigned to nobody

[2018-01-22 17:55] pdehaan commented on #3262
**Current status:**

- https://testpilot.dev.mozaws.net/__version__

[code]

- https://testpilot.stage.mozaws.net/__version__

[code]

- https://testpilot.firefox.com/__version__

[code]

[2018-01-22 17:56] marniepw commented on #3251
Feel free to reopen if you can reproduce.

[2018-01-22 17:56] #3251 closed, assigned to nobody

[2018-01-22 17:59] #3205 closed, assigned to nobody

[2018-01-22 19:04] chuckharmston commented on #3232
We might be able to use `outboundURL` to fix this with a low level of effort, with some twiddling with event propagation:

https://github.com/mozilla/testpilot/blob/67531d1c0cefea3ce842b178b7330c1e0efb6937/frontend/src/app/containers/App/index.js#L199-L216

[2018-01-22 21:01] chuckharmston commented on #3237
I've audited each event in the [Table of Events](https://github.com/mozilla/testpilot/blob/master/docs/metrics/ga.md#table-of-events) in our documentation, and have found the following errors:

- ~`Click on experiment from landing page` is not implemented.~
- ~`Click on Install from experiment details page` is implemented, but seems to be in a dead code path.~
- ~`Click on the "Try out these exper

[2018-01-22 22:50] lmorchard commented on #3001
Is there a copy somewhere of that icon with the circle & chevrons? Doesn't look like that's in the testpilot-assets link

[2018-01-23 07:50] ChenMorpheus commented on #3254
@marniepw @SoftVision-PaulOiegas I checked several related tickets (#3149, #3220) and I guess there was a confusion here. There are two kinds of modal; one is the onboarding modal which appears after users enable an experiment(see img_1); the other one is the updates modal which emerges once there is an update to an experiment(see img_1). These two modals share the similar style, but there is a di

[2018-01-23 09:24] #3092 closed, assigned to nobody

[2018-01-23 09:30] SoftVision-PaulOiegas commented on #3254
Long story short, this issue just became invalid based on your explanation. Thanks for the clarifications!

However, I still believe that having the "Enabled" green label on every modal related to an enabled experiment would have been more consistent and user friendly. But maybe that's only my opinion... after all it's your call.

[2018-01-23 09:30] #3254 closed, assigned to nobody

[2018-01-23 13:37] SoftVision-PaulOiegas opened #3272 "[Featured Experiment] Agreement string with hyperlinks is not removed after enabling Notes featured experiment"
**[Affected versions]:**
- Firefox v57.0.4 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add

[2018-01-23 14:03] SoftVision-PaulOiegas opened #3273 "[Featured Experiment] Agreement string is the only one not localized in the supported languages"
**[Affected versions]:**
- Firefox v57.0.4 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- A supported la

[2018-01-23 15:10] SoftVision-PaulOiegas opened #3274 "Experiment details page buttons remain small shaped when browser window is resized to mobile view"
**[Affected versions]:**
- Firefox v57.0.4 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add

[2018-01-23 19:18] #3242 closed, assigned to meandavejustice

[2018-01-23 19:18] #3262 closed, assigned to nobody

[2018-01-23 20:22] lmorchard opened #3278 "Fix Storybook deployments for pull requests"
Looks like we lost [Storybook deployments for PRs](https://medium.com/firefox-test-pilot/storybook-test-pilot-26d21fdb6c64) in the move to CircleCI 2.0. ([example](https://github.com/mozilla/testpilot/pull/3038#issuecomment-342645306)). We should get those working again

[2018-01-23 20:26] lmorchard commented on #3278
There was [a line in the 1.0 post-test commands](https://github.com/mozilla/testpilot/commit/fb5a39447b802deb0d3f99098c78e23dbe41fb29#diff-29944324a3cbf9f4bd0162dfe3975d88L46) that ran [`bin/deploy-storybook.sh`](https://github.com/mozilla/testpilot/blob/master/bin/deploy-storybook.sh) to build & publish a Storybook static rendering to S3. We should get that going again.

<strike>One caveat is tha

[2018-01-23 20:38] rsenwar commented on #3006
[# **RESTART_NEEDED Unnecessary Code Removed ** ](url)https://github.com/mozilla/testpilot/pull/3277

[2018-01-23 21:05] #3278 closed, assigned to b4handjr

[2018-01-23 21:11] lmorchard commented on #3278
Looks like it worked!

https://circleci.com/gh/mozilla/testpilot/7149
http://testpilot-storybook.dev.mozaws.net/0624094b509e56785f6940957ca2e0c9ddd0f50c/

[2018-01-24 03:54] Pekochen commented on #3001
Please check here~
measurement:
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Featured_experiment_sticky_banner/
assets:
https://github.com/mozilla/testpilot-assets/tree/master/Test_Pilot_Website/01_Measurements/Featured_experiment_sticky_banner/assets
![featured experiment_txp sticky banner_animationspec](https://user-images.githubusercontent.com/8252151/35313653-8

[2018-01-24 15:21] fzzzy commented on #3273
This is the real problem. This string has simply not been translated, so we can't release this feature until it has been translated.

I would like to reuse the old string that doesn't include "and Notes", but I'm unsure how I can reuse this string and still properly localize the "and Notes" part.

[2018-01-24 16:11] meandavejustice commented on #3265
It seems that in this case we would want the tour modal instead of the welcome modal, since the user is choosing to install both testpilot and the featured experiment.

Thoughts? @chuckharmston @johngruen

[2018-01-24 18:18] chuckharmston commented on #3265
I'm torn on this. The ideal user experience is probably the Notes tour with an additional final slide with the content from the welcome information, but that's a lot of work for a small bug.

I'll defer to John or @pekochen.

[2018-01-24 19:38] fzzzy opened #3287 "Fail when a string is not present in the FTL files"
Right now, when an FTL string is not present, we fall back to the default content in the JSX. This causes many bugs where things look fine (because the JSX content is shown) but certain strings are actually just not being localized, and it is hard to notice. We should either fail loudly if asked to localize a string that wasn't found, or somehow make it easy to tell the difference between the jsx

[2018-01-24 20:04] #3255 closed, assigned to meandavejustice

[2018-01-24 21:01] #3266 closed, assigned to meandavejustice

[2018-01-24 21:02] #3231 closed, assigned to fzzzy

[2018-01-24 21:12] lmorchard commented on #3001
Looks like the measurement spec has this oval (without arrows) for export:
![](https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Featured_experiment_sticky_banner/assets/Oval%202.svg)
The assets directory has separate arrows and an oval.

I can try to put these together in Gimp or Inkscape, but it'll probably be a poor result

[2018-01-25 02:58] youwenliang commented on #3001
@lmorchard Peko separated the arrows and the oval because we were thinking animating the arrows, probably with CSS keyframes. Would that work for you?

I mockup the animation here: https://codepen.io/youwenliang/pen/qpzOqo

[2018-01-25 09:56] SoftVision-CosminMuntean commented on #3231
This issue is no longer reproducible on Test Pilot dev server. The Notes Privacy modal is correctly displayed even if Notes is no enabled.

[2018-01-25 10:02] SoftVision-CosminMuntean commented on #3255
I have retested this issue on Test Pilot dev server with Chrome, Safari and Edge and the availability message is correctly displayed in featured experiment section.

[2018-01-25 10:09] SoftVision-CosminMuntean commented on #3266
This issue is no longer reproducible on Test Pilot dev server.

[2018-01-25 15:00] fzzzy commented on #3263
Repurposing this bug for 2018-01-24-2 which is now on stage. Unfortunately I messed up the tagging slightly, so __version__ just says commit "b9268d2b80b947d81e5b146d9df5a81fe2f28787" is on stage. When I push to production I will use the tag 2018-01-24-2.

[2018-01-25 16:30] SoftVision-CosminMuntean opened #3292 "Html elements are wrongly displayed in the "Disclaimer; Limitation of Liability" section from Test Pilot "Terms" page"
[Affected versions]:
- Nightly 57.0.4 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Start the browser and navigate to "https://testpilot.firefox.com/terms" page.
2. Scroll down the page until you reach at the "Disclaimer; Limitation of Liability" section.
3. Observe the text.

[Expected result]:
- The text is correctly displayed.

[Actual results]:
- H

[2018-01-26 15:18] meandavejustice commented on #3243
![homepage-featured](https://user-images.githubusercontent.com/1844554/35446283-1f59c664-02ac-11e8-95e9-ab1a9e278e1d.png)
I'm going to merge #3294, but I wanted to mention, the left side of the featured Experiment looks a little heavy now with the statuses moved to that side.

[2018-01-26 15:19] #3243 closed, assigned to johngruen

[2018-01-26 17:44] meandavejustice opened #3295 "Create additional integration test for featured experiment exclusion from card list"
https://github.com/mozilla/testpilot/pull/3276#discussion_r163606382

[2018-01-26 19:02] grahamperrin commented on #2827
Fair enough; thanks for the feedback.

[2018-01-26 22:20] chuckharmston commented on #3237
I've audited each event sent by code and have found the following errors:

- [`Sign Me Up`](https://github.com/mozilla/testpilot/blob/7fbfe8a7a67a0ee7d4a02d7bf0195fec7663743c/frontend/src/app/components/EmailDialog/index.js#L152) is not documented.
- [`email submitted to basket`](https://github.com/mozilla/testpilot/blob/7fbfe8a7a67a0ee7d4a02d7bf0195fec7663743c/frontend/src/app/components/EmailDia

[2018-01-29 10:39] SoftVision-PaulOiegas commented on #3242
Seems to be working well now. 👍 Honestly I can't even remember the previous behavior. 😆

[2018-01-29 15:58] meandavejustice commented on #3268
Figured out what the issue was here over the weekend (not throwing an error in the right place). But fixing this exposed how we aren't handling the error case in the featured experiment/home page view. I'm going to implement the same error ui we show on the experiment detail page.

[2018-01-30 09:51] SoftVision-PaulOiegas commented on #3265
Well, from the start I said that this flow is a bit misleading because the first buttons say "Install Test Pilot & Enable Notes" as the one from the experiment details page, but doesn't behave like that one. You need to manually enable Notes after TxP is installed.

The only way I see it is to make the homepage button work as on the experiment details page and display the welcome pop up only when

[2018-01-30 13:06] divyabaid16 commented on #2843
@himanish-star are you still working on this issue ? Or can I fix it ?

[2018-01-30 13:51] himanish-star commented on #2843
@divyabaid16 , I'm still waiting for a confirmation. I will file a PR for this as soon as I get a confirmation

[2018-01-30 15:54] fzzzy commented on #2843
@himanish-star @CHBaker said you could take it. Go for it.

[2018-01-30 16:19] johngruen commented on #3265
So, the install experience for TXP and Notes should be one click only...
Flow should be as follows:
1. TXP installs
2. Notes installs
3. Notes onboarding happens
4. Email solicitation happens (stretch if possible: we should defer this to the next time the user goes to /experiments)

[2018-01-30 17:37] johngruen opened #3298 "Get graduation report links into Test Pilot"

[2018-01-30 22:35] chuckharmston commented on #3234
In doing this, we should make sure that the featured block versions of [`Open Detail Page`](https://github.com/mozilla/testpilot/blob/e21e15c386aba1b6909e6dee022dae3debaf79f4/frontend/src/app/components/FeaturedExperiment/FeaturedButton.js#L84) and [`Give Feedback`](https://github.com/mozilla/testpilot/blob/e21e15c386aba1b6909e6dee022dae3debaf79f4/frontend/src/app/components/FeaturedExperiment/Fea

[2018-01-30 22:37] chuckharmston opened #3301 "Add unimplemented events from documentation."
I've audited each event in the [Table of Events](https://github.com/mozilla/testpilot/blob/master/docs/metrics/ga.md#table-of-events) in our documentation, and have found the following errors:

- `Click Take Tour on tour dialogue` is not implemented.
- `Click on experiment from landing page` has a race condition, and should use `outboundUrl` to make sure the event is logged.
- `Prompted to restart

[2018-01-30 22:38] chuckharmston commented on #3237
Spun off #3301, but this will be otherwise be closed with #3300, so I'm closing this bug.

[2018-01-30 22:38] #3237 closed, assigned to chuckharmston

[2018-01-31 00:40] chuckharmston commented on #3234
@teonbrooks, can we get a spec for this?

[2018-01-31 00:44] himanish-star commented on #2843
@fzzzy , on it.

[2018-01-31 09:19] divyabaid16 commented on #3292
Can I take up this issue ?

[2018-01-31 10:28] SoftVision-PaulOiegas commented on #3292
Hi @divyabaid16. This issue wasn't marked yet as good first bug, probably it is. But if you think you can manage, go for it! 👍😃

[2018-01-31 14:10] johngruen commented on #3234
@chuckharmston i think teon is at onboarding this week

[2018-01-31 18:26] #3267 closed, assigned to meandavejustice

[2018-01-31 21:40] chuckharmston opened #3308 "Hangy thing in newsletter icon in footer"
<img width="106" alt="screen shot 2018-01-31 at 14 38 32" src="https://user-images.githubusercontent.com/23885/35648935-a2f9edb4-0694-11e8-88c3-fe4d7e3f66b9.png">

[2018-01-31 22:19] #3241 closed, assigned to chuckharmston

[2018-01-31 22:20] #2843 closed, assigned to nobody

[2018-01-31 22:22] #3232 closed, assigned to nobody

[2018-01-31 22:24] #3235 closed, assigned to chuckharmston

[2018-01-31 22:25] #3301 closed, assigned to chuckharmston

[2018-01-31 22:39] #3236 closed, assigned to chuckharmston

[2018-01-31 22:41] meandavejustice commented on #3268
The error ui from experiment detail pages doesn't actually work for the featured experiment on home page.
I have a fix that simply reverts the install button on cancel, instead of hanging in the "enabling..." state. I'll open up a pr for that soon. But we will still need an informative ui for the error state.

[2018-01-31 22:44] meandavejustice commented on #3265
@johngruen and @SoftVision-PaulOiegas Thanks for the replies, that definitely sounds right to me. It doesn't look like I'll be getting this in before the end of this milestone(tomorrow) but we should definitely do it next sprint.

[2018-02-01 13:12] SoftVision-PaulOiegas commented on #3267
Working great. 👍

[2018-02-01 13:23] SoftVision-PaulOiegas opened #3309 "[Featured Experiment] Experiment details page is wrongly loaded in same tab when scroll clicking "Manage" button"
**[Affected versions]:**
- Firefox v58.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add

[2018-02-01 15:09] SoftVision-PaulOiegas commented on #3308
Ahaaa, nice catch. 👍 Made a little bit of testing because I wondered why we haven't caught this and found out that It only occurs on MacOS...

[2018-02-01 15:10] chuckharmston commented on #3308
"Hangy thing" is the technical term, of course.

[2018-02-01 15:12] ArranGravestock opened #3310 "Accessibility"
Elements have discernible names, provide an alt tag
https://dequeuniversity.com/rules/axe/2.2/link-name

Failing element:
[code]

Form elements do not have associated labels
https://dequeuniversity.com/rules/axe/2.2/label?

Failing Element:
[code]

HTML element does not have a [lang] attribute
https://dequeuniversity.com/rules/axe/2.2/html-lang?

Failing Element:
[code]

[2018-02-01 15:13] SoftVision-PaulOiegas commented on #3308
Couldn't think otherwise. 🤣

[2018-02-01 15:19] chuckharmston commented on #3309
This is a regression I introduced, I'm on it.

[2018-02-01 17:06] chuckharmston commented on #3309
@SoftVision-PaulOiegas PR #3311 is in, hopefully lands before your workday tomorrow. This one is going to be a little tricky to test; you found one place where it was a problem, but there were several others.

You'll need to check:

1. The middle mouse button.
2. `cmd`+clicks (on macOS)
3. `ctrl`+clicks (on Windows and Linux)
4. With the side mouse button (like [this](https://www.quietpc.com/image

[2018-02-01 17:19] SoftVision-PaulOiegas commented on #3309
@chuckharmston Will do, thanks for all the details, really helpful.
Glad you figured out it's a regression. Didn't crossed my mind that this could be one at all since we had several issues like this fixed in the past. So I haven't checked other buttons convinced that this is something specific to the new section.

[2018-02-01 20:15] ghost opened #3313 "Investigate what we're storing in the background page"
Reported by rnewman on slack.  It sounds like we're loading the yaml contents of experiment files.  Let's see if we need to be loading those, and if we can skip graduated experiments altogether.  Report below:

![image](https://user-images.githubusercontent.com/16946141/35701038-9de9be2a-0749-11e8-81ed-797ee7339284.png)

[2018-02-01 23:25] meandavejustice opened #3314 "[release] 2018-02-01 on stage"

[2018-02-02 08:38] divyabaid16 commented on #3292
@SoftVision-CosminMuntean can you please guide me regarding this issue ?

[2018-02-02 10:22] SoftVision-PaulOiegas opened #3316 "[Featured Experiment] The "Enable Notes" button remains in hovered state if enable process is canceled"
**[Affected versions]:**
- Firefox v58.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-on was alrea

[2018-02-02 10:55] SoftVision-PaulOiegas opened #3317 "[Featured Experiment] No error message displayed when the attempt to enable Notes fails"
**[Notes]**
- If a message is added for possible enable error cases, this could be used also for the case from #2564 when attempting to install TxP add-on without internet.
- There could be other cases when the enable process could not take place, and this error message should cover all of them.

**[Affected versions]:**
- Firefox v58.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Ma

[2018-02-02 13:45] SoftVision-PaulOiegas commented on #3268
Verified this on both dev and stage servers and no longer reproduces. The button returns to the initial position when flow is canceled.
However, I've seen your last message only after I logged an issue (#3317) to implement an error also for when the enable action is not performed (such as no internet). Added needs:UX label on it also.

Also, found a minor issue that appeared after this fix was mer

[2018-02-02 13:45] #3268 closed, assigned to meandavejustice

[2018-02-02 14:08] SoftVision-PaulOiegas commented on #3309
Sorry @chuckharmston tested everything that you mentioned, but it seems that the PR hasn't fixed anything for some reason. Both on Windows and Mac OS the behavior is the same when you scroll click the buttons (or cards).
Tested this both on dev and stage servers and on multiple OSes.

[2018-02-02 16:54] SoftVision-PaulOiegas commented on #3308
Seems that also Chrome, Opera but not Edge are showing the same issue on Windows. But comparing the browsers, it seems that the icon is displayed squished on Chrome and Opera. Maybe it's the same on Mac OS?
![squished](https://user-images.githubusercontent.com/17258026/35744970-6d2197c0-084a-11e8-89b1-4e087807167d.png)

[2018-02-02 16:59] SoftVision-CosminMuntean commented on #3292
For developing guidance maybe the right person to ask would be @fzzzy or @lmorchard.

[2018-02-02 17:41] chuckharmston commented on #3309
![2018-02-02 10_38_59](https://user-images.githubusercontent.com/23885/35746825-6ee4d242-0805-11e8-9302-621c972af93c.gif)

@SoftVision-PaulOiegas Hmm...I'm not seeing what you are (cmd+click, middle click, side click, in that order).

[2018-02-02 17:44] SoftVision-CosminMuntean opened #3318 "All strings are shortly displayed in English before they are displayed in Firefox build localization"
**[Notes]:**
- The issue is also reproducible for any language other than English set in "about:preferences#content".
- This behavior can also be observed the page is refreshed.

**[Affected versions]:**
- Firefox 57.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.e

[2018-02-02 17:51] chuckharmston commented on #3309
I also just tested it on Windows with ctrl clicks on stage, worked as expected :|

[2018-02-02 19:20] fzzzy commented on #3292
@divyabaid16 It appears the problem is actually in the legal-docs repository.

https://github.com/mozilla/legal-docs/blob/master/firefox_testpilot_Terms/en-US.md

This file has html in it, but it should not, as it is a markdown file. I believe removing the <div> elements will be enough to fix this. The pull request will need to be made against the legal-docs repo. You can reference this testpilot

[2018-02-02 19:27] #3001 closed, assigned to lmorchard

[2018-02-03 19:48] divyabaid16 commented on #3292
Please review the PR.

[2018-02-03 23:17] pdehaan commented on #3292
@fzzzy That seems odd. The markdown in legal-docs hasn't changed in a long time. So either this has been happening a long time, and we never noticed until now, or some behavior has changed in a npm module or config. I can't remember if the original idea of the div+class names was to add additional formatting in the legal templates using CSS. I thought maybe it was some subtle background color or s

[2018-02-05 10:26] SoftVision-PaulOiegas commented on #3309
Then something must be different between our environments since me and Cosmin retested this today on 5 different machines and we are still able to reproduce it.
Indeed the `cmd+click` and `side click` commands are working but not the `midle click`.

We have tested today with:
- Windows 10 x64 (USB mouse)
- Windows 7 x64 (USB mouse)
- Mac OS 10.10 (iMac late 2013)
- Mac OS 10.12 (MBP early 2015 + U

[2018-02-05 12:21] SoftVision-PaulOiegas opened #3319 "Display alert message and don't allow Notes to be enabled on Firefox versions under 57.0"
**[Notes]**
- This issue was logged because the Firefox Notes already updated the minimum version to Firefox v57.0.
- Details can be found on [MDN](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/sidebarAction) and [Notes GitHub](https://github.com/mozilla/notes/issues/642).

**[Affected versions]:**
- Firefox between v56.0.2 and v54.0

**[Affected Platforms]:**
- All Windows
- All M

[2018-02-05 14:00] SoftVision-PaulOiegas opened #3320 "Experiment details page background flickers when "moz://a" logo or the GitHub and Twitter social buttons are hovered (Chrome and Opera)"
**[Affected versions]:**
- Chrome 64.0
- Opera 50.0

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Steps to reproduce]:**
1. Open Chrome browser and navigate to https://testpilot.dev.mozaws.net/experiments page.
2. Scroll down on the page and click on any experiments (even past experiments).
3. Scroll to the bottom of the experiment details page.
4. While observing page back

[2018-02-05 15:15] SoftVision-PaulOiegas opened #3321 "[Android][Mobile view] The "View Past Experiments" button breaks the UI on French locale"
**[Affected versions]:**
- Firefox 58.0.1 (mobile)

**[Affected Platforms]:**
- Android 7.0 (Samsung Galaxy S6 with 2K display)

**[Prerequisites]:**
- Latest Firefox browser version was installed on the mobile device.
- French language was selected from "Settings>General>Language" menu.

**[Steps to reproduce]:**
1. Start the Firefox Android app and navigate to https://testpilot.dev.mozaws.net pa

[2018-02-05 15:30] chuckharmston commented on #3309
@SoftVision-PaulOiegas which mouse button is reported here when you use a middle click?

https://codepen.io/chuckharmston/full/WMxxMw/

[According to MDN](https://developer.mozilla.org/docs/Web/API/MouseEvent/which) it should be `2`, but I'm starting to doubt the veracity of that.

[2018-02-05 15:56] SoftVision-PaulOiegas commented on #3309
I don't think that testcase recognizes middle click (scroll click) or any click except left one. I've tried on both Windows and MacOS machines and it didn't recognized it. The only button that was recognized is the left click (1).

[2018-02-05 16:02] chuckharmston commented on #3309
Huh, my mouse's middle-click button is recognized as `3`.

Unfortunately, that's the only way JS can know if a middle click has occurred. If the browser is misreporting it, there isn't much I can do here.

[2018-02-05 16:09] SoftVision-PaulOiegas commented on #3309
We had something related here in #1795. Isn't that helping or the code has changed?

[2018-02-05 16:36] chuckharmston commented on #3309
The code has changed. We need to use `e.preventDefault` to make sure that navigation events are logged to GA after we moved away from being a single-page app.

[2018-02-05 16:40] SoftVision-PaulOiegas opened #3322 "[Mobile] Different message displayed on iOS unsupported devices in the place of the install button location"
**[Affected versions]:**
- Firefox 58.0.1 (mobile)

**[Affected Platforms]:**
- iOS 11.2.2 (iPhone 6)

**[Prerequisites]:**
- Latest Firefox browser version was installed on the mobile device.

**[Steps to reproduce]:**
1. Start the Firefox iOS app and navigate to https://testpilot.dev.mozaws.net page.
2. Observe the messages displayed in the place of the install button in the next sections
-Homep

[2018-02-05 17:41] #3263 closed, assigned to nobody

[2018-02-05 19:25] pdehaan commented on #3292
Here's where we're using **react-markdown**: https://github.com/mozilla/testpilot/blob/93c9ea7aa6104fbbdc21508e44d486d7ca7c77aa/frontend/tasks/pages.js#L263

Reading the docs at https://github.com/rexxars/react-markdown#options, I'm not sure if the solution is to override `escapeHtml` and set it to `false`. That doesn't come without risk (albeit a small risk), so we may also need to try tweaking `

[2018-02-05 19:32] pdehaan commented on #3292
See https://github.com/mozilla/testpilot/pull/1013 and https://github.com/mozilla/testpilot/issues/1010 and https://github.com/mozilla/testpilot/pull/1005 for some super old context on the legal formatting. I can't find the origin of **why** we wanted/needed to highlight those 2 specific paragraphs, but I believe @johngruen was speaking w/ legal today about the outstanding legal-docs PR.

[2018-02-05 20:40] #3244 closed, assigned to meandavejustice

[2018-02-05 21:59] meandavejustice commented on #3182
~~This is also used in [lib/appStartup.js](https://github.com/mozilla/testpilot/blob/0eed4b5eaa10becf3fa05bdf396529e9f0e302ec/addon/src/lib/appStartup.js) which affects how we lead all of our modules in bootstrap.js. Going to loop back around to this one after I've taken care of more of the other bootstrap issues.~~ This is actually #3181

[2018-02-05 22:01] lmorchard commented on #3182
FWIW, that `sessionstore-windows-restored` event observer is just a startup performance hack for a legacy add-on embedded webextension. Once we move to a pure webextension, we won't need it and can just rely on the default behavior of webextension loading.

[2018-02-05 23:13] meandavejustice commented on #3180
bumping this to get discussion going again,

@fzzzy I think the pref in about:addons is reasonable but not preferable... I wonder if we could show it only on dev builds, check for an environment variable, though that could be a bit of a pain as well.

[2018-02-05 23:40] meandavejustice commented on #3181
This looks like it should be the one of if not _the_ last issue we address to close out the `bootstrap` issues. I vote that we bump it to `Sprint 41` milestone.

What do yall think @chuckharmston @clouserw

[2018-02-06 08:35] johngruen commented on #3317
You can see the featured experiment implementation here:
https://testpilot.stage.mozaws.net/

[2018-02-06 10:17] youwenliang commented on #3317
Can we do something like this?
![default](https://user-images.githubusercontent.com/8919308/35853852-ad29d27a-0b69-11e8-8602-131aa87224e7.png)
(It'll be a new status bar component for feature experiment section.)

Using the full-width status bar seems a bit off:
![default](https://user-images.githubusercontent.com/8919308/35853969-f7c2fc62-0b69-11e8-8c6f-ce83f5890753.png)

What do you think? @john

[2018-02-06 13:16] #3157 closed, assigned to nobody

[2018-02-06 14:46] SoftVision-PaulOiegas commented on #3314
Hi guys,

We have finalized running our Full Functional test suite on the Staging server and here testing results:

### **Legend** ###
&#x1F4D5; - major issue
&#x1F4D9; - normal issue
&#x1F4D2; - minor issue

## New Issues ##
1. #3322 - &#x1F4D2; [Mobile] Different message displayed on iOS unsupported devices in the place of the install button location
2. #3321 - &#x1F4D2; [Android][Mobile view] T

[2018-02-06 15:22] meandavejustice commented on #3317
@youwenliang First one looks good to me

[2018-02-06 15:30] SoftVision-PaulOiegas commented on #3317
@youwenliang First looks ok to me too, but are we sure about the color? We have the same error in red on the experiment details page. Shouldn't we have consistency on both pages?
I honestly like yellow better than red. 😃

[2018-02-06 15:32] chuckharmston commented on #3309
So, we get one of the following:

1) We get consistent and predictable reporting of navigation events.
2) Middle clicks open in a new tab.

I vote for #1 and am removing from milestone 40, though am open to disagreement on that point. If we transition back to a React Router app this is no longer a choice we have to make, so I'll leave this open to track it as a known problem.

[2018-02-06 15:33] SoftVision-PaulOiegas commented on #3244
Notes is no longer displayed on the Homepage or /experiments page. Also, the locales filter correctly works now. 👍
Verified on Widows 10 and MacOS 10.13.

[2018-02-06 15:33] chuckharmston commented on #3238
Moving this to sprint 41 to stay out of @meandavejustice's way as he heavily works on the add-on this sprint.

[2018-02-06 15:37] #3319 closed, assigned to nobody

[2018-02-06 17:06] meandavejustice commented on #3177
@lmorchard It looks like we can get our list of install experiments with the [management api](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/management)

[2018-02-06 17:08] lmorchard commented on #3177
Yeah, I think at the point when we were coming up with these issues, that API only reported on themes - [and then only by using getAll, because oninstall / onuninstall weren't supported](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/management#Browser_compatibility). Probably want to verify it returns all the data we want

[2018-02-06 17:17] johngruen opened #3328 "Bump minimum supported firefox version to 58"
We support current -1...would be nice if we could do this programmatically, and not have to do a manual bump every time

[2018-02-06 17:18] johngruen commented on #3328
https://product-details.mozilla.org/1.0/firefox_versions.json

[2018-02-06 17:45] ghost commented on #3181
I don't know enough to talk about what order things should be done in.  Doing this last is fine with me.  I don't think we should kick it out of the sprint unless we have to though

[2018-02-06 18:11] ghost opened #3329 "Firefox Voice Fill does not recognise a disabled microphone"
If I have the microphone disabled / shut off (in software using PulseAudio volume controls / mute button or using a hardware switch), Firefox Voice Fill does not recognise this. Instead of telling me to check my microphone because it did not receive any audio data at all, it tells me "no results found", which is not helpful at all.

[2018-02-06 18:14] ghost opened #3330 "Firefox Voice Fill takes me to Google without a way to configure this"
When I click the Voice Fill button in the icon bar, Firefox will take me to Google Search. However, the default search (in the URL bar) for my browser is set to DuckDuckGo -- I would expect Voice Fill to respect this. Further, [the Voice Fill experiment page](https://testpilot.firefox.com/experiments/voice-fill) allows me to disable the addon and offers "settings", but no way to configure the sear

[2018-02-06 18:18] ghost opened #3331 "Firefox Voice Fill is slow"
Firefox Voice Fill takes a long time from "Listening ..." to "Processing ...", after I stop talking. This makes it feel less useful and slower than typing. Maybe a command word (like "Go!") to end the "Listening ..." stage would help?

[2018-02-06 22:46] b4handjr commented on #3331
You may want to report this [here](https://github.com/mozilla/speaktome/).

[2018-02-06 22:46] #3331 closed, assigned to nobody

[2018-02-06 22:47] b4handjr commented on #3330
See my comment here: https://github.com/mozilla/testpilot/issues/3331

[2018-02-06 22:47] #3330 closed, assigned to nobody

[2018-02-06 22:47] b4handjr commented on #3329
See my comment here: https://github.com/mozilla/testpilot/issues/3331

[2018-02-06 22:47] #3329 closed, assigned to nobody

[2018-02-07 02:34] youwenliang commented on #3317
@SoftVision-PaulOiegas  Yes good point, we were thinking to make both yellow, so will need to also change the detail page's error status bar. (following the color here: https://design.firefox.com/photon/patterns/warnings.html)

[2018-02-07 11:39] johngruen commented on #3317
Yeah i like the first one as well

[2018-02-07 11:40] johngruen commented on #3317
@youwenliang can you just provide some basic measurements?

[2018-02-07 11:42] johngruen commented on #3292
This has been resolved on the legal side, and is now fixed on prod, stage and dev

[2018-02-07 11:42] #3292 closed, assigned to nobody

[2018-02-07 12:04] johngruen commented on #3097
Note that ckeditor is stil in alpha and so app icons etc will likely change over time.

[2018-02-07 13:23] fzzzy commented on #3177
Can't we just use mozAddonManager for this? We know it works, it's not bootstrap, and we're whitelisted for it.

[2018-02-07 13:24] fzzzy commented on #3177
Actually, aren't we already using mozAddonManager for it? If so, it's not bootstrap, so maybe this can be closed as invalid.

[2018-02-07 13:25] fzzzy commented on #3314
This release is on prod.

[2018-02-07 13:25] #3314 closed, assigned to SoftVision-PaulOiegas

[2018-02-07 13:35] fzzzy commented on #3292
@divyabaid16 Thank you!

[2018-02-07 14:32] SoftVision-PaulOiegas opened #3333 "[Enhancement] The "More Experiments" button and animation should be placed differently on mobile view"
**[Affected versions]:**
- Firefox 58.0.1 (mobile)

**[Affected Platforms]:**
- Android 7.0 (Samsung Galaxy S6)
- Android 8.0 One Plus 5

**[Prerequisites]:**
- Latest Firefox browser version was installed on the mobile device.

**[Steps to reproduce]:**
1. Start the Firefox Android app and navigate to https://testpilot.firefox.com page.
2. Observe how the "More Experiments" button with animated a

[2018-02-07 16:28] SoftVision-CosminMuntean commented on #3292
I have retested this issue and is no longer reproducible. Tested on Test Pilot dev, stage and production servers.

[2018-02-07 17:27] meandavejustice commented on #3177
@fzzzy We still need an answer for how we should get the list of enabled experiments for the daily telemetry ping. We may be able to use the webextension management api for that, but we haven't verified that yet (I'll check that this afternoon). So we can't close the issue until that is resolved. But it looks like that may be the only question left to answer before install/uninstall handling is re

[2018-02-07 17:35] lmorchard commented on #3328
FWIW, sometime soon, we'll need to bump our supported min version to reflect WebExtension Experiment usage in new experiments & the main Test Pilot add-on. That stuff is 59+ only - maybe 60+ to be safe considering [bug 1434076](https://bugzilla.mozilla.org/show_bug.cgi?id=1434076).

Maybe this will be a moot point considering timing of when this stuff will ship, but worth noting that we might not

[2018-02-07 17:38] lmorchard commented on #3177
Yeah, no - this happens in the add-on, independent of website visits. It's for the daily telemetry ping that measures what experiments are active

[2018-02-07 18:26] johngruen commented on #3177
I will reach out to Ilana and Sunah about this, I don't know if this ping is behind our redash dashboards or if that's just a filter on the installed add-ons field in telemetry. I think it's the latter, but I will confirm.

[2018-02-07 18:27] johngruen commented on #3328
No harm in leaving it manual for the time being

[2018-02-07 18:39] divyabaid16 commented on #3264
May I work on this issue ?
If yes, can you please guide me ?

[2018-02-07 18:41] chuckharmston commented on #3264
@divyabaid16 thanks for the interest! This is likely not a good bug for you to work on, we have some internal timing to work through. Instead, I'd suggest you look at our [Contribute](https://contribute.testpilot.firefox.com/) site, which lists good first bugs from across our projects.

[2018-02-07 20:05] fzzzy commented on #3177
@lmorchard the addon could load a hidden page which uses mozAddonManager to fetch the data, then sends it up to the addon.

Although if the other api does work, then it probably does make more sense to switch to that for the addon, then.

[2018-02-08 02:51] youwenliang commented on #3317
![default](https://user-images.githubusercontent.com/8919308/35953034-b195ad48-0cbd-11e8-843c-1092f3b64054.png)

Things I changed based on .status-bar
width: 440px;
height: 32px;
border-radius: 0 0 4px 4px;
margin-bottom: 30px;
background-color: #ffe900 (yellow-50)
border-bottom: 1px solid #d7b600 (yellow-60)
color: #000

[2018-02-08 19:47] #3178 closed, assigned to meandavejustice

[2018-02-09 10:57] SoftVision-PaulOiegas opened #3337 "[News Feed] No semitransparent background displayed when news are hovered or clicked"
**[Affected versions]:**
- Firefox 58.0.1 and above

**[Affected Platforms]:**
- Windows
- Mac OS
- Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to reproduce]:**
1.

[2018-02-09 13:19] SoftVision-PaulOiegas opened #3338 "[News Feed] The news date is wrongly displayed separately when article title is displayed on two rows"
**[Affected versions]:**
- Firefox 58.0.1 and above

**[Affected Platforms]:**
- Windows
- Mac OS
- Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to reproduce]:**
1.

[2018-02-09 13:27] SoftVision-PaulOiegas opened #3339 "[News Feed] The blue line uniting the news dots disappears in mobile view"
**[Affected versions]:**
- Firefox 58.0.1 and above

**[Affected Platforms]:**
- Windows
- Mac OS
- Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to reproduce]:**
1.

[2018-02-09 14:02] SoftVision-PaulOiegas opened #3340 "Footer links are wrongly overlapping on languages with long words, when resizing the browser window"
**[Affected versions]:**
- Firefox 58.0.1 and above

**[Affected Platforms]:**
- Windows
- Mac OS
- Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- A supported browser content

[2018-02-09 14:05] SoftVision-PaulOiegas opened #3341 "[News Feed] Footer links are wrongly displayed on center instead of left in mobile view"
**[Affected versions]:**
- Firefox 58.0.1 and above

**[Affected Platforms]:**
- Windows
- Mac OS
- Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to reproduce]:**
1.

[2018-02-09 21:11] meandavejustice commented on #3341
These may actually look better and be easier to click when in the center.

They aren't shown in the mockups [here](https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Featured_experiment/#artboard9). maybe we can do some digging to see what was in the designs for experiments page

[2018-02-09 21:20] meandavejustice commented on #3339
Marking this as `good-first-issue` as it's probably just simple css tweak in [/frontend/src/app/containers/NewsFeedPage/index.scss](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/containers/NewsFeedPage/index.scss?utf8=%E2%9C%93)

[Responsive design mode](https://developer.mozilla.org/en-US/docs/Tools/Responsive_Design_Mode) will be helpful in finding the fix here.

[2018-02-09 22:30] divyabaid16 commented on #3339
I would like to work on this issue.

[2018-02-12 13:27] flodolo opened #3344 "English strings appear in the middle of terms and privacy sentence for Notes"
Image is from the [l10n demo](https://testpilot-l10n.dev.mozaws.net/), but the same happens on prod

![schermata 2018-02-12 alle 14 24 58](https://user-images.githubusercontent.com/3644868/36098812-a3e4bdf6-1000-11e8-8d17-ce490aa84242.png)

Strings are from #3286, so they have been localized for a while at this point.

[2018-02-12 13:29] flodolo opened #3345 "News feed is hard-coded in template"
https://github.com/mozilla/testpilot/blob/8bbf2fc1b0253ead275fb01a76afca802fcb4c2e/frontend/src/app/components/Header/index.js#L145

[2018-02-12 15:42] lmorchard commented on #3345
Looks like this string is wrapped in `<Localized id="headerLinkNews">` on the line before. But, `headerLinkNews` doesn't appear in [`locales/en-US/app.ftl`](https://github.com/mozilla/testpilot/blob/master/locales/en-US/app.ftl)

[2018-02-12 15:50] flodolo commented on #3345
Uhm, right. How come tests didn't fail?

[2018-02-12 16:08] lmorchard commented on #3345
There's no way currently to test strings in app.ftl, because they're manually extracted. The place where we have tests is for experiments.ftl, because we can auto-extract strings and detect when some are missing.

[2018-02-12 16:11] flodolo commented on #3345
Ah, I completely missed that it was only for one part.

[2018-02-12 17:34] meandavejustice commented on #3339
Go for it @divyabaid16 , ping me if you have any issues

[2018-02-12 17:48] SoftVision-PaulOiegas commented on #3344
@flodolo Something must have happened since last week public deploy. We have checked the localization for that string on Dev, Stage and Production servers and it was all ok.
This was tested especially since the "Featured Experiment" section launch was delayed 1 sprint due to it. So I'm quite sure it was ok last week.

[2018-02-12 17:56] meandavejustice commented on #3313
This may be fixed with the work removing bootstrap from the addon. I'll self assign and make sure to loop back around to this one

[2018-02-13 00:20] teonbrooks commented on #3234
Here's a first pass on a spec for the featured experiment section of the TxP website:

### Event Category: `Featured Experiment`

| Description | eventAction | eventLabel |
| ------------ | ------------| ----------- |
| Click Featured Experiment Video | video click | Play Featured video
| Click View Details | link click | View Featured details
| Enable Featured Experiment | button click | Enable F

[2018-02-13 08:56] johngruen commented on #3234
@teonbrooks yeah, we can get video data from our youtube metrics

[2018-02-13 10:11] johngruen commented on #3234
Also, @teonbrooks I think you'll need to think a bit more carefully about what buttons are shown when test pilot is installed vs. not installed...Additionally, can you specify whether [custom dimensions](https://github.com/mozilla/testpilot/blob/master/docs/metrics/ga.md#custom-dimensions) will be applied to these metrics.

[2018-02-13 19:04] chuckharmston opened #3346 "Add link to Contribute site from Test Pilot itself."
I'd like to add a link to the [Contribute site](https://contribute.testpilot.firefox.com/) from Test Pilot itself. Two obvious possibilities:

1. In the header navigation
2. In the footer

Some deeper integration might also be possible, such as linking from an experiment page to a list of that project's good first bugs.

[2018-02-13 19:08] chuckharmston commented on #3346
@ChenMorpheus any thoughts here?

[2018-02-14 15:25] SoftVision-PaulOiegas commented on #3337
Played a bit with the Web Console Inspector rules since I needed some screenshots for our test cases. Probably it will look like this:
### Hovered ###
![news feed article hovered](https://user-images.githubusercontent.com/17258026/36212273-2c32ea96-11ac-11e8-8bc7-a144dff1cce8.png)

With 5% white background opacity and 20% white border opacity

### Pressed ###
![news feed article clicked](https://u

[2018-02-14 17:43] #3239 closed, assigned to chuckharmston

[2018-02-14 17:55] #3207 closed, assigned to nobody

[2018-02-15 16:36] chuckharmston commented on #3234
A reference to what we can gather from the YouTube player: https://developers.google.com/youtube/iframe_api_reference

[2018-02-15 17:31] #3042 closed, assigned to meandavejustice

[2018-02-15 17:50] b4handjr opened #3351 "Reduce the number of tests run in parallel for integration_tests job on circleci."

[2018-02-15 18:49] fzzzy commented on #3042
🎉

[2018-02-15 18:51] #3351 closed, assigned to b4handjr

[2018-02-15 19:50] johngruen commented on #3298
@fzzzy or whoever merges these things. I will land this after we tag b/c there is l10n.

[2018-02-15 21:26] ianb opened #3354 "Additions to Test Pilot Recommendations"
Some additional things that could be documented in [Test Pilot Recommended Development Process for Experiments](https://github.com/mozilla/testpilot/blob/master/docs/experiments/developing_an_experiment.md):

- At what stage in an experiment does this stuff apply? Prototype? After being "accepted"? (Is that a formal thing?)
- If you are a team coming in with your own resources (e.g., a team's prio

[2018-02-16 00:45] teonbrooks commented on #3234
just noticed that when I uninstall test pilot, all the experiments are still installed. is this the correct behavior?

there's a mismatch in what the button says and the noted state above the experiment.
<img width="450" alt="txp" src="https://user-images.githubusercontent.com/1578674/36288427-649e20f8-126f-11e8-9689-5a21561dad46.png">

few other comments/questions
-------------------------------

[2018-02-16 07:29] divyabaid16 commented on #3339
The blue line was not present in the mobile view or when the screen size was small. So I added them. Kindly review the PR.

[2018-02-16 12:09] divyabaid16 commented on #3337
Please review the PR.

[2018-02-16 14:19] johngruen commented on #3234
@teonbrooks WRT the state mismatch that's a known issue.

The other two are by design:
Test Pilot has a bunch of special permissions that mean you cannot run scripts on the page and Screenshots will be in beta for at least a few more release (gmail was in a public beta for like 10 years 😎)

[2018-02-16 14:46] SoftVision-PaulOiegas commented on #3042
The default browser dialog is displayed now with the error message for the privacy checkbox. 👍

[2018-02-16 15:04] #2668 closed, assigned to nobody

[2018-02-16 15:44] #3339 closed, assigned to nobody

[2018-02-16 16:41] johngruen commented on #3341
Let's do everything on the left

[2018-02-16 16:49] johngruen commented on #3321
let's bump the l/r padding down by a few pixels on each side

[2018-02-16 16:59] lmorchard commented on #3318
FWIW, I think we've had this issue since we started rendering the site statically and dropped the loading spinner. All pages are served up in English, translated strings aren't applied until our JS code starts up and the first React rendering happens. This could be more or less easily noticed depending on how fast your browser starts up the page.

We've also got [this issue for re-structuring the

[2018-02-17 15:14] divyabaid16 commented on #3321
@johngruen PR #3363 have failed two circleci builds. Can you please guide me for this?

[2018-02-19 09:54] SoftVision-PaulOiegas commented on #3234
@teonbrooks As @johngruen mentioned, the first issue you mentioned is already logged in #2378. However, this was only reproducible on experiments details page at the moment of logging. Now it also reproduces on the Homepage due to implementation of the "Featured Experiment" section that has the same broken functionality.

@johngruen Maybe we should raise the priority of #2378 because of this?

[2018-02-19 10:24] SoftVision-PaulOiegas commented on #3339
Uuu, nice fix @divyabaid16. Good Job and thanks for your contribution! 👍
Verified on Windows 10 and Mac OS 10.13 and it's correctly working.

[2018-02-19 10:48] SoftVision-PaulOiegas commented on #3337
Good fix and thanks for your contribution! 👍
Verified on Windows 10, Mac OS 10.13 and Ubuntu 14.04.

[2018-02-19 10:48] #3337 closed, assigned to nobody

[2018-02-19 11:44] SoftVision-PaulOiegas commented on #3265
Reopening because this issue still occurs and because the [desired flow](https://github.com/mozilla/testpilot/issues/3265#issuecomment-361646910) mentioned by @johngruen was not implemented.
The newsletter modal is still the main displayed and the tour pop up is first displayed for ~1 second if the TxP add-on install confirmation doorhanger is dismissed.

[2018-02-19 12:44] SoftVision-PaulOiegas opened #3364 "[Newsletter modal] Privacy checkbox is wrongly unchecked when you are returned to Newsletter modal after a rejected email address"
**[Affected versions]:**
- Firefox 58.0.2 and above

**[Affected Platforms]:**
- Windows
- Mac OS
- Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to reproduce]:**
1.

[2018-02-19 12:51] SoftVision-PaulOiegas opened #3365 "[News Feed] A dotted line selector is wrongly displayed around clicked news article on Linux"
**[Affected versions]:**
- Firefox 58.0.2 and above

**[Affected Platforms]:**
- Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to reproduce]:**
1. Start Firefox brow

[2018-02-19 16:26] meandavejustice commented on #3321
Hey @divyabaid16 the failures aren't your fault. Some code was merged into master on friday that caused the failures. It should be fixed up today and then your tests should pass. Sorry for the confusion

[2018-02-20 03:12] meandavejustice commented on #3177
I just remembered that we will also lose `disable` and `enable` events when removing the AddonManager tracking.

[2018-02-20 15:47] #3333 closed, assigned to nobody

[2018-02-20 16:28] #3250 closed, assigned to nobody

[2018-02-20 16:28] #3308 closed, assigned to nobody

[2018-02-20 16:50] #3341 closed, assigned to nobody

[2018-02-20 16:52] chuckharmston commented on #3321
Reviewing now!

[2018-02-20 17:01] chuckharmston opened #3367 ""More experiments" button position at small screen sizes"
<img width="383" alt="screen shot 2018-02-20 at 09 58 49" src="https://user-images.githubusercontent.com/23885/36437666-d87ae9a8-1624-11e8-8aa4-d1fda66d201d.png">

<img width="806" alt="screen shot 2018-02-20 at 10 00 21" src="https://user-images.githubusercontent.com/23885/36437689-ec8b872c-1624-11e8-977b-310fcae6aa89.png">

The position and opacity here are pretty awkward. Is this as UX intended

[2018-02-20 17:16] lmorchard commented on #3367
I think this [was by design](https://github.com/mozilla/testpilot/pull/3359#issuecomment-366437650), yeah /cc @johngruen

[2018-02-20 17:57] #3321 closed, assigned to nobody

[2018-02-20 20:26] johngruen opened #3368 "Dev is failing"
Dev is just showing a bluescreen right now with the following:

![screen shot 2018-02-20 at 2 21 54 pm](https://user-images.githubusercontent.com/3323249/36447428-04a63a3a-164a-11e8-9be8-d200dbbaa6be.png)

[2018-02-20 20:29] johngruen commented on #3367
Yeah, it was intended as an improvement over just having it in the middle where the two buttons sat on top of each other. I think it could stand a polish pass.

[2018-02-20 20:44] lmorchard commented on #3368
This looks like our usual intermittent issue with failed deployments on dev.

Usually fixed with [a rebuild on circleci](https://circleci.com/gh/mozilla/workflows/testpilot/tree/master). Just started one, let's see if that fixes it

[2018-02-20 21:07] #3368 closed, assigned to nobody

[2018-02-20 21:50] meandavejustice commented on #3181
fixed in https://github.com/meandavejustice/testpilot/commit/9c11090c64b0205d3d2965f025703221883b9777

[2018-02-20 21:50] #3181 closed, assigned to meandavejustice

[2018-02-20 23:12] johngruen opened #3371 "[Featured Experiments] Loading indicator and onboarding not displayed"
### STR

1. Make sure test pilot is uninstalled
2. click the `install test pilot and enable notes` button

### Results
Test Pilot and notes install but there is no barberpoll on the installing notes button and the experiment onboarding tour does not appear.

[2018-02-21 07:18] ChenMorpheus commented on #3346
@chuckharmston I think it depends on how we want to introduce this site. If we want to encourage more people to contribute, then I would say header navigation works great. If we only want to provide an entry point to users, then footer could be okay. However, linking from an experiment page is a great idea.

[2018-02-21 09:08] SoftVision-PaulOiegas commented on #3308
Seems to be fixed. 👍 Tested on Chrome and Opera on Windows and Firefox, Chrome and Safari on Mac OS.

[2018-02-21 09:17] SoftVision-PaulOiegas commented on #3341
Fixed 👍 Tested on Windows and Mac OS with multiple browsers and also on Firefox for Android (latest release).
Thanks for the contribution @divyabaid16!

[2018-02-21 09:37] SoftVision-PaulOiegas commented on #3321
Looks ok on my Galaxy S6 using French locale. Marking as verified. 👍
Thanks for the contribution @divyabaid16!

[2018-02-21 12:22] SoftVision-CosminMuntean opened #3373 ""More Experiments" string is not localized in the supported languages"
**[Affected versions]:**
- Firefox 58.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- A supported lan

[2018-02-21 12:51] SoftVision-PaulOiegas opened #3374 "[Featured Experiment] The "Enabled" label is no longer displayed if the experiment is enabled but Test Pilot was uninstalled"
**[Notes]:**
- The only time when the label is displayed, is when the "Uninstall" flow fails and you are not redirected to "Retire" page. In that case the "Experiments" page refreshes and the label is where it needs to be. You can see it on the end of the screen recording.
- Here is a screen recording of the issue: https://goo.gl/W3Y2ZK

**[Affected versions]:**
- Firefox Nightly 60.0a1

**[Affect

[2018-02-21 13:04] SoftVision-CosminMuntean opened #3375 "[Featured Experiment] "Enabling..." string is not localized in the supported languages"
**[Affected versions]:**
- Firefox 58.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- A supported lan

[2018-02-21 13:53] SoftVision-PaulOiegas opened #3376 "Newsletter privacy checkbox wrongly gains a red border when unchecked"
**[Affected versions]:**
- Firefox Nightly 60.0a1

**[Affected Platforms]:**
- Windows
- Mac OS
- Linux

**[Steps to reproduce]:**
1. Start Firefox browser and navigate to https://testpilot.dev.mozaws.net page.
2. Scroll down to the "Newsletter" section and click the textbox.
3. Enter at least 1 character in the text box.
4. Observe the displayed Privacy checkbox color.
5. Check and uncheck the ch

[2018-02-21 14:03] SoftVision-PaulOiegas opened #3377 ""Your email here" hint message is no longer displayed in the newsletter sign up textbox"
**[Affected versions]:**
- Firefox Nightly 60.0a1

**[Affected Platforms]:**
- Windows
- Mac OS
- Linux

**[Steps to reproduce]:**
1. Start Firefox browser and navigate to https://testpilot.dev.mozaws.net page.
2. Scroll down to the "Newsletter" section.
3. Observe the textbox displayed in the section.

**[Expected result]:**
- The textbox is correctly displayed and has white color with round corn

[2018-02-21 15:49] SoftVision-PaulOiegas opened #3379 "[Android] [Newsletter] The "Privacy" checkbox wrongly gains the text selection pointers each time it is tapped"
**[Affected versions]:**
- Firefox 58.0.2 or above

**[Affected Platforms]:**
- Android 7.0

**[Steps to reproduce]:**
1. Start Firefox mobile browser and navigate to https://testpilot.dev.mozaws.net page.
2. Swipe down until the Newsletter section is reached.
3. Tap on the email text box and enter at least 1 character.
4. Tap outside on empty area to close the keyboard and lose the field focus.
5

[2018-02-21 18:18] chuckharmston opened #3380 "Buttons should be able to expand and wrap."
Our current buttons break poorly when the text overflows its size. In #3321 we fixed one instance of this, but there are more:

<img width="1100" alt="screen shot 2018-02-21 at 08 47 22" src="https://user-images.githubusercontent.com/23885/36497538-d2debd4c-16f8-11e8-948d-c00e1e30ab82.png">

Rather than hunt out those instances and fix each individually, we should allow buttons to expand in size a

[2018-02-21 19:01] johngruen commented on #3073
Closing this since it seems like a profound edge case with lots of complexity.

[2018-02-21 19:01] #3073 closed, assigned to nobody

[2018-02-21 19:04] johngruen opened #3381 "scripts and stylesheets are 404-ing on dev"
![screen shot 2018-02-21 at 1 03 23 pm](https://user-images.githubusercontent.com/3323249/36499689-afb46e3e-1707-11e8-9023-084465e506e3.png)

[2018-02-21 20:09] johngruen opened #3382 "Everything the Add-on should do before we stop working on it"
This is intended to track discussion about the add-on once we remove all bootstrap components.

Here's a list of all of the things the add-on should do:

1. When installed, it should register a browserAction in the Firefox Toolbar
2. When clicked, that toolbar button should take the user to one of the following:
`${URL}/experiments?utm_source=testpilot-addon&utm_medium=firefox-browser&utm_campaign

[2018-02-21 21:31] lmorchard commented on #3381
[Tried a rebuild on circleci](https://circleci.com/gh/mozilla/workflows/testpilot/tree/master)? Looks like the deployment failure issue again. Basically whenever there's 404/403 errors, that's the most likely culprit

[2018-02-21 21:43] lmorchard commented on #3381
Looks like a rebuild fixed it

[2018-02-21 21:43] #3381 closed, assigned to nobody

[2018-02-22 09:50] SoftVision-PaulOiegas commented on #3371
@johngruen Maybe when we fix this, we should also treat the case when the featured experiment is already enabled but Test Pilot is not installed/disabled? The button should display only "Install the Test Pilot Add-on" string in that case.
The fix would also apply for the #2378 issue on "Experiment details" page.

However, I've noticed and logged another issue (#3374), where the "Enabled" label is

[2018-02-22 20:59] #3371 closed, assigned to nobody

[2018-02-22 21:34] meandavejustice opened #3384 "[release] 2018-02-22 on stage"
:)

[2018-02-23 14:52] SoftVision-CosminMuntean opened #3385 "The "Done" button from the experiment tour is not localized in the supported languages"
**[Affected versions]:**
- Firefox 58.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- A supported lan

[2018-02-25 21:37] johngruen commented on #3382
unassigned dave since this is a discussion bug and @meandavejustice is out for awhile. we can discuss this in our next sprint planning

[2018-02-25 21:38] johngruen commented on #3385
We should just use the same check we use in screenshots here. No way the string will fit across all locales

[2018-02-25 21:45] johngruen commented on #3159
uh, this no longer happens

[2018-02-25 21:45] #3159 closed, assigned to nobody

[2018-02-27 14:47] SoftVision-PaulOiegas opened #3387 "Featured Experiment section is not correctly updated after following the flow to install both TxP and Notes"
**[Affected versions]:**
- Firefox Nightly 60.0a1

**[Affected Platforms]:**
- Windows
- Mac OS
- Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to reproduce]:**
1. S

[2018-02-27 17:19] SoftVision-PaulOiegas commented on #3384
Hey guys,

We have just finalized testing the stage server. The pass rate is at 83%, Fail Known at 13% and Failed New at 4%. Here are the testing results:

### **Legend** ###
&#x1F4D5; - major issue
&#x1F4D9; - normal issue
&#x1F4D2; - minor issue

## New Issues ##
1. #3387 - &#x1F4D5; Featured Experiment section is not correctly updated after following the flow to install both TxP and Notes
2. #3

[2018-02-27 22:37] ghost commented on #3265
Clearing the milestone for re-triage.  If we didn't implement that flow, what did we implement?

[2018-02-28 01:51] chuckharmston commented on #3234
@teonbrooks How's this going? Anything we can help with?

[2018-02-28 10:22] SoftVision-PaulOiegas commented on #3265
This was fixed in the following days from my message. However, yesterday we have found a new issue related (#3387). We'll close this one since the remaining issue is tracked under that.
Thanks for bringing this up!

[2018-02-28 10:22] #3265 closed, assigned to meandavejustice

[2018-02-28 14:04] chuckharmston commented on #3387
@fzzzy and I both spent some time yesterday attempting to reproduce this, but were unable to.

@SoftVision-PaulOiegas Are there any additional STR you've been able to uncover to make this more reliably reproducible?

[2018-02-28 14:56] SoftVision-PaulOiegas commented on #3387
@chuckharmston @fzzzy We've tried to debug this further too and performed the next tests:
- We tried to do the steps both fast and slow in the idea of timing issue, but the same behavior happens no matter what.
- I tried with bandwidth throttling applications in the idea of reproducing this only on fast internet connections. No luck, 3G throttling behaves the same.
- Cosmin tried with US VPN and t

[2018-02-28 16:00] SoftVision-PaulOiegas opened #3390 "[Newsletter] Old Firefox logo is displayed on the Newsletter confirmation email"
**[Affected versions]:**
- Firefox Nightly 60.0a1

**[Affected Platforms]:**
- Windows
- Mac OS
- Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to reproduce]:**
1. S

[2018-02-28 16:32] SoftVision-PaulOiegas commented on #3273
The string is not entirely localized. See the "terms", "privacy" and "Notes privacy policy" words.

![string not entirely localized](https://user-images.githubusercontent.com/17258026/36799353-a88b6db6-1cb5-11e8-8415-e54da6a3f682.png)

[2018-02-28 19:23] chuckharmston commented on #3346
@johngruen any consideration?

[2018-02-28 20:23] jaredhirsch commented on #3382
GA ping or Telemetry ping?

[2018-02-28 20:47] lmorchard commented on #3382
I think we've been thinking GA ping, not thinking [bug 1280234](https://bugzilla.mozilla.org/show_bug.cgi?id=1280234) would be resolved. Maybe that will be too pessimistic?

[2018-03-01 07:39] divyabaid16 commented on #3379
I was searching through the files but I couldn't locate the exact place where the code should be modified. Can you please tell me that where is the file located, which is required to be modified?

[2018-03-01 09:55] SoftVision-PaulOiegas commented on #3379
@fzzzy @meandavejustice some help for our contributor? 😃
As QA I could only guess that might be somewhere around `frontend/src/app/components/Newsletter`.

[2018-03-01 10:23] SoftVision-PaulOiegas commented on #3387
I have excluded also our work network to be the problem. Used my Android phone to request the test Pilot desktop version and followed the Featured experiment flow. Same issue occurs even using 4G network.

So we are still betting on the testpilot.dev.mozaws.net/ vs testpilot.dev.mozaws.net/experiments installation. @chuckharmston Have you tried installing from the first also?

[2018-03-01 11:12] divyabaid16 commented on #3379
@SoftVision-PaulOiegas , please review.

[2018-03-01 13:22] SoftVision-PaulOiegas commented on #3379
As I've said, I'm only doing QA on Test Pilot. But probably one of the developers involved will help you with a review, as soon as they wake up and start working.
Thanks for the contribution!

[2018-03-01 16:39] chuckharmston opened #3393 "Consider a staging deployment to the production environment"
By deploying to, for example, `testpilot.firefox.com/staging`, we could do some last-minute testing on the production hostname before performing a full production deployment.

Lots of potential issues here, but logging the idea for discussion anyway.

[2018-03-01 16:51] lmorchard commented on #3393
I think one of the main issues, unfortunately, would be that the site has a pretty well-ingrained assumption on everything living at the root path of the domain. That could be changed with some elbow grease, though

[2018-03-01 17:26] marniepw commented on #3387
@chuckharmston or @fzzzy any luck with this issue?

[2018-03-01 17:54] SoftVision-PaulOiegas commented on #3387
This behavior seems to be related with other issues too.
#2897 - Uninstalling Test Pilot add-on randomly leaves you on the same page instead of "Retire"
#3374 - [Featured Experiment] The "Enabled" label is no longer displayed if the experiment is enabled but Test Pilot was uninstalled

On both the issues, the uninstall flow fails and you are left hanging on /experiments instead on Homepage. This i

[2018-03-01 19:52] chuckharmston commented on #3387
Update: I've still had no luck reproducing. Thanks for the extra info @SoftVision-PaulOiegas, I'll keep working on it.

[2018-03-01 20:40] lmorchard commented on #3176
Another thing that just occurred to me: Sounds like snippets still uses this as a data source. Could we pitch in with a PR on their repo to expedite switching to a different solution? I haven't looked at the code surrounding the check for window.navigator.testpilotAddon. But if their client-side filters can support something async, we might be able to substitute a ping to the addon and add their o

[2018-03-02 10:10] SoftVision-PaulOiegas opened #3395 "Welcome + Newsletter sign up modal is not displayed after installing TxP from bottom page button (normal flow)"
**[Affected versions]:**
- Firefox Nightly 60.0a1

**[Affected Platforms]:**
- Windows
- Mac OS
- Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to reproduce]:**
1. S

[2018-03-02 12:51] SoftVision-PaulOiegas commented on #3384
Two new issues logged meanwhile:
1. #3390 - &#x1F4D2; [Newsletter] Old Firefox logo is displayed on the Newsletter confirmation email
2. #3395 -  &#x1F4D9; Welcome + Newsletter sign up modal is not displayed after installing TxP from bottom page button (normal flow)

[2018-03-02 14:47] SoftVision-CosminMuntean opened #3396 "Multiple "Sending message that cannot be cloned..." warnings are displayed in browser console while any of the Test Pilot pages is opened"
**[Notes]:**
- This issue is only reproducible if Test Pilot add-on is installed.

**[Affected versions]:**
- Firefox 58.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Have the Test Pilot add-on installed on a new Firefox profile.

**[Steps to reproduce]:**
1. Open Firefox browser with the profile from prerequisites and navigate to "https://

[2018-03-02 23:50] fzzzy commented on #3387
I was able to repro once, but not again when I tried again immediately. One thing I noticed is that while I had started on / and expected to be redirected to /experiments after the tour, I was left on / once the repro happened.

There's some race condition with the addon being installed which sends a message to the webpage letting the webpage know the addon is installed.

[2018-03-02 23:53] fzzzy commented on #3387
Ok, I have a reliable repro now. When the tour pops up, quickly dismiss it with the "X" to close it instead of clicking through all the steps of the tour. Previously I would always go through all the tour steps, which takes longer and the addon is done installing by the time the user dismisses it.

[2018-03-03 00:32] marniepw commented on #3298
@johngruen ...?

[2018-03-03 01:11] SoftVision-PaulOiegas commented on #3387
Well, this is part of my steps. 😄  But I'm glad you guys finally caught it. As I've said, this seems to be related to other issues too (#2897 and #3374) and yes, seems to be a race condition at the root of all 3.

[2018-03-03 02:06] pdehaan commented on #3298
I believe these are pending in PR #3394; _"add grad urls"_.

[2018-03-05 02:29] Pekochen opened #3397 "The scroll hint postion is too close to the bottom"
<img width="1305" alt="screen shot 2018-03-05 at 10 20 17" src="https://user-images.githubusercontent.com/8252151/36954886-de9ea956-205f-11e8-8e3a-a16532b8952a.png">
More experiment is too close to the buttom.Please have a look.
Thanks

[2018-03-05 02:51] Pekochen opened #3398 "News feed page"
<img width="1302" alt="screen shot 2018-03-05 at 10 45 00" src="https://user-images.githubusercontent.com/8252151/36955269-6543179c-2062-11e8-962d-60a1b5f70d99.png">
There are two things need to be modified.
Please see the attached image.
1.test pilot image. please remove black outstroke.
2.There should not be a divider between each segment.

[2018-03-05 10:26] SoftVision-PaulOiegas commented on #3398
@Pekochen just one question regarding 1. Since all the articles for experiments have a round logo, shouldn't Test Pilot have one also to be consistent? Unless you want to clearly differentiate the platform from experiments.
That's why we haven't logged this as an issue in the first place, thinking it's intended.

[2018-03-05 14:17] #3387 closed, assigned to nobody

[2018-03-05 14:43] Paarmita commented on #3365
@marniepw
![screenshot from 2018-03-05 20-06-28](https://user-images.githubusercontent.com/26546816/36980766-48d861c6-20b1-11e8-86ca-05573c4e01ce.png)
On linux Firefox 58.0.2 version the link doesn't show the site

[2018-03-05 14:44] chuckharmston commented on #3365
@Paarmita that's expected. You'll need to follow the `our documentation` link on that page to finish setting up the development environment.

[2018-03-05 15:09] Paarmita commented on #3365
@chuckharmston this issue is no longer there now.

[2018-03-05 15:16] SoftVision-PaulOiegas commented on #3387
The fix seems to be working for normal flows. Now if you dismiss the tour, it redirects you to the /experiments page. 👍

However, we found two cases outside of the normal flow, where this is still not working:
1. One edge case that implies spamming "Esc" key after clicking on doorhanger "Add" button. Which leaves you on Homepage with both add-ons installed. Managed once to get also a blank /experi

[2018-03-05 15:19] #1257 closed, assigned to b4handjr

[2018-03-05 15:19] chuckharmston commented on #1281
We have a nice suite of integration tests, closing this.

[2018-03-05 15:19] #1281 closed, assigned to b4handjr

[2018-03-05 15:19] chuckharmston commented on #1334
We have a nice suite of integration tests, closing this.

[2018-03-05 15:19] #1334 closed, assigned to b4handjr

[2018-03-05 15:25] chuckharmston commented on #1716
@flodolo This is an ancient bug. Do you think there's any value in this in 2018?

[2018-03-05 15:29] chuckharmston commented on #1893
Since we're trying to slow down development on Test Pilot and this doesn't even break anything, I'm going to close this.

[2018-03-05 15:29] #1893 closed, assigned to nobody

[2018-03-05 15:32] flodolo commented on #1716
I've skimmed through the discussion.

As said, locales are requested via Pontoon's UI, and it will take care of adding the files to the repo.

I don't think there's anything to keep this discussion open.

[2018-03-05 15:32] #1716 closed, assigned to nobody

[2018-03-05 15:33] chuckharmston commented on #1998
Closing since Cliqz is retiring tomorrow. We can reopen if we ever have language-restricted experiments.

[2018-03-05 15:33] #1998 closed, assigned to nobody

[2018-03-05 15:39] chuckharmston commented on #2001
Given the infrequency with which this is used (less than 150 times ever, many of which will be SoftVision doing testing), the size of our non-English audience, and the amount of work it'd take to get this done correctly, I'm going to close it.

[2018-03-05 15:39] #2001 closed, assigned to nobody

[2018-03-05 15:40] chuckharmston commented on #2066
This seems unlikely to get done. Closing!

[2018-03-05 15:40] #2066 closed, assigned to nobody

[2018-03-05 15:40] chuckharmston commented on #2092
This has been shipped.

[2018-03-05 15:40] #2092 closed, assigned to nobody

[2018-03-05 15:41] chuckharmston commented on #2229
This was fixed by #2644.

[2018-03-05 15:41] #2229 closed, assigned to nobody

[2018-03-05 15:42] chuckharmston commented on #2299
Closing since heartbeat ratings are gone.

[2018-03-05 15:42] #2299 closed, assigned to nobody

[2018-03-05 15:43] chuckharmston commented on #2331
This no longer reproduces. Closing!

[2018-03-05 15:43] #2331 closed, assigned to nobody

[2018-03-05 15:45] chuckharmston commented on #2539
@johngruen Thoughts on the necessity of this moving forward?

[2018-03-05 15:47] chuckharmston commented on #2502
These pages are identical now. Closing!

[2018-03-05 15:47] #2502 closed, assigned to nobody

[2018-03-05 15:48] chuckharmston opened #3401 "Remove SharePage"
https://testpilot.firefox.com/share

This isn't linked from the add-on anymore and can be removed.

[2018-03-05 15:49] chuckharmston commented on #2476
This page isn't used anymore. Closing!

[2018-03-05 15:49] #2476 closed, assigned to nobody

[2018-03-05 15:50] chuckharmston commented on #2473
<img width="533" alt="screen shot 2018-03-05 at 08 49 47" src="https://user-images.githubusercontent.com/23885/36984476-3492f9c4-2052-11e8-8c63-cbc34ddef660.png">

Old issue that doesn't reproduce anymore. Closing!

[2018-03-05 15:50] #2473 closed, assigned to lmorchard

[2018-03-05 15:51] chuckharmston commented on #2400
I still don't think there's much we can do about it on our end. Closing.

[2018-03-05 15:51] #2400 closed, assigned to nobody

[2018-03-05 15:54] chuckharmston commented on #2393
Tab Center is no longer in Test Pilot. We can reconsider if a new experiment requires it. Closing!

[2018-03-05 15:54] #2393 closed, assigned to nobody

[2018-03-05 15:54] chuckharmston commented on #2379
This is pretty edge-casey and probably can't be a priority. Going to close it.

[2018-03-05 15:54] #2379 closed, assigned to nobody

[2018-03-05 15:57] chuckharmston commented on #2378
The current behavior: if the Test Pilot extension is installed and disabled, it behaves as if it was installed and enabled. Let's look into this more.

[2018-03-05 16:01] SoftVision-CosminMuntean opened #3402 "[Featured experiment] You are not redirected to /experiments page if page refresh is performed on the Notes tour after installation"
**[Notes]:**
- If Test Pilot is already installed and you navigate to "https://testpilot.dev.mozaws.net" page, you are automatically redirected to the "/experiments" page.

**[Affected versions]:**
- Firefox Nightly 60.0a1

**[Affected Platforms]:**
- Windows
- Mac OS
- Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpin

[2018-03-05 16:02] chuckharmston commented on #2560
Some of these are still not easily-resolvable. Should we allow `unsafe-inline` styles here?

[2018-03-05 16:02] chuckharmston commented on #2564
We haven't heard report of this in a long time. Closing for now.

[2018-03-05 16:02] #2564 closed, assigned to nobody

[2018-03-05 16:03] chuckharmston commented on #2593
We'll be removing the share page. Closing.

[2018-03-05 16:03] #2593 closed, assigned to nobody

[2018-03-05 16:06] chuckharmston commented on #2582
This documentation has since been updated and is no longer incorrect. Closing!

[2018-03-05 16:06] #2582 closed, assigned to nobody

[2018-03-05 16:07] chuckharmston commented on #2577
This is a good idea, but has never been designed and won't be implemented in H1. Leaving it open for posterity.

[2018-03-05 16:08] chuckharmston commented on #2600
We've done a redesign since this bug was filed. Closing.

[2018-03-05 16:08] #2600 closed, assigned to nobody

[2018-03-05 16:08] chuckharmston commented on #2609
@fzzzy is there any value to this still?

[2018-03-05 16:08] SoftVision-CosminMuntean commented on #3387
I have logged a new issue, #3402, related to the second case described in the above comment.

[2018-03-05 16:09] chuckharmston commented on #2612
This is still hard to do, but may be easier using something like [`react-helmet`](https://github.com/nfl/react-helmet). Let's investigate that.

[2018-03-05 16:09] chuckharmston commented on #2650
This isn't relevant anymore, closing.

[2018-03-05 16:09] #2650 closed, assigned to nobody

[2018-03-05 16:11] chuckharmston commented on #2656
Since we [can't detect middle clicks](https://github.com/mozilla/testpilot/issues/3309#issuecomment-363119326), this bug isn't fixable. Closing.

[2018-03-05 16:11] #2656 closed, assigned to nobody

[2018-03-05 16:14] chuckharmston opened #3404 "Remove groundcontrol"
As wonderful as it was, it's no longer able to set prefs and does not work.

[2018-03-05 16:15] chuckharmston commented on #2691
@SoftVision-PaulOiegas is this a problem you ever face anymore? Can we close this?

[2018-03-05 16:16] chuckharmston commented on #2709
As noted above, Discourse is the place where this happens. Closing.

[2018-03-05 16:16] #2709 closed, assigned to nobody

[2018-03-05 16:17] chuckharmston commented on #2695
No longer valid, closing.

[2018-03-05 16:17] #2695 closed, assigned to nobody

[2018-03-05 16:24] chuckharmston commented on #2745
<img width="1112" alt="screen shot 2018-03-05 at 09 24 16" src="https://user-images.githubusercontent.com/23885/36986431-01a46462-2057-11e8-8130-fa1c5bcf4c52.png">

Since Tor is on a pre-57 channel, it now serves an appropriate error message. Closing.

[2018-03-05 16:24] #2745 closed, assigned to SoftVision-PaulOiegas

[2018-03-05 16:52] chuckharmston commented on #2782
Slightly repurposing this bug to make sure that we have good test coverage for the add-on in a post-bootstrap world.

[2018-03-05 16:54] chuckharmston commented on #2773
For reasons Les outlined, it's going to be very challenging to change the job titles. Strings in `experiments.json` should more-or-less be considered like fields in a record in a content management system. The way they're entered and identified would make it very challenging to deduplicate values, doubly-so if someone's job title changes.

We should investigate if there are ways to improve the `Yo

[2018-03-05 17:02] chuckharmston commented on #2829
I can reproduce this still, but this is a very edge-casey problem and I'd tend to want to close it.

Before doing so: @aswan, is there anything we're doing wrong here?

[2018-03-05 17:02] chuckharmston commented on #2840
The 57 train has sailed, and we can no longer do this.

[2018-03-05 17:02] #2840 closed, assigned to nobody

[2018-03-05 17:04] chuckharmston commented on #2848
Old versions now get a message preventing them from viewing the site at all. Closing.

[2018-03-05 17:11] chuckharmston commented on #2866
The fix for this is to make sure that the store correctly receives updates to add-on installation, uninstallation, enabling, and disabling, and would be a generally positive change for our code quality and UX.

[2018-03-05 17:23] aswan commented on #2829
I don't think Test Pilot should have to do anything special here.  I would guess that somebody added code to the AMO front-end to explicitly cancel pending installs when a page is closed, but the browser should handle that by itself.  Can you open a Firefox issue?

[2018-03-05 17:24] chuckharmston commented on #2829
@SoftVision-PaulOiegas, got that?

[2018-03-05 17:31] #3298 closed, assigned to johngruen

[2018-03-05 17:35] fzzzy commented on #2609
@chuckharmston I think there would be a tiny speed boost. Since it is working now, might as well close this.

[2018-03-05 17:35] #2609 closed, assigned to nobody

[2018-03-05 17:41] fzzzy commented on #2866
The actual bug here may be that we don't redirect from /experiments to / when the add-on is not installed.

Also, be careful to close about:addons while testing, because the "undo" ui of about:addons causes the installation state to be incorrectly reported, and there's nothing we can do about that.

[2018-03-05 17:56] chuckharmston opened #3405 "Move back to react-router."
We removed `react-router` due to problems in our localization process that have since been resolved. At this point in time, I think it makes sense to restore it for a few reasons:

1. Being a single-page app will be a much better and smoother UX.
1. It's a de facto library, and will make it easier for contributors familiar with React to help us.
1. We store a bunch of state that we asynchronously

[2018-03-05 18:03] chuckharmston commented on #2924
This might be useful for #3405, but otherwise I'm going to leave this as stretch.

[2018-03-05 18:05] chuckharmston commented on #2897
I can't repro this in 20 attempts, so I'm going to close it; @SoftVision-PaulOiegas would you mind double-checking that I'm not missing repro steps here?

[2018-03-05 18:13] chuckharmston commented on #2995
We do not use frame scripts anymore.

[2018-03-05 18:13] #2995 closed, assigned to nobody

[2018-03-05 18:14] chuckharmston commented on #2978
Dupe #3183

[2018-03-05 18:14] #2978 closed, assigned to nobody

[2018-03-05 18:15] chuckharmston commented on #2946
This is still not on v2, but I'd like to keep this on our radar. It will be an excellent thing to do before putting Test Pilot into autopilot.

[2018-03-05 18:16] chuckharmston commented on #3008
This is a big project, and I don't think we should worry about accomplishing it before setting down Test Pilot for a while, so I'm going to close it. I [made a suggestion](https://github.com/mozilla/testpilot/issues/2612#issuecomment-370470127) for a way we can accomplish #2612 without this bug.

[2018-03-05 18:16] #3008 closed, assigned to nobody

[2018-03-05 18:21] chuckharmston commented on #3010
<img width="191" alt="screen shot 2018-03-05 at 11 20 52" src="https://user-images.githubusercontent.com/23885/36992150-4b041228-2067-11e8-929a-da81d0d034ee.png">

This is no longer an issue. Closing!

[2018-03-05 18:21] #3010 closed, assigned to nobody

[2018-03-05 18:21] chuckharmston commented on #3027
We won't be doing this in the near- or mid- term, so I'm closing.

[2018-03-05 18:21] #3027 closed, assigned to johngruen, ChenMorpheus

[2018-03-05 18:23] chuckharmston commented on #3028
We won't be doing this in the near- or mid- term, so I'm closing.

[2018-03-05 18:23] #3028 closed, assigned to johngruen, ChenMorpheus

[2018-03-05 18:23] chuckharmston commented on #3032
We won't be doing this in the near- or mid- term, so I'm closing.

[2018-03-05 18:23] #3032 closed, assigned to johngruen, ChenMorpheus

[2018-03-05 18:23] chuckharmston commented on #3033
We won't be doing this in the near- or mid- term, so I'm closing.

[2018-03-05 18:23] #3033 closed, assigned to johngruen, ChenMorpheus

[2018-03-05 18:24] lmorchard commented on #3008
FWIW, this includes more than just the page title - e.g. our header tags for social media sharing are all en-US only (#2001). But, noticed that issue's closed too, so I guess this is just a comment for posterity :)

[2018-03-05 18:25] chuckharmston commented on #3061
I'll leave this as a good first issue, but I don't expect we'll be getting to it any time soon.

[2018-03-05 18:28] fzzzy commented on #3405
https://github.com/mozilla/testpilot/compare/master...fzzzy:use-react-router-4?expand=1

The pages render now, but routing doesn't seem to be happening properly. Investigating.

[2018-03-05 18:29] chuckharmston commented on #3064
We should update these images.

[2018-03-05 18:36] chuckharmston commented on #3075
Realistically, we are not likely to find time to do this.

[2018-03-05 18:36] #3075 closed, assigned to nobody

[2018-03-05 18:37] chuckharmston commented on #3074
<img width="952" alt="screen shot 2018-03-05 at 11 32 49" src="https://user-images.githubusercontent.com/23885/36992868-789eb61e-2069-11e8-9aeb-448ea4d73d38.png">
This bug no longer reproduces.

[2018-03-05 18:37] #3074 closed, assigned to nobody

[2018-03-05 18:40] chuckharmston commented on #3097
@ryanfeeley could we get some updated screenshots for this?

[2018-03-05 18:41] fzzzy commented on #3075
Besides, in the last few months the sentry has been extremely quiet. I look at a lot of them, and they are almost always really ancient browser versions that are malware infested. We can't do anything about those.

But, this means we fixed the bugs that were causing the sentry to be noisy! \o/

[2018-03-05 18:41] chuckharmston commented on #3111
@lmorchard how much more of this would you suggest is necessary before setting down Test Pilot for a while? It's all working, so I'm sort of interested in ignoring this for a while.

[2018-03-05 18:43] fzzzy commented on #3111
I feel like it is so close now, it's worth taking it over the finish line. It would be able to remove a large chunk of dependencies, big bang for the buck.

[2018-03-05 18:44] chuckharmston commented on #3111
I don't want to close it, but I'm not sure this work should be blocking for our plans to stop work on Test Pilot. Happy to be told otherwise, though.

[2018-03-05 18:47] chuckharmston commented on #3148
We're just using `border-radius` here, I don't think this is something we can control. @SoftVision-PaulOiegas this might be a good candidate for a m-c bug though.

[2018-03-05 18:47] #3148 closed, assigned to nobody

[2018-03-05 18:47] chuckharmston commented on #3152
It's a critical piece of all our important funnels, I'd like to make sure it's well-tested.

[2018-03-05 18:51] chuckharmston commented on #3154
[code]

Different errors now, but we should resolve these.

[2018-03-05 18:54] chuckharmston commented on #3156
This was a great catch, but the fix for this would involve blocking off the ability to click on `Blog` and part of `News Feed` while the settings menu is open. Given that choice, I'd prefer this behavior.

[2018-03-05 18:54] #3156 closed, assigned to nobody

[2018-03-05 18:55] chuckharmston commented on #3158
I have no idea what this is referring to, but I couldn't reproduce. I'll close for now, but would appreciate it if you could take a poke at it @SoftVision-PaulOiegas.

[2018-03-05 18:55] #3158 closed, assigned to meandavejustice

[2018-03-05 18:56] chuckharmston commented on #3160
Closing as a dupe of #2867.

[2018-03-05 18:56] #3160 closed, assigned to meandavejustice

[2018-03-05 18:56] chuckharmston commented on #3161
This is very reasonable, but needs UX work, and we don't really have UX resources right now.

[2018-03-05 18:56] lmorchard commented on #3111
As long as we're comfortable riding on the gulp-based stuff we have right now, I wouldn't say this should block anything. Nice to have, wouldn't close it, but wouldn't hold up any trains for it. Practically speaking, I don't think the site generation stuff is the cause of any fragility we've seen

[2018-03-05 19:00] chuckharmston commented on #3264
@fzzzy want to ship this during this sprint?

[2018-03-05 19:01] chuckharmston commented on #3269
This will be addressed in #3405.

[2018-03-05 19:01] #3269 closed, assigned to nobody

[2018-03-05 19:02] chuckharmston commented on #3287
I'd like to do this, it will help us identify localization problems without working much on the site.

[2018-03-05 19:03] chuckharmston commented on #3229
We're using browser UI for this rather than Test Pilot UI. Closing.

[2018-03-05 19:03] #3229 closed, assigned to nobody

[2018-03-05 19:04] chuckharmston commented on #3309
#3405 will solve this. Closing.

[2018-03-05 19:04] #3309 closed, assigned to chuckharmston

[2018-03-05 19:05] chuckharmston commented on #3405
Note that we can go back to asynchronously tracking navigation events, which we stopped doing in #3232.

[2018-03-05 19:09] chuckharmston commented on #3318
This is something that will be solved by #3405, but I'm going to leave it open so we can do specific testing on this after that lands.

[2018-03-05 19:10] chuckharmston commented on #3320
I can't reproduce this in release Chrome. Is it still an issue?

[2018-03-05 19:21] chuckharmston commented on #3365
@SoftVision-PaulOiegas would you mind checking that?

[2018-03-05 19:27] chuckharmston commented on #3376
We need to set [`:invalid`](https://developer.mozilla.org/en-US/docs/Web/CSS/:invalid) rules for this.

[2018-03-05 19:30] chuckharmston commented on #3377
Let's make sure the placeholder text is there.

[2018-03-05 19:36] chuckharmston commented on #3396
@aswan any thoughts here? This strikes me as likely being an issue on the Gecko side, but it doesn't appear to be causing any bugs here.

[2018-03-05 19:37] chuckharmston commented on #3393
@fzzzy @lmorchard @meandavejustice @dannycoates Any other thoughts here?

[2018-03-05 19:38] chuckharmston commented on #3390
Related to #3064

[2018-03-05 19:38] chuckharmston commented on #3385
@johngruen what check are you talking about?

[2018-03-05 19:39] chuckharmston commented on #3384
We've closed the one major issue and it's been verified. @fzzzy would you like to do the honors?

[2018-03-05 19:50] chuckharmston commented on #3316
That's the :focus state, which happens to be the same as the :hover state. It's a UX call if they should be different.

[2018-03-05 19:55] dannycoates commented on #3393
What does the prod domain offer / enable that stage doesn't? I'd prefer to bring stage up to parity with prod (if we can) before going this route.

-- forgive me, I haven't been in this code for a while

[2018-03-05 20:03] chuckharmston commented on #3393
It's specifically the browser's restrictions around `mozAddonManager` that are problematic; [all of this](https://github.com/mozilla/testpilot/blob/master/docs/development/quickstart.md#for-linux--os-x-hosts) is required, which brings stage and prod out of parity in terms of simple testing. This caused a deployment issue a few sprints ago.

[2018-03-06 02:44] johngruen commented on #3401
Good call

[2018-03-06 06:44] Pekochen commented on #3398
![image 1](https://user-images.githubusercontent.com/8252151/37017713-93d8e312-214c-11e8-957a-47a53d3f8ddb.png)
how about using this simple test pilot icon with a circle? It may look more consistent with others.

[2018-03-06 09:41] Paarmita commented on #3340
@chuckharmston This issue is no longer there. Is it still open?
![screenshot from 2018-03-06 15-10-39](https://user-images.githubusercontent.com/26546816/37025053-aea51734-2150-11e8-85e9-a9c04c46c0a5.png)
![screenshot from 2018-03-06 15-10-13](https://user-images.githubusercontent.com/26546816/37025054-aed93906-2150-11e8-8027-043671ec6a34.png)

[2018-03-06 10:06] Paarmita commented on #3390
@chuckharmston Can I work on this issue?

[2018-03-06 10:51] SoftVision-PaulOiegas commented on #2848
@chuckharmston Nope, still reproducing for Notes at least. They raised the min version to Fx 57, but Test Pilot still having 54 as min version. We have a [bug](https://github.com/mozilla/testpilot/issues/3328) for this since Feb 6th, but no one worked on it since then...

You can see in the screenshot that I've enabled it, but the toolbar button is a placeholder and Notes sidebar is totally broken

[2018-03-06 11:21] Trupti-R commented on #616
I am getting this error (TypeError: document.querySelector(...) is null) again on firefox 58.0.2 . I have two json addons jsonlite and jsonvich . Not sure if it is a firefox issue or one of the add ons causing this . Could you please help ?

[2018-03-06 13:57] chuckharmston commented on #3390
@Paarmita unfortunately, this one is not related to the code in this repository and probably requires a Mozilla employee to work on.

May I suggest that you look at our [Contribute site](https://contribute.testpilot.firefox.com/) for a list of good bugs for community members to work on?

[2018-03-06 13:58] chuckharmston commented on #3340
@Paarmita yes, if you change your browser's language settings to German, it does still reproduce.

[2018-03-06 14:05] SoftVision-PaulOiegas commented on #2829
Will log it and post the link to it here also. Just need to find some time first for that. 🐌

[2018-03-06 14:34] SoftVision-PaulOiegas commented on #2897
@chuckharmston Managed to reproduce it 3 times in 20 attempts. Now the number it's not constant, before I've tried installint TxP + Notes and only managed twice in 20 attempts.
Steps used:
1. Install TxP together with an experiment.
2. After both are installed, Settings > Uninstall Test Pilot > Proceed.

Randomly, I'm left on the same page without TxP add-on installed. I can do a screen recording,

[2018-03-06 14:42] SoftVision-PaulOiegas commented on #3074
For now it doesn't, because a new issue was introduced in #3274. Will double check when that gets fixed.

[2018-03-06 14:48] SoftVision-PaulOiegas commented on #3158
I think it was related to the "Notes privacy policy" button that opens the Notes privacy message in a modal. I think we had another issue for this that was fixed a while ago.
Tried to reproduce it too, but I don't think it's still happening.

[2018-03-06 14:56] SoftVision-PaulOiegas commented on #3320
@chuckharmston Yep, still reproduces on latest Chrome version. Just a reminder, this only reproduces on [experiment details page](https://testpilot.dev.mozaws.net/experiments/notes). No other page is affected.

[2018-03-06 15:10] chuckharmston commented on #3320
![2018-03-06 08_02_02](https://user-images.githubusercontent.com/23885/37039432-b35ebb36-2114-11e8-9575-f70d7a566fc1.gif)
Am I missing something? Is it maybe Windows-only?

[2018-03-06 15:14] SoftVision-PaulOiegas commented on #3365
Still reproducible on my Ubuntu 16.04 using latest Nightly and Latest Beta (59).
Here is a recording: https://goo.gl/Ayiwdt.

[2018-03-06 16:00] SoftVision-PaulOiegas commented on #3385
@chuckharmston If I got it right form the meeting where this was discussed, he was referring to something like a checkmark "✔️" that is also implemented on Screenshots tour.

This one to be more specific:

![img_06032018_175859_0](https://user-images.githubusercontent.com/17258026/37042966-2f9c1600-2168-11e8-80b5-ebb3f72418fa.png)

[2018-03-06 16:03] chuckharmston commented on #3385
Aha! I thought he meant "check" as in "an attempt to look for something".

[2018-03-06 16:05] SoftVision-PaulOiegas commented on #3384
Promised @marniepw that I will deal with it after the production release. 😈

[2018-03-06 16:18] SoftVision-PaulOiegas commented on #3401
Noooooooo 😭 not my issues generator. Sad that was Photonized recently.
Why is this not used anymore? Didn't produced enough advertise when it was displayed for the users?

[2018-03-06 16:38] SoftVision-PaulOiegas commented on #3320
No, but it seems that retina displays do not show this issue. Just checked Mac OS 10.13 with my old iMac (1080p) and it looks even worse than on Windows. But the issue does not reproduces on the MBP with retina display.

Screen recording: https://goo.gl/Z9LdWL.

[2018-03-06 16:43] #3379 closed, assigned to nobody

[2018-03-06 17:22] SoftVision-PaulOiegas commented on #3379
Seems to be working just fine. 👍 Great work, thanks again for the contribution @divyabaid16 !

[2018-03-06 20:47] ryanfeeley commented on #3097
@chuckharmston This is the current mockup devs are working from BUT not built yet nor released. https://mozilla.invisionapp.com/share/6VBUYHMRB#/281041484_Firefox_Notes

[2018-03-07 19:47] aswan commented on #3396
This is a Firefox issue.  @SoftVision-CosminMuntean you list 58.0.2 and above as affected, does that mean this didn't occur in earlier versions?  Or is that just what's been tested?  (no need to test older versions if you haven't done so, I'm just trying to figure out if this was a recent regression or not)

[2018-03-08 01:01] #3401 closed, assigned to chuckharmston

[2018-03-08 01:02] #2537 closed, assigned to chuckharmston

[2018-03-08 15:39] #3013 closed, assigned to chuckharmston

[2018-03-08 15:57] SoftVision-CosminMuntean commented on #3396
I haven't test this issue on Firefox versions lower than 58 when I have logged it due to time constrains. I've found a bit of time today to test with older Firefox versions too. It seems that the issue is also reproducible on older versions, but I was forced to stop at Firefox 49.0 since Test Pilot website is not available for versions lower than it.

Also, in the current implementations of Test P

[2018-03-08 20:27] #3404 closed, assigned to chuckharmston

[2018-03-09 13:32] welljahinge opened #3413 "It is a snapshot of the page as it appeared on 7 Mar 2018 09:32:30 GMT."

[2018-03-09 13:33] welljahinge commented on #3413
It is a snapshot of the page as it appeared on 7 Mar 2018 09:32:30 GMT.

[2018-03-09 13:49] SoftVision-PaulOiegas commented on #3413
Hello @welljahinge and thanks for your report. However, I cannot understand what your issue is about. Can you please give us more details regarding your issue?
Also, I'm not able to see any snapshot image in your report.

[2018-03-10 04:49] Paarmita commented on #3376
@chuckharmston Can I work on this issue?

[2018-03-12 11:53] SoftVision-PaulOiegas commented on #3413
Closing this since nothing is actionable here. Please reopen if you provide more details.

[2018-03-12 11:53] #3413 closed, assigned to nobody

[2018-03-13 05:12] aswan commented on #3396
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1445130, I think this issue can probably be closed.

[2018-03-13 23:36] ghost commented on #3354
Thanks Ian!

I revised our project checklist and added reviewing this document to our kickoff meeting notes, which I think will address these.

I'll add a link to our calendar.

I clarified the GitHub paragraph, although it's not really a deal breaker I think.

It's called out directly in the linked doc (ga.md).

These are going to depend on the experiment too, and will come up as we move through

[2018-03-14 00:46] fzzzy commented on #3396
Thanks @aswan. We'll track it there.

[2018-03-14 00:46] #3396 closed, assigned to nobody

[2018-03-14 05:43] #3354 closed, assigned to clouserw

[2018-03-14 15:02] chuckharmston commented on #3328
Nee, 58.

[2018-03-14 15:03] johngruen commented on #3097
Let's do this with the multinote release

[2018-03-14 15:11] SoftVision-PaulOiegas commented on #3376
@Paarmita if you think you got the needed skills required, go for it! 👍

[2018-03-14 16:09] #3328 closed, assigned to chuckharmston

[2018-03-14 18:17] ghost opened #3420 "[release] 2018-03-14 on stage"
Please QA stage.

- Verification documentation: https://github.com/mozilla/testpilot/blob/master/docs/development/verification.md
-  Release notes: https://github.com/mozilla/testpilot/releases
- Test at http://testpilot.stage.mozaws.net/

[2018-03-14 18:26] chuckharmston commented on #3420
Of note here, we updated the minimum version of Firefox required to 58. We should make sure to QA all the various related workflows with older Firefox versions.

[2018-03-15 01:11] ghost commented on #3377
Hello @chuckharmston I would like to work on this issue

[2018-03-15 01:12] chuckharmston commented on #3377
Excellent, @csd713! It should have the HTML `placeholder` attribute with the localized string `newsletterFormEmailPlaceholder`. Let me know if you have any troubles.

[2018-03-15 04:42] ghost commented on #3377
Hi @chuckharmston thank you. I figured out the place to make changes for this issue.
However, I have a question regarding localization of string.
https://github.com/mozilla/testpilot/blob/ffd98fecb54fd2f562128966fe04f95da909fe7b/locales/en-US/app.ftl#L195
Is `newsletterFormEmailPlaceholder` variable combined with `.placeholder` or do we have a wrong variable `.placeholder` on next line in that fil

[2018-03-15 14:50] chuckharmston commented on #3377
That's how `fluent-react` localizes HTML attributes.

More about the FTL syntax here: http://projectfluent.org/fluent/guide/attributes.html

And you can see an example just like this one here: https://github.com/projectfluent/fluent.js/wiki/Localized

[2018-03-15 15:04] SoftVision-PaulOiegas opened #3421 "[Graduation] Cliqz experiment wrongly appears to be graduated on March 6th on both dev and stage servers"
**[Affected versions]:**
- Firefox Beta 60.x and above

**[Affected Platforms]:**
- Windows
- Mac OS
- Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

**[Steps to reproduce]:**