[2016-11-02 20:25] chuckharmston commented on #557
@ckprice it wasn't, and this bug won't land in this sprint.

Without a lot of engineering work, we won't be able to use Pontoon for this; strings will have to get added manually. So the sooner we can get the German translations necessary, the sooner we can start testing this. I'm not sure who to talk to about that.

[2016-11-02 20:29] johngruen commented on #557
@chuck I can coordinate any german strings we need with the German team

[2016-11-02 20:48] ghost commented on #557
We chatted about this briefly on IRC.  We can just support .properties files in the add-on and pontoon will work fine.  This should be straight forward.  You can see Min Vid doing this at https://github.com/meandavejustice/min-vid/commit/4341c32e7e2212c1ca5f008bd0859c7defc6f489 (although note that the .properties files need to be in /locale/%LOCALE%/whatever.properties instead of what min vid is d

[2016-11-02 20:52] lmorchard commented on #557
Just tweaked the title to get us less snagged on the literal l20n issue (or maybe just me, because I was scratching my head since March)

[2016-11-02 20:58] lmorchard commented on #1575
I think they preserve the query string because they're not actually redirecting anymore, since [I started us uploading `/experiment/foo` along with `/experiment/foo/index.html`](https://github.com/mozilla/testpilot/commit/af3940b622c34b7da776eabcb9c7bb1290fdc470). So maybe that fixed the issue, and the lost query strings thing isn't a problem anymore?

Static hosting is off on the dev bucket, and

[2016-11-02 21:00] lmorchard commented on #1575
Feeling a little confused where we're at, but I think maybe we're good (?) to just turn off web hosting on prod & stage? And not bother trying to apply headers to error pages?

[2016-11-02 21:15] chuck commented on #557
Hi folks, just a note that I'm @chuck, not the Chuck that works on this project. :)

[2016-11-02 21:16] chuckharmston commented on #557
Sorry about that, Chuck! Great name though. Solid. Sounds dependable.

[2016-11-02 21:17] johngruen commented on #557
My bad, I guess i just need more Chucks in my life!

[2016-11-02 21:17] april commented on #557
@chuckharmston Sure, but does this @chuck _also_ answer to Chuckles?

[2016-11-02 21:18] pdehaan commented on #557
We've reached peak Chuck.

[2016-11-02 21:21] bittin commented on #557
haha ey Chuck can you tell me when i can start translate this on Pontoon ?
:D

On Wed, Nov 2, 2016 at 10:18 PM, Peter deHaan notifications@github.com
wrote:

[2016-11-02 21:30] chuckharmston commented on #557
@bittin soon, possibly as soon as today! We're tracking that [on Bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1280410).

[2016-11-02 23:42] ghost commented on #1724
Related: https://github.com/mozilla/testpilot/issues/1308

[2016-11-02 23:44] ghost commented on #1732
3 is possible, but you're asking for trouble (easy example: embedding an LTR name in an RTL language and the nightmare that makes for punctuation, etc.).  Is there a reason you wouldn't just treat it as a normal field?  Localizers are smart - they can work around brands (especially with a good L10n comment!)

[2016-11-03 03:49] ghost opened #1735 "Implement metrics broker"
There is an idea/dream/blueprint at https://github.com/mozilla/testpilot/pull/1662 of a new metrics function implemented in Test Pilot.  We should implement it (as a new function, probably, to not mess with the current experiments).

At a minimum lets connect GA and Telemetry.  For extra credit, sync up with Tim or Marina and let's start pinging Tim's pipeline too.  Activity Stream code uses it, a

[2016-11-03 15:41] noyonlp opened #1738 "https://testpilot.firefox.com/?utm_source=copy&utm_medium=social&utm_campaign=share-page"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-11-03 16:07] #1738 closed, assigned to nobody

[2016-11-03 16:40] xuanhoang77 opened #1739 "redacted"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-11-03 16:40] #1739 closed, assigned to nobody

[2016-11-03 17:15] lmorchard commented on #1334
Well, my question was about mocking up for unit tests - I'd still like to see us use the real APIs for integration testing. We've had some unexpected interactions at times when tests passed, but the tests missed some quirk of the real API. Might be overkill, but I'm super paranoid about things not working the way we thought they did, at this point.

Maybe for add-on installation we can get away wi

[2016-11-03 17:20] #1509 closed, assigned to nobody

[2016-11-03 17:50] johngruen commented on #1732
@chuckharmston so
- let's take out the title
- add the subtitle

[2016-11-03 17:56] #672 closed, assigned to dannycoates

[2016-11-03 17:58] #1616 closed, assigned to lmorchard

[2016-11-03 18:08] johngruen opened #1741 "Let's use the Warning component for the ExperimentPage renderEolBlock"
we should add an optional field to the yaml for an eol message passed in as a child of the warning. It seems like we will need to tailor these messages to the experiments themselves.

[2016-11-03 18:09] #1457 closed, assigned to dannycoates

[2016-11-03 18:10] johngruen commented on #1732
Too much navel gazing on my part. The subtitle is fine as it is. Let's just take out the title.

[2016-11-03 18:24] #1732 closed, assigned to chuckharmston, johngruen

[2016-11-03 18:48] jaredhirsch opened #1743 "[integration tests] Use get-firefox to fetch Firefox on CI server"
We currently download an unbranded Firefox build from a [hard-coded path](https://github.com/mozilla/testpilot/blob/5dc4872a/bin/circleci/setup-test-dependencies.sh#L6) as part of integration test setup.

Looks like the npm `get-firefox` package can do this via `get-firefox -p unbranded-beta` or `unbranded-release`, and we won't have to hard-code any paths.

[2016-11-03 18:50] johngruen opened #1744 "Add Graduation Survey"
When an experiment ends, we should trigger a graduation survey.

In the simplest iteration we could simply pop a survey page the add-on detects the experiment has hit graduation time. In addition to any UX, we'll need a new query param for the new survey type.

[2016-11-03 18:50] johngruen commented on #1741
Assigned myself b/c i have a branch where this is mostly already done.

[2016-11-03 18:54] MattGrimes commented on #1744
In Shield Studies we pass "study-ended" but you can use whatever you like. @rayborn and I can discuss the question line later today and get something ready for review.

[2016-11-03 19:00] johngruen opened #1745 "Add 40px of padding below the "View Past Experiments" Button"
<img width="348" alt="screen shot 2016-11-03 at 7 58 23 pm" src="https://cloud.githubusercontent.com/assets/3323249/19980907/1b6c11fa-a200-11e6-9027-ebeb8980e6b4.png">

Currently the button bumps up against the top of the email solicitation

[2016-11-03 19:09] ghost commented on #1618
I can no longer reproduce this (some discussion in #1575 ).  Tentatively closing...

[2016-11-03 19:09] #1618 closed, assigned to nobody

[2016-11-03 19:16] johngruen opened #1747 "Changes to Add-on UI for near-graduating experiments"
Current:
- While there's a 1 week EOL notice on the experiment page, this isn't reflected in the add-on.

Proposed
- Elevate the near EOL experiment to the top of the list in the Add-on UI
- Add 'Ending soon' or 'Ending Tomorrow' as a subheader to this experiment. This should supersede and replace the 'Enabled' subheader should the experiment be enabled.
- The color for this string should be: #ff9

[2016-11-03 19:17] jaredhirsch opened #1748 "Broken build on master"
After re-enabling integration tests today (#1734), the build started breaking [in master](https://circleci.com/gh/mozilla/testpilot/1476), though the build was fine [in my fork](https://circleci.com/gh/6a68/testpilot/11).

This bug tracks various attempts to fix the build without disabling integration tests.

[2016-11-03 19:20] johngruen opened #1749 "Set EOL notices in experiment cards to #ff9300"
### Current:
<img width="414" alt="screen shot 2016-11-03 at 8 17 44 pm" src="https://cloud.githubusercontent.com/assets/3323249/19981575/c9ef4718-a202-11e6-8769-971af37aea9b.png">

### Proposed:
<img width="385" alt="screen shot 2016-11-03 at 8 18 05 pm" src="https://cloud.githubusercontent.com/assets/3323249/19981581/ce20066a-a202-11e6-988f-e8a6139e560f.png">

**Note:** This would apply to the '

[2016-11-03 19:20] jaredhirsch commented on #1748
In the CircleCI console, the only difference I saw between the 6a68 fork and the master repo was that master had Ubuntu 12.04, not 14.04. Updating this didn't change anything.

[2016-11-03 19:23] jaredhirsch commented on #1748
The errors look like permissions errors due to a missing virtualenv.

According to the [docs](https://circleci.com/docs/language-python/#version), CircleCI automatically creates a virtualenv if python is mentioned in circle.yml. #1746 added the default python version just to trigger this virtualenv creation, and that fixed the build. Closing.

[2016-11-03 19:23] #1748 closed, assigned to nobody

[2016-11-03 19:24] jaredhirsch commented on #1748
Note: It's still not clear why the virtualenv was correctly setup in my fork, but not master.

[2016-11-03 19:28] johngruen opened #1750 "Make datestamp for graduated experiments bold"
### Current
<img width="347" alt="screen shot 2016-11-03 at 8 21 56 pm" src="https://cloud.githubusercontent.com/assets/3323249/19981868/f78b81f4-a203-11e6-852b-6c45ed4e1b4e.png">

### Proposed
<img width="329" alt="screen shot 2016-11-03 at 8 26 45 pm" src="https://cloud.githubusercontent.com/assets/3323249/19981878/ffbc4c96-a203-11e6-8136-2af6eb1809b2.png">

[2016-11-03 19:31] johngruen opened #1751 "Disable Experiment Button Has bad Hover/Focus States for Disabled Experiments"
### Current
![error button hover](https://cloud.githubusercontent.com/assets/3323249/19982004/8b0811d6-a204-11e6-930e-dda36d3b7672.gif)

we can just remove the `secondary` class from the button

[2016-11-03 19:36] johngruen opened #1752 "Remove 'Thank You' Modal for users uninstalling a graduated experiment"
### Current
![thank you thing](https://cloud.githubusercontent.com/assets/3323249/19982117/131035ea-a205-11e6-8fe2-a076816f3c89.gif)

### Proposed
We can drop the second modal here

[2016-11-03 19:40] johngruen opened #1753 "Add a graduationReport field to experiment YAML"
I will add screenshots to show how this should work ASAP

[2016-11-03 19:44] johngruen commented on #738
@clouserw i think we should revisit this in the next sprint, right now i don't think these files are getting localized. I imagine that's a hard requirement for the German launch.

[2016-11-03 20:00] jaredhirsch commented on #1334
Sorry, I could have been clearer in my comment above. I actually _was_ thinking unit tests (really big unit tests) when I mentioned adding navigator.mozAddonManager to the window object created by jsdom.

For example, if we want to unit test how the React app handles addon install failures, we'd create a fake CustomEvent('from-addon-to-web') with the install failure message inside. After mozAddonM

[2016-11-03 20:02] ckprice commented on #738
I don't know for sure about this -- @eleemoz?

Also, as IIRC putting these docs in the repo doesn't automagically get them localized. This was more of an organizational thing for the legal team. /cc @caseymcgill

[2016-11-03 20:03] johngruen commented on #738
@ckprice yeah, i didn't mean to conflate the issues here. Right now we aren't localizing these things, but we'll need to.

[2016-11-03 20:38] lmorchard commented on #557
How come? Looks like min-vid is using the standard `sdk/l10n` path pattern of `locale/%LOCALE%.properties`, [which appears to be hardcoded in the lookup code](https://github.com/mozilla/gecko-dev/blob/master/addon-sdk/source/lib/sdk/l10n/properties/core.js#L29). Do we have an example of an add-on where this path can be changed?

Alternatively, we _could_ try doing a build step before jpm that copi

[2016-11-03 20:53] lmorchard commented on #557
Another wrinkle: The add-on loads content about experiments from `api/experiments.json` - which is generated only in its original `en-US` locale straight from YAML.

The translations for this content will be in `.ftl` format. Seems like we'll need L20N either in the add-on to read these localizations - or in the content build chain to generate JSON resourced with pre-localized content.

On the oth

[2016-11-03 21:01] lmorchard commented on #557
Started looking into / hacking on this a bit out of curiosity, might as well take it for now

[2016-11-03 21:31] ckprice opened #1754 "Audit GA events and reporting"
Few things here

- [x] Audit that all of our features are firing a GA event (e.g. #1711).
- [ ] Implement items from the audit.

John and I will own this.

Ref:
https://github.com/mozilla/testpilot/blob/master/docs/metrics/ga.md
https://github.com/mozilla/testpilot/blob/master/docs/metrics/new_features.md

[2016-11-03 21:38] #1678 closed, assigned to ckprice

[2016-11-03 22:34] ghost opened #1756 "[release] 2016-11-03 on stage"
Please QA stage. Let's use this issue to track deployment status to production.

Verification documentation: https://github.com/mozilla/testpilot/blob/master/docs/development/verification.md
Release notes: https://github.com/mozilla/testpilot/releases

http://testpilot.stage.mozaws.net/

/cc @SoftVision-PaulOiegas @SoftVision-CosminMuntean

[2016-11-03 23:28] pdehaan opened #1758 "Use NewsletterForm component in EmailDialog"
In the spirit of easier localization, would it make sense to use the same strings for the two email signup forms?

![window_and_firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/19989237/60c66020-a1e2-11e6-9ba1-443f6a087389.png)

### Popup:

- `email goes here :)`
- `Sign me up`

### Footer:

- `YOUR EMAIL HERE`
- `Sign Up Now`

[2016-11-03 23:30] chuckharmston commented on #1758
Then plan is actually to move the modal to use the [`<NewsletterForm>` component](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/NewsletterForm.js); just haven't gotten around to it yet. Actually, I'm not sure there's a bug for it yet. I'll hijack this one, thanks.

[2016-11-03 23:51] pdehaan opened #1759 "Add ability to dismiss "Thanks!" section after signing up for newsletter"
https://testpilot.stage.mozaws.net/__version__ (2ac545add55c628db1c12ea7273dcc0f0ca795dc):

[code]

---

It'd be kind of nice if you could dismiss the Newsletter block after signing up. It takes up like 210px of vertical space.

![firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/19989686/79e33fee-a1e5-11e6-9e2e-a763211de233.png)

I thought that it was persisting across page lo

[2016-11-03 23:56] pdehaan commented on #1759
OK, so I think if I just browse from page to page, it persists that "Thanks!" newsletter signup UI. As soon as I hit the refresh button, it forgets its previous state and presents me with the form again. So that's why I was seeing it toggle between the two behaviors above.

[2016-11-04 00:44] chuckharmston commented on #1759
I think the right thing here might be to [persist](https://github.com/rt2zz/redux-persist) a bit of state that indicates that the form has been completed, and never render it in those cases.

Thoughts @lmorchard, @dannycoates?

Edit: we'd actually want two pieces of state: one that indicates that it has been completed this session (unpersisted), and one that indicates if it was ever completed (per

[2016-11-04 10:50] SoftVision-PaulOiegas commented on #1623
Hmmm... lots of add-ons, let's change a bit the approach. I would recommend you to create a new Firefox profile and after try installing the Test Pilot add-on and other experiments. Maybe you have some profile settings altered by the installed add-ons that make even your normal browsing experience crappy. Since you said that even with all disabled you were having problems.
If Test Pilot and experi

[2016-11-04 13:59] SoftVision-CosminMuntean opened #1760 "Activity Stream XPI hash out-of-date."
[Affected versions]:
- Firefox 49.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.

[2016-11-04 14:01] chuckharmston commented on #1760
@clouserw looks like the hash is out of sync with the XPI

[2016-11-04 14:03] SoftVision-CosminMuntean commented on #1710
This issue is no longer reproducible. Tested on latest Firefox (49.0.2) release and latest Nightly (52.0a1) build.

[2016-11-04 14:03] #1710 closed, assigned to nobody

[2016-11-04 15:31] ghost commented on #557
https://developer.mozilla.org/en-US/docs/Mozilla/Implementing_Pontoon_in_a_Mozilla_website shows the format pontoon wants.  @mathjazz will have answers to questions if something is hardcoded

[2016-11-04 15:50] ghost commented on #1760
fixed, thanks

[2016-11-04 15:50] #1760 closed, assigned to clouserw

[2016-11-04 15:58] #1462 closed, assigned to nobody

[2016-11-04 16:02] SoftVision-PaulOiegas opened #1761 "Windows 10 Edge browser is wrongly rendering some website items"
[Prerequisites]:
- A PC with Windows 10 and Edge browser is needed

[Steps to reproduce]:
1. Open Edge browser and navigate to testpilot.firefox.com
2. Scroll the page and observe Page Shot and Min Vid experiments cards logos.
3. Scroll to the page bottom and observe the Test Pilot bottom process description and install button.
4. Scroll to the top of the page and back to bottom.
5. Observe the bo

[2016-11-04 16:03] ghost commented on #1759
Let's do it, @chuckharmston!

[2016-11-04 16:14] ghost opened #1762 "make a fake experiment on -dev"
Let's add a fake experiment on -dev which we can graduate early

[2016-11-04 16:20] ghost commented on #1721
Suggestion: Replace the [desktop browser] Download button with a newsletter signup button.

[2016-11-04 16:21] lmorchard commented on #1743
One caveat I'd toss in here is whether we _do_ actually want to specify the version of the build we use? We've also talked about running the integration tests repeatedly against a range of versions to be sure we're compatible with the latest and maybe 2-3 releases back

[2016-11-04 16:27] SoftVision-PaulOiegas commented on #1756
Stage deploy looks good, here are our test results - https://goo.gl/OdUvLy (TestRail page)
Two new issues were found:
1. Activity Stream XPI hash out-of-date - https://github.com/mozilla/testpilot/issues/1760 (Fixed by Wil)
2. Windows 10 Edge browser is wrongly rendering some website items - https://github.com/mozilla/testpilot/issues/1761

We also tested with Firefox builds for FR, DE, ES, AZ, RO

[2016-11-04 16:34] jaredhirsch opened #1763 "Document our pull request review process"
We're changing our pull request process as follows (discussed in 11/4 bug triage):

- if you are going to review a PR, assign yourself to it
- assigned person is responsible for helping get the PR over the finish line
- if a PR doesn't have an assigned person, it's up for grabs

Where should we put this information?

[2016-11-04 16:39] SoftVision-PaulOiegas commented on #1761
Just looked over the Mac OS Safari rendering for the Homepage and both Page Shot and Min Vid card logos are missing the fancy gradient exactly as on Edge browser.

![safari edge rendering](https://cloud.githubusercontent.com/assets/17258026/20014006/f18d8922-a2bd-11e6-8b45-c8f0edeeffd8.png)

[2016-11-04 17:17] pdehaan commented on #1762
Semi-related, but it'd also be nice if we could add some real/dummy translations for testing on dev.
Not sure if we want to use something like [**convict**](http://npm.im/convict) to create special configs for dev/stage/prod so we can sandbox the dev locales to "en-US,de,yi", and only have "en-US" on prod.

[2016-11-04 17:31] chuckharmston commented on #1762
@pdehaan #1672 covers that.

[2016-11-04 17:52] ghost commented on #1756
As part of this deploy we need @relud to turn ON query parameter pass through on production.  Let's remember that on Tuesday :)

[2016-11-04 17:54] ghost opened #1764 "make -dev match stage/prod"
Please turn on website hosting mode and query parameter pass through

[2016-11-04 17:54] ghost commented on #1575
I am also confused. :)

Right now website hosting is ON for stage and prod.  Query-paramters-passthrough is ON for stage and OFF for prod.  Next steps here:

1) Next Tuesday we'll turn query parameters pass through on in production (https://github.com/mozilla/testpilot/issues/1756).  That way stage and prod will match

2) I filed https://github.com/mozilla/testpilot/issues/1764 to make -dev match

[2016-11-04 17:54] #1575 closed, assigned to nobody

[2016-11-04 18:49] ghost commented on #1756
Also for tuesday:  turn on http/2 in production

[2016-11-04 19:37] ghost commented on #557
https://github.com/mozilla/outofdate-notifications-system-addon/tree/master/addon/outofdate-notifications%40mozilla.org is in pontoon.  It looks like they are overriding the locale defaults in chrome.manifest.  Is that something we can do?  We can ask Pontoon to support the SDK recommended format, but it's not something they will get to for a while.

/cc @meandavejustice because he is hitting this

[2016-11-06 04:59] tarunsinghaldotme opened #1765 "Unable to install tab center"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-11-06 11:53] johngruen opened #1766 "Can we remove the TOS agreement checkbox from the new email panel?"
This just occurred to me, but I think we are covered already once the user has opted into the TOS/PN of Test Pilot itself which covers email-based communication. I'll confirm with legal and either change the title of this bug or close it.

[2016-11-06 11:53] johngruen commented on #1765
Hey @iamtarunsinghal were you able to install any other experiments?

[2016-11-07 10:38] johngruen opened #1767 "experiment.complete logic should take UTC offset into account"
### Currently

the experiment.completed field uses UTC for retiring an experiment, but the logic for displaying/modifying relies on time generated by `Date.now()`. This means that depending on where you are in the world, the retire flow will show up at different times.

### Expected

Experiment completion logic should happen at the same universal time no matter where people are in the world.

I us

[2016-11-07 10:40] johngruen commented on #1766
Caveat: we'll have to leave the check box on the landing page itself but IIRC we should be able to remove it if the user has Test Pilot installed (aka opted into the ToS/PN)

[2016-11-07 10:42] johngruen commented on #1767
Some examples of how we're using this now:
https://github.com/mozilla/testpilot/search?utf8=%E2%9C%93&q=utc&type=Code

[2016-11-07 10:44] johngruen commented on #1586
Adding good-first-bug here. Touches a lot of files, but should be relatively painless.

[2016-11-07 11:16] johngruen opened #1768 "Localization Capability for Legal + About pages"
We need to localize the ToS, PN and About Pages. We could move these to the legal docs repo, but it's not required (and the About page isn't a legal page).

[2016-11-07 11:16] johngruen commented on #1768
Related to  #738

[2016-11-07 11:26] johngruen commented on #1749
Same would apply when the string says 'Ending Soon'

[2016-11-07 12:33] johngruen commented on #1744
@dannycoates we should discuss this one today...I think some of this is covered in #1303, but let's review the required work together

[2016-11-07 16:44] lmorchard commented on #557
Both the Test Pilot add-on and min vid are using the add-on SDK and `sdk/l10n`. The path patterns are hardcoded in the loader in the SDK module, as far as I can tell. No overrides in chrome.manifest.

Looks like the outofdate system addon is not SDK-based. It's [bootstrapped](https://developer.mozilla.org/en-US/Add-ons/Bootstrapped_extensions) and [uses a different l10n mechanism altogether](https

[2016-11-07 17:01] johngruen opened #1770 "Add flow to entice zero-experiment-users to enable an experiment"
@sevaan will provide UX here ASAP.

[2016-11-07 17:18] lmorchard commented on #557
Easier hack to try for now: Let's put the .properties files in a Pontoon friendly location in the repo for now, and require a build task to move them into the SDK add-on friendly location before add-on build.

[2016-11-07 17:24] ghost opened #1771 "Graduate Universal Search"

[2016-11-07 17:38] lmorchard commented on #1716
Thinking we need to close the loop on Pontoon before we know ourselves what it takes to add a new locale to the project. Does Pontoon need stub files in the repo? Or will Pontoon let localizers create new locales themselves and just add them to the repo?

[2016-11-07 17:41] sevaan commented on #1770
UX: https://mozilla.invisionapp.com/share/Q77S1H6ZC#/203225298_No_Experiments_Enabled_After_N

[2016-11-07 17:42] dannycoates commented on #1767
`Date.now()` is always UTC regardless of the local machine's timezone setting, so I don't understand the problem... i.e. this:

is not true

[2016-11-07 17:44] lmorchard commented on #1768
Hmm, this is different than just localizing strings in the common UI. Maybe we need to create markdown & generate whole new separate HTML pages with the locale in the path? That is, you hit `/terms/` and get bounced to `/de/terms`? And that's generated from `compiled-templates/de/terms-of-use.md`?

[2016-11-07 17:45] lmorchard commented on #1768
Also: are these legal docs meant to be localized via Pontoon? Or will we need a different way to localize them?

[2016-11-07 17:53] jaredhirsch commented on #1735
@wresuolc Taking this, since it's still up for grabs.

Does Test Pilot need to batch up packets, or can we just fire off events as they are received? If they need to be batched, what are the requirements? (Or is contacting the Telemetry and Tiles teams part of this bug?)

[2016-11-07 17:58] jaredhirsch commented on #1735
Another question for myself or anybody: what data has turned out to be most valuable, so far?

Ping the experiment teams to find out what data led to product changes, and what data wasn't used for decision making.

Once we have that data, we can turn it into suggestions / examples in the metrics doc (#1662).

[2016-11-07 17:59] chuckharmston commented on #1770
Few questions about the UX:
1. The link in the heartbeat banner appears to be a version of our experiment listing page with slightly different copy. Is that the only way you can see that copy? Or is it what we show all users with no experiments?
2. Minor nit, but there isn't enough contrast in the "Let us know why." link color; it'd fail every accessibility test.
3. Where does that link go? Discou

[2016-11-07 18:09] sevaan commented on #1770
1) Yes, the only way you would see the copy is by going through the heartbeat info bar.

@johngruen What do you think of making this what all users without experiments see when they go to the Test Pilot landing page after, say, a week?

2) Agreed. I’ve updated it.

3) Not sure, I think a SurveyGizmo survey was what @johngruen mentioned. Could you clarify, John?

[2016-11-07 18:10] sevaan commented on #1770
Orange for link: #FF9D16

[2016-11-07 18:14] dannycoates commented on #1744
This
<img width="438" alt="screen shot 2016-11-07 at 10 11 55 am" src="https://cloud.githubusercontent.com/assets/87619/20069742/aa9dd3e8-a4d2-11e6-8aed-131c026f13a2.png">
is already implemented. It passes an interval of 'eol' to the survey page. What else do we need to add?

[2016-11-07 18:24] ckprice opened #1773 "Measurements for "Add flow to entice zero-experiment-users to enable an experiment (TXP-36)""
Ref: #1770

I'll take this. #1237 is an example of a past measurement issue, based on [the new features documentation](https://github.com/mozilla/testpilot/blob/master/docs/metrics/new_features.md).

[2016-11-07 18:35] dannycoates commented on #1747
The only part of this that isn't done (and deployed) is the sort order

[2016-11-07 18:55] johngruen commented on #1747
cool!

[2016-11-07 19:39] ghost commented on #1735
No batching, fire away.  I've got an open thread w/ legal about your "who owns the GA account" concern

[2016-11-07 20:20] johngruen commented on #1770
@chuckharmston
- I think we should do it for all new users who haven't installed an experiment after one day.
- Obviously, when we ship there will be a sizable cohort who are already in Test  Pilot, but have no experiment installed. We should trigger this for those folks also.
- We should only trigger this thing once to see how it works, so there should be a flag set to ensure that it doesn't happ

[2016-11-07 20:33] johngruen commented on #1771
Here's a timeline: we will graduate Universal Search at 12:00 EST on November 30th, 2016. Working backward from this, we will need the following:
- [x] Nov 30th: @chuckharmston ships a version of Universal Search That's self-uninstalling. Goodnight.
- [x] Nov 23rd: Test Pilot begins to show per-retirement UI.
- [x] Nov 22nd: @clouserw pushes Test Pilot to Prod with all Universal Search graduation

[2016-11-07 20:50] javaun commented on #1771
SGTM. I better start writing.

[2016-11-07 20:54] chuckharmston commented on #1335
@johngruen putting this back on your radar

[2016-11-07 20:57] johngruen commented on #1335
@chuckharmston, noted. Let's see if this doesn't sneak into 14 tomorrow...

[2016-11-07 21:04] Caspy7 commented on #1335
I've just helped a user who was receiving "Installing..." forever.
After _much_ troubleshooting, it was determined that the user already had Test Pilot installed but disabled.

We should do better about failing gracefully and/or informing the user of the situation.

[2016-11-07 21:21] sevaan commented on #1335
I have a proposal here: https://mozilla.invisionapp.com/share/Q77S1H6ZC#/203288154_Landing_Page_-_Error_Installing

If the install process hangs for say, 30 seconds, we could refresh the page and display this error message at the top. The "Still not working?" link could take the user to the Github issues, or maybe even just a readme somewhere. Thoughts?

[2016-11-07 21:44] Caspy7 commented on #1335
Perhaps a sumo page.

[2016-11-07 23:32] ghost commented on #557
Thanks @lmorchard .  Bug filed for Pontoon to support the SDK format @ https://bugzilla.mozilla.org/show_bug.cgi?id=1315820

[2016-11-08 01:02] cvan opened #1775 "Cannot install Test Pilot extension"
It just hangs on `Installing…`. No errors in the Console, only logs.

<img width="1155" alt="screen shot 2016-11-07 at 5 01 05 pm" src="https://cloud.githubusercontent.com/assets/203725/20082599/f8af1770-a50b-11e6-8c0f-b8db8c20861e.png">

* Firefox 49.0.2
* Mac OS X 10.11.2

[2016-11-08 01:16] chuckharmston commented on #1775
@cvan What about the browser console (`cmd+shift+J`)? Any chance you have tracking protection on, are in private browsing mode, or have any security software installed?

[2016-11-08 02:55] cvan commented on #1775
![](https://cloud.githubusercontent.com/assets/203725/20085114/7732c93e-a51b-11e6-9c39-6d07312c5cec.png)

After I discovered this in `about:addons` and enabled the extension, things seemed to work at https://testpilot.firefox.com/.

My observations and questions:
1. Somehow, during install, the extension got into the disabled state. Ideas on what could have cause this?
2. Is there some way to dete

[2016-11-08 10:52] johngruen commented on #1770
@rayborn In this issue we'd like to add a survey to test pilot to ask users not involved in any Test Pilot experiments why they aren't interested. In order to complete this work @chuckharmston will need to point users to a Survey Gizmo URL. Can you provide this?

[2016-11-08 11:03] johngruen commented on #1753
If the user does not have Test Pilot:
<img width="321" alt="screen shot 2016-11-08 at 11 54 59 am" src="https://cloud.githubusercontent.com/assets/3323249/20096633/13216bb8-a5ab-11e6-9f61-82b3c3206598.png">

If the user has Test Pilot:
<img width="301" alt="screen shot 2016-11-08 at 11 55 54 am" src="https://cloud.githubusercontent.com/assets/3323249/20096632/13216708-a5ab-11e6-86fe-a0c54ac28a43.p

[2016-11-08 11:11] johngruen opened #1776 "If details fields are not filled in YAML we should not show them in the experiment page"
We should hide `tr`s in experiment details if the fields are not available for an experiment:

For example, if the experiment did not have a public repo, we would remove the `Contribute` and `Bug Report` fields here [here](https://pageshot.net/images/b43032a6-fd25-4d49-ae98-37ea6d564d54)

[2016-11-08 11:55] chuckharmston opened #1777 "Same-origin policy blocking use of pushState in Pontoon"
`react-router` uses [`history`'s `browserHistory` object](https://github.com/mjackson/history/blob/master/modules/createBrowserHistory.js) for managing history. This uses [`popstate`](https://developer.mozilla.org/en-US/docs/Web/Events/popstate), which is governed by the [same-origin policy](https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy) and is causing navigation events

[2016-11-08 12:02] chuckharmston opened #1778 "Experiment content not being picked up by Pontoon"
We [generate](https://github.com/mozilla/testpilot/blob/master/frontend/tasks/content.js#L58-L63) the en-US [`experiments.ftl`](https://testpilot.dev.mozaws.net/static/locales/en-US/experiments.ftl) from our [content files](https://github.com/mozilla/testpilot/tree/master/content-src/experiments) in our build process, and then appropriate [include it](https://github.com/mozilla/testpilot/blob/mast

[2016-11-08 12:05] johngruen commented on #1747
@dannycoates it occured to me that we should probably add 'ends today' as well as 'ends tommorrow.'

[2016-11-08 12:27] johngruen commented on #1767
﻿@dannycoates yeah i think maybe i said that backwards. So I want the experiments to end at the same exact moment everywhere in the world. I don't think this would happen the way the experiment complete check is currently implemented. Here's a video where i change my system timezone and get two different results using the same comparison as in the addons reducer:

https://www.dropbox.com/s/gpeyjse

[2016-11-08 12:48] mathjazz commented on #1778
Yup, the file needs to be available here:
https://github.com/mozilla/testpilot/tree/master/locales/en-US

[2016-11-08 12:58] chuckharmston opened #1780 "Integration test timing out"
A few recent integration test builds have timed out.

https://circleci.com/gh/mozilla/testpilot/1507
https://circleci.com/gh/mozilla/testpilot/1508

Possibly related: https://github.com/mozilla/testpilot/pull/1437

cc @6a68

[2016-11-08 13:09] mathjazz commented on #1777
I'm unable to reproduce this - what navigation events do you have in mind?

If there are multiple localizable pages available on dedicated URLs, we can add them to the Resources menu (the one currently containing only "ftl.app" or "All Resources"), to make it easier for localizers to discover and navigate.

[2016-11-08 13:11] chuckharmston opened #1781 "Ensure that experiments locale file stays in sync with content."
In #1778 we added `experiments.ftl` to the repository, as a short-term step to start the flow of translations. However, the live file is still being generated in the build step, which introduces the possibility of it coming out of sync with the content.

We should consider remediation steps against this.

My suggestion:

1. Stop generating that build file in the build process.
1. Generate it manua

[2016-11-08 13:12] chuckharmston commented on #1778
#1779 moved a copy of the experiment localization file into the repository as a short-term fix, and it's now being picked up by Pontoon:

https://pontoon.mozilla.org/de/test-pilot-website/experiments.ftl/

Closing this, and I'll follow up with #1781. Thanks for the assist @mathjazz!

[2016-11-08 13:12] #1778 closed, assigned to nobody

[2016-11-08 13:25] chuckharmston commented on #1777
You can reproduce this by clicking the "Get Started" button on any of the experiments in the list; it should attempt to navigate, then fail, showing the loading spinner forever. I can screencast it if you can't reproduce.

The navigation events in particular are the ones emitted by the [action creators from `react-router-redux`](https://github.com/reactjs/react-router-redux#pushlocation-replaceloc

[2016-11-08 13:30] mathjazz commented on #1778
As pointed out by @flodolo, there's a lot of HTML tags in those strings. Can we get rid of them?

[2016-11-08 13:31] chuckharmston commented on #1778
Yeah, it's not awesome. Normalizing those to remove as much HTML as possible is one of the tasks a task in https://github.com/mozilla/testpilot/issues/1724, which we've slated to do this sprint (ends 11/18). I'll prioritize it.

[2016-11-08 13:40] flodolo commented on #1778
The problem is that we have already exposed those strings to localization, and people are already working on them. If we clean up en-US string, we should have something to do the same safely in l10n files.

[2016-11-08 14:35] lmorchard commented on #1716
Looks like Pontoon adds files to the repo for locales: https://github.com/mozilla/testpilot/commit/2d93c4e6a0a7860995c4c4a0d78bac340432c09b

So, then I guess the question is, do we have to file a bug with Pontoon folks to add a locale? Or, is that self-service from Pontoon itself?

[2016-11-08 16:01] johngruen opened #1783 "We don't tell people to cd into testpilot in the quickstart guide"
we should.

[2016-11-08 16:19] dannycoates commented on #1767
@johngruen dude, just make sure the completed date in the yaml has a timezone

[2016-11-08 16:38] ghost opened #1784 "Make German show up on testpilot.dev.mozaws.net"
I said German, but I really mean all the languages who have committed translations.  Chuck says we need to update the availableLanguages meta tag.

Let's do that part right away and land it, but bonus points for thinking about how to notify us of new languages so we can enable them.

[2016-11-08 16:38] jaredhirsch commented on #1780
I was just going to file this bug! Pontoon commits should never go red, looks like this one failed, too:

https://circleci.com/gh/mozilla/testpilot/1517

[2016-11-08 16:43] johngruen commented on #1767
@dannycoates
![oh](https://cloud.githubusercontent.com/assets/3323249/20107979/cec89f6a-a5da-11e6-8f9b-28d0f46b8c45.gif)

[2016-11-08 16:43] #1767 closed, assigned to nobody

[2016-11-08 16:45] chuckharmston commented on #1784
We should be able to write a mustache helper to trawl the `/locales` directory and return a string to stick here: https://github.com/mozilla/testpilot/blob/master/frontend/src/templates/index.mustache#L10

[2016-11-08 16:47] clouserw commented on #1537
Now being tracked at https://bugzilla.mozilla.org/show_bug.cgi?id=1315033

[2016-11-08 16:47] #1537 closed, assigned to clouserw

[2016-11-08 17:11] #1745 closed, assigned to nobody

[2016-11-08 17:11] #1749 closed, assigned to nobody

[2016-11-08 17:11] #1750 closed, assigned to nobody

[2016-11-08 17:11] #1751 closed, assigned to nobody

[2016-11-08 17:11] #1752 closed, assigned to nobody

[2016-11-08 17:16] lmorchard commented on #1784
Do we want to auto-enable languages before they're initially 100% translated, though? I guess as long as Pontoon tosses the un-translated English in, we won't get l10n IDs displayed

[2016-11-08 17:27] ghost commented on #1756
all this happened.  thanks @relud & @SoftVision-PaulOiegas

[2016-11-08 17:27] #1756 closed, assigned to nobody

[2016-11-08 17:59] johngruen opened #1787 "Add a console easter egg"
Similar to [Firefox Accounts](accounts.firefox.com)

<img width="884" alt="screen shot 2016-11-08 at 6 58 32 pm" src="https://cloud.githubusercontent.com/assets/3323249/20110643/75b32160-a5e5-11e6-8325-f4d5e0df418a.png">

Probably blocked by: #1452

[2016-11-08 18:11] pdehaan commented on #1784
Yeah, from my vague recollection of FxA days, we'd only enable translations once they hit a certain quality threshold (90%?). Nothing worse than trying to view a page where only 30% of the strings are translated into your language.

It sounds like FxA now uses Pontoon (https://pontoon.mozilla.org/projects/firefox-accounts/) for determining what %% of a locale is translated so they know when they c

[2016-11-08 18:22] lmorchard commented on #1723
Getting this off my plate since there's a PR already

[2016-11-08 18:24] chuckharmston commented on #1723
Hah, sorry Les, looks like I tried to assign myself but instead assigned it to you.

[2016-11-08 18:29] pdehaan commented on #1787
Please no.
Or if we do add this, can we find a way to make it dump to browser console only so it isn't spamming my main console?

[2016-11-08 18:43] #1723 closed, assigned to chuckharmston

[2016-11-08 19:02] chuckharmston opened #1789 "Reinstate hrefs on localized links"
#1736 made our URLs non-localizable, but forgot to add the `href` attribute to the parent elements. Each link changed there is currently broken.

[2016-11-08 19:05] chuckharmston commented on #1789
I must have had a stale cache or something; a hard refresh seems to have fixed the problem I was seeing. Closing for now.

[2016-11-08 19:05] #1789 closed, assigned to chuckharmston

[2016-11-08 20:00] lmorchard commented on #1764
Okay, I think I've got this covered.

On S3 bucket properties:

![screenshot 2016-11-08 14 58 55](https://cloud.githubusercontent.com/assets/21687/20114843/f5ef0c62-a5c3-11e6-88a5-e07e2e9dacb6.png)

And on CloudFront behaviors:

![screenshot 2016-11-08 14 59 54](https://cloud.githubusercontent.com/assets/21687/20114859/07da0418-a5c4-11e6-8f86-aa7c7440eba7.png)

[2016-11-08 22:40] johngruen commented on #1776
This may not be an issue....backing this out of sprint 14

[2016-11-09 10:32] SoftVision-CosminMuntean opened #1790 "Tracking Protection cannot be enabled on latest Test Pilot version"
[Notes]:
- This issue was already logged on Tracking Protection repository https://github.com/mozilla/blok/issues/214.
- I think this could be more of a Test Pilot issue then a Tracking Protection one.

[Affected versions]:
- Firefox 49.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac

[Prerequisites]:
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1.

[2016-11-09 16:58] johngruen commented on #1787
@pdehaan :(

[2016-11-09 16:59] lmorchard commented on #1784
Another idea: We can tweak the build for local & dev vs stage & prod. Maybe we have separate enabled locale lists for dev-like & prod-like - that is, turn on all the things for dev so we can see where they're incomplete and only manually turn on complete locales for prod?

[2016-11-09 17:09] lmorchard commented on #1764
Not quite done yet - just realized I need to switch the URL for S3 used by the nginx proxy in the middle

[2016-11-09 17:32] lmorchard opened #1792 "Automate / better document new dev server stack"
So, the current stack at testpilot.dev.mozaws.net consists of these parts in cloudservices-aws-dev:

* S3 bucket (`testpilot.dev.mozaws.net`)
* Nginx proxy in EC2 (`i-0a49cc4d7ea523a5e`)
* CloudFront distribution (`E2ERG47PHCWD0Z`)

The S3 bucket is automated - `bin/deploy.sh` uploads to it on every merge to master via CircleCI. The CloudFront distribution is also simple - it just points at the Ng

[2016-11-09 17:40] clouserw commented on #1771
The current version of https://addons.mozilla.org/en-US/firefox/addon/test-pilot/?src=ss opens a tab and uninstalls itself.  Should just be a matter of replacing the URL and add-on ID.

[2016-11-09 17:51] lmorchard commented on #1764
Okay. _Now_ it's done.

[2016-11-09 17:51] #1764 closed, assigned to lmorchard

[2016-11-09 18:07] chuckharmston commented on #1771
We also need to ensure that prefs we changed are reverted to defaults, including one-off searches. We should probably also make sure the separate search box is restored.

[2016-11-09 18:10] ghost commented on #1771
Good point.  That add-on also deletes its old prefs so that should be straight-forward too.

[2016-11-09 20:11] #904 closed, assigned to ckprice

[2016-11-09 20:21] mathjazz commented on #1777
We just got the same report from @goofy-bz:
https://bugzilla.mozilla.org/show_bug.cgi?id=1316409

But I still can't reproduce it. :/

I'm not exactly sure what's the problem here. Why is the same-origin policy a problem here if we're always on the same domain? But apparenlty it is, given the CSP error @goofy-bz is getting:
https://bug1316409.bmoattachments.org/attachment.cgi?id=8809134

[2016-11-09 20:34] mmcclimon commented on #1775
I just had the same issue. I might have had an earlier version of Test Pilot installed (I don't remember), but after clicking "Install," it just hung forever. Looking in the add-ons, it was installed but disabled.

[2016-11-09 20:42] ghost commented on #1777
I can but confirm I have had same experience as chuckharmston above

[2016-11-09 21:13] jaredhirsch commented on #1610
@wresuolc I added @relud to the TxP github team, assigning to him 👍

[2016-11-09 21:34] ckprice commented on #1775
This...would be something new. @cvan maybe the add-on was previously disabled?

Better monitoring/messaging is covered in #1335.

[2016-11-09 21:43] #557 closed, assigned to lmorchard

[2016-11-10 08:27] SoftVision-CosminMuntean commented on #1790
This issue is no longer reproducible. Tested on the latest Firefox (49.0.2) and latest Nightly (52.0a1) build.

[2016-11-10 08:27] #1790 closed, assigned to nobody

[2016-11-10 16:00] SoftVision-PaulOiegas opened #1795 "Experiments pages are opened in same tab when using "Scroll click" or "Ctrl+click" shortcuts on cards"
[Notes]:
- Open in a new tab functionality was added along with #1706 and correctly works from context menu, but not with peripherals shortcuts.

[Affected versions]:
- Firefox 49.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac

[Steps to reproduce]:
1. Open the browser and navigate to http://testpilot.dev.mozaws.net page.
2. Use Scroll wheel or old "Ctrl" key while clicking on an experi

[2016-11-10 19:52] johngruen commented on #1331
http://i.sevaan.com/1m0w1I2L0r2x

[2016-11-10 20:00] ghost commented on #1735
I've confirmed with legal that we're good to go on the GA plan here (allowing someone to put their credentials in the add-on).

Turns out the agreements we have with google are actually available to anyone.  In the GA account you can go into the settings and adjust how much your data is smooshed together with other data, etc.  We'll require that experiments have those settings adjusted to protect

[2016-11-10 21:49] lmorchard commented on #1716
If/when PR #1797 is merged, we'll have two lists of available locales to manage - one for local & dev listing _all_ in-progress locales and one for stage & prod listing just completed locales.

https://github.com/mozilla/testpilot/pull/1797/files#diff-f576cf165b9df501fd5cb5400c3f1761R6

[2016-11-11 00:16] pdehaan opened #1798 "Copy button on /share page looks bad with verboser locales"
Testing in German with @lmorchard's **1784-enable-locales** branch, and noticed that the copy button label is bleeding all over the place.

![firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/20199645/d7e18fc6-a760-11e6-9ce7-c2fb26871807.png)

[2016-11-11 00:37] pdehaan opened #1799 "Form validation strings aren't localized?"
I noticed that if you don't fill out an email address in the newsletter signup and then try submitting, you get non-localized error messages. (testing on **1784-enable-locales** PR)

![firefox_test_pilot_-_activity_stream](https://cloud.githubusercontent.com/assets/557895/20199944/f94ec406-a762-11e6-95bb-e7e577775b8c.png)

![firefox_test_pilot_-_activity_stream](https://cloud.githubusercontent.com

[2016-11-11 12:49] SoftVision-CosminMuntean commented on #1775
Hi @cvan, @mmcclimon

I would like to try to reproduce this issue but I need some more details. Can you guys please go to "about:addons", "Extensions" section and perform a screenshot with your installed add-ons? Maybe you have an add-on which is not compatible with Test Pilot and disabled it.

There are some add-ons in the wild that are incompatible with some of our experiments. We are currently

[2016-11-11 14:25] chuckharmston commented on #1799
Those are part of the browser chrome. They _can_ be customized with some work (has to be done through JavaScript, not just an HTML attr), but if they aren't localizing, it's likely either a bug or feature of the browser itself. Can you repro this behavior with a German build?

[2016-11-11 14:30] chuckharmston commented on #1787
[code]

 I couldn't come up with any clever puns on `gruen`, so I put your name next to a monkey.

[2016-11-11 16:46] chuckharmston commented on #1773
@ckprice low-key heads-up: #1800 is blocked on this. Happy to take a stab if you're swamped.

[2016-11-11 17:13] ghost commented on #1775
We should be able to detect what add-ons are installed (I forget the API, but we're on the allowlist for it, right?).  If so, we can prompt the user with something useful when we hit this state.

[2016-11-11 17:17] ghost commented on #1768
We'll figure out a timeline in our monday meeting w/ legal

[2016-11-11 17:20] ghost commented on #1763
https://github.com/mozilla/testpilot/blob/master/docs/process.md or https://github.com/mozilla/testpilot/blob/master/CONTRIBUTING.md ?

[2016-11-11 17:58] ckprice commented on #1773
**Formulate the question**
- give us a number of users who installed an experiment that were referred from this notification.
- give us a success rate on displaying this message. users who installed an experiment referred
  from this notification/users who saw the notification

# Display no experiments notification bar (#1800)

### Capture the event of the notification bar being displayed

This wi

[2016-11-11 18:01] chuckharmston commented on #1773
Thanks Cory! This looks great.

[2016-11-11 18:01] #1773 closed, assigned to ckprice

[2016-11-11 20:33] ghost commented on #1770
Great idea, sorry for being slow getting you the link.

[Test link](https://qsurvey.mozilla.com/collab/TxP-User) - for full survey click "I didn't like the experiments".  We don't dig into the individual experiments much, but we ask about:
- Reason for not being in an experiment
- Satisfaction
- If they are interested in future experiments
- What experiments they tried
- What they didn't like in g

[2016-11-11 21:54] #1784 closed, assigned to lmorchard

[2016-11-12 15:14] chuckharmston commented on #1780
Reopening; this seems to still be happening intermittently: https://circleci.com/gh/mozilla/testpilot/1654

[2016-11-12 18:53] CableErector opened #1801 "Firefox freezes and overflows memory with tab center."
If the key combination: Ctrl+Q is held for a period of time the tabs close and then a lot of new tabs spawn and freeze Firefox, while Firefox is frozen it gradually eats memory out resulting in the need of terminating Firefox.

Specs:
Target: i686-pc-mingw32
Build: https://hg.mozilla.org/releases/mozilla-release/rev/dc617d65c9f0cdbbe4351cc1e5c288b05f25f8f7

[2016-11-13 08:59] flodolo commented on #1799
They're localized in Italian as expected for me (as part of the browser). Given that the target of this website if Firefox users, I wouldn't bother with moving this to JS (as far as I know, it would be necessary for browsers like Safari, that ignore these checks).

[2016-11-13 09:02] flodolo opened #1802 "Error in Universal Search privacy note"
https://github.com/mozilla/testpilot/blob/master/locales/en-US/experiments.ftl#L90

I'm pretty sure the second list item is wrong: `If you previously configured Firefox to display search suggestions in the Search Bar, installing Universal Search will enable search suggestions in the Awesome Bar.`

previously configured Firefox to *not* display… ? Also kind of poor consistency (Search Bar, Awesome

[2016-11-13 16:40] mmcclimon commented on #1775
In my case at least, I had previously had Test Pilot installed and disabled it myself manually. Having forgotten about this, I tried to install it again by clicking the button on the site, which simply spun forever. Only when I happened on this thread did I think to check if it was already installed and disabled.

[2016-11-14 12:40] SoftVision-PaulOiegas commented on #1799
Observed this too but only happens if you have en-US browser installed and choose to see the page content in German (DE) from Options>Content. If you have the localized DE browser installed this does not reproduces.

[2016-11-14 14:35] SoftVision-CosminMuntean opened #1804 ""Disable [Experiment_Name]" string in German exceeds its button borders after an experiment is enabled"
[Affected versions]:
- Firefox 49.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.de

[2016-11-14 14:38] SoftVision-CosminMuntean opened #1805 ""Take a quick survey" string in German exceeds its button borders on "Disable experiment" pop up"
[Affected versions]:
- Firefox 49.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.
- Have at least one enabled experiment.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisit

[2016-11-14 15:24] SoftVision-PaulOiegas opened #1806 "Test Pilot "Legacy" page message is not localized in German"
[Affected versions]:
- Firefox 49.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- On a new clean Firefox profile, German [de] language was added from Options>Content>Languages section.
- Assure that German language is in the top of the list.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.dev.mo

[2016-11-14 16:23] SoftVision-CosminMuntean opened #1807 "The redirect to experiments page is not performed after Test Pilot add-on is installed (dev server)"
[Affected versions]:
- Firefox 49.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.dev.mozaws.net" page.
2. Click the "Install the Test Pilot Add-

[2016-11-14 16:55] ghost commented on #1802
I think the Search Bar and Awesome Bar are different things here.  /cc @chuckharmston to confirm

[2016-11-14 16:59] chuckharmston commented on #1802
They are. Traditionally, the bar where you enters URLs is called the Awesome Bar, and the separate search box alongside it is called the Search Bar.

[2016-11-14 16:59] ghost commented on #1806
This was on purpose because we didn't have L10n at the time, the former project was English-only (I think), and it was a temporary measure.  It's fine to leave this page unlocalized forever.

[2016-11-14 16:59] #1806 closed, assigned to nobody

[2016-11-14 17:00] #1802 closed, assigned to nobody

[2016-11-14 17:04] ckprice opened #1808 "CSP Sentry report"
In my ongoing Optimizely saga, I'm encountering the following CSP report on dev

`{"csp-report":{"blocked-uri":"https://sentry.prod.mozaws.net","document-uri":"https://testpilot.dev.mozaws.net/?optimizely_disable=true&optimizely_editor=true&optimizely_log=false&optimizely_include_innie=true&optimizely_cache_buster=1479142480745&optimizely_proxy_rewriter=true","original-policy":"default-src https:/

[2016-11-14 17:13] lmorchard opened #1809 "Automate list of dev vs prod locales?"
From PR #1803:

With those resources, we *could* automate updating [the lists of locales for local/dev & prod/stage](https://github.com/mozilla/testpilot/blob/master/frontend/config.js#L6) at build time. The only caveat I'd have is whether we still want to have a manual QA & testing speed bump on enabling locales marked completed.

[2016-11-14 17:14] jaredhirsch commented on #1771
We unset prefs on uninstall already, see [here](https://github.com/mozilla/universal-search/blob/master/bootstrap.js#L28) and [here](https://github.com/mozilla/universal-search/blob/master/lib/universal-search.js#L67). We also restore the search bar [here](https://github.com/mozilla/universal-search/blob/fb3ae049d290f56ea7f3ab7a857273376d9232d8/lib/universal-search.js#L122), if it was originally v

[2016-11-14 17:15] chuckharmston commented on #1771
Yes we do; my note was to make sure that those bits were carried over to the self-uninstalling update.

[2016-11-14 17:15] flodolo commented on #1802
Thanks, I completely forgot that we had two separate checkboxes in preferences. It makes a lot more sense now.

[2016-11-14 17:21] jaredhirsch commented on #1771
Cool. Just for reference, I think the only thing we'll need to do to make it self-uninstalling is
- get the universal search Addon object from [AddonManager.getAddonById()](https://developer.mozilla.org/en-US/Add-ons/Add-on_Manager/AddonManager#getAddonByID%28%29)
- call [Addon.uninstall()](https://developer.mozilla.org/en-US/Add-ons/Add-on_Manager/Addon#uninstall%28%29)

Edited to add: calling Ad

[2016-11-14 18:59] ghost commented on #1808
/cc @fzzzy who landed that patch

[2016-11-14 19:37] ghost commented on #1809
/cc @flodolo for general L10n interest

[2016-11-14 19:38] pdehaan opened #1810 "Experiment disabled but no option to enable it"
Ref https://github.com/mozilla/activity-stream/issues/1749,

**TL;DR:** The theory is that the original reporter disabled the add-on via the "This Addon is slowing down Firefox" style doorhanger. But then the Test Pilot site still reports the add-on as installed. So it's in a weird state of disabled but installed. User had to disable and reenable the add-on manually to get it reinstalled correctly

[2016-11-14 19:39] #1762 closed, assigned to lmorchard

[2016-11-14 19:47] flodolo commented on #1809
I'm not sure we want the production list to be automated. A complete locale would get out of that list when we add new strings, and we don't want that to happen.
Also worth doing a quick test of a brand new locale on stage or locally before enabling it.

As for the stage list, we could use that link or directly get a list of folders in the repo (in /locales), they should be identical. The latter d

[2016-11-14 19:49] ghost opened #1811 "Script to convert existing strings to new split up strings"
The changes in https://github.com/mozilla/testpilot/pull/1786 and https://github.com/mozilla/testpilot/pull/1782 are helpful and appreciated (thanks, Chuck!).  Paragraphs are not a deal breaker for L10n, but multiple paragraphs should be broken up (as in the PRs -- the bulleted lists are a great example).  Any time we can keep HTML out of the localized strings, we should.

So, I'd like to land tho

[2016-11-14 22:42] ghost commented on #1768
We talked with legal and this is blocking.  We weren't expecting that, so this is on us for having it appear in the middle of a sprint. :-/

The docs are at https://github.com/mozilla/legal-docs/tree/master/firefox_testpilot_PrivacyNotice and https://github.com/mozilla/legal-docs/tree/master/firefox_testpilot_Terms .  We'll never have to worry about partial localizations or anything there -- if th

[2016-11-15 05:29] jaredhirsch commented on #1735
@wresuolc @lmorchard Based on the docs in #1662, I sketched out a super rough draft of a `testpilot-metrics` library. I'd really appreciate feedback, just to get the sense of whether this is headed in the right direction: https://github.com/6a68/testpilot-metrics/tree/wip-getting-started

One thing I'm not clear on is whether `testpilot-metrics` is actually going to ping the telemetry servers, or

[2016-11-15 09:01] mathjazz commented on #1811
Looking at the `.ftl` files, #1786 only _adds_ one string. If that's correct, there's nothing we need to change in locale files.

#1782 removes `<p>` tags from most of the strings containing them, so those strings need to be modified in locale files, too.

Perhaps @chuckharmston already has something in place, given he already created a zh-CN `.ftl` file. If not, one possible approach is to identi

[2016-11-15 11:30] fzzzy commented on #1808
I think we need to add it to our policy. It's odd though, because there are definitely exceptions that are making it into sentry...

[2016-11-15 12:40] SoftVision-CosminMuntean commented on #1804
This issue is also reproducible for "Disable [Experiment_Name]" string in Italian.

However, another similar issue can be observed for "Enabling..." and "Disabling" button state on Italian. Since the button scales depending on experiment name length, we can see the same overflow issue on shorter buttons (eg: Min Vid)
Here is a screen recording with the issue:

![enabling and disabling](https://clo

[2016-11-15 15:22] SoftVision-CosminMuntean opened #1812 "Min Vid experiment is wrongly enabled and working when trying to enable the fake add-on"
[Affected versions]:
- Firefox 49.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.de

[2016-11-15 15:26] lmorchard commented on #1812
The fake dev experiment is mainly just a copy of the min vid experiment with a few strings changed - there is no associated fake experiment add-on. It's just there to test out some site features. So, this behavior is pretty much expected unless we want to actually build a fake add-on too

[2016-11-15 15:50] SoftVision-PaulOiegas commented on #1812
We thought so too and thanks for confirming this Les. By logging this we only wanted to be sure, as we mentioned in the bug notes, that modifying the graduation date for it, won't affect the real Min Vid graduation date.

However, I have launched a question related to this on https://github.com/mozilla/testpilot/pull/1796#issuecomment-260656395 for testing the graduation flow. I assume the PR was

[2016-11-15 16:00] ghost commented on #1808
Could be from browsers that don't support CSP?

Edit: well, I guess if they didn't support it they wouldn't be pinging at all.  Maybe they are buggy?

[2016-11-15 16:04] ghost commented on #1808
PR @ https://github.com/mozilla/testpilot/pull/1813

[2016-11-15 16:09] #1808 closed, assigned to clouserw

[2016-11-15 16:18] chuckharmston opened #1814 "Use l20n sections in FTL files"
Learned about this neat bit of FTL syntax: http://l20n.org/learn/sections

This is a pretty natural fit for the way we've been namespacing related entities, e.g.

[code]

Especially when pairing with section comments: http://l20n.org/learn/comments

@flodolo Would organizing our entities this way affect existing localizations?

[2016-11-15 16:29] flodolo commented on #1814
Can you explain the namespacing? Strings in a section are not namespaced, i.e. you couldn't have a IntroLead in different sections.

@mathjazz Can you confirm that we're not breaking anything with the current l20n parser in Pontoon by adding sections, and comment sections?

[2016-11-15 16:31] chuckharmston commented on #1814
Right; we've been namespacing strings (i.e. `restartIntro`) as a practice of grouping related sections. We'd continue to do that with sections, just provide more helpful context to localizers for some of the more esoteric stuff (like `experimentsListNoneInstalled`, which I'm adding the same comment to three times in #1770).

[2016-11-15 16:32] fzzzy commented on #1808
I think you are right that exceptions have only been reported by browsers that don't support csp. Raven still works on those older browsers.

Recent exception browser versions: IE 11, Firefox 17 (!), Firefox 14 (!!). I see no exceptions from reasonable looking browser versions.

[2016-11-15 16:53] #1770 closed, assigned to chuckharmston

[2016-11-15 17:09] mathjazz commented on #1814
Sections are supported in Pontoon. Meaning strings are imported properly and section comments are assigned to all strings within the section.

[2016-11-15 17:15] chuckharmston commented on #1814
@mathjazz Would you mind confirming that adding an entity to a section wouldn't invalidate existing localizations? That's not totally clear from the documentation.

[2016-11-15 18:21] lmorchard commented on #1812
That PR was _just_ for enabling the capability to have an experiment that only shows up on dev. We haven't done anything with the graduation flow yet

[2016-11-15 18:48] lmorchard commented on #1735
I'd say ping the main addon with nsIObserver ([SDK](https://github.com/mozilla/testpilot/blob/master/docs/examples/addon-sdk/index.js#L7) & [bootstrapped & XUL](https://github.com/mozilla/testpilot/blob/master/docs/examples/addon-restartless/lib/variants.js)) or BroadcastChannel ([webextension](https://github.com/mozilla/testpilot/blob/master/docs/examples/webextension/background.js)). By going wi

[2016-11-15 18:57] lmorchard commented on #1735
Sounds like what we need here is reusable code that works for:
1. Non-SDK add-ons (restartless, bootstrapped, XUL, I don't even know what all the terms are anymore)
2. SDK add-ons (jetpack, jpm, etc)
3. WebExtension add-ons
4. [Embedded WebExtensions](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Embedded_WebExtensions)? (basically WebExtension centers candy-coated in a legacy add-on s

[2016-11-15 19:12] mathjazz commented on #1814
Yup, I can confirm this!

[2016-11-15 21:10] jaredhirsch commented on #1735
wresuolc, lmorchard, and I met to discuss this issue earlier today. Notes are here: https://public.etherpad-mozilla.org/p/test-pilot-metrics-chat-20161115

Copying over the conclusions/decisions to make life easy:

- experiments will send messages to TxP, and TxP docs will show how to do it (this is already done)
- TxP will forward pings to telemetry and GA and ping centre
- TxP will only support

[2016-11-16 00:31] pdehaan opened #1816 ""This experiment is ending" message lacks padding"
http://testpilot.dev.mozaws.net/experiments/__version__  (4836bf7947f8d0012d8b00b0ece017abcc64d3a2):

[code]

---

![firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/20330024/b70effba-ab50-11e6-9e03-d934b478fdd9.png)

[2016-11-16 00:51] chuckharmston commented on #1816
#1741 was the plan for this; CC @johngruen to make sure he sees the issue.

[2016-11-16 00:51] #1816 closed, assigned to nobody

[2016-11-16 01:04] pdehaan opened #1817 "Notification bar's "What experiments?" button doesn't seem to do anything"
https://testpilot.dev.mozaws.net/__version__ (4836bf7947f8d0012d8b00b0ece017abcc64d3a2):

[code]

---

Clicking the "What experiments?" button doesn't seem to do anything, although it does cause a "TypeError: can't access dead object" error into my Browser Console

![browser_console_and_firefox_test_pilot_and_cliqz_ _schnell-suche_und_tracking-schutz____add-ons_fur_firefox_and_mac_-_apple](https:/

[2016-11-16 07:38] flodolo commented on #1768
I don't know much about the background discussion, but legal docs are in that repo for a specific reason: they're translated by an external agency (usually via @peiying2), localizers don't have direct access to them, they can file bugs for minor fixes.

Personally I think it would be pretty confusing to have Test Pilot legal docs in this repo instead of the legal-docs one. And if we do, they shoul

[2016-11-16 13:31] #1485 closed, assigned to johngruen

[2016-11-16 14:10] #1798 closed, assigned to johngruen

[2016-11-16 14:53] SoftVision-CosminMuntean commented on #1805
This issue is no longer reproducible. Tested on the latest Firefox (50.0) release German version.

[2016-11-16 14:53] #1805 closed, assigned to johngruen

[2016-11-16 14:56] SoftVision-CosminMuntean commented on #1804
This issues are no longer reproducible. Tested on the latest Firefox (50.0) release, Italian and German versions.

[2016-11-16 14:56] #1804 closed, assigned to johngruen

[2016-11-16 15:27] SherylBratcher opened #1821 "My history disappeared and I now have 9 hi-lite boxes...I want my history stream back...PLEASE!!!!!!"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-11-16 16:01] SoftVision-PaulOiegas commented on #1812
After looking over the pre-graduation flow today for the fake experiment we end up to the conclusion that
we won't be able to test the whole functionality with the current state of it. We have lots of limitations with it and lots of unreachable areas. here are a couple of examples:
- We cannot enable the experiment since it has no fake add-on tied to it. Because of this we will not be able to test

[2016-11-16 16:49] chuckharmston commented on #1799
Closing per mine and Paul's comments.

[2016-11-16 16:49] #1799 closed, assigned to nobody

[2016-11-16 17:38] pdehaan commented on #1821
Closing in favor of the https://github.com/mozilla/activity-stream/issues/1802 report since this is related to the Activity Stream add-on.

[2016-11-16 17:38] #1821 closed, assigned to nobody

[2016-11-16 17:46] johngruen commented on #1744
@dannycoates nuthin!

[2016-11-16 17:46] #1744 closed, assigned to sevaan, johngruen

[2016-11-16 17:48] johngruen commented on #1741
Sorry, this should have been in the milestone earlier...I've already got a PR in so we should be fine.

[2016-11-16 17:49] johngruen commented on #1801
Oh, that's no good...I'm going to move this over to the tab center repo and close it here.

[2016-11-16 17:51] johngruen commented on #1801
https://github.com/bwinton/TabCenter/issues/793

[2016-11-16 17:51] #1801 closed, assigned to nobody

[2016-11-16 18:29] ckprice opened #1822 "Create a mechanism to expose pages on dev to localizers, but hide on stage/prod"
We haven't launched one before, so this bug is to detail what a perfect world looks like, and note any engineering we may need.

- We receive final copy & assets from marketing/product.
- Open an issue to create `new-localized-thing.yaml` and check into dev.
- `new-localized-thing.yaml` is available for localization on Pontoon.
- http://testpilot.dev.mozaws.net/experiments/new-localized-thing can

[2016-11-16 20:55] pdehaan opened #1823 "Test Pilot dates not localized into my current locale"
https://testpilot.dev.mozaws.net/__version__ (8addf5f3dca7e1e6f24af08d7c5efb839bc5b090):

[code]

---

My current locale is German ("de"), but the date isn't German formatted.

![firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/20365092/7ad73e5e-abfa-11e6-8f99-04d0c2b91f05.png)

I want to blame the [./frontend/src/app/lib/utils.js `formatDate()` method](https://github.com/mozi

[2016-11-16 21:27] jaredhirsch commented on #1771
I'm going to write and land the self-uninstalling patch, since I'll be out of office the next two days.

[2016-11-16 22:29] jaredhirsch commented on #1771
OK, landed the final patch, verified it self-uninstalls cleanly on unbranded release and dev edition.

I've uploaded an unsigned build for QA. It's the top link on [this page](https://people-mozilla.org/~jhirsch/universal-search/). It can also be downloaded directly [here](https://people-mozilla.org/~jhirsch/universal-search/universal-search-1.0.13.xpi).

[2016-11-16 22:49] peiying2 commented on #1768
These documents are being localized as we speak.  We will have the localized files on Thursday.  There should be a "de" equivalent file in both folders.

[2016-11-16 23:35] peiying2 commented on #1768
https://bugzilla.mozilla.org/show_bug.cgi?id=1317493 tracks legal l10n progress.

Regarding the About doc, this comes from the product team, not legal team.

[2016-11-17 00:40] chuckharmston opened #1824 "Page titles not localized"
A quick test shows the `<title>` element not being localized:

<img width="1081" alt="screen shot 2016-11-16 at 5 38 21 pm" src="https://cloud.githubusercontent.com/assets/23885/20371662/80492f04-ac23-11e6-889d-3e0175d5df4e.png">

In fact, it appears that none of our page title strings are even used in the code: [pageTitleDefault](https://github.com/mozilla/testpilot/search?utf8=%E2%9C%93&q=pageTi

[2016-11-17 01:16] pdehaan commented on #1824
Looks like the values are hardcoded in the .mustache templates:

[/frontend/src/templates/index.mustache:17-19](https://github.com/mozilla/testpilot/blob/18aa4b8e591cab05db19625d4fd938965270c021/frontend/src/templates/index.mustache#L17-L19):

[code]

---

[/frontend/tasks/pages.js:61](https://github.com/mozilla/testpilot/blob/18aa4b8e591cab05db19625d4fd938965270c021/frontend/tasks/pages.js#L61):

[2016-11-17 01:17] chuckharmston commented on #1758
Make sure to delete all the unnecessary strings when doing this; there are quite a few only used by this component.

[2016-11-17 01:19] pdehaan commented on #1824
Also, for future verification, it looks like only a few of the locales have translations for the `pageTitleDefault`:

[code]

[2016-11-17 01:52] chuckharmston commented on #1724
I'm moving this from sprint 14 to 15, since it's sort of a meta-bug that I've been addressing with small PRs as I have time.

[2016-11-17 09:56] SoftVision-PaulOiegas commented on #1771
Seems to be working well. Just checked this using Fx 50 latest unbranded release where I installed production version of Test Pilot and Universal Search. Installing after the provided add-on version from the link, correctly removes Universal Search add-on.

![us auto uninstall](https://cloud.githubusercontent.com/assets/17258026/20384454/952676ae-acbc-11e6-9ffc-b7074c1f3449.gif)

[2016-11-17 13:31] johngruen commented on #1761
wontfixing the non-gradient thing as graceful degradation...incoming PR should fix SVGs

[2016-11-17 13:40] johngruen commented on #1761
Also, i'm going to file a separate issue for the boxes showing up some places in edge

[2016-11-17 13:41] johngruen opened #1828 "Edge Browser Making Extra Boxes around some template strings"
<img width="356" alt="screen shot 2016-11-17 at 2 39 37 pm" src="https://cloud.githubusercontent.com/assets/3323249/20391487/e31e0734-acd3-11e6-9f85-c0c5808aac61.png">

Just noticed this while debugging edge's SVG behavior.

[2016-11-17 14:46] chuckharmston commented on #1771
@SoftVision-PaulOiegas would you mind additionally verifying a few things?
1. That the separate search box removed by Universal Search on uninstall is restored.
2. That the `browser.urlbar.suggest.searches` pref is cleared on uninstall.
3. That the `browser.urlbar.oneOffSearches` pref is cleared on uninstall.

Thanks!

[2016-11-17 14:53] johngruen opened #1829 "Figure out localization for graduation reports"
We don't need to do this for this sprint b/c we're only graduating U.S...

The graduation reports will be long-ish docs and are probably not suitable to be localized by our community localizers. We have budget for paid localization, so we should figure out how to use it for these reports.

[2016-11-17 15:22] SoftVision-PaulOiegas commented on #1761
@johngruen I assume Step 5 is not contained in the fix of the svgs from #1827 right ? Asking because I can still reproduce that hide behavior.

![missing description and download](https://cloud.githubusercontent.com/assets/17258026/20395102/75760eae-acea-11e6-91e5-88214b1a73df.jpg)

[2016-11-17 15:23] johngruen commented on #1761
@SoftVision-PaulOiegas yeah, i couldn't reproduce...

[2016-11-17 16:14] SoftVision-PaulOiegas commented on #1771
@chuckharmston sure thing. When it comes to this, we have some problems.
1. The separate search bar **is not restored** upon uninstall.
2. The browser.urlbar.suggest.searches **is returned to default** "false" value as expected.
3. There is **no pref with that name** even if you install US from dev/prod/or custom build from the repo. I've added it myself as Boolean and "true" (same as the one from

[2016-11-17 16:21] SoftVision-PaulOiegas commented on #1761
@johngruen I will do that.
However, in order to reproduce it, you need to scroll down until you reach the page bottom, than back up to the top and finally back to bottom again. Magic occurs after. 😆
We reproduced it today on two machines with Edge browser on Windows 10 (cache cleared).

[2016-11-17 16:27] johngruen commented on #1761
@SoftVision-PaulOiegas was able to repro step 5 eventually, i'm seeing scattered reports of SVG text renderng issues in edge. I wonder if there's an issue with text around svgs 🙄

[2016-11-17 17:18] SoftVision-PaulOiegas commented on #1810
Probably because that doorhanger with "add-on slowing down" is manually disabling it and we are not detecting yet the manual disable of the add-ons from about:addons page.
This is already tracked in #1300 bug so I think we can close this as a dupe.

[2016-11-17 17:20] chuckharmston commented on #1807
@SoftVision-CosminMuntean Can you verify that this is still reproducible if `extensions.webapi.testing` is set to `true`?

Any time you're testing the add-on installation in dev or stage, that needs to be set.

[2016-11-17 17:21] #1810 closed, assigned to nobody

[2016-11-17 17:21] chuckharmston commented on #1807
Now that we're in Firefox 50, any time you see the doorhanger on install (as you would if `extensions.webapi.testing` is either unset of `false`), that's probably the issue.

[2016-11-17 17:41] SoftVision-PaulOiegas commented on #1807
@chuckharmston Cosmin is out of office today but I can help here. I've added manually the pref since it's not by default or installed with Test Pilot but this doesn't change the behavior.
However I can give you some extra bits of information on this. Since after you refresh the page you are correctly redirected after all, uninstalling and reinstalling the add-on after, doesn't display this behavio

[2016-11-17 18:00] #1814 closed, assigned to chuckharmston

[2016-11-17 18:48] ckprice commented on #1822
After speaking with marketing, they would optimally like to keep the product page unpublished on stage/prod until the launch date.

I'm going to unassign John, and open this up for someone to take. The chat log in the first comment mentions an additional flag we could potentially add.

[2016-11-17 18:59] ghost commented on #1482
I think this is out of my wheelhouse.  Can we check this off?

We have stuff going into Sentry.  Does that cover this?

I don't think I can answer this one.

Is this asking for a header or setting?  We don't have non-ssl content, afaik, but I don't know that we do any "forbidding"

ni? @jvehent for the above

[2016-11-17 21:20] #1741 closed, assigned to johngruen

[2016-11-17 21:36] ghost commented on #1771
@6a68 (and co.) we're scheduled to push the self-uninstaller at 10am on Nov 30

[2016-11-17 21:59] #1768 closed, assigned to dannycoates

[2016-11-17 22:31] ckprice commented on #1753
Closed in #1830.

[2016-11-17 22:31] #1753 closed, assigned to johngruen

[2016-11-17 23:46] ckprice opened #1834 "[release] 2016-11-17-3 on stage"
Please QA stage. Let's use this issue to track deployment status to production. I've assigned this to Paul, but we should all be checking out stage a bit.

- Verification documentation: https://github.com/mozilla/testpilot/blob/master/docs/development/verification.md
- Release notes: https://github.com/mozilla/testpilot/releases/tag/2016-11-17

http://testpilot.stage.mozaws.net/

[2016-11-18 01:05] pdehaan commented on #1834
![firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/20414527/b34e6616-ace7-11e6-8d17-1df796072f73.png)

Looks like the graduation text (top warning component) isn't localized.
Also, top spacing on the two dialogs seems to be different.

[2016-11-18 01:11] pdehaan commented on #1834
Not sure how much of an issue this is either: https://github.com/mozilla/activity-stream/issues/1544
Activity Stream has recently removed a few features (timeline, bookmark view, recent activity), so both screenshots are inaccurate. All the onboarding images in the tour probably should be redone as well since they feature the Activity Stream toolbar icon, or the last tour image mentions Universal

[2016-11-18 01:25] chuckharmston commented on #1834
<img width="1103" alt="screen shot 2016-11-17 at 6 16 33 pm" src="https://cloud.githubusercontent.com/assets/23885/20415063/2747bf62-acf3-11e6-895a-074f33170fd9.png">

This was just committed and the strings haven't come in yet. It does have a `data-l10n-id` attribute and you're seeing the backup language (i.e. English), so all is well here.

[2016-11-18 01:55] pdehaan commented on #1834
Cool, thanks @chuckharmston. But even after those strings get localized, we won't see the translations until our next deploy, correct?

[2016-11-18 07:13] flodolo opened #1835 "Convert About page to a localizable format"
The about page just landed, and it's a markdown file in the repository. That basically makes it non localizable: it's not available in Pontoon, localizers will need to open PRs to add a translation, and every single time they want to update a typo they need a PR.

That content should be available as an HTML template, and it strings exposed through the standard localization channels.

[2016-11-18 07:21] flodolo commented on #1829
Jumping in the discussion as an outsider ;-)

I tend to agree, we shouldn't ask our localizers to work on this: they're long, potentially short-lived.

If you expose these strings to external agencies for localization though, we should figure out a way for localizers to review (and update if needed) those translations. Also, please make sure to talk with @peiying2 about selecting the agency proper

[2016-11-18 07:25] flodolo commented on #1834
Tip for planning: that's a good reason to not add new strings last minute.

Those were exposed in the middle of the night in Europe, and you're targeting a European languages as first localization.

Is there any chance to do a new deployment on stage to fix that? It might be a dumb question, since I have no idea how that's done.

[2016-11-18 11:39] johngruen commented on #1829
@flodolo thanks for your response!

So the intent is for these reports to live on after the experiment has concluded in perpetuity after an experiment has ended. To your point about analytics, we will definitely monitor the degree to which people visit the universal search page after it graduates to determine requirements.

Both, i think... I like the idea of having a central, canonical record of

[2016-11-18 13:45] SoftVision-CosminMuntean opened #1836 "Firefox icon from the "Upgrade Firefox" green buttons, is cropped on German locale"
[Affected versions]:
- Firefox 44.0.2

[Affected Platforms]:
- All Windows
- All Mac

[Prerequisites]:
- Have Firefox 44.0.2 release or a lower version installed.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.stage.mozaws.net" page.
2. Observe both the Firefox icons from the "Upgrade Firefox" green buttons.

[Expected result]:
- The i

[2016-11-18 13:45] SoftVision-PaulOiegas opened #1837 "Prompt notification to check experiments wrongly shows after browser restart instead of 24h from installation"
[Affected versions]:
- Firefox 50.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.stage.mozaws.net" page.
2. Click the "Install the T

[2016-11-18 13:56] SoftVision-CosminMuntean opened #1838 "The "What experiments?" button from notification to try experiments after 24h from installation is wrongly colored"
[Affected versions]:
- Firefox 50.0 and up

[Affected Platforms]:
- All Windows
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.stage.mozaws.net" page.
2. Click the "Install Test Pilot add-on

[2016-11-18 16:50] SoftVision-PaulOiegas commented on #1834
Hi guys, here are the testing results from staging server:

New issues:
1. #1836 - Firefox icon from the "Upgrade Firefox" green buttons, is cropped on German locale
2. #1837 - Prompt notification to check experiments wrongly shows after browser restart instead of 24h from installation
3. #1838 - The "What experiments?" button from notification to try experiments after 24h from installation is wro

[2016-11-18 17:18] pdehaan opened #1840 "Expired dev-only experiment still displays as related add-on"
https://testpilot.dev.mozaws.net/__version__ (5c97b7918d328741f8684269df80c9d28d0447bd):

[code]

---

1. Go to https://testpilot.dev.mozaws.net/experiments/min-vid (not logged in)
2. Scroll to bottom.
3. Note that the 'Dev Example' experiment is listed.
4. Click 'Dev Example' tile
5. https://testpilot.dev.mozaws.net/experiments/dev-example

<img width="1440" alt="firefox_test_pilot" src="https://

[2016-11-18 17:19] pdehaan commented on #1840
Note that the expired add-on does not display on the home page.
<img width="1440" alt="firefox_test_pilot_-_min_vid" src="https://cloud.githubusercontent.com/assets/557895/20439398/265aef48-ad70-11e6-9090-143ee8d287e9.png">

[2016-11-18 17:23] ghost commented on #1809
We could automate dev and not prod

[2016-11-18 17:24] ckprice commented on #1807
Cosmin to check the pref and confirm repro still.

[2016-11-18 17:28] ckprice commented on #1834
I'm going to keep this one as `needs:qa` until #1817 and #1837 are resolved.

[2016-11-18 17:42] meandavejustice opened #1842 "Add Noitidart to contributors on experiment page"
refs
https://github.com/meandavejustice/min-vid/issues/479

[2016-11-18 17:48] meandavejustice commented on #1003
Updated npm warnings as of 11/18/2016

TxP addon

[code]

TxP project

[code]

[2016-11-18 22:17] pdehaan opened #1845 "Audit existing avatar image sizes"
Ref: https://github.com/mozilla/testpilot/pull/1843#pullrequestreview-9301574

| WxH | SIZE | PATH |
|:---:|-----:|:-----|
| 64x64 | 2.3KB | /frontend/src/images/experiments/activity-stream/avatars/kate-hudson.jpg
| 64x64 | 9.9KB | /frontend/src/images/experiments/activity-stream/avatars/ricky-rosario.jpg
| 400x400 | 34.8KB | /frontend/src/images/experiments/activity-stream/avatars/nan-jiang.jpg
|

[2016-11-20 16:08] jvehent commented on #1482
Yes. Covered in [bug 1301956](https://bugzilla.mozilla.org/show_bug.cgi?id=1301956)

This wouldn't apply to testpilot since it's a static site. Out of curiosity: what generates sentry logs?

Doesn't apply to static sites. It applies to webapps that manage user resources with permissions.

Forbid is probably the wrong term. This is really asking devs to make sure all content is served through HTTPS

[2016-11-20 16:56] jvehent commented on #1610
cc @g-k for help

[2016-11-20 20:39] ckprice opened #1846 "Change Sentry message titles to something more meaningful"
All Sentry messages are coming through with a title of `<no message value>`. Could we change this to something specific to the error?

E.g. for https://sentry.prod.mozaws.net/operations/testpilot-dev/issues/369087/ maybe the title could read

[2016-11-20 22:20] #1842 closed, assigned to meandavejustice

[2016-11-21 02:24] relud commented on #1610
actually I've got it, i just need to find a moment to /do/ it.

On Sun, Nov 20, 2016 at 8:56 AM Julien Vehent [:ulfr] <
notifications@github.com> wrote:

[2016-11-21 09:56] SoftVision-PaulOiegas commented on #1836
Looks ok now in German locale. Marking this as verified.

[2016-11-21 10:17] SoftVision-PaulOiegas commented on #1807
Cosmin tested this today also, and confirmed he can still reproduce it too. And the strange part is that the installation doorhanger is displayed even with the set pref, which shouldn't happen. However, this is not reproducing on stage. only on dev server at the moment.

One more thing that we observed, as I've said above, the installation works well the second time you install it, but the doorhan

[2016-11-21 10:34] SoftVision-PaulOiegas commented on #1842
Correctly displayed on Min Vid pages with and without Test Pilot installed.

[2016-11-21 12:50] SoftVision-PaulOiegas opened #1847 "Test Pilot Privacy page in DE locale has no "Show more/less" buttons to expand, hide sections content"
[Affected versions]:
- Firefox 50.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisite]:
- German language was added on the top of the list from Firefox "Options > Content > Languages" section.

[Steps to reproduce]:
1. Open Firefox browser and navigate to "https://testpilot.dev.mozaws.net/" page.
2. Click the "Privacy Policy" text button (Datenschutzhinweis) from und

[2016-11-21 15:28] chuckharmston commented on #1817
@pdehaan I've been trying to reproduce this all morning, but have been unsuccessful. Any chance you have better STR?

[2016-11-21 16:46] SoftVision-PaulOiegas opened #1849 "[Enhancement] We should display a specific newsletter error message for already signed up emails"
[Notes]:
- The current behavior is confusing for users that forget that they already signed up for the newsletter.
- Usually the user is not notified at all. This is the most confusing case since the user does not receive anything by email and if he tries for several times it ends up on the default error.
- Default error message only encourages him to try some more which will have the same result.

[2016-11-21 16:49] chuckharmston commented on #1838
The news here is not great, unfortunately. Cross-platform support for XUL CSS is limited, and the `background` property on `<button>` is one of the ones that is limited. It works okay on OS X, but on Windows any value (tried named colors, hex values, and `rgb()`) is declared invalid and ignored. I don't think there's a good fix for this.

Here's what the system defaults (i.e. no CSS) look like:

!

[2016-11-21 16:51] chuckharmston commented on #1849
Can you check the status code of the API response in this case? I suspect that you're getting a 429 from Basket, which is actually a rate limiting, rather than an email resubmission error. A bug seeking better messaging for that exists at #1669.

[2016-11-21 16:54] SoftVision-PaulOiegas commented on #1849
Yeah, my bad. I forgot that we logged that one and someone mentioned about this behavior today so I logged it without checking.  Closing as a dupe of #1669.

[2016-11-21 16:54] #1849 closed, assigned to nobody

[2016-11-21 17:25] SoftVision-PaulOiegas commented on #1817
Tried to reproduce it also but works for me each time.

[2016-11-21 17:29] flodolo opened #1850 "Hard-coded string: "We will automatically disable the Universal Search experiment and report the results when it ends.""
https://testpilot.dev.mozaws.net/experiments/universal-search
https://github.com/mozilla/testpilot/blob/master/content-src/experiments/universal-search.yaml#L95

It's currently displayed in English even for locales completely translated. Not sure if it's because of the missing quotes.

[2016-11-21 18:17] ckprice commented on #1837
Closed in #1848.

[2016-11-21 18:17] #1837 closed, assigned to chuckharmston

[2016-11-21 18:35] flodolo commented on #1822
That's far from ideal for l10n testing, we need to be able to test a page properly and in advance, especially if we lose almost 5 days in a 2 weeks cycle like it currently happens.

[2016-11-21 18:36] chuckharmston commented on #1822
It'd still be testable on the dev site, for what it's worth.

[2016-11-21 18:38] flodolo commented on #1822
I'm not sure it's safe to assume that 'stage' doesn't include 'dev', especially coming from marketing perspective.

[2016-11-21 18:43] ckprice commented on #1822
We've been clear with marketing that there will be a dev URL public. Their main concern is the live URL being out in the wilds.

Considering the sprint schedule we discussed today, we may not need such a mechanism for this sprint since we'll only be doing one production push at launch. We should expect some pushes to stage though, so let me confirm that it's okay for a dev and stage URL out in the

[2016-11-21 19:58] chuckharmston commented on #1834
Commits to cherry-pick:

- a87e737
- de6f2a1
- 5967269
- a8daf0f
- d38b0ea
- 76c8679
- 39a7860
- e9ffe2c
- 8e505a4

[2016-11-21 20:02] chuckharmston opened #1853 "Consider platform-specific CSS for notification buttons."
In #1838 we discovered that some CSS is not applied to notification buttons on some platforms. We should consider finding a centralized way to conditionally override platform-specific styles (e.g. on macOS, `background-color` is supported and we should use it).

[2016-11-21 20:04] chuckharmston opened #1854 "Audit use of background colors on notification buttons."
In #1383 we discovered that `background-color` is not supported on on XUL `<button>` elements on Windows, and in #1852 we removed that CSS in favor of the default styling.

We use [similar techniques](https://github.com/mozilla/testpilot/blob/fb23c795b2912a319317f064a3003413d53c3e5d/addon/lib/survey.js#L220) on our survey prompts, and we should ensure that it does not also suffer from the same sty

[2016-11-21 23:46] pdehaan commented on #1817
I can't get this bar to appear locally. I tried hacking the timeout per https://github.com/mozilla/testpilot/pull/1848 (but not sure if that's even the right place/config).

I say we just close this if nobody else can reproduce it. I'll see if I can get a new profile back into a state where this bar reappears for me so I can try reverifying the button behavior.

[2016-11-21 23:53] ghost opened #1855 "Test Pilot install counts in Telemetry graphs seem incorrect"
Check out our raw usage numbers:  https://analysis-output.telemetry.mozilla.org/testpilot/data/installation-counts/latest.json  Those counts are counting the number of 'enabled' pings the Test Pilot add-on is sending to Telemetry.  Some of the numbers are a little suspicious (eg. 360k page shot installs and only 220k test pilot users).  The Page Shot usage stats show more likely 40k active users.

[2016-11-21 23:55] sunahsuh commented on #1855
If we do find this to be the case, sending an "updated" event instead would be my personal preference

[2016-11-22 00:07] ckprice commented on #1834
Created tag `2016-11-17-1` starting from `2016-11-17` and cherry picking the 9 commits above.

The [resulting compare](https://github.com/mozilla/testpilot/compare/2016-11-17...2016-11-17-1) seems to be what is expected. @chuckharmston @clouserw r? If this looks okay, we'll push to stage tonight for SV to verify.

[2016-11-22 00:20] chuckharmston commented on #1817
@pdehaan I have instructions for hacking that date without touching the code here: https://github.com/mozilla/testpilot/pull/1800#issue-188793047

I'll close this for now, but please reopen if you can get good STR.

[2016-11-22 00:20] pdehaan opened #1856 "Download counts not always localized"
https://testpilot.dev.mozaws.net/__version__ (6225db3c8bf60c25c2bdd981472ed9b9aaa7cb25):

[code]

---

Similar to https://github.com/mozilla/testpilot/issues/1823
Note that on https://testpilot.dev.mozaws.net/ the download counts are localized and shows the German "160.677 Teilnehmer", but on the experiments page (https://testpilot.dev.mozaws.net/experiments/min-vid) we show a comma separated valu

[2016-11-22 00:20] #1817 closed, assigned to chuckharmston

[2016-11-22 00:23] #1838 closed, assigned to chuckharmston

[2016-11-22 00:37] ckprice commented on #1834
Okay, we got in another fix.

Release `2016-11-17-2` is on stage. @SoftVision-PaulOiegas please verify for tomorrow morning. Here's a comparison of what was cherry-picked today https://github.com/mozilla/testpilot/compare/2016-11-17...stage-static.

[2016-11-22 01:37] pdehaan commented on #1817
Yeah, tested locally and wasn't able to reproduce.
Easiest/laziest solution seemed to be to hack the addon/lib/no-experiments.js' `shouldShowNotification()` to always return `true` locally:

[code]

Clicking that "What experiments?" then just redirects me to http://testpilot.dev:8000/?utm_source=testpilot-addon&utm_medium=firefox-browser&utm_campaign=testpilot-notification&utm_content=no-experimen

[2016-11-22 02:00] pdehaan opened #1857 "installations_url for experiments 404s?"
Casually surfing through https://testpilot.firefox.com/api/experiments.json and I see an `installations_url` field for each experiment. If I try and ping that endpoint, I get a 404:

https://testpilot.firefox.com/api/experiments/2.json -- works
https://testpilot.firefox.com/api/experiments/2/installations/ -- no works

Not sure if we're using that `installations_url` for anything, or if we're gett

[2016-11-22 06:13] lmorchard commented on #1857
Yeah, we should delete this property. Telemetry does i deed handle this now, and the original service went away with Django

[2016-11-22 13:25] SoftVision-PaulOiegas commented on #1837
Seems to be fixed, haven't managed to reproduce it with multiple restarts and uninstall + reinstall.. Marking it as verified.

[2016-11-22 14:04] SoftVision-CosminMuntean opened #1858 "Localization missing for specific elements on the Test Pilot website"
[Affected versions]:
- Firefox 50.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- The "experiments.webapi.testing" boolean pref was manually set to true.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate

[2016-11-22 14:15] flodolo commented on #1858
That's the behavior of l20n when a string is not available. Since these strings are [exposed](https://github.com/mozilla/testpilot/blob/master/locales/en-US/addon.properties) for localization, I guess something is wrong with the package.

[2016-11-22 14:19] chuckharmston commented on #1858
These are all strings in the add-on; which doesn't use l20n, but instead uses the [SDK l10n module](https://developer.mozilla.org/en-US/Add-ons/SDK/High-Level_APIs/l10n) (which may also behave the same way; I'm not sure).

CC @lmorchard

[2016-11-22 14:19] flodolo opened #1859 "Disabled JavaScript warning is not localized"
Just noticed looking at the code, but you can verify it by disabling JavaScript in devtools.
https://testpilot.stage.mozaws.net/ and browser set to Italian.

![schermata 2016-11-22 alle 15 19 16](https://cloud.githubusercontent.com/assets/3644868/20527029/0f5a9ee2-b0c7-11e6-9f3c-ab66ca4513d2.png)

[2016-11-22 14:29] flodolo commented on #1858
D'oh, good point. I've unpacked the .xpi and don't see traces of localization, while the add-on created by `npm run package` has a locale folder in it and it seems correctly localized when installed.

[2016-11-22 15:10] SoftVision-PaulOiegas opened #1860 ""Your Privacy" section looses localization when resizing window (mobile portrait size)"
[Affected versions]:
- Firefox 50.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Test Pilot add-on was previously installed on a new clean Firefox profile.
- A localization language other than English was added on top of the list (eg German), from "Firefox > Options > Content > Language" section.

[Steps to reproduce]:
1. Open Firefox with the profile from

[2016-11-22 15:19] flodolo commented on #1860
I would add that the section is in English if you start directly with the small window size, so it's not related to the resize, but to the viewport size.

[2016-11-22 15:22] SoftVision-PaulOiegas opened #1861 "End phrase dot placed outside the list element in NoMore404s "Your Privacy" section in German locale"
[Affected versions]:
- Firefox 50.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Test Pilot add-on was previously installed on a new clean Firefox profile.
- German language was added on top of the list from "Firefox > Options > Content > Language" section.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://t

[2016-11-22 15:24] SoftVision-CosminMuntean opened #1862 "Contributor "Noitidart" is not displayed on Min Vid experiment page (on stage)"
[Affected versions]:
- Firefox 50.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.stage.mozaws.net" page.
2. Click on Min Vid experiment card.
3. Observe the "Brought to you by" section.

[Expected result]:
- Noitidart Engineering Contributor is correctly displayed.

[A

[2016-11-22 15:25] lmorchard commented on #1858
Hmm, [these strings are present in the `.properties` file](https://github.com/mozilla/testpilot/blob/master/locales/en-US/addon.properties) and they were working when we committed that stuff. Could be a build issue, since we moved the file around to get it picked up by Pontoon. Will take a look at CircleCI and see what's up

[2016-11-22 15:27] SoftVision-PaulOiegas commented on #1834
Hy guys,

Here are the issues found while testing staging latest changes:
1. #1858  - Localization missing for specific elements on the Test Pilot website
2. #1860 - "Your Privacy" section looses localization when resizing window (mobile portrait size)
3. #1861 - End phrase dot placed outside the list element in NoMore404s "Your Privacy" section in German locale
4. #1862 - Contributor "Noitidart"

[2016-11-22 15:28] lmorchard commented on #1858
Also, running `npm run package` is no longer sufficient to build the add-on - [you also have to first run `npm run addon:locales`](https://github.com/mozilla/testpilot/tree/master/addon#development) to copy over the `.properties` files from the `locales/` directory in the root of the project. [This *should* be happening in CircleCI builds](https://github.com/mozilla/testpilot/blob/master/bin/circl

[2016-11-22 15:31] flodolo commented on #1861
That's an error in the localization that I've just fixed (dot was between two list items). It will be exported within 10 minutes by Pontoon.

[2016-11-22 15:36] lmorchard commented on #1858
Ahh, I think I know what it is: Stage & prod don't use the CircleCI scripts. 😞 So, we probably just need to tweak the commands in `package.json` to copy the `.properties` files over

[2016-11-22 15:42] flodolo commented on #1861
Fix: https://github.com/mozilla/testpilot/commit/77913ebdc90f3a9317c8282ea7d243232efc56aa

[2016-11-22 16:01] #1858 closed, assigned to lmorchard

[2016-11-22 16:26] ckprice commented on #1834
We determined this to be blocking, and pushed `2016-11-17-3` to stage.

[2016-11-22 17:22] SoftVision-CosminMuntean commented on #1836
This issue is reproducible on production.

[2016-11-22 17:32] pdehaan commented on #1859
If JavaScript is disabled, I'm not sure if our l20n scripts will work anyways.

[2016-11-22 17:37] flodolo commented on #1859
Good point, we might need an alternative strategy to localize it, or at least stop asking to localize these strings.

@stasm
Out of curiosity, have you guys thought of this scenario for l20n web projects?

[2016-11-22 18:23] SoftVision-PaulOiegas opened #1864 "Universal Search is missing from Test Pilot button doorhanger"
[Affected versions]:
- Firefox 50.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.firefox.com" page.
2. Choose to install Test Pilot add-on.
3. Observe the available experiments cards on the page.
4. Click on the Test Pilot toolbar button and observe the available exper

[2016-11-22 19:04] flodolo commented on #1860
Looks like the section doesn't have the data-l10n-id set when the window is small or resized.

[2016-11-22 20:38] stasm commented on #1859
@flodolo L20n can't do anything without JS (at least right now).   Non-JS scenarios aren't supported at all.   Do you think we should have a story for such cases?

[2016-11-22 20:41] flodolo commented on #1859
If we want to promote l20n as a tool to localize websites, and not only software, I think we should at least think about it.

[2016-11-23 10:05] SoftVision-CosminMuntean commented on #1861
This issue is fixed on dev server.  Marking it as verified.

[2016-11-23 10:05] #1861 closed, assigned to nobody

[2016-11-23 15:50] SoftVision-PaulOiegas opened #1866 "The "Tour" pop up is not displayed if the experiment first enable attempt fails"
[Affected versions]:
- Firefox 50.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- The "experiments.webapi.testing" boolean pref was manually set to true.
- Test Pilot add-on was previously installed on the above profile.

[Steps to reproduce]:

[2016-11-23 16:25] #1857 closed, assigned to pdehaan

[2016-11-23 16:52] lmorchard commented on #1824
Those templates build our static pages. The hardcoded `<meta>` tags are for social media sharing, and aren't localized yet.

Not entirely sure *how* to localize them yet, since we do everything client-side with L20N right now and don't have any URL path schemes like `/{en-US,de,fr,ja,zh-CN}/experiments/` etc. I've read that lots of spiders run JS these days, but haven't really seen Twitter & Faceb

[2016-11-23 16:53] lmorchard commented on #1824
I *think* we should be able to slap a `data-l10n-id` on the main page `<title>` though, and at least get the in-browser page title localized

[2016-11-23 22:40] jaredhirsch commented on #1862
refs https://github.com/meandavejustice/min-vid/issues/508

[2016-11-23 22:51] pdehaan commented on #1862
I think that we merged the Noitidart PR (#1843) after we cut the stage release.

Current stage https://testpilot.stage.mozaws.net/__version__ (26fc59eb0798cf3328700076e9e0a94f46dc6a71):

[code]

But we didn't merge https://github.com/mozilla/testpilot/pull/1843 until the 20th: https://github.com/mozilla/testpilot/compare/26fc59e...52a8b31

[2016-11-24 15:34] SoftVision-CosminMuntean opened #1869 "Graphs legends are wrongly rendered on the Universal Search graduation page"
[Affected versions]:
- Firefox 50.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- The "experiments.webapi.testing" boolean pref was manually set to true.
- Test Pilot add-on was previously installed on a new profile from "https://testpilot.dev

[2016-11-24 16:22] SoftVision-PaulOiegas commented on #1747
@johngruen I think the remaining changes are somehow blocked by #1864. The issue is present in all Test Pilot servers.

[2016-11-24 16:55] SoftVision-PaulOiegas opened #1871 "Badly rendered survey page displayed when first visiting Universal Search completed experiment from doorhanger"
[Affected versions]:
- Firefox 50.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- The "experiments.webapi.testing" boolean pref was manually set to true.
- Test Pilot add-on was previously installed on the above profile.

[Steps to reproduce]:

[2016-11-25 21:48] IByte opened #1872 ""Which experiments" notification shown in wrong locale"
The "Which experiments" notification bar of the Test Pilot add-on was just shown to me in German, even though the locale of my Firefox installation is en-GB and geolocation would show Dutch.

[2016-11-26 06:36] flodolo commented on #1872
Location is not used to determine the language, browser's settings should. Having said that, en-GB is not available as a localization, so it should fallback to en-US.

Is the rest of the add-on correctly in English?

[2016-11-26 13:03] IByte commented on #1872
Actually, I just checked, and no, it isn't. If I click the Test Pilot toolbar button, the experiment names are in English, but the button below them says "Alle Experimente ansehen" (View all experiments). If I click it, I go to the Test Pilot page in English. None of the software on my system is set to German, so imagine my surprise (luckily I do speak some German, or I wouldn't have known what hi

[2016-11-26 21:28] SherylBratcher commented on #1821
I didn't open you're email because I didn't know who you were...
I use to have less focus boxes and a recent history link list below them
and I want it back!!!!!
It was very useful to me!
Please do your Tech Magic and tell me how to change it back. If you can
also make it easy for a non-technical website/SEO Sales Person.  :)
Thank you!
Sheryl Bratcher

On Wed, Nov 16, 2016 at 12:38 PM, Peter deHa

[2016-11-28 16:51] #1836 closed, assigned to johngruen

[2016-11-28 16:52] johngruen commented on #1836
@SoftVision-CosminMuntean please verify on prod when we tag the next release

[2016-11-28 17:17] jaredhirsch opened #1874 "Site should redirect HTTP page requests to HTTPS"
STR: Loading `http://testpilot.dev.mozaws.net/` currently does not redirect to `https://testpilot.dev.mozaws.net/`.

[2016-11-28 17:31] jaredhirsch commented on #1874
Hmm. I can no longer reproduce this bug. Maybe dev was in the middle of deploying?

[2016-11-28 18:05] ckprice opened #1875 "Update Tracking Protection copy to differentiate it from the Firefox feature"
@johngruen to provide copy and placement.

[2016-11-28 18:52] ckprice commented on #1875
Ref: https://github.com/mozilla/testpilot/blob/master/docs/content/reference.md#localization

[2016-11-28 21:15] ckprice commented on #1875
We [hacked together some copy](https://public.etherpad-mozilla.org/p/6rmZFOXtD7) for this to appear above the 'Contributors' section. John is going to open a patch.

[2016-11-28 22:29] #1869 closed, assigned to ckprice

[2016-11-28 22:59] #1875 closed, assigned to johngruen

[2016-11-28 23:00] johngruen opened #1880 "Add a link to Chuck's Blog post in Universal Search Graduation Report"

[2016-11-28 23:32] ckprice opened #1881 "[release] 2016-11-29-1 on stage"
We're going to get this up on stage for verification targeting a push tomorrow.

We'll be starting with the last deployed tag, [`2016-11-17-3`](https://github.com/mozilla/testpilot/releases/tag/2016-11-17-3), then cherry-pick

- https://github.com/mozilla/testpilot/commit/1e394f2426347f63673a26a94e4142e8b6ac785e
- https://github.com/mozilla/testpilot/commit/ad196e1a5dbd7ffd2ec0f531d254f08975b0acfa

[2016-11-28 23:46] johngruen commented on #1880
I believe this is the URL...
https://medium.com/mozilla-tech/universal-search-retrospective-b39e1be5d128

@chuckharmston let us know when the content is final and we can add it to the `graduation_report`

[2016-11-29 00:23] ckprice opened #1882 "contributors_extra_url is not rendering link correctly"
The URL doesn't click. This is what is rendered in dev tools:

[code]

Ref: [the commit](https://github.com/mozilla/testpilot/commit/1e394f2426347f63673a26a94e4142e8b6ac785e) that this was added in.

[2016-11-29 00:23] ckprice commented on #1881
Stage tag and push blocked by #1882.

[2016-11-29 00:43] chuckharmston commented on #1882
Two things:

1. I don't see the `trackingprotectionContributorsextra` string in the FTL at all.
2. I may have been mistaken about how l20n gets the URLs in [this comment](https://github.com/mozilla/testpilot/pull/1879#discussion_r89895884). It seems that it picks it up from the fallback/no JS string

Not sure how to move forward with this. A few options immediately come to mind:

1. We can put the

[2016-11-29 06:09] ghost commented on #1882
I'm happy with number 3 for this push

[2016-11-29 06:58] flodolo commented on #1882
Not sure if these could be useful for a proper fix (see also [link to legal](https://github.com/mozilla/testpilot/blob/a4b08eaafefe15db6720ce3b8b0eba2952ca240b/frontend/src/app/components/MainInstallButton.js#L27))
https://github.com/mozilla/testpilot/pull/1736

[2016-11-29 14:31] SoftVision-CosminMuntean commented on #1860
This issue is no longer reproducible on dev server. Marking it as verified.

[2016-11-29 14:31] #1860 closed, assigned to nobody

[2016-11-29 14:42] chuckharmston commented on #1880
Still getting edited, but it's close enough that we can do this.

[2016-11-29 15:38] #1809 closed, assigned to lmorchard

[2016-11-29 15:50] #1882 closed, assigned to johngruen

[2016-11-29 16:06] ghost opened #1885 "Update HPKP header"
https://bugzilla.mozilla.org/show_bug.cgi?id=1315033#c4 has a new HPKP header to use

[2016-11-29 17:23] #1880 closed, assigned to clouserw

[2016-11-29 17:29] #1824 closed, assigned to lmorchard

[2016-11-29 17:30] ckprice commented on #1881
This is up on stage, please review.

https://github.com/mozilla/testpilot/compare/2016-11-17-3...2016-11-29-1

[2016-11-29 17:48] ckprice commented on #1881
Ah, SV is on holiday tomorrow. May need @pdehaan to step in a verify this for production.

[2016-11-29 18:20] pdehaan opened #1887 "Add experiment tiles to /onboarding page?"
Found in https://testpilot.stage.mozaws.net/__version__ (e42d9cb5ec4e75f45fe6123ade507bce14037fea):

[code]

---

Currently the [/onboarding](https://testpilot.stage.mozaws.net/onboarding) page feels like a bit of a dead end. Not sure if we should add the experiments grid to this page, or something to make it a bit more "actionable". You sort of have to either:

(a) Heed the instructions and use t

[2016-11-29 18:44] pdehaan opened #1888 "Missing lots of experiment info at smaller resolutions"
Found in https://testpilot.stage.mozaws.net/__version__ (e42d9cb5ec4e75f45fe6123ade507bce14037fea):

[code]

---

We don't seem to be showing any of the useful Version, Changelog, Date, Forum, Contributors info when viewing at a _mobile_-esque resolution.

![Desktop](https://pageshot.net/images/e49fd577-ace5-457b-9fe6-18986d3222fd.png)
**Figure 1:** [Test Pilot](https://pageshot.net/OQ7Tb2hbnWuo7m

[2016-11-29 19:11] pdehaan opened #1889 ""TypeError: t is null" when disabling an experiment"
Found in https://testpilot.stage.mozaws.net/__version__ (e42d9cb5ec4e75f45fe6123ade507bce14037fea):

[code]

---

I was testing uninstalling the Universal Search add-on and as soon as the "Vielen Dank!" dialog popped up, my DevTools console spewed "TypeError: t is null" error, citing some error on line 8 of the minimized vendor.ec3d1ad6.js file. I tried tracking that back to some unminimized sourc

[2016-11-29 20:02] pdehaan opened #1890 "CSP blocking the loading of resource at data:image/svg+xml;base64"
Not exactly sure how I got into this situation, but I'm seein the following CSP error in my DevTools console while browsing Test Pilot.

![firefox_test_pilot_-_page_shot](https://cloud.githubusercontent.com/assets/557895/20726756/bddcc59e-b62b-11e6-9f6c-30a1fc0dcbd5.png)

[2016-11-29 20:05] pdehaan commented on #1890
Ugh, actually I think this is due to our CSP rules blocking the PageShot icons. See https://github.com/mozilla-services/pageshot/issues/1448

[2016-11-29 20:05] #1890 closed, assigned to nobody

[2016-11-29 20:18] pdehaan opened #1891 "CSP error with newsletter signup form ("form-action 'none'")"
Found in https://testpilot.stage.mozaws.net/__version__ ():

[code]

---

### Steps to reproduce:
1. Go to https://testpilot.stage.mozaws.net/
1. Open your DevTools console.
1. Scroll down to the newsletter signup form.
1. Enter your name.
1. Click the "Sign Up Now"  button.

### Actual results:
DevTools console says:

Looks legit, I don't see an `action` or `method` on that `<form>` element:

[co

[2016-11-29 21:19] pdehaan opened #1892 "Add JavaScript sourcemaps in Stage/Production?"
Ref [./frontend/tasks/scripts.js:49-55](https://github.com/mozilla/testpilot/blob/979875a113bee445170f04f49e3d2ab2c575eddf/frontend/tasks/scripts.js#L49-L55):

[code]

It looks like we may not enable source maps while not in debug mode (where [`IS_DEBUG`](https://github.com/mozilla/testpilot/blob/03061ad53f1f07b1cc8b7a0bfbbedf02ff8075a8/frontend/config.js#L5) is defined as `IS_DEBUG: (process.env.

[2016-11-29 22:47] pdehaan opened #1893 "Filter out any non-directory results when generating dev locale list?"
Probably not worth much effort since this only affects dev/local envs...

In https://github.com/mozilla/testpilot/pull/1878 we auto generated the list of dev locales [`AVAILABLE_LOCALES`](https://github.com/mozilla/testpilot/blob/992cf978d30ea9bab06df1300883c0745b968cd9/frontend/config.js#L9-L13) using `fs.readdirSync('./locales').join(',')`.

Looking at Chuck's screenshot in https://github.com/mo

[2016-11-29 23:27] pdehaan commented on #1872
IIRC, the experiment names aren't translated, so those should always be English.

If you go to about:preferences#content and click on the [Choose...] button next to Languages, what does your list of languages look like?

![preferences](https://cloud.githubusercontent.com/assets/557895/20733436/3c2f710a-b648-11e6-9bb1-fd48f829ae6f.png)

[2016-11-29 23:59] jaredhirsch commented on #1771
Just following up on the last comment from Paul:

Unfortunately, I don't think this can be fixed before we end the experiment.

The search bar not getting restored on uninstall has been an open bug for [a while](https://github.com/mozilla/universal-search/issues/311), meaning: we've lost track of whether the user originally had the search bar. The only thing we could do would be to restore the sea

[2016-11-30 04:00] jaredhirsch commented on #1780
It looks like PopupNotifications.jsm or the `addon-install-blocked` nsIObserver events (which trigger the blocked notification being displayed) might be more reliable alternatives to the current approach of sleeping for 5 seconds, then hoping Puppeteer can find the elements.

I think we can use marionette's `execute_async_script` method to call JS code inside the python integration test, but I'm n

[2016-11-30 05:45] flodolo commented on #1893
Looks like there are option to filter that list directly in fs.readdir
http://stackoverflow.com/questions/18973655/how-to-ingnore-hidden-files-in-fs-readdir-result

[2016-11-30 05:47] flodolo commented on #1872
Even easier: open about:config in Firefox and copy/paste here the value of `intl.accept_languages` (search for it, right click, copy value).

en-GB default is `en-GB, en`

[2016-11-30 13:09] IByte commented on #1872
My intl.accept_languages is set to "en-GB,en,en-nz,en-us,nl,de-de,de,fr-fr,fr,cs".

[2016-11-30 14:35] flodolo commented on #1872
Uhm, now that I think a bit more, we're talking about an add-on, so it would be determined by `general.useragent.locale`, not the accept language (that's for the website).

[2016-11-30 16:29] IByte commented on #1872
general.useragent.locale is en-GB

[2016-11-30 16:55] ckprice commented on #1822
Kicking this out of this sprint.

[2016-11-30 18:15] pdehaan opened #1894 "Remove "version" numbers from experiment details page?"
I'm not sure that displaying a version number adds any "value", especially considering that 4/7 of the experiment pages show the not-latest version number (2/7 are accurate, 1/7 is Universal Search and I can't see a package.json or manifest.json with a version number in the XPI).

| NAME | TxP VERSION | XPI VERSION | 👍 👎
|----|----:|----:|:--:|
| Activity Stream | 1.1.3 | 1.1.8 | ❌
| Min Vid | 0.3

[2016-11-30 18:22] pdehaan commented on #1894
Here's my :poop::fire: code for grabbing the /api/experiments.json file, then fetching each experiments XPI file and attempting to parse out the `name` and `version` properties from the {package,manifest}.json file:

[code]

[2016-11-30 18:42] #1885 closed, assigned to nobody

[2016-11-30 20:35] jaredhirsch commented on #1780
For right now, I'm going to just try making the sleeps longer. It actually might help.

If that doesn't work, I'll look into fancier things, like listening for specific events.

[2016-12-01 00:44] jaredhirsch commented on #1735
I've opened a PR against ping-centre to add support for the `testpilot` ping type: https://github.com/mozilla/ping-centre/pull/23.

Currently blocked on landing that PR and ping-centre being published to npm (https://github.com/mozilla/ping-centre/issues/22).

[2016-12-01 01:18] jaredhirsch commented on #1735
Here's a WIP branch while we're waiting for ping-centre to hit npm: https://github.com/6a68/testpilot/tree/add-ping-centre

[2016-12-01 04:45] ghost commented on #1894
Although this has great numbers, some guy already filed this. https://github.com/mozilla/testpilot/issues/1523

[2016-12-01 04:45] #1894 closed, assigned to nobody

[2016-12-01 04:47] ghost opened #1899 "Add a note about deploy-txp to the docs"
Let's add some documentation to https://github.com/mozilla/testpilot/blob/master/docs/development/hosting.md about what https://github.com/meandavejustice/deploy-txp is and how to use it

@meandavejustice

[2016-12-01 18:35] #1780 closed, assigned to jaredhirsch

[2016-12-01 18:44] ckprice commented on #1754
@clouserw this issue backfills some missing GA events using our current ping system. I know you and @6a68 are working on changing this, so do you think we should wait? I saw in another doc that  jared was planning on implementing the missing pings into his branch.

[2016-12-01 18:49] #1823 closed, assigned to jaredhirsch

[2016-12-01 19:19] johngruen commented on #1771
@clouserw think we can close this?

[2016-12-01 19:20] johngruen commented on #1758
Not going to get to this today...I'll save it for when i want to hide in a corner for awhile in hawaii.

[2016-12-01 19:20] chuckharmston commented on #1771
Goodnight.

[2016-12-01 19:20] #1771 closed, assigned to johngruen

[2016-12-01 19:22] johngruen commented on #1853
@chuckharmston this is a broader issue that may not be platform but site specific. If a site styles buttons directly there's a chance we won't override. We could also consider injecting some kind of reset CSS inline into problem elements (buttons in particular seem to get styled directly)

[2016-12-01 19:23] chuckharmston commented on #1853
@johngruen we're talking about heartbeat-style notifications here; sites shouldn't be touching them.

[2016-12-01 19:26] johngruen commented on #1853
Yeah, sorry, i thought we were injecting those bars into content...seems like an easier fix if that's not the case :)

[2016-12-01 20:53] pdehaan commented on #1881
[stage](https://testpilot.stage.mozaws.net/__version__) and [production](https://testpilot.firefox.com/__version__) both seem to be rocking version **2016-11-29-1**, so I'm thinking this is complete.

[code]

[2016-12-01 20:53] #1881 closed, assigned to pdehaan, SoftVision-PaulOiegas, SoftVision-CosminMuntean

[2016-12-02 00:04] jaredhirsch opened #1903 "Python package marionette_client changing name to marionette_harness"
According to [a recent post on the dev-platform list](https://groups.google.com/forum/#!topic/mozilla.dev.platform/okCSlu2_ZMI), the python `marionette_client` package, which we use in our integration tests, will soon be renamed to `marionette_harness`.

This work is currently tracked on bugzilla ([bug 1320073](https://bugzilla.mozilla.org/show_bug.cgi?id=1320073)), but nobody's mentioned a date y

[2016-12-02 15:00] SoftVision-CosminMuntean commented on #1871
This issue is no longer reproducible. Tested on dev, stage and production servers using the following link: https://goo.gl/cuxqqf

[2016-12-02 15:00] #1871 closed, assigned to nobody

[2016-12-02 17:08] johngruen commented on #1891
I'll investigate this

[2016-12-02 17:09] johngruen commented on #1889
Will investigate pending #1892 sourcemaps

[2016-12-02 17:11] johngruen commented on #1888
FEATURE NOT BUG!

[2016-12-02 17:11] #1888 closed, assigned to nobody

[2016-12-02 17:15] johngruen commented on #1888
TODO: let's file an issue about DRY-ing out ExperimentPage and removing duplicate elements

[2016-12-02 17:18] johngruen commented on #1874
Closing for now

[2016-12-02 17:18] #1874 closed, assigned to nobody

[2016-12-02 17:21] johngruen commented on #1872
@6a68 will take a look at this. Let's figure out how @IByte can check build locale.

[2016-12-02 17:22] johngruen commented on #1866
we should refresh on `navigator.online` changes

[2016-12-02 17:24] johngruen commented on #1864
We're getting rid of the doorhanger so this may be wontfix, but let's keep it open pending graduation schedule.

[2016-12-02 17:26] johngruen commented on #1862
This will be fixed on next deployment

[2016-12-02 17:26] #1862 closed, assigned to nobody

[2016-12-02 18:15] jaredhirsch opened #1905 "Make Discourse more visible on TxP site"
The discourse instance has migrated from Persona to auth0, and has been moved to a larger AWS instance. It's ready for more traffic.

Let's figure out the best way to integrate Discourse more deeply into the site and improve discoverability.

[2016-12-03 20:41] mohamed7afezz opened #1906 "Suport RTL for testpilot FrontEnd"
We almost finished Arabic localization for testpilot website, as part of planning for [Arabic Identity of Test Pilot Activity](https://github.com/ArabicMozilla/Planning/issues/9) and RTL bugs is here.

## Home page have 3 main issues with RTL languages:

1. In card-list section, Cards need to margin-left with zero and margin-left with 40px

![untitled2](https://cloud.githubusercontent.com/assets/9

[2016-12-05 14:32] SoftVision-PaulOiegas opened #1907 "Data collection "Learn more" text link from Privacy section looses the URL underneath and localization at small viewport"
[Notes]:
- @flodolo It seams that the privacy section issue was not entirely fixed in #1860. The text link about data collection underneath has the same behavior and also looses the URL under it.

[Affected versions]:
- Firefox 50.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Test Pilot add-on was previously installed on a new clean Firefox profile.
- A lo

[2016-12-05 15:21] SoftVision-PaulOiegas commented on #1875
Shouldn't this be placed above the contributors section as Cory said ? I see it under the avatars and names of the people.
It's fine by me, I'm just curious if it's ok.

[2016-12-06 16:45] SoftVision-PaulOiegas opened #1908 "[Enhancement] Active and past experiments cards should have consistent size in both sections"
[Notes]:
- I know the cards are dynamically sized depending on largest experiment description. This is ok and much better than having a fixed size and truncate longer descriptions. But couldn't we scale also the past experiments cards depending on the largest card from active ones to have consistency ? Looks a bit odd this way.

[Affected versions]:
- Firefox 50.0.2 and up

[Affected Platforms]:
-

[2016-12-07 01:43] meandavejustice commented on #1523
after talking to @clouserw, going to remove release date as well since it often isn't updated on release. If we want to add it back in later, we can grab the `Last-Modified` header from the static xpi file request

[2016-12-07 16:22] SoftVision-PaulOiegas opened #1911 "[Enhancement] We should have more consistent date formats and separators for locales that use the same format"
[Notes]:
- Based on Peter's observation from issue #1823, I think we should have a more consistent way to localize the displayed dates. I've verified 5 European languages locales and on all 5, the date is differently displayed and we use 3 types of separators.
- There could be other differences too, I've only tested about 8 locales. If we decide to do this, we should apply a general fix for all th

[2016-12-07 16:36] SoftVision-PaulOiegas commented on #1823
DD.MM.YYYY date format is now correctly displayed for German language on experiment end date notification message, actual experiment end date under logo and last update date sections.

[2016-12-07 16:41] SoftVision-PaulOiegas commented on #1856
Not all locales have the users count displayed with dot separator (eg: Swedish and Hungarian). Shouldn't this be consistent on all locales ?

[2016-12-07 17:07] SoftVision-PaulOiegas commented on #1872
The toolbar button doorhanger content is not influenced by Content > Language option since it's part of the browser UI and not of the website. based on this I incline to think that this more of a browser issue than a Test Pilot one.

Also, speaking of browser issues, something similar happened to me. I was testing Test Pilot locales with Content > Language option by adding multiple languages. Afte

[2016-12-07 19:04] flodolo commented on #1856
Not necessarily, even is Swedish and Hungarian should indeed use a dot
http://www.unicode.org/cldr/charts/30/by_type/numbers.number_formatting_patterns.html

[2016-12-07 19:18] flodolo commented on #1911
CLDR is a better source of information
http://www.unicode.org/cldr/charts/30/by_type/date_&_time.gregorian.html#57dac0d1b36c1261

Also, we shouldn't expect all languages to look the same, just to use a consistent format (e.g. dd.mm.yyyy, whatever that turns out to be in the language).

[2016-12-08 14:09] ghost opened #1913 "Share button for testpilot is not almost unvisible in dark developer theme"
While we are in dark developer theme in Firefox, the share button for testpilot is almost invisible. A different color can be easy in eyes and easily noticeable.

This issue was seen in latest Nightly 53

Attachment :     https://drive.google.com/open?id=0B75_JfziYeofWmFmUUV6NTB4Mms

[2016-12-08 14:23] flodolo commented on #1913
I'm not aware of any share button in Test Pilot. I might be wrong, but I also don't remember any experiment that adds that. Are you sure it's not added by a different add-on?

[2016-12-08 14:47] ghost commented on #1913
I am sure about this button being a result of tespilot. This button got visible when I enabled Activity Stream⁩ . You can see that screen shot from my previous comment.

[2016-12-08 15:10] flodolo commented on #1913
Then you should file the issue in Activity Stream ;-)
https://github.com/mozilla/activity-stream/issues/new

I didn't remember that icon when I tried, thanks for confirming it's that experiment adding it.

[2016-12-09 08:47] SoftVision-PaulOiegas commented on #1913
Closing this as the issue was cloned in AS repo (https://github.com/mozilla/activity-stream/issues/1857).

[2016-12-09 08:47] #1913 closed, assigned to nobody

[2016-12-12 17:16] SoftVision-PaulOiegas opened #1915 "Two of the prefs added at the installation are kept after uninstall"
[Notes]:
- Not sure if this is an issue or intended but judging on the fact that we previously said that we want to erase anything related to Test Pilot from users PC's, this could be one.

[Affected versions]:
- Firefox 50.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- A new clean Firefox profile was previously created.

[Steps to reproduce]:
1. Open Fir

[2016-12-13 16:23] tarunsinghaldotme commented on #1765
Hii @John

Yes I am able to install all other experiments.
and I must tell you they are superb and very helpful.
only  one issue i am getting other than above one that after installing all
the experiments, firefox taking 99% cpu utilization.
but still great efforts guys.

thanks and regards
Tarun Singhal | Linux System Administrator.

On Sun, Nov 6, 2016 at 5:23 PM, John Gruen <notifications@githu

[2016-12-14 17:58] digitarald opened #1916 "Gzip and cache headers missing for some resources"
Time to Meaningful Paint is about 10sec on DSL, which probably causes higher bounce rates than necessary. I talked to @ckprice about performance before about tracking this; so I'll just start with small nits:

Missing gzip: https://www.webpagetest.org/result/161214_EP_4XC6/1/performance_optimization/#compress_text
Missing caching: https://www.webpagetest.org/result/161214_EP_4XC6/1/performance_opt

[2016-12-14 18:22] digitarald commented on #1916
The 10sec are painfully highlighted in this [slow-mo video for DSL](https://www.webpagetest.org/video/view.php?id=161214_747e61f24c41c57df5a14118ee2c3e57f6d1d951&embed=1&width=520&height=448)

[2016-12-15 19:00] ckprice commented on #1916
Chatted a bit with Harold. Taking this for first steps.

[2016-12-15 19:13] #1523 closed, assigned to meandavejustice

[2016-12-15 23:21] #1834 closed, assigned to SoftVision-PaulOiegas

[2016-12-15 23:22] ckprice opened #1917 "[release] 2016-12-15 on stage"
Please QA stage. Let's use this issue to track deployment status to production. I've assigned this to Paul, but we should all be checking out stage a bit.
- Verification documentation: https://github.com/mozilla/testpilot/blob/master/docs/development/verification.md
- Release notes: https://github.com/mozilla/testpilot/releases

http://testpilot.stage.mozaws.net/

[2016-12-15 23:28] johngruen opened #1918 "Random interval surveys appear to have stopped firing"
I'm fairly certian these things have stopped firing, or if they are we're not collecting data in survey gizmo. We should attempt to resolve this ASAP.

[2016-12-16 10:03] SoftVision-CiprianMuresan opened #1919 "Min-Vid cannot be enabled on latest Test Pilot version"
[Affected versions]:
- Firefox 50.1.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Test Pilot add-on was previously installed on the profile.
- testpilot.env is set to "stage" in about:config.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.stage.mozaws.net" page.
2. Click on Min-Vid experiment a

[2016-12-16 10:27] SoftVision-CiprianMuresan opened #1920 "Universal Search is still displayed in "Other experiments" section of all experiment details pages"
[Notes]:
- This issue only occurs when Test Pilot add-on is not installed. The past experiments should be displayed only on "Main" page only after Test Pilot is installed in "Past experiments" section and not in the experiment details page.

[Affected versions]:
- Firefox 50.1.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Add the "testpilot.env" pref and s

[2016-12-16 10:35] Softvision-VladBacia commented on #1866
After further testing, we observe that the pop up in which the user is informed about the successful installation of the experiment is not displayed if the "fail to enable error message" persists on the page.

[2016-12-16 10:37] SoftVision-PaulOiegas commented on #1917
Hi guys,

Due to the fact that almost all team we'll be out of office for the company Christmas party after the lunch break, we squeezed a run of the Full Functional suite on stage server in the morning. This means also that we won't be joining the evening call so we'll talk on Monday if something is unclear.

Here is the report after our round of testing:
**New Issues:**
1. #1919 Min-Vid cannot b

[2016-12-16 17:06] lmorchard commented on #1916
Probably some checkboxes need checking in our stage & prod CloudFront distributions managed by ops? Would be interesting to see if this is an issue on testpilot.dev.mozaws.net, since that's a CloudFront distro we manage on the dev team

[2016-12-16 17:06] johngruen commented on #1919
@SoftVision-CiprianMuresan this should block release of stage to prod

[2016-12-16 17:08] johngruen commented on #1919
I'll check this in prod as well

[2016-12-16 17:13] johngruen commented on #1915
we should keep testpilot.env, @SoftVision-PaulOiegas we believe that browser.uiCustomization.state is set by dev edition, and we think should not be changed if any add-on is uninstalled. Can you confirm?

[2016-12-16 17:13] fzzzy commented on #1915
testpilot.env is only set manually while developing

[2016-12-16 17:14] johngruen commented on #1911
Feature not bug!

[2016-12-16 17:14] #1911 closed, assigned to nobody

[2016-12-16 17:16] johngruen commented on #1908
Using flexbox here to flow box height to tallest in a given row. WONTFIX-ing this since the design is intentional.

[2016-12-16 17:16] #1908 closed, assigned to nobody

[2016-12-16 17:17] johngruen commented on #1906
@mohamed7afezz we should do this! I'd like to make sure we hit small viewport sizes correctly as well though. Would you mind taking a look at errors you see there as well?

[2016-12-16 17:49] ckprice commented on #1916
@relud is this something you can configure?

[2016-12-16 19:18] johngruen commented on #1919
Installs in prod

[2016-12-16 19:42] meandavejustice commented on #1919
@johngruen digging into this

[2016-12-16 19:56] meandavejustice commented on #1919
This is what I'm getting in the console.
[code]
The file hash did not match message is particularly suspect..

[2016-12-16 19:57] chuckharmston commented on #1919
@meandavejustice This is likely because the [`X-Target-Digest`](https://github.com/mozilla/testpilot/issues/1537) header is not correctly being set for the new version. Sounds like it's an issue with the uploading script?

[2016-12-16 19:59] meandavejustice commented on #1919
@chuckharmston thanks chuck, I was digging in amo issues, hadn't come across that yet. Lemme see if I can figure out where @clouserw's upload script is to verify.

[2016-12-16 20:03] meandavejustice commented on #1919
@chuckharmston could we manually go into s3 and set that and verify just to get this out today?

[2016-12-16 20:16] chuckharmston commented on #1919
[code]

The header on this redirect should be set to `sha256:fa1b9ae302d3fab505731abd497abd0686958a9df2842eaa7b4ba5e0e4da475c`. It looks like this is due to a bug in the new deployment script.

@relud or @mostlygeek, any chance you could manually fix this for now until we find that bug?

[2016-12-16 20:29] relud commented on #1916
gzip is probably a flag on my end somewhere, but caching should be set by bin/deploy.sh

[2016-12-16 21:08] relud commented on #1919
this was fixed in the build script, but no new builds had been run since the fix. I started a new build and now this lgtm

[2016-12-16 21:09] #1919 closed, assigned to meandavejustice

[2016-12-16 21:14] lmorchard commented on #1916
TL;DR: We can knock off some of those problems WebPagetest reports, but we won't get to 100%

* We are indeed missing a `--cache-control "max-age=${MAX_AGE}"` on [deploying `*.svg` assets](https://github.com/mozilla/testpilot/blob/master/bin/deploy.sh#L108), so we can add that and resolve most of the issues.

* The [`experiments.json` resource](https://testpilot.firefox.com/api/experiments.json) *

[2016-12-16 21:26] relud commented on #1916
found where to put the gzip flag. if mozilla-services/cloudops-deployment#308 is acceptable then i will deploy that to stage, and then to prod on tuesday morning or something?

[2016-12-16 21:27] lmorchard commented on #1916
FWIW, I think that's a private repo I can't see

[2016-12-16 21:28] relud commented on #1916
ah. I added `Compress: true` to a cloudformation resource that configures cloudfront. I'm waiting on review from someone on my team.

[2016-12-16 21:34] relud commented on #1916
that said, I can deploy this to stage without approval, so I've initiated that

[2016-12-16 21:43] johngruen commented on #1919
Thanks @relud!

[2016-12-19 11:45] SoftVision-CiprianMuresan commented on #1919
The issue is no longer reproducible on the stage server.

[2016-12-19 14:18] SoftVision-PaulOiegas commented on #1915
@johngruen - I've tested this on latest Firefox release v50.1.0 and not on Dev edition. By default the release has "browser.uiCustomization.state" pref with "user set" status even on a new clean profile and contains the next string:

"{"placements":{"PanelUI-contents":["edit-controls","zoom-controls","new-window-button","privatebrowsing-button","save-page-button","print-button","history-panelmenu"

[2016-12-19 17:05] jaredhirsch commented on #1754
/me steals bug :tada:

[2016-12-19 19:48] ckprice commented on #1917
Per our meeting this morning, we'll be pushing to production at 8am PST tomorrow (Tuesday). @SoftVision-PaulOiegas and team will then verify.

[2016-12-19 20:39] johngruen opened #1922 "A more streamlined /experiments page"
This is an issue to track work for removing the TxP doorhanger and replacing with a flow that takes the user to `/experiments`.

`/experiments` will need a fairly serious UI overhaul to complement this change. I'll file those issues once these changes are finalized.

[2016-12-20 15:04] SoftVision-PaulOiegas opened #1924 "[Enhancement] We should display the localized add-on name if available on compatibility notification"
[Notes]:
- This is a localization improvement suggestion.
- Since some of the add-ons names are automatically localized depending on Firefox build used, and displayed as so in "about:addons/extensions" page after installation, it would be nice to display them as localized in our messages.
- This could help the foreign users to easily find the add-ons that raise compatibility issues.

[Affected ver

[2016-12-20 18:12] ckprice commented on #1917
Paul confirmed this deployment in channel. Closing bug.

[2016-12-20 18:12] #1917 closed, assigned to SoftVision-PaulOiegas, SoftVision-CosminMuntean

[2016-12-20 19:42] SherylBratcher opened #1926 "Please help me get the RSS feed of websites below the focus boxes to come back."
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-12-20 22:01] ShereeBrown opened #1927 "Activity Stream"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-12-20 22:03] ShereeBrown commented on #1927
what happen? why still reloads or something wrong,fix it

[2016-12-20 23:22] Noitidart commented on #1862
Thanks all!! :)

[2016-12-21 00:40] meandavejustice commented on #1927
@ShereeBrown This is an issue specific to activity stream. Please provide some insight into the issue you are having, on the Activity Stream issue tracker [here](https://github.com/mozilla/activity-stream/issues/new)

[2016-12-21 00:40] #1927 closed, assigned to nobody

[2016-12-21 00:51] relud commented on #1610
this is implemented by mozilla-services/cloudops-deployment#311

[2016-12-21 10:04] SoftVision-PaulOiegas opened #1928 "The "Mozilla" name misses the URL underneath it in "About Test Pilot" page"
[Notes]:
- This seems to be a regression caused by localization.

[Affected versions]:
- Firefox 50.1.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to https://testpilot.firefox.com/about page.
2. Observe the "Mozilla" name from first phrase.

[Expected result]:
- Mozilla name has an URL underneath it that redirects the u

[2016-12-21 10:28] flodolo commented on #1928
We don't localize that page
https://github.com/mozilla/testpilot/blob/352255e8879df2b0380349d65ecb40dc297becfa/compiled-templates/about/en-US.md

[2016-12-21 10:47] SoftVision-PaulOiegas commented on #1928
Well, Chuck investigated the issue yesterday and told me this on IRC:
"chuck: looks like it was lost when we added localization to that page. The history on that file is pretty clean: github.com/mozilla/testpilot/commi…/compiled-templates/about/en-US.md".

Haven't checked further, just logged it. But I think the link was there in the beginning. Otherwise I wouldn't be writing a test for it.

[2016-12-21 11:01] flodolo commented on #1928
I don't know about that. As you noticed the link was never there on the markdown file, so I guess it was lost in the conversion.

That file was created to enable localization, but we never found a way to localize it (I think there's an issue open about that).

[2016-12-21 13:53] johngruen commented on #1926
Hey @SherylBratcher not sure exactly what you mean here. could you provide a bit more detail?

[2016-12-21 13:56] johngruen opened #1929 "disable tracking protection, activity stream and no more 404s for DE"
Given the time frame for german launch as well as the conflict with AS, we should 86 these for non-english

[2016-12-21 14:03] SoftVision-PaulOiegas commented on #1928
I may have wrongly expressed my thoughts, sorry about that. 😃 I wanted to say that the link was there when the page was first implemented, not when the file was created to enable localization. I think Chuck was saying the same thing. And yes, probably it was lost in the conversion.

[2016-12-21 14:14] johngruen commented on #1929
Additionally, we should add a non-localization warning to pageshot

[2016-12-21 17:06] SoftVision-PaulOiegas opened #1935 "Footer is wrongly displayed in [en] on non localized pages, while it's correctly localized on the ones that are"
[Notes]:
- As a suggestion, maybe it would be nice to have the footer links separated from the rest of the page content so we can have it localized evenly on all pages.

[Affected versions]:
- Firefox 50.1.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Download and use a localized version of Firefox (eg: es-ES).

[Steps to reproduce]:
1. Open the browser an

[2016-12-21 19:46] meandavejustice commented on #1926
Sounds like this is a suggestion for a testpilot experiment, is that right @SherylBratcher ?

[2016-12-22 07:43] SoftVision-CiprianMuresan commented on #1926
Closing this issue in favor of the one opened in the [Activity Stream repo](https://github.com/mozilla/activity-stream/issues/1889).

[2016-12-22 07:43] #1926 closed, assigned to nobody

[2016-12-22 13:15] SoftVision-CosminMuntean opened #1940 "Test Pilot is not automatically updated, causing enabling loop on all experiments"
[Notes]:
- Sometimes Test Pilot add-on is not updated even if the user tries to manually update. See this issue: https://goo.gl/dhdILV.
- Another similar issue: [Tab Center 856](https://github.com/bwinton/TabCenter/issues/856)
- Here is my Firefox profile with an old Test Pilot version installed: https://goo.gl/OHwfG3

[Affected versions]:
- Firefox 50.1.0

[Affected Platforms]:
- All Windows
- Al

[2016-12-22 15:34] SherylBratcher commented on #1926
Yes I've used Activity stream for a while.

When I first installed it I had the most visited focus boxes on top,
underneath them I had a few (3) Hi-lite focus boxes and then under that was
a full history feed.

The history stream has disappeared and I now have 9 Hi-lite boxes...

I want the history stream back and less Hi-lite boxes...PLEASE!!!!!! It's
why I installed the program in the first plac

[2016-12-22 16:36] johngruen opened #1941 "Mark Activity Stream and Main Cliqz add-on as incompatable with Cliqz experiment"

[2016-12-22 16:58] johngruen commented on #1918
@clouserw This needs to be fixed before we tag for the Cliqz launch

[2016-12-22 17:00] jaredhirsch commented on #1940
This seems really bad. I can take a look today.

[2016-12-22 18:25] #1920 closed, assigned to johngruen

[2016-12-22 18:34] #1918 closed, assigned to dannycoates

[2016-12-22 20:01] ghost commented on #1918
thanks @dannycoates

[2016-12-22 20:20] ashonnard opened #1943 "I can't disable test pilot."
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2016-12-22 20:53] dannycoates commented on #1940
I bet this is because the version in package.json hasn't been updated

[2016-12-22 20:57] jaredhirsch commented on #1940
@dannycoates wow, that's really bad! I guess AMO disallows .xpi files with duplicate version numbers, but since we're self-hosting, nothing prevented this from happening.

we should make a pre-release checklist for the addon to prevent future releases with a stale version number, and make sure this is something QA adds to their test plan, too (cc @SoftVision-CosminMuntean ).

I"ll go ahead and jus

[2016-12-22 21:14] lmorchard commented on #1940
Hmm, yeah, this probably gets masked as an issue on dev - because on dev we embed a short git commit ID in the version for signing, and so the version technically changes with every merge. But, for prod, just the bare version is used.

[2016-12-22 21:43] dannycoates commented on #1940
So there's one commit before today to the addon after 0.9.1 that is in the 2016-12-15 tag:

https://github.com/mozilla/testpilot/commit/01c07d24dafc13a692e4445047a17b1526bd1697

Updating the addon version on each release *is* an issue, but I don't yet see how it relates at all to experiments not being able to enable in this case.

/me keeps looking

[2016-12-22 22:06] dannycoates commented on #1940
Well, the addon from the 2016-11-29-1 tag certainly doesn't work with the current site, while HEAD does, so bumping the version should indeed fix it. If we want to know **why** it'll take some more digging.

[2016-12-22 22:15] #1940 closed, assigned to dannycoates

[2016-12-22 23:11] jaredhirsch opened #1945 "Cannot navigate directly between experiments"
STR
1. visit TxP website (without addon installed)
2. visit universal-search page
3. scroll to bottom, click on link to any other experiment, say, min-vid

Expected: the min-vid page should be rendered correctly.

Actual: the min-vid title and image are shown, but most of the page is not updated: the universal-search team and description (graduation report) are shown, and the list of experiments a

[2016-12-22 23:14] jaredhirsch opened #1946 "Experiment page shows other experiments at bottom only if addon is not installed"
Maybe this is intentional and I've just missed something.

Mac OS 10.12.2 / Dev Edition 52.0a2 (2016-12-19) (64-bit)

If the TxP addon is not installed, each experiment page shows a list of the other available experiments between the description and footer.

If the TxP addon is installed, the other experiments module is hidden.

Is this intentional?

[2016-12-22 23:15] jaredhirsch commented on #1945
This only happens when the addon is not installed.

[2016-12-22 23:22] nicholasbishop opened #1947 ""&nbsp;" text in tooltip for star ratings"
On the "give feedback" page there is a required star rating. The tooltip for each star has some accidental HTML; it reads like this: `&nbsp; &nbsp; 2 / 5`

[2016-12-22 23:29] nicholasbishop opened #1948 "Unclear instructions for providing feedback on Test Pilot"
On https://testpilot.firefox.com, click the Settings button, then "Discuss Test Pilot". In the pop-up dialog the second paragraph says: "If you don't want to create an account, you can always leave feedback through Test Pilot." I don't understand what this means though. The Test Pilot UI seems to allow me to give feedback about an individual pilot, but I didn't see a way to provide general feedbac

[2016-12-23 00:04] nicholasbishop opened #1949 "Multi-line textbox on the pilot feedback page should be larger by default"
On the feedback pages (e.g. https://qsurvey.mozilla.com/s3/tab-center) there is a multi-line text box. The default box size is quite small for me (Firefox 50.1.0 / Linux / High DPI), roughly 40 characters wide by six lines tall. It is indented a bit on the left and does not scale with the page width. It does have the resize-grippy thing in the bottom right, but if you continue on to page 2 of the

[2016-12-23 08:42] SoftVision-CiprianMuresan commented on #1920
The issue is no longer reproducible on the dev server.

[2016-12-23 09:02] SoftVision-PaulOiegas commented on #1945
This is already fixed on dev by #1920. Graduated experiments should not be displayed without TxP add-on installed. I think we can close this one if you don't see any remaining cases when this could occur.

[2016-12-23 09:11] SoftVision-PaulOiegas commented on #1946
Same thing was discussed [here #1596](https://github.com/mozilla/testpilot/issues/1596) but no result. I liked the idea too...

[2016-12-23 09:57] SoftVision-CosminMuntean commented on #1943
Hi @ashonnard thanks for reporting this.

This issue is also related to #1940. There was some problems with Test Pilot automatically update. I was also able to reproduce this. If you had an older version of Test Pilot, the experiments remained stuck in enabling/disabling state.

Issue #1940 should be fixed and now Test Pilot is automatically updated to the latest version (0.9.2-dev-78214f8)  and t

[2016-12-23 09:57] #1943 closed, assigned to nobody

[2016-12-23 09:58] SoftVision-CosminMuntean commented on #1940
I can no longer reproduce this issue. I have 4 different profiles with an old Test Pilot add-on installed and the add-on was automatically updated after a couple minutes to the latest version (0.9.2-dev-78214f8). Marking as verified.

[2016-12-23 17:01] meandavejustice commented on #1947
![txp-bad-tooltip-survey](https://cloud.githubusercontent.com/assets/1844554/21458810/8d26804a-c907-11e6-8da6-16443f08ab40.png)

[2016-12-23 17:06] ghost commented on #1949
Can you give a screenshot?  I don't see a textbox there.

[2016-12-23 17:08] ghost commented on #1947
@rayborn - any ideas here?

[2016-12-23 17:12] jaredhirsch commented on #1945
I'm confused. Why would we bother writing up a graduation report if we want to hide past experiments from new users? Reopening.

[2016-12-23 17:12] ckprice opened #1950 "Create Cliqz product page"
This is blocked by receipt of final copy and assets.

Ref #1941.

[2016-12-23 17:16] ghost commented on #1924
We'd rather not have to maintain localizations here, so I'm going to wontfix this.  If there are two very popular localizations we can put them both, worst case scenario.

[2016-12-23 17:16] #1924 closed, assigned to nobody

[2016-12-23 17:22] jaredhirsch commented on #1945
I'm going to move the product question to a separate bug and leave this open as a bug about the app not updating the page when navigating away from a graduation report.

[2016-12-23 17:23] ghost commented on #1915
Confirmed:  we don't want to touch this.  Please reopen if the actual UI is weird looking.  Thanks!

[2016-12-23 17:23] #1915 closed, assigned to nobody

[2016-12-23 17:28] jaredhirsch opened #1951 "Past experiments should be visible without addon installed"
Looks like the 'view past experiments' button is gone from dev, so there's no way for new users to see the universal search graduation report.

We also need to make past experiments visible from the single experiment details page, so users can browse to all the experiments regardless of which page they are on.

Split off from #1945.

[2016-12-23 18:01] nicholasbishop commented on #1949
Huh, I don't either anymore. The feedback page looks way different now, so I guess an update got deployed? I guess we can close this issue for now, if I see it again I'll be sure to include a screenshot next time.

[2016-12-23 18:01] #1949 closed, assigned to nobody

[2016-12-28 16:12] ghost opened #1952 "TypeError: t is null"
Sorry, this one is probably not fun, but we should at least talk about options.  This is, by far, our #1 report from Sentry affecting almost 15k people.  We average about 30 reports per hour, continuously across all versions of Firefox, all OSs, and all pages on Test Pilot.  Full details at https://sentry.prod.mozaws.net/operations/tespilot-prod/issues/369397/

Of course it's just in the middle of

[2016-12-28 17:22] SherylBratcher commented on #1926
I am confused...What am I supposed to be doing?

My problem has not been resolved

please help

On Wed, Dec 21, 2016 at 8:53 AM, John Gruen <notifications@github.com>
wrote:

[2016-12-28 20:35] groovecoder opened #1953 "Allow experiments to load multiple add-ons"
For our [Containers Test Pilot](https://github.com/mozilla/testpilot-containers) experiment, we have built:

* A [WebExtension Experiment](https://webextensions-experiments.readthedocs.io/en/latest/index.html) add-on to provide a `browser.contextualIdentity` API
* A WebExtension add-on that uses `browser.contextualIdentity` to provide a new UI for users to manage their containers

So, we need Test

[2016-12-28 20:44] jaredhirsch commented on #1953
We'll soon be changing the Test Pilot install flow to let users install experiments with one click, and install the TxP addon at the same time, if it's not already installed.

This work is [spec'd on Trello](https://trello.com/c/zkhDk6Yw/36-txp-36-install-experiments-directly) and some bugs have been filed as [project TxP-36](https://github.com/mozilla/testpilot/projects/7).

It seems like this is

[2016-12-29 07:46] SoftVision-CiprianMuresan commented on #1926
@SherylBratcher, all comments should be redirected towards the issue opened in the Activity Stream repo. https://github.com/mozilla/activity-stream/issues/1889

[2016-12-29 17:02] ckprice commented on #1950
More information: will only be showing this page to German speakers. The following experiments will also be available for German speakers

- Min Vid
- Tab Center
- Page Shot (note: add-on is not localized)

 [ no Activity Stream (conflict), Tracking Protection (graduation path) or NoMore404s (graduation path). ref #1931]

[2016-12-29 20:16] ghost commented on #751
I can reproduce the "here" issue at that URL for activity stream.  I don't see any syntax or CSP issues though.  I think @rayborn owns the 'here' thing.

[2016-12-29 20:38] ghost commented on #1193
No replies from anyone seeing this so I think it's fixed.  Please holler if not.  Cheers!

[2016-12-29 20:38] #1193 closed, assigned to nobody

[2016-12-29 20:39] ghost commented on #1322
That bug is fixed, so closing this one as well.  Thanks.

[2016-12-29 20:39] #1322 closed, assigned to nobody

[2016-12-29 20:43] ghost commented on #1916
related to #1349 ?

[2016-12-29 20:44] #1380 closed, assigned to nobody

[2016-12-29 20:47] ghost commented on #1451
This is weird, but Test pilot supports release and the previous version of Firefox so we won't be making modifications for 44. Thanks for filing though

[2016-12-29 20:47] #1451 closed, assigned to nobody

[2016-12-29 20:48] ghost commented on #1452
Closing as dupe of #1349. thanks

[2016-12-29 20:48] #1452 closed, assigned to nobody

[2016-12-29 21:04] ghost commented on #1482
Sentry logs are sent from the frontend via JS to catch any JS errors.  I enabled greenkeeper.io today which was the last checkbox besides signing all commits.

Do you want to hold this open for that?  Note that commits coming from Pontoon aren't signed either (I pinged mathjazz about it).

[2016-12-30 16:38] #1491 closed, assigned to nobody

[2016-12-30 16:41] #1554 closed, assigned to nobody

[2016-12-30 16:44] ghost commented on #1597
I enabled greenkeeper.io on our repository which will take care of the top level one.  It doesn't have support for deeper files, but is marked as "will be completed" at https://github.com/greenkeeperio/greenkeeper/issues/139

[2016-12-30 16:44] ghost commented on #1593
This went live a while ago

[2016-12-30 16:44] #1593 closed, assigned to nobody

[2016-12-30 16:46] ghost commented on #1607
I think it should be up to the experiments.  Thanks for filing.

[2016-12-30 16:46] #1607 closed, assigned to nobody

[2016-12-30 16:50] ghost commented on #1623
This is likely a conflict between add-ons.  (Off the top I see Tab Groups and Tab Center installed -- tab center doesn't work well with other Tab add-ons for the most part).  As Paul suggested, I'd trim back to only the add-ons you really need and enable them one at a time.

Since it's a couple months old with no reply (and no one else reproducing) I'm going to close this.  Thanks.

[2016-12-30 16:50] #1623 closed, assigned to nobody

[2016-12-30 16:51] #1631 closed, assigned to nobody

[2016-12-30 16:51] #1632 closed, assigned to nobody

[2016-12-30 16:51] #1665 closed, assigned to nobody

[2016-12-30 16:54] ghost commented on #1765
Generally we find this is a conflict between other installed add-ons (particularly with Tab Center).  If you want to enable it, we suggest disabling all your other add-ons and enabling them one at a time to find the conflict.

[2016-12-30 16:54] #1765 closed, assigned to nobody

[2016-12-30 16:58] ghost commented on #1812
I assigned this to me, but I don't remember why.  Are we wanting a fake xpi made?  I can do it, just want to make sure I'm doing the right thing.

[2016-12-30 17:07] ghost commented on #1953
Why wouldn't this be contained in the experiment as a multi-item packaage (https://developer.mozilla.org/en-US/docs/Multiple_Item_Packaging) or as the add-on installing a second add-on itself (on startup, or something).

Additionally, are you aware that webextension experiments only run in nightly and beta (I think?  definitely not release)

[2016-12-30 17:11] ghost opened #1956 "Enable JS source maps on production"
We're trying to debug some JS errors and it would be much easier with source maps.  Let's enable them so we can use them in Sentry!  https://docs.sentry.io/clients/javascript/sourcemaps/

Chuck says we build them, but don't push them to production (https://github.com/mozilla/testpilot/blob/4c24cbfec7361bf6de331569cd1fc31ddd7f2310/frontend/tasks/scripts.js#L51).  Do we know why we don't push them t

[2016-12-30 17:15] groovecoder commented on #1953
Ah, multi-item packaging is new to me ... though I've been avoiding as much old-school add-on tech (`install.rdf`) as possible.

And a couple days ago I realized type 256 add-ons won't be in Release until March, so we're moving our experiment code back into the SDK code-base.

[2016-12-30 17:16] ghost commented on #1953
Sounds good

[2016-12-30 17:16] #1953 closed, assigned to nobody

[2016-12-30 17:41] ghost commented on #1952
dupe of #1889

[2016-12-30 17:41] #1952 closed, assigned to nobody

[2016-12-30 17:42] ghost commented on #1892
We need these to add to sentry also https://docs.sentry.io/clients/javascript/sourcemaps/

[2016-12-30 17:42] ghost commented on #1956
dupe #1892

[2016-12-30 17:42] #1956 closed, assigned to nobody

[2017-01-03 10:51] johngruen commented on #1946
There's no great reason why experiments aren't displayed for installed users, but we might still want to sit on this one while we figure out the UX for getting rid of the doorhanger.

[2017-01-03 15:25] SoftVision-PaulOiegas commented on #1951
The "View Past Experiments" button was never there for users without TxP add-on installed. Because of that, we considered that Universal Search should not be displayed either between other experiments section, without TxP installed. That's why I've closed #1945 in the first place.

But if you guys consider the graduation reports to be important for TxP new users. Then yeah, it would be nice to hav

[2017-01-03 17:03] SoftVision-PaulOiegas commented on #1812
Yes, that would be nice o have since only half of the graduation flow is tested at the moment.
And also, it would be nice for my team to be able to update the graduation date for the fake experiment whenever we need to test the flow if possible. I know it works if you change the system time, but if there's a simpler way to do it, would be nice.

[2017-01-03 18:44] ckprice opened #1959 "Update experiment page warning for `locales` mechanism"
STR:

- Add a `locales` field to experiment page YAML for `de` ([ref](https://github.com/mozilla/testpilot/blob/master/docs/content/reference.md#locales)).

[code]

- Set language to `en`
- Visit experiment page

Expected Result:

- Message states that the experiment is *not* available in English.

OR

- Message states that the experiment is *only* available in German.

Actual Result:

- Message s

[2017-01-03 21:24] flodolo opened #1960 "Allow experiment sections like Measurements to be split in multiple strings"
#1811 is about splitting existing strings in FTL files in multiple strings, but I don't think there's an issue on file to allow a section to use multiple strings.

Consider for example the Measurements string in #1957. The change to break that strings while localizing is way too high, given the size and amount of markup present.

Each paragraph's content (without markup) and bullet item (again, wi

[2017-01-03 22:26] #1950 closed, assigned to ckprice

[2017-01-04 13:25] SoftVision-CosminMuntean opened #1961 "The DE localization restricted experiments are still available in Test Pilot doorhanger"
[Notes]:
- The doorhanger will be removed eventually by #1922, but until then maybe we should not display the experiments restricted for some locales.

[Affected versions]:
- Firefox 50.1.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Install or extract a German Firefox build for this issue.
- The "testpilot.env" string pref was manually added with "dev" value on

[2017-01-04 17:31] sevaan opened #1962 "Make modals on Test Pilot site consistent with tour UI styling"
Last year we updated the tour UI for experiments. It looks like this now:

![tour ui](https://cloud.githubusercontent.com/assets/473531/21649944/6105b4b8-d271-11e6-9b5f-3aa1b7a57a5b.png)

However, we did not update some of the other modals used on the Test Pilot site. They occur when a user…  

- ...installs Test Pilot

<img width="509" alt="screen shot 2017-01-04 at 10 08 54 am" src="https://clou

[2017-01-04 19:51] pdehaan commented on #1962
@sevaan Why the inconsistent center-vs-left alignment on the "Welcome to Test Pilot" dialog versus the other two left aligned panels?

[2017-01-04 19:57] sevaan commented on #1962
I hemmed and hawed on this one. Visually it looked off having the larger chunks of text centered; it just didn't parse well, however the one sentence by itself looked better centered to me than left-aligned.

Maybe it's better it's all left-aligned for completely consistency, as you mentioned. I'm okay with that. Let's do it.

![welcome](https://cloud.githubusercontent.com/assets/473531/21656900/0

[2017-01-04 20:39] pdehaan opened #1965 "Tour modal incorrectly reports experiment as enabled"
Found in https://testpilot.dev.mozaws.net/__version__ (94fe4f8334bd81f151e49c2ecfb4f7f4b8150885):

[code]

---

### Steps to reproduce:
1. Install test pilot add-on and select Cliqz from the add-on toolbar icon. (see https://testpilot.dev.mozaws.net/experiments/cliqz)
2. Try enabling the experiment (I'm using en-US, en locales and have Activity Stream installed).
3. Installation fails with a banne

[2017-01-04 20:40] ckprice opened #1966 "`launch_date` doesn't hide experiments in the doorhanger, goes to 404"
STR:

1. Set `launch_date` in YAML for some time in the future
2. Open door hanger

Expected:

The experiment is not shown.

Actual:

The experiment appears, and if it's new, the "NEW" badge shows on the icon. Clicking on the experiment link will take users to a 404 page.

[2017-01-04 20:44] pdehaan commented on #1962
Bonus modal:

![firefox_test_pilot_-_cliqz](https://cloud.githubusercontent.com/assets/557895/21658398/53d9b9b0-d27b-11e6-92c5-788a8dce830f.png)

[2017-01-04 20:44] ckprice opened #1967 "`locale_blocklist` doesn't hide experiments in the doorhanger"
STR:

1. Set environment to `dev` with Test Pilot installed
2. Change language to `de`
3. Confirm that Activity Stream is not shown on the homepage
4. Open door hanger

Expected:

Activity Stream is not shown because it has

[code]

Actual:

Activity Stream appears in the doorhanger

![screen shot 2017-01-04 at 12 33 01 pm](https://cloud.githubusercontent.com/assets/8632184/21658630/38d7d81c-d27c-

[2017-01-04 20:50] pdehaan commented on #1962
Other random observations.
The "Uninstall" dialog calls them "active tests" versus all the other dialogs which refers to them as "experiments".

Also, I wonder if removing the "Cancel", "Close", and "Skip" links in favor of the less adjacent "X" button in the upper-right corner will have an increase in conversions (and people uninstalling Test Pilot since it may appear like "Proceed" is the only o

[2017-01-04 20:50] sevaan commented on #1962
And here I thought I clicked on everything.

Same rules as the other modals, except for the red colour.

![uninstall](https://cloud.githubusercontent.com/assets/473531/21658667/79eaa654-d295-11e6-964f-4a07a4dbea6c.png)

I upped the font size of the "To opt out of email updates" text to 13px instead of 12, to eliminate the orphaned word (at least for EN) and overall I think it's a bit better balanc

[2017-01-04 21:01] sevaan commented on #1962
@pdehaan Good thoughts. For the most part, the increased conversion is good as it elicits more feedback and comments, hopefully. As for the uninstall modal, to see that a user really has to seek it out if they explicitly want to remove TxP anyway, so I don't think at that point seeing the listed options really matters.

Good catches on the text as well. @johngruen Should we use this an an opportun

[2017-01-04 21:02] johngruen commented on #1967
AAAND this is why we want to get rid of the doorhanger

[2017-01-04 21:02] ckprice opened #1968 "[release] 2016-01-10 (German launch)"
Notes: https://github.com/mozilla/testpilot/releases/tag/2016-01-06

Creating a release bug to track todo's/deployment status leading up to our German launch on the 10th.

Currently planning on a production push on Tuesday morning at 8 AM PST.

[2017-01-04 21:03] ckprice commented on #1967
This will block launch I think.

[2017-01-04 21:06] johngruen commented on #1962
@sevaan i think michelle has seen all of these, but you can throw this stuff her way if you want.

[2017-01-04 21:09] ckprice commented on #1967
Dup of #1961

[2017-01-04 21:10] ckprice commented on #1961
Blocks #1968

[2017-01-04 21:11] johngruen commented on #1959
@ckprice yeah, that's what happened...

should probably go with the negative case:

"this experiment is not available in [FIRST CHOICE LANGUAGE]"

[2017-01-04 21:12] johngruen commented on #1951
@6a68 I agree we should do this, but I'm going to let is sit for a minute as is. We're changing around gsome UX in anticipation of getting rid of the add-on so this might get bundled up with that work:

#1922

[2017-01-04 21:15] jaredhirsch commented on #1961
I'll work on this today

[2017-01-04 21:22] johngruen commented on #1961
Thanks @6a68!

[2017-01-04 21:24] johngruen commented on #1961
@6a68 #1966 is a hop skip and jump away from this one if you're feeling interested in poking at that too

[2017-01-04 21:26] johngruen commented on #1965
@pdehaan i am unable to repro, anything in your console giving hints? also what version of FF are you in?

[2017-01-04 21:27] ckprice commented on #1959
So, I think we'd need to update https://github.com/mozilla/testpilot/blob/master/locales/en-US/app.ftl#L222 from

to something like

(don't know if you can reference a user's language like that in the app)

[2017-01-04 21:31] jaredhirsch commented on #1961
@johngruen Cool :+1: I'll slip in a fix for #1966 if it's easy to do

[2017-01-04 21:42] pdehaan commented on #1965
@johngruen Which part aren't you repro-ing? The error when trying to enable the add-on, or the tour modal dialog saying "Cliqz enabled!"?

Actually, I was just able to enable the CLIQZ add-on via Test Pilot. Odd. Seems to be [a slightly older] Cliqz Test Pilot 5.10.3 (I think Panos just sent out an unsigned 5.11.1). Current Test Pilot version flags itself as "Cliqz Test Pilot could not be verified

[2017-01-04 21:45] jaredhirsch commented on #1959
@ckprice Actually, since you're localizing the error message, you can just use a placeholder to ask localizers to put their language's name in that spot:

[code]

I'm not doing a great job of wording the localization note, but that's the right format for the FTL file. See the wiki for more: https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localization_content_best_practices#Add_locali

[2017-01-04 21:46] jaredhirsch commented on #1959
Note that I changed the name of the FTL key, because I think we need to change the keys to retranslate a string. So, there's probably a tiny bit of work to change the l10n-id in the template, too.

[2017-01-04 22:22] jaredhirsch commented on #1966
I can fix this along with 1961 👍

[2017-01-04 23:07] ckprice commented on #1959
@6a68 thanks! Opened a PR with some of your comments included in #1969

[2017-01-04 23:55] jaredhirsch commented on #1961
So, while I think it's a little weird to filter on just the locale part of just the user's first preferred language (i.e. the first two letters of `navigator.language`), rather than filter on all the listings in `navigator.languages`, I'm going to stick with that approach, so that the doorhanger results match the results shown by the site. For background, see https://github.com/mozilla/testpilot/p

[2017-01-04 23:59] ckprice opened #1971 "Can't enable Cliqz on beta or release"
STR

- Be on Beta or Release
- Be in the 'dev' environment
- Go here https://testpilot.dev.mozaws.net/experiments/cliqz
- Click on Enable

Expected:

Thing installs

Actual:

![screen shot 2017-01-04 at 3 57 31 pm](https://cloud.githubusercontent.com/assets/8632184/21663682/92c33942-d296-11e6-96f1-b630b8530ad9.png)

@pdehaan saw the following error

@past can you confirm this is signed?

This bloc

[2017-01-05 00:00] clouserw commented on #1971
I don't see this signed in the .xpi (no META-INF) and I also see the warning on Nightly

[2017-01-05 00:52] jaredhirsch commented on #1967
Actually, I think this is importantly different from #1961. Reopening

[2017-01-05 01:33] jaredhirsch opened #1973 "Toolbar button 'new' label should be locale-aware"
Some new experiments might not be available in the user's locale, so a 'new' label may be incorrectly shown over the toolbar button.

Given that we're going to remove the doorhanger, the fix is probably to wait till that is done, then just relocate the filtering code into the part of lib/toolbar-button that checks experiment freshness.

So, I guess this is related to #1922.

[2017-01-05 10:41] SoftVision-PaulOiegas commented on #1966
This probably slipped because of #1864 :laughing:. Universal Search was no longer available in doorhanger even before the graduation week.
Anyway, do we know any graduation dates for the current experiments ?

[2017-01-05 14:29] SoftVision-PaulOiegas commented on #1971
We have seen this but we thought that the xpi was not yet added, just the page, based on the issues and PR's related...

[2017-01-05 14:34] SoftVision-PaulOiegas commented on #1973
Indeed this issue is happening and we mentioned it in #1961 on the [Additional Notes] section of the bug.

[2017-01-05 14:43] past commented on #1971
There was a misunderstanding on whether Cliqz or the Test Pilot team were responsible for the signing, but we are resolving it in an email thread.

[2017-01-05 18:53] jaredhirsch opened #1974 "Convert yaml snake_case vars to JS lowerCamelCase"
It's pretty unsavory that we've got a handful of snake_cased variables like  `experiment.locale_grantlist`, while everything else in the JS code is lowerCamelCased.

It'd be easy to wrap the Yaml output in a snake case to lower camel converter, and would make the code more consistent :+1:

This PR should also add an eslint error about snake_cased variables, I think, to enforce future consistency.

[2017-01-05 18:53] jaredhirsch commented on #1974
New contributors can ping me for help getting started on this bug.

[2017-01-05 18:55] ghost opened #1975 "Re-enable integration tests"
We turned off integration tests because they were flaky.  Let's talk about what it would take to get them turned back on.

[2017-01-05 19:02] #1961 closed, assigned to jaredhirsch

[2017-01-05 19:02] #1966 closed, assigned to jaredhirsch

[2017-01-05 19:02] #1967 closed, assigned to jaredhirsch

[2017-01-05 19:11] chuckharmston commented on #1975
As I understand it, the tests were failing because we struggled to deal with the new doorhanger. Fortunately, we have a flow (w/`mozAddonManager`) that lets us skip the doorhanger entirely, if certain preconditions are met:

- One of:
    - The hostname of the page and add-on are on a whitelist of production sites.
    - The hostname of the page and add-on are on an extended list of testing sites

[2017-01-05 19:43] #1812 closed, assigned to clouserw

[2017-01-05 20:49] pdehaan opened #1976 "Test Pilot 404 page returns 200 status code"
Spent a few minutes debugging a script where I was trying to scrape an XPI hosted on test pilot but my URL was invalid but still returning a HTTP/1.1 200 status code.

[code]

[2017-01-05 21:44] ckprice opened #1977 "Update screenshot description on Cliqz page"
We received some feedback on the Cliqz page, looks like this was missed during the general copy review.

I think we'll need to modify the YAML as referenced in https://github.com/mozilla/testpilot/blob/master/docs/content/reference.md#localization

/cc @flodolo

Ref #1968.

[2017-01-06 05:13] flodolo commented on #1977
Argh. Since this string is basically targeting only German, I suggest to fix the string without a new ID, I'll fix the localization in Pontoon in the meantime.

[2017-01-06 05:18] flodolo commented on #1977
@koehlermichael and @Archaeopteryx
https://pontoon.mozilla.org/de/test-pilot-website/all-resources/?search=zusammengefasste&string=160975

See comment above, the original string is wrong (no showtimes). I was going to change it directly, but it seems quite different.

Current: "Sehen Sie zusammengefasste Informationen – wie Wetter und Sendezeiten – in Echtzeit direkt unter der Adressleiste."

Prop

[2017-01-06 15:23] SoftVision-PaulOiegas opened #1979 "Cliqz "Tour" and "Offboarding" separate pages are displayed only for first install / uninstall"
[Affected versions]:
- Firefox 50.1.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- German localized version of Firefox was installed / extracted.
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open DE l

[2017-01-06 16:23] SoftVision-PaulOiegas opened #1980 "Enable / Disable <experiment_name> button long format persists when maximazing from mobile view"
[Affected versions]:
- Firefox 50.1.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites and navigate to "

[2017-01-06 16:45] johngruen opened #1981 "Updated `created_date` for Cliqz product page to be 14+ days in the past"
~~TL;DR we really want to avoid shipping the `New` to en-us users when we launch cliqz next week. Because some en-us users won't have updated their add-ons they might see the cliqz experiment with a new badge. This is a bad result. The most expedient resolution is to temporarily remove the code triggering the `new` badge from the test pilot app.~~

Correction, the new experiment badge is wholly se

[2017-01-06 16:59] SoftVision-PaulOiegas opened #1982 "Cliqz notification message about data sending cannot be dismissed if browser is not restarted after experiment enable"
[Affected versions]:
- Firefox 50.1.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- German localized version of Firefox was installed / extracted.
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open DE l

[2017-01-06 17:04] ghost commented on #1982
CC @past  -- sounds like this is a cliqz issue.

Where should issues like this be filed?

[2017-01-06 17:04] ckprice commented on #1981
Blocks #1968

[2017-01-06 17:05] pdehaan commented on #1982
The testpilot dev Cliqz experiment page links to their https://github.com/cliqz-oss/browser-core/issues repo for issues.

[2017-01-06 17:06] ckprice commented on #1971
Latest version uploaded fixes this.

[2017-01-06 17:06] #1971 closed, assigned to nobody

[2017-01-06 17:07] jaredhirsch commented on #1973
Looks like we'll also need to filter the 'new' badge based on the launch date.

[2017-01-06 17:08] jaredhirsch commented on #1981
I think the better solution here is just to have the 'new' badge be aware of the launch date, related to #1973.

[2017-01-06 17:14] chuckharmston opened #1983 "Document an operational definition of "Good first bug""

[2017-01-06 17:14] ghost commented on #1979
This is referring to the cliqz onboarding pages.  /cc @past

[2017-01-06 17:18] pdehaan commented on #1974
I think the ESLint rule in question is http://eslint.org/docs/rules/camelcase

[2017-01-06 17:19] ckprice commented on #1968
@johngruen noted that we may possibly want to do another prod push on Monday morning to get folks updated because old en users will see Cliqz in their doorhanger. TODO: how many people actually come to the site from the doorhanger?

[2017-01-06 17:36] SoftVision-CosminMuntean opened #1985 "After the installed Test Pilot add-on auto-updated, the localization restricted experiments were redisplayed in doorhanger"
[Affected versions]:
- Firefox 50.1.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Install or extract a German Firefox build for this issue.
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open the DE Firefox b

[2017-01-06 17:44] koehlermichael commented on #1977
@flodolo @Archaeopteryx

I just made the change in Pontoon though the incorrect original string is still visible there. Flod, your translation works fine, nice work as usual.

[2017-01-06 17:57] jaredhirsch commented on #1985
I'm puzzled by this bug.

When the add-on is [first loaded / installed](https://github.com/mozilla/testpilot/blob/master/addon/index.js#L90) or [checks for new experiments](https://github.com/mozilla/testpilot/blob/master/addon/lib/app.js#L68), it fires the same `'loaded'` event that [triggers UI updates](https://github.com/mozilla/testpilot/blob/master/addon/index.js#L132) (including the list of

[2017-01-06 18:04] flodolo commented on #1977
Thanks Michael, I see it just landed in the repo
https://github.com/mozilla/testpilot/commit/1b03375d8272c09693cb4697190e14ddd813dd90

[2017-01-06 18:05] #1973 closed, assigned to jaredhirsch

[2017-01-06 18:05] jaredhirsch commented on #1981
This isn't needed, now that #1984 has landed, fixing #1973. Closing.

[2017-01-06 18:05] #1981 closed, assigned to ckprice

[2017-01-06 18:18] johngruen commented on #1977
@koehlermichael thanks! I'll tweak the original string now!

[2017-01-06 18:47] ckprice commented on #1977
Fixed in #1986 and 1b03375

[2017-01-06 18:47] #1977 closed, assigned to johngruen

[2017-01-06 20:18] ckprice opened #1987 "Send correct locale when submitting welcome email"
This could be a thing that blocks our launch.

STR:

- Uninstall Test Pilot
- Set language to de
- Browse to dev
- Install Test Pilot
- Submit welcome email modal

Expected Result:

- You are registered in email system as a German speaker, and receive German version of welcome email

Actual Result:

- Receive English version of welcome email

You can test multiple times by adding "+" after your us

[2017-01-06 20:19] ckprice commented on #1987
We should either fix this, or suppress the dialog for launch.

[2017-01-06 20:39] dannycoates commented on #1889
This is another conflict between l20n and react, like #1712

[2017-01-06 20:43] ckprice commented on #1987
Including `lang=de` to the basket call fixes this. Ref: http://basket.readthedocs.io/newsletter_api.html#news-subscribe

[2017-01-06 21:04] jaredhirsch commented on #1987
@ckprice Do we have a German-localized newsletter? That is, is this bug about disabling the newsletter dialog, or adding the `lang` parameter to the basket call?

[2017-01-06 21:05] ckprice commented on #1987
@6a68 working with wbowden to confirm one is ready. I've confirmed with him that if we send `lang=de`, the record comes into the email platform as DE. So to answer your question, we're looking more like this is going to do the fix (adding `lang` param)

[2017-01-06 21:05] jaredhirsch commented on #1987
Also, are we just going to have one German newsletter, or will there be one per region (`de-de` vs `de-ch`)?

[2017-01-06 21:06] ckprice commented on #1987
Just one (de).

[2017-01-06 21:33] ckprice opened #1989 "Send locale when submitting footer newsletter form"
We fixed the install welcome email dialog in #1987. This is opened to add it to the newsletter form email.

Ref: https://github.com/mozilla/testpilot/blob/master/frontend/src/app/actions/newsletter-form.js#L17

[2017-01-06 22:25] pdehaan opened #1991 "A few HTML errors in localized experiments.ftl files"
I was trying to do a quick sanity check on some nested HTML in localized ./locales/*/experiments.ftl files and found a few errors so far.

Not sure if these can be fixed by hand tweaking the *.ftl files, or if we need to go through Pontoon.

1. [/locales/ar/experiments.ftl:6](https://github.com/mozilla/testpilot/blob/6a5012ef8719cd966dd8158d0a3392cfac3f3c76/locales/ar/experiments.ftl#L6) `activity

[2017-01-06 22:25] #1987 closed, assigned to ckprice

[2017-01-06 22:56] ckprice commented on #1968
Ready for review on stage.

[2017-01-06 23:29] ckprice opened #1992 "All experiments are available in the doorhanger regardless of locale or date settings"
STR:

- Set environment to stage
- Set language to `de`
- Go to stage
- Install Test Pilot
- Open doorhanger

Expected Results:

- Only Page Shot, Min Vid and Tab Center should be visible in the doorhanger.

Actual Results:

![screen shot 2017-01-06 at 3 25 32 pm](https://cloud.githubusercontent.com/assets/8632184/21736314/a62d4bdc-d424-11e6-9a07-3717c683e656.png)

Cliqz 404's because it has `laun

[2017-01-07 00:03] ckprice commented on #1992
Closing in favor of #1985.

[2017-01-07 00:03] ckprice commented on #1985
I got this too, thinking this is going to block launch (#1968).

[2017-01-07 01:01] jaredhirsch commented on #1985
@ckprice I haven't been able to repro this, so I'm slightly nervous about labeling it a blocker.

What steps did you take to repro?

[2017-01-07 01:01] jaredhirsch commented on #1985
Derp, just noticed your link to #1992

[2017-01-07 01:04] jaredhirsch commented on #1992
This seems different from 1985, reopening.

I'm not able to reproduce this. On staging, just now, following the instructions, I got the expected set of things:

<img width="391" alt="screen shot 2017-01-06 at 5 03 37 pm" src="https://cloud.githubusercontent.com/assets/96396/21737880/29867280-d432-11e6-9547-19ad8ad36f69.png">

[2017-01-07 01:05] jaredhirsch commented on #1992
Oh, Cliqz for sure shouldn't be there. Looking now

[2017-01-07 01:33] jaredhirsch commented on #1985
OK, opened PR #1993 to fix #1992, that's a separate issue with a simple fix.

I still can't repro this issue. I've tried setting the [update interval](https://github.com/mozilla/testpilot/blob/master/addon/index.js#L7) to 30 seconds, rather than 12 hours, and I'm consistently seeing the correct set of entries in the doorhanger.

I'd suggest we not block on this issue, unless someone finds consiste

[2017-01-07 05:36] ckprice commented on #1985
Sounds good! Thanks for looking into Jared.

[2017-01-07 05:37] #1992 closed, assigned to jaredhirsch

[2017-01-07 05:39] ckprice commented on #1968
https://github.com/mozilla/testpilot/pull/1993 was merged in after this stage push, we'll want to get it in before we push to prod.

[2017-01-07 15:22] jvehent commented on #1482
It's up to you if you want to keep it open or create another issue for signing commits.
Out of curiosity: what's holding commit signing back? Is it a matter of getting everyone to set it up, or are there issues with it?

[2017-01-08 09:24] flodolo commented on #1991
And that's why we should have as less HTML as possible in strings… They're localizers, not web developers, messing things up is way too easy.

Even I had a hard time figuring out what to fix, hopefully I got them all. I had to unapprove #2 for Arabic because the translation is clearly partial.

cc @unghost for Russian (I had some doubts on this, Russian has a link at the end not available in en-US

[2017-01-08 09:28] flodolo commented on #1991
To answer your question, you can fix directly the .ftl files and Pontoon will sync them every 20 minutes. That's also the painful part: the risk of merge conflicts is pretty high with this frequency, so for these you might want to create the PR and merge very quickly.

In some cases it's not that easy (see partial translation in Arabic).

[2017-01-08 09:47] petercpg commented on #1991
Thanks @flodolo for the fix 👍 My couple thoughts for this kind of issue:

There are quality checks in Pontoon but I disabled as it is raising too many false alarms (such as Number of sentences).
As a webdev I prefer to have one single sentence to localize so I can tweak the sentence order without hassle, but from a localizer's perspective, having multiple long strings would be quite painful so I'm

[2017-01-08 15:59] unghost commented on #1991
Thank for the fix. I've removed a link at the end in Pontoon.

[2017-01-09 10:14] SoftVision-CosminMuntean commented on #1985
Hi guys,

Today I was also able to reproduce this issue again on stage. I had an older Firefox profile with Test Pilot v.0.9.1-dev-e42d9cb installed. After I manually updated the add-on, the newer version of Test Pilot was 0.9-dev-78214f8 and the localization restricted experiments were wrongly displayed again in doorhanger.

- Here is a screen recording with the issue: https://goo.gl/oiBu3Z
- Her

[2017-01-09 12:29] past commented on #1982
Yes, what @pdehaan said.

[2017-01-09 13:12] past commented on #1979
In the future please file issues affecting Cliqz in their [tracker](https://github.com/cliqz-oss/browser-core/issues). This specific behavior seems fine to me in order to inform but not annoy the user.

[2017-01-09 13:50] SoftVision-PaulOiegas opened #1998 "DE locale restrictions are not applied for Chrome browser"
[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- German language was added in Chrome browser from "Settings > Advanced settings > Language and input settings..." (in top of the list).

[Steps to reproduce]:
1. Open Chrome browser and navigate to https://testpilot.stage.mozaws.net page.
2. Scroll down on the page and observe the available experiments for German localiza

[2017-01-09 14:00] mathjazz opened #1999 "JS error loading testpilot.dev.mozaws.net in Pontoon with 3rd party cookies disabled"
Something's blocking Test Pilot dev site to load within Pontoon iframe if 3rd party cookies are disabled. The loader never stops loading and the following error is shown in the Console:

[code]

[2017-01-09 14:38] SoftVision-PaulOiegas opened #2000 "Loading animations display a white box artifact (Nightly)"
[Notes]:
- This seems to be a browser regression since on latest Firefox release this is not visible. I will investigate more in the next days and log a Firefox issue if needed.

[Affected versions]:
- Firefox 53.0a1

[Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- Test Pi

[2017-01-09 15:26] johngruen commented on #2000
This is upstream, but we should file an issue on bugzilla.

[2017-01-09 15:26] chuckharmston commented on #1999
Closing as a duplicate of #1777

Thanks for the report!

[2017-01-09 15:26] #1999 closed, assigned to nobody

[2017-01-09 15:29] johngruen commented on #1998
@chuckharmston, hmm, well this doesn't block shipping cliqz i don't think, but we should resolve this. Not sure how you flagged languages, but maybe we should audit for cross browser compatibility.

[2017-01-09 15:39] mathjazz commented on #1777
Ah, finally I can reproduce this (see #1999).

[2017-01-09 16:02] SoftVision-PaulOiegas commented on #1968
Hi guys,

Here are the results after the stage deployment verification.
### New issues
1. #1998 DE locale restrictions are not applied for Chrome browser - normal severity issue
2. #2000 Loading animations display a white box artifact (Nightly) - minor severity issue

### Known issues
1. #1866 Failed to enable experiment error message persists after experiment is successfully enabled - normal issu

[2017-01-09 16:58] johngruen commented on #1941
This appears to be done here:
https://github.com/mozilla/testpilot/blob/master/content-src/experiments/cliqz.yaml#L6

[2017-01-09 16:58] #1941 closed, assigned to ckprice

[2017-01-09 17:02] luciancor commented on #1979
Thanks guys for the report!

Cliqz "Tour" and "Offboarding" work as designed. We chose to show onboarding only once at the very beginning and off boarding only once per uninstalled version. Please check here - https://github.com/cliqz-oss/browser-core/blob/master/specific/firefox/cliqz@cliqz.com/modules/Extension.jsm#L352

Is there any requirement regarding when these pages should be shown?

[2017-01-09 17:04] luciancor commented on #1982
We unfortunately cannot reproduce this issue.
@SoftVision-PaulOiegas can you please give us an idea regarding how long you kept the browser idle before this issue appeared ?

[2017-01-09 17:05] johngruen commented on #1929
This is done

[2017-01-09 17:05] #1929 closed, assigned to johngruen

[2017-01-09 17:06] johngruen commented on #1929
NB. the intent of this bug was to add content to the YAML files, add-on weirdness tracked elsewhere.

[2017-01-09 17:27] SoftVision-PaulOiegas opened #2001 "Test Pilot social sharing messages for Facebook and Twitter are not localized in German"
[Affected versions]:
- Firefox 50.1.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisite]:
- German language was added on the top of the list from Firefox "Options > Content > Languages" section or a localized DE build is used.
- Facebook and Twitter accounts are logged in.

[Steps to reproduce]:
1. Open Firefox browser and navigate to "https://testpilot.dev.mozaws.ne

[2017-01-09 17:31] lmorchard commented on #1974
Yeah, the snake case is an artifact of the Django REST Framework API we used to use. Switched over to a static JSON file, but kept all the same property names. We didn't change it then because there are some gotchas:

1. The names are all over the code, so it would be a wide ranging change that could cause trouble and we didn't have sufficient tests to catch problems. (Maybe that's better now?)

2

[2017-01-09 17:32] lmorchard commented on #1974
Also, ESLint will complain if certain property name formats are used in JS - but not in YAML or JSON or FTL. So, fixing it just in JS and missing it everywhere else is troublesome.

[2017-01-09 17:45] lmorchard commented on #2001
As far as I can tell, the only way to have localized Twitter & Facebook sharing messages is to share localized static page URLs. (i.e. `/en-US/experiments/foo` vs `/de/experiments/foo`)

That's because the spiders for both services fetch the information from HTML `<meta>` headers - and they *do not run JavaScript*. So, our client-side localization will not get applied. On top of that, they tend to

[2017-01-09 17:48] lmorchard commented on #2001
There *does* appear to be a potential mechanism to use with Facebook, though:

* https://developers.facebook.com/docs/opengraph/guides/internationalization#objects

TL;DR: Facebook will look for `og:locale:alternate` meta tags like so:
`<meta property="og:locale:alternate" content="fr_FR" />`

Then, the scraper will fetch that page for each locale listed with a `?fb_locale=fr_FR` parameter and loo

[2017-01-09 21:17] dannycoates commented on #1747
no doorhanger, no problem

[2017-01-09 21:17] #1747 closed, assigned to dannycoates

[2017-01-10 01:30] ghost commented on #1968
As discussed this morning I've re-pushed stage with the latest updates.  (Also production)

[2017-01-10 07:58] AmyAmy opened #2006 "The Testpilot add-on, and the testpilot website appear in the wrong locale."
My browser language is set to English (en-GB).
My operating system, (Windows 10) is set to English.
"Choose your preferred language for displaying pages" is set to en-GB.

yet, both the add-on and https://testpilot.firefox.com/ appear in _Dutch_, without any option to change the language.

[2017-01-10 09:08] johngruen commented on #2006
@Amyamy...Dutch?! that's no good. Could you screenshot the languages panel in the content section of about:preferences for reference? Also, any add-ons you have installed that might be overriding your language preference?

[2017-01-10 09:31] AmyAmy commented on #2006
![image](https://cloud.githubusercontent.com/assets/630387/21800458/011d0248-d71e-11e6-8a81-0ab824b9e83d.png)

Dutch is in my list, but at the bottom.

I do have the Dutch dictionary installed: https://addons.mozilla.org/en-GB/firefox/addon/woordenboek-nederlands/
I've quickly tested by disabling it, plug-in and website still appear in dutch.

[2017-01-10 12:37] flodolo commented on #2006
There's no en-GB, so it falls back to en and then nl, and finally finds a supported language.

You can easily reproduce by setting `intl.accept_languagesintl.accept_languages` to `en-GB, en,nl` in about:config. We should probably do something smarter with 'en', maybe symlink en-US would be enough.

I'm quite surprised that the add-on uses Dutch though, that shouldn't look at accept-languages.

[2017-01-10 15:17] SoftVision-PaulOiegas commented on #1979
I don't think we have any specific requirement. I've logged this because on Test Pilot everything is erased after uninstall in order to leave no trace of the installation. This makes our own onboarding page to be shown each time when TP is installed since we have nothing to tell us that the add-on was previously installed.
So I assumed that maybe we want the same thing for Cliqz installation behav