[2018-03-15 15:25] ghost commented on #3377
@chuckharmston This is what I wanted. Thank you.

[2018-03-15 15:31] SoftVision-PaulOiegas opened #3422 "[Enhancement] Modify the Featured Experiment section to display a random experiment / a carousel of new launched experiments"
This is a proposal that I had in mind for some time now. I've suspected that Notes won't remain forever as featured experiment and it will probably be replaced by newly launched ones.
I was thinking at taking the Featured Experiment section to next level and either display randomly one of the new experiments launched, either display them as a carousel, so the user could navigate between them.

Wha

[2018-03-15 16:25] marniepw commented on #3421
@johngruen

[2018-03-15 18:28] ghost commented on #3421
#3423 fixed this.  I made a new tag and put on stage.  The bot says it's building.  Presumably it will be deployed by the time you read this. :)  Thanks for catching this!

[2018-03-15 18:28] #3421 closed, assigned to johngruen

[2018-03-15 20:40] dannycoates commented on #3405
done in #3416

[2018-03-15 20:40] #3405 closed, assigned to dannycoates

[2018-03-16 23:50] ghost opened #3428 "Page scrolls up when a key is pressed in newsletter form input"
![ezgif-3-d9af309c10](https://user-images.githubusercontent.com/22018999/37549072-2fbfb770-2953-11e8-88a0-eb09f900a12c.gif)

[2018-03-19 17:56] SoftVision-PaulOiegas commented on #3428
I thought first this is an enhancement. Forgot my coffee at home today. 😆
This seems to have been started occurring after you landed the fix for #3377 in the #3427 PR, since I cannot reproduce it on stage server.

[2018-03-19 17:59] SoftVision-PaulOiegas commented on #3377
This seems to be fixed on the dev server. However, the fix introduced another issue, but that's tracked separately in #3428.
Closing this, as the hint message was re-added.

[2018-03-19 17:59] #3377 closed, assigned to nobody

[2018-03-19 18:00] chuckharmston commented on #3234
Assigning to Dave for implementation.

[2018-03-19 18:17] chuckharmston commented on #3422
Great idea, but we're actively avoiding adding new features to Test Pilot.

[2018-03-19 18:17] #3422 closed, assigned to nobody

[2018-03-20 01:24] dannycoates opened #3429 "dueling links"
Since adding react-router the feedback button on the experiment row card "conflicts" with the card itself (which is an `<a>`) and clicking the feedback button now goes to the detail page. React now warns about this with:

[code]

[2018-03-20 09:59] SoftVision-PaulOiegas commented on #3422
@chuckharmston @johngruen I'm aware of that, but right now the "Featured Experiment" area is unused since Notes is no longer featured. So probably the new ones will be featured next, otherwise it was a waste of time to implement it.
However, right now you can only feature one of them, which in my opinion will unbalance the chances of success for the other new experiments (it will probably be a bat

[2018-03-20 14:20] fzzzy opened #3430 "Remove "test_number_of_experiments""
It's very slow, it intermittently fails a lot, and it doesn't add a lot of value. Let's just remove it.

[2018-03-20 16:22] #3264 closed, assigned to nobody

[2018-03-21 10:09] SoftVision-PaulOiegas commented on #3318
@chuckharmston this behavior was partially fixed by the merge of #3405, the right translation is displayed while navigating trough pages. But, if you refresh most of the pages, this still occurs.

This issue also occurs on localized builds, not only on [en-US] with content language changed. Which means that all the users using a localized build other than [en-US], will first see the English versio

[2018-03-21 10:21] SoftVision-PaulOiegas commented on #2848
This is no longer reproducible due to the `min_version 58` change for Test Pilot add-on implementation.

However, this is just an issue masking and it's not treating the root cause. If we'll have a newer experiment that will require Fx 59 to work, this issue will be again reproducible. Unless, we will be raising the `min_version` after each new Fx release.

[2018-03-21 10:21] #2848 closed, assigned to nobody

[2018-03-21 10:23] grahamperrin opened #3432 "Test Pilot extension: unexpected updates with a 56.x browser"
Yesterday (2018-03-20) with my 'everyday' Waterfox profiles:

![2018-03-20 18 14 25](https://user-images.githubusercontent.com/192271/37704515-f489bed4-2cf0-11e8-891c-013b6bbd6402.png)

![2018-03-20 18 15 13](https://user-images.githubusercontent.com/192271/37704531-0209ac22-2cf1-11e8-8286-78410be4a8c0.png)

tl;dr as far as I could tell, the update that was offered:

- did download
- did not insta

[2018-03-21 13:42] SoftVision-PaulOiegas commented on #2945
This was logged when we had the news feed on the /experiments page. However, I think this could still end up as an issue on the /news page, where all the content moved.
The only thing is that we don't even have a "Show Past News" button on the "News Feed" page now, and I'm not sure that all the news we had are displayed there also.

Since 4 experiments are graduating soon and a bunch of new experi

[2018-03-21 14:10] SoftVision-PaulOiegas commented on #3420
Hey guys,

After our run of the Full Functional suite on the **Stage** server, we had an **85%** pass rate with only known issues found (12%) and several functionality not available (3%).
Here are the test results for the staging server testing performed on Friday and Monday:

### **Legend** ###
&#x1F4D5; - major issue
&#x1F4D9; - normal issue
&#x1F4D2; - minor issue
&#x1F4D7; - fixed and verified

[2018-03-21 14:17] SoftVision-PaulOiegas commented on #3420
Production testing was also performed after deployment was done. The results were close to the stage environment, **86% PASS** rate with **12% FAILED KNOWN** issues and **2% NOT AVAILABLE**.
We have double checked also the `min_version 58` by testing with an Fx 57 build and no issues were encountered.

Marking this as verified.

[2018-03-21 16:57] SoftVision-PaulOiegas opened #3434 "Scroll clicking the "Blog" button wrongly redirects you to the page in same tab, instead of a new one"
**[Notes]:**
- The react-router implementation from #3405 fixed all the `open in a new tab `issues with scroll click (middle click) we had, except this one. Maybe it's something related to the button itself?

**[Affected versions]:**
- Firefox Nightly 61.0a1

**[Affected Platforms]:**
- Windows
- Mac OS
- Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "ext

[2018-03-22 12:53] meandavejustice opened #3436 "Add metric for featured experiment video"
This is a follow up issue for https://github.com/mozilla/testpilot/pull/3435.

The [Click Featured Experiment Video](https://github.com/mozilla/testpilot/blob/master/docs/metrics/ga.md#featured-experiment) metric calls for dimension12, which asks "How much did the video did the user watch?". In order to attain this information we'll need to add youtube's Iframe api.

We'll probably need to get a s

[2018-03-22 13:27] johngruen opened #3437 "Maybe we should just show past experiments on landing pages for awhile."
Since we're about to only have two active experiments for a bit, maybe we should simplify our UI and show past experiments by default...something like this:

<img width="1466" alt="screen shot 2018-03-22 at 9 27 16 am" src="https://user-images.githubusercontent.com/3323249/37773172-3de4886c-2db3-11e8-89a0-62d1493bf3a5.png">

@dannycoates @sevaan @chuckharmston what do you guys think?

[2018-03-22 13:29] sevaan commented on #3437
That's a good idea. Maybe the cards for past experiments could be reduced a bit, or formatted into rows or something just to separate it more from what's active.

[2018-03-22 13:30] johngruen commented on #3436
We do get metrics from the youtube side, though i don't know how/whether we can filter on embed context. I can look into this.

[2018-03-22 13:40] johngruen commented on #3437
KK, i'll give this needs UX then for now and assign you.

[2018-03-22 19:16] #3428 closed, assigned to dannycoates

[2018-03-23 02:49] ghost commented on #3376
Hi @chuckharmston @SoftVision-PaulOiegas from dev tools, I couldn't find out which property is causing the white + red border. Disabling that would help here maybe?

Also, I set `outline` property in a `:invalid` rule. But I couldn't land on expected result with that. Could you please tell me which property has to be set in `:invalid` rule for expected result?

[2018-03-23 04:06] ghost commented on #3385
Hi I would like to work on this.
what is the recommended material icon for this?

I came across this one. https://material.io/icons/#ic_done

[2018-03-23 04:17] chuckharmston commented on #3385
Hi @csd713,

This is the icon referenced above: https://github.com/mozilla-services/screenshots/blob/master/addon/webextension/icons/done.svg

You'll want to change the fill to use a color that better fits Test Pilot. I would suspect #30e60b to be the correct value here, but perhaps @johngruen or @sevaan could confirm that.

[2018-03-23 15:44] sevaan commented on #3385
Yep! #30e60b is the correct colour to use.

[2018-03-23 19:22] dannycoates commented on #3402
On master it doesn't redirect to /experiments but it does show the enabled state correctly

[2018-03-23 19:47] #3272 closed, assigned to nobody

[2018-03-23 19:47] #3374 closed, assigned to dannycoates

[2018-03-24 00:23] ghost commented on #3385
Hello @chuckharmston @SoftVision-CosminMuntean @SoftVision-PaulOiegas

I found that there is one 'done' icon(white color) present already.

https://github.com/mozilla/testpilot/blob/master/frontend/src/images/done.svg

Can someone confirm that I can edit color of this  image for this fix?

[2018-03-24 00:43] ghost commented on #3434
@SoftVision-PaulOiegas Something is wrong with the link?

<img width="1155" alt="Image broken link" src="https://user-images.githubusercontent.com/22018999/37858405-ab7045ce-2eda-11e8-934a-140e50d97b36.png">

[2018-03-24 01:42] lovexxx opened #3442 ""Something is wrong" when visiting Firefox Test Pilot"
It says "something is wrong" when I try to visit testpilot.firefox.com using Firefox even if in safe mode, but the same page displays normally in my Microsoft Edge. Below is my application profile:

名称: Firefox
版本: 59.0.1
版本 ID: 20180315233128
更新通道: release
用户代理: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:59.0) Gecko/20100101 Firefox/59.0
操作系统: Windows_NT 10.0
多进程窗口: 1/1（默认启用）
网页内容处理进程: 5/4
Styl

[2018-03-26 12:36] SoftVision-PaulOiegas commented on #3434
@csd713 Seems that Google had some issues with the shortener last week. Is it working for you now? I managed to view it on 3 different browsers.

Still, even without the screen recording, the issue is pretty straight forward to reproduce.

[2018-03-26 12:47] SoftVision-PaulOiegas commented on #3442
Hi @lovexxx and thanks for your report! Just tried to reproduce this on latest Firefox 59.0.1 build and I haven't managed to. Even downloaded the [zh-CN] localized build to check this and still no luck in reproducing it.

This might be something related to your setup. Can you please navigate to about:config page and verify if the `privacy.resistFingerprinting.block_mozAddonManager` pref is somehow

[2018-03-26 13:52] SoftVision-PaulOiegas opened #3443 "Testing local server on Window is not possible due to page loading issues"
**[Affected versions]:**
- Firefox Nightly 60.0a1

**[Affected Platforms]:**
- Windows

**[Prerequisites]:**
- Latest Firefox Developer Edition browser was installed / extracted.
- The setup for local environment testing was performed as described in the [quickstart](https://github.com/mozilla/testpilot/blob/master/docs/development/quickstart.md) document.
- Test Pilot GitHub repo was cloned and i

[2018-03-26 14:22] SoftVision-PaulOiegas commented on #2378
@dannycoates this was partially fixed by the fix you did on #3374. Now the page correctly shows the right button when Test Pilot add-on is uninstalled. But the "disabled" case still reproduces and hits the scenario from bug #2866.

[2018-03-26 14:24] SoftVision-PaulOiegas commented on #3374
This seems to be fixed now, but since I can test it only on local environment and only on Mac OS due to bug #3443, I won't mark it as verified yet. I'll retest it when the new issue is fixed.

[2018-03-26 14:25] SoftVision-PaulOiegas commented on #3272
This seems to be fixed now, but since I can test it only on local environment and only on Mac OS due to bug #3443, I won't mark it as verified yet. I'll retest it when the new issue is fixed.

[2018-03-26 16:35] SoftVision-PaulOiegas commented on #3402
It does for the top part, but this is still an issue when it comes to the bottom of the page. The "Install the Test Pilot Add-on" green button is still displayed because of the no-redirect.

![screen shot 2018-03-26 at 18 58 53](https://user-images.githubusercontent.com/17258026/37919550-d6a60df6-312c-11e8-9961-67d7d383527c.png)

[2018-03-26 17:25] meandavejustice commented on #3154
Just opened https://github.com/mozilla/testpilot/pull/3444 for the remaining css errors. As for the two "Unable to resolve path to module errors", the build step, `build:gulp` just needs to be run before `lint`. I think we can probably close this issue as long as we don't direct users to run `npm install && npm run lint` anywhere in our docs.

@chuckharmston What do you think?

[2018-03-26 19:40] meandavejustice commented on #2782
https://www.npmjs.com/package/sinon-chrome

[2018-03-27 00:58] #3434 closed, assigned to nobody

[2018-03-27 03:18] ghost commented on #3385
I used the icon suggested by @chuckharmston and changed the fill to #30e60b.
Created a PR for this. Please review it.

[2018-03-27 15:24] marniepw opened #3447 "Update Test Pilot pages in SUMO"
See:
https://support.mozilla.org/en-US/kb/new-test-pilot-experiments
https://support.mozilla.org/en-US/kb/test-pilot-firefoxs-experimental-features (wrong image under Leave Test Pilot section, etc.)

_(this is something I can do, but wanted to park it here so it doesn't get lost...)_

[2018-03-27 17:20] dannycoates commented on #3402
This is going to require some legit **work**

[2018-03-27 19:27] #3430 closed, assigned to nobody

[2018-03-27 21:09] dannycoates commented on #3385
done in #3446

[2018-03-27 21:16] #3154 closed, assigned to nobody

[2018-03-27 23:08] dannycoates commented on #3443
This seems to be because the email `<input>` is wrapped in `Localized` and it's somehow not going through [here](https://github.com/projectfluent/fluent.js/blob/8e4f284e04b9333393da8c66dca46d82f3e60b57/fluent-react/src/localized.js#L115-L121) properly. 😕

I don't know why it happens on windows but not osx. Are the versions of fluent and react the same?

[2018-03-27 23:30] #2378 closed, assigned to nobody

[2018-03-28 09:39] glogiotatidis opened #3451 "Whitelist about:newtab"
Hi testpilot team,

The snippets-service does some targeting based on the existence of testpilot addon. For that we use `navigator.testpilotaddon` which you make available for us by whitelisting `about:home`.

This works fine for `about:home` and we want to do the same for `about:newtab`. I know that these will go away in the future and we have already made the needed changes to handle this situat

[2018-03-28 11:51] SoftVision-PaulOiegas commented on #3434
Scroll clicking on the button now correctly loads the Blog page into a new tab. 👍

[2018-03-28 11:58] SoftVision-PaulOiegas commented on #3385
Other than the fact that the check mark looks a bit too big in comparison with the navigation arrows, this looks ok.

@johngruen Do we care about this? It's more sleek on Screenshots to be honest.

![check tour](https://user-images.githubusercontent.com/17258026/38027441-577c0d74-3298-11e8-8597-3c390d9d8beb.png)

[2018-03-28 12:00] SoftVision-PaulOiegas commented on #3447
@marniepw If you need any help with the flows that changed since the old description, let me know. 😃

[2018-03-28 13:41] SoftVision-PaulOiegas commented on #3317
The error appears on featured experiment enable fail, but there are 2 things that don't meet the request:
1. The error bar should be narrower based on the design specs provided by @youwenliang (440px vs 500px.
2. The bar wrongly appears aligned to the left same as the left part content of the area, while in the designs is centrally positioned.

![error message for featured](https://user-images.git

[2018-03-28 14:01] SoftVision-PaulOiegas commented on #3317
Well this is awkward... after testing a bit more, the bar magically moved to the center. Can't explain why, after I reproduced this on 3 profiles on Mac OS and Windows as on the above printscreen.

The only thing remaining is the bar width, but I don't think this is something that needs necessarily rework. There's not such a big difference.

[2018-03-28 14:01] #3317 closed, assigned to dannycoates

[2018-03-28 14:03] lovexxx commented on #3442
@SoftVision-PaulOiegas Thank you. The issue is settled according to your suggestion.

[2018-03-28 14:03] #3442 closed, assigned to nobody

[2018-03-28 14:09] johngruen commented on #3161
I fixed this awhile ago

[2018-03-28 14:09] #3161 closed, assigned to nobody

[2018-03-28 14:55] SoftVision-PaulOiegas commented on #2866
All the pages correctly adapt to the add-on manual disable except the https://tstpilot.dev.mozaws.net/experiments one. When this occurs, the next scenarios are also present:
- When TxP is disabled, even if you manually navigate to the Homepage, you are auto-redirected to /experiments.
- Opening an experiment from the /experiments page wrongly allows you to enable that experiment even if TxP is dis

[2018-03-28 15:26] johngruen opened #3453 "Don't render application until we have the correct application state (fix loading jank)"
Test Pilot is looking pretty zippy these days, but experiments details pages still flash incorrect content for a quick second while rendering.

To view this, go to:
1. https://testpilot.firefox.com/experiments/notes with test pilot installed
2. Note the flash of content at the top of the page before the site detects the add-on

Either we should avoid rendering the page content until state is resol

[2018-03-28 16:49] sevaan commented on #3385
We should make it the same size as the back arrow. I believe the width is 40px.

@dannycoates @csd713

[2018-03-28 17:10] dannycoates commented on #2866
@SoftVision-PaulOiegas I can't reproduce any of that locally, but I did on dev... once, now I can't anymore. I wonder if we have a caching bug?

[2018-03-28 17:28] meandavejustice commented on #3443
I'm not able to reproduce this on Window 10. Firefox Developer Edition 60.0b7

![dev-editon-no-addon](https://user-images.githubusercontent.com/1844554/38045793-6292bf04-32ad-11e8-87b8-01efd8017b81.png)

![dev-editon-with-addon](https://user-images.githubusercontent.com/1844554/38045795-65d1016c-32ad-11e8-9cfe-f16f6cfc1de4.png)

[2018-03-28 17:37] dannycoates commented on #2866
🙄 I figured it out. The deploy to stage of the fix failed because of a transient error in the integration_tests. I subsequently merged another PR right in the middle of testing this which succeeded that had the fixed code. Please re-verify.

<img width="471" alt="screen shot 2018-03-28 at 10 35 26 am" src="https://user-images.githubusercontent.com/87619/38046199-e4041b44-3273-11e8-87f4-6f30eba223d

[2018-03-28 18:15] marniepw commented on #3447
Thanks @SoftVision-PaulOiegas!

[2018-03-28 18:15] johngruen commented on #3385
It looks like the width of the element is 40px but the svg is actually only 20 px

[2018-03-28 18:17] dannycoates commented on #3385
<img width="751" alt="screen shot 2018-03-28 at 11 15 35 am" src="https://user-images.githubusercontent.com/87619/38048126-6a67a6c4-3279-11e8-808a-79fbba713711.png">

db8a4b475221fd6e17e2cfa8fb0bf0ca18185b5a

[2018-03-28 18:17] #3385 closed, assigned to nobody

[2018-03-28 18:47] dannycoates commented on #3142
wontfix? I mean technically we can do it but it makes the code more complicated for questionable gain. @johngruen?

[2018-03-28 19:53] dannycoates commented on #3453
How's dev for you? (It should be better)

[2018-03-29 04:08] dannycoates commented on #3402
@johngruen what do you think about a popup flow that puts the email form first after a one click install? like so:

![popups](https://user-images.githubusercontent.com/87619/38069556-d5d6caf0-32cb-11e8-912f-57a059914c30.gif)

[2018-03-29 10:35] SoftVision-PaulOiegas commented on #3385
Now we're talking. 👍 Looks great!

[2018-03-29 12:02] SoftVision-PaulOiegas commented on #2866
@dannycoates The behavior improved a bit but it's still not ok. here are the steps I performed:
1. Navigate to https://testpilot.dev.mozaws.net and install TxP
-You are redirected to the /experiments page.
2. Manually disable the add-on, and switch back to the /experiments page tab.
-The tab doesn't update and remains on /experiments page.
3. Click the Firefox logo on top.
-You are redirected to t

[2018-03-29 13:12] SoftVision-PaulOiegas commented on #3443
This is strange. I'm testing on the same version of Dev Edition now and I'm still getting just the page background after each page refresh.
What is your windows version Dave? I have Windows 10 Pro x64, Version 10.0.15063 Build 15063.

Do we still need all the prefs to run locally?
1. `user_pref("extensions.webapi.testing", true);`
2. `user_pref("extensions.legacy.enabled", true);`
3. `user_pref("t

[2018-03-29 13:18] SoftVision-PaulOiegas commented on #3443
Adding also a recording of the issue https://goo.gl/19P7eg.
You can see that only if I stop the page loading I can see the content of it. Otherwise, I always end up just with the background.

[2018-03-29 13:24] SoftVision-PaulOiegas commented on #3402
@dannycoates that was the initial desired behavior, but it had some issues where the pop ups overlapped or dismissed each other and it was simplified.
However, since than we returned to react-router. If there is a better way to implement this flow now, without previous issues to be generated, I think it seems more appropriate. Of course, it's up to John to confirm.

We had an issue that the newsle

[2018-03-29 16:18] dannycoates commented on #3443
@SoftVision-PaulOiegas it looks like you were nearly there, a couple hundred more refreshes and I bet it'd work ;)

It seems like a npm dependency issue. Have you tried a `npm install` recently?

[2018-03-29 16:45] #3429 closed, assigned to nobody

[2018-03-29 17:13] fzzzy commented on #3402
The actual desired behavior is to have it integrated as the last slide of the tour.

[2018-03-30 06:41] dannycoates opened #3455 "failing unit tests pass circleci"

[2018-03-30 09:33] SoftVision-PaulOiegas commented on #3443
I had npm 5.6.0 and updated to 5.8.0 and Node was 8.8.5 or something and updated to 8.11.1. Still, the same issue occurs even after creating a new dev edition profile with all the prefs set.

C:\Users\paul.oiegas>npm -v
5.8.0
C:\Users\paul.oiegas>node -v
v8.11.1

Double checked with some of my team members PC's that are also on Win 10 and they encountered the same behavior...

[2018-03-30 09:38] SoftVision-PaulOiegas commented on #3402
Wasn't that idea ditched? I think Chuck closed a bug (#2066) about this mentioning it will never happen. 😄

[2018-03-30 11:20] SoftVision-PaulOiegas commented on #3429
Damn, I had this issue noted down to log it since last week. You were faster. 😄
Works well on both Windows 10 and Mac OS 10.13. 👍

[2018-03-30 14:25] fzzzy commented on #3402
But if time is going to be scheduled to work on the email dialog, I think it would be good to do it the right way rather than yet another hack...

[2018-03-30 14:27] SoftVision-PaulOiegas commented on #3402
I agree, but I was under the impression that adding new stuff to the website was not a priority.

[2018-03-30 16:21] meandavejustice opened #3457 "review testpilot-metrics package and metrics docs"
Review now that we have made changes to the addon metrics with #3456

[2018-03-30 21:11] meandavejustice opened #3459 "review update-version script"
This script is causing problems with web-ext. Do we still need it?

[2018-04-02 09:23] glogiotatidis commented on #3451
Hey @dannycoates could you please provide some feedback here?

[2018-04-02 16:14] marniepw commented on #3451
FYI @johngruen and @clouserw

[2018-04-02 16:17] #3420 closed, assigned to SoftVision-PaulOiegas

[2018-04-02 16:37] ghost commented on #3451
Hi.  We actually have a pull request under review (#3456) which removes all bootstrap code from Test Pilot which we are (hopefully) landing today.  This will mean it's not possible to do this.

An alternative @chuckharmston suggested was that the about: pages should get access to the MozAddonManager API so it can look at what is installed.

[2018-04-02 16:37] #3451 closed, assigned to clouserw

[2018-04-02 18:44] #3176 closed, assigned to johngruen

[2018-04-02 18:44] #3177 closed, assigned to johngruen

[2018-04-02 18:44] #3180 closed, assigned to meandavejustice

[2018-04-02 18:44] #3182 closed, assigned to meandavejustice

[2018-04-02 18:44] #3183 closed, assigned to meandavejustice

[2018-04-02 18:44] #3313 closed, assigned to meandavejustice

[2018-04-02 18:44] #3382 closed, assigned to nobody

[2018-04-02 19:07] #2866 closed, assigned to nobody

[2018-04-02 19:07] #3402 closed, assigned to nobody

[2018-04-02 19:36] lmorchard commented on #3459
What are the problems?

Yes, if we want a signed build of the add-on deployed to dev with every master commit without having to change the version number every time. (But, it's possible we *stop* caring about that at some point.)

[2018-04-02 19:41] dannycoates commented on #3395
#3458 fixes this

[2018-04-02 19:41] #3395 closed, assigned to nobody

[2018-04-02 21:27] dannycoates commented on #3162
how about no featured experiments without videos?

[2018-04-02 23:32] b4handjr commented on #3455
Is there an example of this?

[2018-04-02 23:58] dannycoates commented on #3455
https://circleci.com/gh/mozilla/testpilot/8868?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

which is commit b0705c994a956694cb505a27a6d18ca7d00b12f9

The exit code of `npm run test:ci` is 18, as in 18 failures, which are easier to see if you run `npm test`

[2018-04-03 12:45] SoftVision-CosminMuntean opened #3461 "Browser tab name is no longer updated when navigating to Test Pilot experiments pages"
[Affected versions]:
- Firefoxx 59.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = stage" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

[Steps to reproduce]:
1. Start

[2018-04-03 13:18] SoftVision-PaulOiegas commented on #3382
@meandavejustice This clearly removed the need of the `extensions.legacy.enabled` pref. But what about the `extensions.install.requireBuiltInCerts` one?
I've just tried on Dev edition and the website loads and TxP add-on can be installed just with `extensions.webapitesting` on `true` and `xpinstall.signatures.required` on `false`.

[2018-04-03 13:59] SoftVision-CosminMuntean opened #3462 "The "Share" page is still available on Test Pilot stage server even if the page was removed"
[Notes]:
- The Share page was removed in #3401.
- On Test Pilot dev and production servers when you navigate to the "Share" page, the "Four Oh Four!" message is displayed.

[Affected versions]:
- Firefoxx 59.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinsta

[2018-04-03 14:05] b4handjr commented on #3455
So should we run npm test instead? What does ```test:ci``` do vs ```test```?

[2018-04-03 14:50] fzzzy commented on #3462
This is also true for the /legacy page. We overwrite files when we do a deploy, but we never delete files.

[2018-04-03 14:54] Softvision-AndreeaCupsa opened #3463 "News articles do not return to their default state when they are dragged and released in a different area"
**[Affected versions]:**
- Firefox 59.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
Following 5 prefs have been set or added on a new profile:
- 	"extensions.legacy.enabled = true"
- 	"xpinstall.signatures.required = false"
- 	"testpilot.env = stage"
- 	"extensions.webapi.testing = true"
- 	"extensions.install.requireBuiltInCerts = false".

**[Step

[2018-04-03 15:07] dannycoates commented on #3463
Y’all crack me up 😂

[2018-04-03 15:33] SoftVision-PaulOiegas commented on #3463
Yeah, we had this in pipe for like a month now. But me and Cosmin were keep saying that this is something so insignificant that we shouldn't care of. But since we have a new team member who has a hawkeye... well you get the story. 😂

[2018-04-03 15:34] Softvision-AndreeaCupsa opened #3464 ""Test Pilot Accessibility Design Course" article redirects to a wrong page"
**[Affected versions]:**
- Firefox 59.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Steps to reproduce]:**
1. Start Firefox browser and navigate to "https://testpilot.firefox.com/news" page.
2. Click on "Test Pilot Accessibility Design Course" article.
3. Observe the opened article.

**[Expected result]:**
- The "[Students Pitch New Accessibility Features for Firefo

[2018-04-03 18:49] #3455 closed, assigned to dannycoates

[2018-04-03 20:12] lmorchard commented on #3382
I might be mistaken, but off the top of my head I think these remaining prefs are more about *installing* the add-on and not related to the implementation of the add-on itself...

* `extensions.install.requireBuiltInCerts` needs to be `false` - otherwise Firefox restricts installing add-ons to sites whose SSL certificates are explicitly shipped in the binary as a security measure. That set exclude

[2018-04-03 20:24] lmorchard commented on #3083
Peeking at this - what does "more gracefully" mean? i.e. Do we message the user? Or act more like a visit from a non-Firefox browser and just disable the installation buttons? (I guess we should *not* show a call to action to install Firefox though)

[2018-04-03 20:52] dannycoates commented on #3006
fixed as of #3458

[2018-04-03 20:52] #3006 closed, assigned to nobody

[2018-04-03 21:13] #1477 closed, assigned to dannycoates

[2018-04-04 12:30] SoftVision-PaulOiegas opened #3466 "Homepage is wrongly displayed for a short time instead of /retire, when proceeding with Test Pilot uninstallation"
**[Affected versions]:**
- Firefox Nightly 61.0a1

**[Affected Platforms]:**
- Windows
- Mac OS
- Linux

**[Prerequisites]:**
- Following 3 prefs have been set or added on a new profile: "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true".
- Test Pilot add-on was already installed on the profile.

**[Steps to reproduce]:**
1. Start Firefox browser with

[2018-04-04 12:40] SoftVision-PaulOiegas commented on #3395
Seems to be fixed. 👍 Can't confirm if something is wrong when there is a featured experiment since I cannot test locally. The building issues are stopping me.

[2018-04-04 13:13] SoftVision-PaulOiegas opened #3467 "Experiments cards have lost their URL's which makes them impossible to be opened in separate tabs"
**[Affected versions]:**
- Firefox Nightly 61.0a1

**[Affected Platforms]:**
- Windows
- Mac OS
- Linux

**[Prerequisites]:**
- Following 3 prefs have been set or added on a new profile: "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true".

**[Steps to reproduce]:**
1. Start Firefox browser with the profile from prerequisite and navigate to https://test

[2018-04-04 13:30] SoftVision-PaulOiegas opened #3468 "Test Pilot production is wrongly opened when clicking the toolbar button after you instaleld from dev server"
**[Affected versions]:**
- Firefox Nightly 61.0a1

**[Affected Platforms]:**
- Windows
- Mac OS
- Linux

**[Prerequisites]:**
- Following 3 prefs have been set or added on a new profile: "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true".

**[Steps to reproduce]:**
1. Start Firefox browser with the profile from prerequisite and navigate to https://test

[2018-04-04 14:00] Softvision-AndreeaCupsa opened #3469 ""Back" button does not redirect to the previous experiment page if the page was accessed from another experiment's page"
**[Affected versions]:**
- Firefox 59.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile:
	"extensions.legacy.enabled = true"
	"xpinstall.signatures.required = false"
	"testpilot.env = stage"
	"extensions.webapi.testing = true"
	"extensions.install.requireBuiltInCerts = false".

**[Steps to rep

[2018-04-04 14:58] SoftVision-CosminMuntean opened #3470 "[release] 2018-04-03 on stage"
Hi guys,

We have finalized running our Full Functional test suite on the Staging server and here testing results:

### **Legend** ###
&#x1F4D5; - major issue
&#x1F4D9; - normal issue
&#x1F4D2; - minor issue

## New Issues ##
1. #3461 - &#x1F4D9; Browser tab name is no longer updated when navigating to Test Pilot experiments pages
2. #3462 - &#x1F4D2; The "Share" page is still available on Test Pi

[2018-04-04 17:07] dannycoates commented on #3468
This is the new behavior going forward. The environment is configured on the addon's options page.

We can't read about:config so unless we create a separate build for each environment to set the default, we're stuck with one initial state. It seems like it'd lead to more confusion if we had different builds.

[2018-04-04 17:27] fzzzy commented on #3468
We had previously discussed having a build for each environment -- would it be less confusing if each one had a different name, like Test Pilot Dev, Test Pilot Stage, etc?

[2018-04-04 19:00] #3469 closed, assigned to nobody

[2018-04-04 19:20] dannycoates commented on #3467
This is from #3454

[2018-04-04 20:01] #3464 closed, assigned to nobody

[2018-04-04 20:04] dannycoates commented on #3468
My care level is super low on this. It's a dev feature and complicating the build for it is worse imo.

[2018-04-04 20:32] johngruen commented on #3162
deal

[2018-04-04 20:32] #3162 closed, assigned to nobody

[2018-04-04 20:32] johngruen commented on #3142
WFM

[2018-04-04 20:32] #3142 closed, assigned to nobody

[2018-04-04 21:50] #3466 closed, assigned to nobody

[2018-04-04 22:54] #3467 closed, assigned to nobody

[2018-04-04 23:09] dannycoates commented on #1467
no longer an issue as of current master fc53730c390a84c32c6eb7c1287bef2bd102e77c

[2018-04-04 23:09] #1467 closed, assigned to nobody

[2018-04-05 08:57] SoftVision-CosminMuntean commented on #3469
This issue is no longer reproducible on Test Pilot (3.0.0)  dev version. Tested on Windows 7 x64, Mac 10.12 and Arch Linux.

[2018-04-05 08:59] SoftVision-CosminMuntean commented on #3464
This issue is no longer reproducible on Test Pilot (3.0.0) dev version. Now you are correctly redirected to the "Students Pitch New Accessibility Features for Firefox" article.
Tested on Windows 7 x64, Mac 10.12 and Arch Linux.

[2018-04-05 15:15] Softvision-CristinaBadescu opened #3474 "A "SG" favicon is wrongly displayed on the Test Pilot and experiments feedback survey"
[Affected versions]:
- Firefox 59.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the Firefox browser and navigate to https://testpilot.firefox.com/.
2. Scroll to the bottom of the page and click the "Give Feedback" text link.
3. Observe the tab's favicon.

[Expected result]:
- Firefox logo favicon is displayed.

[Actual result]:
- A "SG" favico

[2018-04-05 15:51] lmorchard commented on #3474
I think that's for SurveyGizmo, who hosts our surveys. Is that something we normally customize? /cc @johngruen @clouserw

[2018-04-05 16:46] meandavejustice commented on #3373
Somehow this just didn't get localized, we have it in app.ftl and it looks correct in the views.

[code]

@flodolo what would the best way forward for this be? Should I just update the id in app.ftl?

[2018-04-05 16:56] flodolo commented on #3373
Can someone explain how am I supposed to see that text? I'm trying stage in English, and I don't see anything like that.

The en-US file has that string, but it was never exposed in Pontoon.

@mathjazz
Any clue what happened. Can you force a re-sync for en-US?

[2018-04-05 17:25] mathjazz commented on #3373
I see multiple strings aren't imported into Pontoon.

Investigating...

[2018-04-05 17:32] flodolo commented on #3373
@meandavejustice
Localization was moved to the l10n branch, it looks like it hasn't been updated in a long time?
https://github.com/mozilla/testpilot/tree/l10n/locales/en-US

[2018-04-05 17:33] mathjazz commented on #3373
@flodolo @meandavejustice Pontoon is configured to use the [l10n](https://github.com/mozilla/testpilot/blob/l10n/locales/en-US/app.ftl) branch for Test Pilot.

[2018-04-05 17:36] lmorchard commented on #3373
Yeah, if we have strings to get localized, our process has roughly been:

1. finalize the strings on master, consider them "frozen"
1. merge master into l10n (FWIW, this is what the bi-weekly "TXP String Merge" event in the Test Pilot calendar is meant to remind us to do)
1. wait a week at least (if not two) for Pontoon commits to roll into l10n
1. merge l10n back into master (usually coinciding w

[2018-04-05 20:59] lmorchard opened #3476 "Integration tests are failing for add-on install on master & PR branches"
Looks like [integration tests for add-on install are failing on master and all current PR branches](https://circleci.com/gh/mozilla/testpilot/9070) - here are [some more detailed results](https://9070-40625180-gh.circle-artifacts.com/0/home/circleci/project/integration-test-results/ui-test-nightly.html).

We only run these tests for Nightly and skip on Release, so I'm not sure it's only limited to

[2018-04-06 17:17] ghost opened #3477 "Add master->l10n merging to the docs"
I'd be happy to help with this step, but I'm not sure how we do this.  Let's add it to the docs! :)

[2018-04-06 18:57] #3375 closed, assigned to nobody

[2018-04-07 09:07] Thilakeswar opened #3480 "Not able to sign in to my Mozilla account"
Not able to sign in to my mozilla account(yahoo domain) when I click on Sync option in Notes.

[2018-04-09 16:47] lmorchard commented on #3477
Got a bunch of pings on this in Slack from Friday, but I don't have a magic formula beyond basic merges between master and l10n. Suggestions welcome on a better process.

FWIW, we do also already have docs on the l10n-to-master side of this in the deployment docs:

https://github.com/mozilla/testpilot/blob/master/docs/development/deployment.md#merge-l10n

Here's a brain dump to expand from:

### G

[2018-04-09 18:55] meandavejustice commented on #3273
It sounds like this is still blocked by not having the string translated

[2018-04-09 19:17] meandavejustice commented on #2762
@ChenMorpheus Could you link the icon, the link you provided is just the list of icons and the closest one I can find in that list to your screenshots is "share 16 windows" which isn't quite right.

[2018-04-09 19:19] meandavejustice commented on #2762
Also "Link to English article" should be able to be translated

[2018-04-09 19:35] #3345 closed, assigned to nobody

[2018-04-09 22:29] meandavejustice commented on #3238
@johngruen can we review this, should have been fixed in the recent addon to webextension commit

[2018-04-10 05:23] ChenMorpheus commented on #2762
@meandavejustice Sorry that it hasn't been updated to the current design. Yes, the "Link to English article" should be able to be translated. Please refer to the link below for the updated measurement, and find the [icons](http://design.firefox.com/icons/viewer/) named "open in new 16" and "arrowhead right 16", thanks.

[News updates](https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/0

[2018-04-10 12:04] SoftVision-PaulOiegas commented on #3373
@flodolo to answer your question. Just resize the browser window until you cannot see the "Pick your experiments!" section on the Homepage.

![image](https://user-images.githubusercontent.com/17258026/38555904-882d73b2-3cd0-11e8-8c7e-0caf97a3b7dd.png)

When the issue was logged, we had the "Featured Experiment" area displayed. But there isn't any featured experiment right now. You can make that se

[2018-04-10 13:33] SoftVision-PaulOiegas commented on #3443
@dannycoates @meandavejustice this became worst now. As I've mentioned Thursday on Slack, now I cannot even build the add-on to test locally.

![image](https://user-images.githubusercontent.com/17258026/38558257-3368b62c-3cd8-11e8-95a6-406387303138.png)

Tried the next things:
1. Install the missing stuff locally
 - Installed ESLint locally `npm install eslint --save-dev eslint` + ESLint-plugin-fl

[2018-04-10 20:20] dannycoates commented on #3443
@SoftVision-PaulOiegas I want to help you with this. It'd probably be easiest over Vidyo. Ping me tomorrow morning if you have time. I'm available starting at 8am PDT

[2018-04-10 20:34] lmorchard commented on #3443
If this is *exactly* what you did, then there's an `npm install` missing after `git clone https://github.com/mozilla/testpilot && cd testpilot` and before `cd addon`. That would explain a lot of missing modules, if `npm install` was never run in the project root directory.

So to start a dev server:
[code]
And *then* you can try building the add-on - which, actually, I haven't tried on Windows in

[2018-04-10 21:06] lmorchard commented on #3443
Also, I just noticed in quickstart that [we mention](https://github.com/mozilla/testpilot/blob/master/docs/development/quickstart.md#for-windows-hosts) running `npm install` in the addon directory *before* `npm install` in the root project directory. That might be backward and need a tweak.

Additionally, the `package-win` command is no longer available and should probably be changed to just `pack

[2018-04-10 21:28] lmorchard commented on #3443
Also also, I think that with the bootstrap-based add-on, we tried to keep node_modules and package.json completely separate for the site and the add-on.

Now, I think the addon directory depends on the parent directory packages - especially when considering eslint and associated modules. So, we have to run `npm install` in the project directory before doing so in `addon` - the reverse of what quic

[2018-04-10 21:43] lmorchard commented on #3443
And for good measure, I just tried a fresh checkout on Windows. Main issue is that a) the addon package task failed on the mv command and b) webpack build on the web frontend failed on trying to copy the addon.xpi from npm package.

But, the dev server did start up for me and things worked. Here's an edited copy of from my PowerShell window:
[code]

[2018-04-11 01:20] #2762 closed, assigned to nobody

[2018-04-11 11:50] SoftVision-PaulOiegas commented on #3443
@lmorchard I see. In the past the order was not a problem, Donovan confirmed this. But as you've said, this only worked for the bootstraped version.

I've performed the steps in the correct order and the server did started, but now I hit the initial problem, where only the website background is loaded.

@dannycoates Thanks, but I will have to leave the remaining issue for Thursday. I have a medica

[2018-04-11 14:30] johngruen commented on #3474
I can poke at it, but idk

[2018-04-11 14:35] SoftVision-CosminMuntean commented on #3470
This version of Test Pilot was successful deployed to production.

[2018-04-11 14:35] #3470 closed, assigned to nobody

[2018-04-11 14:46] johngruen commented on #3474
It's hard to convey how much of a pain in the ass this was to fix :)

[2018-04-11 14:46] #3474 closed, assigned to nobody

[2018-04-11 15:02] johngruen commented on #1477
Nice!

[2018-04-11 15:06] johngruen commented on #3480
@Thilakeswar can you file this issue in the Notes repo: https://github.com/mozilla/notes/issues

[2018-04-11 15:06] #3480 closed, assigned to nobody

[2018-04-11 15:08] #3476 closed, assigned to nobody

[2018-04-11 15:08] #3468 closed, assigned to nobody

[2018-04-11 15:11] #3463 closed, assigned to nobody

[2018-04-11 15:14] chuckharmston commented on #3461
https://github.com/nfl/react-helmet

[2018-04-11 15:16] marniepw commented on #3459
@meandavejustice can you expand on details here?

[2018-04-11 15:23] marniepw commented on #3453
Add a loading spinner. Spinner in repo.

[2018-04-11 15:31] lmorchard commented on #3443
@SoftVision-PaulOiegas Are you seeing any errors in the JS console by chance? (Things are working okay for me on Win10)

[2018-04-11 15:31] marniepw commented on #3432
Closing as we no longer support v.56.

[2018-04-11 15:31] #3432 closed, assigned to nobody

[2018-04-11 15:57] #3384 closed, assigned to nobody

[2018-04-11 16:11] meandavejustice commented on #3436
@johngruen did you find anything out about this?

[2018-04-11 16:15] meandavejustice commented on #3234
Everything here is completed (in #3435) except the featured video metric, I had some security concerns about adding the youtube_iframe api. The issue tracking that is https://github.com/mozilla/testpilot/issues/3436

[2018-04-11 16:17] meandavejustice commented on #3459
@lmorchard The issue is with `web-ext lint`. It doesn't allow the version format that is generated by `update-version`

[2018-04-11 17:10] meandavejustice commented on #3443
I just pulled down another fresh copy when reviewing #3483, and everything worked smoothly.

[2018-04-11 17:21] dannycoates commented on #1477
:sad_trombone: https://bugzilla.mozilla.org/show_bug.cgi?id=1222633#c129

[2018-04-11 20:07] meandavejustice commented on #3436
Okay so after looking into this a bit more, here is where we are with this metric.

| Description                      | `eventAction`         | `eventLabel`                  | Custom Dimensions          |
| -------------------------------- | --------------------- | ----------------------------- | -------------------------- |
| Click Featured Experiment Video  | video click           | Play Featur

[2018-04-11 23:19] #3453 closed, assigned to dannycoates

[2018-04-12 14:53] fzzzy commented on #3459
We had a similar problem in side view:

https://github.com/mozilla/side-view/pull/138

Each portion of the version number must be less than 32767. We worked around this by using the following to get a unique version number for every hour of the year:

`Math.floor((Date.now() - new Date(new Date().getFullYear().toString()).getTime()) / 3600000)`

This only produces unique version numbers down to a

[2018-04-12 15:08] fzzzy commented on #3436
Using the yt api that allows getting the time played requires loosening the CSP to allow youtube.com to run inline-scripts. This would allow scripts running from youtube.com to access mozAddonManager. This would probably not pass security review.

[2018-04-12 16:39] lmorchard commented on #3459
FWIW, this might also be something to consider an upstream issue, if we consider this to be a valid version format for our own self-hosted add-on. (We basically do consider it valid, since we've been doing it this way for a very long time. But we could change our thinking on that.)

<strike>Also, I haven't seen what the exact error is yet - is it an *error* that fails the build? a noisy *warning*

[2018-04-12 17:23] lmorchard commented on #3459
TL;DR: We could use build time like side-view, though what I really wanted from the version was a stable value tied to the git commit or release tag.

If we *really* want to hack this, we could find a hashing function that converts a git commit hash into a decimal numeral (< 32767) for a version like `1.2.3dev18675` - and hope that that numeral doesn't collide between updates to the rest of the ve

[2018-04-12 17:35] dannycoates commented on #3318
mitigated by the loading spinner in #3484

[2018-04-12 17:35] #3318 closed, assigned to nobody

[2018-04-12 17:43] #3083 closed, assigned to johngruen

[2018-04-12 17:53] dannycoates commented on #3459
`gitHash.split('').sort().reverse().join('')` 😂

[2018-04-12 18:44] fzzzy commented on #3459
@lmorchard The limiter on the format is Google Chrome. web-ext lint just enforces what Google Chrome requires. It's not possible to turn it off with a directive. I think finding a hashing function that can generate < 32767 is a great idea!

[2018-04-12 19:28] dannycoates commented on #3459
Using my joke "hash" produces a version like `3.0.0devdba99510` which warn about it being Firefox specific, but passes.

[code]

@fzzzy im curious why chrome matters?

wouldn't taking the upper (or lower) 15bits of the git hash be just as effective? ala:
[code]

[2018-04-12 19:46] meandavejustice commented on #3436
I'd like to get this issue closed so that we can close #3234, it's the only bug left in the current milestone. We should be able to close this by just removing the reference to the featured video metric in `ga.js`.

[2018-04-12 19:57] fzzzy commented on #3459
@dannycoates Chrome doesn't matter to us, but that's why web-ext enforces the format it does.

[2018-04-12 19:58] johngruen commented on #3436
@meandavejustice  could do something where we could start a counter (probably incremented per session) on our end when a user starts a video and then dump that into the CD? We could manually add a field to yaml with the total video time if we wanted to report % in the CD

[2018-04-13 16:44] marniepw opened #3491 "Address state management"
State management is disorganized
 - We use redux, component state, cookies
 - It doesn’t seem like we’re using redux effectively

[2018-04-13 16:45] marniepw opened #3492 "Should we follow React Container/Presentation Component Guidelines?"
We break React Container/Presentation Component Guidelines a lot
 - Can we extract logic and state from the presentation components?

[2018-04-13 16:46] marniepw opened #3493 "Page initiallization happens in two places"
Page initialization is partially in `app/index.js` and `app/containers/App/index.js`

[2018-04-13 16:47] marniepw opened #3494 "Annotate App Container to Explain How It Works For Future Generations"
The App container has some stuff that might be better in utils.js or elsewhere (@dannycoates : details needed).

[2018-04-13 16:47] marniepw opened #3495 "Should we try using PureComponent more?"
Should we try using PureComponent more?

[2018-04-13 16:49] marniepw opened #3496 "Default state prerendering concerns"
The default state we prerender is the no-addon state whose header is much larger than the with-addon state which causes a worse UX for with-addon users on first page render. (Comments also in doc: https://docs.google.com/document/d/1dNptk8RArXlxWpfcHXrdIDVFDzbiNyk9Pljh5Y5-KXg/edit# )
 - Can we render a “null state” that has a smooth transition to either state?
 - Can get to where we can use React.

[2018-04-13 16:53] marniepw commented on #3496
Null state (first bullet, above) comments:
 - @johngruen : yeah, difficulty here is that l10n makes it hard to tell how tall the elements would be in advance. Again, page loaders are a totally reasonable (and widely used) solution to this problem. We already have a component just gathering dust :)
 - @lmorchard : Didn't we get a lot of vocal complaints when we had a load spinner, though? Didn't he

[2018-04-13 16:54] marniepw commented on #3496
React.hydrate (second bullet, above) comments:
- @lmorchard : Probably not entirely. One thing that will always catch us is when a timer ticks over on the client-side for graduating an experiment or hiding news items. When that content differs from the server static rendering, bad things happen
 - @ianb : Actually bad things? Or just a console warning?
 - @lmorchard : Bad things in applying virtua

[2018-04-13 16:55] marniepw opened #3497 "Some incomplete, missing, or unuseful flow type annotations"
Some incomplete, missing, or unuseful flow type annotations (details needed: @dannycoates )

[2018-04-13 17:01] marniepw opened #3498 "The page loads translations async, so non-english users see a flash of english"
- Can we make it sync?
 - Can we prerender and serve in other languages?
 - Can we just put the loader back again?

Comments also in doc: https://docs.google.com/document/d/1dNptk8RArXlxWpfcHXrdIDVFDzbiNyk9Pljh5Y5-KXg/edit#

[2018-04-13 17:01] marniepw commented on #3498
Sync comment (first bullet, above):
 - @lmorchard Not really, no. We can render all languages as static (the next point) but otherwise the best we ever managed was to obscure everything with a loader until after first JS render

[2018-04-13 17:03] marniepw commented on #3498
Prerender comment (second bullet, above):
 - @lmorchard : Sure, but need to restructure the site to include language in the URL (e.g. /en-US/) and render the site once for each supported locale https://github.com/mozilla/testpilot/issues/3008
 - @fzzzy : I've been arguing for this for a long time. I still think it is important.

[2018-04-13 17:03] marniepw commented on #3498
Loader comment (third bullet, above):
 - @johngruen I'm a broken record

[2018-04-13 17:24] #3477 closed, assigned to clouserw

[2018-04-13 19:05] dannycoates commented on #3498
fixed by #3484

[2018-04-13 19:05] #3498 closed, assigned to nobody

[2018-04-13 19:41] meandavejustice opened #3499 "[release] 2018-04-13 on stage"
Release notes: https://github.com/mozilla/testpilot/releases/tag/2018-04-13

http://testpilot.stage.mozaws.net/

[2018-04-16 13:03] SoftVision-PaulOiegas opened #3501 "Test Pilot add-on misses several details in "about:addons" page"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 3 prefs have been set or added on a new profile: "xpinstall.signatures.required = false", "testpilot.env = stage", "extensions.webapi.testing = true".

**[Steps to reproduce]:**
1. Open Firefox browser with the profile from prerequisites and naviga

[2018-04-16 13:24] SoftVision-CosminMuntean opened #3502 "Tour is no longer displayed when re-enabling a manually disabled experiment"
[Affected versions]:
- Firefox 59.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = stage" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Have Test Pilot add-on installe

[2018-04-16 13:37] SoftVision-PaulOiegas commented on #2866
Hammered the fix a bit, especially on the above cases and seems to be fixed now. 👍

[2018-04-16 14:01] SoftVision-PaulOiegas commented on #1477
@dannycoates Let me get this right. This was fixed but it doens't work because of upstream? I have just tested dev and it doen't seems to be working. The images display has a delay on first attempt, and only after it works as it should.

[2018-04-16 14:46] johngruen opened #3503 "Move Experiment Controls to Sidebar"
In order to simplify the layout of experiment detail pages and accommodate a wider variety of buttons, we should move the experiment controls to the sidebar per the below spec:

https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Mobile_experiment_integration/#artboard8

https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Mobile_experiment_integr

[2018-04-16 14:56] SoftVision-PaulOiegas commented on #3402
Seems ok, at least on Mac OS, where I can verify on local.

[2018-04-16 15:00] johngruen opened #3504 "Experiment Control UI"
It looks like we will have four experiment platforms soon, and we'll need to make sure that all combinations are accounted for when displaying Experiment Controls on different platforms. For example, if Send has a mobile app, there will need to be buttons to go to the site, get the app, and for a privacy link. If Notes as a mobile app, there will need to be buttons to go to install the add-on, get

[2018-04-16 15:17] johngruen opened #3505 "Experiment Control Button Precedence"
It looks like we will have four experiment platforms soon, and we'll need to make sure that all combinations are accounted for when displaying Experiment Controls on different platforms. For example, if Send has a mobile app, there will need to be buttons to go to the site, get the app, and for a privacy link. If Notes as a mobile app, there will need to be buttons to go to install the add-on, get

[2018-04-16 15:17] #3505 closed, assigned to nobody

[2018-04-16 15:23] johngruen opened #3506 "Experiment DetailsMobile and Responsive UI Updates"
Responsive Desktop View:
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Mobile_experiment_integration/#artboard4

iOS & Android:
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Mobile_experiment_integration/#artboard9
https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Mobile_experiment_integration/#artboard1

[2018-04-16 15:26] johngruen commented on #3504
One edge case, for experiments that are graduated but still installed, the Uninstall button should go in the same location as above

<img width="1085" alt="screen shot 2018-04-16 at 11 25 22 am" src="https://user-images.githubusercontent.com/3323249/38819272-f057a0ec-4168-11e8-801e-d4394508e0d6.png">

#3503

[2018-04-16 15:49] SoftVision-PaulOiegas commented on #3467
Works ok now. 👍

[2018-04-16 15:50] dannycoates commented on #3502
I did this on purpose

[2018-04-16 16:15] meandavejustice commented on #3506
getting 404s for all these links

[2018-04-16 16:24] johngruen opened #3507 "Get rid of the Test Pilot Promo on experiment details pages"
See #3504 and #3503
If we move experiment controls to the sidebar we can move the one click install component there as well. This removes the need for the Test Pilot Promo header for users w/o test pilot installed.

[2018-04-16 16:27] johngruen opened #3508 "Warning Bar for Non-Supported Mobile"
If We make an iOS experiment adn the user visits on Android (or vice versa) we should show them a warning.

https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Mobile_experiment_integration/#artboard6

[2018-04-16 16:44] johngruen opened #3509 "Implement Mobile Modals for Desktop Site"
If an experiment has a mobile component, we will surface that through a button that takes the user to a Modal giving them options to access the mobile experiment on their device or just go to the relevant app store.

https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Mobile_experiment_integration/#artboard0

Note:
This spec shows both email and SMS options. Firefox Marke

[2018-04-16 16:44] johngruen commented on #3509
@sevaan what happens in these modals if there's an iOS and an Android app?

[2018-04-16 17:11] meandavejustice commented on #3497
output from `flow-coverage-report --threshold 50 -i 'src/**/*.js'`

┌──────────────────────────────────────────────────────────────────┬────────────┬─────────┬───────┬─────────┬───────────┐
│ filename                                                         │ annotation │ percent │ total │ covered │ uncovered │
│ src/app/actions/addon.js                                         │       flow │   100

[2018-04-16 17:11] meandavejustice commented on #3495
https://reactjs.org/docs/react-api.html#reactpurecomponent

[2018-04-16 17:34] #3459 closed, assigned to meandavejustice

[2018-04-16 18:47] #3461 closed, assigned to dannycoates

[2018-04-16 19:54] johngruen commented on #3506
@meandavejustice should be fixed

[2018-04-16 19:56] johngruen commented on #3507
As in, nuke this:

<img width="1299" alt="screen shot 2018-04-16 at 3 56 16 pm" src="https://user-images.githubusercontent.com/3323249/38831874-c041d47e-418e-11e8-87d9-56808c001297.png">

[2018-04-17 09:18] Softvision-AndreeaCupsa opened #3510 "Switching to a website tab while enabling an experiment, breaks the enabling process"
**[Affected versions]:**
- Firefox 59.0.2 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile:
	- "extensions.legacy.enabled = true"
	- "xpinstall.signatures.required = false"
	- "testpilot.env = stage"
	- "extensions.webapi.testing = true"
	- "extensions.install.requireBuiltInCerts = false".
- Have

[2018-04-17 12:04] SoftVision-PaulOiegas commented on #3318
Works like a charm. 👍

[2018-04-17 13:05] SoftVision-PaulOiegas commented on #3499
Hey guys,

After our run of the Full Functional suite on the **Stage** server, we had an **89%** pass rate with new issues found **5%**, known issues found (4%) and several functionality not available (2%).
Here are the test results for the staging server testing performed on Monday and Tuesday:

### **Legend** ###
&#x1F4D5; - major issue
&#x1F4D9; - normal issue
&#x1F4D2; - minor issue
&#x1F4D7;

[2018-04-17 13:07] Softvision-AndreeaCupsa commented on #3510
After performing further investigations, this seems to be a upstream issue due to a change occured in Nightly. After searching for regression window, I have found that this is caused by  [Bug 1446686](https://bugzilla.mozilla.org/show_bug.cgi?id=1446686).

[2018-04-18 19:01] dannycoates commented on #3397
@johngruen What if we always have it to the side? Then it doesn't overlap anything.

<img width="814" alt="screen shot 2018-04-18 at 11 57 18 am" src="https://user-images.githubusercontent.com/87619/38952284-e97b7f8a-42ff-11e8-8411-52378196dfe4.png">

[2018-04-18 20:32] ghost commented on #3510
Thanks for finding that upstream bug.  We're going to close this as we don't see it as a big deal.

[2018-04-18 20:32] #3510 closed, assigned to nobody

[2018-04-18 20:34] ghost commented on #3502
this is by design

[2018-04-18 20:34] #3502 closed, assigned to nobody

[2018-04-18 20:35] #3499 closed, assigned to nobody

[2018-04-18 20:38] ghost commented on #3497
This is a good first issue.  If you're interested in working on this, just make a PR for a few files and we can commit it in steps, no need to make one giant PR.  Thanks

[2018-04-18 20:39] ghost commented on #3496
closing in favor of #3507

[2018-04-18 20:39] #3496 closed, assigned to nobody

[2018-04-18 20:40] #3495 closed, assigned to nobody

[2018-04-18 20:41] ghost commented on #3494
Lets just add some good comments for what is there and then close this

[2018-04-18 20:46] ghost commented on #3443
@SoftVision-PaulOiegas we can't reproduce this, so closing.  reopen if there is more to do here. thanks

[2018-04-18 20:46] #3443 closed, assigned to dannycoates

[2018-04-18 20:55] ghost commented on #3457
We don't use this package anymore.  Let's remove it and remove the docs

[2018-04-18 20:58] ghost commented on #2504
We're going to close this.  There is more info at #3497

[2018-04-18 20:58] #2504 closed, assigned to nobody

[2018-04-18 21:01] ghost commented on #2560
This will be fixed with the new mobile issues #3504

[2018-04-18 21:01] #2560 closed, assigned to nobody

[2018-04-18 21:02] ghost commented on #2772
closing in favor of #3497

[2018-04-18 21:02] #2772 closed, assigned to nobody

[2018-04-18 21:05] ghost commented on #2946
Still waiting on v2.  No updates since last October.

[2018-04-18 21:08] ghost commented on #3226
closing in favor of other mobile issues

[2018-04-18 21:08] #3226 closed, assigned to nobody

[2018-04-18 21:12] ghost commented on #3320
We've decided not to invest time in fixing this

[2018-04-18 21:12] #3320 closed, assigned to nobody

[2018-04-18 21:12] marniepw opened #3512 "Remove News Feed"
Do eeet.

John, fill out details.

[2018-04-18 21:13] ghost commented on #3106
Let's just add min-width for whatever this is in en-US

[2018-04-18 21:14] #3221 closed, assigned to nobody

[2018-04-18 21:14] #3224 closed, assigned to nobody

[2018-04-18 21:14] ghost commented on #3274
closing in favor of #3504

[2018-04-18 21:14] #3274 closed, assigned to nobody

[2018-04-18 21:15] ghost commented on #3398
Closing in favor #3512

[2018-04-18 21:15] #3398 closed, assigned to nobody

[2018-04-18 21:16] ghost commented on #3338
closing in favor of #3512

[2018-04-18 21:16] #3338 closed, assigned to nobody

[2018-04-18 21:16] ghost commented on #3340
closing in favor of #3225

[2018-04-18 21:16] #3340 closed, assigned to nobody

[2018-04-18 21:17] lmorchard commented on #2820
Added a lifecycle rule for this, though I haven't seen it take effect yet:

![capture](https://user-images.githubusercontent.com/21687/38958824-5e278a32-432c-11e8-846e-6e504a05a966.PNG)

[2018-04-18 21:18] ghost commented on #3367
closing in favor of #3397

[2018-04-18 21:18] #3367 closed, assigned to nobody

[2018-04-18 21:19] lmorchard commented on #2820
Going to close this - I see that these rules happen once a day, so I'll check back tomorrow and reopen if it hasn't happened.

[2018-04-18 21:19] #2820 closed, assigned to lmorchard

[2018-04-18 21:22] ghost commented on #2583
closing in favor of #3512

[2018-04-18 21:22] #2583 closed, assigned to nobody

[2018-04-18 21:27] ghost commented on #2773
One of our goals this quarter is to stop working on the Test Pilot site and focus on experiments.  Due to the large engineering changes this would need and the relatively few strings we have (1-3 new experiments per quarter?) we've decided to wontfix this.

[2018-04-18 21:27] #2773 closed, assigned to nobody

[2018-04-19 14:51] SoftVision-PaulOiegas commented on #3512
Wait what? Why?

![806c79e65040440fff1843be392945fa014a250bc09d168b2525289cbbb84d16](https://user-images.githubusercontent.com/17258026/38999367-4f47bd9c-43fa-11e8-85e9-81311be38799.jpg)

[2018-04-19 16:45] lmorchard commented on #2820
Circled back to check today and things look good. The oldest objects are from late January, and the list of per-commit build directories are down by about half.

[2018-04-19 18:53] teonbrooks commented on #3436
@meandavejustice, if we can't get the duration, I think having the action of starting the video would be useful to know. you mentioned that this doesn't require instrumenting any of the yt api, correct?

[2018-04-20 11:27] piyushmittal25 commented on #3376
Can i take care of this issue?:)

[2018-04-20 13:57] ghost commented on #3376
@piyushmittal25 please go ahead.

[2018-04-20 15:04] johngruen commented on #3436
@teonbrooks yeah we could at least record click events on the video

[2018-04-20 16:55] dannycoates opened #3515 "Add-on asks for too many permissions"
The add-on asks for permission to all the sites we develop on: example.com ... testpilot.firefox.com.

Production should only ask for the production url.

[2018-04-23 09:41] SoftVision-PaulOiegas commented on #3503
@johngruen Since designs are based on Send which is the only experiment that is different from the default add-on ones, I have a few questions in mind for the add-on type experiments that will be launched next:
1. Will the "Enable/Disable experiment" button also be moved on the left for the Firefox add-on experiments?
2. Since we are loosing the top promo part on the details page, the "Install Tes

[2018-04-23 12:36] SoftVision-PaulOiegas commented on #3443
@wresuolc sadly it still reproduces for me both at work and at my home on different machines.

@dannycoates offered to help but due to timezone differences it was hard to find a proper time to debug this further. I'll try to find a moment to discuss with him on this matter and we'll reopen this only if there is an issue on Test Pilot side that is causing this behavior on my end...

[2018-04-23 13:19] SoftVision-PaulOiegas commented on #3461
Seems to be working well now. 👍

[2018-04-23 14:32] johngruen commented on #3503
Yes

Yes, see #3504

That looks like it was left out of the spec...note for @dannycoates or @meandavejustice or whoever implements, don't worry about other sidebar sections right now.

No, we can rip that sticky scrollbar out too

See #3504

[2018-04-23 15:08] SoftVision-PaulOiegas commented on #3503
@johngruen Thanks for clarifications, haven't properly understood the #3504 description when I first read it. Makes more sense now.

[2018-04-23 18:09] dannycoates commented on #3225
with strings this isn't going to make this sprint

[2018-04-23 19:29] #3397 closed, assigned to dannycoates

[2018-04-23 19:41] #3106 closed, assigned to dannycoates

[2018-04-24 11:58] johngruen commented on #3234
Okay, let's go ahead and verify/close this

[2018-04-25 18:04] #3501 closed, assigned to meandavejustice

[2018-04-25 18:19] lmorchard opened #3519 "Storybook builds are failing without failing CircleCI builds"
Two problems:
1. Storybook builds are failing with an error
1. This error isn't recognized by CircleCI as a failure of the build stage

The first should probably be fixed along with the second, so that we get proper awareness of Storybook build failures.

An example: https://circleci.com/gh/mozilla/testpilot/9687

Relevant error output under "Storybook Deploy":
[code]

[2018-04-25 18:25] lmorchard commented on #3519
At a quick guess, this is probably related to [my changes to move CSS fully into webpack](https://github.com/mozilla/testpilot/pull/3426/files#diff-1f5c2f0f3cd2018239cc9819551e5693L202) where `static/styles/main.css` stopped getting generated.

So, switching that from `static/styles/main.css` to `static/app/app.css` in [storybook config](https://github.com/mozilla/testpilot/blob/master/.storybook/

[2018-04-25 22:40] dannycoates commented on #3507
@sevaan could you spec up what the one-click install should look like with the side controls from #3503? I tried just putting the existing green button there but it looks horrible. #3504 says we'll also need the legal text also. Thanks :)

I assume the button will need to handle all the special cases as well, like non-firefox and outdated.

[2018-04-25 22:43] dannycoates commented on #3508
It'll be easier to put the warning under the experiment icon like enabled in #3517. @johngruen ok?

[2018-04-25 22:55] dannycoates commented on #3504
<img width="794" alt="screen shot 2018-04-25 at 3 53 10 pm" src="https://user-images.githubusercontent.com/87619/39277127-211e650a-48a1-11e8-8bef-c8f13c83f484.png">

[2018-04-26 08:59] SoftVision-PaulOiegas opened #3520 "[about:addons] Environment selector wrongly jumps back to "Local" no matter what environment si selected and saved"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 4 prefs have been set or added on a new profile: `xpinstall.signatures.required` = `false`, testpilot.env` = `dev`, `extensions.webapi.testing` = `true` and `extensions.install.requireBuiltInCerts` = `false`
- Test Pilot add-on was already installe

[2018-04-26 09:34] SoftVision-PaulOiegas opened #3521 "The dev TxP add-on version wrongly updates to the production version"
**[Affected versions]:**
- Firefox 59.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 4 prefs have been set or added on a new profile: `xpinstall.signatures.required` = `false`, testpilot.env` = `dev`, `extensions.webapi.testing` = `true` and `extensions.install.requireBuiltInCerts` = `false`

**[Steps to reproduce]:**
1. Open Firef

[2018-04-26 12:25] johngruen commented on #3504
wfm

[2018-04-26 15:49] marniepw commented on #3521
@clouserw any concerns here before today's deploy to stage?

[2018-04-26 16:10] ghost commented on #3521
No, I think we should still deploy to stage, because that's cheap.  If the add-on changed (in an important way) in the last two weeks, we should get this fixed before it goes live though.

[2018-04-26 16:11] ghost commented on #3521
Looking at the commit history, I don't think anything important has changed in this sprint

[2018-04-26 16:13] marniepw commented on #3521
Sounds like it's not a huge issue, per @meandavejustice. In slack he said "we'll just need to update the addon version before pushing"

[2018-04-26 20:21] dannycoates commented on #3506
What are we going to do about the modals? They're too wide.

[2018-04-26 20:43] dannycoates opened #3522 "[release] 2018-04-26 on stage"

[2018-04-27 14:59] SoftVision-CosminMuntean opened #3523 "Barberpole animation along with "Installing" text are no longer displayed for Test Pilot installation"
[Notes]:
- The issue is not reproducible for the "Install Test Pilot & Enable [experiment_name]" button from an experiment page.

[Affected versions]:
- Firefox 59.0.2 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.e

[2018-04-30 14:44] SoftVision-CosminMuntean commented on #3522
Hi guys,

We have finalized running our Full Functional test suite on the Staging server and here are the testing results:

### **Legend** ###
&#x1F4D5; - major issue
&#x1F4D9; - normal issue
&#x1F4D2; - minor issue

## New Issues ##
1. #3523 - &#x1F4D9; Barberpole animation along with "Installing" text are no longer displayed for Test Pilot installation

## Known Issues ##
1. #3390 - &#x1F4D9; [N

[2018-04-30 16:25] johngruen commented on #3506
Will bring this up in today's design mtg

[2018-04-30 16:29] SoftVision-CosminMuntean commented on #3521
I have retested this issue on Test Pilot dev server and the issue is no longer reproducible.

[2018-04-30 16:29] #3521 closed, assigned to nobody

[2018-04-30 18:32] dannycoates commented on #3507
I suggest we keep the promo for non-firefox and outdated firefox case while one-click should move to the sidebar.

[2018-04-30 18:47] sevaan commented on #3507
Button plus legal in the sidebar:

<img width="341" alt="image" src="https://user-images.githubusercontent.com/473531/39444348-659d8bd8-4c85-11e8-8080-10ccb7925750.png">

I removed the border of the button, and matched the width of the other buttons in there. Legal text has been moved to that grey area and is 11px in size, #000000

I agree. The "Download Firefox" button doesn't make much sense in

[2018-05-01 16:29] calvinarchil opened #3526 "Error message"
I can't view any of the site. it just says "Something went wrong" and no matter where I go on testpilot.firefox.com it shows the same error message and says to report it on GitHub.

[2018-05-01 17:38] pdehaan commented on #3526
@calvinarchil What browser/OS are you using?
I was unable to reproduce the error in Firefox Nightly, Firefox Beta, or Google Chrome (release channel) on macOS.

[2018-05-02 08:37] johngruen commented on #3508
WFM

[2018-05-02 08:41] johngruen commented on #3508
bumping @sevaan just so he's aware

[2018-05-02 11:35] dominictwlee commented on #3316
I'll give this a go if no one else is working on it.

[2018-05-02 13:40] sevaan commented on #3508
Thanks. Below the icon is great.

[2018-05-02 13:41] sevaan commented on #3508
![image](https://user-images.githubusercontent.com/473531/39526526-0139eba0-4ded-11e8-8904-aae0057dcd2a.png)

[2018-05-02 13:59] johngruen commented on #3526
@calvinarchil do you have resist fingerprinting enabled?

https://github.com/mozilla/testpilot/blob/master/docs/faq.md#why-is-test-pilot-telling-me-that-something-went-wrong

[2018-05-02 14:50] #3523 closed, assigned to nobody

[2018-05-02 16:22] SoftVision-CosminMuntean commented on #3523
The issue is no longer reproducible on Test Pilot dev version. Tested on Windows 7 x64, Mac 10.13 and Ubuntu 14.04.

[2018-05-02 20:16] #3503 closed, assigned to dannycoates

[2018-05-02 20:16] #3507 closed, assigned to dannycoates

[2018-05-02 21:12] dannycoates commented on #2612
Unfortunately fluent-react doesn't play nice with react-helmet. I suggest WONTFIX

[2018-05-02 21:13] dannycoates commented on #3344
fixed in #3517

[2018-05-02 21:13] #3344 closed, assigned to nobody

[2018-05-02 21:14] dannycoates commented on #3273
fixed in #3517

[2018-05-02 21:14] #3273 closed, assigned to nobody

[2018-05-02 22:07] meandavejustice opened #3527 "review l10n ids for UpdateList component"
Update List is rarely shown, only when:
* addon is installed
* no featured experiment
* there are updates to show
So it's easily overlooked.

Seems like some l10n ids were maybe wrongly deleted.

[2018-05-03 08:54] SoftVision-PaulOiegas commented on #3316
@dominictwlee of course, you can have it!. 👍 However, please take into consideration that this button is displayed in a section that is temporarily hidden right now. In order to have it displayed, you need to edit, for example, the `notes.yaml` file at the `featured` code line from `no` to `yes`.

[2018-05-03 11:04] dominictwlee commented on #3316
This is more challenging for me than I initially anticipated. I assume that the focus state should be kept in the CSS files for keyboard accessibility so I won't mess with that.

This leads me to think that I have to tinker with the MainInstallButton component, perhaps modifying the styles towards the end of the "install" function
![screenshot from 2018-05-03 12-13-33](https://user-images.githubus

[2018-05-03 11:19] SoftVision-PaulOiegas commented on #3316
@dannycoates @meandavejustice ^

[2018-05-03 14:40] SoftVision-PaulOiegas opened #3530 "The "Install the Tes Pilot Add-on" green button is no longer displayed on experiment details page for a previously enabled experiment"
**[Affected versions]:**
- Firefox 59.0.3 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 4 prefs have been set or added on a new profile: `xpinstall.signatures.required` = `false`, testpilot.env` = `dev`, `extensions.webapi.testing` = `true` and `extensions.install.requireBuiltInCerts` = `false`
- Test Pilot and Notes add-ons were alre

[2018-05-03 15:29] SoftVision-PaulOiegas commented on #3507
The area was correctly removed without affecting any page functionality. 👍

[2018-05-03 17:17] #3512 closed, assigned to johngruen

[2018-05-03 17:58] dannycoates commented on #3316
I can't reproduce this on master anymore. I think it was fixed in #3440

[2018-05-03 18:00] dannycoates commented on #3530
it's a feature ;)

[2018-05-03 20:17] meandavejustice commented on #3437
@sevaan  any progress on this here?

[2018-05-04 10:55] SoftVision-PaulOiegas commented on #3316
@dannycoates still reproduces on Windows and Linux as mentioned in comment 0, while it works on MacOS. We're you checking on MacOS?

However, it seems that most of the website buttons are showing the same behavior on Windows and Linux. ("Install", "Enable/Disable", "Get Started", "Sign Up Now", etc). Maybe I should adapt this one as a general issue to fix all of them at once?

[2018-05-04 11:10] SoftVision-PaulOiegas commented on #3510
Andreea filed an upstream issue [#1455269](https://bugzilla.mozilla.org/show_bug.cgi?id=1455269) for this behavior since it was reproducing also with AMO add-ons.
Was triaged and marked as P2 by the add-ons devs. We'll recheck once it's fixed.

[2018-05-04 13:41] sevaan commented on #3437
I made a little progress but have held off as this may be a piece of work our new intern will work on as an easy thing to start on.

[2018-05-04 14:25] SoftVision-PaulOiegas commented on #3512
![i-didnt-delete-9xbegk](https://user-images.githubusercontent.com/17258026/39633260-1df47cb8-4fc0-11e8-85de-4437063dbbb5.jpg)

[2018-05-04 20:16] meandavejustice commented on #3457
`testpilot-metrics` repo deprecated/archived, metrics reviewed in #3533

[2018-05-04 22:45] dannycoates commented on #3506
Can we do something different with the platform list? Multiple icons is fine, but constructing sentences for all the possible combinations (and localizations) makes by brain hurt.

Maybe just "Available on: 🌐 🍎 🤖"?

<img width="237" alt="screen shot 2018-05-04 at 3 36 01 pm" src="https://user-images.githubusercontent.com/87619/39655878-139d0a3c-4fb1-11e8-8347-6c1a31899730.png">

[2018-05-05 17:08] #3457 closed, assigned to meandavejustice

[2018-05-07 11:27] johngruen commented on #3506
Yeah, seems reasonable to me...stay tuned.

[2018-05-07 18:07] dannycoates commented on #3506
so we have l10n for mobile/web/addon already, but not ios and android specifically. If we don't need icons for them specifically I think we're already good.

[2018-05-07 18:16] dannycoates commented on #3234
video clicks won't be tracked by the page.

https://github.com/mozilla/testpilot/pull/3534#issuecomment-387153586

[2018-05-07 18:16] #3234 closed, assigned to johngruen

[2018-05-07 18:17] dannycoates commented on #3436
video clicks won't be tracked by the page.

https://github.com/mozilla/testpilot/pull/3534#issuecomment-387153586

[2018-05-07 18:17] #3436 closed, assigned to meandavejustice

[2018-05-07 18:51] dannycoates commented on #3508
stupid question: do we really need a warning label when the download buttons are branded & platform specific?

[2018-05-07 18:58] dannycoates commented on #3509
do we have evidence that these modals work? (I assume so, I'm just curious what the success rate is)

[2018-05-07 19:05] dannycoates commented on #3504
I need assets for the app store buttons. @sevaan pointed me to the ios ones.  Do we need to worry about l10n of the buttons?

[2018-05-08 08:56] SoftVision-PaulOiegas commented on #3508
You will be amazed of the logic of some people that are reviewing apps. 😆

[2018-05-08 12:43] SoftVision-PaulOiegas opened #3536 "Dev website uses wrong font across all its pages"
**[Affected versions]:**
- Firefox 59.0.3 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 4 prefs have been set or added on a new profile: `xpinstall.signatures.required` = `false`, testpilot.env` = `dev`, `extensions.webapi.testing` = `true` and `extensions.install.requireBuiltInCerts` = `false`

**[Steps to reproduce]:**
1. Open Firef

[2018-05-08 12:46] SoftVision-PaulOiegas commented on #3463
No longer applies since the News Feed page will be removed soon also on Production.

[2018-05-08 16:45] lmorchard commented on #3536
Not sure why, but it looks like CSP is blocking loading of all the fonts

![capture](https://user-images.githubusercontent.com/21687/39770649-9b6d7cda-52bd-11e8-8642-53a88e1107cb.PNG)

[2018-05-09 15:06] johngruen commented on #3530
I think we could add the install TxP button back to the sidebar?

[2018-05-09 15:09] #3526 closed, assigned to nobody

[2018-05-09 15:09] #3522 closed, assigned to nobody

[2018-05-09 15:10] #2612 closed, assigned to nobody

[2018-05-09 16:50] ghost commented on #3194
The link on line 9 works now, and the instructions that Paul wrote in #3156 were already added to the quickstart doc.  Closing this.

[2018-05-09 16:50] #3194 closed, assigned to clouserw

[2018-05-09 16:53] dannycoates commented on #3530
<img width="931" alt="screen shot 2018-05-09 at 9 51 15 am" src="https://user-images.githubusercontent.com/87619/39828115-cbefaaac-536e-11e8-81a5-307e0040bc51.png">

part of #3535

[2018-05-09 17:35] ghost commented on #3079
Alright, this is from last year, so I'm trying to interpret it.  We have two docs that are related to what this issue is talking about:

https://github.com/mozilla/testpilot/blob/master/docs/development/quickstart.md
https://github.com/mozilla/testpilot/blob/master/docs/development/testing.md

Quickstart addresses the npm commands above.  Testing.md talks about setting up the integration tests.  Y

[2018-05-09 17:35] #3079 closed, assigned to clouserw

[2018-05-09 17:38] ghost commented on #3017
The Tox dependency is documented now.  It looks like the flow coverage threshold has been set to 50% in the `flow-coverage` command and it no longer warns about being too low:

So, I think this is fine to close as well.  If there is anything missing please open a new issue.  Thanks!

[2018-05-09 17:38] #3017 closed, assigned to clouserw

[2018-05-09 19:12] #3504 closed, assigned to dannycoates

[2018-05-09 19:12] #3506 closed, assigned to nobody

[2018-05-09 19:31] #3527 closed, assigned to meandavejustice

[2018-05-09 19:37] meandavejustice commented on #1906
Came across [this article](https://hacks.mozilla.org/2015/09/building-rtl-aware-web-apps-and-websites-part-1/) today on mdn which looks pretty helpful. I think the way forward is to detect whether or not the user is using a rtl lang, and set the `dir` attribute on the html document and target it with `html[dir="ltr"]` selector in our css. We don't have a terrible amount of text surface area, so I

[2018-05-09 19:37] #3530 closed, assigned to nobody

[2018-05-09 19:39] meandavejustice commented on #1906
Additionally, based on manually testing for `ar` on testpilot prod site, we aren't supporting arabic right now. Maybe our translation percentage fell below the threshhold at some point?

[2018-05-09 19:43] meandavejustice commented on #1935
I say we close this, the footer links match the translations of the page content.

[2018-05-09 19:47] meandavejustice commented on #3373
![mas-exp](https://user-images.githubusercontent.com/1844554/39836059-b571c3c0-53c1-11e8-8bec-99de0e3c8662.png)
string has been translated

[2018-05-09 19:47] #3373 closed, assigned to nobody

[2018-05-09 19:58] meandavejustice commented on #3064
We no longer have a share page, closing

[2018-05-09 19:58] #3064 closed, assigned to nobody

[2018-05-10 14:00] SoftVision-PaulOiegas commented on #3536
Seems to be fixed on dev, verified both Windows and Mac OS. 👍

[2018-05-10 14:50] SoftVision-PaulOiegas opened #3541 "[Experiment details] TxP install button ends into a wrong state and page shows a wrong error if you cancel add-on install while experiment is already enabled"
**[Affected versions]:**
- Firefox 59.0.3 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 4 prefs have been set or added on a new profile: `xpinstall.signatures.required` = `false`, testpilot.env` = `dev`, `extensions.webapi.testing` = `true` and `extensions.install.requireBuiltInCerts` = `false`
- Test Pilot and Notes add-ons were alre

[2018-05-10 15:20] SoftVision-PaulOiegas opened #3542 "The TxP install buttons from experiment details page no longer have an "Installing..." state other than the barberpole animation"
**[Affected versions]:**
- Firefox 59.0.3 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 4 prefs have been set or added on a new profile: `xpinstall.signatures.required` = `false`, testpilot.env` = `dev`, `extensions.webapi.testing` = `true` and `extensions.install.requireBuiltInCerts` = `false`

**[Steps to reproduce]:**
1. Open Firef

[2018-05-10 15:22] SoftVision-PaulOiegas commented on #3530
Uuu, looks sexy. But sadly, we have a couple of issues with it (#3541 and #3542) that I have logged separately so I can mark this as done.

[2018-05-10 15:49] SoftVision-PaulOiegas commented on #1935
@meandavejustice this still reproduces on all servers, and now it's even worse. It's displayed in [en] even on several pages that are translated now.

See the recording https://goo.gl/JmCCBS.

[2018-05-10 20:14] #3541 closed, assigned to nobody

[2018-05-10 20:26] dannycoates commented on #3541
We don't have an error message for just the main addon failing so I went with the status quo of no error message and returning to the previous button state.

[2018-05-10 21:30] #3310 closed, assigned to johngruen

[2018-05-11 09:06] SoftVision-PaulOiegas commented on #3541
That was the right choice removing the error message for when the experiment is already enabled. And now the flow when only TxP needs install, correctly works. 👍

However, I think we should have kept the error message for the complete flow when user makes the combo install. It seems right to display that Notes could not be enabled if one of the 2 installs fails or is canceled. I'll log something s

[2018-05-11 09:38] SoftVision-PaulOiegas opened #3544 "[Experiment details] Add back the experiment enable error when installing both TxP add-on and experiment"
**[Notes]:**
- The error message was wrongly removed for both cases when installing TxP add-on alone and in combination with an experiment. We should keep the error for the case when in combination with an experiment.

**[Affected versions]:**
- Firefox 59.0.3 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 4 prefs have been set or adde

[2018-05-11 09:39] SoftVision-PaulOiegas commented on #3541
Here it is #3544.

[2018-05-11 09:41] SoftVision-PaulOiegas commented on #3542
Sorry but it seems you only implemented this for the case when you only need to install TxP add-on alone. The case where you install TxP in combination with an experiment still misses the "Installing..." state.

[2018-05-11 13:11] SoftVision-CosminMuntean opened #3545 ""Install Test Pilot & Enable [experiment_name]" button is wrongly displayed on past experiment pages"
[Affected versions]:
- Nightly 62.0a1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = stage" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

[Steps to reproduce]:
1. Open Firefox w

[2018-05-11 14:17] SoftVision-CosminMuntean opened #3546 "The "information" link in the "Telemetry and Browser Data" section from "Privacy" page wrongly redirects to a 404 page"
[Affected versions]:
- Nightly 62.0a1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = stage" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".

[Steps to reproduce]:
1. Open Firefox w

[2018-05-11 14:31] SoftVision-PaulOiegas commented on #3545
Yep, the mobile version seems "OK" also. 😄 Managed to install TxP and Voice Fill. Sadly they were not working, Voice Fill just redirected me to Google.

![screenshot_20180511-171546](https://user-images.githubusercontent.com/17258026/39930266-ed17dc88-5542-11e8-9bcf-fb51271d20ee.png)

[2018-05-11 15:01] SoftVision-PaulOiegas commented on #3373
@flodolo Am I the only one who thinks the French translation is wrong for this button? Could be other languages too.
"Davantage d'expériences"

I'm not a native French speaker, did some years in school only. But I think there is a clear difference between experiment and experience even in French. 🤔

[2018-05-11 15:11] flodolo commented on #3373
Can you provide a screenshot of French? I don't see one in the discussion (also cc @TheoChevalier)

[2018-05-11 15:15] SoftVision-PaulOiegas commented on #3064
@meandavejustice @johngruen Now, I'm not sure if we care so much about this. But if we do, the bug is still valid even without the share page. Copying the Test Pilot website URL and pasting it in a Facebook  post/comment, transforms it in the same image that is outdated.

![screenshot-2018-5-11 34 facebook](https://user-images.githubusercontent.com/17258026/39931860-4e10a6f6-5547-11e8-8882-c42b363

[2018-05-11 15:21] SoftVision-PaulOiegas commented on #3373
Sure, here it is. This one is from my Android device, but you can simulate it in the browser by reducing the vertical size of the window while on Test Pilot website, until it appears.

![screenshot_20180511-181659](https://user-images.githubusercontent.com/17258026/39932081-d8ef2e5a-5547-11e8-8b21-30430372b9ec.png)

[2018-05-11 16:05] TheoChevalier commented on #3373
Expérience can have several meanings, but this example may help to understand how it’s used here https://www.linguee.com/french-english/translation/mener+une+exp%C3%A9rience+scientifique.html (conduct a science experiment)

[2018-05-11 16:21] #3545 closed, assigned to nobody

[2018-05-11 16:27] #3542 closed, assigned to nobody

[2018-05-14 08:16] SoftVision-PaulOiegas commented on #3373
Hi @TheoChevalier I was aware that, "expérience" word can be used also in "experiment" case. I just felt that in this case was not so fit.
Anyway, you are the expert. I don't think there's a point in arguing about this, since it's such a small thing. Thanks for clarifying! 😃

[2018-05-14 09:21] SoftVision-CosminMuntean commented on #3545
I have retested this and the issue is no longer reproducible on latest version of Test Pilot from dev and stage servers.

[2018-05-14 12:59] SoftVision-PaulOiegas opened #3547 "[Android] "TxP & experiment enable" buttons wrongly displayed for Firefox experiments"
**[Affected versions]:**
- Firefox 60.0 and above

**[Affected Platforms]:**
- Android 7.0

**[Prerequisites]:**
- Following 4 prefs have been set or added on a new profile: `xpinstall.signatures.required` = `false`, testpilot.env` = `dev`, `extensions.webapi.testing` = `true` and `extensions.install.requireBuiltInCerts` = `false`

**[Steps to reproduce]:**
1. Open Firefox browser and navigate to

[2018-05-14 13:12] SoftVision-PaulOiegas opened #3548 "[Mobile] The new experiment bar logo from experiment details page breaks the UI on mobile devices"
**[Affected versions]:**
- Firefox 60.0 and above

**[Affected Platforms]:**
- Android 7.0
- iOS .x

**[Prerequisites]:**
- [Android only] Following 4 prefs have been set or added on a new profile: `xpinstall.signatures.required` = `false`, testpilot.env` = `dev`, `extensions.webapi.testing` = `true` and `extensions.install.requireBuiltInCerts` = `false`

**[Steps to reproduce]:**
1. Open Firefox

[2018-05-14 14:11] johngruen commented on #3508
I mean, this is like what, 30 minutes of work?

[2018-05-14 14:14] sevaan commented on #3508
I do like the explicitness of the bar.

[2018-05-14 14:30] SoftVision-PaulOiegas opened #3549 "Make it possible to show both Mobile OS icons for apps that support both"
**[Affected versions]:**
- Firefox 60.0 and above

**[Affected Platforms]:**
- Android 7.0

**[Prerequisites]:**
- Following 4 prefs have been set or added on a new profile (on each device): `xpinstall.signatures.required` = `false`, `testpilot.env` = `dev`, `extensions.webapi.testing` = `true` and `extensions.install.requireBuiltInCerts` = `false`

**[Steps to reproduce]:**
1. Open Firefox browse

[2018-05-14 16:34] dannycoates commented on #3547
Are you sure this is a regression? There hasn't been any changes to the card button in months. What does production do?

[2018-05-14 18:03] #3548 closed, assigned to nobody

[2018-05-14 18:31] fzzzy commented on #3287
I don't think there's a clear path forward to implement this. It should be moved to the backlog.

[2018-05-14 19:34] meandavejustice commented on #3225
@youwenliang Can i get icons for github, twitter, and youtube. I am both going off of the above design but modifiying a bit to match footers across other mozilla properties(ie: https://www.mozilla.org/en-US/firefox/mobile/)

[2018-05-14 20:09] SoftVision-PaulOiegas commented on #3547
@dannycoates Indeed, it seems to be something that we have for some times now. The production server looks the same when it comes to the card button.
However, I'm sure that the button should look differently because it was one of my proposed enhancements to show "Learn More" button instead for unsupported platforms.

Still, when we fix this, we might want to take into consideration that we'll have

[2018-05-14 20:11] dannycoates commented on #3547
To answer my own questions, Dave showed me prod on mobile ff android, the install button part is a regression that I'll fix asap, while 'Get Started' (still a bug, just not new) can be fixed later.

[2018-05-14 20:20] ghost commented on #3494
@fzzzy said he'd look at this when he got a chance.

[2018-05-14 21:17] meandavejustice commented on #3380
![button-expand](https://user-images.githubusercontent.com/1844554/40023920-1a5201b2-57bc-11e8-88a3-5aee8b4752c2.png)
buttons are looking better since @dannycoates made the mobile changes

[2018-05-14 21:18] meandavejustice commented on #3380
Still looks bad on front page with much longer text
![bad-wrap](https://user-images.githubusercontent.com/1844554/40023985-56cbaf62-57bc-11e8-9a8d-417b151d1800.png)

[2018-05-14 22:33] ghost commented on #3546
PR to change the wording in the legal docs: https://github.com/mozilla/legal-docs/pull/1066/files

[2018-05-14 22:59] #3519 closed, assigned to nobody

[2018-05-15 02:34] youwenliang commented on #3225
@meandavejustice  Here are the icons: https://github.com/mozilla/testpilot-assets/tree/master/Test_Pilot_Website/00_Assets/Icons

[2018-05-15 13:19] SoftVision-PaulOiegas opened #3554 "[iOS][Accesibility] Night Mode doesn't work on Test Pilot website"
**[Affected versions]:**
- Firefox 60.0 and above

**[Affected Platforms]:**
- iOS 11.x

**[Steps to reproduce]:**
1. Open Firefox browser and navigate to "testpilot.dev.mozaws.net page.
2. Open the browser "Hamburger" menu and chose to "Enable Night Mode".
3. Navigate trough the pages and observe how the Night Mode changes the website.

**[Expected result]:**
- All the website pages have the colo

[2018-05-15 13:21] SoftVision-PaulOiegas commented on #3548
The issue no longer reproduces on Android or iOS. Tested with Samsung Galaxy S6 (ANdroid 7.0) and iPhone SE (iOS 11.0.3).

[2018-05-15 13:24] SoftVision-PaulOiegas commented on #3547
The "Install Test Pilot & Enable <experiment_name>" is no longer available on Android devices. tested with Samsung Galaxy S6 (Android 7.0).

@dannycoates we leave this open for the other problem or you want me to log something separately?

[2018-05-15 13:58] SoftVision-PaulOiegas opened #3555 "[release] 2018-05-10 on stage"
Hi guys,

We have finalized running our Full Functional test suite on the Staging server and here are the testing results:

### **Legend** ###
&#x26D4;   - blocker issue
&#x1F4D5; - major issue
&#x1F4D9; - normal issue
&#x1F4D2; - minor issue
&#x1F4D7; - enhancement

## New Issues ##
1. #3544 - &#x1F4D9; [Experiment details] Add back the experiment enable error when installing both TxP add-on and

[2018-05-15 17:31] meandavejustice commented on #3376
After reading over this one again, I vote we close as `wontfix`

[2018-05-15 19:43] #3376 closed, assigned to nobody

[2018-05-15 21:58] dannycoates opened #3557 ""Get Started" shown on mobile vs "Learn more" in the experiment cards"
Originally part of #3547

[2018-05-15 21:59] dannycoates commented on #3547
Added #3557 for the rest

[2018-05-15 21:59] #3547 closed, assigned to dannycoates

[2018-05-16 09:29] SoftVision-PaulOiegas commented on #3555
@marniepw @clouserw The remaining blocker (#3547) issue was merged also on stage server and it's no longer reproducible there anymore.

However, the #3546 PR for legal document change was not even merged on dev server yet. So, the decision is on you guys, depending on how important you consider this issue.

[2018-05-16 11:27] SoftVision-PaulOiegas commented on #3376
Fixed! 👍 Tested on Windows 10, Mac OS 10.13.4, Android 7.0 and iOS 11.0.1.

[2018-05-16 11:40] SoftVision-PaulOiegas commented on #3542
The "Installing..." animation was added for both buttons. verified on Windows 10 and Mac OS 10.13.

[2018-05-16 14:59] marniepw commented on #3555
@clouserw @SoftVision-PaulOiegas I think it's ok to release w/out the legal fix, although not ideal; I wouldn't call it a blocker. Thoughts?

[2018-05-16 15:02] ghost commented on #3555
Not a blocker.

[2018-05-16 21:49] ghost commented on #3555
@SoftVision-PaulOiegas since Danny is out, I'll plan on pushing what is on stage to production with you tomorrow morning.  if @meandavejustice is up early, y'all can do it earlier if you want.

[2018-05-17 09:40] SoftVision-PaulOiegas commented on #3555
@wresuolc Sounds like a good plan if @meandavejustice can do it! 👍 I'll Ping him on slack.

[2018-05-17 13:26] SoftVision-PaulOiegas commented on #3365
The News Feed page was entirely removed.

[2018-05-17 13:26] #3365 closed, assigned to nobody

[2018-05-17 14:47] ghost commented on #3555
This is live

[2018-05-17 14:47] #3555 closed, assigned to nobody

[2018-05-17 14:50] ghost commented on #3546
PR landed.  This is fixed in production.  -dev still has the old version.  I assume there is some kind of caching of packages there.  @lmorchard do you know?  This is included at https://github.com/mozilla/testpilot/blob/master/package.json#L29 with no pinning so I assume it just grabs the latest and greatest

[2018-05-17 20:43] SoftVision-PaulOiegas commented on #3536
Issue is reproducing now on production. Reopening...

[2018-05-17 21:59] ghost commented on #3536
This might not have been an "https" problem at all.  Looks like we were missing semi-colons.  Danny added some in https://github.com/mozilla/testpilot/commit/b4aa6ec03d39423bf3950e1ebe64ab6456284eed but missed one.  I'll make a PR

[2018-05-18 17:50] #3536 closed, assigned to clouserw

[2018-05-18 18:44] ghost commented on #3546
This is fixed on -dev now too.  I'm closing this, although how it works is still a mystery.

[2018-05-18 18:44] #3546 closed, assigned to clouserw

[2018-05-18 21:49] johngruen opened #3562 "Complete new experiments content"
Need to:
- [ ] Verify IDs and update URLS
- [x] Add correct YouTube links
- [ ] Add correct social media images
- [ ] Verify discourse URLs
- [x] Verify survey URLs
- [x] Make Color a featured experiment

All should be done after #3561 is in master

[2018-05-21 14:40] johngruen opened #3563 "Add L10n note to experiments.ftl specifying non-translation of experiment titles"
@flodolo mentioned that we need to specify not to localize experiment names somehwere in the experiments.ftl file. Right now there's no good way to comment into this file b/c of how it's generated since any comments will get blown away on recompilation.

I'd like to propose we pass in a comment the beginning of each experiment that says something like

`# Please do not localize any instances of th

[2018-05-21 15:06] SoftVision-PaulOiegas opened #3564 "[Featured Experiment] Experiment enable error is wrongly displayed on two rows on languages with longer words"
**[Affected versions]:**
- Firefox 61.0b6 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Test Pilot repo was cloned locally and server started.
- A Developer Edition browser profile was setup for Local testing as in the "Quickstart" document.
- Browser language was set to German [de] from Options > General > Language.
- Notes experiment was set

[2018-05-21 15:17] SoftVision-PaulOiegas opened #3565 "[Featured Experiment] Experiment enable error is wrongly displayed on left when attempting to install it together with TxP"
**[Affected versions]:**
- Firefox 61.0b6 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Test Pilot repo was cloned locally and server started.
- A Developer Edition browser profile was setup for Local testing as in the "Quickstart" document.
- Notes experiment was set as featured from "notes.yaml" file found in the repo clone.

**[Steps to repr

[2018-05-21 15:33] SoftVision-PaulOiegas opened #3566 "[Featured Experiment] Fix improper string concatenation in renderOneClickInstallButton function of MainInstallButton component"
Edit: We are [concatenating two different localized strings in MainInstallButton](https://github.com/mozilla/testpilot/blob/ff322ca8bd5182a3d043a0977ea5cc9a7975c712/frontend/src/app/components/MainInstallButton/index.js#L104) that are part of the same sentence by placing two elements with localized content next to each other and we shouldn't be doing that.

**[Affected versions]:**
- Firefox 61.0b

[2018-05-21 16:31] lmorchard commented on #3566
Oof, this looks like it's from [a year-old update to the fr locale from Pontoon](https://github.com/mozilla/testpilot/commit/e1994159186d609a6beceef2b89d7defc41f0979). Not sure we ever really came up with a way to review those

[2018-05-21 23:19] meandavejustice commented on #2782
Been looking into this a lot more this afternoon, in order to make this happen [background.js](https://github.com/mozilla/testpilot/blob/master/addon/background.js) will need to be changed up a bit to use webpack so we can export the functions to be tested.

Additionally we'll need to use sinon-chrome(linked in the last comment).

Trying to decide if it's even worth writing these tests, the functi

[2018-05-22 16:59] dannycoates commented on #2782
The add-on does so little now that I'm meh on test coverage

[2018-05-22 17:33] #3508 closed, assigned to meandavejustice

[2018-05-22 17:33] #1906 closed, assigned to meandavejustice

[2018-05-22 17:49] #3225 closed, assigned to meandavejustice

[2018-05-22 18:17] meandavejustice commented on #1935
Figured out what is going on here.

- in `frontend/src/scripts/locale.js` we check the browser lang and add it to the url and navigate to that version if it's available in the `legal-docs` repo we pull from.
- The footer is hardcoded in `en-us` in the file `frontend/tasks/pages.js`
- The privacy and terms docs are only available in german and en-us. So this isn't going to be seen very often.

I'm

[2018-05-22 18:18] meandavejustice commented on #3509
@sevaan @johngruen Can I get an update for this issue? Is there an answer to @dannycoates question above? Also are the marketing apis documented and available to us?

[2018-05-22 19:12] #3437 closed, assigned to sevaan

[2018-05-23 15:04] ghost commented on #3566
/cc @flodolo

[2018-05-23 15:10] ghost commented on #3554
This is already a dark site, so it already works at night :)  (also, this isn't a priority for us)

[2018-05-23 15:10] #3554 closed, assigned to nobody

[2018-05-23 15:32] flodolo commented on #3566
cc @TheoChevalier and @goofy-bz

[2018-05-24 13:10] SoftVision-CosminMuntean opened #3569 "The "Go to Color" button from Color experiment page is not working"
**[Affected versions]:**
- Firefox 60.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-

[2018-05-24 13:14] SoftVision-CosminMuntean opened #3570 "The "Give Feedback" button from the Side View experiment page does not redirect to the correct survey"
**[Affected versions]:**
- Firefox 60.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = stage" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Test Pilot ad

[2018-05-24 16:58] fzzzy opened #3571 "Remove traces of restartRequired"
restartRequired hasn't been used in a very long time. It can be removed.

[2018-05-24 17:14] fzzzy opened #3572 "Remove useless invocation of Helmet in App"
We're using Helmet in App/index.js to render a static string. It's a no-op because the title was already set to that in the static html. All Helmet is doing is increase the bundle size. We should either just remove Hemlet, or make it work with fluent-react to actually localize the title, which was the intended use.

[2018-05-24 18:19] lmorchard commented on #3569
Looks like [color.yaml](https://github.com/mozilla/testpilot/blob/master/content-src/experiments/color.yaml) has no `web_url` - guessing it should be https://color.firefox.com unless there's some GA crud we need to add

[2018-05-25 13:22] johngruen commented on #3572
AFAIK helmet is changing page titles for experiment pages

[2018-05-25 13:23] johngruen opened #3576 "CSP errors on prod"
<img width="1896" alt="screen shot 2018-05-25 at 9 22 46 am" src="https://user-images.githubusercontent.com/3323249/40546416-370ab648-5ffd-11e8-92bf-132293b40a62.png">

[2018-05-25 13:37] fzzzy commented on #3572
Yep, you’re right. First it sets it to Firefox Test Pilot in App, which is unnecessary, then the experiment page changes it again.

[2018-05-25 14:03] #3569 closed, assigned to nobody

[2018-05-25 14:04] #3494 closed, assigned to fzzzy

[2018-05-25 14:09] ghost opened #3578 "Stage add-on is on production"
https://testpilot.firefox.com/files/@testpilot-addon/latest is downloading the staging add-on

[2018-05-25 14:10] ghost commented on #3578
I'm going to roll the add-on XPI back to the last good version from May 17 because I don't think that will break worse than installing the stage add-on and never being able to get it upgraded.

[2018-05-25 14:40] johngruen commented on #3572
Ah, got it

[2018-05-25 15:10] SoftVision-PaulOiegas commented on #3508
Verified this on Android since we only have the Dev experiment marked as iOS app and the error was correctly shown. However, I can't check this on iOS since we don't have an experiment with Android app. unless, there is an easy way to setup something.

[2018-05-25 15:11] johngruen commented on #3570
Fixed

[2018-05-25 15:11] #3570 closed, assigned to johngruen

[2018-05-25 15:12] johngruen commented on #3570
Had to file this bug here: https://github.com/mozilla/side-view/pull/263

[2018-05-25 15:26] johngruen commented on #3562
Can't verify discourse urls yet, will take a best guess

[2018-05-25 16:52] johngruen opened #3580 "Fix for Stage/Prod Issue"
here's what we should do:

1. Land a patch on production that looks for the stage add-on and uninstalls it silently
2. Redirect all stage traffic with param `utm_source=testpilot-addon` to production

This is a simple solution for end users.  There is no UI involved, and clicking install on an experiment without Test Pilot installed will install it automatically anyway.

@SoftVision-PaulOiegas @So

[2018-05-25 16:57] ghost commented on #3578
This is fixed.  Follow up at https://github.com/mozilla/testpilot/issues/3580

[2018-05-25 16:57] #3578 closed, assigned to nobody

[2018-05-25 17:39] ghost opened #3582 "Implement SMS integration"
The rough plan:

- Load the page normally, as it is today
- If the user clicks the button to get the app:
  - Show a spinner while doing a background ping to https://www.mozilla.org/country-code.json  (special note: may need to modify our CSP to allow this)
  - If the user is in the US, show the input box offering phone number or email.  Otherwise, only show email.
  - submit directly to basket

[2018-05-25 17:51] ghost commented on #3576
I think this is a dupe of https://github.com/mozilla/testpilot/issues/3536

[2018-05-25 17:51] #3576 closed, assigned to nobody

[2018-05-25 17:58] pmac commented on #3582
There's also the [Mozilla Location Service](https://location.services.mozilla.com/api). It might be the better and more "ready to go" solution for GeoIP.

[2018-05-25 19:31] #3580 closed, assigned to nobody

[2018-05-25 21:07] #2577 closed, assigned to nobody

[2018-05-25 22:19] #1859 closed, assigned to nobody

[2018-05-25 22:48] ghost opened #3586 "Something fishy with the deploys (-dev is down)"
Trying to load https://testpilot.dev.mozaws.net/ shows a white page and 404s on two resources:

https://testpilot.dev.mozaws.net/static/app/vendor.26bf1b94.js
https://testpilot.dev.mozaws.net/static/app/app.4ddd1acf.js

[2018-05-27 10:04] TheoChevalier commented on #3566
From my understanding of those two strings, they can sometimes be concatenated: https://pontoon.mozilla.org/fr/test-pilot-website/app.ftl/?search=oneClickInstall&string=162055

And become “Install Test Pilot & Enable {$title}”

If this is **not** the case, I will capitalize oneClickInstallMajorCta. However if it’s the case, we need a different string for the button in the screenshot above.

[2018-05-27 10:45] flodolo commented on #3566
He has a point. As it stands, this is not really localizable
https://github.com/mozilla/testpilot/blob/ff322ca8bd5182a3d043a0977ea5cc9a7975c712/frontend/src/app/components/MainInstallButton/index.js#L104

[2018-05-29 11:26] SoftVision-CosminMuntean commented on #3569
I have verified this issue and is no longer reproducible on Test Pilot dev version. Tested on Windows 7 x64, Mac 10.13 and Arch Linux.

[2018-05-29 12:01] SoftVision-CosminMuntean commented on #3570
I have verified this issue on Test Pilot dev server and is no longer reproducible. You are redirected to the Side View survey, but it seems that it is completed. However, this issue is already tracked in Side View repository at:
https://github.com/mozilla/side-view/issues/255

[2018-05-29 14:19] SoftVision-CosminMuntean commented on #1648
This issue is reproducible on latest Test Pilot versions. Since now the footer links have a black background the issue is more noticeable and looks pretty bad.
I have updated the issue with the latest changes.

Here is a screen shot of the issue:
![test pilot privacy page](https://user-images.githubusercontent.com/19226534/40664770-569eee42-6364-11e8-8a13-26bc65d83df6.png)

[2018-05-29 15:14] SoftVision-CosminMuntean commented on #3580
@meandavejustice, @fzzzy, @clouserw, @johngruen I have verified this fix and the staging addon is correctly uninstalled.
In order to verify the issue I have used the following steps:

1. Download the Test Pilot add-on from: https://testpilot.firefox.com/files/@testpilot-addon/latest
2. Extract the "@testpilot-addon.xpi" file that is placed in the Firefox profile folder.
3. Open "manifest.json" fil

[2018-05-29 15:46] lmorchard commented on #3566
Yeah, now that I look at it, that is a bad arrangement. We can't just concatenate strings like that in the component - the `oneClickInstallMinorCta` and  `oneClickInstallMajorCta` strings in that button should be combined into the same single string for l10n to allow for reordering words & whatever else differs between locales. We might also have to drop / rethink the major / minor styling there t

[2018-05-29 15:50] lmorchard commented on #3566
Tweaked the issue title to highlight the change in what needs doing here

[2018-05-29 18:30] lmorchard commented on #3586
Rebuilt the last master run on CircleCI and it looks like the dev site is okay now.

[2018-05-29 18:30] #3586 closed, assigned to nobody

[2018-05-29 19:34] ghost opened #3589 "Drop noisy staging uninstall code"
https://github.com/mozilla/testpilot/blob/master/frontend/src/app/containers/App/index.js#L211 is noisy for every visitor to the site.  We should delete the log() call.

[2018-05-29 19:35] ghost commented on #3580
Yes

That's the behavior in the code, but it is noisy.  I filed https://github.com/mozilla/testpilot/issues/3589

[2018-05-29 21:32] meandavejustice commented on #2782
moving out of project

[2018-05-30 12:36] SoftVision-CosminMuntean opened #3590 "Test Pilot experiments cannot be enabled from the website if they are disabled in "about:addons" page on latest Nightly builds"
This is a Nightly regression and I have also logged this issue on Bugzilla:
**https://bugzilla.mozilla.org/show_bug.cgi?id=1465413**

[Affected versions]:
- Nightly 62.0.1 (Build ID: 20180529220039)

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Open latest Nightly build and navigate to "https://testpilot.stage.mozaws.net/notes" page.
2. Click the "Install

[2018-05-30 13:04] Softvision-CristinaBadescu opened #3591 "The "Launch Tour" string is wrongly displayed in lowercase characters on French [fr-fr]"
**[Affected versions]:**
- Nightly 62.0a1

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 5 prefs have been set or added on a new profile: "extensions.legacy.enabled = true" "xpinstall.signatures.required = false" "testpilot.env = dev" "extensions.webapi.testing = true" "extensions.install.requireBuiltInCerts = false".
- Add French [fr-fr] as top

[2018-05-30 13:50] SoftVision-CarmenFat opened #3592 "Test Pilot website doesn't load on Dev and Stage servers on other browsers than Firefox"
[Notes]:
- The instructions page related to pref settings for other than Production server is no longer displayed when accessing the Dev or Stage server on Firefox if no prefs are set.

[Affected versions]:
- Chrome 67.0.3396.62
- Opera 53.0.2907.68
- Microsoft Edge 38.14393.2068.0
- Safari 11.1

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Open Chrome bro

[2018-05-30 14:31] johngruen commented on #3592
I think this is expectedish but IIRC there should be a modal pointing to instructions for using dev/staging envs.

Here's my console on dev:
[code]

[2018-05-30 14:35] #3592 closed, assigned to nobody

[2018-05-30 20:42] meandavejustice commented on #3582
basket is used for email via `subscribeToBasket` see it's uses [here](https://github.com/mozilla/testpilot/search?q=subscribeToBasket&unscoped_q=subscribeToBasket)

as far as SMS goes, the url at https://www.mozilla.org/country-code.json will need some permission changes as I'm unable to request via `fetch`.

https://location.services.mozilla.com/api suggests using the HTML5 geolocation api for we

[2018-05-31 03:24] pmac commented on #3582
Yes. I'll have to add CORS support to the endpoint. We'll have to discuss if this is the best course since it would add an external dependency to what was previously a purely internal interface. I'm happy to do this but I think Mozilla Location Services mentioned below would be the best and most supported option for you.

It suggests that, but does have a full [Geo API](https://mozilla.github.io/i

[2018-05-31 06:39] flodolo opened #3596 "l10n dev site is broken"
https://testpilot-l10n.dev.mozaws.net/

Only loads a background image

[code]

[2018-05-31 06:46] flodolo commented on #3596
Side note: any chance to improve the l10n workflow? Since we moved to a l10n branch, things have gotten worse.

For example: today I believe we're going to branch out the next prod release, with new experiments, and we only exposed those strings 2 days ago (and now the dev server for testing is broken). We had a case with strings untranslated on prod for weeks, because master and l10n weren't merg

[2018-05-31 07:03] flodolo commented on #3591
cc @TheoChevalier

Looks like this one is used in only [one place](https://github.com/mozilla/testpilot/blob/964b6239617519c75d58ac02a044f1ba749e579d/frontend/src/app/containers/ExperimentPage/DetailsOverview.js#L127)

[2018-05-31 09:02] TheoChevalier commented on #3591
Thanks, just fixed in Pontoon https://pontoon.mozilla.org/fr/test-pilot-website/all-resources/?search=Launch+tour&string=159289

[2018-05-31 13:55] SoftVision-CosminMuntean opened #3597 "The footer links are wrongly displayed on the Test Pilot page when the "Developing Test Pilot?" warning is displayed"
[Notes]:
- The issue is reproducible on Test Pilot stage and dev website if no prefs are stet.

**[Affected versions]:**
- Firefox 60.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Steps to reproduce]:**
1. Open Firefox with a new clean profile.
2. Navigate to "https://testpilot.dev.mozaws.net/.
3. Observe the footer links.

**[Expected result]:**
- The footer

[2018-05-31 18:54] fzzzy opened #3598 "Remove extensions,"

[2018-05-31 19:31] fzzzy opened #3599 "Remove extensions.legacy.enabled and some other config from the readme"
extensions.legacy.enabled was required when we were not a webextension.

testpilot.env is no longer required after https://github.com/mozilla/testpilot/pull/3556 lands.

Setting extensions.install.requireBuiltInCerts is no longer required

Setting xpinstall.signatures.required is no longer needed.

The only pref we need now is extensions.webapi.testing!

[2018-06-01 01:37] #3598 closed, assigned to nobody

[2018-06-01 04:55] #3557 closed, assigned to meandavejustice

[2018-06-01 06:36] pdehaan commented on #3562
I think YouTube urls were fixed in #3600

[2018-06-04 20:46] meandavejustice commented on #3509
@sevaan the endpoint we have for sms from basket provides us with an "optin to future sms updates from mozilla" option. Would you like me to add a checkbox for this with sms examples?

```- optin: 'Y' if the user wishes to receive other SMS from us in future (default: N)```

[2018-06-04 21:52] chuckharmston opened #3601 "Errors when building under node 10.3.0"
I'll try to get the actual exception text a bit later; I've been getting the error in a VM in a tmux session, so the impossibly long output is not easily captured.

It has to do with contextify messing up the inclusion of node's built-in libs.

[2018-06-04 21:54] meandavejustice commented on #3601
[code]

[2018-06-04 22:26] marniepw opened #3604 "Write tests around New Experiments badge"
As a user, I want to know when there are new experiments available in Test Pilot so that I can try out the latest features.

Right now, there are no tests to determine whether or not the new badge in the addon accurately reflects the state of new experiments.
- Write tests around New Experiments badge in addon.

[2018-06-04 22:37] johngruen opened #3606 "Footer broken on narrow pages"
<img width="2283" alt="screen shot 2018-06-04 at 6 36 16 pm" src="https://user-images.githubusercontent.com/3323249/40945333-5afea8d0-6826-11e8-8ba3-417690d5e367.png">

[2018-06-05 12:39] johngruen opened #3607 "Badge now does not clear and shows up on every browser restart"
after last night's deployment, I now see the badge every time i restart Firefox even though the new experiments are not up yet.

This is critical:
* The badge should only be displayed when new experiments are launched and should be cleared once the user interacts with the button

[2018-06-05 12:42] SoftVision-PaulOiegas opened #3608 "Badge icon wrongly displayed before experiments launch"
**[Affected versions]:**
- Firefox 60.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Have and old Firefox profile with an old Test Pilot add-on version installed.

**[Steps to reproduce]:**
1. Open Firefox browser with the profile from prerequisites and observe the Test Pilot toolbar button.
2. Navigate to `https://testpilot.firefox.com` pag

[2018-06-05 13:36] #3562 closed, assigned to johngruen

[2018-06-05 13:37] lmorchard commented on #3601
FWIW, [our pinned Node version is 8.9.0](https://github.com/mozilla/testpilot/blob/master/docs/development/quickstart.md#development-quickstart), though 8.11.2 LTS should work.

Major version upgrades are definitely not expected to work without problems, though. We should probably stick to LTS versions for stability.

If we *do* want to upgrade Node versions, [here's when we did it back in January

[2018-06-05 13:55] johngruen commented on #3607
Closing in favor of #3608

[2018-06-05 13:55] #3607 closed, assigned to nobody

[2018-06-05 13:56] johngruen commented on #3608
I believe the offending section is here on line 144:

[code]

There needs to be a check if `dt <= Date.now()` which should return `false`

[2018-06-05 14:15] sevaan commented on #3509
Thanks Dave, I spoke to John and we're going to leave the checkbox out for now. Thanks.

[2018-06-05 14:43] SoftVision-CosminMuntean commented on #3606
We already logged this issue in #3597. Considering this I will close this as dupe of it.

[2018-06-05 14:43] #3606 closed, assigned to nobody

[2018-06-05 16:37] SoftVision-PaulOiegas opened #3610 "The Mozilla Facebook social network button is missing from the new footer"
**[Affected versions]:**
**- There are differences also on the displayed links, but for that I'm not sure if it was intended or not.**

**[Affected versions]:**
- Firefox 60.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Steps to reproduce]:**
1. Open Firefox browser and navigate to `https://testpilot.firefox.com page.
2. Scroll down to the new footer section.

[2018-06-05 16:42] SoftVision-PaulOiegas opened #3611 "The "About us" footer button wrongly redirects to Mozilla about page instead of Test Pilot one"
**[Notes]:**
**- There are differences also on the displayed links, but for that I'm not sure if it was intended or not.**

**[Affected versions]:**
- Firefox 60.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Steps to reproduce]:**
1. Open Firefox browser and navigate to `https://testpilot.firefox.com page.
2. Scroll down to the new footer section.
3. Click on

[2018-06-05 16:54] johngruen commented on #3608
@meandavejustice we need to fix this before lockbox content gets merged in

[2018-06-05 19:07] meandavejustice commented on #3509
@sevaan I've noticed we don't handle an error state from basket. Do we want to account for this?

[2018-06-05 19:24] sevaan commented on #3509
No, no need at this moment. Let's keep track of how many numbers/emails are not going anywhere after passing our validation rules, and then we can decide if we want to address this. I still suspect not.

[2018-06-05 19:26] johngruen opened #3612 "cd1 is reporting false with add-on installed"

[2018-06-06 04:39] squelart opened #3613 "testpilot.firefox.com uses sometimes-ambiguous US date format"
https://testpilot.firefox.com/experiments/notes says "Experiment start date:
8/2/2017". Is that 8th of Feb, or Aug 2?

Thanks to https://testpilot.firefox.com/experiments/pulse showing "7/13/2017",
I determined that the site is showing US-style dates.

Could you please use ISO dates (2017-07-13) or unambiguous dates (addons.mozilla.org uses
"Aug 2, 2017").

[2018-06-06 12:10] SoftVision-PaulOiegas commented on #3613
Hi @squelart! If I'm not mistaking the date is mostly displayed based on the browser localization / user selected language for content, and this was decided together with the localization team.
For example, If you are on US build or selected US language for content the date is displayed as MM/DD/YYYY due to US style date. If you are on EU localization / selected language, the date is DD/MM/YYYY du

[2018-06-06 12:15] flodolo commented on #3613
I don't have a strong opinion on the format to use, but localized dates are better then ISO dates for common users. If it helps avoiding confusion, let's follow AMO's example (I see "8 apr 2018" in Italian).

As a user, if I read a sentence in Italian, I expect the following date to be in Italian format. But I see how that can be confusing for English.

[2018-06-06 14:55] flodolo commented on #3596
@johngruen and @clouserw Thoughts?

I confess the choice of using a l10n branch might have simplified things for development, but not improved the situation for l10n. And I've just got the first complaint (justified), asking why the website didn't have their translation live, given that they were completed several days ago

[2018-06-06 15:12] ghost commented on #3591
thanks

[2018-06-06 15:12] #3591 closed, assigned to nobody

[2018-06-06 16:12] ghost commented on #3596
Hi Flod.  We're working on putting Test Pilot in "auto pilot" mode, meaning, we're going to stop adding features and tweaking the site, and instead focus on experiments themselves.  We're close, you can see what's left at https://github.com/mozilla/testpilot/projects/12 .  Our development flow hasn't been the normal rhythm because of this initiative and people rotating off to work on experiments.

[2018-06-06 16:12] #3596 closed, assigned to nobody

[2018-06-06 16:14] flodolo commented on #3596
Thanks for fixing the issue. I'll keep an eye on this in the coming weeks.

A good idea would be to make sure master->l10n updates are merged as soon as possible when new strings land.

[2018-06-06 16:22] lmorchard commented on #3596
Well, the problem we were trying to solve is that new strings "land" in master. But then maybe we decide we need to further iterate and those new strings change several times. So they end up being unstable for a bit. Sometimes changing several times in a day in a few cases.

We were trying to develop a habit with the separate l10n branch to only merge once strings stabilized. But, as habits aren't

[2018-06-06 16:35] flodolo commented on #3596
There's also a schedule/planning concern: strings for the new experiments landed on Friday (May 25) in #3584, with a production cut-off on Thursday (May 31). In this case, we lost several days because of the missed merge to l10n (it happened on May 29). A weekly merge would not likely work in this case, and we still need the merge back to master.

The worst part is that on Tuesday there's the big

[2018-06-06 17:01] ghost commented on #3599
That should be part of that patch then.  /cc @meandavejustice

[2018-06-06 17:57] lmorchard commented on #3596
Yeah, I don't think there's any automation that can help us there. We just really have to land strings early when we have a big marketing push coming :(

[2018-06-06 19:29] meandavejustice commented on #3509
@sevaan Do we have a url for the `learn more` link in the notice at the bottom of the modal?

[2018-06-06 20:05] sevaan commented on #3509
@johngruen Does our Privacy Policy suffice here?

[2018-06-06 22:01] squelart commented on #3613
@SoftVision-PaulOiegas Thank you for the info.
My language was indeed set to en-us.
Changing it to en-au (where I'm located) now shows '02/08/2017', which corresponds to my preferred date format, but is still ambiguous.
So any way to avoid 'xx/xx' date formats would probably be best, if possible.

[2018-06-07 09:52] swingwolf opened #3615 "Firefox Color"
Don't run. Rune when firefox (60.0.2) start up and immediately all FF color's settings disappear.

[2018-06-07 09:57] bittin commented on #3615
Works fine in Firefox 61 Beta, used this at work now since it was released
:)

On Thu, Jun 7, 2018 at 11:52 AM, swingwolf <notifications@github.com> wrote:

[2018-06-07 15:55] SoftVision-PaulOiegas commented on #3554
Good one 🤣

[2018-06-07 17:03] SoftVision-PaulOiegas commented on #3615
Works for me on 60.0.2 even after updating from 60.0.1. However, this repository is the one for Test Pilot website and not for Color experiment.
Can you please log your issue offering more details in the [Color repository](https://github.com/mozilla/FirefoxColor/issues)?

[2018-06-07 17:11] SoftVision-PaulOiegas opened #3616 "Wrong footer displayed for "Privacy", "Terms" and "About" pages"
**[Affected versions]:**
- Firefox 60.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Steps to reproduce]:**
1. Open Firefox browser and navigate to `https://testpilot.firefox.com page.
2. Scroll down to the new footer section.
3. Click on the `Privacy` or `Terms` links from bottom left or `About us` link from "About" section.
4. Scroll down to the page footer i

[2018-06-07 19:21] #3447 closed, assigned to marniepw

[2018-06-08 07:58] SoftVision-PaulOiegas commented on #3615
Thanks @swingwolf!
Closing this as the user cloned the issue in the Color repo.

[2018-06-08 07:58] #3615 closed, assigned to nobody

[2018-06-08 08:09] SoftVision-PaulOiegas commented on #3447
@marniepw Hmm... [this one](https://support.mozilla.org/en-US/kb/test-pilot-firefoxs-experimental-features) is still not updated and contains very old designs and flows.

[2018-06-08 15:29] marniepw commented on #3447
Yep, I submitted changes for that Wednesday afternoon. They're waiting to be approved!

[2018-06-09 06:15] SoftVision-PaulOiegas commented on #3447
Oh, ok. Didn't knew that. Will double check when it updates.

[2018-06-09 13:47] kyoshino commented on #3613
My language is en-CA and the displayed date is **2017-08-01**, though **August 1, 2017** might be preferred.

[2018-06-11 08:55] Softvision-CristinaBadescu commented on #3591
This issue is still reproducible on Test Pilot, dev server. Just to be sure, considering [this comment](https://github.com/mozilla/testpilot/issues/3596#issuecomment-395133509), the issue is going to be fixed only next week. Is that right? If yes, I'll retest it then.

[2018-06-11 09:11] SoftVision-CosminMuntean commented on #3590
This issue was fixed on Firefox side. I have verified it on latest Nightly (62.0a1 Build ID: 20180610220159) and the issue is no longer reproducible.
Tested on Windows 7 x64, Mac 10.13 and Arch linuc 4.12.

[2018-06-11 09:11] #3590 closed, assigned to nobody

[2018-06-11 12:57] flodolo commented on #3591
It might be available earlier on the dev server, but it requires a merge from l10n to master branch.

[2018-06-12 15:53] #3599 closed, assigned to clouserw

[2018-06-13 16:24] meandavejustice commented on #3610
Do we want to link to facebook? We've publicly been taking a break from facebook over data leaks and the many other reasons to not engage on facebook.

From the Firefox facebook page:
[code]

[2018-06-14 05:52] SoftVision-PaulOiegas commented on #3610
@meandavejustice I've logged this because it wasn't matching the designs, but mostly because every Mozilla website was displaying it too in the footer. However, looking today on some of the official pages, I've seen it disappeared from there too.
I'm totally fine to leave it undisplayed if the team agrees.

<img width="1280" alt="screen shot 2018-06-13 at 22 53 02" src="https://user-images.githubu

[2018-06-14 16:37] meandavejustice commented on #3612
Can I get the event category and action for this?

[2018-06-14 17:56] #3608 closed, assigned to meandavejustice

[2018-06-14 17:57] #3611 closed, assigned to nobody

[2018-06-14 17:58] #3597 closed, assigned to meandavejustice

[2018-06-14 22:01] SoftVision-PaulOiegas commented on #3611
The correct page is now loaded when "About Us" button is clicked. 👍

[2018-06-14 22:42] pdehaan opened #3625 "[Storybook] You should not use Link outside a Router"
Spotted while trolling a Storybook build...

http://testpilot-storybook.dev.mozaws.net/b357c4942f09572d1ff88cc2ba0f4a2f9c57b3f9/?knob-Has%20Addon=false&knob-Enabled=false&knob-Experiment=%7B%22title%22%3A%22Sample%20experiment%22%2C%22description%22%3A%22This%20is%20an%20example%20experiment%22%2C%22subtitle%22%3A%22%22%2C%22slug%22%3A%22snooze-tabs%22%2C%22survey_url%22%3A%22https%3A%2F%2Fexample

[2018-06-14 22:45] SoftVision-PaulOiegas commented on #3597
Footer is now correctly displayed on narrow pages. 👍 Verified on MBP with Mac OS 10.12.

[2018-06-18 09:38] SoftVision-PaulOiegas opened #3626 "Test Pilot "Privacy" page footer is wrongly displayed in the middle of the page"
**[Notes]:**
- While this was OK when we had no footer background, now it looks pretty awkward to have a black stripe splitting the page.

**[Affected versions]:**
- Firefox 60.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Steps to reproduce]:**
1. Open Firefox browser and navigate to `https://testpilot.firefox.com page.
2. Scroll down to the new footer sectio

[2018-06-18 09:57] #1648 closed, assigned to meandavejustice

[2018-06-18 19:21] meandavejustice commented on #3509
@sevaan Do you have the links for the learn more notice we discussed last week? I can't remember where it was

[2018-06-18 19:22] sevaan commented on #3509
Here: https://www.mozilla.org/en-US/privacy/websites/#campaigns

[2018-06-18 19:37] meandavejustice opened #3628 "remove check for testpilot-addon-stage before merging permissions rewrite"

[2018-06-20 15:08] #3628 closed, assigned to meandavejustice

[2018-06-20 15:08] johngruen commented on #3616
let's see if we can just render the normal footer here.

[2018-06-20 15:22] meandavejustice opened #3631 "fluent react error with email input wrapped in <Localized>in MobileDialog"

[2018-06-20 18:42] meandavejustice opened #3632 "fix order logic for buttons in experiment controls for experiment detail page"
- send to device button should be first and '.default' if no web option
   - should be secondary if 'web' is also an option
   - make sure that "download on the app store" is primary and first in list on mobile

[2018-06-20 18:47] meandavejustice opened #3633 "create storybook entry for MobileDialog"

[2018-06-20 18:48] meandavejustice opened #3634 ""mobile experiment" description should be ios or android unless both are present."

[2018-06-21 18:27] meandavejustice opened #3635 "ios svg rendering blank"
https://github.com/mozilla/testpilot/pull/3618#discussion_r196901780

[2018-06-22 19:33] meandavejustice opened #3636 "Change sms fetch method and add test for MobileDialog"
We need to restructure the way `allowSMS` state is set in the MobileDialog modal to be passed in as a prop. This will allow us to add more extensive testing

https://redux.js.org/advanced/async-actions

[2018-06-22 19:55] #3509 closed, assigned to nobody

[2018-06-22 19:55] #3582 closed, assigned to meandavejustice

[2018-06-25 07:13] Softvision-CristinaBadescu commented on #3591
This issue is no longer reproducible on latest Nightly build 62.0a1, on Test Pilot, dev server. Verified on Windows 10 x64, Mac 10.13.5 and Arch Linux 4.12.

[2018-06-25 15:49] #3515 closed, assigned to meandavejustice

[2018-06-25 15:49] #3520 closed, assigned to meandavejustice

[2018-06-25 16:52] sevaan opened #3637 "Removed bolding in fine print links in Featured Experiment area"
The links in the fine print in the featured experiment area are bolded, and should not be.

![image](https://user-images.githubusercontent.com/473531/41864043-982b252a-7876-11e8-9569-1bcd0379870a.png)

[2018-06-25 19:14] devinreams commented on #3635
PR to fix the SVG here: https://github.com/mozilla/testpilot/pull/3638

[2018-06-25 22:00] #3635 closed, assigned to johngruen

[2018-06-26 11:43] johngruen commented on #3634
Fixed by  #3640

[2018-06-26 11:45] johngruen commented on #3632
Let's kill this...i like the way everything now with #3641 in place

[2018-06-26 13:56] johngruen opened #3642 "Add mobile button to featured experiment page"
Here's the spec for mobile featured experiments.

https://mozilla.github.io/testpilot-assets/Test_Pilot_Website/01_Measurements/Mobile_Featured_Experiments/

Please DO NOT include the black ios button, just do the green "Send me the App" button. Also, Make the string  use the `mobileDialogLaunchButton` string.

Clicking this button should trigger the SMS/email modal.

[2018-06-26 13:58] johngruen opened #3643 "Verify all mobile strings before we push to l10n branch"
@devinreams making a placeholder for myself to review/update all of the SMS flow strings before we do a push to the l10n branch

[2018-06-26 14:20] johngruen opened #3644 "add GA events to mobile flows"
We need to make sure the SMS/email flows are instrumented and that the events are documented...let's do this:

### clicking on the "send app to device" button
[code]

### clicking on the google or apple store links on Experiment Page
[code]

### Clicking the app store links in the modal
[code]

### Submitting A Phone or Email address from the Modal
[code]

### Event on success or error
[code]

[2018-06-26 15:14] devinreams commented on #3642
To elaborate, I think in other words this means: don't show the standard "Install Test Pilot and Enable X" button but instead the mobile-specific CTA.

![firefox_test_pilot](https://user-images.githubusercontent.com/49511/41921943-4609b09e-7921-11e8-930b-2bfb3809535f.png)

(was about to file an issue but found this one, please correct me if wrong)

[2018-06-26 15:15] devinreams commented on #3643
OK assigning myself too so I see/don't forget later this week. 😁

[2018-06-26 16:21] SoftVision-PaulOiegas opened #3645 "[SMS] Inconsistent validation of the telephone numbers in the send experiment link modal"
**[Affected versions]:**
- Firefox 61.0 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Steps to reproduce]:**
1. Open Firefox browser and navigate to `https://testpilot.dev.mozaws.net page.
2. Scroll down to the available experiments and click the "Dev Example" card.
3. Click on the "Send App Link to Device" blue button from top left of the page.
4. Enter a number

[2018-06-26 17:11] devinreams opened #3646 ""Your privacy" section requires measurements"
A quick discussion with legal, product, and Test Pilot engineering has led me to think a nice improvement would be for us to "make it possible to leave off the bullets sections" in the "Your privacy" section.

![screen shot 2018-06-26 at 11 29 33 am](https://user-images.githubusercontent.com/49511/41929032-456b1958-7934-11e8-8ce6-b3608493cf0c.png)

There are cases where the "measurements" in an ex

[2018-06-26 18:59] meandavejustice commented on #3644
Also added:

### Event on dialog close
[code]

[2018-06-27 14:40] SoftVision-PaulOiegas opened #3650 "[Featured experiment] The Android store button and message is wrongly displayed in "Send App Link to Device" button modal when setting "ios" as experiment platform"
**[Notes]:**
- This issue was observed while testing the changes from #3647 PR.

**[Affected versions]:**
- Firefox 61.0 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Local clone the branch for "Send app link to device" button in the featured experiment section for mobile experiments.
- Perform the setup in order to run the build locally and st

[2018-06-27 15:06] johngruen commented on #3650
@meandavejustice ^

[2018-06-27 15:14] SoftVision-PaulOiegas opened #3651 "The "Send App Link to Device" modal wrongly displays the iOS App Store black button instead of white one"
**[Affected versions]:**
- Firefox 61.0 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Steps to reproduce]:**
1. Open Firefox browser and navigate to `https://testpilot.dev.mozaws.net page.
2. Scroll down to the experiments list and click on "Dev Example" card.
3. Observe the "Download on the App Store" button on the experiment control area.
4. Click on the "Send A

[2018-06-27 15:30] SoftVision-PaulOiegas opened #3652 "[Experiment details page] The iOS message and App Store button are wrongly displayed on the send link modal when "android" platform is set"
**[Affected versions]:**
- Firefox 61.0 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Local clone the branch for "Send app link to device" button in the featured experiment section for mobile experiments.
- Perform the setup in order to run the build locally and start the server.
- Edit the "dev-example.yaml" file by change the  `platforms` att

[2018-06-27 15:32] SoftVision-PaulOiegas commented on #3652
Also, if you set both platforms in the yaml file, you get both of them on the experiment controls area, but still get only iOS on the modal.
Maybe this should be taken into consideration for future experiments that will have both the mobile platforms.

[2018-06-27 16:30] johngruen opened #3653 "Figure out a more robust way to do ExperimentPlatforms"
See conversation in #3640 for details

[2018-06-27 17:00] lmorchard commented on #3653
I think the tl;dr relevant part of the conversation is that we can't do simple string concatenation and still keep it localizable. (i.e. different locales want to rearrange word order, use different spacing, different characters, etc.)

Current solution is to define a separate string for every permutation of platforms so localizers can translate them all as necessary and we can still have a compac

[2018-06-27 17:46] #3646 closed, assigned to nobody

[2018-06-27 17:57] #3642 closed, assigned to meandavejustice

[2018-06-27 18:45] #3651 closed, assigned to johngruen

[2018-06-27 22:19] meandavejustice commented on #3652
This issue is caused by not setting the `android_url` while having the `ios_url` set. We don't usually add code in the app to defend against the yaml files being mis-filled out.

Maybe this should be taken into consideration for future experiments that will have both the mobile platforms.

This is a separate issue, we should plan to address this scenario in the future. cc/ @johngruen

[2018-06-27 22:24] meandavejustice commented on #3650
This is essentially the same as #3652, if `ios_url` is set the modal behaves correctly. I recommend closing as we don't code in the frontend against yaml files being mis filled out. The way to handle this would be to have some yaml validation. ie:
[code]

[2018-06-27 22:49] #3634 closed, assigned to meandavejustice

[2018-06-27 22:50] #3632 closed, assigned to nobody

[2018-06-28 00:03] nycookie opened #3656 "`how doi reve this experiment completely. since i downloaded i can't log into a very important site and it seems to have messed up others too"
sorry i every got involved w/this.

[2018-06-28 00:06] nycookie commented on #3656
since i downloaded colors i get error notices when trying to connect with other sites.  how do i remove this "experiment" completly frm my computer?!

[2018-06-28 00:06] #3656 closed, assigned to nobody

[2018-06-28 00:10] nycookie opened #3657 "test pilot prgrofram"
i can't get out of ur "experiment" which left me unable to log into my fvoret site.  get error meesages. server issues frm diff sites

[2018-06-28 00:11] nycookie commented on #3657
my email is:  nycookie1@outlook.com

[2018-06-28 11:06] SoftVision-PaulOiegas commented on #3657
Hi @nycookie and thanks for your report. That's unfortunate and we would like to hear more about your issue with Color experiment. If you have some time, can you please file an issue explaining the encountered problems in [Color GitHub repository](https://github.com/mozilla/FirefoxColor/issues)?

Regarding exiting the experiments, you can follow the next steps:
1. Navigate to https://testpilot.fir

[2018-06-28 12:01] SoftVision-PaulOiegas opened #3658 "Test Pilot website no longer recognises when the TxP add-on is installed and enabled"
**[Notes]:**
- This issue occurs from every TxP add-on install button, even when doing it together with an experiment.
- All the old 5 prefs needed were previously set and also tried with fewer of them since not all are still necessary. Each time the result was the same.
- Also noticed that now the dev server add-on is named "Test Pilot local build". From what I read in the PR's the add-on environ

[2018-06-28 16:38] lmorchard commented on #3652
FWIW: https://github.com/mozilla/testpilot/issues/1308 for linting YAML in CI

[2018-06-28 16:39] johngruen commented on #1308
Related #3652 and #3651

[2018-06-28 16:39] #3650 closed, assigned to nobody

[2018-06-28 16:39] #3652 closed, assigned to nobody

[2018-06-28 21:22] meandavejustice opened #3660 "integration test breakage caused by now building the addon for dev"
We may need to build 2 addons, one "local" for integration tests and one "dev" for pushing to the dev site

[2018-06-28 21:22] #3643 closed, assigned to devinreams, johngruen

[2018-06-28 21:53] #3644 closed, assigned to meandavejustice

[2018-06-29 00:01] pdehaan commented on #3653
What about just using icons instead of a matrix of text possibilities? I think all you'd need is distinct Apple vs Android icons instead of a generic "mobile" icon. Plus then you wouldn't need any l10n (apart from the `alt=""` tags for each icon for a11y). And it wouldn't take up any additional space (like my goofy list-based idea).

[2018-06-29 11:12] johngruen commented on #3653
@pdehaan we can only use the apple logo with the express written consent of Apple :)

[2018-06-29 14:23] SoftVision-PaulOiegas commented on #3652
Totally agree! Also, I've been verifying with the ios_url/android_url and it perfectly works. 👍

[2018-06-29 14:27] SoftVision-PaulOiegas commented on #3650
Totally agree! Also, I've been verifying with the ios_url/android_url and it perfectly works. 👍

[2018-06-29 14:38] SoftVision-PaulOiegas commented on #3651
Tested on local since the latest merges are not visible on dev due to Circle Ci issues. The right button is displayed now.
But to be honest, due to the Firefox issue with pixelated round corners, it looks like the corners are more thickened than the rest. But I think we need to live with this since it's an upstream issue.

[2018-06-29 15:06] SoftVision-PaulOiegas commented on #3658
@marniepw @johngruen It seems that the issue is also reproducing on Stage server and this blocks/fails a lot of our tests. If this is not fixed, our tests are inconclusive and we cannot give GREEN light for the Production deploy.

[2018-06-29 18:12] Vimal-Raghubir commented on #3571
I am interested in working on this issue. Just to be clear the `restart.isRequired` portion is still required but the `restartRequired` isn't correct?

[2018-06-29 19:21] pdehaan opened #3665 "Featured Lockbox content is missing words for privacy and terms"
https://testpilot.dev.mozaws.net/__version__

[code]

![firefox_test_pilot](https://user-images.githubusercontent.com/557895/42110575-7ead4a42-7b96-11e8-83d3-6aef7cec9394.png)

[2018-06-29 19:28] devinreams commented on #3665
Hmmmm, thanks @pdehaan.

I intentionally commented-out the language at 680bc3c3b4a6eeb31dc1f2b58afebbc73843ee37 because it wasn't actually having any affect but maybe I was doing something else wrong. I'll look at this again...

[2018-06-29 19:58] devinreams commented on #3665
Fully fixed at #3666, I believe 🤞

[2018-06-30 16:35] #3665 closed, assigned to devinreams

[2018-07-02 10:03] SoftVision-PaulOiegas opened #3668 "[Featured experiment] If the experiment is available on 2 platforms, only one option to get it is displayed"
**[Affected versions]:**
- Firefox 61.0 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Local clone the master Test Pilot branch.
- Perform the setup in order to run the build locally and start the server.
- Edit the "lockbox.yaml" file by changing the `featured` attribute to `false` and save the file.
- Edit the  "notes.yaml" file by changing th

[2018-07-02 12:43] johngruen opened #3670 "If featured platform is mobile, mobile store button should be displayed if viewed on mobile device"
Similar to what happens on the experiment details page. We should not now the `Get the App` Modal. Instead, we should show the appropriate mobile store icon

[2018-07-02 13:02] SoftVision-PaulOiegas opened #3671 "[Experiment cards] Platform icons are cut when platform names exceed the designed space and are moved to second row"
**[Affected versions]:**
- Firefox 61.0 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Local clone the master Test Pilot branch.
- Perform the setup in order to run the build locally and start the server as in [quickstart ](https://github.com/mozilla/testpilot/blob/master/docs/development/quickstart.md)doc.
- Edit the  "notes.yaml" file by addin

[2018-07-02 13:34] #3657 closed, assigned to nobody

[2018-07-02 14:16] SoftVision-PaulOiegas opened #3672 ""Get the app" modal only displays one mobile platform even when experiment has two available"
**[Affected versions]:**
- Firefox 61.0 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Local clone the master Test Pilot branch.
- Perform the setup in order to run the build locally and start the server as in [quickstart ](https://github.com/mozilla/testpilot/blob/master/docs/development/quickstart.md)doc.
- Edit the "lockbox.yaml" file by addi

[2018-07-02 14:30] carliskj opened #3673 "Side view same on both monitors"
When using side view I would like it if i could have two separate side views on both monitors for ultimate multitasking because now if I open a side view it comes up on the other screen too and If i close it on one screen it closes on both.

[2018-07-02 14:59] SoftVision-PaulOiegas commented on #3673
Hi @carliskj and thanks for your report. However, this is the Test Pilot repository and not the Side View one. In order to have a developer respond to your request, can you please file this on the [Side View repository](https://github.com/mozilla/side-view/issues) instead? Thanks!

[2018-07-02 16:05] #3673 closed, assigned to nobody

[2018-07-02 16:13] SoftVision-PaulOiegas commented on #3658
Seems to be fixed after the Friday fixes. 👍 Closing.

[2018-07-02 16:13] #3658 closed, assigned to meandavejustice

[2018-07-02 16:21] devinreams opened #3674 "Mobile phone number format not clear nor validated in modal"
If I enter a 10-digit number I think I get the SMS as expected?

But I also can enter a 10-digit with country code (1XXXXXXXXXX)

Its not clear to me if it would be a problem if I entered hyphens, or +1 or anything.

[2018-07-02 16:22] devinreams opened #3675 "Mobile SMS has “Firefox for Android is here!”"
Not Test Pilot-specific content for the experiment I just requested...

[2018-07-02 16:26] #3610 closed, assigned to meandavejustice

[2018-07-02 16:26] devinreams commented on #3674
I first tried with a Google Voice number and it didn’t give an error but I never received a code..

Then used my actual mobile phone number with 10 and 11 digit and received both. So it works but I was mostly confused about the GV number not working.

[2018-07-02 16:31] SoftVision-CosminMuntean opened #3676 "[release] 2018-07-02 on stage"
Hi guys,

We have finalized running our Full Functional test suite on the Staging server and here are the testing results:

### **Legend** ###
&#x26D4;   - blocker issue
&#x1F4D5; - major issue
&#x1F4D9; - normal issue
&#x1F4D2; - minor issue
&#x1F4D7; - enhancement

## New Issues ##
~~#3658  - &#x26D4; Test Pilot website no longer recognises when the TxP add-on is installed and enabled~~
- The is

[2018-07-02 16:48] fzzzy commented on #3571
@Vimal-Raghubir I'm pretty sure everything having to do with restarting is no longer needed.

[2018-07-02 16:53] meandavejustice opened #3677 "Pass message ids to basket for sms"
format should be `txp-${experiment.slug}`

[2018-07-02 19:04] johngruen opened #3678 "experiment.modified = undefined"
just noticed this, and it turns out we no longer track experiment.modified anywhere even though we're still trying to represent experiments as modified on the ExperimentRowCard components. We should bring this back.

[2018-07-02 19:12] johngruen commented on #3678
Crazily, if you add a modified field directly to yaml, it actually works...i guess we could resolve this issue by documenting this!

[2018-07-02 19:14] lmorchard commented on #3678
Yeah, I think it drives the "Just Updated" display on experiments. Used to be auto-updated by the Django CMS. Not sure why it isn't documented, but I don't think we ever took out the code to use it

[2018-07-02 19:16] johngruen commented on #3678
no, i want to tho...i'll take care of this looks like there's a bit of missing CSS too

<img width="203" alt="screen shot 2018-07-02 at 9 11 32 pm" src="https://user-images.githubusercontent.com/3323249/42182002-25816a30-7e3d-11e8-97eb-03dd5626b615.png">

[2018-07-02 19:22] johngruen commented on #3678
<img width="229" alt="screen shot 2018-07-02 at 9 22 17 pm" src="https://user-images.githubusercontent.com/3323249/42182301-0d98703e-7e3e-11e8-90a6-8431948f7e1a.png">

[2018-07-02 19:22] johngruen commented on #3678
found the culprit

[2018-07-02 21:47] #3678 closed, assigned to nobody

[2018-07-03 11:39] SoftVision-PaulOiegas opened #3683 "[Experiment details] Web experiments button SVGs are forbidden (403) on Dev server"
**[Affected versions]:**
- Firefox 61.0 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Following 3 prefs have been set or added on a new profile: "xpinstall.signatures.required = false", "extensions.webapi.testing = true", "extensions.install.requireBuiltInCerts = false".

**[Steps to reproduce]:**
1. Open Firefox browser and navigate to `https:

[2018-07-03 12:02] SoftVision-PaulOiegas commented on #3637
@sevaan This seems fixed on both Dev and Stage for the featured experiment section. Verified on Local too for every experiment that we currently have and seems ok.  I'll close this as fixed.

One thing though, I've seen one issue that does not affects us for now. the Send experiment has an incomplete legal string when featured. Same issue happened with Lockbox and seems related to how the privacy

[2018-07-03 12:02] #3637 closed, assigned to nobody

[2018-07-03 13:11] SoftVision-PaulOiegas opened #3684 "[Mobile] Newsletter subscription error message not focused on mobile view"
**[Affected versions]:**
- Firefox 61.0 and above

**[Affected Platforms]:**
- Android 7.0 - 8.0
- iOS 11.0.1

**[Prerequisites]:**
- Following 3 prefs have been set or added on a new profile: "xpinstall.signatures.required = false", "extensions.webapi.testing = true", "extensions.install.requireBuiltInCerts = false".

**[Steps to reproduce]:**
1. Open Firefox mobile browser and navigate to `https

[2018-07-03 14:44] SoftVision-PaulOiegas opened #3685 "[Mobile] Newsletter sign up success message is not focused after signing up with valid email"
**[Affected versions]:**
- Firefox 61.0 and above

**[Affected Platforms]:**
- Android 7.0 - 8.0
- iOS 11.0.1

**[Prerequisites]:**
- Following 3 prefs have been set or added on a new profile: "xpinstall.signatures.required = false", "extensions.webapi.testing = true", "extensions.install.requireBuiltInCerts = false".

**[Steps to reproduce]:**
1. Open Firefox mobile browser and navigate to `https

[2018-07-03 15:08] rob-drigues opened #3686 "Bookmarks Manager"
Favor Manager (bookmarks) is having problems. The Favorites Bar is completely unstructured just below the URL Search Box

[2018-07-03 15:44] SoftVision-PaulOiegas opened #3687 "[Mobile][Android] "Please enter an email address" error message is wrongly displayed without submitting the sign up form"
**[Affected versions]:**
- Firefox 61.0 and above

**[Affected Platforms]:**
- Android 7.0 - 8.0

**[Steps to reproduce]:**
1. Open Firefox mobile browser and navigate to `https://testpilot.firefox.com page.
2. Scroll down to the Newsletter section at the bottom and tap the text field.
3. Observe the textbox behavior without trying to submit the form.

**[Expected result]:**
- The text caret appea

[2018-07-03 16:13] SoftVision-PaulOiegas commented on #3686
Hey @rob-drigues and thanks for your report. However, the terms you specify are not ringing any bells in relation with Test Pilot platform. Can you be more specific about your issue?

Or if it's not related to Test Pilot or any of its experiments, but it does with the Firefox browser, maybe you should file a new issue in the browser [Bugzilla page](https://bugzilla.mozilla.org/enter_bug.cgi).

[2018-07-03 16:18] meandavejustice opened #3689 "Declare testpilot addon version in one place only"
Probably just pull it from the package.json in the build

[2018-07-03 16:51] rob-drigues commented on #3686
Thanks for your attention PaulOiegas.

[2018-07-03 20:49] meandavejustice opened #3694 "Handle errors for submitToBasket and prevent a form-action when subscribing to newsletters"
[code]

* mobileDialog
* newsletterForm/newsletterFooter

[2018-07-03 21:25] lmorchard commented on #3683
FWIW, a 403 on S3 is basically a 404 with how we have things configured right now on dev. So I think this means that the .svg is missing. I suspect this will be an issue with hashed / non-hashed image filenames after assets got moved around in recent commits

[2018-07-04 08:31] #3686 closed, assigned to nobody

[2018-07-04 16:16] SoftVision-PaulOiegas opened #3696 "[Mobile] Experiment launch / expiration date no longer displayed on mobile view"
**[Notes]:**
- @sevaan Neither me or John are sure if this was as designed or we forgot to add it in the new mobile design. Can you please clarify this?

**[Affected versions]:**
- Firefox 61.0 and above

**[Affected Platforms]:**
- Android 7.0 - 8.0
- iOS 11.0.1

**[Prerequisites]:**
- [Android] The "extensions.webapi.testing = true" Boolean pref was added on a new profile.

**[Steps to reproduce

[2018-07-04 16:32] SoftVision-PaulOiegas opened #3697 "[Mobile view] The "View details" button is wrongly positioned lower than it should"
**[Affected versions]:**
- Firefox 61.0 and above

**[Affected Platforms]:**
- Android 7.0 - 8.0
- iOS 11.0.1

**[Prerequisites]:**
- [Android] The "extensions.webapi.testing = true" Boolean pref was added on a new profile.

**[Steps to reproduce]:**
1. Open Firefox mobile browser and navigate to `https://testpilot.dev.mozaws.net page.
2. Observe the "View details" text button position in the "Fea

[2018-07-05 11:00] johngruen opened #3699 "Test Pilot Dev is Blank"
Some errors appear in the console

[code]

[2018-07-05 15:58] devinreams commented on #3699
@johngruen I _do_ see the `Public-Key-Pins` errors but _only_ one `Loading failed for <script>` (ad_status.js) error. The rest of the vendor and app JS loads and works for me:

<img width="1552" alt="screen shot 2018-07-05 at 9 58 10 am" src="https://user-images.githubusercontent.com/49511/42334206-f2c7844a-8039-11e8-88ea-05801574b762.png">

[2018-07-05 16:00] lmorchard commented on #3699
When you see this, it's nearly always our usual dev deployment issue. Hit rebuild on CircleCI to fix.

Edit: To elaborate, you can [go here to the workflows page](https://circleci.com/gh/mozilla/workflows/testpilot/tree/master) and hit "Rerun from Beginning" on the latest commit and hopefully that fixes it. I just did that, so we'll see if it's the usual

[2018-07-05 16:00] devinreams commented on #3675
Duplicate of #3677

[2018-07-05 16:00] #3675 closed, assigned to nobody

[2018-07-05 16:02] #3699 closed, assigned to nobody

[2018-07-05 16:05] lmorchard commented on #3699
FWIW, the public-key-pins error has been there for a very long time, and I think that's because our SSL cert on dev is not included in the list of hashes in the headers we deploy

Edit: [Filed this issue to capture the problem](https://github.com/mozilla/testpilot/issues/3703) - to be clear, this warning is *not* breaking the dev site and fixing it will not improve that situation

[2018-07-05 16:10] johngruen opened #3702 "Release for New experiments to stage"
- [x] Merge devin's l10n pr into master #3701
- [ ] JG needs to land all the new notes assets #3706
- [x] #3683 patched
- [ ] Merge outstanding PRs #3693 (dave to review) #3681 (jg will review latter)

[2018-07-05 16:11] #3676 closed, assigned to nobody

[2018-07-05 16:12] lmorchard opened #3703 "Fix HTTP Public Key Pinning on dev deployment"
This warning appears regularly in the console on dev:

This is related to [HTTP Public Key Pinning](https://developer.mozilla.org/en-US/docs/Web/HTTP/Public_Key_Pinning). We list some key hashes [here in `bin/deploy.sh`](https://github.com/mozilla/testpilot/blob/master/bin/deploy.sh#L41). I think the hash for the SSL cert on dev is missing. We should add it, which should fix this warning.

To be c

[2018-07-05 16:15] devinreams commented on #3702
Looks like a solid plan @johngruen 👌 I added a link directly to the l10n PR and "requested review" on the other two just to be super redundant and explicit. 😏

Just let me know if there's anything else I can do to help support the release...

[2018-07-05 16:15] lmorchard commented on #3683
I can try taking a look at this

[2018-07-05 16:24] #3380 closed, assigned to johngruen

[2018-07-05 16:44] SoftVision-PaulOiegas commented on #3674
@devinreams I think the first thing you mentioned is a bit related to my issue from #3645.

Also, while using the [Pinger TextFree](https://textfree.us/) number provided by the app, I was getting the success message on our end, but never received an SMS either. So I think this is a valid issue and we need to validate better the numbers entered.

[2018-07-05 18:47] #3683 closed, assigned to lmorchard

[2018-07-05 18:48] #3677 closed, assigned to meandavejustice

[2018-07-05 19:10] #3670 closed, assigned to meandavejustice

[2018-07-05 19:10] #3697 closed, assigned to nobody

[2018-07-05 19:29] johngruen opened #3709 "Allow jpegs to be imported via webpack"

[2018-07-05 19:35] lmorchard commented on #3709
FWIW, I don't think this is a general issue - jpegs work fine on my machine and in CircleCI. It's an error that came up on @johngruen's machine, so I think it's an issue specific to macOS or @johngruen's machine.
[code]
Seems like a weird error, since the image was actually there

[2018-07-05 19:38] devinreams commented on #3709
I think it's a "dyld and macOS" thing:

- https://stackoverflow.com/questions/17703510/dyld-library-not-loaded-reason-image-not-loaded
- https://stackoverflow.com/questions/3146274/is-it-ok-to-use-dyld-library-path-on-mac-os-x-and-whats-the-dynamic-library-s

I haven't looked into it much further..

[2018-07-05 19:45] devinreams commented on #3709
I had the same problem. After running `brew reinstall libpng` the `start` command worked for me.

[2018-07-05 20:15] meandavejustice opened #3711 "[release] 2018-07-05 on stage"
mostly just some tweaks to notes/lockbox assets and minor issues getting ready for mobile experiment release

[2018-07-05 21:16] pdehaan opened #3712 "Experiment platform labels don't match icon order"
Of the 3-ish experiments (on dev) that have multiple platforms, it looks like 1 of them (Notes) has a different order for the Android+Firefox icons versus labels:

![firefox_test_pilot](https://user-images.githubusercontent.com/557895/42348258-a1636ec4-805d-11e8-84c4-8ccd2e7478f8.png)

[2018-07-06 08:52] johngruen commented on #3709
Same fix WFM. Closing.

[2018-07-06 08:52] #3709 closed, assigned to nobody

[2018-07-06 09:07] SoftVision-PaulOiegas commented on #3671
@johngruen Oh snap! It reproduces for Notes on dev as we speak. 😢 And it's even worse on German [de].

![screenshot-2018-7-6 firefox test pilot 1](https://user-images.githubusercontent.com/17258026/42370315-1a4435a0-8115-11e8-821d-a2e556d2fa48.png)
![screenshot-2018-7-6 firefox test pilot](https://user-images.githubusercontent.com/17258026/42370316-1a6e43f4-8115-11e8-87d0-214774801993.png)

[2018-07-06 10:30] johngruen opened #3713 "Featured experiment button is wonky ATM"

[2018-07-06 10:36] flodolo opened #3715 "Link text is in English in localized page for Lockbox"
This is how it currently looks for Italian (bad…)
https://testpilot-l10n.dev.mozaws.net/experiments/firefox-lockbox

![schermata 2018-07-06 alle 12 34 02](https://user-images.githubusercontent.com/3644868/42374673-2b63fb14-8119-11e8-9a3e-8453725f55dc.png)

cc @devinreams

[2018-07-06 10:37] flodolo commented on #3715
Worth noting that all other experiments don't have links, I wonder if that's a known issue.

[2018-07-06 12:15] SoftVision-PaulOiegas opened #3716 "[Android] Download on the App Store button is wrongly displayed on Firefox for Android"
**[Affected versions]:**
- Firefox 61.0 and above

**[Affected Platforms]:**
- Android 7.0 - 8.0

**[Prerequisites]:**
- [Android] The "extensions.webapi.testing = true" Boolean pref was added on a new profile.

**[Steps to reproduce]:**
1. Open Android Firefox mobile browser and navigate to `https://testpilot.dev.mozaws.net page.
2. Observe if there is a mobile platform download button displayed

[2018-07-06 12:33] SoftVision-PaulOiegas commented on #3670
Button was added, but I've found 2 issues with it, that I've logged separately. In my opinion it should not be displayed on Android (#3716). And also, the button wrongly overlaps the "More Experiments" overlay button (#3717).

[2018-07-06 12:47] devinreams commented on #3715
Thanks @flodolo. Given the constrains of the experiments YAML and front-end display, what do you think is a good approach to making this better?

One idea, not perfect, would be for us to remove the link from “here” on both instances so it can be translated, and then add the actual URL (as a hyperlink) after. For example:

[2018-07-06 12:50] SoftVision-PaulOiegas commented on #3697
Button is correctly positioned now. 👍

[2018-07-06 13:01] SoftVision-PaulOiegas commented on #3683
Web experiment SVGs are now correctly displayed on the buttons of both experiments. Verified on Windows, MacOS, Android and iOS. 👍

[2018-07-06 13:08] flodolo commented on #3715
IMO this looks like a bug, and we should try to figure out what's causing it (disclaimer: I'm going to PTO in a few hours, and back on the 16th, so I won't be able to help).

For example, it works for [sideviewLegalnotice](https://github.com/mozilla/testpilot/blob/master/locales/en-US/experiments.ftl#L175)

Maybe it's the presence of the `href` causing it?

It would be enough to test changing

[co

[2018-07-06 13:14] flodolo commented on #3715
And this is likely a bad example, seems it seems to be used in JS :-\ I'm not sure if we have links coming from YAML files.

Is the Lockbox experiment going to be visible only for en-US users? Otherwise, those sections look really awful in localized pages.

[2018-07-06 13:16] flodolo commented on #3715
Not sure if @stasm has ideas on what could be causing only the links to show up in English.

[2018-07-06 13:31] stasm commented on #3715
How is YAML used for this content? I don't remember exactly how Test Pilot displays the descriptions of experiments.

The need to include link anchors in the translations predates the solution built into more recent versions of `fluent-react`, called [React overlays](https://github.com/projectfluent/fluent.js/wiki/React-Overlays). There's a custom-written components called [`LocalizedHtml`](https:

[2018-07-06 14:19] SoftVision-PaulOiegas opened #3718 "[Experiment details] Localization warning message has several display issues"
**[Affected versions]:**
- Firefox 61.0 and above

**[Affected Platforms]:**
- All Windows
- All MacOS
- All Linux

**[Prerequisites]:**
- The `extensions.webapi.testing` boolean pref wass added with `true` value on a new profile.
- The German [de] browser content language was added in first position from "Menu>Options>General>Language" menu, on the created profile.

**[Steps to reproduce]:**
1. O

[2018-07-06 15:19] lmorchard commented on #3713
What's wonky about it? Not sure what to look for when checking out #3714

[2018-07-06 15:22] #3671 closed, assigned to nobody

[2018-07-06 15:22] #3712 closed, assigned to nobody

[2018-07-06 15:22] #3713 closed, assigned to nobody

[2018-07-06 16:02] SoftVision-CosminMuntean opened #3719 "Experiments images are not displayed on Facebook and Twitter posts"
**[Affected versions]:**
- Firefox 61.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- A Facebook and a Twitter profile was already logged on the used profile.

**[Steps to reproduce]:**
1. Open browser with the profile from prerequisites and navigate to https://testpilot.firefox.com page.
2. Click on one of the active experiments cards and after

[2018-07-06 18:04] pdehaan commented on #3719
This is interesting...
I was thinking that it was the same old issue of navigating directly to a page versus the metadata when you navigate through the app. But at least for Firefox Color, the metadata may just be wrong (since I get 404s on the `og:image` and `twitter:image` URLs):

[code]

https://github.com/mozilla/testpilot/blob/8a6c904dd4dc1842abc4e406a947c134d9fd654d/content-src/experiments/c

[2018-07-06 18:33] pdehaan commented on #3719
Not sure what's happening w/ **Notes**. Looks like the URLs haven't changed (even though the assets were modified lately in #3706):

[code]

https://github.com/mozilla/testpilot/tree/master/frontend/src/images/experiments/notes

![](/mozilla/testpilot/blob/master/frontend/src/images/experiments/notes/notes-fb.jpg?raw=true)
**FIGURE 1:** /frontend/src/images/experiments/notes/notes-fb.jpg

Yet, the

[2018-07-06 18:44] pdehaan opened #3720 "Experiment detail headers are misaligned"
### DEVELOPMENT:

![side-view-dev](https://user-images.githubusercontent.com/557895/42395202-e38c1602-8111-11e8-9cca-b2b06d463231.png)

**Figure 1:** https://testpilot.dev.mozaws.net/experiments/side-view

![lockbox-er](https://user-images.githubusercontent.com/557895/42395960-9baff6c0-8114-11e8-85b6-ec2877a08fe9.png)

---

### PRODUCTION:

![side-view-prod](https://user-images.githubusercontent.c

[2018-07-07 00:56] pdehaan opened #3721 "Not getting emails for mobile apps on dev/stage"
I tried downloading the Notes Android app via https://testpilot.stage.mozaws.net/experiments/notes and the Lockbox iOS app via https://testpilot.dev.mozaws.net/experiments/firefox-lockbox and I entered by email address, but after 30+ minutes I still haven't received any messages to my 2 email accounts (so I should have 4 emails total).

<img width="645" alt="locken-boxen" src="https://user-images.

[2018-07-09 05:35] kgeorgiou commented on #3672
Would something like the image below be acceptable?

![3672-preview](https://user-images.githubusercontent.com/4765455/42432215-796249b0-8317-11e8-92ce-f17b77dfc7c4.png)

I'd like some feedback on:
- The wording. (e.g. Is it ok for the platforms to be joined with " or the "?)
- Should the platforms appear in any particular order?
- Spacing, alignment, etc

Thanks.

[2018-07-09 06:22] SoftVision-PaulOiegas commented on #3720
Yep, something broke there. Don't remember this to be something intended. 😄

[2018-07-09 07:47] SoftVision-PaulOiegas commented on #3671
Seems ok now. 👍 Verified on both Windows and MacOS with English and German locales.

[2018-07-09 14:03] SoftVision-CiprianMuresan opened #3722 "The "Test Pilot" toolbar button's badge is wrongly redisplayed after the browser is restarted"
[Affected versions]:
- Firefox 61.0 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Following 3 prefs have been set or added on a new profile: "xpinstall.signatures.required = false", "extensions.webapi.testing = true", "extensions.install.requireBuiltInCerts = false".

[Steps to reproduce]:
1. Open the browser and navigate to the "https://testpilot.stage.m

[2018-07-09 14:46] SoftVision-PaulOiegas opened #3723 "Old header design is still displayed for Notes and Side View Firefox experiments on 3rd party browsers"
**[Notes]:**
- I assume this is something we have missed, including the "Firefox download" button in the new control center. Seems the only obvious reason why we still display the old UI for experiments that are Firefox experiments.

**[Affected versions]:**
- Chrome 67.0
- Opera 54.0
- Safari 11.1

**[Affected Platforms]:**
- All Windows
- All MacOS
- All Linux

**[Steps to reproduce]:**
1. Open

[2018-07-09 15:24] SoftVision-CiprianMuresan commented on #3711
Hi guys,

We have finalized running our Full Functional test suite on the Staging server and here are the testing results:

### **Legend** ###
&#x26D4;   - blocker issue
&#x1F4D5; - major issue
&#x1F4D9; - normal issue
&#x1F4D2; - minor issue
&#x1F4D7; - enhancement

81% of our tests have passed, 9% failed with new issues and 11% failed with known issues.

## New Issues ##
1. #3722 - &#x26D4; The

[2018-07-10 09:52] SoftVision-PaulOiegas commented on #3713
Finally got what "wonky" was about. You are killing us John with these titles and no descriptions. 🤣

I asked John yesterday about what color should the "Get the App" featured experiment button be, since dev was green and stage was blue. The #3714 PR was fixing the button color also to green.
Had to modify the file locally to find out what was wonky. 😄

Anyway, seems ok now. 👍

[2018-07-10 11:35] johngruen commented on #3722
@SoftVision-CiprianMuresan can you see what happens if you roll your system clock forward an hour then repeat your steps?

[2018-07-10 12:54] johngruen commented on #3722
Note, this is verified as not a blocker since shipping the experiments resolves it

[2018-07-10 13:19] devinreams commented on #3721
I'm not getting emails from production, either. Just SMS...

[2018-07-10 14:17] SoftVision-PaulOiegas commented on #3721
Just tried with my gmail account on production and got an email for Lockbox.
https://screenshots.firefox.com/g69wdSFiulL8PPSZ/mail.google.com

LE: Same for my personal yahoo account when it comes to Notes.

[2018-07-10 14:21] devinreams commented on #3721
Same here, re-tested with a gmail account and received the email! 💌

@pdehaan I believe this can be closed? 🤞

[2018-07-10 16:21] SoftVision-PaulOiegas commented on #3721
I'll close it for Peter. If it's not fixed I'll give him a 🍺  next time we meet so he won't be mad.

[2018-07-10 16:21] #3721 closed, assigned to nobody

[2018-07-10 17:00] johngruen opened #3726 "Add Anthony Lam to the Notes Experiment Page"
Title = Designer

![pic php](https://user-images.githubusercontent.com/3323249/42525472-85c27df8-8473-11e8-8e65-1387f12aa0e5.jpeg)

[2018-07-10 17:41] #3720 closed, assigned to nobody

[2018-07-11 07:37] SoftVision-PaulOiegas commented on #3726
@johngruen If we are doing this, can we also change the Lockbox QA "Catalin Sasca = Mobile QA Engineer" with "Catalin Suciu = Mobile QA Engineer"? I think the team confused them since their names are alike. Suciu is the Mobile QA, while Sasca is a Desktop QA.

[2018-07-11 13:25] devinreams commented on #3726
I'll take care of both of these right now...

https://github.com/mozilla/testpilot/pull/3727

[2018-07-11 14:00] #3726 closed, assigned to devinreams

[2018-07-11 15:46] SoftVision-PaulOiegas commented on #3520
Since now we have an add-on for each server, there is no need of env selector anymore.

[2018-07-12 16:23] johngruen opened #3728 "Deprecate dimension5 and replace with dimension11"
`dimension5` has largely been replaced by `dimension11`

We should make sure all uses of dimension5 have dimension11 in their object as well, and note in docs that dimension 5 is deprecated

[2018-07-12 18:02] #3728 closed, assigned to nobody

[2018-07-12 19:23] pt4r opened #3732 "Right click or long click"
When opening Google Drive i tried to long press or right click a folder but there was no options shown like as they are on a Mobile.

[2018-07-13 06:44] johngruen opened #3734 "Remove Some Areas from ga.md"
Documented, but never used:

- [ ] https://github.com/mozilla/testpilot/blob/master/docs/metrics/ga.md#experimentspage-interactions
- [ ] https://github.com/mozilla/testpilot/blob/master/docs/metrics/ga.md#shareview-interactions

[2018-07-13 07:33] SoftVision-PaulOiegas commented on #3732
Hey @Pt4r and thanks for your report. However, I don't see how this is related to the Test Pilot platform. Can you be more explicit on which experiment is this happening?

Or is this a Firefox issue that you encounter? In which case, you should log an issue in [Bugzilla](https://bugzilla.mozilla.org/enter_bug.cgi) instead. The Test Pilot platform doesn't deal with browser issues.

[2018-07-13 09:03] pt4r commented on #3732
Hello and thank you for your reply. Thank you for reminding me that I completely forgot to mention that this issue is for the Side View feature.

[2018-07-13 09:48] johngruen opened #3735 "Add dimensions to mozAddonManagerEvent, SMS Events, Featured Experiment Events and Experiment Buttons"
Needs to include:
`dimension1`
`dimension2`
`dimension3`

[2018-07-13 11:02] johngruen opened #3736 "Add event to MobileTriggerButton"
should include the following:
[code]

[2018-07-13 11:12] johngruen opened #3737 "Differentiate between closes and cancels on pop up"
In the Mobile modal, we report an event for closing the modal, but we don't differentiate between closes that take place with/without user interaction.

event call is currently
[code]

should be
[code]

[2018-07-13 11:12] #2539 closed, assigned to johngruen

[2018-07-13 11:15] #3612 closed, assigned to nobody

[2018-07-13 11:15] #3702 closed, assigned to nobody

[2018-07-13 11:18] johngruen commented on #3732
Hey @pt4r, i moved this over to the Side View repo. Closing here

https://github.com/mozilla/side-view/issues/306

[2018-07-13 11:18] #3732 closed, assigned to nobody

[2018-07-13 14:24] #3711 closed, assigned to nobody

[2018-07-14 15:32] knrt10 commented on #3565
Hi!! I would like to work on this issue. Would you please direct me to the file to be changed.

[2018-07-16 16:15] devinreams commented on #3631
To consider: fluent had a major release since the 0.4 series so if you go down this path it may require going through the entire upgrade path to get up to (at least) 0.6.

[2018-07-16 16:15] johngruen commented on #3549
We actually don't have the ability to display both icons right now.

[2018-07-16 17:18] #3616 closed, assigned to nobody

[2018-07-16 17:19] lmorchard commented on #3616
https://github.com/mozilla/testpilot/commit/a2d85d74aa114310ba2d20c8de703c78b15e8a56

[2018-07-16 17:19] lmorchard commented on #3626
https://github.com/mozilla/testpilot/commit/a2d85d74aa114310ba2d20c8de703c78b15e8a56

[2018-07-16 17:21] lmorchard commented on #2809
Actually going to re-open this, just for the last TODO lingering, but this is like 90% completed

https://github.com/mozilla/testpilot/blob/master/frontend/tasks/pages.js#L223

[2018-07-16 19:49] kgeorgiou commented on #2809
Ideally the [View](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/View/index.js) component should be used here to wrap the markdown content. This way we get the Header and Footer for free.

It would look something like this:
[code]

However the react-router semantics inside the Header produce an error since these static pages are not wrapped inside the Router.

I'll t

[2018-07-17 13:51] SoftVision-PaulOiegas commented on #3616
The right footer is now displayed on all pages. 👍

[2018-07-17 15:03] SoftVision-PaulOiegas commented on #3626
This is still broken on Local & Dev. We need to display that footer always at the page bottom and not at the end of the text.
![image](https://user-images.githubusercontent.com/17258026/42825815-88d99e90-89eb-11e8-9a3d-dcdfa3908f05.png)

[2018-07-17 16:06] SoftVision-PaulOiegas commented on #3723
This also occurs for unsupported versions of Firefox (57, 56 and lower). Just the button differs and informs the user he needs to update.

[2018-07-19 20:04] #3238 closed, assigned to johngruen

[2018-07-21 05:08] flodolo commented on #3715
Any update?

[2018-07-23 12:29] SoftVision-PaulOiegas opened #3742 "[New Tab] Only the website dark blue background is displayed for any experiment bookmarked page shown in Highlights section"
**[Notes]:**
- I assume this is something we have missed, including the "Firefox download" button in the new control center. Seems the only obvious reason why we still display the old UI for experiments that are Firefox experiments.

**[Affected versions]:**
- Firefox 61.0.1 and above

**[Affected Platforms]:**
- All Windows
- All MacOS
- All Linux

**[Steps to reproduce]:**
1. Open Firefox browse

[2018-07-25 00:10] Pomax opened #3743 "Disabling testpilot so I could investigate some Nightly behaviour wiped my containers"
I'm subscribed to the "containers" test pilot extension, and I had to disable test pilot to track down a weird input bug in Nightly. When I reenabled test pilot, all my custom containers were gone, and the only containers I get to pick from are the default set.

I'm sure that's at most "unexpected" to you, but to me personally: in this moment, that's infuriating. I needed to do some banking. Where

[2018-07-25 16:32] meandavejustice commented on #3735
I think we should add these in the root `sendToGa` definition in https://github.com/mozilla/testpilot/blob/master/frontend/src/app/containers/App/index.js#L315. Any reason we shouldn't do that?

[2018-07-26 21:31] devinreams opened #3746 "[release] 2018-07-26 on stage"
minor: JSX in pages.js is replaced with React components, lots more translations

https://github.com/mozilla/testpilot/compare/2018-07-17...master

[2018-07-26 22:32] sevaan commented on #3696
The start/end date for experiments is part of the same level of hierarchy as the side navigation elements visible on desktop browsers:

<img width="382" alt="image" src="https://user-images.githubusercontent.com/473531/43292052-cd9d2f02-9101-11e8-86a0-5bdbb1c069ab.png">

Since those are not displayed on mobile the start date is not displayed either.

@johngruen Is the start/end date of an experime

[2018-07-30 13:43] SoftVision-PaulOiegas opened #3751 "[Experiment details] The "Your privacy" button is missing from experiment controls area on 3rd party browsers"
**[Affected versions]:**
- All 3rd party browsers

**[Affected Platforms]:**
- All Windows
- All MacOS
- All Linux

**[Steps to reproduce]:**
1. Open a 3rd party browser and navigate to https://testpilot.dev, mozaws.net page.
2. Scroll down on the page and click on any experiment card available except "Side View".
3. Look for "Your privacy" blue text button under the experiment logo or experiment

[2018-07-30 15:15] SoftVision-PaulOiegas opened #3752 "[Experiment details] Experiment square logo wrongly displayed on Windows 10 Edge browser"
**[Affected versions]:**
- Edge browser v40.15

**[Affected Platforms]:**
- Windows 10 x64

**[Steps to reproduce]:**
1. Open a Edge browser on a Windows 10 machine and navigate to https://testpilot.dev, mozaws.net page.
2. Scroll down on the page and click on any experiment card available except.
3. Observe the experiment logo shape on top left part of the page.

**[Expected result]:**
- The expe

[2018-07-30 16:12] ghost commented on #3742
Thanks Paul.  I don't think this is a major issue.  I think most people will not bookmark experiment pages - they'll bookmark the front page if anything.  Additionally, this is just a visual issue - it still works.  We're putting this in Stretch for now.

[2018-07-30 16:19] #3734 closed, assigned to nobody

[2018-07-30 16:29] SoftVision-PaulOiegas commented on #3718
- Seems that the error message misses some margins
margin: 20px 0 0; vs 20px 20px 20px;

- The video also misses a margin-top: 20px;

Should look like this
![screenshot_2018-07-30 firefox test pilot - firefox lockbox 3](https://user-images.githubusercontent.com/17258026/43410194-c660f4b4-942e-11e8-93a5-6f2421da3ecd.png)

[2018-07-30 16:31] SoftVision-PaulOiegas commented on #3742
@clouserw You don't need necessarily to bookmark them. I did that for fast show up on the Highlights section. It's enough to visit the pages and they will reach that area too. But I agree that this is something minor from that point of view. I've labeled it as major due to the fact that it's related to platform logo / brand, which usually is a high priority issue with low severity.

[2018-07-30 17:01] fzzzy commented on #3743
Sorry about that. The Containers Test Pilot experiment graduated 10 months ago, and the containers functionality has been present in firefox without the test pilot addon since then. You should be aware when you are using test pilot that the experiments run anywhere from 3 months to a year, and are experiments so they may be buggy. If you don't want to risk losing data, you can just wait until the

[2018-07-30 17:01] #3743 closed, assigned to nobody

[2018-07-30 18:11] lmorchard commented on #3735
Looks like from [the metrics doc for GA](https://github.com/mozilla/testpilot/blob/master/docs/metrics/ga.md#custom-dimensions), those dimensions aren't meant to be included on every page. But then, neither are 8 or 9 and they are included in every ping. So, I guess I don't know / am confused?

[2018-07-30 20:14] ghost commented on #3735
Adding them to `sendToGa` makes sense to me.  Those dimensions are interesting broadly so sending them on every page is fine.  As Les pointed out, let's keep the docs up to date with any changes that are made.  Thanks!

[2018-07-30 20:24] Pomax commented on #3743
That part makes sense, but then why did it not turn itself off once this got put into FF proper? "This experiment has graduated and has landed in Firefox. We have migrated your testpilot container data to your regular Firefox profile so you don't lose any of the containers you've set up using the test pilot version, and turned off the experiment for you. Enjoy containers in Firefox!" would have be

[2018-07-31 18:23] #3689 closed, assigned to meandavejustice

[2018-07-31 18:28] #3736 closed, assigned to meandavejustice

[2018-07-31 18:30] #3737 closed, assigned to meandavejustice

[2018-07-31 19:11] chuckharmston opened #3759 "Experiment subtitle style improvement"
<img width="352" alt="screen shot 2018-07-31 at 2 10 59 pm" src="https://user-images.githubusercontent.com/23885/43481439-922d2fb2-94cb-11e8-8f03-3ffa4a8074a0.png">

I'll get this.

[2018-07-31 19:14] chuckharmston commented on #3759
<img width="292" alt="screen shot 2018-07-31 at 2 12 46 pm" src="https://user-images.githubusercontent.com/23885/43481596-0083a810-94cc-11e8-9741-52f9069c37a2.png">

I'd also like to subtitle-ize the type a bit here.

[2018-07-31 19:45] #3735 closed, assigned to meandavejustice

[2018-07-31 20:15] #3571 closed, assigned to nobody

[2018-08-01 01:41] #3759 closed, assigned to chuckharmston

[2018-08-01 09:30] SoftVision-PaulOiegas opened #3763 "The experiment type string formatting was wrongly changed on experiment card and experiment details page"
**[Notes]:**
- This change appeared after #3761 was implemented and I'm not sure it was intended. At least the one on the experiment details page desen't seems to be based on the screenshots added by @chuckharmston.

**[Affected versions]:**
- Firefox 61.0.1 and above

**[Affected Platforms]:**
- All Windows
- All MacOS
- All Linux

**[Prerequisites]:**
- The `webextensions.webapi.testing` Boolean

[2018-08-01 09:32] SoftVision-PaulOiegas commented on #3759
Had to rerun this job in order to see it on dev since it failed last night. The subtitle was correctly aligned, but this change also caused other changes regarding the experiment type string. Filed this separately in #3763.

[2018-08-01 14:31] Jan02 opened #3764 "[side view] keep last visited"
if you change the page then go to different sidebar, then back to side view, the initial page reloads instead of the last visited page

[2018-08-01 14:33] Jan02 opened #3765 "[side view] forward/backward"
Side view needs forwards/backwards, at least, from context menu

[2018-08-01 15:06] ghost commented on #3763
@sevaan @chuckharmston -- was this on purpose or is this bug valid?  Thanks

[2018-08-01 15:07] chuckharmston commented on #3763
It's valid. I'll try to get to it today.

[2018-08-01 15:16] ghost commented on #3631
Dave is going to ping stas for help :)

[2018-08-01 15:20] ghost commented on #3660
Les had an idea to just change the hosts file.  Let's try it!

[2018-08-01 16:11] clouserw commented on #3746
This is live:

0822 cloudops-ansibl+│ testpilot static prod #76 building
0824 cloudops-ansibl+│ testpilot-mozillaextension testpilot #495 signing
0824 cloudops-ansibl+│ testpilot-mozillaextension testpilot #495 deployed
0826 cloudops-ansibl+│ testpilot static prod #76 deploy succeeded

[2018-08-01 16:11] #3746 closed, assigned to nobody

[2018-08-01 20:32] fzzzy commented on #3764
Thank you for the feature suggestion. I have opened an issue in the Side View repository:

https://github.com/mozilla/side-view/issues/311

[2018-08-01 20:32] #3764 closed, assigned to nobody

[2018-08-01 20:43] fzzzy commented on #3765
Yes, there are currently technical reasons preventing us from implementing this, but there is an open bug in firefox itself that would allow us to implement it properly. We will continue to try to find solutions that would allow us to implement this properly.

https://github.com/mozilla/side-view/issues/312

[2018-08-01 20:43] #3765 closed, assigned to nobody

[2018-08-01 20:59] bmarden12 opened #3766 "Side View"
I have noticed that while using side view in two open windows of mozilla both would change simultaneously to the same website. I believe it would be more helpful if sideview could work separately if desired for more than one open mozilla firefox window.

[2018-08-02 00:30] fzzzy commented on #3766
Thanks for the suggestion. We already have a bug about this open in the Side View repository, so I am going to close this one as a dupe.

https://github.com/mozilla/side-view/issues/304

[2018-08-02 00:30] #3766 closed, assigned to nobody

[2018-08-02 16:11] devinreams commented on #3715
The workaround plan from here is:

1. re-write the Firefox Account paragraph so the "saved logins" and "here" are not hyperlinked and just have one URL at the end of the paragraph linking to the Lockbox website (not in an anchor tag with English)
2. re-write the Android paragraph similarly so it ends with just a URL (not an anchor tag with English)
2. remove the last paragraph (that this is limite

[2018-08-03 20:48] clouserw opened #3771 "review dependencies"
We have a lot of them!  https://github.com/mozilla/testpilot/network/dependencies

[2018-08-03 22:27] pdehaan commented on #3771
Here's the always mildly-suspicious output from **depcheck**:

[code]

[2018-08-06 09:03] SoftVision-PaulOiegas commented on #3718
Umm... looks good but now we have another problem. The warning icon went black from orange/yelow'ish.

![screenshot_2018-08-06 firefox test pilot - firefox lockbox](https://user-images.githubusercontent.com/17258026/43707408-acd46b2e-9970-11e8-9fab-75ad134d91c8.png)

[2018-08-06 15:35] meandavejustice commented on #3718
Hmm, that doesn't seem to make sense with the changes. Digging into this

[2018-08-06 15:55] meandavejustice commented on #3718
@SoftVision-PaulOiegas Checked against master, and we're having the same issue there.

![icon-color](https://user-images.githubusercontent.com/1844554/43727152-b75eb458-9990-11e8-9a6b-9be60a831ba5.png)

This is peculiar. There haven't been any changes to this component in the past 3 months, yet prod looks good while master is rendering black.

![warning-history](https://user-images.githubuserconte

[2018-08-06 16:06] meandavejustice commented on #3771
Here is output for `npm outdated`:

[code]

11 of our deps are in the red

## Addon
All of our addon dependencies are needed at the moment. All of them are dev dependencies so we don't have the same level of security concern for these.

[code]

3 are in the red

[2018-08-06 16:09] meandavejustice commented on #3626
cc/ @johngruen as I know he has a clever way to get this to work.

We've made a couple commits trying to fix this, and spent a lot of time digging around on stack exchange etc.. to no avail :sob:

[2018-08-06 16:11] meandavejustice commented on #3722
I've had some trouble trying to reproduce this one, @SoftVision-CiprianMuresan have you been able to make this happen with a local build?

[2018-08-06 16:34] meandavejustice commented on #3694
There's been a lot of time spent on this so far with no update to the issue, so here's some info.

Based on what we know about how `event.preventDefault` works with forms, the current code _should_ be working correctly to block any sort of submission. It clearly is not because we are getting the above error.

The issue seems to be related to react's event handling. One source said that React's eve

[2018-08-06 16:37] meandavejustice commented on #3660
We've tried changing the hosts file to point to the dev url (`https://testpilot.dev.mozaws.net/`). This also gives us the advantage of testing the actual dev addon instead of the local build.

It appears that the reason it's not passing now is because of the port number. I'm going to try and see if I can set the port number to 80 for this build in circleci to solve it.

[2018-08-06 19:11] fzzzy commented on #3694
I agree we should move this to stretch or just close it. We're trying to prevent the form from posting and are unable to do so because of the way react works, and none of the workarounds we tried helped. CSP is blocking the form post instead, which is good; so the only bad thing is that CSP prints an ugly error in the console when it blocks it. This isn't important enough to spend as much time as

[2018-08-06 19:24] clouserw commented on #3715
That sounds like the right thing to do.  Thanks @devinreams

[2018-08-06 19:26] clouserw commented on #3549
Let's only show the matching platform, not both

[2018-08-06 19:32] clouserw commented on #3549
We talked about this -- it might be confusing to see the iOS button on an android device, but it also communicates that the app is available on iOS (this is assuming it's only iOS and not Android).  Otherwise we don't really communicate what platform it works on.

So...it's a little awkward, but they all seem like a compromise.  We're going to close this, but open to recommendations from designers

[2018-08-06 19:32] #3549 closed, assigned to nobody

[2018-08-06 19:34] clouserw commented on #3631
Marking this as size:s to try upgrading to 0.6.  If that doesn't work, we might need to change the size.

[2018-08-06 19:43] clouserw commented on #3660
This is still being investigated.  Let's call this `size:L` and if it takes longer than that, let's stop and regroup.

[2018-08-06 19:44] clouserw commented on #3694
This is just an error in the console, everything still works.  We're going to close it.

[2018-08-06 19:44] #3694 closed, assigned to nobody

[2018-08-06 19:49] clouserw commented on #3722
We think this is fixed in the code now, we were just waiting to push it live for a while.  It should be live now

[2018-08-06 19:49] #3722 closed, assigned to nobody

[2018-08-07 09:45] SoftVision-PaulOiegas commented on #3722
I think this will always surface on dev and stage until we release the experiments. It happened before launching Notes mobile and Lockbox and the release fixed the issue. I'm gonna mark this as verified and we'll keep an eye for it.

[2018-08-07 13:02] SoftVision-CosminMuntean opened #3775 "The "Advance" experiment is wrongly displayed as if it's not enabled after it's installed and the page is refreshed"
[Affected versions]:
- Firefox 61.0 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Following 3 prefs have been set or added on a new profile: "xpinstall.signatures.required = false", "extensions.webapi.testing = true", "extensions.install.requireBuiltInCerts = false".
- Test Pilot add-on is already installed.

[Steps to reproduce]:
1. Open the browser and

[2018-08-07 13:14] #3775 closed, assigned to nobody

[2018-08-07 13:32] SoftVision-CosminMuntean commented on #3775
I have verified this issue on Test Pilot dev and stage servers and the issue is no longer reproducible. Tested on Windows 7 x64, Mac 10.13 and Arch Linux 4.12.

[2018-08-07 15:42] lmorchard commented on #3631
Is this the error? (Since I just saw it on a fresh new clone of the site)
[code]

[2018-08-07 15:46] lmorchard opened #3777 "Error in sendToGA with JSON.parse on an undefined value"
Seeing this on the dev site right now, goes away when I disable uBlock Origin. Others do not report the same thing happening, but [it does look like sendToGA will result in an error if localstorage produces an undefined value](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/containers/App/index.js#L304).

![capture](https://user-images.githubusercontent.com/21687/43786735-5c528c0

[2018-08-07 15:47] lmorchard commented on #3777
Also from vladikoff:

![5b69ba0f1c222](https://user-images.githubusercontent.com/21687/43786880-b9fb4698-9a37-11e8-813a-783154675a37.png)

![5b69b9e72aa5f](https://user-images.githubusercontent.com/21687/43786867-b661a356-9a37-11e8-8ff0-90d811c52243.png)

[2018-08-07 16:06] pdehaan opened #3778 "Unable to launch experiments tour on any other browser than Firefox"
### STR
1. Go to https://testpilot.firefox.com/experiments/advance# in Chrome.
1. Open devtools console.
1. Click "Launch Tour" link.

### Actual results:
Nothing happens, console errors ahoy!

[code]

### Expected results:
Toured.

[2018-08-07 16:19] pdehaan commented on #3778
This seems to work on Firefox Beta. But also failed in my Private Browsing Chrome, so I don't _think_ it's some odd Chrome plugin which is throwing the error (because I'm not seeing the onboarding tour).