[2016-01-06 15:32] lmorchard commented on #311
Relevant to this issue is [this comment](https://github.com/mozilla/idea-town/issues/355#issuecomment-169358284) I just left on #355:

[2016-01-06 15:50] lmorchard commented on #223
One more data point: Saw an email go out just before the new year that we should stop using New Relic for sites per privacy team evaluation of their opt-out options for our users who want to avoid tracking. We're not using it here, but I found it useful on MDN. Guess we'll just steer clear of that :)

[2016-01-06 15:55] lmorchard commented on #130
Gotcha from #342: Look for all places where we're doing plain concatenation of strings like `"Idea Town - " + pageTitle` and turn them into localizable templates. (i.e. because word order and such don't work the same way in all locales, especially for RTL languages)

[2016-01-06 15:56] #286 closed, assigned to meandavejustice

[2016-01-06 17:06] lmorchard commented on #149
Working on this today. Slightly more complicated than the previous comment, since it looks like I need to manually tweak the data a bit to leave out some models & mildly sensitive data. Also had to download images from S3 and need to prune through the relevant ones.

[2016-01-06 17:11] chuckharmston commented on #149
Maybe it's good enough to put [placekitten](http://placekitten.com/) URLs in the fixtures?

[2016-01-06 19:04] pdehaan opened #358 "Idea-town dev site looks single column in latest FF Nightly"
### Steps to reproduce:

![blank_skitch_document](https://cloud.githubusercontent.com/assets/557895/12151528/72d80a6e-b464-11e5-81f4-a49eb3148f05.png)
1. Log into http://idea-town-dev.elasticbeanstalk.com/home
2. Navigate to an experiment details page, a lahttp://idea-town-dev.elasticbeanstalk.com/experiments/universal-search
### Actual results:

![idea_town](https://cloud.githubusercontent.com/as

[2016-01-06 19:05] lmorchard commented on #149
Included some real images, because I think making it presentable for demos with sorta-real thumbnails might be important. But, we can always back those out

[2016-01-06 22:22] jaredhirsch opened #359 "Switch away from gulp-in-docker as the default recommended local dev process"
It seems like we are no longer using docker for the front-end code, but the README isn't quite up to date. There's also a hacky docker script I landed in /bin that probably isn't useful to keep around any longer.

[2016-01-06 22:52] johngruen opened #360 "Ensure clever UI flourishes do not distract from Idea Town."
Specifically at issue here is the helicopter blocking users from accessing FxA sign-up. We're going through a branding evaluation so all of this stuff is in flux anyway, but let's make sure Idea Town isn't too cute for its own good.

[2016-01-06 22:53] jaredhirsch commented on #360
:+1: Related: http://xenon.stanford.edu/~lswartz/paperclip/

[2016-01-06 23:34] pdehaan opened #361 "gulp-minify-css is deprecated, please use gulp-cssnano instead"
### Steps to reproduce:

[code]
### Actual results:

[code]

[2016-01-06 23:41] pdehaan opened #362 "Trying to generate a production quality stylesheet implodes and throws errors"
### Steps to reproduce:
1. Clone the **idea-town** repo.
2. Change the `IS_DEBUG` const on line 27 of the gulpfile.js to `false`.
3. Run `$ gulp styles` from The Terminal.
### Actual results:

[code]

[2016-01-06 23:42] pdehaan commented on #362
For reference, here's the behavior with `IS_DEBUG = true` (default/current behavior):

**gulpfile.js:27**

[code]

**OUTPUT:**

[code]

[2016-01-07 01:06] pdehaan commented on #360
Not sure if this discussion is "sign up" specific, or if we're also planning on removing dear old Choppy from the 404 page: http://idea-town-dev.elasticbeanstalk.com/404

![idea_town](https://cloud.githubusercontent.com/assets/557895/12159510/aedd9320-b497-11e5-9887-4586a7bfa746.png)

[2016-01-07 01:58] pdehaan commented on #291
I was looking at this again today and a third option came to mind if we want to suppress the sass-lint warnings. Move the hidpi code into its own module (_hidpi.scss) and then just ignore that file from sass-linting (via gulpfile glob):

### _hidpi.scss

[code]

---

### gulpfile.js

[code]

[2016-01-11 16:02] #361 closed, assigned to pdehaan

[2016-01-11 16:02] #362 closed, assigned to pdehaan

[2016-01-11 17:59] #333 closed, assigned to meandavejustice

[2016-01-11 18:19] lmorchard commented on #132
We are deployed to staging! https://ideatown.stage.mozaws.net/
A wrinkle left to iron out with FxA credentials, but things seem to be working so far.

[2016-01-11 18:19] #132 closed, assigned to lmorchard

[2016-01-11 18:21] lmorchard commented on #341
FWIW, just discovered that staging is configured with FxA credentials that point to dev. Should be fixed shortly, and hopefully that helps address this issue

[2016-01-11 19:20] #149 closed, assigned to lmorchard

[2016-01-11 19:38] #153 closed, assigned to meandavejustice

[2016-01-11 21:37] kparlante commented on #223
Looking forward to talking to you all about idea-town data @6a68, @meandavejustice

[2016-01-11 22:39] lmorchard opened #364 "Access control for experiment addons"
It's possible for users who are not opted into an experiment to download the addon XPI and install it. For security, scaling, and privacy reasons we should look into some access controls such that the addons work only for authenticated users who are accepted into an experiment - i.e. currently everyone, but in the future participation may be limited by factors like # of users, etc.

Initially this

[2016-01-11 23:19] pdehaan opened #365 "Change prod endpoint to ideatown.services?"
From IRC this morning, it looks like we're using the following stage/prod URLs. Not sure what in our code/addon may need to be changed, but filing this just so I can remember the final/proposed URLs in the future when I undoubtedly forget these URLs:
- https://ideatown.stage.mozaws.net/
- https://ideatown.services.mozilla.com/

Here are some rough results from searching this GitHub repo for [:mag:

[2016-01-12 19:29] lmorchard opened #366 "Feature flipping support for experiment addons"
A notion for testing features in an experimental addon is to ship lots of alternate code branches and flip conditionally between them. We've done this a lot on Django sites at Mozilla with [django-waffle](https://github.com/jsocol/django-waffle).

What might be interesting is to have experiment addons talk to the Idea Town addon (e.g. via nsIObserverService) to obtain feature flipping configuratio

[2016-01-12 19:37] lmorchard commented on #366
Also implied here is that we'd have per-user, per-experiment feature profiles on the server side. Could just be a blob of `"name": {true,false}` pairs served up as JSON from the API. [Flags, switches, and samples seem handy in django-waffle](http://waffle.readthedocs.org/en/latest/types/index.html) as logic for controlling these things - but it's worth thinking more about.

[2016-01-13 17:22] lmorchard commented on #359
FWIW, I'm still using Docker for the front-end code. It's always worked great for me, but it seems like I'm the only one. Not sure why.

Maybe this issue should expand from a deceptively simple README update to giving up on gulp-in-docker for local dev altogether? (Needs some things rearranged in docker-compose.yml to make that case the default, etc)

[2016-01-13 22:12] lmorchard commented on #260
At this point, prod & stage environments do not use Elastic Beanstalk. So, it might not be as great an idea to settle on `RDS_*` variables.

@mostlygeek - can you tell me the names of env vars used in prod & stage to configure the database? Don't want to make changes for this issue that end up breaking deployments

[2016-01-14 00:24] pdehaan opened #368 "Confusing nested project names in package.json files"
I think I was doing a `npm install idea-town` for unknown reasons, and came across this package.json naming oddity.

Currently this repo seems to house 3 projects:
1) [./package.json](https://github.com/mozilla/idea-town/blob/ed265be5a5b7c6c3c9d0e60157b339e5ffb19cfa/package.json#L2-L4):

[code]

2) [./addon-api/package.json](https://github.com/mozilla/idea-town/blob/ed265be5a5b7c6c3c9d0e60157b339e

[2016-01-14 00:30] jaredhirsch commented on #368
Good news: I'm removing the addon-api directory in PR #367

[2016-01-14 18:28] jaredhirsch commented on #359
I actually think it might make sense to figure out the gulp-docker weirdness. This will probably come up in a future experiment, since gulp is pretty popular and docker-compose is the way ops likes to do things. I'll try to get gulp-docker working, and file a bug if I run into one. I can also fire up an old windows laptop and try the install process there / file bugs.

[2016-01-14 22:16] meandavejustice commented on #359
@6a68 Another thing to remember is that sourcemaps for `node_modules` do not work when running from withing the container

[2016-01-15 19:06] #353 closed, assigned to nobody

[2016-01-15 20:20] jaredhirsch opened #369 "Unpublish idea-town npm package"
The addon-api is getting merged into the addon in #367, so we should pull that code off of npm:

https://www.npmjs.com/package/idea-town

[2016-01-15 22:45] meandavejustice opened #370 "cleanup client templates"

[2016-01-18 17:09] mostlygeek commented on #260
The env names are whatever the application requires. If you don't like `RDS_*` you can always use `DB_`. The `RDS_*` are just automatic from ElasticBeanstalk and are much more are convenient.

I suppose if you want ideatown to be easily deployable via ElasticBeanstalk you can keep the `RDS_*` env vars. If you want it to be more generic then switch them to something else. It might be more code, but

[2016-01-19 20:02] #311 closed, assigned to meandavejustice

[2016-01-19 20:02] #355 closed, assigned to nobody

[2016-01-19 21:25] #370 closed, assigned to meandavejustice

[2016-01-19 23:09] jaredhirsch opened #373 "Use local copy of pontoon.js"
PR #372 included a line in index.html that sources pontoon.js from mozilla.org, while all other third-party scripts are served by Django.

Correct this by either moving pontoon.js into the correct static directory, or just removing that line from index.html altogether. It's not needed until pontoon integration happens.

[2016-01-20 01:12] meandavejustice commented on #369
Unpublished https://www.npmjs.com/package/idea-town

[2016-01-20 01:12] #369 closed, assigned to meandavejustice

[2016-01-20 01:12] meandavejustice commented on #368
unpublished idea-town from npm and addon-api dir is no longer in project.

[2016-01-20 01:12] #368 closed, assigned to nobody

[2016-01-20 01:54] lmorchard commented on #260
Eh, I'll just leave it as-is since everything's working

[2016-01-20 01:54] #260 closed, assigned to nobody

[2016-01-20 03:09] lmorchard commented on #373
Actually started working on Pontoon integration today, insofar as I started pinging folks in #pontoon on IRC. Kind of a catch-22, since I think we need to have that line there first in advance of getting the project added to the Pontoon service.

Also, a little leery of rolling pontoon.js into our app bundle, because then we won't be tracking changes as they deploy updates to the service. Not sure

[2016-01-20 03:13] lmorchard commented on #130
Got a start on this in 8b6034b33a373d8b0e2d4d21f09a62621a755b0c

But, some things are left, such as:
- [ ] Integrating with Pontoon (or some interface acceptable to localizers)
- [ ] Localizing database content on the server side (#392)
- [x] Chasing down any remaining strings lurking, e.g. in page titles & [CSS](https://github.com/mozilla/idea-town/issues/380) etc
  - See #382 & #383

[2016-01-20 03:14] lmorchard commented on #262
Would #301 + manual editorial control possibly resolve or mitigate this issue?

[2016-01-20 19:02] pdehaan opened #376 "pontoon.js returns a 301 redirect"
I was looking at the developer console and noticed that it looks like pontoon.js is getting loaded twice.

Turns out, the first request is a 301 MOVED PERMANENTLY.

[./idea_town/frontend/templates/idea_town/frontend/index.html:18](https://github.com/mozilla/idea-town/blob/8b6034b33a373d8b0e2d4d21f09a62621a755b0c/idea_town/frontend/templates/idea_town/frontend/index.html#L18)

[code]

That URL retu

[2016-01-20 19:42] lmorchard commented on #376
[This is the documented URL given by the Pontoon folks](https://developer.mozilla.org/en-US/docs/Implementing_Pontoon_Mozilla). Even if it results in a redirect, I don't want to second guess their official deployment. Like I said in #373, this isn't a library we're using, it's a service integration.

[2016-01-20 19:44] #297 closed, assigned to lmorchard

[2016-01-20 19:51] #283 closed, assigned to lmorchard

[2016-01-20 23:24] pdehaan commented on #358
This may be Nightly specific (but appear later in other channels).
I got this installed/working today in FF Beta 44.0b9.

[2016-01-20 23:28] pdehaan opened #380 "[l10n] "View Details" and "Get Started" text not translated"
These are a bit subtle/tricky, since they only appear in the Sass.
1. "Get Started": [./idea_town/frontend/static-src/styles/modules/_list-view.scss:113](https://github.com/mozilla/idea-town/blob/60666a715d24e431aebe4011862d205c68e6ac2f/idea_town/frontend/static-src/styles/modules/_list-view.scss#L113)
2. "View Details": [./idea_town/frontend/static-src/styles/modules/_list-view.scss:130](https://

[2016-01-20 23:50] pdehaan opened #381 "[l10n] Add second locale to test l20n?"
I created a German (de) translation locally (which is just the English strings, but ALL-CAPS).
It lets me play with string lengths and see what wraps weird and some intermittent flashing of English before the translations pop in.

Not sure if we want to try creating a real (or fake) translation and push it into ebs so we can check out switching locales and seeing this in action.

So far I've only

[2016-01-21 00:13] meandavejustice commented on #381
I believe that all of these will be taken care of once database localization is added cc/ @lmorchard

[2016-01-21 18:56] lmorchard commented on #381
FWIW, [localization work is not done yet](https://github.com/mozilla/idea-town/issues/130#issuecomment-173072814).

[2016-01-21 18:58] lmorchard commented on #380
Worth referring to #130 for continuing work on l10n, mentioning here to get this linked over there too

[2016-01-21 22:54] jaredhirsch commented on #366
:+1:

If Idea Town handles segmenting users, that information could be added to metrics packets that are sent over from individual experiments. Also allows individual product teams to not think about stuff like how big the sample population needs to be for a given test.

[2016-01-22 18:52] meandavejustice opened #384 "Css fails to load if not in DEBUG mode"
if NODE_ENV is not set to 'development' we minify our css and name it `main.min.css`. Our html only links to `main.css`.

[2016-01-22 18:54] #380 closed, assigned to lmorchard

[2016-01-22 19:07] lmorchard commented on #384
Should be fixed by https://github.com/mozilla/idea-town/commit/b968504a40bd1fad9bbe6c7ce2118646ad0f2962

[2016-01-22 19:08] meandavejustice commented on #384
Whoops you're right @lmorchard no :coffee: yet today!

[2016-01-22 19:08] #384 closed, assigned to nobody

[2016-01-25 18:14] lmorchard commented on #366
In a status meeting, there was talk of experiments that don't necessarily have a start and an end. Instead, an experiment might lead to a release in Firefox proper, but then continue on as an experiment as new features & tweaks roll in.

Might be interesting to have feature flipping as a way to manage that? That is, the "released" version could be much the same as the "experimental" version, just

[2016-01-25 21:32] #147 closed, assigned to meandavejustice

[2016-01-26 19:16] lmorchard commented on #244
Related to #92 / addon signing, I think.

FWIW, I think this has been discussed a few times in status meetings. If I recall, we made a deliberate decision to require addon installation before allowing experiment browsing. Might be worth bringing up again in a status meeting, since I can't remember what the reasoning was.

[2016-01-26 19:16] #325 closed, assigned to lmorchard

[2016-01-26 19:18] lmorchard commented on #326
Just going to close this for now... started poking at it a little, but things got tangly fast

[2016-01-26 19:18] #326 closed, assigned to lmorchard

[2016-01-26 20:35] lmorchard opened #385 "Implement "Now Active" indicator on Experiment detail page"
This "Now Active" indicator seems to be unimplemented:

![Now Active](https://cloud.githubusercontent.com/assets/3323249/11297045/0c051308-8f76-11e5-8ccc-32ea81d5a5f0.png)

Should get this implemented, if we still want it.

[2016-01-26 20:35] lmorchard commented on #301
Created issue #385

[2016-01-26 20:38] lmorchard commented on #364
A concern that occurred to me: We install addons via the AddonManager, and it does the download. How do we pass along site auth? Maybe a pre-signed URL in S3? Temporary token in the XPI URL we hand off to AddonManager?

[2016-01-26 20:50] lmorchard commented on #270
Can't reproduce this either... Going to guess that this might have been fixed along the way because `main.js` now waits for the `/api/me` resource to load (which has auth details) before initializing the Router (which fires off page display)

[2016-01-26 20:50] #270 closed, assigned to meandavejustice

[2016-01-27 00:35] #262 closed, assigned to lmorchard

[2016-01-27 00:35] #301 closed, assigned to lmorchard

[2016-01-27 00:46] meandavejustice commented on #376
I'm with @lmorchard on this. I think the existing url is the safe bet. Thanks for finding this @pdehaan. May be worth filing [upstream](https://github.com/mozilla/pontoon)

[2016-01-27 00:46] #376 closed, assigned to nobody

[2016-01-27 00:47] meandavejustice commented on #373
closing for same reason stated in #376

[2016-01-27 00:47] #373 closed, assigned to nobody

[2016-01-27 00:48] meandavejustice commented on #365
Should probably be rolled in to (or at least referenced) the renaming work coming soon.

[2016-01-27 00:49] meandavejustice commented on #364
I have quite a few questions around this myself. @lmorchard Let's discuss this sometime in the next couple of weeks

[2016-01-27 00:52] meandavejustice commented on #359
I'll also add that I think it would be easier to support our client code running outside of the containers.

[2016-01-28 20:24] clouserw commented on #364
Why the strict concern for access restriction?  Are we super concerned about unauthorized users?  If we have 10000 users through the regular channel and 100 find the add-on on their own, is that a problem?

[2016-01-28 20:25] chuckharmston commented on #364
Yes, because we require that they sign an additional TOS that gives us more power for metrics collection.

[2016-01-28 20:25] lmorchard commented on #364
Off the top of my head, some stuff that came up chatting with @nchapman and other status meetings:
- Users opted into Test Pilot will have agreed to certain terms that general users haven't - e.g. around privacy, etc - and we would like to try to restrict access to the XPIs to that audience
- Some experiments may only support a certain scale at first - e.g. because the prototype is backed by servi

[2016-01-28 20:28] clouserw commented on #364
Privacy/TOS can be added to the normal fields on AMO for the small percentage of users who discover it that way.  I don't think this is any different than any other add-on on AMO that does things with user data.

Scale is legit, but if we're not advertising the add-ons it seems like it would be a very small percentage of people who would stumble across them on AMO.

Just feels like this is added c

[2016-01-28 20:29] lmorchard commented on #364
Could be we don't need it, but it's being asked for - so we should be at least note why we don't have it for when it gets asked for again :)

[2016-01-28 20:29] chuckharmston commented on #364
Except that users aren't discovering or installing through AMO; they're doing that through the Test Pilot website.

[2016-01-28 20:32] lmorchard commented on #364
Though, having said this, experiments should ideally be built in a way that lets them function when Test Pilot integration is unavailable - i.e. how they'll function if eventually released for real.

[2016-01-28 20:35] clouserw commented on #364
That seems pretty straight forward to add a link to a privacy policy.  I'm just saying they either do it through the normal, "I'm logged in, and going down the normal happy path to discover tests" or they found another way around.  It just seems like putting the right messaging somewhere is easier than trying to enforce authentication.

If we have an experiment that really needs auth we could make

[2016-01-28 20:36] clouserw commented on #177
We could adjust the default update interval to 4 hours (or whatever) and use the existing infrastructure (ops might have an objection to that if we end up at giant scale)

[2016-01-28 20:47] lmorchard commented on #364
Yeah, I wonder if that's fine enough for this issue. Don't care about XPI downloads, just don't complete initialization if the experiment doesn't get a thumbs up from the Test Pilot addon - and that can be based on whatever we want. Kind of smells like DRM, but less for copy protection and more for keeping us out of trouble.

[2016-01-28 20:50] lmorchard commented on #177
Probably a better idea than building up our own custom update process. I've been starting to think that maybe what we want more is user-specific feature flipping (#366) rather than pushing out variant addons to different user segments.

[2016-01-28 20:51] clouserw commented on #364
I'd expect the enforcement of it to be pretty rare - maybe only in a particularly sensitive data area or where scale would be a concern.  For, say, testing tabs on the side of your browser?  Eh, any skewing of random installs would be within the margin of error.  (he assumes without actually knowing...)

[2016-01-28 21:02] lmorchard commented on #364
Tweaked the issue description a bit, hopefully makes it a bit more general rather than literally about stopping downloads

[2016-02-01 18:04] #303 closed, assigned to pdehaan

[2016-02-01 18:05] lmorchard opened #387 "Rename the project to Test Pilot"
Sounds like we're pretty firm on the name change, so let's look into what all needs changing to reflect the new name "Test Pilot"

[2016-02-01 18:17] johngruen commented on #234
https://wiki.mozilla.org/Test_Pilot/Metrics

[2016-02-01 18:32] lmorchard commented on #223
From today's status meeting: Noting that this bug is mainly about main site health & performance, and not metrics on individual experiments (#234). This will probably be solved by whatever happy path is supported by ops, possibly plus Datadog for performance metrics.

[2016-02-01 19:04] nchapman opened #388 "Add Google Analytics"
Use Google Analytics to track page visits and related metrics. We should also identify key funnel steps and button presses to make sure those are appropriately tagged.

[2016-02-02 00:47] meandavejustice opened #389 "add contribute.json"
https://www.contributejson.org/

[example](https://github.com/mozilla/universal-search-recommendation/pull/29)

[2016-02-02 00:48] chuckharmston commented on #389
Prior art: https://github.com/mozilla/universal-search-recommendation/pull/29

[2016-02-02 00:58] meandavejustice commented on #358
I'm now seeing this is Firefox Dev edition

[2016-02-02 01:42] pdehaan commented on #358
I too can reproduce in today's FF DevEdition 46.0a2. It _was_ working a few minutes ago in FF DevEdition 43.x (before I upgraded).

Looks like something probably changed w/ FlexBox or something between FF43 and FF46 that is breaking our layout.

---

**UPDATE:** Definitely looks like something that changed in FF46. Didn't see anything interesting in https://www.mozilla.org/en-US/firefox/46.0a2/aur

[2016-02-02 05:01] meandavejustice commented on #221
in progress at branch: [221-door-hanger-feedback-ui](https://github.com/meandavejustice/idea-town/tree/221-door-hanger-feedback-ui)

[2016-02-02 15:29] #385 closed, assigned to meandavejustice

[2016-02-02 19:04] pdehaan opened #391 "Allow other domains besides @mozilla.com for dev/stage"
It will make our QA automated testing a lot easier if we can allow specific domains or accounts so QA doesn't have to try and manage LDAP passwords for @mozilla.com email addresses.

For other services we just create a bunch of @restmail.net accounts which are easy to create and check.

[2016-02-02 22:34] jaredhirsch commented on #364
To add some context not mentioned so far: when the search addon was first happening, there was a lot of interest in tightly controlling downloads, because we didn't want to make search partners nervous.

I believe this fed into the idea of controlling both who could access addons (for instance, moco/mofo only), as well as how many people could access addons (to make it clear there wouldn't be any

[2016-02-02 23:34] clouserw commented on #387
This is what I'm imagining:
- [x] Rename repository
- [x] Adjust webhooks
- [x] Adjust IRC settings in webhook
- [x] Adjust travis ci settings in webhook
- [x] Adjust coveralls settings in webhook
- [x] Land s/Idea Town/Test Pilot/ PR (this will cover the .travis.yml files and such) This is #393
- [x] Email mailing list with a note to change URLs.  Something like:

.....do we have to do anything w

[2016-02-02 23:51] pdehaan commented on #387
I'll also need to rename "eslint-config-idea-town" to "eslint-config-testpilot" and update package.json.
Then I can deprecate or just delete the old idea-town ESLint config package.

I can do that anytime, I was just waiting to see if this repo was going to be "testpilot" or "test-pilot" so I could be consistent.

[2016-02-02 23:56] clouserw commented on #387
I've been encouraging no dash.  just testpilot.

[2016-02-03 00:15] pdehaan commented on #387
Renamed and published [**eslint-config-testpilot**](https://www.npmjs.com/package/eslint-config-testpilot) to npm.

And since I thought it'd be weird to publish a new module with a version of 1.2.0 to npm, I reset the version number to 1.0.0.

---

Unrelated, but if we bump the **eslint-config-airbnb** dependency to the latest version (currently 4.0.0), we're going to start getting a bunch more ES

[2016-02-03 04:23] lmorchard commented on #387
A few more things off the top of my head, since we have a continual deployment thing happening that feeds into cloudops deployments:
- [ ] Move hub.docker.com/r/lmorchard/idea-town somewhere more official (eg. mozilla/testpilot)
- [ ] Build & deploy a new dev environment (currently idea-town-dev.elasticbeanstalk.com)
- [x] Adjust travis to push container to new Docker Hub location, and deploy to n

[2016-02-05 15:16] johngruen commented on #358
I haven't had time to investigate this, but i'm using the same flex mixin in another project and it looks fine in nightly...maybe we;re not closing a div somewhere? that can lead to this sort of chaos

[2016-02-05 17:57] pdehaan commented on #358
Hhmm, I tested the full generated HTML in https://html5.validator.nu/ and it only came up with 4 errors and 2 warnings.
Only potentially legit error was this:

But even when I changed that nested `<header>` to a `<div>` via devtools, it still renders as a odd vertical column.

[2016-02-05 20:48] lmorchard commented on #366
Doing some checklist thinking in the issue description in advance of possibly creating new issues to capture the work involved in this overall thing

[2016-02-09 20:45] clouserw opened #394 "Add operations endpoints"
The operations infrastructure is expecting some endpoints for each project to reply in a standardized fashion.  This will be expected for all Test Pilot experiments as well as Test Pilot itself.  They are handy for debugging too!
1. Respond to `/__version__` with a [JSON version object](https://docs.google.com/document/d/1rGVyiLYvZyKE2oHcSVx-vBmQRKhs1kLLgn7xeCs6qKs/edit)
2. Respond to `/__heartbea

[2016-02-10 11:54] johngruen commented on #358
@pdehaan @meandavejustice basically i used 'default' when i should have used 'initial' or 'row' as the flex-direction value. PR incoming

[2016-02-10 16:36] lmorchard opened #396 "Merge eslint-config-testpilot npm package into main repo"
We only have one idea-town / testpilot repo, now. So, I think [eslint-config-testpilot](https://www.npmjs.com/package/eslint-config-testpilot) should be folded into the main project, rather than get maintained as a separate thing.

[2016-02-10 16:37] lmorchard commented on #396
@pdehaan: This is following up on comments from #393

[2016-02-10 16:39] lmorchard opened #397 "Retire idea-town-splash repo"
We never launched the idea town splash site, and we probably never will. We should retire the [mozilla/idea-town-splash](https://github.com/mozilla/idea-town-splash) to reduce confusion - it's not been touched since August 2015.

[2016-02-10 16:45] lmorchard opened #398 "Rework server Docker container to run under non-root user"
[The Dockerflow deployment pipeline from ops](https://github.com/mozilla-services/Dockerflow#dockerfile-guidelines) says this:

But, our Docker container runs everything as root. This should be reworked.

[2016-02-10 18:13] lmorchard commented on #394
My question with the `__version__` thing is how & when do we increment version? Should we just have a 1.0.0 that gets incremented (eg. 2.0.0, 3.0.0) every time we deploy ala Firefox?

Up to now, we were kind of aiming toward a continual deployment thing, if possible. So, git commit hashes would have been basically the version. We don't have a numbering scheme otherwise.

Another option - if this i

[2016-02-10 18:16] chuckharmston commented on #394
With `master` checked out, `git rev-list --count HEAD` will give you a the number of commits. Could be used as a point version to make sure everything is unique?

[2016-02-10 18:16] lmorchard commented on #394
Also, generating the `commit` value should probably happen in the Docker container build. Kind of redundant / weird to commit a change to project source to note the commit hash of the previous commit

[2016-02-10 18:17] lmorchard commented on #394
Sure, as long as we never ever ever rebase / force-push master. (which we shouldn't ever, but it's possible)

[2016-02-10 18:36] meandavejustice commented on #358
Than

[2016-02-10 18:36] #358 closed, assigned to nobody

[2016-02-10 18:54] clouserw commented on #223
Some good notes at https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=40049778 about this.

We'll be sending datadog metrics to $STATD_HOST and $STATD_PORT

[2016-02-10 18:59] lmorchard commented on #387
Internal renaming landed. We still need to rename the repo itself, announce the change, and make sure all of us devs change local refs to repos.

And then there's the Docker-to-dev stuff I mentioned above. If we're not finding it useful, we can nuke it. Otherwise, it will be broken on repo rename and need some work to fix. Not sure what dependencies deployment on ops has on the repo name yet...

[2016-02-10 19:07] lmorchard commented on #387
Oh yeah, and:
- [x] Change repos for Waffle & any other project management tools we're using

[2016-02-10 19:13] lmorchard opened #401 "Change logging output to conform to Dockerflow"
The [Dockerflow repo](https://github.com/mozilla-services/Dockerflow) says this about logging:

So, we need to change the logging setup in the Docker container to:
- [ ] Output to stdout & stderr
- [ ] Use the [mozlog format](https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=42895640)

[2016-02-10 19:21] pdehaan opened #402 "A few lingering idea-town references in the repo"
(Feel free to edit this description and remove any obviously bad results)

[code]

... Actually, all these refer to pretty generic "ideas" and probably don't need to be changed:

[code]

[2016-02-10 19:33] pdehaan opened #403 "Update ampersand-state dependency"
I keep seeing this during `npm install` but then lazily neglecting to file it #seesomethingfilesomething

---

Full output of `npm outdated` is as follows (in case something looks interesting):

[code]

[2016-02-10 19:46] mostlygeek commented on #223
Since ops will be deploying this app via Docker, we should get this repo up to the new [Dockerflow spec](https://github.com/mozilla-services/dockerflow).

The spec also documents the two available way containers can log / send metrics. See: [https://github.com/mozilla-services/dockerflow#sending-metrics-and-logs](https://github.com/mozilla-services/dockerflow#sending-metrics-and-logs)

[2016-02-10 19:46] #223 closed, assigned to mostlygeek

[2016-02-10 19:53] lmorchard commented on #223
FWIW, that's #401, #398, #394. No issue open for stats/datadog, but we're not sending any metrics along those lines yet. Might be worth opening another issue about that, at least for coming up with some things to track

[2016-02-10 20:05] lmorchard opened #404 "Retire support for idea-town-dev in Elastic Beanstalk"
Renaming the project in various places has broken the CI duct tape that leads to Elastic Beanstalk.

<strike>Is idea-town-dev.elasticbeanstalk.com useful? If so, it should get fixed. If not, it should get cleaned out of the project</strike>

Going to retire idea-town-dev, because we're moving to a deployment model supported by ops.

[2016-02-10 21:33] lmorchard opened #406 "Handle hosting & signing of experiment addon XPIs"
Capturing this from the status meeting back on 2/1:

I'm interpreting this as needing these things done:
- [ ] Accept upload of experiment XPIs via Django admin, hosted from our S3 bucket
- [ ] Apply `jpm sign` with credentials dedicated to the Test Pilot site
  - can we do that automatically as a part of the Django admin? or do the XPIs need to be signed manually before upload?
- [ ] Link to thos

[2016-02-10 21:35] lmorchard commented on #177
Meant to actually close this, since I think we made a decision to go with more conventional addon update machinery.

[2016-02-10 21:35] #177 closed, assigned to meandavejustice

[2016-02-10 22:29] pdehaan opened #407 "dev site tries to install older version of the testpilot addon"
I was trying to verify something on idea-town-dev.elasticbeanstalk.com and noticed I wasn't logged in, so I ran through the flow again and it took me to the point where I have to install the Test Pilot Add-on and it's currently giving me a 404 and pointing at an old (and non-existent) .XPI file.

![test_pilot_-_help_build_firefox_and_2__pdehaan_pdehaan____dev_github_idea-town__zsh__and_3__pdehaan_

[2016-02-10 23:02] mostlygeek commented on #398
When installing packages / dependencies at container creation time it is ok to run as root. When we run the container it should run as the non-privileged user. I will create an issue to help clarify that.

[2016-02-11 14:40] johngruen opened #408 "FxA sign in redirects to ideatown.dev on current local build"
I'm on b35b72c921fca...

I've changed my /etc/hosts file for test pilot, but FxA still redirects to ideatown.dev

[2016-02-11 14:45] lmorchard commented on #406
FWIW, we've also talked about just hosting these as unlisted addons on AMO. But, if I recall, the argument against was that we couldn't link to the XPI without authentication. Seems like there was also concern about the review process. Might help to jot down those reasons here if anyone else remembers better :)

[2016-02-11 15:07] lmorchard commented on #408
Hmm, yeah, the redirect URL is part of the FxA registration and not a setting on our side. So, we need to register new FxA credentials for local dev and [update the env vars in docker-compose](https://github.com/mozilla/idea-town/blob/master/docker-compose-base.yml#L34-L35). I'd just keep using ideatown.dev rather than testpilot.dev until this issue gets resolved.

[2016-02-11 15:34] lmorchard commented on #407
I think this might basically be a dupe of #244? In a nutshell, the "Install the Add-on" link is known not to work right now, and you have to manually install the XPI.

We don't have a solution for hosting of the main addon worked out - that's #92. The build in github is just for dev convenience and we definitely shouldn't lean on it for anything serious from the site itself. In fact, it should go

[2016-02-11 15:37] lmorchard commented on #406
This is also related to #92, which pertains to the main site addon. I think whatever we come up with for that XPI should be useful in how we handle experiment XPIs.

[2016-02-11 18:59] meandavejustice commented on #92
So my plan for this atm is to have a simple signing/packaging `npm script` in the addon called `deploy`. From our `gulpfile` we can build and move it into our `static` dir.

I'll need to do some investigation on hosting our own addon, via updates, access control etc...
@lmorchard how does this sound? Am I leaving anything out here?

[2016-02-11 19:02] meandavejustice commented on #407
closing as dupe

[2016-02-11 19:02] #407 closed, assigned to nobody

[2016-02-11 19:39] meandavejustice commented on #401
here is the python package for mozlog https://pypi.python.org/pypi/mozlog/3.1

[2016-02-11 20:35] lmorchard commented on #92
Hmm, so I haven't had a change to play with `jpm sign` myself yet... Does that come back immediately with a signed add-on? Or do you have to wait for an email notification or something?

If it's an immediate thing, it would be cool to roll add-on build & signing into the scripts that build our Docker container for deployment. We're already running gulp in there to build the frontend JS.

If it wai

[2016-02-11 21:20] clouserw commented on #387
New waffle @ https://waffle.io/mozilla/testpilot .  travis and coveralls are hooked up.  I'll follow up on the legal docs.  I think we're done here?

[2016-02-11 21:29] #396 closed, assigned to pdehaan

[2016-02-11 21:30] #387 closed, assigned to clouserw

[2016-02-16 18:10] #130 closed, assigned to lmorchard

[2016-02-16 18:13] lmorchard opened #414 "Integrating with Pontoon for translation (or some interface acceptable to localizers)"
The front-end uses L20n, and Pontoon claims to work with it. So, let's get that working.

The server-side uses django-hvad to localize database content. Can pontoon work with that too, somehow?

[2016-02-16 18:14] lmorchard commented on #130
Closing this. Remaining tasks have issues.

[2016-02-16 19:06] clouserw commented on #394
Saying we're not going to force push master seems like a reasonable thing to do.

[2016-02-16 19:19] lmorchard commented on #394
Yeah, fair enough. Bad things happen on master with a force push, so we can just chalk this up as one more bad thing that could happen.

[2016-02-16 20:10] jaredhirsch commented on #92
@meandavejustice Helpful links for hosting add-ons:

The mime type for the xpi is `application/x-xpinstall`, from the [extension packaging page on mdn](https://developer.mozilla.org/en-US/Add-ons/Extension_Packaging#Making_an_extension_XPI). The mime type for update.rdf is documented on the [manifests page on mdn](https://developer.mozilla.org/en-US/Add-ons/Install_Manifests#updateURL), and can be

[2016-02-16 23:41] meandavejustice opened #415 "Remove references to elastic beanstalk from addon"
https://github.com/mozilla/testpilot/pull/409#issuecomment-183076589

[2016-02-16 23:42] #404 closed, assigned to lmorchard

[2016-02-17 17:11] meandavejustice opened #417 "coveragerc still points to old idea_town directory"
https://github.com/mozilla/testpilot/blob/master/.coveragerc#L2

[2016-02-17 21:46] ckprice opened #419 "Create a public details page for tests"
This bug is about allowing users who have not signed in or installed the add-on to view experiment detail pages (e.g. https://testpilot.firefox.com/experiments/activity-stream).

/edit removing the original opening, as it was incorrect.

[2016-02-18 19:06] #415 closed, assigned to meandavejustice

[2016-02-18 19:07] #417 closed, assigned to meandavejustice

[2016-02-19 16:35] #408 closed, assigned to lmorchard

[2016-02-23 21:43] meandavejustice opened #428 "Get rid of scroll bars in addon popup UI"
There is a css issue forcing scroll.

[2016-02-23 21:44] lmorchard commented on #401
Hmm, confusingly, I don't think [that mozlog package](http://mozbase.readthedocs.org/en/latest/mozlog.html) produces the same thing as this [this mozlog schema](http://mozbase.readthedocs.org/en/latest/mozlog.html). That package looks like it's specifically for formatting automated testing output, not server activity

[2016-02-23 21:45] lmorchard commented on #401
@mostlygeek do we have any other apps (ideally using Django) that produce this mozlog format that I could look at as an example?

[2016-02-23 21:45] meandavejustice opened #429 "Create retina versions for all images in the addon"
cc/ @johngruen might want to tweak the existing icons as a part of this.

[2016-02-23 21:48] meandavejustice commented on #401
hmm, weird. Might be worth opening an issue if there is a conflict in the
naming

On Tue, Feb 23, 2016 at 1:45 PM, Les Orchard notifications@github.com
wrote:

[2016-02-23 22:30] #221 closed, assigned to meandavejustice

[2016-02-23 22:35] lmorchard opened #430 "Figure out how to handle feedback submissions consistently"
The main website has [feedback forms](https://github.com/mozilla/testpilot/blob/master/testpilot/frontend/static-src/app/views/feedback-view.js#L81) attached to the enable/disable buttons. These submit to [`/api/feedback`](https://github.com/mozilla/testpilot/blob/master/testpilot/experiments/views.py#L89), which stores the responses as database rows.

The addon (as of #400) has a feedback survey

[2016-02-23 23:36] mostlygeek commented on #401
I rewrote part of the spec to provide some links. The [python library](https://github.com/mozilla-services/mozservices/blob/master/mozsvc/util.py#L106) is rather undocumented. Tokenserver uses it and we're able to parse the logs in Heka without any extra work.

[2016-02-24 00:54] mostlygeek commented on #401
I dug a little deeper and standardized logging isn't a great story for python.

However, the official documentation is available here https://mana.mozilla.org/wiki/display/CLOUDSERVICES/Logging+Standard. In a nutshell, output JSON blobs with the right keys and magic will happen.

The schema is available here https://mana.mozilla.org/wiki/pages/viewpage.action?pageId=42895640.

Maybe @whd can give

[2016-02-24 01:07] whd commented on #401
Unfortunately I don't think we have a standalone modern python library for mozlog. The python library @mostlygeek pointed to is for an old legacy format that is also supported by our decoder, but which should not be used. The only newer python app I can think of that uses the new format is autopush, which uses some custom logging: https://github.com/mozilla-services/autopush/blob/master/autopush/l

[2016-02-24 03:31] #394 closed, assigned to lmorchard

[2016-02-24 03:37] meandavejustice commented on #402
Looks like these are all fixed up now after the recent merges, thanks @pdehaan

[2016-02-24 03:37] #402 closed, assigned to nobody

[2016-02-24 03:48] meandavejustice commented on #397
deleted. this is a 404 now https://github.com/mozilla/idea-town-splash

[2016-02-24 03:48] #397 closed, assigned to meandavejustice

[2016-02-24 04:02] meandavejustice commented on #282
closing since new ui has much simpler layout.

[2016-02-24 04:02] #282 closed, assigned to johngruen

[2016-02-24 04:30] meandavejustice commented on #239
fixed in #427

[2016-02-24 04:30] #239 closed, assigned to lmorchard

[2016-02-24 04:37] meandavejustice commented on #46
_bump_ do we still need this issue? @lmorchard

[2016-02-24 04:48] meandavejustice commented on #129
reassigning this to @clouserw to continue the discussion.

[2016-02-24 04:49] meandavejustice commented on #141
ping @lmorchard is this issue still relevant?

[2016-02-24 04:51] meandavejustice commented on #163
closing since we don't have use for a queue yet

[2016-02-24 04:51] #163 closed, assigned to nobody

[2016-02-24 07:43] lmorchard commented on #141
Going to say no, since we're serving up static assets from the Docker container and that's a happy path for ops so far

[2016-02-24 07:43] #141 closed, assigned to lmorchard

[2016-02-24 07:43] lmorchard commented on #46
Yes, at some point we really should have one

[2016-02-24 17:51] clouserw commented on #129
I think this is talking about a mailing list that doesn't exist right now?  What would be the purpose of the mailing list?

[2016-02-24 17:58] clouserw commented on #133
I'm always in favor of being able to un-signup for anything I've signed up for, but in this case it doesn't feel very important.  Having people uninstall the add-on essentially "cancels" their account until they re-install it.  All the data was so opt-in to start with, deleting it just doesn't seem critical to me.  If y'all feel strongly though, anonymizing it would work too.

[2016-02-24 19:03] lmorchard commented on #129
Currently, we have an auth system that lets you sign up / log into Test Pilot with FxA. If you don't have an *@mozilla.com email address, your account is set to inactive and you're shown a "coming soon" kind of message.

So, in effect, the "mailing list" is the set of email addresses of inactive accounts. Presumably, we'd notify them when they can come back and actually use Test Pilot.

We don't h

[2016-02-24 19:03] lmorchard commented on #129
We'd also had some discussion about having an actual google-groups-style mailing list for announcements and such, but I think we drifted away from that a bit

[2016-02-24 21:05] clouserw commented on #394
For the record, I also set the master branch to protected in github so we shouldn't be able to accidentally force push it either.

[2016-02-24 21:12] clouserw commented on #129
Got it, thanks.  Based off of that comment I'm going to close this issue -- it sounds like it has expired.  The addresses with an inactive account aren't a mailing list.  When we want to email them we could write a tool, or we could just run a query and export the addresses to a text file.  Once we figure out how we want to handle the accepting-new-users flow we can sort that out.  Thanks!

[2016-02-24 21:12] #129 closed, assigned to nchapman

[2016-02-24 22:01] lmorchard commented on #394
We had that protected at one point, but disabled it. Turns out it makes pull requests very hard to merge without constantly rebasing against master, even if there aren't conflicts

[2016-02-26 21:32] bwinton opened #433 "Need a way to connect WebExtension tests to the Test Pilot add-on."
The current solution for communicating with the main add-on from experiments (`nsIObserverService`) won't work for WebExtensions.  There is [an API](https://developer.chrome.com/extensions/runtime#method-connect) we could use instead, but it's [not implemented yet](https://bugzilla.mozilla.org/show_bug.cgi?id=1213473), and worse, isn't going to block the first release of WebExtensions.
![😢](http:/

[2016-02-26 21:43] bwinton commented on #433
It looks like from the WebExtension side, we can use [`chrome.runtime.sendMessage`](https://developer.chrome.com/extensions/runtime#method-sendMessage).  I’m not sure what that’ll translate to on the Test Pilot add-on side, though…

[2016-02-29 17:19] johngruen commented on #93
Here's the UX for this...
Click the button in the lower right to see the behavior
https://people.mozilla.org/~jgruen/test-pilot/
![screen shot 2016-02-29 at 12 18 46 pm](https://cloud.githubusercontent.com/assets/3323249/13402518/a9ecde22-dede-11e5-8d70-84262d74982a.png)

[2016-02-29 17:21] #389 closed, assigned to nobody

[2016-02-29 19:44] johngruen commented on #93
@meandavejustice hey, maybe we could figure out the best way to do client detection here...I'm not sure what the prefered method is. I can implement the UI if you can get the detection part implemented.

[2016-02-29 19:45] johngruen commented on #93
@meandavejustice alternately, find me a good tutorial and i can take a crack at it

[2016-02-29 19:46] johngruen commented on #360
This seems a bit silly...closing in favor of refactoring UI for TxP

[2016-02-29 19:46] #360 closed, assigned to johngruen

[2016-03-01 17:43] lmorchard commented on #391
Some details: Right now mozilla.com is a hardcoded check. I think the easiest thing to do here is support a list of domains in Django settings, next hardest would be a list of regexes. The list should be configurable via environment variable like most of the important settings.

[2016-03-01 23:56] meandavejustice commented on #93
I think the simplest way to do this would just be to check the useragent

[code]

we could also use something like [browser-detect](https://www.npmjs.com/package/detect-browser), but the above snippet would be faster.

[2016-03-02 00:17] ckprice commented on #433
A quick note that product would like to include Tab Center with the go to market release of Test Pilot in April.

/edit thanks @bwinton :blush: Not required for Tab Center, but still important as noted.

[2016-03-02 01:09] ckprice opened #437 "Evaluate flow for e10s release plan"
Current e10s plan of record:
- BETA 46: 50% of `46population`
- GA 46: 100% of `46population`

`46population` users who have no add-ons or a11y tools installed, or non RTL locales.

Per an update from relman and co:

Every one of our users who install Test Pilot and previously did not have an addon installed, is subjected to the above condition. We should discuss.

/cc @edmoz @johngruen

[2016-03-02 01:51] bwinton commented on #433
Fortunately, Tab Center isn't a WebExtension, however the No-More-404s extension is… (And future extensions will be, if at all possible. :wink:)

[2016-03-02 16:18] #398 closed, assigned to lmorchard

[2016-03-02 16:37] #401 closed, assigned to lmorchard

[2016-03-02 17:17] edwindotcom commented on #437
it would be good to get a feel for numbers affected. I'd guess that most test pilot users will have one or more addons. So ball park: 10% test pilot users would have to restart upon install?  Installing test pilot experiments would require no install (since test pilot was the first addon).

We should confirm that other system addons like Hello and Pocket are not counted as that would make the `46p

[2016-03-02 17:59] johngruen opened #438 "Implement onboarding for individual tests"
![idea-onboarding](https://cloud.githubusercontent.com/assets/3323249/13469735/a243ca84-e076-11e5-9171-8aa46e1479b5.gif)

[2016-03-02 18:02] johngruen opened #439 "Add short descriptions and icons to landing page"
See the demo: https://people.mozilla.org/~jgruen/test-pilot/
![screen shot 2016-03-02 at 1 02 20 pm](https://cloud.githubusercontent.com/assets/3323249/13469856/0dd4f1a6-e077-11e5-9470-a1a43bab0fdc.png)

[2016-03-02 18:21] johngruen opened #440 "update add-on install flow"
Demo: https://people.mozilla.org/~jgruen/test-pilot/get-add-on.html

![add-install](https://cloud.githubusercontent.com/assets/3323249/13470333/b04ad14c-e079-11e5-876b-490601ea2f39.gif)

[2016-03-02 18:27] johngruen commented on #169
Closing in favor of
#438
#439
#440

[2016-03-02 18:28] #169 closed, assigned to johngruen

[2016-03-02 18:29] johngruen opened #441 "Update app styles for Test Pilot"
General overhaul of styles to match new naming/branding.
Here's the basic spec:
https://people.mozilla.org/~jgruen/test-pilot/

[2016-03-02 18:52] lmorchard commented on #440
Hmm, I'm not sure the initial addon installation is something we can customize like that. It will have to go through the usual Firefox addon management process. After installation, I think we can do the doorhanger thing, though.

[2016-03-02 19:31] clouserw commented on #234
RFC for draft plan @ https://docs.google.com/document/d/1D0QvPngp3Va7Q1AIR8Bp_4GYltszsYbUytvXw_gV8Ok/edit

[2016-03-02 19:40] meandavejustice commented on #440
We may be able to do it using `self.loadReason`
https://github.com/mozilla/testpilot/blob/master/addon/index.js#L120

On Wed, Mar 2, 2016 at 10:52 AM, Les Orchard notifications@github.com
wrote:

[2016-03-02 20:04] pdehaan opened #442 "Switch from Node 0.12 to Node 4.x?"
Re: [#436 (comment)](https://github.com/mozilla/testpilot/pull/436/files#r54643575) thread about Node 0.12 usage (in Dockerfile and Travis-CI),

Not sure if it's worth it to just switch to Node 4.x now since it has a much friendlier LTS+maintenance window (see the handy table and chart at the bottom of https://github.com/nodejs/LTS#lts_schedule), and I'm sure it will be a lot easier to bump minor

[2016-03-02 20:28] lmorchard commented on #442
Also CircleCI, since we're probably going to be dropping Travis in favor of that.

This is worth doing because this version of node is basically ancient, but not super high-priority IMO. We don't serve anything using node, we just build frontend assets and (soon) the addon in local dev & on CircleCI. So, we don't have any services up & running with an outdated node.

[2016-03-02 21:59] mostlygeek opened #443 "Improve static asset caching for upstream proxies"
For example:

[code]

The `max-age=0` basically tells the nginx proxy to never cache the assets so we're serving out of the container/python for every request. Changing this value to something > 0 will offload the static asset serving to nginx or CDNs.

Also adding an `Etag` header and/or creating unique asset names with a long `max-age` setting would improve performance.

[2016-03-02 22:56] #366 closed, assigned to lmorchard

[2016-03-03 15:53] lmorchard opened #444 "Package ops-friendly JSON logger as a standalone Python package"
So, [we just merged a JSON log formatter](https://github.com/mozilla/testpilot/pull/431#issuecomment-188993849) that seems to conform to cloudops' specifications. This should be generally useful to Python apps, so let's split it off into a standalone PyPi package for use by any project

[2016-03-03 16:53] lmorchard commented on #443
Going to look at this later today. But, if I don't get to it, this looks like a good starting point for enabling gzip & caching support with whitenoise in the app:

http://whitenoise.evans.io/en/latest/django.html#add-gzip-and-caching-support

Also notes further on in that page for tweaking the `WHITENOISE_MAX_AGE`. We'd need to add the appropriate env var lookups in `settings.py` on the dev side

[2016-03-03 16:53] lmorchard commented on #443
FWIW, is `DEBUG` set to `True`? Those docs claim `WHITENOISE_MAX_AGE` default is `60 if not settings.DEBUG else 0` - i.e. it should be `60` if `DEBUG=False`

[2016-03-03 18:07] mostlygeek commented on #443
For gzip, we actually let nginx do that too. I think Debug=False in stage.

[2016-03-03 18:31] mostlygeek opened #445 "Error when signing up to FxA account"
Testing on stage I see:

![testpilot-scope-issue](https://cloud.githubusercontent.com/assets/83972/13504772/c8e4501e-e12a-11e5-9a72-320ddf1dd520.png)

Talked with @jrgm about this and he said the scope value being sent on the wire is blank `""`. @jrgm could you elaborate more? In [the code](https://github.com/mozilla/testpilot/blob/334d776393425df52564d9f1cad99c2b882ed736/testpilot/users/providers

[2016-03-03 19:04] meandavejustice opened #446 "test that addon updates are served correctly"

[2016-03-03 19:05] jrgm commented on #445
So, the initial request is made with scope profile, but after completing authentication, the front end is requesting authorization with scope `""`.

[2016-03-03 19:05] meandavejustice opened #447 "integrate addon build/signing into circle ci"

[2016-03-03 19:05] jrgm commented on #445
/cc @seanmonstar

[2016-03-03 19:19] meandavejustice opened #448 "strategy for upgrading legacy testpilot users"

[2016-03-03 19:21] seanmonstar commented on #445
This sounds familiar. If the client isn't `trusted` in the fxa-oauth-server, then it isn't allowed to request the `profile` scope. And I believe there's an issue in the content-server to display a better message when this is the case.

[2016-03-03 19:25] mostlygeek commented on #445
@seanmonstar does not trusted mean I got the security / access information wrong?

[2016-03-03 19:35] seanmonstar commented on #445
There is a `trusted` boolean in the database of the fxa-oauth-server. I don't recall how that is set. I believe stage has our oauth console, and perhaps it allows picking if it is trusted?

[2016-03-03 19:41] pdehaan commented on #93
FWIW, here was my experience today from trying to install a Chrome addon from Firefox today:

![postman_-_chrome_web_store_and_postman___supercharge_your_api_workflow_and_define_behavior_for_browsers_other_than_desktop_firefox_ _issue__93_ _mozilla_testpilot_and_embedly-proxy_dev_mozaws_net___version__](https://cloud.githubusercontent.com/assets/557895/13506702/35e25568-e134-11e5-988e-af61b7f3e44e

[2016-03-03 19:51] jrgm commented on #445
So I don't see where setting trusted was supposed to be how this client was configured (or idea town credentials before it was testpilot). If it's supposed to trusted, the change is simple, but @rfk needs to give that approval.

[2016-03-03 20:50] rfk commented on #445
Will this be hosted on a mozilla.com or firefox.com domain?  If so, I'm happy for it to have trusted status.  An alternative fix is to just request the scopes you actually need, e.g. "profile:email profile:display_name".

[2016-03-03 21:49] lmorchard commented on #445
@rfk: Ultimately, yes, the production site will be at testpilot.firefox.com. But, so far, this issue is just about the staging server at https://testpilot.stage.mozaws.net/

[2016-03-03 21:55] mostlygeek commented on #445
@rfk or @seanmonstar when requesting the whole `profile` scope, what does access does that grant? @lmorchard should review since we should be requesting only the privileges we need.

[2016-03-03 21:59] rfk commented on #445
Ability to read uid, email address, display name and profile picture, which can be requested individually using the following sub-scopes:  "profile:uid profile:email profile:display_name profile:avatar".

[2016-03-03 22:02] mostlygeek commented on #445
@rfk if the scope was changed to `profile:email, profile:display_name, profile:avatar` we wouldn't need to set the `trusted` flag then?

[2016-03-03 22:08] lmorchard commented on #445
Well, like I said, ultimately this **will** be a firefox.com site - so it probably _should_ be trusted at that point.

What we're talking about here is just getting a staging server up and running. We can play around with the scope requested in the code, but that sounds like possibly a red herring IMO. Our staging server **shouldn't** be accessing any real sensitive PII in any case, just throwaway

[2016-03-03 22:16] mostlygeek commented on #445
@lmorchard I'm +1 with having testpilot a trusted site. Though, I still like only requesting what we need.

@jrgm could you flip testpilot's `trusted` flag in STAGE?

[2016-03-03 22:39] jrgm commented on #445
Done.

[code]

[2016-03-03 22:46] jrgm commented on #445
Hmm

[code]

[2016-03-03 22:48] mostlygeek commented on #445
I get the same error. Looking at the info it seems this is the response from FxA in stage:

[code]

So it sent a 404 error messages

[2016-03-03 22:51] pdehaan commented on #443
I think `DEBUG` is `True` on stage (currently logging in via FxA vomits a bunch of Python/Django debug info to the screen):

![keyerror_at__accounts_login_callback_](https://cloud.githubusercontent.com/assets/557895/13512388/2b76f80c-e14f-11e5-9242-96a21fa73d60.png)

Also, that value for `ALLOWED_HOSTS` looks a bit suspect, `"testpilot.dev.mozaws.net"` for the testpilot.stage server.

[2016-03-03 23:28] jrgm commented on #445
Is that a 404 response to a request make by the test pilot server, or in the browser?

[2016-03-04 01:15] mostlygeek commented on #445
I switched testpilot.stage.mozaws.net over to production FxA. Still the same issue with the `code:404` I mentioned above:

![testpilot-debug-error](https://cloud.githubusercontent.com/assets/83972/13515142/c30743fc-e163-11e5-9467-8ffb73c80251.png)

[2016-03-04 01:17] rfk commented on #445
Is testpilot hitting the right URL to get the profile data?

[2016-03-04 01:18] rfk commented on #445
Should be https://profile.accounts.firefox.com/v1/profile in production.

[2016-03-04 01:34] mostlygeek commented on #445
Nope. Wrong profile URL. Shall fix.

[2016-03-04 01:36] mostlygeek commented on #445
Works now. Thanks @rfk.

[2016-03-04 01:36] #445 closed, assigned to nobody

[2016-03-04 01:43] pdehaan commented on #445
Wait, do we want **stage** TestPilot using the **prod** FxA stack?
That seems like we're crossing streams and could be risky if somebody accidentally load tests stage or something.

[2016-03-04 02:11] mostlygeek commented on #445
There was an email thread and this was @rfk suggested approach.

[2016-03-04 15:30] lmorchard commented on #445
I still don't think we should be using **production** FxA for a **staging** server. Production testpilot.firefox.com should be trusted on Production FxA - but not staging, IMO. We're not promising the same security assurances and whatnot for PII on staging as for prod.

It sounded like the better thing was to use FxA [Stable development (production clone)](https://developer.mozilla.org/en-US/docs/

[2016-03-04 15:37] lmorchard commented on #445
Still kind of dubious about having a staging server be trusted in prod FxA, but just saw the tail end of the email thread... so, if that's the official advice then  ¯\_(ツ)_/¯ let's go with it

[2016-03-04 18:45] ghost commented on #388
@meandavejustice do you have the GA code for this or do you need us to find one?

[2016-03-04 19:58] meandavejustice commented on #388
@wresuolc I need the GA code

[2016-03-04 21:20] ckprice commented on #388
@meandavejustice @wresuolc filed [bug1253728 ](https://bugzilla.mozilla.org/show_bug.cgi?id=1253728) to get this.

[2016-03-04 21:42] #391 closed, assigned to nobody

[2016-03-07 17:48] #92 closed, assigned to meandavejustice

[2016-03-07 22:36] #447 closed, assigned to meandavejustice

[2016-03-07 23:15] lmorchard opened #452 "Update *insecure* python dependencies"
Just noticed this: [![Requirements Status](https://requires.io/github/mozilla/testpilot/requirements.svg?branch=master)](https://requires.io/github/mozilla/testpilot/requirements/?branch=master)

Django==1.8.4 should get upgraded to 1.8.11. Bonus point would be to upgrade all the way up to 1.9, but not sure what the changes are - best to get to a secure point release and follow up in another issue

[2016-03-07 23:19] ckprice commented on #388
The GA snippet was supplied in [bug1253728comment3](https://bugzilla.mozilla.org/show_bug.cgi?id=1253728#c3). This ID can be used on both stage and prod.

[code]

[2016-03-07 23:23] meandavejustice commented on #388
thanks @ckprice

[2016-03-07 23:46] #452 closed, assigned to lmorchard

[2016-03-07 23:46] pdehaan opened #455 "Add favicon.ico"
Currently requesting the https://testpilot.stage.mozaws.net/favicon.ico file returns a status code of 200, but is actually the "Four Oh Four!" page.

![test_pilot](https://cloud.githubusercontent.com/assets/557895/13587168/17c53d80-e47b-11e5-95d0-6d594af7a926.png)

---

(And here's the same page in Chrome's Network tool:)

![test_pilot_-_help_build_firefox](https://cloud.githubusercontent.com/asse

[2016-03-08 16:02] meandavejustice opened #457 "ensure that the testpilot addon is e10s compatible"
https://wiki.mozilla.org/Content_Processes

[2016-03-08 16:20] meandavejustice commented on #457
I have confirmed, the addon works properly with e10s

[2016-03-08 16:20] #457 closed, assigned to meandavejustice

[2016-03-08 16:59] #388 closed, assigned to meandavejustice

[2016-03-08 17:54] johngruen opened #461 "Assign every test a color-scheme"
In the new UX, every test should be assigned two hex values and an angle.

<img width="334" alt="screen shot 2016-03-08 at 12 52 15 pm" src="https://cloud.githubusercontent.com/assets/3323249/13610637/a52b3506-e52c-11e5-868b-b2446020522f.png">

[2016-03-08 18:05] pdehaan commented on #461
Instead of a linear gradient, you could go nuts with tiles: https://github.com/qrohlf/trianglify http://qrohlf.com/trianglify-generator/

[2016-03-08 18:21] pdehaan opened #462 "Bring back the auto-deploying dev server"
I miss the old dev server that got bumped on each commit. (Which was killed in aptly named #404 PR):

We have a stage server, https://testpilot.stage.mozaws.net/, but it currently has an old (yesterday's) build and won't let me download the signed addon (it points to a 404 page on GitHub -- see https://github.com/mozilla/testpilot/issues/244). Currently I'm not 100% certain how I can build the add

[2016-03-08 18:46] lmorchard commented on #462
I can look into rebuilding a continuously deployed dev instance on Elastic Beanstalk again, but the point of staging is to have something stable (i.e. not changing with every master commit during active development) for QA that's staged prior to deployment to prod.

Master branch should be okay to deploy to staging whenever. It's not playing around. If we want a deployment for QA, that's the point

[2016-03-08 18:48] pdehaan commented on #462
Is there a way to automate the master->dev so it uses the same ops stack as stage/prod?

But yeah, even if we just push master->stage today so I can grab the bundled+signed addon and log in, that'd be super (then we can leave the auto-deploy chore for another day).

[2016-03-08 18:58] lmorchard commented on #462
My impression is that automating those deployments has a lot of moving parts. Folks in ops haven't had the bandwidth to implement all that stuff.

So, current prod & stage process is to ping @mostlygeek for a deployment. If there's stuff you want to QA from master, we should do that as needed. (We can probably ping other folks too, but I don't have a list of alternates.)

The dev server was on Ama

[2016-03-08 19:00] lmorchard commented on #462
All that said, let's not close this issue. A dev server on a different stack can still be handy, and hopefully my first run through the setup process comes back to me :)

[2016-03-08 19:26] ckprice opened #463 "Create mechanism to allow for content detection"
There is a request to give owned channels (about:home, moz.org) the ability to detect whether or not a user is a participant in Test Pilot. I don't know if such a thing exists (or is possible), but this issue is opened to discuss, and implement if appropriate.

[2016-03-08 21:19] lmorchard commented on #463
Hmm, thinking out loud ahead:

We do [set `window.navigator.testpilotAddon = true;` in our `message-bridge.js` PageMod](https://github.com/mozilla/testpilot/blob/master/addon/data/message-bridge.js#L11) to indicate presence of the add-on to [the Test Pilot site](https://github.com/mozilla/testpilot/blob/master/testpilot/frontend/static-src/app/models/me.js#L29).

That only happens for pages in [an

[2016-03-09 20:35] lmorchard commented on #442
Also relevant:
![node 4.4.0 LTS](https://www.dropbox.com/s/jgcjqoj8avehyje/Screenshot%202016-03-09%2015.33.48.png?dl=1)

[2016-03-09 23:06] clouserw commented on #234
Plan now lives at https://github.com/mozilla/testpilot/blob/master/docs/README-METRICS.md

Bugs filed for telemetry hookups: https://bugzilla.mozilla.org/show_bug.cgi?id=1255184 and https://bugzilla.mozilla.org/show_bug.cgi?id=1255182

Next steps:  Document how tests will use our metrics pipeline.  File Issues for ensuring test pilot is hooked up to log in the formats detailed in the plan.  Ensure

[2016-03-10 00:45] pdehaan opened #465 "npm run lint seemingly called twice on Travis"
Ref: https://travis-ci.org/mozilla/testpilot/jobs/114617578#L720

In the maze of Travis -> Tox -> npm scripts -> Gulp and Gulp task dependencies, it looks like we're running the frontend lint tasks twice on Travis for each build.

No big deal, but apparently adds 3s to the build. We could literally save ourselves 15s/day by removing [`npm run lint`](https://github.com/mozilla/testpilot/blob/5477c9

[2016-03-10 20:04] pdehaan opened #467 "Unable to install TestPilot add-on and enter site (stage)"
[code]

&mdash; via https://testpilot.stage.mozaws.net/__version__

---
### Steps to reproduce:
1. Go to https://testpilot.stage.mozaws.net/ and sign in with your Mozilla email address.
2. On the "Install the Test Pilot Add-on" page, click the nice, green **[Install the Add-on]** button.
3. Click the **[Allow]** button in the doorhanger-esque popup (see **Figure 1** below).
4. Click the **[Install

[2016-03-10 20:11] lmorchard commented on #467
Hmm, I can't reproduce... Did you happen to reload the site after installing the add-on and switching environments in prefs? I think that's something we don't handle gracefully right now

[2016-03-10 20:13] pdehaan commented on #467
@lmorchard I've refreshed a few times, yeah. I'll try in a new profile maybe. I've been seeing some very odd jank when trying to screenshot the bug and not clicking the buttons in the doorhangers and then trying to get the addon installed. At one point I had to go into about:addons and try and kick the addon from within there.

[2016-03-10 20:28] pdehaan commented on #467
Oddly worked in Nightly once (saw one experiment called "jk"), but it won't let me in again, even with a restart and different profile.

[2016-03-10 21:14] cuff-links commented on #467
I too am stuck at the install addons page.

Env. Mac OSX 10.11.1
FF 48.0a1

I switched the env to staging (came installed with production as the default) and still cannot get into the Test Pilot application.

I can also reinstall the add-on, over and over again.

[2016-03-10 23:51] jaredhirsch opened #468 "Enable locale-specific experiments"
_Bug migrated from universal search repo, was originally https://github.com/mozilla/universal-search/issues/76_

Description, from @nchapman in the original bug:

The goal here seems to be allowing restricting experiment participation to specific countries. The earlier search experiments mentioned must have used country-specific locales (for example, `en-US` vs `en-GB`), as that's the only thing a

[2016-03-11 00:21] chuckharmston commented on #234
Related: https://github.com/mozilla/universal-search/pull/79

[2016-03-11 04:35] clouserw commented on #467
I'm also stuck on the install add-ons page but I'm trying in production.  Using Firefox Nightly on linux.  I didn't see any messages in my console.

[2016-03-11 17:18] #465 closed, assigned to meandavejustice

[2016-03-11 17:44] lmorchard commented on #467
What versions of Firefox is everyone using? We have to use Firefox Dev Edition to do addon development, so I can't say I've tried it in Nightly or Release... probably ever. I wonder if it's related to that?

[2016-03-11 18:00] lmorchard commented on #467
Ah, never mind: I can reproduce on a fresh release Firefox profile and I just noticed the tail end of @pdehaan 's notes. I also see the undefined object error in Browser Console, and yep I think that's the problem.

It's undefined because I haven't yet gotten into the site to get a list of available experiments, but I can't get into the site until the addon works. So, bleargh. Guess we need to loo

[2016-03-11 18:05] lmorchard commented on #467
Additionally, this makes #462 look even more important, because we're going to have a broken addon in stage & prod preventing any testing until we get another deployment. And deployments are heavy events right now, so we can't do that every time we have a master commit that fixes something.

[2016-03-11 18:09] pdehaan commented on #467
Activity Stream actually has a solid little setup where I can type [`npm run once`](https://github.com/mozilla/activity-streams/blob/a1bf706ec86dc57a4f009b2ca4813a19e34d2f9a/package.json#L88) and it creates the bundle/add-on and then uses [JPM to launch a new instance of FF Beta](https://github.com/mozilla/activity-streams/blob/a1bf706ec86dc57a4f009b2ca4813a19e34d2f9a/package.json#L105) with a cle

[2016-03-11 18:11] lmorchard commented on #467
I'll steal this from @meandavejustice, because I think he's in the thick of reworking UI stuff for the new Test Pilot design

[2016-03-11 18:28] lmorchard commented on #467
Hmm, actually we have `npm start` for that in package.json, but looks like it's hardcoded for a Linux copy of Firefox. Will tweak some things as part of this PR.

[2016-03-11 18:43] lmorchard commented on #467
FWIW, our addon build is simpler than Activity Stream, but I made some Activity-Stream-inspired tweaks to npm scripts over in PR #470 (along with a fix to this issue)

[2016-03-11 19:33] lmorchard commented on #207
Just noticed that CircleCI seems to do this nicely, right out of the box. Since it looks like we're heading toward dropping TravisCI, let's just close this issue.

[2016-03-11 19:33] #207 closed, assigned to lmorchard

[2016-03-11 19:38] #467 closed, assigned to lmorchard

[2016-03-11 20:06] ghost commented on #448
John is working on this with Ryan starting next week.

[2016-03-11 20:08] ghost commented on #467
Thanks!

[2016-03-11 21:05] #441 closed, assigned to johngruen

[2016-03-11 21:13] ktbee commented on #428
I can work on this one! Is there a screenshot I can take a look at to see the extra scroll bar?

[2016-03-11 21:22] meandavejustice commented on #428
Awesome @ktbee! here is a screenshot.
![2016-03-11_1920x1080_scrot](https://cloud.githubusercontent.com/assets/1844554/13715863/4fc0065c-e78c-11e5-84a5-6f4261e6543d.png)

[2016-03-11 22:03] #348 closed, assigned to meandavejustice

[2016-03-11 22:09] meandavejustice commented on #244
fixed in #470

[2016-03-11 22:09] #244 closed, assigned to johngruen

[2016-03-11 22:10] johngruen commented on #439
Fixed by #472

[2016-03-11 22:10] #439 closed, assigned to nobody

[2016-03-11 22:12] johngruen commented on #291
Fixed by #472

[2016-03-11 22:12] #291 closed, assigned to nobody

[2016-03-11 22:13] meandavejustice commented on #242
no longer relevant since switching to new ui in #472

[2016-03-11 22:13] #242 closed, assigned to johngruen

[2016-03-11 22:14] johngruen commented on #289
Closed via #472

[2016-03-11 22:14] #289 closed, assigned to nobody

[2016-03-11 22:15] meandavejustice commented on #316
fixed in #472

[2016-03-11 22:15] #316 closed, assigned to johngruen

[2016-03-11 22:16] johngruen commented on #290
Fixed via #472

[2016-03-11 22:16] #290 closed, assigned to nobody

[2016-03-11 22:18] johngruen commented on #327
agree with @meandavejustice. I also rewrote the flexbox mixin so that it doesn't inject rules into the CSS if it receives default values

[2016-03-11 22:18] johngruen commented on #327
#472

[2016-03-11 22:20] #350 closed, assigned to nobody

[2016-03-11 22:21] meandavejustice commented on #359
_bump_

[2016-03-11 22:33] johngruen commented on #461
@meandavejustice gonna need some help updating the django app on this one.

[2016-03-14 16:23] #403 closed, assigned to meandavejustice

[2016-03-14 17:23] lmorchard commented on #438
Hmm, off the top of my head, seems like this needs another Model alongside ExperimentDetails (e.g. ExperimentTourSteps) to contain the image/copy content

[2016-03-14 17:26] meandavejustice commented on #328
Assigning to @johngruen so he can verify this is still an issue

[2016-03-14 17:28] meandavejustice commented on #279
@johngruen Assuming this is complete with the new UI changes?

[2016-03-14 17:28] johngruen opened #476 "Test Pilot title should link to the home page"
Right now the test pilot title is just an h1, we should make it a link to the most appropriate page (home if you're logged in, sign up, or get the add on)

[2016-03-14 17:30] johngruen commented on #455
@mostlygeek do we get the favicon for free when we host in *.firefox.com?

[2016-03-14 17:35] lmorchard opened #477 "Provide variant testing framework to experiments."
Issue #366 introduced data models and server-side APIs for feature flipping flags & conditions. This needs to be passed along to experiments, so let's do that.

Probably the easiest way is to do this via messaging using nsIObserver. But, investigating that should be a part of this issue.

[2016-03-14 17:47] lmorchard commented on #406
It looks like Activity Streams is doing their own thing in S3. IMO, we shouldn't interfere with this & should continue supporting this as long as it's how that team wants to work.

The main thing Test Pilot should do is make this easier, but not try to force a top-down One True Way unless we need to - i.e. for legal & privacy concerns. So, if we can offer a quick & convenient path to getting an ad

[2016-03-14 17:50] lmorchard commented on #462
Adding to this - I just had [a change](https://github.com/mozilla/testpilot/commit/033999d7d0a021c50884f0b8f3a7b275eb77dc7d) work on my local machine, but fail on stage & prod. Not sure if it would fail in the same way on an elastic beanstalk dev, but probably worth a try.

[2016-03-14 18:54] pdehaan commented on #406
@oyiptong Were we using S3 for ActivityStream as a temporary thing until we could host the add-on on TestPilot, or were we thinking of using S3 long term?

[2016-03-14 19:01] lmorchard commented on #406
Well, we're using S3, one way or another. I think the choice is whether Test Pilot does it on behalf of experimenters, or whether experimenters manage that themselves.

[2016-03-14 19:04] lmorchard commented on #406
One case where we might have to insist Test Pilot manages the hosting, is if we ever want to restrict access to download XPIs for access control (#364) - because Test Pilot would need to be able to issue pre-signed S3 URLs.

But, even there, we're not sure pre-signed S3 URLs would work with the Firefox add-on update process. I think the consensus is that we should control access via config sent to

[2016-03-14 19:08] lmorchard commented on #468
Two things:

1) Locale restriction in particular seems like something experiments should enforce for themselves. That should be data that's accessible from Firefox to an experiment add-on.

2) But, if we want central control of things like that, we need to record a user's locale in their profile and possibly tell experiment add-ons whether or not to activate by way of something similar to feature

[2016-03-14 19:10] oyiptong commented on #406
@pdehaan As this issue describes, we weren't sure what the final hosting situation would be.

We currently sign, host ourselves and handle the update URL, so in theory, we should be good to go if TestPilot only requires a URL from us.

What we're missing is a managed AMO API key. I think it's OK for now, but it would be something to consider long term for TestPilot.

[2016-03-14 19:13] lmorchard opened #478 "Include ephemeral request time data in feature flag calculations"
Thinking about #468, we don't collect locale as an attribute of a user's profile or in any particular experiment installation. But, we might need locale - and potentially other things - as data to feed into conditionals for feature flipping.

Do we want to collect more things like that associated a user's profile and/or experiment installation? What sorts of things would be useful in determining s

[2016-03-14 19:25] pdehaan commented on #468
Why would you record a users locale in their profile versus just grabbing it from the browser/user each time? I usually switch browsers regularly and one of my profiles happens to be in a German locale, so if you somehow store my locale in your DB, not sure how I'd change it if I wanted to change from German back to English or French, etc.

[2016-03-14 19:26] mostlygeek commented on #455
Nope. At least, nothing I know of.

[2016-03-14 19:28] lmorchard commented on #406
Right now, a URL is all we need. In fact, until / unless this issue is resolved, a URL is all we support :)

[2016-03-14 19:28] pdehaan commented on #455
If we just want the regular old Firefox logo, we can totally steal it (and anything else, like robots.txt) from [**mozilla/fxa-content-server**](https://github.com/mozilla/fxa-content-server/tree/master/app).

[2016-03-14 19:30] johngruen commented on #455
@pdehaan 👍

[2016-03-14 19:32] oyiptong commented on #406
Heh, ok. WFM. I'll watch this issue and will be able to adapt in case things change

[2016-03-14 20:04] chuckharmston commented on #234
We should also make sure that there is a client identifier that is passed on to Telemetry to allow calculations of retention rate and user type analysis. It should be a UUID derived from neither the test pilot user ID nor the FxA ID. Activity Stream is [doing something similar](https://github.com/mozilla/activity-streams/blob/master/data_dictionary.md) with their `client_id` property.

[2016-03-14 20:09] clouserw opened #479 "Build a wrapper for submitExternalPing()"
The way the metrics plan is developing is to use Telemetry to record our measurement data.  This means using [Telemetry's submitExternalPing()](https://dxr.mozilla.org/mozilla-central/source/toolkit/components/telemetry/TelemetryController.jsm#192).  This issue is to add a function to TestPilot which allows test pilot clients to easily record data with us.  (basically a light wrapper around submit

[2016-03-14 20:11] clouserw commented on #234
Telemetry has a unique ID

[2016-03-14 20:15] mostlygeek commented on #479
There are several ways to get data in. @whd would be the authoritative source for recommendations on how best to send metrics.
1. via telemetry, as part of the regular FF telemetry upload
2. http => testpilot => statsd (datadog)
3. http => testpilot => heka => ElasticSearch => Kibana
4. http => testpilot => heka => (pipeline?) => ??

Figuring out which of these paths data will flow will help getti

[2016-03-14 20:17] clouserw commented on #234
I filed https://github.com/mozilla/testpilot/issues/479 for the actual implementation of the metrics wrapper and the documentation.  That means all that is left for this issue is:
- Get data flowing (the bugs referenced in above comments)
- Build a visualization (going to use a 3rd party tool for this)

So, this issue is probably no longer "too large" although it does involve 3rd parties so still

[2016-03-14 20:23] lmorchard commented on #468
See #478.

As of right now, feature flipping logic happens on the server, so the server needs all the data. If the client does it, it needs the conditions and their implementations.

For example, we might want to apply a feature condition like: For all German users on Windows, put half in feature bucket A and half in feature bucket B. If the server resolves that condition, it needs the data (becau

[2016-03-14 20:28] lmorchard commented on #478
A middle way to do it that just occurred to me: Have the client send various parameters along with the request to fetch feature flags. That could include locale, RTL, etc, etc. Then, server-side conditionals can use that request-time data to decide, and not have to store it at all.

[2016-03-14 20:30] lmorchard commented on #468
You know what, actually, ignore half of what I just wrote up there. [Maybe we should just send client-side data needed by server-side conditionals as parameters in the request to fetch feature flags](https://github.com/mozilla/testpilot/issues/478#issuecomment-196508370). No need to store them, use them in server-side calculations as needed.

[2016-03-14 20:37] lmorchard commented on #479
This issue is just about using Telemetry on the client side from experiments. [More complete details about our collection strategy are over here in README-METRICS.md](https://github.com/mozilla/testpilot/blob/master/docs/README-METRICS.md#data-collection-details).

[2016-03-14 20:44] ktbee commented on #428
Thank you for the screenshot @meandavejustice! I haven't been able to reproduce this scrollbar however, which you can see in this screenshot:

![unable to repro scroll issue](https://cloud.githubusercontent.com/assets/7991694/13759269/21cd1226-e9f3-11e5-9be5-b7b7c109f113.png)

I'm running version 47.0a2 of the Firefox Developer Edition. Do you have any suggestions on how I can reproduce this?

[2016-03-14 20:46] chuckharmston commented on #428
@ktbee that could be an artifact of OS X's tendency to hide the scrollbar. What's your value of this setting (in System Prefs > General)?

<img width="541" alt="screen shot 2016-03-14 at 2 45 44 pm" src="https://cloud.githubusercontent.com/assets/23885/13759369/7fe1325c-e9f3-11e5-95be-a986d7dc0502.png">

Alternately, it could be a Linux-only thing.

[2016-03-14 23:24] ckprice opened #481 "Wire GA events"
In [bug 1253728](https://bugzilla.mozilla.org/show_bug.cgi?id=1253728) we received our GA ID and it was added to the main template in #456.

To get the most out of GA reporting & funnel creation, we should add an [event](https://developers.google.com/analytics/devguides/collection/analyticsjs/events#overview) on every (or at least every meaningful) user interaction on the site.

/edit [Event requi

[2016-03-15 16:16] ktbee commented on #428
@chuckharmston thanks for taking a look at this. I checked my OS X scroll bar preferences, and they're set to "Automatically based on mouse or trackpad." Even when I change the setting to "Always," I'm not able to repro this scroll bar. I'm traveling at the moment, but I'll check this issue on a linux machine as well once I get home later this week.

[2016-03-15 17:59] ckprice opened #482 "Link to TOS/Policy from 'Install Add-On' prompt"
We need a link to our TOS/privacy policy on the add-on install page; somewhere near the 'Install Add-On' prompt.

Needs:
- words (or an already-existing link)
- implementation: if it's not a link, how to show? Probably just a modal is fine.

This will block our April launch.

/cc @javaun

[2016-03-15 18:08] ckprice commented on #133
Bumping this, adding it to our April milestone and /cc @javaun.

Some questions:
1. This is an add-on: do we need any additional mechanism to point users to disable?
2. We do keep a segment of user data in our TxP DB for feedback reasons, does this need to be deleted/anonymized?

[2016-03-15 18:56] lmorchard commented on #479
Digging into this and thinking out loud, I think we're missing some detail in how this should work for individual experiments. In fact, the README-METRICS says this:

There's [the main `testpilot` summary ping](https://github.com/mozilla/testpilot/blob/master/docs/README-METRICS.md#data-collection-details), so I don't think we want individual experiments to also each send their own `testpilot` pin

[2016-03-15 19:07] lmorchard opened #484 "Add-on builds result in stale code when version is not updated"
Currently, add-on signing happens [on every Circle CI run](https://github.com/mozilla/testpilot/blob/master/circle.yml#L48) - this includes PR review test runs. This is problematic, because AMO only supports signing any given version once.

That means if a PR is submitted, the code gets built & signed on initial submission with the version string in `package.json`. If add-on code changes are made

[2016-03-15 19:10] chuckharmston commented on #484
I believe circle exposes an environment variable with the current branch name. Could you do this through a `release` branch?

[2016-03-15 19:13] oyiptong commented on #484
Just curious: are you using separate signing credentials for a "production release" of test pilot?

We aren't putting the AMO API keys on third-party CI at the moment, because that would allow anyone that gets access to Travis to sign addons under our name.

[2016-03-15 19:13] lmorchard commented on #484
Yes, but what I mean by complication is that we need two paths for Docker container build:
1. Build without signing the addon
2. Build with signing the addon
And then, either path needs to result in Django tests being run. Maybe not huge complication, but we'd need to figure that out.

[2016-03-15 19:14] lmorchard commented on #484
We do have AMO API keys on Circle CI. So yeah, if someone did gain access to our Circle CI account, they would be able to sign add-ons under our name. They'd also be able to push server builds to Docker Hub, so we'd have lots of problems in that case.

[2016-03-15 19:16] chuckharmston commented on #484
Sure. You only run `jpm sign` when the build is caused by a push to the release branch. That should be achievable with a conditional around the value of `$CIRCLE_BRANCH`. Then you only push the release branch when you **mean** it.

[2016-03-15 20:04] lmorchard commented on #484
So, I'm kind of thinking that doing both the things can save us from some trouble:
1. Include git commit hash in all versions, so we _never_ reuse a version even accidentally and
2. only sign the addon when building a deploy-ready container (i.e. master branch, tagged releases)

Since devs can still run `npm run sign` on a local machine, unless we do #1 we can still end up with this problem if som

[2016-03-15 20:05] chuckharmston commented on #484
Works for me!

For reference: https://circleci.com/docs/environment-variables

[2016-03-15 20:40] pdehaan opened #485 "ToS and Privacy Notice links aren't super discoverable on homepage"
Found in 61d380e282e3263b84bdd485b43999804262b40d (via https://testpilot.stage.mozaws.net/__version__)

[code]

![firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/13793250/3b3887fc-eab3-11e5-83a3-02e764c4e23f.png)

I had to carefully mouse over that text to figure out that they were actually links. We may want to add an underline or bold the text or something to make it a bit

[2016-03-15 20:48] pdehaan opened #486 "Mozilla wordmark in footer is cleverly hidden on homepage"
Found in 61d380e282e3263b84bdd485b43999804262b40d (via https://testpilot.stage.mozaws.net/__version__)

[code]

---
### Steps to reproduce:
1. Go to https://testpilot.stage.mozaws.net/
2. Scroll to bottom of page.
### Actual results:

![firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/13793402/f4f86e00-eab3-11e5-8aa0-8f4dbd6b8c8a.png)
### Expected results:

White wordmark on b

[2016-03-15 21:00] pdehaan opened #487 "Signing up with a non-Mozilla email redirects you to a 404 page"
Found in 61d380e282e3263b84bdd485b43999804262b40d (via https://testpilot.stage.mozaws.net/__version__)

[code]

---

If you try signing up to Test Pilot with a non @mozilla.com email address, it takes you to a 404 page.

I just lost my sweet, sweet bug report, and now I'm stuck in a flow where I'm registered as my @mozilla.com account, but it won't let me fully install the add-on or sign out, so I

[2016-03-15 21:15] pdehaan opened #489 "Logs and tracebacks when getting errors on stage/prod"
This seems less than ideal, but maybe not...

Currently I'm stuck on the homepage where I can sign in with my @mozilla email address, but it won't let me fully install the add-on and get into the site. I can't sign out, or otherwise use the site or get back to the original homepage, so I'm stuck in a dead end.

As a last ditch effort, I figured I'd try and force a signout so I could hopefully get

[2016-03-15 21:22] jaredhirsch commented on #428
@ktbee I've added you as a collaborator to this repo, so I can assign this bug to you. If you still aren't able to repro the issue locally on your linux machine, it might be best just to hop on another issue, so you can get it done in plenty of time for next week's deadline.

[2016-03-16 16:08] #484 closed, assigned to lmorchard

[2016-03-16 16:14] pdehaan commented on #485
Fixed via #491

[2016-03-16 16:14] #485 closed, assigned to nobody

[2016-03-16 16:15] pdehaan commented on #486
Fixed via #491

[2016-03-16 16:15] #486 closed, assigned to nobody

[2016-03-16 17:14] #463 closed, assigned to lmorchard

[2016-03-16 19:05] pdehaan opened #493 "Delivery of all launch experiment details and assets"
Before we launch, we should make sure we audit the current Activity Stream info and make sure we list the correct measurements, contributors, version, and other data.

/edited by Cory
- [ ] Activity Stream assets (https://github.com/mozilla/activity-streams/issues/549)
- [ ] Universal Search assets (https://github.com/mozilla/universal-search/issues/147)
- [ ] Tab Center assets (https://github.com

[2016-03-16 19:38] pdehaan opened #494 "Disable Activity Stream button sometimes leaks text"
Found in https://testpilot.firefox.com/__version__ (b2f03ce74366e7c4eae1b53c4d24a5a9c0ac083b)

[code]

---

Was randomly toggling the add-on and noticed this weird state:

![firefox_test_pilot_-_activity_stream_and_activity_stream_test_plan_-_google_docs_and_firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/13826287/e5e3e654-eb73-11e5-8591-9c8f926d66da.png)

[2016-03-16 19:58] clouserw commented on #479
I'm expecting another "type" of ping added to the [list of pings](https://gecko.readthedocs.org/en/latest/toolkit/components/telemetry/telemetry/index.html) for test pilot.  Then, tests within test pilot would use that type.

I was expecting tests to submit their own pings via this wrapper around submitExternalPing().  I'm not sure what colliding with the main daily summary means...there aren't co

[2016-03-16 19:59] clouserw commented on #479
/cc @rafrombrc for comments on the above

[2016-03-16 20:02] jaredhirsch commented on #476
@johngruen Stealing for a new contributor :-)

[2016-03-16 20:26] johngruen commented on #476
@ktbee hey, WRT styles, no need to underline or change color or anything...just make sure `cursor:pointer`

[2016-03-16 20:58] lmorchard commented on #479
Maybe I'm not understanding Telemetry? I'm thinking the collision would be this:
- Test Pilot add-on defines a `testpilot` type & JSON schema for the daily summary - i.e. the enable/disable timestamps & feature flags & etc as spec'd in README-METRICS.
- But then, would experiments then each have their own separate JSON schemas for their specific metrics? If so, when they all submit pings as type `

[2016-03-16 21:05] clouserw commented on #479
The current pings in the telemetry docs have things like `metadata: {...}` and `payload: {...}` which I was assuming meant there was some flexibility to those sections.  I was thinking it would be something like:

[code]

And the payload would be whatever that particular test wanted to record.  That may not be realistic if Telemetry is going to require strict structures before recording data.

Rob

[2016-03-16 21:19] rafrombrc commented on #479
My understanding is that `payload` represents the part of the ping for which we need the JSON schema. We already know the schema of the wrapper, we just need to know the form of your portion of the ping, which is what `payload` should contain. Providing us with the schema will allow us to do some validation of the input data and to make sure we're parsing everything correctly.

For the "testpilot"

[2016-03-16 21:26] clouserw commented on #479
That does make sense.  In that case, this issue is about submitting that "testpilottest" type and I need to update the README-METRICS.md to talk about that.

[2016-03-17 18:11] #461 closed, assigned to meandavejustice

[2016-03-17 18:54] lmorchard opened #497 "Upgrade to official l20n.js release"
[I left this TODO back when we first incorporated l20n.js](https://github.com/mozilla/testpilot/blob/334d776393425df52564d9f1cad99c2b882ed736/testpilot/frontend/static-src/app/main.js#L6):

It looks like bug 1240192 is resolved now, so let's get rid of our patched build and switch to the official release.

[2016-03-17 20:01] mreid-moz commented on #479
I think it makes sense to separate the **results** of tests from the instrumentation of the Test Pilot platform itself, so I'm generally in favour of having two different document types here (one for `testpilot` and another for the results from tests on the platform).

Please consider how you would like to analyze/query the data first though, since if the results will always need to be cross-refer

[2016-03-17 20:02] clouserw commented on #479
I made a PR with the new ping type at https://github.com/mozilla/testpilot/pull/498 .  @mreid-moz - would you review/approve?

[2016-03-17 20:08] clouserw commented on #479
Oh, we almost collided there.  I think my update addresses your comment, and the different types/cadences makes a lot of sense.  r? @rafrombrc also ^

[2016-03-17 21:40] ckprice opened #499 "Implement 'Retire' flow to allow users to uninstall Test Pilot"
@johngruen provided the following mockup:

/edit 4-Apr with updated UI
![Test Pilot Retire Flow](https://cloud.githubusercontent.com/assets/3323249/14213073/05e639ce-f804-11e5-9c29-6ecbaa5aa190.gif)

Open question here is if we should capture exiting feedback (@johngruen, @javaun).

Clicking `Proceed` should:
- Disable all active experiments.
- Disable the Test Pilot add-on.
- Anonymize any identi

[2016-03-17 21:40] ckprice commented on #133
Closing in favor of #499.

[2016-03-17 21:40] #133 closed, assigned to clouserw

[2016-03-17 21:49] ckprice opened #500 "Add signed in menu to the 'Install the Add-on' Page"
Since the user is logged in, all of the [signed in menu options](http://cl.ly/1b0m030b0z2Y) should be available on this page:

![Install Add-on Page](https://s3.amazonaws.com/f.cl.ly/items/2U2h3N2C1r1L3a0H2N1G/Image%202016-03-17%20at%202.48.15%20PM.png?v=1259a24c)

Will need a bit of tweaking on the white background.

[2016-03-17 22:00] ckprice opened #501 "Display experiment-level Privacy and Legal Notices"
Need 1

**Where to display link?**

We're currently displaying it in the left column along with measurement data. This may turn into an arbitrary bucket for information, but the approach is the same.

![TOS](https://s3.amazonaws.com/f.cl.ly/items/272r3C073m3W0u3g0x1C/Image%202016-03-17%20at%202.53.28%20PM.png?v=b1a38be4)

Do we think there's a reason to change this approach?

**How to store and se

[2016-03-17 22:19] ckprice opened #502 "Present 'Thank You' message on all feedback submission points."
(This may want to be broken down more)

Presently when a user submits feedback, the window closes rather abruptly:

![Feedback feedback](https://s3.amazonaws.com/f.cl.ly/items/0V182O0p3k1c3J1J270G/feedbackmessage.gif?v=db37926f)

Currently the places where feedback is submitted is on the experiment detail page via the `Give Feedback` button, or after disabling the experiment.

Needs some UX love f

[2016-03-17 22:29] ckprice opened #503 "Define proper `Survey` UI behavior from toolbar doorhanger"
The toolbar doorhanger is a bit broken now:

![first step](https://s3.amazonaws.com/f.cl.ly/items/0o2g0U3C2q1b083e452H/Image%202016-03-17%20at%203.26.26%20PM.png?v=96db4947)
![second step](https://s3.amazonaws.com/f.cl.ly/items/1E0u190R442r3B2F3u34/Image%202016-03-17%20at%203.26.53%20PM.png?v=0b9b25f6)
#430 goes into handling the technical side of submissions here. This will focus on what we want

[2016-03-17 22:33] ckprice commented on #448
In the Test Pilot Mission Control meeting today, it was noted that this does not block our launch. Removing milestone.

[2016-03-17 22:36] ckprice opened #504 "Add an "introduction" content area before ExperimentDetails list"
It would be nice to have a field in the admin which we can use to add arbitrary information to the experiment details view.

@johngruen to confirm where this information would live.

/edit adding steps from Les to the bug opening
- [ ]  Add an introduction MarkupField to the Experiment model.
- [ ]  Expose the field in the REST API.
- [ ]  Display the field in the frontend view.

[2016-03-17 22:57] ckprice opened #505 "Add the ability to email Test Pilot users when new experiments become available [discussion]"
A few big things
- [x] platform to host the list and deploy emails **marketing team + basket**
- ~~create background job queue (per Les, e.g. #163)~~
- [ ] adding users to the list at add-on install (#609)
- [ ] removing users from the list at add-on disable (#609)
- [ ] designing the template (#589)
- [x] resource to deploy the emails on an ongoing basis (or auto trigger) **marketing team will pr

[2016-03-17 23:14] lmorchard commented on #504
Can you explain a little more about what arbitrary information & where? We can add blocks of image-headline-text to each experiment in the "Experiment Details" section that makes up the bulk of the page. I'm guessing this is different than that?

[2016-03-17 23:16] lmorchard commented on #505
A note on the engineering side: This is the kind of thing that will probably necessitate adding background job queue to our infra (i.e. #163), if only to talk to the mailing platform

[2016-03-17 23:19] lmorchard commented on #501
Is this related to #504?

[2016-03-17 23:21] ckprice commented on #504
Ah. That seems like it should be enough as far as I understand the ask. I'll let @johngruen provide more details.

[2016-03-17 23:25] ckprice commented on #501
#504 could be tangential to the first part of the request, `Where to display link?`. But is unrelated to the `How to store and serve the information?` piece. I asked John for more details on #504.

[2016-03-18 14:47] jaredhirsch commented on #294
We've got an Outreachy contributor interested in this one.

I think linking to the main Mozilla twitter account, and this Github repo, would be enough for this bug.

[2016-03-18 16:05] pdehaan commented on #487
Ref: #391 #449

[2016-03-18 16:42] lmorchard opened #506 "Implement Django admin access to control some server settings"
Most Django server settings are related to ops environment and connections to other services. Some settings are related to product features, and not necessarily ops concerns - e.g. [ACCOUNT_AUTOACTIVATION_DOMAINS](https://github.com/mozilla/testpilot/blob/master/testpilot/settings.py#L159) and [ACCOUNT_INVITE_ONLY_MODE](https://github.com/mozilla/testpilot/blob/master/testpilot/settings.py#L157).

[2016-03-18 17:00] lmorchard commented on #499
FWIW, not sure if "retire" is applicable in this case, but: Sounds like for testing, we'll want to generate a bunch of random accounts and delete them when tests are done. Otherwise, we'll just have a pile of garbage accounts sitting around.

@pdehaan - this might be a question for you: Do you know exactly how *@restmail.net accounts will be used and what we might need to do for cleanup?

[2016-03-18 17:10] johngruen commented on #499
@lmorchard "retire" may not be the right language, but hopefully the concept is more or less intelligible. I'm talking to our various language gurus later, so we might have to update strings at some point.

[2016-03-18 17:13] lmorchard commented on #499
I guess I'm wondering if we need "retire" for humans, and straight-up "delete" for testing robots (#133)?

[2016-03-18 17:16] johngruen commented on #499
@lmorchard my understanding is that giving humans the option to retire may block on launch. Not sure about robots. I don't trust robots.

[2016-03-18 17:27] meandavejustice commented on #499
@johngruen would you like to get the ui changes into a branch and we can collab from there?

[2016-03-18 17:35] johngruen commented on #499
@meandavejustice sounds good

[2016-03-18 17:44] meandavejustice commented on #505
Will we want to use the basket api for this? http://basket.readthedocs.org/en/latest/newsletter_api.html

[2016-03-18 19:17] ckprice commented on #481
Something interesting to note. We could feasibly capture feedback submissions with GA events, and aggregate/display dashboards however we want.

[2016-03-18 19:31] lmorchard commented on #481
Does that include flowing feedback data into the same stream as our Telemetry & Heka data? Or vice versa? (See #430 asking for a consistent way to handle client & server side feedback submissions)

I'm still fuzzy on how our dashboards (#234) are going to work and where the data's going to come from. Also kind of afraid we're growing a metrics hydra here, with no single head to ask questions of -

[2016-03-18 19:42] jaredhirsch commented on #428
@ktbee Correcting my earlier comment: the application needs to be in next week, but you have a few weeks past that to work on the contribution part (fixing a good first bug).

[2016-03-18 19:59] ckprice opened #508 "Adding a `Coming Soon` blocking modal unless special query parameter is specified until launch"
With a public URL (and all our work in public) there's a chance that users will find the site. The site currently ~~allows registration from @mozilla.com email addresses~~ 404's on non @mozilla.com registrations. It may make sense to add some kind of banner to the site to warn users that things may not work quite right.

/cc @johngruen @clouserw @javaun @6a68 @lmorchard

[2016-03-18 20:17] pdehaan commented on #508
Is there a "Not worth the effort" tag in GitHub?
I think just fixing #487 (to not 404, and instead display the "hey, we're working on it and will let you know when we ship" message is probably kosher enough).

[2016-03-18 20:20] lmorchard commented on #508
For what it's worth, registration is _not_ limited to @mozilla.com addresses.

Anyone can register, but only accounts registered with @mozilla.com addresses are activated automatically. Inactive users are registered, but waiting for an invitation. This was the solution we came up with, [last fall](https://github.com/mozilla/testpilot/issues/128#issuecomment-148826004), in lieu of launching a stand

[2016-03-18 20:21] lmorchard commented on #508
And, yeah, #487 is an unintended bug. The page at [/accounts/inactive/](https://testpilot.firefox.com/accounts/inactive/) is supposed to be our "splash / coming soon" announcement that inactive users get until the site opens up for them.

[2016-03-18 20:25] lmorchard commented on #508
Also FWIW, we _did_ at one point have [copy on the front page that was more "coming soon" in tone](https://github.com/mozilla/testpilot/blob/dfe112fd2d6151ca15f1e607652b5b6b83975ade/testpilot/frontend/static-src/app/templates/landing-page.js#L19) - i.e. "We're still building Test Pilot! Sign up now and we'll let you know when it's ready to go!"

But, I think we moved away from that with the Idea T

[2016-03-18 20:26] pdehaan commented on #508
FWIW (and it ain't worth much), I vote that that the splash/coming soon page (at [/accounts/inactive/](https://testpilot.firefox.com/accounts/inactive/)) adequately solves @ckprice and @javaun concerns:

[2016-03-18 20:30] ckprice commented on #508
Thanks all for the history. If I understand things correctly, once #487 is fixed, these users will be forwarded to the coming soon announcement/page. Is there a screenshot we can see of this page?

[2016-03-18 20:33] lmorchard commented on #487
Ah, yup, looks like [this page was removed](https://github.com/mozilla/testpilot/pull/472/files#diff-0e22a4ebd3b1cb538012dbfeb33ca468L6) in #472 with the UI change from old Idea Town to Test Pilot... but the backend still redirects inactive users to that, expecting the coming-soon page to be there.

@johngruen - can we get that account-inactive-page / coming soon page back? Seems like it's part of

[2016-03-18 20:37] johngruen commented on #508
@ckprice @lmorchard @javaun: so the ask from marketing was to take prod down all together.

[2016-03-18 20:38] johngruen commented on #508
Is that too nuclear? Is it really necessary to have it up right now?

[2016-03-18 20:42] ckprice commented on #508
K, that conflicts slightly with what @javaun noted in channel. Let's regroup.

[2016-03-18 21:58] #442 closed, assigned to meandavejustice

[2016-03-18 22:14] lmorchard commented on #234
After thinking a bunch about #401 and #479 and #481 and #430, I'm still really fuzzy on exactly how and which metrics data should be captured and where it flows. So, [I started drawing a picture in Google Draw](https://docs.google.com/a/mozilla.com/drawings/d/1McTKdbMog0OQ9Mg29DCPRoGL43NODOs2ZqS1bAkvhQ0/edit?usp=sharing).

Some of this is measurement of Test Pilot itself and some of it is measurin

[2016-03-18 22:54] pdehaan commented on #499
/summon @silne30

[2016-03-18 22:56] pdehaan commented on #505
+1 to making users opt-in to emails.

[2016-03-19 00:08] jaredhirsch commented on #66
Reopening, as peep is now [deprecated in favor of pip 8](https://github.com/erikrose/peep/wiki/UpgradeToPip8).

[2016-03-19 00:14] pdehaan opened #509 "Non logged-in homepage lacks background on Chrome"
Found in https://testpilot.firefox.com/__version__ (b2f03ce74366e7c4eae1b53c4d24a5a9c0ac083b):

[code]

---

I noticed this afternoon that we're lacking all the background color/gradients on the homepage on Google Chrome when you're not logged in. I selected the text so you can see that it is there, just "invisible".

![screenshot_3_18_16__5_11_pm](https://cloud.githubusercontent.com/assets/557895

[2016-03-20 00:25] jaredhirsch opened #511 "README doesn't actually say "git clone" anywhere"
We should make sure the README contains all the basic steps. We've got tons of Docker stuff, but we don't actually say to clone the repo and run Docker from that directory.

[2016-03-20 01:07] javaun commented on #505
AIUI the preferred destination is the PMM team's ExactTarget account.

[2016-03-20 19:48] javaun commented on #508
I don't think we need to pull it down. I haven't had a full chat w/ PMM
yet, but the concern is that signing in and getting a 404 wall is a dead
end / bad UX for users. There are probably ample mitigations to solve this,
and whatever is less work / dovetails with where we're already headed (487)
is acceptable. I'll try to get Winston early next week.

On Fri, Mar 18, 2016 at 4:42 PM, Cory Price no

[2016-03-21 13:19] meandavejustice commented on #440
@johngruen Could i get access to your demo code?

[2016-03-21 13:45] johngruen commented on #440
@meandavejustice
https://github.com/johngruen/test-pilot-prototype

[2016-03-21 14:39] meandavejustice commented on #440
thanks @johngruen

On Mon, Mar 21, 2016 at 6:45 AM, John Gruen notifications@github.com
wrote:

[2016-03-21 16:48] pdehaan commented on #476
I think this was fixed via #510. Closing.

[2016-03-21 16:48] #476 closed, assigned to ktbee

[2016-03-21 20:26] jaredhirsch opened #513 "Document what to do after installing locally"
Our README doesn't explain what to do after you've gotten Docker working. Might be good to provide a walkthrough with a couple of screenshots, covering stuff like:
- you need to install the add-on
- it's useful to load the dummy data
- ~~set `ACCOUNT_INVITE_ONLY_MODE` to `False` to disable the email address whitelist check~~ fixed in #514
- clicking the log in button redirects to the fxa dev endpo

[2016-03-21 21:41] pdehaan opened #515 "Font error on stage when installing the Test Pilot add-on"
Found in https://testpilot.stage.mozaws.net/__version__ (b2f03ce74366e7c4eae1b53c4d24a5a9c0ac083b)

[code]

---
### Steps to reproduce:
1. Go to https://testpilot.stage.mozaws.net/
2. Sign in to Test Pilot using your LDAP email address.
3. On the "Install the Test Pilot Add-on and you're good to go!" page, open the DevTools console.
### Actual results:

![firefox_test_pilot](https://cloud.githubus

[2016-03-22 16:20] ckprice commented on #508
@javaun any update on this? Can we close this and run with #487?

[2016-03-22 17:53] lmorchard commented on #349
Doh! Turns out the fix in #512 broke things, but I didn't see it in review :(
Reverted in 16898cd8ccfd69bd94fed614f1122ab40a8f763a

[2016-03-22 18:05] johngruen commented on #328
@pdehaan i'm not seeing anything in release or nightly. You still see this? If not, go ahead and close this one.

[2016-03-22 19:05] johngruen commented on #455
@lmorchard @meandavejustice [here are the icons we need](https://www.dropbox.com/sh/090rwmkg8dg0v71/AADPwGn9LIe9S25zcUbFDPloa?dl=0), not sure where they should live on the server? maybe just `testpilot/frontend`?

[2016-03-22 19:13] johngruen opened #518 "Update Modal UI to Match UX Spec"
I streamlined the modals to make use of flexbox and generally be more uniform.
<img width="1099" alt="error 2x" src="https://cloud.githubusercontent.com/assets/3323249/13964536/9aad8268-f040-11e5-86a2-79ba1c3d9c4c.png">
<img width="1099" alt="screen shot 2016-03-18 at 5 13 30 pm" src="https://cloud.githubusercontent.com/assets/3323249/13964541/a03cf9f2-f040-11e5-8fa5-709fde61f77e.png">

[2016-03-22 19:14] johngruen commented on #511
#517

[2016-03-22 19:14] #511 closed, assigned to nobody

[2016-03-22 19:21] meandavejustice commented on #509
@Rhapsody-Girl It looks like @johngruen fixed this as a part of their "define behavior for non-firefox" fix. turns out it was just a missing comma [here](https://github.com/mozilla/testpilot/blob/non-firefox-ux/testpilot/frontend/static-src/styles/_theme.scss#L12)

We'll have to find you a new bug. You can just leave a comment on an issue you'd like to work on, or ping me on irc(JSON_voorhees)

[2016-03-22 19:27] meandavejustice commented on #349
Opened a pr upstream https://github.com/AmpersandJS/ampersand-model/pull/72

[2016-03-22 21:18] javaun commented on #508
I'm meeting w/ Winston tomorrow morning ET. I was going to poke the edges and try to find the minimum need. Want to join @johngruen ?

[2016-03-22 21:22] johngruen opened #520 "Implement simple form validation on feedback"
We should disable submit if the user hasn't selected a radio option. Textarea input is optional.

<img width="1099" alt="quit-error 2x" src="https://cloud.githubusercontent.com/assets/3323249/13968345/ae709fee-f052-11e5-9bd9-c90ac3596bbb.png">

[2016-03-22 22:43] #518 closed, assigned to nobody

[2016-03-22 22:44] #93 closed, assigned to johngruen

[2016-03-22 23:02] ktbee commented on #513
In terms of some ways to clarify the OS X setup instructions, I thought these would be some helpful details to add:
- For the README-DOCKER instructions on how to load dummy data, it would be good to clarify that you need to exit the shell before executing the `docker exec testpilot_server_1 ./manage.py loaddata fixtures/demo_data.json` command
- For testing changes, it would be helpful to specify

[2016-03-23 14:50] javaun commented on #448
This does not block launch. The agreed upon next step was that we'd meet w/ UAG (Gregg Lind) to understand which, if any, users are offered the upgrade.

[2016-03-23 15:35] lmorchard commented on #462
Bumping this to 4/8, because I'm definitely not getting this working by Friday.

[2016-03-23 16:55] #279 closed, assigned to johngruen

[2016-03-23 17:27] lmorchard commented on #506
Adding this to 4/8 milestone - probably earlier - because feature flipping with django-waffle looks suddenly important for dark launching content we want to hide on prod

[2016-03-23 21:34] #520 closed, assigned to nobody

[2016-03-24 17:31] #462 closed, assigned to lmorchard

[2016-03-24 17:37] lmorchard opened #525 "Refine dev server auto-deployment to support additional servers mapped to branches"
Using Circle CI variables and rules in the .yml, it's could be possible to spin up additional dev servers on Elastic Beanstalk and map them to different branches.

For example, if we had a `ux-research` branch, changes committed there could be auto-deployed to a `testpilot-ux-research` server.

[2016-03-24 17:42] lmorchard opened #526 "Set up testpilot.dev.mozaws.net alias to dev server"
There's a new dev server here: http://testpilot-dev.us-east-1.elasticbeanstalk.com

It would be nice if it was here: http://testpilot.dev.mozaws.net

Or, even, here (with HTTPS):  https://testpilot.dev.mozaws.net

I set up a CNAME in AWS Route 53 for it, but it doesn't seem to be working (yet?)

[2016-03-24 17:44] lmorchard commented on #526
Could also be that I initially set the record to point at `http://testpilot-dev.us-east-1.elasticbeanstalk.com` instead of `testpilot-dev.us-east-1.elasticbeanstalk.com`. But, let's see if it works after that fix

[2016-03-24 18:00] pdehaan opened #527 "Broken images in doorhanger when using TestPilot dev server"
Found in http://testpilot-dev.us-east-1.elasticbeanstalk.com/__version__ (9bf2838358cfb7001ed54122406e9c9b9968e0c9)

[code]

---
### Steps to reproduce:
1. Go to http://testpilot-dev.us-east-1.elasticbeanstalk.com/ and sign sign up/in.
2. Go to about:addons and make sure your Test Pilot add-on is configured to point to Dev (testpilot-dev.us-east-1.elasticbeanstalk.com)"
3. Once the addon is instal

[2016-03-24 18:01] lmorchard opened #528 "Document how to launch a new Elastic Beanstalk instance of Test Pilot"
If #525 enables us to spin up additional dev instances, then there should be some docs so that I'm not the only person who knows how and so someone else doesn't have to go mad learning Elastic Beanstalk like me.

[2016-03-24 18:03] lmorchard commented on #527
I think I _just_ fixed this one in parallel with you filing it :) Though, it's possible it may need a browser restart to refresh the URLs in the addon - I'm not sure off the top of my head how often the addon requests that API data

[2016-03-24 18:04] pdehaan commented on #527
You're the best, @lmorchard!

![add-ons_manager_and____github_com___2_223__-_peterdehaan_gmail_com_-_gmail](https://cloud.githubusercontent.com/assets/557895/14026438/1b06c8dc-f1b0-11e5-9cd9-8307428d222e.png)

[2016-03-24 18:04] #527 closed, assigned to nobody

[2016-03-24 18:15] lmorchard commented on #526
Oh and additional things needed if the domain changes:
- [x] Generate FxA credentials for new domain on dev site
- [x] Update add-on environments to use new domain

[2016-03-24 18:21] pdehaan opened #529 "Active experiments don't display description in door hanger"
Found in http://testpilot-dev.us-east-1.elasticbeanstalk.com/__version__ (9bf2838358cfb7001ed54122406e9c9b9968e0c9)

[code]

---
### Steps to reproduce:
1. Go to http://testpilot-dev.us-east-1.elasticbeanstalk.com/ and sign up/in.
2. Activate the Universal Search add-on.
3. Open the Test Pilot door hanger via the toolbar.
### Actual results:

The Universal Search experiment doesn't have a 1-line d

[2016-03-24 18:29] pdehaan opened #530 "Survey button in Test Pilot door hanger reserves way too much space"
Found in http://testpilot-dev.us-east-1.elasticbeanstalk.com/__version__ (9bf2838358cfb7001ed54122406e9c9b9968e0c9)

[code]

---
### Steps to reproduce:
1. Go to http://testpilot-dev.us-east-1.elasticbeanstalk.com/experiments and sign up/in.
2. Open the Test Pilot door hanger via the choppy icon in the toolbar.
### Actual results:

You can only see 5-6 words of the description at best, and the big

[2016-03-24 18:32] lmorchard commented on #462
Moving this back to the 3/25 milestone, because I actually did get it working after it seemed to suddenly rise in importance.

[2016-03-24 18:34] lmorchard commented on #477
Getting add-ons to cooperate close to startup time is proving a bit of a challenge. Going to swap this one to 4/8 and see if I can't get #479 done instead

[2016-03-24 18:34] pdehaan opened #531 "Missing feedbackErrorMessage when submitting incomplete feedback form"
Found in http://testpilot-dev.us-east-1.elasticbeanstalk.com/__version__ (9bf2838358cfb7001ed54122406e9c9b9968e0c9)

[code]

---
### Steps to reproduce:
1. Go to http://testpilot-dev.us-east-1.elasticbeanstalk.com/experiments/universal-search and enable the add-on.
2. Use it. Love it.
3. Disable it.
4. In the "Why don't you love me?" modal pop-up, click the "Submit Feedback" button without offerin

[2016-03-24 18:35] lmorchard commented on #479
Thought feature flipping would be a dependency for this, but I think I can get the API for this working before then at least. Going to grab for 3/25 and see if I can't get it done really quick

[2016-03-24 18:37] pdehaan commented on #531
On a more personal filled note, if you _force_ me to supply feedback upon cancelling something, you're likely to get garbage feedback/selections and "qwerty" text, or some very hurtful and profanity-laced comments. We may want to consider the feedback as optional and adding a "Skip" or "No thanks" link above the "Cancel" link.

[2016-03-24 18:39] ckprice commented on #530
Related: #503

[2016-03-24 18:39] ckprice commented on #529
Related: #503

[2016-03-24 18:41] #509 closed, assigned to nobody

[2016-03-24 18:46] ckprice commented on #505
Noting that there is nothing here that blocks launch.

[2016-03-24 18:50] pdehaan opened #532 "Extra horizontal line between the experiments and "Show All Ideas" button in door hanger"
Found in http://testpilot-dev.us-east-1.elasticbeanstalk.com/__version__ (9bf2838358cfb7001ed54122406e9c9b9968e0c9)

[code]

---
### Steps to reproduce:
1. Go to http://testpilot-dev.us-east-1.elasticbeanstalk.com/ and sign up/in.
2. Click on the choppy icon in the toolbar.
### Actual results:

Bonus line and little gap in the door hanger between the last experiment and the [Show All Ideas] button

[2016-03-24 18:53] pdehaan opened #533 "Hit target for Show All Ideas is way too small"
Found in http://testpilot-dev.us-east-1.elasticbeanstalk.com/__version__ (9bf2838358cfb7001ed54122406e9c9b9968e0c9)

[code]

---
### Steps to reproduce:
1. Go to http://testpilot-dev.us-east-1.elasticbeanstalk.com/ and sign up/in.
2. Click on the choppy icon in the toolbar to open the door hanger menu.
3. Click on the [Show All Ideas] looking button.
### Actual results:

Only the text is clickable

[2016-03-24 18:59] ckprice commented on #499
Question: "Anonymize" what's it mean?

[2016-03-24 19:03] clouserw commented on #487
From triage meeting:  the plan for #508 will trump this one.  Is there a :trump: ?

[2016-03-24 19:05] clouserw commented on #482
We'll cross this bridge if we have to.  Until then -> wontfix

[2016-03-24 19:05] #482 closed, assigned to nobody

[2016-03-24 19:08] chuckharmston commented on #487
Yes. ![trump](https://cloud.githubusercontent.com/assets/23885/14028300/6d77c876-f1c1-11e5-9fa9-a83b6dcda017.png)

[2016-03-24 19:16] clouserw commented on #430
I've been telling everyone (privacy, legal, metrics, etc.) that we're storing it in the database, but Javaun has more ideas and will write below

[2016-03-24 19:19] clouserw commented on #406
I think we've updated our plan to ask each experiment to host their own add-on.  If they don't have a place, they can use AMO.  So...closing this.  Let me know if I'm misunderstanding the issue though.

[2016-03-24 19:20] #365 closed, assigned to nobody

[2016-03-24 19:21] clouserw commented on #352
@meandavejustice  -- This doesn't really have a description so we're not sure what it is.  We're assuming not a blocker...

[2016-03-24 19:22] javaun commented on #430
Matt Grimes has an ask here that we use SurveyGizmo forms whenever we ask for Feedback. (general opt-in, leaving an experiment, leaving test pilot entirely).

This is opening a tab and handing off to a third-party survey that UAG administers. The rationale is: when someone is talking to us, this is our best chance for directional product feedback, and currently we have the same 4 buttons and open

[2016-03-24 19:22] clouserw commented on #349
Looks like that was merged.  Can we upgrade and close this?

[2016-03-24 19:22] lmorchard commented on #406
Less work for us, if experiments can manage their own signing & hosting. We support any arbitrary URL for the `.xpi` right now.

This was intended to be a convenience for experimenters, but would also be a hassle if they _have_ to go through us. We could always revisit later if it's handy.

[2016-03-24 19:23] clouserw commented on #341
I think this is fixed now?  @lmorchard

[2016-03-24 19:23] lmorchard commented on #341
Yup, I think this is fixed

[2016-03-24 19:23] #341 closed, assigned to nobody

[2016-03-24 19:23] clouserw commented on #280
John is doing this in his responsive design

[2016-03-24 19:23] #280 closed, assigned to nobody

[2016-03-24 19:25] clouserw commented on #222
I think my readme-metrics.md addresses this...

[2016-03-24 19:26] clouserw commented on #219
I don't think we need these to be issues

[2016-03-24 19:26] #219 closed, assigned to nobody

[2016-03-24 19:26] clouserw commented on #218
I don't think we need these to be issues

[2016-03-24 19:26] #218 closed, assigned to jaredhirsch

[2016-03-24 19:26] clouserw commented on #216
wontfix

[2016-03-24 19:26] #216 closed, assigned to nobody

[2016-03-24 19:39] clouserw commented on #504
We chatted about this in the triage meeting.  In the long term, I think having a single markdown/html field would be the best thing.  Then if you wanted a paragraph at the top, you just do it, if you want inline images, go for it.  It would give us more flexibility for layout as well as inlining videos or bulleted lists or whatever.  So, longterm, I think that's what we should do.

However, this i

[2016-03-24 19:41] lmorchard commented on #430
Some questions / thoughts on this:
- We have feedback forms 1) on the site content and 2) in the chrome door hanger. Does this mean those become just buttons that launch a new tab with a SurveyGizmo URL?
- How many surveys per experiment? Currently, we have spots to ask 1) at points during participation and 2) when the user disables the experiment. Should those be different survey URLs or the same

[2016-03-24 19:42] clouserw commented on #501
This is a two part issue.  For the first part (where to display) that's in John's court and he's handling it.

For the second part, we should be storing a single URL which we link to on the page.  There isn't a strict policy on where the URL points, but for Mozilla created experiments I'd expect it to point to a privacy policy markdown document in the experiments repository.  /cc @javaun -- did yo

[2016-03-24 19:43] lmorchard commented on #352
I _think_ this is about unit testing for the site addon? Could be about integration testing involving the add-on and Test Pilot site. We need both, at some point.

[2016-03-24 19:45] pdehaan opened #534 "Unable to enable the Activity Stream add-on on Dev server"
Found in http://testpilot-dev.us-east-1.elasticbeanstalk.com/__version__ (9bf2838358cfb7001ed54122406e9c9b9968e0c9)

[code]

---
### Steps to reproduce:
1. Go to http://testpilot-dev.us-east-1.elasticbeanstalk.com/ and sign up/in.
2. Go to the [Activity Stream](http://testpilot-dev.us-east-1.elasticbeanstalk.com/experiments/activity-stream) experiment page.
3. Click the [Enable] button.
4. Wait.
#

[2016-03-24 19:47] lmorchard commented on #501
The Experiment model has [a "Privacy notice URL" field](https://github.com/mozilla/testpilot/blob/master/testpilot/experiments/models.py#L48) and it gets (optionally) displayed [in the left sidebar](https://github.com/mozilla/testpilot/blob/master/testpilot/frontend/static-src/app/templates/experiment-page.js#L31). Is there something other than this that we need?

[2016-03-24 19:48] lmorchard commented on #534
FWIW, the experiments on the dev server right now are all fake data, and there are no actual add-ons behind the entries.

[2016-03-24 19:48] lmorchard commented on #534
Oh, yeah, except for the Universal Search one which I think points to an ancient version on someone's people.m.o account.

[2016-03-24 19:52] lmorchard commented on #504
This should be pretty easy to do. The "Measurements" area in the sidebar is just [a MarkupField that accepts Markdown](https://github.com/mozilla/testpilot/blob/master/testpilot/experiments/models.py#L37) (and also straight up arbitrary HTML).

So, maybe we add an "introduction" field of the same type and display it before laying out ExperimentDetail entries. And if no ExperimentDetail entries are

[2016-03-24 19:55] lmorchard commented on #487
I think this issue still requires action: As long as we have the mozilla.com email restriction, the backend still redirects inactive users to `/accounts/inactive`. So, we need a page of _some kind_ there - even if it's "coming soon".  Otherwise, we still get the 404s this issue was opened to report.

That, or we need to remove the "invite-mode" code from the backend and figure out what else to do

[2016-03-24 20:02] lmorchard commented on #487
Though, FWIW, this becomes a moot point when we launch fully and set `ACCOUNT_INVITE_ONLY_MODE` to `False` - because that disables the email restriction and redirect code.

[2016-03-24 20:19] pdehaan commented on #531
Fixed via #535. Closing.

[2016-03-24 20:19] #531 closed, assigned to johngruen

[2016-03-24 20:45] lmorchard commented on #502
I think this might get rendered moot by [the new feedback gathering plan in 430](https://github.com/mozilla/testpilot/issues/430#issuecomment-200982042).

[2016-03-24 20:45] lmorchard commented on #503
I think this might get rendered moot / totally changed by [the new feedback gathering plan in 430](https://github.com/mozilla/testpilot/issues/430#issuecomment-200982042).

[2016-03-24 20:47] ckprice commented on #502
Moot'd.

[2016-03-24 20:47] #502 closed, assigned to nobody

[2016-03-24 20:47] lmorchard commented on #504
Tweaked the issue title to reflect my last comment, hopefully that makes more sense in issue lists

[2016-03-24 20:52] ckprice commented on #504
Thanks @lmorchard for changing the title. Aforementioned screenshot:

![intro markdown](https://s3.amazonaws.com/f.cl.ly/items/3L2A203436142y1c3u3R/Image%202016-03-24%20at%2011.48.17%20AM.png?v=dce4609b)

[2016-03-24 20:56] lmorchard commented on #504
Yeah, that should be totally doable:
- [ ] Add an `introduction` MarkupField to the Experiment model.
- [ ] Expose the field in the REST API.
- [ ] Display the field in the frontend view.

[2016-03-24 21:03] ckprice commented on #489
@pdehaan does this still happen? I'm unable to reproduce. Think it may have been fixed with a previous add-on update.

[2016-03-24 21:05] johngruen commented on #430
~~Would have been nice to have been flagged on this before i spent time cleaning up form validation and modal UI for several hours. Also because it affects UX pretty seriously in general.~~

Nevermind...just read time stamps. Will yell at Matt Grimes tomorrow :)

[2016-03-24 21:09] johngruen opened #536 "Implement quit experiment/thank you flow"
Since we're redirecting to surveys, we need to thank people first then ask them to take a survey on uninstall.

[2016-03-24 21:12] ckprice commented on #508
We talked in the triage today about putting up a gating modal for the standard URL, and use a super sneaky param to get access to the "Get Started with a Firefox Account" button.

E.g. New user visits the site at...
- `https://testpilot.firefox.com`: user sees a coming soon modal, and is unable to continue.
- `https://testpilot.firefox.com/?butimspecial`: no modal present, user can continue.

Real

[2016-03-24 21:18] lmorchard commented on #508
To be clear & pedantic, even adding the `?butimspecial` param still results in 404-on-signin (#487) unless we change the email domain restriction logic. Obscures the path to reach it, but the bug is still there and will trigger for anyone not on the domain whitelist.

(Which also means if we, for whatever reason, share the `?butimspecial` param with someone signing in with a non-mozilla email - th

[2016-03-24 21:20] ghost commented on #479
@lmorchard it's a small part of the patch, but in https://bugzilla.mozilla.org/show_bug.cgi?id=1255182 bsmedberg is suggesting that each test have its own namespace (vs testpilottest).  I kind of like the idea, but don't really have experience here either.  if @mreid-moz or @rafrombrc have comments, I'd love to hear them, otherwise I'm leaning that way.  As far as this patch, I think that just mea

[2016-03-24 21:52] lmorchard commented on #479
Yeah, that's basically what I was thinking we'd need to do: A separate ping type for the main Test Pilot add-on and a different one for each experiment. (e.g. `testpilot-universal-search` or `testpilot-activity-streams`)

By the sound of things in that bug though... maybe some low-volume experiments could share a more generic ping type so we don't have to define a new one every time? I think it de

[2016-03-24 23:04] johngruen commented on #508
#537 Assigning this to @lmorchard for review

[2016-03-24 23:10] lmorchard commented on #479
I think I have a first stab at this in #538, but it could probably use some more Telemetry-expert eyes to be sure I'm doing something close to the real thing

[2016-03-24 23:21] rafrombrc commented on #479
I'm checking w ops to make sure that an ever-changing set of Test Pilot test ping types won't cause problems w ingestion. I fear it might, but I honestly don't know. Will report back when I have more info.

[2016-03-24 23:35] ckprice opened #539 "Put good data into the shiny new dev instance"
In #524 we got our sweet new [auto-deploying dev instance](http://testpilot-dev.us-east-1.elasticbeanstalk.com) up and running.

We'll be using the dev instance for some usability testing, so it'd be nice to have up to date data in place. Probably a matter of logging into the admin and changing things. I assume we just want it to look like production.

![need data](https://s3.amazonaws.com/f.cl.ly

[2016-03-24 23:40] ckprice commented on #539
Eh, #534 is kind of this but looks better, so I'm closing this in favor of it.

[2016-03-24 23:40] #539 closed, assigned to nobody

[2016-03-25 03:10] javaun commented on #430
Sorry John. I heard this today in my 1:1, just prior to triage. I don't have more information than I shared here.

[2016-03-25 05:16] ckprice commented on #508
Fixed in #537

[2016-03-25 05:16] #508 closed, assigned to lmorchard

[2016-03-25 22:46] ckprice commented on #481
I'm going to dig into this one (haven't worked with AmpersandJS before, so please bear with me). Just going to throw some stuff on paper here...
1. From what I can see, the files in [`/testpilot/frontend/static-src/app/views`](https://github.com/mozilla/testpilot/tree/master/testpilot/frontend/static-src/app/views) inject properties and other things into the templating in [`/testpilot/frontend/sta

[2016-03-25 22:55] pdehaan commented on #481
Not sure how common it is, but FWIW I get the following message in my DevTools console whenever I look at Test Pilot site:

Looking at my address bar's shield, it looks like I have Tracking Protection enabled.

![menubar_and_firefox_test_pilot_and_wire_ga_events_ _issue__481_ _mozilla_testpilot_and_rundetails_js_ _loads-web-react_and_1__npm_start__node_](https://cloud.githubusercontent.com/assets/

[2016-03-28 16:39] ghost commented on #419
The body of this bug seems different than the title.  I think this bug is about being able to send https://testpilot.firefox.com/experiments/activity-stream to my friend who has never used Test Pilot and them seeing something about how great activity stream is instead of being redirected to the home page.

More precisely, removing the redirect to the home page and altering detail pages for users w

[2016-03-28 16:43] ghost commented on #437
What is the expected outcome of this issue?

[2016-03-28 16:48] ghost commented on #481
@ckprice I just realized :facepunch: is a facepunch and not a fistbump but :fist: looks weird.  anyway, thanks for digging into this.  Once @lmorchard or @meandavejustice sign off, let's get rid of the needs discussion label.

@pdehaan shouldn't stop us from closing out this bug.  That's an issue we (Mozilla & the internet) will need to solve on a grander scale :)

[2016-03-28 16:52] ghost commented on #499
@ckprice Couple of options, depending on what @lmorchard or @meandavejustice want to do.  Usually means replacing the identifying into in the users table with anonymous@anonymous or something.

One thing to be aware of is that it _doesn't_ attempt to strip any personal info out of comments.  If a user uploads a comment with their family tree in it and then retires from test pilot, their comment wo

[2016-03-28 17:12] lmorchard commented on #506
Dropping form 4/8 milestone for now, because it's not on the Public Launch critical path

[2016-03-28 17:32] johngruen commented on #515
https://github.com/mozilla/Fira

[2016-03-28 17:32] ghost commented on #515
@johngruen is going to put a version of the font here that we can host ourselves and/or link to a mozilla CDN

[2016-03-28 18:01] lmorchard opened #541 "Implement request logging"
Using the new JSON logging module and (probably) Django middleware, start producing [`request.summary`](https://github.com/mozilla-services/Dockerflow/blob/master/docs/mozlog.md) messages

[2016-03-28 18:40] #526 closed, assigned to lmorchard

[2016-03-28 18:59] mconnormoz commented on #478
Worth noting is that Firefox already has, and can send, both the UI locale and the geo (ISO 3166, essentially).  It's just a value in nsURLFormatter, so you don't need to duplicate any code, just make your API calls include those params (search uses this for defaults/visible engines).

[2016-03-28 19:32] jaredhirsch commented on #406
Reopening: I think it actually makes sense for Test Pilot to abstract out the build, sign, and deploy process.

The current proposal requires experiment authors to do a lot of work that's unrelated to creating a product experiment:
- authors must have AMO accounts,
- have S3 access,
- install AWS CLI tools and jpm (might require a package.json just for the `jpm` dependency),
- get cozy with the S3

[2016-03-28 20:22] mconnormoz commented on #468
To echo what I wrote in #478 I think what you want to do is use %REGION% in the URL, run that through nsURLFormatter, and be done with it.  The browser already has a concept of region, let's not diverge this for Test Pilot.  Especially for search experiments.

FWIW, we do this server-side in absearch, it seems to scale pretty well because it's just another value to filter on (like release, languag

[2016-03-28 20:26] johngruen opened #544 "Add ability to see version info on all test pilot deployments"
This is something FxA has in place. I found it quite helpful to instantly check what is deployed where, especially as we spun up new instances.

example: https://accounts.firefox.com/ver.json

[2016-03-28 20:27] chuckharmston commented on #544
https://testpilot.dev.mozaws.net/__version__
https://testpilot.stage.mozaws.net/__version__
https://testpilot.firefox.com/__version__

[2016-03-28 20:27] #544 closed, assigned to nobody

[2016-03-28 20:28] johngruen commented on #544
whelp, there you go

[2016-03-28 21:23] johngruen commented on #534
@lmorchard just discovered this is the case after adding a link to the real activity stream add-on. The add-on installs , but doesn't register with the test pilot.

This blocks user testing on the dev box.

![screen_shot_2016-03-28_at_5_16_33_pm](https://cloud.githubusercontent.com/assets/3323249/14090687/c6549c08-f509-11e5-923f-aad8336f14cf.png)

[2016-03-28 21:25] johngruen opened #545 "There is no redirect to /experiments when test pilot add-on installed"
On http://testpilot.dev.mozaws.net/ I download the add-on and on install there is no redirect to http://testpilot.dev.mozaws.net/experiments

This blocks user testing.

[2016-03-28 21:25] johngruen commented on #545
![screen_shot_2016-03-28_at_5_22_27_pm](https://cloud.githubusercontent.com/assets/3323249/14090738/1c1a1294-f50a-11e5-9e85-684b003d8a9d.png)

[2016-03-28 21:32] pdehaan commented on #545
@johngruen What if you hit "Reload" in the browser?

[2016-03-28 21:33] johngruen commented on #545
@pdehaan yep, that works.

[2016-03-28 21:34] pdehaan commented on #534
Seeing same behavior here. It looks like Activity Stream is getting installed (verified in about:addons), but for some reason the "Enabling" state never completes.

[2016-03-28 21:38] johngruen commented on #545
Actually seeing this behavior on Prod as well, i guess i never noticed because i'm always fiddling with where my add-on is pointing. Hopefully @meandavejustice in flight PR will mitigate this, but maybe we should keep this open until that gets resolved. I think Sharon can include a 'reload' in the pilot user testing script.

[2016-03-28 21:53] pdehaan opened #546 "Now Active label doesn't animate very smoothly"
This is weird because it looks "Not Great (tm)" on my laptop, and when I create an .MOV via QuickTime (but when I convert to GIF, it looks slightly better -- so it's a bit difficult to capture in the wild).

![2016-03-28 14_52_16](https://cloud.githubusercontent.com/assets/557895/14091371/bb624044-f4f4-11e5-92a4-ea861e7e470b.gif)

[2016-03-28 21:56] lmorchard commented on #545
Yeah, this is not a thing we've implemented yet. I keep forgetting about it, but I think it's going to be a part of #440 & #540. Took a peek in the PR and it looks like there's code in there that should do the trick

[2016-03-28 22:03] lmorchard commented on #534
This is because the "Addon Id" in admin did not match the `<em:id>` in the add-on's `install.rdf`. It's different for every add-on and has to match exactly, because that's how the system identifies experiments. Took a look in the addon & updated the value, seems like things work now

[2016-03-28 22:08] johngruen commented on #546
@pdehaan, i noticed that too but then had a snack and took a nap...let's file this under 'i'll tweak thing and see what i can do'

[2016-03-28 22:10] johngruen commented on #534
@lmorchard ah...all looks well on my end. I think this means we can close this issue.

[2016-03-28 22:12] lmorchard opened #547 "Auto-extract experiment details from add-on package and/or update.rdf"
The "addon id" field of an Experiment has to match the contents of `<em:id>` in the `install.rdf` in an `.xpi`. It would be nice if the admin could peek in the `.xpi` and auto-extract that value, because it can be a pain to dig up manually sometimes.

[2016-03-28 22:13] lmorchard commented on #534
I also just filed #547, because looking up those `<em:id>` values is a pain and I always forget I have to do it :)

[2016-03-28 22:14] pdehaan commented on #534
FWIW, I'm still seeing this issue for the Tab Center addon (on testpilot.dev.mozaws.net).

[2016-03-28 22:21] pdehaan commented on #547
Not sure if there is anything else we can auto-extract from the XPI, like `version` or `description`.

I imagine it could get a bit annoying if (as an experiment maintainer) I need to remember to log into Test Pilot to bump the version number each time we deploy a new XPI to S3.
Although I guess it could be equally annoying to write some cronjob on Test Pilot to query all the XPIs and check for ve

[2016-03-28 22:30] pdehaan opened #548 "Enable HTTPS on testpilot.dev.mozaws.net"
Now that we've moved testpilot.dev.mozaws.net (per #542), we should probably consider forcing HTTPS (and reject plain HTTP traffic).

Currently if I go to https://testpilot.dev.mozaws.net/ I get a sad page saying:

[2016-03-28 22:53] pdehaan opened #549 "Experiment icons are difficult to see in doorhanger"
Found in http://testpilot.dev.mozaws.net/__version__ (cbc87ed04e7ca7982f41428422f54e0a4b3f2cc6):

[code]

---
### Steps to reproduce:
1. Log into http://testpilot.dev.mozaws.net/experiments and make sure you have the Test Pilot add-on installed and configured for testpilot.dev.mozaws.net.
2. Click on the Choppy icon in the toolbar.
### Actual results:

![menubar_and_firefox_test_pilot_and_firefox_

[2016-03-28 23:22] pdehaan opened #550 "Inconsistent height for experiment contributors"
Found in http://testpilot.dev.mozaws.net/__version__ (cbc87ed04e7ca7982f41428422f54e0a4b3f2cc6):

[code]

---
### Steps to reproduce:
1. Sign in and go to http://testpilot.dev.mozaws.net/experiments/activity-stream
2. Look at the list of contributors.
### Actual results:

![firefox_test_pilot_-_activity_stream](https://cloud.githubusercontent.com/assets/557895/14093118/60a391ba-f500-11e5-8404-715a

[2016-03-28 23:27] pdehaan commented on #455
Missing favicons are more obvious once a user enables Activity Stream experiment and browses the Test Pilot site:

![new_tab](https://cloud.githubusercontent.com/assets/557895/14093318/d9e7d260-f501-11e5-85f6-59ef3934135a.png)

[2016-03-28 23:43] meandavejustice commented on #481
@ckprice Your assumptions about the helper method in `main.js` is correct, that is the proper place to add the ga helper. We can leave it in that file as we only have two helpers at the moment. Then you will access it off of app like...

[code]

We can open up a separate issue for this. We will probably just use something like this browserify transform in our build => https://github.com/hughsk/env

[2016-03-28 23:45] meandavejustice commented on #549
@johngruen Should we just add our gradient behind these?(feel free to assign back to me once you reply)

[2016-03-28 23:54] meandavejustice commented on #545
Yes, #540 takes care of this.

[2016-03-28 23:55] pdehaan commented on #549
Or see if we can dynamically set the SVG fill color using CSS (https://css-tricks.com/cascading-svg-fill-color/). That way we could set inactive icons to black and active icons to green, or something.

[2016-03-29 00:31] meandavejustice commented on #499
@wresuolc the "replacing with anonymous@anon" sounds like a good solution to me. Will defer to @lmorchard 's wisdom though.

I assume that our privacy policy link should cover the "uploading your family tree" issue, but opens up the question, Should we add another link to privacy policy on the feedback submission form? Might be overkill.

[2016-03-29 00:33] meandavejustice commented on #515
Thanks @johngruen and @wresuolc I'll take care of installing the font

[2016-03-29 00:39] meandavejustice commented on #406
Maybe the solution would be to let current addons host themselves and have this addon api feature be a backlog item. Seems more like a (very) nice-to-have

[2016-03-29 00:50] meandavejustice commented on #352
updated description, not blocking

[2016-03-29 00:51] meandavejustice commented on #222
yeah pretty sure we settled on net promoter score

[2016-03-29 00:53] meandavejustice commented on #349
@clouserw The upstream patch still does not fix our specific issue, I need to dig a bit deeper and fix upstream. Not blocking anything, just a minor cleanup issue for future dave

[2016-03-29 03:29] ghost commented on #430
We discussed this in the meeting today and concluded we should be using surveygizmo.  John is going to run through and answer the above questions and get the survey info and then hand off to development.  Thanks!

[2016-03-29 03:30] ghost commented on #501
thanks les! that's perfect.  We discussed this in the meeting today and that URL will be fine.  John is handling any moving that would need to happen elsewhere, which means this bug can be closed.  Thanks.

[2016-03-29 03:30] #501 closed, assigned to clouserw

[2016-03-29 05:31] ckprice commented on #489
I'm closing this. If you're still able to repro, you can re-open.

[2016-03-29 15:01] lmorchard opened #551 "Follow up on Pontoon integration with Test Pilot for localization"
Now that we have a prod server, I think it should be easier to close the localization loop with Pontoon & L20n. Let's do that! I think the loose ends include:
- [ ] Contact Pontoon team again to get Test Pilot added to their system
- [ ] Ensure we properly accept localizations from Pontoon
- [ ] Add some additional locales
- [ ] Ensure the end-to-end flow is acceptable to localizers and we're on t

[2016-03-29 15:07] lmorchard commented on #481
Hmm, I don't think we can switch things for local / dev / stage / prod at build time - because all of those environments use the same Docker container.

Better to control that at runtime with server env vars - e.g. make a Django setting that gets included in the <head> of the HTML and picked up from there by the Ampersand app.

[2016-03-29 15:09] #541 closed, assigned to lmorchard

[2016-03-29 15:11] lmorchard commented on #548
Thanks for filing this! I meant to create this issue as a followup but then got distracted by something shiny. I think this is something we need, though I don't know how yet off the top of my head.

(And having a DNS alias in front of the actual Elastic Beanstalk server _should_ make it easier to point it instead at whatever SSL front end we can use from AWS or elsewhere.)

[2016-03-29 15:35] lmorchard commented on #534
That's because the URL to the Tab Center .xpi is fake data - http://example.com

[2016-03-29 15:46] pdehaan commented on #548
/cc @mostlygeek

[2016-03-29 15:52] ghost commented on #499
If legal hasn't asked, let's not.  No need to guess at what we might need when we've got experts right here. :)

[2016-03-29 16:06] ckprice commented on #481
FWIW just checked, and it looks like we use a single ID, and have GA filter things into different buckets by domain matching.

![Image of GA](https://s3.amazonaws.com/f.cl.ly/items/450t193z0r1S2N1Q0e3s/Image%202016-03-29%20at%209.00.40%20AM.png?v=02179d21)
(need to ask Gareth to update the dev entry)

So, not sure how much the env thing is needed.

[2016-03-29 17:25] pdehaan commented on #489
I'm still seeing this on stage: https://testpilot.stage.mozaws.net/accounts/logout/

[2016-03-29 17:41] lmorchard commented on #548
FWIW, @mostlygeek shouldn't have anything to actually do here, except maybe point me in the direction of what we do for SSL on *.dev.mozaws.net servers in AWS. Assuming there's a wildcard cert there already, I can do the actual config & such once I've figured out where the bits & bobs are

[2016-03-29 19:02] lmorchard commented on #548
I think I've found [where to start in the EB doco](http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/configuring-https.html). But, I also think starting the process may disrupt availability for the UX research we want to do on the dev server. So, we should hold off on this issue until it's okay to have some extended downtime there and possibly wipe data (at worst).

[2016-03-29 19:13] pdehaan commented on #548
Ah, on that note, why are we doing UX research on the always-changing testpilot.dev.mozaws.net server?

Shouldn't we create a new "ux-research" branch and auto-deploy a new server to elastic-beanstalk or EC2 from there? I'd imagine it would be less risky to have a dedicated testpilot.ux.mozaws.net server running which we infrequently update from a special branch so the UX research is always stable

[2016-03-29 19:15] lmorchard commented on #548
Yes, that's #525, but I haven't had time to get to it, yet. So, dev's better than trying to do it on stage or prod.

[2016-03-29 20:12] lmorchard opened #553 "Unstyled "Sign up" view appears if a User was manually created in Django admin instead of via signing up from FxA"
This is probably an edge case no one will really see, but it's worth fixing at some point:
- Create a new User from the Django admin with a real email address
- Try signing in via FxA with that email address
- You'll get an un-styled "Sign up" view with no good way to continue into the site

Normally, the first sign-in from an unknown FxA ID results in 1) the auto-creation of a User record with th

[2016-03-29 22:45] ckprice opened #555 "Refresh demo_data.json with up to date info"
So we can stop losing things when instances are rebuilt. And generally probably good to poke at this thing every couple of months.

Ref: [/fixtures/demo_data.json](https://github.com/mozilla/testpilot/blob/master/fixtures/demo_data.json)

[2016-03-30 05:36] ckprice commented on #222
@johngruen going to close this per the above comments. Re-open if you think it is still needed.

[2016-03-30 05:36] #222 closed, assigned to johngruen

[2016-03-30 05:55] ckprice commented on #446
@meandavejustice think we still need this? In general, testing is probably good, but not sure if this was a general test bug or something else.

[2016-03-30 06:16] meandavejustice commented on #446
@ckprice nah, it can get removed

[2016-03-30 06:16] #446 closed, assigned to meandavejustice

[2016-03-30 06:40] ckprice commented on #536
This might be informed by the new feedback gathering plan in #430.

[2016-03-30 16:57] meandavejustice opened #556 "Setup linting for frontend/static-src/tests"
noticed by @pdehaan in https://github.com/mozilla/testpilot/pull/554/files#r57802069

[2016-03-30 17:29] #504 closed, assigned to lmorchard

[2016-03-30 17:32] ckprice commented on #438
Moving this to the 2016-04-22 milestone. @johngruen is this UX final?

[2016-03-30 17:33] ckprice commented on #493
Adding this to the 2016-04-22 milestone along with #438 which is related.

[2016-03-30 17:33] lmorchard opened #557 "Localize the Test Pilot add-on"
THere's HTML content in the add-on, now. We should start using l20n to localize it, if possible.

[2016-03-30 17:37] ckprice commented on #328
Closing this one - I'm also not seeing this. @pdehaan let us know if it should stay open.

[2016-03-30 17:37] #328 closed, assigned to pdehaan

[2016-03-30 17:41] pdehaan commented on #328
Unable to repro on http://testpilot.dev.mozaws.net/experiments/activity-stream :tada:

[2016-03-30 20:54] johngruen commented on #549
@meandavejustice https://people.mozilla.org/~jgruen/test-pilot/main-doorhanger.html how's that?

[2016-03-30 20:55] meandavejustice commented on #549
@johngruen Looks great, I'll take it from here

[2016-03-30 20:58] ckprice commented on #481
Met with @garethcull today, and he provided a[ GA Requirements document](https://docs.google.com/document/d/1SIOaZLHsMGNBNmAxphon4cxF_F07Q1ctBkU6gkP2SD0/edit?ts=56fc371c) for us to reference when building these events.

[2016-03-30 22:13] ckprice commented on #505
Updated the bug opening with some answers and checked a couple of things off based on a meeting with PMM today.

I noted in the above comment that this does not block launch. However, we'll need some tool/thing ready to go (or near ready) at launch to be able to add users (or exclude) retroactively once the email list/bridge is all set up. We can either create a bug for this 1-off work, or try and

[2016-03-30 22:14] meandavejustice opened #560 "new client UUID is breaking addon"
using `require('sdk/util/uuid').uuid()` breaks the current addon as it returns an object

[2016-03-30 22:25] ckprice commented on #499
This sounds good! Just a note that this touches #505 slightly as we have to be able to remove this user from the list once they have "Retired?" from the program.

I'm going to move this one into the 2016-04-22 Milestone, as it doesn't look like it's in progress, and has some other dependencies.

[2016-03-30 23:04] #560 closed, assigned to meandavejustice

[2016-03-30 23:05] #515 closed, assigned to meandavejustice

[2016-03-30 23:06] #549 closed, assigned to meandavejustice

[2016-03-30 23:13] meandavejustice commented on #428
Sounds like this is only visible to me. I run weird a tiling window manager and all sorts of weird junk on linux, so I'm gunna close this for now as it sounds like it's good for 99% of our audience

[2016-03-30 23:13] #428 closed, assigned to nobody

[2016-03-31 14:31] johngruen commented on #430
[code]

New Doorhanger UI backs out a lot of this functionality. the doorhanger now shows only links to each experiment, if they are active and a link ot the experiments home page:
https://people.mozilla.org/~jgruen/test-pilot/main-doorhanger.html

Surveys are now accessed only through individual experiment pages. @bryanbell and I are working on a button design that experiment devs could add to th

[2016-03-31 16:31] #455 closed, assigned to meandavejustice

[2016-03-31 17:38] johngruen commented on #494
@pdehaan could you do some patented @pdehaan fuzzing on master and close this guy. should be fixed now.

[2016-03-31 17:41] johngruen commented on #429
@meandavejustice everything should be in the prototype, but here's what you should need (note the check images are hiding cause they're just white):
![dh-arrow 2x](https://cloud.githubusercontent.com/assets/3323249/14185036/216cb6e6-f746-11e5-9953-880409ea181a.png)
![dh-arrow](https://cloud.githubusercontent.com/assets/3323249/14185037/217b99fe-f746-11e5-9cbd-9e1c65cf5205.png)
![small-check](https

[2016-03-31 18:24] #546 closed, assigned to johngruen

[2016-03-31 18:29] pdehaan commented on #534
Yeah, I'm thinking we're missing some defensive TestPilot code around this. I'm seeing this again today on ActivityStream add-on (probably due to the data refresh and the XPI URL has reset to "example.com"), and my install button is stuck in the "Enabling..." state, but I'm seeing this in my iTerm window:

I'm not certain which bowels of the code that is getting thrown from, or if is even somethin

[2016-03-31 18:32] pdehaan commented on #494
So far all attempts to break the label are failing, so I'm confident we've fixed it. :tada:
... But currently the link to the XPI seems to be broken, so I'll try logging into the admin site and fixing the XPI link so I can get the ActivityStream experiment installed on testpilot.dev.mozaws.net.

@johngruen We may want to work on https://github.com/mozilla/testpilot/issues/555 so we can have some c

[2016-03-31 18:35] pdehaan commented on #555
:+1: to marking this "faux-critical" so we can have consistent data on dev/stage/prod for testing.

[2016-03-31 18:39] meandavejustice commented on #557
https://developer.mozilla.org/en-US/Add-ons/SDK/Tutorials/l10n

[2016-03-31 18:39] pdehaan commented on #494
Actually, I can enable the Universal Search add-on and verify with that longer button text and was unable to get the text to wrap, so I'm confident that this has been expertly fixed and adequately fuzzed.

![menubar_and_firefox_test_pilot_-_universal_search_and_index_js_ _src_ _loads-web-react](https://cloud.githubusercontent.com/assets/557895/14186851/37f26642-f735-11e5-8c81-f62ae3846468.png)

[2016-03-31 18:39] #494 closed, assigned to johngruen

[2016-03-31 18:40] pdehaan commented on #494
Fixed via #563

[2016-03-31 18:41] meandavejustice commented on #438
@johngruen did a pass at this https://people.mozilla.org/~jgruen/test-pilot/activity-stream.html

[2016-03-31 18:41] johngruen commented on #494
@pdehaan, yeah that will get fixed by the broader responsive PR

[2016-03-31 18:41] meandavejustice commented on #429
Thanks @johngruen

[2016-03-31 18:44] pdehaan commented on #494
@johngruen,

![](http://filmjunk.com/images/weblog/iloveyoumantrailer.jpg)

Sincerely,
@pdehaan

[2016-04-01 14:45] johngruen commented on #536
here's the flow in gif form:
![disable thanks](https://cloud.githubusercontent.com/assets/3323249/14210268/39815466-f7f6-11e5-8dd0-819e8913934d.gif)

also you can see the state diagram here: https://www.lucidchart.com/documents/view/bc257f5b-d2f9-4e23-8c60-fdb91b274bc6

and go through the install/uninstall flow here: https://people.mozilla.org/~jgruen/test-pilot/activity-stream.html

[2016-04-01 15:29] johngruen commented on #503
@meandavejustice @lmorchard here's the new survey behavior: https://people.mozilla.org/~jgruen/test-pilot/ratings-scale.html

should run as follows:
Feedback requests appear for a random subset of users with a given experiment enabled 5 minutes into a session.

[2016-04-01 15:33] johngruen commented on #530
this should be resolved by #503

[2016-04-01 16:20] johngruen commented on #499
Retire flow has been slightly updated so the gif up top has been deprecated...here's what's up given #430
![retire](https://cloud.githubusercontent.com/assets/3323249/14213073/05e639ce-f804-11e5-9c29-6ecbaa5aa190.gif)

You can trigger this flow by going to: http://people.mozilla.org/~jgruen/test-pilot/home.html

And see the entire state diagram here: https://www.lucidchart.com/documents/view/bc257

[2016-04-01 16:39] lmorchard commented on #557
That tutorial doesn't use l20n, though. It uses `sdk/l10n`. If we're l20n on the front end, we should figure out how to use it in the add-on too. That way, we're not splitting localizations between `*.l20n` and `*.properties` formats

[2016-04-01 19:05] johngruen opened #565 "Implement simplified doorhanger design"
This doorhanger design removes NPS feedback and reduces overall UX complexity.

@meandavejustice let me know if you want me to handle styles or whatever.

https://people.mozilla.org/~jgruen/test-pilot/main-doorhanger.html

[2016-04-01 19:27] MattGrimes commented on #430
Hey folks. John asked me to chime in here. My current understanding of the feedback needs are as follows.

These are the interaction points for individual experiments:
1. Unsolicited feedback from the experiment page
2. Prompt for feedback from users opting out of a study
3. Prompt for feedback from a random population of users AFTER giving the experiment a star rating

These can all be handled wi

[2016-04-01 19:42] johngruen commented on #430
@MattGrimes In addition there will be one more survey which is the retire flow survey. this is for test pilot itself and should only be a one-off.

[2016-04-01 19:43] johngruen commented on #565
I'm closing #529 and #530 because they are subsumed by this.

[2016-04-01 19:43] johngruen commented on #530
Closing for #565

[2016-04-01 19:43] #530 closed, assigned to johngruen

[2016-04-01 19:44] MattGrimes commented on #430
Correct. Sorry, I forgot to mention that.

[2016-04-01 19:44] johngruen commented on #529
Closing for #565

[2016-04-01 19:44] #529 closed, assigned to johngruen

[2016-04-01 19:45] johngruen commented on #503
@meandavejustice @lmorchard Since this is now defined, I'm gonna close this bug and open and implementation issue

[2016-04-01 19:45] #503 closed, assigned to johngruen

[2016-04-01 19:49] johngruen opened #566 "Implement random survey behavior"
Here's the prototype: https://people.mozilla.org/~jgruen/test-pilot/ratings-scale.html
Here's the state diagram: https://www.lucidchart.com/documents/view/bc257f5b-d2f9-4e23-8c60-fdb91b274bc6

[2016-04-01 19:49] johngruen opened #567 "Back out current Disable and Feedback surveys"

[2016-04-01 19:54] johngruen opened #568 "Implement new SurveyGizmo-based experiment feedback flow"
Here's the UX https://people.mozilla.org/~jgruen/test-pilot/activity-stream.html (enable the experiment then click the feedback link)

Here's the state diagram: https://www.lucidchart.com/documents/view/bc257f5b-d2f9-4e23-8c60-fdb91b274bc6

[2016-04-01 20:01] johngruen commented on #430
@lmorchard @clouserw @meandavejustice @ckprice I've broken this down into four implementation bugs with the `SurveyGizmo implementation` tag.
- [ ] #568 Implement new SurveyGizmo-based experiment feedback flow
- [ ] #566 Implement random survey behavior
- [ ] #536 Implement quit experiment/thank you flow
- [ ] #499 Implement 'Retire' flow to allow users to uninstall Test Pilot

[2016-04-01 20:16] pdehaan commented on #555
Ref: #493

[2016-04-01 20:38] johngruen commented on #448
Here is the strategy:
1. We ship an update to Old Test Pilot that uninstalls it silently. (at or around launch of new)
2. When we do an initial blog post about new Test Pilot we discuss the update.

[2016-04-01 20:43] ckprice commented on #555
https://testpilot.dev.mozaws.net has been updated with the new freshness. Will use that as base.

[2016-04-04 16:57] lmorchard commented on #505
Not entirely comfortable committing to this for public launch. A few thoughts / questions:
- What determines when a new experiment is available? Might be tricky to automate. Manually triggered emails would probably be easiest & safest so we don't accidentally notify on content that's still being edited.
- What are the exact details of the current blessed email service we have available? Is it defi

[2016-04-04 17:50] ckprice commented on #505
I'm going to take a stab at these questions. I've worked a few projects with basket, so have a bit of experience.

Let's not worry about automating this in v1. Manually sending the emails is fine, and will be a part of marketing's responsibilities.

It's Basket _and_ ExactTarget. Basket being the Python library we use to communicate with ExactTarget.

References
- https://github.com/mozilla/basket

[2016-04-04 18:56] #440 closed, assigned to meandavejustice

[2016-04-04 18:59] meandavejustice commented on #545
fixed in #540

[2016-04-04 18:59] #545 closed, assigned to meandavejustice

[2016-04-04 19:00] meandavejustice commented on #566
Researching how we are going to handle this today. Investigating if we can use some of the existing UI from heartbeat https://dxr.mozilla.org/mozilla-central/source/browser/components/uitour/UITour.jsm#1096

[2016-04-04 19:00] ghost commented on #505
Thanks les & cory.  Between cory's answers and our meeting today I think we're all on the same page.  This is an example integration I found in zamboni: https://github.com/mozilla/zamboni/commit/347bec27d688c9bfc4aeace8a9775655def5d27e

All we're talking about here is subscribing or unsubscribing API calls.

[2016-04-04 19:10] lmorchard commented on #505
:+1: Yup, that's way less trouble than I was expecting with my wall-of-bullet-points comment.

[2016-04-04 19:15] ckprice commented on #505
I'm going to go ahead and add the label, and move to the 4/22 milestone. We can confirm for sure during the next planning session.

[2016-04-05 03:30] ghost commented on #448
Perfect.  I marked this `public launch` because it will save us confusion, I'm sure.  In fact, the further ahead of public launch, the better, probably.

/apologies for the scope creep!

[2016-04-05 15:33] lmorchard commented on #479
900dc17da36bed1a769f8028f6a89e18ed6068cf

[2016-04-05 15:33] #479 closed, assigned to lmorchard

[2016-04-05 15:55] meandavejustice commented on #568
Do we have the process for Survey Gizmo integration documented anywhere?

[2016-04-05 15:57] #429 closed, assigned to meandavejustice

[2016-04-05 15:57] #565 closed, assigned to meandavejustice

[2016-04-05 18:23] ghost commented on #448
Alright.  I have an add-on written which uninstalls the old test pilot silently.  One thing to note, is that the old add-on is not restartless, so, people will get the upgrade, have to restart, and then it'll be uninstalled (without another restart).

This isn't something that can be reversed so let's be sure we have it right.  The add-on is at http://micropipes.com/temp/d/tp.xpi if you'd like to

[2016-04-05 19:29] pdehaan opened #570 "Make it more obvious what the number of active users means on the experiment page"
Currently it isn't super obvious what the "2" means next to the profile image. Not sure if we want a tooltip or something explaining that it's the current active number of users.

<img width="361" alt="firefox_test_pilot_-_universal_search" src="https://cloud.githubusercontent.com/assets/557895/14295283/de5cb760-fb29-11e5-9838-fc3ad9cf3d11.png">

[2016-04-05 19:32] pdehaan opened #571 "Update the version of UniversalSearch XPI that's currently on dev"
Apparently the version being served by testpilot.dev.mozaws.net is a couple months old, so we should check the XPI path to make sure it's pointing to the latest version.

[2016-04-05 19:32] pdehaan commented on #571
@chuckharmston says that the version on stage should be recent, so it may be a simple copy/pasta.

[2016-04-05 19:44] chuckharmston commented on #571
Thanks for filing this!

[2016-04-05 19:47] lmorchard commented on #571
It should just be a quick copy & paste in the Django admin. Most of us should have access to that admin.

But, dev is currently being used for UX user testing, so I'm really hesitant to touch it for any reason until that's complete. Can someone paste the current XPI URL in this issue's description and maybe @johngruen can update it?

[2016-04-05 19:51] pdehaan opened #573 "Replace Firefox logo with TestPilot specific logo in TestPilot header"
Do we want to replace the generic Firefox logo with a Test Pilot specific Choppy or hovercraft logo?

<img width="930" alt="firefox_test_pilot_-_universal_search" src="https://cloud.githubusercontent.com/assets/557895/14296016/0189da94-fb2d-11e5-87dc-77813468fa6d.png">

[2016-04-05 19:54] lmorchard commented on #571
Also, FWIW, to save too many future issues filed against dev server data - dev should not be expected to have real up-to-date data. It matters for prod and less so for stage, but dev should be expected to have complete garbage at any particular moment unless we've set it up for some particular testing (like the UX testing right now).

[2016-04-05 19:55] ckprice commented on #571
Agreed. But we used it today in a demo, so this was a special case. I've updated the dev django admin anyway.

[2016-04-05 19:55] #571 closed, assigned to chuckharmston

[2016-04-05 20:02] lmorchard commented on #571
Was it a demo unrelated to UX testing? Probably okay, as long as everyone involved knows what's happening (I didn't).

Until / unless we have multiple dev servers, we should be really careful about what's being used for what & when so we don't possibly monkey wrench parallel efforts. Might have been a problem if we were doing some destructive tests or troubleshooting when it was expected to be wor

[2016-04-05 21:07] pdehaan commented on #448
So, to clarify, is the test plan to install the old Test Pilot add-on from https://addons.mozilla.org/en-US/firefox/addon/test-pilot/?src=search, and then install evil, bizarro @wresuolc add-on from https://github.com/mozilla/testpilot/issues/448#issuecomment-205930019 and verify that both add-ons get uninstalled (after a restart)?

[2016-04-05 21:33] ghost commented on #448
That sounds right

[2016-04-06 14:29] johngruen commented on #573
No

[2016-04-06 14:29] #573 closed, assigned to nobody

[2016-04-06 16:04] javaun commented on #505
Thanks for answering all those questions @ckprice . Yes, we definitely wanted to just scope this down to the subscribe/unsubscribe calls. A pure handoff to full-featured hosted service that does everything we need.

[2016-04-06 16:09] meandavejustice commented on #448
Do we want to get some metrics pings on uninstalls? We may get this automatically from amo.

[2016-04-06 16:11] meandavejustice commented on #570
:+1: to adding at least a title attribute

[2016-04-06 16:33] ghost commented on #448
Should be automatic: https://addons.mozilla.org/en-us/firefox/addon/test-pilot/statistics/?last=30

[2016-04-06 17:06] lmorchard commented on #430
Going to close this issue, because I think we've figured out a plan to handle feedback submissions consistently and @johngruen helpfully broke it down into tasks.

[2016-04-06 17:06] #430 closed, assigned to lmorchard

[2016-04-06 17:10] meandavejustice commented on #448
awesome @wresuolc

[2016-04-06 17:27] johngruen commented on #570
I think I have something for this...stay tuned.

[2016-04-06 18:05] ghost commented on #406
I don't think authors having AMO accounts (that is, using the Firefox Account we already require them to have to log in to AMO) is a big deal.

They don't need S3 or AWS, since AMO can host the add-on.  There is already extensive documentation about how to sign add-ons using the AMO system.

I feel like the right answer is to address the concerns with using AMO rather than automating around them.

[2016-04-06 19:03] ckprice opened #575 "Display experiment-level Privacy and Legal Notices (reboot)"
We closed [#501](https://github.com/mozilla/testpilot/issues/501#issuecomment-200988955) thinking that this was enough of an integration for displaying legal stuff at the experiment level. After a discussion with legal, this needs to be revisited.

This also deserves some fairly immediate attention from @johngruen as it could affect UI. **Next steps** is for John/Javaun to work together to mock up

[2016-04-06 20:45] lmorchard commented on #406
Authors can host the add-on there, but only if it's publicly listed. Otherwise, the downloads aren't public and require developer auth, which doesn't work for Test Pilot.

But, we don't really want Test Pilot experiments reviewed by or listed on AMO. We want them mainly available from the Test Pilot site only, and managed through our opt-in agreements & metrics & feedback & etc.

We've discussed b

[2016-04-06 20:49] lmorchard commented on #406
Well, we need signing from AMO, too. But, that's also something we might want to consider changing someday - i.e. if parts of Test Pilot get rolled into Firefox itself, maybe Test Pilot should be able to sign its own experiments.

[2016-04-06 21:22] lmorchard commented on #566
<strike>Oh, so wait: This particular star rating feedback point is _not_ done through SurveyMonkey? I thought the new plan was that _all_ feedback was going to be collected that way, by launching a new tab with a survey URL.</strike>

<strike>Where do we send this rating for collection, and how are we displaying / analyzing it? Maybe via Telemetry? If so, I think we'll need to update the [README-M

[2016-04-06 21:28] lmorchard commented on #566
I think this ends up being a question for @rayborn / @MattGrimes:

Hmm, looking at the state diagram and [430](https://github.com/mozilla/testpilot/issues/430#issuecomment-204534763), I think this _does_ open a new tab with a SurveyMonkey URL - and the star rating is passed as a parameter in that URL.

Assuming this is the case, we'll need some kind of template for that survey URL. A query paramet

[2016-04-06 21:39] lmorchard commented on #566
@meandavejustice As for the UI... It's been awhile since I hacked on XUL stuff like that. But, once upon a time, I used a notification box from an SDK addon that looked a little like the prototype.

Not sure if this is a red herring, [but here's the code I used to make it appear](https://github.com/lmorchard/fireriver/blob/master/lib/main.js#L369). And, here's [the notificationbox doco on MDN](htt

[2016-04-06 21:54] meandavejustice commented on #566
Thanks @lmorchard this is great feedback, I'll take a look at these and see if they will work for us

[2016-04-07 17:01] johngruen opened #578 "Fix doorhanger UI nits"
- [x] responsive images broken
- [x] little scroll bar
- [x] experiment icons too big

[2016-04-07 17:13] johngruen commented on #578
Also, snap doorhanger to button

[2016-04-07 17:22] #532 closed, assigned to nobody

[2016-04-07 17:22] #533 closed, assigned to nobody

[2016-04-07 17:23] johngruen opened #580 "Add-on should be automatically set to the appropriate env on install"
This is sort of a nit, but it makes user testing and debugging the add-on install flow quite difficult.

[2016-04-07 19:03] lmorchard commented on #580
Need to think about this one. As far as I know, the add-on doesn't have any way to know what the appropriate env is or from where it was downloaded.

And, until it's set to an environment, the site content has no way to tell it anything. We could bake the environment into the build, but env-specific builds defeats the purpose of the dev/staging/prod flow (i.e. testing a build that should eventuall

[2016-04-07 19:14] lmorchard commented on #580
One other idea: Maybe we can peek at browser history on install, and look for the last visit to a known environment? That _should_ be the install page the add-on just came from

[2016-04-07 19:23] chuckharmston commented on #580
Is there any way the build script can look for an environment variable that circle sets when building the package, and overwrites the appropriate value in `dev-prefs.json`?

[2016-04-07 20:08] lmorchard commented on #580
`dev-prefs.json` only applies with you're launching a new browser profile with `npm run once`, not during build or when you're clicking through the site to install in user testing

[2016-04-08 16:15] #580 closed, assigned to lmorchard

[2016-04-08 16:35] #578 closed, assigned to johngruen

[2016-04-08 19:01] ckprice commented on #448
We met today with @gregglind, Ilana, @clouserw

**Decisions**
- We're not going to just silently uninstall the old add-on (amending [the original plan](https://github.com/mozilla/testpilot/issues/448#issuecomment-204559595)).
- We'll want to message some segment of existing old TP users (at least Release users, maybe other channels).
- This does not block launch.
- When we do execute, we'll want t

[2016-04-08 19:09] pdehaan opened #583 "Experiment user count doesn't always update after enabling experiment"
Found in http://testpilot.dev.mozaws.net/__version__ (a41e42424096277f7fa0504baf5bca046b9ae346):

[code]

Addon: Test Pilot @ 0.4.13-dev-a41e424

---

I'm signed in using my @mozilla account, and before enabling the add-on, there are 5 active users.
Not sure if this is because I've used my @mozilla account previously and it's deduping me.

**Before:**
![firefox_test_pilot_-_activity_stream_and_new

[2016-04-08 19:14] javaun commented on #448
Some color commentary from our chat.
- Pre-release users were auto-enrolled in the old add-on, but release was opt-in
- Of the 800k DAUs of the old add-on, approx 50% are release users and 77% EN-US [Source: AMO analytics](https://addons.mozilla.org/en-US/firefox/addon/test-pilot/statistics/?last=7)
- The eager opted-in folks of the old add-on are actually the kind of people we probably want (Fx c

[2016-04-08 19:14] pdehaan commented on #583
Similarly, disabling the experiment doesn't reduce the number of active users.

[2016-04-08 19:22] pdehaan opened #584 "version info not set on dev server"
Possibly not relevant, but thought I'd post for giggles.

Currently if you go to http://testpilot.dev.mozaws.net/__version__ you see something like the following:

[code]

As you can see, the `version` is empty. We can still figure it out by looking up the commit SHA, but this is a bit inconsistent with the way stage and prod handle the /__version__ endpoint.

**Stage:** https://testpilot.stage.mo

[2016-04-08 19:25] #245 closed, assigned to nobody

[2016-04-08 19:36] lmorchard commented on #584
We don't have versioning for dev, just commits as they happen & get auto deployed

[2016-04-08 19:36] #584 closed, assigned to nobody

[2016-04-08 19:36] lmorchard commented on #584
(it's also possible prod & staging will be missing a version someday, if/when we get to continual deployment there too)

[2016-04-08 19:53] pdehaan commented on #493
Ref: #555 **"Refresh demo_data.json with up to date info"**

After updating any Activity-Stream information in admin, we should make sure we update the demo_data.json fixture data to match.

[2016-04-08 20:02] lmorchard commented on #493
In _which_ admin? :) I'm not sure `demo_data.json` should actually match any particular environment. Data will differ between prod, stage, and dev depending on what kind of tests / research we want to run there.

`demo_data.json` is mainly there to offer some sample data to exercise features during local dev, not to replicate what might be in production. I originally loaded the new dev server with

[2016-04-08 20:02] lmorchard commented on #493
(oops, didn't mean to close)

[2016-04-08 20:07] lmorchard commented on #555
Copying over a comment from #493 since it seems to make sense here too:

I'm not sure `demo_data.json` should actually match any particular environment. Data will differ between prod, stage, and dev depending on what kind of tests / research we want to run there.

`demo_data.json` is mainly there to offer some sample data to exercise features during local dev, not to replicate what might be in pro

[2016-04-08 20:47] meandavejustice commented on #555
I think we should make a practice of updating demo_data.json when adding a new field or changing data shape. Just as we have to change the shape of data in our tests to get them to pass when we make changes to a model. This is probably a given, but that is my only opinion

[2016-04-08 20:54] lmorchard commented on #555
Yes, this. Update it to exercise features, not to match any deployed environment.

[2016-04-08 21:11] ckprice commented on #555
This is still on me, but won't be this week.

For new fields it seems pretty straight forward from the testing I've done. For example, `gradient_start` isn't currently in `demo_data.json`, but just adding it to the file automagically saves it to the DB (tested with `docker exec testpilot_server_1 ./manage.py loaddata fixtures/demo_data.json`).

As far as getting the fieldname, I guess just troll t

[2016-04-08 21:28] lmorchard commented on #555
For what it's worth, there's also `./manage.py dumpdata` which does the opposite of `loaddata`. The problem with that, though, is it's the firehose of _all_ data in the database. You can pare it down and prettify it with options (`dumpdata --help`), but it's best to open the fixture and a data dump side-by-side and selectively copy things over to the fixture from the raw dump.

[2016-04-08 23:23] pdehaan opened #585 "Update Python dependencies"
https://requires.io/github/mozilla/testpilot/requirements/?branch=master

Specifically https://github.com/python-pillow/Pillow/blob/master/CHANGES.rst

[2016-04-11 16:22] #481 closed, assigned to ckprice

[2016-04-11 17:14] johngruen commented on #568
#430 provides some documentation

[2016-04-11 17:18] pdehaan commented on #568
FWIW, checking the UX flow on jgruen's people.moz link ... the popup doesn't open in Firefox or Chrome (blocked by popup blockers).

[2016-04-11 17:36] javaun commented on #568
In Matt's comments on #430, he ID's 3 scenarios.

These all pertain to individual experiment feedback. There are two more scenarios:
1. Unsolicited feedback about Test Pilot in General (Test Pilot main page)
2. Prompt for feedback after retiring/totally uninstalling Test Pilot.

no. 3 above is interesting. I'm not sure how we'd achieve this one or where we'd put it in priority order.

[2016-04-11 18:21] ckprice opened #588 "Final assets for Test Pilot"
This bug is opened to track delivery of the final assets for Test Pilot.
- Icons/graphics
- Colors
- Fonts

Request from marketing is to have this by April 18th.

[2016-04-11 18:25] ckprice opened #589 "Design email template for new experiment notifications"
Ref: #505

Design is by us, coding the template is by marketing.

This does not necessarily block launch, but I am adding it to our milestone immediately after launch.

/cc @bniolet1

[2016-04-11 22:46] #570 closed, assigned to johngruen

[2016-04-12 12:20] johngruen opened #593 "Implement a non-flexbox based splash page for browsers that don't support flexbox"
We're using the shit out of flex box, but maybe occasionally somebody's browser won't support it. Might be nice to use modernizr or similar to route people to a non-flexy splash page that tells them that Test Pilot is only supported in the latest Firefox.

BTW support looks like:
![screen shot 2016-04-12 at 8 18 49 am](https://cloud.githubusercontent.com/assets/3323249/14459688/5b21181a-0087-11e6-

[2016-04-12 18:34] #585 closed, assigned to lmorchard

[2016-04-12 18:56] #241 closed, assigned to johngruen

[2016-04-12 20:30] johngruen opened #595 "Tidy up add-on for new UI"

[2016-04-12 22:07] meandavejustice opened #597 "Addon download button broken"
addon installation was broken when we switch to `<button>` from `<a>` in this commit https://github.com/mozilla/testpilot/commit/00a8d90be21758ce6672d1ffc0e0949a87c6df91

[2016-04-12 22:08] #595 closed, assigned to johngruen

[2016-04-13 01:28] johngruen opened #600 "Test color schemes should fall back to a solid background color"
Noticed some gradient issues on safari for iOS, we should include a fallback to the first step color as the background for each experiment.

[2016-04-13 15:57] #556 closed, assigned to pdehaan

[2016-04-13 16:52] meandavejustice commented on #597
Sign in button is also broken. Basically all of the links from that pr are busted.

[2016-04-13 16:54] ckprice commented on #597
! I can't reproduce.

[2016-04-13 16:57] ckprice commented on #597
Uhg, yeah it's not clicking through with private browsing.

[2016-04-13 22:51] pdehaan opened #602 "Make sure redirects work to individual experiments if you're not signed in"
I can't get this to work currently, but it may be related to the [temporary] query string gate on the index page.

I want to link directly to an experiment (ie: http://testpilot.dev.mozaws.net/experiments/tabcenter) but I'm not logged in. It'd be nice if Test Pilot redirected me through the proper FxA flows and then dumped me back on the Tab Center experiment page instead of on the homepage.

This

[2016-04-15 16:06] meandavejustice opened #604 "Change GA code to be run as a side effect."
Remove `window.location = url` snippet in our handling of GA and implement as a side effect.

a quick solution was added in #603

[2016-04-15 16:07] #597 closed, assigned to ckprice

[2016-04-15 17:02] ckprice opened #605 "Launch Test Pilot: remove query string gate & INVITE ONLY code"
Our launch date is May 10th (Tuesday).
- [ ] Remove query string gate.
- [ ] Remove INVITE ONLY code for @mozilla.com emails on production.
- [ ] Create final production tag and deployment bug [Ops].

(anything I'm missing?)

~~@mostlygeek~~ @relud considering we have some Ops dependencies, can we get this into the Ops pipeline, and have everything land on **Monday May 9th**, with someone from Ops

[2016-04-15 17:23] ckprice opened #606 "Experiment with updated content on landing page based on user research"
Meeting with John/Javaun/Sharon on Monday to discuss.
- [ ] Updated copy/UI saved to a branch.
- [ ] Option 1: have the experimental content merged and available on [`http://testpilot.dev.mozaws.net/`](http://testpilot.dev.mozaws.net/).
- [ ] Option 2: use the tech in #525 to spin up a disposable dev instance (@lmorchard to comment on availability of this).

[2016-04-15 20:36] pdehaan commented on #583
I'm wondering if this is because I am signed in as the same user (my mozilla.com email) in different browsers/profiles, so it isn't counting me as a unique install/user, despite the fact I personally have it installed in 4-5 times).

[2016-04-15 22:32] meandavejustice commented on #566
I've got the notifications working thanks to @lmorchard 's snippet. Polishing and hooking up to SurveyMonkey before opening up a pr. Progress can be viewed here https://github.com/mozilla/testpilot/compare/master...meandavejustice:566-random-survey

[2016-04-16 00:38] pdehaan opened #607 "TestPilot icon in Developer Edition is difficult to see in dropdown menu"
Ref: #320

Edgiest of edges. Icon looks great in dark theme, but gets a bit obscured if the icon overflows into the dropdown menu.

![activity_stream_and_firefox_test_pilot_-_tab_center_and_can_t_see_the_find_menu_with_tab_center_ _issue__34_ _bwinton_verticaltabs_and_building_pull_requests_-_travis_ci](https://cloud.githubusercontent.com/assets/557895/14577933/7198779a-0330-11e6-86f5-d250a2d29b4c

[2016-04-16 00:38] chuckharmston commented on #607
Your new job title in Phonebook.

[2016-04-16 00:46] pdehaan commented on #607
The second screenshot is funny in that there are _**three**_ hamburglar style icons in the toolbar.
1. "Show your bookmarks"
2. "Activity Stream"
3. "Open menu"

[2016-04-18 16:41] meandavejustice opened #608 "Do we want to report engagement events for random experiment surveys?"
Our heartbeat surveys report a couple different engagement events to telemetry [example](https://dxr.mozilla.org/mozilla-central/source/browser/components/uitour/UITour.jsm#1166). Do we want to do something similar in our random surveys? refs #566

[2016-04-18 16:51] lmorchard commented on #608
No, I don't think so - at least, not right now. We don't have plans to set up a Telemetry pipeline like Heartbeat, not sure if we want to send our data to their pipeline.

[2016-04-18 16:57] lmorchard commented on #608
FWIW, [this is all the Telemetry stuff we have in the works](https://github.com/mozilla/testpilot/blob/master/docs/README-METRICS.md#data-collection-details) so far. Accepting more/different data via Telemetry is a process that involves [bugzilla bugs like this](https://bugzilla.mozilla.org/show_bug.cgi?id=1255182) to get the pipeline set up.

[2016-04-18 17:00] meandavejustice commented on #608
Thanks @lmorchard Should I leave this open as a question for down the road?

[2016-04-18 17:09] lmorchard commented on #505
Un-assigned myself, because I seem to remember @ckprice was taking this

[2016-04-18 17:22] ckprice opened #609 "Send subscribe and unsubscribe pings to basket on install and disable"
References:
- [Bug 1263675](https://bugzilla.mozilla.org/show_bug.cgi?id=1263675) `Email integration with Test Pilot` [**blocker**] we need the newsletter ID to get this bug going (/cc @bniolet1).
- #505 `Add the ability to email Test Pilot users when new experiments become available` lots of breakdown/discussion here, as well as basket integration specifications.
- #499 `Implement 'Retire' flow t

[2016-04-18 17:24] ckprice commented on #505
I had the action item to get the newsletter ID from the marketing team. I can go ahead and take the integration of the pings as well.

I'm going to close this bug and label as a [discussion]. Actual work is happening in #609 (integration) and #589 (email design).

[2016-04-18 17:24] #505 closed, assigned to nobody

[2016-04-18 17:33] ckprice commented on #536
Moving this to the next milestone.

[2016-04-18 17:37] ckprice commented on #493
I updated this a bit to address all 3 launch candidates (as well as updated Issue opening).

I also moved it out to the `2016-05-06` milestone, as the requirements for everything should be more clear next week (e.g. after landing #575, #438).

[2016-04-18 17:48] ckprice commented on #588
Assigning this to @johngruen.

[2016-04-18 19:21] ckprice commented on #606
After discussing with Javaun/Sharon, @johngruen is going to work on this today/tomorrow to get some changes in for another round of UR.

[2016-04-18 19:26] ckprice commented on #588
Removing "April 18th". John's working with PMM delivery (should be this week).

[2016-04-19 00:17] meandavejustice opened #610 "Simplify addon/index.js"
At the time of creating this issue `addon/index.js` is 527 lines long. There are some things that could easily be pulled out into separate modules in `lib/`. Comments should also be audited as a part of this effort.

[2016-04-19 04:42] meandavejustice commented on #566
Just about finished up with this. Two last questions before I open a PR:
1) what are the time intervals we want to show these on? I currently have 2 days, then 1 week, then 3 weeks, then 1 month and a half.
2) How should we choose which experiment is surveyed. Do we actually want it to be random? it currently is.
3) Should each experiment have a separate survey per time interval?

Only other thing

[2016-04-19 06:49] ckprice commented on #566
Thanks Dave - I'll get you answers on these.

[2016-04-19 15:23] meandavejustice commented on #568
Waiting on Survey Gizmo URLS

[2016-04-19 15:32] meandavejustice commented on #566
After talking with Matt_G:

It sounds like we should have something on the server which will select a subset of our users to participate. From the addon we will hit our api, probably `/api/me`, to see if the current user has been selected. It was also mentioned that each experiment should have its own separate survey per interval (see 3 about). Here is the log from irc. http://logs.glob.uno/?c=tes

[2016-04-19 18:28] meandavejustice commented on #557
Here is an example from activity-streams https://github.com/mozilla/activity-streams/pull/429/files

[2016-04-19 19:21] ckprice commented on #605
Regrouped with Benson/Travis. Benson will be unavailable May 9th/10th, but Travis will assign a TBD secondary contact. I'll update this bug with that contact when it's available.

[2016-04-19 19:26] lmorchard commented on #610
Been thinking about this a little bit, too, but haven't had time to chase things down.

One big thing I'd like to see happen is to move most of the initialization stuff scattered across random spots throughout `index.js` and move it to `init()` functions in modules - basically like what I did with [`Metrics.init()`](https://github.com/mozilla/testpilot/blob/master/addon/lib/metrics.js#L29) that ge

[2016-04-19 19:32] johngruen opened #612 "Finalize Test Pilot UI"

[2016-04-19 19:33] johngruen commented on #612
#588 tracks assets for Winston...this is for brand integration and final logo. Toolbar icon is in another bug.

[2016-04-19 20:14] meandavejustice commented on #610
I like what you did in `Metrics.init` and `exports.main`. My dream would be to have the entire file just pull things into `exports.main` and kicked off from there. But that dream may be unattainable.

[2016-04-19 21:48] ckprice opened #615 "Make sure all the things are GA'd"
We gave GA an initial pass in #577.

This issue is opened to make sure all of the functionality landed since then are also wired correctly.
- [x] #614 retire flow
- [x] #438 onboarding
- [ ] #609 subscribe/unsubscribe to emails
- [x] #611 surveygizmo

[2016-04-19 22:46] pdehaan opened #616 "TypeError: document.querySelector(...) is null"
Randomly spotted this in the Browser Console while looking at #\613.

The line in question is [./testpilot/frontend/static-src/app/views/landing-page.js:60](https://github.com/mozilla/testpilot/blob/e31466bc9c47778e7943f87bd60c082996ce1c30/testpilot/frontend/static-src/app/views/landing-page.js#L60):

[code]

---

![browser_console_and_http___testpilot_dev_8000_static_app_app_js_and_1__docker-comp

[2016-04-20 12:25] johngruen commented on #616
I changed the button to primary with the most recent style changes...fix incoming

[2016-04-20 13:59] #612 closed, assigned to johngruen

[2016-04-20 13:59] #616 closed, assigned to nobody

[2016-04-20 16:02] #499 closed, assigned to lmorchard

[2016-04-20 16:03] lmorchard commented on #615
We should think about adding this as a concern to every new feature. I'm not sure what our GA strategy is, what we want to measure, etc. This stuff should also probably be documented in [docs/README-METRICS.md](https://github.com/mozilla/testpilot/blob/master/docs/README-METRICS.md) in terms of what we specifically measure and why, both for transparency and so we're all on the same page about the

[2016-04-20 16:11] ckprice commented on #615
We're keeping track of some of these things in the [GA Reqs document](https://docs.google.com/document/d/1SIOaZLHsMGNBNmAxphon4cxF_F07Q1ctBkU6gkP2SD0/edit?ts=56fc371c). Once this is cleaned up we'll be sure to add to the readme.

[2016-04-20 16:19] lmorchard commented on #568
I [commented](https://github.com/mozilla/testpilot/pull/611#discussion_r60438629) on #611 about the SurveyGizmo URLs. I don't think we're going to get one-shot URLs for all experiments to unblock this - I think they'll be created per-experiment.

Sounds like at least [3 per experiment](https://github.com/mozilla/testpilot/issues/568#issuecomment-208466591) for different feedback points, so I think

[2016-04-20 16:24] lmorchard commented on #567
Looks like this is going to be naturally covered as part of #611, so I probably won't have anything to do here.

[2016-04-20 16:30] lmorchard commented on #567
Oh, wait, no: The backend feedback models & API still need to be removed, so I still have work to do here

[2016-04-20 19:14] ckprice commented on #609
Talked to email team today, they said our list will be ready for testing on April 27th (Wednesday).

I'm going to move this issue over to the next milestone.

[2016-04-20 19:44] #567 closed, assigned to lmorchard

[2016-04-20 20:17] ckprice opened #619 "Create privacy notice and terms of service pages"
URLs
- `/privacy-notice/`
- `/terms-of-service/`

Mock up

![Privacy policy/TOS page](https://s3.amazonaws.com/f.cl.ly/items/0W3I383E1B1g2j0b2Y0a/Image%202016-04-20%20at%201.12.06%20PM.png?v=27e5c321)

Links
- On the landing page (underneath the `Get Started with a Firefox Account` button)
- Footer

[2016-04-20 21:37] pdehaan opened #620 "Odd v-scrolling on "Test Pilot installed!" page"
Found in http://testpilot.dev.mozaws.net/__version__ (6b009172185f98271ce8163e24b65e266379da63):

[code]

---

By complete accident I noticed that when you sign up for Test Pilot, you end up on the "Test Pilot installed!" page, and you can scroll vertically and a Firefox logo appears beneath the fold.

![firefox_test_pilot_and_canceled_event___tab_center__launch_status_checkin___wed_apr_20__2016_1

[2016-04-20 22:06] pdehaan opened #621 "Odd scroll position when switching pages"
Found in http://testpilot.dev.mozaws.net/__version__ (6b009172185f98271ce8163e24b65e266379da63):

[code]

---
### Steps to reproduce:
1. Install the Test Pilot add-on.
2. Go to http://testpilot.dev.mozaws.net/experiments page.
3. Resize your browser to about 800px wide (and 600px tall -- or whatever gives you enough vertical scrolling).
4. Scroll all the way to the bottom of the page.
5. Click on

[2016-04-21 02:41] ckprice commented on #588
These were delivered to PMM today - [link](https://www.dropbox.com/sh/yif7eayasqsct7i/AAD63Usvcv6uWfHBmx_qVlIra?dl=0).

[2016-04-21 02:41] #588 closed, assigned to johngruen

[2016-04-21 03:02] ckprice opened #622 "Inconsistency in the `Let's go` doorhanger"
This thing doesn't always drop for me. Below is what should happen after you `Install add-on`.

![Let's go doorhanger](https://s3.amazonaws.com/f.cl.ly/items/1r0e2l130Z2G3I101e3u/Image%202016-04-20%20at%207.55.38%20PM.png?v=4919b9d3)

But there are times when it doesn't happen for me.

I actually noticed this a bit ago, but haven't been able to reproduce reliably. Still can't reproduce, but filing

[2016-04-21 03:08] pdehaan commented on #622
I too have occasionally noticed that as well sometimes.
Haven't found reliable repro steps (like it disappears because I was interacting with the other doorhanger, etc), but next time I notice it I'll check my devtools console and browser console.

[2016-04-21 03:11] pdehaan commented on #493
Updated activity-stream icon in https://github.com/mozilla/activity-streams/pull/544

[2016-04-21 17:12] ckprice opened #624 "Visiting the page on a non-Firefox browser should prompt you to download Firefox"
And not present the Install Add-on button.

![non fx](https://s3.amazonaws.com/f.cl.ly/items/0q3r1M3x3O2f230r0g3g/Image%202016-04-21%20at%2010.11.45%20AM.png?v=5929622c)

[2016-04-21 17:55] ckprice commented on #568
Met with Matt_G today:
1. Survey links for each experiment sent via email. These will be stored in the DB.
2. Intervals for when to show the surveys are already set up (2 days, 1 week, 3 weeks, 1.5 months). Polls everyone every 5 minutes.
3. Query parameters will be sent to SurveyGizmo to communicate touchpoint (@meandavejustice has something mocked up already).

[2016-04-21 18:28] ckprice commented on #609
From [bug1263675#c3](https://bugzilla.mozilla.org/show_bug.cgi?id=1263675#c3):

[2016-04-21 20:31] johngruen commented on #624
@ckprice how did you get to that page? You shouldn't be able to get to the firefox account sign in from the front page.

[2016-04-21 20:35] ckprice commented on #624
STR:
1. Be on Chrome.
2. Visit http://testpilot.dev.mozaws.net/?butimspecial.

[2016-04-21 20:39] johngruen commented on #624
@ckprice cannot reproduce

[2016-04-21 20:39] johngruen commented on #624
@ckprice do you have your user agent string in chrome modified?

[2016-04-21 20:44] ckprice commented on #624
Hmm, don't think so. moz.org seems to detect me okay.

![moz.org non Fx](https://s3.amazonaws.com/f.cl.ly/items/2W323V312d0h1b080Y2B/Image%202016-04-21%20at%201.43.05%20PM.png?v=7b6c9c76)

[2016-04-21 20:52] johngruen commented on #624
@ckprice can you console log ur user agent for me?

[2016-04-21 20:53] johngruen commented on #624
`navigator.userAgent`

[2016-04-21 21:07] ckprice commented on #624
If it's working okay for you, I'm not too worried about it tbh.

[2016-04-21 21:22] ckprice commented on #589
Closing this, as the assets have been handed off.

[2016-04-21 21:22] #589 closed, assigned to nobody

[2016-04-21 21:28] meandavejustice commented on #608
After meeting today with matt grimes. It looks like we will want to do this. Mostly for the "dismiss" action.

[2016-04-21 21:50] johngruen opened #627 "If an experiment doesn't have introduction-html make sure the columns are level"
`details-description` and `details-overview` are offset if there is no content in the `introduction-html`

[2016-04-21 21:57] johngruen commented on #620
Sneaky sneaky

[2016-04-21 22:43] ckprice commented on #234
@rjweiss created [Test Pilot KPI Validity Check.ipynb](https://gist.github.com/rjweiss/fb067a7261b3c15bd7d4132d2780ff6e) for us with the following note

She's taken the action item of getting this into a pretty re:dash view (thanks!).

I'm going to move this on to the next milestone.

Relevant bugs
- [Bug 1264049](https://bugzilla.mozilla.org/show_bug.cgi?id=1264049) - Make Test Pilot data availab