[2015-07-20 18:28] pdehaan opened #5 "Convert from gulp-ruby-sass to gulp-sass (which uses libsass)?"
[/gulpfile.js:12](https://github.com/mozilla/idea-town/blob/591aebda5098af7ec78291c823a515cd535d3cf7/gulpfile.js#L12) currently specifies **gulp-ruby-sass** module which presumably has a Ruby dependency.

&mdash; via https://www.npmjs.com/package/gulp-ruby-sass

We may want to switch from the Ruby version to the basic libsass version.

[2015-07-20 18:34] pdehaan opened #6 "Add /public to the .gitignore?"
It seems like we're adding a bunch of directories to the .gitignore directory individually, but do we just want to specify the /public directory and ignore everything at once?

[code]

versus just:
[code]

[2015-07-20 18:35] pdehaan commented on #5
Also means that we may be able to remove the .sass-cache bit from the .gitignore file.

[2015-07-30 00:18] pdehaan opened #10 "Broken image in README"
See https://github.com/mozilla/idea-town/pull/7#issuecomment-126120726

![](https://cloud.githubusercontent.com/assets/557895/8971960/67a246c4-360a-11e5-86a3-1b578fa3219d.png)

[2015-07-30 00:20] pdehaan commented on #6
Fixed in #7

good work john.

[2015-07-30 00:20] #6 closed

[2015-07-30 13:53] #10 closed

[2015-07-30 14:05] #5 closed

[2015-07-30 14:07] johngruen opened #13 "Make a better temporary logo"
I don't like that thing i made. I should make another thing.

[2015-07-30 14:08] johngruen opened #14 "Wire up that email submit box to something"

[2015-07-30 14:42] johngruen opened #15 "integrate basket"

[2015-07-30 22:57] pdehaan opened #17 "Audit the bower.json file"
The [bower.json](https://github.com/mozilla/idea-town/blob/master/bower.json) file looks like it has some old repo names and inconsistencies with license (vs package.json).

Also make sure all the dependencies are used (I didn't see any references to "slick" in the code, but I did a really sloppy/quick search).

[2015-08-01 23:51] pdehaan opened #19 "generated HTML is a bit sketchy"
### Steps to reproduce:
1. `gulp init`
1. `npm start`
1. Go to http://pdehaan.local:3001/
1. View source.
1. Format source (http://www.freeformatter.com/html-formatter.html).

### TL;DR:
[code]

Not sure why the `<'head>` and `</body></html>` tags close and then we start doing all the `<div>` tags and whatnot. I'll need to dig into some Jade.

### Actual results:
[code]

[2015-08-03 13:23] #19 closed

[2015-08-03 13:29] johngruen opened #21 "Add a CONTRIBUTING.md"
Now that this is kind of a thing, we should actually have a contributing.md file to clarify how to contribute to this thing.

[2015-08-03 13:56] johngruen opened #22 "Add GA"

[2015-08-03 20:55] meandavejustice commented on #17
It appears no client-side js has been written at all yet, so jquery and slick.js could be removed. Also `normalize.css` and `mozilla-tabzilla` could both be installed via npm and copied over to the public dir with gulp or an npm-script. This would remove the bower dependency entirely.

[2015-08-04 15:14] johngruen commented on #26
Oh, you can do this in settings.
![giphy](https://cloud.githubusercontent.com/assets/3323249/9064311/f14e8f2a-3a99-11e5-9d3a-9f7e8455ac80.gif)

[2015-08-04 17:14] pdehaan commented on #15
Fun tales of Basket API at https://github.com/mozilla/fxa-content-server/issues/2873 and https://github.com/mozilla/fxa-content-server/issues/2870.

**TL;DR:** It seems that Basket takes a 20m downtime every night, ... just because.

[2015-08-04 17:15] meandavejustice commented on #23
#14 and #17 will be fixed in this PR

[2015-08-04 18:19] meandavejustice commented on #21
fixed in #30

[2015-08-04 18:19] #21 closed

[2015-08-04 20:06] pdehaan commented on #31
While you're at it, me, take the opportunity to remove both the **gulp-jshint@^1.11.0** and **jshint@^2.8.0** modules. Having both seems redundant.

[2015-08-04 22:00] johngruen commented on #15
@pdehaan the status of this issue is up in the air. I'll provide more details tomorrow after nick and i meet with engagement.

[2015-08-04 22:10] pdehaan commented on #15
@johngruen Thanks. If you have a chance to ask them why the Basket API goes offline for 20m/day for maintenance, I'd be interested in that story.

[2015-08-05 00:05] 6a68 commented on #32
@pdehaan yeah, we definitely care about security - this will be running on a subdomain of firefox.com or mozilla.com or something, and might get a lot of traffic. Common sense precautions do matter here.

[2015-08-05 00:07] 6a68 commented on #32
Sorry, wrong button

[2015-08-05 00:25] 6a68 commented on #38
we can land front-end parts in #37

[2015-08-05 00:32] 6a68 opened #40 "Either put all handlers in routes, or in server.js"
Right now we have the most complex route handler inlined in server.js, and the one-liner route handler shuffled off into a routes/index file.

I don't care which we use (inlined in server.js is fine with me for this one, it's such a small server), but let's be consistent either way.

[2015-08-05 00:47] #14 closed

[2015-08-05 00:47] #17 closed

[2015-08-05 00:49] pdehaan commented on #41
Ref: https://github.com/mozilla/fxa-auth-db-server/blob/master/.travis.yml#L33-L38
[code]

[2015-08-05 00:58] 6a68 commented on #22
Waiting on this bug to get our tracking code: https://bugzilla.mozilla.org/show_bug.cgi?id=1191017

[2015-08-05 01:08] pdehaan commented on #33
Q: Latest 3.x or go for 4.x?

[2015-08-05 01:09] 6a68 opened #44 "Check with ops that Elastic Beanstalk is OK"

[2015-08-05 01:09] pdehaan commented on #34
@pdehaan manually copy/pastes MPL headers. He has a Grunt task which enforces headers in files. I can work on rewriting that for Gulp (unless something already exists).

[2015-08-05 01:10] 6a68 opened #45 "Get the domain name ideatown.firefox.com"
@nchapman is there a bugzilla bug for this yet?

[2015-08-05 01:12] 6a68 commented on #37
@johngruen do you have thoughts on wording for the success / failure messages?

Cases will probably include
- user signed up successfully, yay!
- email is malformed or there's no email at all
- server is down & the user has to wait/try again
- (maybe) email already exists in DB (we may or may not wind up checking this)

[2015-08-05 01:12] 6a68 commented on #36
@johngruen Do we have any email templates for idea town, or that we could reuse?

[2015-08-05 01:22] 6a68 commented on #36
If picking an email provider is a blocker, we can also just say something like, "Thanks for signing up! We'll be in touch eventually" on the signup page.

[2015-08-05 13:04] johngruen commented on #36
@6a68 we are meeting with email gatekeepers today. Nick also discovered an ancient Mail Chimp blog post talking about how Moz uses Mail Chimp, so we're still bugging legal as well. Whatever happens here, I'll be on the hook for it.

[2015-08-05 13:06] johngruen commented on #46
There's also a basic validation scheme on FxA that we could steal.

from: https://github.com/mozilla/fxa-content-server/blob/master/app/scripts/lib/validate.js#L21
[code]

[2015-08-05 13:37] johngruen commented on #48
@pdehaan I don't think this is a target for our ship date next week, but we should have a story here sooner rather than later.

[2015-08-05 13:39] johngruen commented on #45
@6a68 @nchapman and I talked to Travis (the human, not the testing service) yesterday, and he confirmed that this is trivial. AFAIK, no bug required.

[2015-08-05 14:44] johngruen commented on #37
@6a68 @meandavejustice don't worry about styling these things up for now, just slap these strings in a div with a success or error class on each and I can do the rest.

Thank you! Keep an eye on your inbox. We'll invite you to try out Idea Town as soon as it's ready.
(also the input/submit should go away in this case)

Invalid email address. Try again.

Oh dear, something went wrong there. Try aga

[2015-08-05 15:34] nchapman commented on #45
+1

[2015-08-05 15:45] meandavejustice commented on #34
https://www.npmjs.com/package/gulp-header

[2015-08-05 17:28] 6a68 commented on #48
What's the fxa workflow for l10n? should we borrow it, or do something new?

[2015-08-05 18:02] pdehaan commented on #48
I have no clue. I think every project I've worked on has implemented it differently.
FxA has a fxa-content-server-l10n repo where the localizers put translations (via verbatim, iirc) and then we grab that repo using bower and blah blah blah.

I defer to @nchapman here for how he wants to proceed (in Q4 or beyond).

[2015-08-05 18:22] nchapman commented on #36
Yeah we might just skip sending a confirmation email for now. I think this is going to make things more complicated than we need them to be.

[2015-08-05 18:24] nchapman commented on #48
We used the fxa workflow for Find My Device, so I'm familiar with the steps necessary to get it going. It's a bit of a Rube Goldberg machine, but seems to work well enough once it's going.

[2015-08-05 18:43] pdehaan commented on #48
jrgm and I were looking into http://l20n.org/ (https://github.com/l20n/l20n.js) last night and there was a discussion on #fxa earlier. It actually looks pretty interesting. Powered by Mozilla.

![](http://www.intermedia4web.com/wp-content/uploads/2012/11/eating-your-own-dog-food-lg.png)

[2015-08-05 18:50] 6a68 commented on #46
@johngruen great idea! these people should hopefully be signing up for fxa eventually, might as well reuse that code

[2015-08-05 18:52] pdehaan commented on #48
Actually, here was my super crude idea for implementing it:

[code]
&mdash; via https://github.com/l20n/l20n.js/blob/master/examples/web.html

So we apparently just define l20n string IDs as data attributes on certain elements. Interpolated values (like `emailCount`) seem a bit trickier, but probably doable in our Jade templates.
We could also pass in the `defaultLanguage` and `availableLanguages`

[2015-08-05 18:53] 6a68 commented on #46
I do feel weird about copy-pasting that function, though. Maybe there's something comparable on npm we can use, or just publish their validation file to npm

[2015-08-05 18:55] 6a68 commented on #46
maybe we can use https://github.com/Sembiance/email-validator instead, seems to cover pretty much the same ground

[2015-08-05 19:07] johngruen commented on #46
@6a68 I guess i don't feel totally weird about it. I mean, this thing is throw-away anyway. I've used it on other projects and given a hat tip to FxA

[2015-08-05 19:28] pdehaan commented on #46
I vote for https://www.npmjs.com/package/isemail (which is what they use in Joi).
For some reason the GitHub link is broken, so I'm not sure of the repo.

[2015-08-05 20:21] johngruen commented on #13
fixed by bryanbell

[2015-08-05 20:21] #13 closed

[2015-08-05 20:21] johngruen commented on #15
Closing this for now, because basket === basket

[2015-08-05 20:21] #15 closed

[2015-08-05 21:43] meandavejustice commented on #40
_blocked by #56_

[2015-08-05 21:50] meandavejustice commented on #46
Couldn't we get away with just html5 validation? http://davidwalsh.name/html5-email
We could still use the regex from the fxa function above

[2015-08-05 22:23] pdehaan opened #59 "Gulp init should clean out the public/ directory before writing stuff"
Maybe.
I have a dirty public/ dir from a previous PR and noticed that my l20n files are still lingering, despite running `gulp init` a few times.

Not sure if **rimraf**ing that directory when calling `gulp init` will cause any issues w/ @johngruen's lovely `gulp watch` stuff, so we'll need to test for that.

nit: On that note, should it be called `gulp init` or `gulp build`. Calling it `init` alw

[2015-08-05 22:44] pdehaan commented on #48
WIP branch at https://github.com/mozilla/idea-town/tree/l20n
No doubt needs a dozen rebases already, but shows how the page will seamlessly update translations when you change your Firefox locale without a page refresh.

Still not sure how I can set a `data-l10n-id` attribute to set the placeholder text on an `<input type="email">` field, or how I could get this to place nice w/ @johngruen's array

[2015-08-05 22:59] meandavejustice commented on #48
I20n looks relatively painless

[2015-08-05 23:21] meandavejustice commented on #39
@6a68 could you expand on this a bit?

[2015-08-06 03:15] johngruen commented on #62
Fixed by #58

[2015-08-06 03:16] johngruen commented on #59
fixed by #58,

nb. gulp-rimraf seems to be deprecated in favor of del (https://github.com/gulpjs/gulp/blob/master/docs/recipes/delete-files-folder.md)

[2015-08-06 16:49] johngruen commented on #62
@pdehaan i think this is closed

[2015-08-06 16:57] #59 closed

[2015-08-06 18:10] meandavejustice commented on #66
Locally I have been rming dev deps and some other things and zipping up before deploying to beanstalk. I would love to write a task to automate this stuff.

[2015-08-06 18:19] pdehaan commented on #66
@meandavejustice Does EBS need *ALL* the files, or just some folders?
For example, can we only ZIP the following:
- [ ] app_config.json
- [ ] iam_policy.json
- [ ] node_modules/
- [ ] public/
- [ ] routes/
- [ ] src/
- [ ] views/
- [ ] server.js

[2015-08-06 18:24] meandavejustice commented on #66
The selected files are needed, and all of the app's deps in node_modules(basically everything but all the gulp stuff)

[2015-08-06 18:26] pdehaan commented on #66
Yeah, I just did an `rm -rf node_modules && npm i --production` and then realized that my devDeps weren't installed, so I can no longer use `gulp bundle` since I don't have **gulp** or **gulp-zip** installed.

[2015-08-06 18:28] meandavejustice commented on #66
right, so within bundle we can just specify which directories from `node_modules` to include in the zip. We can get these from `Object.keys(require('./package.json').dependencies)`

[2015-08-06 19:07] meandavejustice commented on #67
:+1: for many repos, packaged as node_modules when appropriate. We can always install from npm with the `user/repo` syntax without actually publishing to npm.

[2015-08-06 19:40] 6a68 commented on #68
@johngruen are you planning to spec out interactions / animations here, or should we wing it?

[2015-08-06 19:48] johngruen commented on #68
@meandavejustice @6a68 this is a little vague? do you mean for the email submission link?

[2015-08-06 19:52] 6a68 commented on #68
@johngruen nope, for the whimsical animations in the hero image at the top

[2015-08-06 19:53] 6a68 commented on #67
@meandavejustice we're fine to push everything we do to npm, mozilla works in the open :-)

I owe this bug some background info and pro/con breakdown

[2015-08-06 19:53] #40 closed

[2015-08-06 19:58] johngruen commented on #68
@meandavejustice @6a68 no winging it with the logo. Don't think we need anything animated for the splash site, but let's use this to drop in interesting examples. I'd like to spec something out, but i think bryan will want the opportunity to iterate further on the logo before we move on this.

[2015-08-06 19:58] 6a68 opened #69 "form interaction polish"
@johngruen We can use this bug to record form interaction input that I was talking about in channel.

- how do we show email validation on the client? I was thinking red/green outline around the input when it's non-empty
- do we disable the button / show a spinner-ish image while the xhr is in flight? how do you want to do that?
- I think you mentioned just putting a node in the DOM for the error/

[2015-08-06 20:01] johngruen commented on #69
I'll spec this stuff out...already added success and error messages and styles with my UI pull request: https://github.com/mozilla/idea-town/blob/master/views/index.jade#L15

[2015-08-06 20:03] johngruen opened #70 "figure out icons for splash site"
What goes in the blue circles?

![screen shot 2015-08-06 at 4 03 00 pm](https://cloud.githubusercontent.com/assets/3323249/9122104/a4b61fb8-3c54-11e5-910a-1c6a79a6f3f9.png)

[2015-08-06 20:08] 6a68 commented on #64
thanks for opening this @pdehaan!

Yeah, CSP configuration will require getting some info from ops about where we'll be serving our assets from, and that'll vary in stage and prod. We'll want to be sure CSP works in both places.

Other default helmet behavior to worry about:
- `noCache` disables all client-side caching. I don't think we want that in production, though we might not get a lot of rep

[2015-08-06 20:20] 6a68 commented on #39
I'll do it

[2015-08-06 20:57] 6a68 opened #73 "disable favicon caching in dev"

[2015-08-06 21:07] pdehaan commented on #64
Here's what we used in **fxa-content-server**: https://github.com/mozilla/fxa-content-server/search?utf8=%E2%9C%93&q=helmet

**TL;DR:**

[code]
&mdash; via [**mozilla/fxa-content-server** ./server/lib/csp.js#L27-L49](https://github.com/mozilla/fxa-content-server/blob/e4c023f754d8a1bddbbb61fea9fb9580e5e4a297/server/lib/csp.js#L27-L49)

---

[code]
&mdash; via [**mozilla/fxa-content-server** ./serve

[2015-08-06 22:40] 6a68 commented on #73
Fixed by #71

[2015-08-06 22:40] #73 closed

[2015-08-07 01:19] 6a68 commented on #39
There aren't really any resources to clean up, so I guess this isn't needed at all.

I was worried about manually closing in-flight dynamo requests created by the aws-sdk. Since it doesn't use keepalives, dcoates assures me that any file descriptors will be cleaned up by the OS on process exit, so we just don't worry about them.

Since we don't have any other open sockets, there doesn't seem to be

[2015-08-10 18:05] johngruen commented on #63
Answer from marketing is resoundingly 'no'...i'll pr in a new string.

[2015-08-10 22:42] johngruen opened #78 "Fix focus on Tabzilla"
Looks jacked

[2015-08-10 23:07] johngruen opened #79 "Firefox persists disabled submit buttons across page refreshes"
@meandavejustice as far as i can tell, Firefox is (for whatever reason) caching the state (disabled/enabled) of the submit button after successive page refreshes. Adding `submitBtnEl.disabled = false;` to line 13 of main.js seems to resolve this problem, but maybe there's something else going on.

Cannot repro in any other browser.

[2015-08-10 23:10] johngruen commented on #69
#75

[2015-08-10 23:10] #69 closed

[2015-08-11 00:18] meandavejustice commented on #79
It is considered a feature in Firefox http://stackoverflow.com/questions/5985839/bug-with-firefox-disabled-attribute-of-input-not-resetting-when-refreshing

[2015-08-11 00:18] meandavejustice commented on #79
I'll fix this in a pr in about 2 minutes

[2015-08-11 00:19] johngruen commented on #79
Haha.  Thanks man!

[2015-08-11 02:03] #79 closed

[2015-08-11 02:09] johngruen commented on #29
#71

[2015-08-11 02:09] johngruen commented on #38
#74

[2015-08-11 02:10] johngruen commented on #37
#74

[2015-08-11 14:56] johngruen commented on #78
#84

[2015-08-11 14:56] #78 closed

[2015-08-11 16:15] johngruen opened #86 "Footer links not aligned on mobile"

[2015-08-11 17:23] meandavejustice commented on #66
This is no longer necessary now that we are pushing directly to eb

[2015-08-11 19:03] pdehaan commented on #70
Fixed by #83

[2015-08-11 19:03] #70 closed

[2015-08-11 19:36] pdehaan commented on #85
I don't quite know what's happening, but I have a possible explanation and workaround.

We have a /public/styles/main.css file that concatenates the **mozilla-tabzilla** code (amongst other things). It has the following sauce:

[code]

So, since the /public directory is our server's static home directory, it ends up looking for a `../media/**` (which is the same as `/media/**` in this case). No ha

[2015-08-11 19:50] 6a68 commented on #67
We discussed this in the engineering meeting today; sounds like we'll go with multiple repos. Closing.

[2015-08-11 20:15] pdehaan commented on #86
![idea_town_and_idea_town](https://cloud.githubusercontent.com/assets/557895/9209363/f9432f88-402a-11e5-95e7-7078455a3bf0.png)

[2015-08-11 20:16] pdehaan commented on #63
@johngruen Is this fixed by #76?

[2015-08-11 22:48] 6a68 commented on #57
@mostlygeek What are our options for staging URLs, if we're using elastic beanstalk? Would we still use something-something.mozaws.net, or would it be a generic eb URL?

[2015-08-11 22:48] 6a68 commented on #45
@nchapman Sounds like we can close this?

[2015-08-11 22:48] 6a68 commented on #44
Confirmed good with @mostlygeek; closing

[2015-08-11 22:48] #44 closed

[2015-08-11 22:51] 6a68 commented on #54
@johngruen honestly, we could launch without this, want to bump out of milestone 1?

[2015-08-11 22:55] 6a68 commented on #22
Background info: tracking code is `UA-49796218-34`. It's currently whitelisted to our dev and prod URLs. Once I know the stage URL, I'll update the bugzilla bug and get it whitelisted, too.

I'll submit a PR to add the snippet to the index page.

[2015-08-12 00:47] 6a68 commented on #54
since we're going to discard this teaser site really soon, I don't think the investment in tests will pay off. Closing.

[2015-08-12 02:23] johngruen commented on #91
@pdehaan probably not a bad idea, although i think sourcemaps for sass would be a bigger immediate win.

[2015-08-12 02:24] johngruen commented on #63
@pdehaan Yes!

[2015-08-12 15:37] 6a68 commented on #45
I found a bugzilla bug that @mostlygeek opened to track ops work, including getting the name configured. Closing in favor of it: https://bugzilla.mozilla.org/show_bug.cgi?id=1192920

[2015-08-12 15:37] #45 closed

[2015-08-12 15:57] 6a68 commented on #90
Pulling into milestone 1, since we've got an open PR to fix this bug, and it's worth fixing

[2015-08-12 15:58] 6a68 commented on #86
Pulling into milestone 1, since we've got an open PR to fix this bug, and it's worth fixing.

[2015-08-12 16:02] 6a68 commented on #34
Yeah, this language in the [apache license](http://www.apache.org/licenses/LICENSE-2.0) seems to indicate that a NOTICE is required:

I'll quickly add this.

[2015-08-12 16:05] mostlygeek commented on #57
I suggest: ideatown.dev.mozaws.net and ideatown.stage.mozaws.net

re: Dev

- we already have a wildcard cert for *.dev.mozaws.net
- you guys already have dev iam access so you can deploy it yourself
- i can set up the TLS/SSL configs on your current dev ideatown for it

re: Stage

- do this when idea town is more than an email signup
- it will be jenkins powered so it will need to be deployed via

[2015-08-12 16:10] 6a68 commented on #34
More background: https://www.mozilla.org/MPL/license-policy.html

[2015-08-12 16:12] 6a68 commented on #34
And, per [the flowchart](https://www.mozilla.org/MPL/license-policy-flowchart.png), we'll license our repo as Apache 2, since we're working from a project with that license

[2015-08-12 17:45] #86 closed

[2015-08-12 17:46] 6a68 commented on #86
Fixed by #95

[2015-08-12 17:47] pdehaan commented on #85
Closing as "who cares". We'll make sure this is better for V2

[2015-08-12 17:48] johngruen commented on #68
Wontfix...lets file this in specific terms down the road when we have time

[2015-08-12 17:50] pdehaan commented on #36
This will be resolved by Basket/ExactTarget. Closing.

[2015-08-12 17:55] pdehaan commented on #64
@edmoz to find out about getting a sec-review.

[2015-08-12 17:55] nchapman opened #97 "Integrate with Exact Target"
Basket API for subscribing

- https://github.com/mozilla/basket
- http://basket.readthedocs.org/en/latest/newsletter_api.html#news-subscribe

Email Request docs and process  (@edmoz to read and log bug)

[code]

[2015-08-12 17:58] 6a68 opened #98 "Possibly update strings for exact target integration"

[2015-08-12 18:57] #22 closed

[2015-08-12 19:58] 6a68 commented on #57
@mostlygeek thanks for the infos! Questions below:

Sounds good to me! I'll update our Google Analytics whitelist to use those.

Cool, I can map the route53 name to the current dev eb URL.

That would be great.

The first release will just be this email signup page. I do want to make sure that QA gets a chance to poke at a version of the site with prod-like settings. I don't know what's on the che

[2015-08-12 20:28] mostlygeek commented on #57
For stage/prod, it will depend on the changes you guys are making. If it is still a small email signup app we won't need CDN or anything.

I will setup jenkins.

[2015-08-12 21:33] meandavejustice opened #1 "Setup Sugardough base"
https://github.com/mozilla/sugardough/

Also we should think about generating/serving the client through node or something, Just to keep the client as simple/decoupled as possible.

[2015-08-13 00:48] 6a68 commented on #97
The errors are documented on the basket-client rtd site: http://basket-client.readthedocs.org/en/latest/usage.html

as well as in the tests in the basket repo

[2015-08-13 02:22] 6a68 commented on #99
@bryanbell let me know when the logo's feeling done-ish

[2015-08-13 02:24] jaredhirsch opened #2 "I think I broke waffle"
when I moved the repos etc.

[2015-08-13 17:57] jaredhirsch opened #3 "put wires in the repo in a folder"
https://www.dropbox.com/s/13h9r7johqx2u5w/idea-town-walkthrough.pdf?dl=0

we can submit PRs to add additional versions later

this'll help contributors

[2015-08-13 19:30] 6a68 commented on #97
@meandavejustice thanks for taking this one! I can review it when it's ready :beers:

[2015-08-14 17:22] jaredhirsch commented on #10
@lmorchard Aha, that works! I had been doing `docker-machine ls`, which gave me a random other port (which I [now see](http://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml?search=docker) is a Docker port), though it did list the right local IP:

[code]

Well, this should be fun! merging like

![](http://media.giphy.com/media/DbwgD71Rknp84/giphy.gif)

[2015-08-17 18:21] pdehaan commented on #22
r? @6a68

Looks like Travis is barfing all over the place, but I'm guessing that is just Python/lint churn.

[2015-08-17 19:56] jaredhirsch opened #23 "DB schema design"
users, experiments, per-user experiment data

[2015-08-17 19:57] jaredhirsch opened #24 "REST API"
experiments & user info in a nice form for the main page, experiment detail page, settings page

[2015-08-17 20:00] jaredhirsch opened #25 "FxA integration"
I think FxA now supports the implicit grant flow (no server needed) as well as the auth code flow (server-server secrets exchange). Auth code flow has been used longer, is probably fine as a starting point.

[2015-08-17 20:00] jaredhirsch opened #26 "Server metrics"
Set up a basic pipeline to ship our server logs and server-side KPI data somewhere

[2015-08-17 20:01] jaredhirsch opened #27 "AWS integration work for staging/prod server"
- RDS or EC2 for postgres in AWS?
- Do we want to continue trying to use Elastic Beanstalk?

[2015-08-17 20:02] jaredhirsch opened #28 "Docker work for local development"
This already sorta works in the first big bang commit; placeholder for any additional niceness that might be needed

[2015-08-17 20:02] jaredhirsch opened #29 "main page layout"

[2015-08-17 20:03] jaredhirsch opened #30 "single experiment detail page layout"

[2015-08-17 20:03] jaredhirsch opened #31 "settings page layout"

[2015-08-17 20:03] jaredhirsch opened #32 "front-end assets"
Placeholder for whatever images we want to slice out of the PSD

[2015-08-17 20:04] jaredhirsch opened #33 "experiment install flow"
Install an experiment, possibly triggering FxA signup, possibly triggering Idea Town addon install

[2015-08-17 20:04] jaredhirsch opened #34 "experiment uninstall flow"

[2015-08-17 20:05] jaredhirsch opened #35 "idea town uninstall / delete account flow"

[2015-08-17 20:05] jaredhirsch opened #36 "flow for leaving general feedback"
Some kind of generic form to use until we have discourse integration

[2015-08-17 20:06] jaredhirsch opened #37 "basic admin site"
Figure out the minimum viable admin site to let non-devs CRUD experiments (and possibly users)

[2015-08-17 20:08] jaredhirsch opened #38 "Collect addon lifecycle events for measurement"
When the idea town addon is installed/uninstalled, or when individual experiments are installed/uninstalled, we want the addon to ping our server, to update user state.

[2015-08-17 21:16] jaredhirsch opened #39 "front-end metrics"
Google Analytics seems simplest?

[2015-08-17 22:50] jaredhirsch commented on #22
@pdehaan Thanks for this! Looks good overall.

I'm not a fan of trailing commas, I guess we should remove that and add a comment somewhere (README?) that we use airbnb's style rules with a few modifications. Would you mind making that change, then this should be good to land?

[2015-08-17 23:09] jaredhirsch commented on #40
@lmorchard The static server seems to be broken for me. Have you run into this same error?

[code]

[2015-08-17 23:17] jaredhirsch commented on #22
yay merging!!!!!

![](http://media.giphy.com/media/d8ilc8qcW4lG0/giphy.gif)

[2015-08-18 00:07] lmorchard commented on #40
If you have a `node_modules` in your project dir, I think you have to delete it. The gulp container installs dependencies elsewhere in the container (ie. `/home/webdev/node_modules`). But, it will use the one in the project directory instead if found. And, if that `node_modules` was installed under OS X, it will be missing the `libsass` binaries for Linux.

Ran into this a few times, but thought I

[2015-08-18 18:13] lmorchard commented on #40
TL;DR: There we go, one more tweak to make Gulp & Django co-exist.

Turns out Django wants to do some static asset management itself. It collects assets from various apps like `admin` & etc into `static/` for production deployment. But, it doesn't serve up assets from `static/` in _development_.

So, just dumping things built by Gulp into `static/` wasn't working. But, dumping them in `client-buil

[2015-08-18 18:24] lmorchard opened #41 "Gulp does not watch gulpfile.js and restart with changes"
This is an issue already when running Gulp straight on OS X host. But, when it's in a Docker container things are worse: you have to restart the container. So, it might be handy to wrap `gulp` in nodemon or something and make it restart itself when `gulpfile.js` changes

[2015-08-18 18:37] jaredhirsch opened #42 "missing css error on docker static VM startup"
STR:
- clone repo
- `docker-compose up`
- see this in stdout, perhaps a gulp race condition or some other thing happening

[code]

[2015-08-18 18:50] jaredhirsch commented on #40
Landing this & we'll take another pass at the static VM magic soon

![](http://i.memecaptain.com/gend_images/2Ru_CA.jpg)

[2015-08-18 22:04] lmorchard commented on #1
Resolved in #10 and #40

[2015-08-18 22:04] #1 closed, assigned to lmorchard

[2015-08-18 22:05] lmorchard commented on #5
This is working insofar as travis tests run for Django. We might want to add more for client-side JS & etc.

[2015-08-18 22:06] lmorchard commented on #28
Going to call this done in #40 - let's open more specific issues for things as they come up

[2015-08-18 22:06] #28 closed, assigned to nobody

[2015-08-18 22:12] lmorchard commented on #27
I had a small staging-ish success earlier that may or may not be handy in the future. Just so I don't forget it, here's the gist:

[code]

[2015-08-18 22:13] lmorchard commented on #25
[django-allauth claims to support FxA](http://django-allauth.readthedocs.org/en/latest/providers.html#firefox-accounts), so I'm going to give that a try!

[2015-08-19 18:08] jaredhirsch commented on #29
Front-end bugs moved to mozilla/idea-town-app

[2015-08-19 18:08] #29 closed, assigned to nobody

[2015-08-19 18:10] jaredhirsch commented on #30
Front-end bugs moved to mozilla/idea-town-app

[2015-08-19 18:10] #30 closed, assigned to nobody

[2015-08-19 18:10] jaredhirsch commented on #31
Front-end bugs moved to mozilla/idea-town-app

[2015-08-19 18:10] #31 closed, assigned to nobody

[2015-08-19 18:10] jaredhirsch commented on #32
Front-end bugs moved to mozilla/idea-town-app

[2015-08-19 18:10] #32 closed, assigned to nobody

[2015-08-19 18:10] jaredhirsch commented on #33
Front-end bugs moved to mozilla/idea-town-app

[2015-08-19 18:10] #33 closed, assigned to nobody

[2015-08-19 18:10] jaredhirsch commented on #34
Front-end bugs moved to mozilla/idea-town-app

[2015-08-19 18:10] #34 closed, assigned to nobody

[2015-08-19 18:10] jaredhirsch commented on #35
Front-end bugs moved to mozilla/idea-town-app

[2015-08-19 18:10] #35 closed, assigned to nobody

[2015-08-19 18:10] jaredhirsch commented on #36
Front-end bugs moved to mozilla/idea-town-app

[2015-08-19 18:10] #36 closed, assigned to nobody

[2015-08-19 18:11] jaredhirsch commented on #37
Front-end bugs moved to mozilla/idea-town-app

[2015-08-19 18:11] #37 closed, assigned to nobody

[2015-08-19 18:11] jaredhirsch commented on #39
Front-end bugs moved to mozilla/idea-town-app

[2015-08-19 18:11] #39 closed, assigned to nobody

[2015-08-25 21:28] lmorchard commented on #44
Going to close this and open a new one with the Experiment models & API stuff I just got working

[2015-08-26 16:24] jaredhirsch commented on #45
Cool, I'll take a look in a bit

[2015-08-26 19:19] lmorchard commented on #45
Quick commit update to make flake8 happier & pass on travis

[2015-08-26 19:58] lmorchard commented on #45
@6a68 said it's okay so BOOM

[2015-08-26 20:00] lmorchard commented on #45
FWIW, for further changes after this big bang, let's open up smaller issues for quicker reviews

[2015-08-26 20:21] jaredhirsch commented on #42
I'll deal with this bit over in the app repo, closing here

[2015-08-26 20:21] #42 closed, assigned to nobody

[2015-08-26 21:28] lmorchard opened #46 "Find a thumbnail / resize app in Django for uploaded images"
There are a few options like [sorl-thumbnail](https://github.com/mariocesar/sorl-thumbnail). Look into it, pick one, try using it.

[2015-08-26 23:01] meandavejustice commented on #46
- [discussion of thumbnail projects](https://code.djangoproject.com/wiki/ThumbNails)
- [package comparison](https://www.djangopackages.com/grids/g/thumbnails/)

[2015-08-26 23:07] meandavejustice commented on #41
@lmorchard Creating a label (`client-concern`)for these issue which should be moved over to (or at least kept in mind)`idea-town-app`

[2015-08-26 23:33] meandavejustice commented on #41
cc/ @6a68

[2015-08-27 16:49] lmorchard commented on #24
Going to say the groundwork for this was merged with PR #45 - let's create more specific issues for further iteration

[2015-08-27 16:49] #24 closed, assigned to nobody

[2015-08-27 16:49] lmorchard commented on #23
Going to say the groundwork for this was merged with PR #45 - let's create more specific issues for further iteration

[2015-08-27 16:49] #23 closed, assigned to nobody

[2015-08-27 16:49] lmorchard commented on #25
Going to say the groundwork for this was merged with PR #45 - let's create more specific issues for further iteration

[2015-08-27 16:49] #25 closed, assigned to nobody

[2015-08-27 16:51] lmorchard commented on #5
PR #10 got us a good travis base for the server, and client-side stuff is moving out of this repo.

[2015-08-27 16:52] lmorchard opened #47 "Remove client-side gulp build chain from this repo"
[The client-side gulp shenanigans have moved](https://github.com/mozilla/idea-town-app). Remove them from this repo.

[2015-08-27 16:55] lmorchard opened #48 "What data to collect from / questions to ask of users?"
[See comments in PR45](https://github.com/mozilla/idea-town-server/pull/45#discussion_r38021132). TL;DR: What data should be we collecting from users per experiment? What questions should we be asking & recording answers for?

This will determine fields added to the data model, at least. A numerical rating is in there now. Do we want to add a text field for a single comment? If we want to run surv

[2015-08-27 16:57] lmorchard opened #49 "Add URL for addon XPI to Experiment data model"
Need to add a URL for addon XPI, assuming they'll be uploaded to AMO and signed there.

We might want to consider supporting local uploads of XPIs in the future?

[2015-08-27 16:58] lmorchard commented on #41
I'm just going to straight copypasta this issue over to -app

[2015-08-27 16:58] #41 closed, assigned to nobody

[2015-08-31 15:06] #47 closed, assigned to nobody

[2015-08-31 19:44] #49 closed, assigned to lmorchard

[2015-08-31 19:51] lmorchard opened #53 "Support versioning the API"
Let's make the API versionable - e.g. `/api/0.2.3/experiments/1`
- [Django REST Framework has lots of options for versioning](http://www.django-rest-framework.org/api-guide/versioning/), could support the above.
- Use [semver](http://semver.org/) - [there's a Python module to help compare versions](https://pypi.python.org/pypi/semver)
- We can use version ranges to switch behaviors / serializers /

[2015-09-02 00:25] pdehaan opened #54 "Docker instance doesn't respond to 0.0.0.0:8000"
I was testing the Docker flow (worked well!) and noticed this one bit of confusion:

[code]

I wasn't able to get the server to respond on http://0.0.0.0:8000/ or http://localhost:8000/, but it did respond on http://ideatown.dev:8000/ with the following piece of HTML wizardry:

<img width="326" alt="home___idea_town" src="https://cloud.githubusercontent.com/assets/557895/9620353/39f5ec2e-50ce-11e5

[2015-09-02 00:27] pdehaan commented on #54
Not sure if it is something with my config, or if we need to tweak this bit: [/bin/run-dev.sh:8](https://github.com/mozilla/idea-town-server/blob/50059ab99dda857c123cd9d8da84d50a63833845/bin/run-dev.sh#L8) to point to http://ideatown.dev:8000:

[code]

[2015-09-02 16:05] lmorchard commented on #54
The server will never respond from 0.0.0.0:8000 - that's localhost for your host computer.

The way the Docker dev arrangement works is that there's a virtual machine running. You get the VM IP with `docker-machine ip default`. [That IP is where you should point `ideatown.dev` in your local `/etc/hosts`](https://github.com/mozilla/idea-town-server#hacking-tldr) file. On my machine, that tends to b

[2015-09-02 16:18] jaredhirsch commented on #54
Hey @pdehaan, sorry docker caused you some stress, but technically it's behaving correctly. https://en.wikipedia.org/wiki/0.0.0.0 (er, les's explanation is way better, just go by that)

If you go by the steps in this repo's README, it should hopefully just work for you.

I'm going to close this; I'm not sure we need to do anything here.

[2015-09-02 16:18] #54 closed, assigned to nobody

[2015-09-03 17:56] pdehaan opened #56 "Switch from normalize.css to normalize.scss"
I think we used [**node-normalize-scss**](https://github.com/ranjandatta/node-normalize-scss) with success on a [different project](https://github.com/mozilla/universal-search-content/blob/3901b1f36ca224bbc917bfd6b14f7921099b72a9/package.json#L26).

Plus it'd let us avoid the weird file rename steps to be able to `@import` the file into our other Sass files.

&mdash; via https://github.com/ranjand

[2015-09-03 19:33] pdehaan opened #57 "Switch to ES6-based babel file"
It's ES6 all the way down!
We only need to rename the gulpfile.js to gulpfile.babel.js, and then all the ES6 magic should just work.

https://markgoodyear.com/2015/06/using-es6-with-gulp/

[2015-09-03 23:47] #2 closed, assigned to nchapman

[2015-09-03 23:52] jaredhirsch commented on #26
Maybe useful:

https://github.com/mozilla-services/heka
https://github.com/mozilla-services/django-raven-heka
https://wiki.mozilla.org/CloudServices/DataPipeline (and #datapipeline on irc)

[2015-09-09 20:12] meandavejustice commented on #26
We have a dev install to play with here: https://pipeline-cep1.dev.mozaws.net/#health
And more info: https://mana.mozilla.org/wiki/display/CLOUDSERVICES/Exploring+with+the+Mozilla+Data+Pipeline+Demo

[2015-09-09 23:57] meandavejustice commented on #26
Switching back off of this shortly, need to get a script working to post to the dev instance above, after authenticating with fxa.

[2015-09-10 18:30] jaredhirsch opened #61 "logged-out landing page with session check + fxa flow"
fxa flow already works, just need to bounce to /home (or similar) endpoint if authed

[2015-09-10 18:30] jaredhirsch opened #62 "logged-in landing page with idea town install check"
- if idea town not installed, show an install button
- if it is installed, show a placeholder list of experiments (we've already got this)

[2015-09-10 18:31] jaredhirsch opened #63 "add /user endpoint to pass session info to front-end app"
- if user's logged in, provide email address, whether the user has the main addon, and a list of any installed experiments
- if user's not logged in, return empty object / null / TBD

[2015-09-10 18:32] jaredhirsch opened #64 "accounts/ cleanup"
- Remove templated APIs / views

[2015-09-10 18:34] jaredhirsch opened #65 "other endpoint cleanup"
Remove templated views other than accounts/, replace (if we need them) with django-rest-framework APIs

[2015-09-10 21:56] pdehaan opened #66 "Update pip & remove peep"
Seeing oodles (37, to be exact) of messages being spewed out in Travis logs (https://travis-ci.org/mozilla/idea-town/jobs/79713081):

---

![job__45_3_-_mozilla_idea-town_-_travis_ci](https://cloud.githubusercontent.com/assets/557895/9801984/a3ba4c96-57cb-11e5-9566-c2566ace1b33.png)

[2015-09-10 22:42] pdehaan commented on #59
@6a68 I'm getting a couple 404s on the /static/ assets, and an odd error:

Which seems to be roughly this code:

[code]

Which looks dangerously close to this source ES6:

[code]

&mdash; via https://github.com/mozilla/idea-town/pull/59/files#diff-56c208341a408142c3b040a231e2664eR17

![idea_town](https://cloud.githubusercontent.com/assets/557895/9802791/c8cd9b72-57d1-11e5-9c21-8f7f68789e00.png)

!

[2015-09-10 22:48] pdehaan commented on #59
Another curiosity is that /mozilla-logo.png file. It shows up as a broken image, yet DevTools says its a HTTP 200:

[code]

Is it because there isn't any mozilla-logo.png in https://github.com/mozilla/idea-town/tree/master/idea_town/frontend/static-src/images?

Is there a problem with our 404 route? http://ideatown.dev:8000/mozilla-logo.png seems to show the index route and not a broken image icon

[2015-09-10 23:05] pdehaan commented on #59
HTML linting looks good. The [W3C validator](https://validator.w3.org/#validate_by_input+with_options) only complains about the lack of `src` and `alt` attributes on a couple `<img>` tags:
![showing_results_for_contents_of_text-input_area_-_nu_html_checker](https://cloud.githubusercontent.com/assets/557895/9803252/88d7974e-57d5-11e5-8276-feea05f8e46b.png)

[2015-09-10 23:17] meandavejustice commented on #59
[code]

[2015-09-11 00:29] pdehaan commented on #59
So, after tweaking the `template()` method and getting it working locally, everything seems to look great!

I did notice that clicking on the experiment name links in the boilerplate experiments doesn't seem to do anything though.

![idea_town_and_inbox__450__-_pdehaan_mozilla_com_-_mozilla_mail](https://cloud.githubusercontent.com/assets/557895/9804249/94366b78-57e0-11e5-9622-7ff7e125b17f.png)

[2015-09-11 00:57] pdehaan opened #67 "Cookies link 404s"
Super lame bug, but I'll forget if I don't file it.

Build the app locally and then run `docker-compose up`. Once the app launches, click on the "Cookies" link (see https://github.com/mozilla/idea-town/pull/59/files#diff-2cabeffb936e476d6305a174ddfbbfd5R27). You're redirected from http://mozilla.org/cookies to https://www.mozilla.org/en-US/cookies, which is a fancy 404 page.

I think this should l

[2015-09-11 01:00] jaredhirsch commented on #59
@pdehaan yeah, that's just placeholder junk we'll be removing when the for reals UX is ready

[2015-09-11 01:02] jaredhirsch commented on #67
Good call! We might want to exclude the `en-US` slug from the URL; mozilla.org has some locale-detection magic that will insert the locale slug for any viewer.

[2015-09-11 01:03] jaredhirsch opened #68 "Define footer URLs"
What links should live in the footer? Is that a standard thing across all mozilla sites?

Re: https://github.com/mozilla/idea-town/pull/59#discussion_r39232535

[2015-09-11 01:05] jaredhirsch commented on #59
@pdehaan The 404 route isn't currently working; we should fix this as part of the overall bug to remove templated routes still existing in django. I'll update #65 to add this task.

[2015-09-11 01:06] jaredhirsch commented on #65
We should also make 404s work correctly: if assets are missing, just return a 404 and not the index page (django handles this). if a page doesn't exist, show a 404 page (ampersand handles this).

[2015-09-11 01:11] pdehaan commented on #67
@6a68 Good catch, updated URL above.

[2015-09-11 01:49] jaredhirsch commented on #59
@meandavejustice Is this thing ready to merge? What do you think?

[2015-09-11 02:26] meandavejustice commented on #59
:+1:

[2015-09-11 02:40] meandavejustice commented on #62
[You will need to trigger the loaded event](https://github.com/mozilla/idea-town-addon/blob/master/stub-content/index.js#L39)
[and listen for this event](https://github.com/mozilla/idea-town-addon/blob/master/index.js#L82)

[2015-09-11 22:15] #57 closed, assigned to pdehaan

[2015-09-14 17:17] lmorchard commented on #69
Hmm. So, that `Dockerfile-server` currently works to spin up the server part of our dev environment. It came mostly from Sugardough as boilerplate and [it's used in `docker-compose.yml`](https://github.com/mozilla/idea-town/blob/master/docker-compose.yml#L16) alongside [another container that does client-side builds with Gulp](https://github.com/mozilla/idea-town/blob/master/Dockerfile-client_buil

[2015-09-14 19:43] lmorchard commented on #65
FWIW, in dev / debug mode, I think Django will serve up 200 OK with an HTML error message wherever things are not found - even for static resources, since we're serving those up from Django right now. If you switch off `DEBUG` in `idea_town/settings.py` or `docker-compose.yml`, you should see normal 404s.

But yeah, there is a `frontend` app catch-all route for things outside the `static` path. So

[2015-09-14 19:48] pdehaan commented on #56
Actually, to take this a step further, we could use something like [**gulp-base64**](https://www.npmjs.com/package/gulp-base64) to inject the 2 images into the tabzilla.css file, and then do away with the whole "vendor" steps completely.

[code]

Although this would increase the size of the CSS from 801B to 5.2K.

Then we can create a _vendor.scss file with something like the following:

[code]

I

[2015-09-14 20:29] mostlygeek commented on #69
The `Dockerfile` should build a production asset. Having it build development assets breaks conventions everywhere.

For development, we (cloudops) don't have any recommendations yet. Though, it makes sense to keep things named consistently. Also using the Docker created images, https://hub.docker.com/_/node/ is recommended even for dev. It'll result in fewer surprises and translations when workin

[2015-09-15 22:37] jaredhirsch opened #71 "Exclude non-FF browsers from signing in"

[2015-09-17 18:18] pdehaan commented on #73
![idea_town](https://cloud.githubusercontent.com/assets/557895/9941977/7a9bbe50-5d2d-11e5-93bf-0644def3b97d.png)
I can hover over the experiment names and the cursor changes to a hand cursor, but the links don't appear to be clickable.

[2015-09-17 18:20] pdehaan commented on #73
I somehow got in a state where it doesn't think I have the add-on installed (so won't show me experiments), but going to about:addons shows that I have the [unsigned] add-on installed:

![idea_town](https://cloud.githubusercontent.com/assets/557895/9942085/119cded8-5d2e-11e5-91bd-402bdc52af76.png)

![add-ons_manager](https://cloud.githubusercontent.com/assets/557895/9942086/19a9a6ec-5d2e-11e5-9602

[2015-09-17 18:29] meandavejustice commented on #73
@pdehaan the experiment link is not yet a link, you will need to click the `install` button to navigate to the detail page.

As for the addon issue, I just pushed a freshly built addon version to master at `mozilla/idea-town-addon`. Try removing and installing the fresh xpi to see if you still have that issue.

[2015-09-17 19:16] pdehaan commented on #73
I'm getting some console errors when trying to click the [Install] button on the experiments list page:
![idea_town](https://cloud.githubusercontent.com/assets/557895/9942388/958dfdc0-5d2f-11e5-9cb0-9e852db11a86.png)

Probably useless stack is:

| THING | STUFF |
| --- | --: |
| [223]</<.set( | app.js:10158 |
| createPropertyDefinition/<.set() | app.js:10520 |
| initialize() | app.js:400 |
| View(

[2015-09-17 20:53] jaredhirsch commented on #73
@pdehaan Found & fixed the bug in the router code which caused your error. Give it another try!

[2015-09-18 00:38] jaredhirsch commented on #73
@pdehaan: yeah, I should make all the views consistent

[2015-09-18 01:29] jaredhirsch commented on #73
I'm going to keep review response commits separate until I merge this thing, so that it's clear what was changed in response to feedback.

I'll squash the whole thing into one commit when I land it.

[2015-09-18 17:06] jaredhirsch commented on #62
Fixed by #73

[2015-09-18 17:06] #62 closed, assigned to jaredhirsch

[2015-09-18 17:06] jaredhirsch commented on #61
Fixed by #73

[2015-09-18 17:06] #61 closed, assigned to jaredhirsch

[2015-09-18 19:34] jaredhirsch opened #74 "`docker-compose build` errors"
I've found that `docker-compose build` sometimes fails by hanging forever.

I've seen this happen during the `client_build` build process, when it's attempting to install npm deps.

This problem is intermittent, but when it occurs, it's impossible to get any work done.

One thing that, oddly, fixed the problem for me today was doing an `npm install` in the host OS, then repeating `docker-compose b

[2015-09-18 19:37] jaredhirsch commented on #74
Being a bit more explicit, here's what I did to unclog the pipes:
1. `docker rmi $(docker images -f dangling=true -q)`
2. `docker rm $(docker ps -qa)`
3. `npm install`
4. `docker-compose build`

Weirdly, the `npm install` seems to be a critical part of the process. I tried the other three steps repeatedly, without luck.

[2015-09-21 18:58] pdehaan opened #75 "Remove unused dependencies"
I was noticing that we weren't using **bourbon** or **neat** in the Sass files anywhere [yet], and then figured I'd run [**depcheck**](https://www.npmjs.com/package/depcheck) and check for other unused dependencies in the package.json file:

[code]

[2015-09-23 14:49] lmorchard commented on #63
Was thinking of taking some pokes at this, if it doesn't trample on anything @meandavejustice already has in progress. (I'm an issue thief, feel free to smack me)

[2015-09-23 15:28] lmorchard commented on #78
So, I see I'm assigned, but I have some dumb questions: What's datadog & what are we doing with it? Do we have docs & issues & etc on it? I'm kind of light on context about this stuff.

[2015-09-23 15:52] jaredhirsch commented on #78
@lmorchard So, cloud ops has been suggesting datadog (https://app.datadoghq.com) as a privacy/legal-approved third party metrics endpoint, mainly because it offers relatively simple dashboarding. They can give you an account if you need one (maybe ping mostlygeek). Firefox Accounts, WebPush, and some other services teams are using it, IIRC. We don't want datadog to receive any personally-identifia

[2015-09-23 15:53] jaredhirsch commented on #78
@mostlygeek This is a first metrics-to-datadog PR. Feedback welcome :-)

[2015-09-23 15:58] jaredhirsch commented on #69
@mostlygeek

This statement might be true for ops, but we use docker in development, and we will continue to specialize the dev docker setup to optimize for developer happiness over production hardness.

The [docker-compose docs](https://docs.docker.com/compose/production/) suggest using separate yaml config files for the dev and prod cases, so maybe that's a better direction to take with this PR.

[2015-09-23 16:00] lmorchard commented on #78
One top-of-head concern I've got about this API end point is that it looks like any rando can POST any random metric event. Might help to have a vocabulary of what we're collecting?

But then, I guess that just constrains the randos to submitting noise in the defined events. Hmm... maybe overthinking the concern here

[2015-09-23 16:05] lmorchard commented on #78
<strike>We might want to add a `@login_required` to this API (however REST framework handles that, I'm not sure) and/or require a CSRF token, if only to toss in a speed bump on random spam bots mating with the metrics endpoint</strike>

Actually, [I think this is already in place](https://github.com/mozilla/idea-town/pull/78/files#diff-867a2641e83e4e2a804f960f368f4449R16) & I just missed it. So, l

[2015-09-23 16:10] jaredhirsch commented on #78
Yeah, we've already got `csrftoken` and `sessionid` cookies set by Django, so maybe it'll just work. Looks like docs are here: http://www.django-rest-framework.org/api-guide/authentication/

[2015-09-23 17:18] lmorchard commented on #78
Yeah, can confirm - POSTing as a rando to the endpoint gets rejected:

[code]

[2015-09-23 18:33] meandavejustice commented on #78
@lmorchard moved to using `import datadog` as you suggested.

[2015-09-23 18:40] lmorchard commented on #78
So, after sorting our my datadog & CSRF token business, it looks like this does a thing for me! My last question is... does datadog have a view somewhere that I can see what I POST'd?

[code]

[2015-09-23 19:31] lmorchard commented on #66
We're locked to this version of pip by the use of [peep](https://github.com/erikrose/peep). Peep wraps pip and enforces crypto hashes on the packages in requirements.txt. Looks like [support for pip 7 is still in progress on the peep project](https://github.com/erikrose/peep/pull/97).

[2015-09-23 19:33] lmorchard commented on #78
Eh, going to say this is good, and we can keep refining it with actual usage

[2015-09-23 19:47] lmorchard commented on #66
Going to close this for now, since it's waiting on peep

[2015-09-23 19:50] lmorchard commented on #79
Taking a peek

[2015-09-23 19:52] lmorchard commented on #79
:shipit:

[2015-09-23 23:45] meandavejustice commented on #78
@lmorchard here is the main event stream I've been using to debug https://app.datadoghq.com/event/stream?tags_execution=and&show_private=true&per_page=30&aggregate_up=true&use_date_happened=false&display_timeline=true&from_ts=1442448000000&is_zoomed=false&to_ts=1443052800000&is_auto=false&incident=true&only_discussed=false&no_user=false&page=0&live=true&bucket_size=10800000

[2015-09-23 23:46] meandavejustice commented on #63
no smacks necessary, happy you picked this up!

[2015-09-23 23:58] jaredhirsch opened #81 "Integrate styled landing page"
The page has already been styled by the inimitable @johngruen in this repo: https://github.com/johngruen/idea-town-style-scratchpad.

Pull the styles, images, and html into the idea-town app structure.

[2015-09-24 17:20] lmorchard opened #83 "Switch from xhr to fetch-polyfill in frontend app?"
Poked at the frontend client code, saw we're using [xhr](https://www.npmjs.com/package/xhr).

Since I like promises and future things, it occurred to me we might like to use [a fetch() polyfill](https://www.npmjs.com/package/fetch-polyfill).

Main benefits of fetch:
- Built into Firefox 39+
- Promises, so we can easily fire many API GETs in parallel & carry on when they're all done
- Easier JSON h

[2015-09-24 17:23] mostlygeek commented on #78
Looks ok. I would suggest using tags on your event metrics so they can be filtered/found/correlated with the stastd information into a dashboard later.

Did you guys commit real api keys into the code?

[2015-09-24 17:35] mostlygeek commented on #69
Can you use `Dockerfile-dev` instead of `Dockerfile`?

We'd all ship faster if we can agree on the convention upfront. Having `Dockerfile` build the production asset means ops can tool up automation around that convention and be able to push towards the glorious continuous integration/deployment future.

[2015-09-24 17:56] lmorchard commented on #69
:+1: We have `Dockerfile-server`, we can split that into `Dockerfile` (prod) and `Dockerfile-dev` (local dev).

Ideally, those two would be identical, except for maybe one or two lines on the -dev side for debugging exceptions. <strike>Trying to remember if it's `Dockerfile` or `docker-compose.yml` that has a kind of inheritance mechanism to share things...</strike> [Looks like it's docker-compose

[2015-09-24 18:32] lmorchard opened #85 "coveralls seems to fail as the last step in travis"
When Django tests pass in Travis, this ends up [at the end of the transcript](https://travis-ci.org/mozilla/idea-town/jobs/82009927#L448):

[code]

Not sure if this is preventing coveralls.io data collection (maybe not?) Might be related to [this coveralls-python issue](https://github.com/coagulant/coveralls-python/pull/19)? Could be worth some sleuthing.

[2015-09-25 17:03] pdehaan opened #87 "Configure Travis to build+lint the front end"
At a minimum we should probably run `gulp build` and `gulp lint` to make sure the code builds and looks kosher.
Currently Travis reports green on PRs, even though the front end doesn't lint cleanly due to string termination, blah blah blah.

[2015-09-25 17:13] #75 closed, assigned to meandavejustice

[2015-09-25 17:44] lmorchard commented on #87
FWIW, poking at this a little, [found this lead on using node.js & Python in the same project](http://www.arunmozhi.in/travis-ci-config-for-python-nodejs/). Seeing if it's just as easy as adding another Tox environment to the travis matrix

[2015-09-25 18:59] lmorchard commented on #85
[This seems to have stopped happening](https://travis-ci.org/mozilla/idea-town/jobs/82208817), or is an intermittent issue (ugh).

[2015-09-25 19:15] jaredhirsch commented on #86
Thanks for the incredibly thorough syntactic analysis, @pdehaan ^_^

Pretty sure I've addressed all the nits, micro-nits, and nano-nits. Waiting for docker to build locally to be sure nothing else is busted.

[2015-09-25 19:49] pdehaan commented on #86
OK, I got this running again locally...
Everything looks great! Awesome job @johngruen and @6a68!

I think this is safe to merge, and we can address any future work in a separate PR. Here are some casual things that I noticed (plus some screenshots for the curious travelers to this repo):
1. Currently it looks like "Sign up" and "Sign in" both do the same thing.
2. "Terms of Services" and "Privacy

[2015-09-25 20:01] jaredhirsch commented on #83
Closed by #84

[2015-09-25 20:01] #83 closed, assigned to nobody

[2015-09-25 20:02] pdehaan commented on #86
Unrelated, but here's some stats on some image assets. Oddly, it looks like there are 2 places where the high-res `@2x` images are smaller than their low res counterparts.
Also odd is that "/idea_town/frontend/static/media/img/town@2x.png" is 211KB, yet it seems like it's still serving me the low-res 57KB version on my MBP, so I may need to peek into the hidpi media queries.

[code]

[code]

[2015-09-25 20:04] pdehaan commented on #86
Can't remember if we discussed this in a separate PR/bug or not yet, but we should also maybe [re]discuss the optional trailing slash behavior.

(mainly because I just wasted 5 minutes trying to remember if it was `/accounts/logout` or `/accounts/logout/` because of a bad auto-complete in my browser history)
- http://ideatown.dev:8000/home is good.
- http://ideatown.dev:8000/home/ gives a a "404 w

[2015-09-25 20:16] jaredhirsch opened #89 "Sign in / sign up should be different links"

[2015-09-25 20:17] lmorchard commented on #87
[Seems like this is working now](https://travis-ci.org/mozilla/idea-town/builds/82217824), though I suppose the real test will be to see it fail a PR with JS that runs afoul of linting

[2015-09-25 20:19] jaredhirsch opened #90 "Responsive breakpoints for narrower screens?"
Idea Town isn't going to be available on mobile, so I'm not sure how much we care about being responsive, but maybe?

[2015-09-25 20:20] jaredhirsch opened #91 "Tabzilla tab invisible on 'install addon' landing page"
White-on-white. What's needed to make the tab shape blue?

[2015-09-25 20:22] jaredhirsch opened #92 "handle build and serving of addon"
The addon should be auto-signed without problems by the AMO tools, so we should easily be able to replace the raw.github.com URL (which isn't served with the right mime-type) with an AMO link.

Assigning to @meandavejustice because he uploaded the addon originally and should have a pointer to the link.

[2015-09-25 20:29] pdehaan opened #93 "Define behavior for browsers other than desktop Firefox"
Edited: What should the landing page look like in browsers not eligible for Idea Town?

We might want to distinguish between old versions of Firefox, mobile Firefox, and every other browser.

---

I just noticed that I can log in using Chrome and it prompts me to install the add-on, which probably won't get me very far (not to mention a console error in Chrome):

![idea_town](https://cloud.githubu

[2015-09-25 20:47] pdehaan opened #94 "TypeError: Cannot read property 'url' of undefined"
OK, this is a bit weird (and may just be my env)...

I was testing #86 locally [using Chrome] and was stuck on the "Install the Add-on" page (since I'm in Chrome and can't install a Firefox add-on).
Since the URL for the splash page and logged-in state are both "/", I was caught between a rock and a rockier place. Naturally I tried going to http://ideatown.dev:8000/accounts/logout/ to get back int

[2015-09-25 23:04] jaredhirsch commented on #86
@pdehaan Thanks for the thorough review!

Stuff you mentioned:

Yup, though I'm not sure if django-allauth's fxa support exposes that via a querystring. Filed as #89

Try refreshing your branch; I've linked to the existing Cloud Services ToS/privacy pages, just to have some kind of placeholder.

Filed as #90

The tabzilla tab on the "install addon" page is there, it's just white-on-white. Filed #9

[2015-09-25 23:45] jaredhirsch commented on #92
This depends on https://github.com/mozilla/idea-town-addon/pull/22

[2015-09-26 00:13] jaredhirsch opened #95 "Header re-rendering bugs"
When the user has an addon and a session, the header should render itself as "You are logged in as {{ user }}", plus a log out button.

When the user lacks either addon or session, you're on a landing page, and the header should (and does) render itself as the tabzilla tab.

I'm not sure why, but when the addon install state changes, the header detects the change, but doesn't correctly re-render i

[2015-09-26 00:16] jaredhirsch commented on #86
For some reason, the header isn't updating itself properly on login (you only rarely see a 'log out' button above the experiment list on the `/home` page). I don't know what the issue is, but I'm tired of this PR, so I'm filing followup bug #95 to figure it out.

Should (hopefully) be good to land. @lmorchard mind giving the final once-over?

[2015-09-26 00:35] pdehaan commented on #86
@6a68: this is awesome!

The splash page looks great in Chrome (we'll still need to add styling for the ToS/PN CTA buttons, but this is a great start).

Not sure why my [signed in] Firefox is misbehaving, but it's currently showing me a blank-ish page with the message:

---

![idea_town](https://cloud.githubusercontent.com/assets/557895/10114753/8554fc42-63ab-11e5-84b2-54e1e6cc8d3b.png)

[2015-09-26 00:40] pdehaan commented on #91
It looks like we'd probably have to convert the Tabzilla image assets to our custom colors: https://github.com/mozilla/tabzilla/tree/master/media/img (and probably host them ourselves -- or convert to SVG or whatever).

I think @johngruen was actually looking into this.

[2015-09-28 16:59] jaredhirsch commented on #97
@lmorchard Should we just pull the ever-growing list of Docker debugging tips into a separate markdown file?

[2015-09-28 17:31] jaredhirsch commented on #63
This was fixed by #82

[2015-09-28 17:31] #63 closed, assigned to lmorchard

[2015-09-28 17:59] jaredhirsch opened #99 "Insert real AMO Idea Town link into dev site settings"
Once https://github.com/mozilla/idea-town-addon/pull/22 lands, we should be able to officially submit Idea Town and get a private link to the autosigned addon.

This bug covers inserting the autosigned addon link into the server settings.

[2015-09-28 18:40] meandavejustice commented on #86
Getting this error on nearly every page.
`TypeError: this.beforeRender is not a function app.js:544:4`

[2015-09-28 18:55] jaredhirsch commented on #86
@meandavejustice @pdehaan I'm not seeing those errors right now, though I've seen similar errors in the past. I'd bet that running the steps in my [mediocre shell script](https://github.com/mozilla/idea-town/pull/98) will get you a working build. Ping me on IRC if not, and we can debug in real time.

[2015-09-28 19:10] jaredhirsch commented on #86
Also note that, if you go to the admin site (`ideatown.dev:8000/admin/`, username + password are `admin`), and create a couple of experiments, you'll see them rendered on the `/home` page after you login with the addon installed.

[2015-09-28 19:17] jaredhirsch commented on #86
Here's the `/home` page from this patch with no experiments:

<img width="632" alt="screenshot 2015-09-28 12 14 48" src="https://cloud.githubusercontent.com/assets/96396/10145896/c5fa456e-65da-11e5-921b-ea0471bc8ac4.png">

And with two demo experiments:

<img width="1264" alt="screenshot 2015-09-28 12 14 59" src="https://cloud.githubusercontent.com/assets/96396/10145908/d7f9a3e0-65da-11e5-909a-817

[2015-09-28 19:18] jaredhirsch commented on #86
Just for reference, the screenshotted gifs are:

![wowow](https://cloud.githubusercontent.com/assets/96396/10145931/f27e6110-65da-11e5-8d31-299dc8ae7fc0.gif)

![cheese-2](https://cloud.githubusercontent.com/assets/96396/10145942/0093bdc2-65db-11e5-9ad4-624c2b549802.gif)

#blessed #toomanygifs

[2015-09-28 20:27] lmorchard commented on #98
Looks fine, but I kind of go back & forth on stuff like this. Should this be a script? Or should it be README.md advice? Most of the commands are kind of Docker basics, which itself is abstracting a bunch of insanity :neckbeard:

I still think the `npm install` part on the host is totally strange, though. Hoping it doesn't end up actually being a symptom of something broken with our Docker setup a

[2015-09-28 20:44] lmorchard commented on #86
I can confirm that all the above works for me.

The one weird nitpicky thing is I see a flash of content of the "install addon plz" message before the experiments show up. Having picked at that nit, I'm not sure at all how we could fix that. We get a message from an installed addon - or we get nothing. So, it makes sense to show the no-addon case and replace it when the addon is around.

Oh, one p

[2015-09-28 20:46] lmorchard commented on #86
I do also get the `this.beforeRender` error. But, I'm going to try rebuilding my docker containers to see if that changes things. Running at least `docker-compose build && docker-compose restart` after any `git pull` is a good practice to have. (Which I didn't do until just now)

[2015-09-28 20:50] jaredhirsch commented on #86
Pretty weird case of "only works on developer's machine." I'm really curious if rebuilding will fix it.

[2015-09-28 20:59] jaredhirsch commented on #86
Here's STR, I think I might be seeing the same thing:
- have the addon
- then, login
- on redirect, see a flash of the landing page before the home page is shown

Is that the STR that do it for you? If I just type in `ideatown.dev:8000/home` I don't see the landing page flash in the background.

At any rate, I'd probably like to file followup bugs for elusive optimization-ish bugs like this one, i

[2015-09-28 21:04] lmorchard commented on #86
Hmm, rebuilding didn't fix the beforeRender thing, and the place it's happening is bizarre. I shoved some console.logs into header-view like so:

[code]

And I get errors like so:

[code]

That's especially bizarre - because in that method in that view, `this` has apparently turned into a copy of the `app.me` state object when I click on the Object in the console message.

I think there's probably

[2015-09-28 21:05] lmorchard commented on #86
Oh! Here you go, this seems to fix it:

[code]

In that event handler, `this` turns into the state object. And so without that 3rd parameter, the view's `render` gets called as bound to the state, just as the error suggested.

[2015-09-28 21:07] jaredhirsch commented on #86
@lmorchard Well, this is fun! I haven't had to blindly try to debug errors I can't reproduce since I was submitting gaia builds to try :poop:.

I made the edit you suggested and force-pushed. Maybe try again?

[2015-09-28 21:08] lmorchard commented on #86
Yup, that seemed to fix it - and also now the "logged in as" thing at the top appears for me!

[2015-09-28 21:26] lmorchard commented on #86
Spent some more time clicking around and browsing through the changes. Looks good to me. Let's get this big bite chewed & swallowed!

[2015-09-28 21:26] #81 closed, assigned to jaredhirsch

[2015-09-28 21:28] lmorchard commented on #97
Hmm, that might be a good idea... Might even be worth putting in a wiki page or something too

[2015-09-29 00:20] jaredhirsch opened #100 "Extract Docker advice from README into a separate file"
README.md is starting to look kinda neckbeardy.

Maybe we should extract our collective Docker wisdom into a separate file.

[2015-09-29 00:20] jaredhirsch commented on #97
Well, for now, let's move things forward incrementally. I've opened issue #100 to extract Docker troubleshooting advice into a separate file. For now, let's cram this stuff in there

[2015-09-29 00:24] jaredhirsch commented on #98
I know, I'm wrestling with the same question.

Maybe the right answer is to have both a script for beginners (might be nice if it swallowed all those scary-looking error messages), and a markdown doc for folks who are deeper into the project, or more comfortable with docker. Thoughts?

[2015-09-29 00:40] pdehaan commented on #100
How about adding a CONTRIBUTING.md file?

It has the added benefit of being linked in a big yellow box when a user goes to submit a new issue:

![new_issue_ _mozilla_fxa-content-server](https://cloud.githubusercontent.com/assets/557895/10152478/56a7580a-6607-11e5-9b66-75c0b108b305.png)
&mdash; via https://github.com/mozilla/fxa-content-server/issues/new

We could move all the ["Development Setup"]

[2015-09-29 17:04] lmorchard commented on #98
I'll just merge this for now, so we have it. Maybe part of issue #100 can be to rework this and the expanding hints & tips for Docker into CONTRIBUTORS.md or whatever

[2015-09-29 17:19] pdehaan commented on #100
Counter proposal is to use the GitHub wiki for random "Docker Tips". Still easily accessible for those that need additional help, but doesn't put a bunch of files in the main repo.

[2015-09-29 22:38] jaredhirsch opened #101 "Apply styles to logged-in home page"
https://github.com/johngruen/idea-town-style-scratchpad

[2015-09-29 22:38] jaredhirsch opened #102 "Apply styles to experiment detail page"
https://github.com/johngruen/idea-town-style-scratchpad

[2015-09-29 22:51] jaredhirsch opened #103 "Make the ideatown website session cookie last forever, by default"
Long-lasting sessions will make it easy for the addon to send lifecycle events to the server, even if the user only rarely visits the site.

[2015-09-30 01:28] jaredhirsch commented on #100
@pdehaan I find the github wiki oddly hard to use: I never remember files are in there until I click the wiki button. There's no way to see, without clicking that button, if there even are files in the wiki.

So I'm all about that CONTRIBUTING.md file. Are you up for adding it?

Ideally that file would also contain the git-related contributor decisions we documented in this metabug: https://github

[2015-09-30 18:20] lmorchard opened #105 "Frontend always redirects to /home on initial load"
Whenever I visit or reload `http://ideatown.dev:8000/experiments/foobar`, I get redirected to `http://ideatown.dev:8000/home/`. We should probably navigate to the requested view on load rather than always redirect to `/home/`

[2015-09-30 20:11] meandavejustice opened #106 "check for docker-machine in docker-build.sh"
`docker-machine` is not a hard dependency of the project. We should check to ensure the user has it installed before running it's commands

[2015-10-01 16:18] lmorchard commented on #106
Hmm... I thought docker-machine _was_ a hard dependency of the project, at least for dev.

Oh, wait, I see. That's just for OS X. Linux can run Docker stuff natively, and Windows still apparently uses boot2docker.

[2015-10-01 16:30] #106 closed, assigned to meandavejustice

[2015-10-01 17:35] jaredhirsch opened #109 "Fix tabzilla on logged-in landing page"
It's white on white. Not clear what the fix is here, do we need to upstream something?

[2015-10-01 17:37] jaredhirsch commented on #109
Whoops, dupe of #91

[2015-10-01 17:37] #109 closed, assigned to nobody

[2015-10-01 17:43] jaredhirsch opened #110 "Style import: add third header layout + change header mgmt"
This is for the 101-style-home-and-experiment-pages branch.

The experiments page header should have a third, thinner header state.

I'm not sure if the cleanest approach is to have the header view expose an API to allow pages to tell it to update itself, or if the header should be managed by the PageManager (i.e., its node inside the page-container node, and the header treated as a subview of pag

[2015-10-01 17:44] jaredhirsch opened #111 "Style import: implement hover styles on experiments list"
This is for the 101-style-home-and-experiment-pages branch

[2015-10-01 17:46] jaredhirsch opened #112 "Style import: log out button in "expanded" header view is not clickable"
This is for the 101-style-home-and-experiment-pages branch

Looks like the z-index of the header is lower than that of the background image, probably the simplest fix is to bump the z-index of the avatar header.

[2015-10-01 17:46] jaredhirsch opened #113 "Style import: show avatar image in header"
This is for the 101-style-home-and-experiment-pages branch

Replace the current "logged in as {{user}} <button>" with the avatar image as spec'd. Click the head to log out.

[2015-10-01 18:50] jaredhirsch commented on #111
Working on this now

[2015-10-01 19:16] meandavejustice commented on #113
working on this now.

[2015-10-01 19:27] jaredhirsch opened #114 "Style import: deal with .main-content"
The landing pages wrap the header inside a `.main-content` div.

The home and detail pages don't use the `.main-content` wrapper at all.

This might just be solved by having the header inside the page-container (#110), and we can clean up the wrapper nodes later.

[2015-10-01 22:51] #112 closed, assigned to nobody

[2015-10-01 22:51] #113 closed, assigned to meandavejustice

[2015-10-01 22:57] jaredhirsch commented on #110
@meandavejustice Are you working on this one?

[2015-10-01 23:01] jaredhirsch commented on #95
This was fixed by #86, closing

[2015-10-01 23:01] #95 closed, assigned to nobody

[2015-10-01 23:14] meandavejustice commented on #110
@6a68 Haven't written any code against it yet.

[2015-10-01 23:18] #114 closed, assigned to jaredhirsch

[2015-10-01 23:18] jaredhirsch commented on #111
Fixed in the branch, closing here

[2015-10-01 23:18] jaredhirsch commented on #111
haha, I think we clicked at the exact same moment

[2015-10-01 23:18] #111 closed, assigned to jaredhirsch

[2015-10-01 23:18] meandavejustice commented on #111
lol

[2015-10-01 23:50] jaredhirsch commented on #94
@pdehaan Are you still seeing this?

[2015-10-02 14:50] lmorchard commented on #103
Hmm, this seems like a good idea. Though, we should also ensure that the add-on can cope with the cookie disappearing / going invalid.

We might even want to consider [using JSON web tokens](https://github.com/GetBlimp/django-rest-framework-jwt) at some point and issue one specifically for the add-on with some flow for reauth when it expires. Maybe even show a browser notification / door hanger li

[2015-10-02 15:13] #103 closed, assigned to jaredhirsch

[2015-10-02 19:28] #101 closed, assigned to jaredhirsch

[2015-10-02 19:31] jaredhirsch commented on #102
Fixed by #119, but I got the [syntax](https://help.github.com/articles/closing-issues-via-commit-messages/#closing-multiple-issues) wrong; closing.

[2015-10-02 19:31] #102 closed, assigned to jaredhirsch

[2015-10-02 19:35] jaredhirsch commented on #99
Whoops, dupe of #92

[2015-10-02 19:35] #99 closed, assigned to nobody

[2015-10-05 14:28] lmorchard commented on #69
Noticed the stripped down Dockerfile is also missing stuff for postgresql and libjpeg, which we need but aren't provided by the python image:

[code]

Do we have another standard image that supplies that stuff? (FWIW vim, wget, curl, and git are there for dev hacks and shouldn't go to prod of course)

That comes in part from [the Sugardough Dockerfile template](https://github.com/mozilla/sugardoug

[2015-10-05 17:15] pdehaan opened #120 "Use "protected-branches" for master?"
https://github.com/blog/2051-protected-branches-and-required-status-checks

If this sounds kosher, I can do this for this repo and our related addon repos (and universal-search).

Ref: https://github.com/mozilla/fxa/issues/61

[2015-10-05 18:38] mostlygeek commented on #69
If it's needed in the container for the prod deploy let's add it in. Free free to PR into (https://github.com/mostlygeek/idea-town/commits/docker-tweaks).

Ultimately, the goal is for devs to manage system dependencies for their application. You guys know the requirements better than anybody. Also each system package dependency should be justifiable and necessary.

For `Dockerfile-dev`, there aren

[2015-10-05 21:21] meandavejustice commented on #120
:+1:

[2015-10-05 21:39] lmorchard commented on #120
One caveat - we don't have all checks passing yet. Coveralls still fails for reasons I haven't figured out. Need to make sure that doesn't stop us from merging PRs to master, or just disable Coveralls for now.

[2015-10-05 22:59] ghost commented on #120
FWIW, we switched to [Codecov](https://codecov.io/) for the Push server. Happy to whip up a quick PR if you're interested.

_/me returns to lurking_

[2015-10-06 00:03] jaredhirsch opened #123 "logged-out landing page: Privacy/TOS links are blue on blue bkgd"
Should probably be white with an underline, like other links on the page.

<img width="393" alt="screenshot 2015-10-05 17 00 16" src="https://cloud.githubusercontent.com/assets/96396/10296999/dcd962bc-6b82-11e5-8e40-e23f84bc4322.png">

<img width="411" alt="screenshot 2015-10-05 17 00 13" src="https://cloud.githubusercontent.com/assets/96396/10297000/dcda6fe0-6b82-11e5-8fbc-61ed8e26836e.png">

[2015-10-06 00:26] jaredhirsch opened #124 "experiment-detail page: back button broken"
Seems like the history / pushState behavior needs some work.

STR:
1. Load an experiment detail page
2. Hit the 'back' button
3. The 'home' route is shown in the urlbar, but the 'home' page doesn't load

[2015-10-06 00:50] jaredhirsch opened #125 "experiment-detail page: experiment not rendering?"
This is what I see when I click an experiment on the /home page:

<img width="1387" alt="screenshot 2015-10-05 17 49 57" src="https://cloud.githubusercontent.com/assets/96396/10297546/823f2d76-6b89-11e5-927c-bd3c9b8951a3.png">

Might be just me, but if I revert the 2nd scratchpad PR, the experiment loads ok.

Need to investigate + fix.

[2015-10-06 01:00] jaredhirsch commented on #125
Looks (on my machine) like the page is, indeed, not rendering. The `page-container` element seems to be empty:

<img width="1247" alt="screenshot 2015-10-05 18 00 09" src="https://cloud.githubusercontent.com/assets/96396/10297670/f2fa844c-6b8a-11e5-8ef0-664efb70315d.png">

[2015-10-06 01:02] jaredhirsch opened #126 "Header should contain clickable 'home' link"
We've got a FF logo and the heading 'Idea Town' at the top of the small header and the expanded header. Seems like those should be clickable, and should take the user back to `/home`.

<img width="434" alt="screenshot 2015-10-05 18 01 05" src="https://cloud.githubusercontent.com/assets/96396/10297686/310055be-6b8b-11e5-9dab-67f3f65792ea.png">

<img width="301" alt="screenshot 2015-10-05 18 02 16"

[2015-10-06 04:08] pdehaan commented on #120
FWIW, it looks like _"Protect this branch"_ and _"Require status checks to pass before merging"_ are different settings, so we can enable them separately for the time being ([source](https://github.com/mozilla/idea-town/settings/branches/master)).

[2015-10-06 17:39] nchapman opened #127 "Allow mozilla.com users to sign up"

[2015-10-06 17:40] nchapman opened #128 "Allow public users to sign up to be notified"

[2015-10-06 17:40] nchapman opened #129 "Subscribe new users to testpilot mailing list"

[2015-10-06 17:51] nchapman opened #130 "Add localization"
Tasks so far:
- [x] Implement L10N in frontend app via l20n.js
- [x] Chasing down any remaining strings lurking, e.g. in page titles & [CSS](https://github.com/mozilla/idea-town/issues/380) etc
  - See #382 & #383
- [x] Localizing database content on the server side (#392)
- [ ] Add locales in addition to en-US (#381)
- [ ] Integrating with Pontoon (or some interface acceptable to localizers) (#41

[2015-10-06 18:00] nchapman opened #131 "Deploy to dev stack"

[2015-10-06 18:00] nchapman opened #132 "Deploy to staging"

[2015-10-06 18:01] johngruen commented on #71
@6a68 I'll assign this to myself as a reminder to add UI

[2015-10-06 18:05] #3 closed, assigned to nobody

[2015-10-06 18:06] jaredhirsch commented on #68
I filled in a guess at the links already, but I might be pointing at the wrong ToS / privacy docs

[2015-10-06 18:07] lmorchard commented on #27
Maybe a duplicate or tracker for Issues #131 and/or #132

[2015-10-06 18:08] johngruen commented on #71
Closing in favor or #91

[2015-10-06 18:09] #71 closed, assigned to nobody

[2015-10-06 18:09] lmorchard commented on #130
Relevant to these interests:
https://developer.mozilla.org/en-US/docs/Implementing_Pontoon_Mozilla
https://github.com/fabi1cazenave/webL10n
https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localizing_with_Verbatim

[2015-10-06 18:13] nchapman opened #133 "Allow users to delete their Idea Town account"

[2015-10-06 18:52] pdehaan commented on #56
Me thinks this is done via https://github.com/mozilla/idea-town/commit/b95efeb87a17d8579282f864032a1056cf63325c. Closing.

[2015-10-06 18:52] #56 closed, assigned to johngruen

[2015-10-06 20:07] pdehaan commented on #130
http://l20n.org/ also looks interesting (and built by us).

[2015-10-06 22:52] meandavejustice opened #134 "Need to rm node_modules DIR before running gulp lint."
For some reason I always need to `rm node_modules` before running `gulp lint`

[2015-10-06 23:10] pdehaan commented on #134
Why, what happens?
ESLint should ignore the _./node_modules/_ directory by default.

I'm not able to reproduce any issues locally using **gulp@3.9.0** and **node@0.12.7**:

[code]

[2015-10-06 23:11] #134 closed, assigned to nobody

[2015-10-07 15:40] lmorchard commented on #69
So, after a period of my head meeting desk repeatedly, I came up with this:

https://github.com/mostlygeek/idea-town/pull/1

That seems to work for dev without changes, and also I was able to fire it up in a pretend-prod setting on my laptop without mounting the local app source.

The thing I'm uncomfortable with is the copypasta'd bit to bring node into the Python container. That's needed to run

[2015-10-07 15:45] lmorchard commented on #69
Thinking about it, I guess an alternative for a shorter Dockerfile would be to start from the official node image (from which I stole the temporary install instructions), never remove node, and install python3 from a plain Debian package. The main issue is that Debian ships the Python version we need, but the packaged node version is v0.10 and too old.

[2015-10-07 15:58] lmorchard commented on #69
So, thinking out loud about what we need to deploy this thing:
- [ ] Need the server container, with static frontend assets built. Though hacky, [this PR does that](https://github.com/mostlygeek/idea-town/pull/1). Is there a better option? (e.g. build static assets in a different container or by a different mechanism, push to S3 / CDN?)
- [ ] Need a postgres instance. In dev, we use [the official

[2015-10-07 18:58] mostlygeek commented on #69
Some of these are from the meeting we just had:

Building static assets:
- build static assets in a nodejs based container, into a mounted directory (to make it easier)
- build app based on Python container and just copy in the static assets

Postgres
- in prod we'll use RDS
- for dev, use whatever you want

Storing uploaded content
- for AWS hosted dev/stage/prod environments use S3
- for localho

[2015-10-08 16:34] #110 closed, assigned to meandavejustice

[2015-10-08 16:37] lmorchard opened #138 "Disable coveralls until / unless we can get it working?"
So, I've been idly poking at #85 in between other tasks, but I've yet to be able to get Coveralls working. Odd thing is that it works fine on my laptop, so that hasn't helped me diagnose things.

In the meantime, the failing Coveralls step prevents all our PRs and such from having a "green" check status even though all tests & linting steps have passed. Can we turn off Coveralls until / unless it'

[2015-10-08 21:54] jaredhirsch opened #141 "Serve static files from S3?"
PR #137 allows S3 to be used for user-uploaded media, which means experiment thumbnails, in our case.

If we push static files (scripts, styles, fonts) to S3 as well, then we'd have a really nice first version of a build chain: put stuff on S3, use a CDN in prod.

Worth doing?

[2015-10-08 23:38] meandavejustice commented on #105
This is happening because we call `app.router.reload` when we get data back from the server after authorizing. Since we fetch from `api/me` on a fresh request we should have some sort of loading page we can show before directing to the requested page

[2015-10-09 14:05] johngruen commented on #90
I would like the site be display correctly down to 768px wide

[2015-10-09 16:47] lmorchard commented on #141
Some thinking out loud ahead... TL;DR: Seems like a good idea, will introduce moving parts & gotchas.

In one sense, this could make the Django docker image simpler. I'm playing with [a build script](https://github.com/mozilla/idea-town/compare/docker-tweaks...lmorchard:docker-tweaks#diff-1e5c4882847e3eefa76de60a300139b8R1) that builds a throwaway container with gulp & node that prepares the front

[2015-10-14 21:35] meandavejustice commented on #138
:+1:

[2015-10-14 21:55] meandavejustice commented on #128
Does this need anything separate from the splash site?

[2015-10-15 16:14] lmorchard commented on #69
Going to rudely close this and point us to pull #143

[2015-10-15 16:27] lmorchard opened #145 "Contact FxA team to acquire ID & key for production site"
We're currently using an ID & key for a staging instance of Firefox Accounts. Real production use requires getting in contact with the team to acquire a real ID/key. Let's do that before launch.

[2015-10-15 16:30] lmorchard opened #146 "Set up S3 bucket to serve production uploaded media"
For production launch, we need an S3 bucket, URL, and associated credentials to store uploaded media (e.g. images for experiments).

This could be as easy as a new IAM account with id/key and a bucket. We might also want to stick a CDN in front of the bucket and use that URL to serve up the assets from Django.

[2015-10-15 19:16] lmorchard commented on #27
#143 is progress toward this!

[2015-10-15 19:23] lmorchard opened #147 "Set up frontend unit tests"
We have no frontend unit tests, yet. That could be handy to have!

The last time I played with frontend testing, I used Karma + mocha + chai on Travis CI [on a side project](https://github.com/lmorchard/parsec-patrol). That seemed to work well. Could be a starting point.

There are other options. Anyone have suggestions?

[2015-10-15 19:29] lmorchard commented on #120
:+1: to protecting branches, but defer status check enforcement for now.

[2015-10-15 19:32] lmorchard commented on #87
We've had a few instances of linting gripes caught by travis, so I think this is done

[2015-10-15 19:32] #87 closed, assigned to nobody

[2015-10-15 19:33] lmorchard commented on #74
Seems like gulp in docker and file watching ends up being the source of many woes. Maybe we should just run Django in Docker and accept running Gulp on the host like normal people https://github.com/mozilla/idea-town/pull/136

[2015-10-15 19:35] pdehaan commented on #120
[**master** branch](https://github.com/mozilla/idea-town/branches) is now protected, but doesn't enforce any status checks [yet].

Closing.

[2015-10-15 19:35] #120 closed, assigned to nobody

[2015-10-15 21:10] meandavejustice commented on #147
It's been a while since I've setup a testing framework for something of a larger scale than the module level. For that I usually stick to [tape](https://github.com/substack/tape) I'm :+1: to mocha/chai though.

[2015-10-16 16:37] #105 closed, assigned to meandavejustice

[2015-10-16 16:38] lmorchard commented on #125
fixed with https://github.com/mozilla/idea-town/commit/4c5e24075fdcfd50a18c649d2b3811330f56d04d (I presume)

[2015-10-16 16:38] #125 closed, assigned to meandavejustice

[2015-10-16 20:12] lmorchard commented on #94
This looks fixed now, I think it had something to do with the race conditions just fixed in #142. Cleaning up some issues, feel free to reopen if this still happens

[2015-10-16 20:12] #94 closed, assigned to nobody

[2015-10-16 20:16] lmorchard commented on #138
Should be disabled now, I hope

[2015-10-16 20:16] #138 closed, assigned to nobody

[2015-10-16 20:16] lmorchard commented on #85
Still happening, giving up for now, closing as noise in the issue tracker until/unless we have a desperate need for code coverage metrics and the spare time to chase it down

[2015-10-16 20:16] #85 closed, assigned to nobody

[2015-10-16 20:17] lmorchard commented on #67
This looks fixed now

[2015-10-16 20:17] #67 closed, assigned to nobody

[2015-10-16 20:29] lmorchard commented on #128
So, we'd discussed a kind of invite system for the site on initial launch. Goes something like this:
- Anyone can sign up/in via Firefox Accounts.
  - This creates an account that can be active or inactive. We might want to use the Django `is_active` User flag, if possible.
- Users with a mozilla.com email address get auto-activated and allowed into the general site. (#27)
- Users with non-mozilla

[2015-10-16 20:33] lmorchard commented on #89
Actually, I think there's an issue with the entire sign in / sign up concept from the front page. It's all just sign-in-with-FxA, which might involve a sign up on the FxA side. There's not actually a sign up on our side so far - we just pull in the FxA details and automatically create an account.

[2015-10-16 21:06] lmorchard opened #149 "Create some canned experiments data for dev & demos"
Starting from a fresh dev machine, there are no experiments. I start from a fresh dev machine often, since I frequently blow away my whole setup while tinkering with Docker concerns. It would be nice to have some placeholders out of the box.

We have a mechanism for this: [`fixtures/initial_data_dev.json`](https://github.com/mozilla/idea-town/blob/master/fixtures/initial_data_dev.json) gets loaded

[2015-10-19 16:42] lmorchard opened #150 "Implement "brought to you by" section on experiment detail page"
The "Brought to you by" section is a placeholder. Let's fill it with real content.

Some TODOs:
- [ ] Assume experiment contributors are Idea Town users.
- [ ] Ensure users have name, title/bio, and avatar fields - ideally using an associated profile model, if not available on built-in Django User
- [ ] Generate schema migrations as needed
- [ ] Add a `contributors` field listing users to the `/ex

[2015-10-19 16:42] lmorchard commented on #150
FWIW, we've talked about skipping relational models for things like this, using text fields to fill with JSON instead. This might not be a great practical option, at least content-management-wise, because it doesn't take advantage of Django admin features.

Adding a relational model here gives us some built-in tools for creating structured content records and automatically handling image uploads (

[2015-10-19 16:46] lmorchard opened #151 "Implement "details" section on experiment detail page"
The "details" section in the left column of the experiment detail page is a placeholder. Let's fill it with real content!

Some proposed TODOs:
- [ ] Add version, updated, and contribute fields to `Experiment` model
- [ ] Generate schema migration for model changes
- [ ] Add new fields to API experiment serializer
- [ ] Use new fields in API JSON response to populate content in frontend

[2015-10-19 16:48] lmorchard commented on #151
I know [I just naysayed using free-form JSON fields in models](https://github.com/mozilla/idea-town/issues/150#issuecomment-149276244), but I wonder if this might actually be an appropriate place to use it?

If we could somehow extract add-on metadata to populate this area, that might be better than having to copy/paste it into Django admin fields. And if that extraction just plonks the manifest i

[2015-10-19 16:51] lmorchard commented on #150
Another idea: If we require that everyone listed in the "brought to you by" section are actually Idea Town users, we could piggyback on the accounts system. That is, ensure user records have name, title/bio, and avatar and just use pointers to users in the experiment model.

[2015-10-19 17:16] lmorchard opened #152 "Implement "measurements" section on experiment detail page"
So, the "measurements" section in the left column is a placeholder. Let's implement it!

A possible blocker is #48 - what kind of questions should we ask / support experiments asking? Should the content in that sidebar actually represent some metrics buckets supported in an API somewhere?

If we want to punt on that issue and just make this section a list of bullet points, we could add a free-form

[2015-10-19 17:23] lmorchard opened #153 "Implement install counter on experiment detail page"
There's a counter of installs on the experiment detail page. Let's implement it! Of course, we have to have this data collected before we can display it. So, #38 is a blocker for now.

[2015-10-19 17:25] lmorchard commented on #124
@meandavejustice Was this fixed by PR #142?

[2015-10-19 17:29] lmorchard opened #154 "Implement "give feedback" button & dialog for installed experiment detail page"
Once an experiment is installed, the detail page should offer a "give feedback" button. When clicked, it should display a small survey - some radio buttons and a textfield for free-form feedback.

[2015-10-19 17:30] lmorchard commented on #154
Some questions to resolve that impact implementation:
- Is this survey always going to be a set of radio buttons & a text field?
- Are the radio buttons the same for all experiments? Or do we want a customizable set for each experiment?
- How do we want to handle reporting on this collected data? Who's going to analyze it & how?

[2015-10-19 17:32] lmorchard commented on #133
Should we assume that "delete" means a user and all associated data is deleted?

For example, should we delete feedback collected as part of #154 insofar as may be tied to a user profile?

[2015-10-19 17:34] lmorchard opened #155 "Implement "stop" button to uninstall experiment"
After installation, the detail page for an experiment should offer a "stop" button that uninstalls an experiment addon and allows a user to stop participating in the experiment.

[2015-10-19 17:36] lmorchard opened #156 "Implement feedback form spawned by "stop" button"
After installation, the experiment detail page should offer a "stop" button (#155). Similar to #154, it should display a small survey when clicked - some radio buttons and a textfield for free-form feedback.

[2015-10-19 17:36] lmorchard commented on #156
Some questions to resolve that impact implementation:
- Is this survey always going to be a set of radio buttons & a text field?
- Are the radio buttons the same for all experiments? Or do we want a customizable set for each experiment?
- How do we want to handle reporting on this collected data? Who's going to analyze it & how?

[2015-10-19 17:39] pdehaan commented on #133
Could we keep the feedback but make it anonymous if the user deletes their account?
It'd be sad to have a user fill out a big feedback form saying "these are the reasons I'm deleting my account" and then we immediately delete that feedback after the user deletes their account.

I think Reddit just sets the username to "[Deleted]" in posts if the user removes their account.

[2015-10-19 17:40] lmorchard opened #157 "Need to implement a user profile page?"
Currently, there's a placeholder avatar in the upper right after login. Clicking on it logs the user out.

Should this lead to a user profile page, instead? If so, what should it display?

[2015-10-19 17:41] lmorchard opened #158 "Need to implement a clearer logout button?"
Currently, there's a placeholder avatar in the upper right after login. Clicking on it logs the user out.

Should this be clearer? Maybe something that drops down on hover with user details & a logout button?

[2015-10-19 17:45] lmorchard opened #159 "Implement transitions between page views?"
We're building this shiny single-page-app. Maybe it should have some tasteful transitions between page views?

[2015-10-19 17:56] lmorchard opened #160 "Absorb idea-town-addon into idea-town repo?"
So, I know we went through a whole pile of repo creation / renaming / merging at the start of this project. But, I'm wondering if maybe we want to do one more and pull [idea-town-addon](https://github.com/mozilla/idea-town-addon/) into a subdirectory of this repo.

Benefits could include sharing issues list, having atomic commits that cover all of the server / frontend / add-on changes needed for

[2015-10-19 18:30] meandavejustice commented on #160
@lmorchard I don't see any downsides to this. I'm :+1:

[2015-10-19 18:34] lmorchard commented on #160
Cool! FWIW, in case you haven't seen it before, [`git filter-branch`](https://www.google.com/search?q=git+filter+branch+merge+repos&ie=utf-8&oe=utf-8) is a nifty tool that helps in merging repos while preserving history. Could be interesting to pull idea-town-addon into an addon/ subdirectory with all its commits intact.

[2015-10-19 18:35] chuckharmston commented on #160
Make sure you use [`filter-branch`](https://git-scm.com/docs/git-filter-branch) to preserve history while merging.

Ninja: doh, Les beat me to it.

[2015-10-19 18:36] meandavejustice commented on #160
woah, I hadn't seen that. thanks!

On Mon, Oct 19, 2015 at 11:34 AM, Les Orchard notifications@github.com
wrote:

[2015-10-19 18:36] lmorchard commented on #160
And of course, this isn't a priority at all unless it makes some things easier. We can get around to it in between other tasks as polish later, if it's a distraction

[2015-10-19 18:41] meandavejustice opened #161 "Add Addon ids to experiment model."
Addon ids are needed to track the installed state of experiments in the idea-town addon.
They usually look like this `"id": "universal-search-addon@mozilla.com"`

[2015-10-19 18:44] meandavejustice opened #162 "Experiment Clientside model should have installed state."
Experiment model should have a method that will check against the addon and see if the experiment is installed.

[2015-10-19 19:39] nchapman commented on #133
Yeah good point @pdehaan. It'd be great to keep their feedback. I'll check with legal about this today.

[2015-10-19 20:04] lmorchard commented on #149
This may actually end up being an on-going dev concern past the initial additions. That is, along with generating a schema migration for changes to data models, we should also update `initial_data_dev.json` with new bootstrap example data.

[2015-10-19 20:18] lmorchard opened #163 "Set up some kind of offline work queue"
We've tossed around ideas of needing to send notifications, emails, & etc. We should use an offline work queue for that. Celery & RabbitMQ has been popular, but maybe not the best way going forward. Celery backed by Redis in dev and [Amazon ElastiCache Redis](https://aws.amazon.com/elasticache/) in production could be interesting.

[2015-10-19 20:35] lmorchard commented on #163
It occurs to me that we might want to hold off actually implementing something here until we also have a defined feature that wants to use it.

[2015-10-19 21:55] meandavejustice commented on #160
Gunna go ahead and tackle this now, as it will make some of my upcoming tasks easier

[2015-10-19 22:41] #64 closed, assigned to lmorchard

[2015-10-19 22:41] #65 closed, assigned to lmorchard

[2015-10-19 23:10] jaredhirsch opened #165 "Document elastic beanstalk prod instructions"
The cool EB stuff in pull #143 could use some documentation.

Would be great to either put docs in README.md or maybe a DEPLOYMENT.md (if it's a lot of context).

[2015-10-20 14:19] lmorchard commented on #165
No documentation yet, because we don't know exactly how it's going to work yet and will probably change :) #143 is a start, but needs refinement after contact with ops machinery.

But, I should have had a quick HOWTO in PR #143. Goes something like this:

[code]

This will leave you with a fresh server image uploaded to Docker Hub, and a new Elastic Beanstalk .zip app bundle under `build/`.

The r

[2015-10-20 17:18] #160 closed, assigned to meandavejustice

[2015-10-20 17:48] meandavejustice opened #168 "Need toolbar icon assets"
<a href="https://github.com/6a68"><img src="https://avatars.githubusercontent.com/u/96396?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [6a68](https://github.com/6a68)**
_Thursday Aug 13, 2015 at 16:56 GMT_
_Originally opened as https://github.com/mozilla/idea-town-addon/issues/4_

---

[2015-10-20 17:48] meandavejustice opened #169 "post-install onboarding"
<a href="https://github.com/6a68"><img src="https://avatars.githubusercontent.com/u/96396?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [6a68](https://github.com/6a68)**
_Thursday Aug 13, 2015 at 20:53 GMT_
_Originally opened as https://github.com/mozilla/idea-town-addon/issues/5_

---
- [x] open a new tab pointed at `ideatown.firefox.com/home`
- [x] create toolbar but

[2015-10-20 17:48] meandavejustice commented on #169
<a href="https://github.com/meandavejustice"><img src="https://avatars.githubusercontent.com/u/1844554?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [meandavejustice](https://github.com/meandavejustice)**
_Tuesday Aug 18, 2015 at 19:19 GMT_

---

https://developer.mozilla.org/en-US/Add-ons/SDK/High-Level_APIs/self#loadReason

[2015-10-20 17:48] meandavejustice commented on #169
<a href="https://github.com/meandavejustice"><img src="https://avatars.githubusercontent.com/u/1844554?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [meandavejustice](https://github.com/meandavejustice)**
_Tuesday Sep 01, 2015 at 18:34 GMT_

---

@6a68 Does this refer to explaining the user how to use the addon, and what it will be doing for the user? cc/ @johngruen

[2015-10-20 17:48] meandavejustice opened #170 "[addon] Make the `npm run package` script more generic"
<a href="https://github.com/pdehaan"><img src="https://avatars.githubusercontent.com/u/557895?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [pdehaan](https://github.com/pdehaan)**
_Friday Aug 28, 2015 at 22:47 GMT_
_Originally opened as https://github.com/mozilla/idea-town-addon/issues/15_

---

Currently the [package.json `package` script](https://github.com/mozilla/i

[2015-10-20 17:48] meandavejustice commented on #170
<a href="https://github.com/meandavejustice"><img src="https://avatars.githubusercontent.com/u/1844554?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [meandavejustice](https://github.com/meandavejustice)**
_Friday Aug 28, 2015 at 22:47 GMT_

---

@pdehaan good thinking

[2015-10-20 17:48] meandavejustice commented on #170
<a href="https://github.com/pdehaan"><img src="https://avatars.githubusercontent.com/u/557895?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [pdehaan](https://github.com/pdehaan)**
_Saturday Aug 29, 2015 at 00:08 GMT_

---

Ref: https://github.com/mozilla-jetpack/jpm/issues/329

From the looks of the code, it seems like there should be a way to specify `options` and p

[2015-10-20 17:48] meandavejustice opened #171 "add license headers to all the appropriate files"
<a href="https://github.com/meandavejustice"><img src="https://avatars.githubusercontent.com/u/1844554?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [meandavejustice](https://github.com/meandavejustice)**
_Friday Aug 28, 2015 at 23:08 GMT_
_Originally opened as https://github.com/mozilla/idea-town-addon/issues/16_

---

ie: https://github.com/mozilla/idea-town-app/pull

[2015-10-20 17:48] meandavejustice opened #172 "Privately submit to AMO"
<a href="https://github.com/6a68"><img src="https://avatars.githubusercontent.com/u/96396?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [6a68](https://github.com/6a68)**
_Thursday Sep 10, 2015 at 18:35 GMT_
_Originally opened as https://github.com/mozilla/idea-town-addon/issues/19_

---
- Ensure addon passes auto-signing checks
- Get a real install link for testing

[2015-10-20 17:48] meandavejustice commented on #172
<a href="https://github.com/meandavejustice"><img src="https://avatars.githubusercontent.com/u/1844554?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [meandavejustice](https://github.com/meandavejustice)**
_Thursday Sep 10, 2015 at 19:03 GMT_

---

Submitted, awaiting review.

[2015-10-20 17:48] meandavejustice commented on #172
<a href="https://github.com/6a68"><img src="https://avatars.githubusercontent.com/u/96396?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [6a68](https://github.com/6a68)**
_Tuesday Sep 15, 2015 at 21:52 GMT_

---

I submitted this to AMO today and got around 200 warnings (due mostly to `setTimeout` and `setInterval` calls inside node_modules), and the addon did not qua

[2015-10-20 17:48] meandavejustice commented on #172
<a href="https://github.com/6a68"><img src="https://avatars.githubusercontent.com/u/96396?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [6a68](https://github.com/6a68)**
_Tuesday Sep 15, 2015 at 21:54 GMT_

---

I'll look into what the go-faster folks are planning to do about addon signing, maybe that could be an option.

[2015-10-20 17:48] meandavejustice commented on #172
<a href="https://github.com/6a68"><img src="https://avatars.githubusercontent.com/u/96396?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [6a68](https://github.com/6a68)**
_Tuesday Sep 15, 2015 at 22:22 GMT_

---

Aha, the addon does qualify for auto-signing. The underlying problem was the `.jpmignore` configuration, see this issue: https://github.com/mozilla-jetpack/j

[2015-10-20 17:48] meandavejustice commented on #172
<a href="https://github.com/6a68"><img src="https://avatars.githubusercontent.com/u/96396?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [6a68](https://github.com/6a68)**
_Tuesday Sep 15, 2015 at 23:16 GMT_

---

https://github.com/mozilla/idea-town-addon/pull/22 is the PR, should make auto-signing work for now, and we can probably close this bug when it lands.

We mi

[2015-10-20 17:48] meandavejustice opened #173 "Confusing reference to CONFIG property in README file"
<a href="https://github.com/pdehaan"><img src="https://avatars.githubusercontent.com/u/557895?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [pdehaan](https://github.com/pdehaan)**
_Monday Sep 14, 2015 at 18:04 GMT_
_Originally opened as https://github.com/mozilla/idea-town-addon/issues/21_

---

https://github.com/mozilla/idea-town-addon#configuration currently says:

[2015-10-20 17:48] meandavejustice commented on #173
<a href="https://github.com/meandavejustice"><img src="https://avatars.githubusercontent.com/u/1844554?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [meandavejustice](https://github.com/meandavejustice)**
_Thursday Sep 17, 2015 at 15:14 GMT_

---

Ahh looks like that wasn't updated when we switched to using [preferences](https://github.com/mozilla/idea-town-addon/blo

[2015-10-20 17:48] meandavejustice opened #174 "Clean up URL-related prefs"
<a href="https://github.com/6a68"><img src="https://avatars.githubusercontent.com/u/96396?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [6a68](https://github.com/6a68)**
_Wednesday Sep 30, 2015 at 00:18 GMT_
_Originally opened as https://github.com/mozilla/idea-town-addon/issues/28_

---

Rather than separately specifying protocol and domain name, it might be nice to j

[2015-10-20 17:48] meandavejustice opened #175 "[addon] Cleanly switch between dev and prod prefs"
<a href="https://github.com/6a68"><img src="https://avatars.githubusercontent.com/u/96396?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [6a68](https://github.com/6a68)**
_Wednesday Sep 30, 2015 at 00:20 GMT_
_Originally opened as https://github.com/mozilla/idea-town-addon/issues/29_

---

The `jpm` package seems to assume that prefs live in package.json. What, then, is

[2015-10-20 17:48] meandavejustice commented on #175
<a href="https://github.com/lmorchard"><img src="https://avatars.githubusercontent.com/u/21687?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [lmorchard](https://github.com/lmorchard)**
_Wednesday Sep 30, 2015 at 00:33 GMT_

---

I think that's it. The prefs in package.json are just initial defaults - and it seems like prod settings would be the best defaults for ship

[2015-10-20 17:48] meandavejustice commented on #175
<a href="https://github.com/lmorchard"><img src="https://avatars.githubusercontent.com/u/21687?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [lmorchard](https://github.com/lmorchard)**
_Monday Oct 19, 2015 at 17:51 GMT_

---

Here's what might be a crazy idea: What if the idea town addon listens for client messages from the known hosts for prod, dev, staging, local d

[2015-10-20 17:48] meandavejustice opened #176 "Only send metrics updates for idea-town experiments"
<a href="https://github.com/meandavejustice"><img src="https://avatars.githubusercontent.com/u/1844554?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [meandavejustice](https://github.com/meandavejustice)**
_Thursday Oct 01, 2015 at 17:20 GMT_
_Originally opened as https://github.com/mozilla/idea-town-addon/issues/30_

---

We need to filter on uninstall and install even

[2015-10-20 17:48] meandavejustice opened #177 "Implement updates for experiments in main Idea Town addon"
<a href="https://github.com/6a68"><img src="https://avatars.githubusercontent.com/u/96396?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [6a68](https://github.com/6a68)**
_Thursday Oct 15, 2015 at 18:23 GMT_
_Originally opened as https://github.com/mozilla/idea-town-addon/issues/32_

---

The universal search addon might want to check for updates more frequently than th

[2015-10-20 17:48] meandavejustice opened #178 "Expose metrics API to experiment add-ons"
<a href="https://github.com/6a68"><img src="https://avatars.githubusercontent.com/u/96396?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [6a68](https://github.com/6a68)**
_Thursday Oct 15, 2015 at 18:40 GMT_
_Originally opened as https://github.com/mozilla/idea-town-addon/issues/33_

---

It would be great if the idea town addon exposed a metrics recording API to other

[2015-10-20 17:48] meandavejustice opened #179 "Generate UUID on install and send events"
<a href="https://github.com/meandavejustice"><img src="https://avatars.githubusercontent.com/u/1844554?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [meandavejustice](https://github.com/meandavejustice)**
_Monday Oct 19, 2015 at 18:46 GMT_
_Originally opened as https://github.com/mozilla/idea-town-addon/issues/34_

---

Need to generate UUID on install and send to serv

[2015-10-20 17:48] meandavejustice opened #180 "Initial load: installed experiments state."
<a href="https://github.com/meandavejustice"><img src="https://avatars.githubusercontent.com/u/1844554?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [meandavejustice](https://github.com/meandavejustice)**
_Monday Oct 19, 2015 at 18:48 GMT_
_Originally opened as https://github.com/mozilla/idea-town-addon/issues/35_

---

Need to maintain a list of installed experiments

[2015-10-20 17:48] meandavejustice opened #181 "Restructure install methods to accept experiment objects from client."
<a href="https://github.com/meandavejustice"><img src="https://avatars.githubusercontent.com/u/1844554?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [meandavejustice](https://github.com/meandavejustice)**
_Monday Oct 19, 2015 at 18:52 GMT_
_Originally opened as https://github.com/mozilla/idea-town-addon/issues/36_

---

When receiving message to install an experiment (

[2015-10-21 17:14] jaredhirsch commented on #159
The ampersand-page-switcher has hooks built in to handle cross-page transitions

Edited: sorry, I mean the [ampersand-view-switcher](https://github.com/AmpersandJS/ampersand-view-switcher). See the readme for animation examples.

[2015-10-21 17:18] lmorchard commented on #154
Per status meeting, we can just go with the questions as the are on the wireframes for now:
- Something seems broken
- Request a feature
- This is cool!
- Something else

Future expansion could include other surveying options.

[2015-10-21 17:22] lmorchard commented on #152
For Q4, maybe let's just make this a straightforward bullet point list and look for some kind of metrics system integration in the future.

[2015-10-21 17:25] lmorchard commented on #151
For Q4, let's just make this a simple set of addition DB fields on the Experiment model. That makes it easy to edit in the Django admin. In the future, we can migrate to something more clever like extracting an addon manifest.

[2015-10-22 18:12] meandavejustice opened #190 "Replace lodash references with the small module versions."
`npm remove lodash && npm install --save lodash.flatten`

[code]

should become:

[code]

[2015-10-22 19:05] jaredhirsch opened #192 "Tabzilla looking funny on the landing page"
Minor CSS bug, but it's pretty noticeable.

<img width="463" alt="screenshot 2015-10-22 11 59 39" src="https://cloud.githubusercontent.com/assets/96396/10675457/17935dec-78b5-11e5-80c6-216197096ede.png">

[2015-10-22 20:11] lmorchard commented on #190
:+1: I think this could go a long way to helping shrink our `app.js` at the end, that and an `npm dedupe` run. Did this on a side project and it reduced the size from like 1MB down to like 100k because I wasn't using _all_ of lodash, and many of my dependencies all had their own private copies of all the small lodash modules

[2015-10-22 20:33] pdehaan commented on #190
Looks like the only 2 instances of **lodash** in this repo are both in [./idea_town/frontend/static-src/app/views/base-view.js](https://github.com/mozilla/idea-town/blob/b60eb9a650d1380897a6e29e8022591982a12e94/idea_town/frontend/static-src/app/views/base-view.js#L2-L3):

[code]

[2015-10-22 21:19] #150 closed, assigned to lmorchard

[2015-10-24 00:33] meandavejustice opened #194 "Header disappears on rerender (experiment detail page)"
You can trigger a rerender by disabling/enabling the experiment.

[2015-10-24 00:36] meandavejustice opened #195 "persist enabled addons per user / experiment detail doesn't detect enabled correctly"
experiment detail doesn't detect enabled correctly when visiting the page directly(not navigating from `/home`)
We need to track the enabled state through the User Installation Model on the server and verify with addon after initial render.

cc/ @lmorchard for discussion on User Install model changes.

[2015-10-26 22:20] jaredhirsch opened #197 "Use camelcase, not underscores, in the JSON API"
The front-end code seems to be sprinkled with a growing number of snake_case variables.

The solution suggested in the django rest framework [docs](http://www.django-rest-framework.org/api-guide/parsers/#camelcase-json) is to use this library to convert keys to camel case: https://github.com/vbabiy/djangorestframework-camel-case

[2015-10-26 23:25] jaredhirsch opened #198 "Document config file setup in README"
The README doesn't mention that you need to copy over .ebextensions/00-environment.config-dist and insert some config values.

I think a new dev will have to replace, at a minimum:
- INITIAL_ADMIN_EMAIL
- SECRET_KEY
- ALLOWED_HOSTS (should we just default it to ideatown.dev?)
- ADDON_URL
- FXA_CLIENT_ID
- FXA_SECRET_KEY

[2015-10-26 23:29] jaredhirsch commented on #198
Oh, I guess I'm not sure how to pipe the contents of the elastic beanstalk config file into settings.py. Do I need to manually set the ADDON_URL in both places?

[2015-10-27 02:38] meandavejustice opened #199 "Track progress for installations on experiment detail view."
We need to show another state to show the user that the experiment is installing.

[2015-10-27 16:24] johngruen opened #200 "There are some not right things on the landing page"
<img width="1369" alt="screen shot 2015-10-27 at 5 23 00 pm" src="https://cloud.githubusercontent.com/assets/3323249/10764649/764e8190-7ccf-11e5-95f3-ea9d8387b5a1.png">

Tabzilla and legal links need fixin'

[2015-10-27 16:36] johngruen commented on #159
@lmorchard yeah, probably should. Preferably we could get away with using CSS to fade into views a bit.

Only issue I see is that RN the `#main-footer` is in that outer index file and isn't injected with the views.

[2015-10-27 16:48] pdehaan commented on #200
Tabzilla tab misplacement filed as #192

[2015-10-27 16:50] johngruen commented on #93
Well we should have a button, presumably one of these buttons

https://www.mozilla.org/en-US/styleguide/websites/sandstone/buttons/

Problem is, these are all painfully non-retina. Will cook up a replacement. Also need to figure out what query strings to pass in to the download link

[2015-10-27 16:51] meandavejustice commented on #200
Legal links as #123 closing as duplicate.

[2015-10-27 16:51] #200 closed, assigned to nobody

[2015-10-27 16:53] johngruen commented on #93
Also unfortunate, that site has zero code snippets :(

[2015-10-27 18:01] lmorchard opened #201 "Experiments with install limit and/or invitations"
Would be useful to have a limited number of participant slots, after which new users can optionally signal interest in being invited to install if new slots are opened.

[2015-10-27 18:08] lmorchard opened #202 "mozillians.org integration?"
Could be useful to have a connection to mozillians.org to identify vouched users as an additional tier to *@mozilla.com email addresses - or as a replacement for that check altogether.

[2015-10-27 18:12] johngruen commented on #149
Would be nice to do 3 ideas, maybe only go into detail on one, but enough so there's a full grid on the main page.

[2015-10-27 18:17] pdehaan commented on #175
IIUC, **jpm** allows you to set the prefs location via the `--prefs` flag: https://github.com/mozilla-jetpack/jpm#usage

[2015-10-27 18:17] johngruen opened #203 "Make Sass more good"
Basically our Sass is not totally enterprise grade. Adding/changing some things to make it a bit cleaner.
- [ ] #291
- [ ] #290
- [ ] #289
- [ ] #306
- [ ] #307

[2015-10-27 18:20] pdehaan commented on #203
I've been poking around with https://www.npmjs.com/package/gulp-pleeease lately. Seems pretty good, and bundles in the autoprefixer, media query combining, and other tricks automatically. May be worth investigating and seeing if it produces smaller/better final CSS.

[2015-10-27 18:23] johngruen commented on #203
@pdehaan 👍

[2015-10-27 18:27] lmorchard commented on #175
Probably related to / can be done at the same time as #174

[2015-10-27 18:30] johngruen commented on #93
This'll get fixed by #203, closing

[2015-10-27 18:31] meandavejustice commented on #178
We need some documentation for integrating addons with our metrics api.

[2015-10-27 18:31] johngruen commented on #90
Closing, will be fixed in #203

[2015-10-27 18:32] #90 closed, assigned to johngruen

[2015-10-27 18:37] lmorchard commented on #177
Or, to flip things, maybe experiment addons shouldn't worry about update checks. Instead, the Idea Town addon should regularly ping the Idea Town site and perform updates as needed. Once an hour? Every 4 hours?

[2015-10-27 18:39] lmorchard commented on #151
f9ccfa6d6d6eba5f22c54b5651f185058b9e6c33

[2015-10-27 18:39] #151 closed, assigned to lmorchard

[2015-10-27 18:39] lmorchard commented on #152
f9ccfa6d6d6eba5f22c54b5651f185058b9e6c33

[2015-10-27 18:39] #152 closed, assigned to nobody

[2015-10-27 19:20] meandavejustice opened #204 "Enabled vs Disabled vs Installed vs Uninstalled"
In our addon we currently only server two states: Installed(and enabled) and Uninstalled. The experiment detail pages say `enable` and `disable`. Is there ever a time when we want to keep around experiments in the disabled state? If so, we will need to add some ui to allow users to uninstall disabled addons.

[2015-10-28 15:55] lmorchard commented on #145
Started the process in Bugzilla https://bugzilla.mozilla.org/show_bug.cgi?id=1219286

[2015-10-28 16:21] jaredhirsch commented on #204
Users can manage addons, including idea town experiments, from about:addons; we don't necessarily need to build any new flows for the other states. It might make more sense for the website to say 'install' and 'uninstall', not 'enable' and 'disable'.

[2015-10-28 16:40] lmorchard commented on #198
Thinking out loud in advance of actually addressing this stuff:
- You'll never have to touch `idea_town/settings.py` for general configuration, just to add new features. Any configurable values are pulled from env vars using [`decouple.config()`](https://github.com/henriquebastos/python-decouple)
- For local dev, everything should be all preconfigured in `docker-compose.yml` with env vars set to u

[2015-10-28 20:04] meandavejustice commented on #204
@6a68 I think that makes the most sense. Will be a quick fix. Does that sound good to @johngruen and @bryanbell ?

[2015-10-28 20:09] jaredhirsch commented on #198
:+1: that makes total sense to me

[2015-10-28 20:14] meandavejustice commented on #177
I think @lmorchard 's approach sounds much easier for addon devs. Thoughts @6a68 ?

[2015-10-29 05:35] pdehaan commented on #203
After a wee bit of hacking locally, this may work and reduce a few dependencies:

[code]

And here are a few rough and probably unreliable stats:

[code]

Of course, probably all those are useless and we'd only care about gzipped sizes since thats's what we'd be deploying.

[2015-10-29 16:51] jaredhirsch commented on #177
I think universal search is going to be privately published on AMO, so we can ignore this till after Mozlando.

My thought, though, was that a bad update would probably lead to uncaught exceptions being thrown while running the bootstrap.js install() or startup() method, so it would be cool to detect that and check for updates. Definitely makes more sense for Idea Town to handle this, since it's t

[2015-10-29 17:59] meandavejustice commented on #203
After a quick look at pleeease(without really knowing anything about it) it looks like it has quite a bit of dependencies. Including stylus, postcss, node-sass, etc... Just pointing out that if the goal is to reduce dev dependencies, this might not be the best way forward.

Otherwise, glad to see it reduce our filesizes.

[2015-10-29 21:06] lmorchard commented on #131
543656b04c4b8dec0c650da58229a43441f1b975

[2015-10-29 21:06] #131 closed, assigned to lmorchard

[2015-10-29 21:11] lmorchard commented on #27
Between #143 and 543656b04c4b8dec0c650da58229a43441f1b975, I think we know where we're going with this stuff. Going to call this done

[2015-10-29 21:11] #27 closed, assigned to lmorchard

[2015-10-30 15:28] #155 closed, assigned to meandavejustice

[2015-10-30 15:28] #161 closed, assigned to meandavejustice

[2015-10-30 15:28] #162 closed, assigned to meandavejustice

[2015-10-30 15:28] #174 closed, assigned to nobody

[2015-10-30 15:28] #176 closed, assigned to meandavejustice

[2015-10-30 15:28] #180 closed, assigned to meandavejustice

[2015-10-30 15:28] #181 closed, assigned to meandavejustice

[2015-10-30 15:40] lmorchard opened #207 "Cache node & python dependencies for faster Travis CI runs"
Most of the time in Travis CI runs is spent on installing node & python dependencies because nothing is preserved between runs. But, those dependencies barely ever change. So, we could save a huge amount of time by caching these dependencies in some form - say in an Amazon S3 bucket.

[Travis CI docs have advice on this](http://docs.travis-ci.com/user/caching/)

[2015-11-02 11:16] johngruen opened #209 "Abstract `#main-footer` into a view"
Right now the `#main-footer` links are loaded statically in the index template. Since we're using flex box, this causes a gnarly little flash while the ampersand-y parts of the DOM rerender as views are swapped out. Even though the footer persists across all pages, we should load it in dynamically to mitigate this issue.

[2015-11-02 13:47] johngruen commented on #209
#209

[2015-11-02 13:48] johngruen commented on #192
Fixed by #210

[2015-11-02 18:08] johngruen commented on #159
Oh, yeah so PR #210 should make this a lot easier to implement.

[2015-11-02 21:23] lmorchard commented on #209
Sounds like merging #210 fixed this - reopen if I'm mistaken!

[2015-11-02 21:23] #209 closed, assigned to nobody

[2015-11-04 00:31] #100 closed, assigned to lmorchard

[2015-11-04 00:31] #198 closed, assigned to lmorchard

[2015-11-04 18:10] lmorchard opened #213 "Need an account inactive / invitation pending / splash page"
So, we've had some talk about what to do about an invitation mode. PR #212 is a start on that.

Something we need from that is a better "invitation coming soon for you" page, probably reminiscent of the Idea Town splash mini-site.

[2015-11-04 22:53] lmorchard commented on #149
Mentioned [the Django `dumpdata` command](https://docs.djangoproject.com/en/1.8/ref/django-admin/#dumpdata-app-label-app-label-app-label-model) this morning in the status meeting for helping generate some importable JSON from a dev setup.

Basically, while running your Docker machine, you can do this from OS X:

[code]

And that should result in `snapshot.json` with a big pile of JSON representing

[2015-11-05 00:10] meandavejustice commented on #133
@nchapman Any word from legal on this?

[2015-11-05 00:18] meandavejustice commented on #173
Forgot to close this a while back. Now the addon is merged into the main repo and uses the preferences api

[2015-11-05 00:18] #173 closed, assigned to nobody

[2015-11-05 00:20] meandavejustice commented on #172
@6a68 Can we talk about what needs to happen for this sometime this week? It's still not very clear to me. Also cc/ @lmorchard

[2015-11-05 00:26] meandavejustice commented on #199
@johngruen What should we shoot for here for mozlando? Something like [this](http://demo.tutorialzine.com/2013/10/buttons-built-in-progress-meters/)? or just extra "installing/failed" states?

[2015-11-05 00:28] meandavejustice commented on #124
Need to do some heavier testing here, I have a hunch it may be an issue with ampersand's router in firefox.

[2015-11-05 00:56] jaredhirsch commented on #172
@meandavejustice Sure! The basic goal here is to get the addon signed with the AMO key, so that it works in future versions of FF which require extensions be signed. I don't know if we want to try to hack the reviewer process to be able to serve the addon from AMO, maybe @lmorchard has thoughts here.

Assuming you want AMO to sign, but not host, the addon, here's how to do it:

Log into AMO and su

[2015-11-05 16:18] nchapman commented on #133
This is the angle that I forgot to cover. I'll talk to Brian and Marshall about it.

On Wed, Nov 4, 2015 at 4:10 PM, Dave Justice notifications@github.com
wrote:

[2015-11-05 18:56] #178 closed, assigned to meandavejustice

[2015-11-05 20:29] meandavejustice opened #216 "Bulk invites with email notifications"
from #212

"a way to invite users in bulk with email notifications. We can handle that in a future PR that adds such a tool to the Django admin. We'll need a background job queue (#163) to make that happen, too." -@lmorchard

[2015-11-05 20:49] lmorchard commented on #216
More details from my head:
1. If we want to invite select subsets of profiles waiting to get in, [we can write new actions for Django admin.](https://docs.djangoproject.com/en/1.8/ref/contrib/admin/actions/) So, we'd write an action that takes selected profiles and 1) sends an email saying basically "you're invited!" and 2) sets `User.is_active` to True and `UserProfile.invite_pending` to False so

[2015-11-05 21:22] #127 closed, assigned to lmorchard

[2015-11-05 21:22] #128 closed, assigned to nobody

[2015-11-05 21:22] #202 closed, assigned to lmorchard

[2015-11-06 19:21] meandavejustice commented on #124
This actually seems to be a difference in the interpretation of the pushstate spec in firefox vs blink.

Here are some bugs:
https://bugzilla.mozilla.org/show_bug.cgi?id=1185420
https://bugzilla.mozilla.org/show_bug.cgi?id=976020
https://bugzilla.mozilla.org/show_bug.cgi?id=1059382

[2015-11-06 21:47] lmorchard commented on #124
Hmm, this bug is weird.

If I hit /home, click on an experiment, then hit back - it seems to work as expected. I can click back & forth as much as I want.

But, if I hit /home, click on an experiment, **focus on the URL bar & hit return** (not quite a reload), then hit back - things break such that /home never appears despite URL bar changes.

[2015-11-06 23:10] meandavejustice commented on #124
Right, that's what I'm experiencing too :(

On Fri, Nov 6, 2015 at 1:47 PM, Les Orchard notifications@github.com
wrote:

[2015-11-09 11:32] johngruen opened #217 "Settings for Pre-Release Idea Town"
@nchapman @lmorchard  This doesn't have to be permanent, but just to get the ball rolling let's implement this UI for the Mozlando alpha. This UI also deprecates Avatar support for now.

<img width="597" alt="alpha settings 2x" src="https://cloud.githubusercontent.com/assets/3323249/11032701/841881bc-86d5-11e5-9a79-db0e21934f39.png">

[2015-11-09 11:33] johngruen commented on #158
#217

[2015-11-09 11:33] #158 closed, assigned to johngruen

[2015-11-09 11:33] johngruen commented on #157
#217

[2015-11-09 11:33] #157 closed, assigned to nobody

[2015-11-09 11:59] johngruen commented on #133
@nchapman @lmorchard I'll talk to Ryan about this today. Marketplace and Hello don't offer a 'delete' button so I'm not sure if we need to, but maybe we should since there's more at stake?
FWIW, I don't think we should use the term "Idea Town Account" should ever be user facing.

[2015-11-09 18:11] #26 closed, assigned to meandavejustice

[2015-11-09 18:17] #123 closed, assigned to johngruen

[2015-11-09 18:35] johngruen commented on #203
@pdehaan @meandavejustice this is mostly to make sure we do pass to reduce redundancy/cruft after the Mozlando sprint to make sure things scale and are intelligible to others.

[2015-11-09 18:37] lmorchard commented on #172
This issue seems tied in with #92

[2015-11-09 18:40] #192 closed, assigned to johngruen

[2015-11-09 18:43] lmorchard commented on #175
For Orlando, let's make sure everything in the repo points at prod (ideatown.firefox.com) and maybe document what needs changing in about:config for devs,

Ideally we should have a smooth way of switching, but not necessary before Orlando

[2015-11-09 19:03] lmorchard opened #218 "Make sure Idea Town supports Universal Search as an experiment"

[2015-11-09 19:04] lmorchard opened #219 "Make sure Idea Town supports Pageshot as an experiment"

[2015-11-09 19:14] pdehaan opened #220 "Account inactive page doesn't give me a sign out link"
Currently I'm logged into idea-town using my personal email account.

I'm given the following message, but no way to sign out or change who I am signed in as:

<img width="617" alt="idea_town" src="https://cloud.githubusercontent.com/assets/557895/11043553/217e453a-86d2-11e5-95f9-8ebdd5f0fdda.png">

[2015-11-09 19:16] johngruen commented on #48
@lmorchard, part of this is answered by the feedback mockups. #156 #154

[2015-11-09 19:27] johngruen opened #221 "Implement Door Hanger and Feedback UI"
Main page https://invis.io/8Z48QH33W
Net promoter page https://invis.io/WD4V3AJ5H

So the second page here should pop up at random somewhat. I'll figure out what random should mean here and add it to the bug.

[2015-11-09 19:27] johngruen commented on #48
Also, here's a bug to to track the doorhanger/ net promoter stuff:  #221

[2015-11-09 19:34] nchapman commented on #48
@johngruen and I discussed this and decided that specifically tracking installs and uninstalls should allow us to generate reports on most things we care about (retention, churn, active users, etc):
- Number of installs
- Number of uninstalls
- Track installs and uninstalls in a way that we can show trends
- Amount of time between install and uninstall

[2015-11-09 19:42] johngruen opened #222 "Create a standard engagment metric/event thing for all experiments"
@nchapman @lmorchard we should have a standard metric to help understand engagement with each experiment. Since every experiment will have different usage rates this metric will only be used to compare internally to an experiment. The Idea Town Council should determine for every experiment which user action should emit the event to be measured.

[2015-11-09 19:42] johngruen commented on #48
Here's a bug for a standard engagement metric (not for mozlando) #222

[2015-11-09 19:51] lmorchard commented on #220
You're not actually signed in when you see the "account inactive" page. When the site sees that your account is in active, it bounces you there _instead_ of setting a session cookie & etc. Might be worth adding another signin button here or a link back to home to try again

[2015-11-10 15:09] lmorchard opened #223 "Set up logging/metrics for the server side"
We should ensure the server side has some useful logging - i.e. for performance, monitoring, etc. This is separate from any metrics about experiments or feedback. Maybe use statsd? datadog? new relic?

[2015-11-10 19:43] johngruen opened #224 "indicate idea town is still WIP on the landing page"
Indicate to users that idea town is not yet shipping.

[2015-11-10 20:25] lmorchard commented on #224
https://github.com/mozilla/idea-town/commit/5c2f837ee8a47680f32bef493c5e77ba2b1eacd6

[2015-11-10 20:25] #224 closed, assigned to nobody

[2015-11-10 20:25] lmorchard commented on #159
https://github.com/mozilla/idea-town/commit/5c2f837ee8a47680f32bef493c5e77ba2b1eacd6

[2015-11-10 20:25] #159 closed, assigned to johngruen

[2015-11-10 20:25] lmorchard commented on #91
https://github.com/mozilla/idea-town/commit/5c2f837ee8a47680f32bef493c5e77ba2b1eacd6

[2015-11-10 20:25] #91 closed, assigned to johngruen

[2015-11-10 21:15] johngruen opened #229 "Define General Strategy for Animations"
PR #224 hints at some scaling issues with adding and removing various classes.

Straw proposal: lets stick with using CSS class toggles, but optimize for scale. A few thoughts:
- Use http://ampersandjs.com/docs#ampersand-view-cacheelements to streamline DOM selection
- Use http://amp.ampersandjs.com/# DOM methods to toggle classes
- Possibly use something like: https://www.npmjs.com/package/gulp-j

[2015-11-10 21:18] johngruen commented on #68
#227

[2015-11-10 21:18] #68 closed, assigned to johngruen

[2015-11-10 21:22] lmorchard commented on #124
Trying this as an upstream fix to Ampersand, just for the sake of completeness

https://github.com/AmpersandJS/ampersand-router/pull/49

[2015-11-11 02:12] pdehaan opened #230 "Convert the addon/ code to publish with version number from package.json"
Currently the [addon/package.json](https://github.com/mozilla/idea-town/blob/818724c5f205bd2e4b564ac95b7ef2ab020e29d4/addon/package.json#L17) file hard codes the JPM version number to "0.0.1".

I recently found [this](https://docs.npmjs.com/misc/scripts#package-json-vars) trick to use `$npm_package_version` so we could create the XPI via JPM and then automatically rename the file without needing t

[2015-11-11 09:59] johngruen commented on #48
Hey @lmorchard, between nick's answer the issues i've listed/created here, it seems like this is probably closable? I'll let you chose what to do here.

[2015-11-11 10:12] johngruen opened #232 "6 extra pixels on the landing pages"
Just a bit of polish. The way I've styled the landing pages means they'll always overflow the window by 6 pixels. Reminding myself to fix this for Mozlando.

[2015-11-11 15:57] johngruen opened #234 "Test Pilot Metrics Dashboard"
What should this thing look like?

[2015-11-11 16:55] lmorchard commented on #230
Works for me!

[2015-11-11 16:55] #124 closed, assigned to lmorchard

[2015-11-11 16:56] #230 closed, assigned to pdehaan

[2015-11-11 17:10] lmorchard commented on #48
Cool by me... we can always reopen / file a new issue if we need more work here

[2015-11-11 17:10] #48 closed, assigned to lmorchard

[2015-11-12 00:31] pdehaan opened #237 "Footer URLs don't appear to be clickable"
Tried in FF and Chrome.
### Steps to reproduce
1. Go to http://idea-town-dev.elasticbeanstalk.com/
2. Try and click on the footer links (Mozilla, Legal, Privacy, Cookies, Contribute)
### Actual results:

Not clickable.
### Expected results:

Clickable. The code looks like links. Not sure why they're foiling me yet though.

[2015-11-12 00:34] pdehaan commented on #237
Actually... Looking through the Developer Tools at the div#main-footer element, it looks like a basic `z-index: -1;` situation.
If I disable that rule (or set it to `1`) then things seem to work as expected.

Looks like it was added to [./idea_town/frontend/static-src/styles/modules/_footer.scss:7](https://github.com/mozilla/idea-town/blob/b1a7dce51e21b8a92bd6b44ad8fca9b952a37709/idea_town/fronten

[2015-11-12 00:44] pdehaan opened #238 "Tabzilla logo isn't clickable"
Similar to #237

Currently, it looks like the actual "Mozilla" logo in the Tabzilla header isn't clickable. The highlighted area _below_ the text is clickable, as well as the tab area on the left and right of the logo is clickable, just not the big text hit area itself.

![idea_town](https://cloud.githubusercontent.com/assets/557895/11107424/889fbfd4-8892-11e5-84ac-1791e621487c.png)

Also similar

[2015-11-12 00:51] pdehaan opened #239 "Add a __version__ route"
Ref: https://github.com/mozilla/fxa-content-server/issues/2864

There was recently a document circulating about a new version route proposal standard:
https://docs.google.com/document/d/1rGVyiLYvZyKE2oHcSVx-vBmQRKhs1kLLgn7xeCs6qKs/edit

**TL;DR:** Basically we'll need to:
1. Add a `source`  attribute which is the URL for the source repository.
2. Rename the route from `/ver.json` to `/__version__`

[2015-11-12 00:54] pdehaan opened #240 "Add a prettier 404 page?"
In the course of testing for http://idea-town-dev.elasticbeanstalk.com/__version__ page, I noticed our 404 is still the whimsically wonderful:

Not sure if that needs to be "enhanced" for **MOZLANDO** milestone, but thought I'd just throw it out there.

[2015-11-12 01:04] pdehaan opened #241 "Add more media queries for smaller devices"
Currently you need a browser that is at least 1024px wide to use the site (or at least sign up).
My browser was about 600px wide, and clicking the "Get started with your Firefox Account" button launched a helicopter based modal dialog which was offscreen.

If I resize to 950px wide, I can see the helicopter message.
If I resize to ~1000px wide, I can also see the Mozilla Tabzilla tab.

![idea_town

[2015-11-12 01:28] pdehaan opened #242 "No way to close the "We're still building Idea Town" modal"
### Steps to reproduce:
1. Go to http://idea-town-dev.elasticbeanstalk.com/
2. Click the "Get started with your Firefox Account" button.
3. Change your mind and try and read the "Terms of Service" or "Privacy Notice" links.
### Actual results:

You cannot close the helicopter modal without refreshing the page. Possibly not important if we don't expect the modal to be required for very long.
### Ex

[2015-11-12 01:30] pdehaan commented on #242
<img width="1181" alt="idea_town_and_inbox__1_141__-_pdehaan_mozilla_com_-_mozilla_mail" src="https://cloud.githubusercontent.com/assets/557895/11108191/a5bca184-8899-11e5-9aef-0d05e10e5366.png">

~~Another oddity is if you have a smaller page and then scroll, down, the modal doesn't cover the entire page, only the original [unscrolled] viewport. New bug available upon request.~~

[2015-11-12 18:34] meandavejustice opened #243 "Scroll header sometimes switches before experiment header is fully hidden."
Need to actually check that the element is hidden beneath the navbar before switching,  maybe use https://www.npmjs.com/package/isvisible

[2015-11-12 19:15] meandavejustice commented on #229
dom bindings docs => https://github.com/ampersandjs/ampersand-dom-bindings#readme

[2015-11-12 21:35] pdehaan opened #244 "Current add-on install page is minimal and 404s on XPI"
### Steps to reproduce:
1. Go to http://idea-town-dev.elasticbeanstalk.com/ [1]
2. Sign in with a @mozilla.com account
3. Click the [Install the Add-on] button [2]
### Actual results:

Add-on link 404s currently.
The "install the add-on" page is pretty light on details. I'm not entirely sure what the add-on does, why I want it. Or if I am interested in Idea Town yet and trust this add-on/site. Now

[2015-11-12 21:46] pdehaan opened #245 "Tweak CSS for more verbose locales"
Using [Google Translate](https://translate.google.com/#auto/de/Install%20the%20Idea%20Town%20Add-on%0Aand%20you%27re%20good%20to%20go!) I tried to convert the install add-on page to German to see how the UI would look with longer locales.

Things generally look pretty good, although I noticed that the buttons look a bit tight when you have longer strings.

---

![idea_town](https://cloud.githubuse

[2015-11-13 00:34] bryanbell commented on #168
Icon:  http://cl.ly/1A0V3P0q3Q14

[2015-11-13 15:58] #194 closed, assigned to meandavejustice

[2015-11-13 20:59] lmorchard commented on #213
https://github.com/mozilla/idea-town/commit/1663a408dfa3c51ffbaf6711cb77b7cd2e9c8266

[2015-11-13 20:59] #213 closed, assigned to lmorchard

[2015-11-14 01:13] pdehaan opened #249 "Idea-town splash pages scroll vertically"
Tested in FF and Chrome.

http://idea-town-dev.elasticbeanstalk.com/

Even when viewing the pages on my big monitor @1413px high, I notice that the pages scroll ~6px (which seems to be the exact height of the [`border-top`](https://github.com/mozilla/idea-town/blob/5c2f837ee8a47680f32bef493c5e77ba2b1eacd6/idea_town/frontend/static-src/styles/_theme-helpers.scss#L34) bar in [_cta-view.scss:19](http

[2015-11-14 01:18] chuckharmston commented on #249
I don't have enough time to get up a PR, but this is fixed in dev tools by changing [this line](https://github.com/mozilla/idea-town/blob/5c2f837ee8a47680f32bef493c5e77ba2b1eacd6/idea_town/frontend/static-src/styles/_base.scss#L72) to `min-height: calc(100vh - 6px)`. Fair chance that value is exposed as a variable in Tabzilla somewhere.

[2015-11-16 12:13] johngruen commented on #242
@pdehaan yeah, probably a good idea. I kind of went back and forth on this one...Already fixed the modal/scrolling issue.

[2015-11-16 17:16] lmorchard commented on #232
https://github.com/mozilla/idea-town/commit/62e1a8e37ffbb152be7320fc164ed14fd28c2517

[2015-11-16 17:16] #232 closed, assigned to johngruen

[2015-11-16 17:16] lmorchard commented on #237
https://github.com/mozilla/idea-town/commit/62e1a8e37ffbb152be7320fc164ed14fd28c2517

[2015-11-16 17:16] #237 closed, assigned to johngruen

[2015-11-16 17:16] lmorchard commented on #238
https://github.com/mozilla/idea-town/commit/62e1a8e37ffbb152be7320fc164ed14fd28c2517

[2015-11-16 17:16] #238 closed, assigned to johngruen

[2015-11-16 17:29] lmorchard commented on #145
Per the bugzilla bug, this is done and I hear that the keys are in ops' hands now. (We don't really need them on the dev side, just as long as they end up plugged into the right env vars on prod)

[2015-11-16 17:29] #145 closed, assigned to lmorchard

[2015-11-16 17:32] lmorchard commented on #219
FWIW, @ianb & @fzzzy feel free to pile on in this issue with thoughts & concerns about Idea Town & Pageshot in advance of any Mozlando demos

[2015-11-16 18:00] #168 closed, assigned to lmorchard

[2015-11-16 18:46] #217 closed, assigned to meandavejustice

[2015-11-16 21:33] mostlygeek opened #252 "Ensure AWS S3 access can use IAM credentials from EC2 instance metadata"
The preferred way for applications running in AWS is to use IAM role permissions. These are available through [ec2-metadata](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html) that boto and other AWS libraries can automatically pull out.

The application shouldn't even be setting these values directly. The preferred way is to allow the AWS sdk library to decide on value

[2015-11-16 21:40] pdehaan opened #253 "[addon] Protocol vs Protocall"
Spotted this while trying to install the add-on via _about:addons_:

![add-ons_manager](https://cloud.githubusercontent.com/assets/557895/11195530/34a8a6d8-8c67-11e5-8057-7c91f4b617bb.png)

Wasn't sure if this was just a typo, or had some deeper meaning that my ignorant self is unaware of.
Looks like this is coming from [./addon/package.json:33-34](https://github.com/mozilla/idea-town/blob/8e98c79

[2015-11-16 21:41] pdehaan commented on #253
Plus, if we're tweaking that config page, I'd also vote to change the 5x instances of "Ideatown" in the configs to "Idea Town" to be in sync with the add-on name and brand stuffs.

[2015-11-16 21:45] pdehaan commented on #253
Also, as a note to my future self who struggles with simple tasks...

Dear future self,
Remember that you'll [possibly] need to set the `xpinstall.signatures.required` and `xpinstall.whitelist.required` flags to **false** in [about:config](about:config) to get the add-on installed and running (due to add-on signing).

Best,
me

[2015-11-16 21:49] lmorchard commented on #146
Issue #252 adds a wrinkle, here. Need the S3 bucket, but we're going to use an IAM role associated with the EB app. [That IAM role comes with its own temporary & auto-rotating credentials accessible via a web service exposed to the EC2 instance.](http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html) Issue #252 will be about ensuring that's supported by our stack, one wa

[2015-11-16 22:14] lmorchard commented on #252
For context, [an issue comment](https://github.com/jschneier/django-storages/issues/34#issuecomment-124002532) about this suggests that just making these settings default to `None` will cause Boto 2.38.0 to [populate the keys from EC2 metadata](https://github.com/boto/boto/blob/2.38.0/boto/provider.py#L379). Hope that's true! :)

[2015-11-16 22:30] pdehaan opened #255 "Can't seem to configure Idea Town locally to point to dev server"
I cloned this repo, build the idea-town add-on locally via `addon $ npm run package`, then set my `xpinstall.signatures.required` and `xpinstall.whitelist.required` settings to **false** in [about:config](about:config)[1].

Next I tweaked the "Idea Town Addon 0.0.1" config to point to http://idea-town-dev.elasticbeanstalk.com in both the "Ideatown protocall" and "Allowed origins for addon" section

[2015-11-16 23:34] mostlygeek commented on #252
If they are not in the environment variables will they default to `None`?

[2015-11-17 01:13] pdehaan commented on #249
I can't seem to reproduce this, so I'll blame https://github.com/mozilla/idea-town/pull/250 for fixing this.

[2015-11-17 01:13] #249 closed, assigned to nobody

[2015-11-17 01:16] pdehaan commented on #255
This seems to be working now, so I'll chalk this up to the fact my Mac crashed and rebooted and I probably just needed a random browser restart.

[2015-11-17 01:16] #255 closed, assigned to nobody

[2015-11-17 02:21] meandavejustice commented on #253
@pdehaan Thanks for pointing all of this out. I've been overlooking these.

[2015-11-17 14:22] fzzzy commented on #219
Sure, thank you.

[2015-11-17 15:35] lmorchard commented on #252
Yeah, the settings default to None when the env vars aren't present. That _should_ make Boto look for the credentials from EC2 metadata, unless we really do need [this unmerged patch](https://github.com/jschneier/django-storages/compare/master...lmorchard:34-iam-role-credentials).

[2015-11-17 18:43] #154 closed, assigned to lmorchard

[2015-11-17 18:43] #156 closed, assigned to lmorchard

[2015-11-17 19:40] pdehaan commented on #170
@meandavejustice Do we still need this, or do you think it was adequately solved via https://github.com/mozilla/idea-town/pull/231?

[2015-11-17 19:48] pdehaan opened #257 "Logo is distorted on details page"
http://idea-town-dev.elasticbeanstalk.com/experiments/test is a little oval-ish:

![idea_town](https://cloud.githubusercontent.com/assets/557895/11222729/ff17c264-8d20-11e5-8506-1d3b85638386.png)

versus http://idea-town-dev.elasticbeanstalk.com/home

![idea_town](https://cloud.githubusercontent.com/assets/557895/11222734/09539118-8d21-11e5-86ee-4ffee0c270d8.png)

[2015-11-17 20:22] pdehaan commented on #257
Or maybe I'm wrong about "distortion"... It seems like the [source image](https://idea-town-media-dev-lmorchard.s3.amazonaws.com/experiments_experiment/0/9/098f6bcd4621d373cade4e832627b4f6_thumbnail_1446141294_0016.jpg?Signature=cxWWi0K8j52psGjiUvfB6qgj0d4%3D&Expires=1447794921&AWSAccessKeyId=AKIAIVL7D565RB5I4DXA) is 844px by 474px.

![](https://idea-town-media-dev-lmorchard.s3.amazonaws.com/exper

[2015-11-17 20:25] meandavejustice commented on #170
@pdehaan I think #231 solved it wonderfully.

[2015-11-17 20:25] #170 closed, assigned to meandavejustice

[2015-11-17 20:30] pdehaan commented on #170
Or at least until https://github.com/mozilla-jetpack/jpm/pull/344 gets addressed.

[2015-11-17 20:43] lmorchard commented on #257
The [experiments list page CSS specifies a square background image with width & height](https://github.com/mozilla/idea-town/blob/master/idea_town/frontend/static-src/styles/modules/_list-view.scss#L105), while [the details page just specifies the width](https://github.com/mozilla/idea-town/blob/master/idea_town/frontend/static-src/app/templates/experiment-page.js#L22).

For Orlando, at least, we

[2015-11-17 20:46] pdehaan opened #258 "changelog link looks mis-aligned on experiment details page"
### Steps to reproduce:
1. Sign in and go to http://idea-town-dev.elasticbeanstalk.com/experiments/test
2. Look at the "Details" -> "Version" section.

![idea_town](https://cloud.githubusercontent.com/assets/557895/11224307/2e463928-8d29-11e5-8efc-28fe395d3b0f.png)
### Actual results:

The "changelog" link doesn't align with the last updated text.
Looking through the source, I'm guessing it's beca

[2015-11-17 20:51] lmorchard commented on #257
FWIW, I uploaded a square image, and that seems to "fix" the problem. Still would be a better idea to have a solution for #46 though

[2015-11-17 20:53] pdehaan commented on #257
True. Maybe the quick fix is to specify the `height` on the details page as well (at least that will make the image equally skewed on the list and details pages for the time being).

Speaking of, should we be hardcoding image dimensions in the HTML templates, or leave that in the CSS?
1. [`<img data-hook="thumbnail" src="" width="260">`](https://github.com/mozilla/idea-town/blob/6526f8f58b52596c87

[2015-11-17 21:06] pdehaan opened #259 "Experiment details page doesn't seem to mention Idea Town at all"
I just noticed that there doesn't seem to have any references to Idea Town on the [experiment details](http://idea-town-dev.elasticbeanstalk.com/experiments/example-experiment) page.

![idea_town](https://cloud.githubusercontent.com/assets/557895/11224764/7c7e151e-8d2b-11e5-9bc2-bfa1909a925e.png)
**Figure 1:** Default "details" page.

![idea_town](https://cloud.githubusercontent.com/assets/557895/

[2015-11-17 21:12] lmorchard commented on #259
Definitely a bug... I wonder if it's related to https://github.com/mozilla/idea-town/issues/243

[2015-11-17 21:12] lmorchard commented on #258
Hmm, though we should probably hide the elements if they're optional and not filled in (like Contribute, also)

[2015-11-17 21:22] pdehaan commented on #258
Should "Version" and "Last Update" be optional?

[2015-11-17 21:32] #253 closed, assigned to meandavejustice

[2015-11-17 21:34] lmorchard commented on #175
Going to say #256 handles this well enough for now - [we can use the `jpm run --prefs` option to launch Firefox with canned dev-specific prefs](https://github.com/mozilla/idea-town/commit/4b60baf1f25c9f6e6fb0b462faa977f77248bdaa#diff-18ea69015717516d88dedc84076c033eR16)

[2015-11-17 21:34] #175 closed, assigned to meandavejustice

[2015-11-17 21:43] lmorchard opened #260 "Simplify database config handling in idea_town/settings.py"
For connecting to the database, our `settings.py` accepts either a `DATABASE_URL` environment variable or a set of AWS `RDS_*` variables.

[This is a bit convoluted.](https://github.com/mozilla/idea-town/blob/master/idea_town/settings.py#L147) For consistency, it would be simpler to just use the `RDS_*` variables directly. The variables used in `docker-compose` would need a tweak, too.

[2015-11-17 22:02] pdehaan opened #261 "Details page doesn't display version number or last updated date"
http://idea-town-dev.elasticbeanstalk.com/experiments/test-title

![idea_town](https://cloud.githubusercontent.com/assets/557895/11226201/43f818cc-8d33-11e5-866c-4b137f37f716.png)
**Figure 1:** Note that:
1. version number is missing,
2. changelog text is linked (but not specified in admin),
3. an description is being set in the **Last Update** text field.

---

![change_experiment___django_site_a

[2015-11-17 22:18] pdehaan opened #262 "Truncate long experiment names and descriptions"
It's currently a bit too easy to break the layout if you specify an offensively long experiment **title** (or **description**):

http://idea-town-dev.elasticbeanstalk.com/experiments/experiment-third-which-has-longer-title

![idea_town](https://cloud.githubusercontent.com/assets/557895/11226522/5c12dcf6-8d35-11e5-9766-5cc2a36fe4e5.png)
**Figure 1:** long **title** in the details page. This is supe

[2015-11-17 22:19] pdehaan commented on #262
Feel free to yell at me for being lazy and combining similar issues in the same bug. I can break this into 2 separate bugs if you want (one for long titles, another for long descriptions).

[2015-11-17 22:31] pdehaan opened #263 "Navigation changes too much when scrolling details page"
### Before scroll:

![idea_town](https://cloud.githubusercontent.com/assets/557895/11226843/65c477e4-8d37-11e5-85c1-12c60cd7bd17.png)

Note that we have the "[...]" button in the blue bar nav (which includes **Tour Idea Town**, **Idea Town Wiki**, **File an Issue**, and **Logout** subnav), and then we have a green **[Give Feedback]** button and gray **[Disable _{{experiment.name}}_]** button.

---

[2015-11-17 23:05] pdehaan opened #264 "Footer looks vertically unbalanced"
### Steps to reproduce:
1. Surf to http://idea-town-dev.elasticbeanstalk.com/home
2. Scroll to ze bottom.
3. Gasp dramatically.
### Actual results:

![idea_town_and_change_experiment___django_site_admin_and_auto-tools_projects_mozbase_-_mozillawiki](https://cloud.githubusercontent.com/assets/557895/11227659/1fcb5ef6-8d3c-11e5-98c3-154798ec0076.png)
**Figure 1:** Links in footer not centered vertic

[2015-11-18 00:00] pdehaan opened #265 "ideatown.firefox vs ideatown.mozilla"
My eyes randomly tripped over this, but I wanted to file before I pushed it out of my mind...

| LOCATION | URL |
| --- | --- |
| [/addon/package.json:36](https://github.com/mozilla/idea-town/blob/4b60baf1f25c9f6e6fb0b462faa977f77248bdaa/addon/package.json#L36) | `"https://ideatown.firefox.com"` |
| [/addon/package.json:50](https://github.com/mozilla/idea-town/blob/4b60baf1f25c9f6e6fb0b462faa977f7

[2015-11-18 01:59] lmorchard commented on #265
Yeah, just a placeholder. The `-dist` file should be copied to a non-`-dist` file and all the settings changed to final production values by ops. Still probably worth making even this placeholder consistent with intended prod values where possible.

[2015-11-18 03:02] pdehaan opened #267 "A few HTML errors in experiment-page template"
I tried running [/idea_town/frontend/static-src/app/templates/experiment-page.js](https://github.com/mozilla/idea-town/blob/4b60baf1f25c9f6e6fb0b462faa977f77248bdaa/idea_town/frontend/static-src/app/templates/experiment-page.js) through an HTML5 validator (https://html5.validator.nu/) and it came back with a few errors.

Notably, I think it is just:
1. unclosed `<a>`, and `<div>` tags
2. duplicate

[2015-11-18 05:10] pdehaan commented on #267
Also seeing a couple warnings in [/idea_town/frontend/static-src/app/templates/landing-page.js](https://github.com/mozilla/idea-town/blob/4b60baf1f25c9f6e6fb0b462faa977f77248bdaa/idea_town/frontend/static-src/app/templates/landing-page.js)

---

**UPDATE:** Filed separately as https://github.com/mozilla/idea-town/issues/284

[2015-11-18 17:01] lmorchard commented on #252
Also, FWIW, taking a look today at getting this working myself on our dev instance on elastic beanstalk.

After wrapping my head around this some more yesterday, I suspect that maybe boto - as used by django-storages - _will not_ properly look up the credentials from EC2 metadata. Going to make sure that's working, one way or another, even if I have to move us onto [a private temporary fork of dja

[2015-11-18 18:07] #265 closed, assigned to meandavejustice

[2015-11-18 18:18] johngruen opened #270 "When logged in, logged out state state flashes on refresh"
This gif sort of captures it (ignore the part where i accidently click on the mozVR link)

![flashy-flashy](https://cloud.githubusercontent.com/assets/3323249/11249756/18e57eda-8e29-11e5-9feb-9e4c5425a330.gif)

[2015-11-18 18:18] johngruen opened #271 "Tidy up settings menu"

[2015-11-18 18:34] johngruen opened #273 "Add scss-linting to gulp"
~~@pdehaan this seems like a job for you. Not sure how to handle the ruby dependency~~

@pdehaan, actually, I can take care of the gulp part of this, but IDK how scss-lint might work with travis.

[2015-11-18 18:48] pdehaan commented on #273
@johngruen We could try using https://github.com/sasstools/gulp-sass-lint which I think doesn't have any Ruby dependencies.

[2015-11-18 19:00] johngruen commented on #273
@pdehaan oh cool, i got that working...we have a lot of tidying to do :)

[2015-11-18 20:31] #273 closed, assigned to johngruen

[2015-11-18 21:47] johngruen commented on #220
@lmorchard @pdehaan this is closed, yeah? if not, reopen, but i think it's closed.

[2015-11-18 21:47] #220 closed, assigned to nobody

[2015-11-18 21:50] johngruen commented on #263
@pdehaan, I will fix. Just you wait.

[2015-11-18 23:11] lmorchard commented on #252
So, after some false starts & some tinkering, it appears that the release version of django-storages _should_ work with the IAM role credentials from EC2 metadata.

The one gotcha I ran into is that you have to make sure that the `AWS_ACCESS_KEY_ID` / `AWS_SECRET_ACCESS_KEY` env vars are _removed_ from elastic beanstalk, and not just blank. I had to upload a new .zip bundle with those keys comment

[2015-11-18 23:35] pdehaan opened #279 "Implement "Tour Idea Town" flow"
Currently it doesn't look like the ["Tour Idea Town"](https://github.com/mozilla/idea-town/blob/8e98c7963b58349cd4a1638df9b96f3672dd7a2f/idea_town/frontend/static-src/app/views/settings-menu-view.js#L16) link in the settings drop down menu on http://idea-town-dev.elasticbeanstalk.com/home does anything.

Not sure if we want to add that before Mozlando, or maybe just hide the option.

[2015-11-18 23:42] pdehaan opened #280 "Hardcode image dimensions in HTML templates or move to CSS?"
via https://github.com/mozilla/idea-town/issues/257#issuecomment-157503352

---

Should we be hardcoding image dimensions in the HTML templates, or leave that in the CSS?
1. [`<img data-hook="thumbnail" src="" width="260">`](https://github.com/mozilla/idea-town/blob/6526f8f58b52596c871df8aa644c02e326350508/idea_town/frontend/static-src/app/templates/experiment-page.js#L22)
2. [`<img class="avatar"

[2015-11-18 23:45] pdehaan opened #281 "Hide empty elements on experiment details pages"
via https://github.com/mozilla/idea-town/issues/258#issuecomment-157508739

---

[2015-11-18 23:46] pdehaan commented on #258
Filed as https://github.com/mozilla/idea-town/issues/281

[2015-11-18 23:59] pdehaan opened #282 "Odd experiment layout with 5 items"
Currently http://idea-town-dev.elasticbeanstalk.com/home looks a bit ridiculous (mainly because I'm an idiot and added a bunch of edge case data).
But I noticed that the experiments lay out a bit funky when there are 5 items. Not sure if the 5 items is significant, or if it's a weird layout issue because of my silly data-set, but I can still reproduce the issue if I edit the "Experiment the third

[2015-11-19 00:08] pdehaan opened #283 "Redirect /experiments/ to /home/?"
:warning: Edge case alert! :warning:

Currently, the [details page](http://idea-town-dev.elasticbeanstalk.com/experiments/experiment-number-five) doesn't include any navigation to get back to the experiments list or... well, anywhere really.

For giggles, I tried changing the URL to http://idea-town-dev.elasticbeanstalk.com/experiments/ because I _literally_ don't know any better, and got the drea

[2015-11-19 00:08] pdehaan commented on #283
FWIW, much pretty 404 page dropping in #278.

[2015-11-19 00:18] pdehaan commented on #280
Looks like these are the only 3 references to `height=` and `width=` in the HTML templates:

[code]

[2015-11-19 00:22] pdehaan opened #284 "The element `button` must not appear as a descendant of the `a` element."
Ref: https://github.com/mozilla/idea-town/issues/267#issuecomment-157606828

---

This dirty little grep seems to say there are 3 places we're doing an apparently frowned upon `<a><button/></a>` type nesting:

[code]

[2015-11-19 00:33] pdehaan opened #285 "Duplicate `id` in experiment-page template"
Ref: https://github.com/mozilla/idea-town/issues/267

I addressed the unclosed tags in #277 PR, but the duplicate `id` field error still remains when trying to lint the template against https://html5.validator.nu/

[2015-11-19 00:34] pdehaan commented on #267
**UPDATE:** duplicate `id` attribute issue filed as https://github.com/mozilla/idea-town/issues/285

[2015-11-19 00:47] pdehaan commented on #282
I forgot to add that the layout gets even weirder at <1024px wide, where the bottom row of 2 experiments shift a bit more to the center of the page:

![idea_town_and_odd_experiment_layout_with_5_items_ _issue__282_ _mozilla_idea-town_and_force_square_ish__thumbnails_and_fix_invalid_html_markup_by_pdehaan_ _pull_request__277_ _mozilla_idea-town_and_1__pdehaan_pdehaan____dev_github_idea-town](https:

[2015-11-19 00:54] pdehaan commented on #282
At 788px wide, the experiments shrink to a single column:
![idea_town](https://cloud.githubusercontent.com/assets/557895/11259253/fe50cf7a-8e14-11e5-857f-a3206ec331e5.png)

[2015-11-19 00:59] pdehaan opened #286 "Page title never changes as you navigate site"
Minor thing, but makes it difficult to navigate back through history using the back button:

![idea_town_and_new_issue_ _mozilla_idea-town_and_odd_experiment_layout_with_5_items_ _issue__282_ _mozilla_idea-town](https://cloud.githubusercontent.com/assets/557895/11259329/a3e99c28-8e15-11e5-81d9-7aad8fa77ced.png)

[2015-11-19 11:34] #257 closed, assigned to pdehaan

[2015-11-19 15:41] #240 closed, assigned to johngruen

[2015-11-19 16:14] #271 closed, assigned to johngruen

[2015-11-19 18:13] pdehaan opened #289 "Remove color literals from Sass code (convert to variables)"
Ref: https://github.com/mozilla/idea-town/pull/275

We have a couple hard coded values in the Sass which will need to be extracted into variables, plus it seems like Sass Lint doesn't like using `rgba($black, .4)` in our Sass, and wants those extracted into variables as well.

Current status:

[code]

[2015-11-19 18:14] pdehaan opened #290 "The keyword `all` should not be used with the property `transition`"
Ref #275

Current status:

[code]

We should ignore that Sass Lint rule, or be more specific with our transition properties instead of the vague "all".

[2015-11-19 18:19] pdehaan opened #291 "Remove vendor prefixes from Sass"
Ref #275

[code]

Not sure what to do here. The `indentation` warnings here seem like a bug in multiline rules and Sass Lint.

As for `no-vendor-prefixes`, this is for media query stuff, so not sure if we leverage Autoprefixer to give us prefixes or if we find some mixin to add media queries, or find if there is an way way to ignore specific Sass Lint rules in specific files/blocks to suppress the

[2015-11-19 18:46] pdehaan commented on #267
Closing. The unclosed `<a>` and `<div>` tags were fixed as of #277 PR, and the other 2 issues mentioned above were extracted into separate bugs.

[2015-11-19 18:46] #267 closed, assigned to nobody

[2015-11-19 18:55] pdehaan opened #292 "Settings popup is too sticky"
Not a huge problem on the [home page](http://idea-town-dev.elasticbeanstalk.com/home)[1] where we have a header, but the settings popup is a mildly annoying on the [details page](http://idea-town-dev.elasticbeanstalk.com/experiments/test-title) where it obscures the Enable[2] and Disable[3] buttons.

Not sure if we can close the popup when the user does a `mouseout` or something similar.

![idea_t

[2015-11-19 18:58] pdehaan opened #293 "Open Settings links in new tabs?"
![idea_town](https://cloud.githubusercontent.com/assets/557895/11280738/20f02e9e-8eac-11e5-9df9-6cdb93c46e0b.png)

Currently if you select the ["Idea Town Wiki"](https://wiki.mozilla.org/Idea-Town) or ["File an Issue"](https://github.com/mozilla/idea-town/issues/new) links, it replaces the current tab. We may want to see if we can add `target="_blank"` or some Ampersand magic to get those two link

[2015-11-19 19:02] pdehaan opened #294 "Add social links in footer?"
As a nerd, I often like it if I can easily find a project's GitHub and Twitter links somewhere on the page.
I'm thinking adding a GitHub/Twitter links or icons in the site footer is probably easy enough.

[2015-11-19 19:23] pdehaan opened #295 "Feedback textarea font size is pretty small"
![idea_town](https://cloud.githubusercontent.com/assets/557895/11281339/14c0fc18-8eaf-11e5-8645-93c349e56910.png)

via [idea_town/frontend/static-src/styles/modules/_modals.scss:140](https://github.com/mozilla/idea-town/blob/5759803b2252fdb367d69aef36c9cf647d4e951f/idea_town/frontend/static-src/styles/modules/_modals.scss#L140)

Seems like the `1.1rem` calculates to ~11px. If I remove the `font-si

[2015-11-19 19:26] pdehaan commented on #295
Actually, it looks like we have 4 different font sizes currently in that feedback popup:

![idea_town](https://cloud.githubusercontent.com/assets/557895/11281625/3a3e5ad4-8eb0-11e5-96f1-98b98874d22e.png)

[2015-11-19 19:30] johngruen commented on #293
@pdehaan def

[2015-11-19 19:31] #264 closed, assigned to meandavejustice

[2015-11-19 19:33] johngruen commented on #292
@meandavejustice @pdehaan we should probably close it with a click outside of the button or the box

[2015-11-19 19:39] pdehaan opened #296 "As a user I want a page to tell me which experiments I currently have installed"
We currently have 5 dummy experiments on the [dev server](http://idea-town-dev.elasticbeanstalk.com/home). Without clicking each one separately, I have no easy way to tell which experiments I'm currently enrolled in.

~~Not sure if we want to add a "My Experiments" link in the Settings popup which lists all the currently active experiments I'm participating in (maybe with a [Disable] button next t

[2015-11-19 19:51] pdehaan opened #297 "`IS_DEBUG` is hard coded in gulpfile"
This may make it difficult to build non-debug assets for production.

[code]

&mdash; via [./gulpfile.js:25-26](https://github.com/mozilla/idea-town/blob/69c37a0b5c14abb5aa70fe2be54d18c1e85ca84f/gulpfile.js#L25-L26)

Not sure if we can "cheat" and just use something like this:

[code]

Or if we use something like [**convict**](https://github.com/mozilla/node-convict) for managing configs.
But the

[2015-11-19 21:56] meandavejustice commented on #296
I'm :+1: on this

[2015-11-19 21:58] meandavejustice commented on #294
Do we need an ideatown twitter account? main ideatown name is taken https://twitter.com/IdeaTown

[2015-11-19 23:21] #293 closed, assigned to meandavejustice

[2015-11-19 23:32] pdehaan commented on #294
Not sure why I mentioned Twitter. We probably need to confirm final naming before we go decide on if social media accounts even make sense. But we could do GitHub and point it at the current repo at any time.

[2015-11-20 09:55] johngruen commented on #262
@lmorchard @pdehaan I'd actually prefer we enforced a cap on string length on the django side of things. We're not localizing any time soon so I don't view this as beng totally pressing.

[2015-11-20 10:01] johngruen opened #301 "Each experiment should have a short description and a long description"
Sort descriptions should appear on the home page and be quite short (capped at 60 characters).

Long descriptions can be longer. These should appear on the experiment details page:

![screen-shot-2015-11-19-at-7 43 33-pm](https://cloud.githubusercontent.com/assets/3323249/11297045/0c051308-8f76-11e5-8ccc-32ea81d5a5f0.png)

[2015-11-20 10:06] johngruen commented on #296
@meandavejustice @pdehaan ...we have UX for this...just add an `.active` class to each `.idea-card`. The CSS is already in the app! active experiments will look like this:

<img width="1507" alt="screen shot 2015-11-20 at 11 04 15 am" src="https://cloud.githubusercontent.com/assets/3323249/11297125/9ff340ee-8f76-11e5-8085-2c075cf47463.png">

Don't add anything to settings.

[2015-11-20 10:15] johngruen commented on #289
@meandavejustice why good first bug and good-first-bug?

[2015-11-20 10:32] johngruen commented on #245
@pdehaan we're not localizing any time soon...

[2015-11-20 13:06] meandavejustice commented on #289
@johngruen They were already both added, I wanted people to see all bugs while filtering with both, before I went through and cleaned up and removed the extra label.

[2015-11-20 14:00] johngruen commented on #263
@meandavejustice hey i just pushed a branch demonstrating the intended behavior that's written in a way that's totally unmergable.

[2015-11-20 14:06] meandavejustice commented on #263
@johngruen we don't want the sticky header anymore?(going by your demo)

[2015-11-20 14:10] johngruen commented on #263
@meandavejustice so i'm just making the experiment header sticky on scroll, pull it down and check out the interaction, you might have to change the value on that global setTimeout

[2015-11-20 14:17] meandavejustice commented on #263
@johngruen Ahh, the scroll isn't work for me, there is an error `TypeError: detailsWrapper.offset(...) is undefined`

[2015-11-20 14:24] meandavejustice opened #303 "Remove linting from watch steps"
It would be really nice to remove all of our js and scss linting from the watch steps and put them into a pre-commit hook.

[2015-11-20 15:18] #171 closed, assigned to nobody

[2015-11-20 15:51] meandavejustice commented on #93
_bump_

[2015-11-20 15:52] meandavejustice commented on #93
Just tested, this is still an issue. marking post-mozlando

[2015-11-20 15:53] meandavejustice commented on #132
Can we close this? @lmorchard

[2015-11-20 16:01] lmorchard commented on #132
Still working through this. We have a dev server, but staging & prod are in progress

[2015-11-20 16:18] meandavejustice commented on #92
Unfortunately we cannot link to AMO since our addon is unlisted. I tried testing to see if it would still work as hidden. But cannot switch visibility https://bugzilla.mozilla.org/show_bug.cgi?id=1122107

[2015-11-20 18:54] jaredhirsch commented on #92
Yup, you're exactly right.

There's a bug open to find a way to promote idea town addons from the AMO 'unlisted' state to the 'hidden' state: https://bugzilla.mozilla.org/show_bug.cgi?id=1225536

[2015-11-20 20:33] #292 closed, assigned to meandavejustice

[2015-11-20 20:58] pdehaan commented on #303
I have a proof of concept PR in #305. This was the first time I've used [**git-validate**](https://www.npmjs.com/package/git-validate) module.
There are other alternatives we could check out, such as [**husky**](https://www.npmjs.com/package/husky) which may offer some more verbose output.

[2015-11-20 21:04] pdehaan commented on #301
@johngruen Unrelated to this issue, but I notice that you have a green "&#9673; Now Active" blurb above the experiment name in the screenshot above. I'm not seeing that on the site. Should I file a bug?

[2015-11-20 23:56] pdehaan commented on #291
Ref: https://github.com/sasstools/sass-lint/issues/426

Maybe we can just ignore the `no-vendor-prefixes` and `indent` rules for this specific mixin since we know what we're doing.

[2015-11-21 00:07] pdehaan commented on #291
Another option may be to use something like the [**sass-mediaqueries**](http://paranoida.github.io/sass-mediaqueries/) mixin.

[code]

Plus seems to have some other nice media query functions.

[2015-11-21 00:42] pdehaan opened #306 "Audit vendor/normalize code"
I think this code from the [gulpfile](https://github.com/mozilla/idea-town/blob/f2bdaf6e2f1811520e010ef9e01f050c0430a212/gulpfile.js#L71-L75) (and [here](https://github.com/mozilla/idea-town/blob/f2bdaf6e2f1811520e010ef9e01f050c0430a212/gulpfile.js#L82)) may be orphaned since we've switched from **normalize.css** to **node-normalize-scss** (per #119).

If I manually `rm -rf idea_town/frontend/stat

[2015-11-21 00:43] pdehaan commented on #203
Ref: #306

[2015-11-21 01:05] pdehaan opened #307 "Audit Tabzilla Sass workflow"
I had a couple PRs over in the [**mozilla/tabzilla**](https://github.com/mozilla/tabzilla) repo to make it a bit easier to use w/ Sass.

PRs were merged, so we should probably update our dep to v0.5.1 and take advantage of the easier Sass workflow.

Mainly, instead of needing to manually move around the CSS files and rename to *.scss, we can just do something like this pseudo-magic:

[code]

We sh

[2015-11-21 01:05] pdehaan commented on #203
Ref: #307

[2015-11-21 01:38] pdehaan opened #309 "Prevent the page background from scrolling"
... at least on the experiments details page. I haven't manually tested with the rest of the pages yet.
### Current behavior (before scroll)

![idea_town](https://cloud.githubusercontent.com/assets/557895/11315767/c9590852-8fac-11e5-844f-05de4c9d8873.png)
### Current behavior (after scroll)

![idea_town](https://cloud.githubusercontent.com/assets/557895/11315774/ea3a8adc-8fac-11e5-8b21-63972d4b3c7

[2015-11-21 01:41] pdehaan commented on #309
OK, maybe only on the experiments details page. It looks a bit unpleasant after scrolling if I try and hack the fixed background pos onto the homepage where the gradient is less subtle:

![idea_town](https://cloud.githubusercontent.com/assets/557895/11315826/cf96c9ce-8fad-11e5-9ff9-6700756ee177.png)

[2015-11-21 01:49] pdehaan opened #310 "Clean up the images/ folder"
Re: https://github.com/mozilla/idea-town/tree/master/idea_town/frontend/static-src/images

I'm not familiar with a few of those images. maybe some of them were placeholders that we don't need and are orphaned, or something.

![images](https://cloud.githubusercontent.com/assets/557895/11315879/cfcb1836-8fae-11e5-948a-a3b839d2dd64.png)

[code]

[2015-11-23 15:48] KittyGiraudel commented on #291
If you are on the hunt for a Sass Media-Query manager, I would suggest either [Breakpoint](http://breakpoint-sass.com/) or [Include-Media](http://include-media.com/). Both simple APIs. :)

[2015-11-23 16:38] #261 closed, assigned to meandavejustice

[2015-11-23 16:38] lmorchard commented on #258
https://github.com/meandavejustice/idea-town/commit/26e3e207f2cac4351a446b2bdab78b4724800c96

[2015-11-23 16:38] #258 closed, assigned to meandavejustice

[2015-11-23 16:39] lmorchard commented on #281
https://github.com/meandavejustice/idea-town/commit/26e3e207f2cac4351a446b2bdab78b4724800c96

[2015-11-23 16:39] #281 closed, assigned to nobody

[2015-11-23 16:42] #263 closed, assigned to meandavejustice

[2015-11-23 16:42] lmorchard commented on #243
https://github.com/mozilla/idea-town/commit/c2e0f05bfcbf80af94b7b39fa60dfa0305481c17

[2015-11-23 16:42] #243 closed, assigned to meandavejustice

[2015-11-23 16:42] lmorchard commented on #259
https://github.com/mozilla/idea-town/commit/c2e0f05bfcbf80af94b7b39fa60dfa0305481c17

[2015-11-23 16:42] #259 closed, assigned to meandavejustice

[2015-11-23 17:22] lmorchard commented on #262
Let's keep this open but kick it out of the Mozlando milestone, for now

[2015-11-23 18:17] #38 closed, assigned to meandavejustice

[2015-11-23 18:17] lmorchard commented on #146
This is set from our end I think

[2015-11-23 18:17] #146 closed, assigned to lmorchard

[2015-11-23 18:20] meandavejustice commented on #172
closed for #92

[2015-11-23 18:20] #172 closed, assigned to meandavejustice

[2015-11-23 18:24] meandavejustice commented on #199
add "enabling..." for in between state

[2015-11-23 18:28] jaredhirsch opened #311 "addon-api should work without SDK"
The addon-lib looks great, but the search addon doesn't use the SDK, so we'll need to make a few changes. (More detail to come)

[2015-11-23 22:03] pdehaan commented on #126
This looks broken again. Looks like it changed in https://github.com/mozilla/idea-town/pull/225

![idea_town_and_feat_landing-page___let_users_know_idea_town_is_still_wip_by_johngruen_ _pull_request__225_ _mozilla_idea-town_and_mozilla_idea-town_ _github](https://cloud.githubusercontent.com/assets/557895/11351291/b327a030-91ea-11e5-8b7e-3991bf8896d3.png)

[2015-11-24 10:42] #126 closed, assigned to pdehaan

[2015-11-24 10:42] johngruen commented on #310
@pdehaan good idea!

[2015-11-24 10:54] johngruen commented on #310
we're using:

[code]

[2015-11-24 11:00] johngruen commented on #310
Going to keep the 'count-avatar' file around b/c we're going to need that for install counts. incoming PR to gid of old stuff & cruft.

[2015-11-24 11:08] johngruen commented on #310
#315

[2015-11-24 11:16] johngruen commented on #203
@pdehaan turning this into a tracking bug for sass polish issues

[2015-11-24 11:22] johngruen opened #316 "Make style file and root element naming patterns match templates and views"
These things were written in isolation so there's some odd naming discrepancies. For example, the template name for the front pages is `landing-page.js` while the sass module for styling these pages is `_cta-view.scss`.

[2015-11-24 11:24] johngruen commented on #203
@pdehaan meh, i'm just gonna close this.

[2015-11-24 11:24] #203 closed, assigned to nobody

[2015-11-24 11:28] johngruen commented on #309
First of all @pdehaan, you are not a fraud. Second of all, this was fixed by #304

[2015-11-24 11:28] #309 closed, assigned to nobody

[2015-11-24 14:47] lmorchard commented on #285
https://github.com/mozilla/idea-town/commit/86fd0edaf31f7e2f855ecb46f6dd976be85a10ae

[2015-11-24 14:47] #285 closed, assigned to meandavejustice

[2015-11-24 14:48] lmorchard commented on #310
https://github.com/mozilla/idea-town/commit/a0de63f414023ccca11621952e06710ff2f6ef21

[2015-11-24 14:48] #310 closed, assigned to nobody

[2015-11-24 16:32] #306 closed, assigned to pdehaan

[2015-11-24 16:32] #307 closed, assigned to pdehaan

[2015-11-24 17:11] johngruen commented on #199
@meandavejustice gonna sumbit a test-balloon pr for this one right now

[2015-11-24 19:12] meandavejustice opened #320 "Icon is hard to see with dark theme"
The default theme for Firefox Developer Edition is Dark, the idea town icon is hard to see against this theme.

![icon-demo](https://cloud.githubusercontent.com/assets/1844554/11377728/495d9670-929c-11e5-9a79-06b461a7d0ca.png)

[2015-11-24 19:12] meandavejustice commented on #320
cc/ @johngruen

[2015-11-24 20:59] lmorchard commented on #252
This seems to be working in dev, let's reopen / file new issues if prod problems come up

[2015-11-24 20:59] #252 closed, assigned to nobody

[2015-12-01 22:16] meandavejustice commented on #294
Assigning to @nchapman so we can get an update on the name once that is confirmed.

[2015-12-01 22:22] meandavejustice commented on #270
I'm unable to reproduce this on the issue-191-provisional branch

[2015-12-01 22:24] #204 closed, assigned to nobody

[2015-12-02 18:05] meandavejustice commented on #311
Assigning to @6a68 To see what is needed for universal search.

[2015-12-04 01:59] #195 closed, assigned to lmorchard

[2015-12-04 02:06] meandavejustice opened #325 "Enable/Disable state gets messed up after one install cycle."
https://github.com/mozilla/idea-town/pull/324#issuecomment-161717938

[2015-12-04 10:26] johngruen commented on #320
@bryanbell @meandavejustice should this thing just be an SVG?

[2015-12-04 13:47] johngruen commented on #295
This has been resolved

[2015-12-04 13:47] #295 closed, assigned to johngruen

[2015-12-04 15:13] #199 closed, assigned to meandavejustice

[2015-12-04 20:47] bryanbell commented on #320
[Ideatown icons.zip](https://github.com/mozilla/idea-town/files/52478/Ideatown.icons.zip)
I included an inverted set.

[2015-12-09 15:53] lmorchard commented on #149
Sir Gruen has is updating the dev site with some nice looking content. I'll see about extracting it with dumpdata when it's in a good state

[2015-12-09 19:59] pdehaan commented on #46
I "assume" this also applies to profile images. (If not, let me know and I can file a separate bug instead of hijacking this one).

<img width="1440" alt="fullscreen_12_9_15__2_51_pm" src="https://cloud.githubusercontent.com/assets/557895/11696939/061a26c2-9e85-11e5-9b98-6b19b64d7c66.png">

I notice that jgruen and I both had images served from gravatar, whereas Les had a non-resized headshot from

[2015-12-09 20:06] pdehaan opened #326 "Hardcode gravatar to use HTTPS?"
It looks like gravatar currently is hardcoded to use a protocol-less format:
[`return '//www.gravatar.com/avatar/%s?s=%s' % (email_hash, size)`](https://github.com/mozilla/idea-town/blob/6526f8f58b52596c871df8aa644c02e326350508/idea_town/utils.py#L78-L80)

This makes the developer tools output look a bit unpleasant and scary with a big lock with a red line through it. Not sure if it's worth just f

[2015-12-09 20:40] pdehaan opened #327 "Tweak CSS to only output certain vendor prefixes?"
Per [idea-town/idea_town/frontend/static-src/styles/_base.scss:12-18](https://github.com/mozilla/idea-town/blob/fe24e1c41e9b3e77800db186cbbbc1bb7dc57cb8/idea_town/frontend/static-src/styles/_base.scss#L12-L18), we get something like the generated CSS (via Sass and our [AutoPrefixer](https://github.com/mozilla/idea-town/blob/fe24e1c41e9b3e77800db186cbbbc1bb7dc57cb8/gulpfile.js#L112) task):
### INPU

[2015-12-09 20:54] pdehaan opened #328 "Resizing the browser causes the fonts to try and reload a bunch of times"
After loading the Idea Town site, I foolishly tried to resize my browser (more specifically my dev tools panel) and this seems to cause the fonts to try and reload a metric ton of times:

<img width="851" alt="idea_town_and_idea_town" src="https://cloud.githubusercontent.com/assets/557895/11698508/eef47026-9e8c-11e5-8b19-293e8d03188d.png">

The good news is that the fonts are seemingly cached and

[2015-12-09 21:07] pdehaan opened #329 "Unable to sign in to idea-town site after logging out"
I foolishly clicked the "logout" button in the `...` menu, and now it doesn't seem like I can log back in.
After completing the FxA login flow, I end up on a page which simply says:
### Server Error (500)

http://idea-town-dev.elasticbeanstalk.com/accounts/login/callback/?state={{state}}&code={{code}}&action=signin

[2015-12-09 22:35] meandavejustice commented on #329
Are you on latest master?

[2015-12-09 22:40] pdehaan commented on #329
@meandavejustice I'm just using the hosted site on EBS, not anything locally.

<img width="1440" alt="mozilla_firefox" src="https://cloud.githubusercontent.com/assets/557895/11701143/d819df9e-9e9b-11e5-96d9-5ef7185593e4.png">

[2015-12-09 22:57] pdehaan commented on #329
Oddly, I installed the 0.2.1 XPI from https://github.com/mozilla/idea-town/blob/master/addon/dist/idea-town-addon-0.2.1.xpi, but when I install it, it reports as v0.2.0 in the about:addons page.

[2015-12-10 15:11] meandavejustice commented on #329
sweet thanks @pdehaan

[2015-12-10 15:41] lmorchard commented on #329
FWIW, your addon settings are a bit off... Idea Town Hostname should be `idea-town-dev.elasticbeanstalk.com` to match the protocol setting. This is what mine looks like, and I'm not seeing an error on EB dev ![screenshot](https://www.dropbox.com/s/fzq2rbqtkw6rs39/Screenshot%202015-12-10%2010.43.30.png?dl=1)

[2015-12-10 15:45] lmorchard commented on #329
That said, keeping this issue open because addon settings _really shouldn't_ result in a server 500 error.

Oh wait, huh, now I _am_ seeing a 500 error. Grr.

[2015-12-10 16:03] pdehaan commented on #329
It seems to be back, thanks.

[2015-12-10 16:24] #329 closed, assigned to nobody

[2015-12-10 16:26] lmorchard commented on #329
Looks like there may have also been an FxA issue, which turned into a 500 because templates were missing

https://github.com/mozilla/idea-town/pull/330

[2015-12-10 18:25] lmorchard commented on #326
This would also end up being a problem for local dev, where it's always HTTP. We could possibly vary that on the `DEBUG` setting, though that would also break elastic beanstalk dev if/when we turn on `DEBUG` to diagnose issues

[2015-12-10 18:39] lmorchard commented on #46
This issue should apply to any uploaded images, including profile images. There's absolutely no processing right now at all, not thumbnails, etc. So, all images are full size and scaled in the browser. The only exception are gravatars, which is the fallback used when an uploaded image is missing (right now the majority case).

That avatar image of mine you called out, I uploaded just to test S3 an

[2015-12-10 18:42] pdehaan commented on #326
True, although it looks like the [fonts are hardcoded to HTTPS](https://github.com/mozilla/idea-town/blob/c30f62e04bc521a3b7c1dcd0f4d85ecdc88ab488/idea_town/frontend/templates/idea_town/frontend/index.html#L5):
https://fonts.googleapis.com/css?family=Open+Sans:400,700,300

Feel free to close this out if it isn't worth it (which it doesn't sound like it is since it'd only be an issue in development

[2015-12-10 18:46] chuckharmston commented on #46
We should use the [`<picture>` element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture) for this.

[2015-12-10 20:36] johngruen opened #331 "Add active class to home page preview of active experiments"

[2015-12-10 20:55] pdehaan commented on #331
Ref: #296

[2015-12-10 21:00] #331 closed, assigned to nobody

[2015-12-10 21:47] johngruen commented on #296
DONE-ZO

[2015-12-10 21:47] #296 closed, assigned to meandavejustice

[2015-12-10 21:49] johngruen opened #333 "I want to customize the order of experiments in the list view"
Right not, the most recently updated experiment goes to the end. Let's not do this.

[2015-12-11 15:04] meandavejustice commented on #46
no safari support :( https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture#Browser_compatibility

[2015-12-14 19:57] meandavejustice commented on #320
Thanks @bryanbell

[2015-12-14 21:20] #320 closed, assigned to meandavejustice

[2015-12-15 15:52] meandavejustice commented on #223
@lmorchard What is our story for this now?

[2015-12-15 16:22] lmorchard commented on #223
No story yet, really. We have some Django logs in dev, but not sure what production will look like. Haven't actually looked into statsd / datadog / new relic.

[2015-12-15 21:01] meandavejustice commented on #223
Do we have existing examples to look to within mozilla?

On Tue, Dec 15, 2015 at 8:23 AM, Les Orchard notifications@github.com
wrote:

[2015-12-15 22:18] johngruen opened #338 "Add privacy notice to each experiment"
each experiment will likely have it's own mini-privacy notice.

![screen shot 2015-12-15 at 5 16 33 pm](https://cloud.githubusercontent.com/assets/3323249/11825878/da02a9d6-a34f-11e5-8628-b45e8fd3c6ac.png)

[2015-12-16 18:16] lmorchard commented on #179
https://github.com/mozilla/idea-town/commit/b3b671a0b974c57a60cf5fcc30f9a9ab7838ea0d

[2015-12-16 18:16] #179 closed, assigned to nobody

[2015-12-16 18:17] lmorchard commented on #165
Closing this, since we're moving away from production elastic beanstalk

[2015-12-16 18:17] #165 closed, assigned to lmorchard

[2015-12-16 18:21] lmorchard commented on #177
Tweaking the title to assert that we're going to control updates via the main Idea Town addon. Probably via pings to a server-side API that will support A/B variants, incremental release, etc based on clientUUID or userID

[2015-12-17 14:36] stuartphilp opened #341 "fxa login with account that does not have permission throws django exception"
This is probably expected since it's so early and it's not open to all FxA accounts, but thought I'd log it anyway.

Trying to log in to ideatown.stage.mozaws.net with an FxA account that does not have permission to use ideatown doesn't gracefully handle/reject the login, it shows a Django stack trace.

The relevant part seems to be it tries to raise a PermissionDenied() exception but doesn't retu

[2015-12-17 16:51] lmorchard commented on #341
I'm not sure about the status of ideatown.stage.mozaws.net being completely set up yet. Code might be outdated there, since [I just added an `authentication_error.html` template last week](https://github.com/mozilla/idea-town/commit/4e5b0c8ba816bc8e127eda97633c699e75175734).  We've been working from idea-town-dev.elasticbeanstalk.com, which is auto-deployed from master branch.

That said, _all_ Fx

[2015-12-17 21:43] stuartphilp commented on #341
@lmorchard okay makes sense. so after trying to log in on stage it redirected to stable.dev.lcip.org for fxa login. after entering my account info it sends me to idea-town-dev

[2015-12-22 01:08] meandavejustice commented on #223
cc @6a68

[2015-12-22 01:10] meandavejustice commented on #262
Do we want this in the `internal-release` tag?

[2015-12-22 01:23] meandavejustice commented on #177
Thinking this issue is going to need a bit more discussion, so I'm pushing this off until:
1. i finish other low hanging fruit
or
2. les is back after the break

[2015-12-22 01:23] meandavejustice commented on #169
@johngruen Can I close this issue?

[2015-12-22 15:50] johngruen commented on #169
@meandavejustice...Sorry I've been working on some other Q4 deliverables. Leave open for now. I'll circle back to it ASAP

[2015-12-22 18:46] jaredhirsch commented on #223
Handling server logs is the main use case for heka and the related data pipeline work, which includes some default dashboard options (kibana, I think?). We should set up a meeting with that team--they'll be able to help us figure out which parts they can handle, and which parts we'll need to think through. cc @kparlante

Public wiki docs: https://wiki.mozilla.org/CloudServices/DataPipeline

Privat

[2015-12-22 19:19] meandavejustice commented on #89
This is no longer relevant with the new landing page.

[2015-12-22 19:19] #89 closed, assigned to nobody

[2015-12-22 19:24] meandavejustice commented on #129
We may have another issue for tracking this, but I'm not seeing it. @nchapman Where can I look for updates to idea-town mailing list status? I imagine this will come after any tweaks on the name. But would be nice to have this for internal launch for other users that stumble in.

[2015-12-22 19:37] meandavejustice commented on #223
Sounds good @6a68, we can get a meeting setup for maybe beginning of 2016.

[2015-12-22 20:11] #229 closed, assigned to nobody

[2015-12-28 20:05] #190 closed, assigned to meandavejustice

[2015-12-28 21:48] #338 closed, assigned to meandavejustice

[2015-12-28 21:53] meandavejustice opened #348 "Check that installation count is nonzero on uninstalls"
context: https://github.com/mozilla/idea-town/pull/346#discussion_r48507492

cc/ @lmorchard for discussion

[2015-12-29 23:23] meandavejustice commented on #284
Looks like this has been fixed

[2015-12-29 23:23] #284 closed, assigned to nobody

[2015-12-29 23:58] meandavejustice commented on #328
I have a hunch this is because some of our font sizes are declared in percentages. https://github.com/mozilla/idea-town/blob/master/idea_town/frontend/static-src/styles/_base.scss#L3

You know anything about this @johngruen ?

[2015-12-30 00:01] meandavejustice commented on #327
We need the landing page to be supported in other browsers. Since the example styles above seem to be referring to the flexbox which is used on the main page, I think we may be stuck with the prefixes for now. The only other option I can think of right now would be to build a separate css file for the landing page with all prefixes.

[2015-12-30 21:34] meandavejustice commented on #74
closing since we now have a [README-DOCKER.md](https://github.com/mozilla/idea-town/blob/master/README-DOCKER.md) file

[2015-12-30 21:34] #74 closed, assigned to nobody

[2015-12-31 15:03] meandavejustice opened #349 "Check issue with Accept headers in ampersand-sync"
Probably just need to update our dependencies.

_from `app/collections/experiments`_

[code]

[2015-12-31 15:36] meandavejustice opened #350 "renderButton method call in experiment-row-view appears to not exist."
investigate

[2015-12-31 17:50] cuff-links opened #351 "Creating a new FxA account Logs into a Social Network Failure Page"
# Steps to Reproduce
1. Go to ideatown (https://ideatown.stage.mozaws.net)
2. Click to sign up for new account
3. Create new FxA Account and verify the email
## Expected Result

After verifying email address, you should be taken to a page that says "Thank you for signing up! We will email you when IdeaTown is ready" (or something like that)
## Actual Result

You are taken to a page that says Socia

[2015-12-31 19:31] meandavejustice opened #352 "Add tests for addon / discussion"
Would be interested to see some prior art here.
- [ ] Unit tests
- [ ] integration tests
  cc/ @6a68 @lmorchard

[2015-12-31 19:31] meandavejustice opened #353 "add tests for addon-api"

[2015-12-31 19:35] meandavejustice commented on #147
# Meaningful things to test

## Models

### Me
- has addon install event
- has addon uninstall event
- cookie csrftoken
- fetch success
- fetch fail
- fetch success and sync
- `updateEnabledExperiments`

### Experiment
- enabled is false by default
- enabled install event
- enabled uninstall event

## Collections

### Experiments
- addon-available experiment mapping event
- addon-uninstalled exper

[2015-12-31 19:36] meandavejustice commented on #147
All of the above tests are written to fail above(some of them are fully written and pass).\ There will be a pull request open for tracking very soon.

[2015-12-31 22:56] jaredhirsch opened #355 "Alternative client-side metrics implementation"
The current approach to exposing the idea town metrics endpoint doesn't work for non-SDK (non-jpm) addons, like universal search. Loading code in non-SDK code is [really weird](), and it's hard to see how providing a library could solve the problem for all possible experiments.

Possible approaches:
- xhr to an endpoint (secured via CORS allow-origin headers, rather than user cookies)
- postmessag

[2016-01-01 19:41] meandavejustice commented on #355
:+1: from me.
ping @lmorchard for input.

[2016-01-04 16:23] lmorchard commented on #351
I think this is a duplicate of #341. Also, I don't think ideatown.stage.mozaws.net is not yet a fully set-up instance of Idea Town. I'm curious how folks are finding it and trying things there, I don't think we've linked to it or have publicized it

[2016-01-04 16:23] #351 closed, assigned to nobody

[2016-01-04 17:11] cuff-links commented on #351
@lmorchard  Hello, Les. This link wasn't stumbled upon. Stuart had me working on IdeaTown automation and gave me the link. I checked out #341 and will use the Elastic Beanstalk instance to run the tests instead.

[2016-01-04 18:51] lmorchard commented on #262
Maybe implement validation rules, but at least try to keep the names reasonably short as human content editors / gatekeepers of the site. This isn't user-generated content per se, so the Idea Town Authorities have some say over the content (Maybe needs more thinking about this)

[2016-01-04 18:54] johngruen commented on #234
Here's a link to the working doc: https://docs.google.com/a/mozilla.com/document/d/1FxzBoA1ykMQNMpcgi8ZRR68sCs7lajAFnrwi9fGjKGs/edit?usp=sharing

Here's a mockup:
https://invis.io/HB5BU02AP

[2016-01-04 19:07] lmorchard commented on #132
Notes on [Docker and Cloud Services](https://mana.mozilla.org/wiki/display/SVCOPS/Docker+and+Cloud+Services) (needs an LDAP login)

[2016-01-04 22:07] jaredhirsch commented on #355
@lmorchard How do you want to proceed? I kinda think the navigator API seems nicest for experiments, but I'm fine with whatever.

I can implement whatever's needed on the idea town side, as I'm already working on metrics for search.

[2016-01-05 17:29] lmorchard commented on #355
Not sure, haven't really had a chance to think much about it yet... We've used `navigator` as a means to pass data from the Idea Town addon to the Idea Town website client code.

But, does that work addon-to-addon? What `navigator` reference is shared between addons? Is there a `postMessage` mechanism between addons?

[2016-01-05 19:14] lmorchard commented on #355
To clarify, what I think we _were_ stumbling toward is something like this:
1. An interesting interaction happens in the **Universal Search iframe**
2. **Universal Search iframe** sends a message up to the **Universal Search addon**
3. **Universal Search addon** uses [an **Idea Town code library**](https://github.com/lmorchard/idea-town/tree/master/addon-api) that:
   1. finds an Idea Town login c

[2016-01-05 20:13] jaredhirsch commented on #355
Yup, the new flow sounds good to me.

At some point, I think someone in IRC told me that you can't register new nsIObserver topics restartlessly. But I can't find any docs around that now, and I seem to be able to fire and receive from arbitrary made-up topics in a browser toolbox debugger window. So yeah, that should work, and it's much nicer than polluting global namespace. :+1:

I don't know if

[2016-01-06 15:27] lmorchard commented on #355
Cool!

@6a68 Are you still good with implementing both sides, using nsIObserver messaging as the go-between and having the Idea Town addon send the metrics requests? Don't want to drop the ball if you'd like me to work on it :)

[2016-01-06 15:30] lmorchard commented on #355
Also thinking that the [`addon-api` module](https://github.com/mozilla/idea-town/tree/master/addon-api) could be pulled into the Idea Town addon proper (rather than maintained as a shared module) if the addon takes responsibility for all metrics pings and the interface for experiments is just nsIObserver events.