[2018-08-07 16:52] pdehaan opened #3781 "Remove Fira Sans?"
It _may_ be worth revisiting the design somewhat and using system fonts.

![testpilot-fonts](https://user-images.githubusercontent.com/557895/43789030-ca9571d6-9a23-11e8-8133-09319926c7fe.png)

It looks like we're loading 7 .woff fonts and downloading roughly 590 KB of fonts in Chrome, but only 3 fonts (FiraSans-{Light,Regular,Medium}.woff) in Firefox Beta, for a total of 246.66 KB.

| FONT | SIZE

[2018-08-07 16:54] #3777 closed, assigned to nobody

[2018-08-07 17:01] meandavejustice opened #3782 "Localization Warning box icon is now black?"
first noticed here https://github.com/mozilla/testpilot/issues/3718#issuecomment-410639489

[2018-08-07 17:02] #3718 closed, assigned to nobody

[2018-08-07 17:02] meandavejustice commented on #3782
copied from https://github.com/mozilla/testpilot/issues/3718#issuecomment-410757157

@SoftVision-PaulOiegas Checked against master, and we're having the same issue there.

![icon-color](https://user-images.githubusercontent.com/1844554/43727152-b75eb458-9990-11e8-9a6b-9be60a831ba5.png)

This is peculiar. There haven't been any changes to this component in the past 3 months, yet prod looks good whi

[2018-08-07 17:02] meandavejustice commented on #3718
created https://github.com/mozilla/testpilot/issues/3782 for icon color issue

[2018-08-07 17:23] pdehaan commented on #3778
Possibly related to/fixed by #3779

[2018-08-07 17:30] meandavejustice commented on #3782
In yesterdays meeting about the current milestone, it was mentioned that @chuckharmston might know something about this

[2018-08-07 18:12] meandavejustice commented on #3631
Tried Version `0.7.0` first, which creates this error when trying to run our build

[code]

Error with `0.6.0` is the same, just different line numbers in the stack trace.

[code]

Bumping the size label for this up to medium now.

[2018-08-07 19:48] lmorchard commented on #3631
I think what we've hit is this upstream issue in fluent-react:

The use of `<template>` prevents server-side rendering
https://github.com/projectfluent/fluent.js/issues/175

[2018-08-07 22:28] lmorchard commented on #3781
FWIW, I think this basically ends up being an upstream issue for [the Photon Design System](https://design.firefox.com/photon/visuals/typography.html). But maybe we're not actually using every one of those fonts? I suspect we are, though

[2018-08-08 08:34] SoftVision-PaulOiegas commented on #3778
This occurs for all experiments, not only Advance and it reproduces on all 3rd party browsers (tried Edge, Opera, Safari and Chrome). Also, I think it's related to #3779 since it works on dev and stage now after it was merged.

[2018-08-08 09:11] SoftVision-PaulOiegas commented on #3782
LOL, looks ok on dev and stage without a fix. Maybe the issue was only present on local env?

![screenshot_2018-08-08 firefox test pilot - firefox lockbox](https://user-images.githubusercontent.com/17258026/43828042-16be9c14-9b04-11e8-90b1-464960ed86aa.png)

[2018-08-08 09:12] SoftVision-PaulOiegas commented on #3718
Looks fixed on dev and stage servers.

![screenshot_2018-08-08 firefox test pilot - firefox lockbox 1](https://user-images.githubusercontent.com/17258026/43828144-54c539f0-9b04-11e8-9910-c5ecba1077a6.png)

[2018-08-08 09:15] SoftVision-PaulOiegas commented on #3782
Ah wait, Donovan merged a fix for it. I assume we can close this too @meandavejustice ?

[2018-08-08 14:10] stasm commented on #3631
Sorry that you're having trouble with Fluent. I'll look into the original bug and try to see if it's something I can fix on the `fluent-react` side. Is the error the one mentioned in https://github.com/mozilla/testpilot/issues/3631#issuecomment-411102984?

There are two packages which are related: `fluent` which formats translations defined in FTL files, and `fluent-react` which provides bindings

[2018-08-08 14:53] SoftVision-PaulOiegas opened #3786 "Experiment card "Feedback" button is wrongly displayed lower than default when there is a subtitle"
**[Affected versions]:**
- Firefox 61.0.1 and above

**[Affected Platforms]:**
- All Windows
- All MacOS
- All Linux

**[Prerequisites]:**
- Test Pilot add-on was already installed on a new profile.

**[Steps to reproduce]:**
1. Open Firefox browser with the profile from prerequisites and navigate to https://testpilot.firefox.com/experiments page.
2. Enable first 3 experiments available (Notes, Ad

[2018-08-08 15:25] stasm commented on #3631
I'm trying to set up Test Pilot locally to reproduce the error, but I'm hitting some `optipng`-related build errors.

There's an example in `fluent-react` of how `<Localized>` can be used to localize text inputs with placeholders:

https://github.com/projectfluent/fluent.js/blob/8ac774dd8ef1ab46b6bce8083b891898b25846f8/fluent-react/examples/text-input/src/App.js#L35-L42

I just checked that it wor

[2018-08-08 16:33] meandavejustice commented on #3782
@SoftVision-PaulOiegas If it works on dev then I guess it should be fine, it's still weird to me that this is happening on local

[2018-08-08 16:33] #3782 closed, assigned to nobody

[2018-08-08 16:35] lmorchard commented on #3631
We haven't been able to upgrade to fluent-react 0.7.0 so far due to our server-side rendering running into https://github.com/projectfluent/fluent.js/issues/175

So, what I'm trying to do in PR #3783 is to at least work around our error, until / unless we can upgrade (and assuming the upgrade fixes the issue)

[2018-08-08 16:36] meandavejustice commented on #3631
Thanks @stasm, yes that is the correct error.

We are actually doing the same thing as the example you've linked.

https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/NewsletterForm/index.js#L49

[code]

Feel free to ping me on slack or irc "JSON_voorhees" if you want help getting the local setup going

[2018-08-08 16:38] meandavejustice commented on #3631
@lmorchard stasm said above that they have a fix for the undefined document issue

https://github.com/mozilla/testpilot/issues/3631#issuecomment-411419408

[2018-08-08 20:22] AngusEdward opened #3787 "Sync for Firefox Notes is not working"
Bottom of notes window indicates that I need to log in to sync (although I already am), and when I log in it says it is connecting, then shows an error icon at the bottom of the notes window and essentially loops back saying that I need to log in.  I have updated to the latest version of Firefox on the Mac (61.0.2 (64-bit)) and relaunched Firefox, to no avail.

[2018-08-09 08:46] Softvision-MariusComan commented on #3787
Hi @AngusEdward, thanks for reporting this issue, however considering that this is a "Firefox Notes" issue, I've moved this to its appropriate repo (issue [1348](https://github.com/mozilla/notes/issues/1348)).
Also in that issue, you will find some questions for you in order to help us try to reproduce this.

[2018-08-09 08:46] #3787 closed, assigned to nobody

[2018-08-09 09:38] stasm commented on #3631
I was able to set up Test Pilot locally this morning. It wasn't too hard, actually. The `optipng` issues were related to npm running on wrong permissions.

I can browse to the main page in English and in French, and I don't see any errors in the console. The text input renders correctly. Would you mind providing steps to reproduce this bug?

[2018-08-09 09:58] stasm commented on #3631
The error mentioned in a comment above usually happens when a buggy translation is trying to insert some text content into an `<input>` element wrapped in a `<Localized>`. This could happen if the localization mistakenly sets a value on the message used to localize the `<input>`.

[code]

I verified all files in `locales/` and I don't see any such error. This is a long shot, but perhaps you're see

[2018-08-09 10:07] stasm commented on #3631
Oh wait, I was looking at `newsletterFormEmailPlaceholder ` because the work-around in #3783 touches it, but now I realize that the summary of this issue mentions `MobileDialog`. I found the following code with `<Localized>` wrappers commented out:

https://github.com/mozilla/testpilot/blob/5789c3c8db56425cc0cb6c683c5d7578b5c53848/frontend/src/app/components/MobileDialog/index.js#L205-L223

Are th

[2018-08-09 14:30] easansevere opened #3788 "Cannot open preferences"
Preferences under the "Firefox" tab will not open. Also may key commands do not seem to work on firefox, but works on safari and all other applications. For example, the "ctrl + h" does not hide firefox, but hides all other applications.

[2018-08-09 14:38] stasm opened #3789 "Update to a newer version of Fluent"
The Test Pilot website uses two Fluent dependencies: the core `fluent` package as well as `fluent-react`, the bindings for React. In #3631 I mentioned that I'm working on a fix to `fluent-react`.

Independently of `fluent-react`, I'd like Test Pilot to update to a newer version of the core `fluent` package. You're currently o n 0.4.3 and the latest is [0.7.0](https://github.com/projectfluent/fluen

[2018-08-13 14:38] #3715 closed, assigned to devinreams

[2018-08-13 16:05] johngruen commented on #3781
Agree with @lmorchard here that whole brand design stuff is going to change our font scene anyway. We can close this for now.

[2018-08-13 16:07] clouserw commented on #3789
Marking this small assuming an ES5 build will be provided

[2018-08-13 16:09] clouserw commented on #3788
This isn't the right place for this bug -- maybe try https://support.mozilla.org

[2018-08-13 16:09] #3788 closed, assigned to nobody

[2018-08-13 16:10] #3781 closed, assigned to nobody

[2018-08-13 16:11] clouserw commented on #3763
@chuckharmston any updates here?

[2018-08-14 13:30] SoftVision-PaulOiegas opened #3791 "Experiment title and experiment type strings are wrongly aligned on mobile view"
**[Affected versions]:**
- Firefox 61.0.2 and above

**[Affected Platforms]:**
- All platforms

**[Steps to reproduce]:**
1. Open Firefox browser and navigate to https://testpilot.firefox.com page.
2. Scroll / swipe down to the available experiments section.
3. Click / tap on the "Advance" experiment card and if on desktop, resize the browser to get in mobile view.
4. Observe the title, subtitle a

[2018-08-14 13:57] SoftVision-PaulOiegas opened #3792 "[Featured experiment] Web experiments wrongly display "Download Firefox" button instead of "Go to <experiment_name>" button on 3rd party browsers"
**[Notes]:**
- If Send experiment will get featured after the new UI for the website and the Android app will be released, this issue could surface. We should think at a way to manage this.
- If you run the local page on Firefox browser, the button becomes "Enable Send" so both the cases are something we haven't thought at since we never had a web experiment featured.

**[Affected versions]:**
- A

[2018-08-14 20:12] KhushilMistry commented on #3786
Hey, I want to work on this issue. I have made the change. I will make a PR in a while.

[2018-08-14 21:51] KhushilMistry commented on #3791
Hey, I want to work on this issue.

[2018-08-15 11:50] johngruen commented on #3097
this is fixed

[2018-08-15 11:50] #3097 closed, assigned to johngruen

[2018-08-15 12:08] #3786 closed, assigned to nobody

[2018-08-15 14:47] meandavejustice commented on #3771
Been working on this for a few days now,

* Everything from `depcheck` has been addressed, no more unused or missing deps
* Flow upgrade exposed a lot of Flow errors (around 250) those are now down to 29 as of this morning. PR should be open shortly after I finish fixing these
* Everything is updated except package related to updating fluent (https://github.com/mozilla/testpilot/issues/3789) and w

[2018-08-15 17:45] #3626 closed, assigned to johngruen

[2018-08-15 21:12] KhushilMistry commented on #3716
Hey, I want to work on this issue.
To solve this issue, I need to check whether device is Android or IOS and display buttons according i.e. for any Android only experiment, show Download button only on Android device and don't show anything on IOS device and vice verca for IOS only device. Right ?
Is this also applicable for Experiment detail page ?

![screen shot 2018-08-16 at 02 42 45](https://u

[2018-08-16 14:13] SoftVision-PaulOiegas opened #3798 "Most of the website icons and logos are no longer displayed on Dev server"
**[Affected versions]:**
- Firefox 61.0.2 and above

**[Affected Platforms]:**
- All Windows
- All MacOS
- All Linux

**[Prerequisites]:**
- Boolean `extensions.webapi.testing` new pref was added as `true` on a new Firefox profile.

**[Steps to reproduce]:**
1. Open Firefox browser with the profile from prerequisites and navigate to https://testpilot.dev.mozaws.net page.
2. Observe how the Homepag

[2018-08-16 14:46] SoftVision-PaulOiegas commented on #3786
The fix seems about right. Thanks for the PR @KhushilMistry! 👍

![feedback aligned](https://user-images.githubusercontent.com/17258026/44215935-66f2b980-a17c-11e8-9112-0ec1c554d33b.png)

[2018-08-16 15:04] SoftVision-PaulOiegas commented on #3791
Testing the fix blocked by #3798. I'll check it when we figure out what's causing the issue.

[2018-08-16 15:13] SoftVision-PaulOiegas commented on #3097
True, true.

[2018-08-16 15:19] SoftVision-PaulOiegas commented on #3626
OMG, a miracle has occurred!!! Finally a fix for it. 😆

[2018-08-16 15:50] SoftVision-PaulOiegas commented on #3763
Testing the fix blocked by #3798. I'll check it when we figure out what's causing the issue.

[2018-08-16 20:30] lmorchard commented on #3798
Been banging on this most of today. Weird thing is I haven't been able to reproduce the issue on my local machine - neither under Windows PowerShell nor under the Windows Subystem for Linux. I also haven't been able to reproduce it on an Ubuntu VM in AWS EC2.

Other folks say they can reproduce this on their local machines, so I'm a bit baffled.

The only place I *can* reproduce is on CircleCI. An

[2018-08-16 20:47] lmorchard commented on #3798
I did just realize something interesting from my working build vs the non-working on CircleCI.

My machine has this path to one of the images:

![capture](https://user-images.githubusercontent.com/21687/44234055-98b35280-a173-11e8-895e-15e4493c936a.PNG)

Meanwhile, dev has this path to that same image:

![capture](https://user-images.githubusercontent.com/21687/44234084-acf74f80-a173-11e8-8249-abc

[2018-08-17 03:14] devinreams commented on #3798
I may be mistaken but think this has to do with the `package-lock.json` disappearing at #3797 and so not everything is quite getting installed and in place by webpack (and therefore Circle CI)?

Steps I took to reproduce "missing" images locally: ❌

[code]

Steps to take to "get the images back" locally: ✅

[code]

[2018-08-17 11:14] stasm commented on #3771
I noticed that Test Pilot uses both `uglifyjs-webpack-plugin` and `gulp-uglify`. Are both required?

This might be relevant to the Fluent upgrade in #3789. Fluent's `compat` builds use some ES6+ features, which old versions of Uglify don't support. From what I was able to gather, there are three Uglify packages on npm:

  - `uglify-js` is the master branch and it only supports ES5.
  - `uglify-es`

[2018-08-17 13:23] SoftVision-PaulOiegas commented on #3798
![tenor](https://user-images.githubusercontent.com/17258026/44268344-e1354380-a239-11e8-8396-3313857e488a.gif)

Works like a charm! Merge it 👍

[2018-08-17 13:51] devinreams commented on #3798
[Static deploy](https://circleci.com/gh/mozilla/testpilot/13551?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) to https://testpilot.dev.mozaws.net/ is complete and assets appear to be loading for me.

I think this issue is safe to close if someone else confirms things are back to normal. 😅

[2018-08-17 14:14] SoftVision-PaulOiegas commented on #3798
![200w](https://user-images.githubusercontent.com/17258026/44270731-ffeb0880-a240-11e8-897b-1874296b349c.gif)

[2018-08-17 14:14] #3798 closed, assigned to nobody

[2018-08-17 14:59] SoftVision-PaulOiegas commented on #3763
@chuckharmston your fix seems to have treated the issue on the experiment details page, but the strings on the experiments cards are still in bold.
@johngruen do we care about this? See the initial screenshot.

[2018-08-17 15:40] lmorchard commented on #3798
That restoring `package-lock.json` appears to have fixed this leaves me really confused. Also, have we updated any dependencies in `package.json` since f7fec6e2f6dd7eca7c936577efff0375c16420d0? (Edit: No changes to `package.json` since almost 2 months ago, so that's not it.)

The `package-lock.json` file should ultimately be derived from installations based on `package.json`. Doing an `npm install

[2018-08-17 15:58] lmorchard commented on #3771
[We're 5/7 of the way through removing Gulp from our build chain](https://github.com/mozilla/testpilot/issues/3111) (it's been a slow process) - but we don't actually use gulp-uglify any more as far as I can tell. So, it's just uglifyjs-webpack-plugin. We can upgrade that, as long as it doesn't cause an upgrade cascade that we've been trying to avoid for the time being.

Also I think the larger is

[2018-08-17 15:59] SoftVision-PaulOiegas commented on #3791
Hey @KhushilMistry, managed to test this, but sadly it's only partially fixed. The experiment names are properly aligned now, but the experiment type strings are still a bit out of place (horizontally).

![experiment type not aligned](https://user-images.githubusercontent.com/17258026/44276278-a6d6a100-a24f-11e8-9deb-737abc4a56e7.png)

[2018-08-17 19:16] KhushilMistry commented on #3791
No issue. I will make a change and send a PR in a while.

[2018-08-18 20:04] ShivangiKakkar commented on #3565
@SoftVision-PaulOiegas
Hey, I am new to contributions in Mozilla. Can I work on this issue if someone is not working on it currently?

[2018-08-20 06:56] SoftVision-PaulOiegas commented on #3565
Oh man, I missed the first comment somehow. Sorry for that!
@ShivangiKakkar or @knrt10  sure, any of you can take it and work on it if you consider having the necessary skills.

[2018-08-20 07:09] knrt10 commented on #3565
@ShivangiKakkar if you want you can do it.

[2018-08-20 08:20] stasm commented on #3771
The version of `uglifyjs-webpack-plugin` that you currently use depends on `uglify-es`. I can't say it's enough for all ES6 code out there, but I've verified that it works well with the recent releases of `fluent` and `fluent-react`.

Looking at Test Pilot's [FAQ](https://github.com/mozilla/testpilot/blob/master/docs/faq.md#what-browsers-are-supported-by-test-pilot), I sense some enthusiasm about

[2018-08-20 16:09] ShivangiKakkar commented on #3565
@knrt10 Yeah! if you don't mind :)

[2018-08-20 16:40] ShivangiKakkar commented on #3565
Hey, @SoftVision-PaulOiegas
I am facing some issues regarding this:
1.) In `Prerequisites` I have set `notes.yaml` -> `is_featured` -> `true`. Then notes experiment was shown on my home screen.
2.) Then when I click on the `Install Test Pilot & Enable Notes`, nothing happens and I get `304` in the terminal log.
3.)I didn't get this part: 'Click "Cancel" button on the Test Pilot add-on install door

[2018-08-20 20:17] meandavejustice commented on #3792
Also noticed that we are showing the incorrect action in firefox as well

![untitled](https://user-images.githubusercontent.com/1844554/44364250-059d5400-a4b6-11e8-8e59-51c6e67a0b54.png)

[2018-08-21 11:38] SoftVision-PaulOiegas commented on #3565
hey @ShivangiKakkar I can try to help if none of the devs jumps in, I'm the QA for the project.

In order to clone, build and run it locally I make the next steps:
1. I use the next line of commands in a new terminal (MacOS): `git clone https://github.com/mozilla/testpilot && cd testpilot && npm install && cd addon && npm install && npm run package && cd .."
- This way you have also the Test Pilot

[2018-08-21 19:48] ShivangiKakkar commented on #3565
Hey, @SoftVision-PaulOiegas
It did help :) Thanks a lot for the detailed explanation!

[2018-08-21 23:34] ShivangiKakkar commented on #3462
Hey, @SoftVision-PaulOiegas , @SoftVision-CosminMuntean
I am not able to reproduce this issue.`Four oh four!` message is being displayed even for `/legacy` page.
Is this issue still active?

[2018-08-22 00:06] ShivangiKakkar commented on #3061
Hey! @SoftVision-CarmenFat, @chuckharmston @SoftVision-PaulOiegas
I would like to work on this issue if anyone is not working on it currently.

[2018-08-22 08:37] SoftVision-PaulOiegas commented on #3565
Glad it helped. I can apply now for junior developer role. 😆 Kddin'

[2018-08-22 12:05] SoftVision-PaulOiegas opened #3809 "Dev server is down and all attempts of jobs reruns fail"
**[Notes]:**
- Tried to rerun several recent jobs that passed, every one of the attempts failed.

**[Affected versions]:**
- All browsers

**[Affected Platforms]:**
- All platforms

**[Steps to reproduce]:**
1. Open Firefox browser and navigate to https://testpilot.dev.mozaws.net page.
2. Observe the loaded page.

**[Expected result]:**
- The Test Pilot dev serer page is correctly loaded.

**[Actu

[2018-08-22 21:12] #3565 closed, assigned to nobody

[2018-08-22 22:06] #3771 closed, assigned to nobody

[2018-08-23 10:57] fzzzy commented on #3462
@ShivangiKakkar There was a typo in the url in the original report. The url https://testpilot.stage.mozaws.net/sjare is incorrect, and results in a 404 as expected. However the url https://testpilot.stage.mozaws.net/share still shows the share page, which is the bug.

However, you won't be able to fix this. Only our operations team which has access to the files on the stage server will be able to

[2018-08-23 11:04] fzzzy commented on #3061
@ShivangiKakkar Go ahead.

[2018-08-23 11:08] fzzzy commented on #3809
Dave and I managed to fix this yesterday. 🎉

[2018-08-23 11:08] #3809 closed, assigned to nobody

[2018-08-23 12:50] ShivangiKakkar commented on #3462
@fzzzy,
okay! thanks :)

[2018-08-23 14:07] SoftVision-PaulOiegas commented on #3791
Looks perfect now! Thank you for your contribution @KhushilMistry! 👍

[2018-08-23 14:07] #3791 closed, assigned to nobody

[2018-08-23 14:09] SoftVision-PaulOiegas commented on #3763
Reopening this to clarify the last question. Seems stranger each day. 😄

[2018-08-23 15:21] SoftVision-PaulOiegas commented on #3565
Works like a charm! Thanks @ShivangiKakkar for your contribution! 🥇 👍

[2018-08-23 15:24] SoftVision-PaulOiegas commented on #3792
@meandavejustice Yeah, I have noticed that too while logging this issue. But I assumed this is because we never featured a web experiment, so the default option is shown. Mentioned this also in initial comment at "Notes" section.

[2018-08-23 15:31] SoftVision-PaulOiegas commented on #3462
![bad](https://user-images.githubusercontent.com/17258026/44535457-b5ff9800-a702-11e8-9f8f-1f5d4ace1be2.jpg)

[2018-08-23 16:40] ShivangiKakkar commented on #3565
@SoftVision-PaulOiegas Thank you so much!!  :')

[2018-08-23 18:25] ShivangiKakkar opened #3821 "The waffle board link needs to be updated"
## Waffle  board link inside `process` in `README.md` needs to be updated.

### Steps to reproduce the issue:
- Go to `README.md`. Then click on the `process`.
-  A link is opened which is [this](https://waffle.io/project/create/chosen-repository?repo=mozilla%2Ftestpilot)
- It reads as shown in screenshot, that `mozilla/testpilot` is not a waffle project yet.
<img width="1203" alt="screen shot 201

[2018-08-23 19:18] lmorchard opened #3824 "Re-enable & fix Storybook builds"
Issue #3625 and the recent Webpack upgrade leave Storybook basically broken.

We should upgrade, fix, and re-enable it someday.

[2018-08-23 23:00] meandavejustice commented on #3716
I think it makes sense to still show the App Store button here. It quickly signifies to users that it's available on ios and not android.

[2018-08-24 18:32] meandavejustice commented on #3631
picking this up next week after #3818 is merged

[2018-08-24 19:06] meandavejustice opened #3830 "[release] 2018-08-24 on stage"

[2018-08-27 11:52] SoftVision-PaulOiegas opened #3833 "[Featured experiment] "Go to <experiment_name>" button icon displayed in the wrong color"
**[Affected versions]:**
- All browsers

**[Affected Platforms]:**
- All platforms

**[Prerequisites]:**
- Test Pilot Master branch was locally cloned and setup was performed to run it locally see ([quickstart](https://github.com/mozilla/testpilot/blob/master/docs/development/quickstart.md)).
- Lockbox experiment was marked as not featured `false` in the `lockbox.yaml` file and for Send experiment

[2018-08-27 15:54] SoftVision-CosminMuntean commented on #3830
Hi guys,

We have finalized running our [Full Functional test suite](https://testrail.stage.mozaws.net/index.php?/runs/view/11986&group_by=cases:section_id&group_order=asc) on the Staging server and here are the testing results:

### **Legend** ###
&#x26D4;   - blocker issue
&#x1F4D5; - major issue
&#x1F4D9; - normal issue
&#x1F4D2; - minor issue
&#x1F4D7; - enhancement

## New Issues ##
- No new

[2018-08-27 17:28] ShivangiKakkar commented on #3833
@SoftVision-PaulOiegas , @clouserw
May I work on this issue?

[2018-08-27 17:30] clouserw commented on #3833
@ShivangiKakkar that would be great, please do.  We talked about it in our triage and think it's just a forgotten CSS rule.

[2018-08-27 17:31] ShivangiKakkar commented on #3833
@clouserw Okay! Thank you :)

[2018-08-27 18:10] #3792 closed, assigned to nobody

[2018-08-27 18:33] ShivangiKakkar commented on #3833
Also the error message (in yellow banner) doesn't go away untill we refresh the page. Is that a desired behaviour?
Or it's a bug? @clouserw @SoftVision-PaulOiegas

[2018-08-27 19:26] ShivangiKakkar commented on #3833
Hey! @clouserw,
I am not able to reproduce it. What am I missing? Would you please guide me through that?

<img width="1275" alt="screen shot 2018-08-27 at 11 53 09 pm" src="https://user-images.githubusercontent.com/35342019/44677783-70213780-aa54-11e8-85eb-50b0bb445d25.png">

<img width="1237" alt="screen shot 2018-08-28 at 12 31 19 am" src="https://user-images.githubusercontent.com/35342019/4467

[2018-08-27 20:36] meandavejustice commented on #3833
Hey @ShivangiKakkar you will need to go into `content-src/experiments/send.yml` and set the attribute `is_featured` to true. You'll also need to set that attribute to false in `content-src/experiments/lockbox.yml` for testing.

Don't forget to set them back after getting a screenshot and opening the pr.

[2018-08-27 21:55] #3821 closed, assigned to meandavejustice

[2018-08-27 21:55] meandavejustice commented on #3821
Thanks for filing @ShivangiKakkar , we no longer use waffle, I've removed that section from the process doc

[2018-08-27 21:57] meandavejustice commented on #3660
Just got some feedback from @jrbenny35 on the pull request. I'm going to leave the size at `large` for now since it will probably be a bit time consuming to get these tests passing. Hoping to have them passing by the end of the week.

[2018-08-27 22:53] ShivangiKakkar commented on #3821
Pleasure :) @meandavejustice

[2018-08-28 12:19] SoftVision-PaulOiegas commented on #3833
@ShivangiKakkar

Or it's a bug? @clouserw @SoftVision-PaulOiegas

I know about this behavior, but I think it's due to how the website is implemented like a single page and only the content updates. That's why we haven't logged anything on it.

@dannycoates - is this a limitation due to the implementation, or the error can be dismissed when navigating through the website?

[2018-08-28 12:38] SoftVision-PaulOiegas commented on #3792
Seems fixed while testing on local. 👍 The only remaining issue related is tracked separately in #3833.

[2018-08-28 17:38] #3789 closed, assigned to nobody

[2018-08-29 14:28] meandavejustice commented on #3716
cc/ @johngruen for his opinion. I think this issue should be closed

[2018-08-29 16:38] KhushilMistry commented on #3716
Should I close the PR #3826 ?

[2018-08-30 08:46] SoftVision-PaulOiegas commented on #3716
@meandavejustice @johngruen let's clarify this, we have created a bit of confusion here.

1. Do you guys want to keep showing the iOS App Store button everywhere while viewing the website on Android?
2. Do you guys want to keep showing the iOS App Store button only on experiment details page while viewing the website on Android?

From Dave's comment, I understood the second one at first. But now t

[2018-08-30 17:59] connorshea commented on #3771
Have you considered using something like [dependabot](https://dependabot.com/) or greenkeeper to keep your npm dependencies up-to-date? I use dependabot and it works quite well for my projects :)

[2018-08-30 18:09] lmorchard commented on #3771
We *were* using greenkeeper. But, we had a long run of it suggesting backwards-incompatible upgrades. The pull requests kind of piled up as tech debt chasing upstream API changes at a time when we were busy doing other things as a team (e.g. Test Pilot experiments). [We disabled greenkeeper](https://github.com/mozilla/testpilot/issues/2075) with the intent to get back to it (or something like it),

[2018-08-31 21:26] ShivangiKakkar commented on #3833
@meandavejustice Hey! I just realised that we both pushed the same fix, you can merge any one of them. 😅

[2018-08-31 21:44] ShivangiKakkar commented on #3564
@SoftVision-PaulOiegas @meandavejustice Hey! I would like to work on this issue.
What are the possible ways to resolve this issue? (One possible is putting an check on `max-width`)

[2018-08-31 23:38] clouserw commented on #3771
I tried to enable renovate today, but couldn't figure out how.  Not sure if that says more about me or GitHub's app system.... :-/

[2018-09-01 01:24] Professor-Teplow opened #3842 "Bookmarks toolbar appears briefly on open and then disappears."
I'm running 63.0b2 (64-bit) on a Mac Pro, Early 2009, 2.66 GHz Quad-Core Intel Xeon, 20 GB of 1066 MHz DDR3, OS X 10.11.6. All of a sudden, when I open Firefox, my toolbar bookmarks toolbar opens for about 1/10 sec and then disappears. I've:

1. Reinstalled the app.
2. Reset under Customize.
3. Looked for the "Bookmarks Toolbar Items" icon in customize. It's not there!
4. Toggled Views/Toolbars/Bo

[2018-09-01 08:03] KhushilMistry commented on #3716
I have made a PR if you guys want to reconsider it #3826. I can also make changes on your suggestions.

[2018-09-01 08:07] KhushilMistry commented on #3322
I think this issue has been resolved.

Android

![android](https://user-images.githubusercontent.com/17615573/44943932-2b96f280-adec-11e8-9609-748d700ec0c6.png)

IOS

![iphone](https://user-images.githubusercontent.com/17615573/44943933-2b96f280-adec-11e8-9ba9-a12f01990785.png)

[2018-09-04 15:15] #3833 closed, assigned to nobody

[2018-09-04 15:19] ShivangiKakkar commented on #3833
@meandavejustice Thanks a lot :)

[2018-09-04 15:20] #3763 closed, assigned to nobody

[2018-09-04 15:20] #3631 closed, assigned to nobody

[2018-09-04 16:24] lmorchard opened #3845 "No href for "our documentation" link on the "unapproved hostname" warning dialog"
Setting up a new box and noticed that the documentation link on the config barrier is empty

![capture](https://user-images.githubusercontent.com/21687/45044117-2a103900-b03d-11e8-9ddd-7beb10f2cc51.PNG)

[2018-09-04 17:18] #3636 closed, assigned to meandavejustice

[2018-09-04 17:29] lmorchard commented on #3842
This sounds like a general Firefox issue. Is there a particular Test Pilot experiment that you think is causing this issue? If not, this probably isn't the right place for this issue.

[2018-09-04 17:33] Professor-Teplow commented on #3842
Thanks Imorchard. It's not a Test Pilot experiment. I'll post to the general forum.

[2018-09-04 18:29] fzzzy commented on #3845
I think this might be related to the fluent upgrade.

[2018-09-04 18:36] #3842 closed, assigned to nobody

[2018-09-05 06:53] SoftVision-PaulOiegas commented on #3833
The fix seems to be the right one. 👍 Thanks @ShivangiKakkar for another good fix. 😃

![screenshot_2018-09-05 firefox test pilot](https://user-images.githubusercontent.com/17258026/45078682-4a053280-b0f9-11e8-9bf9-231a83ed9def.png)

[2018-09-05 07:50] SoftVision-PaulOiegas commented on #3763
Verified on both Windows and MacOS and on experiments page and experiment details page. Looks better, thanks for the fix! 👍

[2018-09-06 16:03] clouserw commented on #3771
Alright renovate is enabled!  For the record:

The Mozilla org had already approved Renovate for use in the org, however, a repository owner cannot turn it on.  You have to be an org owner to add it to the repository... which is weird.  Anyway...

[2018-09-07 14:43] meandavejustice commented on #3660
https://github.com/mozilla/testpilot/pull/3828#issuecomment-419461778

[2018-09-09 05:58] nic-csuite opened #3852 "Containers"
Idk if this is a bug or not, but when I go to make a facebook work container, it automatically becomes a personal container

[2018-09-10 16:09] clouserw commented on #3852
That doesn't sound related to Test Pilot.  You might try https://support.mozilla.org/en-US/

[2018-09-10 16:09] #3852 closed, assigned to nobody

[2018-09-10 16:10] clouserw commented on #3845
@stasm is this related to the fluent upgrade?

[2018-09-10 16:16] #3830 closed, assigned to nobody

[2018-09-10 16:17] clouserw commented on #3660
This is blocked on having a macbook delivered to @meandavejustice .  Expect delivery this week.

[2018-09-10 17:03] meandavejustice opened #3854 "[release] 2018-09-10-1 on stage"
https://github.com/mozilla/testpilot/releases/tag/2018-09-10
https://github.com/mozilla/testpilot/releases/tag/2018-09-10-1

[2018-09-10 19:14] meandavejustice opened #3856 "Update babel-loader"
There were some changes to how babel loads plugins, more info here https://github.com/babel/babel-loader/issues/540

[2018-09-10 19:19] lmorchard commented on #3856
Not sure if it helps, but I played with it over the weekend and managed to upgrade babel-loader over on Firefox Color https://github.com/mozilla/FirefoxColor/pull/424/commits/f02963304ef30f048b24cf6f37977b7185331a93

[2018-09-10 19:27] meandavejustice opened #3858 "Update jsdom"
New version gives us following error:
[code]
more info here:
https://github.com/facebook/jest/issues/6766

[2018-09-10 19:30] meandavejustice opened #3859 "Update react, react-markdown & react-dom"
Having an issue where we are getting an error saying that "View component has a render method but isn't extending React.Component". But our View component _is_ extending `React.Component` :man_shrugging:

Haven't found any directly relevant issues yet.

[2018-09-10 19:38] meandavejustice opened #3861 "Upgrade eslint"
this appears to be blocked on an upstream issue, https://github.com/eslint/eslint/issues/10623

[2018-09-10 19:39] meandavejustice opened #3862 "Upgrade seedrandom"
Getting a csp error that `eval` is being used with new version.

[2018-09-12 14:21] SoftVision-PaulOiegas opened #3863 "Featured experiment section "Terms" and "Privacy" links are different than the ones from under the bottom "Install" button"
**[Notes]:**
- it seems that we have 2 pages for Terms and Privacy pages.

**[Affected versions]:**
- Firefox 62.0 and above

**[Affected Platforms]:**
- All platforms

**[Prerequisites]:**
- The `extensions.webapi.testing` Boolean pref was added as `true` on a new profile.

**[Steps to reproduce]:**
1. Open Firefox browser with the profile from prerequisites and navigate to https://testpilot.stag

[2018-09-12 15:14] clouserw commented on #3863
This is two separate resources in AWS.  I kind of think we did that on purpose to make trailing slashes work, and I remember talking about us being confused about it later.  Maybe AWS didn't support redirects?

We'll leave this open to investigate, but it should be easy to see the double copy in the script.

[2018-09-13 07:29] pdehaan opened #3864 "A few possible broken links"
Was playing around w/ [**markdown-link-check**](https://www.npmjs.com/package/markdown-link-check) tonight and found a few possible broken links:

[code]

There's also an API, so there there may be an easier way to scan all .md files using Node instead of OS-specific shell commands.

[2018-09-13 16:21] SoftVision-PaulOiegas opened #3865 "The "Shutting down..." animation words seem to overlap on Italian localization"
**[Notes]:**
- This could be happening on other locales too, checked also German, French, Russian but haven't seen any issues.

**[Affected versions]:**
- Firefox 62.0 and above

**[Affected Platforms]:**
- All platforms

**[Prerequisites]:**
- The `extensions.webapi.testing` Boolean pref was added as `true` on a new profile.
- The Test Pilot add-on was already installed on the same profile.
- Ita

[2018-09-13 16:34] SoftVision-PaulOiegas commented on #3778
I think this was fixed along the way? Can you double check @pdehaan and close it?

[2018-09-13 16:39] SoftVision-PaulOiegas commented on #3854
Hi guys,

We have finalized running our [Full Functional test suite](https://testrail.stage.mozaws.net/index.php?/runs/view/12185&group_by=cases:section_id&group_order=asc) on the Staging server and here are the testing results:

### **Legend** ###
&#x26D4;   - blocker issue
&#x1F4D5; - major issue
&#x1F4D9; - normal issue
&#x1F4D2; - minor issue
&#x1F4D7; - enhancement

## New Issues ##
1. #3863

[2018-09-13 23:10] meandavejustice commented on #3854
The plan is to push to prod monday morning (9am Eastern Time)

[2018-09-14 07:39] KhushilMistry commented on #3696
Hey, I want to work on this issue. Can I ? I will make a PR in a day.

[2018-09-14 14:27] fzzzy commented on #3696
@KhushilMistry please do.

[2018-09-14 16:14] marniepw opened #3866 "Is Send French? Or Spanish?"
1. Was searching for the Test Pilot website: entered "test pilot firefox" in the awesomebar.
2. First result was what I was looking for. Excellent.
3. But then I noticed that the link for Send appeared to be in French. See attached.
4. Same result when I search directly in the Google search bar.

Firefox Nightly 64.0a1 (2018-09-10)
<img width="973" alt="screen shot 2018-09-10 at 4 39 07 pm" src="h

[2018-09-16 20:56] ShivangiKakkar commented on #3564
@SoftVision-PaulOiegas May I ?

[2018-09-17 07:59] SoftVision-PaulOiegas commented on #3866
Seems so. :) I'm kidding, yes, Send is localized on several languages including Spanish and French.

When you see something fishy about L10N, you can go to Menu>Options>General>Language, and add the Language you want to look into. This will change the web content language if available, but not the browser one.

![screenshot_2018-09-17 firefox send](https://user-images.githubusercontent.com/1725802

[2018-09-17 08:56] stasm commented on #3845
I'm back from vacation and I'll look into this tomorrow at the latest.

[2018-09-17 12:01] SoftVision-PaulOiegas commented on #3564
@ShivangiKakkar Of course, be my guest. 😉

[2018-09-17 15:16] marniepw commented on #3866
But I shouldn't be seeing it localized on the Google search results page, when everything else is in English! ;)

[2018-09-17 17:39] ShivangiKakkar commented on #3564
@meandavejustice adjustment of `font-size` percentage in the overall HTML class or should I fix with max-width? Would you please guide me a bit through this? Thanks :)

[2018-09-18 14:49] SoftVision-PaulOiegas commented on #3866
Indeed it's strange to see a result for another language, maybe someone with better knowledge on this area could explain why.

However, I'm not sure, but this my be caused by the frequency of visits when it comes to your area. I don't know how this works on Google behalf, but for me the results are different for example when serching for the same string.

![screenshot_2018-09-18 test pilot firefox

[2018-09-18 15:41] pdehaan commented on #3866
This is tricky to search for...
Maybe this: https://support.google.com/webmasters/answer/6144055?hl=en

[2018-09-19 16:37] meandavejustice commented on #3752
fixed in #3869

[2018-09-19 16:38] #3752 closed, assigned to nobody

[2018-09-19 16:40] #3696 closed, assigned to nobody

[2018-09-19 17:25] stasm commented on #3845
It's somewhat related to the Fluent upgrade :) Before the upgrade the `href` was present in the source JSX. The source is used by Fluent as a fallback if localization is not available. Everything looked OK for en-US users, but the reality was that this page wasn't localized at all. The Fluent upgrade only made this visible.

I opened #3872 to fix the root cause. I've tested it and the warning page

[2018-09-19 18:11] #3845 closed, assigned to nobody

[2018-09-20 16:38] SoftVision-PaulOiegas commented on #3752
No longer reproducible on Windows 10 with Edge v40.15063.674.0. Thanks for the fix @sakshi97 👍

[2018-09-20 16:47] SoftVision-PaulOiegas opened #3876 "[Experiment details] Experiment logo is wrongly displayed over an oval shape instead of a circle in mobile view"
**[Affected versions]:**
- Firefox 62.x and above

**[Affected Platforms]:**
- All Desktop
- All Mobile

**[Prerequisites]:**
- The "extensions.webapi.testing = true" Boolean pref was added on a new profile.

**[Steps to reproduce]:**
1. Open Firefox Desktop or mobile browser and navigate to `https://testpilot.dev.mozaws.net page.
2. Scroll down to the available experiments and tap one of the card

[2018-09-20 16:49] SoftVision-PaulOiegas commented on #3876
This issue might be caused by the fix made in #3869 for #3752.

[2018-09-20 22:17] #3061 closed, assigned to nobody

[2018-09-20 22:23] #3564 closed, assigned to nobody

[2018-09-20 22:23] #3660 closed, assigned to meandavejustice

[2018-09-21 11:33] SoftVision-PaulOiegas commented on #3696
Looks good on both Desktop (Windows and MacOS) and on Mobile (Android and iOS). Thnaks for the fix @KhushilMistry! 👍

[2018-09-21 12:54] SoftVision-PaulOiegas commented on #3061
The animation was added, but when testing this I've noticed that we don't have a pressed state for the button.
@johngruen @youwenliang , do we care about this or we can live without it?

[2018-09-22 08:34] KhushilMistry commented on #3863
Hey, I want to work on this issue.
What should be the URLs ? With '/' or without ?

[2018-09-22 10:30] KhushilMistry commented on #3865
Hey, I want to work on this issue. Will make a PR in a day.

[2018-09-23 09:07] KhushilMistry commented on #3544
Hey, I want to work on this issue. Will make a PR in a day.

[2018-09-24 13:36] fzzzy commented on #3863
@KhushilMistry Both with '/' and without should work, and they should both be the same page. Right now they both work but the pages are slightly different for unknown reasons.

[2018-09-24 15:59] SoftVision-PaulOiegas commented on #3564
The issue no longer reproduces. Verified on Mac OS 10.13.6 using a local copy in order to move a Firefox experiment in featured area since we have Lockbox (mobile) by default.

[2018-09-24 16:33] clouserw commented on #3864
It looks like @chuckharmston removed the variant code in https://github.com/mozilla/testpilot/commit/8decc2ef3b1dc680ba0fe77f1654ecc236288478#diff-d805c1e13ad1d245a4269d1fc45b1444 so this whole file should be removed?  But also https://github.com/mozilla/testpilot/blob/master/frontend/src/app/reducers/varianttests.js is still around.

[2018-09-24 19:22] #3863 closed, assigned to nobody

[2018-09-24 19:58] #3865 closed, assigned to nobody

[2018-09-24 20:10] meandavejustice commented on #3876
fixed in #3879

[2018-09-24 20:10] #3876 closed, assigned to nobody

[2018-09-25 06:25] KhushilMistry commented on #3751
Hey, I want to work on this issue.

[2018-09-25 10:31] #3854 closed, assigned to nobody

[2018-09-25 10:46] SoftVision-PaulOiegas commented on #3863
The user is now redirected to the pages without "/" no matter from where he accesses Privacy and Terms pages. Also, the pages with "/" can still be manually accessed.

[2018-09-25 11:39] SoftVision-PaulOiegas commented on #3865
Checked Italian along with other several languages and it seems to be working fine on the checked ones.

[2018-09-25 12:36] SoftVision-PaulOiegas commented on #3876
The issue is no longer reproducible. tested on Windows 10x64, MacOS 10 13.6 and Android 7.0.

[2018-09-25 17:24] #3544 closed, assigned to nobody

[2018-09-26 08:02] KhushilMistry commented on #3668
Hey, I want to work on this issue. Can I ?
Do you have any mock up to refer ?

[2018-09-26 11:19] SoftVision-PaulOiegas commented on #3668
Sadly there isn't yet. We'll need to see what @johngruen thinks about this.

[2018-09-26 14:04] KhushilMistry commented on #3723
Hey, I want to work on this issue. Should I remove that old header from all the experiement pages and as well from the codebase (Component of Old Header)?

[2018-09-27 09:44] SoftVision-PaulOiegas commented on #3723
I think it needs some UX from @johngruen for reminding the users that they need Firefox if they want to test the experiment. Or is it enough to have this messages on the Homepage and we don't care about the experiment details page?

[2018-09-27 11:49] SoftVision-PaulOiegas commented on #3544
The issue si no longer reproducible. Verified on Windows 10 and Mac OS 10.13 using the latest Nightly Build (20180926) and checked on [en-US], and [de] locales.

[2018-09-27 17:22] siwaniagrawal commented on #3228
Hey, can I contribute to it?

[2018-09-28 08:57] SoftVision-PaulOiegas commented on #3228
@pdehaan @lmorchard ^

[2018-09-28 14:13] pdehaan commented on #3228
@siwaniagrawal absolutely! Let us know if you have any questions.

[2018-10-02 16:30] #3685 closed, assigned to nobody

[2018-10-02 16:34] meandavejustice commented on #3864
@pdehaan Having trouble running this script because of the way windows handles spaces in pathnames I think. Would you mind running again so we can verify this is fixed. Thanks!

[2018-10-02 23:10] pdehaan commented on #3864
@meandavejustice Here's the latest results:

[code]

[2018-10-03 00:31] pdehaan commented on #3864
@meandavejustice I don't have my Windows laptop handy, but this may [or may not] help:

[code]

You'd need to install **globby** and **markdown-link-check** locally though.

[code]

But on the plus side, you could possibly install the devDeps, wrap it in a script, and run it on CI or something to make sure no new broken links sneak in in the future (at the expense of 10-15 seconds per CI execution

[2018-10-03 08:50] SoftVision-CosminMuntean commented on #3685
I have verified this issue using Test Pilot dev website and the issue is no longer reproducible. The view is automatically scrolled for the message to be fully visible. Tested on Android 7.0 and iOS 11.4.1.

[2018-10-03 14:03] KhushilMistry commented on #3684
I have tried to solve this issue with merged PR : #3891. Can you look into it ?

[2018-10-03 18:03] meandavejustice commented on #3864
Thanks @pdehaan !!

[2018-10-04 15:31] #3864 closed, assigned to meandavejustice

[2018-10-04 15:44] meandavejustice opened #3895 "[release] 2018-10-04 on stage"
Mostly just dependency updates and minor ui bug fixes

https://github.com/mozilla/testpilot/releases/tag/2018-10-04

[2018-10-08 12:45] SoftVision-CosminMuntean commented on #3895
Hi guys,

We have finalized running our [Full Functional test suite](https://testrail.stage.mozaws.net/index.php?/runs/view/12847&group_by=cases:section_id&group_order=asc&group_id=94) on the Staging server and here are the testing results:

### **Legend** ###
&#x26D4;   - blocker issue
&#x1F4D5; - major issue
&#x1F4D9; - normal issue
&#x1F4D2; - minor issue
&#x1F4D7; - enhancement

## New Issues

[2018-10-09 17:28] #3895 closed, assigned to nobody

[2018-10-10 14:53] johngruen commented on #3672
@kgeorgiou i think we will need two separate buttons on the main page. @youwenliang per our discussion eariler this week, we can track UX for multi-device experiments here.

[2018-10-11 03:16] youwenliang commented on #3672
Here's what Ryan had for the design:
https://mozilla.invisionapp.com/share/68OIGU9F42T#/screens
https://mozilla.invisionapp.com/share/3QOIGUL2S4R#/screens

I think it's good for now. One thing I would change is to make the two buttons in different colors.
@johngruen what do you think?

like this:
<img width="890" alt="image" src="https://user-images.githubusercontent.com/8919308/46934220-80838500-

[2018-10-13 00:08] chuckharmston opened #3900 "Retire Advance."
This will be effective 2018/10/17

[2018-10-15 18:48] #3900 closed, assigned to chuckharmston

[2018-10-16 09:07] SoftVision-CosminMuntean opened #3904 "No description is displayed on the "ending" warning from the Advance experiment page"
[Notes]:
- Usually, a description is displayed on the "ending warning" that describe what happens next with the experiment and also if it will remain or will be automatically uninstalled after it expires.

[Affected versions]:
- Nightly Firefox 62.0.3 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Following 3 prefs have been set or added on a new profile: "xp

[2018-10-16 09:08] SoftVision-CosminMuntean opened #3905 "The "Learn more" link displayed in the "ending" warning from the Advance page is misaligned"
[Affected versions]:
- Nightly Firefox 62.0.3 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Following 3 prefs have been set or added on a new profile: "xpinstall.signatures.required = false", "extensions.webapi.testing = true", "extensions.install.requireBuiltInCerts = false".

[Steps to reproduce]:
1. Open the Firefox browser with the profile from prerequis

[2018-10-16 16:37] KhushilMistry commented on #3645
I think UI of this page has been changed. So this issue is no more producible. @SoftVision-PaulOiegas Can you check this ?

![screenshot 2018-10-16 at 10 06 23 pm](https://user-images.githubusercontent.com/17615573/47032331-c0349480-d18f-11e8-85cb-92101e841f13.png)

[2018-10-16 20:19] meandavejustice commented on #3861
Some progress is being made upstream, hopefully a new release of eslint will be coming in the next week or so

[2018-10-16 23:13] meandavejustice commented on #3862
seedrandom now uses `eval` in order to

https://github.com/davidbau/seedrandom/blob/released/seedrandom.js#L32

The current version is working fine for us, we can just leave it as is or fine a replacement eventually.

[2018-10-16 23:14] meandavejustice commented on #3858
I was able to get past the localStorage error in a branch today, but now `dom.window._core` has been removed, I'll need to do some digging to find which property to use instead with the new version.

https://github.com/mozilla/testpilot/blob/master/frontend/test-setup.js#L34

[2018-10-17 00:21] lmorchard commented on #3862
I want to say seedrandom is related to variant test support we used to have. I wonder if it could go away?

[2018-10-17 12:37] meandavejustice commented on #3904
Issue now irrelevant since `2018-10-15` was deployed

[2018-10-17 12:37] #3904 closed, assigned to nobody

[2018-10-17 12:38] meandavejustice commented on #3905
no longer relevant since `2018-10-15` was deployed

[2018-10-17 12:38] #3905 closed, assigned to nobody

[2018-10-17 12:40] meandavejustice commented on #3862
Yeah, only place we are using it is in a reducer for varianttests. https://github.com/mozilla/testpilot/blob/f8a4e4521574c5ee90fcee6c3d96a5fd5f7f725d/frontend/src/app/reducers/varianttests.js#L39

[2018-10-17 16:17] #3856 closed, assigned to meandavejustice

[2018-10-17 17:02] #3859 closed, assigned to nobody

[2018-10-17 22:14] KhushilMistry commented on #3566
Hey, I want to work on this issue. Will make a PR in a day or two.

[2018-10-22 12:06] #3672 closed, assigned to nobody

[2018-10-22 12:14] #3364 closed, assigned to nobody

[2018-10-24 19:37] #3751 closed, assigned to nobody

[2018-10-24 20:58] #3566 closed, assigned to nobody

[2018-10-26 18:28] pdehaan opened #3917 "Firefox Color Facebook and Twitter icon metadata points to 404s"
### Steps to reproduce:

1. Go to https://testpilot.firefox.com/experiments/color directly.
1. Inspect DOM.

### Actual results:

[code]

Both of those images seem to 404 for me when I try navigating to them directly.

Note that the color.yaml points to an odd "../notes/.." path, but I can't seem to find the "color-fb.jpg" or "color-twitter.jpg" files anywhere in my local repo:

https://github.com

[2018-10-26 18:38] pdehaan opened #3918 "Side View Facebook and Twitter icon metadata points to 404s"
Ref #3917

### Steps to reproduce:

1. Go to https://testpilot.firefox.com/experiments/side-view directly.
1. Inspect DOM.

### Actual results:

[code]

Both of those images seem to 404 for me when I try navigating to them directly.

Note that the side-view.yaml points to an odd "../notes/.." path, but I can't seem to find the "side-view-fb.jpg" or "side-view-twitter.jpg" files anywhere in my loca

[2018-10-26 21:59] pdehaan opened #3919 "Add experiment YAML linter?"
GitHub is telling me this may be possibly related to #1308. Fancy!

But I wrote a crude ./content-src/experiments/*.yaml linter at
https://gist.github.com/pdehaan/e61662b050564ee9ec0963f0d7547f04, although it could use a bit of refining.

But so far it caught a few issues w/ a new experiment (https://github.com/mozilla/testpilot/pull/3913#discussion_r228602495), as well as potential issues w/ Side

[2018-10-27 09:54] KhushilMistry commented on #3497
Hey, I want to work on this issue. @meandavejustice can you guide me a little bit?

[2018-10-30 10:54] SoftVision-PaulOiegas commented on #3645
Yes, the UI has changed a bit, but the issue is still present for Lockbox experiment for example. But you will need a VPN client (try [Windscribe](https://addons.mozilla.org/en-US/firefox/addon/windscribe/) from Mozilla add-ons) to fake location to US since the phone number modal part only shows up if you have IP location in US.

Here are the steps:
1. After you have your VPN active, open Firefox

[2018-10-30 11:33] KhushilMistry commented on #3645
Cool Thanks. Will make a PR in a day or so.

[2018-10-30 17:35] SoftVision-PaulOiegas commented on #3566
This seems to have been fixed on French language. Performed testing on local using Mac OS 10.13.

[2018-10-30 17:56] SoftVision-PaulOiegas opened #3925 "[Featured experiment] Mobile platform download buttons wrongly have the same color"
**[Affected versions]:**
- Firefox 63.0 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Local clone the master Test Pilot branch.
- Perform the setup in order to run the build locally and start the server as in [quickstart ](https://github.com/mozilla/testpilot/blob/master/docs/development/quickstart.md) doc.
- Edit the "lockbox.yaml" file by add

[2018-10-30 17:57] SoftVision-PaulOiegas commented on #3672
The functionality was implemented and works as requested. verified on local using Mac OS 10.13 machine.
However it seems that we have an issue on the buttons color that I've filled separately in #3925 so I won't need to reopen this.

[2018-10-30 18:28] pdehaan opened #3926 "Enable StrictMode for development?"
This was a handy tip I learnt while watching a [React Suspense video](https://www.youtube.com/watch?v=SCQgE4mTnjU&feature=youtu.be&t=351), but may be useful: https://reactjs.org/docs/strict-mode.html

[code]

Now I see a few warnings in my Firefox Dev Tools console:

[code]

<details>
<summary><kbd>$ git grep --heading -n --break "componentWillMount"</kbd></summary>

</details>

<details>
<summary

[2018-10-30 20:19] lmorchard commented on #1
# GitHub Pages Deployment
Pull Request: https://lmorchard.github.io/photon-components-web/pull/1/index.html
Branch: https://lmorchard.github.io/photon-components-web/branches/lmorchard-patch-1
Commit: https://lmorchard.github.io/photon-components-web/848974745892dd58b07cc268af6ec642bd0f26ed/
https://lmorchard.github.io/photon-components-web/848974745892dd58b07cc268af6ec642bd0f26ed//dist.zip

[2018-10-31 16:40] SoftVision-PaulOiegas commented on #3668
@KhushilMistry I think this can be unblocked by using the same design from #3672.
@johngruen anything to object? 😄

[2018-10-31 17:03] SoftVision-PaulOiegas opened #3928 "[Enhancement] iOS Apple or Android logos should be displayed on "Get the App" button depending on supported platform"
**[Affected versions]:**
- Firefox 63.0 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- Set the "extensions.webapi.testing" boolean pref to "true" in "about:config" page.

**[Steps to reproduce]:**
1. Open Firefox browser and navigate to https://testpilot.dev.mozaws.net.
2. Observe the Lockbox iOS "Get the App" button from Featured experiment sec

[2018-11-01 19:41] KhushilMistry commented on #3925
Hey, I want to work on this issue. Will make a PR in a day.

[2018-11-01 20:36] KhushilMistry opened #3933 "[Featured experiment] Get the App Modal wrongly shows Google Play Store Button on Lock Box(iOS Experiement)"
![screenshot 2018-11-02 at 2 01 24 am](https://user-images.githubusercontent.com/17615573/47878235-cbe8b200-de43-11e8-8709-ca29a9c0a2fb.png)

@SoftVision-PaulOiegas is it right behaviour ?

[2018-11-02 09:50] KhushilMistry commented on #3928
Hey, I want to work on this issue. Will make a PR soon.
I have a question : Should the color be the same for both the button i.e. green ? Or you want blue for iOS experiment and green for Android experiment ? Something like following :

![screenshot 2018-11-02 at 4 38 09 pm](https://user-images.githubusercontent.com/17615573/47912211-d182de00-debd-11e8-9926-a3b31a6bdf89.png)
![screenshot 2018-11-0

[2018-11-02 23:37] pdehaan opened #3935 "Social images for Email Tabs are 404ing"
[code]

_Originally posted by @pdehaan in https://github.com/mozilla/testpilot/pull/3934/review_comment/create_

[2018-11-02 23:40] pdehaan opened #3936 "Email Tabs has different min version in manifest.json and experiment YAML file"
Interesting... [**mozilla/email-tabs** /addon/manifest.json.tmpl:16](https://github.com/mozilla/email-tabs/blob/108586b1ec48d67d12cb8bbc12cf75666fa87f2c/addon/manifest.json.tmpl#L16) says the manifest.json `strict_min_version` is "57.0a1", but here we're saying "62".

https://github.com/mozilla/testpilot/blob/e1473e57c88407244573fd94be75140c84f95697/content-src/experiments/email-tabs.yaml#L6

_Ori

[2018-11-05 15:59] meandavejustice commented on #3497
@KhushilMistry Sure thing, You'll want to run the command `npm run flow-coverage` to get the most up to date output. Then you can pick a file or two and try to update the flow errors. [docs are here](https://flow.org/en/docs/).

Best way to approach this would be to chip away in small chunks. Just try and fix 1-3 files for each pull request. In your first time through just try and get the low hang

[2018-11-05 17:08] SoftVision-PaulOiegas commented on #3928
hey @KhushilMistry, please don't rush with this since it's an enhancement proposal and wasn't triaged yet. We'll need to see if @johngruen thinks it adds value to the current implementation or not first.

[2018-11-05 17:15] SoftVision-PaulOiegas commented on #3933
@KhushilMistry Is there a chance that this issue is the same as #3650 and #3652?

[2018-11-06 13:42] KhushilMistry commented on #3933
Yes, it is same as #3650. I guess this is due to new introduction of iOS and Andriod buttons in Featured Experiement.
Should I make a PR for this ?

[2018-11-06 16:17] johngruen commented on #3933
Just a heads up...since we're de-featurizing Lockbox, this does not need to block a release with new experiments.

[2018-11-06 17:36] pdehaan opened #3940 "Add final Price Wise video before launch"
_Originally posted by @pdehaan in https://github.com/mozilla/testpilot/pull/3913#pullrequestreview-172139886

[2018-11-06 18:26] pdehaan opened #3941 "Optimize Price Wise image assets"
Sorry, I only looked at these on GitHub and didn't pull them locally:

[code]

Note how the details/*.png files are 1.6MB and 1.8MB respectively (although it looks like imagemin-cli can only reduce those to 1.2M each, but that's still ~2.4MB vs ~3.4MB):

[code]

| IMAGE | BEFORE | AFTER | +/- |
|:------|-------:|------:|----:|
| price-wise/avatars/bianca.jpg | 16K | 10K | -6K
| price-wise/avatars/

[2018-11-06 21:17] #3933 closed, assigned to nobody

[2018-11-06 21:45] #3941 closed, assigned to nobody

[2018-11-06 21:50] #3925 closed, assigned to nobody

[2018-11-07 16:20] #3935 closed, assigned to nobody

[2018-11-07 16:20] #3936 closed, assigned to nobody

[2018-11-07 20:00] #3645 closed, assigned to nobody

[2018-11-08 23:50] #3940 closed, assigned to nobody

[2018-11-09 01:55] devinreams opened #3946 "[release] 2018-10-08 on stage"
We have deployed the latest code to stage (no tag yet) and plan to launch Monday morning (7 AM Pacific US time) assuming no blockers found.

[2018-11-09 10:20] SoftVision-CarmenFat opened #3947 "The "Firefox experiment" tag is misplaced if the"unsupported browser version" warning is displayed"
[Affected versions]:
- Firefox 62.0.3 and older

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.
- Old Firefox 62.0.3 or lower was installed/extracted on the system.

[Steps to reproduce]:
1. Open the old browser version with the profile from prerequisite and

[2018-11-09 10:29] SoftVision-CarmenFat opened #3948 "Price Wise is wrongly installed on unsupported Firefox version"
[Notes]:
- The "Price Wise requires Firefox 63 or later." error is displayed only if the Test Pilot add-on is installed. Even though, this error doesn't stand out since it's just a string blending with other ones near it (issue tracked [here](https://github.com/mozilla/testpilot/issues/3947)).

[Affected versions]:
- Firefox 62.0.3 and older

[Affected Platforms]:
- All Windows
- All Mac
- All Lin

[2018-11-09 12:45] Softvision-PatriciuPop opened #3949 "The "terms", "privacy" and "this experiment's privacy policy" strings are not linked to their respective pages for the "Email Tabs" experiment."
[Affected versions]:
- Firefox Release Version 63.0.1, Build ID 20181030165643

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "extensions.webapi.testing" pref has the "true" value.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisites.
2. Navigate to https://testpilot.stage.mozaws.net/experiments/email-tabs.
3. Observe the string under t

[2018-11-09 16:27] SoftVision-CosminMuntean commented on #3946
Hi guys,

We have finalized running our [Full Functional test suite](https://testrail.stage.mozaws.net/index.php?/runs/view/13533&group_by=cases:section_id&group_order=asc&group_id=94) on the Staging server and here are the testing results:

### **Legend** ###
&#x26D4;   - blocker issue
&#x1F4D5; - major issue
&#x1F4D9; - normal issue
&#x1F4D2; - minor issue
&#x1F4D7; - enhancement

### **New Issu

[2018-11-09 18:04] #3947 closed, assigned to nobody

[2018-11-09 18:04] #3949 closed, assigned to nobody

[2018-11-09 18:09] meandavejustice commented on #3948
Our `isMinFirefox` test checks against the version we set for testpilot.
https://github.com/mozilla/testpilot/blob/master/frontend/src/app/config.js#L3

We can either update the min testpilot version to `63` or add some functionality to also check the min version of the experiment in the main install button also.

[2018-11-09 18:36] #3948 closed, assigned to meandavejustice

[2018-11-09 22:00] pdehaan opened #3952 "Price Wise is missing a few links on details page"
Just noticed the [Price Wise experiment (dev)](https://testpilot.dev.mozaws.net/experiments/price-wise) doesn't have the following links in the sidebar:

- Launch tour
- Changelog
- Contribute

Maybe not a big deal, but thought I'd mention it in case we are missing something in the YAML or need to do some light tweaking.

| Price Wise | vs | Email Tabs |
|------------|----|------------|
| ![firefo

[2018-11-09 22:13] pdehaan opened #3953 "email-tabs doesn't have video_url"
Ref: [/content-src/experiments/email-tabs.yaml](https://github.com/mozilla/testpilot/blob/master/content-src/experiments/email-tabs.yaml)

Not sure if we need/want it for launch, but I noticed we had one for Price Wise and a handful of the other e'speriments.

/cc @johngruen

[2018-11-09 22:20] devinreams commented on #3946
Thank you for the speedy review! We have closed all the new issues in preparation for launch on Monday. 😀

[2018-11-09 22:20] #3946 closed, assigned to nobody

[2018-11-12 05:10] chuckharmston commented on #3952
These are all known. Thanks for flagging, though!

[2018-11-12 05:10] #3952 closed, assigned to nobody

[2018-11-12 17:26] johngruen commented on #3953
closing due to extreme meh

[2018-11-12 17:26] #3953 closed, assigned to nobody

[2018-11-12 17:36] SoftVision-PaulOiegas commented on #3948
No longer reproduces on Fx 62.0.3, verified on Windows 10 and Mac OS 10.13. You an no longer install TxP on older versions of Firefox than 63.x. Even if TxP was already installed before, the featured experiment cannot be installed from homepage or experiment details page.

[2018-11-12 17:43] SoftVision-PaulOiegas commented on #3947
This is no longer reproducible on both Windows 10 and Mac OS 10.13 systems tested.

![image](https://user-images.githubusercontent.com/17258026/48365328-48388c00-e6b3-11e8-85f2-683566d1335d.png)

[2018-11-13 00:09] BruceAWilliams opened #3983 "Not able to add product to price wise, add button is grey"

[2018-11-13 03:16] pdehaan commented on #3983
Moved to https://github.com/mozilla/price-wise/issues/265.
Closing in favor of Price Wise bug.

[2018-11-13 03:16] #3983 closed, assigned to nobody

[2018-11-13 14:20] SoftVision-PaulOiegas opened #3984 "[Experiment details] Email Tabs page wrongly mentions "Firefox Color" in the legal string under the green install button"
Issue found by @flodolo and mentioned on Slack. Logging it on his behalf.

**[Affected versions]:**
- Firefox 63.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Steps to reproduce]:**
- Test Pilot is not installed on the used profile.

**[Steps to reproduce]:**
1. Open Firefox browser with the profile from prerequisites and navigate to https://testpilot.firefox.

[2018-11-13 16:05] marniepw commented on #3984
@meandavejustice is this something you can look into? thanks!

[2018-11-13 16:19] devinreams commented on #3984
Quick patch at https://github.com/mozilla/testpilot/pull/3985

I triple checked and didn't see anywhere else we had a mistaken reference..

[2018-11-13 17:34] SoftVision-PaulOiegas commented on #3925
Buttons color has been fixed. iOS has blue and Android has green now. This reflects on both Featured experiment section and Experiment details page.
https://screenshots.firefox.com/79atmlYyD8scBCwy/example.com
https://screenshots.firefox.com/ifd6a4nXEceHqNl5/example.com

[2018-11-13 18:27] #3984 closed, assigned to nobody

[2018-11-13 18:33] pdehaan opened #3986 "Some odd closing tags like `</ modal -link>` in some locales"
I'm noticing some odd closing tags like `</ modal -link>` in some cases. Not sure how to check globally for those, or if they're even broken in the front end for those locales.

Possibly closer to a solution, although very ignorant greppin' on my part:

[code]

_Originally posted by @pdehaan in https://github.com/mozilla/testpilot/pull/3985/comment#issuecomment-438385125_

[2018-11-18 21:28] holmbuar opened #3989 "Test pilot web site not recognizing Firefox 63"
#### STR:
in Ubuntu 18.04.1 all updated and with Firefox 63.0.
1. Sign in to Firefox account
2. Open https://testpilot.firefox.com/
3. Try finding install link with Firefox tracker cookie block enabled
4. Disabling content blocking for test pilot site. Retry

#### Expected result:
1. Being able to install Test Pilot by clicking "install Test Pilot" as described in [1].

#### Actual result:
1. Get

[2018-11-19 07:22] holmbuar commented on #3989
I solved it. After a tip in another Test Pilot issue I looked up `about:config` in the search bar. There I found  `privacy.resistFingerprinting` and set it to `false`. Problem solved.

Still there is the issue about standard Firefox browser not giving access to a Firefox feature.

[2018-11-22 15:57] SoftVision-PaulOiegas opened #3991 "[Experiment details] No job title displayed for any of the Price Wise contributors"
**[Affected versions]:**
- Firefox 63.0.3 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Steps to reproduce]:**
1. Open Firefox browser and navigate to https://testpilot.firefox.com page.
2. Click on "Price Wise" experiment title from "Featured experiment" section.
3. Scroll down to the "Brought to you by" section on left side of the page.
4. Observe the elements d

[2018-11-23 03:03] pdehaan commented on #3991
I think this was a known issue; per https://github.com/mozilla/testpilot/pull/3913#issuecomment-436294824

[2018-11-27 21:41] bradsm1th opened #3994 "Keyboard shortcut conflict (1Password & Multi-Account Containers)"
Looks like the "Ctrl + <period>" shortcut is the only option available Multi-Account Containers (6.0.0). That's fine except it's also the only option for 1Password's X (1.12.3).

Can there be an option either to 1) disable the hotkey or 2) assign it to another combo? Or both?

Thanks!

[2018-11-27 22:18] lmorchard commented on #3994
I *think* this might be an issue for Multi-Account Containers? https://github.com/mozilla/multi-account-containers

[2018-12-05 13:59] SoftVision-PaulOiegas opened #3996 "[Featured experiment] The "View details" button is no longer displayed if experiment is enabled but Test Pilot add-on is not"
**[Affected versions]:**
- Firefox 63.0.3 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Steps to reproduce]:**
1. Open Firefox browser and navigate to https://testpilot.firefox.com page.
2. Observe the buttons available for "Price Wise" featured experiment.
3. Click the "Install Test Pilot & Enable Price Wise" green button and follow the flow and install both of t

[2018-12-06 09:28] KhushilMistry commented on #3996
Hey, I want to work on this issue. Will make a PR in a day.

[2018-12-06 09:36] SoftVision-PaulOiegas commented on #3996
I was hoping you'll jump in. Thanks @KhushilMistry! 😄

[2018-12-06 22:38] KhushilMistry commented on #3996
@SoftVision-PaulOiegas I have made the PR. You can assign me any issue you find suitable for me. I will be pleased to help.

[2018-12-10 17:49] #3716 closed, assigned to nobody

[2018-12-16 13:26] renovate[bot] opened #4004 "Dependency deprecation warning: gulp-util (npm)"
On registry `https://registry.npmjs.org`, the "latest" version (v3.0.8) of dependency `gulp-util` has the following deprecation notice:

`gulp-util is deprecated - replace it, following the guidelines at https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package auth

[2018-12-16 20:38] AfroThundr3007730 commented on #3989
Indeed. There really should be a way to override the useragent check and install the extension directly. Toggling the `privacy.resistFingerprinting` pref off just for the site is slightly annoying.

[2018-12-17 07:52] SoftVision-PaulOiegas commented on #3989
Please keep in mind that `privacy.resistFingerprinting` is not a default setting for the Firefox Browser. It's an optional setting that fakes your user agent for trackcking reasons, and that only the user or another add-on switches to `true`.
Also, this will happen with any add-on from [AMO](https://addons.mozilla.org/en-US/firefox/) that does not support the version faked by this pref. So no, it'

[2018-12-17 13:00] AfroThundr3007730 commented on #3989
I understand that, but AMO has (or used to anyway) a "download anyway" link when it detected an incompatible browser, to allow the user to pull down the extension. If I'm spoofing an older UA, Firefox would then install the addon, or if I was actually using Edge or something, I could still pull the XPI and sideload it into Firefox. I just think the site could do with a similar link for users who k

[2018-12-17 15:55] SoftVision-PaulOiegas commented on #3989
Yes, it used to, but it was removed in the new UI. Probably to not encourage users to install obsolete add-ons or add-ons on obsolete environments.

However, I understand what you say, but it's not up to me (QA here). Sadly, as far as I know, the pref is rarely used by end users, so I don't think the development team will change the implementation since it's not a priority. But, we'll see their op

[2018-12-17 16:09] SoftVision-PaulOiegas commented on #3989
@torlarse I'm not sure we can consider this an issue since that pref fakes the browser user agent (simulates older Firefox version). Every Firefox add-on is conditioned by version, because some of them need APIs that weren't implemented from the start. It's the same case here, Test Pilot works only on Fx63 and up since one of the latest experiments released needs an API implemented only in Firefox

[2018-12-17 22:11] AfroThundr3007730 commented on #3989
I can certainly see how it can be a nightmare trying to circumvent a feature designed specifically to block exactly what you'd have to do: identify the actual browser version being used.

I still think that somewhere on the page (doesn't have to be prominent) the download anyway link should be present. I want to push to add this back to AMO as well, so I don't have to resort to UA spoofing to pull

[2018-12-18 16:36] #4004 closed, assigned to nobody

[2018-12-19 12:54] SoftVision-PaulOiegas commented on #3322
@KhushilMistry Wow, somehow I've missed your comment. Sadly it's not the same on the Test Pilot homepage.

![screenshot_20181218-170149](https://user-images.githubusercontent.com/17258026/50221404-a6851880-039d-11e9-8001-338461e11797.png)

I would personally go with the one on iOS for both mobile platforms, since the same message is displayed for 3rd party browsers like Edge, Chrome, etc on deskto

[2018-12-19 15:59] SoftVision-PaulOiegas opened #4006 "[Experiment details] Android and iOS experiment details pages are not alike"
**[Affected versions]:**
- Firefox 64.0.1 (Android)
- Firefox 14.0 (iOS)

**[Affected Platforms]:**
- iOS 12.0.1
- Android 7.0

**[Prerequisites]:**
- Latest Firefox browser version was installed on the mobile device.

**[Steps to reproduce]:**
1. Start the Firefox app on both the Android and iOS device and navigate to https://testpilot.firefox.com page.
2. After redirected, swipe down and tap on

[2018-12-19 16:01] SoftVision-PaulOiegas commented on #3322
And if we are talking about Android vs iOS differences, found another mismatch and logged it separately #4006.

[2018-12-21 14:55] Softvision-RemusDranca opened #4007 "The experiments platform icons are wrongly displayed on "RTL" locales"
**[Affected versions]:**
- Firefox Release 64.0 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Have a Firefox [ar] locale build installed.
- Have a new Firefox profile created.

**[Steps to reproduce]:**
1. Open the browser with the profile from prerequisites.
2. Navigate to "https://testpilot.firefox.com/".
3. Observe the platform icons displayed

[2018-12-22 10:53] KhushilMistry commented on #3322
Okay. I will make a PR for both the changes.

[2018-12-23 16:48] KhushilMistry commented on #3322
For the isFirefox in browser states, when we are running the app for the Mobile devices through Firefox Responsive Design mode, I am getting following user agent : mozilla/5.0 (linux; android 8.0.0; nexus 6p build/opp3.170518.006) applewebkit/537.36 (khtml, like gecko) chrome/67.0.3396.87 mobile safari/537.36
Its not including the "Firefox" in it so isFirefox state is being set as false and it is

[2019-01-09 07:50] sresthas commented on #2809
Hey, could I take up this issue as my first issue?

[2019-01-09 15:13] kgeorgiou commented on #2809
@twisted-sres go for it :)

Just a heads up, these pages are compiled by gulp tasks, so when you include React components the props don't get passed down as usual.

Let's get the `Footer` for example, which I included in `pages.js`:
https://github.com/mozilla/testpilot/blob/fcf3cea61eee1b2ac66dd79022d8c9685b7a9639/frontend/tasks/pages.js#L251

Now in the Footer component we have this:
https://gith

[2019-01-21 15:25] SoftVision-PaulOiegas opened #4022 "[Mobile] The EOL page message size is too small for small screen devices"
**[Affected versions]:**
- Firefox Release 64.0.2 and above

**[Affected Platforms]:**
- Android
- iOS

**[Prerequisites]:**
- If you are on Android, navigate to `about:config` and add a new boolean pref with `extensions.webapi.testing` string as `true`.

**[Steps to reproduce]:**
1. Open Firefox browser on a mobile device (Android / iOS).
2. Navigate to testpilot.dev.mozaws.net page
3. Observe th

[2019-01-21 16:04] SoftVision-CosminMuntean opened #4023 ""Price Wise" link redirects to a placeholder page"
**[Affected versions]:**
- Firefox Release 64.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Steps to reproduce]:**
1. Open Firefox browser and navigate to https://testpilot.dev.mozaws.net/.
2. Click the "blog post" link from the last paragraph.
3. Observe the behavior.

**[Expected result]:**
- You are redirected to the "blog post" page.

**[Actual result]:**
- Y

[2019-01-21 19:15] pdehaan opened #4024 "Document doesn't have a <title> element"
https://testpilot.dev.mozaws.net/

Spotted while running a Google Lighthouse audit in Chrome.

(full report can be seen at https://googlechrome.github.io/lighthouse/viewer/?gist=e53a9b7fa7f592758b82e4f7ebbe69c4)

[2019-01-21 20:16] pdehaan opened #4025 "Add meta description and opengraph tags?"
Also via [Google Lighthouse audit](https://googlechrome.github.io/lighthouse/viewer/?gist=e53a9b7fa7f592758b82e4f7ebbe69c4).

Not sure if we want to add meta tags (and og:description, etc) and have them localized (or just hardcode them in en-US).

[2019-01-21 20:36] pdehaan opened #4026 "optimize src/images images?"
This seems to drop the /src/images/background.png image from 819K down to 468K (-351K).

[code]

[2019-01-21 23:05] pdehaan opened #4029 "title attributes are weird on eol branch for "eolMessageFour""
Notice how we only get the first word of each `<a>` content ("Firefox Color" turns into `title="Firefox"`, "Side View" turns into `title="Side"`, etc):

[code]

I'm not seeing the same behavior on "eolMessageThree", so it must be something subtle:

[code]

I do not know if having the `title=""` attribute with the exact same text as the anchor text improves a11y at all, but probably worth fixing si

[2019-01-22 02:46] youwenliang commented on #4022
We should probably add
`<meta name="viewport" content="width=device-width, initial-scale=1">`
in the head section.

[2019-01-22 16:24] clouserw commented on #4023
Notes can be seen at https://addons.mozilla.org/en-US/firefox/addon/notes-by-firefox/

[2019-01-22 17:46] #4029 closed, assigned to nobody

[2019-01-22 17:47] #4026 closed, assigned to nobody

[2019-01-22 17:48] #4024 closed, assigned to nobody

[2019-01-22 19:09] pdehaan opened #4032 "Verify production locales for EOL"
Current production locales:

https://github.com/mozilla/testpilot/blob/13c27266c6c29b77b9290691211f55451fe98ccb/src/index.html#L6-L7

I wrote a pretty sub-standard .ftl parsing bot which scans all the locales/*/app.ftl files for the EOL specific strings and reports back the production locales which are 100% translated (ignoring the old strings):

<details>
<summary>source</summary>

[code]
</detai

[2019-01-22 19:12] pdehaan commented on #4032
TL;DR: Our current production locale config is:

[code]

If I specifically check those locales, there are a couple which have a few missing strings:

[code]

[code]

[2019-01-23 17:22] pdehaan opened #4034 "Add AMO links to experiments on Medium blog"
https://medium.com/firefox-test-pilot/adios-amigo-51bec2a00072#bedc

Not sure if there is a URL for Price Wise yet, seems like the TestPilot EOL page still points to https://github.com/mozilla/testpilot/wiki/Coming-Soon placeholder page.

[2019-01-23 17:25] pdehaan opened #4035 "Close old Issues+PRs and archive the repo?"
We could probably close the old issues now that the site is in sunset mode.

Not sure if we can archive the repo yet, or if that'd prevent us from filing any new issues.

[2019-01-23 18:55] lmorchard commented on #4034
There isn't, and it might be awhile before we have one, thus the Coming Soon page

[2019-01-23 19:52] ghost opened #4036 "Set protected status on production branch"
The production branch on this repository is not protected against force pushes. This setting is recommended as part of [Mozilla's Guidelines][guidelines_url] for a Sensitive Repository.

**Anyone with admin permissions for this repository can correct the setting using [this URL][protect_url].**

If you have any questions, or believe this issue was opened in error, please contact [us][email] and me

[2019-01-23 22:38] pdehaan commented on #4023
Looks like Email Tabs and the blog post links are updated in [/src/index.html](https://github.com/mozilla/testpilot/blob/eol/src/index.html).
That only leaves the [placeholder link](https://github.com/mozilla/testpilot/wiki/Coming-Soon) for Price Wise:

[code]

[2019-01-24 16:04] lmorchard commented on #4023
Yeah, we might not have that Price Wise link for a while. The Coming Soon page was a compromise to not delay deploying the EoL site.

[2019-01-28 18:40] ghost commented on #4036
The production branch on this repository is no longer protected against force pushes. This setting is recommended as part of [Mozilla's Guidelines][guidelines_url] for a Sensitive Repository.

Branch protection had been configured previous for this repository, so you may want to check how the setting became unchecked.

**Anyone with admin permissions for this repository can correct the setting usi

[2019-01-31 16:58] marniepw commented on #4034
Here's the Price Wise URL: https://addons.mozilla.org/en-US/firefox/addon/price-wise/

[2019-01-31 16:58] marniepw commented on #4023
Here's the Price Wise URL: https://addons.mozilla.org/en-US/firefox/addon/price-wise/

[2019-01-31 17:57] #4023 closed, assigned to meandavejustice

[2019-02-03 07:17] flodolo opened #4038 "Please update production with new locales"
There are currently 16 locales enabled in production (+en-US).

There are several locales that were completed but are currently not in production (nl and it were both done around Jan 21, almost two weeks ago).

Locales at 100% and missing from production: dsb, el, fy-NL, it, nl, ru.

cs, es-MX, tr are enabled in production even if not at 100%, I guess they had those strings translated.

[2019-02-03 07:30] flodolo commented on #4038
I've double checked locally, removing experiments.ftl and only keeping the [EOL strings](https://github.com/mozilla/testpilot/blob/eol/locales/en-US/app.ftl#L272-L312) in app.ftl

This is the full list of locales at 100% in these conditions: cs, cy, de, dsb, el, en-CA, en-US, es-AR, es-ES, fr, fy-NL, hsb, hu, it, nl, pt-PT, ru, sk, sl, sv-SE, tr, zh-CN, zh-TW.

I have no clue why `es-MX` is enable

[2019-02-04 13:53] SoftVision-PaulOiegas commented on #4023
The link now properly redirects to the AMO page for Price Wise.

[2019-02-04 18:01] #4038 closed, assigned to nobody

[2019-03-21 20:00] #4032 closed, assigned to nobody

[2019-04-17 16:43] #3497 closed, assigned to nobody

[2019-04-17 16:44] #2782 closed, assigned to nobody

[2019-04-17 16:47] #3316 closed, assigned to nobody

[2019-04-17 16:48] #3393 closed, assigned to nobody