[2017-03-15 22:54] #751 closed, assigned to nobody

[2017-03-16 07:39] flodolo opened #2325 "Stop displaying a "New" badge on the toolbar icon"
Just realized that Test Pilot is trying to show a "New" badge on the icon. Too bad that basically no language will fit in a 4-characters space (the full word is "Novità", "Novi" is a non-sense in Italian, or a very good brand of chocolate…)

![schermata 2017-03-16 alle 08 37 29](https://cloud.githubusercontent.com/assets/3644868/23986350/f5a9cca0-0a23-11e7-873b-88d0dd5c361c.png)

[2017-03-16 11:57] SoftVision-CosminMuntean commented on #2244
I have retested this issue and is still reproducible on production.
It seems that now on dev and stage servers the images are correctly displayed.

Here is a screenshot with the results:
![page-shot-2017-3-16 test testcosmin twitter](https://cloud.githubusercontent.com/assets/19226534/23995074/9a7df450-0a50-11e7-88a5-7ef6e4e20143.png)

[2017-03-16 15:20] SoftVision-PaulOiegas commented on #2325
Yep, got it also today on my daily work profile out of the "blue" 😄.

[2017-03-16 16:30] lmorchard commented on #2244
I suspect this might be caching on Twitter's end with respect to prod. If the images are working on dev or stage, they should eventually work on prod - because dev & stage use prod URLs for those images. I just tried the Twitter card validator and prod worked for me:

<img width="1253" alt="screenshot 2017-03-16 12 28 59" src="https://cloud.githubusercontent.com/assets/21687/24007232/54e089f0-0a44

[2017-03-16 17:25] #1892 closed, assigned to clouserw

[2017-03-17 12:21] petercpg opened #2328 "Snooze Tabs listing page showing "your locale (zh) is unsupported" while zh-TW is supported"
STR:
1. Add and move zh-TW to the top of Accept-language list of Firefox.
2. Go to https://testpilot.firefox.com/experiments/snooze-tabs and observe the contents. If the page is opened before switching language fallback list, reload the page.

Expected:
"This experiment is not supported in your language ( zh )." block is not displayed to  zh-TW users. I can find the experiment localized to zh-TW a

[2017-03-17 14:17] lmorchard commented on #2328
While it's true we *did* just release Snooze Tabs with a lot of new translations, we're not quite yet ready to officially tag it as supported in those new locales. There are some areas ([like the calendar widget](https://github.com/bwinton/SnoozeTabs/issues/261)) that still need some attention.

Some details here: https://discourse.mozilla-community.org/t/snooze-tabs-v1-0-15-released/14460

[2017-03-17 14:18] #2328 closed, assigned to nobody

[2017-03-17 16:12] ghost commented on #1829
@johngruen is going to look into how many browsers are visiting the summaries and requesting non en-US locales.

[2017-03-17 16:15] ghost commented on #1822
Today we have:
- a dev flag to show/hide experiments
- a launch_date flag to tell the system when to show an experiment

With these flags we've launched a bunch of experiments and survived.  I'm going to close this.

[2017-03-17 16:15] #1822 closed, assigned to ckprice

[2017-03-17 16:18] ghost commented on #1777
We're planning on removing react router which will fix this so closing.  #2260

[2017-03-17 16:18] #1777 closed, assigned to nobody

[2017-03-17 16:20] ghost commented on #1672
Great, thanks.  I'm going to close this then until it's usable. Thanks!

[2017-03-17 16:20] #1672 closed, assigned to nobody

[2017-03-17 16:22] johngruen commented on #1829
Looking at metrics, it seems like the highest level of non en grad report peeping is 145 pairs of DE eyes on the No More 404s report. Closing until this becomes an issue

[2017-03-17 16:22] #1829 closed, assigned to nobody

[2017-03-17 19:20] #2311 closed, assigned to fzzzy

[2017-03-17 19:36] #2261 closed, assigned to fzzzy

[2017-03-17 19:50] #2179 closed, assigned to johngruen

[2017-03-18 05:51] globau opened #2331 "installing test pilot addon when it is already installed but disabled is poorly handled"
when the test pilot addon is installed but disabled, clicking on the "install" button changes it to "installing.." but then nothing else happens.

the addon is not re-enabled, nor is the user informed that the addon is installed and could be manually enabled.

[2017-03-20 10:13] SoftVision-CosminMuntean opened #2332 "After clicking an experiment card you are wrongly redirected to a 404 page (dev server)"
[Affected versions]:
- Firefox 52.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.dev.mozaws.net" page.
2. Click on any experiment card available.
3. Observe the browser behavior.

[Expected result]:
- You are successfully redirected to the experiment details page.

[Ac

[2017-03-20 10:17] SoftVision-CosminMuntean opened #2333 "The "Welcome to Test Pilot" pop-up can no longer be dismissed after installing Test Pilot add-on (dev server)"
[Affected versions]:
- Firefox 52.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.dev.mozaws.net" page.
2. Click the "Install the Tes

[2017-03-20 10:21] SoftVision-CosminMuntean opened #2334 "Characters are automatically deleted when typed in the text box from "Newsletter" section (dev server)"
[Notes]:
- Also the "Sign Up Now" button seems to be inactive (on desktop and mobile). Here is the error displayed in browser console after clicking the button: https://goo.gl/gnSUop.

[Affected versions]:
- Firefox 52.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.dev

[2017-03-20 15:15] johngruen opened #2335 "Asked to rate a graduated experiment (No More 404s)"
I suspect this is b/c i still have it installed through AMO. Graduated experiments (even if they live on as add-ons) should not trigger ratings once they are no longer available through Test Pilot.

[2017-03-20 15:17] johngruen commented on #2325
@flodolo we have no other way to indicate new stuff outside of popping a tab and the SDK api is pretty restrictive. We also know that the badged icon converts well for driving people to experiments. We won't remove it but i wonder if it needs to be localized at all?

[2017-03-20 16:17] johngruen commented on #2244
For some reason only Pulse is not currently working. URL is fine though. I'll check in a day or two to see what's up

[2017-03-20 16:28] lmorchard commented on #2244
Hmm, Pulse is working for me in the validator too:

<img width="1746" alt="screenshot 2017-03-20 12 27 29" src="https://cloud.githubusercontent.com/assets/21687/24109987/a58981d2-0d68-11e7-8fc7-5f9d6ed11405.png">

One of the weird dependencies here is we're tied to Twitter's scraper caching, over which I don't think we have any control. (They actually fetch & re-host our images from their own CDN)

[2017-03-20 16:30] johngruen commented on #2244
@lmorchard yeah i think everything's fine on our end, maybe just caching on Twitter's end...?

[2017-03-20 16:46] jaredhirsch commented on #2310
@johngruen The PR to add webpack stuff to ping-centre is not yet merged, it's here: https://github.com/mozilla/ping-centre/pull/56

Integrating that branch into the Test Pilot addon will entail replacing the two pings to the onyx URL (in lib/Telemetry and lib/metrics/experiment) with ping-centre pings. If that works, we can let @emtwo know that she can merge that PR in ping-centre, then we can ope

[2017-03-20 17:33] pdehaan commented on #2075
Or... http://npm.im/updtr may help guard against rogue module updates:

[2017-03-20 17:33] SoftVision-PaulOiegas commented on #2179
Verified this and it no longer occurs on Firefox and Safari browsers for iOS.

[2017-03-20 20:18] #2332 closed, assigned to nobody

[2017-03-20 20:18] #2333 closed, assigned to nobody

[2017-03-20 20:18] #2334 closed, assigned to nobody

[2017-03-21 00:38] fzzzy commented on #2075
@pdehaan I ended up using ncu which I think you mentioned in another bug. Thanks a lot, I think it will work fine for now.

[2017-03-21 09:02] SoftVision-CosminMuntean commented on #2332
I have retested this issue and is no longer reproducible on dev server. Marking as verified.

[2017-03-21 09:05] SoftVision-CosminMuntean commented on #2333
I have retested this issue and is no longer reproducible on dev server. Marking as verified.

[2017-03-21 10:05] SoftVision-CosminMuntean commented on #2334
I have retested this issue and the "Newsletter" functionality is working as expected.

But, the "Sing Up Now" button seems to be inactive (on desktop and mobile). After I successfully sign up with an valid email, some errors are displayed in browser console:
![sign up](https://cloud.githubusercontent.com/assets/19226534/24142213/9504f6ae-0e2e-11e7-99ae-b4b60afdb54a.png)

Here is a screenshot with

[2017-03-21 10:16] SoftVision-CosminMuntean opened #2337 ""Just launched!" message is wrongly displayed for each experiment on details page (dev server)"
**[Notes]:**
- Also, **the number of participants** is no longer displayed on the experiments cards. Here is a screenshot: https://goo.gl/JnoJt4.

[Affected versions]:
- Firefox 52.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.dev.mozaws.net" page.
2. Click on an av

[2017-03-21 12:47] SoftVision-CosminMuntean opened #2338 "Enabled experiment isn't displayed as such after the website is refreshed"
[Affected versions]:
- Firefox 52.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- Test Pilot add-on is already installed on the crated profile.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https

[2017-03-21 15:57] fzzzy commented on #2334
@SoftVision-CosminMuntean Yes, I think log a different bug for this.

[2017-03-21 16:07] SoftVision-CosminMuntean opened #2339 "The "Sign Up Now" button from "Newsletter" seems to be inactive"
[Affected versions]:
- Firefox 52.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.dev.mozaws.net" page.
2. Scroll down to the bottom of the page until the "Newsletter" section is reached.
3. Hover and observe the "Sign Up Now" button.

[Expected result]:
- The mouse c

[2017-03-21 21:00] johngruen opened #2341 "Stars are missing on dev"
There should be stars in the background

![page-shot-2017-3-21 firefox test pilot](https://cloud.githubusercontent.com/assets/3323249/24170596/cafa762a-0e57-11e7-872c-804bce8e13e3.png)

[2017-03-22 15:18] SoftVision-PaulOiegas opened #2344 "[Enhancement] The button that informs the user that experiment was manually disabled should redirect to about:addons page"
[Notes]:
- Since the current implementation uses a button shaped message that does nothing, I was thinking that we could use it to ease the user access to re-enable the experiment.

[Affected versions]:
- Firefox 52.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have Test Pilot installed and at least one active experiment enabled.

[Steps to reproduce]:
1

[2017-03-22 16:01] SoftVision-PaulOiegas commented on #680
We've looked over the implementation and it seems to be working properly for most of the locales.
On some of the locales the message is not translated so it falls back to English translation.

However, the functionality is affected by #2338. So we'll recheck this after the fix is performed.

[2017-03-22 16:10] #2341 closed, assigned to johngruen

[2017-03-22 16:58] fzzzy commented on #2337
This was broken by updating the isomorphic-fetch library. It changed the response.json() method from synchronously returning the result to returning a Promise. 👎

[2017-03-22 20:48] #2338 closed, assigned to fzzzy

[2017-03-23 00:12] #2337 closed, assigned to nobody

[2017-03-23 12:33] SoftVision-CosminMuntean commented on #2339
I have retested this issue and is no longer reproducible on dev server. Marking as verified.

[2017-03-23 12:33] #2339 closed, assigned to nobody

[2017-03-23 12:38] SoftVision-CosminMuntean commented on #2338
I have retested this issue and is no longer reproducible on dev server. Marking as verified.

[2017-03-23 12:40] SoftVision-CosminMuntean commented on #2337
I have retested this issue and is no longer reproducible on dev server. Marking this as verified.

[2017-03-23 14:16] SoftVision-PaulOiegas commented on #2301
The placeholders from Snooze Tabs experiment page, correctly fallback to English now when there is no translation.

[2017-03-23 14:16] #2301 closed, assigned to nobody

[2017-03-23 15:28] SoftVision-PaulOiegas commented on #1300
@fzzzy Just looked over this because I haven't got the chance until now. Hammered it a bit and it works fine, except in one case. I'm not reopening it yet since I'm not sure if this case is a limitation or we haven't taken in consideration this case. Let me know what do you think.

You need to have at least one experiment enabled and Test Pilot.
1. While on test pilot page, open a new tab and navi

[2017-03-23 18:00] fzzzy commented on #1300
@SoftVision-PaulOiegas Thanks, can you file a new bug for that specific case, put it in insprint, and assign it to me? Thanks again.

[2017-03-23 21:41] ckprice opened #2348 "[release] 2017-03-27 is on Stage"
Please QA stage. Let's use this issue to track deployment status to production. I've assigned this to Paul, but we should all be checking out stage a bit.

- Verification documentation: https://github.com/mozilla/testpilot/blob/master/docs/development/verification.md
- Release notes: https://github.com/mozilla/testpilot/releases

Current diff from production: https://github.com/mozilla/testpilot/c

[2017-03-24 08:42] SoftVision-PaulOiegas opened #2349 "Experiment is not displayed as enabled if you manually enable it from add-ons manager before the Test Pilot add-on is"
**[Affected versions]:**
- Nightly 55.0a1

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile and one of the active experiments was enabled.

**[Steps to reproduce]:**
1. Open Firefox wit

[2017-03-24 13:03] SoftVision-PaulOiegas opened #2350 "Test Pilot page for installed add-on constantly switches between installed and not installed states, if it's moved to a new window"
**[Affected versions]:**
- Firefox 52.0.1 and above

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

**[Steps to reproduce]:**
1. Open Firefox with the profile from prerequisites a

[2017-03-24 13:44] fzzzy commented on #2331
Thanks for the report. There has been some work in this area recently that may help, but I'll want to keep this bug open to confirm that this particular case is handled properly.

[2017-03-24 13:46] fzzzy commented on #2323
I have noticed this recently too. I think the message should be display: none by default and made visible if the message needs to be shown.

[2017-03-24 14:42] johngruen commented on #2350
@SoftVision-PaulOiegas I was able to repro this on 52.01 (release)

[2017-03-24 16:44] SoftVision-PaulOiegas opened #2352 "TxP add-ons appear as not installed when moving the Test Pilot web page tab to a new window, while having e10s-multi enabled"
**[Affected versions]:**
- Firefox release v52.0.1
- Firefox Beta v53.0b5
- Dev edition - 54.0a2
- Nightly 55.0a1

**[Affected Platforms]:**
- All Windows
- All Mac OS
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- The "dom.ipc.processCount" pref was updated in "about:config" page to "4" (on

[2017-03-24 17:18] fzzzy opened #2353 "Test Pilot addon is still using unsafeWindow, causing the "running slowly" problem"
I noticed there are still some places that use unsafeWindow in testpilot itself. We really need to fix this "running slowly" problem, it's been way too long.

[2017-03-27 10:15] SoftVision-PaulOiegas commented on #2323
I think this is a "leftover" from the day we decided to postpone the Containers launch by 1 week. I'm not sure this should be displayed at all. The devs on Containers already addressed the compatibility issues that the message was preparing the users for.
Please correct me if I'm wrong.

[2017-03-27 12:03] fzzzy commented on #2323
If someone can confirm that we don't need the message at all any more, then I can just remove it.

[2017-03-27 12:37] SoftVision-PaulOiegas commented on #2350
@fzzzy @wresuolc If it's possible, I think we should fix this before Tuesday launch. This is quite easy to encounter by real users and since Containers experiment is so well received, this is even easier. The "Move tabs to a new window" option from the experiment is causing the same effect.

[2017-03-27 12:40] SoftVision-PaulOiegas commented on #1300
@fzzzy I've logged this (#2349) last Friday but I totally forgot to assign it to you. Sorry for that.

[2017-03-27 15:47] SoftVision-PaulOiegas commented on #2348
Hi guys,

Here is the testing report for the Stage server:
### **New Issues**
1. #2349 - Experiment is not displayed as enabled if you manually enable it from add-ons manager before the Test Pilot add-on is (Normal severity)

2. #2350 - Test Pilot page for installed add-on constantly switches between installed and not installed states, if it's moved to a new window (Normal severity)
- It's not a b

[2017-03-27 20:03] #2350 closed, assigned to fzzzy

[2017-03-27 20:15] ckprice commented on #2348
@SoftVision-PaulOiegas we pushed a fix to #2350 to Stage, could you please verify it?

https://github.com/mozilla/testpilot/compare/dac0a9197c59...7338b23c954b

[2017-03-28 07:01] ChenMorpheus commented on #2164
@pdehaan @johngruen
According to the discussion above, I would recommend the aligned layout below without the "http" to better prevent truncated in certain languages and still provide the URL visibility.

![2017-03-28 2 51 51](https://cloud.githubusercontent.com/assets/18019946/24392622/55dfe3b4-13c7-11e7-9dd0-0816d2934824.png)

[2017-03-28 09:47] SoftVision-PaulOiegas commented on #2348
@ckprice @fzzzy I've rechecked the behavior described in #2350 and it seems to be fixed. But with this fix, new issues seem to be introduced.  The strange part is that the behavior from #2352 which was only occurring because of e10s-multi on Nightly is now somehow present even on latest Firefox release without enabling e10s-multi (dom.ipc.processCount is set to 1 on Release/Beta/Aurora while on Ni

[2017-03-28 11:58] SoftVision-PaulOiegas commented on #2350
The issue no longer occurs when Test Pilot tab is moved to a new window.
However, it seems that after this fix, something similar with #2352 occurs even without e10s-multi enabled. I've provided more details in the release Tag issue (#2348).

[2017-03-28 11:59] fzzzy commented on #2348
@SoftVision-PaulOiegas Oh no :( I'm not sure we need a new issue for it if you think #2352 covers it -- maybe just add a comment to that issue about it.

[2017-03-28 12:26] fzzzy commented on #2348
I changed my mind, since the str are so convoluted I think it is best to open a new bug.

[2017-03-28 13:42] SoftVision-PaulOiegas opened #2356 "TxP add-ons appear as not installed when moving back the Test Pilot web page tab to the main window (release/beta/dev channels))"
**[Notes]**
- This issue is quite strange since this is almost the same behavior from #2352, but this occurs even without e10s-multi enabled and only when moving the tab back to main window.
- This new behavior may have been introduced by the fix for #2350.
- Discussed with Donovan on IRC that this could be an e10s issue. But after disabling e10s on developer edition, the issue was still present.

[2017-03-28 13:57] SoftVision-PaulOiegas commented on #2348
Logged the new behavior in #2356.
After our IRC discussion, I also tried with e10s disabled on Developer edition browser and the issue still occurs. So I'm not quite sure if this is an e10s issue after all.

@ckprice @wresuolc However, since this looks quite complicated and the fix could take a while, if you guys still want to deploy today, we are ok with it. But only if we are gonna fix this in t

[2017-03-28 14:55] fzzzy commented on #2348
We'll do everything in our power to fix it next sprint. Danny's "use mozAddonManager everywhere" branch might help, hopefully we can get that landed in the next few days.

[2017-03-28 15:45] ScottDowne commented on #2162
I can take this one.

[2017-03-28 16:39] fzzzy commented on #2162
@ScottDowne Go for it. The `testpilot-varianttests-id` is stored in localstorage in `frontend/src/app/reducers/varianttests.js`. I can't think of any reason why it would work on mac but not the other platforms.

[2017-03-29 15:01] #2162 closed, assigned to nobody

[2017-03-31 16:04] #2348 closed, assigned to SoftVision-PaulOiegas, SoftVision-CosminMuntean

[2017-04-01 09:58] ExE-Boss opened #2359 "The "No More 404s experiment has ended" message still appears even now"
The "No More 404s experiment has ended" message still keeps reappearing for me, and even when I dismiss it, it comes back later, despite the fact that the addon has now been graduated for two months.

[2017-04-03 14:15] fzzzy commented on #2353
This is going to be fixed at the platform level now.

[2017-04-03 14:15] #2353 closed, assigned to fzzzy

[2017-04-03 14:28] SoftVision-PaulOiegas commented on #2162
@fzzzy @ScottDowne The fix seems to be ok on both Windows and Linux. However, there is a case mentioned in the issue that wasn't treated with this fix.

I'm not sure if we should reopen for this, but the animation still changes its color several times while performing the install flow on dev server. Not sure how it will behave on production until it lands on stage at least.

[2017-04-03 14:40] ScottDowne commented on #2162
I did see that issue, but left it for now. I'm a bit new on this project, and just wanted to iterate on one piece at a time. It's also a slightly different problem than the border and wanted to keep fix as simple as I could.

My guess is we would want to open a new issue for the hover state, but for now I'll keep this issue on my radar and see about fixing the hover state too.

[2017-04-03 16:14] fzzzy opened #2361 "Document `npm run test:all`"
I added an npm script recently that I need to document, `npm run test:all`. It runs all the frontend and addon tests, including linting and flow coverage reports.

[2017-04-03 16:48] johngruen commented on #2244
Looks like this is good now

[2017-04-03 16:48] #2244 closed, assigned to johngruen

[2017-04-03 16:59] johngruen commented on #1003
@pdehaan took a look at these out of curiosity, turns out the only deprecation warning now is for `node-uuid` which is only used in `jpm`

[code]

Going to close this and file an issue in the jpm repo

[2017-04-03 16:59] #1003 closed, assigned to nobody

[2017-04-04 12:27] fzzzy commented on #2162
I agree, open a new issue for that.

[2017-04-04 16:36] SoftVision-CosminMuntean commented on #1300
This issue is still reproducible if you have a Test Pilot page opened in a tab and manually remove an experiment from "about:addons". When you return to the Test Pilot page, the removed experiment is still displayed as enabled until the page is refreshed.

I have also noticed on "about:addons" page that after removing an experiment you have an option to "Undo" the action. If you refresh the page,

[2017-04-04 19:33] fzzzy commented on #2344
There is no more button in master. Instead, an experiment that was disabled in the add-on manager just shows up as disabled, with the normal ui to enable it, which correctly enables it.

[2017-04-04 19:33] #2344 closed, assigned to nobody

[2017-04-04 19:45] fzzzy commented on #2349
This seems to be fixed now in master. The web page properly shows each state for each step of the above steps to reproduce.

[2017-04-04 19:52] fzzzy commented on #2356
This seems to be fixed in master. Tested on dev, experiment is properly shown as enabled after all steps to reproduce above.

[2017-04-04 19:52] #2356 closed, assigned to nobody

[2017-04-04 19:58] fzzzy commented on #2352
This seems fixed on master. Tested against https://testpilot.dev.mozaws.net/ and all steps to reproduce show the correct experiment state, with dom.ipc.processCount set to 4.

[2017-04-04 19:58] #2352 closed, assigned to nobody

[2017-04-04 19:59] fzzzy commented on #2331
This particular bug is still happening on master. I'll want to take a look at fixing this soon.

[2017-04-04 21:42] fzzzy commented on #1300
@SoftVision-CosminMuntean I think that sounds different enough to file a new issue. Thanks.

[2017-04-04 22:41] fzzzy commented on #2349
Maybe not. Trying again a different time gave me different results.

[2017-04-04 22:42] fzzzy commented on #1300
Actually, it looks like further discussion should take place at https://github.com/mozilla/testpilot/issues/2349

[2017-04-05 07:44] SoftVision-PaulOiegas commented on #2344
@fzzzy Are you sure ? I'm still seeing this on dev server. Or you are referring to other master ? If that's the case, it means that the mozAddonManager is also not on dev server yet ?

That would be really bad since it would mean that Cosmin ran yesterday the Full Functional suite to verify its behavior totally in vain...

![disabled from add-ons manager](https://cloud.githubusercontent.com/assets

[2017-04-05 08:02] SoftVision-PaulOiegas commented on #2356
@fzzzy Again, same question. Is this on dev server or on other master ? I can reproduce it with the above steps on dev.

If we're talking about other master, maybe it would be better to leave the issues open until they land on dev server. We are not testing on local since you guys told us that any merge to master will land on dev server in no time...
Otherwise, please provide us some steps on how

[2017-04-05 16:20] SoftVision-PaulOiegas opened #2362 "The "Installing..." animation briefly changes its color after each action performed on the installation flow"
[Affected versions]:
- Firefox 52.0.2 and above

[Affected Platforms]:
- All Windows
- All Linux

[Steps to reproduce]:
1. Open Firefox browser and navigate to "https://testpilot.dev.mozaws.net" page.
2. Click the "Install the Test Pilot Add-on" button.
3. While observing the "Installing..." animation color, go trough the install process.

[Expected result]:
- The "Installing" animation color rema

[2017-04-05 16:20] SoftVision-PaulOiegas commented on #2162
@fzzzy @ScottDowne logged it separately in #2362.

[2017-04-05 16:24] chuckharmston opened #2364 "Notify user of missing mozAddonManager"
@fzzzy will be removing the non-`mozAddonManager` paths with this release. Since those APIs have specific prerequisites, including an about:config pref, we may see some mysteriously broken behavior like that experienced this morning if any of those prerequisites are not hit.

To remediate, we should check for the existence (`!!navigator.mozAddonManager` should suffice) on  startup, notify the user

[2017-04-06 12:21] SoftVision-CosminMuntean opened #2366 "The enabled experiments are not removed at Test Pilot uninstall"
[Affected versions]:
- Firefox 52.0.2 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- The "extensions.webapi.testing" boolean pref was manually added with "true" value on the crated profile.
- Test Pilot add-on was previously installed on the

[2017-04-06 12:43] SoftVision-CosminMuntean commented on #2163
This issue is reproducible if the "extensions.webapi.testing" boolean pref is manually added with "true" value.

The "Enabling..." button remains in the enabling state and no error is displayed, if experiment download fails.

[2017-04-06 13:00] fzzzy commented on #2364
Not this release -- the old code is still in place for now. But I will remove the old path fairly soon.

[2017-04-06 13:57] SoftVision-CosminMuntean opened #2367 "Wrong button is displayed on the experiment details page, if the add-on is manually removed from "about:addons" page"
[Affected versions]:
- Firefox 52.0.2 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- The "extensions.webapi.testing" boolean pref was manually added with "true" value in "about:config" page.
- Test Pilot add-on was previously installed on th

[2017-04-06 14:08] fzzzy commented on #2163
Yes, I think this was a TODO in the code. I'll fix it today. Thanks!

[2017-04-06 14:13] #2262 closed, assigned to fzzzy

[2017-04-06 15:52] #2361 closed, assigned to fzzzy

[2017-04-06 15:59] SoftVision-PaulOiegas opened #2369 "User count is missing and "Just launched!" message is displayed for all experiments on Dev server"
[Affected versions]:
- Firefox 52.0.2 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox browser and navigate to "http://testpilot.dev.mozaws.net" page.
2. Observe the number of users on the active experiments cards.
3. Click on one of the experiment cards.
4. Observe the number of users displayed under experiment logo on the experiment deta

[2017-04-06 16:16] SoftVision-PaulOiegas commented on #2367
@fzzzy When we tackle this, we should also auto update the experiments details page status when we manually remove an experiment from "about:addons" page. Same thing when we choose to "Undo" the remove option from the same page.

[2017-04-06 16:50] SoftVision-PaulOiegas commented on #2366
@fzzzy Noticed while performing manual remove tests from "about:addons" page that this issue only occurs on first attempt. If you "Undo" the Test Pilot add-on removal, and you choose to remove it the second time, all the installed experiments are also removed.

Same behavior occurs even if you reinstall and uninstall from the website.

[2017-04-06 17:20] SoftVision-PaulOiegas opened #2370 "Newsletter current email wrongly contains a graduated experiment (Tracking Protection)"
[Affected versions]:
- Firefox 52.0.2 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox browser and navigate to "http://testpilot.dev.mozaws.net" page.
2. Scroll down until the Newsletter sign up section is reached.
3. Click inside the text box and enter a valid email address (not already used).
4. Check the privacy text box and click the "

[2017-04-06 18:23] #2362 closed, assigned to nobody

[2017-04-06 19:07] fzzzy commented on #2349
The confusion was due to extensions.webapi.testing needing to be set to true to test the mozAddonManager case. This actually is fixed on dev if that preference is set.

[2017-04-06 19:07] #2349 closed, assigned to fzzzy

[2017-04-06 19:47] #2369 closed, assigned to fzzzy

[2017-04-06 20:09] #2163 closed, assigned to fzzzy

[2017-04-06 21:18] fzzzy commented on #2366
This one is very strange. The code looks correct.

[2017-04-06 22:23] ghost commented on #2370
jess o is looking into this

[2017-04-07 08:22] SoftVision-PaulOiegas commented on #2366
@fzzzy Found out another piece of info that might help you. It seems that any experiment you install after Test Pilot add-on is installed, won't be uninstalled.

I've Installed Test Pilot together with an experiment from its page and at uninstall, I remained with the experiment. Until here, same as last night.
But when I've installed again Test Pilot together with a second experiment (TxP + exp 1

[2017-04-07 15:08] fzzzy commented on #2366
@SoftVision-PaulOiegas Useful info! Thanks!

[2017-04-07 15:30] fzzzy commented on #1335
This was fixed by 'use mozAddonManager more' https://github.com/mozilla/testpilot/pull/2360 and ' fix download failed 'https://github.com/mozilla/testpilot/pull/2373

However, 'installing test pilot addon when it is already installed but disabled is poorly handled' https://github.com/mozilla/testpilot/issues/2331 is still open. I'll close this issue and use 2331 for the remaining issue, since it i

[2017-04-07 15:30] #1335 closed, assigned to dannycoates

[2017-04-07 15:34] fzzzy commented on #1714
I think we're ready to move to fluent-react next sprint. @stasm it looks really good, thank you so much. I'll file bugs against the repo there if I encounter any.

[2017-04-07 16:05] ghost commented on #2359
Thanks for filing this.  I'm closing as a dupe of #2335.

[2017-04-07 16:05] #2359 closed, assigned to nobody

[2017-04-07 16:08] ghost commented on #2126
This might be related to stale FTLs when we do a push, but I haven't seen it in a long time.

[2017-04-07 16:09] #2126 closed, assigned to nobody

[2017-04-07 16:12] #2180 closed, assigned to nobody

[2017-04-07 16:12] stasm commented on #1714
Hey, @fzzzy, I'm very happy to hear this!  What is the timeline of the next sprint?  I'm currently working on a few improvements to fluent-react related to falling back on other languages when translations are missing. I plan to finish by the end of next week.

When Test Pilot moves to fluent-react we will also need to migrate the existing translations to the updated FTL syntax. (Fluent uses a new

[2017-04-07 16:13] ghost commented on #2195
@pdehaan you still on this one?  I'm going to move to in progress

[2017-04-07 16:14] ghost commented on #1998
This may be fixed with the de/de-de fix from a while ago

[2017-04-07 16:15] ghost commented on #1983
If anyone wants to improve our documentation, please do.  We don't need to keep this open though.

[2017-04-07 16:15] #1983 closed, assigned to nobody

[2017-04-07 16:27] fzzzy commented on #2364
@chuckharmston If you have some time this sprint, do you feel like doing this? It should be really straightforward.

[2017-04-07 17:01] fzzzy commented on #1976
This does still happen. It must be something in the S3 config somewhere that needs work.

[2017-04-07 17:22] fzzzy commented on #1344
Most of the bullet points in this issue are now closed. The test pilot add-on and an experiment can now be installed with one click, it is possible to uninstall test pilot from the website now, we use mozAddonManager for installing and uninstalling experiments now, and I think we have the capability to detect conflicting add-ons now. Also due to the mozAddonManager branch https://github.com/mozill

[2017-04-07 17:22] #1344 closed, assigned to nobody

[2017-04-07 17:26] fzzzy commented on #2275
There's an extensive plan for notifying users to upgrade by doing feature detection on mozAddonManager here:

https://github.com/mozilla/testpilot/issues/2364

I'm going to close this as a dupe of that now.

[2017-04-07 17:26] #2275 closed, assigned to johngruen

[2017-04-07 17:30] fzzzy commented on #1714
@stasm I'll start working on it, but I won't plan on it being landed in production until you are ready. April 25-May 9 timeframe is fine. Thanks!

[2017-04-07 17:32] fzzzy commented on #1514
Should we switch to prettier?

[2017-04-07 17:34] fzzzy commented on #1555
This seems like something we should do. What benefits does it provide? Added security?

[2017-04-07 17:37] fzzzy commented on #1850
@flodolo is this still happening?

[2017-04-07 17:41] flodolo commented on #1850
Not at the moment, but we need an experiment with that warning enabled to verify it.

[2017-04-07 17:46] fzzzy commented on #1850
Oh, I see. Well, as this experiment has ended, let's just make sure the next "experiment will be ending" message is localized properly when we get closer to ending another experiment, and open another bug if not.

[2017-04-07 17:49] fzzzy commented on #1975
https://github.com/mozilla/testpilot/issues/1743 has some useful info related to this.

[2017-04-07 17:51] fzzzy commented on #1792
This would probably be good to do.

[2017-04-07 17:52] fzzzy commented on #1975
Looks like https://github.com/mozilla/testpilot/issues/1903 will also need to be taken into account for this.

[2017-04-07 17:52] flodolo commented on #1850
Is there a way to force to show this message locally? I would prefer to check than close and refile if the bug is still there (I assume it is).

[2017-04-07 17:55] fzzzy commented on #1850
Ok, I'll just reopen this issue then. Probably the easiest way to test this is to change one of the graduation dates locally. I see in docs/content/reference.md that the example eol_warning does have quotes around it.

[2017-04-07 18:02] fzzzy commented on #2138
The offending jpg is frontend/src/app/images/restart-graphic@2x.jpg

[2017-04-07 18:07] fzzzy commented on #2230
We got more info about this in the firefox meeting. 1) it only shows up in nightly and 2) there was consensus to just remove the warning, which I believe has been landed now.

[2017-04-07 18:07] #2230 closed, assigned to nobody

[2017-04-07 18:16] fzzzy commented on #1367
I think this is mostly done now: as you can see here https://github.com/mozilla/testpilot/blob/master/frontend/src/app/reducers/addon.js RestartState.isRequired is part of the AddonState in redux now, and here https://github.com/mozilla/testpilot/blob/master/frontend/src/app/reducers/experiments.js you can see that inProgress is now a part of the Experiment redux state.

However, an anti-example i

[2017-04-07 18:16] #1367 closed, assigned to nobody

[2017-04-07 18:20] fzzzy commented on #1376
I think we should do this sometime soonish.

[2017-04-07 18:23] fzzzy commented on #1306
I'm actually most of the way done with this at https://github.com/fzzzy/testpilot/tree/remove-react-router , so I'll close this as a dup of https://github.com/mozilla/testpilot/issues/2260

[2017-04-07 18:23] #1306 closed, assigned to lmorchard

[2017-04-07 18:27] fzzzy commented on #1980
Just tested this, this still happens.

[2017-04-08 13:37] #2249 closed, assigned to nobody

[2017-04-08 13:51] flodolo commented on #1850
Tried with SnoozeTabs, and created a snoozetabsEolwarning string. The string seems correctly displayed even if the string has not quotes, so not sure what happened there.

At this point it makes sense to close.

[2017-04-08 13:51] #1850 closed, assigned to nobody

[2017-04-08 23:56] fzzzy commented on #1850
Thanks!

[2017-04-10 15:09] SoftVision-PaulOiegas commented on #1866
@fzzzy The issue seems to be partially fixed, now the error message is replaced with the successful one after you re-enable internet. But the confirmation pop up with the Tour is not displayed anymore if first enable action fails.

[2017-04-10 15:14] SoftVision-CosminMuntean commented on #2367
I have retested this issue and it seems that is still reproducible on stage and dev server.

[2017-04-10 15:43] johngruen commented on #2164
@ChenMorpheus solution looks good. Let's do it!

[2017-04-10 15:59] SoftVision-PaulOiegas opened #2374 "[release] 2017-04-07 is on Stage"
Hi guys,

Here is the testing report for the Stage server:
### **New Issues** (not yet logged)
1. #2377 - Test Pilot dev add-on installation prevented by Nightly builds starting from 7th of April (Major severity but not for release)
   -Test Pilot dev add-on cannot be installed on latest Nightly 55.0a1.

2. #2378 - Experiment details page displays the complete install button (Test Pilot + experime

[2017-04-10 16:11] johngruen commented on #1475
I think we can close this b/c we killed the onboarding tab.

[2017-04-10 16:11] #1475 closed, assigned to nobody

[2017-04-10 16:13] johngruen commented on #2325
@fangshih, could we do something similar to what we're doing with Screenshots here? A custom version of the icon w/ a star or similar. We'd need both dark and light themed versions in this case.

[2017-04-10 16:25] johngruen commented on #911
@pdehaan per [this](http://stackoverflow.com/questions/35066102/facebook-debugger-why-complaining-about-app-id-missing) we aren't an app and therefore don't need an app id.

PR-ing an og:url in #2375

[2017-04-10 19:41] fzzzy commented on #2367
I think the issue here is that as long as the "undo" ui is still visible in the add-on manager, the add-on won't actually appear to be uninstalled. Once you close the add-on manager, it appears to be fully uninstalled.

[2017-04-10 20:05] #738 closed, assigned to clouserw

[2017-04-10 21:36] b4handjr opened #2376 "Add selenium UI tests"
@krupa @pdehaan
Starting this issue to keep track of my work.

I am adding a few ui tests as well as checking to make sure the test pilot addon installs correctly.

[2017-04-11 12:01] SoftVision-PaulOiegas opened #2377 "Test Pilot dev add-on installation prevented by Nightly builds starting from 7th of April"
**[Notes]:**
- After digging trough older builds, this seems to be a Firefox regression. Using mozzregression tool, I found out that Bugzilla bug [#1353975](https://bugzilla.mozilla.org/show_bug.cgi?id=1353975) caused this.
- I'm not able to see the issue because I'm not authorized, but from the pushlog (https://goo.gl/sbgsCG) it seems to be related to "Fix nullPrincipal edge case".
- This issue o

[2017-04-11 12:33] SoftVision-PaulOiegas opened #2378 "Experiment details page displays the complete install button (Test Pilot + experiment) if you have only Test Pilot disabled from add-ons manager"
**[Notes]:**
- I would personally go with the first expected behavior in this case if we want in the future to re-enable Test Pilot in add-ons manager when the "Install the Test Pilot Add-on" button is clicked. This to solve the problem reported by the users that cannot install Test Pilot because they manually disabled it from add-ons manager.

**[Affected versions]:**
- Firefox v52.0.2 and above

[2017-04-11 14:50] SoftVision-PaulOiegas opened #2379 "The add-ons conflict notification is displayed only after page refresh even with the use of mozAddonManager"
**[Notes]:**
- Since mozAddonManager is detecting manual disable / enable actions and auto updates the Test Pilot pages. Maybe this can be done too for conflicting add-ons ?

**[Affected versions]:**
- Firefox v52.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "extensions.webapi.testing" boolean type pref was manually added on a new profile

[2017-04-11 14:55] SoftVision-PaulOiegas commented on #2374
@fzzzy I couldn't have stayed more yesterday so I have logged today 3 of the 4 found issues and updated the report above.
Any news on #2366 ? Other than that, I think we are good to GO, unless you guys consider some of the logged / reopened issues as blockers.

[2017-04-11 15:38] fzzzy commented on #2378
Yes, there are some bad behaviors when the test pilot add-on is disabled in the add-on manager right now. I'll make this a priority for next sprint.

[2017-04-11 15:40] fzzzy commented on #2374
Thanks very much! No news on #2366, but I will be looking into that and #2378 first thing in the upcoming sprint.

[2017-04-11 20:35] ckprice opened #2381 "Update privacy link on Page Shot experiment"
https://testpilot.firefox.com/experiments/page-shot

Bottom left side, the "You can learn more about the data collection for ⁨Page Shot⁩ here." link should point to https://www.mozilla.org/privacy/websites/. Note: once screenshots goes live, the privacy link will be different (ref https://github.com/mozilla-services/screenshots/issues/2618).

[2017-04-12 09:23] SoftVision-PaulOiegas commented on #1998
Nope, still reproducing on Chrome. Just tested with German and German (Germany). I assume first is the simple [de] and second is [de-de].

[2017-04-12 09:37] SoftVision-PaulOiegas commented on #2376
Hi @jrbenny35. I'm Paul, one of the Team leads of the Softvision QA Engineering team that deals with manual testing of Test Pilot and most of the experiments.
I was thinking that maybe some of our manual tests would help you with the automation tests you are designing. You can find them [here](https://docs.google.com/spreadsheets/d/1FZI3FZ_MgRjXQavimuamqfPRyzThnBiE4w-q9qTTu0I/edit#gid=557160182).

[2017-04-12 12:38] SoftVision-PaulOiegas opened #2382 "[Enhancement] Graduated experiments should no longer have localization restrictions, so anyone could see the reports"
**[Notes]:**
- Currently the graduated experiments reports that had a localization limitation (eg: Tracking Protection & NoMore404s) are not visible on all locales due to those limitations that are still in place.
My suggestion is to remove the localization limitation for any experiment after it graduates.

**[Affected versions]:**
- Firefox v52.0.2 and above

**[Affected Platforms]:**
- All Windo

[2017-04-12 13:32] SoftVision-PaulOiegas commented on #2374
The production deployment was performed yesterday. Testing results were good, 95% pass rate on the Acceptance suite and with no new issues found.

[2017-04-12 13:32] #2374 closed, assigned to nobody

[2017-04-12 13:51] SoftVision-CosminMuntean commented on #2163
I have retested this issue and is no longer reproducible. Marking as verified.

But, the issue describe in [1866](https://github.com/mozilla/testpilot/issues/1866#issuecomment-292979056) is still reproducible. After the experiment is successfully enabled, the Tour pop-up is no longer displayed.
We left that issue open in order to track this behavior.

[2017-04-12 14:04] SoftVision-PaulOiegas commented on #2362
@fzzzy This was fixed on supported Firefox versions, but sadly, I have encountered it on outdated Firefox versions for the "Upgrade" button. And also on Chrome browser for the Download button.
But to be honest, I'm not sure if we should reopen or log a separate issue for it. It's quite unnoticeable for the "untrained eye". 😄

[2017-04-12 14:21] fzzzy commented on #2362
@SoftVision-CosminMuntean Since it is on a different button, I think it is worth opening a new issue. Although it is minor, it is also easy to fix, so we might as well fix it.

[2017-04-12 15:30] mhoye opened #2383 "URL on site - testpilot.firefox.com/experiments - pinwheels forever"
https://testpilot.firefox.com/experiments

... is one of the first links Google offers up on a search for "firefox testpilot". On my machine it pinwheels forever with an animated loading thing, and never takes me to a usable page.

I'm using release Firefox on Windows 10.

[2017-04-12 20:50] smithfred commented on #1795
I came across this issue today when visiting the Test Pilot website for the first time. How can a website *associated with a web browser* not get the absolute basics of web design right?

Don't break standard behaviour is pretty much rule number one of website design, doubly so if you specifically go out of your way to replace standard links with JS events/content loading etc.

/rant

Edit: adding

[2017-04-13 14:10] SoftVision-PaulOiegas commented on #2383
That's not good... We are no longer using that page, now the redirect after install is made on the same https://testpilot.firefox.com page.
Friday we have a triage meeting and will see what the team thinks on this matter. Thanks for reporting it @mhoye !

[2017-04-13 16:17] SoftVision-PaulOiegas opened #2385 "Enabled experiment "Give Feedback" button wrongly opens the form in the same tab"
**[Notes]:**
- There are 3 feedback forms in the website, if I remember well, from which 2 are opened in a new tab (after TxP uninstall and after experiment disable). Considering this, I think we should also do the same for the enabled experiment feedback.

**[Affected versions]:**
- Firefox v52.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- On

[2017-04-13 20:27] ghost opened #2386 "Update the Welcome to Test Pilot email"
Our welcome email currently features Page Shot and Min Vid.  Let's think about updating it with some new text or at least some new experiments.  Today's mail:  https://litmus.com/checklist/public/139ee65

/cc @johngruen

[2017-04-13 20:33] ghost commented on #2370
This is fixed.  New newsletter @ https://litmus.com/pub/139ee65

[2017-04-13 20:33] #2370 closed, assigned to nobody

[2017-04-14 12:05] SoftVision-PaulOiegas commented on #2370
Heh, I thought for a second that #2386 is a dupe of this, but then I've seen that this one it's closed as fixed. I was thinking that you are gonna use this one for Newsletter updates also.
Anyway, the graduated experiment was correctly removed.

[2017-04-14 13:16] SoftVision-PaulOiegas opened #2387 "Update / Download Firefox button worngly remains in hovered state"
**[Notes]:**
- Logged based on @fzzzy 's comment https://github.com/mozilla/testpilot/issues/2362#issuecomment-293592894

**[Affected versions]:**
- Firefox v52.0.2 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- Chrome browser or Firefox 48.0.2 or lower is installed on the testing machine.

**[Steps to reproduce]:**
1. Launch the Firefox old versio

[2017-04-14 13:56] fzzzy commented on #2387
@ScottDowne Is this similar to the other bugs you fixed? Think it is easy?

[2017-04-14 14:27] ScottDowne commented on #2387
Probably yeah.

[2017-04-14 14:27] ScottDowne commented on #2387
I don't mind taking a look.

[2017-04-14 16:21] ghost commented on #2367
We don't think this is a bug we're going to work on.  Thanks.

[2017-04-14 16:21] #2367 closed, assigned to fzzzy

[2017-04-14 16:23] jaredhirsch commented on #2377
@wresuolc Mossop CC'd you on the bugzilla bug, he said he fixed this yesterday. So we could have SV try to repro again on latest Nightly next time they are in office.

[2017-04-14 16:26] #1669 closed, assigned to nobody

[2017-04-14 16:27] #1668 closed, assigned to nobody

[2017-04-14 16:28] #1683 closed, assigned to nobody

[2017-04-14 16:29] ckprice commented on #2127
(Sorry for taking so long to respond here) These feedback loops are part of the Test Pilot program, and vital for the health of experiments. We understand that it could be intrusive to those not expecting it, but have not been able to reproduce the report of an abnormal amount of feedback prompts appearing. Since there are no plans of removing our feedback prompts, we're going to close this.

[2017-04-14 16:29] #2127 closed, assigned to ckprice

[2017-04-14 16:30] fzzzy commented on #1683
This is just how the addon manager works because of the undo ui, there's nothing we can do about it.

[2017-04-14 16:37] #911 closed, assigned to johngruen

[2017-04-14 16:52] #2381 closed, assigned to ckprice

[2017-04-15 07:25] TriMoon commented on #2127
Then RIP Test Pilot program, good riddance...

[2017-04-15 22:50] ScottDowne commented on #2387
It's the button's active state, which blocks the button's hover state. Def similar to the other bugs.

[2017-04-17 16:36] ScottDowne commented on #2387
Correction, it's the button's focus state, not active like I initially though.

Because both hover and focus use the same styling, while it's focused, you'll never see the visible difference while hovering..

https://github.com/mozilla/testpilot/blob/master/frontend/src/styles/modules/_buttons.scss#L56-L57

We just need to make the hover and focus styles different.

[2017-04-17 16:48] ScottDowne commented on #2387
Fixed in https://github.com/mozilla/testpilot/pull/2390

My solution is to apply a slightly darker green on hover if it's also focused.

[2017-04-17 18:15] #2387 closed, assigned to ScottDowne

[2017-04-18 16:21] SoftVision-PaulOiegas commented on #2377
@6a68 @wresuolc Well, indeed this was fixed on Nightly, but now I encounter the same issue on Dev Edition.
Based on this behavior I'm afraid that this issue could also appear on Beta and Release if Mossop's fix won't be uplifted sooner than the normal trains.

I don't think we want to have a full Firefox 54.x version where you cannot install Test Pilot. That would be a "Blocker".😄

[2017-04-18 18:04] fzzzy commented on #2377
@SoftVision-PaulOiegas There is another public bug that will be tracking the uplift of the fix. I am not an expert at reading bugzilla, but I think it will be uplifted.

https://bugzilla.mozilla.org/show_bug.cgi?id=1356292#c28

[2017-04-19 15:04] SoftVision-PaulOiegas commented on #2387
Now we have 3 color states instead of two. Light and dark green for the previous states and a slight darker green for hover state (in between the other 2). This kind of fixes our issue, but I'm not sure if we haven't complicated the situation.

@ScottDowne @fzzzy  I personally don't think that we should invest more time in this since it's a very minor issue. So I am considering the fix to be OK. T

[2017-04-19 15:20] stasm commented on #1714
@fzzzy I've published `fluent-react` 0.3.0 today.  See https://groups.google.com/forum/#!msg/mozilla.tools.l10n/eP-Vo9UQz6o/eh8H6hC9AwAJ for a summary of changes. Can I do anything right now to help you try it out in Test Pilot?

[2017-04-19 15:23] fzzzy commented on #2387
Maybe John will want to come in and do a redesign of all of these mechanics at some point.

[2017-04-19 15:26] ScottDowne commented on #2387
I also don't think investing more time is worth while at this point. Initially I was going to consider removing the "focus" state styling completely, but it's helpful for accessibility.

I think there always was 3 colour states. Regular, hover/focus and active. Now if you focus and hover, it just reuses the active colour.

The other option was a focus state that wasn't colour based for accessibili

[2017-04-19 18:23] fzzzy opened #2391 "mozAddonManagerInstall can be simplified a lot"
return mam.createInstall({ url }).then(install => install.install()) should be sufficient.

[2017-04-20 02:07] fzzzy commented on #2383
I have a fix for this now. Coming soon.

[2017-04-20 15:25] pmac opened #2392 "Newsletter submission should include a "source_url" parameter"
The email marketing team would very much appreciate you adding this parameter. It'd be best to send the value as the current URL of the page, but if you'd rather hard-code "https://testpilot.firefox.com/" that works for us as well.

[2017-04-20 16:05] sevaan opened #2393 "Don't show TxP tour for experiments with built-in tours"
TabCenter has a built-in tour for when a user first installs it. Test Pilot also shows a tour saying pretty much the same thing. Both tours are on screen at the same time.

Let's not show the TxP site tour for experiments that have built-in tours. We can leave the link to the tour in the sidebar for users who are curious before installing.

I'm not sure what other experiments currently have tours

[2017-04-20 16:42] johngruen commented on #2393
@sevaan containers does, but it complements the test pilot tour, and I'd rather keep both.

For this issue, we should just add a YAML flag to optionally disable experiment tours, and set it to `true` for Tab Center.

[2017-04-20 16:50] lmorchard commented on #2393
One catch I'd throw in here is that we have a link to show the tour, and folks who haven't installed the experiment can use that to preview more about what the experiment does.

That said, I don't know if this link is all that well used or promoted.

[2017-04-20 20:29] ghost opened #2394 "Update our design to improve experience without the add-on"
When we first launched, we wanted to get people to install Test Pilot so we added some big targets on the page.  In our current world, we install the Test Pilot add-on automatically when people click the install button for any add-on so it's not something we really need to worry about.

The substantial differences between the installed/not-installed designs cause noticeable delay or element shifti

[2017-04-21 08:28] SoftVision-PaulOiegas commented on #1683
Well, it seems there was something we could do since this no longer occurs after mozAddonManager merge. 😄
Anyway, it was for "Disable", not for "Remove". Where indeed, we don't have what to do, but that was reported in a different bug.

[2017-04-21 09:13] SoftVision-PaulOiegas commented on #2377
I think it may already be uplifted, but I still want to keep an eye on this in the future. I'll close this when I'm sure.

[2017-04-21 09:26] SoftVision-PaulOiegas commented on #2393
@lmorchard This was the requested by Sevan in #1483. And just as a reminder, with this decision we got also a tiny bug #1965.

[2017-04-21 09:31] SoftVision-PaulOiegas commented on #2394
Please let us know if possible, when you guys have something on this. If there will be changes, we will need to update our tests too, preferably before we implement and merge anything.

Thanks!

[2017-04-21 17:08] ckprice commented on #1371
Closing.

[2017-04-21 17:08] #1371 closed, assigned to nobody

[2017-04-21 17:10] ckprice commented on #1370
This was filed before moz add-on manager, performance has improved since then. Closing.

[2017-04-21 17:10] #1370 closed, assigned to nobody

[2017-04-21 17:12] ckprice commented on #1349
Moving on deck just to verify that it is happening then we can close.

[2017-04-21 17:13] ckprice commented on #1382
This annoys us a lot, let's move to on deck.

[2017-04-21 17:13] ckprice commented on #1363
Let's close (our app isn't that complex, so not as helpful).

[2017-04-21 17:13] #1363 closed, assigned to nobody

[2017-04-21 17:19] ckprice commented on #1592
Think it is now, closing.

[2017-04-21 17:19] #1592 closed, assigned to nobody

[2017-04-21 17:19] ckprice commented on #1591
This dialog no longer exists. Closing.

[2017-04-21 17:19] #1591 closed, assigned to nobody

[2017-04-21 17:27] ckprice commented on #2216
Edgecase-y, closing.

[2017-04-21 17:27] #2216 closed, assigned to nobody

[2017-04-21 17:29] ckprice commented on #2109
Could be a dup of #2394 or something else @johngruen to search.

[2017-04-21 17:31] ckprice commented on #1974
Lots of places to change, breaking tests, nice to have some variables with different styles.

[2017-04-21 17:31] #1974 closed, assigned to nobody

[2017-04-21 19:35] fzzzy commented on #1683
🎉

[2017-04-24 09:08] SoftVision-PaulOiegas commented on #2109
Blasphemy, our issue is older ! Just kidding. 😄 Right now, the incompatible message is only displayed if you have Test Pilot add-on installed.
@ckprice Not sure if it's a dupe, but I think that what you guys are trying to do on #2394, will probably cover our case too. But maybe we should leave this open as a "depends on" so we won't forget to check this scenario when you guys implement it ?

[2017-04-25 08:05] johngruen opened #2396 "Document Design and use cases feedback buttons directly in experiment UI"

[2017-04-25 17:31] #2178 closed, assigned to lmorchard

[2017-04-25 18:57] lmorchard commented on #1555
Going to take a crack at this

[2017-04-25 19:47] lmorchard commented on #1555
Thinking this through... Should be easy enough for the main Test Pilot add-on - calculate the hash at site deploy time and embed it in the static JS bundle.

However, getting a hash for each experiment XPI seems trickier: Experiment updates are decoupled from static Test Pilot site updates, so we'd need to fetch them from somewhere fresh on load in the browser.

There's the `x-target-digest` heade

[2017-04-25 19:56] lmorchard commented on #1555
@clouserw What do you think about having the experiment XPI deployment system update a JSON resource with a hash on deploy? Could be a single resource like this:
[code]

[2017-04-25 20:27] lmorchard commented on #1903
The good-first-bug label is misleading here, since I think we're in the midst of overhauling the integration tests altogether.

[2017-04-25 20:27] lmorchard commented on #1743
The good-first-bug label is misleading here, since I think we're in the midst of overhauling the integration tests altogether.

[2017-04-25 21:25] lmorchard commented on #2391
Might do with some more details in this issue - is `install.install()` sufficient because it returns a promise that resolves on install ended and rejects on download / install failed?

[2017-04-25 21:26] lmorchard commented on #1382
Will try taking a crack at this too

[2017-04-25 23:22] ghost commented on #1555
I'd rather not have a single file listing multiple hashes.  Right now updating an XPI only changes files under its directory, which I think is good.

The hashes already exist in the updates.json files.  eg. https://testpilot.firefox.com/files/activitystream/updates.json .  Could those be used?

I'm also curious what benefit this is providing.  Is this a replacement for putting the x-target-digest

[2017-04-26 01:51] fzzzy commented on #2391
Yes. There was a long discussion about it on irc around the time I filed the bug... I could dig out the logs if needed.

[2017-04-26 13:05] lmorchard commented on #1555
Ah, I forgot those update.json resources exist. Looks like I can grab those with `fetch()` - had a brainfart & thought we needed CORS headers because I was trying the fetch from a web console on an MDN page rather than from, you know, the same origin.

Yeah, I'm actually not sure. The original bug doesn't discuss it. @chuckharmston do you have any more details on this? I think you dealt with the x

[2017-04-26 13:15] lmorchard commented on #2391
Yeah, that, or I guess self-assign it because no one else has the context behind this issue :)

[2017-04-26 14:36] mkaply opened #2398 "Test pilot website bypasses xpinstall.enabled = false"
The test pilot website installs the Test pilot add-on even if xpinstall.enabled is set to false (and locked).

It should honor this preference and not install the add-on if installations are blocked by an administrator.

[2017-04-26 14:44] chuckharmston commented on #2398
If the purpose is security, I’d suggest that the issue should be fixed in the browser, not on the website. Two primary reasons:

1) The website doesn’t have a way to know what the value of that preference is.
2) We install add-ons from the website using mozAddonManager, a WebAPI mirroring the SDK AddonManager that is granted by the browser to webpages on a very small whitelist of websites. Since i

[2017-04-26 14:45] #2398 closed, assigned to nobody

[2017-04-26 15:28] chuckharmston commented on #1555
It's definitely related to X-Target-Digest—it possibly supplants it—but I filed this issue at the request of the add-ons team and don't remember details. Maybe @aswan?

[2017-04-26 16:19] aswan commented on #1555
Passing the hash is meant to ensure that the thing that gets installed is actually the thing you meant to install.  There are multiple ways to provide a hash including the two being discussed here (passing it to `createInstall()` and including it in a special header if the load of the actual addon is redirected).  The former offers slightly more protection (ie against somebody who manages to hijac

[2017-04-26 16:40] lmorchard commented on #1555
Yeah, that's my basic conundrum here: I don't get how moving the hash check might protect better. Maybe it's better where the XPI is on a different origin than the JS installing it?

Otherwise, if you can MITM our redirect with a hash, I'd guess you can MITM a JSON resource containing the hash. Worse, you could MITM our JS resource containing the `createInstall()` call that uses the hash.

Do we k

[2017-04-26 16:47] aswan commented on #1555
To be pedantic, the actual location of the XPI doesn't really matter, this is certainly more meaningful if the redirect comes from a different place than the page that is starting the install.  If the page and the redirect come from the same place, I would agree that if you can subvert one, you are likely to be able to subvert the other too.

Not sure, I would start with @dveditz

[2017-04-26 16:49] lmorchard commented on #1555
Sure, and that's also the same here: Redirects, XPIs, and JS are all located at https://testpilot.firefox.com/

[2017-04-26 20:08] fzzzy commented on #2391
@lmorchard Your previous comment was exactly correct -- it returns a promise that does the right thing.

[2017-04-27 15:50] SoftVision-CarmenFat opened #2400 "Specific experiment options from about:addons are not displayed, after re-enabling some of the active Test Pilot experiments"
[Affected versions]:
- Firefox 53.0 and above

[Affected Platforms]:
- All Windows
- All Linux
- All MAC OS

[Prerequisites]:
- Test Pilot add-on was previously installed on the profile.
- Have one of the following experiments enabled: Activity Stream, Min Vid or Tab Center.

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites and navigate to "about:addons" page.
2. C

[2017-04-27 16:15] PiratDOM opened #2401 "Came back to my Mac and #testpilot #pageshot GONE!!!"
Wow, I was pretty much completely dependant my past 48 hrs on PageShots, bookmarking all I use for research for work.... It is all gone... What has happened?

I wasn't signed off. I use quite few browsers for different purposes, but all my research was actually doing here in firefox.... OMG.... So much time... Well shoot... At least I would like to know what caused it...
All other addons seem fine

[2017-04-27 16:18] PiratDOM commented on #2401
Before I left my computer cpl hrs ago, I was uploading video on youtube and had to switch my google account to my second one, so I suppose it has something to do with that...

[2017-04-27 16:34] PiratDOM commented on #2401
![screen shot 2017-04-27 at 17 32 48](https://cloud.githubusercontent.com/assets/28035413/25493901/b2b1dc90-2b6f-11e7-8385-99e29a5ae605.png)

Not It guy so I am not trying to fix this... Could You please let me know how to pull the data back? Seems like it will be there...

[2017-04-27 16:47] ianb commented on #2401
Do you have a URL of a shot you previously made, and a new shot that you've made?  You should have old shot URLs in your browser history.

[2017-04-27 16:51] ckprice commented on #2401
Have you made any changes to your about:config settings lately?

Also, are you on Firefox Nightly, Aurora, Beta, or Release (if you don't know then you are probably on Release). And is this Mac, Windows or Linux?

[2017-04-27 17:35] lmorchard commented on #2219
Confused by the description of this issue, need some clarification...

Trying to understand what you're doing & not seeing.

What command are you running to build build and what experiments.ftl file are you looking at? Did you [copy the build version from frontend/build/static/locales/en-US/experiments.ftl to locales/en-US/experiments.ftl, and include it in a pull request](https://github.com/mozil

[2017-04-27 18:04] PiratDOM commented on #2401
Firstly appreciate the speed of Your response to my SOS :D

But I am an absolute Laic in coding, so I do not even know Ian where to look for it... I didnt really want to touch anything... I was making changes in Youtube of my google account name, so yeah that might be the problem... Well since I was naive to use the beta tool I wasnt making snapshot backups... My fault.

[2017-04-27 18:10] PiratDOM commented on #2401
Mac...
![screen shot 2017-04-27 at 19 08 54](https://cloud.githubusercontent.com/assets/28035413/25497597/1131aa90-2b7d-11e7-9f72-0d2daeb6cc8d.png)
Yeah changed my name in youtube so i suppose thats what messed it up

[2017-04-27 18:12] PiratDOM commented on #2401
![screen shot 2017-04-27 at 19 10 44](https://cloud.githubusercontent.com/assets/28035413/25497670/4659633e-2b7d-11e7-8ae8-4b9f35ebc39f.png)

[2017-04-27 18:16] PiratDOM commented on #2401
![screen shot 2017-04-27 at 19 13 12](https://cloud.githubusercontent.com/assets/28035413/25497857/c9230162-2b7d-11e7-97dc-0ddfeeefd750.png)

[2017-04-27 18:18] PiratDOM commented on #2401
![screen shot 2017-04-27 at 19 17 57](https://cloud.githubusercontent.com/assets/28035413/25498005/42efd812-2b7e-11e7-8250-b4755ac77990.png)

[2017-04-27 18:37] ianb commented on #2401
My question might be premature.  I'd recommend looking at **Tools > Add-ons** to see if the extensions are present but not activated.  You can also look in about:config, and there is a preference `extensions.jid1-NeEaf3sAHdKHPA@jetpack.deviceIdInfo` that contains your authentication information for Page Shot.  You may wish to save the value of that setting as a kind of backup.  After that you migh

[2017-04-27 19:24] PiratDOM commented on #2401
They are active since I had to reinstall them ... The icons were gone when I came to the computer... Installed the test pilot from scraycj again...

[2017-04-27 19:50] PiratDOM commented on #2401
ARE You making any changes in my browser remotely? Cuz I deleted the facebook fixer addon and now I see its back on again...

[2017-04-27 19:56] PiratDOM commented on #2401
How do I actually debug in console... I think it jumped back to the old profile again but I cant open page shot it needs debug
![screen shot 2017-04-27 at 20 52 54](https://cloud.githubusercontent.com/assets/28035413/25501793/dbf2df84-2b8b-11e7-95ed-74fd62417be5.png)

And since I have You on, what is the shortcut for page shot pls ... when i wanna keyboard shortcut it

[2017-04-27 20:08] PiratDOM commented on #2401
![screen shot 2017-04-27 at 21 05 55](https://cloud.githubusercontent.com/assets/28035413/25502169/7caa8692-2b8d-11e7-9143-8ea42ebd464e.png)
![screen shot 2017-04-27 at 21 05 55](https://cloud.githubusercontent.com/assets/28035413/25502186/92e3880a-2b8d-11e7-9ed2-89fcb5dc5282.png)

I think It got back to old now and needs some debuggin... do I have to do it one by one

[2017-04-27 20:17] PiratDOM commented on #2401
![screen shot 2017-04-27 at 21 16 26](https://cloud.githubusercontent.com/assets/28035413/25502549/ef4a8eb2-2b8e-11e7-86ab-303833bace3b.png)

[2017-04-27 20:28] PiratDOM commented on #2401
it seems like it is much easier to just kill it and install all again right

[2017-04-27 20:29] ckprice commented on #2401
Great! I'm going to close this issue then.

If you are facing a specific problem with Test Pilot or Page Shot please feel free to file a new issue (or reopen this if you still can't find your Shots). If you have general questions regarding specific add-ons, you can file an issue with the add-on developers (contact information can typically be found in https://addons.mozilla.org).

Thank you!

[2017-04-27 20:29] #2401 closed, assigned to nobody

[2017-04-28 16:07] ghost commented on #2400
This is weird.  Do we know why this happens?  If we know why and it doesn't break anything else, I'm comfortable closing it.

[2017-04-28 16:11] ckprice commented on #1795
This should be fixed once #2351 has landed.

[2017-04-28 16:12] ghost commented on #1946
I think this is going away with the new design in txp-36

[2017-04-28 16:13] ghost commented on #2138
Does this still happen?

[2017-04-28 16:14] ghost commented on #1935
remove-react-router may fix this

[2017-04-28 16:19] ghost commented on #1828
This is suspiciously similar to #875 but I can still reproduce that one (on Firefox) and I can't see this one (on Firefox)

[2017-05-01 14:49] pmac opened #2403 "Stop sending "lang" with newsletter subscription requests to basket"
Our newsletter system only supports a few specific languages, and the `test-pilot` newsletter specifically only supports English and German. The test-pilot site appears to be sending whatever language is first in the user's `accept-language` header however. Basket can parse this header looking for one we support in the list if the `lang` parameter is not sent. `lang` is really meant to only suppor

[2017-05-01 14:55] lmorchard commented on #2400
Does it happen for other add-ons besides Test Pilot experiments? I'd guess it's an artifact of the add-on manager not having a way to refresh the options available until the page is reloaded. I don't think there's much we can do about it on our end

[2017-05-01 16:41] ScottDowne commented on #2392
Hey all, figured I would pick up another few small bugs while I had some time between campaigns.

I used the hard coded url because that's what I've used with my previous basket interactions, but happy to change it to something along the lines of `window.location.origin + window.location.pathname` or something else.

Thoughts?

[2017-05-01 16:46] pmac commented on #2392
👍 from me. It might be best and more future proof to use the `window.location.*` values, but this is better than what we have and is probably more robust. Are there multiple URLs at which the newsletter form currently lives on testpilot.f.c?

[2017-05-01 18:29] ScottDowne commented on #875
I noticed while the page is loading, it's fine. Then it hits `setPageTitleL10N` https://github.com/mozilla/testpilot/blob/master/frontend/src/app/containers/ExperimentPage.js#L214 and it updates the title, creating the issue. I think.

So maybe this is being caused by whatever is doing l10n?

[2017-05-01 20:52] chuckharmston commented on #2364
See this bug for another place where mozAddonManager may be prevented in the future: https://bugzilla.mozilla.org/show_bug.cgi?id=1359837

[2017-05-01 21:02] ScottDowne commented on #875
I think this and #1828 are related.

If you go here: https://github.com/l20n/l20n.js/blob/master/docs/html.md

At the bottom it says "If you care about IE11 you'll need the HTMLTemplateElement polyfill. L20n.js uses HTMLTemplateElements (<template>) to safely set contents of DOM nodes."

So maybe the weird characters are the broken template elements? They offer a solution which  havn't looked into

[2017-05-01 21:32] ghost commented on #2364
If a user has the pref mentioned in bug 1359837 flipped, they'll see an install dialog followed by an error message here.  The biggest use case for that pref is managed workstations who have admins who flip it.

marking needs UX for how we want to communicate to the user and cc @johngruen .  This feels like a pretty slim audience (@chuckharmston is asking about how many people were talking about)

[2017-05-01 21:49] ghost commented on #875
Yeah, interesting, although I can reproduce the page title ones in Firefox.  /cc @stasm for the potential for an l20n tie-in

[2017-05-01 22:20] ScottDowne commented on #875
Yeah, I think it's very likely l20n.js related, but I'm less sure it's `<template>` related.

I tried a few browser/OS combinations until I found one that failed (Windows + IE 11), I didn't find a FF that failed. I'm on Fedora (stable + nightly), and I also tried WIndows (stable and beta FF).

However, I also tried a template polyfil, and it didn't fix it.

I think a reduced test case to confirm t

[2017-05-02 10:19] stasm commented on #875
L20n (and Fluent) use Unicode's FSI and PDI marks to isolate the direction of interpolated text. This is useful when the text around an interpolation has a different direction than the text inside of the interpolation. The bidi algorithm needs a bit of help to properly render punctuation marks in those cases.

Unfortunately, FSI and PDI don't render well on Windows on some browsers. Is this issue

[2017-05-02 14:53] fzzzy commented on #2364
Time to get going on this soon.

[2017-05-02 16:16] ScottDowne commented on #875
@stasm Yeah, Edge is fine.

[2017-05-02 16:39] stasm commented on #875
Thanks for the information. I filed https://github.com/l20n/l20n.js/pull/178. I'll be able to test it on Thursday.

[2017-05-02 18:46] #2392 closed, assigned to lmorchard

[2017-05-02 18:48] lmorchard commented on #2392
The newsletter form lives in the footer on all pages of Test Pilot, but I'm not sure we're all that worried about getting granular

[2017-05-02 18:51] ghost commented on #875
I'm still reproducing this in Firefox Nightly on Ubuntu (and have been able since at least when this was filed).  No one else sees this in Nightly's title bar (screenshot in first comment)?

Edit:  The original screenshot was from Nick, not me.  So, attaching what I see today:
![nightly](https://cloud.githubusercontent.com/assets/16946141/25634068/248324ac-2f2e-11e7-8a3f-9805b95a2630.png)

[2017-05-02 18:58] pmac commented on #2392
The email marketing team is pretty worried about it from what I understand, but this is a step forward. Thanks!

[2017-05-02 19:05] ScottDowne commented on #875
@wresuolc Yeah, it's fine for me on Fedora + nightly.

I'll see if I can wrangle a way to test on Ubuntu.

[2017-05-02 19:10] lmorchard commented on #1555
Alright, how about this: Seems like maybe we don't really need to do this, so I'll close. Re-open / comment if there's a strong case to do this in addition to X-Target-Digest header on redirects.

[2017-05-02 19:10] #1555 closed, assigned to lmorchard

[2017-05-02 20:14] lmorchard opened #2406 "App JS bundle doesn't get rebuilt in gulp when experiment content changes"
Looks like [we embed `experiments.json` in `store.js`](https://github.com/mozilla/testpilot/blame/master/frontend/src/app/store.js#L12) now. But, when YAML gets changed and the `content-experiments-data` gulp task runs, the JS bundle never gets rebuilt. I think we need to add a file watcher for `experiments.json` in gulp

[2017-05-02 21:24] ckprice opened #2408 "Remove test notifications"
We need to remove 26e3d05fc947fc4017888b234e0a7c54d10c05c4 before we push to stage again.

[2017-05-03 11:36] SoftVision-CarmenFat commented on #2400
Hi @lmorchard,

I tested the same scenario using add-ons that are not part of the Test Pilot experiments.
After re-enabling the add-ons, the specific options were displayed again without having to reload the webpage.

The tested add-ons are the following:
- Adblock Plus 2.8.2
- Classic Toolbar Buttons 1.5.6
- cliget 1.2.3.1-signed.1-signed
- GlassMyFox 1.4.0
- VimFx 0.20.10

![adblock](https://clo

[2017-05-03 14:48] fzzzy commented on #2394
Need the UX for this, plz!

[2017-05-03 17:01] fzzzy commented on #2394
I took a quick stab at this.

Without addon:

<img width="1397" alt="no-addon" src="https://cloud.githubusercontent.com/assets/46048/25672170/81b265c0-3000-11e7-9d22-05b23ef1337a.png">

With addon:

<img width="1396" alt="yes-addon" src="https://cloud.githubusercontent.com/assets/46048/25672192/8d2fa61a-3000-11e7-813f-71e7d90f0a88.png">

[2017-05-03 17:56] johngruen opened #2409 "We're missing a close parens"
https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/ExperimentRowCard.js#L41

[2017-05-03 20:04] #2409 closed, assigned to pdehaan

[2017-05-04 18:34] ckprice opened #2414 "In product notifications are not working"
In 26e3d05fc947fc4017888b234e0a7c54d10c05c4 we enabled some tests for dev. I was not able to get these to kick off.

This issue is to figure out why and fix.

[2017-05-04 18:39] #2408 closed, assigned to ckprice

[2017-05-04 18:45] ckprice opened #2416 "[release] 2017-05-04 is on stage"
Please QA 2017-05-04 on stage.

[2017-05-05 15:42] SoftVision-CosminMuntean commented on #2416
Hi guys,

Here is the testing report for the Stage server:

### **New issues (not yet logged):**
1. The hint tooltips for the email field and for the privacy ceckbox do not persist if the "Sign Up Now" button is clicked (only on latest Firefox (53.0) release)
- This is a Firefox issue that was introduced in Beta 53.0b2, but it seems that is no longer reproducible on Beta 54.

- Considering this I

[2017-05-05 16:02] SoftVision-CosminMuntean commented on #2138
I have retested this issue on Firefox 49.0 and it seems that now the "Browser restart request" page is no longer displayed after clicking the "Install Test Pilot Add-on" button.
After clicking it the "Installing..." button remains in the installing state until the browser is restarted.

If you navigate to "about:addons" page, you can see "Test Pilot will be installed after you restart Firefox" mes

[2017-05-05 16:05] ghost commented on #2416
Thanks!  We think these are ok to go forward with

[2017-05-05 16:07] ghost commented on #2414
We're punting on notifications until we're off of the SDK.  Thanks for looking at this though!

[2017-05-05 16:07] #2414 closed, assigned to nobody

[2017-05-05 16:12] ghost commented on #822
We're getting away from using the SDK but not ready to jump to a web extension yet.  We'll be continuing as a bootstrap add-on.  Is this the right module to continue to use?  @kumar303 @andymckay

[2017-05-05 16:15] lmorchard commented on #822
Hmm, yeah [there's mention of webextensions in the readme](https://github.com/mozilla/sign-addon/#dealing-with-extension-ids), so sounds like this is the module we'll want to use going forward regardless of add-on type.

[2017-05-05 16:19] ghost commented on #973
Thanks for filing.  We're going to close this before it celebrates it's first birthday. :)

(This might get fixed for free w/ donovan's giant PR)  "hey don't make any promises" --donovan

[2017-05-05 16:19] #973 closed, assigned to nobody

[2017-05-05 16:25] ghost commented on #1011
jgruen says disabling is ok too, whatever is easiest

There is some question about whether an add-on gets its own disable event.  If it doesn't, this might be a wontfix.

[2017-05-05 16:26] ghost commented on #1032
wontifixng this in favor of Jared's library

[2017-05-05 16:26] #1032 closed, assigned to nobody

[2017-05-05 16:29] #1252 closed, assigned to nobody

[2017-05-05 16:30] ghost opened #2417 "whack all the notification code and docs"
We're going to shut down notifications for a while.  Let's get rid of the old code and docs while we still can!

[2017-05-05 17:18] fzzzy commented on #2138
Why is the restart required?

[2017-05-05 17:46] jaredhirsch commented on #2138
I'm not sure why a browser restart would ever be requested. We've deliberately made every addon restartless since the start of test pilot, including the test pilot addon itself.

[2017-05-05 17:53] lmorchard commented on #2138
I want to say some of the prefs we have to change for telemetry require a restart to take effect, if they were disabled at first. Maybe @chuckharmston knows more? I think he might have been in the thick of those pages

[2017-05-05 17:55] chuckharmston commented on #2138
I'm fuzzy on the details, but I think what Les is referring to had to do with installing add-ons that were not e10s compatible when e10s was enabled. That seems unlikely here.

[2017-05-05 17:56] lmorchard commented on #2138
Yeah, I'm having trouble finding any restart-required cases in the repo now. Like, we have this [`RESTART_NEEDED` constant with a `// TODO` comment](https://github.com/mozilla/testpilot/blame/d98a47248b46251cec423a6c2d5a97490a1e72ac/frontend/src/app/lib/moz.js#L7) 🤷‍♂️

[2017-05-05 17:58] chuckharmston commented on #2138
Maybe @fzzzy stripped out that check when doing one of the refactors?

[2017-05-05 18:09] fzzzy commented on #2138
I'm pretty sure I left the restart needed logic in. @dannycoates may have removed it in the use-mozAddonManager branch. However, what's weird here is that the add-on manager is reporting that a restart is needed, which I assume we have no control over?

[2017-05-05 18:41] kumar303 commented on #822
Yes, `sign-addon` would be a better package to use instead of `jpm`.

[2017-05-05 19:32] johngruen opened #2418 "Add News Summary to /experiments"
## How it works

-  The layout on `/experiments` is expanded to accommodate short summaries of recent news items
- 2-3 items are shown
- hovering on each item changes UI slightly (see hover state, below)
- clicking on news item takes user to expanded article in news feed

## Spec
Main UI: https://mozilla.invisionapp.com/share/U7BLDRERA
Hover State: https://mozilla.invisionapp.com/share/GYBLHAOKZ

[2017-05-05 19:43] johngruen opened #2419 "Add News alerts for major experiment changes"
## How it works
- when we launch a *major* change or update to a feature (such as queues in Min Vid, or graduating page shot), the toolbar icon is badged (note, this feature goes beyond the `/experiments` news summary and is reserved for major updates.
- when the user clicks on the badge they are taken `/experiments` and a news modal is popped.
- if there are multiple new major features, the modal

[2017-05-05 19:53] chuckharmston commented on #2138
We show this view when a restart is required: https://testpilot.firefox.com/restart

[2017-05-05 20:21] johngruen opened #2420 "Add News Feed"
## How it works

- we add a new page in screenshots, something like `/updates` that serves as a running feed of news, features, and changes to Test Pilot and experiments
- the main view contains a chronological feed of posts
- each post can be expanded to show details, and provide a link to the experiment
- each post has a title, date, a category (experiment or test pilot), a short summary text, d

[2017-05-05 20:42] johngruen opened #2421 "Add link to news feed in header"
pretty basic, add link to the news feed in the `<Header>` component

[2017-05-05 20:45] fzzzy commented on #2138
But in the screen recording, "Test Pilot will be enabled after you restart Firefox" is shown in the Add-on manager, and that testpilot.firefox.com/restart ui is not shown.

[2017-05-05 20:55] chuckharmston commented on #2138
No idea why that's happening; this was the intended flow for restarts, though. Things may have been broken in refactors.

[2017-05-05 21:18] ehsan opened #2422 "Test Pilot can cause huge performance issues in Firefox (especially on Linux) with Telemetry turned on"
See this Mozilla bug https://bugzilla.mozilla.org/show_bug.cgi?id=1360702 and this profile: https://perfht.ml/2pHdFkY

Test pilot is calling `getCurrentPingData` for some reason with a very high frequency.  That function is generally very expensive and on Linux it can be *extremely* expensive.  This made my real browsing profile so bad that I had to turn off telemetry for a few days in order to ge

[2017-05-05 22:43] ghost opened #2423 "Stop using the add-on SDK"
This is going to be a tracker for moving us away from the SDK.  If you make PRs, use the "connected to" keywords please.

Most of the content here comes from [our API spreadsheet](https://docs.google.com/spreadsheets/d/1r0EekWPF_v427dt0P_gs5MAEWHZDC78d7k1KWZNNfrs/edit#gid=0) and [the documentation comparing the SDK with webextensions](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Compa

[2017-05-08 16:17] lmorchard commented on #2422
Looks like we're calling this in [`addon/src/lib/Telemetry.js`][1] and [`addon/src/lib/metrics/experiment.js`][2] to assemble contextual data for Ping Centre metrics event submissions. How often does this context change? Maybe we can cache it super aggressively / only ask for it at startup? /cc @6a68 since I see your name on these lines

[1]: https://github.com/mozilla/testpilot/blob/master/addon/

[2017-05-08 19:18] lmorchard commented on #1382
Didn't get around to this in the last sprint, may return to it but removing myself from assignment for now so as not to leave the cookie licked

[2017-05-08 20:06] lmorchard commented on #2419
So, we show a "new" badge on the add-on icon right now when there are new experiments.

Does this co-exist with / replace / override with that existing badge somehow?

[2017-05-08 20:11] lmorchard commented on #2419
More questions:

* How do we identify what's a "new major feature" - e.g. are all posts shown in #2420 major features to be paginated in a carousel? Or, is "major feature" a news feed post type / tag? (on reading #2420 through again, it sounds like the latter - a post type or tag.)

* Is "newness" a per-user thing - e.g. we try to stash a last-visited date in the user's localStorage?

* Is there a

[2017-05-08 20:13] lmorchard commented on #2418
Are these per-experiment summaries meant to be taken from the latest post? Or is each one a manually-authored piece of content separate from posts?

[2017-05-08 20:19] lmorchard commented on #2420
Each post sounds like it needs a type / tag marking it as "news", "major feature", "change" - which might serve as a filter for alerts in #2419, assuming we don't want *every* post pushed in the alert / carousel system

[2017-05-08 20:26] lmorchard commented on #2420
Thinking out loud through a rough schema of a "post":

* date/time
* category (experiment, Test Pilot)
* post type (news, feature, change)
* header image
* post title
* intro HTML (markdown)
* detail HTML (markdown, visible via "view more")

Is that it? Missing anything? Expecting to include additional images in intro / detail HTML sections? We had a pretty cookie-cutter content pattern for experi

[2017-05-08 20:32] lmorchard commented on #2420
Also, as we've discussed a little bit in meetings, it might be nice to re-purpose an existing system (e.g. WordPress) to handle content management rather than continue to re-invent wheels.

Some benefits there include:
* releasing news updates independently of the general Test Pilot two-week deploy schedule
* giving experimenters better flexibility to manage their own posts without submitting PRs

[2017-05-08 20:44] lmorchard commented on #2420
But, if we don't use WordPress... It's not infeasible to have a per-experiment directory of little YAML-front-matter-and-markdown-content files like Jekyll, keep more images in the repo, and tie news updates to Test Pilot sprints. Maybe we could do l10n with directories named for locales

[2017-05-09 07:59] Dexterp37 commented on #2422
Mh, from a quick look this seems to be doing:

- Calling `TelemetryController.getCurrentPingData` to get the *ping structure*. Note that this method gathers all the data required for the `session ping` (aka [main-ping](https://gecko.readthedocs.io/en/latest/toolkit/components/telemetry/telemetry/data/main-ping.html)) and it's quite expensive.
- It then [overrides](https://github.com/mozilla/testpi

[2017-05-09 08:24] georgf commented on #2422
The only data from the main ping i see the test pilot code using here is the environment data.
You can get that much much cheaper using `TelemetryEnvironment.currentEnvironment`.

[2017-05-09 19:57] lmorchard commented on #2420
Slept on this: Wondering if maybe a whole WordPress instance is overkill, unless we have a ready-to-go ops thing available?

Could just keep going with our static site generator approach, start a new directory of YAML-with-content files, and maybe just accept deploying more often with just cherry picked news posts? (That is, assuming we have more than a post every 2 weeks)

[2017-05-09 19:59] chuckharmston commented on #2420
Is a move to Jekyll (or similar) off the table? [Its collections](https://jekyllrb.com/docs/collections/) give us the CMS-y feel we want, without the need for an admin.

[2017-05-09 20:00] lmorchard commented on #2420
Personally, I'd hesitate to add it to our build and make things even more a Rube Goldberg machine. At least we only have to real with JavaScript & node right now. What I'm thinking of so far is just another gulp task or two.

[2017-05-09 21:09] ghost commented on #940
Looks like this got fixed a while ago.  I verified my current pings line up with what is in the docs.

![tp](https://cloud.githubusercontent.com/assets/16946141/25872859/13b793fe-34c1-11e7-9c23-1bb0c1eb5de0.png)
![tpt](https://cloud.githubusercontent.com/assets/16946141/25872860/13bde9f2-34c1-11e7-866e-61984bf0ec18.png)

[2017-05-09 21:09] #940 closed, assigned to clouserw

[2017-05-10 13:30] SoftVision-PaulOiegas commented on #2189
Forgot to close this. Rechecked it and it correctly works, except the uninstall part. But that is caused by another issue (#2366).

[2017-05-10 13:30] #2189 closed, assigned to nobody

[2017-05-10 14:01] SoftVision-PaulOiegas commented on #2138
Guys, the restartless install was possible only starting with Fx 50.x. Test Pilot supports Firefox versions starting from 49.x. So for this case we still need the https://testpilot.firefox.com/restart page, and that is not displayed for the moment.
Maybe we should log something for this separately ? This one is still a valid bug if we fix the page display for 49.x.

[2017-05-10 14:51] chuckharmston opened #2424 "Add and implement max_release field for experiments"
We currently have a [`min_release`](https://github.com/mozilla/testpilot/blob/master/docs/content/reference.md#min_release) field for experiments to require a minimum Firefox version for installation. We have a new need for a `max_release` field that behaves similarly, but prevents installation for Firefox versions beyond a maximum.

[2017-05-11 09:40] youwenliang commented on #2418
We can pull 2~3 latest post from the news feed page as the summary here.

### Updated Spec Link:
(including default state & hover state)
https://mozilla.invisionapp.com/share/9XBO0DC7F

All the news feed related measurements can be found here:
https://www.dropbox.com/sh/ludnt78ky7ttrwq/AACh3mXB8FsxMxbRpGs34Repa?dl=0

[2017-05-11 09:44] youwenliang commented on #2419
### Updated Spec Link:
(including enabled/not-enabled experiment situations)
https://mozilla.invisionapp.com/share/8SBO0GLA9

All the news feed related measurements can be found here:
https://www.dropbox.com/sh/ludnt78ky7ttrwq/AACh3mXB8FsxMxbRpGs34Repa?dl=0

[2017-05-11 09:47] youwenliang commented on #2420
### Updated Spec Link:
(including expand/collapse view, and all updates page v.s filtered page)
https://mozilla.invisionapp.com/share/RGBO0IRXJ

All the news feed related measurements can be found here:
https://www.dropbox.com/sh/ludnt78ky7ttrwq/AACh3mXB8FsxMxbRpGs34Repa?dl=0

[2017-05-12 16:11] SoftVision-CosminMuntean commented on #2419
Hi @johngruen,
We started to create test cases for the news functionality and we encountered some areas that were not covered in the descriptions. Here are a few questions:

1. The "New Updates" pop-up modal is only displayed when you have Test Pilot installed, right? Also, is it only displayed when you have a "notification" on the toolbar button and you navigate to Test Pilot homepage by clicking

[2017-05-12 16:11] ghost commented on #2424
This is pretty much copying the max_release code and s/>/</g so let's do it.  Don't forget to update the docs and example yaml file.

[2017-05-12 16:23] ghost commented on #2420
clouserw:  investigate l10n on mozilla's current wordpress blogs

[2017-05-12 18:27] jaredhirsch commented on #2422
You can get that much much cheaper using TelemetryEnvironment.currentEnvironment.

Great! I'll switch to that

[2017-05-12 18:49] EricRahm commented on #2422
You can see the issue in the existing [profile](https://perfht.ml/2pHdFkY): I select 'Invert call stack', if you expand that a few rows we see `GetProcSelfSmapsPrivate`, expand further we see telemetry show up, and even further it's an entry in test-pilot.

![screenshot from 2017-05-12 11-41-08](https://cloud.githubusercontent.com/assets/426919/26012225/b1dc2eb6-3708-11e7-8ad8-b40043d0f141.png)

I

[2017-05-12 18:55] jaredhirsch commented on #2422
Thanks so much for uploading some instructions and a screenshot!

I'll try to repro the current issue on my ubuntu laptop, then switch to just check `TelemetryEnvironment.currentEnvironment` once, at startup, and cache that value, then see how the profiles differ.

[2017-05-12 18:57] jaredhirsch opened #2427 "Consider batching metrics pings"
Questions I don't yet know how to answer:

- How frequently are we submitting metrics pings? What's the performance impact?
- How might batching metrics pings improve performance?

[2017-05-12 21:01] lmorchard commented on #2420
Another question - what about pagination? Or, do we just not show items past a certain number / age?

[2017-05-13 07:52] Dexterp37 commented on #2422
There's no need to cache if you use `TelemetryEnvironment.currentEnvironment`, as the environment might change during the lifetime of the browsing session and `TelemetryEnvironment.currentEnvironment` always contains the most recent cached copy.

[2017-05-15 16:20] #2260 closed, assigned to fzzzy

[2017-05-15 16:20] #2383 closed, assigned to lmorchard

[2017-05-15 16:30] meandavejustice commented on #2420
Is a move to Jekyll (or similar) off the table?

@lmorchard

There are plenty of other statically built blog engines that only use javascript/node if we do want to go that route.

[2017-05-15 19:41] meandavejustice commented on #2418
I think there should additionally be a "view all updates" link either beside the "Latest Updates" header or beneath the 2 experiments

[2017-05-15 20:03] meandavejustice commented on #2419
@SoftVision-CosminMuntean

My reading of the original description above was that updates should only be shown to users with testpilot installed and enabled. But that the popup modal will be shown to both users navigating to testpilot or being directed there from the toolbar button notification.

Based on other parts of these discussions, it looks like we will probably set a cookie to determine whe

[2017-05-15 22:17] meandavejustice commented on #2420
@johngruen @lmorchard @clouserw
I have a couple of questions/suggestions here:

1. Can we have a static single post page that can be linked to? Although it is doable to link to a specific post within the feed and expand it via a query string or some other indicator, It might get messy. Also it will slow down page loads. Whenever I personally look at a post/blog sort of thing I always want to be ab

[2017-05-15 22:25] meandavejustice commented on #2420
@lmorchard @chuckharmston As far as using something like wordpress for this, I vote for whatever will have the quickest setup with the lowest amount of maintenance on our end. I'm happy to have a discussion here, or in a etherpad about the pros and cons of our options. Lemme know if yall wanna setup a little vidyo meeting to discuss sometime this week.

This seems to be the one decision that will

[2017-05-16 09:23] SoftVision-CosminMuntean opened #2428 "The experiment logos are no longer displayed on homepage and experiments details page"
[Affected versions]:
- Firefox 53.0.2 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites and navigate to "https://testpilot.dev.mozaws.net/".
2. Observe the experiments cards.
3. Click one of the available experiments.
4. Observe the experiment details page.

[Expected result]:
- The experiment log

[2017-05-16 15:20] #1758 closed, assigned to lmorchard

[2017-05-16 15:20] #2403 closed, assigned to lmorchard

[2017-05-16 15:21] SoftVision-CosminMuntean opened #2429 "The "Shutting down" loading spinner is no longer displayed when Test Pilot is uninstalling"
[Affected versions]:
- Firefox 53.0.2 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- The "extensions.webapi.testing" boolean pref was manually added with "true" value in "about:config" page.
- Test Pilot add-on is already installed on the cr

[2017-05-16 15:54] fzzzy opened #2430 "Move pontoon commits to a branch"
We should tell pontoon to put commits on a branch, then only open a pull request for all the pontoon stuff once a sprint. This will cut down a lot on both #testpilot-bots spam and on circleci load.

Remaining steps (per @lmorchard):

- [x] Get testpilot-l10n.dev.mozaws.net working as an approved host name
- [x] Add l10n environment to add-on
- [x] Create an l10n branch on this repo
- [x] Update Ci

[2017-05-16 16:31] SoftVision-CosminMuntean opened #2431 "No or wrong strings are displayed before the Test Pilot pages are fully loaded"
[Affected versions]:
- Firefox 53.0.2 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- The "extensions.webapi.testing" boolean pref was manually added with "true" value in "about:config" page.
- Have Test Pilot and at least one experiment enab

[2017-05-16 17:21] johngruen opened #2432 "Colors and icons missing on dev"
<img width="1183" alt="screen shot 2017-05-16 at 1 20 45 pm" src="https://cloud.githubusercontent.com/assets/3323249/26119214/86089056-3a3a-11e7-87f0-177e903d838c.png">
<img width="1183" alt="screen shot 2017-05-16 at 1 20 49 pm" src="https://cloud.githubusercontent.com/assets/3323249/26119215/864eb2ca-3a3a-11e7-860a-ed1017a383d6.png">

[2017-05-16 17:22] johngruen commented on #2428
ah, missed this, will close my dupe

[2017-05-16 17:22] #2432 closed, assigned to johngruen

[2017-05-16 17:24] johngruen opened #2433 "Users with Test Pilot installed should be automatically redirected to /experiments"
Users with Test Pilot installed should never see `testpilot.firefox.com`.

They should always be redirected to `/experiements`

[2017-05-16 17:47] johngruen opened #2434 "We need to bring back loading states while pages complete rendering"
There may be some down-the-road workarounds here, but there appear to be several issues related to removing the Loading state as page components get built. To name a few:

* Colors and icons do not seem to be fetched in time making experiment cards not correctly render color or icon
* The card button state swaps subsequent to page load for installed experiments
* The experiment counts getting fetc

[2017-05-16 18:24] fzzzy commented on #2434
Thanks for such detailed feedback.

[2017-05-16 18:47] meandavejustice commented on #2424
What do we want the copy to be for the notice when a version is too high?

"Experiment name requires Firefox 99 or earlier."
Seems like we should recommend "release" channel instead of linking to something like: https://support.mozilla.org/en-US/kb/install-older-version-of-firefox?redirectlocale=en-US&redirectslug=Installing+a+previous+version+of+Firefox

![](https://raw.githubusercontent.com/mozi

[2017-05-16 19:11] lmorchard commented on #2434
Peeking at this, and I think this is actually a separate issue. I'm seeing these CSP errors on dev rejecting the background colors & images for experiment cards

<img width="963" alt="screenshot 2017-05-16 15 09 00" src="https://cloud.githubusercontent.com/assets/21687/26123724/ea15ad4a-3a49-11e7-86f5-9f056090e90d.png">

And I see this on dev:

<img width="1050" alt="screenshot 2017-05-16 15 13 14

[2017-05-16 19:19] johngruen opened #2435 "Remember that users have been in experiments"
So we already know when users are _currently_ in experiments, but @clouserw suggested we keep a bit more of a record about users past activities. The benefits of doing this would be:

- If a user leaves an experiment, we could later reconnect with them to try to entice them back, or follow up on their reasons for leaving.
- If an experiment leaves test pilot and eventually makes it into Firefox or

[2017-05-16 19:54] lmorchard commented on #2434
Just submitted a PR to reproduce my last comment on local dev, and change CSP to allow inline styles because ugh.

[2017-05-16 19:59] lmorchard commented on #2434
Ah, looks like that was #2432 - which turns out to be CSP related, not time related, and won't be fixed by a loading delay

[2017-05-16 20:51] fzzzy commented on #2428
I'm actually working on this in https://github.com/mozilla/testpilot/issues/2434 so I'll close this one as a dupe of that instead.

[2017-05-16 20:51] #2428 closed, assigned to nobody

[2017-05-16 20:53] fzzzy commented on #2431
Thanks for the detailed analysis. We are going back to a loading indicator in https://github.com/mozilla/testpilot/issues/2434 so I will close this as a dup of that.

[2017-05-16 20:53] #2431 closed, assigned to nobody

[2017-05-16 21:11] #2434 closed, assigned to fzzzy

[2017-05-16 21:29] meandavejustice commented on #1976
This stack exchange questions seems relevant here https://serverfault.com/questions/722632/change-nginx-http-status-code-when-using-proxy-pass

[2017-05-16 21:51] #2433 closed, assigned to fzzzy

[2017-05-17 08:57] SoftVision-CosminMuntean opened #2440 "The loading indicator persists when you navigate to "About Test Pilot", "Privacy" or "Terms" pages"
[Affected versions]:
- Firefox 53.0.2 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites and navigate to "https://testpilot.dev.mozaws.net/".
2. From the footer of the page click the "About Test Pilot"/"Privacy"/"Terms" links.
3. Observe the browser behavior.

[Expected result]:
- The pages are suc

[2017-05-17 09:12] Pekochen commented on #2325
[News alerts Badge.zip](https://github.com/mozilla/testpilot/files/1007130/News.alerts.Badge.zip)
Here is the measurement for new badge.
I am not sure which format should I provide, not quite sure how to find the exist toolbar icon file.
Can you help to give me exist file? Just want to make sure the correct size and position of icon.
Thanks!

[2017-05-17 11:57] SoftVision-CosminMuntean opened #2441 "The loading indicator and the background are changing their position when page content is loaded (Windows)"
[Notes]:
- Probably this happens because of the Firefox scrollbar when is redisplayed and pushes the page content a few pixels in the left part.

[Affected versions]:
- Firefox 53.0.2 and above

[Affected Platforms]:
- All Windows

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites and navigate to "https://testpilot.dev.mozaws.net/".
2. Click one of the available exp

[2017-05-17 14:15] SoftVision-CosminMuntean opened #2443 "The "@" symbol is wrongly displayed when written in the newsletter text box from "Welcome to Test Pilot" pop-up (Windows)"
[Notes]:
- I have also noticed that the newsletter text box can be scrolled if you hold right click pressed and move the mouse up/down.

[Affected versions]:
- Firefox 53.0.2 and above

[Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- The "extensions.webapi.testing" boolean p

[2017-05-17 14:17] SoftVision-CosminMuntean opened #2444 "The "this privacy notice" link from "Welcome to Test Pilot" pop-up, wrongly opens the "Privacy" page in the current tab"
[Notes]:
- After you are redirected to the "Privacy" page and return to the experiments page, the "Welcome to Test Pilot" pop-up is dismissed.

[Affected versions]:
- Firefox 53.0.2 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- The "extensi

[2017-05-17 14:27] SoftVision-CosminMuntean commented on #2433
@johngruen I have question regarding to a similar behavior.

If you navigate directly to "https://testpilot.dev.mozaws.net/experiments" and you don't have Test Pilot installed, you should not be automatically redirected to "https://testpilot.dev.mozaws.net"?

[2017-05-17 15:27] johngruen commented on #2424
@meandavejustice yeah that seems right. Maybe something like:

"${experiment.name} is not supported in Firefox Beta or Firefox Nightly."

or "${experiment.name is not supported in Firefox Nightly."

I don't think we want to link users to the old releases page, maybe just

"Get the current version of Firefox." with a link to https://www.mozilla.org/en-US/firefox/

[2017-05-17 15:30] meandavejustice commented on #2424
@johngruen Yesterday I decided on the screenshot below, just to get it into review. What do you think of that?

![](https://raw.githubusercontent.com/meandavejustice/testpilot/c8c3d6924f0c2bb401466750a025a6bbcb813eb7/docs/content/img/max_release.png)

[2017-05-17 15:47] ghost commented on #2420
The wordpress install Mozilla hosts doesn't do L10n.

Figuring out the technical sides of L10n are complex enough, but we haven't talked about the logistical side at all.  How are we guaranteeing the strings are translated before they go live?  We don't always land patches early enough for that, and users (including localizers) aren't going to like it if we're shipping incomplete translations.

L1

[2017-05-17 15:52] fzzzy opened #2445 "Add Closure Compiler to our pipeline"
(edit: This bug was originally about prepack, but it doesn't work and Closure Compiler does, so this bug is now about that.)

https://prepack.io

[2017-05-17 15:54] SoftVision-EmilPasca opened #2446 "The 404 page is no longer displayed for wrong URLs"
[Affected versions]:
- Firefox 53.0.2 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites.
2. Navigate to "https://testpilot.dev.mozaws.net/fourohfourohno".
3. Observe the displayed webpage.

[Expected result]:
- The Test Pilot page that treats 404 cases is correctly displayed.

[Actual result]:
- T

[2017-05-17 16:02] ghost commented on #2435
Original idea credit to ckarlof, but I am a supporter.  We should get this in before we graduate any more experiments.

[2017-05-17 16:31] pdehaan commented on #2420
Unpopular opinion here, but do we _need_ to localize the blog? Or can we say that en-US is good enough? Do we localize graduation reports?

If we _do_ want to localize (and are writing our own basic blog tool) what about the legal-docs repo style of just every blog post is just a directory with locale files in it. So something like /blog/hello-world/en-US.md (with some markdown front matter) and t

[2017-05-17 16:32] lmorchard commented on #2420
Yeah, [the thinking I keep falling back](https://github.com/mozilla/testpilot/issues/2420#issuecomment-300283388) to (technically speaking) is [Jekyll-style markdown-with-YAML-front-matter posts](https://jekyllrb.com/docs/posts/) under `content-src/news/{locale}/{date or title}.md`.

Logistically speaking, this at least gets us a structure that accepts pull requests. I suspect trying to leverage P

[2017-05-17 16:32] ianb commented on #2420
How about experiments can have an RSS feed?  You can host on wordpress.com or wherever, Test Pilot still has to read and process the RSS, but doesn't have to implement any other content management features. This doesn't work great with Twitter, but [I guess there are options](https://twitrss.me/).

[2017-05-17 16:33] lmorchard commented on #2420
We already have a static site generator - I don't think we need to graft another one on.

We're also talking about WordPress, which clouserw just mentioned doesn't do L10n - at least insofar as the already-setup instances we have available at Mozilla

All of this to say - the technology isn't the main problem. Logistics are.

[2017-05-17 17:08] johngruen commented on #2424
${experiment.name} is not supported in this version of Firefox.
Get the current version of Firefox.

[2017-05-17 18:57] fzzzy opened #2448 "CSP violations in /experiments"
There are some CSP violations in the /experiments page related to inline css.

<img width="981" alt="screen shot 2017-05-17 at 2 56 21 pm" src="https://cloud.githubusercontent.com/assets/46048/26170910/1ab87758-3b11-11e7-90a0-e6b996f5c7bd.png">

[2017-05-17 19:01] meandavejustice commented on #2424
![](https://raw.githubusercontent.com/meandavejustice/testpilot/38d1d842f76ef887b3377048c90ca6cbdfa6379c/docs/content/img/max_release.png)

[2017-05-17 19:01] lmorchard commented on #2446
We stopped doing routing by inspecting `window.location`, but we serve up `index.html` as the Error Document in S3.

So, instead, I think we need to generate an `error.html` that dispatches to the proper 404 container with `data-page-name="error"` and reconfigure S3 to serve that up instead. (This will unfortunately require some ops help to complete for stage & prod.)

(notice that `index.html` is

[2017-05-17 19:06] #2440 closed, assigned to fzzzy

[2017-05-17 19:07] #2429 closed, assigned to fzzzy

[2017-05-17 19:08] #2444 closed, assigned to fzzzy

[2017-05-17 19:12] pdehaan commented on #2433
I'm not sure about redirecting people who do **not** have the Test Pilot add-on installed.
That seems like we'd potentially be preventing Chrome users and search engines from seeing the experiments details pages.

[2017-05-17 19:41] ghost commented on #2446
@relud would you change the Error document field to /notfound/index.html for the test pilot bucket?  thanks

[2017-05-17 19:47] lmorchard commented on #2130
Finally fixed this one https://github.com/mozilla/testpilot/pull/2450/commits/01dcd2193994f2d268e2430cafa09f767e78a6ef

[2017-05-17 19:47] #2130 closed, assigned to nobody

[2017-05-17 22:34] #2448 closed, assigned to fzzzy

[2017-05-17 22:47] jaredhirsch commented on #2441
hmm, I'm not convinced this is actually worth fixing. @johngruen thoughts?

[2017-05-17 22:49] meandavejustice commented on #2435
Thinking the object to store will look like this:

[code]

From this we can infer if the experiment was graduated based on the `uninstallDate`

[2017-05-17 23:00] jaredhirsch opened #2453 "'npm start' semi-broken on Git for Windows (MINGW64)"
I've installed nodejs natively (that is, via an msi) on a win 10 system, and have also installed git for windows (which gives you git inside a MINGW 64-bit environment). I've also installed gulp globally in the git for windows environment, in the usual way (`npm install gulp -g`).

Interestingly, in my windows clone of the testpilot repo, `npm start` fails:

[code]

However, if I type those comman

[2017-05-17 23:19] pdehaan commented on #2453
Wonder if we need something like [**cross-env**](https://www.npmjs.com/package/cross-env).

[2017-05-18 07:48] SoftVision-CosminMuntean commented on #2440
I have retested this issue and is no longer reproducible on dev server. Marking as verified.

[2017-05-18 08:21] SoftVision-CosminMuntean commented on #2444
I have retested this issue and is no longer reproducible on dev server. Marking as verified.

[2017-05-18 09:01] SoftVision-CosminMuntean commented on #2446
I have retested this issue and is no longer reproducible on dev server. Marking as verified.

[2017-05-18 09:02] SoftVision-CosminMuntean commented on #2429
I have retested this issue and the "Shutting down" loading spinner is correctly displayed. Marking as verified.

[2017-05-18 09:04] SoftVision-CosminMuntean opened #2454 "The pages content is wrongly displayed under the loading indicator, while the pages are loading"
[Affected versions]:
- Firefox 53.0.2 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox browser and navigate to "https://testpilot.dev.mozaws.net/".
2. Scroll the page until the "Install the Test Pilot Add-on" button reach the top part of the page.
3. Refresh the page and observe the browser behavior.

[Expected result]:
- The page content

[2017-05-18 09:13] SoftVision-CosminMuntean commented on #1795
I have retested this issue on dev server after #2351 landed and it seems that is still reproducible.

[2017-05-18 14:02] fzzzy commented on #2454
This is intentional.

[2017-05-18 14:02] #2454 closed, assigned to nobody

[2017-05-18 14:08] #2443 closed, assigned to jaredhirsch

[2017-05-18 14:10] #2424 closed, assigned to meandavejustice

[2017-05-18 15:21] SoftVision-EmilPasca opened #2455 "German privacy and terms pages are no longer localized on dev server"
[Affected versions]:
- Firefox 53.0.2 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open a German localized build or change content language to "de".
2. Navigate to "https://testpilot.dev.mozaws.net/".
3. Click on any Terms or Privacy links under the green "Install" button.
4. Observe the page content language.

[Expected result]:
- Content of both

[2017-05-18 15:23] ghost commented on #2435
Let's get an installDate also.  People that just try out every experiment but remove them after 30minutes probably don't want a reminder later.  Or we could just delete the entry completely if it's less than a certain amount I guess.

I saw in your commit that you're using the sdk -- we gotta figure out another option.  Also, how persistent is that storage?

[2017-05-18 17:27] fzzzy commented on #2454
Let me explain a little bit: by putting the actual html content in the page, that content should score higher in google and other search engines. We could hide those html nodes using css, but google is likely to penalize that severely. If the user does scroll down and try to use the html nodes before the js runs (or even with javascript turned off), they'll still be able to click links properly.

[2017-05-18 19:12] lmorchard commented on #2455
Hmm, [looks like the localized page exists](https://testpilot.dev.mozaws.net/terms/de), but we don't redirect to it anymore.

[2017-05-18 20:00] meandavejustice commented on #2435
@wresuolc I'm using sdk for now since that is what the rest of the addon is using. We can switch it to use webextension storage when we convert the rest of the addon.

I'll add the installDate as well, good thinking.

[2017-05-18 20:28] lmorchard commented on #2435
FWIW, this might all be better to do from the web site rather than the add-on, since that's where we do installs / uninstalls for the most part these days. (via mozAddonManager)

[2017-05-18 21:01] johngruen commented on #2420
@lmorchard per our meeting a minute ago, i think the schema should be something like:

* date/time
* category (experiment, Test Pilot) [we can use this to get the right icon]
* post type (news, feature, change)
* post title
* content (markdown)

[2017-05-18 21:02] johngruen commented on #2420
WRT pagination, I don't think we'd need any on the experiment page, i think we could time band stuff so only stuff w/in the last month gets shown, or possibly cap at 4 items

[2017-05-18 21:02] lmorchard commented on #2420
(FWIW, notes on the meeting "Let's talk about the News Feed" in [test-pilot-coordination etherpad](https://public.etherpad-mozilla.org/p/test-pilot-coordination). Being lazy and not copypasta'ing here)

[2017-05-18 21:28] johngruen commented on #2419
After our discussion about moving the newsfeed out to a blog and focusing on short in product notifications, i think we can probably refocus this bug a bit.

* @lorchard WRT question of badging, we might lose that feature with migration away from the SDK, in Screenshots we faked badging by actually creating a different version of the logo. We might want to file a separate ticket to track badge sta

[2017-05-18 22:10] dannycoates commented on #2435
Clearly installs, but we don't have data on how many folks uninstall via about:addons vs the site. If we don't care about about:addons, fine, but i'd hesitate to exclude it with no idea of the ratio.

[2017-05-18 22:13] dannycoates commented on #2435
Well, reading the intended use case (after the fact 😂) since it's not a stats thing maybe we just let the about:addons folks slip through the cracks

[2017-05-18 23:02] ghost commented on #2420
I agree, we don't need pagination at all.

I don't know that we need "post type" either.

Are we using markdown anywhere already?  If not, I think we could make do with whatever we already have (or nothing, if that's what we're doing now - we don't need this to be anything beyond text at launch).

It was also discussed that we should close this issue completely since it (and the mockups) are a bit

[2017-05-18 23:35] pdehaan commented on #2420
We use both **react-markdown** and **remarkable** in [/frontend/tasks/pages.js](https://github.com/mozilla/testpilot/blob/a4e2eabd875ddb9268ab7c99705030571411a038/frontend/tasks/pages.js#L15).

[2017-05-19 05:15] flodolo commented on #2419
Correction: it's localized, and badly broken, which might be worse
https://github.com/mozilla/testpilot/issues/2325

[2017-05-19 11:08] SoftVision-CosminMuntean commented on #2443
I have retested this issue and is no longer reproducible on dev server. Marking as verified.

[2017-05-19 14:18] SoftVision-EmilPasca opened #2458 "The tour pop-up is out of date for Activity Stream"
[Notes]
- An image with the Activity Stream toolbar button is also displayed on the experiment page.
- This issue is also reproducible on stage and production servers.

[Affected versions]:
- Firefox 53.0.2 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- On a new Firefox profile, the "testpilot.env" string set to  "dev" in "about:config".
- TestPilot was al

[2017-05-19 16:11] ghost commented on #2430
@flod if we do this we lose the string preview on -dev (until we merge it in).  Is that important to have?

[2017-05-19 16:11] ghost commented on #2430
er, I mean @flodolo ^

[2017-05-19 16:19] lmorchard commented on #2420
Yup, for the legal pages.

Hmm. Looks like we *used* to use remarkable - and we still create an instance of that Markdown processor. But, we switched to using the react-markdown component - and it uses commonmark under the hood. So, I think we can get rid of remarkable.

[2017-05-19 16:19] ghost commented on #2420
We talked in triage.  We'll close this and move the other three issues into on deck

[2017-05-19 16:20] #2420 closed, assigned to nobody

[2017-05-19 16:21] lmorchard commented on #2420
We need post type if we want to filter just for news alerts related to feature changes (#2419), but not other items like small news updates

[2017-05-19 16:28] lmorchard commented on #2453
FWIW, I have a Windows laptop coming soon, so I may end up caring about this and may take a swing at it.

[2017-05-19 17:27] flodolo commented on #2430
Yes, it's important to have a dev server that works against that branch (also cc @mathjazz).

I'm fine in having Pontoon committing to the branch, but we owe localizer an easy and automated way to check their work.

[2017-05-19 20:55] lmorchard commented on #2430
Just had a brief thinking-out-loud about this on IRC... what if in addition to a branch and a second l10n-specific dev instance, we had a little more process too:

1. When there are new strings, we submit a pull request from `master` branch to an `l10n` branch.
1. Strings in that PR get reviewed / revised as needed, then merged into `l10n`
1. Commits from localizers on Pontoon flow into `l10n` bra

[2017-05-19 22:33] mathjazz commented on #2430
No such thing [yet](https://bugzilla.mozilla.org/show_bug.cgi?id=1302053). If you have more detailed API requests in mind, please add them to the bug. We're expecting to spec this out at the end of the quarter at Pontoon all hands.

Not sure if this is helpful, but we also attribute localizers in Pontoon:
https://pontoon.mozilla.org/projects/test-pilot-website/contributors/

[2017-05-22 15:07] ghost opened #2461 "Test Pilot in-add-on survey has broken L10n"
On IRC, jkt gave us this screenshot:

https://irccloud.mozilla.com/file/v6cUFGfC/Selection_635.png

We've seen broken L10n on the site, but I just assumed weird caching.  I wouldn't expect to see it in the add-on.  Either way, we should probably fix it in both places, because I see screenshots of broken L10n pretty often.

jkt is on  1.1.2-dev-f3fe9bf

[2017-05-22 15:15] johngruen commented on #2364
Will bring it up in the UX meeting; no reason we can't crank something out ASAP

[2017-05-22 18:17] relud commented on #2446
this is fixed in stage, @clouserw we need to schedule a time to deploy this change to prod

[2017-05-22 20:09] ghost commented on #2446
@relud cool.  Our next push is June 6 at ~8ish in the morning.  Want to do it then?

[2017-05-22 20:16] relud commented on #2446
@wresuolc that wfm

[2017-05-23 08:00] ChenMorpheus commented on #2396
Updated for regular version of feedback button and move the measurement of experiment cards to #2462. Please find the attached [final measurement](https://www.dropbox.com/s/njd010300ge0cqv/Feedback%20buttons%20measurement.png?dl=0), thanks.

![feedback buttons measurement](https://cloud.githubusercontent.com/assets/18019946/26351153/e9b18ad2-3fe8-11e7-9856-6ece97797a2c.png)

[2017-05-23 10:49] ChenMorpheus opened #2462 "[TXP-27] Add feedback buttons to experiment cards"
Based on user testing findings, adding feedback buttons to enabled experiment cards can offer a more dominant entry point to encourage users giving feedback. Please find the attached for measurement, thanks.

![experiment card measurement](https://cloud.githubusercontent.com/assets/18019946/26350971/177113da-3fe8-11e7-9c89-0a7a5b1dae5b.png)

[2017-05-23 16:20] ScottDowne commented on #875
I tested firefox and nightly on Ubuntu, and it didn't see this issue :(

I also tested https://github.com/l20n/l20n.js/pull/178 best I could and could see a difference in IE 11.

[2017-05-23 17:15] meandavejustice commented on #875
Ubuntu, xmobar/xmonad, Firefox 54.0a2

Same behavior as @ScottDowne describes above. Title is fine until page is finished loading, then it changes.

![weird-unicode-title](https://cloud.githubusercontent.com/assets/1844554/26366565/8e6c16e4-3fb9-11e7-8b97-12df96806d6d.png)

[2017-05-23 17:39] ScottDowne commented on #875
Ah yes, interesting, for Linux it's probably more related to the status bar/desktop manager than the browser itself.

[2017-05-23 23:08] #2455 closed, assigned to lmorchard

[2017-05-23 23:08] #2406 closed, assigned to lmorchard

[2017-05-23 23:36] fzzzy commented on #2377
I think this is fixed now?

[2017-05-23 23:36] #2377 closed, assigned to fzzzy

[2017-05-24 02:56] lmorchard commented on #2453
Yeah, it turns out that `npm` runs `cmd.exe` on Windows, no matter what shell you started from. Doesn't matter whether it's MINGW bash or Bash on Ubuntu on Windows. Looks like cross-env does the trick, though.

[2017-05-24 12:05] SoftVision-EmilPasca commented on #2455
I have retested this issue and is no longer reproducible on dev server. Marking as verified.

[2017-05-24 12:23] johngruen opened #2465 "Clean up loading logic"
Playing around on dev and local I noticed a few things about loading

* some form of loading gets displayed in `static-root` and in `page-container`; we could call it once in static root since that gets rendered first no matter what.
* these two elements don't get erased and injected in the same frame causing some odd scrollbar jumping
* the loading container feels like an extra react abstraction;

[2017-05-24 13:25] johngruen commented on #2462
@ChenMorpheus thanks for posting...can you document the following for the button
- height
- font-size
- padding
- space between text and icon
- and provide an SVG of the icon

[2017-05-24 13:26] johngruen commented on #2462
Looks like this is available in #2396

[2017-05-24 15:56] #2465 closed, assigned to johngruen

[2017-05-24 15:58] #2453 closed, assigned to lmorchard

[2017-05-24 17:30] fzzzy commented on #1795
I have a fix for this now. Even though the experiment cards are actual &lt;a&gt; tags now, there was an onclick handler that was calling e.preventDefault. Removing this allows the normal anchor behavior to work.

[2017-05-24 17:59] johngruen opened #2468 "New Loading behavior breaks about/legal pages"
Oops!

[2017-05-24 18:47] fzzzy commented on #2298
I have verified that this still happens, even though we made some big changes recently that might have helped. Does anyone have any suggestions on how to debug this? I can't find any way to see a web console or a list of errors.

[2017-05-24 19:27] #1795 closed, assigned to fzzzy

[2017-05-24 19:48] fzzzy commented on #2468
Oh, that's because of the display: none on the static node I guess? That node gets removed automatically when the js loads, so I guess the css to hide it is just extra.

[2017-05-24 20:15] fzzzy commented on #2385
This didn't actually turn out to be a good first bug since I had to figure out that sendToGA was setting window.location, causing both the original page and the page opened in a new tab to show the survey, but I figured it out.

[2017-05-25 00:41] Jdsgames opened #2471 "Wayback Machine jumps the gun!"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Containers:           https://github.com/mozilla/testpilot-containers/issues/new
- Min Vid:

[2017-05-25 08:29] SoftVision-CosminMuntean commented on #2454
This behavior is no longer reproducible on dev server. I think this was fixed by #2465. :+1:

[2017-05-25 09:13] SoftVision-CosminMuntean commented on #2441
Closing this issue due to the fact that is no longer reproducible. I think this also was fixed by #2465 :relieved:.

[2017-05-25 11:57] SoftVision-CosminMuntean commented on #1795
I have retested this issue and is no longer reproducible on dev server. Marking as verified.

[2017-05-25 12:10] SoftVision-PaulOiegas commented on #2471
Hi @Jdsgames and thanks for the report. I' don't think that Test Pilot team could help here since the experiment graduated.

Could you please re-log your issue on the repository used for the NoMore404s development ([link](https://github.com/internetarchive/wayback-machine-firefox/issues))? Cannot guarantee a quick answer there, but I think your issue could have a better chance for fixing there.

C

[2017-05-25 12:10] #2471 closed, assigned to nobody

[2017-05-25 15:25] fzzzy commented on #2441
🎉

[2017-05-25 16:21] SoftVision-PaulOiegas opened #2472 "User is redirected to "/experiments" page instead of homepage when Test Pilot is uninstalled in another tab or window"
[Notes]
- This is not necessarily an issue, but before adding back the "/experiments" page, the redirect was correctly made on https://testpilot.firefox.com page.

[Affected versions]:
- Firefox 53.0.3 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- On a new Firefox profile, the "testpilot.env" string was added to "dev" in "about:config" page.
- The "extens

[2017-05-25 16:42] SoftVision-PaulOiegas opened #2473 "Experiments images are not displayed on Facebook and Activity Stream one is not displayed on Twitter"
**[Affected versions]:**
- Firefox 53.0.3 and above

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- A Facebook and a Twitter profile was already logged on the used profile.

**[Steps to reproduce]:**
1. Open browser with the profile from prerequisites and navigate to https://testpilot.firefox.com page.
2. Click on one of the active experiments cards and after

[2017-05-25 16:47] fzzzy commented on #1743
This was fixed by https://github.com/mozilla/testpilot/pull/2380/files

[2017-05-25 16:47] #1743 closed, assigned to nobody

[2017-05-25 16:49] fzzzy commented on #1903
This was fixed by https://github.com/mozilla/testpilot/pull/2380

[2017-05-25 16:49] #1903 closed, assigned to nobody

[2017-05-25 16:50] fzzzy commented on #1975
This was fixed by https://github.com/mozilla/testpilot/pull/2380

[2017-05-25 16:50] #1975 closed, assigned to nobody

[2017-05-25 17:09] fzzzy commented on #1714
I need to remove our use of dangerouslySetInnerHTML before I can switch over. I think I can use https://www.npmjs.com/package/html-react-parser instead. If anyone has a recommendation for another html to react parser, let me know.

[2017-05-25 18:27] fzzzy commented on #2364
@johngruen Since this will only be seen by a small number of users that try to test Test Pilot locally, on stage, or on dev, but have something misconfigured, I don't think much UX is required. I did a simple implementation, here are examples of what it looks like in various error cases:

<img width="982" alt="screen shot 2017-05-25 at 2 25 07 pm" src="https://cloud.githubusercontent.com/assets/46

[2017-05-26 16:05] ghost commented on #2472
I don't think this is something we want to spend time on right now.  There is another issue which tweaks the way the /experiments redirect works which might affect this also.

[2017-05-26 16:05] #2472 closed, assigned to nobody

[2017-05-26 16:13] #2416 closed, assigned to SoftVision-PaulOiegas, SoftVision-CosminMuntean

[2017-05-26 16:16] ghost commented on #1604
Marking this as a good first bug since the links are already made.  I think the only stuff left here is to replace the links mentioned above in the code with the short links in the previous comment.

[2017-05-26 16:17] ghost commented on #1309
We're going to remove the notifications feature.

[2017-05-26 16:17] #1309 closed, assigned to ckprice

[2017-05-26 16:19] ghost commented on #897
We're going to close this. 🎂

[2017-05-26 16:19] #897 closed, assigned to ckprice

[2017-05-26 16:26] ghost commented on #1946
Good idea @wresuolc!  Let's just get rid of this code

[2017-05-26 16:56] sevaan commented on #2138
Spec:

![restarttp spec](https://cloud.githubusercontent.com/assets/473531/26504444/a2e13590-4212-11e7-8c71-e95382c7acd8.png)

Asset:

![restarttp](https://cloud.githubusercontent.com/assets/473531/26504448/a678040e-4212-11e7-885f-e010c4880af8.png)

[2017-05-26 18:48] sevaan opened #2476 "Test Pilot share options should have some suggested text"
Visit https://testpilot.firefox.com/share and click on the Facebook, Twitter or Email icons. They pop sharing mechanisms with just a long URL (with a bunch of modifiers for tracking it seems). As a user I can't just press share and I have to think of my own text/explanation for what the URL is.

I propose that by having some suggested copy included as part of the tweet, sharing numbers will go up.

[2017-05-26 20:11] fzzzy opened #2477 "If there is a lint error, the integration tests never complete."
To reproduce, introduce a lint error on a branch (for example, use a javascript string with double quotes " instead of apostrophe ') and then push it to github. You can verify that a lint error occurs locally by using `npm run test:all`.

When circle tries to run the tests, the lint fails, and then the script which waits for the integration tests to complete runs forever.

[2017-05-26 20:13] meandavejustice commented on #2418
_Deleted the past comments and consolidating them into one for readability here:_

@youwenliang @johngruen

1. We will be having updates with a link to a blog and without links to a blog, we should have some way to differentiate whether it is a blog link or not
2. I see that there are additional labels on the experiment detail cards that read update with a mustard yellow background. Are we showing

[2017-05-26 20:15] fzzzy opened #2478 "Remove use of dangerouslySetInnerHTML"
In preparation for fluent-react https://github.com/mozilla/testpilot/issues/1714 we need to remove our usage of dangerouslySetInnerHTML. I think we could use https://www.npmjs.com/package/html-react-parser to do this.

Might as well do this work in a different bug than fluent-react, to keep the patch sizes down.

[2017-05-26 20:17] b4handjr commented on #2477
Do you have example I could look at?

[2017-05-26 20:21] fzzzy opened #2480 "Update dependencies again"
Whoops, it's been too long since we explicitly updated our dependencies. I'm going to do this first thing in our next sprint.

[2017-05-26 21:38] fzzzy commented on #2138
There's another bug here, which is that the restart page is no longer displayed on firefox 49.

[2017-05-26 21:40] fzzzy commented on #2138
Ah, I see @SoftVision-PaulOiegas already mentioned that the restart page is no longer shown on 49. I think it is ok to use this issue to track that issue too, they are kind of intertwined.

[2017-05-26 22:52] pdehaan opened #2482 "Use FlowTypes for frontend components"
I was looking at the `eslint-plugin-react/recommended` rules and noticed in more recent versions of React (15.5.0+) and eslint-plugin-react that they removed `React.PropTypes` with the [`prop-types`](http://npm.im/prop-types) module:

[code]

[2017-05-26 22:54] pdehaan commented on #2482
Doh! Probably a dupe of #2480.

[2017-05-27 04:47] b4handjr commented on #2477
Fixed in #2484

[2017-05-27 04:47] #2477 closed, assigned to b4handjr

[2017-05-28 10:11] jvhoven commented on #2480
This might be worth looking into:

[Greenkeeper.io](https://greenkeeper.io/)

[2017-05-30 11:30] johngruen commented on #2473
Jeez, how do es this stuff keep breaking when:

* we're using a common template and
* we haven't updated experiment yaml in months

Computers are a pain, let's all move upstate and start a farm.

[2017-05-30 11:31] johngruen commented on #2458
this is somewhat low priority ATM since we're likely to graduate this experiment soon

[2017-05-30 11:33] johngruen commented on #2394
Since we broke this page out into distinct routes, it's worth revisiting this issue.

[2017-05-30 16:09] pdehaan commented on #2458
Related: https://github.com/mozilla/activity-stream/issues/1544
We can probably close both issues at the same time if we decide this isn't worth fixing.

[2017-05-30 17:51] fzzzy commented on #2480
@jvhoven Yes, we used to have greenkeeper enabled, but it was just far too noisy and we turned it off. We have since reduced the number of dependencies, so we may turn it on again soon.

[2017-05-30 18:27] #2478 closed, assigned to fzzzy

[2017-05-30 18:33] #2385 closed, assigned to nobody

[2017-05-30 18:37] #2468 closed, assigned to fzzzy

[2017-05-30 18:53] #2435 closed, assigned to meandavejustice

[2017-05-30 20:12] meandavejustice commented on #2421
This should link to the blog now (getting blog link/access tomorrow!)

[2017-05-30 20:30] lmorchard commented on #2418
We could probably [use Moment's i18n for this](https://momentjs.com/docs/#/i18n/) - I can't remember if we're using it elsewhere as an example.

There's also [`Intl.DateTimeFormat`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat) that might be handy

[2017-05-30 20:47] meandavejustice commented on #2418
Thanks @lmorchard this looks like it could work well for us. Though I'm wondering if it makes sense to add such a big dependency (especially when loading all of these languages) for one date string. Would it make more sense in this case to use a more universal date format? cc/ @johngruen

[2017-05-30 20:57] lmorchard commented on #2418
You mean Moment? [It's already a dependency](https://github.com/mozilla/testpilot/blob/master/package.json#L27) - we're using it for date comparisons & such in the Redux store, but not sure we're using it for display yet

[2017-05-30 22:41] meandavejustice commented on #2418
@lmorchard Oh I somehow overlooked that in the package.json, thanks :)

[2017-05-30 23:13] meandavejustice commented on #2418
[In progress branch diff](https://github.com/mozilla/testpilot/compare/master...meandavejustice:2418-news-feed-summary-frontend) in case anyone wants to take a look (or start an early review).

Here is a screenshot, you will notice the text "chevron" in place of the chevron/arrow icon, but beyond that the styles should match up.

![2017-05-30--09-19-41-1920x1080_scrot](https://cloud.githubusercont

[2017-05-31 11:12] SoftVision-CosminMuntean commented on #2385
I have retested this issue on dev server and is no longer reproducible. Marking as verified.

[2017-05-31 11:14] SoftVision-CosminMuntean commented on #2454
It seems that this issue is again reproducible. @fzzzy there is a chance that the fix for #2468 reintroduced the behavior?

[2017-05-31 11:30] SoftVision-CosminMuntean commented on #2441
I have observed that this issue is again reproducible. I think that this behavior is caused by the issue described in #2454.

[2017-05-31 11:31] SoftVision-CosminMuntean commented on #2468
I have retested this issue an is no longer reproducible. The about/legal pages are successfully loaded. Marking as verified.

[2017-05-31 12:40] fzzzy commented on #2454
Yes, it is likely that the fix for #2468 reintroduced this, although it wasn't intentional. I'll take a look.

[2017-05-31 13:06] johngruen opened #2487 "Add Max Version and Notice for Tab Center"
We're going to cap tab center to < 56. We need to add a quick note as well

[2017-05-31 18:39] lmorchard commented on #2418
Hmm, one thing that looks missing: We need UX input on how to display a news update that's not associated with an experiment. We had discussion about wanting that as a feature in the last meeting, but I don't think it's reflected in the mocks here.

(Or, if we don't want that, and only want pre-experiment news items, I can remove the bits I'm implementing for that on the backend)

/cc @johngruen

[2017-05-31 22:57] #2487 closed, assigned to nobody

[2017-06-01 10:23] ChenMorpheus commented on #2396
Please find the link below for the feedback icon.
https://www.dropbox.com/sh/un2ojq9s3lc9n85/AAAR-hrkRC7tSGg6ZmiL_oWsa?dl=0

[2017-06-01 16:34] #2417 closed, assigned to meandavejustice

[2017-06-01 17:53] fzzzy commented on #2482
I think the alternative we were discussing was to switch to FlowTypes for the components instead of prop-types. But I'll leave this open for discussion in triage.

[2017-06-01 17:54] fzzzy commented on #2441
Yes, this was broken again. I figured it out, pr incoming.

[2017-06-01 18:26] #2441 closed, assigned to fzzzy

[2017-06-02 00:18] fzzzy opened #2491 "[release] 2017-06-01 on stage"
Please report issues here.

[2017-06-02 00:20] fzzzy opened #2492 "Update deployment docs"
Checkout stage-static instructions might need to be `git checkout -b stage-static mozilla/stage-static`

Email to notify is testpilot-qa AT softvision.ro

[2017-06-02 08:12] SoftVision-CosminMuntean commented on #2441
I have retested this issue on dev and stage servers and is no longer reproducible. Marking as verified.

[2017-06-02 16:06] ghost commented on #2482
[decision] Let's use FlowTypes

[2017-06-02 16:49] Softvision-VladBacia commented on #2446
This issue is reproducible on stage env but on dev it is fixed. Tested on 06/02/2017

[2017-06-02 17:26] #2492 closed, assigned to clouserw

[2017-06-02 18:18] relud commented on #2446
@Softvision-VladBacia Thanks! looks like I need to set the cloudfront error url to that as well. stage should be fixed now.

[2017-06-02 20:05] lmorchard commented on #1781
Actually peeking at this issue a bit as part of the news feed stuff, since we're adding another category of content that needs to be shoehorned into FTL - and we'd like to get string reviews of this stuff.

The suggested solution sounds good. Thinking about doing it as part of #2418 - or as a follow-up shortly thereafter.

[2017-06-05 15:03] meandavejustice commented on #1946
https://trello.com/c/zkhDk6Yw/36-txp-36%3A-install-experiments-directly-from-the-home-page

[2017-06-05 15:05] meandavejustice commented on #1946
@wresuolc To clarify, do we want to get rid of the restriction/filtering of experiments not shown when the addon is installed? or stop showing experiments at the bottom of the page all together? (wasn't totally clear in the docs around TxP-36 to me).

[2017-06-05 20:27] meandavejustice commented on #2171
It seems like this issue is a bit outdated, we should probably be using testpilot-metrics here instead of sendToGa, telemetry, and ping centre all directly.

[2017-06-05 21:46] fzzzy commented on #2480
Updating the dependencies causes things to break because of the propTypes deprecation. I tried to override the rule in .eslintrc but was not successful. We should therefore do #2482 before trying to update the deps again.

[2017-06-06 11:26] SoftVision-CosminMuntean opened #2497 "A "-" symbol is wrongly displayed on all experiments details pages if Test Pilot is not installed"
[Affected versions]:
- Firefox 53.0.3 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open the browser and navigate to "https://testpilot.stage.mozaws.net/".
2. Click one of the available experiments.
3. Observe the experiment details page.

[Expected result]:
- No extra row is displayed on the page.

[Actual results]:
- A "-" symbol is displayed between

[2017-06-06 11:27] Softvision-VladBacia commented on #2446
I have retested this issue and is no longer reproducible on stage. Marking as **Verified**.

[2017-06-06 13:36] SoftVision-CosminMuntean commented on #2491
Hi guys,

Here is the testing report for the Stage server:

### New Issues
#2497 - A "-" symbol is wrongly displayed on all experiments details pages if Test Pilot is not installed - **minor**

### Known issues
#2366 - The enabled experiments are not removed at Test Pilot uninstall
#1866 - The confirmation pop up with the Tour is not displayed anymore if first enable action fails.
#2473 - Experime

[2017-06-06 15:05] #1965 closed, assigned to meandavejustice

[2017-06-06 15:51] fzzzy commented on #2366
Time to raise the priority on this one.

[2017-06-06 17:25] SoftVision-CosminMuntean opened #2499 "Sometimes Test Pilot pages takes more than 40 seconds to load"
[Affected versions]:
- Firefox 53.0.3 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Test Pilot add-on was previously installed on a new profile.

[Steps to reproduce]:
1. Open the browser and navigate to "https://testpilot.firefox.com/experiments".
2. Click one of the available experiments.
3. Click the "Firefox Test Pilot" text from the top of the page.
4.

[2017-06-07 11:47] SoftVision-CosminMuntean commented on #2499
It seems that this issue is much harder to reproduce. I was able to reproduce it only 4-5 times this morning and I am not sure what are the exactly steps. It happens randomly when I am navigating through the Test Pilot pages.
Please let me know if you need more information.

Here is a screenshot with Network Monitor after the page is successfully loaded:
![loading network console](https://user-ima

[2017-06-07 12:47] SoftVision-PaulOiegas commented on #1935
@fzzzy Well, something is quite strange here now after the removal of the react-router.
- With German [de] content language selected, both the translated and non translated pages are wrongly displaying the footer in English on Stage and Production servers.
- While on Dev, the footer is correctly displayed for German translated pages, but keeps the English translation for the not translated ones.

[2017-06-07 13:14] SoftVision-PaulOiegas opened #2502 "Privacy & Terms pages localization differences, between Dev server and Stage & Production servers"
[Affected versions]:
- Firefox 53.0.3 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- A German localized build was installed / extracted or browser primary content language was set to "German [de]" on a new profile.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisite and navigate to https://testpilot.firefox.com/privacy/de page.
2. Op

[2017-06-07 14:10] fzzzy commented on #1935
Ok, thanks for the report. In this sprint, we are going to completely change the way we do localization, so this will all be changing again. I'll keep an eye out for this issue.

[2017-06-07 14:32] #1783 closed, assigned to fzzzy

[2017-06-07 14:44] #2446 closed, assigned to lmorchard

[2017-06-07 14:44] #2491 closed, assigned to nobody

[2017-06-07 16:34] SoftVision-PaulOiegas commented on #1965
Well, I hammered it with all sorts of extreme scenarios and couldn't brake it. It even works with internet down and manual disables. 😄
I might be a bit rusty after my long PTO but I think it works well enough for now. In case we'll find some cases uncovered, we'll log something new.

[2017-06-07 17:59] jaredhirsch commented on #2171
There's been recent discussion about replacing the Test Pilot addon with a webextension API experiment that would expose a Telemetry API. That Telemetry API would be a replacement for the testpilot-metrics library.

The sendToGa, telemetry, and ping centre code would all need to live inside that Telemetry API, routing metrics events to some/all of the three endpoints.

We do want to use the ping-c

[2017-06-07 22:13] fzzzy opened #2504 "Cover LayoutWrapper and View with FlowTypes"
In https://github.com/mozilla/testpilot/issues/2482 I ported our usage of propTypes to FlowTypes, but I punted on LayoutWrapper, View, and ExperimentPage because they were not straightforward. I put TODOs in the code. We should figure out how to use FlowTypes in these cases as soon as we can.

[2017-06-07 22:34] #2482 closed, assigned to fzzzy

[2017-06-08 00:02] #2480 closed, assigned to fzzzy

[2017-06-08 00:04] fzzzy commented on #1376
We don't actually have to do this any more since the new lint rules require using &amp;apos; instead of ' inside of jsx blocks. Woo!

[2017-06-08 00:04] #1376 closed, assigned to nobody

[2017-06-08 00:45] fzzzy commented on #2323
I think this was fixed by the new loading indicator behavior. Please re-open if this can still be reproduced.

[2017-06-08 00:45] #2323 closed, assigned to nobody

[2017-06-08 00:51] fzzzy commented on #2138
Our minimum firefox version is currently 49. 50 does not have this restart problem. @clouserw checked and 49 users are 1.04% of requests. I'm just going to fix this by bumping the min firefox version to 50.

[2017-06-08 09:21] SoftVision-CosminMuntean commented on #2323
I have retested this issue and is no longer reproducible. Marking as verified.

[2017-06-08 10:26] georgf commented on #2422
Hey @6a68, this is showing up repeatedly in quantum flow triaging etc. and distracts from other problems
Can we get this fixed so we don't skew performance profiles with it anymore?
Thanks.

[2017-06-08 10:27] georgf commented on #2422
A short-term fix here would be great if the bigger change is taking more time.

[2017-06-08 12:06] #2195 closed, assigned to pdehaan

[2017-06-08 15:14] fzzzy commented on #1946
Let's just simplify the experiment page and remove the other experiment list. The home page has the list of experiments. Clicking on the logo at the top of every page takes the user to the home page.

[2017-06-08 17:20] jaredhirsch commented on #2422
@georgf Hi, sorry about the delay. I'll get the fix landed today or tomorrow. Our next planned addon release isn't until June 20, but it sounds like it might be good to do a special release sooner than that. I'll look into an off-cycle release.

[2017-06-08 17:34] fzzzy commented on #1946
John wants to keep them, so I am just going to make them show up no matter whether or not the add-on is installed.

[2017-06-08 19:20] #2138 closed, assigned to fzzzy

[2017-06-09 09:44] SoftVision-CosminMuntean opened #2509 "The minimum browser version requirement message wrongly displays "49" as supported"
[Affected versions]:
- Firefox 49.0.2

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have Firefox 49.0.2 version installed on the computer.

[Steps to reproduce]:
1. Launch the Firefox 49.0.2 version.
2. Navigate to "https://testpilot.dev.mozaws.net/" page.
3. Observe the message displayed above the green "Upgrade Firefox" button.

[Expected result]:
- "Test Pilot r

[2017-06-09 09:52] SoftVision-PaulOiegas commented on #2138
@fzzzy This seems to be ok on Dev, "Upgrade" button appears for 49.0, 49.0.1 and 49.0.2. However, we noticed that the message that informs the user about the min version required was not updated. Cosmin logged a separate issue for it (#2509).

[2017-06-09 09:57] SoftVision-PaulOiegas commented on #2502
@fzzzy It seems that the numbering issue mentioned above from "Terms" page is present also on "en-US" localization on Dev server.

[2017-06-09 15:34] chuckharmston opened #2512 "Include star images with Test Pilot add-on."
Pulse [has discovered](https://github.com/mozilla/pulse/issues/179) that the star images that Test Pilot's Heartbeat prompts are likely to rely on [are being removed](https://hg.mozilla.org/mozilla-central/rev/48a6570b38cb#l5.137) from Nightly with Photon work.

The Test Pilot add-on should ship with our own images, and make sure that it looks good on each operating system.

[2017-06-09 16:15] jaredhirsch opened #2514 "Use paid localizers to translate large blocks of text"
We've discussed using a paid localization service to avoid burdening Mozilla's volunteer localizers with translating large amounts of text, like experiment descriptions, or our 'about' page.

This is a bug to track the definition of some process around that work.

[2017-06-09 16:18] jaredhirsch commented on #1835
We're going to have paid localizers handle large blocks of text, like the 'about' page. Closing in favor of #2514, which tracks the paid localization work.

[2017-06-09 16:18] #1835 closed, assigned to nobody

[2017-06-09 16:25] flodolo commented on #2514
Can you make sure to talk with Peiying Mo (@peiying2) about vendors?

[2017-06-09 17:37] peiying2 commented on #2514
@6a68 please send me an email on your request and we go from there.

[2017-06-09 17:53] flodolo commented on #2514
To clarify: I think you (Test Pilot folks) and Peiying should talk about this, since she has experience and vetted vendors, and in the meantime you might be trying to figure the process on your own.

[2017-06-12 15:24] #2509 closed, assigned to fzzzy

[2017-06-12 15:25] #1946 closed, assigned to fzzzy

[2017-06-12 17:41] #1781 closed, assigned to nobody

[2017-06-13 21:16] lmorchard opened #2520 "Publish an RSS or Atom feed for news update summaries"
Splitting this TODO out of PR #2495: Would be nice to publish an RSS or Atom feed of the news updates we show on the site for interested parties to subscribe to. Some notes off the top of my head:

* Should be a gulp task in `frontend/tasks/content.js` - could just be a part of `content-experiments-data` which already assembles all the news updates for `api/news_updates.json`
* Here's a module for

[2017-06-13 21:26] lmorchard opened #2521 "Improve documentation about authoring news updates"
Splitting this out of PR #2495: Added `content-src/news_updates.yaml` and a `news_updates` property to experiment YAML files. But some things could bear explicit documentation:

* The [`content-src/news_updates.yaml` file](https://github.com/lmorchard/testpilot/blob/b8b2d67d1a2f648f9e6584ab7b87921bd3fa786b/content-src/news_updates.yaml) has some comments describing the schema of a news update
* Th

[2017-06-14 13:27] SoftVision-PaulOiegas commented on #2509
Correct version is now displayed on versions under Firefox 50. Marking this as verified.

[2017-06-14 14:07] SoftVision-PaulOiegas commented on #1946
Well, for sure they now appear on every experiment page. But @johngruen I wonder, do we want them to be displayed also on past experiments pages ? Right now, they are.

[2017-06-14 15:59] johngruen opened #2522 "Experiment Ratings Bar (SDK) Seems Borked in Nightly"
One more reason to get of the SDK, our "heartbeat" ratings are no longer working correctly in 56. Instead, they display a dark bar and no longer show stars. Whatever styles we're inheriting don't seem to be there any more.

[2017-06-14 16:38] lmorchard commented on #2522
FWIW, the APIs to make the ratings bar don't exist at all for WebExtensions - and IIRC that API isn't from the SDK [but from directly dealing with XUL](https://github.com/mozilla/testpilot/blob/master/addon/src/lib/feedbackUI.js#L28). We can do that in a bootstrapped extension or embedded webextension, but it'll likely still carry over this issue. So, getting rid of SDK won't help here. We might w

[2017-06-14 17:42] chuckharmston commented on #2522
#2512

[2017-06-14 17:42] #2522 closed, assigned to nobody

[2017-06-14 19:56] #2418 closed, assigned to nobody

[2017-06-15 20:48] #2520 closed, assigned to meandavejustice

[2017-06-15 21:00] lmorchard opened #2525 "Build site only once to speed up integration tests"
With PR #2518, we now test the site against Firefox release, dev-edition, and nightly. But, for each of those test runs, we rebuild the site's static content every time with `npm start`.

I *think* we could speed this up by just doing `npm run server` instead. Assuming it re-uses the site built earlier in [the `build-frontend` step](https://github.com/mozilla/testpilot/blob/master/bin/circleci/bui

[2017-06-16 15:17] SoftVision-CosminMuntean opened #2527 "[release] 2017-06-16 is on stage"
Hi guys,

Here is the testing report for the Stage server:

### New Issues:
No new issues found. :tada:

### Known issues:
#2366 - The enabled experiments are not removed at Test Pilot uninstall
 - addons that are installed after Test Pilot one, are not removed when uninstalling Test Pilot.

#2497 - A "-" symbol is wrongly displayed on all experiments details pages if Test Pilot is not installed

[2017-06-16 16:04] johngruen commented on #2366
@fzzzy think this is something you could pick up next week. seems good to have before we launch the next experiments

[2017-06-16 16:08] #2527 closed, assigned to clouserw

[2017-06-16 16:09] johngruen commented on #2514
I think the blog will mitigate this, but adding needs product for now

[2017-06-16 16:12] johngruen commented on #2012
WONTFIX

[2017-06-16 16:12] #2012 closed, assigned to nobody

[2017-06-16 16:16] johngruen commented on #1469
@clouserw @fzzzy let's discuss this in our monday planning meeting WRT migration to webextensions

[2017-06-16 16:18] johngruen commented on #1518
@SoftVision-PaulOiegas will confirm that this is fixed

[2017-06-16 16:21] johngruen commented on #2281
I don't think we're doing anything in the XPI, but we're going to start rolling feedback into experiments themselves. Design team is working on a spec, will close this bug and file a new one with the specs.

[2017-06-16 16:21] #2281 closed, assigned to nobody

[2017-06-16 16:26] johngruen commented on #1887
This page is no longer used. We should remove it, or a/b test it...

[2017-06-16 16:26] #1887 closed, assigned to nobody

[2017-06-16 16:29] johngruen commented on #2277
@SoftVision-CosminMuntean will review

[2017-06-16 16:29] johngruen commented on #2325
@johngruen, let's discuss this in UX meeting next tuesday

[2017-06-16 18:26] #2525 closed, assigned to lmorchard

[2017-06-16 20:26] #2422 closed, assigned to jaredhirsch

[2017-06-18 03:36] ipmanlk opened #2530 "Test Pilot - Error: install failed"
I have been trying to install Test Pilot addon since the day it was released. But still, I can't do that. I tried every possible solution I could find in firefox forums, test pilot discussion boards and other places. But still no luck. When  I click on Install Test Pilot button, nothing happens. It's just showing installing and that's it. (Check console output below). I tried disabling my Antiviru

[2017-06-19 13:54] SoftVision-CosminMuntean commented on #2277
In the current behavior Snooze Tabs and Pulse experiments are no longer restricted for certain locales and are correctly displayed on Test Pilot home page (fixed by #2278). The experiments are successfully enabled and are displayed as such even if the browser is restarted.

However, I have retested this issue is no longer reproducible. In order to test it I have used Activity Stream which is restr

[2017-06-19 13:54] #2277 closed, assigned to nobody

[2017-06-19 16:39] lmorchard commented on #2419
It occurs to me just now that this feature might be kinked a bit by the need to rewrite the main Test Pilot add-on to get away from the SDK. That is, we can't use the SDK badge for this. (I mean, we *could* for the sake of closing this issue and then throw it away and rewrite it 😁 )

[2017-06-19 16:49] jaredhirsch commented on #2419
The approach Screenshots has taken here is to have an alternate version of the icon with a little brightly-colored star in one corner, to show users that it's new.

I think having a special icon would be far easier to implement in a bootstrapped addon, compared with creating and positioning some bit of XUL. Using a special starred icon also removes the issue of the localized label string being lon

[2017-06-19 17:33] lmorchard commented on #2423
Think I'll officially put myself down for taking a swing at this

[2017-06-19 21:28] #2364 closed, assigned to johngruen

[2017-06-20 08:37] flodolo commented on #2364
As asked in the past, please ping when there are pull requests with strings (plus #2532)

[2017-06-20 14:08] SoftVision-PaulOiegas opened #2534 "The "Take a quick survey" button text from "/retire" page dialog is not visible"
[Affected versions]:
- Firefox 54.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string type pref was manually added in "about:config" page with "dev" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.
- Test Pilot add-on was already installed on the same profile.

[Ste

[2017-06-20 14:28] SoftVision-PaulOiegas opened #2535 "The user must manually enter "https://" protocol in order to navigate to "testpilot.dev.mozaws.net" page"
[Notes]:
- I don't think there is any popular website that requires the user to manually enter the "https" protocol if he tries to navigate to it without entering the protocol. I think this kind of message should only be displayed if the user specifically tries to navigate to Test Pilot website using just the "http" protocol.

[Affected versions]:
- Firefox 54.0 and up

[Affected Platforms]:
- All

[2017-06-20 14:29] SoftVision-PaulOiegas commented on #1518
Both the scenarios from initial bug report and from https://github.com/mozilla/testpilot/issues/1518#issuecomment-280082882 are no longer reproducible. Marking this as verified.

[2017-06-20 15:16] SoftVision-PaulOiegas commented on #2530
Hi @ipman98 and thanks for your report. Since you mentioned about ESET antivirus client, is there any add-on related to it installed in "about:addons" page at "Extensions" tab ? If yes, try disabling that one before retrying the installation.

If this is not the case, are you in some kind of a network that has a 3rd party firewall ? In the past we had some users that were trying to install our add

[2017-06-20 15:56] fzzzy commented on #2364
@flodolo Sorry about that. We will work on setting up a localization branch next quarter so this process is more formalized.

[2017-06-20 16:19] chuckharmston opened #2536 "Improve integration test suite speed."
Our build times have doubled in the last week:

- https://circleci.com/gh/mozilla/testpilot/4473
- https://circleci.com/gh/mozilla/testpilot/4503

And we even have builds that are occasionally timing out: https://circleci.com/gh/mozilla/testpilot/4539

This appears to be due to the addition of integration tests that test across three versions of Firefox. While good to have, I don't think that this

[2017-06-20 16:23] chuckharmston opened #2537 "Remove variant testing code and documentation"
Since we're moving away from using UT and a required Test Pilot add-on and toward GA, we should remove the existing variant testing capability that Test Pilot provides experiments:

https://github.com/mozilla/testpilot/blob/master/docs/experiments/variants.md

This could be replaced with [Google Analytics Content Experiments](https://support.google.com/analytics/answer/1745147?hl=en&ref_topic=1745

[2017-06-20 16:28] b4handjr commented on #2536
So for the most part they aren't timing out but it seems every now and then the browser does not load. My current config adds 2 more workers to a total of 4. And helps increase the build time just a hair.

I have been looking into circle's parallel builds but I have not really done much with them as of yet. I think the only quickest way of reducing times would be to disable all 3 versions of firef

[2017-06-20 16:37] lmorchard commented on #2536
Copying over some further scrollback from IRC:
[code]

[2017-06-20 17:08] chuckharmston opened #2538 "Document use of Google Analytics by experiments"
We should provide documentation for the use of Google Analytics by experiments. This should include:

- [ ] The general process
- [ ] A standardized use of common fields
- [ ] A standardized set of custom dimensions
- [ ] Cocumentation for the use of content experiments for variant testing

[2017-06-20 17:26] chuckharmston opened #2539 "Document use of Google Data Studio by experiments"
#2538 will add documentation for the use of Google analytics for data collection by experiments. It will include a placeholder for information about the visualization and reporting of that data that will need to be filled.

Assigning to John since he has most of our institutional knowledge about Data Studio.

[2017-06-20 17:33] ipmanlk commented on #2530
Hi @SoftVision-PaulOiegas & thanks for your reply. Answer for your first question is no, I don't have any kind of addon installed related to my antivirus. But I do have a 3rd party firewall from my antivirus. But I don't believe it's causing this.

Also, I tried to install Test Pilot from my Linux laptop & it worked just fine.

[2017-06-20 19:05] lmorchard commented on #2530
Firewalls from antivirus packages *can* often cause issues. If I recall, it's because they intercept SSL requests, decrypt, scan, and then re-encrypt them with a certificate that Firefox does not recognize as being from a site permitted to install add-ons.

[2017-06-20 19:06] chuckharmston commented on #2530
What @lmorchard cites is what is happening here, indicated by this line in the console output:

[2017-06-20 19:31] lmorchard opened #2542 "Skip tests in Circle CI for commits from Pontoon on master branch?"
Hacky idea in advance of moving l10n to a branch in #2430:

What if we looked for `/^Pontoon: Update/` in the commit message on CircleCI and use that as a signal to just skip tests altogether? Chances are low that any particular Pontoon commit will break the site, and such commits are very frequent because our localizer community is prolific. So, we get a lot of mostly useless test runs.

[2017-06-20 19:37] lmorchard commented on #2542
<strike>Alternatively, if Pontoon supported it, we could add `[skip ci]` to commit titles or descriptions - [because CircleCI supports this as a conventional signal to skip test runs](https://circleci.com/docs/1.0/skip-a-build/).</strike> Pontoon does not support this, and it sounds like it would take significant work to support custom commit templates per-project.

[2017-06-20 20:57] b4handjr commented on #2536
Got a parallel build up to see how long it takes. https://circleci.com/gh/jrbenny35/testpilot/200#tests/containers/1

[2017-06-20 22:59] #2538 closed, assigned to chuckharmston

[2017-06-21 00:56] johngruen commented on #2458
Wontfixing this due to graduation

[2017-06-21 00:56] #2458 closed, assigned to johngruen

[2017-06-21 01:16] b4handjr commented on #2536
Running this on 4x parallelism would be worse it seems. We only have 1 container through circle and that supports up to 4 builds. Choosing 4x means we would have to wait until there is no one else building before it would start.

I just want to clarify that the tests themselves are not flaky. It appears to be that sometimes firefox just doesn't start, or the server doesn't ever serve the webpage.

[2017-06-21 11:21] SoftVision-PaulOiegas commented on #2530
Yep, that line was the reason why I was asking for antivirus add-on in the first place.
@ipman98 can you look into the Antivirus Firewall settings and look for options related to HTTPS filtering or related to certificates? One particular user had the same problem and after unchecking it (http://imgur.com/W26U8e2), he fixed the install problem.

You mentioned about ESET AV client, maybe these links

[2017-06-21 14:19] #2521 closed, assigned to meandavejustice

[2017-06-22 06:52] ChenMorpheus opened #2546 "TXP-48: Test Pilot Web Experiments"
@johngruen
In order to accommodate web experiments on Test Pilot, I created the proposal and took some future possibilities into consideration as well to ensure the flexibility, such as mobile experiments. However, for the current implementation, please feel free to implement only what we need for now. Besides, for web experiments, perhaps we can display how many users visit the web experiment ins

[2017-06-22 12:25] #1518 closed, assigned to SoftVision-PaulOiegas

[2017-06-22 17:46] lmorchard commented on #2546
Think I can start taking a look at this, might be a good thing to set up along with a React Storybook demo

[2017-06-22 17:49] lmorchard commented on #2546
(meant to post this on #2462 but can come back to this one too)

[2017-06-22 18:13] lmorchard commented on #2462
Think I can start taking a look at this, might be a good thing to set up along with a React Storybook demo

[2017-06-23 16:17] ghost commented on #2546
Les accidently clicked the take button!

[2017-06-23 16:18] ghost commented on #2542
Let's focus on the L10n branch

[2017-06-23 16:18] #2542 closed, assigned to nobody

[2017-06-23 17:20] lmorchard commented on #2546
Hmm, well I have a PR for #2462, so maybe I *will* start on this. Sorry for the confusion

[2017-06-23 17:40] lmorchard commented on #2546
One gotcha: Getting a visit count for a web experiment will be a small project itself. We have a JSON resource we load from Telemetry for add-on install counts. We'd need something similar for experiment sites - e.g. from Google Analytics or similar.

Otherwise, I should be able to build the rest of this on our side

[2017-06-23 18:04] lmorchard commented on #2546
Also, it looks like platform isn't a single type - i.e. it's any combination of web, mobile, and add-on? Some questions / thinking out loud:

- Is it really any combination? If so, we'll need 6 strings for localization to cover the permutations: web; add-on; mobile; web + mobile; mobile + add-on; web + mobile + add-on.
- If there will be a web + add-on experiment, what do we do with the "Enable" /

[2017-06-23 19:32] lmorchard commented on #2546
Oh yeah, this also occurred to me just now: I see the concept of "enabled" for mobile & web experiments. That could be really tricky to track & implement. We only know if an add-on has been installed, not whether the user has visited a site or installed a mobile app

[2017-06-24 18:09] johngruen opened #2552 "update to photon loader"
Eric pang made us a sick photon loader...will drop it in

[2017-06-25 11:22] ipmanlk commented on #2530
@SoftVision-PaulOiegas Thanks for your help. I was able to fix the issue by disabling eset's HTTPs filtering & realtime protection.

[2017-06-25 11:22] #2530 closed, assigned to nobody

[2017-06-27 00:55] fzzzy commented on #2105
I think we've decided to abandon this idea.

[2017-06-27 00:55] #2105 closed, assigned to fzzzy

[2017-06-27 00:58] #2552 closed, assigned to johngruen

[2017-06-27 14:31] fzzzy commented on #2497
John fixed this.

[2017-06-27 14:31] #2497 closed, assigned to johngruen

[2017-06-27 18:24] johngruen commented on #822
We'll leave this open pending signing solution for webExt

[2017-06-27 18:24] ghost commented on #822
This might change again now that we have special signing for Mozilla Extensions

[2017-06-27 18:27] johngruen commented on #875
ref #1714

[2017-06-27 18:28] johngruen commented on #981
I can confirm this is possible, lets do this for the next round of surveys

[2017-06-27 18:28] #981 closed, assigned to nobody

[2017-06-27 18:32] johngruen commented on #1011
we should file a different issue to kill code that detects experiments installed in the add-on. For surveys we should – since we're moving to bootstrap – pull state from the server

[2017-06-27 18:32] #1011 closed, assigned to nobody

[2017-06-27 18:34] johngruen commented on #1178
Soul: Crushed

[2017-06-27 18:34] #1178 closed, assigned to nobody

[2017-06-27 18:35] jaredhirsch opened #2557 "Remove addon code that removes experiments when txp addon is removed"
Related to #1011

[2017-06-27 18:37] johngruen commented on #1325
WONTFIX by reason of meh

[2017-06-27 18:37] #1325 closed, assigned to nobody

[2017-06-27 18:41] johngruen commented on #1345
FIXED

[2017-06-27 18:41] #1345 closed, assigned to nobody

[2017-06-27 18:44] johngruen commented on #1349
FIXED

[2017-06-27 18:44] #1349 closed, assigned to nobody

[2017-06-27 18:45] johngruen commented on #1382
Fixed

[2017-06-27 18:45] #1382 closed, assigned to nobody

[2017-06-27 18:45] johngruen commented on #1467
note @clouserw's comment is now outdated

[2017-06-27 18:46] johngruen commented on #1469
WONTFIX

[2017-06-27 18:46] #1469 closed, assigned to nobody

[2017-06-27 18:48] johngruen commented on #1474
Best we can do is message on a timeout. Most of this bug happens upstream.

[2017-06-27 18:48] #1474 closed, assigned to nobody

[2017-06-27 18:52] johngruen commented on #1486
Wontfix: separating concerns seems easier

[2017-06-27 18:52] #1486 closed, assigned to nobody

[2017-06-27 18:56] johngruen commented on #1489
@chenmorpheus and I will dust this off

[2017-06-27 18:59] johngruen commented on #1504
Wontfix, we're going to do some messaging instead.

[2017-06-27 18:59] #1504 closed, assigned to nobody

[2017-06-27 19:16] johngruen commented on #1504
also apparently this fixed itself

[2017-06-27 19:31] fzzzy commented on #1504
I just tested installing from a private browsing window, it seems to work now.

[2017-06-27 19:39] johngruen commented on #1514
okay closing...we're gonna use prettier

[2017-06-27 19:39] #1514 closed, assigned to nobody

[2017-06-27 19:42] johngruen commented on #1524
Closing, we actually might want to rip this code oiut

[2017-06-27 19:42] #1524 closed, assigned to nobody

[2017-06-27 19:44] #1543 closed, assigned to nobody

[2017-06-27 19:44] #1597 closed, assigned to nobody

[2017-06-27 19:45] johngruen commented on #1603
@chuckharmston notes this is "a stupid bug"

[2017-06-27 19:45] #1603 closed, assigned to nobody

[2017-06-27 19:47] johngruen commented on #1621
@johngruen will figure out a _holistic_ strategy here

[2017-06-27 19:48] johngruen commented on #1711
I think this exists. @meandavejustice

[2017-06-27 19:50] johngruen commented on #1705
ACTUALLY, the whole site don't load so good. I'll look at usage

[2017-06-27 19:50] #1705 closed, assigned to lmorchard, SoftVision-PaulOiegas

[2017-06-27 19:52] johngruen commented on #1721
We're gonna do a whole mobile "thing". Closing

[2017-06-27 19:52] #1721 closed, assigned to nobody

[2017-06-27 19:52] jaredhirsch commented on #1754
/me is filled with shame

[2017-06-27 19:53] johngruen commented on #1759
MEH

[2017-06-27 19:53] #1759 closed, assigned to nobody

[2017-06-27 19:54] johngruen commented on #1761
Fixed by the inevitable passage of time

[2017-06-27 19:54] #1761 closed, assigned to johngruen

[2017-06-27 19:57] #1776 closed, assigned to nobody

[2017-06-27 19:57] johngruen commented on #1792
@lmorchard mind moving the good parts of this to MD and putting in docs

[2017-06-27 19:58] johngruen commented on #1828
Don't think this is CSS related. Probably l20n placeholders getting rendered

[2017-06-27 19:59] johngruen commented on #1853
This is probably a wontfix since we'll have to work up a new solution

[2017-06-27 19:59] #1853 closed, assigned to nobody

[2017-06-27 20:00] #1854 closed, assigned to nobody

[2017-06-27 20:01] johngruen commented on #1855
this may change pending sharon's research report

[2017-06-27 20:23] fzzzy commented on #1856
I tested this on the latest version. It seems to be fixed. It might have been related to exceptions causing l20n to not continue localizing the page.

[2017-06-27 20:29] fzzzy commented on #1976
This is fixed on dev but not in prod.

[2017-06-28 18:06] #1855 closed, assigned to nobody

[2017-06-28 18:07] johngruen commented on #1859
@chenmorpheus lets figure out this UI soon

[2017-06-28 18:10] johngruen commented on #1891
@fzzzy thinks we should allow form-action=none to CSP

[2017-06-28 18:12] johngruen commented on #1906
I think we could reasonably pick this up with any photon redesign we do.

[2017-06-28 18:14] johngruen commented on #1935
@fzzzy will review

[2017-06-28 18:16] johngruen commented on #1976
@clouserw will get the ball rolling here

[2017-06-28 18:20] johngruen commented on #1980
Close this in favor of general photon fixes

[2017-06-28 18:22] #1980 closed, assigned to nobody

[2017-06-28 18:24] johngruen commented on #1998
@fzzzy adding locales to URLs may resolve this

[2017-06-28 18:25] johngruen commented on #2020
@chenmorpheus, closing this for now since we're probably gonna change tours anyway

[2017-06-28 18:25] #2020 closed, assigned to nobody

[2017-06-28 18:26] johngruen commented on #2038
Close this in favor of general photon redesign...also @fzzzy thinks it's hard

[2017-06-28 18:26] #2038 closed, assigned to nobody

[2017-06-28 18:32] johngruen commented on #2111
@SoftVision-PaulOiegas can you confirm that this works correctly

[2017-06-28 18:32] johngruen commented on #2122
We switched to flow types

[2017-06-28 18:32] #2122 closed, assigned to nobody

[2017-06-28 18:33] #2128 closed, assigned to nobody

[2017-06-28 18:34] #2148 closed, assigned to nobody

[2017-06-28 18:35] jaredhirsch opened #2560 "Audit inline styles causing CSP warnings"
Refs #2148

[2017-06-28 18:36] chuckharmston opened #2561 "Remove Heartbeat prompting from Test Pilot add-on."
Due to two factors:

- Photon drastically changing the browser chrome CSS.
- The desire to remove functionality from our add-on.

We're going to remove the Heartbeat notification prompts.

[2017-06-28 18:37] #2156 closed, assigned to johngruen

[2017-06-28 18:38] chuckharmston opened #2562 "Find a replacement for experiment tracking/messaging"
#2561 will remove Heartbeat-style messaging. Let's find a replacement for tracking ratings, engagement, and experiment messaging.

[2017-06-28 18:40] johngruen commented on #2171
Lets reassess in our meeting tomorrow, but probably we wont integrate into test pilot

[2017-06-28 18:40] #2171 closed, assigned to nobody

[2017-06-28 18:40] johngruen commented on #2172
Probably moot for now

[2017-06-28 18:40] #2172 closed, assigned to jaredhirsch

[2017-06-28 18:40] SoftVision-PaulOiegas commented on #2111
This still happens. If you have first content language English [en] and second German [de], the terms and privacy pages are wrongly falling back to German [de] while the website is displayed in English.

[2017-06-28 18:41] johngruen commented on #2219
@lmorchard to confirm this is fixed

[2017-06-28 18:42] lmorchard commented on #2219
Yup, I think this is fixed: https://github.com/mozilla/testpilot/pull/2508#issuecomment-307211215

[2017-06-28 18:42] #2219 closed, assigned to lmorchard

[2017-06-28 18:44] johngruen commented on #2236
So we're gonna move away from our current notification strategy. Closing this bug for now. Will reference #2562 for future updates

[2017-06-28 18:44] #2236 closed, assigned to johngruen

[2017-06-28 18:44] #2237 closed, assigned to nobody

[2017-06-28 18:45] #2239 closed, assigned to jaredhirsch

[2017-06-28 18:45] #2242 closed, assigned to nobody

[2017-06-28 18:48] johngruen commented on #2271
Difficulty here is that we have some experiments that are strictly region locked.

[2017-06-28 18:48] johngruen commented on #2271
We could revisit this when we modify the locale in the path.

[2017-06-28 18:49] #2271 closed, assigned to nobody

[2017-06-28 18:52] johngruen commented on #2298
Seems like this would be an easy fix. Like we should not block on async requests

[2017-06-28 18:54] jaredhirsch opened #2563 "Define browser support matrix"
Which browsers do we really, really care about? Which are "best effort"?

Related to #2298 (busted on firefox focus)

[2017-06-28 18:55] johngruen commented on #2299
#2562

[2017-06-28 18:55] #2310 closed, assigned to jaredhirsch

[2017-06-28 18:55] #2312 closed, assigned to jaredhirsch

[2017-06-28 18:55] #2313 closed, assigned to jaredhirsch

[2017-06-28 18:58] johngruen commented on #2325
Let's think *more insane* here 💯

[2017-06-28 19:03] jaredhirsch opened #2564 "Set a timeout when attempting to install"
Sometimes, installing fails for whatever reason (for example, #2331).

We should set a longish timeout when the install attempt begins, and show a generic error if nothing happens.

[2017-06-28 23:24] SoftVision-PaulOiegas opened #2565 "The new page content loading animation has pixelated edges on the left transition"
**[Affected versions]:**
- Firefox 54.0 and up

**[Affected Platforms]:**
- All Windows
- All Mac

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "dev" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.

**[Steps to reproduce]:**
1. Open the browser with the profile from

[2017-06-28 23:26] SoftVision-PaulOiegas commented on #2552
Sorry @johngruen , please don't hate me 😄, but the animation has some sharp edges on the left transition. See #2565.

[2017-06-29 11:06] SoftVision-CosminMuntean commented on #2497
I have retested this issue and is no longer reproducible on dev server. Marking as verified.

[2017-06-29 20:40] #2462 closed, assigned to lmorchard

[2017-06-29 22:08] SoftVision-PaulOiegas opened #2570 "The Test Pilot Homepage remains in infinite loading loop"
**[Affected versions]:**
- Firefox 54.0 and up

**[Affected Platforms]:**
- All Windows
- All Mac
- All Linux

**[Prerequisites]:**
- The "testpilot.env" string type pref was manually added in "about:config" page with "dev" value.
- The "extensions.webapi.testing" boolean type pref was manually added in "about:config" page with "true" value.

**[Steps to reproduce]:**
1. Open the browser with the

[2017-06-29 22:30] lmorchard opened #2571 "Sourcemaps are broken in deployment due to cache-breaking filename hashes"
One of our final build steps in dev / stage / prod deployment is the [`dist-rev-assets` gulp task](https://github.com/mozilla/testpilot/blob/master/frontend/tasks/dist.js#L8), which renames files to include hashes based on content to naturally invalidate caching. As it turns out, this step disassociates the sourcemaps from javascript by putting different hashes in the respective filenames in S3:

[2017-06-29 22:36] lmorchard commented on #2570
I think our CloudFront distribution is a bit jumbled from a series of recent auto-deployments close together - the index.html points to JS & CSS URLs that are no longer in S3, so the page never manages to load things up. Going to restart the most recent CircleCI run and see if the deployment sorts things out.

[2017-06-29 22:41] lmorchard commented on #2570
[Just finished a rebuild & deploy](https://circleci.com/gh/mozilla/testpilot/4670), which I *think* fixed this issue.

[2017-06-29 22:41] #2570 closed, assigned to nobody

[2017-06-30 05:28] SoftVision-PaulOiegas commented on #2570
Seems so 👍

[2017-06-30 14:34] flodolo opened #2574 "Please stop merging PRs involving strings without l10n review"
@clouserw @johngruen
I've tried multiple times to raise this issue, and failed. Let's try with a public issue, because I'm running out of options.

Here's what happened last night. This landed
https://github.com/mozilla/testpilot/commit/04c94f896f11f85f13748f9e65921f4e4a8cff24

And then this landed
https://github.com/mozilla/testpilot/commit/9f228465c97e7fb79804907dd9a1f5b4f84d4583

This morning I

[2017-06-30 16:25] lmorchard commented on #2574
We haven't gotten down to executing on this yet, but we have a notion of a plan to change how things work here: https://github.com/mozilla/testpilot/issues/2430#issuecomment-302809115

TL;DR: Move any changes involving strings to an l10n branch. Make PRs into that branch for l10n review. Once strings are localized, make a PR from l10n to master to land the feature. What we might be missing, though

[2017-06-30 16:29] johngruen commented on #2574
+1 @lmorchard.  We could also look at setting flags in circle CI to warn us if we change values in one of the yaml files so that we make sure to appropriately modify keys.

[2017-06-30 16:51] flodolo commented on #2574
OK, that would solve a lot of issues. The challenges are:
* To make sure we merge changes frequently from the l10n branch into master
* Figure out a way to have a testing server that has the latest strings translated

[2017-06-30 16:52] pdehaan opened #2575 "Invalid 'self' link in feed.atom"
https://testpilot.dev.mozaws.net/__version__ (d609c15b8dfc62fc8c0a76d5e5298336a7816dc7):

[code]

---

https://testpilot.dev.mozaws.net/feed.atom has the following output:

[code]

Note the odd `<link rel="self" href="[object Object],[object Object]"/>` bit:

[code]

[2017-06-30 16:58] pdehaan commented on #2575
Similarly in the https://testpilot.dev.mozaws.net/feed.rss file:

[code]

Specifically:
[code]

[2017-06-30 17:01] lmorchard commented on #2575
I think this will be addressed by https://github.com/mozilla/testpilot/pull/2573 - items are missing *and* the self link is weird

[2017-06-30 17:09] pdehaan commented on #2575
Looks like the self links are also failing the validator:

https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Ftestpilot.dev.mozaws.net%2Ffeed.atom
https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Ftestpilot.dev.mozaws.net%2Ffeed.rss

I can't seem to find a json.feed validator yet.

But I can recheck all these once #2573 lands.

[2017-06-30 18:03] pdehaan commented on #2575
OK, built locally and now the validator is saying the feed is valid, with one minor nit:

http://0.0.0.0:8000/feed.atom:

---

http://0.0.0.0:8000/feed.rss:

For the first issue, not sure if we want to use the current domain versus hardcoding production. 🤷‍♀️
Not sure what to do about the second issue of `<description>` being before `<content:encoded>`. I don't even see a `<description>` element i

[2017-06-30 19:30] ghost opened #2576 "Save voice sample and submitted text with a method respecting a user's privacy"
When saving the voice sample:

 -  Ensure the voice data is not associated with any person-identifiers, including Firefox or Test Pilot identifiers
- Don't send the voice sample to two places
- No requirement to delete within a time frame

/cc @eleemoz @johngruen

Andre:  Can you sketch a diagram of how this works?  Kaldi can probably save a sample, but we need to do a separate ping for what was s

[2017-06-30 19:32] ghost commented on #1766
@eleemoz HELP!

[2017-06-30 19:34] lmorchard commented on #2576
Was this meant to be filed in another repo?

[2017-06-30 19:43] ghost commented on #2576
yeah

[2017-06-30 19:44] #2576 closed, assigned to nobody

[2017-06-30 23:04] pdehaan opened #2577 "Experiment specific news feed updates should appear on experiment page?"
I faked a couple news updates for min-vid and noticed that they only seem to appear on the /experiments page, and not on the /experiments/min-vid page like you'd expect.

<img width="1440" alt="firefox_test_pilot" src="https://user-images.githubusercontent.com/557895/27756507-02c1224e-5dad-11e7-8c38-b9f36c18ee87.png">

---

But I don't see updates when I go to /experiments/min-vid:

<img width="14

[2017-07-02 01:13] chuckharmston commented on #2561
<img width="1543" alt="screen shot 2017-07-01 at 18 11 31" src="https://user-images.githubusercontent.com/23885/27766563-ea93b538-5e88-11e7-95a9-e4b8c0af0ae5.png">

This is now happening on Dev Edition as well as Nightly.

[2017-07-03 19:31] johngruen commented on #2560
grepped for `style=` in `/frontend/src/app`. Sadly, none of these seem to be easily resolvable ATM. I'm going to unassign myself until we have a full new set of mockups for this page.
[code]

[2017-07-03 20:08] pdehaan opened #2578 "Feed id/link point to a 404 page"
Ref: [/frontend/tasks/content.js:40-41](https://github.com/mozilla/testpilot/blob/6e4cc60ee54f99f71a52cf9f3db7992a27829690/frontend/tasks/content.js#L40-L41),

[code]

But if you go to https://blog.mozilla.org/testpilot, you get a glorious 404 page.

[2017-07-03 20:11] chuckharmston commented on #2578
![](http://textfiles.com/underconstruction/BaBajaCanyon9450construct4.gif)

http://textfiles.com/underconstruction/

[2017-07-03 20:11] #2578 closed, assigned to nobody

[2017-07-03 21:01] johngruen opened #2579 "If there"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Containers:           https://github.com/mozilla/testpilot-containers/issues/new
- Min Vid:

[2017-07-03 21:03] johngruen opened #2580 "If there's no Grad Report at graduation, render normal content with a warning"
Doesn't look like we're going to have grad reports quite ready for wednesday. Right now the whole left column of the page is blank. We should at least show the intro text with a notice that the grad report is coming soon.

[2017-07-03 21:10] #2579 closed, assigned to nobody

[2017-07-03 21:57] lmorchard commented on #2423
Hmm, running into one wall so far:

We've been using the SDK's `page-mod` module to inject `window.navigator` properties to inform [the web frontend](https://github.com/mozilla/testpilot/blob/master/addon/data/message-bridge.js) and [a couple of Mozilla sites & `about:home`](https://github.com/mozilla/testpilot/blob/master/addon/data/set-installed-flag.js) about Test Pilot installation state, vers

[2017-07-03 23:54] pdehaan commented on #2575
Per the `<description>` warning in the above comment, it seems like we can just add a `description` property to the feed item:

[code]

We can probably ignore that `item.content = converter.makeHtml(item.description)` bit. I was just experimenting with converting the plain text to HTML using [**showdown**](https://github.com/showdownjs/showdown):

[code]

### Output:

[code]

[2017-07-04 03:21] chuckharmston commented on #2423
We could copy/paste [the `page-mod` source](https://dxr.mozilla.org/mozilla-central/source/addon-sdk/source/lib/sdk/content/page-mod.js) as a starting point?

[2017-07-04 03:50] chuckharmston commented on #2423
Also CC @aswan, who may have ideas.

[2017-07-04 06:22] flodolo opened #2582 "Test Pilot dev server not working (docs need to be updated)"
https://testpilot.dev.mozaws.net/
Error about environment not being correctly set up

[code]

Stage works as expected
https://testpilot.stage.mozaws.net/

[2017-07-04 08:01] SoftVision-PaulOiegas commented on #2582
Hey @flodolo. Yeah, that happens because you need to manually add 2 prefs in order to navigate to dev Test Pilot page.
1. "testpilot.env" string type with "dev" value
2. "extensions.webapi.testing" boolean type with "true" value.
And on top of these 2, you are also notified to enter "https://" if not already added.

This is a new implementation on dev server in order to assure that the environment

[2017-07-04 10:21] flodolo commented on #2582
Thanks, it works indeed.

I don't think it's great to have to manually change config to test a dev server, but that's a different discussion.

[2017-07-04 10:42] flodolo opened #2583 "Dates in newsfeed are not localized"
I'm looking at Test Pilot in Italian and I see `June 29th, 2017` instead of a properly localized date.

![schermata 2017-07-04 alle 12 42 04](https://user-images.githubusercontent.com/3644868/27827152-31cc76f4-60b6-11e7-9e54-3f4bce011bc3.png)

[2017-07-04 10:46] flodolo commented on #2582
Actually, reopening. The page points you to https://github.com/mozilla/testpilot/blob/master/docs/development/quickstart.md and there's no mention of setting up the dev server.

[2017-07-04 11:23] SoftVision-PaulOiegas commented on #2582
Even if the setup on that page, contains the two prefs, yeah, it's oriented for local development setup. Something tells me that we'll encounter the same thing on Stage server after merge.

Maybe it would be ok to have the setup steps embedded in the message, instead of adding individual steps or creating new pages? After all, there are just 2 prefs and the "https://" protocol usage.

[2017-07-04 15:45] aswan commented on #2423
Can you point me to a list of the pages where you want to inject test pilot information?

[2017-07-04 17:31] lmorchard commented on #2423
Basically, these patterns:

* https://testpilot.firefox.com/*
* https://testpilot.dev.mozaws.net/*
* https://testpilot.stage.mozaws.net/*
* https://example.com:8000/*
* https://www.mozilla.org/*
* about:home

For all the `testpilot.*` pages and `example.com`, we inject these properties (example data):
[code]
For mozilla.org and about:home, we omit `testpilotClientUUID`.

We also set up a messaging

[2017-07-04 17:40] lmorchard commented on #2423
I think that's probably overkill. We really just want to inject some properties into the content, can probably do without the communication ports now since mozAddonManager is available in content

[2017-07-04 17:45] lmorchard commented on #2423
FWIW, we can use mozAddonManager from the testpilot pages to take care of detecting the add-on and its version. Not sure how to pass along the testpilotClientUUID for metrics pings - but if there's an easier mechanism, we can switch over to that in the web frontend.

Maintaining compatibility [with about:home snippets filtering](https://github.com/mozmar/snippets-service/blob/0081d7417346b0811fcfc

[2017-07-04 18:00] lmorchard commented on #2582
Problem is that the add-on can only work with one environment at a time across all tabs, which helps mitigate some security concerns. We tried automatically changing the pref, but it would cause confusing issues when someone had more than one environment open in tabs (e.g. dev vs stage vs prod) and the add-on kept flipping back & forth.

That doc is *only* about getting a local dev env up & runnin

[2017-07-04 18:02] flodolo commented on #2582
That's where the link points to though. So, you open https://testpilot.dev.mozaws.net/, follow the link as instructed and don't find anything useful to fix the problem.

[2017-07-04 21:21] lmorchard commented on #2423
Hmm, I think I might be figuring out how to do it with [frame scripts](https://developer.mozilla.org/en-US/Firefox/Multiprocess_Firefox/Message_Manager/Frame_script_environment) - which I haven't used before, because I skipped learning about e10s and leaned on the SDK

[2017-07-05 04:50] aswan commented on #2423
Frame scripts would work if you want to have a single solution for all these different (types of) pages, which would be understandable...
Pages that have mozAddonManager cannot use WebExtensions content scripts, but since those pages have mozAddonManager, they can look up the test pilot extension to see which version (if any) is installed.  That won't get you the client id but why does the origina

[2017-07-05 08:12] SoftVision-PaulOiegas commented on #1705
Production https://testpilot.firefox.com doesn't even load on IE 11 now.

[2017-07-05 09:31] SoftVision-PaulOiegas commented on #1856
@fzzzy Well, the localization was fixed back in 1st of December. I reopened the issue on 7th because of the user count number separator. Some languages have just a space after 3 digits, wich is looking a bit awkward. @flodolo partially confirmed what I was asking, but no one fixed that.
It's up to you guys, I'm not hanging on this.

Here's a screenshot of the current behavior for Hungarian [hu]:

[2017-07-05 09:47] SoftVision-PaulOiegas commented on #2534
Same thing occurs for the 404 page "Home" button. I think we should fix this before we release on Public server.

![404 button](https://user-images.githubusercontent.com/17258026/27859037-237867f0-6180-11e7-94f4-656629ae56ac.png)

[2017-07-05 13:04] SoftVision-PaulOiegas commented on #1998
Just an addition, Cliqz experiment is not even displayed on Chrome if any German language (de, de-de, de-at, de-ch, etc) is set as content language.

[2017-07-05 14:09] fzzzy commented on #1856
@SoftVision-PaulOiegas Ok, I tested german and it seemed ok to me. Thanks for clarifying.

[2017-07-05 17:17] #2580 closed, assigned to nobody

[2017-07-05 17:39] johngruen commented on #2325
@chenmorpheus We learned from Sharon's research that the star is not the way to go with badges. I'd like to do something a little more out there and eye catching here if possible. For reference, here's what the screenshots badge wound up looking like, for reference:

https://github.com/mozilla-services/screenshots/blob/master/addon/webextension/icons/icon-starred-32.svg

[2017-07-05 17:47] b4handjr commented on #1281
Is it still advised to create a mock addon?

[2017-07-05 17:48] b4handjr commented on #1257
Public experiment page means what exactly?

[2017-07-05 17:56] lmorchard commented on #2423
Yeah, that's part of where I hope to avoid propagating a demand for changes out to other projects and maintain the status quo of what we're doing in terms of external interface.

We generate a UUID in the Test Pilot add-on for our own metrics - separate from Telemetry's UUID. It gets re-generated on uninstall & reinstall.

Yeah, [I think I have that working now in my in-progress branch](https://gi

[2017-07-05 18:01] lmorchard commented on #1257
Hmm, this issue is old enough that I think it dates back to when we had Firefox Accounts login - so public/logged-out versus logged-in.

I think the ask in this issue now is to ensure that the main add-on gets successfully installed from individual experiment pages (i.e. versus the home page)

[2017-07-05 18:03] lmorchard commented on #1281
Maybe? Or if it's easier to just grab one of whatever experiments are currently live and use that, that seems fine. I think the notion here was to untangle the site's experiment installation from whatever issues might arise from the experiment itself. But, that might be too much hassle for what shouldn't often be an issue

[2017-07-05 20:19] lmorchard commented on #2561
This invalidates #2512

Alternatively - and this might be a terrible idea, because it purposefully goes against the non-spammy grain of webextension APIs - in working toward #2423, I figured out how to [set a popup and self-trigger the browser action button](https://github.com/lmorchard/testpilot/commit/d966a24b10625d79c3cbd21856f3b801ed059b8f#diff-270f74550696a83b1cb4e9a03141b730R14) from an embe

[2017-07-05 20:56] #2153 closed, assigned to nobody

[2017-07-05 21:20] fzzzy opened #2585 "Weird scaling issue when dragging test pilot out of the toolbar into the customize area on nightly"
This only happens on Nightly, not release.

STR:

Install test pilot.
Click hamburger menu. Click customize.
Drag test pilot into the customize area, out of the toolbar.

Expected:
Test pilot icon in the customize area looks correct.

Actual:
Test pilot icon in the customize area has a weird scale ratio.

This doesn't happen for the other icons in the toolbar. Are we not setting a scale factor on

[2017-07-05 21:24] jonathanKingston commented on #2585
I think the fill might be wrong too, I noticed the library icon suffered from this in Photon to but I think they fixed that. When in the customise area the icon should match the same colour.

[2017-07-05 21:42] b4handjr opened #2587 "Test Pilot Add-On does not install from local testpilot instance"
This is on a fresh profile

Steps:
1: ```npm start``` to start testpilot server
2. Navigate to https://example.com:8000
3. Accept certificate
4. Set Preferences according to https://github.com/mozilla/testpilot/blob/master/docs/development/quickstart.md
5. Click 'Install Test Pilot Add-On on homepage of https://example.com:8000

The 'Installing...' button shows but the addon never installs.
I also

[2017-07-05 22:00] b4handjr commented on #2587
Also found this in the CLI log
```1499290376048	addons.xpi	WARN	Download of https://example.com:8000/static/addon/addon.xpi failed: [Exception... "Component returned failure code: 0x8052000b (NS_ERROR_FILE_CORRUPTED) [nsIZipReader.open]"  nsresult: "0x8052000b (NS_ERROR_FILE_CORRUPTED)"  location: "JS frame :: resource://gre/modules/addons/XPIInstall.jsm :: loadManifest :: line 1627"  data: no] St

[2017-07-05 22:11] fzzzy opened #2588 "Release 2017-07-06 on stage"
Please test!