[2016-07-28 20:28] #1145 closed, assigned to lmorchard

[2016-07-28 22:14] meandavejustice opened #1149 "notification-icon.png is too big"
we need to resize `addon/data/notification-icon.png` while still keeping to looking good on retina

[2016-07-29 00:52] dannycoates commented on #1140
I can get the page to alternate randomly between blank and rendered just by repeatedly CMD+R on https://testpilot.firefox.com/experiments?utm_source=testpilot-addon&utm_medium=firefox-browser&utm_campaign=testpilot-doorhanger&utm_content=not+badged

But with devtools open it renders every time (with caching enabled or disabled).

_weird_

With Browser Console open here's a blank one

<img width="9

[2016-07-29 13:28] SoftVision-PaulOiegas commented on #798
Verified this on dev server and haven't seen the issue anymore.
Tested on both Windows 10 (x64) and Mac OS 10.11.

[2016-07-29 13:28] #798 closed, assigned to nobody

[2016-07-29 14:17] SoftVision-PaulOiegas commented on #1038
Three things that I have observed here.
1. The cards for new experiments are clearly larger than the ones for existing ones.
2. If you hover the existing ones, a border is added around the card, while on the new cards, the border cuts from the card.
3. Even if border is displayed for existing experiments, the new ones still seem a bit larger.

Shouldn't we have some consistency here ?
![cards size

[2016-07-29 14:29] johngruen commented on #1142
@meandavejustice still seeing this in the wild...can you take a look ASAP

[2016-07-29 14:53] johngruen commented on #1149
I put the new image in @lmorchard's PR

[2016-07-29 14:53] #1149 closed, assigned to nobody

[2016-07-29 14:58] johngruen commented on #1125
hey @j1my3p1x the image was made in photoshop. Here's a big PNG, lemmie know if you want it bigger. I didn't make the image, so I'm not sure if it's cool for me to share the source file

![test-pilot-logo](https://cloud.githubusercontent.com/assets/3323249/17252580/3dd7398a-557b-11e6-8fc6-0666c3f39162.png)

[2016-07-29 15:02] johngruen opened #1150 "Style nits on cards"
- [x] little gap on the status indicator
- [x] border radius issue

[2016-07-29 15:42] johngruen opened #1152 "Test Pilot Add-on not displaying enabled state for experiments"
seen in the wild on Win 10/nightly:

[code]

[2016-07-29 15:43] johngruen commented on #1125
We're triaging bugs so i'm gonna close this for now.

[2016-07-29 15:43] #1125 closed, assigned to nobody

[2016-07-29 15:43] johngruen commented on #1137
Fixed by #1147

[2016-07-29 15:54] johngruen opened #1153 "Admin toggle for status of experiment"
Currently I have to enter in all of the correct content into the django admin and then hit save to display stuff on the Test Pilot site. I would like a checkbox  for each experiment that controls whether or not an experiment is displayed so that we can populate the various panels and check for typos without fear of accidentally posting the wrong content to the site.

[2016-07-29 16:04] ckprice commented on #1152
Sounds like a duplicate of #723.

[2016-07-29 16:04] #1152 closed, assigned to nobody

[2016-07-29 16:05] ckprice commented on #723
Looks like Mayo commented on this again. I'm going to move this to planned and add it to TXP-0.

[2016-07-29 16:06] johngruen commented on #1140
@vladikoff @dannycoates can you try to reproduce on our dev instance, we believe this is probably a dupe of #1101 and will be fixed in this train

[2016-07-29 16:10] johngruen commented on #1098
Note: this will go away when TXP-7 lands. remeber to close @6a68

[2016-07-29 16:11] ckprice commented on #1108
Leaving the [draft document](https://docs.google.com/document/d/1AbgkEYxKOlrIzZjLoElvwJBDXFK8NlLigHCJSzdzldw/edit) (anyone with link can comment) open for the weekend for comments. Will open a PR next week.

[2016-07-29 16:15] johngruen commented on #1039
@johngruen to talk to @clouserw about this stuff

[2016-07-29 16:20] #1150 closed, assigned to nobody

[2016-07-29 16:28] johngruen commented on #1038
@SoftVision-PaulOiegas hey, that's height difference is by design, but the hover is fixed by https://github.com/mozilla/testpilot/pull/1151

[2016-07-29 17:03] dannycoates commented on #1140
I can occasionally get the page to _flash_ white for a second on dev, but it doesn't get stuck. 👍

[2016-07-29 17:41] presidentelect opened #1154 "Production TestPilot not working (with FF 45)"
Operating system: Windows 7 Professional
Firefox: 45.2.0 ESR

After installing Test Pilot, clicking on one of the add-ons takes me to a blank page.  I also get a blank page if I go directly to testpilot.firefox.com.

I am able to see and enable an add-on if I switch the Test Pilot environment to "Staging (testpilot.mozaws.net)".

[2016-07-29 18:58] johngruen commented on #1154
Hey @presidentelect can you post the console error you're seeing on the blank page. I this may be a dupe of #1101 which should be uplifted to Prod on Tuesday.

[2016-07-29 19:07] ckprice commented on #1034
I'm going to take this off this milestone as it doesn't block TXP-7.

[2016-07-29 19:16] johngruen commented on #723
![screen shot 2016-07-29 at 3 15 24 pm](https://cloud.githubusercontent.com/assets/3323249/17260622/747289ee-559f-11e6-87d6-0f839f43f7ab.png)

[2016-07-29 19:51] #1137 closed, assigned to johngruen

[2016-07-29 20:22] #1043 closed, assigned to jaredhirsch

[2016-07-29 20:31] #753 closed, assigned to lmorchard

[2016-07-29 20:31] #1126 closed, assigned to lmorchard

[2016-07-29 20:34] pdehaan opened #1156 "HTTP 500 when installing Activity Stream experiment in a new profile"
Found in https://testpilot.firefox.com/__version__ (8e617b1298ab4827a566e0099bcc284a3713594b):

[code]

---
### Steps to reproduce:
1. Create a new profile.
2. Go to https://testpilot.firefox.com/ and install Test Pilot add-on.
3. Go to https://testpilot.firefox.com/experiments/activity-stream and enable experiment.
4. Open the dev tools console.
### Actual results:

![browser_console_and_firefox_

[2016-07-29 21:04] #1074 closed, assigned to jaredhirsch

[2016-07-29 21:12] lmorchard opened #1157 "500 internal server errors on test pilot dev"
Investigating - appears to be a broken DB migration. Blocks further deployment

[2016-07-29 21:13] johngruen opened #1158 "dev is erroring"
Needs resolution before we tag for release

[2016-07-29 21:13] johngruen commented on #1158
Dupe of #1157

[2016-07-29 21:13] #1158 closed, assigned to nobody

[2016-07-29 21:20] lmorchard commented on #1157
Still investigating. Looks like one of the 500 errors is producing this in Python, which suggests the last migration adding the notification model changes didn't get applied:

[code]

[2016-07-29 21:21] jaredhirsch opened #1159 "Onboarding new tab page should use correct env URL"
This is a [TODO](https://github.com/mozilla/testpilot/blob/master/addon/index.js#L157) from [PR 1155](https://github.com/mozilla/testpilot/pull/1155#discussion_r72857565):

Rather than hard-code the production test pilot URL in the `openOnboardingTab` method, we should wait until the settings data is ready, then open the onboarding tab using the correct server environment base URL.

[2016-07-29 21:22] ckprice commented on #1157
See this error in console

`None of the "sha384" hashes in the integrity attribute match the content of the subresource`

It's a reach, but matches the summary in #950.

[2016-07-29 21:23] lmorchard commented on #1157
No, I don't think SRI errors are related to this.

Just attempted manual migration on the elastic beanstalk container and got this:

[code]

[2016-07-29 21:26] ckprice commented on #1157
Delete the dev data and try?

[2016-07-29 21:27] lmorchard commented on #1157
No. Whatever is wrong with migrations on dev is likely to happen to stage & prod if we go forward, and we're not going to delete data there.

[2016-07-29 21:29] pdehaan commented on #1157
Is this something Sentry would help catch? #684
Or is this failing before Sentry would have a chance to catch+log it?

[2016-07-29 21:34] lmorchard commented on #1157
More infodump... this is the state of migrations on dev, for some reason it thinks 0019 in experiments from 3 weeks ago is unapplied, and it's trying to re-apply:

[code]

[2016-07-29 21:35] lmorchard commented on #1157
Sentry would catch the server errors, but this is a deployment issue

[2016-07-29 21:41] lmorchard commented on #1157
Managed to get dev working again by skipping the migration and running the rest:

[code]

[2016-07-29 21:46] lmorchard commented on #1157
And now `showmigrations` looks like this, but I still don't know why that migration from 7/7/2016 wasn't run on dev. Maybe it broke back then and has not been running this whole time but didn't cause other issues?

[code]

[2016-07-29 21:47] johngruen opened #1160 "email form style nits"
- add padding and border radius to input
- error spacing

[2016-07-29 22:05] johngruen commented on #1160
#1161

[2016-07-29 22:05] #1160 closed, assigned to nobody

[2016-07-29 22:07] lmorchard commented on #1157
Plot thickens a little bit - even though I skipped migration `0019`, we still needed it to do its thing. But I seem to have hit a Django bug with unique constraint changes. So, it needs to be done by hand or else our install counts will break. This is what I did on dev via postgresql-client:

[code]

This needs doing on stage & prod - and might in fact be the cause of #1156. The catch is that the

[2016-07-29 22:19] lmorchard commented on #1157
And now I'm just baffled. relud gave me access to stage, and I ran `showmigrations` on the container there. Apparently the failing migration _did_ apply there:

[code]

[2016-07-29 22:55] lmorchard opened #1162 "New onboarding page can interrupt add-on installation detect on stage & dev"
Was able to reproduce a landing page install button that never stops spinning on local dev & staging. Here's what I think is happening:
- Click install, and the barberpole starts spinning.
- Front-end starts checking for presence of add-on once a second.
- User confirms installation, the add-on installs.
- Add-on starts up and fires off an async process to determine server env settings
- Add-on op

[2016-07-29 22:57] lmorchard commented on #1162
@johngruen & @6a68 - I think this might explain an issue with the Installing button never finishing. And, #1159 might fix it, if this is the correct explanation.

[2016-07-29 23:04] lmorchard commented on #1162
Oh, but also if this is what's happening: This won't be an issue on production, since the onboarding tab is hardcoded to production and so the environment selection will be correct.

[2016-07-29 23:06] lmorchard commented on #1157
Going to mark this closed, but I'm eyeing it warily.

The problem happened on dev, but not stage - but it _did_ happen on prod. Manual SQL changes fixed prod.

[2016-07-29 23:06] #1157 closed, assigned to nobody

[2016-07-29 23:07] lmorchard commented on #1156
I _think_ we just fixed this with some manual SQL applied in production.

[2016-07-31 00:32] j1my3p1x commented on #1125
That's perfect, huge thanks! I really appreciate it.

[2016-08-01 13:41] presidentelect commented on #1154
I does look like it may be the same issue as #1101.  I'm seeing "waitForMessage timeout: sync-installed".
Also, as I mentioned, I do not see the error when running against "Staging" instead of "Production".
Since #1101 was "closed" I assumed it had already been deployed to production.

[2016-08-01 15:29] johngruen commented on #1098
Fixed by #1074

[2016-08-01 15:29] #1098 closed, assigned to nobody

[2016-08-01 15:41] johngruen opened #1163 "Handle no-addon experiment pages if browser is !Firefox"

[2016-08-01 15:45] SoftVision-PaulOiegas opened #1164 "Universal Search is not correctly uninstalled if Tab Center experiment is instaled before it"
[Affected versions]:
- Nightly 50.0a1
- Test Pilot 0.8.3 -tag-2016-07-29

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Go to https://testpilot.stage.mozaws.net page.
2. Click on the big green "Install the Test Pilot Add-on" button.
3. After the installation chose the "Tab Center" experiment and "Enable" it.
4. Return to "Experiments" page and choose the "U

[2016-08-01 15:55] SoftVision-PaulOiegas opened #1165 "Tooltip color change on "Test Pilot" button after enabling "Tab Center" experiment"
[Affected versions]:
- Nightly 50.0a1
- Test Pilot 0.8.3 -tag-2016-07-29

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Go to https://testpilot.stage.mozaws.net page.
2. Click on the big green "Install the Test Pilot Add-on" button.
3. Observe the "Test Pilot" button from browser toolbar.
4. Chose the "Tab Center" experiment and "Enable" it.
5. Observe agai

[2016-08-01 16:29] #1156 closed, assigned to nobody

[2016-08-01 16:29] #1154 closed, assigned to nobody

[2016-08-01 16:29] #1140 closed, assigned to nobody

[2016-08-01 16:34] lmorchard opened #1167 "Reintroduce subresource integrity enforcement for 3rd party resources"
In #1134, we disabled SRI enforcement on the site for 3rd party resources.

It would be nice to circle back and re-introduce it, after figuring out how to deal with keeping up with hashes on resources that change for non-malicious reasons (i.e. deployments, official updates, etc)

[2016-08-01 16:35] lmorchard commented on #1134
Submitted #1167 to cover possibly re-enabling SRI, since I think we're just going with disabling this for now. Would be nice to have it back, but probably good to get rid of the errors for now

[2016-08-01 16:44] SoftVision-CosminMuntean opened #1169 "Berberpole animation along with "Installing" text are not displayed for bottom page installation button"
[Affected versions]:
- Nightly 50.0a1
- Test Pilot 0.8.3 -tag-2016-07-29

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Go to https://testpilot.stage.mozaws.net page.
2. From the bottom of the page click on the big green "Install the Test Pilot Add-on" button.
3. Observe the button behavior.

[Expected result]:
- The button changes into "Installing..." and

[2016-08-02 14:15] #1134 closed, assigned to lmorchard

[2016-08-02 15:55] ckprice opened #1170 "`new` badge on doorhanger, but no new experiments."
From [TXP-3](https://trello.com/c/4PNAwpwQ/3-new-experiment-add-on-ui)

I see the "New" badge on the toolbar when I bring up Firefox after this morning's deployment. We did not launch a new experiment, so we should not be showing the toolbar badge.

/cc @johngruen

References from chat:

What's "first update" in this context?

/edit And first update is update of test pilot since the badge feature

[2016-08-02 16:01] ckprice commented on #1170
/edit moved this comment into the description.

[2016-08-02 16:56] chuckharmston opened #1171 "ProgrammingError: relation "waffle_flag" does not exist"
When setting up a local development environment from scratch, a first run produced the following exception:

[code]

[2016-08-02 17:06] lmorchard commented on #1171
If you CTRL-C and run `docker-compose up` again does this error go away? There's often a lag between the Postgres server starting up and Django being able to run migrations that we haven't been able to sort out. That tends to result in errors like this. We've got a vague note about that in the README-DOCKER but it could probably be made clearer

[2016-08-02 17:08] chuckharmston commented on #1171
Worked like a charm. Definitely something we should mention in docs.

[2016-08-02 17:47] chuckharmston opened #1172 "Don't use `default` for name of docker-machine VM"
Docs currently have users create the Test Pilot VM with the name `default`, which is used by docker-machine whenever the machine_name argument is omitted in commands. That's a bit of an anti-pattern, and could cause problems with users not familiar with Docker who are  copy/pasting our instructions.

[As we do in Universal Search](https://github.com/mozilla/universal-search-recommendation/blob/mas

[2016-08-02 19:12] lmorchard commented on #1172
In troubleshooting some things today, I uninstalled all things Docker from my machine and looked up the current version... [Looks like the latest Docker for Mac doesn't even use docker-machine anymore!](https://docs.docker.com/docker-for-mac/docker-toolbox/) So, I wonder if we should revise everything to favor that instead?

[2016-08-02 20:22] ghost opened #1175 "Webextension Telemetry pings aren't showing up in Telemetry"
Ilana looked for pings today from a "No More 404s" test[1] and didn't see any.  We've had the add-on installed and goofed around with it for the past week, so we should have seen a few pings at least.

I had the add-on installed last week and didn't see any pings in my about:telemetry.

Blok is also using the same code.  There weren't pings from Blok on the server either.  Luke is checking his abo

[2016-08-02 20:39] lmorchard commented on #1175
Was the experiment enabled from a local copy of Test Pilot? The main Test Pilot add-on won't listen for messages from anything but addon IDs in the list it gets from the server-side API. (see also #1029)

[2016-08-02 20:51] lmorchard commented on #1029
Another idea: What if there was a local dev mode which used the list of all locally installed add-ons as valid experiments, along with the server API list? Then we could at least set up things like BroadcastChannels for WebExtensions to receive Telemetry ping requests

[2016-08-02 20:52] ghost commented on #1175
I pointed my Test Pilot add-on at stage, where No More 404s is configured and saw the pings in about:telemetry from it.  So, I think we're good here.  Thanks @lmorchard

[2016-08-02 20:52] #1175 closed, assigned to nobody

[2016-08-02 22:40] ghost commented on #1058
Ok, we are on the hook to do this in this sprint (going live on Aug 16th).  The new format is documented above and is an object/event/timestamp model.  It changes from sending a ping every 24 hours to sending a ping every time something happens.  The list of things we want to trigger pings are as follows:

Test Pilot add-on is installed or enabled:

Test Pilot add-on is uninstalled or disabled:

A

[2016-08-03 02:20] Akshay-Anand opened #1176 "The link for docker installation in linux part of README.MD (screenshot attached) leads to a 404 error page ."
![screenshot from 2016-08-02 19 10 16](https://cloud.githubusercontent.com/assets/12967243/17351661/7b4a43b2-58e5-11e6-98ca-0349534539b9.png)

[2016-08-03 15:48] meandavejustice commented on #1176
Thanks for reporting @Akshay-Anand

[2016-08-03 16:07] jaredhirsch commented on #1142
@meandavejustice Stealing this bug. Feel free to steal back if you're actively working on it ^_^

[2016-08-03 16:16] ghost commented on #1172
I have a patch changing the docs to that (mostly deleting steps) but I didn't get the SQL to run yet so I didn't submit the PR.  Gotta sort that out and then I'll have it

[2016-08-03 16:30] ghost commented on #1172
That PR is at https://github.com/mozilla/testpilot/pull/1177  .  Note that Docker for Mac _only_ has a `default` machine, so, that doesn't really solve this issue as filed, but I think it does address it.

[2016-08-03 17:12] carolineh101 commented on #1176
Hello, I think I've found the link you may be looking for: https://docs.docker.com/engine/installation/linux/ubuntulinux/
May I go ahead and submit a pull request?

[2016-08-03 17:15] jaredhirsch opened #1178 "Use Discourse input form templates"
Discourse supports new topic templates, similar to the Github new bug report templates:

https://meta.discourse.org/t/what-are-topic-templates/38295

The community IT manager mentioned this on IRC. We could use it to shape feedback and make it a bit less freeform on a per-experiment (that is, per-category) basis.
- [ ] create a topic template for Test Pilot discussions (could be a replacement for

[2016-08-03 17:30] chuckharmston commented on #1172
Does that mean that it runs all containers inside of a single host VM as a design? If that's the case, we should probably make sure to namespace our containers.

[2016-08-03 19:51] ghost commented on #1079
Thanks, I'm going with `utm_source=testpilot_legacy` .  This is set to launch on Aug 16th.

[2016-08-03 21:27] ghost commented on #1172
I'm not a Docker pro, but that was my understanding from [the docs](https://docs.docker.com/docker-for-mac/docker-toolbox/):

kinda seems like a step backwards, but I guess it is way simpler

[2016-08-03 21:41] lmorchard commented on #1172
FWIW, `docker-compose` already does that, prefixing all the container names and the locally-built image names with `testpilot_`:

[code]

By default, it uses the name of the current directory as the project name for that prefix. You can also supply the project name with [the `-p` option](https://docs.docker.com/compose/reference/overview/), if you wanted to spin up a different independent set of s

[2016-08-04 00:17] pdehaan opened #1183 "Need better Discourse link for No More 404s experiment page"
Re: https://testpilot.firefox.com/experiments/no-more-404s

Currently it looks like we're linking to the generic "Test Pilot" Discourse forum for No More 404s, but we should probably link to the specific No More 404s forum: https://discourse.mozilla-community.org/c/test-pilot/nomore404s

![firefox_test_pilot_-_no_more_404s](https://cloud.githubusercontent.com/assets/557895/17386274/f05ec732-599d-1

[2016-08-04 00:36] pdehaan opened #1184 "Fix Mark's bio picture on No More 404s"
![fullscreen_8_3_16__5_26_pm](https://cloud.githubusercontent.com/assets/557895/17386441/afab98d0-599f-11e6-8159-3cb0adc7c828.png)

[code]

![](https://testpilot-prod.s3.amazonaws.com/users_userprofile/e/a/ea82410c7a9991816b5eeeebe195e20a_avatar_1470244527_0592.jpg)
**Figure 1:** 187px by 213px. We probably want to resize to 213x213 so it's square and then fill w/ black background. Probably look "

[2016-08-04 00:41] pdehaan commented on #1184
#### FEAR MY PHOTOSHOP SKILLS!

![mark-graham](https://cloud.githubusercontent.com/assets/557895/17386635/6b39da02-59a1-11e6-96e0-ac710f07db66.png)

| &nbsp; | PIC |
| --: | :-: |
| Before: | <img width="85" alt="firefox_test_pilot_-_no_more_404s" src="https://cloud.githubusercontent.com/assets/557895/17386565/da38e778-59a0-11e6-9fcb-dcb72637d173.png"> |
| After: | <img width="98" alt="untitled" s

[2016-08-04 02:07] Akshay-Anand commented on #1176
carolineh101 Yes ,The link you have given is correct .Please submit the pull request  so that I  can close the issue.

[2016-08-04 13:24] johngruen commented on #1178
Yeah, this sounds like a nice idea. Let's do it!

[2016-08-04 14:09] johngruen commented on #1184
Fixed

[2016-08-04 14:09] #1184 closed, assigned to nobody

[2016-08-04 14:39] johngruen commented on #1183
Resolved

[2016-08-04 14:39] #1183 closed, assigned to nobody

[2016-08-04 17:09] #1176 closed, assigned to nobody

[2016-08-04 17:10] #1170 closed, assigned to lmorchard

[2016-08-04 17:10] dannycoates opened #1188 "White button icon is missing drop shadow"
One of these things is not like the others
<img width="301" alt="screen shot 2016-08-04 at 10 07 17 am" src="https://cloud.githubusercontent.com/assets/87619/17411093/8115485e-5a2b-11e6-90d8-6a8c3dc6876f.png">

[2016-08-04 17:16] #719 closed, assigned to nobody

[2016-08-04 19:06] dannycoates commented on #1021
I'm able to reproduce this. I don't understand why other versions aren't logging the error because I've seen `app` be undefined in the debugger on 50. 🤔

Anyway, there's a quick & dirty fix for this, but it points to a possibly larger issue with the lifecycle of some of the objects in the addon. A `PageMod` creates `app` when attached, so the `installListener` might either try to use `app` before

[2016-08-04 19:53] johngruen commented on #1188
😐 let's fix this

[2016-08-04 20:04] johngruen opened #1189 "Install redirect is really slow"
After installing Test Pilot, the landing page does not redirect for a really long time. I know we have a backstop to redirect after 15 seconds, but that should not be default.

**Expected**
Clean Profile, install testpilot, redirect when install completes

**Actual**
![redirect](https://cloud.githubusercontent.com/assets/3323249/17416647/21d80a8e-5a5d-11e6-9849-683494545f3a.gif)

[2016-08-04 20:05] johngruen commented on #1189
saw this in browser console:

[code]

[2016-08-04 20:14] lmorchard commented on #1189
Starting to see this too, but no clue yet why. Seems to have started since we introduced the onboarding tab, [but I didn't think it would affect production](https://github.com/mozilla/testpilot/issues/1162). (So, the onboarding tab might be a red-herring)

The long delay is probably exactly 15 seconds - [because the frontend attempts to contact the add-on 3 times, with a 5 second timeout each time

[2016-08-04 20:27] #1079 closed, assigned to clouserw

[2016-08-04 20:32] #723 closed, assigned to jaredhirsch

[2016-08-04 22:16] legalgal opened #1191 "I have never been able to download the tab add-on. I first tried about 8 months ago, and gave up. I tried again today, and the "enabling" button starts flashing but never stops. Thanks."
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues.

If you're experiencing a bug in Test Pilot, please include the following information:
- [ ] Operating system
- [ ] Firefox build (Nightly, Developer Edition, Beta, Release)

---

If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo be

[2016-08-04 23:23] kglading opened #1192 "Problem adding No More 404s to Test Pilot"
I received a notification to use No More 404s with the test pilot of the developer edition of Firefox on a Windows 10 Pro version 1511 and the Enabling button just shows it is not completing adding it to the Add-ons.  Have you gotten any other reports of this issue?  Any ideas as to what to do to add it to Test Pilot?

Thanks,
Keith E. Glading

[2016-08-04 23:42] pdehaan commented on #1189
Would Sentry tell us where the promise error is getting thrown?
Ref: https://github.com/mozilla/testpilot/issues/684

[2016-08-05 00:11] pdehaan commented on #1189
OK, looking into one of my new best friends, [**eslint-plugin-promise**](http://npm.im/eslint-plugin-promise), it looks like we may not be handling promise errors in a few places:

[code]

[code]

[2016-08-05 00:16] pdehaan commented on #1189
... But looking at @johngruen's error stack a bit closer, it _may_ be a red herring, since it seems to be referencing a `this._addon` which I can't locate via `$ git grep`, and the error messages reference  `resource://devtools/...` which seems unrelated.

We should handle our Promises a bit better regardless, but it may not be the direct cause.

🐟

[2016-08-05 12:46] SimonSapin opened #1193 "Don’t ask to take a survey if that’s already done"
- [x] Operating system: Arch Linux x86_64
- [x] Firefox build: Release 47, then 48 (distribution package)

---

In the last few days I was asked to rate Tab Center and complete a survey about it three times, even though I did it the first time.

[2016-08-05 14:43] johngruen commented on #1192
Hmm, Can you check what version of Firefox you're using? You may need to update: https://support.mozilla.org/lt/kb/find-what-version-firefox-you-are-using

If you're up to date, could you try enabling one of the other experiments to see if they are working or if the issue is just with No More 404s?

[2016-08-05 14:45] johngruen opened #1194 "Let's move all of the blue/stars into the server side page that loads ampersand"
We should also add a loader in there that gets nuked when the ampersand app fires up. This will do wonders for perceived performance.

[2016-08-05 14:46] johngruen commented on #1193
@meandavejustice

@SimonSapin can you check the add-on version for Test Pilot? You can find this in about:addons.

Thanks for the report!

[2016-08-05 16:09] ghost commented on #1194
What's the goal here?  You want to improve initial performance?

We don't have a server side template right now (just a white page that loads ampersand), so this isn't as straight forward as it seems.

[2016-08-05 16:10] ghost commented on #1193
I've also been prompted to rate Tab Center a few times in the past few days.  Jared is going to look at this.

[2016-08-05 16:18] ghost commented on #1191
This sounds like the same as #1189 so I'm going to close this in favor of that issue.  Feel free to follow along there.  Thanks!

[2016-08-05 16:18] #1191 closed, assigned to nobody

[2016-08-05 16:25] ghost commented on #1172
I don't think this is an issue with Docker for Mac anymore.  If it is, please reopen and let us know. :)

[2016-08-05 16:25] #1172 closed, assigned to nobody

[2016-08-05 16:26] ghost commented on #1171
I also ran into this and had the same fix.  We think this is fixed with a new patch that just landed that waits for the db to fire up (15s).

[2016-08-05 16:27] #1171 closed, assigned to nobody

[2016-08-05 16:27] kglading commented on #1192
I keep my developer version up to date and check every day since it
changes so rapidly.  Here is today's:

I have all the other test pilot add-ons installed and working, but this
one does this when I try to install it:

The Enabling button just keeps "strobing" and the add on doesn't install.

As you can see below, the other test pilot add-ons are installed:

I'm puzzled.

Keith E. Glading

On 05-

[2016-08-05 16:32] chuckharmston commented on #1164
Moved here: https://github.com/bwinton/TabCenter/issues/479

[2016-08-05 16:32] #1164 closed, assigned to nobody

[2016-08-05 16:44] ghost commented on #1165
filing under tab center:  https://github.com/bwinton/TabCenter/issues/489

[2016-08-05 17:49] jaredhirsch commented on #1070
@SoftVision-PaulOiegas could you try to reproduce this bug?

[2016-08-05 17:58] dannycoates commented on #1189
I wonder if this is related to the timing of when `app` is created. The delay from `updateExperiments` might be enough to throw it off. https://github.com/mozilla/testpilot/blob/9702ac94297b5a568acf79fb97fd97eb8f730b8f/addon/index.js#L167

[2016-08-05 18:04] lmorchard commented on #1189
Oh, that sounds like a good lead!

[2016-08-05 18:05] lmorchard commented on #1189
I was also starting to think maybe we should reverse the communication here... That is, the add-on waits for a ping from the frontend before sending an experiment list. (And then the frontend waits for a response from the add-on.)

Maybe the frontend should just listen and wait for a ping, and the add-on sends down a message when it's ready. The frontend can then just react to the info when it get

[2016-08-05 18:19] lmorchard opened #1196 "Use a manually-set preference to change Test Pilot add-on environment"
The main add-on has two things for dev & testing convenience that are most likely causing problems:
- [The environment selector in `about:addons` settings](https://github.com/mozilla/testpilot/blob/master/addon/package.json#L44) - general users have found it and gotten into unexpected situations.
- [The code that inspects browser history on installation and auto-selects an environment based on the

[2016-08-05 18:30] ghost opened #1197 "Simplify experiment onboading tour"
This was feedback from @ckarlof:

He installed an experiment and saw this page:
![tour](https://cloud.githubusercontent.com/assets/16946141/17446777/bcd5f544-5aff-11e6-9d4c-1638249e6e3d.png)

And thought we could eliminate a click if we just dropped right into the tour.  If a person wants to skip it, they can skip it from step 1 instead of step 0.

[2016-08-05 18:34] ckarlof commented on #1197
Yeah, this provides some feedback for enabling the experiment, but it doesn't feel very inviting to take the tour. I'm assuming this is the same UX for all experiments. What's our success rate in getting people to take experiment tours?

[2016-08-05 18:35] SimonSapin commented on #1193
Test Pilot 0.8.3-tag-2016-07-29

[2016-08-05 18:58] johngruen commented on #680
@dannycoates colors adjusted to match #660
![disabled from add-on main 2x](https://cloud.githubusercontent.com/assets/3323249/17447550/08f7d1aa-5b1d-11e6-8de2-81c891378e08.png)

[2016-08-05 19:30] ghost opened #1198 "Drop automated dev/stage/prod detection code in favor of a menu"
When Test Pilot starts, there is some code that attempts to look into your history and see the most recently visited test pilot site, and then set the Test Pilot add-on to work with that site (dev/stage/prod/local).  That code might be causing some weird issues (like the hard-to-reproduce white pages on load) but it definitely affects things like #1162.

Instead of that code, let's do a simpler ch

[2016-08-05 19:52] chuckharmston commented on #1198
Duping to https://github.com/mozilla/testpilot/issues/1196, but it's a strong idea.

[2016-08-05 19:52] #1198 closed, assigned to nobody

[2016-08-05 19:52] chuckharmston commented on #1196
From @clouserw in #1198:

---

When Test Pilot starts, there is some code that attempts to look into your history and see the most recently visited test pilot site, and then set the Test Pilot add-on to work with that site (dev/stage/prod/local).  That code might be causing some weird issues (like the hard-to-reproduce white pages on load) but it definitely affects things like #1162.

Instead of t

[2016-08-05 20:04] jaredhirsch commented on #1196
:+1: to this, much simpler than adding doorhanger UI, etc.

[2016-08-05 20:27] lmorchard commented on #1198
Yeah, the problem with this is that we need the add-on to know what environment to use before the toolbar button or doorhanger are set up.

When you click "install" from the web, the add-on gets installed & starts up. If the current configured environment matches the current web page, the add-on injects a page-mod on that page. After that, the web frontend can detect the add-on's presence, stops a

[2016-08-05 20:46] johngruen commented on #1196
Yeah, config flag seems massively easier.

[2016-08-05 20:48] johngruen commented on #1192
@kglading i am similarly puzzled...here's a thought, in about:addons are you pointed at the 'production' Test Pilot endpoint? You can find out by checking the Test Pilot Preferences. We're actually going to move this change option soon as it's gotten some of our users into trouble.

[2016-08-05 21:12] kglading commented on #1192
I think so:

On 05-Aug-16 13:48, John Gruen wrote:

##

Philosophy is a game with objectives and no rules.
Mathematics is a game with rules and no objectives.

[2016-08-05 22:04] #1021 closed, assigned to dannycoates

[2016-08-05 22:07] lmorchard commented on #1159
Fixed by https://github.com/mozilla/testpilot/commit/06f2605126949f942384fca5d6f8765441cc2cb4

[2016-08-05 22:07] #1159 closed, assigned to nobody

[2016-08-05 22:07] lmorchard commented on #1162
So, #1159 is fixed and there are also issues open for #1189 and #1196, so this one seems a bit redundant.

[2016-08-05 22:07] #1162 closed, assigned to nobody

[2016-08-05 22:15] #1194 closed, assigned to johngruen

[2016-08-05 22:35] ghost commented on #1196
bah :) 🌾

[2016-08-05 23:10] #1188 closed, assigned to johngruen

[2016-08-05 23:34] BoffinBrain opened #1202 "Cannot install Universal Search or Activity Stream from their respective Test Pilot pages"
OS: Windows 7 Ultimate 64-bit
Firefox version 48.0

I'm not sure if this is a specific issue with the 2 tests, or the Test Pilot website/addon itself. When I try to install Universal Search or Activity Stream, the button gets stuck on 'Enabling' forever. When installing Tab Center and No More 404s, it works correctly.

I have tested this on a blank Firefox profile with no other addons installed an

[2016-08-05 23:36] BoffinBrain commented on #1202
May be related to https://github.com/mozilla/testpilot/issues/1192 but note that No More 404s works fine for me.

[2016-08-06 19:33] bwinton commented on #1165
As commented in the TabCenter issue, you can also replicate this by entering Customize mode, so I'm afraid this is actually a TestPilot bug, not a TabCenter bug.  (Uh, but I can't re-open it, so I'll leave that for someone else. 😉)

[2016-08-07 01:42] dannycoates commented on #1165
Seems related to https://bugzilla.mozilla.org/show_bug.cgi?id=1292981

There's no code in testpilot that changes the `badgeColor` to anything but a constant value.

[2016-08-07 19:49] gaby2300 opened #1204 "Cannot download addon due to a connection failure"
Using Windows 7 64 bit and  Nightly in a new profile.
Trying to install the TestPilot addon I get the following: The addon cannot download because of a connection failure. My Internet connection work fine, that's why I don't understand the motive of this issue.

 I am adding the screencast for you to see

---

Update: edited to remove the binary screencast file. Please embed a Dropbox or other lin

[2016-08-08 14:57] SoftVision-CosminMuntean commented on #1070
We have tested this issue on the latest Nightly build and latest Firefox release on Windwos 7 x64 and Ubuntu 14.04 x64, but we could not reproduce it.

The following scenarios were used for testing:

[Prerequisites]:
- Use a clean profile without Test Pilot add-on installed.

Scenario 1:
1. Go to https://testpilot.firefox.com/ .
2  Click on the big green "Install the Test Pilot Add-on" button.
3.

[2016-08-08 15:00] SoftVision-CosminMuntean opened #1205 "Clicking multiple times on the "Enabling..." button will displayed a pop-up for every click"
[Affected versions]:
- Nightly 50.0a1
- Test Pilot 0.8.3 -tag-2016-07-29

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Test Pilot add-on is installed on a clean profile.
- No experiments are enabled on the used profile.

[Steps to reproduce]:
1. Click the "Test Pilot" button from browser toolbar.
2. Click on any experiment you want to install
3. Click on the "En

[2016-08-08 15:46] ckprice commented on #1197
GA is saying we range from 65-68% of users who enable an experiment take the onboarding tour. Not terrible, but there's probably some room for improvement.

[2016-08-08 16:37] dannycoates commented on #1189
#1195 _may_ have fixed this

[2016-08-08 16:47] jaredhirsch opened #1207 "Move list archives to google groups"
This is not the most user-friendly archive website:

https://mail.mozilla.org/pipermail/testpilot-dev/2016-May/thread.html

It would be really nice to have a google groups-compatible list, regardless of the underlying implementation.

[2016-08-08 16:55] jaredhirsch commented on #1207
Looks like google groups still supports NNTP: https://support.google.com/groups/answer/6003482?hl=en

This was used to provide a nice web interface to old skool usenet lists like dev-webdev: https://groups.google.com/forum/#!forum/mozilla.dev.webdev

[2016-08-08 16:56] jaredhirsch commented on #1207
Seems relevant (need to find followup link w/final IT decision): https://blog.mozilla.org/it/2012/12/02/discussion-forums-redux-paths-forward/

[2016-08-08 17:00] pdehaan opened #1208 "NoMore404s page tells me that it requires Firefox 48+, even though I have 51 installed"
I was initially confused because I was rocking The Nightly. Not sure if we want to hide the "No More 404s requires Firefox 48 or later" message box if the user is using Firefox >=48.

![firefox_test_pilot_-_no_more_404s](https://cloud.githubusercontent.com/assets/557895/17488593/e764bc04-5d4e-11e6-8458-faa90241800d.png)

[2016-08-08 17:07] #1196 closed, assigned to dannycoates

[2016-08-08 17:07] lmorchard commented on #741
https://github.com/mozilla/testpilot/pull/1201/commits/929dceac5c63f148e1f35dc8016b8fb40ee428dc

[2016-08-08 17:07] #741 closed, assigned to nobody

[2016-08-08 17:10] #1165 closed, assigned to dannycoates

[2016-08-08 17:11] pdehaan opened #1209 "Hidden close button when disabling an experiment"
I uninstalled the Blok experiment (on dev), and it prompted me to take a survey, with seemingly no way to opt-out. Turns out the "Close" button was just white-on-white and impossible to read.

<img width="769" alt="firefox_test_pilot_-_blok" src="https://cloud.githubusercontent.com/assets/557895/17488883/3d606fa8-5d50-11e6-9aeb-1bd29961b4a5.png">

[2016-08-08 17:18] ckprice commented on #1208
Looks like this was added to the `Introduction` block in admin so it's shown to everyone. This could be pretty distracting for up-to-date users.

GA sessions says that since Aug 3, we're at ~60% < 48, and 40% >= 48. The percentages get more up-to-date the further you get from the 48 release date (Aug 2).

[2016-08-08 17:32] dannycoates opened #1212 "Page scrolling broken on http://testpilot.dev.mozaws.net"
:(

[2016-08-08 18:03] #1212 closed, assigned to johngruen

[2016-08-08 18:08] lmorchard commented on #1189
Seems fast-ish on my local dev env, but then I don't think I've quite been able to reproduce this issue locally. Tossed some console.log statements in, and it does end up having to attempt to contact the add-on at least twice before continuing after initial install and that's a surprise. I might end up poking at things a bit here, hopefully along with #352 - assuming I can get a test harness worki

[2016-08-08 19:38] johngruen commented on #1208
@pdehaan @ckprice yeah, added this as a mitigation on friday when 48 was still rolling out.

[2016-08-08 19:43] pdehaan commented on #1208
@johngruen Are we planning on removing it when 48 is mainstream, or adding a version sniffer script which dynamically removes that `<div>` if the user's Firefoxen version is >=48?

[2016-08-08 19:49] johngruen commented on #1189
@dannycoates I can't get a redirect at all on a dev on a clean profile :(

[2016-08-08 20:02] lmorchard commented on #1189
Did you set `testpilot.dev` in `about:config` to `dev` before trying to install?

[2016-08-08 20:03] pdehaan commented on #1189
I'm seeing it stall on testpilot.dev.mozaws.net

![firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/17494114/2b8bf960-5d68-11e6-90a5-9846ffa28a51.png)

---

![add-ons_manager](https://cloud.githubusercontent.com/assets/557895/17494132/36c5e232-5d68-11e6-9090-f68e4f53530b.png)

---

Clicking the "X" in the about:addons spits the following message in my Browser Console:

![banne

[2016-08-08 20:07] pdehaan commented on #1189
Doh! Yeah, that worked. Sorry, for the noise.

[2016-08-08 20:18] lmorchard commented on #1189
Yeah, I don't think those errors are ours. (Hmm, well except for the reference error maybe)

[2016-08-08 22:22] dannycoates commented on #660
There are two error states that we can easily add this message for, 'download-failed' and 'install-failed' but I don't think those alone will help all of the other issues linked to this one.

I was able to reproduce a hung download using the Network Link Conditioner from the [Hardware IO Tools for Xcode](https://developer.apple.com/download/more/) with the "Very Bad Network" setting.

The bad news

[2016-08-08 23:09] gaby2300 commented on #1208
I am still having this issue even though my Nightly is up to date.

Best regards,
Gabriela
QA Mozilla Hispano Team Responsible

On 8 August 2016 at 16:43, Peter deHaan notifications@github.com wrote:

[2016-08-09 14:17] SoftVision-CosminMuntean opened #1215 "After fresh install, the "Test Pilot" add-on toolbar icon is grayed out if browser window is not focused"
[Affected versions]:
- Nightly 51.0a1
- Test Pilot 0.8.3 -tag-2016-07-29

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- Use a clean profile without Test Pilot add-on installed.

[Steps to reproduce]:
1. Go to http://testpilot.dev.mozaws.net and install Test Pilot add-on.
2. Observe the Test Pilot icon from the main toolbar.
3. Click outside the browser window to

[2016-08-09 14:30] bwinton opened #1216 "Small problem with the CSS when the browser window doesn't have focus."
Introduced in #1210.

Maybe we can make the selector a little more restrictive?
<img width="103" alt="screen shot 2016-08-05 at 18 39 24" src="https://cloud.githubusercontent.com/assets/159571/17519591/9ec398d6-5e1a-11e6-86f6-91fab0ee3b9a.png">
(Found by @phlsa, reported via Slack.)

[2016-08-09 15:47] SoftVision-PaulOiegas opened #1217 "Firefox displays the loading spinner in poor quality"
[Affected versions]:
- Nightly 51.0a1
- Test Pilot 0.8.3 -tag-2016-07-29

[Affected Platforms]:
- All Windows

[Steps to reproduce]:
1. Go to http://testpilot.dev.mozaws.net on Firefox browser.
2. Refresh the page and observe the loading spinner displayed until page content is loaded.

[Expected result]:
 The loading spinner appears and animates with no display issue each time content is loaded.

[2016-08-09 17:41] johngruen commented on #1217
@SoftVision-PaulOiegas can this be reproduced in other FF versions...my guess is this is an upstream rendering issue in nightly.

[2016-08-09 17:42] johngruen commented on #1216
@bwinton is this a dupe of #1215

[2016-08-09 17:44] bwinton commented on #1216
I don't _think_ so, although depending on how you choose to fix that bug, this might no longer be a problem…

(On Mac, the toolbar icons should be greyer when the window isn't focused, so that's expected behaviour for this platform at least…)

[2016-08-09 17:47] dannycoates commented on #1216
@bwinton are you talking about the blurred text? FWIW badge text has always looked that way when the window is unfocus with the dev edition theme for me. A `text-shadow: none;` seems to fix it.

[2016-08-09 17:52] bwinton commented on #1216
Yeah, well, partially the blurred text, partially the bold background, mostly the way they interact to make it really hard to read.  😉  Could you post a screenshot of what it looked like before your patch (or on a different button)?

[2016-08-09 18:13] dannycoates commented on #1216
<img width="73" alt="screen shot 2016-08-09 at 11 08 43 am" src="https://cloud.githubusercontent.com/assets/87619/17527807/b5307c72-5e21-11e6-9920-fd14defaa72b.png">

On the left is with adding `text-shadow: none;` and the right is no custom style with the color set by `button.badgeColor = '#1996F7'` with the dev edition theme.

[2016-08-09 18:23] #1058 closed, assigned to chuckharmston

[2016-08-09 18:55] lmorchard opened #1220 "Refactor add-on for unit testing"
In PR #1218, I claim to fix #352. That's true, insofar as integration tests will exercise the add-on. Still, it would also be nice to have some good unit tests for the add-on by itself.

However, I found it hard to write unit tests with all the dependencies and Firefox APIs the add-on uses. We have some magical tools for injecting mocks in Python & Node, but I couldn't find something like that for

[2016-08-09 19:03] dannycoates commented on #1215
The dimming comes from:

[code]

which I adapted from [browser.css](https://github.com/mozilla/gecko-dev/blob/master/browser/themes/osx/browser.css#L1091) that I now realize is platform specific 😭

I could use some help here. This seems to be above my UI skill level.

[2016-08-09 19:21] lmorchard commented on #1220
A pointer from addons in IRC:

https://developer.mozilla.org/en-US/Add-ons/SDK/Low-Level_APIs/_loader

tl;dr: Might be able to write a custom loader so that mock modules get loaded during testing. Need to investigate.

[2016-08-09 19:25] lmorchard commented on #1189
I can't reproduce this any more on my local env or on dev. [I also wrote an integration test that exercises installation through onboarding](https://github.com/mozilla/testpilot/pull/1218) - which seems to work fine in CircleCI, though that's Firefox on Linux.

Maybe this is fixed? If not, it would be really interesting to figure out what's different that still causes it in other environments and

[2016-08-09 21:10] #1215 closed, assigned to dannycoates

[2016-08-09 23:06] ghost commented on #1208
@pdehaan the latest version has a strict_min_version of 48 in its manifest.  Could you try installing with a version before 48 and see what happens?  If that message is nice enough, we might be able to drop this one sooner.

[2016-08-09 23:17] ghost opened #1222 "Toggle extensions.webapi.testing when we point somewhere that isn't production"
If testpilot.env exists (and/or is not production) we should also set `extensions.webapi.testing` to `true` so that we can install add-ons from dev and stage.

I don't have a way to install add-ons from localhost.  https://dxr.mozilla.org/mozilla-central/source/toolkit/mozapps/extensions/AddonManager.jsm#2906 is the code we're going to run into.

[2016-08-09 23:32] ghost opened #1223 "Use the amazing new mozAddonManager API"
Ok, using something newer than Firefox 48 (I think) go to about:addons, click "Get Add-ons" in the menu on the left and then enable/disable some add-ons that you see there.  See how amazing and easy it is to enable add-ons?  We want that!

Good news!  [Bug 1288178](https://bugzilla.mozilla.org/show_bug.cgi?id=1288178) gave testpilot.firefox.com access to that API.  We're going to try to get it upl

[2016-08-10 08:42] SoftVision-PaulOiegas commented on #1217
Not really, yesterday I verified this on release (48.0) and it has the same poor quality.
Right now I did a double check on latest Beta (49.0b2), dev edition (50.0a2) and also on latest nightly with e10s disabled and got the same result.

On Mac OS and Ubuntu 14.04, latest Nightly correctly displays the loading spinner. So it's platform dependent on Windows.

[2016-08-10 11:40] SoftVision-PaulOiegas commented on #1208
Tested with a release 44 and Nightly 46 and got the same message on the page. Even managed to enable NoMore404s experiment on it. Do I sniff a bug here ?

[2016-08-10 13:58] SoftVision-PaulOiegas commented on #1217
While testing on an even older version of Nightly (44.0) observed that the animation runs smooth. Did a regression window for this and managed to narrow the bad revision. Here is the pushlog https://goo.gl/7KA0L0 . I'm betting on issue https://goo.gl/s4B5mo to be the one that broke this.
If you guys think the same, let me know and I'll contact the developer from that issue to see what can be done.

[2016-08-10 14:22] SoftVision-PaulOiegas commented on #1189
Cannot reproduce it either if the right environment is set in about:config pref. Stunning fast even. :smiley:

[2016-08-10 14:53] ghost commented on #1208
Getting the message on the page is expected.  It shows up for everyone.

However, I would expect Firefox to refuse to install an add-on with a higher minimum version than it has.  I don't know what that UI or behavior looks like though.

[2016-08-10 15:18] SoftVision-PaulOiegas commented on #1208
Yeah, my thought too but it seams that Firefox installs them first and after disables them. At least it does that for Activity Stream and Universal Search.
The other ones seem to be installed but they don't work. At least Blok is not blocking a known page for tracking and NoMore404s displays me a 404 for an archived page. Probably that's why both of them don't have the icons displayed in "Extensio

[2016-08-10 16:19] SoftVision-CosminMuntean commented on #1215
This issue was verified on the latest Test Pilot dev add-on, and is no longer reproducible. Tested with the latest Nightly (51.0a1) build and the latest Firefox (48.0) release.

[2016-08-10 16:27] lmorchard commented on #1189
Hmm, I'm just going to close this and call it fixed for now. It's not waiting on any fix that I've heard anyone has in progress. We can re-open if it rears its head again

[2016-08-10 16:27] #1189 closed, assigned to lmorchard

[2016-08-10 18:57] #352 closed, assigned to lmorchard

[2016-08-10 19:00] jaredhirsch commented on #1208
We could really easily check `navigator.userAgent` and disable the button if the version number is too low.

[2016-08-10 19:49] ckprice commented on #715
https://bugzilla.mozilla.org/show_bug.cgi?id=1274332 landed!

[2016-08-10 19:49] #715 closed, assigned to nobody

[2016-08-11 14:44] johngruen commented on #1217
@SoftVision-PaulOiegas yeah, that looks like the issue. I'm gonna back out the spinner for now and replace it with something a bit less complex

[2016-08-11 14:57] SoftVision-PaulOiegas opened #1230 "Blok experiment is not working on the tabs that were opened before Test Pilot add-on installation"
[Affected versions]:
- Nightly 51.0a1
- Test Pilot v0.8.5-dev-c071788
- Blok v0.1.9

[Affected Platforms]:
- All Windows

[Prerequisites]:
- Test Pilot environment pref for dev server was already added in about:config.
- At least one tab is opened with a website in the browser.

[Steps to reproduce]:
1. Open a new tab and go to https://testpilot.dev.mozaws.net page.
2. Install Test Pilot add-on an

[2016-08-11 15:00] johngruen opened #1232 "Loading spinner can change body size"
Scroll bars can leak in, need to hide overflow on the parent el

[2016-08-11 15:34] #1209 closed, assigned to johngruen

[2016-08-11 16:21] johngruen commented on #1089
Talked to @andymckay about this one and the TL;DR is that there's not much to be done in this case until https://bugzilla.mozilla.org/show_bug.cgi?id=1288178 makes it into release

[2016-08-11 16:24] johngruen commented on #1089
@clouserw @6a68 I think we should consider not doing this and resolving via #1223

[2016-08-11 16:36] SoftVision-PaulOiegas commented on #1230
Moved this on Blok repo - https://github.com/mozilla/blok/issues/107 .

[2016-08-11 16:36] #1230 closed, assigned to nobody

[2016-08-11 16:42] ghost commented on #1089
That seems reasonable.  That API has already shipped (in 48, I want to say?).  Anything we do to the "old way" of installing add-ons is already stale.

[2016-08-11 16:46] johngruen commented on #1089
@6a68 backing out of TXP-0 for now since doing anything clever about add-on install stuff depends on #1223.

[2016-08-11 16:53] dannycoates commented on #1216
i think #1221 fixes this

[2016-08-11 16:53] #1216 closed, assigned to nobody

[2016-08-11 17:10] chuckharmston opened #1233 "Only detect desktop Firefox"
Noted by Jared [on a pull request](https://github.com/mozilla/testpilot/pull/1225/files/aa9a687b557711cbcf48ff2fb06d5f745babb154#r74461827):

We currently use [Firefox detection](https://github.com/mozilla/testpilot/blob/35802081bee163996b6766d8d119de769284e321/testpilot/frontend/static-src/app/views/landing-page.js#L21) that will false-negative on Fennec. We should improve that to only offer the

[2016-08-11 17:48] #1090 closed, assigned to johngruen

[2016-08-11 17:49] ckprice commented on #1131
Fixed in #1226.

[2016-08-11 17:49] #1131 closed, assigned to chuckharmston

[2016-08-11 18:05] zachbrowne opened #1235 "Tab Descriptions Not Appearing on Bar"
The tab icon and titles are not appearing on the bar at all.

[2016-08-11 18:46] ckprice opened #1237 "Measurements for TXP-17 Allow Users to explore experiments before installing Test Pilot"
Based on our [new feature metrics documentation](https://github.com/mozilla/testpilot/blob/master/docs/README-FEATURE-METRICS.md).

**Formulate the question**
- it should measure the Rate of install from details page
- it should measure rate at which non-firefox users download firefox from the details page
- It should measure the rate of experiment activation from the details page

Tasks
- [x] Add

[2016-08-11 18:57] johngruen commented on #1142
@clouserw @6a68 is working on this one now, let's see if he can get it in before we tag

[2016-08-11 19:11] #660 closed, assigned to dannycoates

[2016-08-11 19:11] #1205 closed, assigned to dannycoates

[2016-08-11 19:11] #1108 closed, assigned to ckprice

[2016-08-11 19:17] meandavejustice commented on #1204
Thanks for the report @gaby2300, would you mind posting a screencast which can be viewed in browser?

[2016-08-11 19:20] meandavejustice commented on #1235
Thanks for reporting @zachbrowne. Would you mind providing some more info? Which page are you seeing this on? (experiments, experiment detail) Did you notice it after take a certain action? (enabling/disabling and experiment etc..)

[2016-08-11 19:23] ckprice commented on #949
This was a moonshot added mid-sprint; moving to next cycle.

[2016-08-11 19:24] meandavejustice commented on #1193
This is currently built to survey three separate times at the intervals, `twoDays`, `oneWeek`, `threeWeeks`, and `monthAndAhalf`.

@SimonSapin were you prompted at those intervals, or three times sooner than that?

[2016-08-11 19:26] #1232 closed, assigned to nobody

[2016-08-11 20:01] SimonSapin commented on #1193
If I remember correctly I had been using Tab Center and Test Pilot for more than a month and a half before I was first prompted. There were a few days between the first and second prompt, but I believe less than five. The second and third prompts were on the same day. There hasn’t been a fourth so far.

Regardless of the timing, something should remember that I’ve already done what was asked, and

[2016-08-11 20:21] #1119 closed, assigned to nobody

[2016-08-11 20:52] gaby2300 commented on #1204
Hi @Dave, I tried to upload a non zipped file but it wasn't supported. If
you could please tell me how can I obtain a screencast as you request, I
will be happy  to do it!

Many thanks!
Best regards,
Gabriela
QA Mozilla Hispano Team Responsible

On 11 August 2016 at 16:17, Dave Justice notifications@github.com wrote:

[2016-08-12 02:24] zachbrowne commented on #1235
I disabled the TabMixPlus extension and it started working! Thanks

On Thursday, August 11, 2016, Dave Justice notifications@github.com wrote:

##

Please be tolerant of grammatical or spelling errors, I sent this from
Gmail Mobile. Thanks!

[2016-08-12 02:30] #1235 closed, assigned to nobody

[2016-08-12 11:25] SoftVision-CosminMuntean opened #1239 "The "View all experiments" button is not entirely visible if a new experiment is enabled"
[Affected versions]:
- Nightly 51.0a1
- Test Pilot 0.8.5 -tag-2016-08-11

[Affected Platforms]:
- All Windows

[Prerequisites]:
- Test Pilot add-on is installed on a clean profile.
- No new experiments are enabled on the used profile.

[Steps to reproduce]:
1. Click the "Test Pilot" button from browser toolbar.
2. Click on a new experiment (eg: NoMore404s).
3. Click on the "Enable" button for the

[2016-08-12 13:07] SoftVision-PaulOiegas commented on #1209
Cannot reproduce, the issue seems to be fixed.

[2016-08-12 13:12] johngruen commented on #1239
@SoftVision-CosminMuntean nice grab...we should  not show the `New Experiment` string if the experiment is enabled

[2016-08-12 13:12] johngruen commented on #1233
Is this a dupe of #672

[2016-08-12 13:16] johngruen commented on #1163
@chuckharmston has a fix for this in his PR for #419 going to close this out in favor of that

[2016-08-12 13:16] #1163 closed, assigned to nobody

[2016-08-12 13:18] johngruen commented on #448
@clouserw what do we want to do with this issue? close it?

[2016-08-12 13:18] johngruen commented on #1217
@SoftVision-PaulOiegas I changed the layout of the loader...can you still see the degradation on dev or stage?

[2016-08-12 13:54] chuckharmston commented on #1233
Yep.

[2016-08-12 13:54] #1233 closed, assigned to nobody

[2016-08-12 13:58] SoftVision-PaulOiegas commented on #1217
No, the new loader looks crispy clear. :smiley:

[2016-08-12 14:56] #448 closed, assigned to nobody

[2016-08-12 14:57] ghost commented on #448
we got strategy!

[2016-08-12 15:07] SoftVision-CosminMuntean opened #1240 "Scroll becomes jumpy and footer links are not accessible when zooming out or in on specific pages from Test Pilot"
[Affected versions]:
- Nightly 51.0a1
- Test Pilot 0.8.5 -dev-9ffb368

[Affected Platforms]:
- All Windows

[Prerequisites]:
- Test Pilot add-on is installed on a clean profile.

[Steps to reproduce]:
1. Click the "Test Pilot" button from browser toolbar.
2. Click on Blok experiment.
3. Change the page zoom at 110%.
4. Scroll the page.

[Expected result]:
- Scrolling is correctly performed untill

[2016-08-12 15:31] SoftVision-PaulOiegas commented on #1204
Hi Gaby, maybe upload a supported video format on Google Drive or Dropbox and post the share link here ? I'm doing the same with my screencasts for issues and I'm using screncast-o-matic for recording my desktop.

[2016-08-12 15:34] SoftVision-CosminMuntean commented on #1205
I have verified this issue and is no longer reproducible.

[2016-08-12 15:36] SoftVision-CosminMuntean commented on #1169
I have verified this issue and is no longer reproducible.

[2016-08-12 15:48] #1217 closed, assigned to nobody

[2016-08-12 15:59] SoftVision-CosminMuntean opened #1242 "The "New experiment" string is wrongly redisplayed after disabling a new experiment"
[Affected versions]:
- Nightly 51.0a1
- Test Pilot 0.8.5 -tag-2016-08-11

[Affected Platforms]:
- All Windows

[Prerequisites]:
- Test Pilot add-on is installed on a clean profile.
- A new experiment is enabled on the used profile.

[Steps to reproduce]:
1  Click the "Test Pilot" button and observe the new experiment status.
2. Restart the browser.
3. Open again the experiments doorhanger and obse

[2016-08-12 16:09] #1239 closed, assigned to dannycoates

[2016-08-12 16:17] gaby2300 commented on #1204
Hi Paul, will do as soon as I can, thanks!

On 12 August 2016 at 12:31, Paul Oiegas - SoftVision <
notifications@github.com> wrote:

[2016-08-12 16:18] jaredhirsch commented on #1220
I'm happy to review when is ready

[2016-08-12 16:19] lmorchard commented on #1223
Going to call #990 a retroactive dupe of this one, since there's way more info here.

[2016-08-12 16:20] lmorchard commented on #990
#1223 solves / supersedes this issue

[2016-08-12 16:25] ghost commented on #1202
Can you be specific about what order you are trying to install the add-ons in?  We're trying to debug something with Tab Center breaking other add-ons, but we haven't seen this anywhere else.  Thanks.

[2016-08-12 16:46] SoftVision-CosminMuntean commented on #1240
The issue is also reproducible on the Firefox release.
I have also tested on Mac OS and I have managed to reproduce it with the latest Nightly build, and latest release.

[2016-08-12 16:51] dannycoates commented on #1242
@johngruen #1241 won't fix this. In order to stop showing an experiment as new again once you've removed it we'll have to keep track of experiments that you've uninstalled.

[2016-08-12 16:54] ghost commented on #990
good call

[2016-08-12 16:54] #990 closed, assigned to nobody

[2016-08-12 18:19] dannycoates commented on #794
can't reproduce with addon v0.8.5

[2016-08-12 18:27] dannycoates commented on #939
can't reproduce with addon v0.8.5

[2016-08-12 18:55] lmorchard commented on #939
I'm not sure if this is related, but I think we've got some weird error states lurking around with the add-on. Mainly they seem to come up if a sequence like this happens:
1. something broke at some point
2. the add-on gets uninstalled or updated - but because of earlier breakage, never removes event handlers on AddonManager
3. stale code gets called later with all kinds of broken references & thi

[2016-08-12 21:20] lmorchard commented on #1220
Hoping to have this in a PR on Monday. Two main things left:
- [ ] Finish 5 more tests to complete the suite
- [ ] Get this stuff running in Circle CI

[2016-08-13 05:01] MassivesoundZ opened #1245 "error on java script"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues.

If you're experiencing a bug in Test Pilot, please include the following information:
- [ ] Operating system
- [ ] Firefox build (Nightly, Developer Edition, Beta, Release)

---

If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo be

[2016-08-13 06:07] pdehaan commented on #1245
@MassivesoundZ Do you remember what the specific error message was?

[2016-08-13 19:54] BoffinBrain commented on #1202
There is no specific order. I tried installing both of them in different orders, with and without the other experiments installed. I have even refreshed the test profile and tried again today, with the same results. I can install Tab Center but not Universal Search.

I have attached the profile I used for testing. It's a blank profile with Test Pilot installed and history turned off. If you load t

[2016-08-15 11:05] Standard8 opened #1246 "Test pilot should be marked as multiprocess compatible"
Currently Test Pilot isn't marked as multiprocess compatible. Issue #457 says that test pilot works with e10s, however, there may still be some incompatibilities that are masked by Firefox's shims.

The shims may lead to performance issues, although I doubt Test Pilot would really be hitting those that hard.: https://developer.mozilla.org/Add-ons/SDK/Guides/Multiprocess_Firefox_and_the_SDK#Testing

[2016-08-15 14:33] johngruen opened #1247 "UI Leading Up to Experiment Graduation"
### String Tracking Doc

https://docs.google.com/document/d/1VL7UoumVNV_8vzUoXQEYo7fyprSOFwzjqXIL8BhzDnc/edit?ts=57b1c452#

Strings in mock ups aren't final
### One Week Out

https://mozilla.invisionapp.com/share/Q77S1H6ZC#/181298063_One_Week_Out
### One Day Out

https://mozilla.invisionapp.com/share/Q77S1H6ZC#/181298064_One_Day_Out
### Closing Day

https://mozilla.invisionapp.com/share/Q77S1H6ZC#

[2016-08-15 14:45] johngruen opened #1248 "Make Experiment detail fields optional"
We should deprecate the experiment `details` fields, but the first step is to make them optional so we can migrate all experiment detail content into the `introduction` field.

[2016-08-15 14:55] johngruen opened #1249 "Add an About Test Pilot page"
- Page should be formatted like the legal pages
- Add a link to the page in the Test Pilot Footer
- Add a link the the page in the Test Pilot Settings Menu
- I owe content here.

[2016-08-15 15:25] johngruen opened #1250 "Replace most of the django-derived experiment data"
I've started to rough out a [template](https://github.com/mozilla/testpilot-meta/blob/master/src/template/data.hjson) for experiment details using [hjson](http://hjson.org/) and gulp. Let's take this further by migrating it into the repo and replacing as much of the django API as we can for experiments.

[2016-08-15 15:30] johngruen opened #1251 "Make Experiment Details Pages Fully Responsive"
Now that we've made these things visible without logging it, we're going to need them to be responsive.

[2016-08-15 15:33] #627 closed, assigned to nobody

[2016-08-15 15:39] johngruen commented on #1208
![details page - min-version 2x](https://cloud.githubusercontent.com/assets/3323249/17669712/b7a2ab8c-62dc-11e6-97fd-2e567d3551b6.png)

### It should:
- [ ] Display if the user's version of Firefox is < the designated minimum version specified by the add-on
- [ ] Only display if the user has Test Pilot installed
- [ ] Link to this page: https://support.mozilla.org/lt/kb/find-what-version-firefox-y

[2016-08-15 15:46] johngruen opened #1252 "Switch to a single, central notification queue"
Straw plan for moving push notifications away from django while maintaining some flexibility:
- Instead of having per experiment push notifications, we should simply have single central push notification scheduler that accepts the following:
- message
- time to send
- click thru URL
- some kind of selector to determine if the push should be sent only to (a) people using a particular experiment, (b

[2016-08-15 15:52] johngruen commented on #755
@lmorchard is this still a thing?

[2016-08-15 15:53] meandavejustice commented on #1240
I don't know if we want to support different zoom levels

[2016-08-15 15:58] johngruen opened #1253 "Ensure that arbitary HTML looks good in the Introduction field"
As part of experiment retirement, we'll be adding after-action reports to the `introduction` field of the experiment details pages, We should audit our current styles to make sure these fields look good with all block level HTML tags.

[2016-08-15 16:53] johngruen commented on #610
@dannycoates @meandavejustice can we close this given recent changes?

[2016-08-15 17:02] johngruen commented on #1052
This has been fixed

[2016-08-15 17:02] #1052 closed, assigned to nobody

[2016-08-15 17:32] dannycoates commented on #610
I think this is an ongoing effort. I don't know if it makes sense to keep this bug open or not though. I'll defer to @meandavejustice since he opened it :)

[2016-08-15 17:54] johngruen commented on #1153
This was formerly titled `Toggle to display experiments in django admin`, but i changed to flesh out the ask a bit.

We should be able to update where an experiment is in its lifecycle in order to set it's position in UI.

Proposal for states:
- draft (doesn't display)
- active (Displays)
- graduated (displays in graduated UI)

[2016-08-15 18:17] meandavejustice commented on #610
Let's keep it open, We've gotten it a lot nicer, but `addon/index.js` is still pretty big.

[2016-08-15 19:01] ckprice commented on #1237
# Add public experiment detail page (#1225)

### Capturing the "Install Add-on" click on the experiment detail page

![experiment detail page install](https://d3vv6lp55qjaqc.cloudfront.net/items/2u3k1i2X1r0V2k0d0v0F/Image%202016-08-15%20at%2011.39.34%20AM.png?v=8c3c6a69)

This will require a `sendToGA` event.

For reference this is [the install add-on event call on the home page](https://github.co

[2016-08-15 19:21] lmorchard commented on #610
Yeah, no, this is not done. A few things off the top of my head yet to do:
- [ ] Move AddonManager & add-on management stuff into a submodule.
- [ ] Move environment management stuff into a submodule.
- [ ] Unit tests for everything for bonus points

Really, IMO, index.js should boil down to a screen or so of initializing everything at startup and tearing everything down on shutdown.

We could fil

[2016-08-15 20:17] ghost commented on #684
I'm going to close this, in favor of https://github.com/mozilla/testpilot/milestone/20

[2016-08-15 20:17] #684 closed, assigned to nobody

[2016-08-15 20:17] ghost commented on #932
Dupe of #1142

[2016-08-15 20:17] #932 closed, assigned to nobody

[2016-08-15 20:27] lmorchard commented on #1252
We could do this pretty much like we do in the experiments, just with a single "feed". That is, a JSON resource with an array of candidate notifications. Then we can filter in the add-on to decide which to show - i.e. based on date to detect new & unseen items, flags for experiment enabled / disabled, etc. That keeps the server rather dumb (good since we're moving away from Django) and puts the sm

[2016-08-15 20:45] johngruen commented on #1250
@lmorchard just to be clear, my little experiment in the meta repo is not meant to be proscriptive. If it helps, please use it, but feel free to ignore it!

[2016-08-15 21:21] ghost commented on #406
oh @wresuolc from a couple months ago, how times change.  Now we're hosting all new add-ons (so that we can install without a warning prompt).

I have a production S3 bucket I've been putting them in manually.  We might want to do some auto-upload at some point, but I'd suggest that's a different bug instead of this giant thread.

I'm going to tentatively close this since we're also dropping djang

[2016-08-15 21:21] #406 closed, assigned to nobody

[2016-08-16 07:48] SoftVision-PaulOiegas commented on #1202
This is related to https://github.com/bwinton/TabCenter/issues/479 that is reproducible.
Before you had to uninstall Tab Center in order to break the Universal Search install. But now it breaks even if you install Tab Center first and after you try to install Universal Search.

[2016-08-16 09:47] SoftVision-PaulOiegas commented on #1217
Talked with the dev on https://goo.gl/s4B5mo and he told me that he already fixed a regression of that fix in https://bugzilla.mozilla.org/show_bug.cgi?id=1292856 on .
If you guys still want that loading spinner back, maybe we can re-add it on production to check if something changed after his fix ?

[2016-08-16 14:12] sevaan commented on #1251
Need authenticated and unauthenticated versions for details page.

[2016-08-16 14:15] johngruen commented on #972
tagging this as wontfix

[2016-08-16 14:15] #972 closed, assigned to nobody

[2016-08-16 17:52] #1222 closed, assigned to dannycoates

[2016-08-16 19:57] dannycoates commented on #1039
It seems like you could do this with a Spark job that writes json to an S3 bucket... [This one](https://gist.github.com/mreid-moz/dac9c5b67f01ea3734a207821b120668) that creates some data for Presto might have some clues.

[2016-08-17 01:13] karlcow opened #1256 "No more 404s + e10s breaks expensify.com Web site"
- [x] Mac OS X 10.11.6 (15G31)
- [x] Firefox Nightly 51.0a1 (2016-08-16)

The issue template doesn't have any specific repository for "No More 404s" add-on, therefore filing here. It took time for us to isolate the issue on webcompat.com but we finally nailed it down to the "No More 404s" add-on.
1. Install "No More 404s" add-on
2. Go to the site https://expensify.com/

The site is broken and does

[2016-08-17 14:19] chuckharmston commented on #1256
Closing in favor of the bug you filed on the NoMore404s repo: https://github.com/internetarchive/FirefoxNoMore404s/issues/46

Thanks for the report!

[2016-08-17 14:19] #1256 closed, assigned to nobody

[2016-08-17 14:26] chuckharmston commented on #1237
@ckprice One thing I see that could be missing: clicks on this section (on the homepage) also need logged ~~may benefit from an indicator of whether or not the user has the add-on installed~~, since it's now possible to navigate from there.

![screen shot 2016-08-17 at 8 26 08 am](https://cloud.githubusercontent.com/assets/23885/17740006/433ce73e-6454-11e6-9850-b21d5213fd35.png)

[2016-08-17 16:39] ckprice commented on #1237
@chuck this is happening already [here](https://github.com/mozilla/testpilot/blob/9ffb36833d373ab68c09934f1d090d7b21659de0/testpilot/frontend/static-src/app/views/experiment-row-view.js#L147), but could use some refinement. I added another section to my comment at the bottom 'Capturing the clicks on the "Try out these experiments as well" section (`HomePage`)'.

[2016-08-17 16:43] chuckharmston commented on #1237
@ckprice yep, I tried to refine it in #1225, where I pinged you for review. There are three different places where we show a clickable experiment list now:
- On the homepage to users without the add-on
- On the experiments page to users with the add-on
- On the experiment detail page to users without the add-on

I instrumented those separately in [this commit](https://github.com/mozilla/testpilot/

[2016-08-17 17:04] ckprice commented on #1237
That's fine. I updated my comment to match your code - the analysis side is the same.

Verifying the sends now.

[2016-08-17 17:36] lmorchard opened #1257 "Add integration test for add-on install flow via public experiment pages"
In PR #1225, we're adding another add-on installation button. We should create an integration test to assert that this works.

[2016-08-17 17:56] #419 closed, assigned to chuckharmston

[2016-08-17 18:04] ckprice commented on #1237
# Add social links in footer? (#294)

We'll need `sendToGA` calls with `outboundURL` configured to the social property URL ([reference](https://github.com/mozilla/testpilot/blob/master/docs/README-GOOGLE-ANALYTICS.md#samples-of-event-structures)).

Referencing our [GA Table of Events documentation](https://github.com/mozilla/testpilot/blob/master/docs/README-GOOGLE-ANALYTICS.md#table-of-events), h

[2016-08-17 19:57] ckprice opened #1259 "Present email opt-in after installing from an experiment detail page"
STR:
- Have Test Pilot uninstalled.
- (currently this is only on dev) Configure your add-on environment to dev.
- Visit an experiment detail page e.g. http://testpilot.dev.mozaws.net/experiments/activity-stream
- Install Test Pilot.
- Detail page refreshes except you now have Test Pilot installed.

Expected Result:
- Email opt-in modal is presented to the user.

Actual Result:
- No email opt-in mo

[2016-08-17 21:46] chuckharmston commented on #1259
This would be a pretty simple fix.

However, when the user installs Test Pilot from a detail page, it seems like a pretty strong signal of intent that they want to install the experiment presented on that page. I'm not sure we should get in their way.

[2016-08-17 21:47] lmorchard commented on #1250
Got some initial progress, playing with YAML instead of HJSON. We could possibly move things pretty easily to Jekyll someday if we start with YAML now, and it doesn't look much different than HJSON.

Using a gulp task to import & massage content from the existing prod API, that results in experiment content files like this:

https://github.com/lmorchard/testpilot/blob/02395866a9681f3d3e6b045a4d1e2

[2016-08-18 00:45] pdehaan commented on #1250
+1 to YAML.

Also, you can probably remove a bunch of the optional single/double quotes. May also be easier to use multiline string format for some of the HTML blocks (like `measurements` which has escaped quotes-n-stuff):

http://stackoverflow.com/questions/3790454/in-yaml-how-do-i-break-a-string-over-multiple-lines

[2016-08-18 00:47] lmorchard commented on #1250
Well, this is just whatever the YAML serializer is doing, so i can get a quick import. But for manual edits, we can do whatever is valid yaml

[2016-08-18 11:44] chuckharmston commented on #761
@johngruen Adding you as an assignee, as we'll need content for this when shipping.

[2016-08-18 14:02] johngruen commented on #1259
@chuckharmston yeah, we would be...but only very temporarily and it's skippable. I think it's a fair tradeoff

[2016-08-18 14:03] johngruen commented on #1252
@dannycoates would it be possible to filter notifications depending on if a user does or does not have a particular experiment installed... I could also open this in a new issue @ckprice

[2016-08-18 14:55] dannycoates commented on #1252
sure

[2016-08-18 15:46] chuckharmston commented on #294
@johngruen We need UX for this.

[2016-08-18 17:33] ckprice opened #1262 "Add more detail to ADDON-ENVIRONMENT.md docs"
We recently changed the way we switch environments. The section in [the docs](https://github.com/mozilla/testpilot/blob/master/docs/ADDON-ENVIRONMENT.md#how-to-change-your-add-on-environment) doesn't seem to be sufficient for properly changing environments to make the site and add-on sync up.

There's some knowledge spread out over [IRC](http://logs.glob.uno/?c=mozilla%23testpilot&s=17+Aug+2016&e=

[2016-08-18 17:47] johngruen commented on #294
@chuckharmston did you one better

[2016-08-18 19:36] #1259 closed, assigned to chuckharmston

[2016-08-18 20:04] lmorchard commented on #1262
FWIW, that bit in the IRC log is just me tl;dr'ing [what's already in ADDON-ENVIRONMENT.md](https://github.com/mozilla/testpilot/blob/master/docs/ADDON-ENVIRONMENT.md#aboutconfig-method) - is there something more that needs adding there? (probably, since I stare at this thing every day and forget what I know most times)

The comment in the PR is probably an edit that should happen [here in the add

[2016-08-18 20:27] ckprice commented on #1262
These are the two steps in the document:

[code]

Doing just these two things hasn't worked for me. Some other things
- There are times that the `testpilot.env` config isn't in the list, so sometimes you'll have to create it.
- If I have the add-on installed already, switching the config has no effect (e.g. dev site still doesn't think that the add-on is installed).
- The IRC log mentions setting

[2016-08-18 20:49] #294 closed, assigned to chuckharmston, johngruen

[2016-08-18 20:51] #1237 closed, assigned to chuckharmston, ckprice

[2016-08-19 08:34] SoftVision-PaulOiegas opened #1265 "Newsletter sign up pop up is wrongly displayed without installing Test Pilot add-on"
[Affected versions]:
- Nightly 51.0a1

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Steps to reproduce]:
1. Go to https://testpilot.dev.mozaws.net page.
2. Click on the big green "Install the Test Pilot Add-on" button.
3. Close the doorhanger request for installation.
4. Scroll down on the page and click on one of the experiments cards.
5. Observe the page behavior.

[Expected re

[2016-08-19 09:02] SoftVision-PaulOiegas commented on #1169
Seems we have a regression here. Probably because of #1225.
Reopening issue.

[2016-08-19 16:06] chuckharmston opened #1266 "Reorganize documentation"
We have lots of docs, and they're scattered and can be difficult to find. I'm going to spend a few hours organizing them and cleaning them up.

[2016-08-19 16:15] ghost commented on #1240
I can't reproduce this on Nightly + Linux.  But the video does look pretty bad

[2016-08-19 16:18] ckprice commented on #1223
This is ready in Nightly. Confirmed that we're not changing UX.

[2016-08-19 16:18] ghost commented on #1223
Also uplifted to aurora and beta

[2016-08-19 20:04] johngruen opened #1267 "Can/Should we sync Test Pilot and add-ons now that FXA is gone?"
might be cool

[2016-08-19 20:08] johngruen commented on #1267
as in Firefox Sync

[2016-08-19 20:10] johngruen commented on #1267
no, apparently :(

[2016-08-19 20:10] #1267 closed, assigned to nobody

[2016-08-21 09:59] karthik3195 opened #1269 "no more 404 not working"
![firefox test pilot _no more 404s_](https://cloud.githubusercontent.com/assets/21154302/17836551/08862476-67b4-11e6-815f-4fcc1c3be476.png)
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues.

If you're experiencing a bug in Test Pilot, please include the following information:
- [ ] Operating system
- [x] Firefox build (Nightly, Developer Edition,

[2016-08-21 14:23] pdehaan commented on #1269
@karthik3195 Thanks for the bug report. Were you using Windows, macOS, or Linux?
Also, what Firefox channel were you using when you saw the error?

[2016-08-21 14:24] karthik3195 commented on #1269
windows 10

On Sun, Aug 21, 2016 at 7:53 PM, Peter deHaan notifications@github.com
wrote:

[2016-08-22 08:38] SoftVision-PaulOiegas commented on #1269
I cannot reproduce this on Windows 10 x64 with Latest Firefox release 48.0.1 and latest Nightly 51.0a1 (production server).
Even tried with low bandwidth since this errors were implemented for connection issues while downloading and enabling experiments. Tried with a simulated connection of 10 KB/s but except the fact that it took longer to install, no other issue observed.

Maybe you had some con

[2016-08-22 16:07] jaredhirsch commented on #1142
I've been working on this, on and off, for a couple of weeks. I can't reproduce this bug.

I'll try to reproduce in an older Nightly or older version of the add-on today; perhaps the bug's been fixed by an unrelated change.

Bug reporters (@ckarlof @ashughes1 @bnjbvr @past @mythmon), if you've seen this bug again in the last 1-2 weeks, please drop a comment in this bug with your OS info, Firefox v

[2016-08-22 16:08] lmorchard commented on #1113
The solution for #1250 should offer solution for this

[2016-08-22 16:08] lmorchard commented on #664
The solution for #1250 should offer solution for this

[2016-08-22 16:33] SoftVision-PaulOiegas opened #1270 "Test Pilot Legacy users update page is not displayed when updating from 1.2.3.4 to 1.2.3.7 old add-on versions"
[Affected versions]:
- Nightly 51.0a1

[Affected Platforms]:
- All Windows

[Steps to reproduce]:
1. Open Firefox browser with a new clean profile.
2. Install Test Pilot 1.2.3.4 old build from attached archive with drag and drop on the browser.
3. Restart the browser when prompted and observe its behavior.
4. Install the second old build 1.2.3.7 from the archive and restart when requested.
5. Obse

[2016-08-22 18:31] ghost commented on #1270
I can reproduce this on Linux.  If I put a `return` in before the add-on uninstalls itself, the add-on works fine for me every time, so I think it's some kind of a race condition.

[2016-08-22 23:03] gaby2300 commented on #1204
Hi Paul, here you are!  Very sorry for my delay!

https://drive.google.com/open?id=0Bz7G9PmM_MT7S1lrZ2VBbjBfWmM

I think you'll have to download it first though.

On 12 August 2016 at 13:16, Gabriela Montagu gmontagu@gmail.com wrote:

[2016-08-23 00:59] dannycoates opened #1271 "Graduation "Ending Soon" UI"
Implement the first part of #1247

https://mozilla.invisionapp.com/share/Q77S1H6ZC#/181298063_One_Week_Out

[2016-08-23 01:05] dannycoates commented on #1271
@johngruen where should the "Ending Soon" text go when there's a subtitle? There's not much space left.
<img width="368" alt="screen shot 2016-08-22 at 6 01 01 pm" src="https://cloud.githubusercontent.com/assets/87619/17876832/8c12114a-6892-11e6-8bf5-450a2d672b4a.png">

Updated:
<img width="353" alt="screen shot 2016-08-22 at 7 57 00 pm" src="https://cloud.githubusercontent.com/assets/87619/178788

[2016-08-23 01:12] gaby2300 commented on #1269
I still have the issue in today's nightly. Trying to install I get the
following message in the upper part of the site:

"Uh oh. ⁨No More 404s⁩ could not be enabled. Try again later."

Besides this, I still get the Firefox update warning. Thanks!

On 22 August 2016 at 05:38, Paul Oiegas - SoftVision <
notifications@github.com> wrote:

[2016-08-23 01:12] dannycoates commented on #1271
OMG, special case text for 'tomorrow'...

![why](http://i.giphy.com/kyrd72DC2Iwfu.gif)

[2016-08-23 08:41] SoftVision-PaulOiegas commented on #1270
Way better with the new provided add-on v1.2.3.8.
Here's a screen recording of the update process http://goo.gl/WI38JD

[2016-08-23 17:05] ghost commented on #1270
Cool, thanks.  Calling this fixed.

For the record: was fixed by adding a couple timeouts.  Unclear on where the race condition existed in Firefox, and easier not to deal with it. :)

[2016-08-23 17:05] #1270 closed, assigned to nobody

[2016-08-23 19:42] dannycoates commented on #1271
@johngruen where's the "Learn more" link supposed to go?

[2016-08-23 21:41] lmorchard commented on #1034
So, I think this can be unblocked now, and taken care of with some SQL run on stage / prod with the next deployment. That, or I can write a Django DB migration that takes care of it. I'm going to poke around a bit on my local machine and see if I can't come up with something solid before tomorrow EoD.

Basically, I think we want to wipe out all accounts & profiles & email address records - _except

[2016-08-24 03:46] chuckharmston commented on #1251
@johngruen @sevaan Cutting it close on this one, any chance we could get UX for this on Wednesday? I should be able to fit it in then.

[2016-08-24 04:08] chuckharmston commented on #1265
I can't reproduce this locally (dev seems to be down, so I can't check there).

@SoftVision-PaulOiegas when you were testing this, did you set the value of the `testpilot.env` config to `dev` before installing the addon? You'll get unexpected behavior if that isn't congruent with the environment in which you're testing.

I'm going to close for now, as I'm reasonably certain that was the problem he

[2016-08-24 08:01] SoftVision-PaulOiegas commented on #1265
I can still reproduce this on testpilot.dev and it has nothing to do with the environment pref because you don't need to install it to reproduce this. To be sure I have set the pref before trying to reproduce this and got the same result.
I was testing it on dev server since it's the only one who has the experiments details page available without installing the Test Pilot add-on.

All you need to

[2016-08-24 08:11] chuckharmston commented on #1265
Ah, I misunderstood; when you said "Close the doorhanger request for installation" I thought you meant "hit allow". Fix incoming.

[2016-08-24 11:59] johngruen commented on #1271
@dannycoates I was thinking that field could just be hand written in the admin/yaml that replaces it, but the link would go to whatever we do in #1249. Might be fine to just point it to /about

[2016-08-24 13:25] sevaan commented on #1251
John, the UX on Invision good to go? You mentioned some text wasn’t right, but I don’t think that needs to be reflected in the UX…it’s more about the layout.
https://mozilla.invisionapp.com/d/main#/console/7882387/182507370/preview
https://mozilla.invisionapp.com/d/main#/console/7882387/182507371/preview

[2016-08-24 14:06] johngruen commented on #1251
@chuck the first link is how pages should look w/the add-on and the second link is without.

@sevaan The logged out page is higher priority here, but the logged in case is a bit more complex...here are questions about both pages. Also note that the 'details' section for logged in experiments is missing in the logged in mockups, but presumably would go at the bottom with all the other experiment de

[2016-08-24 14:06] johngruen commented on #1251
also @chuck and @sevaan 'logged in' === 'add-on installed' in my comments above

[2016-08-24 14:32] johngruen commented on #1251
@sevaan pro tip, you have to paste in the share links from invision, otherwise ppl can't see them unless they have an account!

https://mozilla.invisionapp.com/share/Q77S1H6ZC#/182507371_Mobile_Responsive_-_Not_Authenticated

https://mozilla.invisionapp.com/share/Q77S1H6ZC#/182507370_Mobile_Responsive_-_Authenticated

[2016-08-24 15:48] dannycoates commented on #1271
wip here: https://github.com/dannycoates/gemini/tree/graduation

expect a PR this afternoon

[2016-08-24 15:50] #1265 closed, assigned to chuckharmston

[2016-08-24 16:05] #761 closed, assigned to chuckharmston, johngruen

[2016-08-24 16:05] ghost commented on #1039
Sunah is working on this right now, but it won't be done in time for this sprint

[2016-08-24 16:19] sevaan commented on #1251
Updated!

_Mobile:_

Mobile Responsive - Authenticated:
https://mozilla.invisionapp.com/share/6S8DTJMRB

Mobile Responsive - Not Authenticated:
https://mozilla.invisionapp.com/share/CA8DTYIRW

Mobile Responsive - Active Experiment:
https://mozilla.invisionapp.com/share/HD8DU82CQ

Mobile Responsive - Non-FX: https://mozilla.invisionapp.com/share/6B8DTYFPN

_Tablet:_

Tablet Responsive - Authenticat

[2016-08-24 16:24] lmorchard commented on #1250
b56aaf3244e5c532fc6c66c095478d2706644bc4

[2016-08-24 16:24] #1250 closed, assigned to lmorchard

[2016-08-24 16:25] lmorchard commented on #664
In the new static YAML world, we can put contributors in any manual order

4096b56ac135e471166b8cbcd3197688f6d78e94

[2016-08-24 16:25] #664 closed, assigned to lmorchard

[2016-08-24 16:26] lmorchard commented on #1113
In the new static YAML + JSON build world, we can store content in the project repo and ship it around to whatever servers as needed

b56aaf3244e5c532fc6c66c095478d2706644bc4

[2016-08-24 16:26] #1113 closed, assigned to lmorchard

[2016-08-24 16:28] johngruen commented on #944
@sevaan is on it

[2016-08-24 18:19] dannycoates commented on #1269
are you able to download it as a file?

https://testpilot.cdn.mozilla.net/nomore404s/wayback_machine-1.5.5-an%2Bfx.xpi

[2016-08-24 19:17] gaby2300 commented on #1269
Yes! Thank
​s!​
Now I have to wait and see if it works. Do you have a URL to be able test
this by chance? Thanks again!

On 24 August 2016 at 15:19, Danny Coates notifications@github.com wrote:

[2016-08-24 20:02] dannycoates commented on #1252
I think until we're fully django / db-free it doesn't make sense to break out notifications into its own thing as most of the work to do it will get thrown away. Here's what I propose:
1. keep notifications with experiments in the db as is
2. switch to experiments.json, keep notifications attached to experiments
3. then break out notifications

[2016-08-24 21:01] johngruen commented on #1251
@sevaan I asked Chuck to hide the details content on the small pages b/c it's not really actionable and saves a ton of work. Looks good to me, you should be able to review on dev once this gets merged.

[2016-08-24 22:35] jaredhirsch commented on #1142
I rolled back to commit `9e41e92`, from around the time this bug was opened by ckarlof.

I applied this set of changes to the addon code to toggle a survey notification every second: https://gist.github.com/6a68/4a80e1b53730ba84c9a93091033d7f14

I'm able to reproduce this bug as of the old commit, and I'm not able to reproduce in today's master.

I'm not going to git bisect to the exact commit tha

[2016-08-24 22:35] #1142 closed, assigned to jaredhirsch

[2016-08-24 22:41] #1246 closed, assigned to clouserw

[2016-08-24 22:55] jaredhirsch commented on #1193
IIRC the concept in showing the survey repeatedly was to see how users liked it over time. However, it seems like we may just be _annoying_ the users.

@johngruen do you want this bug to change the survey to just run once? Currently it runs every 2, 7, 21, 46 days--but we use client-side storage to keep track of when we've asked, so if the user uninstalls, then reinstalls, they'll get another surv

[2016-08-24 23:15] SimonSapin commented on #1193
Yes. My opinion hasn’t changed within a couple days, and asking again really seems like the system has forgot that I already answered these questions. (I did not uninstall.)

Kinda like some websites:

[![](http://imgs.xkcd.com/comics/server_attention_span.png)](https://xkcd.com/869/)

[2016-08-25 08:58] SoftVision-PaulOiegas commented on #1265
Seems fixed. Cannot reproduce it even if I hammered the functionality from all sides on both Nightly and Release builds :smiley: .

[2016-08-25 14:46] chuckharmston commented on #890
TXP-30 negates the need for this bug.

[2016-08-25 14:46] #890 closed, assigned to mostlygeek

[2016-08-25 15:08] #1251 closed, assigned to chuckharmston

[2016-08-25 15:27] chuckharmston commented on #1251
This should be reviewable on dev now: http://testpilot.dev.mozaws.net/experiments/universal-search

[2016-08-25 15:46] lmorchard opened #1281 "Add integration tests for experiment enable / disable"
We should implement an integration test that:
- [ ] Ensures the main add-on is installed
- [ ] Navigates to an experiment page
- [ ] Enables the experiment
- [ ] Asserts that the experiment add-on was installed
- [ ] Asserts that the frontend indicates the experiment is enabled
- [ ] Disables the experiment
- [ ] Asserts that the experiment add-on was uninstalled
- [ ] Asserts that the frontend in

[2016-08-25 16:55] johngruen opened #1282 "Add padding back to middle breakpoint on details page"
![screen shot 2016-08-25 at 12 54 41 pm](https://cloud.githubusercontent.com/assets/3323249/17978287/377bb856-6ac3-11e6-9193-77d0d897209e.png)

@clouserw this needs to land before we tag

[2016-08-25 16:56] johngruen commented on #1282
will do immediately after lunch

[2016-08-25 17:34] #1271 closed, assigned to dannycoates

[2016-08-25 17:43] bwinton opened #1283 "Exception in TestPilot's metrics when disabling TabCenter."
Mac OS X, Firefox Developer Edition 50.0a2 (2016-08-10).

<details>
<summary>

TypeError: addon is null (testpilot-addon/lib/metrics.js:159) _(click for details)_</summary>

[code]

</details>

(And don't be trying to move this to the TabCenter repo!  It's a TestPilot bug!  😉)

[2016-08-25 17:49] lmorchard commented on #1283
Error comes from [this line in metrics.js](https://github.com/mozilla/testpilot/blob/2016-08-12/addon/lib/metrics.js#L159). I think we don't expect `AddonManager.getAddonByID` to get called with the ID of a not-installed add-on here.

Need to check what ID is coming in via the `subject` of the experiment ping message. That might indeed be a Tab Center issue - unless we're fumbling it on the Test P

[2016-08-25 17:51] bwinton commented on #1283
Probably the id of the just-uninstalled-TabCenter…

[2016-08-25 17:54] lmorchard commented on #1283
I think that counts as a Test Pilot fumble, then - since we _should_ handle a metrics ping on uninstall gracefully. Need to cache those add-on details somewhere on our side, so we still have them when the experiment goes away.

(To be fair, I expected something like that, but I just wanted to be snarky and try to move it to Tab Center anyway 😁 )

[2016-08-25 17:56] bwinton commented on #1283
(It'll be less of a problem in the future, since Tab Center will be switching to event-based pings, and won't try to batch them up and send them on uninstall…)

[2016-08-25 17:57] #1266 closed, assigned to chuckharmston

[2016-08-25 19:20] #1034 closed, assigned to lmorchard

[2016-08-25 19:21] sevaan commented on #944
Please find the UX attached. This warning box would appear only if:
- the experiment is active
- the user has conflicting Add-ons installed and **enabled**

This box would stack above other boxes (e.g. experiment is ending soon).

Clicking the link would open up the Add-ons manager in a new active tab.

![incompatible add-ons](https://cloud.githubusercontent.com/assets/473531/17982882/68ca49de-6ac

[2016-08-25 20:14] #1282 closed, assigned to johngruen

[2016-08-25 20:16] ckprice opened #1285 "Low referrals from in product notification"
We deployed a push notification for No More 404's on August 22nd.

Between then and now, GA is showing just 2 referrals from Campaign = `push notification`.

This number seems low, and this issue is opened to investigate and fix any issues.

[2016-08-25 20:44] lmorchard commented on #1285
Mentioned this a few times in IRC & meetings, but will jot it down here for reference:

[There's code in the add-on that ignores the first batch of notifications it sees, if it's never seen notifications before.](https://github.com/mozilla/testpilot/blob/master/addon/lib/experiment-notifications.js#L54) This is mainly so that new installs in the future don't spam users by catching up with old noti

[2016-08-25 21:06] ckprice opened #1286 "Update metrics link on /privacy to point to new URL"
https://github.com/mozilla/testpilot/blob/master/docs/README-METRICS.md

was moved to

https://github.com/mozilla/testpilot/blob/master/docs/metrics/telemetry.md

We need to update https://testpilot.firefox.com/privacy with the new link.

[2016-08-25 21:18] #1286 closed, assigned to ckprice

[2016-08-25 22:28] chuckharmston commented on #1099
@ckprice Can we get these params please? Thanks!

This would be a great place for any additional instrumentation you'd want in this flow as well.

[2016-08-25 22:29] pdehaan opened #1290 "Privacy information not shown on non-Firefox browsers"
In Firefox, this is what I see when I scroll:

<img width="959" alt="firefox_test_pilot_-_activity_stream" src="https://cloud.githubusercontent.com/assets/557895/17988036/6649d57c-6ad8-11e6-8cef-a1990d5960ab.png">

But if I try and view the same [Activity Stream]() page in Chrome, I don't see the experiment Privacy content:

<img width="959" alt="firefox_test_pilot_-_activity_stream" src="https://

[2016-08-25 22:34] pdehaan opened #1291 "Cannot install experiments on Chrome"
... but the twist is that PageShot (in theory) will support Chrome, per the repo: https://github.com/mozilla-services/pageshot/

Possibly (probably?) not worth the effort of building all the logic of some experiments being Firefox+Chrome compatible, but thought I'd throw this out there.

[2016-08-25 22:37] chuckharmston commented on #1290
That's [by design](https://mozilla.invisionapp.com/share/Q77S1H6ZC#/screens/169082794). We only show that info to users with the Test Pilot add-on installed.

[2016-08-25 22:37] #1290 closed, assigned to nobody

[2016-08-25 22:45] pdehaan commented on #1290
Fair enough. I'll agree to disagree.

As a user, even before I install the main add-on or experiment it's likely that I'd want to know about my data privacy and probably want to see the repo/code and discourse info.

<details>
<summary>

**Disclaimer:** I'm creepy and weird.</summary>

![](https://media.giphy.com/media/hmDutUmwiZgcw/giphy-facebook_s.jpg)
</details>

[2016-08-25 22:46] chuckharmston commented on #1290
Can't argue that.

CC @johngruen to make sure he sees this feedback.

[2016-08-25 23:18] chuckharmston commented on #1099
Note to self: to keep the shared URLs cleaner, let's use the [mzl.la](https://mzl.la) URL shortener.

[2016-08-26 15:56] SoftVision-PaulOiegas opened #1293 "Installation doorhanger is dismissed at second installation attempt when previously closed from "(x)" button"
[Affected versions]:
- Nightly 51.0a1

[Affected Platforms]:
- All Windows

[Steps to reproduce]:
1. Go to https://testpilot.stage.mozaws.net page and choose to "Install the Test Pilot Add-on".
2. When prompted by the browser, choose to "Allow" the installation.
3. After download is complete click the close "(x)" button from doorhanger top right corner.
4. Choose again to "Install the Test Pilot A

[2016-08-26 16:04] ghost commented on #1293
I think #1223 will fix this also

[2016-08-26 16:05] ghost commented on #1291
Test Pilot is focused on testing new features in Firefox currently.  I'm going to wontfix this.  Thanks.

[2016-08-26 16:06] #1291 closed, assigned to nobody

[2016-08-26 16:09] ghost commented on #1285
It sounds like there are some questions around the code that tries to de-dupe and not show the same notification twice.  A separate issue being filed for that.

[2016-08-26 16:16] ghost commented on #1192
We'll look at this in #1202

[2016-08-26 16:16] #1192 closed, assigned to nobody

[2016-08-26 16:18] #1167 closed, assigned to nobody

[2016-08-26 16:19] lmorchard commented on #1285
Also I think I'm going to try writing some unit tests for the notifications code, just to backfill and try to prove out it's doing what I think it's doing

[2016-08-26 16:20] #845 closed, assigned to nobody

[2016-08-26 16:48] SoftVision-PaulOiegas commented on #1293
Nope, it seams that this is a Firefox issue after all. The same behavior occurs with AddBlock. Closing this.

[2016-08-26 16:48] #1293 closed, assigned to nobody

[2016-08-26 17:29] SoftVision-PaulOiegas opened #1296 "Setting the environment pref after Test Pilot installation on new profile will always display a NoMore404s push notification"
[Affected versions]:
- Nightly 51.0a1

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- A new profile was created.

[Steps to reproduce]:
1. Open Firefox with the newly created profile.
2. Go to https://testpilot.stage.mozaws.net page and choose to "Install the Test Pilot Add-on".
3. When prompted by the browser, choose to "Allow" the installation.
4. After download

[2016-08-26 18:13] dannycoates commented on #1296
This looks like a side effect of different data on prod and stage.

Production has a notification no-more-404s:

[code]

This gets ignored by the addon since it's a fresh install.

Then the env changes so it loads the data from stage which has a different set of notifications:

[code]

Now the addon will see these as new notifications and show the alert(s). Does it show multiple notifications? If

[2016-08-26 18:40] lmorchard commented on #1296
Oh! Yeah that totally makes sense - the add-on only ignores the first batch of notifications it sees, regardless of environment. So, if you change environment, that looks like a second new batch to the code because it doesn't keep track of those by environment.

I wonder if maybe we should keep them separated? Kind of a corner case that only affects us weirdos who change environments all the time,

[2016-08-26 18:41] chuckharmston commented on #1296
For what it's worth, I've been keeping disparate profiles for each environment, rather than switching prefs. It's been clean and simple, and avoids issues like this entirely.

[2016-08-26 20:15] lmorchard commented on #1285
Okay, unit tests written in PR #1297 and I didn't find any surprises in the way I expect the code is be working. Also considered Issue #1296 - that's related to changing add-on environment and shouldn't directly affect normal production users.

So, TL;DR redux: I think my TL;DR [from earlier](https://github.com/mozilla/testpilot/issues/1285#issuecomment-242534022) still applies - the easiest "fix"

[2016-08-26 21:33] ckprice commented on #1285
Okay, so we should send out another No More 404's push notification (I'll add to public calendar).

For clarification: If a brand new user installs Test Pilot today, and we send a push notification on Monday, will that user see the push notification?

[2016-08-27 23:24] lmorchard commented on #1285
Yes, because a brand new user today will see last week's notification, ignore it, and then see everything past then as new

[2016-08-29 14:46] SoftVision-CosminMuntean opened #1298 "The Github and Twitter icons from Test Pilot Privacy and Terms pages don't have the same colour as the bottom links"
[Affected versions]:
- Nightly 51.0a1

[Affected Platforms]:
- All Windows

[Steps to reproduce]:
1. Open the browser and navigate to "https://testpilot.stage.mozaws.net" page.
2. Scroll to the bottom of the page and observe the color of the footer pages links and social media share buttons.
3. Click on "Privacy" or "Terms" page links.
4. Scroll to the bottom of the page and observe the color of t

[2016-08-29 15:19] SoftVision-CosminMuntean opened #1299 "Error page displayed if "F5" key is held for about 2 seconds on any Test Pilot page"
[Affected versions]:
- Nightly 51.0a1

[Affected Platforms]:
- All Windows

[Steps to reproduce]:
1. Open the browser and navigate to "https://testpilot.stage.mozaws.net".
2. Hold down for ~2 seconds the "F5" key.
3. Observe the page behavior.

[Expected result]:
- The page is correctly refreshed no matter how long or how many times the "F5" key is pressed.

[Actual result]:
- An error page is dis

[2016-08-29 15:32] SoftVision-PaulOiegas opened #1300 "The "Enabled" tag is still displayed on Test Pilot pages after manually disabling or removing an experiment from "about:addons" page"
[Affected versions]:
- Nightly 51.0a1

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://te

[2016-08-29 16:21] ckprice commented on #1208
Let's wait on this until we finish backend migration.

[2016-08-29 17:13] dannycoates opened #1301 "Past experiments UI"
On the experiment list page, completed experiments should be hidden behind a button, as shown here: https://mozilla.invisionapp.com/share/Q77S1H6ZC#/screens/181298065

[2016-08-29 17:17] dannycoates opened #1302 "Completed experiment page"
Completed experiments have no enable button and special disable button treatment along with different intro content and other elements, as seen: https://mozilla.invisionapp.com/share/Q77S1H6ZC#/screens/181298065

[2016-08-29 17:22] dannycoates opened #1303 "Closing day addon elements"
On the closing day of an experiment active users will be prompted for feedback and the panel will treat the completed experiment differently as shown here: https://mozilla.invisionapp.com/share/Q77S1H6ZC#/screens/181298065

[2016-08-29 17:23] jaredhirsch opened #1304 "Include community contributors on Test Pilot team pages"
If non-staff contributors land fixes in a given experiment, it would be really cool to show their avatar on the TxP experiment page along with the paid staff / rest of the team. Might be a powerful incentive to contribute ^_^

[2016-08-29 17:23] dannycoates commented on #1247
Closing in favor of #1301 #1302 and #1303

[2016-08-29 17:23] #1247 closed, assigned to nobody

[2016-08-29 18:56] lmorchard commented on #988
For reference: https://public.etherpad-mozilla.org/p/test-pilot-omg-flatfiles

[2016-08-29 19:04] lmorchard opened #1305 "Implement Github webhook driven deployment for static content"
For our static content, we'd like on-demand build & deployment from a branch-per-environment on Github. So, if we have branches named `production`, `staging`, and `development`, those should get built & deployed to the appropriate server when new commits are pushed to each. (FWIW, `development` could also just be `master`)

Static content includes all our experiment pages & images, as well as fron

[2016-08-29 19:16] lmorchard commented on #1300
I think this might actually be a dupe of #680

We don't do useful things with the _disabled_ state of an experiment add-on. We just describe installed as "enabled" to keep things simple.

[2016-08-29 20:20] lmorchard opened #1306 "Implement static page rendering with progressive enhancement"
Probably way too big an issue to file as such, but here goes:

We should build a static HTML rendering of all pages - experiment pages, legal pages, everything - in a way that works for most browsers.

Then, when the JS kicks in and we detect Firefox, we can flip on/off relevant bits. Same goes for whether we do or don't detect the Test Pilot add-on as installed.

Ideally, it would be great if we

[2016-08-29 20:26] lmorchard opened #1307 "Convert to React views & Redux state management from Ampersand views & models"
This work in progress has been merged into the [development-static](https://github.com/mozilla/testpilot/tree/development-static) branch and [is auto-deploying](https://circleci.com/gh/mozilla/testpilot/tree/development-static) to https://testpilot-static.dev.mozaws.net

if you set `testpilot.env` to `static-dev` in about:config, [this environment](https://testpilot-static.dev.mozaws.net) should f

[2016-08-29 20:26] lmorchard commented on #865
Going to close this "research" issue in favor of an "action" issue in #1307

[2016-08-29 20:26] #865 closed, assigned to nobody

[2016-08-29 20:28] dannycoates commented on #1303
I hate the "Hey" badge. As a Firefox user and busy person (as we all are) having a toolbar button yell "Hey" at me is first going to make me wonder what the hell that means then next make me confused and angry that it bothered me for something so trivial: "Hey! Not that it's urgent or anything, but this experiment is over. How does it affect you? It doesn't really. I just thought I'd distract you

[2016-08-29 20:33] lmorchard opened #1308 "YAML / JSON validation for experiments.json and enforce validation in CI?"
So, we're leaving Django's CMS behind, with all of its required fields and content requirements. That means our YAML-to-JSON content build process is a lot looser and could be prone to errors and neglected fields.

Should we write & maintain a JSON schema that asserts mandatory & optional fields and what kinds of things they should contain, if only as a linting stage in CircleCI so we don't push b

[2016-08-29 20:34] ckprice commented on #1285
Created a new notification for 2 PM PST today. As noted in channel, these will start appearing up to 12 hours after this time.

Going to leave this open for a bit until we see traffic coming in the next couple days.

[2016-08-29 20:36] lmorchard commented on #1306
Also, possibly blocked by #1307 (React conversion) unless we want to jump straight at Jekyll / Liquid Template rendering.

Prior art: https://github.com/chuckharmston/testpilot-flatfiles

[2016-08-29 20:43] lmorchard commented on #1305
Also for the sake of not blocking here - I think we can safely assume that something like this will work for a build script when we're done with everything else in this milestone:

[code]

As long as we have node, we'll be able to kick off Gulp (or whatever) and have a directory of ready-to-deploy content (e.g. `dist`). So, hopefully we can talk about deployment as how to trigger builds and where

[2016-08-29 21:29] pdehaan commented on #1305
At what point do we just deploy to GitHub pages? (which I think now you can do from a /docs/ subfolder instead of needing to be a weird specific branch)
https://github.com/blog/2233-publish-your-project-documentation-with-github-pages

[2016-08-29 21:34] lmorchard commented on #1305
There are a number of reasons we probably never want to do literally that, the security of Firefox being one of them - though there's a whole discussion to be had there :) But we do have a pile of things that need building which GitHub Pages won't support.

[2016-08-29 21:39] dannycoates commented on #1305
Also

https://help.github.com/articles/securing-your-github-pages-site-with-https/

[2016-08-29 21:47] mhoye opened #1309 "Notification without a title."
I get this notification: /edit by ckprice http://i.imgur.com/N6p3C3W.png

in Nightly on OSX (Both current latest) and that seems like it's not the right thing.

Clicking that directs me to the No More 404s test pilot page - No More 404s is the only Test Pilot add-on I have installed.

[2016-08-29 22:03] digitarald commented on #1309
I have the same issue (empty notification) but don't have No More 404 installed

[2016-08-29 22:13] ckprice commented on #1309
I've deleted the current notification until this is investigated.

[2016-08-29 22:14] ckprice commented on #1285
Ref: #1309

[2016-08-30 04:42] chuckharmston commented on #1303
https://youtu.be/f6Zq9OJr0xM

[2016-08-30 09:03] parag9d opened #1310 "No restriction notification is displayed for users that are trying to instal Test Pilot on incompatible Fx version"
"Install the Test Pilot add-on" CTA shows installation in progress even after installation is complete
- Operating system: OS X 10.11.6
- Firefox build 38.0.5

<img width="1680" alt="screen shot 2016-08-30 at 12 51 03 pm" src="https://cloud.githubusercontent.com/assets/6411097/18082930/8be2f09a-6ebe-11e6-9533-3dfd7ee5da18.png">

[2016-08-30 14:40] lmorchard commented on #1309
@ckprice - Did you happen to get a screenshot of the notification in admin before it was deleted? I never saw it, would help to diagnose things

[2016-08-30 14:52] jvehent opened #1311 "Improve CSP on the public testpilot site"
Testpilot gets an F on the observatory testing: https://observatory.mozilla.org/analyze.html?host=testpilot.firefox.com The CSP is particularly bad and should be improved.
1. Remove all the HTTP includes (everything must use HTTPS).
2. Limit the mozilla domains allowed to insert scripts and styles, and not just use all `*.mozilla.{net,org}`.
3. Don't allow script-src unsafe-inline. This just makes

[2016-08-30 15:06] lmorchard commented on #1309
Seems like [our code](https://github.com/mozilla/testpilot/blob/master/addon/lib/experiment-notifications.js#L109) called the SDK notification library correctly: A notification was displayed with our hardcoded "via testpilot.firefox.com" and clicking it went to the right experiment URL. But, it seems like [the notification we randomly picked](https://github.com/mozilla/testpilot/blob/master/addon/

[2016-08-30 15:46] lmorchard commented on #1309
For good measure, [I just added a unit test to my PR that works with just one notification](https://github.com/mozilla/testpilot/pull/1297/files#diff-2b3639e8f7a812b3bddbfc4edcb2e0fdR87). That's as close as I can come to what happened in this issue off the top of my head. Bad news is, the test didn't reproduce this issue. So, I still don't know what happened.

[2016-08-30 16:03] lmorchard commented on #1311
FWIW, CSP settings are here: https://github.com/mozilla/testpilot/blob/master/testpilot/settings.py#L327

I think we'll need to leave the HTTP CSP policy in, but only in the DEBUG=True case - local development & testpilot.dev.mozaws.net are both still HTTP (non-SSL) (see also #548)

[2016-08-30 16:13] ckprice commented on #1309
No, sorry 😞 It was a dup of the last one - copied the two fields from the existing notification.

[2016-08-30 16:16] dannycoates commented on #1309
@lmorchard I saw the json from https://testpilot.firefox.com/api/experiments before it was deleted. It looked fine to me:

[code]

[2016-08-30 16:34] lmorchard commented on #1309
Poked at this over the last couple of hours, and can't reproduce the issue locally - neither in a unit test nor in adding a notification to my local server. Can anyone else reproduce it in a controlled environment? If not, then we don't have an explanation or a fix so far

[2016-08-30 16:54] dannycoates commented on #1309
I've also tested this locally and can't reproduce. I think @johngruen had a theory yesterday that it's css/theme related... It'd be really helpful to get the `utm_content` from the querystring of one of these.

[2016-08-30 17:08] lmorchard commented on #1309
Well, the weird thing with that is our "via testpilot.firefox.com" shows up, which is just a hardcoded string [we tack on before `notification.text`](https://github.com/mozilla/testpilot/blob/master/addon/lib/experiment-notifications.js#L112) to give some context and fake the look of a web push notification. It should get blanked out too if it's a CSS thing, I'd think

[2016-08-30 17:38] lmorchard opened #1312 "Split usage counts out of experiments JSON API"
While we work toward #1039, an interim step would be to move the experiment usage counts out of the experiments content JSON and into its own resource. That way, we could publish the site & JSON statically and refer to just the dynamic data at a separate URL.

That JSON could look something like this:

[code]

That is, an object with properties named for experiment add-on IDs pointing at the count

[2016-08-30 17:48] lmorchard commented on #1039
FWIW, I filed #1312 with a proposed usage count JSON format that we can move to right now using the existing Django API. Hopefully whatever we come up with here can match that format, and switching over is just a matter of changing a configured URL

[2016-08-30 18:48] parag9d commented on #1310
That is a firefox build issue. Installed nightly, no issues on nightly.

[2016-08-30 19:24] ghost commented on #1039
/cc @sunahsuh

[2016-08-30 20:56] dannycoates commented on #1309
Maybe the `utm_content` is still in @mhoye or @digitarald history? Mine looks like this:

<img width="1102" alt="screen shot 2016-08-30 at 10 41 09 am" src="https://cloud.githubusercontent.com/assets/87619/18106610/7184af18-6eb9-11e6-913e-281526926cc6.png">

[2016-08-31 00:23] sevaan commented on #1197
Additionally, once a user is in the tour there is no way to exit it without completing the tour.

Working on this one.

[2016-08-31 08:48] SoftVision-PaulOiegas commented on #1300
Could be. Filed this one because #680 was referring only to experiment details page. Maybe we should also have an indicator on experiments cards for manually disabled ones. I think that wasn't covered in the designs that John provided there.

[2016-08-31 09:22] SoftVision-PaulOiegas commented on #1310
Hey parag9d, thanks for your report ! This issue occurs because Test Pilot is not working on builds older than Fx 45.x. That's why you don't see this on Nightly builds. Please update your browser before installing Test Pilot.

However, I do agree that we should have some kind of notification for the users to inform them about this. I'll modify your issue title to reflect this.

[2016-08-31 13:37] sevaan opened #1314 "Receiving incompatible browser version disclaimer despite using correct version."
I just loaded up Test Pilot in the latest Firefox release, 48.0.2, and noticed I'm still receiving an incompatible version warning on the experiment details pages.

![screen shot 2016-08-31 at 9 34 58 am](https://cloud.githubusercontent.com/assets/473531/18130802/785f7926-6f5e-11e6-98a3-e0534940ff7c.png)

[2016-08-31 15:25] SoftVision-PaulOiegas commented on #1314
Duplicate of #1208 ...

[2016-08-31 15:25] #1314 closed, assigned to nobody

[2016-08-31 16:57] digitarald commented on #1309
Same URL in my history: `https://testpilot.firefox.com/experiments/no-more-404s?utm_source=testpilot-addon&utm_medium=firefox-browser&utm_campaign=push+notification&utm_content=2`

[2016-08-31 18:56] sevaan commented on #1197
Revised Tour UX (5 Pages): https://mozilla.invisionapp.com/share/Q77S1H6ZC#/185342725_Current_UX_Issues

[2016-08-31 19:27] ckprice commented on #1099
## Measurements for the /share page

### Create `pageview` event on the /share page

We'll want to add a `pageview` event to this page sending along `dimension1`, `dimension2` and `dimension3`.

[code]

These dimensions will give us information on the types of users that are sharing.

Referencing our [GA Custom Dimensions documentation](https://github.com/mozilla/testpilot/blob/master/docs/metrics

[2016-08-31 20:13] ckprice opened #1315 "/legacy page needs `pageview` event"
### Create `pageview` event on the /legacy page

We'll want to add a `pageview` event to this page sending along `dimension1`, `dimension2` and `dimension3`.

[code]

These dimensions will give us information on the types of users that are sharing.

Referencing our [GA Custom Dimensions documentation](https://github.com/mozilla/testpilot/blob/master/docs/metrics/ga.md#custom-dimensions), we'll wan

[2016-08-31 20:16] ckprice commented on #839
I removed the label. I think this still wants to be done, but may be better to wait until after TXP-32.

[2016-09-01 00:56] pdehaan opened #1316 "Share page seems almost comically tall"
Found in http://testpilot.dev.mozaws.net/__version__ (a81d93b4a83dab398adec033e44386c598d82d37):

[code]

---
### Steps to reproduce:
1. Go to http://testpilot.dev.mozaws.net/share
2. Scroll
3. Realize you had to scroll to see the entire page.
4. Question why we need to scroll vertically when you're on a 3yr old fancy rMBP.
### Actual results:

Scrolling in Mountain View.

![firefox_test_pilot](ht

[2016-09-01 00:58] pdehaan opened #1317 "Copy button is misaligned on /share page in Chrome"
Ref: #1316

![firefox_test_pilot](https://cloud.githubusercontent.com/assets/557895/18151492/66e096ee-6fa4-11e6-9618-d7af4d0e08af.png)
**Figure 1:** Google Chrome shifts the "copy" button onto a new line.

---

<img width="1440" alt="screenshot_8_31_16__5_58_pm" src="https://cloud.githubusercontent.com/assets/557895/18151503/81fb6206-6fa4-11e6-8057-c39f57d6d4ac.png">
**Figure 2:** Firefox aligns b

[2016-09-01 19:03] ghost commented on #1315
Thanks for filing, but I don't think we need this.  We're on the downhill side of the campaign at this point so this wouldn't do much for us.

[2016-09-01 19:03] #1315 closed, assigned to nobody

[2016-09-01 19:22] lmorchard commented on #1308
Going to take this out of TXP-32, because it doesn't directly block migrating the frontend to a static deploy. It just makes things safer

[2016-09-01 19:26] lmorchard opened #1319 "Add new static dev environments to add-on"
I propose two new hosts for our static deployment track:
- https://testpilot-static.dev.mozaws.net
- https://testpilot-static.stage.mozaws.net

The add-on should support both of these in the `testpilot.env` preference

[2016-09-01 19:33] pdehaan commented on #1308
FWIW, I'm a big fan of Hapi.js' [**joi**](https://github.com/hapijs/joi/) object schema validator.
We'd have to first convert the YAML to JSON, before passing it to Joi, but should be easy peasy.

But yeah, adding it to a `lint` task ensures that it'd get run during `npm test` and on Circe-CI and that you wouldn't theoretically be able to git push if you [poorly] edit the YAML files.

[2016-09-01 19:37] lmorchard commented on #988
I'm going to call this issue closed, since it's being / been pretty well exploded into separate issues for TXP-32. This issue itself doesn't really have specific action items beyond that, IMO

[2016-09-01 19:37] #988 closed, assigned to nobody

[2016-09-02 13:15] parag9d commented on #1310
@SoftVision-PaulOiegas Thanks for the modification. I agree that it will better to give the user some visual cues that his/her current version doesn't support test pilot 👍

[2016-09-02 16:19] jaredhirsch commented on #1308
I think the YAML vs JSON decision probably should come down to whether non-technical folks are editing these files regularly. There are plenty of schema validation tools for YAML.

[2016-09-02 16:24] #1304 closed, assigned to nobody

[2016-09-02 16:25] lmorchard commented on #1308
The JSON is auto-generated from the YAML. Folks like @johngruen & @ckprice are probably going to be the usual editors of the YAML, and I'd count them as technical folks. But, we all make mistakes, so it would be nice to catch them as early as possible.

Might be better to validate the YAML, since that will be what folks are actually editing.

[2016-09-02 16:28] #1296 closed, assigned to nobody

[2016-09-02 16:28] lmorchard commented on #1299
I'd guess 2 things are happening here:
1. One of the refreshes interrupts the requests to fetch experiment content JSON, which results in an error and a redirect to our error page
2. Our error page is at a different URL, so subsequent refreshes just stay on that error page.

We should probably figure out a way to more gracefully handle 1. And for 2, we should probably not bounce to a different URL

[2016-09-02 18:16] pdehaan commented on #1308
I think you'll have much better success finding feature-rich JSON validators instead of YAML validators (but I'm often wrong). In my [oh so brief] research, I did find [**yaml-validator**](https://www.npmjs.com/package/yaml-validator) which seems to do basic schema checking.

For giggles sake, here's a crude attempt at linting via Joi (by converting to JSON on-the-fly using **yamljs**). Apologies

[2016-09-03 21:37] lmorchard commented on #1039
Following up here, it looks like we have data from Telemetry - and that's well more than half the battle!

https://analysis-output.telemetry.mozilla.org/testpilot/data/installation-counts/latest.json

Other parts to wrap up this issue:
- [x]  After PR #1321, [the `usageCountsUrl` needs to be switched to the Telemetry URL](https://github.com/mozilla/testpilot/pull/1321/files#diff-687e0a1f096950bef2

[2016-09-05 10:05] ovidiuboca opened #1322 "Firefox Release w/"No more 404s" extension hangs whole browser on loading treeherder links (Force Close)"
This issue is a clone after https://bugzilla.mozilla.org/show_bug.cgi?id=1299586.

STR:
1. On OSX, launch Firefox 48.0.1 with a clean profile.
2. Install "Test Pilot" and the "No more 404s" extensions.
3. Launch URL.
4. (If necessary) quit and restart browser, then launch URL.

Expected result:
- I can see both left and right side of treeherder page, and continue working.

Actual result:
- I see o

[2016-09-06 10:54] johngruen commented on #1317
what is @pdehaan watching

[2016-09-06 10:57] johngruen commented on #1316
![p-3209- clown-horn](https://cloud.githubusercontent.com/assets/3323249/18271241/6b80d178-7431-11e6-9eab-f673d2d82d38.jpg)

[2016-09-06 20:47] johngruen commented on #944
@chuckharmston wanna pick this up?

[2016-09-07 03:23] ghost commented on #944
I was dragging my feet on any frontend bugs, waiting on the flat files patch to land, fwiw.

[2016-09-07 16:05] ghost commented on #1252
We're going to delay this until we're on flat files.

[2016-09-07 18:15] meandavejustice opened #1324 "TypeError: can't convert undefined to object in /addon/lib/experiment-notifications.js"
- Linux 4.2.0-42-generic
- Firefox build - Nightly

Issue seems to be this line: https://github.com/mozilla/testpilot/blob/master/addon/lib/experiment-notifications.js#L56
Stack trace:

[code]

[2016-09-07 21:07] #1319 closed, assigned to lmorchard

[2016-09-07 21:09] lmorchard opened #1325 "Make it easier to add allowed environments to the main add-on"
In PR #1320, I added 2 more environments for static dev & static staging. But, it would be nice to make it way easier to add environments - especially if that means we don't have to deploy new versions of the add-on. This would make it easier to do things like #525 and support many alternate branches deployed to servers for UX testing and such.

See also: an 'any' environment over in @dannycoates'

[2016-09-07 21:10] lmorchard commented on #1312
https://github.com/mozilla/testpilot/commit/847e4a60d7111adb838db5eadf78062e6a6f8cba

[2016-09-07 21:10] #1312 closed, assigned to lmorchard

[2016-09-07 21:11] lmorchard commented on #1305
https://github.com/mozilla/testpilot/commit/847e4a60d7111adb838db5eadf78062e6a6f8cba

[2016-09-07 21:11] #1305 closed, assigned to lmorchard

[2016-09-07 22:04] pdehaan opened #1326 "Add new experiments to testpilot.dev.mozaws.net"
We should probably add the upcoming Page Shot and Min Vid experiments to the development http://testpilot.dev.mozaws.net/ site (Blok is already added).

Makes it easier for QA to get started testing, and will let us see how everything will look if we launch w/ 7 active experiments (on the homepage, and in add-on dropdowns, and in related experiments at bottom of details pages.

[2016-09-08 13:56] johngruen opened #1327 "Make feedback survey optional after heartbeat trigger"
Currently we pop a survey straight from the heartbeat rating.
Let's see what happens if we issue a 'thank you' then give users the choice to take a quick survey.

[2016-09-08 13:57] johngruen commented on #1326
@pdehaan planning on getting something up ~ mid next week

[2016-09-08 13:59] johngruen opened #1328 "Add interstitial message for Tracking Protection experiment when user attempts feedback"
With the upcoming tracking protection experiment, we will mostly want people to give feedback via the tracking protection add on. We can cut down on bad interactions by adding an interstitial modal between the feedback button on the experiment details page and the redirect to survey gizmo.

[2016-09-08 14:15] johngruen commented on #944
cool

[2016-09-08 14:47] sevaan commented on #1327
UX: https://mozilla.invisionapp.com/share/Q77S1H6ZC#/187182724_Heartbeat_UI

[2016-09-08 15:48] lmorchard commented on #1326
FWIW, this will probably be solved permanently when we finally switch over to flat-files, because we'll be staging the content in the project repo and it will follow the rest of the site code from dev to stage to prod

[2016-09-08 17:02] chuckharmston opened #1329 "Use SSL for local development."
In #1223 I am introducing some functionality that only works over HTTPS. I'm working around it with a proxy for now, but it'd be nice if we shipped with some dummy certs or LE configuration that let us use HTTPS for local work without configuration.

[2016-09-08 17:25] sevaan commented on #1328
UX: https://mozilla.invisionapp.com/share/Q77S1H6ZC#/187233763_Tracking_Protection_Feedback

Image asset attached.
![asset 2x](https://cloud.githubusercontent.com/assets/473531/18359374/a7d42598-75c7-11e6-8f0c-7dbc87f18d07.png)

[2016-09-08 17:26] sevaan commented on #1328
So to clarify, user clicked the Give Feedback button on the experiment details page, and then the new tour UI ([Issue #944](https://github.com/mozilla/testpilot/issues/944)) is revised to show a message clarifying where to give feedback.

[2016-09-09 05:28] chuckharmston opened #1331 "Don't require users to discretely install Test Pilot extension."
Problem: it’s sort of conceptually illogical that users need a Test Pilot extension before installing any experiments.

Once a fix for #1223 lands, we'll be able to install the Test Pilot add-on without a prompt. This is pretty swell, and will let us seamlessly remove that requirement. Instead, we could quietly install the Test Pilot extension whenever the user attempts to enable an experiment, if

[2016-09-09 06:56] chuckharmston opened #1332 "Add-on installation never completes on dev."
The add-on is installed, but never updates the navigator properties of the top window, so the spinner never finishes.

[2016-09-09 07:06] johngruen commented on #1328
@sevaan thanks for making this. We're going to need to tweak this asset b/c we've changed the name of the add on to Tracking Protection

[2016-09-09 07:06] johngruen commented on #1328
I'll get you a new XPI ASAP

[2016-09-09 07:20] johngruen commented on #1332
@chuckharmston is this dev edition or from the dev server?

[2016-09-09 07:22] johngruen commented on #1327
SHIP IT

[2016-09-09 07:23] chuckharmston commented on #1332
Dev server using Nightly, sorry. I'll do a little more prodding and update the title and description to be more clear.

[2016-09-09 07:24] johngruen commented on #901
Related to #1327.

[2016-09-09 07:26] chuckharmston commented on #1332
I think this was due to `testpilot.env` not being set correctly. I'll close until I can reproduce again.

[2016-09-09 07:26] #1332 closed, assigned to nobody

[2016-09-09 07:33] johngruen commented on #1331
@chuckharmston yeah, i'd like to see this as well. Now that we've got the experiment pages viewable regardless of add-on install, I think this is the way to go.

Also, I feel like this issue exists somewhere, but I'm finding it.
- Adding a needs product and large flag

[2016-09-09 12:06] macxcool commented on #901
Absolutely it's related... and they seem to have done somthing about it awhile ago.

Thanks, by the way ;-)

[2016-09-09 12:09] johngruen commented on #901
sure, we're trying to balance figuring out what's annoying with getting enough feedback to be meaningful. Appreciate the help. We're about to launch some new experiments so I'm going to keep this issue open for now until we review and confirm that the new surveys have the right behavior.

[2016-09-09 13:44] facugon commented on #865
Hello everybody , and thank you @lmorchard for your research. This is very useful. I have some projects running with Ampersand, and I love the way it works, but it is hard to learn and complicated to maintain. We were thinking on moving to React, too. And your research helps a lot. Thanks.

[2016-09-09 15:12] johngruen commented on #944
We may need to make this apply to about config prefs as well, please see:
https://github.com/mozilla/blok/issues/12

[2016-09-09 15:18] johngruen opened #1333 "Toggle Native Tracking Protection Pref off if user installs Test Pilot Tracking Protection"
Related to #944, and we may not need a separate issue here, but we can cover this in triage today.

[2016-09-09 15:25] chuckharmston commented on #944
I'm not in love with this. The big red box looks like an error message, and it won't apply whatsoever to large proportions of our users. The Test Pilot add-on can:
- Get a list of installed add-ons
- Read prefs
- Change prefs

We should just change prefs for the user (maybe with a callout if we do so), only display the incompatibility message if we know that the user has an incompatible add-on ins

[2016-09-09 15:26] johngruen commented on #944
@chuckharmston that's the point i think, we don't wanna show this to everybody

[2016-09-09 15:27] johngruen commented on #944
@sevaan wants this iff

I agree, the red is a little brutal. let's start by getting it in there, and see if we can't soften it.

[2016-09-09 15:44] chuckharmston opened #1334 "Write tests for add-on installation"
Installation of the Test Pilot add-on is probably the most important code we have, but best I can tell, there are no client tests for it. We should try to write some.

[2016-09-09 15:45] chuckharmston commented on #944
Huh, sorry, I was reading the thread in email and everything but the mock in Sevaan's message got truncated as if it was quoted text.

[2016-09-09 16:00] chuckharmston opened #1335 "Do a better job monitoring for error states in extension installation"
We don't do a great job of monitoring for error states in add-on installations. I see at least three places for improvement:
- Listen for exceptions in the Test Pilot add-on when `mozAddonManager` is used (#1223)
- [Listen for exceptions](https://developer.mozilla.org/en-US/Add-ons/Add-on_Manager/InstallListener#onInstallFailed%28%29) in experiment installations via the Test Pilot add-on
- Set a t

[2016-09-09 16:05] jaredhirsch commented on #1334
We should be able to do this using marionette / webdriver, I think

[2016-09-09 16:10] lmorchard commented on #1329
See also, for dev on elastic beanstalk (not a dupe, but also important): https://github.com/mozilla/testpilot/issues/548

[2016-09-09 16:17] lmorchard commented on #1329
I remember we did this with MDN, but via a full Apache instance in Vagrant. Let's not do that here. Maybe we can use something like [django-sslserver](https://github.com/teddziuba/django-sslserver)?

[2016-09-09 16:20] lmorchard commented on #1334
FWIW, we have [an integration test](https://github.com/mozilla/testpilot/blob/master/integration/test_installation.py#L35) using marionette + firefox puppetter to drive a Firefox instance through the install & on-boarding process. That's an outside-in test at the user leve.

Would be great to find a way to find a harness that can mock up the browser APIs and do this more from the unit testing side

[2016-09-09 16:20] jaredhirsch commented on #1322
@wresuolc says this works in today's nightly. I'll investigate.

[2016-09-09 16:25] johngruen commented on #1285
Note to self: fuzz stage on monday

[2016-09-09 16:26] #1245 closed, assigned to nobody

[2016-09-09 16:29] ghost commented on #1202
Is this still reproducible?

[2016-09-09 16:32] lmorchard commented on #1039
Marking this as blocked to signal that we're still kind of waiting on final consensus about whether we're good to switch over to the Telemetry data. The two steps in my last comment - switching to that URL & removing the Django code - are the wrap up.

[2016-09-09 16:51] SoftVision-PaulOiegas commented on #1204
Sorry Gaby but I totally forgot about this issue. I've finally made to open your video and tried the same steps at the job and also at home, but sadly, I cannot reproduce this on my end.

What version of Firefox are you using ? If it's an older one, can you please update to the latest 48.0.2 release and retest this on a clean new profile (https://goo.gl/PNe90E) ? Maybe something that you have inst

[2016-09-09 17:07] pdehaan commented on #1317
@johngruen Sorry, it was https://www.youtube.com/watch?v=CB-tFLCShyU

Apologies for not making it more explicit in the STR. /cc @chuckharmston

[2016-09-09 17:28] ckprice opened #1337 "Add GA to the addon"
Benefits include a secondary resource to check general usage information, and interaction with the addon UI (clicks on icons, heartbeat prompts, notification views, etc).

This needs a legal review and a review by @garethcull. Would like to target this landing in the next sprint.

Assigning myself for pushing the next steps, but comments are welcome. I started playing around with how this could be

[2016-09-09 18:30] lmorchard commented on #1337
I think this is interesting for prototyping but I think we really, really do not want to [pull in third-party JS from an external URL](https://github.com/ckprice/testpilot/commit/c40332a8fcf10c9fedaaf0076185f078382ead5c#diff-1aa7bfd12c0f1875cbcc72990dcfbef4R18) into our signed & super-powered add-on. That sets off some pretty loud security alarms. I might be misreading what that line's doing, thou

[2016-09-09 18:35] ckprice commented on #1337
Thanks for the link, yeah just wanted to start blocking out some things and hadn't seen these docs. I'll tweak my branch.

[2016-09-09 19:18] ghost commented on #1269
I think gaby2300's issue is being addressed in #1204 .  This issue may be related, but the original reporter hasn't replied so I'm going to close it. Thanks.

[2016-09-09 19:18] #1269 closed, assigned to nobody

[2016-09-09 19:49] BoffinBrain commented on #1202
Yes, still reproducible on my blank profile here, using the latest Test Pilot and Firefox 49.0.

When I try now, instead of waiting forever, I get an 'uh-oh' error message pop up, but other than that, the same experiments fail to load. In the screenshot, you can see Tab Center and No More 404s are enabled (they were successfully installed during this session) while Universal Search has failed.

![

[2016-09-09 20:21] #1223 closed, assigned to chuckharmston

[2016-09-09 20:45] dannycoates commented on #1327
@sevaan what style is that button using? I see we're using the 'heartbeat' style instead of the normal notification bar styles, but I don't see any styles for buttons with [heartbeat](https://github.com/mozilla/gecko-dev/blob/7d334fcb5086d920646ec22f82345bf4eafead42/browser/themes/shared/UITour.inc.css#L157).

Here's what it looks like as a label with 'text-link' style like the heartbeat uses for

[2016-09-09 20:53] lmorchard commented on #1039
Actually, sounds _un_blocked and we should be clear to switch over to the Telemetry based numbers in a few weeks - probably next sprint end?

[2016-09-09 21:57] gaby2300 commented on #1269
I am sorry but #1204 was a completely different issue. It had to do with a
connection problem due to my antivirus configuration. I changed it and the
problem was fixed.

I am afraid I am still seeing this issue in today's Nightly and Aurora
(Windows 7 64 bit), meaning I still see:

No More 404s requires Firefox 48 or later.
Make sure you're up to date.
https://support.mozilla.org/lt/kb/find-what-v

[2016-09-09 22:00] gaby2300 commented on #1204
Hi Paul, you were right! It was an antivirus related issue. I changed it's configuration and the problem was fixed. Many thanks for your help!

[2016-09-10 00:45] sevaan commented on #1327
Hey Danny, I just pulled it from my original spec for Heartbeat. They were unused for Heartheat, but I feel like the button styling has been used in other notification bars. @johngruen do you know?

The text link looks OK, but I think if we are going for engagement, a clearer target after the user rates the experiment will help. Can we code it in?

I noticed the Heartbeat UI has been changed sligh

[2016-09-10 14:39] atiqueahmedziad commented on #1298
@SoftVision-CosminMuntean I am getting nothing on Privacy or terms page. Would you kindly check?
![capture](https://cloud.githubusercontent.com/assets/8364578/18411318/b540738c-7796-11e6-841d-ac244629a208.JPG)

[2016-09-12 09:31] SoftVision-PaulOiegas commented on #1269
For now, that message is displayed no matter what browser version you have. We will probably correct it in the future, but for the moment it's expected behavior.

However, there were a bunch of issues with "fail to enable" specific experiments related to installed 3rd party software.
1. The above one.
2. Unable to install Tab Center (http://goo.gl/0Bbt4Y) - issue appeared due to firewall setup tha

[2016-09-12 09:33] SoftVision-PaulOiegas commented on #1204
You welcome ! Glad we sort it out. :smiley:

[2016-09-12 09:44] SoftVision-PaulOiegas commented on #1202
Hey, as mentioned in #1269, we have a bunch of issues that seem related to environment setup or 3rd party software. Maybe your issue is related to firewall or antivirus settings too.
Can you test this from a different machine and let me know of the results ? Or, if you have some spare time, even poke a bit the firewall or antivirus settings to see if this changes after.

[2016-09-12 13:39] #1253 closed, assigned to nobody

[2016-09-12 13:51] #999 closed, assigned to nobody

[2016-09-12 13:51] #1000 closed, assigned to sharonbautista

[2016-09-12 13:54] johngruen commented on #924
@marco-c we've made some pretty major changes to the add-on since this issue was filed. Have you seen it crop up recently? I'm inclined to close it.

[2016-09-12 13:55] johngruen commented on #553
We can close this when we drop django

[2016-09-12 13:56] BoffinBrain commented on #1202
Wasn't able to repro on my Windows 7 Professional box using Firefox 49.0. This machine is on a domain with a corporate proxy and McAfee AV and all experiments installed fine. I will test my laptop later.

[2016-09-12 13:57] #799 closed, assigned to meandavejustice

[2016-09-12 13:59] marco-c commented on #924
No, I haven't seen it in a while.

[2016-09-12 13:59] #924 closed, assigned to nobody

[2016-09-12 13:59] johngruen commented on #1197
@ckarlof we'll be happy to know we're going to work on this now.

[2016-09-12 15:01] SoftVision-PaulOiegas commented on #1204
One more thing Gaby. What antivirus client are you using and what was the setting that caused this ?  This could help us in debugging other issues that may appear related to this one.

[2016-09-12 15:05] ghost commented on #1039
👍 flip over any time

[2016-09-12 16:23] SoftVision-CosminMuntean opened #1339 "The "Privacy" and "Terms" pages from Test Pilot are no longer available on staging and dev servers"
[Affected versions]:
- Nightly 51.0a1

[Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.stage.mozaws.net"

[2016-09-12 16:43] lmorchard opened #1340 "Figure out L10n for YAML flat file content"
Moving to flat files & static site generation, we have content in YAML that we want localized. What do?

Here's an idea:
- Take the filename and property names in YAML as L10N string ID prefixes
- Hash the string content, use that as L10N string ID suffix
- Generate an en-us .ftl file from the YAML content files using those L10N string IDs
- Use those L10N string IDs in HTML page content, both in

[2016-09-12 16:50] chuckharmston commented on #1340
There may be times when we may want to change the `en-US` wording, but the meaning doesn't significantly change. If we do automated hashing of the content, we lose the ability to be judicious about when we do and do not need changes in localization, and if we're localized across a bunch of languages, there's a significant penalty to that, especially since it's community work we'd be invalidating.

[2016-09-12 17:21] dannycoates commented on #1327
I got this working as two separate prompts because it was easier to implement. Here's an gif of what it looks like in action:

![foo](https://cloud.githubusercontent.com/assets/87619/18445210/5924bb9e-78d1-11e6-8b5e-7944dde1a17e.gif)

@sevaan @johngruen  Is that good enough, or should I spend more effort to get it working in a single notification bar?

[2016-09-12 17:29] sevaan commented on #1327
I think the two separate prompts is fine. The extra action only makes the change of state even more noticeable.

Could we remove the icon pulse from the Thank You bar?

On Fri, Sep 09, 2016 at 4:45 PM Danny Coates

<
mailto:Danny Coates notifications@github.com

a, pre, code, a:link, body { word-wrap: break-word !important; }

https://github.com/sevaan
what style is that button using? I see we're

[2016-09-12 17:36] MattGrimes commented on #1327
@sevaan @johngruen that is gorgeous. I'm thinking this should be implemented in Heartbeat proper as well. We'll want to keep an eye on what this does to participation rates though. @rayborn do you want to own that?

[2016-09-12 17:40] johngruen commented on #1327
@MattGrimes, yeah, we had enough people griping about the new tab, that it felt like the right choice. @ckprice maybe we could flag this with a GA event as well?

[2016-09-12 20:50] gaby2300 commented on #1204
Hello Paul,

My antivirus is ESET, Nod 32. The setting I changes was the one about the
SSL's protocol scan, I disabled it according to the following steps:
http://support.eset.com/kb3126/

I hope this will useful to you and other users facing similar problems, I
am always happy to help!

On 12 September 2016 at 12:01, Paul Oiegas - SoftVision <
notifications@github.com> wrote:

[2016-09-12 21:05] lmorchard commented on #1340
Definitely a good point. What would that look like, technically speaking? I'm hoping to find some way of coming up with IDs that doesn't involve manually handcrafting them for every string in every experiment.

Off the top of my head, I have this terrible idea: Every YAML string can also be an array - `[1, "String"]` where the `1` is a manually chosen unique ID and `"String"` is the string. Plain

[2016-09-12 21:10] chuckharmston commented on #1340
We update the l10n IDs manually when we feel that the meaning changes sufficiently to warrant a relocalization, rather than relying on the hash to doing it for us.

I'm not sure how applicable this is to what you're considering, but in my early attempts at this problem, I generated the l10n IDs from a unique identifier for the page (e.g. [data definition](https://github.com/chuckharmston/testpilot

[2016-09-12 21:10] #1339 closed, assigned to nobody

[2016-09-12 21:25] lmorchard commented on #1340
Also, it occurs to me if tweak wording without changing meaning is the most common case, we could do something more like this:

[code]

That yields an l10n-id of `activity-stream-title` by default. Later, we change it to this:

[code]

Which yields an l10n-id of `activity-stream-title-2016-09-12` with the manual suffix. The date isn't significant, it could be `branding-change-centre` or whatever.

[2016-09-12 21:26] chuckharmston commented on #1340
# r+ :shipit:

[2016-09-13 14:03] johngruen commented on #1333
https://github.com/mozilla/blok/issues/12

[2016-09-13 14:10] johngruen commented on #1333
@ckprice could we implement this toggle without UI and just call it out in the short privacy notice?

[2016-09-13 19:01] johngruen commented on #1307
@lmorchard: settings menu should only appear if the user has the add-on installed

[2016-09-13 19:16] lmorchard commented on #1307
That's what I'm seeing... are you seeing something different?

[2016-09-13 19:18] dannycoates commented on #1307
I also see settings without the addon

[2016-09-13 19:43] ckprice commented on #1307
Can't see a couple GA events/pageviews firing
- Viewing the home page without the add-on installed ([ref](https://github.com/mozilla/testpilot/blob/6bd599eb1c3396883a7a98acaf6671dd49e03132/frontend/src/app/views/landing-page.js#L39)).
- Clicking `Proceed` on retiring modal and going to the retire page ([ref](https://github.com/mozilla/testpilot/blob/6bd599eb1c3396883a7a98acaf6671dd49e03132/fronten

[2016-09-13 20:30] johngruen commented on #1307
@dannycoates @lmorchard I wonder if this could be some kind of issue with the groundcontrol add-on. I can't repro on a clean profile

[2016-09-13 21:09] johngruen commented on #1307
@lmorchard having a bit of trouble seeing the 'add-on installed' state on this branch

STR:
- Create a new profile in dev edition
- Turn xpi signatures off
- go to localhost:8000
- install the add-on
- I see the secondary onboarding tab fire, but no redirect to /experiments
- go to about:config
- set the testpilot.env to `local`
- refresh
- still see the add-onless landing page when i refresh loca

[2016-09-13 21:13] lmorchard commented on #1307
@johngruen So, localhost:8000 won't work - you still have to use testpilot.dev:8000, because there's no recognized environment for localhost in the add-on.

Also, you have to set testpilot.env to local before you try installing the add-on. None of the events involved in telling the web frontend about add-on installation will work if that env is not set ahead of time.

All of this applies to both t

[2016-09-13 21:23] johngruen commented on #1307
@lmorchard yeah that's what i figured, but when i go to testpilot.dev:8000 (w/ or w/o add-on) i get a timeout.

<img width="869" alt="screen shot 2016-09-13 at 11 21 56 pm" src="https://cloud.githubusercontent.com/assets/3323249/18491955/30acc61e-7a09-11e6-9442-a8f2cb9663a7.png">

[2016-09-13 21:30] lmorchard commented on #1307
Are you running Docker at the same time? (shouldn't be) What does Gulp say when it starts up? At some point it should say "Server started http://0.0.0.0:8000". And also you should still have testpilot.dev in your /etc/hosts from Docker setup

[2016-09-13 21:34] johngruen commented on #1307
@lmorchard yes to all:
docker not running, terminal reporting gulp server correctly...
in /etc/hosts i have
`192.168.99.100 testpilot.dev`

[2016-09-13 21:35] lmorchard commented on #1307
Okay, that needs to be changed to:

[code]

[We recently changed that when we moved the project to use Docker for Mac](https://github.com/mozilla/testpilot/blob/master/docs/development/quickstart.md#os-x-hosts)

[2016-09-13 21:37] johngruen commented on #1307
@lmorchard that did it. thank you!

[2016-09-13 21:58] dannycoates commented on #1307
When a download fails the button remains in the enabling state.

<img width="440" alt="screen shot 2016-09-13 at 2 54 14 pm" src="https://cloud.githubusercontent.com/assets/87619/18492859/57a0f714-79c2-11e6-9186-625854f1963f.png">

[2016-09-13 22:27] dannycoates commented on #1307
I get the feeling some of the things in `this.state` of ExperimentPage.js like `isEnabling` would be better as props managed by redux so that actions from outside can easily change them... @lmorchard @chuckharmston ?

[2016-09-13 22:39] chuckharmston commented on #1307
@dannycoates What do you mean? Still haven't dug into this PR, but whether state or props (99% of the time if there's a question you should be using state*), you'd want to set up an event handler in this app that fires the action when told to by the add-on.

\* That is to say, the connected components should be passing state down to children as props.

[2016-09-13 23:24] dannycoates commented on #1307
Sorry, my inexperience with React (jargon) is making it more difficult to communicate.

In this particular case take a look at the usage of `isEnabling` in [ExperimentPage.js](https://github.com/mozilla/testpilot/blob/development-static/frontend/src/app/components/ExperimentPage.js). Since its "local" to the Component when a [download-failed](https://github.com/mozilla/testpilot/blob/development-s

[2016-09-13 23:33] chuckharmston opened #1343 "Use SSL on dev site"
Similar to #1329, we should be using SSL on our development site.

I believe the flatfiles move will close this issue, but I'm still filing it as a discrete requirement for our stack in the event that it does not.

[2016-09-14 00:05] pdehaan commented on #1343
Dupe of #548?

[2016-09-14 00:56] chuckharmston opened #1344 "Use mozAddonManager in more places."
Now that #1223 has been closed, we should investigate other ways we can use `mozAddonManager` to improve our UX and simplify our code. Some ideas:
- Remove the need to discretely install the Test Pilot add-on (#1331).
- Uninstall the Test Pilot add-on from the website.
- Installing and uninstalling experiments.
- Detect incompatible or conflicting add-ons (#944)

Ultimately, this should allow us t

[2016-09-14 13:39] lmorchard commented on #1307
Hmm, there _is_ an [`inProgress`](https://github.com/mozilla/testpilot/blob/development-static/frontend/src/app/lib/addon.js#L136) on experiments in the redux store. But, it looks like I didn't end up using it on the experiment page - [I just use it as an index for finding the last experiment being installed, if I can't find it another way](https://github.com/mozilla/testpilot/blob/development-sta

[2016-09-14 13:43] sevaan commented on #1335
@chuckharmston I'm not sure I fully understand the UX ask here. Could you clarify further (screenshots could be helpful if applicable)?

[2016-09-14 13:53] SoftVision-CosminMuntean opened #1345 "There is no domain validation for email address on the displayed newsletter pop up after installation"
[Affected versions]:
- Nightly 51.0a1

[Affected Platforms]:
- All Windows

[Steps to reproduce]:
1. Open Firefox and navigate to testpilot.firefox.com.
2. Click on "install the Test Pilot add-on" button and follow the steps to install it.
3. After installation, click on the text box for newsletter sign up from the displayed pop up.
4. Enter an email address without a domain (eg: "test@") and clic

[2016-09-14 14:27] sevaan commented on #1310
Proposed UX: https://mozilla.invisionapp.com/share/Q77S1H6ZC#/188648739_Old_Firefox_Warning

Instead of just telling a user their Firefox is out of date and leaving them hanging, let's replace the TP installation button with an Upgrade Firefox message/button. Basically this is re-using our Non-FX browser landing page and changing the text.

[2016-09-14 14:53] johngruen commented on #1310
This is ready to go! Thanks @sevaan

[2016-09-14 15:52] johngruen commented on #1307
Here's one: experiments are sorted alphabetically, they should be sorted by `experiment.id`

[2016-09-14 16:03] lmorchard commented on #1307
Cool, that should be a one-liner to fix. The ID is a manual thing in YAML now, so we can use that for manual sorting.

[2016-09-14 16:37] lmorchard commented on #1307
This is merged to master, now. 🎉

Let's file additional issues / submit PRs against master from here.

[2016-09-14 16:37] #1307 closed, assigned to lmorchard

[2016-09-14 16:41] ckprice opened #1346 "Missing GA events (and all pageviews)"
Copying from https://github.com/mozilla/testpilot/issues/1307#issuecomment-246800267

Can't see a couple GA events/pageviews firing
- Viewing the home page without the add-on installed ([ref](https://github.com/mozilla/testpilot/blob/6bd599eb1c3396883a7a98acaf6671dd49e03132/frontend/src/app/views/landing-page.js#L39)).
- Clicking `Proceed` on retiring modal and going to the retire page ([ref](http

[2016-09-14 17:19] chuckharmston opened #1347 "mozAddonManager + e10s issues?"
Reported by @SoftVision-CosminMuntean on the list:

[2016-09-14 17:24] chuckharmston commented on #1347
I've been unable to reproduce this locally. A few notes:
- I have asked for better STR.
- This does look like expected behavior for a `testpilot.env` mismatch; could be a red herring.
- @krupa suggested that there is a whitelist of add-ons that don't disable e10s on install, and I've reached out to the appropriate people to learn about that.

[2016-09-14 17:24] sevaan commented on #1333
This does not seem like highly important information users need to be made explicitly aware of via some sort of UI. It makes sense to alert users to pref switch somewhere in the fine print.

[2016-09-14 17:54] sevaan commented on #1331
A simple/quick way to approach this is to keep the CTA areas, which are pretty eye-catching, and on experiment sub-pages just change the button text:

<img width="1239" alt="screen shot 2016-09-14 at 1 50 04 pm" src="https://cloud.githubusercontent.com/assets/473531/18523424/29c41090-7a82-11e6-88ca-851d02f5703d.png">

Here is what it looks like if we don't have that area and just replace the Enabl

[2016-09-14 17:59] sevaan commented on #1331
The button could change to an "installing" state once clicked on, we'd go through the installation flow, and the page would refresh to display the TP-enabled details page and the experiment tour.

Would have to figure out how email collection fits in there though.

[2016-09-14 18:01] chuckharmston commented on #1331
Two immediate thoughts:
- I'm not sure we even need to say "with Test Pilot". Do users need to know about that bit of sausage-making.
- I think it might make more sense to examine the flow from even farther out. What's our homepage like, if not a CTA to install the Test Pilot add-on?

[2016-09-14 18:32] lmorchard opened #1349 "Optimize React build in gulp, switch to production mode"
React is building in default development mode right now. Switch it to production in CircleCI.

I think this is done with [envify](https://github.com/hughsk/envify), but I've not gotten that working myself yet.

[2016-09-14 18:33] lmorchard opened #1350 "Update docs to describe new static generation & React architecture"
It's all still kind of a mystery. And not the good kind.

[2016-09-14 18:34] lmorchard opened #1351 "Update & re-enable frontend unit tests for React"
Everything's different. The old frontend tests don't work. We should either port them or write new ones. Maybe with [Mocha](https://mochajs.org/) + [Enzyme](http://airbnb.io/enzyme/)?

[2016-09-14 18:35] lmorchard opened #1352 "When a download fails the button remains in the enabling state."
[As reported](https://github.com/mozilla/testpilot/issues/1307#issuecomment-246845942) by @dannycoates in #1307:

[2016-09-14 19:01] muffinresearch commented on #1347
@chuckharmston if you start with no add-ons (clean profile) and e10s enabled you should find you're more likely to hit this case as the installation of the first add-on requires a restart to turn off e10s.

To fix it (show a different ui to tell the user that a restart is needed) you should find you can listen out for a `needsRestart` hint in the various events fired by mozAddonManager https://git

[2016-09-14 19:08] sevaan commented on #1298
This bug doesn't need UX. Those assets are SVGs and so can be coloured with CSS. Can we please have the logos on those pages coloured #0996f8?

Also, the Mozilla logo on that page is not the correct share of blue. It should also be #0996f8, but is instead #1587bf. It is a png however, so ideally should be replaced with an SVG which I'm sure we have somewhere and coloured via CSS as well.

In case

[2016-09-14 20:07] lmorchard commented on #1343
Yeah, dupe of #548, but also we have HTTPS via CloudFront here now:

https://testpilot-static.dev.mozaws.net/

[2016-09-14 20:28] ghost commented on #1327
@dannycoates, @johngruen  - While this is a fantastic UX, I have some questions.

Unless I'm misunderstanding the engineering details, the disadvantage here is that **we won't get the HB rating in SurveyGizmo unless the user decides to go to the survey** whereas now we store the rating upon landing.

If we want to keep this superior user flow _and_ don't want to lose ratings then **we should proba

[2016-09-14 21:00] dannycoates commented on #1327
@rayborn good feedback 👍

Now that I've got it working I can explain how it works, then we can adjust it if we want.

The important cases here are:
1. The user rates the experiment and clicks the survey button
2. The user rates the experiment but **doesn't click the survey button**

Case 1 is exactly the same as today. A new tab opens to the survey url passing along some query parameters (includin

[2016-09-14 21:07] ghost commented on #1327
@dannycoates - awesome, that sounds good and thanks for the clarifications.  I'll ping you about QA.

[2016-09-14 21:29] johngruen commented on #1347
https://bugzilla.mozilla.org/show_bug.cgi?id=1302846

[2016-09-15 02:51] #1352 closed, assigned to lmorchard

[2016-09-15 07:30] johngruen commented on #349
@lmorchard I bet we can close this now :)

[2016-09-15 07:30] johngruen commented on #359
@lmorchard i bet we can close this too

[2016-09-15 08:06] SoftVision-PaulOiegas commented on #1331
@chuckharmston I think the users should know that they get two add-ons instead of one when doing this. Otherwise some of them could end up removing Test Pilot and all the other installed experiments together with it. This is the current behavior when removing Test Pilot from "about:addons" page and you have other experiments installed too.

@sevaan What happens if the user enables one of the exper

[2016-09-15 08:19] johngruen commented on #1331
@sevaan @chuckharmston yeah, following @SoftVision-PaulOiegas I'm not convinced its as simple as changing a button. I think at the very least we'd need a tour to explain what the user just did and what it means.

[2016-09-15 08:20] SoftVision-CosminMuntean commented on #1347
Here is a more detailed version of the steps to reproduce this:

[Affected versions]:
- Firefox beta 49.0 with e10s enabled

[Affected Platforms]:
- All Windows
- All Linux
- All Mac OS

[Prerequisite]:
- Have Firefox beta 49.0 downloaded and create a new clean profile.
- If e10s is not displayed as enabled in "about:support" page, enable it form "about:config" by setting "browser.tabs.remote.auto

[2016-09-15 08:22] johngruen commented on #1347
So there are two possible mitigations for this:
1. We get our patch in here https://bugzilla.mozilla.org/show_bug.cgi?id=1302846 and this becomes moot
2. We back out the mozAddOnManager code until 50 ships.

Obviously we would prefer option 1.

[2016-09-15 08:23] johngruen commented on #1344
In a holding pattern until #1347 is resolved

[2016-09-15 15:54] mathjazz opened #1356 "Remove pontoon.js from production instance"
The [pontoon.js](https://developer.mozilla.org/en-US/docs/Implementing_Pontoon_Mozilla) script is required to allow in-page localization of Test Pilot with [Pontoon](https://pontoon.mozilla.org/).

It only has to be loaded in the environment that is used for in-page localization, e.g. staging server. You can remove it from the production instance.

[2016-09-15 16:06] SoftVision-PaulOiegas commented on #1352
Shouldn't the "Enabling..." animation stop also when trying to enable an experiment with no internet connection ? I get the error bar above but the animation is still spinning after 5 minutes of waiting... Not sure this was fixed entirely.
Tested on dev using WIndows 10 and Mac OS 10.12 (preview).

[2016-09-15 17:37] lmorchard commented on #1356
Hmm, we might have to look into how to do that - we don't have separate dev / stage / prod builds, they're all the same except for maybe a few per-environment configuration settings

[2016-09-15 17:38] chuckharmston commented on #1356
@lmorchard Webpack will let us do that :)

[2016-09-15 17:38] lmorchard commented on #1356
Well, so can gulp, if we want to make per-environment builds. It's just that we intentionally don't do that - in part to be sure there are no differences between environments, because differences mean surprises. In part, that's also an artifact of the single Docker image we build & test & ship around. We could probably do this differently post-static-deployment

[2016-09-15 19:03] #1316 closed, assigned to johngruen

[2016-09-15 19:03] #1317 closed, assigned to johngruen

[2016-09-15 19:16] pdehaan commented on #1316
![](http://i.imgur.com/IT6Yh.gif)

[2016-09-15 19:21] lmorchard opened #1358 "Use localhost:8000 instead of testpilot.dev:8000 for local environment?"
Currently, even with gulp & react, we still need to use a testpilot.dev entry in /etc/hosts.

We only really needed to do that for Docker - and even then, only when it was running in a VM on a private network IP before Docker for Mac. We don't need that now for the new gulp + flat files + static pages + react world.

So, we could:
- [ ] Change the add-on 'local' env to use local host
- [ ] Update

[2016-09-15 19:29] chuckharmston commented on #1358
In order to develop against `mozAddonManager` (#1223, #1344) locally without needing to MITM yourself, it'd be great if we used a predictable hostname that we could get on the `mozAddonManager` whitelists (or we could use example.com, which is on the whitelist already.

Also #1329

[2016-09-15 19:44] johngruen opened #1360 "Implement in product restart Prompt for e10s users in 49"
Per: https://bugzilla.mozilla.org/show_bug.cgi?id=1302846

The issue is that we need to get all Test Pilot experiments on the e10s whitelist for FF49 if we want e10s users to avoid browser restart. If we are unable to make this list, we need a graceful fallback. Fortunately, mozAddonManager allows for [in-content restart UI](https://github.com/mozilla/addons-frontend/pull/568).

@chuckharmston her

[2016-09-15 19:57] lmorchard commented on #1358
Ah, okay, I forgot about that caveat. So maybe that is one remaining reason to keep the custom hostname

[2016-09-15 20:06] chuckharmston commented on #1360
Best I can tell, we cannot trigger a restart from `mozAddonManager`; just find out if one is necessary. @andymckay can you confirm that?

[2016-09-15 20:08] johngruen commented on #1360
@chuckharmston yeah, we can't do anything actionable here. Leaving this open for now to track decisions.

[2016-09-15 20:26] andymckay commented on #1360
Confirmed

[2016-09-16 04:31] chuckharmston commented on #1099
@ckprice What do you mean by "clicked into this tab"?

[2016-09-16 05:04] chuckharmston commented on #1099
@ckprice I'm going to add `copy` to this set unless there's an objection.

[2016-09-16 05:22] chuckharmston opened #1362 "React not logging pageviews"
Per our [GA documentation](https://github.com/mozilla/testpilot/blob/9340be7168e663f0fc5efef1867d8129b86440e8/docs/metrics/ga.md#pageviews), we should be logging GA pageviews.

This seems not to have survived the Reactpocalypse.

[2016-09-16 08:27] SoftVision-PaulOiegas commented on #1316
I still think that maybe the UI is a bit too large. On a 13 inch MacBook Pro Retina you still have to scroll the page to reach the footer links. But maybe it's only me. :smiley:

[2016-09-16 08:52] johngruen commented on #1197
I'll do this on the plane tomorrow

[2016-09-16 09:04] johngruen commented on #1208
@lmorchard assuming we ship the backend migration this train, I can pick this issue up.

[2016-09-16 16:05] ghost commented on #1362
Les & Chuck suggest putting this in the router!

[2016-09-16 16:09] ghost commented on #1358
I'm a fan of this!

[2016-09-16 16:10] chuckharmston commented on #1347
See also #1360

[2016-09-16 16:12] ckprice commented on #1346
The router is a good spot for this!

[2016-09-16 16:13] ckprice commented on #1362
Closing for #1346 (also assigning Les to #1346).

[2016-09-16 16:13] #1362 closed, assigned to lmorchard

[2016-09-16 16:18] lmorchard commented on #359
Yup! Closing.

[2016-09-16 16:18] #359 closed, assigned to nobody

[2016-09-16 16:19] lmorchard commented on #839
Is this still needing to be done or discussed? Or did we do it somewhere else?

[2016-09-16 17:36] chuckharmston opened #1363 "Consider using CSS modules"
We should consider using [CSS modules](https://github.com/css-modules/css-modules). It feels strange at first, but does a great job of tightly coupling styles to components, avoiding deep nesting, and preventing brittle reliance on cascading.

For React: https://github.com/gajus/react-css-modules

[2016-09-16 17:41] chuckharmston opened #1364 "Consider separating containers from components"
It's a common practice for React apps to separate components into two directories: `containers` for anything handed off to a `Route`, and `components` for everything else. We should consider doing this.

[2016-09-16 18:05] lmorchard commented on #1364
We have containers for a few components in the router - do you mean that _all_ the "pages" should be container components? I skipped a bunch, because they're basically just stateless content. But that is admittedly inconsistent.

I was also trying to figure out if maybe we could do it in the _other_ direction - that is, one App container wrapping the router that passes all the store selector & dis

[2016-09-16 18:05] johngruen commented on #1360
it should
[ ] ask users to restart
[ ] on browser restart open test pilot tab(s)

[2016-09-16 18:06] johngruen commented on #1360
@chuckharmston it's on

[2016-09-16 18:17] chuckharmston commented on #1360
Clarification on that last point: on Test Pilot add-on initialization, if Test Pilot has never been started before and there are no open tabs with the domain for the current add-on environment, open a tab to that environment’s homepage.

[2016-09-16 18:33] chuckharmston commented on #1360
We should probably be instrumenting this somehow, so we can understand just how this all affects conversions. @ckprice @johngruen

[2016-09-16 19:48] chuckharmston opened #1367 "Move component state to Redux store"
In most cases, things you'd consider storing as component-level state may be helpful for other components to know. For example:

https://github.com/mozilla/testpilot/blob/622e5285dae57a3952817aa29ea2854f884db5ec/frontend/src/app/components/MainInstallButton.js#L11

We currently store `isInstalling` on the install button's component. If this is stored in the Redux store, the email modal component w

[2016-09-16 21:56] johngruen commented on #1360
@chuckharmston agree. let's figure out how on monday maybe we add a special GA event for users who see the 'please restart' page, and a follow on event when users see the test pilot page on restart.

[2016-09-16 22:32] chuckharmston commented on #1360
I'd suggest something a little larger in scope than that:
- Event: user sees CTA
  - Dimension: is user on homepage or experiment detail page?
  - Dimension: can user use `mozAddonManager`?
- Event: user clicks install button
  - Dimension: is restart required?
- Event: user shown "must restart" modal.
- Event: add-on opens homepage after restart
  - We'd want `utm_`s for this.

This should let us

[2016-09-17 23:43] chuckharmston commented on #610
Proposal for an end state: a very, very thin version of Django's `apps` functionality:

[code]

If we refactor settings into its own module, we can even drop that from the `setup`/`teardown` signatures and let each import it independently as necessary without having to worry about circular requires.

[2016-09-18 15:03] chuckharmston opened #1370 "Benchmark add-on startup speed"
While writing #1369, I noticed that the vast majority of our (relatively slow) installation process happens in the add-on initialization, rather than in the installation. Check out the differences between this videos showing [installation only](https://vid.me/rrPw) vs [installation + initialization](https://vid.me/LLC8).

Let's benchmark the init process, find out where the issues are, and see wha

[2016-09-18 15:16] chuckharmston opened #1371 "Use constants for action names"
Rather than use magic string names for action names, we should use and exports constants, e.g.

[code]

vs

[code]

[2016-09-18 16:11] chuckharmston opened #1372 "Move BaseAppRedirector redirection logic into components"
The [BaseAppRedirector](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/lib/router.js#L32-L52) logic is sort of gnarly and is probably not the right place for the logic.

A more idiomatic way to do this would be to write wrapping components to encapsulate the logic, acting sort of like Python decorators. In that world, the `ExperimentsListPage` render method might return somethin

[2016-09-18 18:22] chuckharmston opened #1373 "Restructure experiments store"
The experiments bit of the store currently looks like this:

[code]

I'd suggest two restructures:
1. Removing the awkward `experiments.experiments` naming.
2. Store experiments in an object, with `slug:  {}`, to make references easy.

It might look like this:

[code]

We lose any sorts, but that is controller logic, not data logic.

[2016-09-18 19:21] johngruen commented on #1367
we should do this at some point.

[2016-09-18 19:45] chuckharmston opened #1374 "On add-on first run, open Test Pilot"
Breaking out from #1360:

On add-on first run, if there are no open test Test Pilot tabs, one should be opened. This is primarily intended to cover the restart-required use case, but may be more broadly useful.

[2016-09-18 19:47] chuckharmston opened #1375 "Insturment the restart-required flows when using mozAddonManager"
Breaking out of #1360.

My suggestion from that thread:

CC @ckprice

[2016-09-18 19:50] chuckharmston opened #1376 "Use .jsx extension for files that use JSX."
Mostly just to give GitHub a hint, e.g.

[code]

[code]

[2016-09-18 19:53] chuckharmston commented on #1367
For a less contrived example of how this might be useful, see the `addon.restart` store bits in https://github.com/mozilla/testpilot/pull/1369.

[2016-09-19 00:25] #349 closed, assigned to nobody

[2016-09-19 00:28] johngruen commented on #197
@6a68 We're now using snake case to refer to data coming in from the yaml. Do you still feel like this is an issue? I find it useful since it gives a visual indicator of where this stuff comes from.

[2016-09-19 00:28] johngruen commented on #197
Closing for now, feel free to reopen.

[2016-09-19 00:28] #197 closed, assigned to lmorchard

[2016-09-19 00:30] johngruen commented on #608
@meandavejustice I actually don't know what you mean by 'random surveys' here. Closable?

[2016-09-19 15:50] lmorchard commented on #1371
I was kind of torn on using constants. It seemed like redundant boilerplate, because the action names can also just be the names of the <strike>action creator</strike> reducer functions.

That said, `createActions` will automagically turn snake-case constants to camel-case names - `ADDON_SET_INSTALL_STATUS` can become `addonSetInstallStatus`. Neat, but I didn't like the implied magic.

[2016-09-19 16:18] lmorchard commented on #1372
Yeah, BaseAppRedirector is a sore spot. It works, but it didn't feel like I was doing the right thing. Improvements definitely welcome here.

[2016-09-19 16:20] lmorchard commented on #1373
Yeah, we're [sorting explicitly by `id` in the card lists now](https://github.com/mozilla/testpilot/blob/master/frontend/src/app/components/ExperimentCardList.js) anyway. So, this is a fine idea.

[2016-09-19 16:21] johngruen commented on #1328
@lmorchard I already put together an PR for #1208 that assumes YAML, but I suppose this + that one will require some kind of django migration until we deploy statically. Would it make sense for me to get a YAML only PR together for this one to accompany my other PR then open a follow on issue for you or @dannycoates add the appropriate stuff to django?

[2016-09-19 16:32] #1097 closed, assigned to chuckharmston

[2016-09-19 16:32] #1099 closed, assigned to chuckharmston, ckprice

[2016-09-19 16:32] #1086 closed, assigned to chuckharmston

[2016-09-19 17:32] #1360 closed, assigned to chuckharmston

[2016-09-19 18:28] ckprice commented on #1375
I think we are okay with adding/updating 3 pings here. (/cc @garethcull)

## ~~Indicate if a user will require a restart after he or she installs Test Pilot.~~

~~If we set [a custom dimension with the `pageview`](https://github.com/mozilla/testpilot/blob/master/docs/metrics/ga.md#custom-dimensions), it will remain with the user for their entire session and we can link back to it on any subsequent

[2016-09-19 18:52] chuckharmston commented on #1375
Unfortunately, that's not possible. We can only know this after the install has finished.

[2016-09-19 19:04] adamopenweb opened #1380 "CSP Error on GA pings"
Reported originally on webcompat.com https://github.com/webcompat/web-bugs/issues/3219
The user was unable to enable Activity Stream due to CSP error. I was able to reproduce the issue once, but not again.

URL: https://testpilot.firefox.com/experiments/activity-stream?utm_source=testpilot-addon&utm_medium=firefox-browser&utm_campaign=testpilot-doorhanger&utm_content=not+badged
Browser / Version:

[2016-09-19 19:16] chuckharmston commented on #1375
Implemented the `utm_` tags for the opened tab here: https://github.com/mozilla/testpilot/pull/1379

[2016-09-19 20:22] #1374 closed, assigned to chuckharmston

[2016-09-19 20:26] ckprice commented on #1333
This was given a thumbs up in theory by Marshall/Elvin pending the addition of a bullet to the already approved Privacy Notice. I'll come back to this bug once the PN has been approved, but I would recommend we start implementation here.

[2016-09-19 21:58] #1375 closed, assigned to ckprice

[2016-09-19 22:55] #1197 closed, assigned to johngruen

[2016-09-19 23:59] #1327 closed, assigned to dannycoates

[2016-09-20 14:16] johngruen commented on #1011
I sort of feel like this isn't a thing anymore. will confirm in a bit

[2016-09-20 14:18] johngruen commented on #671
Being fixed in #1310

[2016-09-20 14:18] #671 closed, assigned to nobody

[2016-09-20 15:20] chuckharmston opened #1382 "Add notification of mismatch between testpilot.env pref and site being viewed."
We should add to the add-on a content script that injects a small notice to the top of any of our environments if the URL mismatches with the `testpilot.env` setting.

Lots of issues caused by a mismatch, this should do a lot of work toward remediation.

[2016-09-20 15:44] SoftVision-PaulOiegas opened #1383 "Installing dev Test Pilot add-on without the environment pref previously set, opens a 3rd tab with production "Experiments" page"
[Notes]:
- Since this probably won't happen on production, it's not really a bug, but this causes some odd side effects after. We might need to look into those to be sure that the code is "bulletproof" from any point of view. Added screen recordings for all of them so check those out.
- This appeared after Chuck merged #1379.

[Affected versions]:
- Nightly 52.0a1

[Affected Platforms]:
- All Wind

[2016-09-20 15:54] SoftVision-CosminMuntean opened #1384 "Clicking the "View all experiments" button from "Test Pilot" doorhanger, wrongly redirects to a "Four Oh Four!" page"
[Affected versions]:
- Firefox 48.0.2 and up

[Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisite.
2. Click on the "Test Pilot" spaceship icon

[2016-09-20 16:01] SoftVision-CosminMuntean opened #1385 "The new onboarding UI has no content for most experiments on dev server"
[Affected versions]:
- Firefox 48.0.2 and up

[Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisite and navigate to testpilot.dev.mozaws.net/exp

[2016-09-20 16:24] ckprice opened #1386 "Update style and copy on 'restart required' modal"
Had a meeting with Winston today and he had some recommendations on this page. Current implementation: https://vid.me/4Mq9
- Increased font size on the 'Restart' CTA. Maybe bring it to the top.
- Add an 'almost done' implication to the strings.

Current strings ([ref](https://github.com/mozilla/testpilot/blob/master/locales/en-US/app.ftl#L146))
- `restartRequiredHeader` = Test Pilot Installed!
- `

[2016-09-20 16:26] SoftVision-PaulOiegas opened #1387 "If you chose to install Test Pilot before experiments page section is loaded, that area never loads and the redirect is never made after installation"
[Affected versions]:
- Nightly 52.0a1

[Affected Platforms]:
- All Windows
- All Mac OS
- All Linux

[Prerequisites]:
- The string pref "testpilot.env" with "dev" value was added in "about:config" page on a new Firefox profile.

[Steps to reproduce]:
1. Open Firefox browser.
2. As fast as you can click the "Install the Test Pilot add-on"  button after navigating to testpilot.dev.mozaws.net page.
3

[2016-09-20 16:36] #1356 closed, assigned to lmorchard

[2016-09-20 16:44] chuckharmston commented on #1347
Closing this with #1369, #1379, #1381

[2016-09-20 16:44] #1347 closed, assigned to nobody

[2016-09-20 16:46] lmorchard commented on #1328
It probably doesn't make sense to duplicate new features like this in Django if we're just going to throw it away in a few weeks (hopefully).

Here's another option I mentioned in IRC last night: We _can_ actually use the flat files content on Django. There's a waffle switch in admin to swap from using the DB to using content from YAML.

The catch, though, is that we can't update content on the si

[2016-09-20 17:03] chuckharmston commented on #1387
I'm going to `wontfix` this because it's a fleeting edge case. It will only happen when you get the browser doorhanger to install the add-on, which will only happen if:
1. You are not using SSL.
2. You are testing on dev or stage without `extensions.webapi.testing` set to `true`.

#1 will be remediated shortly when we ship flatfiles, and as this sprint completes, #2 will be a prerequisite for doin

[2016-09-20 17:03] #1387 closed, assigned to nobody

[2016-09-20 17:05] johngruen commented on #1328
@lmorchard @clouserw straw plan:

We get everything in place with the YAML for our deployment. We delay tagging until Friday this sprint to acommodate last minute changes to various XPIs and copy. We add the new experiments in the yaml and add a `show_after` flag with our intended launch date (we could even add a `butimspecial`) query sring so soft vision could see the upcoming experiments.

Thoug

[2016-09-20 18:05] #1350 closed, assigned to lmorchard

[2016-09-20 20:59] #1039 closed, assigned to nobody

[2016-09-20 21:35] johngruen opened #1392 "Add next launch experiments to YAML"

[2016-09-20 21:35] johngruen opened #1393 "Add start_after field to YAML so we can ship stuff in yaml without it launching"

[2016-09-20 21:41] pdehaan commented on #1392
Also, based on that stellar commit message above, we should update the https://github.com/mozilla/testpilot/blob/master/.github/ISSUE_TEMPLATE.md to include the 3 new experiments, as well as "no-more-404s" experiment; which we haven't added yet.

[2016-09-20 21:45] johngruen commented on #944
@chuckharmston, lets user $eol-light-orange as the background and $eol-orange as the border

[2016-09-20 22:07] #1386 closed, assigned to johngruen

[2016-09-20 23:13] ckprice opened #1395 "Update GA in addon to send a daily ping"
In #1359 we added GA to the addon to capture event-based actions.

We need to re-implement a timer to send this once per day to create a secondary resource for DAU.

Ref: [we used to have this](https://github.com/mozilla/testpilot/commit/da011b5852b11a6b15b3d0c328e9ebb897139d9d).

[2016-09-20 23:39] #1208 closed, assigned to johngruen

[2016-09-21 09:12] SoftVision-PaulOiegas commented on #1011
Just an opinion. I think this is the right flow. Some users maybe just want to disable Test Pilot so they won't get any push notifications or something, but keep using the other experiments. I feel like we would be forcing the user in a way if we consider this.
Indeed, the uninstall flow was implemented like this, but there has more sense...

[2016-09-21 13:56] chuckharmston commented on #1011
@SoftVision-PaulOiegas The experiments have some technical dependencies on Test Pilot for metrics and other things.

[2016-09-21 16:07] lmorchard commented on #528
Let's close this one - we're dropping elastic beanstalk with the move to static deployment

[2016-09-21 16:07] #528 closed, assigned to lmorchard

[2016-09-21 16:08] lmorchard commented on #525
This will be super-easy to do with static deployment on circleci and doesn't need special work or research

[2016-09-21 16:08] #525 closed, assigned to lmorchard

[2016-09-21 16:17] ghost commented on #1346
@ckprice please confirm with people when you assign them issues.  thanks!

[2016-09-21 16:20] lmorchard commented on #1351
Going to say this is closed, though frontend tests need to be backfilled now that we have a system to support them

[2016-09-21 16:21] #1351 closed, assigned to lmorchard

[2016-09-21 16:23] lmorchard opened #1399 "Backfill frontend tests for new React system"
In #1351, we added a new system for frontend unit tests with React. That PR only came with 2 tests. We should backfill the rest.

[2016-09-21 16:36] ckprice commented on #1346
Eh, this was a dupe of https://github.com/mozilla/testpilot/issues/1362#issuecomment-247641915 which Les took. It was discussed in the meeting, but I can try to be pingier.

[2016-09-21 16:36] dannycoates opened #1400 "Add a "rated" telemetry ping"
Ratings through SurveyGizmo are only recorded if the user clicks through the first page of the survey. This excludes ratings from the results when users rate the experiment but either close the survey or choose not to do it, as introduced in #1353

@rayborn [suggested](https://github.com/mozilla/testpilot/pull/1353#issuecomment-247516980) we should add this to telemetry.

[2016-09-21 18:29] #1337 closed, assigned to ckprice

[2016-09-21 19:20] chuckharmston opened #1403 "Only send installed add-ons to website once."
#1402 introduces a second call of `AddonManager.getInstalledAddons`, sending the full, unfiltered list of installed add-ons to the website, rather than just a list of the installed experiments.

We should only send one list of installed add-ons, segmented:

[code]

[2016-09-21 19:30] johngruen opened #1404 "Clicking 'View all experiments' on doorhanger goes to 404 on stage and dev"
## STR
- Set env to stage,
- Click View all experiments in the add-on doorhanger
## Result
- 404
## Expected
- goes to /experiments

[2016-09-22 01:11] #1404 closed, assigned to nobody

[2016-09-22 01:40] dannycoates commented on #1384
fixed by #1408

[2016-09-22 01:40] #1384 closed, assigned to nobody

[2016-09-22 19:09] #1310 closed, assigned to johngruen

[2016-09-22 21:55] #1393 closed, assigned to johngruen

[2016-09-22 22:31] #1392 closed, assigned to johngruen, ckprice

[2016-09-22 22:37] ckprice opened #1411 "Final configurations for new experiments"
In #1392 we pushed out partially complete YAML pages so review could happen outside of a local environment. This is opened as a follow-up and needs to be closed before launch
- [x] Confirm contributors (#1416)
- [x] Confirm tour/detail image copy (#1430)
- [x] Confirm final XPI & ID's (#1436)
- [x] Discourse needs to be set up (Bugs [1304878](https://bugzilla.mozilla.org/show_bug.cgi?id=1304878),

[2016-09-23 01:20] dannycoates opened #1412 "Addon panel not fully visible on lower res screens"
<img width="1024" alt="screen shot 2016-09-22 at 6 14 48 pm" src="https://cloud.githubusercontent.com/assets/87619/18771086/d391777e-80f0-11e6-8839-436dfbdce5ee.png">

At 1024x640 "View All Experiments" isn't visible and there's no scrolling.

[2016-09-23 01:50] johngruen commented on #1385
@SoftVision-CosminMuntean I think this is resolved now

[2016-09-23 01:51] johngruen opened #1413 "NEW addon icon does not appear on dev"
I didn't see an add-on badge when the new experiments went to dev.

[2016-09-23 02:05] johngruen commented on #1385
Confirmed fixed

[2016-09-23 02:05] #1385 closed, assigned to nobody

[2016-09-23 03:17] johngruen commented on #1411
contribs added in #1416

[2016-09-23 03:42] chuckharmston opened #1418 "Getting prompted to upgrade above 45 when using 48"
Seeing this on stage as of our push this evening:

<img width="1085" alt="screen shot 2016-09-22 at 9 40 17 pm" src="https://cloud.githubusercontent.com/assets/23885/18773537/47ddadc0-810d-11e6-8c87-382910f61af2.png">

cc @johngruen, I think you touched this.

[code]

[2016-09-23 03:43] johngruen commented on #1418
@chuckharmston check dev, i think @dannycoates fixed this bad boy

[2016-09-23 03:50] chuckharmston opened #1419 "Onboarding page not displayed after forced restart"
Reported by @SoftVision-PaulOiegas in email.

When restarting the browser to disable e10s, the onboarding page is not shown, but the new Test Pilot tab is shown as expected.

@johngruen Confirm that you want both to be opened?

[2016-09-23 03:54] johngruen commented on #1419
@chuckharmston both would be preferred, but not a blocker.

[2016-09-23 03:58] chuckharmston opened #1420 "Restart tab always being opened"
Reported by @SoftVision-PaulOiegas in email.

When restarting the browser to disable e10s, a new Test Pilot tab should only be opened if no Test Pilot tabs are already opened (i.e. if the session wasn't restored.) We currently are opening one no matter what. I can't reproduce this locally, and suspect that this indicates a timing issue with `sdk/tabs` (i.e. addon init code is running before the li

[2016-09-23 04:01] chuckharmston commented on #1420
On IRC, John indicated a preference to always open the tab.

[2016-09-23 04:23] dannycoates commented on #1412
I added some scrolling...
![foo](https://cloud.githubusercontent.com/assets/87619/18774112/a11b48be-810a-11e6-99b3-5d2c2a1b2694.gif)

[2016-09-23 05:12] chuckharmston opened #1422 "Email subscription modal not shown on addon-opened tab after a forced restart"
Reported by @SoftVision-PaulOiegas in email.

When restarting the browser to disable e10s, we should ensure that the new Test Pilot tab includes the email subscription modal.

[2016-09-23 05:14] chuckharmston commented on #1420
In #1421 I am always opening the tab. I don't like that we're taking some users from 1 tab to 3, but I'm not terribly inclined to spend time trying to fix the timing issues, since it doesn't prevent any user behavior and will only apply once to a smallish cohort of users.

@johngruen Feel free to disagree, otherwise I'll close this when #1421 merges.

[2016-09-23 12:06] johngruen opened #1423 "Duplicate `experiments card-list` div pushes experiments down on ExperimentsListPage"

[2016-09-23 13:08] sevaan commented on #1412
Looks great, Danny! +r

On Fri, Sep 23, 2016 at 12:23 AM Danny Coates

<
mailto:Danny Coates notifications@github.com

a, pre, code, a:link, body { word-wrap: break-word !important; }

I added some scrolling...
https://cloud.githubusercontent.com/assets/87619/18774112/a11b48be-810a-11e6-99b3-5d2c2a1b2694.gif

—

You are receiving this because you were assigned.

Reply to this email directly,
https

[2016-09-23 13:35] johngruen commented on #1411
user counts dealt with in #1425

[2016-09-23 14:39] #1423 closed, assigned to nobody

[2016-09-23 15:00] #1333 closed, assigned to dannycoates

[2016-09-23 15:12] johngruen commented on #1411
Images finalized in: #1426

[2016-09-23 15:29] johngruen commented on #1411
@clouserw and I just realized we can skip the launch_date field and just throw the waffle flag on prod

[2016-09-23 15:30] #1418 closed, assigned to nobody

[2016-09-23 15:30] johngruen commented on #1418
Fixed in #1415

[2016-09-23 15:56] johngruen commented on #1411
Min Version and prefeeback added to tracking protection: #1427

[2016-09-23 16:09] ghost commented on #1413
RESOLVED INVALID

[2016-09-23 16:09] #1413 closed, assigned to nobody

[2016-09-23 16:18] #1383 closed, assigned to nobody

[2016-09-23 16:19] ghost commented on #1380
Do you have other add-ons or malware installed?  We don't do anything with doubleclick.net which is what is being pinged here.

[2016-09-23 16:31] adamopenweb commented on #1380
I can't speak for the original reporter, @Prranesh?
When I reproduced it was on a clean profile in Firefox Dev Edition for OSX. As for malware, I'd be surprised on my system.

[2016-09-23 16:42] SoftVision-CosminMuntean opened #1429 "Clicking "Home" button from retire page displayed after Test Pilot uninstall, wrongly redirects you to experiments page"
[Affected versions]:
- Firefox 49  and up

[Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisite and navigate to testpilot.dev.mozaws.net/experi

[2016-09-23 17:03] johngruen commented on #1420
@chuckharmston i do not disagree

[2016-09-23 17:07] #1419 closed, assigned to chuckharmston

[2016-09-23 17:07] #1422 closed, assigned to chuckharmston

[2016-09-23 17:10] #1420 closed, assigned to chuckharmston

[2016-09-23 17:20] #1412 closed, assigned to dannycoates, sevaan

[2016-09-23 17:22] ckprice commented on #1346
Closed in #1406

[2016-09-23 17:22] #1346 closed, assigned to lmorchard

[2016-09-23 17:59] johngruen opened #1432 "Change pre feedback string"
request from our copywriter

[2016-09-23 18:15] #1432 closed, assigned to johngruen

[2016-09-23 18:58] ckprice opened #1434 "Experiment pages should use the metadata configured in YAML for social shares"
Looks like the experiment pages are using the Test Pilot logo on experiment pages for `og:image` and `twitter:image`. It should use [the values configured in the experiment YAML](https://github.com/mozilla/testpilot/blob/master/content-src/experiments/min-vid.yaml#L8).

[2016-09-23 19:08] lmorchard commented on #1434
Ugh. Looks like our switch over to static YAML isn't fully easy with Django - it's still using the database for those page templates. We don't have any code in Django to read YAML right now, just to switch the JS frontend over to the JSON built from YAML. That doesn't affect server-generated HTML results.

[2016-09-23 19:13] ckprice opened #1435 "Create docs for YAML configuration"
All our experiments are configured in [YAML files](https://github.com/mozilla/testpilot/tree/master/content-src/experiments) now. Docs giving a short description of each value could be useful.

[2016-09-23 19:51] lmorchard commented on #1434
So, easiest fix (engineering-wise and deployment-wise): Add records for these new experiments in Django admin, use dummy content for all fields except the social thumbnails.

Harder fix, we get Django reading the YAML files to fill in the index.html frontend template when the static switch is turned on.

[2016-09-23 20:06] pdehaan opened #1439 "Install the Test Pilot Add-on button on experiments page 404s"
Found in http://testpilot.dev.mozaws.net/__version__ (aad58349d65f04e75cb05371530a0bc4354f7198):

[code]

---
### Steps to reproduce:
1. Go to http://testpilot.dev.mozaws.net/experiments/min-vid
2. Click the "Install the Test Pilot Add-on" button in the oversized header.
### Actual results:

Page is redirected to http://testpilot.dev.mozaws.net/static/addon/addon.xpi, which is a Four Oh Four! page

[2016-09-23 20:20] pdehaan opened #1440 "Install counts not displayed for new experiments"
Found in http://testpilot.dev.mozaws.net/__version__ (6c3f245b36600947c686141fdd01b0c6915ea221):

[code]

---
### Steps to reproduce:
1. Go to http://testpilot.dev.mozaws.net/
2. Install the Test Pilot add-on. (Set `testpilot.env` to 'dev' in about:config)
3. Go to http://testpilot.dev.mozaws.net/experiments/
### Actual results:

I see install counts for the older experiments, but not for any of t

[2016-09-23 20:23] ckprice commented on #1411
🎉

[2016-09-23 20:23] #1411 closed, assigned to clouserw, johngruen, ckprice

[2016-09-23 20:28] pdehaan opened #1441 "open graph and twitter metadata not in newer in experiments"
Looking at view-source:http://testpilot.dev.mozaws.net/experiments/min-vid and it looks like the `<meta>` tags are Test Pilot generic, not experiment specific:

[code]

&mdash; via view-source:http://testpilot.dev.mozaws.net/experiments/min-vid

---

Conversely, here's what the `<meta>` looks like for Activity Stream:

[code]

&mdash; via view-source:http://testpilot.dev.mozaws.net/experiments/act

[2016-09-23 20:37] lmorchard commented on #1440
This is by design: https://github.com/mozilla/testpilot/commit/4817c11539b74657be79ff4bc6ca5defbefbb175

[2016-09-23 20:37] #1440 closed, assigned to nobody

[2016-09-23 20:37] pdehaan opened #1443 "Link to FAQ 404s in noscript"
Found in http://testpilot.dev.mozaws.net/__version__ (6c3f245b36600947c686141fdd01b0c6915ea221):

[code]

---

The `<noscript>` block has a link to https://github.com/mozilla/testpilot/blob/master/docs/FAQs.md.
Turns out that that link 404s on GitHub, and it should be lowercase [faq.md](https://github.com/mozilla/testpilot/blob/master/docs/faq.md):

[code]

[2016-09-23 20:39] lmorchard commented on #1441
Dupe of https://github.com/mozilla/testpilot/issues/1434

[2016-09-23 20:39] #1441 closed, assigned to nobody

[2016-09-23 20:39] lmorchard commented on #1434
Tweaked title, because it's more than images that are the problem

[2016-09-23 20:49] #1443 closed, assigned to pdehaan

[2016-09-23 20:49] ghost commented on #1439
add-on is in place now

[2016-09-23 20:49] #1439 closed, assigned to nobody

[2016-09-23 21:36] johngruen opened #1445 "Document YAML Fields"
Let's make a doc that tells you how to yaml.

Bonus: let's make a gulp task that cranks out a new YAML.

[2016-09-23 21:54] johngruen commented on #1445
#1435

[2016-09-23 21:54] #1445 closed, assigned to johngruen

[2016-09-26 13:05] SoftVision-CosminMuntean opened #1446 ""Enabling..." state wrongly displayed when disabling an experiment and vice versa if the page is not refreshed between actions"
[Affected versions]:
- Nightly 52.0a1

[Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisite and navigate to testpilot.stage.mozaws.net/experi

[2016-09-26 13:46] johngruen commented on #1363
@chuckharmston gonna kick this out of the 37 Milestone. Let's discuss this some time this weel though.

[2016-09-26 13:48] #1328 closed, assigned to johngruen

[2016-09-26 15:09] SoftVision-PaulOiegas commented on #1300
Just updated this since the behavior widened also to manually removed add-ons. Functionality that used to work before.

[2016-09-26 15:48] SoftVision-CosminMuntean opened #1447 "If Test Pilot is installed from an experiment page, the "Welcome" pop-up is only displayd after navigating to "Experiments" page"
Affected versions]:
- Nightly 52.0a1

[Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisite and navigate to testpilot.stage.mozaws.net.
2. Click on one of the available experiments and click the "Install