[2017-01-10 15:17] #1979 closed, assigned to nobody

[2017-01-10 15:27] SoftVision-PaulOiegas commented on #1982
@luciancor I'll need to investigate this again a bit since I don't think the notification appeared after a long idle period after all. I just assumed since I had multiple profiles opened to test Cliqz and it was randomly displayed on some of them.
But I found out after I logged the bug how I can force the display of it. Disabling and re-enabling the experiment from Test Pilot does the job. However

[2017-01-10 15:30] phlsa opened #2007 "Button label in feedback bar has wrong color on Windows"
The button label for taking a survey is really hard to read on Windows (10). I assume that either the label should have been black or that the button color should have been blue.
![snip_20170110151452](https://cloud.githubusercontent.com/assets/514315/21812009/e4fa3f34-d751-11e6-99db-bcc40a091690.png)

[2017-01-10 15:52] SoftVision-CosminMuntean opened #2008 "[All experiments] The tour pop-up should no longer contain pictures with Test Pilot doorhanger"
[Affected versions]:
- Firefox 50.1.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.firefox.com" page.
2. Choose an available experiment and enable it.
3. Navigate through the pop-up tour and observ

[2017-01-10 15:53] SoftVision-PaulOiegas commented on #2006
Well, from past experiences, it's always good to have some kind of a safety net for localization. Maybe it would be a good idea to somehow force en-US localization if the set language fails for any reason ?

[2017-01-10 16:06] AmyAmy commented on #2006
I'm no I27n expert, just here because I filled the bug, but I would expect the following to happen:

If no match can be found for `en-GB` it should look for the base localization, in this case `en`.
If no match can be found for `en`, fall back to whatever `en-*` can be found.
If there still is no match, repeat for the next item in the `accept-languages` list.

It might also be a good idea, if `en-

[2017-01-10 16:18] luciancor commented on #1982
Thanks for the update @SoftVision-PaulOiegas !

Just to give you a bit more background - the way you described it is exactly how it should work.
We have a way to enable modules from the backend in the form of an AB test. So basically the first time you start our extension the module which shows that message is turned off. It will only be turned on at the next start (either of the browser or enable

[2017-01-10 16:18] luciancor commented on #1979
thanks @SoftVision-PaulOiegas !

[2017-01-10 16:27] flodolo commented on #2006
If none of the languages in your accept-languages match, it will already fall back to en-US. In this case, there's a matching 'nl' before that final step, and it gives you Dutch.

Assuming it works, the easiest solution should be to create a `en` folder that is a symlink to `en-US`.

Looking for the language ignoring the region is the not right approach, i.e. you don't want to show zh-CN to users

[2017-01-10 16:35] johngruen commented on #2008
@clouserw i have a fix incoming for this

[2017-01-10 16:39] AmyAmy commented on #2006
Doesn't having `en` in my `accept-languages` list mean: "give me english, I don't care which one"?

[2017-01-10 16:58] SoftVision-PaulOiegas commented on #2006
@flodolo - But why the simple "English [en]" is bypassed ? When we reproduced the issue we had the next order: 1. [en-GB], 2. [en], 3. [nl].

Assuming that en-GB fails, I would expect to jump in default English (second in list) not to Dutch (third in list). I'm not expert either in localization but I think providing the default language option (en-US) if the first selected one fails would be the b

[2017-01-10 17:50] flodolo commented on #2006
1) There is no 'en' locale in Test Pilot, that's why it doesn't work.

2) No, bypassing the second language is definitely not a good option. For example I have 'it-IT, it, en-US, en', based on your plan I would get en-US instead of Italian.

[2017-01-10 17:56] flodolo commented on #2006
(just to be clear, we should definitely serve English if 'en' is in the list, I'm just explaining why it doesn't currently happen)

[2017-01-10 18:00] SoftVision-PaulOiegas commented on #1982
Well, actually I got a bright idea 😆 and found the steps to reproduce.  The issue is not reproducible in on current Firefox release but reproduces on all the other channels (Beta, Developer, Nightly). So probably the issue will emerge on the next release.

[Prerequisites]:
- On a new profile add German language from "Options>Content>Languages" to be in the top of the list.
- Manually add in "about

[2017-01-10 18:18] #2008 closed, assigned to johngruen

[2017-01-10 18:22] ghost commented on #1947
Good catch, fixed.  (SurveyGizmo doesn't like blank values in the question type that we used, I inserted "<Experiment Name> Rating" instead).

@wresuolc - can you close this?

[2017-01-10 20:12] ckprice commented on #1968
We are on production. At 4pm PST today we should have access to the Cliqz product page, with it being listed on the homepage in DE.

[2017-01-10 20:14] ckprice commented on #1989
Closed in #2003

[2017-01-10 20:14] #1989 closed, assigned to nobody

[2017-01-11 00:24] ckprice opened #2010 "Seeing l10n IDs on Cliqz product page"
See below. This was reported by Shilpi in channel, and fixed after a refresh. It was noted that this could have been an l10n caching issue. Opening this in case there are other reports.

[2017-01-11 11:12] SoftVision-PaulOiegas commented on #1982
@luciancor If you thought after above steps that this is an edge case, you might wanna reconsider. Found a more easier way to reproduce and might be encountered by users really easy.

[STR]:
1. Install Test Pilot and enable Cliqz.
2. Restart browser in order to have the notification bar displayed.
3. Choose to Disable Cliqz from test Pilot experiment page.
4. Click the close button for the data se

[2017-01-11 14:26] SoftVision-PaulOiegas opened #2012 "[Enhancement] Tour slides should have the same size independent on the description length"
[Notes]:
- It's not necessarily an issue but

[Affected versions]:
- Firefox 50.1.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- German language was added on the top of the list from Firefox "Options > Content > Languages" section or a localized DE build is used.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open Fir

[2017-01-11 15:15] johngruen commented on #1948
We should just remove the modal and go straight to Discourse

[2017-01-11 15:17] johngruen commented on #1946
lets show this view at the bottom of all experiment pages!

[2017-01-11 15:24] johngruen commented on #1905
@6a68 first step we're going to take (which will close this issue) is to change the title for the `Discourse` Link to `Discuss {experiment.name}`. @sevaan is working a larger plan that we will track in Trello. I'll link to that card when it's complete.

[2017-01-11 15:33] johngruen commented on #1859
@chuckharmston @sevaan and i were talking about this and basically want to just repeat the hard coded string in a bunch of languages. Thinking about adding a l10n string to the en-us file to get localized and then copy/pasting the results into `index.moustache`

[2017-01-11 15:39] johngruen commented on #1474
lets talk about this in the meeting

[2017-01-11 15:41] johngruen commented on #1335
I'll need to add an FAQ, to link to, but this is ready to go

[2017-01-11 15:43] johngruen commented on #993
Gonna close this in favor of #1331

[2017-01-11 15:43] #993 closed, assigned to nobody

[2017-01-11 17:16] #1889 closed, assigned to dannycoates

[2017-01-11 17:17] johngruen commented on #2012
@SoftVision-PaulOiegas yeah we can probably get a fix going with flex-box

[2017-01-11 18:02] SoftVision-PaulOiegas commented on #1474
From QA perspective it seams that the add-on may have some backwards compatibility issues. After the last 2-3 production releases, mostly the end users, encountered experiments enabling problems. In most of the cases the problem got fixed by manually checking for add-ons updates or reinstalling the add-on. This means that if a new version launches users are unable to enable the experiments from th

[2017-01-11 20:32] sevaan commented on #1621
Sounds good. To reiterate:

- [ ] Delay Heartbeat for 48 hours if a user has just taken a survey
- [ ] If a user has taken a survey in last 48 hours and disables an experiment, change the "Take a quick survey" button in the Thank You modal to "Got it" and make the action close the modal on click.

![thank you no survey](https://cloud.githubusercontent.com/assets/473531/21865157/ea7292ec-d812-11e6-

[2017-01-11 20:32] johngruen commented on #2006
Yeah i encountered this as well, there need to be an 'en' locale in test pilot.

### STR

1. go to about:preferences#content
1. in the languages panel set your first language to `en`
1. set your second language to anything else `de` for example

### Result
- Test Pilot displays in DE but with `en` authorized experiments

### Expected
- If `en` is the first choice language in the browser the site s

[2017-01-11 20:37] johngruen commented on #2006
so this:
<img width="487" alt="screen shot 2017-01-11 at 9 33 22 pm" src="https://cloud.githubusercontent.com/assets/3323249/21865262/bb5279a4-d845-11e6-8f09-eb051773146e.png">

leads to:
![page-shot-2017-1-11 firefox test pilot](https://cloud.githubusercontent.com/assets/3323249/21865275/ca97a01a-d845-11e6-8485-2d8161158cb2.png)

leads to:
![giphy](https://cloud.githubusercontent.com/assets/33232

[2017-01-11 20:44] johngruen commented on #1621
This is per-experiment. So if a user has given feedback for Tab Center then disabled Min Vid they should still be prompted for feedback for Min Vid

[2017-01-11 20:46] johngruen opened #2013 "Add FAQ about disappearing experiments for existing German locale users"
From IRC...A contributor with DE language test pilot noticed No More 404s and other experiments were missing today. We haven't had to much traffic from German locales, but we should add something to our FAQ to make sure we have an answer if people wonder where these experiments went.

[2017-01-11 20:51] ckprice commented on #2010
No more reports of this. Chalking up to caching.

[2017-01-11 20:51] #2010 closed, assigned to nobody

[2017-01-11 21:02] sevaan commented on #1621
Thanks for clarifying.

[2017-01-12 12:10] SoftVision-CosminMuntean opened #2014 "The Cliqz survey cannot be completed due to the last page that seems to be unfinished"
Affected versions]:
- Firefox 50.1.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Install or extract a German Firefox build for this issue.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.firefox.com" page.
2. Choose the Cliqz experiment and e

[2017-01-12 15:13] luciancor commented on #1982
Thanks @SoftVision-PaulOiegas ! We will provide a fix for this one.

[2017-01-12 16:52] ghost commented on #1947
thanks

[2017-01-12 16:52] #1947 closed, assigned to nobody

[2017-01-12 21:40] #2006 closed, assigned to johngruen

[2017-01-12 21:41] johngruen commented on #2006
Thanks for reporting @AmyAmy! This will be fixed on production by Tuesday :)

[2017-01-12 21:51] johngruen commented on #1463
@chuckharmston based on our discussion the other day, it seems like the investigation has ended and we're gonna stick with gulp for awhile. Can we go ahead and close this?

[2017-01-12 22:01] johngruen commented on #2014
Matt Grimes thinks he fixed this. @SoftVision-CosminMuntean can you confirm when you have a chance?

[2017-01-12 22:12] johngruen commented on #1907
I think my PR is solid, just needs approval

[2017-01-12 22:28] johngruen commented on #1500
This is fixed

[2017-01-12 22:28] #1500 closed, assigned to nobody

[2017-01-12 22:34] ghost commented on #2014
@SoftVision-CosminMuntean @johngruen:

**Issue cause:**

- SurveyGizmo was marking users that matched our skip to end logic as "Disqualified" and showing them an untranslated disqualification message.  We shouldn't be disqualifying anyone in this survey, so the lack of translation was not the root cause.
  - This is _despite the disqualification checkbox not being checked_ (I believe this to be a

[2017-01-12 22:37] johngruen commented on #2014
thank for the writeup @rayborn marking this as closed

[2017-01-12 22:37] #2014 closed, assigned to nobody

[2017-01-12 22:57] #1907 closed, assigned to johngruen

[2017-01-13 13:08] SoftVision-CosminMuntean opened #2017 "If browser language is set to German/Germany [de-de], Cliqz experiment is available but the Test Pilot pages are displayed in English"
[Notes]:
- The issue is also reproducible for all the others locales of German language.

[Affected versions]:
- Firefox 50.1.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Test Pilot add-on was previously installed on the profile.
- Have the German/Germany [de-de] and English [en] languages set in "about:preferences#content".

[Steps to reproduce]:
1. Open Firefo

[2017-01-13 13:54] flodolo commented on #2017
If you set the browser to "German (de)" does it work as expected?

Default accept-language for German users would be: 'de, en-US, en'.

[2017-01-13 13:57] SoftVision-CosminMuntean commented on #2017
Yes, if the browser language is set to German [de] everything works as expected.

[2017-01-13 14:09] SoftVision-CosminMuntean commented on #2014
I have retested this issues and is no longer reproducible. Marking this as verified.

[2017-01-13 14:54] SoftVision-PaulOiegas commented on #1907
tested with English, German and Spanish. Bulletproof ! 👍

[2017-01-13 17:05] jaredhirsch commented on #2013
maybe a discourse post could help, too?

[2017-01-13 17:06] ghost commented on #2007
We haven't seen this on Windows 10.  Can you give us more information?  Any add-ons?  Any theme colors?  Any lightweight themes in Firefox?

[2017-01-13 17:08] jaredhirsch commented on #1985
Doorhanger is gone; closing.

[2017-01-13 17:08] #1985 closed, assigned to nobody

[2017-01-13 17:08] ckprice commented on #2017
Top 3 locales over the last week (% of traffic)

1. de 66.92%
2. en-us 19.85%
3. **de-de 5.27%**

So some traffic, but not the majority of our German users.

[2017-01-13 17:11] ghost commented on #1991
We're these all fixed in Pontoon or is there more to do here?

[2017-01-13 17:12] ghost commented on #1983
No volunteers to take a swing at this.  Do you have any examples to check out?

[2017-01-13 17:12] #1968 closed, assigned to pdehaan, SoftVision-PaulOiegas, SoftVision-CosminMuntean

[2017-01-13 17:13] jaredhirsch commented on #1998
@SoftVision-PaulOiegas pinged me on IRC to add that this was for the de-de locale

[2017-01-13 17:22] #1899 closed, assigned to meandavejustice

[2017-01-13 18:13] pdehaan commented on #2017
@ckprice @johngruen Should we do a similar en-US=>en copy-pasta for de=>de-de?

[2017-01-13 19:46] ghost commented on #1610
@relud how can we see these logs? (and/or get alerts?)

[2017-01-13 21:59] pdehaan commented on #2012
On the plus side, it looks like every tour_step image is 1280x720px.

# activity-stream.yaml
FIELD | DIMENSIONS | PATH
------|------------|-----
tour_steps.image[0] | 1280x720 | ./frontend/src/images/experiments/activity-stream/experiments_experimenttourstep/b/d/bd3d603ab46949ccb2f98c77f16d9be3_image_1462827230_0789.jpg
tour_steps.image[1] | 1280x720 | ./frontend/src/images/experiments/activity-st

[2017-01-15 00:26] sanook2010 opened #2019 "go-like.xyz"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2017-01-15 00:27] #2019 closed, assigned to nobody

[2017-01-16 06:17] ChenMorpheus opened #2020 "Promote experiments at the end of tour"
Per discussion with John, in order to increase the install rate of all experiments, we propose to provide users more experiments promotion at the end of tour. You can find the link below for the prototype. Please let us know if any questions or the feasibility issues, thanks.

https://mozilla.invisionapp.com/share/Y79IJHBK5#/214523834_Tour_1-1_Tour

![more experiments](https://cloud.githubusercont

[2017-01-16 10:18] phlsa commented on #2007
No lightweight themes, but a bunch of add-ons were enabled. Is there a way to manually trigger this bar (through the browser console, or something)? Then I could check whether it's the add-ons. Also, this was happening in Nightly, not release...

[2017-01-16 15:22] SoftVision-CosminMuntean commented on #2007
I think I was confusing the notification with the one for no experiments installed.
Managed to reproduce this on Windows 7 and 10 after all. It seems that the "Take a Quick Survey" button from the experiments survey notification is indeed wrongly colored on Windows.

![survay](https://cloud.githubusercontent.com/assets/19226534/21988479/08caa97c-dc10-11e6-8bb5-5cc7b85dad96.png)

[2017-01-17 04:15] dannycoates opened #2021 "Merge addon rewrite"
As discussed in https://public.etherpad-mozilla.org/p/txp-addon

[2017-01-17 15:22] #996 closed, assigned to nobody

[2017-01-17 15:46] MohammedBelkacem opened #2022 "Kabyle locale"
Hi,
The kab Localization of Test Pilot reached 95%. We will reach 100% today. Please would you like enable it for release?
Thanks

[2017-01-17 15:55] sevaan commented on #680
Updated UX: https://mozilla.invisionapp.com/share/Q77S1H6ZC#/214781378_Disabled_From_Add-On_Main

[2017-01-17 16:13] johngruen commented on #2017
@pdehaan maybe, might want to think about being more formal since it's the second time this is happening

[2017-01-17 16:21] johngruen commented on #1974
FWIW, i kind of don't mind the snake cased vars...it's a quick visual indicator of where things are coming from.

[2017-01-17 16:35] johngruen commented on #2022
Sure!

[2017-01-17 16:55] johngruen opened #2024 "Update settings button for condensed experiments layout"
As we move to single install and a removed add-on we're going to move some things around to move core content up the page. Here's what the settings button should look like now:

![settings-button](https://cloud.githubusercontent.com/assets/3323249/22030449/3ca0fee8-dca3-11e6-91bc-04e482fb05d7.png)

here's the svg icon:
https://www.dropbox.com/s/ewypz0n50ydtd4y/settings.svg?dl=0

we should be able

[2017-01-17 16:58] johngruen opened #2025 "Update experiments page header with condensed layout"
## Small

![experiment page condensed header small 2x](https://cloud.githubusercontent.com/assets/3323249/22030635/d54d97e6-dca3-11e6-86d3-7483303a340c.png)

## Medium
![experiment page condensed header - medium 2x](https://cloud.githubusercontent.com/assets/3323249/22030636/d5507128-dca3-11e6-921b-e69028f4e979.png)

## Large
![experiment page condensed header - large 2x](https://cloud.githubuserc

[2017-01-17 17:25] MohammedBelkacem commented on #2022
Thanks johngruen

[2017-01-17 17:48] johngruen commented on #1922
@dannycoates do we want to close this in favor of #2021

[2017-01-17 17:51] johngruen commented on #1594
Can no longer repro, closing. will file issue to add period on to end of Page Shot Desc.

[2017-01-17 17:51] #1594 closed, assigned to nobody

[2017-01-17 18:04] chuckharmston commented on #1463
Yeah, closing this. I investigated a bunch of webpack approaches, and the benefits just don't outweigh the costs (which would be substantial) to make this switch. It's worth considering in any future rewrites.

[2017-01-17 18:04] #1463 closed, assigned to chuckharmston

[2017-01-17 18:14] meandavejustice commented on #680
@sevaan a couple months ago we discovered that linking to the addons manager (about:addons) page is not allowed in webpages. However, we may be able to send a signal to the addon and open up a new tab with the `about:addons` page.

[2017-01-17 18:39] #1586 closed, assigned to johngruen

[2017-01-17 19:30] #1626 closed, assigned to johngruen

[2017-01-17 19:55] flodolo commented on #2017
I think we need a better solution, there are plenty of other locales in this situation.

Also CC @stasm in case he has any ideas to solve this.

[2017-01-17 20:28] flodolo commented on #2017
Also filed https://bugzilla.mozilla.org/show_bug.cgi?id=1331721

[2017-01-17 21:05] ghost commented on #1811
HTML was removed from tour steps in https://github.com/mozilla/testpilot/commit/1c97ab06d4b0fb2496ead7a50d50818d159cee3f

[2017-01-17 22:19] #2022 closed, assigned to johngruen

[2017-01-18 17:11] #2013 closed, assigned to nobody

[2017-01-18 17:41] dannycoates opened #2032 "Switch to the new addon"
After merging the new addon alongside the current one, this issue will track what needs to happen in order to make the switch.

[2017-01-18 18:27] sevaan commented on #680
If it's easy, let's do that.

We could probably live without it though, because in order to see the message in the first place you would have to have gone into the Add-ons Manager to disable the add-on from there, so it's not like the user doesn't know what the Add-ons Manager is or how to get there.

[2017-01-19 16:33] aayushsanghavi commented on #1590
I'd like to take this issue. Could you tell me how to proceed?

[2017-01-19 18:59] johngruen opened #2036 "update mozilla logo to new wordmark"

[2017-01-19 21:15] dannycoates opened #2038 "Make install buttons show install progress"
...instead of the generic barber pole.

We can do it!

[2017-01-19 21:44] fzzzy commented on #1331
This is fixed by https://github.com/mozilla/testpilot/compare/b4f21d3dc4ff...f8cf62329d02

[2017-01-19 21:44] #1331 closed, assigned to fzzzy

[2017-01-19 22:29] #2024 closed, assigned to johngruen

[2017-01-19 22:43] #2036 closed, assigned to johngruen

[2017-01-19 22:44] #2025 closed, assigned to johngruen

[2017-01-19 22:44] johngruen opened #2039 "Update single click install button UI"
Button needs a bit of polish work.

[2017-01-19 23:07] dannycoates opened #2040 "New logo alignment"
Maybe it's just me but the alignment of the new logo looks weird.

<img width="758" alt="screen shot 2017-01-19 at 2 55 29 pm" src="https://cloud.githubusercontent.com/assets/87619/22129050/9cbd1b70-de58-11e6-972e-e3a2f08012e5.png">

compared to the old one

<img width="764" alt="screen shot 2017-01-19 at 2 54 59 pm" src="https://cloud.githubusercontent.com/assets/87619/22129072/c6875e8e-de58-11e6

[2017-01-19 23:34] dannycoates opened #2041 "Experiments shown as enabled after uninstalling TestPilot"
Both the addon and experiment get uninstalled but the app shows the experiment as enabled

![bug](https://cloud.githubusercontent.com/assets/87619/22129700/8104f174-de5c-11e6-8459-305037dfc63b.gif)

[2017-01-20 12:43] SoftVision-CosminMuntean commented on #2041
We have seen this issue a while ago also, and it's already logged in #1484.

[2017-01-20 16:50] dannycoates commented on #2041
dupe

[2017-01-20 16:50] #2041 closed, assigned to nobody

[2017-01-20 17:04] ghost commented on #2038
How does this relate to the one-click install + disco pane styles?

[2017-01-20 17:06] ghost commented on #1991
Closing this.  Please reopen if there is something else to do. Thanks for filing!

[2017-01-20 17:06] #1991 closed, assigned to nobody

[2017-01-21 08:02] Aiswarya-ksr opened #2042 "Tab Center"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Tab Center:           https://github.com/bwinton/VerticalTabs/issues/new
- Universal Search:

[2017-01-23 15:39] johngruen commented on #1905
@6a68 added this trello item to track progress

https://trello.com/c/eEod37bN/43-txp-43-make-direct-connection-between-test-pilot-builders-and-users-more-accessible

[2017-01-23 16:30] #1905 closed, assigned to johngruen

[2017-01-23 16:46] #2040 closed, assigned to johngruen

[2017-01-23 17:11] johngruen opened #2046 "Make the experiment details look the same regardless of whether user has test pilot installed or not"
@fzzzy, i think we can just show the same stuff `.details-content` regardless of test pilot add-on state

[2017-01-23 17:12] johngruen commented on #2046
BTW, for context, this is at the behest of legal who want people to have access to privacy notices and repos prior to one-click install

[2017-01-23 21:21] johngruen commented on #2046
@fzzzy one tweak: we should hide the "Tour" section of that details table if there is no add-on installed:

<img width="360" alt="screen shot 2017-01-23 at 4 20 10 pm" src="https://cloud.githubusercontent.com/assets/3323249/22223208/02be2734-e188-11e6-99fd-ce68ab06ae8d.png">

[2017-01-24 15:36] johngruen opened #2049 "Add `example` env to ground control"
Since @fzzzy added an env for previewing one-click install, we should add a new creature to ground control for more fast env switching goodness. @dannycoates got any more animal emojis over there?

[2017-01-24 15:50] johngruen opened #2050 "Experiments are wrongly displayed as enabled when Test Pilot is uninstalled"
I think this comes from the one-click install stuff possibly jumbling up application state:

## STR

1. in `example.com` env, enable Page Shot (or other)
2. uninstall test pilot

## Result
The page shot add-on is uninstalled but shows up as installed

## Expected
All Test Pilot experiments should be uninstalled and their state should be reflected as such throughout the UI

[2017-01-24 15:55] lmorchard commented on #2049
We should remove the `static-dev` & `static-stage` envs from there while we're at it. The example env has been around about as long as the static-* envs have been gone

[2017-01-24 15:57] johngruen commented on #2050
@fzzzy here's a screen recording...

Refreshing gets the state back to looking right, so i imagine we just need to dispatch an event somewhere on uninstall to make sure that happens.

https://www.dropbox.com/s/30ld2z9z3ov98yi/Single%20Click%20Intstall%20-%20Bad%20State.mov?dl=0

[2017-01-24 16:35] johngruen opened #2051 "Experiment Install sometimes hangs with one-click install method"
I'm seeing a high rate of add-on install failure with the new one-click method. Noticed this more on Page Shot and Min Vid, though that might be a coincidence. No errors in the web console, but the browser console is showing this:

<img width="1012" alt="screen shot 2017-01-24 at 11 30 18 am" src="https://cloud.githubusercontent.com/assets/3323249/22256571/2b3e6ce0-e229-11e6-8e3e-51c406c30da4.png"

[2017-01-24 17:41] johngruen opened #2052 "Email solicitation is wrongly displayed if if user installs experiment, then uninstalls Test Pilot"
## STR

1. Install an experiment through one-click method (note this works if experiment install hangs or is successful).
1. Before navigating away from the page uninstall Test Pilot from the settings menu.
1. Once you're back on the home page, click on one of the experiment cards.

## Result

* Email solicitation pops up even though Test Pilot is uninstalled

## Expected

* No email solicitation

[2017-01-24 17:51] fzzzy commented on #2051
Are you testing locally, on dev, or on stage?

[2017-01-24 17:51] johngruen commented on #2051
locally

[2017-01-24 18:41] fzzzy commented on #2050
This was a bug before the one-click install (can repro on prod right now), but I've managed to fix it regardless.

[2017-01-24 19:13] johngruen commented on #2050
woot!

[2017-01-24 19:41] dannycoates commented on #2051
Here's my theory...

The addon takes a certain amount of time to initialize. On startup it makes a request to get the experiments.json from the server. Before that request is finished it knows nothing, so if an `install-experiment` comes in during that time, [this code](https://github.com/mozilla/testpilot/blob/master/addon/index.js#L159) will return false and just ignore it.

[2017-01-24 19:59] johngruen commented on #2051
@dannycoates did a test where i disabled my internet before clicking the add-on install. I see an actual error in this case, not just an infinite barberpole
<img width="1305" alt="screen shot 2017-01-24 at 2 58 32 pm" src="https://cloud.githubusercontent.com/assets/3323249/22264392/c342347e-e245-11e6-82a7-0dc6abfc704d.png">

[2017-01-24 20:46] #2050 closed, assigned to fzzzy

[2017-01-24 21:00] #1948 closed, assigned to johngruen

[2017-01-24 22:12] pdehaan opened #2057 "1-click install of TestPilot and PageShot doesnt install PageShot toolbar icon"
Found in https://testpilot.dev.mozaws.net/__version__ (e3c0b4e29dc8dbd692f32a2e000a9af080a18799):

[code]

---

### Steps to reproduce:
1. In a new profile, go to https://testpilot.dev.mozaws.net/experiments/page-shot
1. Make sure your `testpilot.env` config variable is set to "dev" in about:config.
1. Click the shiny green "Install Test Pilot and Enable ⁨Page Shot⁩" button to install both Test Pi

[2017-01-24 22:14] chuckharmston commented on #2057
I believe this is a dupe of https://github.com/mozilla-services/pageshot/issues/2123

[2017-01-24 22:14] #2057 closed, assigned to nobody

[2017-01-24 23:25] #2051 closed, assigned to dannycoates

[2017-01-25 01:41] pdehaan opened #2058 "Experiment details page says "Discuss title" instead of experiment title"
Found in https://testpilot.dev.mozaws.net/__version__ (4a96271b2e0633ac6031a193c8cb15ea8421a20a):

[code]

---

Not sure if this is a regression, or if I'm just confused... Currently it looks like I see a label of "Discuss title":

![firefox_test_pilot_-_tab_center](https://cloud.githubusercontent.com/assets/557895/22274468/92b5069a-e25b-11e6-966a-44bba493995f.png)

It feels like something may not

[2017-01-25 03:01] #2052 closed, assigned to dannycoates

[2017-01-25 04:16] #2046 closed, assigned to fzzzy

[2017-01-25 04:32] fzzzy commented on #2058
It's supposed to be "Discuss {$title}" in the .ftl files, not "Discuss {title}". This bit me before

[2017-01-25 04:34] fzzzy commented on #2058
Also, I think it's best practice to leave the actual dom nodes blank instead of duplicating the english string. I suggest we slowly remove all the placeholder text from the dom nodes as portions of the code are touched, or do it all in one commit at some point.

[2017-01-25 04:36] dannycoates commented on #2058
fixed in #2059

[2017-01-25 04:36] #2058 closed, assigned to dannycoates

[2017-01-25 04:55] dannycoates commented on #2049
maybe we should just make 'example.com' the new local and stop using 'testpilot.dev' ?

[2017-01-25 12:11] SoftVision-CosminMuntean commented on #2050
This issue was already logged in #1484 a while ago. But since yours was already fixed, I am confirming the fix here and I will close the above one based on this.

[2017-01-25 12:12] SoftVision-CosminMuntean commented on #1484
Closing this issue based on [#2050](https://github.com/mozilla/testpilot/issues/2050#issuecomment-275092770).

[2017-01-25 12:12] #1484 closed, assigned to nobody

[2017-01-25 14:08] fzzzy commented on #2049
Yes, using example.com is necessary for one-click install, that's why I switched to it from testpilot.dev which is not whitelisted. I changed the quickstart docs already, but maybe there are more places to change.

[2017-01-25 17:39] chuckharmston opened #2061 "The add-on should not set extensions.webapi.testing."
https://github.com/mozilla/testpilot/blob/f8cf62329d0245de58c2ea6acb7912bd7f244632/addon/index.js#L71

This is a pref that should only be set by users who understand what it is, what it does, and the risks it may carry.

[2017-01-25 20:08] dannycoates commented on #2021
merged in #2033

[2017-01-25 20:08] #2021 closed, assigned to dannycoates

[2017-01-25 21:59] ckprice commented on #1846
Closing, these look to have relevant titles now.

[2017-01-25 21:59] #1846 closed, assigned to nobody

[2017-01-26 00:09] ckprice opened #2064 "'history 4.x' not supported in 'react-router-redux'"
I started poking at all the greenkeeper pulls and came across these errors after updating packages locally

[code]

Found the following https://github.com/reactjs/react-router-redux/issues/491

It's at least used in [`/frontend/app/index.js`](https://github.com/mozilla/testpilot/blob/639eb04f4d9e263450c4dd23e60d437ae3d841d7/frontend/src/app/index.js#L11). Is there something else we can use here?

[2017-01-26 04:11] cbernardi opened #2065 "Setting private browsing autostart to true in about:config prevents Test Pilot from working"
I had `browser.privatebrowsing.autostart;true` set in `about:config`. This did not prevent the installation from working, it just prevented any features from appearing (ie bar icon and extensions). Setting it back to false and restarting fixed the problem.

[2017-01-26 04:13] cbernardi commented on #2065
If I change the setting back to `true` and restart, the add-on appears to not be there but shows up in the add-ons list.

[2017-01-26 04:21] johngruen commented on #1945
So this problem is actually much bigger than what jared saw... it seems like we cannot navigate directly between individual experiments. This is happening on dev...

## STR

- go to any experiments details page
- navigate to another experiment page by click on the experiment cards at the bottom of the page

## Results

- URL matches new experiment's slug but previous page content is in experiment

[2017-01-26 04:21] johngruen commented on #1945
NB, tested on local and dev

[2017-01-26 04:44] bigheadcool opened #2066 "Proposal for onboarding tour with one-click install"
https://mozilla.invisionapp.com/share/RJA6SZEHB

Here's a proposal that combines the email prompt with experiment tours. (+promotion screen)
We added a cover onboarding image in the beginning and an email prompt at the end.

![tour cover - update](https://cloud.githubusercontent.com/assets/4211825/22320128/59eec296-e3c4-11e6-9900-400ddf6d4e77.png)
![tour email - update](https://cloud.githubusercon

[2017-01-26 12:18] aayushsanghavi commented on #1590
Thanks @yjkimjunior but I guess that wouldn't work because the code under renderSettingsMenu uses a lot of the methods of the Header component. So simply copy pasting the code won't help.

[2017-01-26 13:44] johngruen commented on #1945
BTW, marked as critical b/c this is a bad bug to have floating around in the wild. I'm happy to simply remove these cards for this sprint and re-rack on a longer term fix in the next sprint if necessary.

[2017-01-26 13:45] SoftVision-PaulOiegas opened #2068 "Experiment links and "Your Privacy" sections are hidden in mobile view when Test Pilot is not installed"
[Notes]:
- It's not necessarily an issue but

[Affected versions]:
- Firefox 50.1.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox with a new profile and navigate to "https://testpilot.dev.mozaws.net" page.
2. Click on one of the available experiments cards.
3. Observe the experiment links and "Your Privacy" sections.
4. Resize the browser

[2017-01-26 15:07] lmorchard commented on #1945
Hmm, checking this out and don't see this on prod (yay) but I do on my local machine (boo). I see an error in the console when I try to navigate between experiments:
[code]
I don't see this if I go experiment to home to experiment, just going from experiment to experiment

[2017-01-26 15:15] lmorchard commented on #1945
Hmm, that error might be unrelated to this issue, though: Started doing a `git bisect` to see if I could find when the issue came in, found a commit with the error but where navigation worked fine. Still bisecting though...

[2017-01-26 15:19] lmorchard commented on #1945
Looks like this issue was introduced in b331ad901ef6236b52d1d0b27b62c5672c3e1c11 - doesn't happen in c2852025bbe7ba44e1efc376cde06ee706c8685d (the commit before it). Not sure what's causing it, but it seems to start there.

[2017-01-26 15:46] lmorchard opened #2070 "TypeError: node is null"
Bad issue title, but looking for a better description. Found this console error while investigating #1945:
[code]
`git bisect` tells me it starts with 8676e6db751ad7ce73208391ca19027e9e35ab33 - seems unrelated to #1945, though, in that this commit has the error but not the navigation issue

[2017-01-26 15:53] johngruen commented on #1945
uh oh

[2017-01-26 16:28] ghost commented on #875
Experiment titles are back now and so is this bug...

[2017-01-26 16:47] lmorchard commented on #1945
Yeah, this is bizarre. If I comment out [this line in MainInstallButton's renderOneClickInstallButton() method](https://github.com/mozilla/testpilot/commit/b331ad901ef6236b52d1d0b27b62c5672c3e1c11#diff-24c12d4e63197828d8a8c98f33ab2c89R42) this issue goes away. (So does the install button title, but...) Still digging. Doesn't make sense that that line would cause this :/

[2017-01-26 17:03] johngruen commented on #1945
@lmorchard

So i added this to the MainInstallButton

[code]

and now i see this if move between pages:

<img width="1351" alt="screen shot 2017-01-26 at 12 00 52 pm" src="https://cloud.githubusercontent.com/assets/3323249/22341529/2711d9e4-e3bf-11e6-99a5-33a245580e6c.png">

Note the button text is correct while the page content is still wrong
I'm guessing this means there's an underlying bug wher

[2017-01-26 17:03] johngruen commented on #1945
oh, looks like you just PR'ed something

[2017-01-26 17:04] lmorchard commented on #1945
Yeah, hashing it out in IRC too. I think we're seeing React & L20N arm wrestling and causing errors & breakage here

[2017-01-26 17:07] johngruen commented on #1945
@lmorchard yeah i assume that's what was happening in jared's original report

[2017-01-26 17:16] lmorchard commented on #2070
Second fix as a variation on the theme in #2071. Doesn't fix the underlying issue altogether, but it fixes this particular issue

[2017-01-26 17:18] #1945 closed, assigned to lmorchard

[2017-01-26 17:24] #1959 closed, assigned to ckprice

[2017-01-26 17:26] #2070 closed, assigned to lmorchard

[2017-01-26 17:37] #1962 closed, assigned to johngruen

[2017-01-26 17:38] johngruen opened #2073 "Update Metrics doc with One click install events"
Just realized i forgot to add the new GA events when i updated the 1 click install flow. Reminder that i should do so.

[2017-01-26 17:44] #2007 closed, assigned to johngruen

[2017-01-26 17:45] johngruen commented on #1458
Looking at GA, this got fixed awhile ago. i think maybe when we did the pre-feedback warning stuff:

https://github.com/mozilla/testpilot/blob/master/frontend/src/app/containers/ExperimentPage.js#L619

[2017-01-26 17:54] jaredhirsch commented on #2064
Good find @ckprice. I bumped that react-router-redux bug to ask what's up.

[2017-01-26 17:59] johngruen commented on #1458
Actually, reopening b/c there are some issues with the PreFeedback event logging that are relevant here

[2017-01-26 19:37] #2039 closed, assigned to johngruen

[2017-01-26 19:51] #1458 closed, assigned to johngruen

[2017-01-26 20:29] fzzzy opened #2075 "Turn off greenkeeper in favor of making a ticket to run "npm update" every sprint"
This will help to cut down on pr overload. If we manage to reduce our dependencies a lot, which we should try to do, we can turn greenkeeper back on.

I propose we instead create one ticket per sprint to run "npm outdated". This ticket should be landed as close to possible to the start of the sprint to shake out any issues with updated packages. This ticket should be assigned to someone on the tea

[2017-01-26 20:35] jaredhirsch commented on #2075
👍 I'm in favor of this proposal.

For the first few sprints, we could just fix one or two related dependencies, since there are so many major updates to deal with.

@lmorchard You've looked through the greenkeeper PRs a bit; any thoughts on a good first cluster of stale packages to update?

[2017-01-26 20:37] #1951 closed, assigned to johngruen

[2017-01-26 20:41] johngruen opened #2076 "Resolve Race Conditions Between L20N and React"
The original bug noticing this issue comes from #1945, where @6a68 noted that navigating from a graduated experiment to a current experiment does not fully update a page's state.

It turns out that there is larger issue, specifically our current l20n and pontoon integration hits a race condition on tags that accept `data-l10n-args` and pass in React props.

[code]

Thus far, this issue affects nav

[2017-01-26 20:45] johngruen commented on #2076
@lmorchard @dannycoates I might do a quick pr to remove the experiment cards from the footer of the `ExperimentDetails` page. That would obviate the current `in the wild` context where this bug could be hit.

[2017-01-26 21:29] #2076 closed, assigned to dannycoates

[2017-01-26 21:30] johngruen opened #2078 "Missed a modal that needs restyling!"
ExperimentEolDialog needs to be polished!

[2017-01-26 22:26] pdehaan opened #2080 "Experiment padding is too narrow on non-Firefox browsers"
Found in https://testpilot.dev.mozaws.net/__version__ (223e0d18236ae11be58b77e89f0240278cbb62c3):

[code]

---

![firefox_test_pilot_-_page_shot](https://cloud.githubusercontent.com/assets/557895/22352934/05ece718-e3d3-11e6-9568-45948dee3a59.png)

![about](https://cloud.githubusercontent.com/assets/557895/22352951/12d02d3c-e3d3-11e6-9ff9-630506b84d6c.png)

### versus

![firefox_test_pilot_-_page_s

[2017-01-26 22:31] #2078 closed, assigned to johngruen

[2017-01-26 23:09] ckprice opened #2082 "Home page (with Test Pilot installed) on master isn't being responsive"
![screen shot 2017-01-26 at 3 08 38 pm](https://cloud.githubusercontent.com/assets/8632184/22354254/5e36ac28-e3d9-11e6-9b1f-c04502d890c0.png)

Seeing this on DevEdition

Maybe not so much "isn't being response" and more "looks weird".

[2017-01-26 23:33] #2082 closed, assigned to clouserw

[2017-01-26 23:38] ckprice opened #2084 "[release] 2017-01-30 on Stage"
Please QA stage. Let's use this issue to track deployment status to production. I've assigned this to Paul, but we should all be checking out stage a bit.

- Verification documentation: https://github.com/mozilla/testpilot/blob/master/docs/development/verification.md
- Release notes: https://github.com/mozilla/testpilot/releases

http://testpilot.stage.mozaws.net/

[2017-01-26 23:47] ckprice commented on #2084
Lots of stuff to QA! Most notably one click install (4ad6eb6a170d843ff772d9cdd75f5e70b018dc0d) and the add-on rewrite (ebde508c742f4de171577cc0e8809b322c5db922).

[2017-01-27 00:08] jaredhirsch commented on #2064
Response in that react-router bug indicates we should wait to update `history` until `react-router` hits 4.0:

[2017-01-27 00:11] #1811 closed, assigned to clouserw

[2017-01-27 05:50] MohammedBelkacem commented on #2022
Hi,
I still getting it in French :) . No Test Pilot in Kabyle yet!!

[2017-01-27 06:04] chuckharmston commented on #2022
@belkacem77 We just tagged and released it to [our staging environment](https://testpilot.stage.mozaws.net) this evening, and are on schedule to deploy it this coming Tuesday.

I just checked our staging environment to ensure that everything is in order, and see that `kab` is included in the appropriate meta tag:

[code]

And that the string files are also present:

https://testpilot.stage.mozaws.

[2017-01-27 06:15] MohammedBelkacem commented on #2022
Wawo!!!! Yes I  got it on staging. I will share it right now. Thaaaaaaaaaanks!!!!

[2017-01-27 07:47] flodolo commented on #2022
Please don't share the link to stage, that's for testing. Wait for the announcement on Tuesday ;-)

[2017-01-27 09:30] SoftVision-CosminMuntean opened #2085 ""Install Test Pilot & Enable Universal Search" button is wrongly displayed on Universal Search past experiment page"
[Affected versions]:
- Firefox 51.0.1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox with a new profile and navigate to "https://testpilot.stage.mozaws.net.com" page.
2. Click the "View Past Experiments" button under the current available experiments.
3. Click the Universal Search experiment card.
4. Observe the top part of the past experiment pag

[2017-01-27 10:34] MohammedBelkacem commented on #2022
Ok!

[2017-01-27 14:38] SoftVision-CosminMuntean opened #2086 "The "Onboarding" page is not opened after Test Pilot is installed"
[Affected versions]:
- Firefox 51.0.1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisite and navigate to "https://testpilot.stage.mozaws.net.com" page.
2. Click the "Install Tes

[2017-01-27 14:49] SoftVision-PaulOiegas opened #2087 "The "moz://a", "GitHub" and "Twitter" logo buttons are wrongly rendered in black color on Edge browser"
[Affected versions]:
- Firefox 51.0.1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- A Windows 10 PC with Edge browser is available.

[Steps to reproduce]:
1. Open Edge browser and navigate to "https://testpilot.stage.mozaws.net.com" page.
2. Scroll to the bottom of the page.
3. Observe the Moz://a, GitHub and Twitter logo buttons from the footer area.

[Expected re

[2017-01-27 15:29] SoftVision-PaulOiegas opened #2088 "Artifacts wrongly displayed before and after the number of participants on Edge browser"
[Affected versions]:
- Firefox 51.0.1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- A Windows 10 PC with Edge browser is available.

[Steps to reproduce]:
1. Open Edge browser and navigate to "https://testpilot.stage.mozaws.net.com" page.
2. Observe the number of participants on each active experiments cards.
3. Click on one of the experiments cards and observe aga

[2017-01-27 15:49] johngruen commented on #2087
![4593531893_f67a757fa1](https://cloud.githubusercontent.com/assets/3323249/22376975/35bc0860-e47e-11e6-994c-238a6bb0285a.jpg)

[2017-01-27 15:57] johngruen opened #2089 "Cannot disable experiments"
~~I'm sure I introduced this issue when I reformatted the modals...~~

STR, attempt to disable and experiment

Expected: experiment disables

Actual: experiment remains enabled, experiment UI in 'Disabling' state

[2017-01-27 16:06] johngruen commented on #2089
hmmm, can't repro this on dev or stage...will dig in and see if there's anything there, but I'll probably close.

[2017-01-27 16:11] johngruen commented on #2089
okay, this was an artifact of me pulling down various changes from master while doing something else in text editor that altered the ExperimentsPage file. Closing :)

[2017-01-27 16:11] #2089 closed, assigned to nobody

[2017-01-27 16:11] johngruen commented on #2089
Quite the exciting morning I'm having over here

[2017-01-27 16:12] johngruen commented on #2088
I think this is a dupe of #1828

[2017-01-27 16:12] #2088 closed, assigned to nobody

[2017-01-27 16:17] clouserw commented on #1960
This was fixed in #2048

[2017-01-27 16:17] #1960 closed, assigned to clouserw

[2017-01-27 16:44] SoftVision-PaulOiegas opened #2090 "Experiment auto enable hangs if you wait more than ~5 seconds before allowing Test Pilot installation from doorhanger"
[Affected versions]:
- Firefox 51.0.1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox browser with a new profile and navigate to "https://testpilot.stage.mozaws.net.com" page.
2. Click on one of the active experiments cards.
3. Click on "Install Test Pilot & Enable <experiment_name>" button.
4. Wait for more than 5 seconds before "Allowing" install

[2017-01-27 16:45] SoftVision-PaulOiegas commented on #2084
Hi guys,

Here are the testing results after our round of testing:
### **New Issues**
1. #2085 - "Install Test Pilot & Enable Universal Search" button is wrongly displayed on Universal Search past experiment page
2. #2086 - The "Onboarding" page is not opened after Test Pilot is installed
3. #2087 - The "moz://a", "GitHub" and "Twitter" logo buttons are wrongly rendered in black color on Edge brow

[2017-01-27 16:52] johngruen commented on #2086
This is the expected behavior for now. We are re-working onboarding in #2066

[2017-01-27 16:57] johngruen commented on #2066
hey @bigheadcool i like the proposal with a few caveats:
* Modals elsewhere on the site use a common layout that would be easier to adopt here as well.
* We already have a full bleed version of the image on the first slide (see image below)...it seems like we could recycle that for this flow.
* I'd like to see this proposal joined with an experiment onboarding flow, so if a user installs Test Pilo

[2017-01-27 16:59] johngruen opened #2092 "A/B Test one click install flow from the Test Pilot home page"

[2017-01-27 17:04] johngruen commented on #2085
Let's just use the normal short header, with no install button

[2017-01-27 17:06] ghost commented on #2086
We're adjusting the flow right now so this is expected behavior.  Thanks for filing.

[2017-01-27 17:06] #2086 closed, assigned to nobody

[2017-01-27 17:30] ghost commented on #2061
The new add-on doesn't do this, so this will be fixed next sprint.

[2017-01-27 17:31] ckprice commented on #2065
Thanks for filing! Test Pilot currently doesn't support private browsing mode.

https://github.com/mozilla/testpilot/blob/master/docs/faq.md#does-test-pilot-work-in-private-browsing-mode

[2017-01-27 17:31] #2065 closed, assigned to nobody

[2017-01-27 18:28] jaredhirsch commented on #1855
@clouserw @sunahsuh I think the SQL used to generate the graph might be the issue.

To track the number of installs, we have to subtract 'disabled' events from 'enabled' events. (The reason is that, if an addon is disabled and then uninstalled, we won't ever get an uninstall ping--Firefox unloads the metrics code when the addon is disabled, so there's nothing listening for the later uninstall even

[2017-01-27 18:37] jaredhirsch opened #2095 "Verify addon installation doesn't double-fire 'enabled' telemetry ping"
From https://github.com/mozilla/testpilot/issues/1855#issuecomment-275737599:

I do have some doubts about the addon code, as it seems to [double-fire the 'enabled' ping](https://github.com/mozilla/testpilot/blob/master/addon/index.js#L332) both when an addon is installed, and when it's enabled, but I need to verify that, which I'll do in a separate bug.

Stuff to double-check:
- Make sure upgrade

[2017-01-27 18:57] #2085 closed, assigned to dannycoates

[2017-01-27 19:49] ghost commented on #2042
We had an issue for a while with Nightly.  Please try again with the latest version.

[2017-01-27 19:49] #2042 closed, assigned to nobody

[2017-01-27 21:42] #2087 closed, assigned to dannycoates

[2017-01-27 21:50] pdehaan opened #2096 "Related experiments list on experiments page shows current experiment"
Found in http://testpilot.dev.mozaws.net/__version__ (9ccfdec1a5bdd8bce53cebd3ebb19d3c69946702):

[code]

---

### Steps to reproduce:
1. Go to http://testpilot.dev.mozaws.net/experiments/tracking-protection
2. Scroll down to "Try out these experiments as well".
3. Look at the listed experiments.

### Actual results:
I'm on the "Tracking Protection" experiment page, but it points to the Tracking P

[2017-01-27 22:12] pdehaan opened #2097 "Page contents not fully updated after clicking related experiment"
Found in https://testpilot.dev.mozaws.net/__version__ (9ad7ce2afd0dcf60b1cf77679f4f0c90b528acc7):

[code]

---

### Steps to reproduce:
1. Go to https://testpilot.dev.mozaws.net/experiments/page-shot
1. Scroll to related experiments and click on min-vid experiment.
1. Scroll down and observe page contents.

### Actual results:
Left sidebar shows correct Min Vid content, but the right content area

[2017-01-27 22:31] pdehaan opened #2098 ""TypeError: G.map is not a function" when viewing No More 404s page"
Found in https://testpilot.dev.mozaws.net/__version__ (9ad7ce2afd0dcf60b1cf77679f4f0c90b528acc7):

[code]

---

### Steps to reproduce:
1. Go to https://testpilot.dev.mozaws.net/experiments/no-more-404s
1. Open developer tools console

### Actual results:

Page never loads.

[code]

### Expected results:
Show me the experiment

---

![firefox_test_pilot_-_no_more_404s](https://cloud.githubusercont

[2017-01-27 22:40] pdehaan commented on #2098
hhmm... possibly due to the measurements section in the YAML file being a string instead of an array?

[code]
&mdash; via [/content-src/experiments/no-more-404s.yaml:20-36](https://github.com/mozilla/testpilot/blob/9ad7ce2afd0dcf60b1cf77679f4f0c90b528acc7/content-src/experiments/no-more-404s.yaml#L20-L36)

---

Versus

[code]
&mdash; [/content-src/experiments/page-shot.yaml:25-45](https://github.c

[2017-01-27 22:41] pdehaan commented on #2098
Ref: #2048

[2017-01-28 01:58] ghost commented on #2098
Good catch. pr @ https://github.com/mozilla/testpilot/pull/2100  (looks like the .ftl files are fine, just the yaml out of date)

[2017-01-28 01:59] ghost commented on #2098
oh, you already did this!

[2017-01-28 02:00] #2098 closed, assigned to pdehaan

[2017-01-28 02:54] fzzzy commented on #2090
I don't understand why firefox is requesting to allow installation on stage. It should be whitelisted and able to install without any confirmation from the user.

[2017-01-28 02:58] chuckharmston commented on #2090
Is there any chance that `extensions.webapi.testing` isn't `true`?

[2017-01-29 13:00] aayushsanghavi commented on #1590
@chuckharmston @johngruen could you tell me how to proceed with the issue?

[2017-01-30 11:26] SoftVision-PaulOiegas opened #2102 "Newsletter signup is wrongly performed without checking the privacy agreement checkbox on Safari browser"
[Affected versions]:
- Safari v10.0

[Affected Platforms]:
- All Mac OS

[Steps to reproduce]:
1. Open Safari browser and navigate to "https://testpilot.stage.mozaws.net.com" page.
2. Scroll the page until Newsletter section is reached.
3. Enter a valid email address.
4. Leave the checkbox unchecked and click on "Sign Up Now" button.
5. Observe page behavior.

[Expected result]:
- You are prompted

[2017-01-30 12:46] SoftVision-PaulOiegas commented on #2087
Edge is a proud owner of white logos. Marking as verified fixed.

[2017-01-30 13:17] SoftVision-CosminMuntean opened #2103 "Links displayed in "Your Privacy" measurements section, no longer have links underneath on dev server"
[Notes]:
- This seems to be a regression introduced by #2048.

[Affected versions]:
- Firefox 51.0.1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox with a new profile and navigate to "https://testpilot.dev.mozaws.net.com" page.
2. Click on any available experiment card (except Min Vid and Tab Center).
3. Scroll down to the page and observe the "Yo

[2017-01-30 13:21] SoftVision-CosminMuntean commented on #2085
This issue is no longer reproducible on dev server. Marking as verified.

[2017-01-30 13:26] #2090 closed, assigned to fzzzy

[2017-01-30 14:22] johngruen opened #2104 "CSS + Component Cleanup"
I've started working on a branch that removes a lot of dead Sass and abstracts a few components into simple functional elements. Not sure if this will go anywhere but my goals are as follows:

- clear out no-longer-used Sass (which is surprisingly plentiful)
- abstract commonly repeated HTML blocks (copter, responsive-content-wrapper) into stateless functional components.
- simplify the relation b

[2017-01-30 15:40] chuckharmston commented on #2104
Perhaps this is the time to think about #1363?

[2017-01-30 17:05] sunahsuh commented on #1855
Hey Jared, apologies, I linked to the incorrect the query in the original bug. The query that's hooked up to the TxP dashboard is this one, which still shows irregularities, particularly for jetpack: https://sql.telemetry.mozilla.org/queries/1724/source#3073

[2017-01-30 17:06] johngruen commented on #2104
@chuckharmston maybe, but I'm not totally clear the cost-benefit of doing a full migration. Lemmie get my PR in (should be this week) and we can discuss more.

[2017-01-30 17:09] #1922 closed, assigned to dannycoates, johngruen

[2017-01-30 17:13] ckprice commented on #2102
Safari usage over last 30 days is 0.65% of total users. Not a blocker for today, but let's do next sprint.

[2017-01-30 17:18] chuckharmston commented on #2092
Relevant: https://mail.mozilla.org/pipermail/testpilot-dev/2016-November/000331.html

[2017-01-30 17:20] johngruen opened #2105 "Implement Fancy New Install Toggles on Experiments"

[2017-01-30 17:40] ghost commented on #2017
I asked for a priority/timeline in the bug.  If it's a long ways out, let's do a quick fix on our end.

[2017-01-30 17:40] jaredhirsch commented on #2017
Is it possible that we could just split the locales here and pick up 'de' if 'de-de' is missing? https://github.com/mozilla/testpilot/blob/master/frontend/src/scripts/locale.js#L4-L5

[2017-01-30 18:51] jaredhirsch commented on #2103
Confirmed this bug is legit, talked with @stasm about it a bit.

Basically, the `href` attribute is getting stripped out of the anchor tag when the translation is inserted. This is a deliberate l20n design decision that prevents localizers from inserting evil links in place of the intended href. So, the suggestion from stas was to move the anchor tag contents into the source code:

```<li data-l10

[2017-01-30 19:02] jaredhirsch commented on #2103
I'm thinking React could look at the strings and pre-template the anchor tag into the DOM, so that l20n "just works" and we don't need a third pass. that's likely the cleanest of the unclean approaches

[2017-01-30 19:03] ghost commented on #2103
We can allow unsafe HTML if we need an emergency fix, right?

[2017-01-30 19:05] jaredhirsch commented on #2103
Sadly, no. I asked about just this sort of thing, but @stasm said that's not available in l20n right now

[2017-01-30 19:21] stasm commented on #2103
Hey, sorry about the trouble. I'll take a deeper look at this tomorrow morning and see if there's anything else that we can do to fix this on l20n's side.

[2017-01-30 19:36] ghost commented on #2103
I didn't use the right words.  I'm talking about dangerouslySetInnerHTML() which we were originally using on the strings: https://github.com/mozilla/testpilot/pull/2048/files#diff-d863820a9512305ab17dd7dd0768ea4bL388

[2017-01-30 20:11] ckprice commented on #2084
Release `2017-01-30` was created from a cherry-pick of `2017-01-26-1`.

See the diff here: https://github.com/mozilla/testpilot/releases/tag/2017-01-30

@SoftVision-PaulOiegas and @SoftVision-CosminMuntean to confirm stage tonight, and if things look good, we'll move forward with a production push at 8am PST.

[2017-01-30 22:18] chuckharmston opened #2107 "Permit experiments to opt out of Heartbeat-style Test Pilot prompts."
Pulse will be prompting users about their experiences with websites using a Heartbeat-style prompt:

<img width="479" alt="screen shot 2017-01-30 at 3 05 32 pm" src="https://cloud.githubusercontent.com/assets/23885/22443874/cb8a981c-e6fd-11e6-95c6-634537d87358.png">

There's potential for confusion with the Test Pilot prompts asking for users' experience with experiments (which don't really apply

[2017-01-30 22:26] chuckharmston commented on #2107
Offer myself as a reviewer!

[2017-01-30 22:29] johngruen commented on #2105
@fzzzy here's the code from addons, there's lots of state passing through these things:

here's the component
https://github.com/mozilla/addons-frontend/blob/master/src/core/components/InstallSwitch/index.js

and here's where it interacts with mozAddonManager:
https://github.com/mozilla/addons-frontend/blob/master/src/core/addonManager.js

working to run down the CSS

[2017-01-30 22:34] johngruen commented on #2105
For now...here's the UX spec:

![switch spec](https://cloud.githubusercontent.com/assets/3323249/22444744/457d71f8-e712-11e6-8232-6395520703f2.png)

[2017-01-31 02:17] johngruen commented on #2105
Here's the css from AMO: https://github.com/mozilla/addons-frontend/tree/master/src/ui/components/Switch

[2017-01-31 12:29] SoftVision-CosminMuntean opened #2109 "Make Experiment details content the same if TXP is installed or not"
[Notes]:
- Now that we have one click install, the user should also see the incompatible add-ons massage before installing Test Pilot together with an experiment that has incompatibilities.

[Affected versions]:
- Firefox 51.0.1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Tabs Group add-on was previously installed on a new clean profile.

[Steps to reproduce]:
1.

[2017-01-31 14:10] SoftVision-PaulOiegas commented on #2084
Hi guys,
 - Waiting bug **(fixed)**: The longer wait time clearly helps as a quick measure for the issue. But we think that adding also a message in the future for when it fails would be even better.
- White logos **(fixed)**: Edge browser is a proud owner of white logos.
- Install button graduation page **(fixed)**: Button and top part are no longer displayed on "Universal Search" experiment page

[2017-01-31 17:16] stasm commented on #2103
I tagged version `4.0.0-beta.1` which includes the `document.l10n.ready` promise which is resolved when the localization of the whole `document` finishes.

I have another idea for a possible solution. Looking at the following code it occurs to me that the URL should be part of the `measurement` data structure, just like the `l10n-id` would if it wasn't built dynamically.

[code]

I wasn't able to

[2017-01-31 17:23] SoftVision-EmilPasca opened #2111 "Privacy and Terms pages are displayed in the wrong locales if the first language is English[en] and the second is German[de]"
[Affected versions]:
- Firefox 51.0.1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have only the English [en] and German [de] languages set in "about:preferences#content" in this order.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.firefox.com" page.
2. Click on the "Terms of Use" or "Privacy" text li

[2017-01-31 17:23] ghost commented on #2017
The rules for all that are [probably overly] complicated, but it sounds reasonable to me.  I'm in favor.

[2017-01-31 17:58] ckprice commented on #2111
Note: "en" represents 0.11% of our traffic to t.f.c over the last 30 days

[2017-01-31 20:20] stasm commented on #2017
The rules are indeed very complicated :) I just landed the proper fix to [bug 1331721](https://bugzilla.mozilla.org/show_bug.cgi?id=1331721): l20n will use the language negotiation algorithm defined by ECMA 402.  Can you try using the following changeset and seeing if it helps? https://github.com/l20n/l20n.js/commit/c3e35c497b5168270cc629f0ee6996cb34033cb1

[2017-01-31 20:30] fzzzy opened #2112 "quickstart doc should tell people to set testpilot.env to local again"
In the quickstart doc, it says to set testpilot.env to example. The add-on rewrite got rid of example and needs it to be set to local again.

[2017-01-31 20:31] fzzzy commented on #2049
The add-on rewrite switched local to use example.com, and got rid of the example env, so we don't need to do this any more.

[2017-01-31 20:31] #2049 closed, assigned to nobody

[2017-01-31 20:50] pdehaan opened #2113 "Merge /package.json and /addon/package.json?"
Should we merge [/package.json](https://github.com/mozilla/testpilot/blob/master/package.json) and [/addon/package.json](https://github.com/mozilla/testpilot/blob/master/addon/package.json)?

There are a bunch of packages that overlap between the two package.jsons, but also, it may make linting and building easier since we wouldn't need as many `$ cd addon` and `$ cd ..` in the build scripts.

Plu

[2017-01-31 21:00] dannycoates commented on #2113
I think we can definitely improve the build process and maybe do some dep sharing, but we can't get rid of `addon/package.json` completely because `jpm` needs one to build the xpi.

[2017-01-31 21:11] dannycoates commented on #2032
closed by #2108

[2017-01-31 21:11] #2032 closed, assigned to dannycoates

[2017-01-31 21:12] dannycoates commented on #2061
closed by #2108

[2017-01-31 21:12] #2061 closed, assigned to dannycoates

[2017-01-31 21:27] pdehaan commented on #2113
But couldn't we have **jpm** as a devDependency in the root /package.json and just set the `--addon-dir` option to the /addon/ directory?

[code]

[2017-01-31 21:30] lmorchard commented on #2113
IIRC, `jpm` uses details from the `package.json` in that `--addon-dir` (e.g. `updateURL`, `updateLink`, `icon`, `permissions`) and I'm not sure it would pick them up from the one in the root dir. Might be worth some experimentation though

[2017-01-31 22:06] #2112 closed, assigned to dannycoates

[2017-01-31 22:12] dannycoates commented on #2109
If we do this we should use mozAddonManager to check which ones are installed, not just show the full list.

[2017-01-31 23:30] dannycoates commented on #2107
I'm thinking something like this in the experiment yml:

[code]

what do you think?

[2017-02-01 02:17] pdehaan opened #2115 "Add some ESLint magic to new /addon/ directory"
Ref: https://github.com/mozilla/testpilot/pull/2108#issuecomment-276470522

And strawman ESLint config at https://github.com/mozilla/testpilot/pull/2108#issuecomment-276253093

I can't remember exactly what extra ESLint configs and plugins I added in my PR hackery, but it should be somewhat easy for me to recreate and PR (unless somebody else beats me to it).

[![](http://memecrunch.com/meme/BIIUH

[2017-02-01 13:16] #2073 closed, assigned to johngruen

[2017-02-01 17:08] johngruen commented on #2092
@fzzzy mockups:
## large
![new header -- large](https://cloud.githubusercontent.com/assets/3323249/22517376/df512f08-e876-11e6-911f-2ddd7c8b0e75.png)
## medium
![new header -- medium](https://cloud.githubusercontent.com/assets/3323249/22517374/df4c0c4e-e876-11e6-8347-3d15844f5544.png)
## small
![new header -- small](https://cloud.githubusercontent.com/assets/3323249/22517373/df4b081c-e876-11e6-85c

[2017-02-01 17:09] johngruen commented on #2092
@fzzzy if you can get all the state stuff in place i can probably do the sass on this.

[2017-02-01 17:13] johngruen commented on #2105
@fzzzy, how would you feel about doing this as a 10% A/B test as well?

[2017-02-01 17:18] vpomerleau commented on #1335
After much troubleshooting, it was determined that the user already had Test Pilot installed but disabled.

I've noticed the same issue. It would be great to detect if the plug-in is already installed (ex. replace the "install" button with an "enable" button).

[2017-02-01 17:37] SoftVision-PaulOiegas opened #2117 "UI issues on Test Pilot website using when using Firefox browser version lower than 45.0"
1. "We're building next-generation features for Firefox. Install Test Pilot to try them!" sentence from experiment page is missing.
![missing text 1](https://cloud.githubusercontent.com/assets/17258026/22517982/9c7545e2-e8b3-11e6-8dbc-bbbe43c7d8cd.png)

2. Number of participants wrongly displayed on experiments cards and not displayed at all on experiment page.
![participants](https://cloud.github

[2017-02-01 17:49] fzzzy commented on #2105
@johngruen Sure, I think this would be a good a/b test.

[2017-02-01 17:53] SoftVision-PaulOiegas opened #2119 "One click install wrongly enables experiments that are not compatible with browser version"
[Affected versions]:
- Firefox 45.0 to 47.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- A Firefox version between 45.0 and 47.0 was installed or extracted.
- A profile with no update option was previously created.

[Steps to reproduce]:
1. Open the old Firefox version with the no update profile from prerequisites.
2. Navigate to  https://testpilot.dev.mozaws.net/

[2017-02-01 19:01] pdehaan commented on #2115
PR: #2120

[2017-02-01 19:47] #2115 closed, assigned to nobody

[2017-02-01 20:56] ghost commented on #1482
No issues, we just hadn't talked about it again.  We talked about it a few weeks ago and all agreed to start signing.  New developer commits that I've seen have been signed, I think we're done here.  Thanks!

[2017-02-01 20:56] #1482 closed, assigned to clouserw

[2017-02-01 23:13] pdehaan opened #2122 "A bunch of prop warnings in /bin/circleci/test-frontend.sh"
Ref: [https://circleci.com/gh/mozilla/testpilot/3001](https://circleci.com/gh/mozilla/testpilot/3001?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) (random build)

There are about 7 warnings. Not sure if they are important, but probably worth investigating.

[code]

[2017-02-02 02:55] youwenliang commented on #2066
@johngruen

I'll see what I can do to adopt the common layout! As for the full bleed version where can I see the image?

By the way, this proposal is exactly what you suggested in your third point ->
"welcome + experiment on-boarding +email solicitation"
I only showed the first and last slide image above but there is going to have the original experiment tour slides in between.

[2017-02-02 04:11] youwenliang commented on #2066
@johngruen

Can we do something like this?
![tour cover - modified](https://cloud.githubusercontent.com/assets/8919308/22536886/acd7b9be-e940-11e6-8282-c9d4877f0570.png)
![tour email - modified](https://cloud.githubusercontent.com/assets/8919308/22536887/acd9afe4-e940-11e6-9e7e-6947dd4f0d43.png)

[2017-02-02 16:31] SoftVision-PaulOiegas commented on #2066
@johngruen I'm currently updating the tests suite for the new UI changes and I have some questions related to this new pop-up style.
Above I've seen you mentioned a flow with 3 steps "welcome to test pilot +experiment on boarding + email solicitation". Will the pop up for normal Test Pilot install have then only the "welcome + email solicitation" slides since no experiment is enabled ?
I can see o

[2017-02-02 21:44] pdehaan opened #2123 "Running 'npm run format' in /addon/ directory causes the data/bundle.js to become unminified"
### Before:

[code]

### After:

[code]

[2017-02-02 22:54] pdehaan commented on #2123
Filed upstream as `https://github.com/jlongster/prettier/issues/579` in case there is some easy glob negation thing that I'm overlooking, or if we need a **prettier** fix.

The deprecated `--flow-parser` issue was fixed in #2124 PR.

[2017-02-03 05:27] dannycoates opened #2125 "Bump min Firefox version to 49?"
Bumping our min version to 49 would let us fully utilize `mozAddonManager`. We'd get at least one nice feature and could clean up a few hacks. We'd also be able to shrink the addon even more.

* detect when testpilot is installed but disabled (https://github.com/mozilla/testpilot/issues/1335#issuecomment-276720154)
* sever the PageMod comm link between the webpage and addon
* make improving our er

[2017-02-03 05:42] dannycoates commented on #2123
Yeah, its kinda dumb that prettier runs on bundle.js but it'll never end up in the xpi like that. It'll get rebuilt and packaged minified.

WONTFIX until prettier has a better way than effing xargs

[2017-02-03 05:42] #2123 closed, assigned to nobody

[2017-02-03 09:41] SoftVision-CosminMuntean opened #2126 "Localization randomly breaks on the Test Pilot website, if opened with an older version"
[Affected versions]:
- Firefox 51.0.1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have an older version of Test Pilot installed on a profile.

[Steps to reproduce]:
1. Open the browser with the profile from prerequisite and navigate to https://testpilot.firefox.com.
2. Observe the strings from the top of the experiments page.
3. Navigate to "https://testpilot.fir

[2017-02-03 15:36] TriMoon opened #2127 "Popupbar at top of page"
Please see: meandavejustice/min-vid#570 !

[2017-02-03 16:10] SoftVision-CosminMuntean opened #2128 "Rate functionality on survey notification is not working and cannot be dismissed if it shows up on older versions of Test Pilot"
[Affected versions]:
- Firefox 51.0.1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have an older version of Test Pilot installed on a profile.
- Have any experiment enabled for at least 2 days (or edit sistem date).

[Steps to reproduce]:
1. Open the browser with the profile from prerequisite and navigate to https://testpilot.firefox.com.
2. Wait until an experime

[2017-02-03 17:08] ghost commented on #2127
Hi TriMoon.  Can you give us more information here?  How often are you seeing the popup?  How many times have you seen it?  Is there any pattern?  Do you fill it out or dismiss it?  Do you have any other add-ons installed?  Is your clock correct?

We haven't had any other reports about this so I'm not sure how much we can help here.

[2017-02-03 17:09] johngruen commented on #2125
@dannycoates let's do this, also gives us better assurance RE webExtension support

[2017-02-03 17:21] ghost commented on #2113
We talked about this in the triage and decided to wontfix this because:
* there are other higher value things we could refactor
* we're a bit nervous about zipping these together because we might have to unzip them
* Our build process is already kinda complicated and, while this would get rid of some cd's, we didn't think this would end up in overall less complexity

[2017-02-03 17:21] #2113 closed, assigned to nobody

[2017-02-03 17:26] ghost commented on #738
We'll follow up on this next Monday in our legal meeting

[2017-02-03 17:29] ghost commented on #751
I don't see the "here" anymore.  Is this still an issue?

[2017-02-03 17:30] #752 closed, assigned to nobody

[2017-02-03 17:39] johngruen commented on #2125
So right now this would effect right at 6.2% of our Firefox population on 45,46,47 and 48. Seems like a reasonable tradeoff, but we should also add some improved messaging about updating for people with older browsers installed

[2017-02-03 21:41] johngruen opened #2130 "Cannot navigate to /404 page on local"
## STR

Fire up your local env and go to https://example.com:8000/404

## Expected

See the 404 component

## Actual

White page with classic `cannot get /404` message.

[2017-02-04 15:16] TriMoon commented on #2127
As stated i have seen it **many** times.
I have both dismissed it and filled-out.
My time is in sync with NTP..
As to the frequency i can't tell, but it's too much for my taste..

I surely you ain't of the type to say you dismiss reports just because you had not enough % of your users spend the efforts of actually complaining about it using a issue-tracker...

WHY would you implement such a popup

[2017-02-06 16:05] SoftVision-PaulOiegas commented on #2105
@johngruen
1. What if the download or install fails ? How would that state be displayed on the new toggle functionality?
- I assume the knob will move back to the left side and switch background will become red ? Or do you guys have something else in mind ?

2. In what cases the switch button would be in "Inactive state" ?
- Manually disabled addon from "about:addons" page for the green state ?
-

[2017-02-06 19:04] fzzzy opened #2135 "A/B testing for test pilot"
We have a few things to do that we put into the current sprint, #2105 and #2092, but we don't actually have an a/b test harness set up for Test Pilot yet. (We do for experiments that use Test Pilot).

I propose we get the a/b machinery working in this sprint first, then do the tests next sprint.

For this sprint, maybe we can test something simple like a font size change or a color change.

[2017-02-06 19:28] chuckharmston commented on #2107
@dannycoates works for me!

[2017-02-06 21:08] groovecoder opened #2136 "Uninstall Tracking Protection experiment"
We are graduating the Tracking Protection experiment out of Test Pilot with plans to do a "Phase 2" tracking protection experiment based on ideas we've learned here.

Since the Tracking Protection add-on is a WebExtension, it cannot use the AddonManager to uninstall itself. (I.e., [`getAddonByID()`](https://developer.mozilla.org/en-US/Add-ons/Add-on_Manager/AddonManager#getAddonByID()) and [`unins

[2017-02-06 21:42] ghost commented on #2136
You're right, this is not implemented in web extensions yet (https://bugzilla.mozilla.org/show_bug.cgi?id=1280236).

I also confirmed that we can't just "upgrade" your webextension to an SDK add-on which uninstalls itself.

So, I think the right thing here is:

1) Plan out a simple list of add-on IDs which Test Pilot uninstalls when it encounters them (*not* on startup, so as to keep our start tim

[2017-02-06 22:21] dannycoates commented on #2136
If uninstalling experiments is something we'll want to do in general, which it probably is, we could add a field to the experiment yml to specify an uninstall date and have the addon remove. It should be pretty easy to implement (few hrs).

[2017-02-06 22:25] dannycoates commented on #2136
Is this something we'd do silently or do we want ui to inform users what's happening?

[2017-02-07 00:31] ghost commented on #2136
Hmm, yaml field is interesting.  Good question on how we inform users.  @johngruen ?

[2017-02-07 07:24] magopian opened #2137 "Unable to install the test-pilot add-on on Firefox 52.0b3"
When navigating to https://testpilot.firefox.com/, and clicking on the install button, it animates, but nothing else happens. I've uninstalled the react-devtools addon (which was causing a CSP error), and disabled ublock origin (which was causing a second CSP error), but to no avail.

I don't see anything in the console or in the network tab as a result of clicking on the install button. Here's wh

[2017-02-07 09:24] magopian commented on #2137
I've just tried in nightly (54.0a1) and I can reproduce the same faulty behavior.

[2017-02-07 10:34] SoftVision-CosminMuntean opened #2138 "Test Pilot doorhanger image is wrongly displayed on "Browser restart request" page for Firefox 49.0"
[Affected versions]:
- Firefox 49.0

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Firefox 49.0 was installed / extracted.
- Make sure that e10s is enabled on a new clean profile with "Never check for updates" option selected..

[Steps to reproduce]:
1. Open Firefox 49.0 with the profile from prerequisite and navigate to https://testpilot.firefox.com.
2. Click the "

[2017-02-07 10:44] SoftVision-CosminMuntean commented on #2137
Hi @magopian, thanks for reporting this.

I haven't managed to reproduce this issue on Firefox (52.0b3) beta or latest Nightly (54.0a1) build using a clean profile. Test Pilot installs successfully. Even tried to use a localized French build, but the result was the same.

Can you please check in "about:config" if "testpilot.env" string pref is set to "production"? Or if there is a chance that the

[2017-02-07 10:50] magopian commented on #2137
Woah, very good pointers, indeed I had the addon already installed and disabled. I'm sorry about that...

I guess I was expecting some feedback of some sorts, or maybe tell me that it was already installed? I don't know.

Should I close this issue, or should it be re-posted somewhere else?

[2017-02-07 10:58] SoftVision-PaulOiegas commented on #2137
Hi @magopian. Glad this helped. The issue is already tracked in #1335 & #2125, and came again in discussion these days.
I will close this in favor of the one that is already opened. Please follow that thread and add details there if needed. Thanks !

[2017-02-07 10:58] #2137 closed, assigned to nobody

[2017-02-07 13:36] SoftVision-PaulOiegas commented on #2119
The issue was fixed by #2129. Since the current experiments require versions between 45 and 48 including, this is no longer reproducible. New users with Firefox version under 49.0 will not be able to install any experiments.

[2017-02-07 13:36] #2119 closed, assigned to johngruen

[2017-02-07 14:10] groovecoder commented on #2136
@clouserw so, just to be clear - I should make a new Tracking Protection `.xpi` file that effectively empties out the entire add-on?

[2017-02-07 18:16] johngruen commented on #2136
@groovecoder that sounds good for now

[2017-02-07 18:22] johngruen commented on #2136
but yeah @dannycoates is a longer term solution

[2017-02-07 19:47] lmorchard commented on #2136
FWIW, we have [a BroadcastChannel for Web Extensions to send Telemetry pings via the Test Pilot add-on](https://github.com/mozilla/testpilot/blob/master/addon/src/lib/metrics/webextension-channels.js). We could open another BroadcastChannel to accept a self-uninstall message from a Web Extension that the Test Pilot add-on would execute. That might allow for more of a self-managed uninstall from th

[2017-02-07 20:31] pdehaan opened #2143 "Add next round of Test Pilot experiments to testpilot dev server"
It'd be nice to get the signed XPIs for the following experiments onto the dev server for QA testing sooner rather than later:

- [Containers](https://github.com/mozilla/testpilot-containers)
- [Snooze Tabs](https://github.com/bwinton/SnoozeTabs) &mdash; see https://testpilot.firefox.com/files/snoozetabs@mozilla/latest
- [Pulse](https://github.com/mozilla/pulse)

We've tested these somewhat thorou

[2017-02-07 22:18] pdehaan commented on #2143
Ref: https://github.com/mozilla/testpilot-containers/issues/159 &mdash; "getting a signed build that works with release for testing"

[2017-02-07 23:20] #2104 closed, assigned to johngruen

[2017-02-08 00:28] dannycoates commented on #2136
Yeah, I think giving the experiment a way to trigger an uninstall is a good idea. I think we ought to be able to force it from the testpilot end also.

[2017-02-08 00:42] dannycoates commented on #2096
i can't repro anymore

[2017-02-08 00:42] #2096 closed, assigned to dannycoates

[2017-02-08 09:34] SoftVision-PaulOiegas commented on #1702
@johngruen This issue reappeared on the http://testpilot.dev.mozaws.net/privacy page. Probably due to the latest changes merged on the UI (#2132).

[2017-02-08 11:51] SoftVision-CosminMuntean opened #2147 "The "Back" navigation arrow is wrongly displayed on the first slide from "Take the Tour" pop-up"
[Notes]:
- Probably this is a regression introduced by #2132.

[Affected versions]:
- Firefox 51.0.1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open Firefox with

[2017-02-08 12:14] johngruen commented on #2147
@SoftVision-CosminMuntean what happens if you click the button? Does everything blow up?

[2017-02-08 12:21] SoftVision-CosminMuntean commented on #2147
Nothing happens and I don't see any errors in browser console.

[2017-02-08 15:59] SoftVision-PaulOiegas opened #2148 "CSP error displayed while navigating on Homepage and experiment details pages without having TxP installed"
[Notes]:
- This issue is not reproducible while having Test Pilot add-on installed.
- This issue is not reproducible on stage and production servers.
- This issue is not reproducible while visiting "About Test Pilot", "Privacy", "Terms", "Share" or "404" pages.

[Affected versions]:
- Firefox 51.0.1 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open

[2017-02-08 17:05] ghost commented on #2017
Let's do the hack for this sprint and upgrade to the new L20n next sprint

[2017-02-08 17:09] pdehaan commented on #738
Both these folders in the **mozilla/legal-docs** repo currently have translations for _en-US.md_ and _de-DE.md_:

https://github.com/mozilla/legal-docs/tree/master/firefox_testpilot_PrivacyNotice
https://github.com/mozilla/legal-docs/tree/master/firefox_testpilot_Terms

[2017-02-08 17:10] ghost commented on #2095
Dupe of #1855

[2017-02-08 17:10] #2095 closed, assigned to nobody

[2017-02-08 17:12] johngruen commented on #1480
Fira loaded in the `index.moustache` file is also offending

[2017-02-09 13:43] fzzzy commented on #2080
Fixed by https://github.com/mozilla/testpilot/pull/2152

[2017-02-09 13:43] #2080 closed, assigned to johngruen

[2017-02-09 13:47] #2107 closed, assigned to dannycoates

[2017-02-09 15:19] SoftVision-PaulOiegas opened #2153 "Missing string on newsletter sign up success pop up"
[Affected versions]:
- Firefox 51.0.1 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a valid email address that is not signed up on the Test Pilot Newsletter.

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites and navigate to https://testpilot.firefox.com page.
2. Choose to "Install the Test Pilot Add-on".
3. After the

[2017-02-09 15:55] #2084 closed, assigned to SoftVision-PaulOiegas, SoftVision-CosminMuntean

[2017-02-09 16:22] pdehaan commented on #2017
This should be fixed via #2149

[2017-02-09 17:53] fzzzy opened #2154 "Actually record variant test cohorts in google analytics"
We need to nail down the strategy for storing a user's chosen cohort for a test in ga. I think we can look at Page Shot since it just did the same thing recently.

[2017-02-09 18:27] #2135 closed, assigned to fzzzy

[2017-02-09 20:26] dannycoates commented on #2136
@johngruen we can do this in the addon now. do we want to set a date?

[2017-02-09 21:53] jaredhirsch opened #2156 "github pages docs site?"
might be nice to make our markdown docs stand out a bit. maybe taipei uxers could pitch in?

[2017-02-10 00:24] jaredhirsch commented on #1735
Closed by #2151

[2017-02-10 00:24] #1735 closed, assigned to jaredhirsch

[2017-02-10 01:54] jaredhirsch commented on #1855
@sunahsuh Do you happen to know where I can find the code that turns Telemetry pings into the `txp_events` table?

I've noticed that the testpilot addon resets its client ID after each upgrade--not the Firefox clientId normally used by Telemetry, but the testpilot user identifier, which is saved in addon storage. I'm wondering if that is the cause of the odd jumps in install counts after each expe

[2017-02-10 03:51] ckprice opened #2158 "[release] 2017-02-13 on Stage"
Please QA stage. Let's use this issue to track deployment status to production. I've assigned this to Paul, but we should all be checking out stage a bit.

- Verification documentation: https://github.com/mozilla/testpilot/blob/master/docs/development/verification.md
- Release notes: https://github.com/mozilla/testpilot/releases

http://testpilot.stage.mozaws.net/

[2017-02-10 12:21] SoftVision-CosminMuntean opened #2159 "The new thick white border that surrounds the install buttons is missing on other locales than en-US"
[Affected versions]:
- Firefox 51.0.1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have a profile which contains the A/B testing experiment for Test Pilot install button.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.stage.mozaws.net/" page.
2. Observe the "Install Test Pilot Add-on" button.
3. Go to

[2017-02-10 14:08] SoftVision-CosminMuntean opened #2160 "Activity Stream data collection link from your privacy section redirects to a 404 page"
[Notes]:
- The path for the "data_dictionary.md" seems to be wrong. I think the correct path for it should be: htps://github.com/mozilla/activity-stream/blob/master/docs/data_dictionary.md.

[Affected versions]:
- Firefox 51.0.1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox browser and navigate to "https://testpilot.stage.mozaws.net/" page.
2. Cl

[2017-02-10 14:25] SoftVision-CosminMuntean opened #2161 "[Stage] Test Pilot spaceship logo is wrongly positioned on Test Pilot "Experiments" page"
[Notes]:
- This issue is only reproducible on stage server.

[Affected versions]:
- Firefox 51.0.1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the profile.

[Steps to reproduce]:
1. Open Firefox with

[2017-02-10 15:22] SoftVision-PaulOiegas opened #2162 ""Install" button new thick white surrounding border is non persistent on Windows and Linux"
[Notes]:
- This issue is only reproducible on stage server and only on Windows and Linux OSes.

[Affected versions]:
- Firefox 51.0.1 and above

[Affected Platforms]:
- All Windows
- All Linux

[Prerequisites]:
- Have a profile which contains the A/B testing experiment enabled.

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites and navigate to "https://testpilot.sta

[2017-02-10 15:56] SoftVision-CosminMuntean opened #2163 "If experiment download fails, the "Enabling..." button remains in the enabling state and no error is displayed"
[Notes]:
- This issue is not reproducible on production server.

[Affected versions]:
- Firefox 51.0.1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "stage" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed on the above profile.

[Steps to reproduce]:
1. Open Fir

[2017-02-10 16:58] SoftVision-CosminMuntean opened #2164 "The "Changelog" and "Bug Reports" German words are wrongly split on "Experiment details" page"
[Affected versions]:
- Firefox 51.0.1

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The German [de] language was added on top of the list from Firefox Options>Content section.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.stage.mozaws.net" page.
2. Click on one of the available experiments cards.
3. Ob

[2017-02-10 16:59] SoftVision-PaulOiegas commented on #2158
Hi guys, here are the results after our round of tests:

### **New issues**
1. #2159 - The new thick white border that surrounds the install buttons is missing on other locales than en-US (**Minor**)
2. #2160 - Activity Stream data collection link from your privacy section redirects to a 404 page (**Normal**)
3. #2161 - [Stage] Test Pilot spaceship logo is wrongly positioned on Test Pilot "Experim

[2017-02-10 17:05] ghost commented on #2136
No need to set a date today, we can do it next week (although I think it will be the 15th)

[2017-02-10 17:08] ckprice commented on #2136
Taking this to set both ending and uninstall dates for the 15th.

[2017-02-10 17:12] SoftVision-CosminMuntean commented on #2017
This issue is no longer reproducible on stage server. Marking as verified.

[2017-02-10 17:12] #2017 closed, assigned to dannycoates

[2017-02-10 17:12] pdehaan commented on #2017
The associated PR was merged, but doesn't work in testpilot.dev, but _should_ work in stage/prod. Closing.

[2017-02-10 17:16] ghost commented on #2159
This is on purpose (is an a/b test @ 50%)

[2017-02-10 17:16] #2159 closed, assigned to nobody

[2017-02-10 17:17] jaredhirsch commented on #2160
The working link is https://github.com/mozilla/activity-stream/blob/master/docs/data_dictionary.md

I think we just need to update the yaml

[2017-02-10 17:18] ghost commented on #2161
@johngruen is this something you changed on purpose?

[2017-02-10 17:20] jaredhirsch commented on #2103
Unassigning myself. Don't think I'll get to this today, and I'm out next week

[2017-02-10 17:42] ckprice commented on #2154
I'm going to add this to next sprint. A/B testing is kind of useless without it.

These are the custom dimensions we currently have configured

<img width="998" alt="screen shot 2017-02-10 at 9 38 15 am" src="https://cloud.githubusercontent.com/assets/8632184/22837309/cfdbf3fa-ef74-11e6-9ddd-93e02131efe9.png">

It maps well to our [self-maintained documents](https://github.com/mozilla/testpilot/bl

[2017-02-10 18:07] pdehaan commented on #2075
My favorite commands/modules are `npm outdated --depth 0` and [`nsp check`](https://www.npmjs.com/package/nsp) (separate module which checks for known vulnerable modules).

[code]

For FxA, we would break the Travis-CI build if there were known vulnerable modules. And we'd either have to upgrade those modules (if there was a fixed module available), or you could explicitly ignore certain modules f

[2017-02-10 18:49] fzzzy commented on #2154
Yes, this is essential, I just ran out of time last sprint.

I'll poke at ga early next week. Thanks a lot for the link to the docs, really helpful.

[2017-02-10 18:51] fzzzy commented on #2075
Breaking the build if there are vulnerable modules seems like a really good idea.

[2017-02-10 19:17] chuckharmston commented on #2075
100% disagree. Builds should be deterministic, and should never be able to break due to external factors (HTTP requests, new versions of dependencies, etc).

[2017-02-10 19:29] fzzzy commented on #2075
Ok chuck, that makes sense too :)

[2017-02-10 19:34] #2160 closed, assigned to pdehaan

[2017-02-10 19:39] dannycoates commented on #2075
I'll troll to say that if we really want deterministic builds we should use npm shrinkwrap or yarn lock :trollface:

[2017-02-10 19:51] dannycoates commented on #2163
damn! thanks @SoftVision-CosminMuntean I was *really* hoping you wouldn't find anything with the new version, but I'm glad you caught it, you're awesome!

[2017-02-10 19:53] chuckharmston commented on #2075
¯\\\_(ツ)\_/¯ I'd be fine with that.

[2017-02-10 20:26] #2136 closed, assigned to ckprice

[2017-02-10 21:03] sunahsuh commented on #1855
Hey Jared, we don't use the client ID at all in that dashboard -- we just sum up all enables and subtract all disables. Here's the code that we're currently using for the txp_events table https://gist.github.com/sunahsuh/f6e694da157b0e05aedc77ad4cba20ad (The lua filter you found is currently experimental but we'd like to use it in the future.)

[2017-02-10 22:08] ckprice commented on #2158
Stage is updated with the completed dates for Tracking Protection and No More 404s. There is an uninstall date for Tracking Protection, but the uninstall probably won't function (see #2168).

In addition to the new change, as discussed, please give the new ping-centre some QA attention.

[2017-02-10 22:51] jaredhirsch commented on #1855
@sunahsuh Great, thanks. Is there any chance I could try to run that python code myself on the input data (with PII bits sanitized out, I guess)? Not sure what the permissions are for accessing the data in S3, but I do have access to the cloud services dev and prod AWS accounts.

[2017-02-11 00:32] jaredhirsch commented on #1855
OK, sunah pointed me at https://analysis.telemetry.mozilla.org/ as a place where I can run that notebook. That site is accessible to Mozilla staff. Also helpful: https://spark.apache.org/docs/2.0.2/api/python/pyspark.html

[2017-02-11 00:39] jaredhirsch opened #2171 "Integrate updated ping-centre library"
The `ping-centre` library is [adding Webpack support](https://github.com/mozilla/ping-centre/pull/48). Try to use it instead of a direct `sendBeacon` call once that PR lands.

[2017-02-11 00:49] jaredhirsch opened #2172 "Define & document Ping Centre setup process for new experiments"
Our updated [metrics docs](https://github.com/mozilla/testpilot/blob/master/docs/metrics/index.md) explain the setup process for new experiments to send pings to Telemetry. As part of that setup process, a Redshift schema is defined for data storage.

For Ping Centre, we should be able to reuse that same Redshift schema for data storage.

@tspurway or @ncloudioj, what should the process be for new

[2017-02-12 00:36] ckprice commented on #2158
Updated with Danny's l10n caching fix.

[2017-02-13 02:42] TrevorMcKenna opened #2174 "Enabling FlashPlayer - A lot of people CANNOT!!"
RE: please update your FlashPlayer it says to play videos... Adobe is a joke here is what I told my son this morn: - plus getting advice form ADOBE site might not help, as they poss pretnd there is nothing to see here, to maintain their image, of a 'can-do' software compnay, but as I said this is a problem I haven't been able to solve, but to-day is the day, as I want to watch catch-up etc. and am

[2017-02-13 11:49] SoftVision-PaulOiegas commented on #2174
Hi @treybigone, I'm not sure I fully understand your problem. Are you unable to update Flash Player due to Test Pilot & experiments ? Or you are unable to update Flash player through Firefox browser in general ?

If it's the second problem, then I think you have logged your issue on the wrong location. All Firefox browser issues should be logged on https://bugzilla.mozilla.org/ page.
This GitHub r

[2017-02-13 12:42] SoftVision-CosminMuntean commented on #2163
Thanks @dannycoates :grin:,
I have retested this issue and is no longer reproducible on stage and dev servers. Marking as verified.

[2017-02-13 16:14] Folsome opened #2175 "When copying text all you want is..."
This relates to page shot - when using this excellent tool what you look for is just the characters. To catch the whole document if you try to shrink and then copy you get (this criticism comes in two partidos) UNO the visible only, even though you fingered whole page
DOS - I can occasionally see the entire text on the screen, i.e. the program (page shot) takes down the entirety of characters, the

[2017-02-13 16:33] SoftVision-PaulOiegas commented on #2158
Hi guys,

Here are the testing results for today:
### **1. Graduation dates for Tracking Protection and NoMore404s**
- Both the experiments have "Ending soon" notification, followed by "Ending tomorrow" when you progressively change the system date.
- If the date for graduation is passed, the experiments are correctly moved at past experiments even if still enabled, and the only available option i

[2017-02-13 17:05] johngruen commented on #2158
Another issue...site appears broken on ios webkit

[2017-02-13 17:39] #2125 closed, assigned to nobody

[2017-02-13 17:41] ghost commented on #2068
This is done on purpose

[2017-02-13 17:42] #2068 closed, assigned to nobody

[2017-02-13 17:43] ghost commented on #2012
We're not sure how to do this, so moving to backlog

[2017-02-13 18:10] pdehaan commented on #2075
Also, apparently greenkeeper supports ignoring certain modules (if we want to ignore updates to **react-router**, for example).
Ref: `https://github.com/greenkeeperio/greenkeeper/issues/132`

Basically in our package.json, we'd just add:

[code]

[2017-02-13 20:42] ckprice commented on #2158
Stage is updated with John's webkit fix.

[2017-02-13 20:57] pdehaan commented on #2175
Moved to the Page Shot repo: https://github.com/mozilla-services/pageshot/issues/2164

Closing in favor of upstream bug.

[2017-02-13 20:57] #2175 closed, assigned to nobody

[2017-02-13 22:03] johngruen commented on #2161
@wresuolc @SoftVision-CosminMuntean yeah, this wasn't showing up on 53 when i was testing. Patch inbound.

[2017-02-13 22:19] johngruen commented on #1472
Doorhanger's gone, @pdehaan

[2017-02-13 22:20] #1472 closed, assigned to nobody

[2017-02-14 03:21] chrwang opened #2178 "Links to Example Tests on Contributing Page No Longer Exist"
The Contributing page guide links to two python test files for Server and Client testing. At some point, these moved out of their respective directories, and are now broken.

[2017-02-14 10:21] SoftVision-PaulOiegas opened #2179 "[iOS] The page items from Test Pilot process description area are overlapped on Firefox and Safari browsers (mobile view)"
[Affected versions]:
- Firefox 51.0.1 and above
- Safari (iOS 10.2.1)

[Affected Platforms]:
- iOS 10.2.1

[Steps to reproduce]:
1. Open Firefox browser or Safari native browser on an iOS device.
2. Navigate to "https://testpilot.stage.mozaws.net" page.
3. Scroll down the page and observe the Test Pilot process description area (between experiments and newsletter).

[Expected result]:
- The proces

[2017-02-14 11:24] SoftVision-PaulOiegas opened #2180 "[Android] Native internet browsers wrongly overlap the experiment description with other experiments section"
[Affected versions]:
- Samsung Internet native app (v4.0.10)
- HTC Internet native app
- Huawei Internet native app

Possible others too, but I don't have more devices available for testing.

[Affected Platforms]:
- Android

[Steps to reproduce]:
1. Open Samsung/HTC/Huawei native internet browser on a Android device.
2. Navigate to "https://testpilot.stage.mozaws.net" page.
3. Scroll down the page

[2017-02-14 13:22] SoftVision-PaulOiegas opened #2181 "[Mobile] Footer links are wrongly alligned on Test Pilot related pages (About Test Pilot / Privacy / Terms)"
[Affected versions]:
- All browsers (native & 3rd party)

[Affected Platforms]:
- Android
- iOS

[Steps to reproduce]:
1. Open Android / iOS device internet browser (native or 3rd party).
2. Navigate to "https://testpilot.stage.mozaws.net" page.
3. Scroll down to the bottom of the page and observe the footer links position.
4. Tap on one of the available links that redirects to a Test Pilot page (

[2017-02-14 15:29] SoftVision-PaulOiegas commented on #2158
Hi guys,

We verified the fix made by John for iOS problem and it seems ok. But sadly we performed some additional testing on the mobile side and we found several new issues on both iOS and Android platforms.
1. #2179 - [iOS] The page items from Test Pilot process description area are overlapped on Firefox and Safari browsers (mobile view)
2. #2180 - [Android] Native internet browsers wrongly over

[2017-02-14 17:48] SoftVision-CosminMuntean commented on #2126
End of life warning strings are also affected when using old profiles. Probably is the same cause.
I can reproduce this issue with all my old Firefox profiles that have Test Pilot 0.9.4-dev-045fca1 version installed. If the page is refreshed the strings are correctly displayed.

Here are some screenshots with the issue:

![txp](https://cloud.githubusercontent.com/assets/19226534/22941532/7ae495aa-

[2017-02-14 17:59] ckprice opened #2182 "Add graduation reports for Tracking Protection and No More 404's"
This will need to be merged in and pushed to production tonight (a bit behind on timing here =/). Hopefully it won't need much QA since we're just updating an existing YAML field.

[2017-02-14 18:26] ckprice commented on #2154
Added two new custom dimensions today (8 and 9)

Question: do we want to allow for multiple tests at the same time? The current implementation with Custom Dimensions limits this, but I don't think we should yank the code out if it's in (maybe we can improve reporting later). We could update the docs to make sure folks are only doing one at a time.

<img width="996" alt="screen shot 2017-02-14 at 1

[2017-02-15 16:23] timendum opened #2188 "Addon button reappears after upgrade"
My addon recently updated to 1.1.0 and the test pilot button appeared again in the toolbar. I removed it in the past.

I don't think it's linked to the specific version, but to the upgrade.

I'm on firefox  52.0b5 but I think it happened in the past, after previous addon upgrade.

[2017-02-15 16:27] ghost commented on #1480
PR in #2184

[2017-02-15 16:32] SoftVision-PaulOiegas opened #2189 "Enabled experiment after locale switch isn't displayed as such, and it's not removed at Test Pilot uninstall"
[Notes]:
- I'm not 100% sure but I think this is a regression.

[Affected versions]:
- Firefox 51.0.1 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- A new Firefox profile was created with default en-US language set for content.
- Test Pilot was already installed on the profile.

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisi

[2017-02-15 16:33] ghost commented on #1518
I just tried to reproduce this and the tab name updates for me.  Is this still an issue?

[2017-02-15 16:45] ghost commented on #2148
Google Analytics is trying to load off of their non-ssl site and CSP is blocking it.

The GA snippet attempts to detect if you are on an ssl site or not and load the corresponding code from Google.

From the logs it looks like you're on non-ssl testpilot dev, but your link in the comment is ssl.  So....there might be some strange redirection happening here or something.

[2017-02-15 16:46] ghost commented on #2153
Marking needs:ux.  was this string dropped on purpose or should we add it back?

[2017-02-15 16:49] ghost commented on #2128
Even if we can't record user input because it's not backwards compatible, we should fail gracefully.

[2017-02-15 17:10] ghost commented on #2143
@johngruen is going to start opening PRs for this tonight/tomorrow

[2017-02-15 17:22] #2161 closed, assigned to johngruen

[2017-02-15 17:42] SoftVision-PaulOiegas commented on #1518
The original issue is indeed no longer happening. But now if you are on an experiment page and you click the "Firefox" logo at the top, the tab displays the experiment name for the homepage.
So it's quite the opposite now . 😆

![home tab name](https://cloud.githubusercontent.com/assets/17258026/22987280/e38fcade-f3b6-11e6-99c3-1af836183904.png)

[2017-02-15 17:45] SoftVision-PaulOiegas commented on #2153
@wresuolc I've talked with @johngruen on IRC about this. Asked him the same question and he told me to log it cause we need to add it back.

[2017-02-15 17:58] SoftVision-CosminMuntean commented on #2103
The "Embedly" link from Activity Stream experiment page and "Archive.org", "here" links from NoMore404s experiment page are still not working.

The rest of the links from privacy section are working as expected.

[2017-02-15 19:00] fzzzy commented on #2154
I did end up changing the code so that each user is only allowed to be in one test. I think it is the sanest way to do a/b testing -- who knows what weird interactions could arise from users being in multiple tests that don't know about each other.

If we want to allow users to be in more than one test at a time, we can file a feature bug then and discuss the merits of that approach.

[2017-02-15 21:42] pdehaan commented on #2182
@johngruen @clouserw This was completed [and deployed to prod], yes?

[2017-02-15 21:54] pdehaan opened #2195 "A few no-more-404s graduation_report HTML errors via W3's HTML validator"
Seeing a few HTML validation errors via https://validator.w3.org/nu/#textarea for the no-more-404s.yaml `graduation_report` HTML:

1. **Error:** Bad value 100% for attribute `width` on element `img`: Expected a digit but saw `%` instead.
   From line 21, column 3; to line 21, column 111
[code]

1. **Error:** Bad value `auto` for attribute `height` on element `img`: Expected a digit but saw `a` ins

[2017-02-15 22:00] pdehaan commented on #2195
Similarly, the **eslint-plugin-jsx-a11y** module noted there was an unclosed `<p>` tag, and subsequently complained about a handful of `<img>` tags that were lacking `alt=""` attributes:

[code]

[2017-02-15 22:02] pdehaan commented on #2195
Unclosed `<p>` tag was at [./content-src/experiments/no-more-404s.yaml:94](https://github.com/mozilla/testpilot/blob/7d2a6b6cc167e8708af8d7c0eadf5597b073d624/content-src/experiments/no-more-404s.yaml#L94).

[2017-02-15 22:13] pdehaan opened #2196 "Replace AMO link in No More 404s graduation report with actual add-on URL"
Ref: [./content-src/experiments/no-more-404s.yaml:130](https://github.com/mozilla/testpilot/blob/7d2a6b6cc167e8708af8d7c0eadf5597b073d624/content-src/experiments/no-more-404s.yaml#L130):

A link like `https://addons.mozilla.org/firefox/` isn't too useful to me, I'd still need to search AMO to find the add-on again. It'd be nice if we can put the full URL to the extension... once it's in AMO.

[2017-02-15 22:32] sunahsuh opened #2197 "New level of nesting on webextensions pings is inconsistent with SDK pings"
While writing the ETL for SnoozeTabs I noticed we have a new level of nesting in the payload just for webextensions pings:
https://github.com/mozilla/testpilot/blob/master/addon/src/lib/metrics/webextension-channels.js#L141

Unless there's a different reason we have this field, senderAddonId is redundant with the addon ID in `payload/test`, and `testpilotPingData` is an unnecessary level of nestin

[2017-02-15 22:59] ghost commented on #2197
/cc @6a68 although he's out this week so if anyone else knows about this, please jump in

[2017-02-16 06:01] #2182 closed, assigned to johngruen, ckprice

[2017-02-16 06:10] ckprice opened #2198 "Create product pages for new experiments"
Going to _try_ to get this merged in tomorrow so we'll have some thing to test against even if copy/assets aren't final (@johngruen). Need to set `dev` flag to hide from localizers, so we'll be doing another merge/push before launch.

XPI URLs (okay if these aren't 100% final either)
- Snooze Tabs: https://testpilot.firefox.com/files/snoozetabs@mozilla/latest
- Pulse: @chuckharmston
- Containers:

[2017-02-16 09:27] marco-c opened #2199 "Notified twice about the No More 404s experiment ending"
I've been notified twice and been asked to rate it twice.

[2017-02-16 14:13] ckprice commented on #2198
Dup of #2143

[2017-02-16 14:13] #2198 closed, assigned to ckprice

[2017-02-16 15:20] SoftVision-CosminMuntean commented on #2126
It seems that the strings from Privacy section are also affected. I have noticed this after yesterday deploy (2017-02-15) to production on older Firefox profiles with Test Pilot (v.0.9.4-dev-045fca1) installed.

I think that any new or changed strings are affected by this issue after deploy on production, if Test Pilot add-on is not up to date.

Here is a screen shot with the issue:

![pricavy sec

[2017-02-16 16:19] ckprice commented on #2199
Got another report for this in IRC.

[2017-02-16 16:25] #2158 closed, assigned to SoftVision-PaulOiegas, SoftVision-CosminMuntean

[2017-02-16 16:28] fzzzy commented on #2162
I'm not going to get to this this week and am on vacation next week, so someone else can pick it up if they feel like it.

[2017-02-16 16:40] SoftVision-PaulOiegas opened #2200 "Tracking Protection and NoMore404s experiments can still be enabled if system date is set to 14th February"
[Notes]:
- This behavior does not occurs with Universal Search experiment, so I was thinking that maybe we should block this ones too.

[Affected versions]:
- Firefox 51.0.1 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- A new Firefox profile was created and Test Pilot was already installed on the profile.

[Steps to reproduce]:
1. Open Firefox browser wit

[2017-02-16 16:56] ghost commented on #2200
For these specific experiments:  We're not going to disable NoMore404s, so that's not too big of a deal, and the plan for tracking protection is still to upload an empty add-on so that shouldn't be a big deal either.

Why this doesn't happen with universal search though is a good question.

[2017-02-16 16:58] ckprice commented on #2200
I think we shipped an empty add-on for Universal Search too?

[2017-02-16 17:00] chuckharmston commented on #2200
Universal Search self-uninstalls.

[2017-02-16 17:00] rickycodes opened #2201 "details-image(s) don't update"
Hopefully this isn't a dupe!

**steps to reproduce:**

1. go to an experiment on testpilot.firefox.com in the Chrome browser, eg: https://testpilot.firefox.com/experiments/tab-center (take a note of the preview images):

![screen shot 2017-02-16 at 11 52 53 am](https://cloud.githubusercontent.com/assets/675259/23031532/4f06c9e2-f43f-11e6-9a72-81e7ffd71238.png)

2. navigate to another experiment fr

[2017-02-16 17:15] lmorchard commented on #2143
Also tracking this as an issue on the Snooze Tabs repo: https://github.com/bwinton/SnoozeTabs/issues/56

[2017-02-16 17:27] SoftVision-PaulOiegas commented on #2200
Well Tracking Protection already uninstalls if you restart the browser. Hope I'm not mistaking but I've seen this on at least 3-4 profiles. The question is if we want to let them enable if we change the date in the past or not.
Universal Search can no longer be enabled even if you change the date before its graduation. So there's a difference in the behavior of graduated experiments.

[2017-02-16 18:52] #2199 closed, assigned to dannycoates

[2017-02-16 19:17] vladikoff commented on #2201
only @pdehaan knows how to fix this 😄

[2017-02-16 20:19] pdehaan commented on #2201
I think this is a dupe of https://github.com/mozilla/testpilot/issues/2097, but since we just did a production push yesterday, I'll take another look since it's definitely very suspicious.
Thanks @rickycodes!

[2017-02-16 20:23] pdehaan commented on #2097
I can still reproduce this on production, commit bc997443ded340eaad5f305819a3cecdcc829231 (we had a user report it also in #2201).

[code]

Reopening.

[2017-02-16 20:27] dannycoates commented on #2097
![](http://i.giphy.com/URcmhQ5PpztC0.gif)

[2017-02-16 21:28] meandavejustice commented on #2197
Looks like @dannycoates is marked in blame, https://github.com/mozilla/testpilot/blame/master/addon/src/lib/metrics/webextension-channels.js#L141 I think we can just pass the `data` object itself to `pingListener` itself and get rid of the `sender` parameter in `notifyPing` as @sunahsuh suggests.

[2017-02-16 21:40] groovecoder commented on #2143
@pdehaan @wresuolc are the signed .xpi's going into AMO covering this?

[2017-02-16 21:52] lmorchard commented on #2143
[Snooze Tabs is using](https://github.com/bwinton/SnoozeTabs/issues/57) the [automated sign & deploy hosting machinery for Test Pilot](https://github.com/mozilla/testpilot/blob/master/docs/development/hosting.md). Not sure if that helps Pulse or Containers at this stage

[2017-02-16 22:39] ghost commented on #2143
URLs (no xpis yet):

https://testpilot.firefox.com/files/pulse@mozilla.com/latest
https://testpilot.firefox.com/files/@testpilot-containers/latest

[2017-02-16 23:06] dannycoates commented on #2197
I copied that directly from the old version https://github.com/mozilla/testpilot/blob/master/old-addon/lib/webextension-channels.js#L127

Comparing the previous code that sends the ping to the latest version I see no *new* level of nesting since the original commit last June https://github.com/mozilla/testpilot/commit/7738ed46ae7d96a29b724b11aec660e73a887952

When did we notice the change and are

[2017-02-16 23:16] sunahsuh commented on #2197
I just noticed this yesterday while working on data coming in from snoozetabs -- think it might be "new" since afaik snoozetabs is the first webextensions-based test. This is what it looks like now (python dictionary formatting quirks, sorry):
[code]

On the other hand, here's a payload from pulse, which is an sdk extension:
[code]

[2017-02-16 23:23] dannycoates commented on #2197
Thanks @sunahsuh

Maybe @lmorchard can shed light on the original intent, but we can certainly change it if we like.

[2017-02-17 00:56] relud commented on #1610
@wresuolc you can access csp reports for stage here: https://testpilot-kibana.stage.mozaws.net/_plugin/kibana/#/discover

the list of people with access is currently being managed in puppet, so for others to get access I would need a list of people to allow.

[2017-02-17 10:25] SoftVision-PaulOiegas commented on #2097
Well, this is definitely a strange regression since we checked the fix. At least on stage I can be 100% sure that this was working since I've tested it and I noticed a slight delay on images update while navigating between pages. But nothing that would concern so much to reopen the issue.

However, I'm not 100% sure on production since we have a reduced suite for the deploy (because of testing hou

[2017-02-17 14:34] lmorchard commented on #2197
If this is the same code as from June, then this isn't a **new** level of nesting for WebExtension based experiments. That is, this ping format might be incorrect—but it's not *new*—so changing it could break things.

Looks like [the Tracking Protection experiment uses this channel](https://github.com/mozilla/blok/blob/9cf3b504128b7a57ceb19f84ed806a462b4ba488/src/js/background.js#L307)—it was actu

[2017-02-17 14:39] lmorchard commented on #2197
As for original intent, honesty I think we were just kind of winging it and hoping it was the right format. I don't remember closing the loop on the full metrics flow. Maybe @groovecoder can say how that all went with Tracking Protection?

[2017-02-17 15:42] ghost commented on #2143
Updated the containers URL:  https://testpilot.firefox.com/files/@testpilot-containers/latest and that has the add-on and is all set up now.

[2017-02-17 17:03] #2201 closed, assigned to nobody

[2017-02-17 17:06] ckprice commented on #2200
Edge case, I think we can close.

[2017-02-17 17:06] #2200 closed, assigned to nobody

[2017-02-17 17:12] pdehaan commented on #2171
Webpack PR (https://github.com/mozilla/ping-centre/pull/48) has landed. \o/

[2017-02-17 17:12] ckprice commented on #2188
We haven't shipped anything that could have caused this. This sounds more like a Firefox bug. Maybe @clouserw can test with an older version?

[2017-02-17 17:14] ckprice commented on #2174
Sounds like a Firefox bug. Can you report per Paul's suggestion above?

[2017-02-17 17:14] #2174 closed, assigned to nobody

[2017-02-17 17:20] sunahsuh opened #2206 "Daily telemetry ping is misformatted"
The daily telemetry ping is an integer in the event field (which breaks our pipeline schema expectations of `event` being a string):
`"events":[{"timestamp":851080,"event":0,"object":"daily"}]`

Looks like the [parameters might be swapped](https://github.com/mozilla/testpilot/blob/e16941fdf687239d41a1a4e82822a5ffaa2d3214/addon/src/main.js#L82-L85), but also, the [telemetry doc for testpilot](https

[2017-02-17 17:20] sunahsuh commented on #2206
The pipeline bug ID, for reference: https://bugzilla.mozilla.org/show_bug.cgi?id=1333206

[2017-02-17 17:44] SoftVision-PaulOiegas commented on #2188
Cosmin had an older version of Test Pilot on one profile, so we fired it up, moved the TxP button in hamburger menu and checked for updates afterwards. The TxP button indeed jumped back in the toolbar after the add-on got updated (see recording - https://goo.gl/WOBhIF).
Isn't this because at TxP update, we uninstall the old add-on and we install the new version afterwards ? If I remember well Les

[2017-02-17 17:49] sunahsuh commented on #2197
@lmorchard I checked the code that does the ETL for tracking protection pings and I do see this format there (I wasn't the author of that one). I still think it's worth being consistent with the format and it sounds like we'll still be releasing sdk experiments for the near future.

[2017-02-17 17:53] dannycoates commented on #2188
Its possible this happened because the id of the button changed from `action-button--testpilot-addon-testpilot-link` to `action-button--testpilot-addon-main`. The effect of that change moving the button was an oversight on my part.

[2017-02-17 18:01] dannycoates commented on #2189
This is a side effect of how the new addon version filters experiments vs the old one. Old one filtered on "display", new one on "load". The fix for this is probably to reload experiments on locale change.

[2017-02-17 18:10] lmorchard commented on #2197
Should be easy to change in the Test Pilot add-on, but we'll have to get it done before the next round of deployment for Snooze Tabs.

We *might* want to stick a conditional in there to use the old (incorrect) ping format when we see the Tracking Protection add-on ID, and switch to the corrected format for all future WebExtension experiments. Or, not, if we're okay with Tracking Protection pings s

[2017-02-17 18:19] #2206 closed, assigned to dannycoates

[2017-02-17 18:56] #2154 closed, assigned to fzzzy

[2017-02-17 20:56] daveloyall opened #2209 "No More 404s was removed from Test Pilot before being added to AMO."
I re-imaged my workstation earlier this week, so I need to reinstall everything, including No More 404s.

But I can't, because today (2017-02-17) it exists in neither the Test Pilot site nor addons.mozilla.org.

[2017-02-17 21:21] pdehaan commented on #2209
Ref: #2196

@daveloyall Sorry about that. We'll update this bug and the No More 404s page with the AMO link once it gets published (which should be very soon).

[2017-02-17 22:56] #2143 closed, assigned to clouserw, johngruen, ckprice

[2017-02-17 23:00] ckprice opened #2210 "Finalize product pages for launch"
We've merged in rough versions of these pages in #2203. This issue is opened to update with final content.

- [ ] Final approval on Containers Privacy Notice
- [x] Final copy/assets for Containers
- [x] Signed final XPI uploaded to https://testpilot.firefox.com/files/snoozetabs@mozilla/latest
- [x] Signed final XPI uploaded to https://testpilot.firefox.com/files/pulse@mozilla.com/latest
- [ ] Sign

[2017-02-18 00:00] ckprice commented on #2097
Removing https://github.com/mozilla/testpilot/blob/master/frontend/src/app/containers/ExperimentPage.js#L454 stops the `TypeError` from happening and loads the content.

Looks like it was added by @fzzzy in 8514e6ab5edfc6ccc023dc1dafd151d37dd51f68. I'll poke at it more next week.

[2017-02-18 00:03] pdehaan commented on #2164
What about if we just hyperlinked the words "Changelog", "Contribute", "Bug Reports", and "Discuss ${name}" instead of displaying the URLs:

<img width="321" alt="firefox_test_pilot_-_snooze_tabs" src="https://cloud.githubusercontent.com/assets/557895/23087601/5dcb81a2-f52a-11e6-9084-4d3adc69a929.png">

[2017-02-18 00:31] pdehaan opened #2211 "Increase line spacing for contributor names+titles"
![screen shot 2017-02-17 at 4 24 25 pm](https://cloud.githubusercontent.com/assets/557895/23088062/f357ecc6-f52d-11e6-8924-abb8a2d478aa.png)

**Figure 1:** cropped screenshot at 400% zoom for dramatic effect.

The spacing is pretty tight, in the rare-rare cases where a name has a descender and it overlaps with an ascender on the title.

I can reproduce on dev and prod, so not related to anything r

[2017-02-21 12:52] fzzzy commented on #2097
This is just the same issue we've had with race conditions with internationalization updating the dom. If react tries to update the dom after internationalization has been performed, this will continue to happen. Two possible solutions: 1) Remove react-router. 2) Pass the localized strings to react as props, instead of allowing the internationalization library to change the dom after react. Neithe

[2017-02-21 16:02] hammad13060-zz commented on #1974
Hi @6a68 I'd like to work on this. can you point me to relevant files :)

[2017-02-21 16:54] ghost commented on #2210
Pulse is uploaded

[2017-02-21 18:20] #2097 closed, assigned to dannycoates

[2017-02-21 18:20] #2103 closed, assigned to fzzzy

[2017-02-21 18:33] #2197 closed, assigned to lmorchard

[2017-02-21 18:48] ghost commented on #1610
I can log in there and can see reports, thanks.  Is this something we can enable on production?

[2017-02-21 19:12] relud commented on #1610
yes, but it requires re-deploying the nginx servers in prod.

[2017-02-21 20:07] dannycoates commented on #2188
Sorry for the inconvenience. The action here is to remember that changing the button's id will cause it to move back to the toolbar.

[2017-02-21 20:07] #2188 closed, assigned to nobody

[2017-02-21 20:26] #2210 closed, assigned to clouserw, johngruen, ckprice

[2017-02-21 20:26] johngruen opened #2215 "JG Pass on launch pages"
@clouserw I want to make a few minor tweaks before we go live

[2017-02-21 21:52] pdehaan opened #2216 "Test Pilot should remember if I had "Past Experiments" toggled on the home page"
Found in https://testpilot.dev.mozaws.net/__version__ (b5ff0ca4df7113ffefe0859f130dffcd03d067c5):

[code]

---

### Steps to reproduce:
1. Go to https://testpilot.dev.mozaws.net/
1. Toggle "View Past Experiments".
1. Click on one of the experiments (for example, "Tracking Protection").
1. Click the logo in the top-left corner or the back button to go back to the homepage.

### Actual results:
Afte

[2017-02-21 23:21] johngruen opened #2219 "Privacy_Preamble not localizing correctly"
for some reason the privacy_preamble (See cliqz) is not getting passed in the en_us build experiments.fte file. I tried adding the field name to the utils.js file but the changes didn't get picked up. Right now we're relying on copy pasta to keep everything together.

[2017-02-22 01:03] ckprice opened #2222 "[release] 2017-02-21 is on Stage (product launch)"
We have a planned launch tomorrow morning (`launch_date` is set for 9am PST). This QA verification should focus on any major bugs which appear with these add-ons enabled together (on top of the normal release verification).

Tomorrow morning during our check-in, we will make the decision to move forward with the product launch.

**Note**: stage will not have the experiments listed until the `launc

[2017-02-22 01:13] pdehaan commented on #2222
I currently see https://testpilot.stage.mozaws.net/__version__

[code]

But https://testpilot.stage.mozaws.net/ has none of the new e'speriments...

[2017-02-22 01:24] pdehaan commented on #2222
Interestingly, the https://testpilot.stage.mozaws.net/api/experiments.json API endpoint _does_ show the new experiments, so I'm wondering if this is some future `launch_date` issue:

[code]

[2017-02-22 04:13] ckprice commented on #2222
Yeah, stage won't show the experiments since the launch date is set for tomorrow (I've updated the issue opening). In hindsight since we're deploying to production tomorrow morning, we could have just set the launch date for now, but please use dev to install the add-ons.

[2017-02-22 07:15] ghost commented on #2222
containers is not ready to install.  Amazon rolled out a fancy new UI for AWS in the past hour or so and uploading is broken for me.  Hopefully it's working by morning.  Luke said he emailed a copy of the add-on to Paul, just installing off of our site won't work yet.

[2017-02-22 08:33] flodolo commented on #2222
Just to understand if I'm reading this right: are we pushing out two new experiments without giving any chance to localize that content, given that string were exposed right before tagging the release?

[2017-02-22 09:22] SoftVision-PaulOiegas commented on #2222
@ckprice @wresuolc Dev server is down at the moment. 😢 We cannot test stage with dev installed experiments, so I need to do custom repo builds to test this. Not sure if this will replicate the right behavior but still better than nothing.

L.E. Actually it recovered for the moment. I'll let you know if this happens again.

[2017-02-22 10:37] flodolo opened #2223 "Dev server is showing string IDs instead of text"
Browser set to Italian, strings are not translated yet

![tp1](https://cloud.githubusercontent.com/assets/3644868/23207880/30b8efe8-f8f3-11e6-96d2-e9227cfba5e2.png)

![Uploading tp2.png…]()

[2017-02-22 14:27] #2215 closed, assigned to nobody

[2017-02-22 14:29] johngruen commented on #2223
b/c of the en only time crunch we might want to locale whitelist these to en only until they get coverage in other locales. @ckprice thoughts?

[2017-02-22 14:31] johngruen commented on #2164
Peter, you're a genius!

[2017-02-22 14:57] lmorchard commented on #2223
FWIW, L20N doesn't fall back to en-US - if strings are missing from a translation, the IDs are shown

[2017-02-22 15:47] ghost commented on #2222
containers is uploaded.  all experiments are on s3 now.

[2017-02-22 16:00] #2223 closed, assigned to johngruen

[2017-02-22 17:56] pdehaan commented on #2164
To be honest, I'm not a huge fan of my proposal. It would remove the experiment URL visibility, so you wouldn't know that an experiment is being offered by Mozilla or Blake or NoMore404s, etc.

For example:

![firefox_test_pilot_-_snooze_tabs](https://cloud.githubusercontent.com/assets/557895/23224862/c3b2ea1a-f8e4-11e6-8d9c-6357ae3df40e.png)

---

Counter proposal would be to convert the `<table>

[2017-02-22 19:30] jaredhirsch opened #2229 "Broken experiment descriptions shown during prod deploy"
Opened the prod site during a deploy and saw some broken descriptions for the new experiments:

<img width="1009" alt="screen shot 2017-02-22 at 11 10 59 am" src="https://cloud.githubusercontent.com/assets/96396/23228132/5bbab0c6-f8f0-11e6-893c-938e4986ba56.png">

Need to investigate, but seems like a stale cached .ftl file (no strings for the new experiments).

A hard refresh fixed the issue.

@l

[2017-02-22 22:45] ckprice opened #2230 "Interacting with add-ons causes "Test Pilot may be making Nightly run slow" message"
I think `about:performance` is still a thing right?

Here is Test Pilot resting:

The following happens after I do either

- [Snooze Tabs] Snooze a tab, then click "OK"
- [Pulse] Click on on the Pulse icon in the URL bar, then give it a star rating

The Test Pilot indicator jumps to red, and it reads:

The entries for Pulse and snoozetabs remains green and unchanged.

[2017-02-22 22:45] lmorchard commented on #2171
FWIW: Had a report today of `sendBeacon` errors breaking Test Pilot, [reminiscent of what happened with `testpilot-metrics` when the `beacon.enabled` pref is `false`](https://github.com/mozilla/testpilot-metrics/issues/25). But, [the only mentions of `sendBeacon` I can find](https://github.com/mozilla/testpilot/search?utf8=%E2%9C%93&q=sendBeacon) are related to ping-centre. So maybe this is the fi

[2017-02-22 22:49] #2222 closed, assigned to pdehaan, SoftVision-PaulOiegas, SoftVision-CosminMuntean

[2017-02-23 00:06] jaredhirsch opened #2231 "Replace `sendBeacon` with `fetch`"
We use `navigator.sendBeacon` to send GA pings from the Test Pilot addon, because it's more polite than xhr or `fetch`: `sendBeacon` waits till the browser is idle before making a network request.

Some tracking protection addons, like uBlock Origin, set the `beacon.enabled` pref to `false`. This globally removes the `sendBeacon` function from the `navigator` object.

In #2151, I [added some code]

[2017-02-23 00:26] jaredhirsch commented on #2230
FWIW, the script on the `about:performance` page brought my Firefox profile to a crawl. I recently heard about a different profiling tool, which is described [on this MDN page](https://developer.mozilla.org/en-US/docs/Mozilla/Performance/Profiling_with_the_Built-in_Profiler). There's an add-on that sends performance reports to https://cleopatra.io, which I think is intended to make it easier for e

[2017-02-23 08:05] SoftVision-CosminMuntean commented on #2229
I think this issue is related to #2126.
I have managed to reproduce this on Test Pilot website using a old Firefox profile with Test Pilot( v0.9.4-dev-045fca1) add-on installed.
The new experiments pages are also affected, but after I refreshed the page the strings was correctly displayed.

![sonooze tabs](https://cloud.githubusercontent.com/assets/19226534/23249840/02f0a45e-f9af-11e6-98d9-11fcd64

[2017-02-23 12:56] SoftVision-CosminMuntean opened #2233 "Browser Console messages have weird indentations at testpilot.firefox.com"
**cloned from Bugzilla:** https://bugzilla.mozilla.org/show_bug.cgi?id=1341791

[2017-02-23 16:01] SoftVision-CosminMuntean commented on #2103
@6a68 The "Embedly" link from Activity Stream experiment page is still broken on dev, stage and production servers.
Or the fix will land only on stage and production after deploy?

[2017-02-23 16:07] april opened #2236 "Allow Test Pilot extensions to set approximate context for heartbeat notifications"
Last night I was just browsing the web (as you do) and I got a Test Pilot heartbeat notification asking me what I thought of No More 404s.  This was _very_ confusing, as I wasn't on a page with a 404 error.

This got me thinking: it would be great if extensions could set some kind of context as to whether or not it was an appropriate time for Test Pilot to ask for a heartbeat notification about th

[2017-02-23 16:33] johngruen commented on #2236
@marumari, this is a little bit of an anti-pattern UX-wise, but we *want* the experience to be somewhat jarring and not performed strictly in the context of when the experiment is performing its intended function.

The rationale here is that we want to understand how experiments are thought of, not at the moment of use but in a more general 'does this thing improve the overall experience of firefo

[2017-02-23 17:34] dannycoates commented on #2236
One thing I think we do poorly is we don't set the expectation that these are going to happen or explain why we do them, so when it does happen folks may be confused or annoyed because it's surprising, not because they don't want to help out. Of course people will think we prompt them in the wrong context, we don't set it in the first place.

[2017-02-23 17:50] #2147 closed, assigned to nobody

[2017-02-23 17:50] #2211 closed, assigned to nobody

[2017-02-23 17:51] #2181 closed, assigned to nobody

[2017-02-23 19:36] dannycoates commented on #2103
@SoftVision-CosminMuntean the embedly link won't be fixed this sprint

[2017-02-23 21:19] pdehaan commented on #2103
Semi-related, but we should probably check w/ the **activity-stream** team, as I believe they dropped Embedly usage (in favor of **fathom**) somewhat recently.

[2017-02-23 21:26] stasm commented on #1714
Sorry about the trouble l20n has been causing. It was designed to work seamlessly with regular DOM. Turns out that this isn't well aligned with how React works.

I wrote a prototype of a library which uses L20n's low-level API and file format, and integrates tightly into React. I wrote about here: https://groups.google.com/forum/#!topic/mozilla.tools.l10n/eP-Vo9UQz6o

@dannycoates, @chuckharmston,

[2017-02-24 13:45] SoftVision-PaulOiegas commented on #2216
I've seen this also but from a performance perspective, I haven't considered it a bug. Less items to load, faster page load... But of course, it's up to you guys.

[2017-02-24 17:06] johngruen commented on #2236
@dannycoates  to your point, I think this is partly a matter of setting expectation. I think we could fix this in an immediate way by explaining what's going to happen in either experiment or general onboarding.

[2017-02-24 17:06] #2233 closed, assigned to nobody

[2017-02-24 17:08] lmorchard opened #2237 "Stronger handling for mutually incompatible experiments?"
We can display a message box that warns users of mutually-incompatible experiments.

But, it might be useful to be even stronger and display a confirmation dialog when a user attempts to enable an experiment while other known mutually incompatible experiments are already enabled. For even greater safety, we could also disable the other experiments on confirmation. Or, do nothing and not enable the

[2017-02-24 17:09] ghost commented on #2230
#2231 should fix the sendbeacon stuff.  we'll see how the rest is affected

[2017-02-24 17:13] ghost commented on #2209
This is at https://addons.mozilla.org/en-US/firefox/addon/wayback-machine_new/ now.  Sorry for the inconvenience.

[2017-02-24 17:13] #2209 closed, assigned to nobody

[2017-02-24 17:15] ghost commented on #2117
We officially support >49 currently

[2017-02-24 17:15] #2117 closed, assigned to johngruen

[2017-02-24 17:19] ghost commented on #2105
John is worried about this being on the home page, but the details page is good

[2017-02-24 17:21] johngruen commented on #2109
We should just make the `details-content` the same for users with TXP not installed as it is for users with TXP installed

[2017-02-24 17:21] ghost commented on #2064
@6a68 any update on react-router?

[2017-02-24 17:22] pdehaan commented on #2064
[**react-router**](https://www.npmjs.com/package/react-router) is still at 3.0.2.

[2017-02-24 17:25] ghost commented on #1928
Thanks for filing but we don't need to link this term.

[2017-02-24 17:26] #1928 closed, assigned to nobody

[2017-02-24 17:42] ckprice commented on #1916
Just ran [the test again](https://www.webpagetest.org/result/170224_67_10N4/1/performance_optimization/). It's still yelling at us for Gzip, but caching seems to be fixed by #1923.

https://github.com/mozilla/testpilot/issues/1916#issuecomment-267700250 noted a `Compress: true` changed in CloudFront. Wondering if we need anything else? [Docs suggest](https://aws.amazon.com/blogs/aws/new-gzip-compr

[2017-02-24 22:55] ghost commented on #2156
Are these still built from a gh-pages branch?  I'm afraid this would make people less likely to update docs because it would be another process to go through.  Would reviewing our current docs and making sure breadcrumbs/links work be as effective?

[2017-02-24 23:06] jaredhirsch opened #2239 "Metrics checklist for new experiments"
Our docs should include a clear todo list for new experiments to get metrics flowing to all the appropriate places. Also need some documentation of contact people from each team, and how to make / where to find dashboards.

[2017-02-25 00:08] jaredhirsch commented on #2231
Just realized that, if we use `fetch`, we could forward any connection errors to Sentry. I think this would be useful information to pass along to ops, rather than just silently dropping errors.

[2017-02-25 03:41] mathieuinottawa commented on #875
Looks different to me, but still not right:

![odd chars](https://cloud.githubusercontent.com/assets/26018083/23327885/51154d72-fae2-11e6-96f0-d38c41293b39.png)

[2017-02-25 12:15] fzzzy commented on #2105
Ok. For some reason I thought this was for on the homepage...

[2017-02-26 00:06] arnettce opened #2240 "Icon for Pulse missing"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Containers:           https://github.com/mozilla/testpilot-containers/issues/new
- Min Vid:

[2017-02-26 00:50] chuckharmston commented on #2240
Closing in favor of https://github.com/mozilla/pulse/issues/131

[2017-02-26 00:50] #2240 closed, assigned to nobody

[2017-02-26 11:05] sivalingam41 opened #2241 "url not working in Firefox but works well in Opera browser"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Containers:           https://github.com/mozilla/testpilot-containers/issues/new
- Min Vid:

[2017-02-26 16:02] ckprice commented on #2241
Hi! This repository is specific to the Firefox Test Pilot program. This isn't the appropriate place for general Firefox or page loading reports (you could try https://webcompat.com/).

[2017-02-26 16:02] #2241 closed, assigned to nobody

[2017-02-27 00:23] pmespresso commented on #1864
Looks like doorhanger was removed #2002. Should this issue be closed?

[2017-02-27 00:24] johngruen commented on #1864
Oh yeah!

[2017-02-27 00:24] #1864 closed, assigned to nobody

[2017-02-27 13:10] SoftVision-CiprianMuresan opened #2242 "Add "Right Bar" add-on to the list of incompatible add-ons with Tab Center"
[Notes]:
- Split from [Tab Center #962](https://github.com/bwinton/TabCenter/issues/962).

With the 2 add-ons enabled, the following issues can be observed:
- If the Tab Center sidebar is pinned, the page content is pushed to the left and the Browser "Back" button is no longer visible.
- If the Tab Center sidebar is pinned and you press Ctrl/Cmd+B/H then the page content is pushed even further lef

[2017-02-27 16:42] lmorchard commented on #2156
FWIW, we don't have a gh-pages branch, yet.

This stuff is pretty easily automated on CircleCI or Read the Docs, doesn't have to be another manual process. But, if we don't have to complicate things, just previewing markdown docs in a dead simple option unless we need more.

[2017-02-27 16:47] chuckharmston commented on #2156
We don't need to worry about `gh-pages` anymore, you can [publish directly from `/docs` on `master`](https://github.com/blog/2228-simpler-github-pages-publishing).

[2017-02-27 16:47] SoftVision-PaulOiegas commented on #2181
Seems to be fixed. Verified on both PC (resize) and Mobile browsers (Android and iOS). 👍

[2017-02-27 16:56] lmorchard commented on #2156
I think that works if you don't need a build step - i.e. we're committing HTML rather than markdown. A gh-pages branch works better, IMO, to keep rendered HTML separate from the source.

[2017-02-27 16:59] chuckharmston commented on #2156
[GitBook](https://www.gitbook.com/) produces very nice documentation and is quite [themable](https://toolchain.gitbook.com/themes/). Might be worth investigating.

[2017-02-27 17:04] SoftVision-PaulOiegas commented on #1982
@wresuolc This still reproduces on dev server Cliqz build. Probably a new build wasn't launched yet.
 So either we still leave this open until a new build arrives, either I can clone it in Cliqz repo. It's up to you.

[2017-02-27 17:44] april commented on #2236
Yeah, I had no context so it mostly just came off like all those feedback spam popups happen in Android/iOS apps.  I ended up disabling Pulse because I find it so similar to other annoying behavior that I've found grating in the past.

[2017-02-27 17:46] april commented on #2236
Err, it has been brought to my attention that this was a Test Pilot notification, not Pulse.  I guess it came right after installing Pulse so I misattributed where it came from.  Either way, I just wanted to say that these feedback popups are really frustrating in the wrong context.

[2017-02-27 19:21] johngruen opened #2243 "Add Contribute.json"
didn't know this existed until now:
https://github.com/mozilla/contribute.json

[2017-02-27 19:25] peterbe commented on #2243
Official site repo is https://www.contributejson.org/
It's a mozilla originated project but we want to to be as prevalent as robots.txt but specifically for projects that welcome contributions.

[2017-02-27 19:39] johngruen opened #2244 "Twitter Images aren't working for new experiments"
## expected
tweeting an experiment link shows an image

## actual
<img width="570" alt="screen shot 2017-02-27 at 2 38 26 pm" src="https://cloud.githubusercontent.com/assets/3323249/23376569/9652823c-fcfa-11e6-93ba-44614782df77.png">

[2017-02-27 19:44] lmorchard commented on #2243
We had a contribute.json. It disappeared with the static publishing switch:

https://github.com/mozilla/testpilot/issues/1582

[2017-02-27 19:51] lmorchard commented on #2244
Hmm, this seems to be happening for other older experiments, too, if you [check the Twitter card validator](https://cards-dev.twitter.com/validator). Did we change something with this recently?
<img width="618" alt="screenshot 2017-02-27 14 52 00" src="https://cloud.githubusercontent.com/assets/21687/23377030/58238b94-fcfc-11e6-85cb-9cb9f2a4c1a3.png">

[2017-02-27 19:53] lmorchard commented on #2244
Looks like [the code in the template for `twitter:image` is 5 months old](https://github.com/mozilla/testpilot/blame/master/frontend/src/templates/index.mustache#L25) and [the code generating those pages is old too](https://github.com/mozilla/testpilot/blame/master/frontend/tasks/pages.js#L51). I'd say maybe we need to append `https://testpilot.firefox.com` onto all those URLs, but if that fixes i

[2017-02-27 20:17] pdehaan commented on #2243
At least the file is still there https://github.com/mozilla/testpilot/blob/master/contribute.json, so it looks like we may just need to set up a route to it (and make sure it is served with the correct content type).

[2017-02-27 20:26] pdehaan commented on #2244
... It looks like it's defaulting to a fallback social image [in the HTML]:

[code]

Expected: [/content-src/experiments/pulse.yaml:18-19](https://github.com/mozilla/testpilot/blob/2af8327d6e0497911107589a8cac43edbb6ba8ae/content-src/experiments/pulse.yaml#L18-L19):

[code]

[2017-02-27 21:19] lmorchard commented on #2244
Did you directly navigate to that experiment page? Or did you click through to it from the front page? If the former, that's a bug. But, if it's the latter, you're seeing the HTML for the front page loaded from the server and then React router takes over (and does not update the header HTML)

Try refreshing and see if you see the correct tags. A direct load of the experiment URL should bring up th

[2017-02-27 22:26] johngruen commented on #2244
@pdehaan @lmorchard not sure if this matters but,

https://testpilot.firefox.com/static/images/experiments/cliqz/icon/thumbnail.png (or similar) redirect to our 404 whereas https://testpilot.firefox.com/static/images/thumbnail-twitter.png goes to the asset

[2017-02-27 22:36] pdehaan commented on #2244
Yeah, looks like navigating directly to the page gives me the right `<meta>` tags, whereas browsing the site and related experiments always gives me incorrect/stale content.
Refreshing the page (after browsing) then brings up the correct content. 👎

**UPDATE:** Of course, this seems semi-unrelated to the core issue of Twitter not displaying the correct information when pasting the URL into a tweet

[2017-02-27 22:45] johngruen commented on #2244
@pdehaan presumably that wouldn't be at issue with the embed not showing since Twitter would not be navigating directly. Also, wrt my previous comment, it looks like there's some cache busting on the experiment images in dist so the URLs are more like this: https://testpilot.firefox.com//static/images/experiments/snooze-tabs/social/snooze-tabs-twitter.feb8b7d6.jpg

I have a PR that will fix this (

[2017-02-27 22:49] johngruen commented on #2244
@pdehaan so that doesn't fix the stale content issue (which may not be an issue since FB and Twit will always look at the page directly) but AFAICT the path to the image needs to be absolute for it to render in Twitter.

[2017-02-28 06:22] flodolo opened #2249 "[l10n] Find a way to fall back to English strings when translation is missing"
Right now we display the label, which is far from acceptable in a website.

SnoozeTabs and Pulse are disabled on the home page because of this, while several locales are completely translated.

Possible solutions:
* Build a full FTL file as part of the build process, i.e. add English if a string is missing
* Fall back to English at run-time

CC @stasm too

[2017-02-28 09:13] luciancor commented on #1982
@SoftVision-PaulOiegas @wresuolc this issue is fixed on our side and it will land in our next update

[2017-02-28 10:35] SoftVision-CosminMuntean opened #2250 "Firefox hangs for ~30s when enabling Containers experiment from Test Pilot on Windows"
[Affected versions]:
- Firefox 51.0.1 and up
- Containers 1.0.1

[Affected Platforms]:
- All Windows

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed from "https://testpilot.dev.mozaws.net" on the profile.

[Steps to reproduce]:
1. Open Firefox with the profile from pr

[2017-02-28 12:00] SoftVision-CosminMuntean commented on #2147
I have retested this issue and is no longer reproducible on dev server. Marking this as verified.

[2017-02-28 12:32] SoftVision-PaulOiegas commented on #2000
Haven't seen this anymore on Nightly, so I'll close it for now.

[2017-02-28 12:32] #2000 closed, assigned to nobody

[2017-02-28 16:20] lmorchard commented on #2244
Refreshing the page (after browsing) then brings up the correct content. 👎

Yeah, like I said: That's how this single-page-app thing works with React Router. Once you've loaded that HTML from the front page with generic meta tags, we don't bother updating that part of the DOM for experiments because it's not visible or useful in the app itself. You have to directly load those URLs from the server

[2017-02-28 17:20] lmorchard commented on #2244
Hmm, seems like this #2247 didn't fix things. 😞 [Now the Twitter image is 404](https://testpilot.firefox.com/static/images/experiments/snooze-tabs/social/snooze-tabs-twitter.jpg), because rev-all [renamed the image filename with a hash](https://s3.amazonaws.com/testpilot.dev.mozaws.net/static/images/experiments/snooze-tabs/social/snooze-tabs-twitter.feb8b7d6.jpg) and [the absolute URL didn't pick

[2017-02-28 17:32] lmorchard commented on #2244
I think the PR I just submitted should fix the 404

[2017-02-28 19:34] glarewolf opened #2252 "Snooze Tab Issue"
Snooze Tab is an excellent idea that I am excited to see when it reaches its final stages. However, I cannot snooze any tabs as it doesn't give me the option to, it only allows me to see what tabs to manage. Yet, I cannot manage any tabs because I can't snooze any tab at all. In addition, it is very slow to open if it opens at all sometimes. #2218

[2017-02-28 20:05] dannycoates opened #2253 "Log xhr errors to sentry"
User counts and basket subscription are two examples. see https://github.com/mozilla/testpilot/pull/2184#discussion_r103057869

[2017-02-28 21:02] johngruen commented on #2252
Hey @glarewolf this issue should probably be moved to the snoozetabs repo, but let me see if i understand correctly. Can you provide a concrete example of the steps you're taking to produce this issue. (eg. is there a specific site you're on)

[2017-02-28 21:19] fzzzy commented on #2092
We're going to hold off on making ui changes to test pilot for a while.

[2017-02-28 23:43] ghost commented on #2250
This should be fixed up now

[2017-02-28 23:43] #2250 closed, assigned to nobody

[2017-02-28 23:43] ghost commented on #2250
PS - we're scheduled to go live tomorrow at noon PST

[2017-03-01 00:30] glarewolf commented on #2252
Its any and all sites that I can't snooze and how would I move this?

[2017-03-01 03:13] SheilaDB opened #2258 "stupid AI needs to differenciate between friendly trackers and unfriendly onesin awll instances ask us we know"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Containers:           https://github.com/mozilla/testpilot-containers/issues/new
- Min Vid:

[2017-03-01 03:15] SheilaDB commented on #2258
it is the ad trackers that need to be blocked not the survey and games that people play

[2017-03-01 03:15] #2258 closed, assigned to nobody

[2017-03-01 06:40] kjozwiak commented on #2250
Working for me...

STR used:

* brand new FX installation with a new profile
* created "testpilot.env;dev" under about:config
* installed test pilot via https://testpilot.dev.mozaws.net/
* clicked on the "Containers" tile and selected "Enable Containers"
* waited about 8-10 seconds for Containers to enable every single time

Platforms Used:

* Win 10 Pro x64 [Personal Desktop] - PASSED
* Win 10 Pr

[2017-03-01 10:04] SoftVision-CosminMuntean commented on #2250
I have retest this issue and is no longer reproducible with the latest Containers (1.0.3) version enabled from Test Pilot. Marking this as verified.

[2017-03-01 12:50] fzzzy commented on #1480
https://github.com/mozilla/testpilot/pull/2184 has landed, is this fixed?

[2017-03-01 17:08] pdehaan commented on #2196
I believe the add-on URL in question is https://addons.mozilla.org/firefox/addon/wayback-machine_new/

[2017-03-01 17:09] fzzzy opened #2259 "Remove redux-thunk dependency."
It is unused. Any use cases that require redux-thunk functionality should use redux-promise instead.

[2017-03-01 17:12] fzzzy opened #2260 "Remove react-router dependency."
We should instead generate one html file for each route. This will not only be faster, it will avoid the continuous issues with the localization library clashing with react-router partial page refreshes. It should also make the codebase easier to read.

[2017-03-01 17:14] fzzzy opened #2261 "Remove redux-actions dependency."
While this will result in much more boilerplate, we don't have that many actions and I think it will improve the approachability of the codebase and make it easier to follow the control flow.

[2017-03-01 17:16] fzzzy opened #2262 "Start covering the frontend with flow types."
I'm going to shoot for 60% on this first issue -- I have no idea how easy or hard this will be.

[2017-03-01 17:19] dannycoates commented on #1480
I don't know about the font issue that @johngruen mentioned. I've been too <strike>lazy</strike> busy to actually test this

[2017-03-01 17:30] SoftVision-EmilPasca commented on #2252
Thank you for reporting this @glarewolf.

If you click on the SnoozeTabs button in the toolbar for one of the "special tabs" e.g: a new tab(about:newtab), about:addons, about:preferences, about:config or browsing using the "Private Window" mode, the snoozing options won't be available. However the "Manage SnoozeTabs" panel will be displayed in which you can edit or delete your currently snoozed ta

[2017-03-01 17:59] #2196 closed, assigned to pdehaan

[2017-03-01 18:26] fzzzy commented on #1480
I just tested this on master, and the original issue is fixed. I don't see any issues with the font thing. If there is an issue with loading the font, let's file a new issue for it and provide STR.

[2017-03-01 18:26] #1480 closed, assigned to dannycoates

[2017-03-01 20:03] #2259 closed, assigned to fzzzy

[2017-03-01 21:39] kekkyojin opened #2265 "Nor Snooze Tabs neither Pulse are being offered"
It has being some time since it is possible to test Snooze Tabs and Pulse. However, they are not appearing in my Test Pilot page.

Firefox 51.0.1 es_ES
macOS 10.12.3 es

[2017-03-01 22:31] chuckharmston opened #2266 "Test Pilot add-on not served with X-Target-Digest"
Ref: #1474, #1537, [this Discourse thread](https://discourse.mozilla-community.org/t/firefox-add-on-test-pilot-wont-install/13822).

We should be serving the Test Pilot add-on with the same redirect/headers as we do the experiments.

[2017-03-01 22:39] lmorchard commented on #2266
We can set headers for the XPI here, I think: https://github.com/mozilla/testpilot/blob/master/bin/deploy.sh#L90

Edit: Oh, wait, no - [we can't set the header on the XPI, we have to send the header in a 302 redirect to the .xpi](https://github.com/mozilla/testpilot/issues/1537#issuecomment-252095226). That complicates things 😞

[2017-03-01 22:52] ghost commented on #2266
I think we should just use the system we have for hosting all our other add-ons to host this one too.

[2017-03-02 00:41] aplatypus opened #2267 "CONTROL-TAB not working on main TestPilot page"
Hi

On the TestPilot page
- https://testpilot.firefox.com/

I used CTRL/LEFT-CLICK  to open the "Pulse" option and once again the "Containers" option in new Browser Tabs.  Instead of opening a new tab Firefox navigated to the page _**within the same tab**_ and I was forced to back-tab (ALT/LEFT-ARROW) to get the TestPilot page
Control-CLICK  back.

Control-CLICK is a standard browser keystroke.  I

[2017-03-02 06:51] ghost commented on #2266
One thing to consider using the other script is that the add-on could get out of sync from the site for a few minutes while one completes before the other.

Also, the script is expecting the branch to be called 'production' not 'production-static'.  I don't know how easy that is to change in the script per-repository.

[2017-03-02 16:25] SoftVision-PaulOiegas commented on #2267
Hi @aplatypus and thanks for your report ! However, this issue is already tracked under #1795. If you have any suggestions on this, please post them there.

Have a nice day ! :)

[2017-03-02 16:25] #2267 closed, assigned to nobody

[2017-03-02 17:04] SoftVision-PaulOiegas opened #2268 "[Mac OS] Test Pilot page header text is not rendered in Fira sans font on Safari 9.x"
[Notes]:
- This only reproduces on OS X 10.11 and lower due to latest Safari browser version supported on it (9.x)

[Affected versions]:
- Safari 9.x

[Affected Platforms]:
- Mac OS 10.11 and lower

[Prerequisites]:
- Have an Apple computer with Mac OS 10.11 in order to have Safari 9.x available.

[Steps to reproduce]:
1. Open Safari browser and choose to navigate to https://testpilot.dev.mozaws.n

[2017-03-02 19:44] flodolo opened #2271 "Let users switch language on the website"
Currently you have to pick what Test Pilot thinks it's right, it would be useful to have a language switcher.

For example, you currently can't see some of the experiments without changing your accept-languages with English first.

[2017-03-02 21:20] chuckharmston opened #2272 "When Test Pilot is disabled, experiments are not disabled."
Reported by @jryans on IRC:

[2017-03-02 21:22] chuckharmston opened #2273 "Test Pilot add-on being flagged by perf watcher"
Reported by @jryans on IRC:

I also noticed this while @clouserw was screensharing in the check-in yesterday.

[2017-03-02 21:24] ckprice commented on #2273
#2230 related?

[2017-03-02 21:24] chuckharmston commented on #2273
Seems so, closing as dupe.

[2017-03-02 21:24] #2273 closed, assigned to nobody

[2017-03-02 21:26] lmorchard commented on #2272
I think this is a dupe of this ancient issue from last summer: https://github.com/mozilla/testpilot/issues/1011

[2017-03-02 21:57] lmorchard commented on #2265
Hmm, looks like `es_ES` is not listed in [the `locale_grantlist` for Snooze Tabs](https://github.com/mozilla/testpilot/blob/master/content-src/experiments/snooze-tabs.yaml#L6). Could just add that locale. But, do we actually need that list? Or can we just have the English locale warning while opening it up to everyone until/unless we have proper l10n?

/cc @ckprice @johngruen @flod (since I see yo

[2017-03-02 23:49] jaredhirsch opened #2274 "Remove old-addon directory"
It looks like `old-addon` is still used by gulp for the `old-addon-copy-locales` and `old-addon-watch-locales` tasks.

Are there other reasons to keep that code?

[2017-03-03 00:54] jaredhirsch opened #2275 "How many users have mozAddonManager?"
It would be great to assume mozAddonManager is always available. [Looks like](https://wiki.mozilla.org/RapidRelease/Calendar) the FF 45 ESR version will be supported until June, which probably does not have mozAddonManager (but I'm not sure).

Questions:

- which Firefox versions have mozAddonManager support?
- how many users are on versions without mozAddonManager support?

We can probably get th

[2017-03-03 02:28] pmespresso commented on #2178
Could go ahead and change the link to https://github.com/yjkimjunior/testpilot/blob/master/docs/development/testing.md

Not sure where the examples were moved to, or whether they were deleted.

[2017-03-03 04:39] pmespresso commented on #1590
@aayushsanghavi sorry I went ahead and made a PR on this. My initial advice was wrong, but if you look at the change I made, you'll see that we can use methods in the Header component from the new Settings component by using props.

This is a good source:
https://www.tutorialspoint.com/reactjs/reactjs_props_overview.htm

[2017-03-03 05:30] flodolo commented on #2249
I would strongly suggest to deal with this as a high priority issue to fix.

We currently have about 20 languages enabled in production, not all of them can always be at 100% at the end of the cycle (especially if strings are added a few hours before tagging), and we can't keep adding and removing languages from the list.

Even for experiments, the `locale_grantlist` [approach](https://github.com/

[2017-03-03 06:18] aayushsanghavi commented on #1590
@yjkimjunior great! I was going to tell you to take it up if you wanted to. I was working on other issues.

[2017-03-03 07:54] writtmeyer opened #2277 "Show also tests for other languages"
The reasons why I activated testpilot in the first place was the announcement of snooze tabs. Alas, after installing testpilot that was not available. Okay, maybe I give it a few days? But, no, even a week or so later, it's still not there.

So I googled. And found it. But it was not available for my language (German). Holy cow! That's way too strict. I suggest to show all available tests but to s

[2017-03-03 08:11] writtmeyer commented on #2277
Ah, one more: Now that I have activated snooze tabs, I still cannot see it in the test pilot start page and thus not manage it. And the site of the test itself where I can add it shows me "add it" instead of "deactivate it".

[2017-03-03 09:20] dsestero opened #2278 "Can't see latest experiments"
Hi I love FF and would like to contribute to the new experiments. Alas I can't see them. I see only page shot, min vid, activity stream, and tab center. This morning I also tried to remove and install again test pilot but no change. With Test pilot add-on remove if I brows page https://testpilot.firefox.com I see only those four.
I am on Ubuntu 16.04.2 64 bit with Firefox 51.0.1
Thanks,
Dario Sest

[2017-03-03 16:33] stasm commented on #2249
I have a few ideas about how to fix this. I'll test them early next week.
In the meantime, perhaps we could introduce a simple build step in which
every locale file is concatenated with en-US (en-US first, other local
second). This will increase the download size of localization files a bit
but will fix the problem. I'll create a proper solution next week.

03.03.2017 06:30 "Francesco Lodolo" <not

[2017-03-03 17:05] #2102 closed, assigned to fzzzy

[2017-03-03 17:05] ghost commented on #2278
This is likely because we restrict some experiments to certain locales.  Let's remove the restriction for English-only strings.  We'll need to fix #2249 first.

[2017-03-03 17:07] lmorchard commented on #2278
Seems #2265 is the same issue as this?

[2017-03-03 17:08] lmorchard commented on #2265
Possibly fixed when #2279 lands?

[2017-03-03 17:10] ghost commented on #2277
Fixing #2278 will fix the original issue.  How did you end up enabling snooze tabs?  Did you flip your language pref?  (If so, did you flip it back when you were done?)

[2017-03-03 17:15] ghost commented on #2275
We can find versions from our GA stats, although there are some edge cases which will give us some slop.

[2017-03-03 17:17] ghost commented on #2274
Not marking as good first bug because this also involves some tasks.

[2017-03-03 17:19] ghost commented on #2272
Dupe of #1011

[2017-03-03 17:20] #2272 closed, assigned to nobody

[2017-03-03 17:26] ghost commented on #2268
This is a very small % of traffic and not something we are going to work on.  Thanks for filing!

[2017-03-03 17:26] #2268 closed, assigned to nobody

[2017-03-03 17:28] ghost commented on #2265
This will be fixed when #2279 is fixed

[2017-03-03 17:28] #2265 closed, assigned to nobody

[2017-03-03 17:29] #2252 closed, assigned to nobody

[2017-03-03 17:49] AdrianoCahete commented on #2277
I don 't know if you guys change something, but when i (pt-BR) open the Snooze Tabs URL, shows:
![testpilot_1](https://cloud.githubusercontent.com/assets/37474/23562216/591be89e-0020-11e7-8a58-9b04e53c8f32.PNG)

Who is "This experience isn't avaliable in your language, but you can enable if you want". So, you can enable, but not manage.

[2017-03-03 18:08] ghost commented on #2243
Closing this as a dupe of #1582

[2017-03-03 18:08] #2243 closed, assigned to nobody

[2017-03-03 18:17] ghost commented on #1344
Related to #2275

[2017-03-03 18:19] ghost commented on #1344
Marking this as needs:product in triage although it sounds very close to ready.  #2275 will tell us if we can just go ahead and enable this everywhere (and it sounds like we can from our talk).

[2017-03-03 18:21] ghost commented on #1557
I tried to reproduce #1 today and didn't so I assume this is fixed.

[2017-03-03 18:21] #1557 closed, assigned to nobody

[2017-03-03 18:30] pdehaan commented on #1582
I think this may have been fixed via #2248.

#### https://testpilot.dev.mozaws.net/contribute.json:

[code]

---

#### https://testpilot.dev.mozaws.net/__version__:

[code]

[2017-03-03 18:31] ckprice commented on #2230
Took a couple videos showing both Snooze Tabs and Pulse (using #2276 branch).

- Snooze Tabs: https://drive.google.com/file/d/0B5T1SCKaYZL8NWhKMUp6dnFDQkU/view?usp=sharing
- Pulse: https://drive.google.com/file/d/0B5T1SCKaYZL8Sm1kMU5YSXpPeUk/view?usp=sharing

Both show interactions affecting `about:performance`.

[2017-03-03 18:31] ghost commented on #1845
Marking this as a good first bug because it's just resizing these images and replacing them.

[2017-03-03 18:39] ghost commented on #1847
This is weird, but it's not affecting the functionality of the privacy policy so I'm going to wontfix it.  Thanks for filing.

[2017-03-03 18:39] #1847 closed, assigned to nobody

[2017-03-03 18:41] ghost commented on #1840
I can't reproduce this anymore (listing is not shown at the bottom of the detail page)

[2017-03-03 18:41] #1840 closed, assigned to nobody

[2017-03-03 18:58] jaredhirsch commented on #2230
It looks like about:performance complains about the Test Pilot addon if I open a new window on Nightly. Digging into whether the issue is related to the recent introduction of (synchronous) localstorage usage for variant storage.

[2017-03-03 20:05] djmitche opened #2280 "Site does not list all add-ons if not set to en-US"
I changed my locale to Dutch, and half of the add-ons disappeared.  I'd rather be able to install them and read English than find them inaccessible!

[2017-03-03 20:34] ghost commented on #1775
This looks like it is being tracked in https://bugzilla.mozilla.org/show_bug.cgi?id=1313298 so I'll close this.

[2017-03-03 20:34] #1775 closed, assigned to nobody

[2017-03-03 21:05] smichel17 opened #2281 "Quicker feedback report"
I often find myself wanting to give quicker feedback about a test than Test Pilot currently allows. It seems kind of silly to take 5 minutes to fill out the same survey questions over and over again in order to give 1 or 2 sentences of feedback.

For example, I'm piloting the Containers feature. I wanted to give feedback that I'd like to be able to choose what container external links (eg, from my

[2017-03-03 21:18] stasm commented on #2249
Actually, it occurred to me that an even simple hotfix could be deployed.  In https://github.com/mozilla/testpilot/blob/master/frontend/src/templates/index.mustache#L12 we could link the en-US translation files, like so:

[code]

[2017-03-03 21:55] ghost commented on #1807
Since this only happens on dev and we are moving to using only the new install APIs I don't think this is something we want to dig into.

[2017-03-03 21:55] #1807 closed, assigned to nobody

[2017-03-03 21:56] ghost commented on #1787
Pull requests welcome, but this doesn't need to stay open.  /sheds tear for whimsy

[2017-03-03 21:56] #1787 closed, assigned to nobody

[2017-03-03 21:57] ghost commented on #1982
Thanks!  I'll close this then.

[2017-03-03 21:57] #1982 closed, assigned to nobody

[2017-03-03 21:58] ghost commented on #2280
This will be addressed in #2278.  Cheers

[2017-03-03 21:59] #2280 closed, assigned to nobody

[2017-03-03 22:04] ghost commented on #1610
@relud Can we schedule that? :)

[2017-03-03 22:06] writtmeyer commented on #2277
Exactly, Adriano. That's how I enabled it. I cannot diable it, though, on the same page. It always asks me if I want to enable it.

[2017-03-03 22:21] ghost commented on #2281
I'll mark this as needs product input, but if you have suggestions about what you'd like to see please add a comment.  Thanks.

[2017-03-03 23:28] smichel17 commented on #2281
![feedback-form](https://cloud.githubusercontent.com/assets/6563664/23572267/dbc74cdc-003b-11e7-87d6-83e32db9e60e.png)

It's one of taiga.io's feedback boxes (really, just the cleanest text box I could quickly find) inside the type of drop-down that Snooze Tabs uses, with the test pilot icon. There should probably also be a link to the test pilot site, a way to select which experiment I'm giving f

[2017-03-04 00:45] ghost commented on #2244
PR number?  and/or did it fix this?

[2017-03-04 00:46] ghost commented on #1702
I just tried this in Nightly and it looks fine (no space at the top).  Marking fixed.

[2017-03-04 00:46] #1702 closed, assigned to johngruen

[2017-03-04 00:49] ghost commented on #1724
Are enough of these done to turn this into separate bugs?  and/or can we turn this into checkboxes so we can see how much is left?

[2017-03-04 00:51] chuckharmston commented on #1724
This is good to be closed, actually.

[2017-03-04 00:51] #1724 closed, assigned to chuckharmston

[2017-03-04 05:28] flodolo commented on #2249
Oh wow, that would even help getting rid of the awful en hack while we fix fallbacks
https://github.com/dannycoates/testpilot/blob/master/frontend/tasks/content.js#L25

[2017-03-05 02:28] jegoddar opened #2284 "settings icon"
The Settings icon in the new Share button matches the current Windows 10 icon, but a new Share icon was introduced in build 15031 of Windows 10. Please consider updating the Share icon in March or April, when the Windows Share icon update is officially rolled out to the public.

[2017-03-05 05:51] flodolo commented on #2249
Scratch that, it was introduced to serve English to users with an accept languages like 'en,nl'.

[2017-03-06 05:17] ayazmaqbool opened #2285 "Side Tab does not close and remains as a blank space"
Issue for Side Tab

Issue : After clicking X on side tab for a window , The tab still remains with Blank space. Attached screen shot for your reference .
![sidetab](https://cloud.githubusercontent.com/assets/22630878/23597608/55fb2c60-025a-11e7-86f2-605305ba9778.png)

[2017-03-06 11:03] acero74 opened #2286 "Box edit add-on and Snooze Tabs and/or Min Vid"
I installed the test pilot and enabled Snooze Tabs and Mid Vid late last week. Once enabled I could no longer open files directly from the Box website using the Box edit add-on. Once I disabled these two add-ons Box edit began working again.

When I attempted to open files I received an authentication error.

- Min Vid:              https://github.com/meandavejustice/min-vid/issues/new
- Snooze Ta

[2017-03-06 12:15] SoftVision-CosminMuntean commented on #2277
@wresuolc, based on last two comments, I think that this issue is related to #2189.

I have managed to reproduce this issue. If I change the Firefox content page to German [de] language from "about:preferences#content", Snooze Tabs is not available on Test Pilot (known issue #2278).
If I manually navigate to "https://testpilot.firefox.com/experiments/snooze-tabs" the experiment can be enabled. Aft

[2017-03-06 12:21] writtmeyer commented on #2277
Yes. That's exactly the issue. Keep in minds that some might prefer those experiments not to show up or at least less prominently. That's why I suggested to add those with another language to appear beneath those for the users's locale and somehow separated (e.g. by color).

[2017-03-06 13:21] SoftVision-CiprianMuresan commented on #2285
I have cloned this issue to the [Tab Center repo](https://github.com/bwinton/TabCenter/issues/991).
If you have additional add-ons, besides the Test Pilot ones, could you also add them to the report?

Closing this issue in favor of the one opened in Tab Center.

[2017-03-06 13:21] #2285 closed, assigned to nobody

[2017-03-06 15:04] SoftVision-CosminMuntean commented on #2286
Hi @acero74, thanks for reporting this.

Can you please disable the Snooze Tabs and Min Vid add-ons and enable one at a time in order to figure which add-on is not working with Box Edit?

I am not sure exactly how to reproduce this issue. I have installed the Box Edit from "https://www.box.com/en-gb/resources/downloads", I have created a new account on "https://www.box.com" and I was able to uploa

[2017-03-06 15:48] SoftVision-CosminMuntean commented on #2284
Hi @jegoddar,

To which new Share button do you refer? Is it the Activity Steam Share button?
Can you please attach a screen shot or a screen recording with the new Share button?

[2017-03-06 16:13] AdrianoCahete commented on #2277
Exactly. Note that Test Pilot is usable, works normally, but you can't disable after enabled.

[2017-03-06 17:16] dsestero commented on #2278
Ah thank you. By changing the preferred languages order in FF preferences I
can now see them all!
Ciao
Dario

2017-03-03 18:07 GMT+01:00 Les Orchard <notifications@github.com>:

[2017-03-06 17:16] lmorchard commented on #2244
#2251, should be listed above my comment. Haven't had a chance to verify whether it fixed this though. Edit: Might not be, since that was merged but this is still a 404 - https://testpilot.dev.mozaws.net/static/images/experiments/snooze-tabs/social/snooze-tabs-facebook.jpg

[2017-03-06 17:18] ghost commented on #2239
Let's update the Test Pilot metrics.md

[2017-03-06 17:20] johngruen commented on #2239
@6a68 here are the seven items from our trello list: https://trello.com/c/Oy7VVaHr/14-metrics

* Metrics.md in the repo in a docs folder explaining the telemetry ping being sent by the experiment
* signoff of metrics.md by someone in measurements (ilana or rebecca)
* Confirm that telemetry pings are digestible
* Bug ___ -- Get data into re:dash
* Bug __ -- Create dashboard
* Survey created for the

[2017-03-06 17:23] ghost commented on #2230
Is this happening in places outside of Nightly?

Donovan suggests cross process object wrappers?

Donovan is going to investigate this a bit more.  If it's only happening on Nightly, he'll deprioritize it.

[2017-03-06 17:30] ghost commented on #2156
However we do this, it should be 100% automatic. This is a low priority

[2017-03-06 18:30] relud commented on #1610
tomorrow, Tuesday march 7th, at 11am Pacific

[2017-03-06 19:52] ghost commented on #1892
The mysterious "TypeError: e.data.filter is undefined" report in Sentry has now surpassed 1 million reports.  It would be great to get this landed soon.

[2017-03-07 02:07] jegoddar commented on #2284
Hmm... Looks like it's an update to an [existing icon](https://support.mozilla.org/t5/Chat-and-share/Share-a-webpage-through-Firefox-Share/ta-p/38200) and I just noticed the change when looking at the Test Pilot experiments. Nonetheless, here's my screenshot.
![firefox share icon](https://cloud.githubusercontent.com/assets/26193991/23638636/703b337e-02a8-11e7-8562-3261f398ef27.png)

[2017-03-07 15:01] SoftVision-CosminMuntean opened #2289 "Activity Stream is not updating to the latest version (1.6.0)"
[Affected versions]:
- Firefox 51.0.1 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have an older version of Activity Stream (<1.6.0) installed on a Firefox profile.
- Or you can use this Firefox profile with Activity Stream 1.5.0 installed: https://goo.gl/AqosTn

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and go to "about:addo

[2017-03-07 15:18] SoftVision-CosminMuntean commented on #2284
Hi @jegoddar , thanks for the information.

The button that you mention is the Activity Stream "Share" button. That's why you observed the icon after using Test Pilot. Probably you have enabled the Activity Stream experiment from Test Pilot.
Unfortunately Activity Stream Share functionality was removed in the latest version (1.6.0).

However, the Firefox [Share ](https://support.mozilla.org/t5/Cha

[2017-03-07 15:18] #2284 closed, assigned to nobody

[2017-03-07 17:03] SoftVision-CosminMuntean commented on #2289
This issue is no longer reproducible. Marking as verified.

[2017-03-07 17:03] #2289 closed, assigned to nobody

[2017-03-07 17:40] #2274 closed, assigned to dannycoates

[2017-03-07 18:02] #1590 closed, assigned to nobody

[2017-03-07 19:36] linuxlover opened #2292 "All are working fine. Got error to the Testpilot webpage few times. But later works OK."
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Containers:           https://github.com/mozilla/testpilot-containers/issues/new
- Min Vid:

[2017-03-07 19:38] chuckharmston commented on #2292
@linuxlover Thanks for the report! Do you have any antivirus software installed?

[2017-03-07 19:40] linuxlover commented on #2292
I'm using Avast.
The website working most of the time. Only few times I got this error message.
Been a regular user of TestPilot but this error message pops up few times only today.
Not sure why.
Thanks

[2017-03-07 20:02] chuckharmston commented on #2292
@linuxlover Unfortunately, this is due to Avast. It adds a root certificate to Firefox's store, which allows it to intercept and decrypt encrypted web traffic. Changes in newer versions of Firefox (which you likely received in the last day or two) are noticing this and are more aggressively blocking it, since it opens up security holes.

More information about the feature and instructions on disab

[2017-03-07 20:02] #2292 closed, assigned to nobody

[2017-03-07 21:21] relud commented on #1916
This was just deployed to prod. it had been in stage for a long time, but hadn't been scheduled for deploy to prod.

[2017-03-07 21:30] ghost commented on #1916
Thanks!

[2017-03-07 22:17] ckprice commented on #1916
Still getting an "F" on production, but not stage (maybe it takes longer than an hour for things to take effect?). Re-opening and will check again tomorrow.

Prod: https://www.webpagetest.org/result/170307_X1_1EZB/1/performance_optimization/
Stage: https://www.webpagetest.org/result/170307_B3_1EX9/1/performance_optimization/

[2017-03-07 22:46] #2278 closed, assigned to ckprice

[2017-03-08 10:43] acero74 commented on #2286
Hi,
I re-enabled them one at a time, as you suggested and the error has not recurred. I don't know what was causing it initially, but it did seem to be related to one of the two.

Doesn't seem to be happening now.

Thanks for looking into it for my.

Cheers,
Acero.

[2017-03-08 16:53] SoftVision-CosminMuntean opened #2294 "The "Settings" doorhanger can no longer be dismissed by clicking outside of it"
[Affected versions]:
- Firefox 52.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- The "testpilot.env" string pref was manually added with "dev" value on a new clean profile in "about:config" page.
- Test Pilot add-on was previously installed from "https://testpilot.dev.mozaws.net" on the profile.

[Steps to reproduce]:
1. Open Firefox with the profile from p

[2017-03-08 18:54] johngruen commented on #2294
How does this keep happening :)

[2017-03-08 19:46] johngruen commented on #2275
Revisting this, we discussed in standup the other day, since we officially don't support pre-49 Firefox. It looks like:
* ~86.7% of all FF visitors are 49+
* ~1.35% of FF visitors are on 45 [ESR]
* ~5.16% of FF visitors are on 46-48

[2017-03-08 19:51] johngruen commented on #2275
Confirmed with @andymckay that mozAddonManager did not go into 45 ESR.

Also, here's the original issue where we got privileges
https://bugzilla.mozilla.org/show_bug.cgi?id=1288178

[2017-03-09 03:58] jaredhirsch commented on #2231
Turns out that any use of APIs on the hidden window introduces a major performance hit, since a CPOW is required to touch the content APIs from chrome.

I've updated the PR to just use sdk/request instead.

[2017-03-09 04:09] jaredhirsch commented on #2275
@johngruen Awesome! Thanks for looking that up. Followup product question for you: is ~87% of users good enough to require mozAddonManager, and show the remaining ~13% an "upgrade FF" message instead?

[2017-03-09 04:14] jaredhirsch commented on #2294
guessing this was regressed by #2256, which landed yesterday

[2017-03-09 04:28] #2231 closed, assigned to jaredhirsch

[2017-03-09 08:13] transmetent opened #2297 "Can't minimize tab center left column"
Just it.

Can't minimize tab center left column.

Firefox 52.

Ubuntu 16.04

[2017-03-09 09:30] SoftVision-CosminMuntean commented on #2286
Thanks for retesting this. Considering the fact that the issue is no longer reproducible I will close it.
@acero74 feel free to reopen the issue if the authentication error reappears when using the Test Pilot experiments and provide more information.

[2017-03-09 09:30] #2286 closed, assigned to nobody

[2017-03-09 12:59] alexgibson opened #2298 "https://testpilot.firefox.com/ does not load using Firefox Focus for iOS"
iOS 10.2.1, Firefox Focus 3.1
----------------------------

Site does not load, blank screen:

![img_3683](https://cloud.githubusercontent.com/assets/400117/23751184/165d0cf2-04c8-11e7-8dcf-c9f9a779335a.PNG)

iOS 10.2.1, Safari
-----------------

Site loads as expected:

![img_3684](https://cloud.githubusercontent.com/assets/400117/23751188/1bf4ca24-04c8-11e7-83e7-2d8de15e163e.PNG)

[2017-03-09 16:31] groovecoder opened #2299 "Add some buttons to "How do you like [experiment X]" ..."
When Test Pilot asks a user how they like an experiment, and they rate it with 4+ stars, show additional call-to-action buttons, so we can learn if the experiment encourages Firefox retention & growth:

* Make Firefox your default browser
* Share this Firefox experiment (twitter, etc.)

These are even stronger signals than a 4- or 5-star rating. By measuring the clicks to these buttons, we should

[2017-03-09 16:33] groovecoder commented on #2299
Note: the "Make Firefox your default browser" option doesn't need to be functional - it could simply be a link to https://support.mozilla.org/t5/Customize-controls-options-and/Make-Firefox-your-default-browser/ta-p/2627

[2017-03-09 16:55] SoftVision-CosminMuntean commented on #2298
I have manged to reproduce this issue on iOS 10.2.1 using Firefox Focus 3.1..
After further investigations I have noticed on iOS that even in Firefox, Safari and Chrome the Test Pilot page is not loaded in Private Mode.

I have also tested this on Android (6.0.1) and it seems that the Test Pilot page is successfully loaded in Firefox and Chrome using Private Mode.

[2017-03-09 17:58] ghost commented on #2298
Can you try this on https://testpilot.dev.mozaws.net/ ?  I suspect this is fixed by that patch danny landed to unblock on telemetry

[2017-03-09 18:02] ghost commented on #2297
Tab Center bugs are tracked at https://github.com/bwinton/TabCenter/issues .  If you file there, please include all the information you can and some steps to reproduce the problem.  How many tabs are open? Are any tabs pinned?  What version of tab center? Are you saying when you mouse away from the tabs it doesn't shrink?  What happens when you toggle the auto-shrink button?

For the record, I'm o

[2017-03-09 18:02] #2297 closed, assigned to nobody

[2017-03-09 20:25] #680 closed, assigned to nobody

[2017-03-09 20:25] #1300 closed, assigned to johngruen

[2017-03-09 21:38] alexgibson commented on #2298
Sadly it seems https://testpilot.dev.mozaws.net/ is still broken using Focus.

[2017-03-10 04:10] Gaberboo opened #2300 "Loop incapablity"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Min Vid:              https://github.com/meandavejustice/min-vid/issues/new
mid vid will glitch out when you right click and hit "loop" on youtube videos(I haven't tested t

[2017-03-10 14:01] SoftVision-PaulOiegas opened #2301 "Snooze Tabs page wrongly displays placeholders for [es-es] locale and does not fallback to [es] or [en] locales"
[Affected versions]:
- Firefox 52.0 and above

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- A new Firefox profile was created and content language was set to [es-ES] from "Options>Content>Language" section.

[Steps to reproduce]:
1. Open Firefox browser with the profile from prerequisites and navigate to https://testpilot.firefox.com page.
2. Click on the "Snooze T

[2017-03-10 14:04] SoftVision-PaulOiegas commented on #2265
Both experiments are displayed now on [es-ES] locale but Snooze Tabs experiment page wrongly displays placeholders instead of default [es] translation. Logged this separately in #2301.

[2017-03-10 15:08] SoftVision-PaulOiegas commented on #2102
It seems to be fixed. The user is now prompted with "Please check this box if you want to proceed." error in red characters, when he tries to sign up without checking the box. 👍

[2017-03-10 16:59] ghost commented on #2266
@relud The /latest/ URL exists now, but it looks like the x-amz-meta- prefixes aren't being stripped.  Are those rules running on this S3 bucket like they are for /files/?

[code]

[2017-03-10 17:05] ghost commented on #2301
maybe related to #2249

[2017-03-10 17:08] meandavejustice commented on #2300
Dupe of https://github.com/meandavejustice/min-vid/issues/622

[2017-03-10 17:08] #2300 closed, assigned to nobody

[2017-03-10 17:09] ghost commented on #1916
@relud ping ^

[2017-03-10 17:10] ghost commented on #1872
We no longer have this menu so closing this. Thanks.

[2017-03-10 17:11] #1872 closed, assigned to nobody

[2017-03-10 17:14] ghost commented on #2275
@johngruen wants to look into options for how we propose upgrading to people

[2017-03-10 17:18] ghost commented on #1308
We're going to close this since we've survived this long without it.  No doubt the day we break it we'll all look around and glare at whoever closed this.

[2017-03-10 17:18] #1308 closed, assigned to nobody

[2017-03-10 17:21] ghost commented on #1334
Related to #2275.  @6a68 is this still needs:discussion?

[2017-03-10 17:22] ghost commented on #1672
@stasm does L20n have something for this yet?

[2017-03-10 17:25] ghost commented on #1777
@mathjazz is this still happening?  What can we do to fix it?

[2017-03-10 17:34] SoftVision-PaulOiegas commented on #2189
Guys, we have rechecked this on dev server and it seems that it may have been fixed by something. But this still reproduces on production, as expected.

Was this fixed by a recent PR and you guys forgot to close it ? I'm asking because we had another one logged recently that seems to be a dupe to this one #2277.

[2017-03-10 17:41] ckprice commented on #1309
Opened #2303 to test this on Stage. The notifications target users who have the experiment installed, and it pops after a browser restart.

[2017-03-10 18:07] ckprice opened #2304 "'TypeError: this.state is undefined' on click on dev, but not stage"
STR

- Go to https://testpilot.dev.mozaws.net/
- Click anywhere on the page (with or without add-on installed)
- See "TypeError: this.state is undefined" in the console whenever you click

This doesn't happen on stage or production so it may be something we merged recently.

[2017-03-10 18:19] stasm commented on #1672
Not yet, sorry, we've focused on something different. I'm on PTO for the next two weeks but I filed https://github.com/projectfluent/fluent.js/issues/17 and I'll dive into it when I'm back!

[2017-03-10 18:25] ckprice commented on #2304
Saw some more info in Chrome's console

/edit pretty sure it's something here cfce9e3c5d731b5b86a1072ac65f224126222508

[2017-03-10 19:35] relud commented on #2266
I don't run dev, only stage and prod

[2017-03-10 19:44] relud commented on #2266
that said, the problem is that you prefixed the metadata tag with x-amz-meta-, but amazon also prefixes the tag with x-amz-meta-, so the double-prefix is properly reduced to a single prefix.

[2017-03-10 19:49] ckprice commented on #1916
Just following up that we're still getting a bad grade on prod: https://www.webpagetest.org/result/170310_26_16Z2/1/performance_optimization/

[2017-03-10 19:51] relud commented on #1916
I'm currently investigating this

[2017-03-10 20:30] relud commented on #1916
Fixed. The setting needed a cache invalidation in order to activate. https://www.webpagetest.org/result/170310_K0_18HZ/1/performance_optimization/

[2017-03-10 20:30] #1916 closed, assigned to ckprice

[2017-03-10 20:31] ghost commented on #2266
Oh, that would be cool.  Fixed in ^, will check after it lands.

[2017-03-11 22:40] mathjazz commented on #1777
It is still happenning.

I can't reproduce it with default browser settings, though. Only if I disable 3rd party cookies.

[2017-03-12 22:48] pro-wiz opened #2308 "fnb.co.za"
Thank you for contributing to Test Pilot!

Please use this form to report Test Pilot specific issues. If you think you've found an issue with one of the experiment add-ons, please file an issue in the appropriate repo below:

- Activity Stream:      https://github.com/mozilla/activity-stream/issues/new
- Containers:           https://github.com/mozilla/testpilot-containers/issues/new
- Min Vid:

[2017-03-13 03:51] #2308 closed, assigned to nobody

[2017-03-13 04:56] pmespresso commented on #2294
Oops, I'll get right working on it.

[2017-03-13 07:54] dannycoates commented on #2189
#2290

[2017-03-13 12:11] SoftVision-PaulOiegas commented on #1702
@wresuolc I reopened this because the footer links are now displayed under the content and not at the bottom. We have fixed in the past the same behavior but it reappeared, and it's still reproducible on dev server.

[2017-03-13 12:21] SoftVision-PaulOiegas commented on #1702
As a matter of fact, this was only partially fixed. The content was in the middle of the page when I reopened this, but now the top space was indeed removed. However, we still have the above mentioned issue with the footer links.
In my opinion the footer should be at the bottom of the page no matter how much content we have above it.

[2017-03-13 12:46] #2294 closed, assigned to nobody

[2017-03-13 13:08] SoftVision-CosminMuntean commented on #2244
I have retested this issue and it still reproducible on dev, stage and production servers for all experiments.
I have also tested this on Facebook and the experiments images are correctly displayed.

Here is a screen shot with the issue:
![twitter](https://cloud.githubusercontent.com/assets/19226534/23855464/6bdf9094-07fe-11e7-8edd-d031dbd5f5ee.png)

[2017-03-13 14:16] SoftVision-CosminMuntean commented on #2294
I have retested this issue and is no longer reproducible on dev server. Marking as verified.

[2017-03-13 14:51] lmorchard commented on #2244
FWIW, this won't work probably until pushed to production: The absolute URLs for images are hardcoded to production, so sharing from dev will link to images that haven't been uploaded to production yet. It'll also never work on dev or stage, unless we vary the build for those servers to change the absolute URL - something that might not be worth doing

[2017-03-13 15:43] SoftVision-CosminMuntean commented on #2244
Thanks for clarifying this.
I will retest this issue when the fix will be pushed to production. If it will not reproduce I will closed this issue as fixed.

[2017-03-13 16:21] ghost commented on #2230
This is, we think, fixed in Test Pilot, but not Test Pilot metrics.  Donovan will work to fix this sprint.

[2017-03-13 16:21] jaredhirsch opened #2310 "Try again to add ping-centre to TxP addon build chain"
Looks like Webpack support has been added to the ping-centre library.

Try again to integrate it into the addon, so that we can validate ping-centre ping format on the client, rather than catch any errors far downstream on the server.

[2017-03-13 16:24] ghost commented on #2075
Let's turn off greenkeeper!

[2017-03-13 16:25] fzzzy opened #2311 "Run npm outdated for sprint 21"
We're going to turn off greenkeeper and run npm outdated each sprint. I will be responsible for this.

[2017-03-13 16:28] ghost commented on #2064
4.0.0 is released now, but we're planning on dropping react-router altogether.  That issue is filed. #2260

[2017-03-13 16:28] #2064 closed, assigned to nobody

[2017-03-13 16:37] jaredhirsch opened #2312 "Support custom Ping Centre ping for snoozetabs"
Once the ping-centre library is integrated, and the snoozetabs ping-centre schema is defined, add metrics code to the test pilot addon that uses a different ping-centre schema for snooze tabs.

[2017-03-13 16:38] jaredhirsch opened #2313 "Improve Ping Centre integration"
Test Pilot's integration with Ping Centre is changing: rather than use a single JS schema to send all experiment pings to Ping Centre, we will have one client-side JS schema per experiment, which will map to the experiment's Redshift table in Ping Centre.

Steps here:

- add snoozetabs schema to ping-centre repo (https://github.com/mozilla/ping-centre/issues/59)
- integrate ping-centre library int

[2017-03-13 16:48] ghost commented on #2075
Ok, I think this is off now.  I'll see about deleting all those branches too.

[2017-03-13 16:48] #2075 closed, assigned to clouserw

[2017-03-13 16:55] pdehaan commented on #2075
This also looks interesting: http://npm.im/npm-check-updates

Looks like bumping all the version numbers in package.json ay be as simple as `% ncu -u` (if installed globally, or `% $(npm bin)/ncu -u` if installed locally... or we just add this as a devDep and create a "script" in package.json to bump all version numbers).

[2017-03-13 17:09] #1763 closed, assigned to nobody

[2017-03-13 17:19] ckprice commented on #2304
Fixed in #2309

[2017-03-13 17:19] #2304 closed, assigned to nobody

[2017-03-13 17:26] ckprice opened #2316 "[release] 2017-03-13 is on Stage"
Please QA stage. Let's use this issue to track deployment status to production. I've assigned this to Paul, but we should all be checking out stage a bit.

- Verification documentation: https://github.com/mozilla/testpilot/blob/master/docs/development/verification.md
- Release notes: https://github.com/mozilla/testpilot/releases

Current diff from production: https://github.com/mozilla/testpilot/c

[2017-03-13 21:50] relud commented on #1610
https://testpilot-kibana.prod.mozaws.net/_plugin/kibana/#/discover

[2017-03-13 23:25] ghost commented on #1610
Thanks @relud.  CSP reports from production are now available at https://testpilot-kibana.prod.mozaws.net/_plugin/kibana/ .  I didn't see anything scary in there, fwiw.

[2017-03-13 23:25] #1610 closed, assigned to clouserw, relud

[2017-03-14 10:14] SoftVision-CosminMuntean opened #2317 "Multiple UI issues on Test Pilot pages on stage server"
[Affected versions]:
- Firefox 52.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

Here are the UI issues from Test Pilot pages:

1. "Install the Test Pilot Add-on" text from install button is missing.

![install test pilot button](https://cloud.githubusercontent.com/assets/19226534/23895312/fd2b4bf6-08ad-11e7-8ab8-5a012c451ea2.png)

2. Number of participants wrongly displayed

[2017-03-14 12:18] SoftVision-CosminMuntean opened #2318 "Localization is not working in other language than English"
[Affected versions]:
- Firefox 52.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Have any language set other than English in "about:preferences#content" on a new Firefox profile.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.stage.mozaws.net" page.
2. Observe the Test Pilot page language.

[Exp

[2017-03-14 13:08] SoftVision-CosminMuntean commented on #2317
5. The "Enabled [experiment_name]" string is missing from the "Tour" pop-up and also from the green border.
![enabled](https://cloud.githubusercontent.com/assets/19226534/23901908/de4f1676-08c7-11e7-81d9-f20c4a99703d.png)

![enable](https://cloud.githubusercontent.com/assets/19226534/23901914/e42c513a-08c7-11e7-9ffe-1d15f6363d32.png)

6. The "Discuss [experiment_name]" string is no longer displaye

[2017-03-14 14:04] SoftVision-CosminMuntean opened #2319 "Missing space between "in" string and "this Privacy Notice" link from the Newsletter section"
[Affected versions]:
- Firefox 52.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.stage.mozaws.net" page.
2. Scroll down to the bottom of the page until the "Newsletter" section is reached.
3. Enter at least one character in the text box.
4. Observe the text under the e

[2017-03-14 15:10] SoftVision-PaulOiegas commented on #2316
Hi guys,

The Stage server seems to be seriously affected on the localization side. Here are the new issues found after our round of testing:

### **New issues:**
1. #2317 - Multiple UI issues on Test Pilot pages on stage server (Critical)
2. #2318 - Localization is not working in other language than English (Critical)
3. #2319 - Missing space between "in" string and "this Privacy Notice" link fro

[2017-03-14 15:52] lmorchard commented on #2312
Is this something that *must* live in the Test Pilot add-on? If so, this sounds like every new experiment is going to need additions to the Test Pilot add-on. That means we'll have to bind together releases of the two - at least for metrics changes. Might be better if there were some way to let this live in the experiment - e.g. passed along in usage of the testpilot-metrics module

[2017-03-14 16:48] flodolo commented on #2301
There's no Snooze Tabs experiment on the home page for Spanish, it was enabled only for en-US. Once you reach the page, it was expected to display IDs instead of strings, now it should fall back to en-US strings instead.

[2017-03-14 16:53] flodolo commented on #2319
Looks good on stage right now

![schermata 2017-03-14 alle 17 52 45](https://cloud.githubusercontent.com/assets/3644868/23912117/133a9060-08df-11e7-9f0a-a26063b93b28.png)

[2017-03-14 16:53] flodolo commented on #2318
Localization seems to work as expected after #2320

[2017-03-14 16:55] SoftVision-CosminMuntean commented on #2319
Yes, I have retested this issue on stage and looks to be fixed. Closing as verified.

[2017-03-14 16:55] #2319 closed, assigned to nobody

[2017-03-14 17:02] SoftVision-CosminMuntean commented on #2318
I have retested this issue using multiples locales and is no longer reproducible on stage. Closing as verified.

[2017-03-14 17:02] #2318 closed, assigned to lmorchard

[2017-03-14 17:12] SoftVision-CosminMuntean commented on #2317
I have retested this issue on stage server and is no longer reproducible. All the affected strings are correctly displayed now. Closing as verified.

[2017-03-14 17:12] #2317 closed, assigned to nobody

[2017-03-14 19:34] #2266 closed, assigned to clouserw

[2017-03-15 15:44] SoftVision-CosminMuntean opened #2323 "The Containers incompatibility warning message is visible when the page is refreshing"
[Affected versions]:
- Firefox 52.0 and up

[Affected Platforms]:
- All Windows
- All Mac
- All Linux

[Prerequisites]:
- Test Pilot add-on was previously installed on a new profile.

[Steps to reproduce]:
1. Open Firefox with the profile from prerequisites and navigate to "https://testpilot.stage.mozaws.net" page.
2. Click the Containers experiment card.
3. Observe the experiment details page whe

[2017-03-15 20:06] ghost commented on #2316
This is out. Thanks!

[2017-03-15 20:06] #2316 closed, assigned to pdehaan, SoftVision-PaulOiegas, SoftVision-CosminMuntean

[2017-03-15 22:52] ghost commented on #1582
Looks like it!  Thanks  https://testpilot.firefox.com/contribute.json

[2017-03-15 22:52] #1582 closed, assigned to nobody

[2017-03-15 22:53] ghost commented on #1507
This is fixed now. https://testpilot.firefox.com/contribute.json

[2017-03-15 22:53] #1507 closed, assigned to nobody

[2017-03-15 22:54] ghost commented on #751
Calling this fixed.  Thanks!